Repository qmk/qmk_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, dependencies, keyboard, keymap, via, cli, python, documentation, translation, CI

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
  - platforms/**/*
  - Makefile
  - '*.mk'
dependencies:
  - any:
    - 'lib/**/*'
    - '!lib/python/**/*'
keyboard:
  - any:
    - 'keyboards/**/*'
    - '!keyboards/**/keymaps/**/*'
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymaps/**/*
via:
  - keyboards/**/keymaps/via/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
translation:
  - docs/fr-fr/**/*
  - docs/es/**/*
  - docs/ja/**/*
  - docs/he-il/**/*
  - docs/pt-br/**/*
  - docs/zh-cn/**/*
  - docs/de/**/*
  - docs/ru-ru/**/*
CI:
  - .github/**/*

Remove restriction on fork and branch, so that others pick up the benefit.
  .github/workflows/make_test.yaml
Labels: CI

Replicate changes listing from lint.
  .github/workflows/make_test.yaml
Labels: CI

Attempt to sort out incorrectly following DEFAULT_FOLDER.
  lib/python/qmk/keyboard.py
Labels: cli, python

Fix CI checks.
  lib/python/qmk/keyboard.py
Labels: cli, python

qmk pyformat
  lib/python/qmk/keyboard.py
Labels: cli, python

Update keyboards/mechlovin/infinity87/rev2/readme.md
  keyboards/mechlovin/infinity87/rev2/readme.md
Labels: keyboard

Update keyboards/mechlovin/th1800/readme.md
  keyboards/mechlovin/th1800/readme.md
Labels: keyboard

Update keyboards/mechlovin/infinity87/rev2/rules.mk
  keyboards/mechlovin/infinity87/rev2/rules.mk
Labels: keyboard

Update keyboards/mechlovin/th1800/rules.mk
  keyboards/mechlovin/th1800/rules.mk
Labels: keyboard

Fixed for iso key format
  keyboards/coseyfannitutti/mysterium/mysterium.h
Labels: keyboard

Fixed iso key map for mysterium rev1.1
  keyboards/coseyfannitutti/mysterium/mysterium.h
Labels: keyboard

add mouse controle and another stuff
  keyboards/bm40hsrgb/keymaps/lszolkbml/keymap.c
Labels: keymap

[Keymap] Add kzar keymap for Kinesis Advantage
  keyboards/kinesis/kint36/keymaps/kzar/config.h
  keyboards/kinesis/kint36/keymaps/kzar/keymap.c
  keyboards/kinesis/kint36/keymaps/kzar/readme.md
  keyboards/kinesis/kint36/keymaps/kzar/rules.mk
Labels: keymap

Update mysterium.h
  keyboards/coseyfannitutti/mysterium/mysterium.h
Labels: keyboard

Add Summer Breeze layout
  keyboards/afternoonlabs/breeze/keymaps/summer/keymap.c
  keyboards/afternoonlabs/breeze/keymaps/summer/readme.md
  keyboards/afternoonlabs/breeze/keymaps/summer/rules.mk
  keyboards/afternoonlabs/breeze/keymaps/via/keymap.c
  keyboards/afternoonlabs/breeze/rev1/info.json
  keyboards/afternoonlabs/breeze/rev1/rev1.h
Labels: keyboard, keymap, via

Make breeze rev0 compile
  keyboards/afternoonlabs/breeze/rev0/info.json
  keyboards/afternoonlabs/breeze/rev0/rev0.h
  keyboards/afternoonlabs/breeze/rev1/info.json
Labels: keyboard

add VIA support
  keyboards/matrix/m12og/config.h
  keyboards/matrix/m12og/keymaps/via/keymap.c
  keyboards/matrix/m12og/keymaps/via/rules.mk
  keyboards/matrix/m12og/m12og.h
Labels: keyboard, keymap, via

7th chord modified. giabaRInaix2 related codes in config.h moved to config.h inside keymaps folders.
  keyboards/giabalanai/config.h
  keyboards/giabalanai/keymaps/2firmware/keymap.c
  keyboards/giabalanai/keymaps/3araht/keymap.c
  keyboards/giabalanai/keymaps/default/keymap.c
  keyboards/giabalanai/keymaps/default_giabarinaix2/config.h
  keyboards/giabalanai/keymaps/default_giabarinaix2/keymap.c
  keyboards/giabalanai/keymaps/giabarinaix2led/config.h
  keyboards/giabalanai/keymaps/giabarinaix2led/keymap.c
  keyboards/giabalanai/keymaps/via/keymap.c
  keyboards/giabalanai/keymaps/via_giabarinaix2/keymap.c
Labels: keyboard, keymap, via

stuff
  keyboards/keycapsss/plaid_pad/keymaps/nathancooke7/keymap.c
  keyboards/niu_mini/keymaps/nathancooke7/keymap.c
Labels: keymap

add to plaid
  keyboards/keycapsss/plaid_pad/keymaps/nathancooke7/keymap.c
Labels: keymap

update plaid pad
  keyboards/keycapsss/plaid_pad/keymaps/nathancooke7/keymap.c
Labels: keymap

update niu to remove old keycodes and add plaid pad
  keyboards/keycapsss/plaid_pad/keymaps/nathancooke7/config.h
  keyboards/keycapsss/plaid_pad/keymaps/nathancooke7/keymap.c
  keyboards/niu_mini/keymaps/nathancooke7/keymap.c
Labels: keymap

symlink to plaid pad
  nathan_plaid_pad
Labels: none

plaid pad has mouse keys
  keyboards/keycapsss/plaid_pad/keymaps/nathancooke7/config.h
  keyboards/keycapsss/plaid_pad/keymaps/nathancooke7/keymap.c
  keyboards/keycapsss/plaid_pad/keymaps/nathancooke7/rules.mk
Labels: keymap

Add VIA keymap for Kawii9 (#12521)
  keyboards/kiwikey/kawii9/keymaps/via/keymap.c
  keyboards/kiwikey/kawii9/keymaps/via/rules.mk
  keyboards/kiwikey/kawii9/rules.mk
Labels: keyboard, keymap, via

Rename new keymaps for more clarity
  keyboards/afternoonlabs/breeze/keymaps/southernbreeze/keymap.c
  keyboards/afternoonlabs/breeze/keymaps/southernbreeze/readme.md
  keyboards/afternoonlabs/breeze/keymaps/southernbreeze/rules.mk
  keyboards/afternoonlabs/breeze/keymaps/southpaw/readme.md
  keyboards/afternoonlabs/breeze/keymaps/summerbreeze/keymap.c
  keyboards/afternoonlabs/breeze/keymaps/summerbreeze/readme.md
  keyboards/afternoonlabs/breeze/keymaps/summerbreeze/rules.mk
Labels: keymap

Update copyrights to the correct org
  keyboards/afternoonlabs/breeze/keymaps/southernbreeze/keymap.c
  keyboards/afternoonlabs/breeze/keymaps/summerbreeze/keymap.c
Labels: keymap

[Keyboard] Added senselessclay had60 (#12093)
  keyboards/senselessclay/had60/config.h
  keyboards/senselessclay/had60/had60.c
  keyboards/senselessclay/had60/had60.h
  keyboards/senselessclay/had60/info.json
  keyboards/senselessclay/had60/keymaps/default/keymap.c
  keyboards/senselessclay/had60/keymaps/had/keymap.c
  keyboards/senselessclay/had60/keymaps/iso/keymap.c
  keyboards/senselessclay/had60/keymaps/via/keymap.c
  keyboards/senselessclay/had60/keymaps/via/rules.mk
  keyboards/senselessclay/had60/readme.md
  keyboards/senselessclay/had60/rules.mk
Labels: keyboard, keymap, via

[Keyboard] ergosaurus - add VIA support, enabled RGB (#12126)
  keyboards/ergosaurus/config.h
  keyboards/ergosaurus/keymaps/default/via/keymap.c
  keyboards/ergosaurus/keymaps/default/via/rules.mk
Labels: keyboard, keymap

[awwalker]: add corne keymap
  keyboards/crkbd/keymaps/aww/glcdfont.c
Labels: keymap
