Repository qmk/qmk_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, dependencies, keyboard, keymap, via, cli, python, documentation, translation, CI

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
  - platforms/**/*
  - Makefile
  - '*.mk'
dependencies:
  - any:
    - 'lib/**/*'
    - '!lib/python/**/*'
keyboard:
  - any:
    - 'keyboards/**/*'
    - '!keyboards/**/keymaps/**/*'
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymaps/**/*
via:
  - keyboards/**/keymaps/via/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
translation:
  - docs/fr-fr/**/*
  - docs/es/**/*
  - docs/ja/**/*
  - docs/he-il/**/*
  - docs/pt-br/**/*
  - docs/zh-cn/**/*
  - docs/de/**/*
  - docs/ru-ru/**/*
CI:
  - .github/**/*

updates to the keyboard config to make initial setup
  keyboards/handwired/g_split_board/keymaps/default/keymap.c
Labels: keymap

Clean up messy comments
  keyboards/handwired/g_split_board/keymaps/default/keymap.c
Labels: keymap

Add new handwired keyboard (Ergocheap) (#11857)
  keyboards/handwired/ergocheap/chconf.h
  keyboards/handwired/ergocheap/config.h
  keyboards/handwired/ergocheap/ergocheap.c
  keyboards/handwired/ergocheap/ergocheap.h
  keyboards/handwired/ergocheap/halconf.h
  keyboards/handwired/ergocheap/info.json
  keyboards/handwired/ergocheap/keymaps/default/keymap.c
  keyboards/handwired/ergocheap/keymaps/via/keymap.c
  keyboards/handwired/ergocheap/keymaps/via/rules.mk
  keyboards/handwired/ergocheap/mcuconf.h
  keyboards/handwired/ergocheap/readme.md
  keyboards/handwired/ergocheap/rules.mk
Labels: keyboard, keymap, via

Add Majbritt Rev2 and move Rev1
  keyboards/sidderskb/majbritt/rev1/config.h
  keyboards/sidderskb/majbritt/rev1/info.json
  keyboards/sidderskb/majbritt/rev1/keymaps/default/keymap.c
  keyboards/sidderskb/majbritt/rev1/keymaps/default/readme.md
  keyboards/sidderskb/majbritt/rev1/keymaps/via/keymap.c
  keyboards/sidderskb/majbritt/rev1/keymaps/via/rules.mk
  keyboards/sidderskb/majbritt/rev1/majbritt.c
  keyboards/sidderskb/majbritt/rev1/majbritt.h
  keyboards/sidderskb/majbritt/rev1/readme.md
  keyboards/sidderskb/majbritt/rev1/rules.mk
  keyboards/sidderskb/majbritt/rev2/config.h
  keyboards/sidderskb/majbritt/rev2/info.json
  keyboards/sidderskb/majbritt/rev2/keymaps/default/keymap.c
  keyboards/sidderskb/majbritt/rev2/keymaps/default/readme.md
  keyboards/sidderskb/majbritt/rev2/keymaps/via/keymap.c
  keyboards/sidderskb/majbritt/rev2/keymaps/via/readme.md
  keyboards/sidderskb/majbritt/rev2/keymaps/via/rules.mk
  keyboards/sidderskb/majbritt/rev2/keymaps/via/vial.json
  keyboards/sidderskb/majbritt/rev2/majbritt.c
  keyboards/sidderskb/majbritt/rev2/majbritt.h
  keyboards/sidderskb/majbritt/rev2/readme.md
  keyboards/sidderskb/majbritt/rev2/rules.mk
Labels: keyboard, keymap, via

Removed old files
  keyboards/sidderskb/majbritt/config.h
  keyboards/sidderskb/majbritt/info.json
  keyboards/sidderskb/majbritt/keymaps/default/keymap.c
  keyboards/sidderskb/majbritt/keymaps/default/readme.md
  keyboards/sidderskb/majbritt/keymaps/via/keymap.c
  keyboards/sidderskb/majbritt/keymaps/via/rules.mk
  keyboards/sidderskb/majbritt/majbritt.c
  keyboards/sidderskb/majbritt/majbritt.h
  keyboards/sidderskb/majbritt/readme.md
  keyboards/sidderskb/majbritt/rules.mk
Labels: keyboard, keymap, via

revertet encoder step change ._.
  keyboards/0xcb/1337/config.h
Labels: keyboard

adding handwired 5x5 macropad21
  keyboards/handwired/macropad21/config.h
  keyboards/handwired/macropad21/info.json
  keyboards/handwired/macropad21/keymaps/default/keymap.c
  keyboards/handwired/macropad21/keymaps/via/keymap.c
  keyboards/handwired/macropad21/keymaps/via/rules.mk
  keyboards/handwired/macropad21/macropad21.c
  keyboards/handwired/macropad21/macropad21.h
  keyboards/handwired/macropad21/readme.md
  keyboards/handwired/macropad21/rules.mk
Labels: keyboard, keymap, via

Added a missing comma
  docs/newbs_flashing.md
Labels: documentation

Minor typo fixes
  docs/feature_audio.md
Labels: documentation

Minor typo fixes
  docs/feature_backlight.md
Labels: documentation

Update keyboards/mechlovin/infinity87/rev2/rev2.c
  keyboards/mechlovin/infinity87/rev2/rev2.c
Labels: keyboard

Update keyboards/mechlovin/hex6c/keymaps/default/keymap.c
  keyboards/mechlovin/hex6c/keymaps/default/keymap.c
Labels: keymap

Update keyboards/mechlovin/infinity87/keymaps/via/rules.mk
  keyboards/mechlovin/infinity87/keymaps/via/rules.mk
Labels: keymap, via

Update keyboards/mechlovin/hex6c/keymaps/via/keymap.c
  keyboards/mechlovin/hex6c/keymaps/via/keymap.c
Labels: keymap, via

Update keyboards/mechlovin/infinity87/rev1/rouge87/keymaps/via/rules.mk
  keyboards/mechlovin/infinity87/rev1/rouge87/keymaps/via/rules.mk
Labels: keymap, via

Update keyboards/mechlovin/infinity87/rev1/rogue87/keymaps/via/rules.mk
  keyboards/mechlovin/infinity87/rev1/rogue87/keymaps/via/rules.mk
Labels: keymap, via

update
  keyboards/mechlovin/hex6c/keymaps/default/keymap.c
  keyboards/mechlovin/hex6c/keymaps/via/keymap.c
  keyboards/mechlovin/hex6c/readme.md
  keyboards/mechlovin/infinity87/rev1/readme.md
  keyboards/mechlovin/infinity87/rev2/config.h
  keyboards/mechlovin/infinity87/rev2/readme.md
  keyboards/mechlovin/infinity87/rgb_rev1/readme.md
  keyboards/mechlovin/th1800/readme.md
Labels: keyboard, keymap, via

Update readme.md
  keyboards/mechlovin/hex6c/readme.md
Labels: keyboard

Fixed filenames
  keyboards/sidderskb/majbritt/.vscode/settings.json
  keyboards/sidderskb/majbritt/rev1/rev1.c
  keyboards/sidderskb/majbritt/rev1/rev1.h
  keyboards/sidderskb/majbritt/rev2/rev2.c
  keyboards/sidderskb/majbritt/rev2/rev2.h
Labels: keyboard

some clean up
  keyboards/handwired/macropad21/info.json
  keyboards/handwired/macropad21/keymaps/default/keymap.c
  keyboards/handwired/macropad21/keymaps/via/keymap.c
  keyboards/handwired/macropad21/keymaps/via/rules.mk
  keyboards/handwired/macropad21/readme.md
  keyboards/handwired/macropad21/rules.mk
Labels: keyboard, keymap, via

some fixes according to PR
  keyboards/handwired/macropad21/config.h
  keyboards/handwired/macropad21/info.json
  keyboards/handwired/macropad21/keymaps/default/keymap.c
  keyboards/handwired/macropad21/keymaps/via/keymap.c
  keyboards/handwired/macropad21/keymaps/via/rules.mk
  keyboards/handwired/macropad21/macropad21.c
  keyboards/handwired/macropad21/macropad21.h
  keyboards/handwired/macropad21/readme.md
Labels: keyboard, keymap, via

Move existing keymaps to LAYOUT_BREEZE
  keyboards/afternoonlabs/breeze/keymaps/default/keymap.c
  keyboards/afternoonlabs/breeze/keymaps/eithanshavit/keymap.c
  keyboards/afternoonlabs/breeze/rev1/rev1.h
Labels: keyboard, keymap

Add southern breeze and southpaw layout
  keyboards/afternoonlabs/breeze/keymaps/southpaw/keymap.c
  keyboards/afternoonlabs/breeze/rev1/rev1.h
Labels: keyboard, keymap

Add new handwired keyboard (Ergocheap) (#11857)
  keyboards/handwired/ergocheap/chconf.h
  keyboards/handwired/ergocheap/config.h
  keyboards/handwired/ergocheap/ergocheap.c
  keyboards/handwired/ergocheap/ergocheap.h
  keyboards/handwired/ergocheap/halconf.h
  keyboards/handwired/ergocheap/info.json
  keyboards/handwired/ergocheap/keymaps/default/keymap.c
  keyboards/handwired/ergocheap/keymaps/via/keymap.c
  keyboards/handwired/ergocheap/keymaps/via/rules.mk
  keyboards/handwired/ergocheap/mcuconf.h
  keyboards/handwired/ergocheap/readme.md
  keyboards/handwired/ergocheap/rules.mk
Labels: keyboard, keymap, via

Add readme for southpaw breeze
  keyboards/afternoonlabs/breeze/keymaps/southpaw/readme.md
Labels: keymap

`qmk chibios-confmigrate`: Make `-i` and `-r` required (#12515)
  lib/python/qmk/cli/chibios/confmigrate.py
Labels: cli, python

Enable VIA support
  keyboards/afternoonlabs/breeze/keymaps/southpaw/rules.mk
Labels: keymap

Fix layouts for Breeze rev1
  keyboards/afternoonlabs/breeze/rev1/info.json
Labels: keyboard

Fix audio on WT60-XT
  keyboards/wilba_tech/wt60_xt/wt60_xt.c
Labels: keyboard

next version - sorry, crap msg
  keyboards/kyria/keymaps/ghidalgo93/keymap.c
Labels: keymap

Fix Breaking Change date (#12272)
  docs/breaking_changes.md
Labels: documentation

Deploying to gh-pages from master @ 1a913aa12eda0c62faba160dad55befeafdf4dc0 🚀
  breaking_changes.md
Labels: none

Update rules.mk
  keyboards/kiwikey/kawii9/keymaps/via/rules.mk
Labels: keymap, via

Added Rainkeeb's stuff and customizations to others
  .gitignore
  keyboards/manta/config.h
  keyboards/manta/keymaps/ExtraFox001/keymap.c
  keyboards/manta/keymaps/default/keymap.c
  keyboards/manta/manta.c
  keyboards/manta/manta.h
  keyboards/manta/rules.mk
  keyboards/nullbitsco/nibble/keymaps/EFOled/keymap.c
  keyboards/rainkeeb/rainkeeb/config.h
  keyboards/rainkeeb/rainkeeb/info.json
  keyboards/rainkeeb/rainkeeb/keymaps/default/keymap.c
  keyboards/rainkeeb/rainkeeb/keymaps/via/keymap.c
  keyboards/rainkeeb/rainkeeb/keymaps/via/rules.mk
  keyboards/rainkeeb/rainkeeb/rainkeeb.c
  keyboards/rainkeeb/rainkeeb/rainkeeb.h
  keyboards/rainkeeb/rainkeeb/readme.md
  keyboards/rainkeeb/rainkeeb/rules.mk
  keyboards/themadnoodle/noodlepad/keymaps/ExtraFox001/keymap.c
  keyboards/themadnoodle/noodlepad/rules.mk
Labels: keyboard, keymap, via

remove version from pcb name
  keyboards/chlx/merro60/config.h
  keyboards/chlx/merro60/readme.md
Labels: keyboard

Update keyboards/kiwikey/kawii9/keymaps/via/rules.mk
  keyboards/kiwikey/kawii9/keymaps/via/rules.mk
Labels: keymap, via

Update rules.mk
  keyboards/kiwikey/kawii9/rules.mk
Labels: keyboard

add readme and fix file namings
  keyboards/cybergear/macro25/README.md
  keyboards/cybergear/macro25/macro25.c
  keyboards/cybergear/macro25/macro25.h
  keyboards/cybergear/macro25/readme.md
  keyboards/cybergear/macro25/via-macro25.json
Labels: keyboard

rename readme.md
  keyboards/cybergear/macro25/README.md
Labels: keyboard

First attempt at a "make test:all" run.
  .github/workflows/make_test.yaml
Labels: CI
