Repository qmk/qmk_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, via, cli, python, documentation, CI, dd

Fixed broken links in `keycodes.md`
  docs/keycodes.md
Labels: documentation

Move WB32_EXTI_REQUIRED to config.h of board GENERIC_WB32_F3G71XX
  keyboards/lemokey/p1_pro/mcuconf.h
  platforms/chibios/boards/GENERIC_WB32_F3G71XX/configs/config.h
Labels: core

- swapped handedness - added up arrow - enabled media keys
  keyboards/lily58/keymaps/halsandr/config.h
  keyboards/lily58/keymaps/halsandr/keymap.c
  keyboards/lily58/keymaps/halsandr/rules.mk
Labels: keymap

fixed keyboards/reviung/reviung46/keyboard.json
  keyboards/reviung/reviung46/keyboard.json
Labels: none

qmk端唤醒睡眠的bhq模块
  drivers/bluetooth/bhq/bhq.c
  drivers/bluetooth/bhq/bhq.h
  drivers/bluetooth/bhq/bluetooth_bhq.c
  drivers/bluetooth/bhq/report_buffer.c
  keyboards/keymagichorse/hl6095/config.h
  keyboards/keymagichorse/hl6095/halconf.h
  keyboards/keymagichorse/hl6095/keymaps/ble/keymap.c
  keyboards/keymagichorse/hl6095/lpm.h
  keyboards/keymagichorse/hl6095/lpm_stm32f4.c
  keyboards/keymagichorse/hl6095/rules.mk
Labels: core, keymap

Update pcilabs_firmware_CI.yml
  .github/workflows/pcilabs_firmware_CI.yml
Labels: CI

Update pcilabs_firmware_CI.yml
  .github/workflows/pcilabs_firmware_CI.yml
Labels: CI

Add Quefrency Rev. 6 (#24291)
  keyboards/keebio/quefrency/keymaps/default65/keymap.c
  keyboards/keebio/quefrency/keymaps/via/config.h
  keyboards/keebio/quefrency/keymaps/via/keymap.c
  keyboards/keebio/quefrency/rev6/config.h
  keyboards/keebio/quefrency/rev6/halconf.h
  keyboards/keebio/quefrency/rev6/keyboard.json
  keyboards/keebio/quefrency/rev6/mcuconf.h
  keyboards/keebio/quefrency/rev6/rev6.c
  keyboards/keebio/quefrency/rev6/rules.mk
Labels: keymap, via

Add additional feature flags
  keyboards/zeix/singa/kohaku/keyboard.json
Labels: none

Remove redundant/duplicate GPIO pin for rgblight
  keyboards/zeix/singa/kohaku/keyboard.json
Labels: none

All layouts
  keyboards/candykeys/candy87/keymaps/f12_ansi/keymap.c
  keyboards/candykeys/candy87/keymaps/f12_ansi_tsangan/keymap.c
  keyboards/candykeys/candy87/keymaps/f12_iso/keymap.c
  keyboards/candykeys/candy87/keymaps/f12_iso_tsangan/keymap.c
  keyboards/candykeys/candy87/keymaps/f13_ansi/keymap.c
  keyboards/candykeys/candy87/keymaps/f13_ansi_tsangan/keymap.c
  keyboards/candykeys/candy87/keymaps/f13_iso/keymap.c
  keyboards/candykeys/candy87/keymaps/f13_iso_tsangan/keymap.c
Labels: keymap

new code structure, added (maybe works) sma on tmtng60
  keyboards/pcilabs/.vscode/settings.json
  keyboards/pcilabs/.vscode/tasks.json
  keyboards/pcilabs/matrix_common.c
  keyboards/pcilabs/pcilabs_common/analogkeys.h
  keyboards/pcilabs/pcilabs_common/custom_analog.c
  keyboards/pcilabs/pcilabs_common/custom_analog.h
  keyboards/pcilabs/pcilabs_common/dapboot/bootloader.c
  keyboards/pcilabs/pcilabs_common/lut.c
  keyboards/pcilabs/pcilabs_common/lut.h
  keyboards/pcilabs/pcilabs_common/matrix_analog.c
  keyboards/pcilabs/pcilabs_common/multiplexer/matrix_mux.c
  keyboards/pcilabs/pcilabs_common/multiplexer/multiplexer.c
  keyboards/pcilabs/pcilabs_common/multiplexer/multiplexer.h
  keyboards/pcilabs/pcilabs_common/multiplexer/multiplexer.mk
  keyboards/pcilabs/pcilabs_common/multiplexer/sma_mux.c
  keyboards/pcilabs/pcilabs_common/pcilabs_common.c
  keyboards/pcilabs/pcilabs_common/pcilabs_common.mk
  keyboards/pcilabs/pcilabs_common/pcilabs_config_common.h
  keyboards/pcilabs/pcilabs_common/scanfunctions.c
  keyboards/pcilabs/pcilabs_common/scanfunctions.h
  keyboards/pcilabs/pcilabs_common/sma.c
  keyboards/pcilabs/pcilabs_common/sma.h
  keyboards/pcilabs/tmtng2_moon/config.h
  keyboards/pcilabs/tmtng2_moon/rules.mk
  keyboards/pcilabs/tmtng3v2_moon/config.h
  keyboards/pcilabs/tmtng3v2_moon/rules.mk
  keyboards/pcilabs/tmtng60_moon/config.h
  keyboards/pcilabs/tmtng60_moon/rules.mk
Labels: none

Changed rgb pin for tmtng60
  keyboards/pcilabs/tmtng60_moon/info.json
Labels: none

AVR compatibility
  keyboards/xdboards/recon/keyboard.json
  keyboards/xdboards/recon/post_config.h
Labels: none

cleanup
  keyboards/xdboards/recon/keyboard.json
  keyboards/xdboards/recon/post_config.h
Labels: none

Fixed incorret BAT_LOW_LED_PIN of V6 Max
  keyboards/keychron/common/wireless/lpm.c
  keyboards/keychron/v6_max/config.h
Labels: none

Update info.json
  keyboards/ciaanh/kanagawa/ansi/info.json
Labels: none

Update info.json
  keyboards/ciaanh/kanagawa/iso/info.json
Labels: none

.
  scripts/keyboard.py
  scripts/merge.py
Labels: python

users/idank: fix rotation for left handed 40mm cirque
  users/idank/config.h
Labels: keymap

Rename info.json to storre.json
  keyboards/sthlmkb/storre/storre.json
Labels: none

Rename storre.json to keyboard.json
  keyboards/sthlmkb/storre/keyboard.json
Labels: none

Update info.json
  keyboards/pcilabs/tmtng60_moon/info.json
Labels: none

Update info.json
  keyboards/pcilabs/tmtng60_moon/info.json
Labels: none

Ой нам же нельзя материться теперь
  keyboards/pcilabs/tmtng60_moon/info.json
Labels: none

max brightness?
  keyboards/pcilabs/tmtng60_moon/info.json
Labels: none

Max brightness pt.2
  keyboards/pcilabs/tmtng60_moon/info.json
Labels: none

messing with mux table
  keyboards/pcilabs/pcilabs_common/multiplexer/multiplexer.c
Labels: none

isdkfdodskfcds
  keyboards/pcilabs/tmtng60_moon/keymaps/default/keymap.c
Labels: keymap

Update multiplexer.c
  keyboards/pcilabs/pcilabs_common/multiplexer/multiplexer.c
Labels: none

matrix wtf?
  keyboards/pcilabs/tmtng60_moon/info.json
Labels: none

mux
  keyboards/pcilabs/pcilabs_common/multiplexer/multiplexer.c
Labels: none

Update keymap.c
  keyboards/pcilabs/tmtng60_moon/keymaps/default/keymap.c
Labels: keymap

Update multiplexer.c
  keyboards/pcilabs/pcilabs_common/multiplexer/multiplexer.c
Labels: none

Update info.json
  keyboards/pcilabs/tmtng60_moon/info.json
Labels: none

Add Brick65S
  keyboards/era/sirind/brick65s/brick65s.c
  keyboards/era/sirind/brick65s/config.h
  keyboards/era/sirind/brick65s/keyboard.json
  keyboards/era/sirind/brick65s/keymaps/default/keymap.c
  keyboards/era/sirind/brick65s/keymaps/via/keymap.c
  keyboards/era/sirind/brick65s/keymaps/via/rules.mk
  keyboards/era/sirind/brick65s/readme.md
Labels: keymap, via

Update
  keyboards/era/sirind/brick65s/brick65s.c
Labels: none

Fix build failure on zsa/moonlander with DYNAMIC_MACRO_ENABLE
  keyboards/zsa/moonlander/moonlander.c
Labels: none

Update keyboards/nuphy/air75_v2/ansi/readme.md
  keyboards/nuphy/air75_v2/ansi/readme.md
Labels: none

rename info.json to keyboard.json
  keyboards/nuphy/air75_v2/ansi/keyboard.json
Labels: none

.github/labeler.yml:

core:
  - changed-files:
    - any-glob-to-any-file:
      - quantum/**
      - tmk_core/**
      - drivers/**
      - tests/**
      - util/**
      - platforms/**
      - builddefs/*.mk
      - Makefile
      - '*.mk'
dependencies:
  - changed-files:
    - all-globs-to-any-file:
      - lib/**
      - '!lib/python/**'
keyboard:
  - changed-files:
    - all-globs-to-any-file:
      - keyboards/**
      - '!keyboards/**/keymaps/**'
keymap:
  - changed-files:
    - any-glob-to-any-file:
      - users/**
      - layouts/**
      - keyboards/**/keymaps/**
via:
  - changed-files:
    - any-glob-to-any-file:
      - keyboards/**/keymaps/via/*
cli:
  - changed-files:
    - any-glob-to-any-file:
      - requirements.txt
      - lib/python/**
python:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.py'
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**
      - builddefs/docsgen/**
CI:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
dd:
  - changed-files:
    - any-glob-to-any-file:
      - data/constants/**
      - data/mappings/**
      - data/schemas/**
