Repository qmk/qmk_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, via, cli, python, documentation, CI, dd

keraboard
  keyboards/keraboard
Labels: none

added jinja td
  keyboards/beekeeb/piantor/keymaps/qkekos/tap_dances/sequences.c
Labels: keymap

removed prior idle ms
  keyboards/beekeeb/piantor/keymaps/qkekos/tap_holds/general.c
Labels: keymap

rawhid in new file, fixed rgb matrix, still haven't added effects
  keyboards/pcilabs/pcilabs_common/pcilabs_common.c
  keyboards/pcilabs/pcilabs_common/pcilabs_common.mk
  keyboards/pcilabs/tmtng60_moon/info.json
Labels: none

actually commited new code
  keyboards/pcilabs/pcilabs_common/pcilabs_common.h
  keyboards/pcilabs/pcilabs_common/rawhid.c
  keyboards/pcilabs/pcilabs_common/rawhid.h
Labels: none

fixed spelling errors in example 4
  docs/features/tap_dance.md
Labels: documentation

Update rawhid.h
  keyboards/pcilabs/pcilabs_common/rawhid.h
Labels: none

add mellow keyboard
  keyboards/dztech/mellow/keyboard.json
  keyboards/dztech/mellow/keymaps/ansi/keymap.c
  keyboards/dztech/mellow/keymaps/default/keymap.c
  keyboards/dztech/mellow/keymaps/hhkb/keymap.c
  keyboards/dztech/mellow/keymaps/iso/keymap.c
  keyboards/dztech/mellow/keymaps/via/keymap.c
  keyboards/dztech/mellow/keymaps/via/rules.mk
  keyboards/dztech/mellow/readme.md
  keyboards/dztech/neu/config.h
  keyboards/dztech/neu/rules.mk
Labels: keymap, via

add license header
  keyboards/dztech/mellow/keymaps/ansi/keymap.c
  keyboards/dztech/mellow/keymaps/hhkb/keymap.c
  keyboards/dztech/mellow/keymaps/iso/keymap.c
  keyboards/dztech/mellow/keymaps/via/keymap.c
Labels: keymap, via

UPDATE
  keyboards/dztech/mellow/keymaps/default/keymap.c
Labels: keymap

Update readme.md
  keyboards/dztech/mellow/readme.md
Labels: none

Fix build failure on zsa/moonlander with DYNAMIC_MACRO_ENABLE (#24316)
  keyboards/zsa/moonlander/moonlander.c
Labels: none

Make PS2 mouse reset configurable
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  docs/features/ps2_mouse.md
  docs/reference_info_json.md
  drivers/ps2/ps2_mouse.c
Labels: core, documentation, dd

Update keyboards/era/sirind/brick65s/keyboard.json
  keyboards/era/sirind/brick65s/keyboard.json
Labels: none

Update keyboards/era/sirind/brick65s/keyboard.json
  keyboards/era/sirind/brick65s/keyboard.json
Labels: none

Add files via upload
  keyboards/crkbd/keymaps/gg/config.h
  keyboards/crkbd/keymaps/gg/keymap.c
  keyboards/crkbd/keymaps/gg/rules.mk
Labels: keymap

Update rules.mk
  keyboards/crkbd/keymaps/gg/rules.mk
Labels: keymap

does it even work?
  keyboards/pcilabs/tmtng60_moon/info.json
Labels: none

Fix split space label in matrix_diagram
  keyboards/zeix/singa/kohaku/matrix_diagram.md
Labels: none

Refactor aliases to directly use community layouts
  keyboards/zeix/singa/kohaku/keyboard.json
Labels: none

Fix incorrect switch data in keyboard.json
  keyboards/zeix/singa/kohaku/keyboard.json
Labels: none

Fix: remove erroneous curly brace in keyboard.json
  keyboards/zeix/singa/kohaku/keyboard.json
Labels: none

Update info.json
  keyboards/pcilabs/tmtng60_moon/info.json
Labels: none

Update keymap.c
  keyboards/pcilabs/tmtng60_moon/keymaps/default/keymap.c
Labels: keymap

Update keymap.c
  keyboards/pcilabs/tmtng60_moon/keymaps/default/keymap.c
Labels: keymap

instead of changing default layer. toggle 1 on layer adjust.
  keyboards/crkbd/keymaps/gg/keymap.c
Labels: keymap

turned oled back on and added jkesc combo
  keyboards/crkbd/keymaps/gg/config.h
  keyboards/crkbd/keymaps/gg/keymap.c
  keyboards/crkbd/keymaps/gg/rules.mk
Labels: keymap

优化功耗单F4 180ua左右
  drivers/bluetooth/bhq/bhq.c
  drivers/bluetooth/bhq/bhq.h
  drivers/bluetooth/bhq/bluetooth_bhq.c
  keyboards/keymagichorse/hl6095/lpm_stm32f4.c
  keyboards/keymagichorse/hl6095/rules.mk
  platforms/chibios/drivers/uart_serial.c
  platforms/chibios/drivers/uart_sio.c
Labels: core

Initial changelog doc.
  docs/ChangeLog/20240825.md
  docs/ChangeLog/20240825/PR24120.md
  docs/ChangeLog/20240825/PR24192.md
Labels: documentation

Update readme.md
  keyboards/atset/at2/readme.md
Labels: none

More wording.
  docs/ChangeLog/20240825.md
Labels: documentation

Sidebar and version link changes.
  docs/_sidebar.json
  docs/breaking_changes.md
  docs/breaking_changes_history.md
Labels: documentation

Wording.
  docs/ChangeLog/20240825.md
Labels: documentation

.github/labeler.yml:

core:
  - changed-files:
    - any-glob-to-any-file:
      - quantum/**
      - tmk_core/**
      - drivers/**
      - tests/**
      - util/**
      - platforms/**
      - builddefs/*.mk
      - Makefile
      - '*.mk'
dependencies:
  - changed-files:
    - all-globs-to-any-file:
      - lib/**
      - '!lib/python/**'
keyboard:
  - changed-files:
    - all-globs-to-any-file:
      - keyboards/**
      - '!keyboards/**/keymaps/**'
keymap:
  - changed-files:
    - any-glob-to-any-file:
      - users/**
      - layouts/**
      - keyboards/**/keymaps/**
via:
  - changed-files:
    - any-glob-to-any-file:
      - keyboards/**/keymaps/via/*
cli:
  - changed-files:
    - any-glob-to-any-file:
      - requirements.txt
      - lib/python/**
python:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.py'
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**
      - builddefs/docsgen/**
CI:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
dd:
  - changed-files:
    - any-glob-to-any-file:
      - data/constants/**
      - data/mappings/**
      - data/schemas/**
