Repository qmk/qmk_firmware, pull requests merged in 2018-05, with the labels that each got.

#2939 FaceW Keyboard Support
  keyboards/facew/config.h
  keyboards/facew/facew.c
  keyboards/facew/facew.h
  keyboards/facew/i2c.c
  keyboards/facew/i2c.h
  keyboards/facew/info.json
  keyboards/facew/keymaps/default/keymap.c
  keyboards/facew/keymaps/mechmerlin/keymap.c
  keyboards/facew/keymaps/mechmerlin/readme.md
  keyboards/facew/matrix.c
  keyboards/facew/readme.md
  keyboards/facew/rules.mk
  keyboards/facew/usbconfig.h
Labels: keyboard

#2940 Fix syntax, add laylock with backlight toggle on locked layer
  keyboards/iris/keymaps/transmogrified/keymap.c
Labels: keymap

#2942 Added bootmagic_lite() to CA66
  keyboards/ca66/ca66.c
Labels: keyboard

#2961 info.json update to pk60
  keyboards/pk60/info.json
  keyboards/pk60/readme.md
Labels: keyboard

#2952 Xton has a dz60
  keyboards/dz60/keymaps/xtonhasvim/config.h
  keyboards/dz60/keymaps/xtonhasvim/keymap.c
  keyboards/dz60/keymaps/xtonhasvim/readme.md
  keyboards/niu_mini/keymaps/xtonhasvim/keymap.c
  users/xtonhasvim/xtonhasvim.c
Labels: keymap

#2799 Allow one-shot modifiers to be chained
  tmk_core/common/action.c
Labels: enhancement

#2804 Reformat 40% Ortho boards to work with Layouts feature
  keyboards/jj40/jj40.h
  keyboards/jj40/keymaps/ajp10304/jj40.h
  keyboards/jj40/keymaps/ajp10304/keymap.c
  keyboards/jj40/keymaps/cockpit/keymap.c
  keyboards/jj40/keymaps/default/keymap.c
  keyboards/jj40/keymaps/fun40/jj40.h
  keyboards/jj40/keymaps/fun40/keymap.c
  keyboards/jj40/keymaps/krusli/keymap.c
  keyboards/jj40/keymaps/oscillope/keymap.c
  keyboards/jj40/keymaps/suzuken/jj40.h
  keyboards/jj40/keymaps/suzuken/keymap.c
  keyboards/jj40/keymaps/waples/jj40.h
  keyboards/jj40/keymaps/waples/keymap.c
  keyboards/jj40/rules.mk
  keyboards/lets_split/keymaps/DE_simple/keymap.c
  keyboards/lets_split/keymaps/OLED_sample/keymap.c
  keyboards/lets_split/keymaps/adam/keymap.c
  keyboards/lets_split/keymaps/cpeters1982/keymap.c
  keyboards/lets_split/keymaps/default/keymap.c
  keyboards/lets_split/keymaps/dlaroe/keymap.c
  keyboards/lets_split/keymaps/fabian/keymap.c
  keyboards/lets_split/keymaps/heartrobotninja/keymap.c
  keyboards/lets_split/keymaps/henxing/keymap.c
  keyboards/lets_split/keymaps/khord/keymap.c
  keyboards/lets_split/keymaps/kris/keymap.c
  keyboards/lets_split/keymaps/krusli/keymap.c
  keyboards/lets_split/keymaps/mbsurfer/keymap.c
  keyboards/lets_split/keymaps/mjt/keymap.c
  keyboards/lets_split/keymaps/normacos/keymap.c
  keyboards/lets_split/keymaps/piemod/keymap.c
  keyboards/lets_split/keymaps/pitty/keymap.c
  keyboards/lets_split/keymaps/poker/keymap.c
  keyboards/lets_split/keymaps/smt/keymap.c
  keyboards/lets_split/keymaps/waples/keymap.c
  keyboards/lets_split/keymaps/xk/keymap.c
  keyboards/lets_split/keymaps/xyverz/keymap.c
  keyboards/lets_split/lets_split.h
  keyboards/levinson/keymaps/default/keymap.c
  keyboards/levinson/keymaps/treadwell/keymap.c
  keyboards/levinson/keymaps/valgrahf/keymap.c
  keyboards/levinson/levinson.h
  keyboards/mt40/config.h
  keyboards/mt40/keymaps/default/config.h
  keyboards/mt40/keymaps/default/keymap.c
  keyboards/mt40/matrix.c
  keyboards/mt40/mt40.c
  keyboards/mt40/mt40.h
  keyboards/mt40/rules.mk
  keyboards/niu_mini/keymaps/default/keymap.c
  keyboards/niu_mini/keymaps/mason/keymap.c
  keyboards/niu_mini/keymaps/planck/keymap.c
  keyboards/niu_mini/niu_mini.h
  keyboards/niu_mini/rules.mk
Labels: enhancement, keyboard

#2933 Add support for Swap Hands feature to Orthodox and Iris
  keyboards/iris/keymaps/drashna/rules.mk
  keyboards/iris/keymaps/hag/keymap.c
  keyboards/iris/keymaps/swedish/keymap.c
  keyboards/iris/rev1/rev1.c
  keyboards/iris/rev1_led/rev1_led.c
  keyboards/iris/rev2/rev2.c
  keyboards/orthodox/keymaps/drashna/keymap.c
  keyboards/orthodox/rev1/rev1.c
  keyboards/orthodox/rev3/rev3.c
  keyboards/orthodox/rev3_teensy/rev3_teensy.c
Labels: keyboard, optimization

#2951 Add rgblight "set at" commands
  quantum/rgblight_list.h
Labels: optimization

#2966 Orthodox info.json changes
  keyboards/orthodox/keymaps/default/config.h
  keyboards/orthodox/keymaps/default/keymap.c
  keyboards/orthodox/keymaps/oscillope/keymap.c
  keyboards/orthodox/orthodox.h
  keyboards/orthodox/rev1/info.json
  keyboards/orthodox/rev1/rev1.h
  keyboards/orthodox/rev3/info.json
  keyboards/orthodox/rev3/rev3.h
  keyboards/orthodox/rev3_teensy/info.json
  keyboards/orthodox/rev3_teensy/rev3_teensy.h
Labels: keyboard, optimization

#2967 Fix Ortho Compile issue
  keyboards/orthodox/keymaps/default/keymap.c
Labels: bug, keymap

#2956 Override hamburger placement
  docs/index.html
  docs/sidebar.css
Labels: enhancement

#2968 Added YMD75 support
  keyboards/ymd75/README.md
  keyboards/ymd75/backlight.c
  keyboards/ymd75/backlight_custom.h
  keyboards/ymd75/breathing_custom.h
  keyboards/ymd75/config.h
  keyboards/ymd75/i2c.c
  keyboards/ymd75/i2c.h
  keyboards/ymd75/info.json
  keyboards/ymd75/keymaps/default/keymap.c
  keyboards/ymd75/matrix.c
  keyboards/ymd75/program
  keyboards/ymd75/rules.mk
  keyboards/ymd75/usbconfig.h
  keyboards/ymd75/ymd75.c
  keyboards/ymd75/ymd75.h
Labels: keyboard

#2972 Addition of HS60 ISO keyboard
  keyboards/hs60/config.h
  keyboards/hs60/hs60.c
  keyboards/hs60/hs60.h
  keyboards/hs60/keymaps/default/keymap.c
  keyboards/hs60/keymaps/default/readme.md
  keyboards/hs60/readme.md
  keyboards/hs60/rules.mk
Labels: keyboard

#2818 Add default to LEADER_TIMEOUT in case it's not defined
  quantum/process_keycode/process_leader.c
  quantum/process_keycode/process_leader.h
Labels: core, enhancement

#2959 Yet another update to drashna keymaps and userspace (EEPROM, RGB indicators)
  keyboards/iris/keymaps/drashna/config.h
  keyboards/iris/keymaps/drashna/keymap.c
  keyboards/iris/keymaps/drashna/rules.mk
  keyboards/orthodox/keymaps/drashna/keymap.c
  keyboards/orthodox/keymaps/drashna/rules.mk
  keyboards/viterbi/keymaps/drashna/keymap.c
  layouts/community/ergodox/drashna/keymap.c
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/drashna.h
  users/drashna/readme.md
  users/drashna/rules.mk
Labels: keymap

#2978 Fix Orthodox Info.json files
  keyboards/orthodox/rev1/info.json
  keyboards/orthodox/rev3/info.json
  keyboards/orthodox/rev3_teensy/info.json
Labels: keyboard

#2980 Make sure new features (RGB Matrix) are actually listed
  docs/_sidebar.md
  docs/features.md
Labels: core, needs doc

#2989 knops/mini default keymap copy with comments for new user
  keyboards/knops/mini/keymaps/default-gsm-newbs/config.h
  keyboards/knops/mini/keymaps/default-gsm-newbs/keymap.c
  keyboards/knops/mini/keymaps/default-gsm-newbs/readme.md
Labels: keymap

#2998 Add Contra layout & cleanup a few things
  keyboards/contra/keymaps/losinggeneration/README.md
  keyboards/contra/keymaps/losinggeneration/config.h
  keyboards/contra/keymaps/losinggeneration/keymap.c
  keyboards/contra/keymaps/losinggeneration/rules.mk
  keyboards/levinson/keymaps/losinggeneration/README.md
  keyboards/levinson/keymaps/losinggeneration/keymap.c
  keyboards/nyquist/keymaps/losinggeneration/README.md
  keyboards/nyquist/keymaps/losinggeneration/keymap.c
  users/losinggeneration/losinggeneration-keymap.h
Labels: keymap

#2987 Updating my maps in upstream master
  keyboards/atreus62/keymaps/xyverz/keymap.c
  keyboards/atreus62/keymaps/xyverz/readme.md
  keyboards/clueboard/66/keymaps/xyverz/keymap.c
  keyboards/clueboard/keymaps/xyverz/config.h
  keyboards/eco/keymaps/xyverz/keymap.c
  keyboards/eco/keymaps/xyverz/readme.md
  keyboards/eco/keymaps/xyverz/rules.mk
  keyboards/fourier/keymaps/xyverz/config.h
  keyboards/fourier/keymaps/xyverz/keymap.c
  keyboards/iris/keymaps/xyverz/config.h
  keyboards/iris/keymaps/xyverz/keymap.c
  keyboards/iris/keymaps/xyverz/rules.mk
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/readme.md
  keyboards/kinesis/stapelberg/stapelberg.c
  keyboards/lets_split/keymaps/xyverz/keymap.c
  keyboards/minidox/keymaps/xyverz/config.h
  keyboards/minidox/keymaps/xyverz/keymap.c
  keyboards/minidox/keymaps/xyverz/rules.mk
  keyboards/orthodox/keymaps/xyverz/config.h
  keyboards/orthodox/keymaps/xyverz/keymap.c
  keyboards/orthodox/keymaps/xyverz/readme.md
  keyboards/planck/keymaps/xyverz/config.h
  keyboards/preonic/keymaps/seph/config.h
  keyboards/preonic/keymaps/seph/keymap.c
  keyboards/preonic/keymaps/seph/rules.mk
  keyboards/tv44/keymaps/xyverz/keymap.c
  keyboards/zen/keymaps/xyverz/config.h
  keyboards/zen/keymaps/xyverz/keymap.c
  keyboards/zen/keymaps/xyverz/rules.mk
  layouts/community/ortho_4x12/xyverz/config.h
  layouts/community/ortho_4x12/xyverz/keymap.c
  layouts/community/ortho_4x12/xyverz/readme.md
  layouts/community/ortho_4x12/xyverz/rules.mk
  layouts/community/ortho_5x12/xyverz/config.h
  layouts/community/ortho_5x12/xyverz/keymap.c
  layouts/community/ortho_5x12/xyverz/rules.mk
Labels: keymap

#2996 change do60 config
  keyboards/do60/config.h
  keyboards/do60/do60.c
  keyboards/do60/do60.h
  keyboards/do60/keymaps/default/keymap.c
  keyboards/do60/keymaps/test/keymap.c
Labels: keyboard

#3004 Merlin community layouts
  keyboards/e6v2/e6v2.h
  keyboards/e6v2/info.json
  keyboards/e6v2/keymaps/amnesia0287/keymap.c
  keyboards/e6v2/keymaps/default/keymap.c
  keyboards/e6v2/rules.mk
  keyboards/eagle_viper/rules.mk
  keyboards/eagle_viper/v2/keymaps/default/keymap.c
  keyboards/eagle_viper/v2/keymaps/mechmerlin/keymap.c
  keyboards/eagle_viper/v2/keymaps/mechmerlin/readme.md
  keyboards/eagle_viper/v2/keymaps/profanum429/keymap.c
  keyboards/kc60/keymaps/dbroqua/keymap.c
  keyboards/kc60/keymaps/dbroqua_hhkb/keymap.c
  keyboards/kc60/keymaps/default/keymap.c
  keyboards/kc60/keymaps/mechmerlin/keymap.c
  keyboards/kc60/keymaps/mechmerlin/readme.md
  keyboards/kc60/keymaps/sgoodwin/keymap.c
  keyboards/kc60/keymaps/stanleylai/keymap.c
  keyboards/kc60/keymaps/wigguno/keymap.c
  keyboards/kc60/keymaps/workman-dead/keymap.c
  keyboards/kc60/keymaps/ws2812/keymap.c
  keyboards/v60_type_r/keymaps/default/keymap.c
  keyboards/v60_type_r/keymaps/vimouse/keymap.c
  keyboards/v60_type_r/rules.mk
Labels: keyboard, keymap

#3002 qwerty_code_friendly: correct typos
  layouts/community/ergodox/qwerty_code_friendly/keymap.c
  layouts/community/ergodox/qwerty_code_friendly/readme.md
Labels: keymap

#3003 Kira 75 QMK Support
  keyboards/kira75/config.h
  keyboards/kira75/info.json
  keyboards/kira75/keymaps/default/config.h
  keyboards/kira75/keymaps/default/keymap.c
  keyboards/kira75/keymaps/default/readme.md
  keyboards/kira75/kira75.c
  keyboards/kira75/kira75.h
  keyboards/kira75/readme.md
  keyboards/kira75/rules.mk
Labels: keyboard

#3007 Capslock indicator add
  keyboards/pk60/pk60.c
Labels: keyboard

#2986 Fix compile issues for atmega328p
  tmk_core/common/avr/bootloader.c
Labels: bug, core

#2982 Minor tweak to Orthodox Info.json
  keyboards/orthodox/rev1/info.json
  keyboards/orthodox/rev3/info.json
  keyboards/orthodox/rev3_teensy/info.json
Labels: keyboard

#2979 Fix Ergodox EZ Info.json files
  keyboards/ergodone/info.json
  keyboards/ergodox_ez/info.json
  keyboards/ergodox_infinity/info.json
Labels: keyboard

#2984 Add 80 key layout to Ergodone, as it appears to support it
  keyboards/ergodone/ergodone.h
  keyboards/ergodone/info.json
  layouts/community/ergodox/drashna/keymap.c
Labels: enhancement, keyboard

#3014 Remove ISO imposter key from TKL keymap
  keyboards/frosty_flake/frosty_flake.h
  layouts/community/tkl_ansi/talljoe-tkl/config.h
  layouts/default/tkl_ansi/default_tkl_ansi/keymap.c
Labels: keymap

#3013 Fix atom47 keyboard revision naming
  keyboards/atom47/keymaps/LEdiodes/keymap.c
  keyboards/atom47/keymaps/default/keymap.c
  keyboards/atom47/keymaps/maartenwut/keymap.c
  keyboards/atom47/readme.md
  keyboards/atom47/rev2/info.json
  keyboards/atom47/rev2/rev2.h
  keyboards/atom47/rev3/config.h
  keyboards/atom47/rev3/info.json
  keyboards/atom47/rev3/rev3.c
  keyboards/atom47/rev3/rev3.h
  keyboards/atom47/rev3/rules.mk
  keyboards/atom47/rules.mk
Labels: keyboard

#3006 A personal layout for the orthodox keyboard
  keyboards/orthodox/keymaps/rfvizarra/config.h
  keyboards/orthodox/keymaps/rfvizarra/keymap.c
  keyboards/orthodox/keymaps/rfvizarra/readme.md
  keyboards/orthodox/keymaps/rfvizarra/rules.mk
Labels: keymap

#3019 Add mike808 Viterbi layout
  keyboards/viterbi/keymaps/mike808/config.h
  keyboards/viterbi/keymaps/mike808/keymap.c
  keyboards/viterbi/keymaps/mike808/rules.mk
Labels: keymap

#3017 Refactor update for 6ball
  keyboards/6ball/6ball.h
  keyboards/6ball/keymaps/default/keymap.c
Labels: keymap

#3022 Fix led enabled slave
  keyboards/iris/matrix.c
  keyboards/levinson/matrix.c
  layouts/community/ortho_4x12/bakingpy/keymap.c
Labels: bug, keyboard

#2983 Import userspace config.h according to USER_NAME
  build_keyboard.mk
Labels: enhancement

#2981 Documentation Clarification from a new user
  docs/getting_started_build_tools.md
  docs/newbs_getting_started.md
Labels: enhancement

#3015 Adds basic support for u/flehrad's bigswitch pcb
  keyboards/bigswitch/README.md
  keyboards/bigswitch/bigswitch.c
  keyboards/bigswitch/bigswitch.h
  keyboards/bigswitch/config.h
  keyboards/bigswitch/info.json
  keyboards/bigswitch/keymaps/default/keymap.c
  keyboards/bigswitch/rules.mk
Labels: keyboard

#3024 Refactor and Configurator updates for 9key
  keyboards/9key/9key.h
  keyboards/9key/info.json
  keyboards/9key/keymaps/default/keymap.c
Labels: keyboard

#3020 Add edvorakjp layout for the Iris keyboard
  keyboards/iris/keymaps/edvorakjp/config.h
  keyboards/iris/keymaps/edvorakjp/keymap.c
  keyboards/iris/keymaps/edvorakjp/readme.md
  keyboards/iris/keymaps/edvorakjp/rules.mk
  users/edvorakjp/edvorakjp.c
  users/edvorakjp/edvorakjp.h
  users/edvorakjp/readme.md
  users/edvorakjp/rules.mk
Labels: keymap

#3025 Refactor and Configurator update for ACR60
  keyboards/acr60/acr60.h
  keyboards/acr60/info.json
  keyboards/acr60/keymaps/default/keymap.c
  keyboards/acr60/keymaps/mitch/keymap.c
Labels: keyboard

#3026 Fix to KC60 LAYOUT_60_ansi matrix
  keyboards/kc60/kc60.h
Labels: bug, keyboard

#3028 Adds Zlant keyboard support
  keyboards/zlant/config.h
  keyboards/zlant/keymaps/default/keymap.c
  keyboards/zlant/keymaps/default/readme.md
  keyboards/zlant/readme.md
  keyboards/zlant/rules.mk
  keyboards/zlant/zlant.c
  keyboards/zlant/zlant.h
Labels: keyboard

#3016 config edit for caps indicator
  keyboards/pk60/pk60.c
Labels: keyboard

#3029 Refactor for Alps64
  keyboards/alps64/alps64.h
  keyboards/alps64/info.json
  keyboards/alps64/keymaps/default/keymap.c
  keyboards/alps64/rules.mk
Labels: keyboard

#3030 Wait for QMK to initialize before configuring RGB
  keyboards/bigswitch/bigswitch.c
  keyboards/bigswitch/config.h
Labels: keyboard

#3039 Fix keymap to use renamed macro
  keyboards/fourier/keymaps/valgrahf/keymap.c
Labels: keymap

#3041 Rename ANSI keymap of HS60
  keyboards/hs60/keymaps/ansi/config.h
  keyboards/hs60/keymaps/ansi/keymap.c
  keyboards/hs60/keymaps/ansi/readme.md
Labels: keymap

#3038 Add info.json for Fourier & Laplace
  keyboards/fourier/info.json
  keyboards/laplace/info.json
Labels: keyboard

#3043 Refactor and Configurator updates for ALU84
  keyboards/alu84/alu84.h
  keyboards/alu84/info.json
  keyboards/alu84/keymaps/default/keymap.c
  keyboards/alu84/keymaps/turbomech/keymap.c
  keyboards/alu84/readme.md
Labels: keyboard

#3046 Fix pk60 LAYOUT_all Configurator Layout
  keyboards/pk60/info.json
Labels: keyboard

#3045 Fix info.json for kbd66
  keyboards/kbd66/info.json
  keyboards/kbd66/kbd66.h
  keyboards/kbd66/keymaps/ansi/keymap.c
  keyboards/kbd66/keymaps/default/keymap.c
  keyboards/kbd66/keymaps/iso/keymap.c
  keyboards/kbd66/keymaps/maartenwut/keymap.c
Labels: keyboard

#3047 Refactor for AMJ40
  keyboards/amj40/amj40.h
  keyboards/amj40/keymaps/default/keymap.c
  keyboards/amj40/keymaps/fabian/keymap.c
  keyboards/amj40/keymaps/jetpacktuxedo/keymap.c
  keyboards/amj40/keymaps/myee/keymap.c
Labels: keyboard

#3044 Fix Orthodox compile issue in online configurator
  keyboards/orthodox/serial.c
Labels: bug, keyboard

#3051 Fix Split keyboards so they compile on Configurator
  keyboards/bfo9000/serial.c
  keyboards/deltasplit75/serial.c
  keyboards/minidox/serial.c
  keyboards/viterbi/serial.c
Labels: bug, keyboard

#3054 Fix HS60 config for ANSI keymap
  keyboards/hs60/config.h
Labels: keyboard

#3050 Fix dead link to USB keycodes doc
  tmk_core/common/keycode.h
Labels: enhancement, needs doc

#3057 Fix 76 key config (offset in macro args)
  layouts/community/ergodox/qwerty_code_friendly/keymap.c
Labels: keymap

#3058 Add keymaps for Iris, Let's Split, TADA68, XD75, and handwired dox
  keyboards/iris/keymaps/mtdjr/config.h
  keyboards/iris/keymaps/mtdjr/keymap.c
  keyboards/iris/keymaps/mtdjr/rules.mk
  keyboards/lets_split/keymaps/mtdjr/config.h
  keyboards/lets_split/keymaps/mtdjr/keymap.c
  keyboards/lets_split/keymaps/mtdjr/rules.mk
  keyboards/tada68/keymaps/mtdjr/keymap.c
  keyboards/tada68/keymaps/mtdjr/readme.md
  keyboards/tada68/keymaps/mtdjr/rules.mk
  keyboards/xd75/keymaps/mtdjr/config.h
  keyboards/xd75/keymaps/mtdjr/keymap.c
  keyboards/xd75/keymaps/mtdjr/readme.md
  keyboards/xd75/keymaps/mtdjr/rules.mk
Labels: keymap

#3059 Adding guidoism's planck layouts
  keyboards/planck/keymaps/guidoism/config.h
  keyboards/planck/keymaps/guidoism/keymap.c
  keyboards/planck/keymaps/guidoism/readme.md
  keyboards/planck/keymaps/guidoism/rules.mk
Labels: keymap

#2990 Refresh & improve leader documentation page
  docs/feature_leader_key.md
Labels: needs doc

#3060 Refactor and Configurator updates for AMJ Pad
  keyboards/amjpad/amjpad.h
  keyboards/amjpad/info.json
  keyboards/amjpad/keymaps/default/keymap.c
  keyboards/amjpad/keymaps/max/keymap.c
  keyboards/amjpad/keymaps/ortho_left/keymap.c
  keyboards/amjpad/keymaps/ortho_right/keymap.c
  keyboards/amjpad/rules.mk
  layouts/default/numpad_6x4/default_numpad_6x4/keymap.c
  layouts/default/numpad_6x4/layout.json
  layouts/default/numpad_6x4/readme.md
  layouts/default/ortho_6x4/default_ortho_6x4/keymap.c
  layouts/default/ortho_6x4/layout.json
  layouts/default/ortho_6x4/readme.md
Labels: keyboard

#3063 Add Canoe support
  keyboards/canoe/canoe.c
  keyboards/canoe/canoe.h
  keyboards/canoe/config.h
  keyboards/canoe/i2c.c
  keyboards/canoe/i2c.h
  keyboards/canoe/keymaps/default/keymap.c
  keyboards/canoe/matrix.c
  keyboards/canoe/readme.md
  keyboards/canoe/rules.mk
  keyboards/canoe/usbconfig.h
Labels: keyboard

#3067 Fix nyquist
  keyboards/deltasplit75/matrix.c
  keyboards/ergo42/matrix.c
  keyboards/fourier/matrix.c
  keyboards/handwired/dactyl_manuform/matrix.c
  keyboards/iris/matrix.c
  keyboards/lets_split/matrix.c
  keyboards/levinson/matrix.c
  keyboards/nyquist/keymaps/hexwire/keymap.c
  keyboards/nyquist/matrix.c
  keyboards/nyquist/rules.mk
  keyboards/redox/matrix.c
  keyboards/vitamins_included/matrix.c
  keyboards/viterbi/matrix.c
  keyboards/zen/matrix.c
Labels: bug, enhancement, keyboard

#3064 Indicator led support for KBD8X
  keyboards/kbd8x/kbd8x.c
Labels: keyboard

#3065 Configurator updates for Atreus/Atreus62
  keyboards/atreus/info.json
  keyboards/atreus62/info.json
Labels: keyboard

#3071 Refactor and Configurator updates for Bantam44
  keyboards/bantam44/bantam44.h
  keyboards/bantam44/info.json
  keyboards/bantam44/keymaps/default/keymap.c
Labels: keyboard

#3069 Kbd8x backlight support
  keyboards/kbd8x/keymaps/default_backlighting/config.h
  keyboards/kbd8x/keymaps/default_backlighting/keymap.c
  keyboards/kbd8x/keymaps/default_backlighting/readme.md
  keyboards/kbd8x/keymaps/default_backlighting/rules.mk
Labels: keymap

#3073 Refactor and Configurator updates for Woodkeys/NovelKeys Big Series
  keyboards/bigseries/bigseries.h
  keyboards/bigseries/info.json
  keyboards/bigseries/keymaps/8ball/keymap.c
  keyboards/bigseries/keymaps/default/keymap.c
  keyboards/bigseries/keymaps/leddance/keymap.c
Labels: keyboard

#3074 Keymap fixes
  keyboards/lets_split/keymaps/mtdjr/keymap.c
  layouts/community/ortho_4x12/xyverz/config.h
Labels: keymap

#3070 Add and fix _noeeprom functions to many of the RGB Underglow functions
  docs/feature_rgblight.md
  quantum/rgblight.c
  quantum/rgblight.h
  quantum/rgblight_list.h
  tmk_core/common/avr/suspend.c
Labels: core, enhancement, optimization

#3080 Add bpruitt-goddard Ergodox Layout
  keyboards/ergodox_ez/keymaps/bpruitt-goddard/config.h
  keyboards/ergodox_ez/keymaps/bpruitt-goddard/keymap.c
  keyboards/ergodox_ez/keymaps/bpruitt-goddard/readme.md
  keyboards/ergodox_ez/keymaps/bpruitt-goddard/rules.mk
Labels: keymap

#3077 Switch to noeeprom variants of rgb fns
  keyboards/bigswitch/bigswitch.c
Labels: keyboard

#3078 qwerty_code_friendly: add numbers keys
  layouts/community/ergodox/qwerty_code_friendly/keymap.c
  layouts/community/ergodox/qwerty_code_friendly/readme.md
Labels: keymap

#3082 Updates to gordon keymaps
  keyboards/ergodox_infinity/keymaps/gordon/config.h
  keyboards/ergodox_infinity/keymaps/gordon/keymap.c
  keyboards/ergodox_infinity/keymaps/gordon/rules.mk
  users/gordon/gordon.c
  users/gordon/gordon.h
  users/gordon/rules.mk
Labels: keymap

#3075 info.json fix
  keyboards/pk60/info.json
Labels: keyboard

#3087 Add kuatsure map to preonic board
  keyboards/preonic/keymaps/kuatsure/config.h
  keyboards/preonic/keymaps/kuatsure/keymap.c
  keyboards/preonic/keymaps/kuatsure/readme.md
  keyboards/preonic/keymaps/kuatsure/rules.mk
  quantum/audio/song_list.h
  users/kuatsure/kuatsure.c
  users/kuatsure/kuatsure.h
  users/kuatsure/readme.md
  users/kuatsure/rules.mk
Labels: keymap

#3089 CA66 Backlighting FIx
  keyboards/ca66/ca66.h
  keyboards/ca66/config.h
  keyboards/ca66/rules.mk
Labels: keyboard

#2992 Updated matrix.c for some PS2AVRGB boards and templates for new_project script
  keyboards/canoe/canoe.c
  keyboards/canoe/matrix.c
  keyboards/iris/keymaps/krusli/README.md
  keyboards/iris/keymaps/krusli/config.h
  keyboards/iris/keymaps/krusli/keymap.c
  keyboards/iris/keymaps/krusli/rules.mk
  keyboards/jj40/matrix.c
  keyboards/mechmini/v1/matrix.c
  keyboards/mechmini/v1/v1.c
  keyboards/ps2avrGB/matrix.c
  keyboards/ps2avrGB/ps2avrGB.c
  quantum/template/ps2avrgb/matrix.c
Labels: enhancement, keyboard
