Repository qmk/qmk_firmware, pull requests merged in 2018-09, with the labels that each got.

#3770 add yshrsmz keymaps
  keyboards/ergo42/keymaps/yshrsmz/config.h
  keyboards/ergo42/keymaps/yshrsmz/keymap.c
  keyboards/ergo42/keymaps/yshrsmz/rules.mk
  keyboards/helix/rev2/keymaps/yshrsmz/config.h
  keyboards/helix/rev2/keymaps/yshrsmz/keymap.c
  keyboards/helix/rev2/keymaps/yshrsmz/readme.md
  keyboards/helix/rev2/keymaps/yshrsmz/rules.mk
  keyboards/lets_split/keymaps/yshrsmz/config.h
  keyboards/lets_split/keymaps/yshrsmz/keymap.c
  keyboards/lets_split/keymaps/yshrsmz/rules.mk
  keyboards/nyquist/keymaps/yshrsmz/config.h
  keyboards/nyquist/keymaps/yshrsmz/keymap.c
  keyboards/nyquist/keymaps/yshrsmz/rules.mk
Labels: keymap

#3825 added keys to broswen keymap
  keyboards/iris/keymaps/broswen/keymap.c
Labels: keymap

#3809 new planck keymap
  keyboards/planck/keymaps/vaire/config.h
  keyboards/planck/keymaps/vaire/keymap.c
  keyboards/planck/keymaps/vaire/readme.md
  keyboards/planck/keymaps/vaire/rules.mk
Labels: keyboard

#3830 Fix bad key label in ascii art
  keyboards/tokyo60/keymaps/default/keymap.c
Labels: keyboard, keymap

#3834 Added personal layout for FC660C
  keyboards/fc660c/keymaps/dbroqua/keymap.c
Labels: keymap

#3833 share my ortho_4x12 layout symbolic
  layouts/community/ortho_4x12/symbolic/README.md
  layouts/community/ortho_4x12/symbolic/config.h
  layouts/community/ortho_4x12/symbolic/keymap.c
Labels: keymap

#3798 Improvement of crkbd communication functions (based on helix-keyboard)
  keyboards/crkbd/config.h
  keyboards/crkbd/crkbd.h
  keyboards/crkbd/i2c.c
  keyboards/crkbd/i2c.h
  keyboards/crkbd/keymaps/default/keymap.c
  keyboards/crkbd/keymaps/default/rules.mk
  keyboards/crkbd/keymaps/like_jis/keymap.c
  keyboards/crkbd/keymaps/like_jis/rules.mk
  keyboards/crkbd/lib/host_led_state_reader.c
  keyboards/crkbd/lib/keylogger.c
  keyboards/crkbd/lib/layer_state_reader.c
  keyboards/crkbd/lib/logo_reader.c
  keyboards/crkbd/lib/mode_icon_reader.c
  keyboards/crkbd/lib/rgb_state_reader.c
  keyboards/crkbd/lib/timelogger.c
  keyboards/crkbd/pro_micro.h
  keyboards/crkbd/rev1/config.h
  keyboards/crkbd/rev1/matrix.c
  keyboards/crkbd/rev1/rev1.h
  keyboards/crkbd/rev1/rules.mk
  keyboards/crkbd/rev1/serial_config.h
  keyboards/crkbd/rev1/serial_config_simpleapi.h
  keyboards/crkbd/rev1/split_scomm.c
  keyboards/crkbd/rev1/split_scomm.h
  keyboards/crkbd/rev1/split_util.c
  keyboards/crkbd/rev1/split_util.h
  keyboards/crkbd/rules.mk
  keyboards/crkbd/serial.c
  keyboards/crkbd/serial.h
  keyboards/crkbd/ssd1306.c
  keyboards/crkbd/ssd1306.h
Labels: keyboard

#3829 Support for Diverge TM2 Keyboard
  keyboards/divergetm2/config.h
  keyboards/divergetm2/divergetm2.c
  keyboards/divergetm2/divergetm2.h
  keyboards/divergetm2/keymaps/default/config.h
  keyboards/divergetm2/keymaps/default/keymap.c
  keyboards/divergetm2/keymaps/default/readme.md
  keyboards/divergetm2/keymaps/default/rules.mk
  keyboards/divergetm2/keymaps/xtonhasvim/config.h
  keyboards/divergetm2/keymaps/xtonhasvim/keymap.c
  keyboards/divergetm2/keymaps/xtonhasvim/readme.md
  keyboards/divergetm2/keymaps/xtonhasvim/rules.mk
  keyboards/divergetm2/readme.md
  keyboards/divergetm2/rules.mk
Labels: keyboard

#3837 xtonhasvim Levinson
  keyboards/levinson/keymaps/xtonhasvim/config.h
  keyboards/levinson/keymaps/xtonhasvim/keymap.c
  keyboards/levinson/keymaps/xtonhasvim/readme.md
  keyboards/levinson/keymaps/xtonhasvim/rules.mk
Labels: keymap

#3841 Updates to keymaps
  keyboards/atreus62/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/readme.md
  keyboards/kinesis/keymaps/xyverz/rules.mk
Labels: keymap

#3842 Massdrop CTRL: add basic MacOS support
  keyboards/massdrop/ctrl/keymaps/mac/keymap.c
Labels: keymap

#3845 Fix #3844 when mouse keys are disabled
  tmk_core/common/action.c
Labels: bug, core

#3847 Added a keymap like a JIS keyboard for JJ40.
  keyboards/jj40/keymaps/like_jis/config.h
  keyboards/jj40/keymaps/like_jis/keymap.c
  keyboards/jj40/keymaps/like_jis/rules.mk
Labels: keymap

#3832 Create ISO HHKB keymapping for GH60
  keyboards/gh60/keymaps/emiilsd/keymap.c
Labels: keymap

#3835 mitosis:datagrok add layer select, more layouts
  keyboards/mitosis/keymaps/datagrok/config.h
  keyboards/mitosis/keymaps/datagrok/keymap.c
  keyboards/mitosis/keymaps/datagrok/readme.md
  keyboards/mitosis/keymaps/datagrok/rules.mk
  keyboards/mitosis/mitosis.c
  keyboards/mitosis/mitosis.h
Labels: keymap

#3851 KBD6x: formatting changes for readme and enable bootmagic
  keyboards/kbd6x/readme.md
  keyboards/kbd6x/rules.mk
Labels: keyboard

#3736 Add the ability to disable the USB startup check for Chibios
  docs/config_options.md
  tmk_core/protocol/chibios/main.c
Labels: core, enhancement

#3843 Add am keymap
  keyboards/planck/keymaps/am/config.h
  keyboards/planck/keymaps/am/keymap.c
  keyboards/planck/keymaps/am/readme.md
  keyboards/planck/keymaps/am/rules.mk
Labels: keymap

#3850 Add IBM 122-key Terminal keyboard and my Ergodox EZ keymap (Programmer's Dvorak + Gaming/QWERTY layer)
  keyboards/ergodox_ez/keymaps/lukaus/config.h
  keyboards/ergodox_ez/keymaps/lukaus/keymap.c
  keyboards/ergodox_ez/keymaps/lukaus/readme.md
  keyboards/ergodox_ez/keymaps/lukaus/rules.mk
  keyboards/handwired/ibm122m/config.h
  keyboards/handwired/ibm122m/ibm122m.c
  keyboards/handwired/ibm122m/ibm122m.h
  keyboards/handwired/ibm122m/info.json
  keyboards/handwired/ibm122m/keymaps/default/config.h
  keyboards/handwired/ibm122m/keymaps/default/keymap.c
  keyboards/handwired/ibm122m/keymaps/default/readme.md
  keyboards/handwired/ibm122m/keymaps/lukaus/config.h
  keyboards/handwired/ibm122m/keymaps/lukaus/keymap.c
  keyboards/handwired/ibm122m/keymaps/lukaus/readme.md
  keyboards/handwired/ibm122m/readme.md
  keyboards/handwired/ibm122m/rules.mk
Labels: keyboard, keymap

#3854 Keymap: mitosis/datagrok: bug fix
  keyboards/mitosis/keymaps/datagrok/keymap.c
Labels: keymap

#3855 Update personal keymap
  keyboards/levinson/keymaps/treadwell/config.h
  keyboards/levinson/keymaps/treadwell/keymap.c
Labels: keymap

#3858 Added new Marianas keymap for DZ60
  keyboards/dz60/keymaps/marianas/keymap.c
Labels: keymap

#3865 Add support for Quefrency 65% right half
  keyboards/quefrency/keymaps/default/keymap.c
  keyboards/quefrency/keymaps/default65/config.h
  keyboards/quefrency/keymaps/default65/keymap.c
  keyboards/quefrency/keymaps/default65/rules.mk
  keyboards/quefrency/rev1/config.h
  keyboards/quefrency/rev1/rev1.h
Labels: keyboard

#3853 Initial PR for contributing my ortho_4x12 community layout.
  layouts/community/ortho_4x12/mindsound/config.h
  layouts/community/ortho_4x12/mindsound/flicker.h
  layouts/community/ortho_4x12/mindsound/keymap.c
  layouts/community/ortho_4x12/mindsound/readme.md
  layouts/community/ortho_4x12/mindsound/rules.mk
Labels: keymap

#3864 Updated readmes for 1upkeyboards
  keyboards/1upkeyboards/1up60hse/readme.md
  keyboards/1upkeyboards/1up60rgb/readme.md
  keyboards/1upkeyboards/sweet16/readme.md
Labels: keyboard, needs doc

#3869 Add support for a different pinout for the right half of a split (num…
  quantum/split_common/matrix.c
Labels: enhancement

#3874 Adjusted keymaps for standardisation
  keyboards/satan/keymaps/hhkb_7u/keymap.c
  keyboards/satan/keymaps/hhkb_7u/readme.md
  keyboards/tokyo60/keymaps/swappedBottomRow/config.h
  keyboards/tokyo60/keymaps/swappedBottomRow/keymap.c
Labels: keymap

#3877 Fix typo in keymap_swedish.h
  quantum/keymap_extras/keymap_swedish.h
Labels: bug

#3861 Redox: add a new Colemak keymap, macOS oriented.
  keyboards/redox/keymaps/jeherve/config.h
  keyboards/redox/keymaps/jeherve/keymap.c
  keyboards/redox/keymaps/jeherve/readme.md
  keyboards/redox/keymaps/jeherve/rules.mk
Labels: keymap

#3776 Add manjaro asn arch-based distro
  util/linux_install.sh
Labels: enhancement

#3774 Fix installation for Linux Fedora
  util/linux_install.sh
Labels: enhancement, optimization

#3510 Backport fixes for GCC 8.1
  lib/lufa/Demos/Device/ClassDriver/DualVirtualSerial/DualVirtualSerial.c
  lib/lufa/Demos/Device/ClassDriver/VirtualSerial/VirtualSerial.c
  lib/lufa/Demos/Device/ClassDriver/VirtualSerialMassStorage/VirtualSerialMassStorage.c
  lib/lufa/Demos/Device/ClassDriver/VirtualSerialMouse/VirtualSerialMouse.c
  lib/lufa/LUFA/Drivers/USB/Class/Device/AudioClassDevice.c
  lib/lufa/LUFA/Drivers/USB/Class/Device/AudioClassDevice.h
  lib/lufa/LUFA/Drivers/USB/Class/Device/CDCClassDevice.c
  lib/lufa/LUFA/Drivers/USB/Class/Device/CDCClassDevice.h
  lib/lufa/LUFA/Drivers/USB/Class/Device/PrinterClassDevice.c
  lib/lufa/LUFA/Drivers/USB/Class/Device/PrinterClassDevice.h
  lib/lufa/LUFA/Drivers/USB/Class/Host/CDCClassHost.c
  lib/lufa/LUFA/Drivers/USB/Class/Host/CDCClassHost.h
  lib/lufa/LUFA/Drivers/USB/Core/Events.c
  lib/lufa/LUFA/Drivers/USB/Core/Events.h
Labels: core, enhancement

#3461 Fix RG Sleep issues for Teensy Controllers
  tmk_core/common/avr/suspend.c
Labels: enhancement

#3866 [WIP] Updated info.json for Duck Jetfire
  keyboards/duck/jetfire/info.json
Labels: keyboard

#3883 Add Contra keymap with QWERTY and COLEMAK Mod-DH
  keyboards/contra/keymaps/erovia/config.h
  keyboards/contra/keymaps/erovia/keymap.c
  keyboards/contra/keymaps/erovia/readme.md
  keyboards/contra/keymaps/erovia/rules.mk
Labels: keymap

#3887 Cleanups on the ergodox EZ / atreus dvorak 42 key layouts
  keyboards/ergodox_ez/keymaps/dvorak_42_key/keymap.c
Labels: keymap

#3889 TKC1800 smt keymap: Fix Dvorak mapping for left/right brace
  keyboards/tkc1800/keymaps/smt/keymap.c
Labels: keymap

#3890 ALT keymap update and LED driver brightness mismatch fix
  keyboards/massdrop/alt/keymaps/default/keymap.c
  keyboards/massdrop/alt/keymaps/mac/keymap.c
  tmk_core/protocol/arm_atsam/i2c_master.c
Labels: keyboard

#3891 Fixing Omnikey lock light issue
  keyboards/omnikey_blackheart/keymaps/default/keymap.c
Labels: keyboard

#3892 Alf Directory
  keyboards/alf/dc60/config.h
  keyboards/alf/dc60/dc60.c
  keyboards/alf/dc60/dc60.h
  keyboards/alf/dc60/info.json
  keyboards/alf/dc60/keymaps/default/config.h
  keyboards/alf/dc60/keymaps/default/keymap.c
  keyboards/alf/dc60/keymaps/default/readme.md
  keyboards/alf/dc60/readme.md
  keyboards/alf/dc60/rules.mk
  keyboards/alf/x2/config.h
  keyboards/alf/x2/info.json
  keyboards/alf/x2/keymaps/default/keymap.c
  keyboards/alf/x2/keymaps/hhkb_60/keymap.c
  keyboards/alf/x2/readme.md
  keyboards/alf/x2/rules.mk
  keyboards/alf/x2/x2.c
  keyboards/alf/x2/x2.h
  keyboards/alf_x2/alf_x2.c
  keyboards/alf_x2/readme.md
Labels: keyboard

#3879 Zeal60/Zeal65/M60-A implementation
  common_features.mk
  keyboards/rama/m60_a/config.h
  keyboards/rama/m60_a/info.json
  keyboards/rama/m60_a/keymaps/default/keymap.c
  keyboards/rama/m60_a/keymaps/proto/config.h
  keyboards/rama/m60_a/keymaps/proto/keymap.c
  keyboards/rama/m60_a/m60_a.c
  keyboards/rama/m60_a/m60_a.h
  keyboards/rama/m60_a/readme.md
  keyboards/rama/m60_a/rules.mk
  keyboards/zeal60/config.h
  keyboards/zeal60/info.json
  keyboards/zeal60/keymaps/ansi_split_bs_rshift/config.h
  keyboards/zeal60/keymaps/ansi_split_bs_rshift/keymap.c
  keyboards/zeal60/keymaps/default/config.h
  keyboards/zeal60/keymaps/default/keymap.c
  keyboards/zeal60/keymaps/hhkb/config.h
  keyboards/zeal60/keymaps/hhkb/keymap.c
  keyboards/zeal60/keymaps/iso/config.h
  keyboards/zeal60/keymaps/iso/keymap.c
  keyboards/zeal60/keymaps/ryanmaclean/config.h
  keyboards/zeal60/keymaps/ryanmaclean/keymap.c
  keyboards/zeal60/keymaps/tusing/Makefile
  keyboards/zeal60/keymaps/tusing/README.md
  keyboards/zeal60/keymaps/tusing/config.h
  keyboards/zeal60/keymaps/tusing/keymap.c
  keyboards/zeal60/readme.md
  keyboards/zeal60/rgb_backlight.c
  keyboards/zeal60/rgb_backlight.h
  keyboards/zeal60/rgb_backlight_api.h
  keyboards/zeal60/rgb_backlight_keycodes.h
  keyboards/zeal60/rules.mk
  keyboards/zeal60/zeal60.c
  keyboards/zeal60/zeal60.h
  keyboards/zeal60/zeal60_api.h
  keyboards/zeal60/zeal60_keycodes.h
  keyboards/zeal65/config.h
  keyboards/zeal65/info.json
  keyboards/zeal65/keymaps/default/config.h
  keyboards/zeal65/keymaps/default/keymap.c
  keyboards/zeal65/keymaps/split_bs/config.h
  keyboards/zeal65/keymaps/split_bs/keymap.c
  keyboards/zeal65/readme.md
  keyboards/zeal65/rules.mk
  keyboards/zeal65/zeal65.c
  keyboards/zeal65/zeal65.h
  quantum/dynamic_keymap.c
  quantum/dynamic_keymap.h
  tmk_core/common/avr/suspend.c
Labels: keyboard

#3912 docs/contributing: add `#pragma once` to Coding Conventions
  docs/contributing.md
Labels: needs doc

#3888 Grahampheath: telophase fix and keymaps
  keyboards/planck/keymaps/grahampheath/config.h
  layouts/community/ortho_4x12/grahampheath/config.h
  layouts/community/ortho_4x12/grahampheath/keymap.c
Labels: keymap

#3893 Add Lily58 Keyboard
  keyboards/lily58/config.h
  keyboards/lily58/i2c.c
  keyboards/lily58/i2c.h
  keyboards/lily58/keymaps/default/config.h
  keyboards/lily58/keymaps/default/keymap.c
  keyboards/lily58/keymaps/default/rules.mk
  keyboards/lily58/lily58.c
  keyboards/lily58/lily58.h
  keyboards/lily58/matrix.c
  keyboards/lily58/readme.md
  keyboards/lily58/rev1/config.h
  keyboards/lily58/rev1/rev1.c
  keyboards/lily58/rev1/rev1.h
  keyboards/lily58/rev1/rules.mk
  keyboards/lily58/rules.mk
  keyboards/lily58/serial.c
  keyboards/lily58/serial.h
  keyboards/lily58/serial_config.h
  keyboards/lily58/split_util.c
  keyboards/lily58/split_util.h
  keyboards/lily58/ssd1306.c
  keyboards/lily58/ssd1306.h
Labels: keyboard

#3894 A new alternative layout for planck
  keyboards/planck/keymaps/pascamel/config.h
  keyboards/planck/keymaps/pascamel/keymap.c
  keyboards/planck/keymaps/pascamel/readme.md
  keyboards/planck/keymaps/pascamel/rules.mk
Labels: keymap

#3909 dz60/macos_arrow: rev3
  keyboards/dz60/keymaps/macos_arrow/keymap.c
  keyboards/dz60/keymaps/macos_arrow/readme.md
Labels: keymap

#3904 Big switch config
  keyboards/bigswitch/bigswitch.c
  keyboards/bigswitch/keymaps/wanleg/config.h
  keyboards/bigswitch/keymaps/wanleg/keymap.c
  keyboards/bigswitch/keymaps/wanleg/rules.mk
  users/wanleg/tapdances.c
  users/wanleg/wanleg.h
Labels: keymap

#3918 Tada68 readme img
  keyboards/tada68/keymaps/pascamel/readme.md
Labels: keyboard

#3929 Fix LEADER_TIMEOUT docs.
  docs/feature_leader_key.md
Labels: needs doc

#3933 Create AG_TOGG code to toggle Alt/Gui swap.
  docs/feature_bootmagic.md
  docs/keycodes.md
  quantum/quantum.c
  quantum/quantum_keycodes.h
Labels: core, enhancement

#3928 dz60/macos_arrow: fix rev3 broken media layer
  keyboards/dz60/keymaps/macos_arrow/keymap.c
Labels: keymap

#3743 Fix pin numbers for Fractal keyboard
  keyboards/fractal/config.h
Labels: keyboard

#3900 Keyboard: add Keyboardio Model 01
  keyboards/model01/config.h
  keyboards/model01/info.json
  keyboards/model01/keymaps/default/config.h
  keyboards/model01/keymaps/default/keymap.c
  keyboards/model01/keymaps/default/readme.md
  keyboards/model01/keymaps/default/rules.mk
  keyboards/model01/leds.c
  keyboards/model01/leds.h
  keyboards/model01/matrix.c
  keyboards/model01/model01.c
  keyboards/model01/model01.h
  keyboards/model01/readme.md
  keyboards/model01/rules.mk
  keyboards/model01/wire-protocol-constants.h
Labels: keyboard

#3911 Added QMK support for GSKT-00
  keyboards/gskt00/config.h
  keyboards/gskt00/gskt00.c
  keyboards/gskt00/gskt00.h
  keyboards/gskt00/info.json
  keyboards/gskt00/keymaps/default/keymap.c
  keyboards/gskt00/keymaps/nachie/keymap.c
  keyboards/gskt00/readme.md
  keyboards/gskt00/rules.mk
  layouts/default/60_ansi_tsangan/default_60_ansi_tsangan/keymap.c
  layouts/default/60_ansi_tsangan/layout.json
  layouts/default/60_ansi_tsangan/readme.md
  layouts/default/60_iso_tsangan/default_60_iso_tsangan/keymap.c
  layouts/default/60_iso_tsangan/layout.json
  layouts/default/60_iso_tsangan/readme.md
Labels: keyboard

#3943 Fix the LAYOUT_iso macro for tada68
  keyboards/tada68/keymaps/iso-uk/keymap.c
  keyboards/tada68/tada68.h
Labels: keyboard

#3910 Talljoe's keymap for oddball keyboards.
  keyboards/atreus/keymaps/talljoe-atreus/config.h
  keyboards/atreus/keymaps/talljoe-atreus/keymap.c
  keyboards/atreus/keymaps/talljoe-atreus/rules.mk
  keyboards/gherkin/keymaps/talljoe-gherkin/config.h
  keyboards/gherkin/keymaps/talljoe-gherkin/keymap.c
  keyboards/gherkin/keymaps/talljoe-gherkin/rules.mk
  keyboards/jd45/keymaps/talljoe/config.h
  keyboards/jd45/keymaps/talljoe/keymap.c
  keyboards/tv44/keymaps/talljoe-minivan/config.h
  keyboards/tv44/keymaps/talljoe-minivan/keymap.c
  keyboards/tv44/keymaps/talljoe-minivan/rules.mk
  keyboards/zeal60/rules.mk
  layouts/community/60_ansi_split_bs_rshift/talljoe/keymap.c
  layouts/community/60_ansi_split_bs_rshift/talljoe/rules.mk
  layouts/community/60_ansi_split_bs_rshift/talljoe/solarized.c
  layouts/community/60_ansi_split_bs_rshift/talljoe/solarized.h
  users/talljoe/config.h
  users/talljoe/talljoe.c
  users/talljoe/talljoe.h
  users/talljoe/tapdance.c
Labels: keymap

#3920 meagerfindings ergodox
  layouts/community/ergodox/meagerfindings/README.md
  layouts/community/ergodox/meagerfindings/config.h
  layouts/community/ergodox/meagerfindings/keymap.c
  layouts/community/ergodox/meagerfindings/rules.mk
Labels: keymap

#3921 Add evil80 keyboard
  keyboards/evil80/config.h
  keyboards/evil80/evil80.c
  keyboards/evil80/evil80.h
  keyboards/evil80/info.json
  keyboards/evil80/keymaps/default/keymap.c
  keyboards/evil80/rules.mk
Labels: keyboard

#3924 Remove redefinition of `_______` in documentation example
  docs/keymap.md
Labels: discussion

#3942 Initial commit of dshields keymap for the model01 keyboard.
  keyboards/model01/keymaps/dshields/config.h
  keyboards/model01/keymaps/dshields/keymap.c
  keyboards/model01/keymaps/dshields/readme.md
  keyboards/model01/keymaps/dshields/rules.mk
Labels: keymap

#3946 Keyboard: Fix tada68:iso-nor to match latest ISO_layout
  keyboards/tada68/keymaps/iso-nor/keymap.c
Labels: keymap

#3907 Added Prime_L, Prime_O and Prime_M, moved Prime_R into primekb folder
  keyboards/primekb/prime_l/config.h
  keyboards/primekb/prime_l/info.json
  keyboards/primekb/prime_l/keymaps/default/config.h
  keyboards/primekb/prime_l/keymaps/default/keymap.c
  keyboards/primekb/prime_l/keymaps/default/readme.md
  keyboards/primekb/prime_l/prime_l.c
  keyboards/primekb/prime_l/prime_l.h
  keyboards/primekb/prime_l/readme.md
  keyboards/primekb/prime_l/rules.mk
  keyboards/primekb/prime_m/config.h
  keyboards/primekb/prime_m/info.json
  keyboards/primekb/prime_m/keymaps/default/config.h
  keyboards/primekb/prime_m/keymaps/default/keymap.c
  keyboards/primekb/prime_m/keymaps/default/readme.md
  keyboards/primekb/prime_m/prime_m.c
  keyboards/primekb/prime_m/prime_m.h
  keyboards/primekb/prime_m/readme.md
  keyboards/primekb/prime_m/rules.mk
  keyboards/primekb/prime_o/config.h
  keyboards/primekb/prime_o/info.json
  keyboards/primekb/prime_o/keymaps/default/config.h
  keyboards/primekb/prime_o/keymaps/default/keymap.c
  keyboards/primekb/prime_o/keymaps/default/readme.md
  keyboards/primekb/prime_o/prime_o.c
  keyboards/primekb/prime_o/prime_o.h
  keyboards/primekb/prime_o/readme.md
  keyboards/primekb/prime_o/rules.mk
  keyboards/primekb/prime_r/config.h
  keyboards/primekb/prime_r/info.json
  keyboards/primekb/prime_r/keymaps/default/config.h
  keyboards/primekb/prime_r/keymaps/default/keymap.c
  keyboards/primekb/prime_r/keymaps/default/readme.md
  keyboards/primekb/prime_r/keymaps/rooski/config.h
  keyboards/primekb/prime_r/keymaps/rooski/keymap.c
  keyboards/primekb/prime_r/keymaps/rooski/readme.md
  keyboards/primekb/prime_r/keymaps/rooski/rules.mk
  keyboards/primekb/prime_r/prime_r.c
  keyboards/primekb/prime_r/prime_r.h
  keyboards/primekb/prime_r/readme.md
  keyboards/primekb/prime_r/rules.mk
Labels: keyboard

#3958 Arkag Userspace and MechMini2 Layout
  keyboards/mechmini/v2/keymaps/arkag/config.h
  keyboards/mechmini/v2/keymaps/arkag/keymap.c
  keyboards/mechmini/v2/keymaps/arkag/rules.mk
  users/arkag/arkag.c
  users/arkag/arkag.h
  users/arkag/config.h
  users/arkag/readme.md
  users/arkag/rules.mk
Labels: keymap

#3961 New Keyboard: Panc60
  keyboards/panc60/config.h
  keyboards/panc60/i2c.c
  keyboards/panc60/i2c.h
  keyboards/panc60/info.json
  keyboards/panc60/keymaps/default/config.h
  keyboards/panc60/keymaps/default/keymap.c
  keyboards/panc60/keymaps/default/readme.md
  keyboards/panc60/matrix.c
  keyboards/panc60/panc60.c
  keyboards/panc60/panc60.h
  keyboards/panc60/readme.md
  keyboards/panc60/rules.mk
  keyboards/panc60/usbconfig.h
Labels: keyboard

#3967 Hp 46010A converter
  keyboards/converter/hp_46010a/config.h
  keyboards/converter/hp_46010a/hp_46010a.c
  keyboards/converter/hp_46010a/hp_46010a.h
  keyboards/converter/hp_46010a/info.json
  keyboards/converter/hp_46010a/keymaps/default/keymap.c
  keyboards/converter/hp_46010a/matrix.c
  keyboards/converter/hp_46010a/readme.md
  keyboards/converter/hp_46010a/rules.mk
Labels: keyboard

#3970 Crkbd: move I2C and Serial defines to keyboard's config.h
  keyboards/crkbd/config.h
  keyboards/crkbd/keymaps/default/config.h
  keyboards/crkbd/keymaps/like_jis/config.h
Labels: keyboard

#3971 Crkbd: Configurator support and readme formatting
  keyboards/crkbd/info.json
  keyboards/crkbd/readme.md
Labels: keyboard

#3978 DZ60 Bug: layout_directional is shifted to the left by one
  keyboards/dz60/dz60.h
Labels: keyboard

#3896 My planck keymap
  keyboards/planck/keymaps/jetpacktuxedo/config.h
  keyboards/planck/keymaps/jetpacktuxedo/keymap.c
  keyboards/planck/keymaps/jetpacktuxedo/rules.mk
Labels: keymap

#3926 FollowingGhosts v60r layout
  keyboards/v60_type_r/keymaps/followingghosts/config.h
  keyboards/v60_type_r/keymaps/followingghosts/keymap.c
  keyboards/v60_type_r/keymaps/followingghosts/readme.md
  keyboards/v60_type_r/keymaps/followingghosts/rules.mk
Labels: keymap

#3922 Pin avr-gcc in shell.nix pending release of 8.3.0
  shell.nix
  util/linux_install.sh
Labels: enhancement

#3935 Create: Key map: Ergo42: biacco-winjp
  keyboards/ergo42/keymaps/biacco-winjp/config.h
  keyboards/ergo42/keymaps/biacco-winjp/keymap.c
Labels: keymap

#3974 Velocikey implemented at userspace, readme is more helpful
  keyboards/mechmini/v2/keymaps/arkag/keymap.c
  users/arkag/arkag.c
  users/arkag/arkag.h
  users/arkag/mechmini2.jpg
  users/arkag/readme.md
Labels: keymap

#3976 4x4 pro micro
  keyboards/4x4/4x4.h
  layouts/community/ortho_4x12/wanleg/config.h
  layouts/community/ortho_4x12/wanleg/keymap.c
  users/wanleg/rules.mk
  users/wanleg/tapdances.c
  users/wanleg/wanleg.c
  users/wanleg/wanleg.h
Labels: keyboard, keymap

#3979 Remove BACKLIGHT BREATHING as default config
  keyboards/primekb/prime_l/config.h
  keyboards/primekb/prime_m/config.h
  keyboards/primekb/prime_o/config.h
Labels: keyboard

#3964 version 1
  keyboards/iris/keymaps/saviof/config.h
  keyboards/iris/keymaps/saviof/keymap.c
  keyboards/iris/keymaps/saviof/rules.mk
Labels: keymap

#3965 Keymap: Add Koba's keymap for Ergo42.
  keyboards/ergo42/keymaps/koba/config.h
  keyboards/ergo42/keymaps/koba/keymap.c
  keyboards/ergo42/keymaps/koba/readme.md
  keyboards/ergo42/keymaps/koba/readme_ja.md
Labels: keymap

#3985 Crkbd stands for Corne Keyboard, not helidox
  keyboards/crkbd/info.json
Labels: keyboard

#3977 Moves animation calculation logic out of the for loops
  quantum/rgb_matrix.c
Labels: core, enhancement

#3987 Bugfix for 60_ansi_tsangan and 60_iso_tsangan layouts
  layouts/default/60_ansi_tsangan/default_60_ansi_tsangan/keymap.c
  layouts/default/60_iso_tsangan/default_60_iso_tsangan/keymap.c
Labels: keymap

#3913 RGB Matrix refactoring to open up for new drivers
  common_features.mk
  drivers/issi/is31fl3731.c
  drivers/issi/is31fl3733.c
  keyboards/ergodox_ez/rules.mk
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
  quantum/rgb_matrix_drivers.c
Labels: core, enhancement

#3925 RAMA U80-A, wilba.tech WT60-A, WT65-A, WT80-A, IS31FL3736 driver
  drivers/issi/is31fl3736.c
  drivers/issi/is31fl3736.h
  keyboards/rama/readme.md
  keyboards/rama/u80_a/config.h
  keyboards/rama/u80_a/info.json
  keyboards/rama/u80_a/keymaps/default/keymap.c
  keyboards/rama/u80_a/readme.md
  keyboards/rama/u80_a/rules.mk
  keyboards/rama/u80_a/u80_a.c
  keyboards/rama/u80_a/u80_a.h
  keyboards/wilba_tech/wt60_a/config.h
  keyboards/wilba_tech/wt60_a/info.json
  keyboards/wilba_tech/wt60_a/keymaps/ansi_split_bs_rshift/keymap.c
  keyboards/wilba_tech/wt60_a/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_a/readme.md
  keyboards/wilba_tech/wt60_a/rules.mk
  keyboards/wilba_tech/wt60_a/wt60_a.c
  keyboards/wilba_tech/wt60_a/wt60_a.h
  keyboards/wilba_tech/wt65_a/config.h
  keyboards/wilba_tech/wt65_a/info.json
  keyboards/wilba_tech/wt65_a/keymaps/default/keymap.c
  keyboards/wilba_tech/wt65_a/readme.md
  keyboards/wilba_tech/wt65_a/rules.mk
  keyboards/wilba_tech/wt65_a/wt65_a.c
  keyboards/wilba_tech/wt65_a/wt65_a.h
  keyboards/wilba_tech/wt80_a/config.h
  keyboards/wilba_tech/wt80_a/info.json
  keyboards/wilba_tech/wt80_a/keymaps/default/keymap.c
  keyboards/wilba_tech/wt80_a/readme.md
  keyboards/wilba_tech/wt80_a/rules.mk
  keyboards/wilba_tech/wt80_a/wt80_a.c
  keyboards/wilba_tech/wt80_a/wt80_a.h
  keyboards/wilba_tech/wt_main.c
  keyboards/wilba_tech/wt_mono_backlight.c
  keyboards/wilba_tech/wt_mono_backlight.h
Labels: discussion, enhancement

#3983 Clean-up of dshields keymaps.
  keyboards/model01/keymaps/dshields/config.h
  keyboards/model01/keymaps/dshields/rules.mk
  keyboards/planck/keymaps/dshields/config.h
  keyboards/planck/keymaps/dshields/keymap.c
Labels: keymap

#3956 Treat too-large firmwares as an error, not a warning
  message.mk
  tmk_core/rules.mk
Labels: enhancement

#3982 [Fortitude60] LED fix and Serial improvement
  keyboards/fortitude60/config.h
  keyboards/fortitude60/keymaps/default/config.h
  keyboards/fortitude60/keymaps/default/keymap.c
  keyboards/fortitude60/keymaps/default/rules.mk
  keyboards/fortitude60/rev1/config.h
  keyboards/fortitude60/rev1/rules.mk
  keyboards/fortitude60/serial.c
  keyboards/fortitude60/serial.h
  keyboards/fortitude60/serial_config.h
Labels: keyboard

#3990 add clicky support to my keymap
  keyboards/planck/keymaps/jetpacktuxedo/config.h
  keyboards/planck/keymaps/jetpacktuxedo/keymap.c
Labels: keymap

#3991 Make Audio Clicky's randomness a float
  quantum/process_keycode/process_clicky.c
Labels: enhancement

#3986 add 'mavrdude' target into tmk_core/avr.mk
  docs/flashing.md
  tmk_core/avr.mk
Labels: enhancement

#3989 keyboardio model01: rgbmatrix support
  keyboards/model01/config.h
  keyboards/model01/keymaps/default/keymap.c
  keyboards/model01/leds.c
  keyboards/model01/leds.h
  keyboards/model01/rules.mk
  quantum/rgb_matrix.c
Labels: keyboard

#3972 Improved dynamic keymaps
  keyboards/zeal60/zeal60.c
  keyboards/zeal60/zeal60_api.h
  quantum/dynamic_keymap.c
  quantum/dynamic_keymap.h
Labels: enhancement

#4002 Optimize size of JC65/v32a keyboard
  keyboards/jc65/v32a/config.h
  keyboards/jc65/v32a/rules.mk
Labels: keyboard

#4001 Optimize size of Hadron keyboard
  keyboards/hadron/config.h
  keyboards/hadron/keymaps/default/rules.mk
  keyboards/hadron/rules.mk
  keyboards/hadron/ver0/config.h
  keyboards/hadron/ver2/config.h
  keyboards/hadron/ver2/rules.mk
Labels: keyboard

#4004 Optimize size of Vitamins_Included keyboard
  keyboards/vitamins_included/config.h
  keyboards/vitamins_included/keymaps/default/config.h
  keyboards/vitamins_included/keymaps/default/keymap.c
  keyboards/vitamins_included/keymaps/default/rules.mk
  keyboards/vitamins_included/rules.mk
Labels: keyboard

#4003 Optimize size of Pearl keyboard
  keyboards/pearl/config.h
Labels: keyboard

#4000 Optimize size of USB_USB BLE Converter
  keyboards/converter/usb_usb/ble/config.h
  keyboards/converter/usb_usb/ble/rules.mk
Labels: keyboard, optimization

#4006 Update Document Templates to reflect newer wording and URLs
  docs/documentation_templates.md
Labels: needs doc

#4005 Update to the Userspace documentation
  docs/feature_userspace.md
Labels: needs doc

#3968 Update quantum matrix to support both AVR and Chibios ARM
  docs/internals_gpio_control.md
  quantum/config_common.h
  quantum/matrix.c
  quantum/quantum.h
Labels: core, enhancement, optimization

#4012 Clicky frequency modulation
  keyboards/planck/keymaps/jetpacktuxedo/keymap.c
Labels: keymap

#4014 Fix RGB Matrix feature processing in common_features.mk
  common_features.mk
Labels: bug

#3899 add st-link_cli flashing
  tmk_core/chibios.mk
Labels: enhancement

#3973 Massdrop keyboard updates for SEND_STRING, syscalls, stdio, debug prints, Auto Shift
  keyboards/massdrop/alt/alt.h
  keyboards/massdrop/alt/keymaps/default/keymap.c
  keyboards/massdrop/alt/keymaps/mac/keymap.c
  keyboards/massdrop/alt/rules.mk
  keyboards/massdrop/ctrl/ctrl.h
  keyboards/massdrop/ctrl/keymaps/default/keymap.c
  keyboards/massdrop/ctrl/keymaps/mac/keymap.c
  keyboards/massdrop/ctrl/rules.mk
  lib/arm_atsam/packs/atmel/SAMD51_DFP/1.0.70/gcc/gcc/samd51j18a_flash.ld
  tmk_core/arm_atsam.mk
  tmk_core/common/arm_atsam/printf.h
  tmk_core/common/print.h
  tmk_core/protocol/arm_atsam.mk
  tmk_core/protocol/arm_atsam/arm_atsam_protocol.h
  tmk_core/protocol/arm_atsam/d51_util.h
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/arm_atsam/usb/spfssf.c
  tmk_core/protocol/arm_atsam/usb/spfssf.h
  tmk_core/protocol/arm_atsam/usb/udi_cdc.c
  tmk_core/protocol/arm_atsam/usb/udi_cdc.h
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.c
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.h
Labels: core, enhancement

#4017 converter/hp_46010a: Configurator support
  keyboards/converter/hp_46010a/info.json
Labels: keyboard

#4019 tada68: add shalzz's layout
  keyboards/tada68/keymaps/shalzz/config.h
  keyboards/tada68/keymaps/shalzz/keymap.c
  keyboards/tada68/keymaps/shalzz/readme.md
  keyboards/tada68/keymaps/shalzz/rules.mk
Labels: keymap

#4023 Helix led_test keymap reduce size
  keyboards/helix/config.h
  keyboards/helix/rev2/keymaps/default/keymap.c
  keyboards/helix/rev2/keymaps/led_test/config.h
  keyboards/helix/rev2/keymaps/led_test/led_test_init.c
Labels: keyboard, keymap

#4024 converter/hp_46010a: rename layout macro to LAYOUT
  keyboards/converter/hp_46010a/hp_46010a.h
Labels: keyboard

#4020 Add basic support for the YD68 / YD68v2 PCBs.
  keyboards/yd68/config.h
  keyboards/yd68/info.json
  keyboards/yd68/keymaps/default/config.h
  keyboards/yd68/keymaps/default/keymap.c
  keyboards/yd68/keymaps/default/readme.md
  keyboards/yd68/readme.md
  keyboards/yd68/rules.mk
  keyboards/yd68/yd68.c
  keyboards/yd68/yd68.h
Labels: keyboard

#4027 Update info.json to match LAYOUT
  keyboards/mf68/info.json
  keyboards/mf68_ble/info.json
Labels: keyboard

#4025 Added Leader Key Functionality
  keyboards/mechmini/v2/keymaps/arkag/config.h
  keyboards/mechmini/v2/keymaps/arkag/keymap.c
  keyboards/mechmini/v2/keymaps/arkag/rules.mk
  users/arkag/arkag.c
  users/arkag/config.h
Labels: keymap

#4030 Zeal60: Fix getting backlight values "id_*_indicator_row_col"
  keyboards/zeal60/rgb_backlight.c
Labels: keyboard

#3884 Add ErgoDone keymap with QWERTY and COLEMAK Mod-DH
  keyboards/ergodone/keymaps/erovia/config.h
  keyboards/ergodone/keymaps/erovia/keymap.c
  keyboards/ergodone/keymaps/erovia/readme.md
  keyboards/ergodone/keymaps/erovia/rules.mk
Labels: keymap

#4031 olligranlund Iris + satan layouts
  keyboards/iris/keymaps/olligranlund_nordic/config.h
  keyboards/iris/keymaps/olligranlund_nordic/keymap.c
  keyboards/iris/keymaps/olligranlund_nordic/readme.md
  keyboards/iris/keymaps/olligranlund_nordic/rules.mk
  keyboards/satan/keymaps/olligranlund_iso/config.h
  keyboards/satan/keymaps/olligranlund_iso/keymap.c
  keyboards/satan/keymaps/olligranlund_iso/readme.md
  keyboards/satan/keymaps/olligranlund_iso/rules.mk
Labels: keymap
