Repository qmk/qmk_firmware, pull requests merged in 2018-07, with the labels that each got.

#3270 Helix fix configrator problem
  keyboards/helix/info.json
  keyboards/helix/rev1/info.json
  keyboards/helix/rev2/config.h
  keyboards/helix/rev2/info.json
Labels: keyboard

#3271 Mitosis refactor and Configurator support
  keyboards/mitosis/info.json
  keyboards/mitosis/keymaps/carvac_dv/keymap.c
  keyboards/mitosis/keymaps/datagrok/keymap.c
  keyboards/mitosis/keymaps/default/keymap.c
  keyboards/mitosis/keymaps/mjt/keymap.c
  keyboards/mitosis/keymaps/nzen/keymap.c
  keyboards/mitosis/keymaps/nzen/readme.md
  keyboards/mitosis/mitosis.h
Labels: keyboard

#3273 Miuni32 refactor and Configurator support
  keyboards/miuni32/info.json
  keyboards/miuni32/keymaps/adam-lee/keymap.c
  keyboards/miuni32/keymaps/default/keymap.c
  keyboards/miuni32/keymaps/ht_156/keymap.c
  keyboards/miuni32/keymaps/ki/keymap.c
  keyboards/miuni32/miuni32.h
  keyboards/miuni32/readme.md
Labels: keyboard

#3274 Helix five rows jis
  keyboards/helix/rev2/keymaps/five_rows_jis/config.h
  keyboards/helix/rev2/keymaps/five_rows_jis/keymap.c
  keyboards/helix/rev2/keymaps/five_rows_jis/readme.md
  keyboards/helix/rev2/keymaps/five_rows_jis/readme_jp.md
  keyboards/helix/rev2/keymaps/five_rows_jis/rules.mk
Labels: keymap

#3275 Nano refactor and Configurator update
  keyboards/nano/info.json
  keyboards/nano/keymaps/default/keymap.c
  keyboards/nano/nano.h
Labels: keyboard

#3276 Novelpad refactor and Configurator support
  keyboards/novelpad/info.json
  keyboards/novelpad/keymaps/default/keymap.c
  keyboards/novelpad/novelpad.h
  keyboards/novelpad/readme.md
  keyboards/novelpad/rules.mk
Labels: keyboard

#3278 Nyquist Configurator support and keymap refactor
  keyboards/nyquist/info.json
  keyboards/nyquist/keymaps/333fred/keymap.c
  keyboards/nyquist/keymaps/DivergeJM/keymap.c
  keyboards/nyquist/keymaps/danielhklein/keymap.c
  keyboards/nyquist/keymaps/default/keymap.c
  keyboards/nyquist/keymaps/hexwire/keymap.c
  keyboards/nyquist/keymaps/jojiichan/keymap.c
  keyboards/nyquist/keymaps/kim-kim/keymap.c
  keyboards/nyquist/keymaps/pitty/keymap.c
Labels: keyboard

#3279 OK60 Refactor and Configurator support
  keyboards/ok60/info.json
  keyboards/ok60/keymaps/default/keymap.c
  keyboards/ok60/keymaps/ebrowncross/keymap.c
  keyboards/ok60/ok60.h
  keyboards/ok60/readme.md
Labels: keyboard

#3280 Omnikey Blackheart refactor
  keyboards/omnikey_blackheart/info.json
  keyboards/omnikey_blackheart/keymaps/default/keymap.c
  keyboards/omnikey_blackheart/omnikey_blackheart.h
  keyboards/omnikey_blackheart/readme.md
Labels: keyboard

#3282 Helix default to 5rows
  keyboards/helix/helix.h
Labels: keyboard

#3283 qwerty_code_friendly: update for renamed macro
  layouts/community/ergodox/qwerty_code_friendly/keymap.c
Labels: keymap

#3284 Fixed pin for RGB
  keyboards/lets_split/sockets/config.h
Labels: keyboard

#3299 Addition of hard brigtness limit for RGB_Matrix
  docs/feature_rgb_matrix.md
  keyboards/hs60/config.h
  quantum/rgb_matrix.c
Labels: core, enhancement

#3229 Adds I2C timeout and return values, adds support for future RGB Ergodox EZ
  drivers/avr/i2c_master.c
  drivers/avr/i2c_master.h
  drivers/avr/is31fl3731.c
  keyboards/ergodox_ez/config.h
  keyboards/ergodox_ez/ergodox_ez.c
  keyboards/ergodox_ez/ergodox_ez.h
  keyboards/ergodox_ez/matrix.c
  keyboards/ergodox_ez/rules.mk
  quantum/quantum.c
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
Labels: core, enhancement, keyboard

#3297 Add Dynamic Macro Toggle using Tap Dance
  keyboards/xd75/keymaps/dyn_macro_tap_dance/config.h
  keyboards/xd75/keymaps/dyn_macro_tap_dance/keymap.c
  keyboards/xd75/keymaps/dyn_macro_tap_dance/readme.md
  keyboards/xd75/keymaps/dyn_macro_tap_dance/rules.mk
Labels: keymap

#3287 Play Keyboard 60 refactor and Configurator update
  keyboards/playkbtw/pk60/info.json
  keyboards/playkbtw/pk60/keymaps/default/keymap.c
  keyboards/playkbtw/pk60/pk60.h
  keyboards/playkbtw/pk60/rules.mk
Labels: keyboard

#3288 Add QMK DFU bootloader configuration to planck/dshields keymap.
  keyboards/planck/keymaps/dshields/config.h
  keyboards/planck/keymaps/dshields/rules.mk
Labels: keymap

#3289 Prime_R refactor and Configurator support
  keyboards/prime_r/info.json
  keyboards/prime_r/keymaps/default/keymap.c
  keyboards/prime_r/keymaps/rooski/keymap.c
  keyboards/prime_r/prime_r.h
Labels: keyboard

#3290 Redox Configurator support
  keyboards/redox/info.json
Labels: keyboard

#3292 Update Helix 'led_test' keymap
  keyboards/helix/rev2/keymaps/default/keymap.c
  keyboards/helix/rev2/keymaps/led_test/keymap.c
  keyboards/helix/rev2/keymaps/led_test/led_test_init.c
  keyboards/helix/rev2/keymaps/led_test/rgblight.c
  keyboards/helix/rev2/keymaps/led_test/rgblight.h
  keyboards/helix/rev2/keymaps/led_test/rules.mk
Labels: keymap

#3294 Some updates to my minivan keymap
  keyboards/tv44/keymaps/jetpacktuxedo/keymap.c
  keyboards/tv44/keymaps/jetpacktuxedo/rules.mk
Labels: keymap

#3295 turn on permissive hold for my keymap
  keyboards/amj40/keymaps/jetpacktuxedo/config.h
Labels: keymap

#3296 Add dz60_macos_arrow keymap
  keyboards/dz60/keymaps/macos_arrow/config.h
  keyboards/dz60/keymaps/macos_arrow/keymap.c
  keyboards/dz60/keymaps/macos_arrow/readme.md
Labels: keymap

#3298 sync the left and right backlight led control
  keyboards/ergodash/matrix.c
  keyboards/ergodash/rev2/config.h
Labels: keyboard

#3303 Roadkit refactor and Configurator support
  keyboards/roadkit/info.json
  keyboards/roadkit/keymaps/default/keymap.c
  keyboards/roadkit/keymaps/flipphone/keymap.c
  keyboards/roadkit/keymaps/khord/keymap.c
  keyboards/roadkit/keymaps/mjt/keymap.c
  keyboards/roadkit/keymaps/singles/keymap.c
  keyboards/roadkit/keymaps/singlesBrent/keymap.c
  keyboards/roadkit/roadkit.h
  keyboards/roadkit/rules.mk
Labels: keyboard

#3304 S60-X refactor and Configurator support
  keyboards/s60_x/default/default.h
  keyboards/s60_x/default/info.json
  keyboards/s60_x/keymaps/custom/keymap.c
  keyboards/s60_x/keymaps/default/keymap.c
  keyboards/s60_x/keymaps/default_rgb/keymap.c
  keyboards/s60_x/keymaps/hasu/keymap.c
  keyboards/s60_x/keymaps/hhkb/keymap.c
  keyboards/s60_x/keymaps/iso/keymap.c
  keyboards/s60_x/keymaps/jpec/keymap.c
  keyboards/s60_x/keymaps/plain/keymap.c
  keyboards/s60_x/keymaps/poker/keymap.c
  keyboards/s60_x/keymaps/poker_bit/keymap.c
  keyboards/s60_x/keymaps/poker_set/keymap.c
  keyboards/s60_x/keymaps/spacefn/keymap.c
  keyboards/s60_x/rgb/info.json
  keyboards/s60_x/rgb/rgb.h
  keyboards/s60_x/rules.mk
Labels: keyboard

#3305 Satan refactor and Configurator support
  keyboards/satan/info.json
  keyboards/satan/keymaps/addcninblue/keymap.c
  keyboards/satan/keymaps/admiralStrokers/keymap.c
  keyboards/satan/keymaps/admiralStrokers/readme.md
  keyboards/satan/keymaps/ben_iso/keymap.c
  keyboards/satan/keymaps/bri/keymap.c
  keyboards/satan/keymaps/chaser/keymap.c
  keyboards/satan/keymaps/colemak/keymap.c
  keyboards/satan/keymaps/dbroqua/keymap.c
  keyboards/satan/keymaps/default/keymap.c
  keyboards/satan/keymaps/dende_iso/keymap.c
  keyboards/satan/keymaps/denolfe/keymap.c
  keyboards/satan/keymaps/dkrieger/keymap.c
  keyboards/satan/keymaps/fakb/keymap.c
  keyboards/satan/keymaps/isoHHKB/keymap.c
  keyboards/satan/keymaps/isoHHKB/readme.md
  keyboards/satan/keymaps/isoHHKB/stunny_iso_hhkb.h
  keyboards/satan/keymaps/iso_split_rshift/keymap.c
  keyboards/satan/keymaps/mark1/keymap.c
  keyboards/satan/keymaps/midi/keymap.c
  keyboards/satan/keymaps/poker/keymap.c
  keyboards/satan/keymaps/rask63/keymap.c
  keyboards/satan/keymaps/sethbc/keymap.c
  keyboards/satan/keymaps/smt/keymap.c
  keyboards/satan/keymaps/stanleylai/keymap.c
  keyboards/satan/keymaps/unxmaal/keymap.c
  keyboards/satan/readme.md
  keyboards/satan/satan.h
Labels: keyboard

#3307 QMK Configurator support for Maxipad
  keyboards/maxipad/info.json
  keyboards/maxipad/keymaps/default/keymap.c
  keyboards/maxipad/maxipad.h
  keyboards/maxipad/readme.md
Labels: keyboard

#3308 The Ruler QMK Configurator Support
  keyboards/the_ruler/info.json
  keyboards/the_ruler/keymaps/default/keymap.c
  keyboards/the_ruler/the_ruler.h
Labels: keyboard

#3309 Speedo refactor and Configurator support
  keyboards/speedo/info.json
  keyboards/speedo/keymaps/default/keymap.c
  keyboards/speedo/readme.md
  keyboards/speedo/speedo.h
Labels: keyboard

#3310 Tanuki Configurator support
  keyboards/tanuki/info.json
Labels: keyboard

#3312 defaulted to 5 rows when HELIX_ROWS is not defined
  keyboards/helix/rev2/rev2.h
Labels: keyboard

#3314 Tomato refactor and Configurator support
  keyboards/tomato/info.json
  keyboards/tomato/keymaps/default/keymap.c
  keyboards/tomato/rules.mk
  keyboards/tomato/tomato.h
Labels: keyboard

#3315 Updates to my keymaps
  keyboards/clueboard/keymaps/xyverz/config.h
  keyboards/fourier/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/stapelberg/stapelberg.c
  keyboards/preonic/keymaps/seph/config.h
  keyboards/preonic/keymaps/seph/keymap.c
  keyboards/preonic/keymaps/seph/rules.mk
  layouts/community/ortho_4x12/xyverz/config.h
  layouts/community/ortho_5x12/xyverz/rules.mk
Labels: keymap

#3301 KC60 SE Support
  keyboards/kc60se/config.h
  keyboards/kc60se/info.json
  keyboards/kc60se/kc60se.c
  keyboards/kc60se/kc60se.h
  keyboards/kc60se/keymaps/default/config.h
  keyboards/kc60se/keymaps/default/keymap.c
  keyboards/kc60se/keymaps/default/readme.md
  keyboards/kc60se/readme.md
  keyboards/kc60se/rules.mk
Labels: keyboard

#3319 Cospad QMK Configurator support and refactor
  keyboards/cospad/cospad.h
  keyboards/cospad/info.json
  keyboards/cospad/keymaps/default/keymap.c
Labels: keyboard

#3323 Fix hyperlinks in ErgoDone readme.md
  keyboards/ergodone/readme.md
Labels: keyboard

#3320 Add documentation for TAPPING_FORCE_HOLD (#2957)
  docs/config_options.md
  docs/feature_advanced_keycodes.md
Labels: enhancement, needs doc

#3322 Adding FireBazooka's Tada68 Keymap
  keyboards/tada68/keymaps/bazooka/config.h
  keyboards/tada68/keymaps/bazooka/keymap.c
  keyboards/tada68/keymaps/bazooka/readme.md
  keyboards/tada68/keymaps/bazooka/rules.mk
Labels: keymap

#3324 E6-V2 Last Edition (LE) Support
  keyboards/e6v2/e6v2.c
  keyboards/e6v2/e6v2.h
  keyboards/e6v2/keymaps/amnesia0287/config.h
  keyboards/e6v2/keymaps/amnesia0287/rules.mk
  keyboards/e6v2/keymaps/default/config.h
  keyboards/e6v2/keymaps/default/rules.mk
  keyboards/e6v2/le/config.h
  keyboards/e6v2/le/info.json
  keyboards/e6v2/le/le.c
  keyboards/e6v2/le/le.h
  keyboards/e6v2/le/readme.md
  keyboards/e6v2/le/rules.mk
  keyboards/e6v2/oe/config.h
  keyboards/e6v2/oe/info.json
  keyboards/e6v2/oe/keymaps/amnesia0287/keymap.c
  keyboards/e6v2/oe/keymaps/amnesia0287/readme.md
  keyboards/e6v2/oe/keymaps/default/keymap.c
  keyboards/e6v2/oe/keymaps/default/readme.md
  keyboards/e6v2/oe/oe.c
  keyboards/e6v2/oe/oe.h
  keyboards/e6v2/oe/readme.md
  keyboards/e6v2/oe/rules.mk
  keyboards/e6v2/readme.md
  keyboards/e6v2/rules.mk
Labels: keyboard

#3328 impstyle keymap updated
  keyboards/iris/keymaps/impstyle/keymap.c
Labels: keymap

#3326 E6V2 LE Missing a Default Keymap
  keyboards/e6v2/le/keymaps/default/keymap.c
  keyboards/e6v2/le/le.h
Labels: keyboard

#3330 True AL1 Support
  keyboards/al1/al1.c
  keyboards/al1/al1.h
  keyboards/al1/config.h
  keyboards/al1/info.json
  keyboards/al1/keymaps/default/keymap.c
  keyboards/al1/keymaps/default/readme.md
  keyboards/al1/keymaps/splitbs/keymap.c
  keyboards/al1/matrix.c
  keyboards/al1/readme.md
  keyboards/al1/rules.mk
Labels: keyboard

#3317 Tetris Configurator support and Rules update
  keyboards/tetris/info.json
  keyboards/tetris/keymaps/default/keymap.c
  keyboards/tetris/keymaps/default/rules.mk
  keyboards/tetris/rules.mk
Labels: keyboard

#3331 Whitefox Formatting
  keyboards/whitefox/config.h
  keyboards/whitefox/info.json
  keyboards/whitefox/keymaps/default/keymap.c
  keyboards/whitefox/keymaps/dudeofawesome/keymap.c
  keyboards/whitefox/keymaps/jetpacktuxedo/keymap.c
  keyboards/whitefox/keymaps/kim-kim/keymap.c
  keyboards/whitefox/keymaps/matt3o/keymap.c
  keyboards/whitefox/readme.md
Labels: keyboard

#3332 COD67 "Support"
  keyboards/cod67/cod67.c
  keyboards/cod67/cod67.h
  keyboards/cod67/config.h
  keyboards/cod67/info.json
  keyboards/cod67/keymaps/default/keymap.c
  keyboards/cod67/keymaps/default/readme.md
  keyboards/cod67/readme.md
  keyboards/cod67/rules.mk
Labels: in progress, keyboard

#3334 Fixed the behavior of a custom key on the Iris keyboard's edvorakjp layout.
  keyboards/iris/keymaps/edvorakjp/keymap.c
  keyboards/iris/keymaps/edvorakjp/readme.md
Labels: keymap

#3336 Added my Balance 12 layout for Atreus
  keyboards/atreus/keymaps/yttyx/README.md
  keyboards/atreus/keymaps/yttyx/config.h
  keyboards/atreus/keymaps/yttyx/keymap.c
Labels: keymap

#3337 Instruct macos users to use avr-gcc@7 to avoid LUFA errors
  docs/faq_build.md
  docs/getting_started_build_tools.md
  util/macos_install.sh
Labels: needs doc

#3338 Configurator fix for Christmas Tree
  keyboards/christmas_tree/info.json
Labels: keyboard

#3335 MxSS Support
  keyboards/mxss/config.h
  keyboards/mxss/info.json
  keyboards/mxss/keymaps/default/config.h
  keyboards/mxss/keymaps/default/keymap.c
  keyboards/mxss/mxss.c
  keyboards/mxss/mxss.h
  keyboards/mxss/mxss_frontled.h
  keyboards/mxss/readme.md
  keyboards/mxss/rgblight.c
  keyboards/mxss/rules.mk
  keyboards/mxss/templates/keymap.c
Labels: keyboard

#3333 Helix keyboard: Move definition place of LAYOUT_kc macro
  keyboards/helix/helix.h
  keyboards/helix/rev1/rev1.h
  keyboards/helix/rev2/rev2.h
Labels: keyboard

#3341 Fixed issues with MxSS RGB functionality
  keyboards/mxss/info.json
  keyboards/mxss/mxss.c
  keyboards/mxss/rgblight.c
Labels: keyboard

#3352 Fixed MxSS ISO layouts in QMK configuator (hopefully)
  keyboards/mxss/mxss.h
Labels: keyboard

#3353 Turn backlight support on by default
  keyboards/tkc1800/config.h
  keyboards/tkc1800/keymaps/default/keymap.c
  keyboards/tkc1800/keymaps/wkl/keymap.c
Labels: keyboard

#3354 Fix Ergodox EZ issues introduced with ShinyDox merge (#3229)
  keyboards/ergodox_ez/config.h
  keyboards/ergodox_ez/rules.mk
Labels: bug, keyboard

#3329 Add files for h87a PCB
  keyboards/h87a/config.h
  keyboards/h87a/h87a.c
  keyboards/h87a/h87a.h
  keyboards/h87a/info.json
  keyboards/h87a/keymaps/default/keymap.c
  keyboards/h87a/readme.md
  keyboards/h87a/rules.mk
Labels: keyboard

#3342 Add Comet46 keyboard
  keyboards/comet46/comet46.c
  keyboards/comet46/comet46.h
  keyboards/comet46/config.h
  keyboards/comet46/keymaps/default/keymap.c
  keyboards/comet46/keymaps/satt/action_pseudo_lut.c
  keyboards/comet46/keymaps/satt/action_pseudo_lut.h
  keyboards/comet46/keymaps/satt/keymap.c
  keyboards/comet46/keymaps/satt/keymap_jis2us.h
  keyboards/comet46/keymaps/satt/readme.md
  keyboards/comet46/keymaps/satt/rules.mk
  keyboards/comet46/matrix.c
  keyboards/comet46/readme.md
  keyboards/comet46/rules.mk
Labels: keyboard

#3339 AL1 Unable to Compile on Configurator
  keyboards/al1/al1.c
  keyboards/al1/keymaps/splitbs/keymap.c
  keyboards/al1/matrix.c
Labels: keyboard

#3351 Initial Commit of Noxary 268 firmware by Rozakiin
  keyboards/noxary/268/config.h
  keyboards/noxary/268/info.json
  keyboards/noxary/268/keymaps/default/keymap.c
  keyboards/noxary/268/keymaps/sixtyeight/keymap.c
  keyboards/noxary/268/noxary268.c
  keyboards/noxary/268/noxary268.h
  keyboards/noxary/268/readme.md
  keyboards/noxary/268/rules.mk
  keyboards/noxary/README.md
Labels: keyboard

#3355 MxSS refactor and Configurator bugfix
  keyboards/mxss/info.json
  keyboards/mxss/mxss.h
Labels: keyboard

#3357 Al1 Configurator compile fix redux
  keyboards/al1/al1.c
  keyboards/al1/matrix.c
Labels: keyboard

#3356 Docs update in iris readme
  keyboards/iris/readme.md
Labels: keyboard

#3359 Fix header references
  keyboards/noxary/268/268.c
  keyboards/noxary/268/keymaps/default/keymap.c
  keyboards/noxary/268/keymaps/sixtyeight/keymap.c
Labels: keyboard

#3361 Correct conditional in mtdjr userspace
  users/mtdjr/mtdjr.c
Labels: keymap

#3363 Add up/down keys to the code layer for ease of intellisense usage.
  layouts/community/ergodox/333fred/README.md
  layouts/community/ergodox/333fred/keymap.c
Labels: keymap

#3362 MxSS Configurator bugfix: removed an extra key that didn't belong
  keyboards/mxss/info.json
Labels: keyboard

#2693 add hhkb bluetooth functionality (rn42)
  keyboards/hhkb/config.h
  keyboards/hhkb/rn42/MEMO.txt
  keyboards/hhkb/rn42/PowerSave.txt
  keyboards/hhkb/rn42/RN42.txt
  keyboards/hhkb/rn42/battery.c
  keyboards/hhkb/rn42/battery.h
  keyboards/hhkb/rn42/main.c
  keyboards/hhkb/rn42/rn42.c
  keyboards/hhkb/rn42/rn42.h
  keyboards/hhkb/rn42/rn42_task.c
  keyboards/hhkb/rn42/rn42_task.h
  keyboards/hhkb/rn42/suart.S
  keyboards/hhkb/rn42/suart.h
  keyboards/hhkb/rules.mk
Labels: enhancement, keyboard

#3368 Replace gitter links with Discord.
  docs/contributing.md
  docs/custom_quantum_functions.md
  docs/getting_started_getting_help.md
Labels: needs doc

#3306 S65-X refactor and Configurator support
  keyboards/s65_x/config.h
  keyboards/s65_x/info.json
  keyboards/s65_x/keymaps/s65plus/keymap.c
  keyboards/s65_x/keymaps/s65plus/readme.md
  keyboards/s65_x/readme.md
  keyboards/s65_x/s65_x.h
Labels: keyboard

#3369 LFK78 Refactor and Configurator support
  keyboards/lfkeyboards/lfk78/info.json
  keyboards/lfkeyboards/lfk78/keymaps/ca178858/config.h
  keyboards/lfkeyboards/lfk78/keymaps/ca178858/keymap.c
  keyboards/lfkeyboards/lfk78/keymaps/default/config.h
  keyboards/lfkeyboards/lfk78/keymaps/default/keymap.c
  keyboards/lfkeyboards/lfk78/keymaps/iso/config.h
  keyboards/lfkeyboards/lfk78/keymaps/iso/keymap.c
  keyboards/lfkeyboards/lfk78/keymaps/split_bs_osx/config.h
  keyboards/lfkeyboards/lfk78/keymaps/split_bs_osx/keymap.c
  keyboards/lfkeyboards/lfk78/lfk78.h
  keyboards/lfkeyboards/lfk78/readme.md
  keyboards/lfkeyboards/lfkeyboards.c
  keyboards/lfkeyboards/lfkeyboards.h
Labels: keyboard

#3083 Refactor, Configurator update, and Readme cleanup for Chimera Ergo
  keyboards/chimera_ergo/chimera_ergo.h
  keyboards/chimera_ergo/info.json
  keyboards/chimera_ergo/keymaps/default/keymap.c
  keyboards/chimera_ergo/readme.md
Labels: keyboard

#3367 Converted guidoism layout to new keyboard-agnostic form
  layouts/community/ortho_4x12/guidoism/config.h
  layouts/community/ortho_4x12/guidoism/generate_c.py
  layouts/community/ortho_4x12/guidoism/guidoism.json
  layouts/community/ortho_4x12/guidoism/keymap.c
  layouts/community/ortho_4x12/guidoism/keys.json
  layouts/community/ortho_4x12/guidoism/readme.md
Labels: keymap

#3373 Minidox refactor and Configurator support
  keyboards/minidox/keymaps/default/keymap.c
  keyboards/minidox/keymaps/haegin/keymap.c
  keyboards/minidox/keymaps/khitsule/keymap.c
  keyboards/minidox/keymaps/that_canadian/keymap.c
  keyboards/minidox/keymaps/tomb0y/keymap.c
  keyboards/minidox/keymaps/xyverz/keymap.c
  keyboards/minidox/rev1/info.json
  keyboards/minidox/rev1/rev1.h
Labels: keyboard

#3374 Helix config refine
  keyboards/helix/config.h
  keyboards/helix/rev1/config.h
  keyboards/helix/rev1/keymaps/OLED_sample/config.h
  keyboards/helix/rev1/keymaps/OLED_sample/serial_config.h
  keyboards/helix/rev1/keymaps/default/config.h
  keyboards/helix/rev1/serial_config.h
  keyboards/helix/rev2/config.h
  keyboards/helix/rev2/keymaps/default/config.h
  keyboards/helix/rev2/keymaps/edvorakjp/config.h
  keyboards/helix/rev2/keymaps/five_rows/config.h
  keyboards/helix/rev2/keymaps/five_rows_jis/config.h
  keyboards/helix/rev2/keymaps/froggy/config.h
  keyboards/helix/rev2/keymaps/led_test/config.h
  keyboards/helix/rev2/matrix.c
  keyboards/helix/rev2/serial_config.h
  keyboards/helix/rev2/split_util.c
  keyboards/helix/serial.c
  keyboards/helix/serial.h
  keyboards/helix/ssd1306.h
Labels: keyboard

#3378 Ergodash refactor and Configurator update
  keyboards/ergodash/ergodash.h
  keyboards/ergodash/rev1/ergodash.h
  keyboards/ergodash/rev1/info.json
  keyboards/ergodash/rev2/ergodash.h
  keyboards/ergodash/rev2/info.json
Labels: keyboard

#3379 Helix rev1 refactor: deleted extra commas
  keyboards/helix/rev1/rev1.h
Labels: keyboard

#3380 LFK78 Configurator fix: Removed an extra key
  keyboards/lfkeyboards/lfk78/info.json
Labels: keyboard

#3383 Slow down speed of All Star song by factor of 4
  layouts/community/ortho_4x12/bakingpy/config.h
  layouts/community/ortho_4x12/bakingpy/keymap.c
  quantum/audio/song_list.h
Labels: enhancement

#3384 Update JC65 Readme
  keyboards/jc65/readme.md
  keyboards/jc65/v32a/readme.md
  keyboards/jc65/v32u4/readme.md
Labels: keyboard, optimization

#3386 Add kmini
  keyboards/kmini/config.h
  keyboards/kmini/info.json
  keyboards/kmini/keymaps/default/keymap.c
  keyboards/kmini/kmini.c
  keyboards/kmini/kmini.h
  keyboards/kmini/matrix.c
  keyboards/kmini/readme.md
  keyboards/kmini/rules.mk
Labels: keyboard

#3388 Kmini refactor and Configurator support
  keyboards/kmini/info.json
  keyboards/kmini/keymaps/default/keymap.c
  keyboards/kmini/matrix.c
Labels: keyboard

#3389 Updated links to external sites.
  keyboards/tada68/readme.md
Labels: keyboard

#3392 Added E6v2 keymap & some minor changes
  keyboards/dz60/keymaps/eric/keymap.c
  keyboards/e6v2/le/keymaps/eric/keymap.c
  keyboards/hhkb/keymaps/eric/keymap.c
Labels: keymap

#3390 add resources for git
  docs/newbs.md
  docs/newbs_learn_more_resources.md
Labels: needs doc

#3400 mitosis:datagrok layout and readme improvements
  keyboards/mitosis/keymaps/datagrok/config.h
  keyboards/mitosis/keymaps/datagrok/keymap.c
  keyboards/mitosis/keymaps/datagrok/readme.md
  keyboards/mitosis/keymaps/datagrok/rules.mk
Labels: keymap

#3402 Keymap updates
  keyboards/planck/keymaps/callum/keymap.c
Labels: keymap

#3395 UK78 refactor and Configurator support
  keyboards/uk78/info.json
  keyboards/uk78/keymaps/default/keymap.c
  keyboards/uk78/keymaps/rask/keymap.c
  keyboards/uk78/readme.md
  keyboards/uk78/uk78.h
Labels: keyboard

#3405 UK78 Refactor: rename LAYOUT to LAYOUT_all
  keyboards/uk78/keymaps/default/keymap.c
  keyboards/uk78/keymaps/rask/keymap.c
  keyboards/uk78/uk78.h
Labels: keyboard

#3403 AJP10304 Atreus 50 layout
  keyboards/handwired/atreus50/keymaps/ajp10304/config.h
  keyboards/handwired/atreus50/keymaps/ajp10304/keymap.c
  keyboards/handwired/atreus50/keymaps/ajp10304/readme.md
  keyboards/handwired/atreus50/keymaps/ajp10304/rules.mk
  keyboards/jj40/keymaps/ajp10304/readme.md
  keyboards/planck/keymaps/ajp10304/readme.md
Labels: keymap

#3381 Add I2C slave library
  drivers/avr/i2c_slave.c
  drivers/avr/i2c_slave.h
Labels: core, enhancement

#3311 Fix tapdance when one-shot is disabled.
  quantum/process_keycode/process_tap_dance.c
Labels: core, enhancement

#3209 Integrating Peter Fleury's HD44780 LCD library
  common_features.mk
  docs/feature_hd44780.md
  docs/features.md
  drivers/avr/hd44780.c
  drivers/avr/hd44780.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/template/avr/config.h
  quantum/template/avr/rules.mk
  tmk_core/common/keyboard.c
Labels: enhancement

#3385 Overhaul to keycode related docs
  docs/_summary.md
  docs/config_options.md
  docs/feature_advanced_keycodes.md
  docs/feature_audio.md
  docs/keycodes.md
Labels: needs doc

#3293 allow building with nix on darwin
  shell.nix
Labels: enhancement

#3272 Added gentoo to installer
  keyboards/iris/keymaps/dvp-zjpxshade/config.h
  keyboards/iris/keymaps/dvp-zjpxshade/keymap.c
  keyboards/iris/keymaps/dvp-zjpxshade/rules.mk
  util/linux_install.sh
Labels: enhancement

#3408 TKC1800: Correct error on LED backlight support
  keyboards/tkc1800/rules.mk
Labels: keyboard

#3409 Fixed kbd8x
  keyboards/kbd8x/kbd8x.c
Labels: keyboard

#3411 Add ichi-t's keymap
  keyboards/ergo42/keymaps/ichi-t/config.h
  keyboards/ergo42/keymaps/ichi-t/keymap.c
Labels: keymap

#3413 Updated keymap 'Andylikescandy' bfo9000
  keyboards/bfo9000/keymaps/andylikescandy6x18/keymap.c
Labels: keymap

#3417 Adjust prompt to be more recognizable
  docs/getting_started_github.md
Labels: needs doc

#3414 Added dbroqua layout for Iris keyboard
  keyboards/iris/keymaps/dbroqua/config.h
  keyboards/iris/keymaps/dbroqua/keymap.c
  keyboards/iris/keymaps/dbroqua/rules.mk
Labels: keymap

#3410 General cleanup KBD75 keymap/rules
  keyboards/kbd75/keymaps/default/keymap.c
  keyboards/kbd75/keymaps/iso/keymap.c
Labels: keyboard

#3418 Quefrency Configurator fix
  keyboards/quefrency/info.json
Labels: keyboard

#3419 E6V2 LE Caps Lock LED Fix
  keyboards/e6v2/le/le.c
Labels: keyboard

#3415 Update template config.h with `#pragma once`
  quantum/template/avr/config.h
  quantum/template/base/keymaps/default/config.h
  quantum/template/ps2avrgb/config.h
Labels: enhancement, keyboard, optimization

#3420 E6V2 LE: Top Right Keys are Reversed
  keyboards/e6v2/le/le.h
Labels: keyboard

#3423 Satan keymap
  keyboards/satan/keymaps/lepa/keymap.c
  keyboards/satan/keymaps/lepa/readme.md
  keyboards/satan/keymaps/lepa/rules.mk
Labels: keymap

#3425 Modified of 'Helix five rows JIS" keymap.
  keyboards/helix/rev2/keymaps/five_rows_jis/config.h
  keyboards/helix/rev2/keymaps/five_rows_jis/keymap.c
  keyboards/helix/rev2/keymaps/five_rows_jis/readme.md
  keyboards/helix/rev2/keymaps/five_rows_jis/readme_jp.md
Labels: keymap

#3422 Adding a Nordic layout for UT47
  keyboards/ut47/keymaps/nordic/config.h
  keyboards/ut47/keymaps/nordic/keymap.c
  keyboards/ut47/keymaps/nordic/readme.md
Labels: keymap

#3427 Change Satan keymap lepa (rev 2)
  keyboards/satan/keymaps/lepa/keymap.c
  keyboards/satan/keymaps/lepa/readme.md
Labels: keymap

#3424 Add tada68 flashing instructions for Mac
  keyboards/tada68/readme.md
Labels: keyboard

#3426 Noxary 268 refactor and Configurator update
  keyboards/noxary/268/268.h
  keyboards/noxary/268/info.json
  keyboards/noxary/268/keymaps/ansi/keymap.c
  keyboards/noxary/268/keymaps/ansi/readme.md
  keyboards/noxary/268/keymaps/default/keymap.c
  keyboards/noxary/268/keymaps/iso/keymap.c
  keyboards/noxary/268/keymaps/iso/readme.md
  keyboards/noxary/268/keymaps/sixtyeight/keymap.c
  keyboards/noxary/README.md
Labels: keyboard

#3429 Split common
  keyboards/lets_split_eh/eh/config.h
  quantum/split_common/matrix.c
  quantum/split_common/serial.h
  quantum/split_common/split_util.c
Labels: core

#3433 NIU Mini refactor and Configurator update
  keyboards/niu_mini/info.json
  keyboards/niu_mini/keymaps/default/keymap.c
  keyboards/niu_mini/keymaps/framtava/keymap.c
  keyboards/niu_mini/keymaps/mason/keymap.c
  keyboards/niu_mini/keymaps/planck/keymap.c
  keyboards/niu_mini/keymaps/xtonhasvim/keymap.c
  keyboards/niu_mini/niu_mini.h
  keyboards/niu_mini/rules.mk
Labels: keyboard

#3432 Song List Adddition: Mario Mushroom
  quantum/audio/song_list.h
Labels: enhancement

#3435 Add light controls for Planck
  keyboards/planck/keymaps/dcompact/keymap.c
Labels: keymap

#3009 Add support for LFK65-HS - a hotswap 65%
  keyboards/lfkeyboards/lfk65_hs/config.h
  keyboards/lfkeyboards/lfk65_hs/info.json
  keyboards/lfkeyboards/lfk65_hs/keymaps/default/keymap.c
  keyboards/lfkeyboards/lfk65_hs/keymaps/default/rules.mk
  keyboards/lfkeyboards/lfk65_hs/lfk65_hs.c
  keyboards/lfkeyboards/lfk65_hs/lfk65_hs.h
  keyboards/lfkeyboards/lfk65_hs/readme.md
  keyboards/lfkeyboards/lfk65_hs/rules.mk
Labels: keyboard

#3428 DC01 keyboard addition
  drivers/avr/i2c_master.c
  drivers/avr/i2c_master.h
  drivers/avr/i2c_slave.c
  drivers/avr/i2c_slave.h
  keyboards/dc01/arrow/arrow.c
  keyboards/dc01/arrow/arrow.h
  keyboards/dc01/arrow/config.h
  keyboards/dc01/arrow/info.json
  keyboards/dc01/arrow/keymaps/default/keymap.c
  keyboards/dc01/arrow/keymaps/default/readme.md
  keyboards/dc01/arrow/matrix.c
  keyboards/dc01/arrow/readme.md
  keyboards/dc01/arrow/rules.mk
  keyboards/dc01/left/config.h
  keyboards/dc01/left/i2c.c
  keyboards/dc01/left/i2c.h
  keyboards/dc01/left/info.json
  keyboards/dc01/left/keymaps/default/keymap.c
  keyboards/dc01/left/keymaps/default/readme.md
  keyboards/dc01/left/left.c
  keyboards/dc01/left/left.h
  keyboards/dc01/left/matrix.c
  keyboards/dc01/left/readme.md
  keyboards/dc01/left/rules.mk
  keyboards/dc01/numpad/config.h
  keyboards/dc01/numpad/info.json
  keyboards/dc01/numpad/keymaps/default/keymap.c
  keyboards/dc01/numpad/keymaps/default/readme.md
  keyboards/dc01/numpad/keymaps/ortho_5x4/keymap.c
  keyboards/dc01/numpad/keymaps/ortho_5x4/readme.md
  keyboards/dc01/numpad/matrix.c
  keyboards/dc01/numpad/numpad.c
  keyboards/dc01/numpad/numpad.h
  keyboards/dc01/numpad/readme.md
  keyboards/dc01/numpad/rules.mk
  keyboards/dc01/right/config.h
  keyboards/dc01/right/info.json
  keyboards/dc01/right/keymaps/default/keymap.c
  keyboards/dc01/right/keymaps/default/readme.md
  keyboards/dc01/right/keymaps/hhkb_ansi/keymap.c
  keyboards/dc01/right/keymaps/hhkb_ansi/readme.md
  keyboards/dc01/right/keymaps/hhkb_iso/keymap.c
  keyboards/dc01/right/keymaps/hhkb_iso/readme.md
  keyboards/dc01/right/keymaps/iso/keymap.c
  keyboards/dc01/right/keymaps/iso/readme.md
  keyboards/dc01/right/matrix.c
  keyboards/dc01/right/readme.md
  keyboards/dc01/right/right.c
  keyboards/dc01/right/right.h
  keyboards/dc01/right/rules.mk
Labels: keyboard

#3444 Add #include "config_common.h" after #pragma once to config.h templates
  quantum/template/avr/config.h
  quantum/template/ps2avrgb/config.h
Labels: bug, enhancement

#3438 Hungarian keymap added
  quantum/keymap_extras/keymap_hungarian.h
Labels: enhancement

#3439 LFKPad refactor and Configurator support
  keyboards/lfkeyboards/lfkpad/info.json
  keyboards/lfkeyboards/lfkpad/keymaps/default/keymap.c
  keyboards/lfkeyboards/lfkpad/lfkpad.c
  keyboards/lfkeyboards/lfkpad/lfkpad.h
  keyboards/lfkeyboards/lfkpad/rules.mk
Labels: keyboard

#3440 LFKeyboards Mini1800 refactor and Configurator update
  keyboards/lfkeyboards/mini1800/info.json
  keyboards/lfkeyboards/mini1800/keymaps/ca178858/keymap.c
  keyboards/lfkeyboards/mini1800/keymaps/default/keymap.c
  keyboards/lfkeyboards/mini1800/mini1800.h
Labels: keyboard

#3441 LFKeyboards SMK65 refactor and Configurator support
  keyboards/lfkeyboards/smk65/info.json
  keyboards/lfkeyboards/smk65/keymaps/default/keymap.c
  keyboards/lfkeyboards/smk65/keymaps/iso/keymap.c
  keyboards/lfkeyboards/smk65/smk65.h
Labels: keyboard

#3442 LFKeyboards LFK65-HS Readme cleanup
  keyboards/lfkeyboards/lfk65_hs/readme.md
Labels: keyboard

#3406 New keyboard 'Sentraq S65-Plus'
  keyboards/s65_plus/config.h
  keyboards/s65_plus/keymaps/default/keymap.c
  keyboards/s65_plus/readme.md
  keyboards/s65_plus/rules.mk
  keyboards/s65_plus/s65_plus.c
  keyboards/s65_plus/s65_plus.h
Labels: keyboard

#3431 Transport underglow implementation to default map
  keyboards/ergo42/keymaps/default-underglow/config.h
  keyboards/ergo42/keymaps/default-underglow/keymap.c
  keyboards/ergo42/keymaps/default-underglow/rules.mk
Labels: keymap

#3434 Added my own keymap for the planck light!
  keyboards/planck/keymaps/pickle_jr/README.md
  keyboards/planck/keymaps/pickle_jr/config.h
  keyboards/planck/keymaps/pickle_jr/keymap.c
  keyboards/planck/keymaps/pickle_jr/rules.mk
Labels: keymap

#3450 Fixed Dvorak layer
  keyboards/iris/keymaps/xyverz/keymap.c
Labels: keymap

#3445 DC01 refactor and Configurator support
  keyboards/dc01/arrow/arrow.h
  keyboards/dc01/arrow/info.json
  keyboards/dc01/arrow/keymaps/default/keymap.c
  keyboards/dc01/arrow/readme.md
  keyboards/dc01/left/info.json
  keyboards/dc01/left/keymaps/default/keymap.c
  keyboards/dc01/left/left.h
  keyboards/dc01/numpad/info.json
  keyboards/dc01/numpad/numpad.h
  keyboards/dc01/numpad/readme.md
  keyboards/dc01/numpad/rules.mk
  keyboards/dc01/right/info.json
  keyboards/dc01/right/keymaps/default/keymap.c
  keyboards/dc01/right/keymaps/hhkb_ansi/keymap.c
  keyboards/dc01/right/keymaps/hhkb_iso/keymap.c
  keyboards/dc01/right/keymaps/iso/keymap.c
  keyboards/dc01/right/readme.md
  keyboards/dc01/right/right.h
Labels: keyboard

#3457 Added support for the Fractal keyboard
  keyboards/fractal/config.h
  keyboards/fractal/fractal.c
  keyboards/fractal/fractal.h
  keyboards/fractal/info.json
  keyboards/fractal/keymaps/default/config.h
  keyboards/fractal/keymaps/default/keymap.c
  keyboards/fractal/keymaps/default/readme.md
  keyboards/fractal/readme.md
  keyboards/fractal/rules.mk
Labels: keyboard

#3459 Jarreds keymap creation
  keyboards/planck/keymaps/jarred/config.h
  keyboards/planck/keymaps/jarred/keymap.c
  keyboards/planck/keymaps/jarred/readme.md
  keyboards/planck/keymaps/jarred/rules.mk
  users/jarred/jarred.c
  users/jarred/jarred.h
  users/jarred/readme.md
  users/jarred/rules.mk
Labels: keymap

#3264 Add multi-matrix support and make the layer cache more efficient
  drivers/qwiic/qwiic_keyboard.c
  keyboards/planck/old_keymap_files/keymap_common.c
  quantum/keymap.h
  quantum/keymap_common.c
  quantum/process_keycode/process_music.c
  quantum/quantum.c
  quantum/rgb_matrix.c
  tests/layer_cache/config.h
  tests/layer_cache/keymap.c
  tests/layer_cache/rules.mk
  tests/layer_cache/test_layer_cache.cpp
  tmk_core/common/action.c
  tmk_core/common/action.h
  tmk_core/common/action_layer.c
  tmk_core/common/action_layer.h
  tmk_core/common/bootmagic.c
  tmk_core/common/keyboard.c
  tmk_core/common/keyboard.h
Labels: core, enhancement

#3325 Temporary work around for CB60 sound issues
  keyboards/clueboard/60/chconf.h
  keyboards/clueboard/keymaps/xyverz/config.h
Labels: enhancement, keyboard

#3462 Fix UTF-8 encoding for DC01 Numpad info.json
  keyboards/dc01/numpad/info.json
Labels: keyboard

#3458 Convert Iris to use SPLIT_KEYBOARD
  keyboards/iris/i2c.c
  keyboards/iris/i2c.h
  keyboards/iris/matrix.c
  keyboards/iris/rules.mk
  keyboards/iris/serial.c
  keyboards/iris/serial.h
  keyboards/iris/split_rgb.c
  keyboards/iris/split_rgb.h
  keyboards/iris/split_util.c
  keyboards/iris/split_util.h
  quantum/split_common/matrix.c
Labels: keyboard

#3460 Custom (fabian) layout for Iris and Planck
  keyboards/iris/keymaps/fabian/config.h
  keyboards/iris/keymaps/fabian/keymap.c
  keyboards/planck/keymaps/fabian/config.h
  keyboards/planck/keymaps/fabian/keymap.c
  keyboards/planck/keymaps/fabian/rules.mk
Labels: keymap

#3463 Configurator fix: KC60SE info.json, LAYOUT matrix
  keyboards/kc60se/info.json
Labels: keyboard

#3464 Kona Classic refactor and Configurator update
  keyboards/kona_classic/README.md
  keyboards/kona_classic/info.json
  keyboards/kona_classic/keymaps/ansi/keymap.c
  keyboards/kona_classic/keymaps/ansi_arrows/keymap.c
  keyboards/kona_classic/keymaps/ansi_arrows_lcap/keymap.c
  keyboards/kona_classic/keymaps/ansi_split/keymap.c
  keyboards/kona_classic/keymaps/ansi_split_arrows/keymap.c
  keyboards/kona_classic/keymaps/default/keymap.c
  keyboards/kona_classic/keymaps/iso/keymap.c
  keyboards/kona_classic/keymaps/iso_arrows/keymap.c
  keyboards/kona_classic/keymaps/iso_split/keymap.c
  keyboards/kona_classic/keymaps/iso_split_arrows/keymap.c
  keyboards/kona_classic/kona_classic.h
Labels: keyboard

#2697 VUSB fix report dropping if usbInterruptIsReady() returns false
  tmk_core/protocol/vusb/vusb.c
Labels: core, enhancement

#3452 UT47:nordic - Fixed error in picture link in readme file
  keyboards/ut47/keymaps/nordic/config.h
  keyboards/ut47/keymaps/nordic/keymap.c
  keyboards/ut47/keymaps/nordic/readme.md
Labels: keymap

#3469 * Reflect from modified default keymap code to config.h and keymap.c …
  keyboards/helix/rev2/keymaps/five_rows_jis/config.h
  keyboards/helix/rev2/keymaps/five_rows_jis/keymap.c
  keyboards/helix/rev2/keymaps/five_rows_jis/readme_jp.md
Labels: keymap

#3473 Fix character encoding for Kona Classic's info.json
  keyboards/kona_classic/info.json
Labels: keyboard

#3453 ps2avrgb: fix incorrect avr ports specified (for numlock and capslock LEDs)
  keyboards/dz60/keymaps/krusli/config.h
  keyboards/dz60/keymaps/krusli/keymap.c
  keyboards/dz60/keymaps/krusli/rules.mk
  keyboards/jj40/backlight.c
  keyboards/jj40/keymaps/krusli/keymap.c
  keyboards/jj40/keymaps/krusli/numpad.txt
  keyboards/jj40/keymaps/oscillope/backlight.c
  keyboards/jj50/backlight.c
  keyboards/staryu/keymaps/krusli/keymap.c
  keyboards/ymd75/backlight.c
  keyboards/ymd96/backlight.c
  keyboards/ymdk_np21/backlight.c
  layouts/community/ortho_4x12/xyverz/config.h
Labels: keyboard, keymap

#3466 Adjustments to my Ortho_4x12 layout configs
  layouts/community/ortho_4x12/xyverz/config.h
  layouts/community/ortho_4x12/xyverz/rules.mk
Labels: keymap

#3475 Base for the nicekey keyboard
  keyboards/handwired/nicekey/config.h
  keyboards/handwired/nicekey/keymaps/default/keymap.c
  keyboards/handwired/nicekey/nicekey.c
  keyboards/handwired/nicekey/nicekey.h
  keyboards/handwired/nicekey/readme.md
  keyboards/handwired/nicekey/rules.mk
Labels: keyboard

#3472 Add QC60
  keyboards/handwired/qc60/README.md
  keyboards/handwired/qc60/config.h
  keyboards/handwired/qc60/info.json
  keyboards/handwired/qc60/keymaps/default/config.h
  keyboards/handwired/qc60/keymaps/default/keymap.c
  keyboards/handwired/qc60/keymaps/wntrmln/config.h
  keyboards/handwired/qc60/keymaps/wntrmln/keymap.c
  keyboards/handwired/qc60/proto/config.h
  keyboards/handwired/qc60/proto/proto.c
  keyboards/handwired/qc60/proto/proto.h
  keyboards/handwired/qc60/proto/rules.mk
  keyboards/handwired/qc60/qc60.c
  keyboards/handwired/qc60/qc60.h
  keyboards/handwired/qc60/rules.mk
Labels: in progress, keyboard

#3482 Update khord let's split keymap and add chocopad keymap
  keyboards/chocopad/keymaps/khord/config.h
  keyboards/chocopad/keymaps/khord/keymap.c
  keyboards/chocopad/keymaps/khord/rules.mk
  keyboards/lets_split/keymaps/khord/config.h
  keyboards/lets_split/keymaps/khord/keymap.c
Labels: keymap

#3364 Bocaj Ergodox Updates
  keyboards/ergodox_ez/keymaps/bocaj/bocaj.h
  keyboards/ergodox_ez/keymaps/bocaj/config.h
  keyboards/ergodox_ez/keymaps/bocaj/keymap.c
  keyboards/ergodox_ez/keymaps/bocaj/readme.md
  keyboards/ergodox_ez/keymaps/bocaj/rules.mk
  quantum/quantum.h
Labels: keymap

#3478 redox: convert to use SPLIT_KEYBOARD
  keyboards/redox/i2c.c
  keyboards/redox/i2c.h
  keyboards/redox/keymaps/default/keymap.c
  keyboards/redox/keymaps/italian/keymap.c
  keyboards/redox/matrix.c
  keyboards/redox/rules.mk
  keyboards/redox/serial.c
  keyboards/redox/serial.h
  keyboards/redox/split_util.c
  keyboards/redox/split_util.h
Labels: keyboard
