Repository qmk/qmk_firmware, pull requests merged in 2018-12, with the labels that each got.

#4511 Add support for S7 Elephant
  keyboards/s7_elephant/config.h
  keyboards/s7_elephant/info.json
  keyboards/s7_elephant/keymaps/default/config.h
  keyboards/s7_elephant/keymaps/default/keymap.c
  keyboards/s7_elephant/keymaps/default/readme.md
  keyboards/s7_elephant/readme.md
  keyboards/s7_elephant/rules.mk
  keyboards/s7_elephant/s7_elephant.c
  keyboards/s7_elephant/s7_elephant.h
Labels: keyboard

#4526 Add HHKB layout support to the DO60
  keyboards/do60/do60.h
  keyboards/do60/info.json
  keyboards/do60/readme.md
  keyboards/do60/rules.mk
Labels: keyboard

#4540 Make ARM Audio max volume configurable
  docs/feature_audio.md
  quantum/audio/audio_arm.c
Labels: core, enhancement, in progress

#4543 Fixed include statement in my Let's Split keymap.
  keyboards/lets_split/keymaps/pyrol/keymap.c
Labels: keymap

#4541 adding my keymap primarily to iris
  keyboards/iris/keymaps/omgvee/config.h
  keyboards/iris/keymaps/omgvee/keymap.c
  keyboards/iris/keymaps/omgvee/readme.md
  keyboards/iris/keymaps/omgvee/rules.mk
Labels: keymap

#4462 adding Hadron v3
  common_features.mk
  drivers/arm/i2c_master.c
  drivers/arm/i2c_master.h
  drivers/haptic/DRV2605L.c
  drivers/haptic/DRV2605L.h
  drivers/qwiic/micro_oled.c
  drivers/qwiic/micro_oled.h
  drivers/qwiic/qwiic.c
  drivers/qwiic/qwiic.h
  drivers/qwiic/qwiic.mk
  drivers/qwiic/util/font5x7.h
  drivers/qwiic/util/font8x16.h
  keyboards/hadron/config.h
  keyboards/hadron/hadron.c
  keyboards/hadron/hadron.h
  keyboards/hadron/keymaps/default/config.h
  keyboards/hadron/keymaps/default/rules.mk
  keyboards/hadron/keymaps/side_numpad/config.h
  keyboards/hadron/readme.md
  keyboards/hadron/rules.mk
  keyboards/hadron/ver2/config.h
  keyboards/hadron/ver2/keymaps/default/config.h
  keyboards/hadron/ver2/keymaps/default/keymap.c
  keyboards/hadron/ver2/keymaps/default/readme.md
  keyboards/hadron/ver2/keymaps/readme.md
  keyboards/hadron/ver2/keymaps/side_numpad/config.h
  keyboards/hadron/ver2/keymaps/side_numpad/keymap.c
  keyboards/hadron/ver2/keymaps/side_numpad/readme.md
  keyboards/hadron/ver2/keymaps/side_numpad/rules.mk
  keyboards/hadron/ver2/rules.mk
  keyboards/hadron/ver2/ver2.c
  keyboards/hadron/ver3/boards/GENERIC_STM32_F303XC/board.c
  keyboards/hadron/ver3/boards/GENERIC_STM32_F303XC/board.h
  keyboards/hadron/ver3/boards/GENERIC_STM32_F303XC/board.mk
  keyboards/hadron/ver3/bootloader_defs.h
  keyboards/hadron/ver3/chconf.h
  keyboards/hadron/ver3/config.h
  keyboards/hadron/ver3/halconf.h
  keyboards/hadron/ver3/keymaps/default/config.h
  keyboards/hadron/ver3/keymaps/default/keymap.c
  keyboards/hadron/ver3/keymaps/default/readme.md
  keyboards/hadron/ver3/keymaps/readme.md
  keyboards/hadron/ver3/matrix.c
  keyboards/hadron/ver3/mcuconf.h
  keyboards/hadron/ver3/rev3.h
  keyboards/hadron/ver3/rules.mk
  keyboards/hadron/ver3/ver3.c
  keyboards/hadron/ver3/ver3.h
  keyboards/helix/rev1/keymaps/OLED_sample/rules.mk
  tmk_core/common/action_layer.h
  tmk_core/common/keyboard.c
Labels: keyboard

#4497 Add new keyboard "Sol" from RGBKB
  keyboards/sol/common/glcdfont.c
  keyboards/sol/common/knob_v2.c
  keyboards/sol/common/knob_v2.h
  keyboards/sol/common/ssd1306.c
  keyboards/sol/common/ssd1306.h
  keyboards/sol/config.h
  keyboards/sol/i2c.c
  keyboards/sol/i2c.h
  keyboards/sol/keymaps/brianweyer/config.h
  keyboards/sol/keymaps/brianweyer/keymap.c
  keyboards/sol/keymaps/brianweyer/rules.mk
  keyboards/sol/keymaps/danielhklein/config.h
  keyboards/sol/keymaps/danielhklein/keymap.c
  keyboards/sol/keymaps/danielhklein/rules.mk
  keyboards/sol/keymaps/default/config.h
  keyboards/sol/keymaps/default/keymap.c
  keyboards/sol/keymaps/default/readme.md
  keyboards/sol/keymaps/default/rules.mk
  keyboards/sol/keymaps/kageurufu/config.h
  keyboards/sol/keymaps/kageurufu/keymap.c
  keyboards/sol/keymaps/kageurufu/readme.md
  keyboards/sol/keymaps/kageurufu/rules.mk
  keyboards/sol/readme.md
  keyboards/sol/rev1/config.h
  keyboards/sol/rev1/matrix.c
  keyboards/sol/rev1/rev1.c
  keyboards/sol/rev1/rev1.h
  keyboards/sol/rev1/rules.mk
  keyboards/sol/rev1/split_util.c
  keyboards/sol/rev1/split_util.h
  keyboards/sol/rules.mk
  keyboards/sol/serial.c
  keyboards/sol/serial.h
  keyboards/sol/sol.c
  keyboards/sol/sol.h
Labels: keyboard

#4514 [WIP]: Hacker Dvorak
  keyboards/ergodox_ez/keymaps/hacker_dvorak/.gitignore
  keyboards/ergodox_ez/keymaps/hacker_dvorak/config.h
  keyboards/ergodox_ez/keymaps/hacker_dvorak/default.png.md
  keyboards/ergodox_ez/keymaps/hacker_dvorak/default_highres.png.md
  keyboards/ergodox_ez/keymaps/hacker_dvorak/gulpfile.js
  keyboards/ergodox_ez/keymaps/hacker_dvorak/keymap.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/package.json
  keyboards/ergodox_ez/keymaps/hacker_dvorak/readme.md
  keyboards/ergodox_ez/keymaps/hacker_dvorak/rules.mk
  quantum/keymap_extras/keymap_plover_dvorak.h
Labels: keymap

#4554 Major revisions, focused on streamlining and useability
  keyboards/iris/keymaps/vyolle/config.h
  keyboards/iris/keymaps/vyolle/keymap.c
  keyboards/iris/keymaps/vyolle/rules.mk
Labels: keymap

#4542 Initial nori port
  keyboards/40percentclub/nori/config.h
  keyboards/40percentclub/nori/info.json
  keyboards/40percentclub/nori/keymaps/default/config.h
  keyboards/40percentclub/nori/keymaps/default/keymap.c
  keyboards/40percentclub/nori/keymaps/default/readme.md
  keyboards/40percentclub/nori/keymaps/macro/config.h
  keyboards/40percentclub/nori/keymaps/macro/keymap.c
  keyboards/40percentclub/nori/keymaps/macro/readme.md
  keyboards/40percentclub/nori/nori.c
  keyboards/40percentclub/nori/nori.h
  keyboards/40percentclub/nori/readme.md
  keyboards/40percentclub/nori/rules.mk
Labels: keyboard

#4550 Wanleg layout updates
  keyboards/iris/keymaps/wanleg/config.h
  keyboards/iris/keymaps/wanleg/keymap.c
  keyboards/iris/keymaps/wanleg/rules.mk
  layouts/community/ortho_4x12/wanleg/config.h
  layouts/community/ortho_4x12/wanleg/keymap.c
  layouts/community/ortho_4x12/wanleg/rules.mk
  layouts/community/ortho_5x15/wanleg/config.h
  layouts/community/ortho_5x15/wanleg/keymap.c
  layouts/community/ortho_5x15/wanleg/rules.mk
  users/wanleg/config.h
  users/wanleg/rules.mk
  users/wanleg/tapdances.c
  users/wanleg/wanleg.h
Labels: keymap

#4551 Only try to read the report ID from SetReport when the keyboard is part of the shared EP
  tmk_core/protocol/lufa/lufa.c
Labels: bug, core, optimization

#4529 dz60 tsangan hhkb
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/crd_ansi/keymap.c
  keyboards/dz60/keymaps/crd_tsangan/keymap.c
  layouts/default/60_ansi_tsangan_split_bs_rshift/readme.md
  layouts/default/60_tsangan_hhkb/default_60_tsangan_hhkb/keymap.c
  layouts/default/60_tsangan_hhkb/layout.json
  layouts/default/60_tsangan_hhkb/readme.md
Labels: keyboard

#4500 Preonic kuatsure updates 2018-Nov
  keyboards/preonic/keymaps/kuatsure/config.h
  keyboards/preonic/keymaps/kuatsure/keymap.c
  keyboards/preonic/keymaps/kuatsure/rules.mk
  users/kuatsure/kuatsure.h
  users/kuatsure/rules.mk
Labels: keymap

#4428 Updated sixshooter keyboard to move LED macros into the default keymap.
  keyboards/sixshooter/keymaps/default/keymap.c
  keyboards/sixshooter/sixshooter.c
  keyboards/sixshooter/sixshooter.h
Labels: keyboard

#4536 Refactor lets split to use split common code
  keyboards/lets_split/config.h
  keyboards/lets_split/eeprom-lefthand.eep
  keyboards/lets_split/eeprom-righthand.eep
  keyboards/lets_split/i2c.c
  keyboards/lets_split/i2c.h
  keyboards/lets_split/keymaps/OLED_sample/rules.mk
  keyboards/lets_split/lets_split.h
  keyboards/lets_split/matrix.c
  keyboards/lets_split/rev1/config.h
  keyboards/lets_split/rev1/rev1.h
  keyboards/lets_split/rev2/config.h
  keyboards/lets_split/rev2/rev2.h
  keyboards/lets_split/rules.mk
  keyboards/lets_split/serial.c
  keyboards/lets_split/serial.h
  keyboards/lets_split/sockets/config.h
  keyboards/lets_split/sockets/sockets.h
  keyboards/lets_split/split_util.c
  keyboards/lets_split/split_util.h
Labels: keyboard

#4556 Changed location of mouse 3, and arrow keys.
  keyboards/iris/keymaps/vyolle/keymap.c
Labels: keymap

#4557 Lets split default keymap - Fixes for superseded audio and default layer functionality
  keyboards/lets_split/keymaps/default/config.h
  keyboards/lets_split/keymaps/default/keymap.c
  keyboards/lets_split/keymaps/default/rules.mk
Labels: keyboard, keymap

#4553 Initial i75 port - currently supporting promicro and teensy2
  keyboards/40percentclub/i75/config.h
  keyboards/40percentclub/i75/i75.c
  keyboards/40percentclub/i75/i75.h
  keyboards/40percentclub/i75/info.json
  keyboards/40percentclub/i75/keymaps/default/config.h
  keyboards/40percentclub/i75/keymaps/default/keymap.c
  keyboards/40percentclub/i75/keymaps/default/readme.md
  keyboards/40percentclub/i75/promicro/config.h
  keyboards/40percentclub/i75/promicro/promicro.c
  keyboards/40percentclub/i75/promicro/promicro.h
  keyboards/40percentclub/i75/promicro/rules.mk
  keyboards/40percentclub/i75/readme.md
  keyboards/40percentclub/i75/rules.mk
  keyboards/40percentclub/i75/teensy2/config.h
  keyboards/40percentclub/i75/teensy2/rules.mk
  keyboards/40percentclub/i75/teensy2/teensy2.c
  keyboards/40percentclub/i75/teensy2/teensy2.h
Labels: keyboard

#4513 Jtcarrasco
  keyboards/idobo/keymaps/revok75/config.h
  keyboards/idobo/keymaps/revok75/keymap.c
  keyboards/idobo/keymaps/revok75/readme.md
  keyboards/idobo/keymaps/revok75/rules.mk
  keyboards/xd75/keymaps/revok75/config.h
  keyboards/xd75/keymaps/revok75/keymap.c
  keyboards/xd75/keymaps/revok75/readme.md
  keyboards/xd75/keymaps/revok75/rules.mk
Labels: keymap

#4552 Updated files to work with Planck Rev. 6
  keyboards/planck/keymaps/navi/config.h
  keyboards/planck/keymaps/navi/keymap.c
  keyboards/planck/keymaps/navi/rules.mk
Labels: keymap

#4559 handwired/fivethirteen Refactor, Configurator support, and readme cleanup
  keyboards/handwired/fivethirteen/README.md
  keyboards/handwired/fivethirteen/fivethirteen.h
  keyboards/handwired/fivethirteen/info.json
  keyboards/handwired/fivethirteen/keymaps/default/keymap.c
  keyboards/handwired/fivethirteen/readme.md
Labels: keyboard

#4539 Fixing spelling, updating code, finalizing keymap for Dichotomy
  keyboards/dichotemy/dichotemy.h
  keyboards/dichotemy/keymaps/default/keymap.c
  keyboards/dichotomy/config.h
  keyboards/dichotomy/dichotomy.c
  keyboards/dichotomy/dichotomy.h
  keyboards/dichotomy/info.json
  keyboards/dichotomy/keymaps/default/keymap.c
  keyboards/dichotomy/matrix.c
  keyboards/dichotomy/readme.md
  keyboards/dichotomy/rules.mk
Labels: keymap

#3862 Allow HS60 to use Community Layouts
  keyboards/hs60/v1/keymaps/ansi/config.h
  keyboards/hs60/v1/readme.md
  keyboards/hs60/v1/rules.mk
Labels: keyboard

#4505 Delete docs/keycode.txt
  docs/keycode.txt
Labels: documentation

#4538 Vertical animation support for arm_atsam led_matrix
  tmk_core/protocol/arm_atsam/led_matrix.c
  tmk_core/protocol/arm_atsam/led_matrix.h
Labels: core, enhancement

#4563 handwired/gamenum Refactor, Configurator support and readme cleanup
  keyboards/handwired/gamenum/gamenum.h
  keyboards/handwired/gamenum/info.json
  keyboards/handwired/gamenum/keymaps/default/keymap.c
  keyboards/handwired/gamenum/readme.md
Labels: keyboard

#4485 Palm serial keyboard USB converter
  keyboards/converter/palm_usb/config.h
  keyboards/converter/palm_usb/matrix.c
  keyboards/converter/palm_usb/readme.md
  keyboards/converter/palm_usb/rules.mk
  keyboards/converter/palm_usb/stowaway/keymaps/default/keymap.c
  keyboards/converter/palm_usb/stowaway/rules.mk
  keyboards/converter/palm_usb/stowaway/stowaway.h
Labels: keyboard

#4565 crd alps64 updates
  keyboards/alps64/alps64.h
  keyboards/alps64/keymaps/crd/keymap.c
  keyboards/dz60/keymaps/crd_ansi/keymap.c
Labels: keyboard, keymap

#4566 Add levinson keymap for user 'drogglbecher'
  keyboards/levinson/keymaps/drogglbecher/config.h
  keyboards/levinson/keymaps/drogglbecher/keymap.c
  keyboards/levinson/keymaps/drogglbecher/rules.mk
Labels: keymap

#4570 adding ishtob's keymap to hadron ver3
  keyboards/hadron/ver3/keymaps/ishtob/config.h
  keyboards/hadron/ver3/keymaps/ishtob/keymap.c
  keyboards/hadron/ver3/keymaps/ishtob/readme.md
Labels: keymap

#4571 handwired/minorca Refactor, Configurator support and readme cleanup
  keyboards/handwired/minorca/info.json
  keyboards/handwired/minorca/keymaps/default/keymap.c
  keyboards/handwired/minorca/keymaps/rgb/keymap.c
  keyboards/handwired/minorca/minorca.h
  keyboards/handwired/minorca/readme.md
Labels: keyboard

#4463 Updated keymap with better F positioning
  keyboards/planck/keymaps/dr_notsokind/Readme.md
  keyboards/planck/keymaps/dr_notsokind/keymap.c
Labels: awaiting changes, keymap

#4575 AJP10304 Planck layout, add LAYOUT_planck_grid
  keyboards/planck/keymaps/ajp10304/keymap.c
  keyboards/planck/keymaps/ajp10304/readme.md
Labels: keymap

#4574 Removed mousekeys. Added Levinson Steno keymap.
  keyboards/iris/keymaps/vyolle/keymap.c
  keyboards/levinson/keymaps/steno/config.h
  keyboards/levinson/keymaps/steno/keymap.c
  keyboards/levinson/keymaps/steno/rules.mk
Labels: keymap

#4494 Add support for PR and Issue templates to QMK_firmware GitHub
  .github/ISSUE_TEMPLATE/blank.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other_issues.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/_sidebar.md
  docs/_summary.md
  docs/support.md
Labels: documentation, enhancement

#4222 Add a better Docker build script + update Dockerfile
  Dockerfile
  docs/getting_started_build_tools.md
  util/docker_build.sh
Labels: enhancement

#4577 Modified like-jis keymap for crkbd
  keyboards/crkbd/keymaps/like_jis/config.h
  keyboards/crkbd/keymaps/like_jis/keymap.c
  keyboards/crkbd/keymaps/like_jis/oled_helper.c
  keyboards/crkbd/keymaps/like_jis/oled_helper.h
  keyboards/crkbd/keymaps/like_jis/rules.mk
Labels: keymap

#4580 Fixed a problem with underglow with froggy keymap
  keyboards/helix/rev2/keymaps/froggy/keymap.c
Labels: keymap

#4587 Fixed lack of semi colon.
  keyboards/levinson/keymaps/steno/keymap.c
Labels: keymap

#4588 handwired/nicekey Refactor and readme cleanup
  keyboards/handwired/nicekey/keymaps/default/keymap.c
  keyboards/handwired/nicekey/nicekey.h
  keyboards/handwired/nicekey/readme.md
Labels: keyboard

#4590 handwired/onekey Refactor and readme update
  keyboards/handwired/onekey/keymaps/default/keymap.c
  keyboards/handwired/onekey/onekey.h
  keyboards/handwired/onekey/readme.md
Labels: keyboard, keymap

#4592 Added RGB toggle and cycle to default KDB6x mapping.
  keyboards/kbd6x/keymaps/default/keymap.c
Labels: keyboard, keymap

#4591 Fix the LFKeyboards so they work with the QMK Configurator
  keyboards/lfkeyboards/lfk78/keymaps/ca178858/rules.mk
  keyboards/lfkeyboards/lfk78/keymaps/default/rules.mk
  keyboards/lfkeyboards/lfk78/keymaps/iso/rules.mk
  keyboards/lfkeyboards/lfk78/keymaps/split_bs_osx/rules.mk
  keyboards/lfkeyboards/lfk78/lfk78.c
  keyboards/lfkeyboards/lfk78/rules.mk
  keyboards/lfkeyboards/lfk87/keymaps/ca178858/rules.mk
  keyboards/lfkeyboards/lfk87/keymaps/default/rules.mk
  keyboards/lfkeyboards/lfk87/keymaps/gbchk/rules.mk
  keyboards/lfkeyboards/lfk87/keymaps/iso/rules.mk
  keyboards/lfkeyboards/lfk87/lfk87.c
  keyboards/lfkeyboards/lfk87/rules.mk
  keyboards/lfkeyboards/lfkpad/keymaps/default/rules.mk
  keyboards/lfkeyboards/lfkpad/rules.mk
  keyboards/lfkeyboards/mini1800/keymaps/ca178858/rules.mk
  keyboards/lfkeyboards/mini1800/keymaps/default/rules.mk
  keyboards/lfkeyboards/mini1800/mini1800.c
Labels: bug, keyboard

#4602 handwired/pilcrow Refactor, Configurator support and readme update
  keyboards/handwired/pilcrow/info.json
  keyboards/handwired/pilcrow/keymaps/default/config.h
  keyboards/handwired/pilcrow/keymaps/default/keymap.c
  keyboards/handwired/pilcrow/pilcrow.h
  keyboards/handwired/pilcrow/readme.md
Labels: keyboard

#4605 Changing Zeal60/Zeal65 VID/PID to be unique
  keyboards/zeal60/config.h
  keyboards/zeal65/config.h
Labels: keyboard

#4600 Fix macro docs to be consistent with keyboard template
  docs/feature_macros.md
Labels: documentation

#4604 handwired/pteron Configurator support
  keyboards/handwired/pteron/info.json
Labels: keyboard

#4603 handwired/practice60: Configurator Support and refactor
  keyboards/handwired/practice60/info.json
  keyboards/handwired/practice60/keymaps/default/keymap.c
  keyboards/handwired/practice60/practice60.h
Labels: keyboard

#4608 Dichotomy keymap by alairock
  keyboards/dichotomy/keymaps/alairock/keymap.c
Labels: keymap

#4607 Added Drewsky DZ60 keymap
  keyboards/dz60/keymaps/drewsky/Readme.md
  keyboards/dz60/keymaps/drewsky/keymap.c
Labels: keymap

#4598 Preonic Configurator update
  keyboards/preonic/info.json
  keyboards/preonic/preonic.h
  keyboards/preonic/rev1/rev1.h
  keyboards/preonic/rev2/rev2.h
  keyboards/preonic/rev3/info.json
  keyboards/preonic/rev3/rev3.h
Labels: keyboard

#4589 handwired/numpad20 Refactor and Configurator support
  keyboards/handwired/numpad20/info.json
  keyboards/handwired/numpad20/keymaps/default/keymap.c
  keyboards/handwired/numpad20/numpad20.h
Labels: keyboard, keymap

#4389 Add standard definitions for ALGR and KC_ALGR, fix inconsistencies
  docs/feature_advanced_keycodes.md
  docs/keycodes.md
  docs/keycodes_basic.md
  keyboards/handwired/reddot/keymaps/default/keymap.c
  keyboards/xd75/keymaps/germanized/config.h
  quantum/keymap_extras/keymap_belgian.h
  quantum/keymap_extras/keymap_bepo.h
  quantum/keymap_extras/keymap_canadian_multilingual.h
  quantum/keymap_extras/keymap_fr_ch.h
  quantum/keymap_extras/keymap_french.h
  quantum/keymap_extras/keymap_german.h
  quantum/keymap_extras/keymap_german_ch.h
  quantum/keymap_extras/keymap_hungarian.h
  quantum/keymap_extras/keymap_italian.h
  quantum/keymap_extras/keymap_nordic.h
  quantum/keymap_extras/keymap_slovenian.h
  quantum/keymap_extras/keymap_spanish.h
  quantum/keymap_extras/keymap_uk.h
  quantum/quantum.h
  quantum/quantum_keycodes.h
  tmk_core/common/keycode.h
Labels: optimization

#4614 S7 Elephant Configurator fixes
  keyboards/s7_elephant/info.json
Labels: keyboard

#4615 Puck Refactor, Configurator support and readme cleanup
  keyboards/puck/info.json
  keyboards/puck/puck.h
  keyboards/puck/readme.md
Labels: keyboard

#4613 update ishtobs hadron keymap
  keyboards/hadron/ver3/keymaps/ishtob/keymap.c
  keyboards/hadron/ver3/rev3.h
Labels: keymap

#4624 handwired/maartenwut readme cleanup and Configurator support
  keyboards/handwired/maartenwut/info.json
  keyboards/handwired/maartenwut/readme.md
Labels: keyboard

#4626 Added Dynamic Keymaps to M10-B
  keyboards/rama/m10_b/config.h
  keyboards/rama/m10_b/keymaps/default/keymap.c
  keyboards/rama/m10_b/keymaps/knops/config.h
  keyboards/rama/m10_b/m10_b.c
  keyboards/rama/m10_b/rules.mk
  keyboards/rama/u80_a/config.h
  keyboards/rama/u80_a/rules.mk
  keyboards/wilba_tech/wt60_a/config.h
  keyboards/wilba_tech/wt65_a/config.h
  keyboards/wilba_tech/wt80_a/config.h
  keyboards/wilba_tech/wt_main.c
Labels: keyboard

#4640 Keyboardio Model 01: Configurator support
  keyboards/model01/info.json
Labels: keyboard

#4633 handwired/108key_trackpoint Configurator support and readme update
  keyboards/handwired/108key_trackpoint/info.json
  keyboards/handwired/108key_trackpoint/readme.md
Labels: keyboard

#4631 Remove userspace info from Quad-Function Tap Dance example
  docs/feature_tap_dance.md
Labels: documentation

#4628 Enhance documentation for Tap-Hold functions
  docs/feature_advanced_keycodes.md
Labels: documentation

#4621 Docs: Remove duplicate layer block in keycodes.md
  docs/keycodes.md
Labels: documentation

#4594 Add additional resource links
  docs/newbs.md
Labels: documentation

#4609 Fix up tap_code functionality
  docs/config_options.md
  docs/feature_macros.md
  quantum/quantum.c
  quantum/quantum.h
  tmk_core/common/action.c
  tmk_core/common/action.h
Labels: bug, core, enhancement, optimization

#4645 Add some optimization to the Tetris keyboard
  keyboards/tetris/config.h
  keyboards/tetris/keymaps/default/keymap.c
  keyboards/tetris/rules.mk
Labels: keyboard, optimization

#4620 Docs: Clarify audio keycodes
  docs/feature_audio.md
  docs/keycodes.md
Labels: documentation

#4419 Make quantum/split_common/serial.[ch] configurable
  common_features.mk
  docs/config_options.md
  keyboards/40percentclub/25/config.h
  keyboards/40percentclub/6lit/config.h
  keyboards/40percentclub/foobar/config.h
  keyboards/diverge3/config.h
  keyboards/divergetm2/config.h
  keyboards/ergotravel/rev1/config.h
  keyboards/handwired/dactyl_manuform/config.h
  keyboards/handwired/qc60/config.h
  keyboards/handwired/xealous/config.h
  keyboards/iris/rev1/config.h
  keyboards/iris/rev1_led/config.h
  keyboards/iris/rev2/config.h
  keyboards/iris/rev3/config.h
  keyboards/lets_split_eh/config.h
  keyboards/levinson/rev1/config.h
  keyboards/levinson/rev2/config.h
  keyboards/miniaxe/config.h
  keyboards/nyquist/rev1/config.h
  keyboards/nyquist/rev2/config.h
  keyboards/nyquist/rev3/config.h
  keyboards/quefrency/rev1/config.h
  keyboards/qwertyydox/config.h
  keyboards/qwertyydox/rev1/config.h
  keyboards/redox/rev1/config.h
  keyboards/rorschach/rev1/config.h
  quantum/split_common/serial.c
  quantum/split_common/serial.h
  quantum/split_common/serial_backward_compatibility.h
  quantum/split_common/split_util.h
  quantum/template/avr/config.h
Labels: enhancement

#4647 B.mini EX refactor and Configurator support
  keyboards/bminiex/bminiex.h
  keyboards/bminiex/info.json
  keyboards/bminiex/keymaps/ansi/keymap.c
  keyboards/bminiex/keymaps/ansi/readme.md
  keyboards/bminiex/keymaps/iso/keymap.c
  keyboards/bminiex/keymaps/iso/readme.md
Labels: keyboard

#4646 Fix macro redefinition for GNUC compilers > 6
  tmk_core/protocol/arm_atsam/usb/compiler.h
Labels: bug, core

#4585 Document the correct path to the split keyboard EEPROM files
  keyboards/handwired/dactyl_manuform/readme.md
  keyboards/handwired/not_so_minidox/readme.md
  keyboards/handwired/xealous/readme.md
  keyboards/lets_split/readme.md
  keyboards/minidox/readme.md
  keyboards/orthodox/readme.md
Labels: documentation, keyboard

#4648 Bpiphany Frosty Flake Refactor, Configurator support and readme cleanup
  keyboards/bpiphany/frosty_flake/frosty_flake.h
  keyboards/bpiphany/frosty_flake/info.json
  keyboards/bpiphany/frosty_flake/keymaps/QFR_JM/config.h
  keyboards/bpiphany/frosty_flake/keymaps/QFR_JM/keymap.c
  keyboards/bpiphany/frosty_flake/keymaps/default/config.h
  keyboards/bpiphany/frosty_flake/keymaps/default/keymap.c
  keyboards/bpiphany/frosty_flake/keymaps/default/rules.mk
  keyboards/bpiphany/frosty_flake/keymaps/nikchi/config.h
  keyboards/bpiphany/frosty_flake/keymaps/nikchi/keymap.c
  keyboards/bpiphany/frosty_flake/keymaps/nikchi/rules.mk
  keyboards/bpiphany/frosty_flake/keymaps/tkl/config.h
  keyboards/bpiphany/frosty_flake/keymaps/tkl/keymap.c
  keyboards/bpiphany/frosty_flake/readme.md
Labels: keyboard

#4649 Bpiphany Pegasus Hoof Refactor, Configurator support and readme cleanup
  keyboards/bpiphany/pegasushoof/info.json
  keyboards/bpiphany/pegasushoof/keymaps/blowrak/keymap.c
  keyboards/bpiphany/pegasushoof/keymaps/blowrak/rules.mk
  keyboards/bpiphany/pegasushoof/keymaps/citadel/config.h
  keyboards/bpiphany/pegasushoof/keymaps/citadel/keymap.c
  keyboards/bpiphany/pegasushoof/keymaps/citadel/rules.mk
  keyboards/bpiphany/pegasushoof/keymaps/default/keymap.c
  keyboards/bpiphany/pegasushoof/keymaps/default/rules.mk
  keyboards/bpiphany/pegasushoof/pegasushoof.h
  keyboards/bpiphany/pegasushoof/readme.md
  keyboards/bpiphany/pegasushoof/rules.mk
Labels: keyboard

#4651 Fix keymap build to send over remote desktop correctly.
  keyboards/bigswitch/keymaps/333fred/keymap.c
Labels: keymap

#4560 Add left/right EEPROM flashing for DFU
  tmk_core/avr.mk
Labels: enhancement

#4653 Comet46 Configurator support
  keyboards/comet46/info.json
Labels: keyboard

#4522 Refactor quantum/split_common/i2c.c, quantum/split_common/serial.c
  build_keyboard.mk
  common_features.mk
  keyboards/lets_split/rev1/config.h
  keyboards/lets_split/rev2/config.h
  keyboards/lets_split/sockets/config.h
  quantum/split_common/i2c.c
  quantum/split_common/serial.c
  tmk_core/common/command.c
  tmk_core/rules.mk
Labels: core, optimization

#4652 Chimera Ortho refactor
  keyboards/chimera_ortho/chimera_ortho.h
  keyboards/chimera_ortho/info.json
  keyboards/chimera_ortho/keymaps/dcompact/keymap.c
  keyboards/chimera_ortho/keymaps/default/config.h
  keyboards/chimera_ortho/keymaps/default/keymap.c
  keyboards/chimera_ortho/keymaps/gordon/keymap.c
Labels: keyboard

#4654 converter/ibm_5291: Configurator support and readme cleanup
  keyboards/converter/ibm_5291/info.json
  keyboards/converter/ibm_5291/readme.md
Labels: keyboard

#4655 converter/palm_usb/stowaway: Configurator support
  keyboards/converter/palm_usb/stowaway/info.json
Labels: keyboard

#4664 Ergo42: Configurator patch
  keyboards/ergo42/info.json
Labels: keyboard

#4663 Cospad Configurator and readme update
  keyboards/cospad/info.json
  keyboards/cospad/readme.md
Labels: keyboard

#4665 ErgoInu Configurator fix
  keyboards/ergoinu/info.json
Labels: keyboard

#4678 My personal planck keymap
  keyboards/planck/keymaps/mattly/config.h
  keyboards/planck/keymaps/mattly/keymap.c
  keyboards/planck/keymaps/mattly/readme.md
  keyboards/planck/keymaps/mattly/rules.mk
Labels: keymap

#4677 A Planck style keymap with iris flair
  keyboards/ergotravel/keymaps/yanfali/config.h
  keyboards/ergotravel/keymaps/yanfali/keymap.c
  keyboards/ergotravel/keymaps/yanfali/rules.mk
Labels: keymap

#4667 FC980C refactor and Configurator update
  keyboards/fc980c/fc980c.h
  keyboards/fc980c/info.json
Labels: keyboard

#4666 Espectro refactor and Configurator support
  keyboards/espectro/espectro.h
  keyboards/espectro/info.json
  keyboards/espectro/keymaps/default/keymap.c
  keyboards/espectro/keymaps/iso/keymap.c
  keyboards/espectro/keymaps/mac/keymap.c
  keyboards/espectro/keymaps/mapdev/keymap.c
Labels: keyboard

#4682 Fix fc980c.h update
  keyboards/fc980c/fc980c.h
Labels: bug, keyboard

#4681 Cast readPin output to bool for AVR to match ChibiOS
  quantum/quantum.h
Labels: bug, core

#4325 Overhaul Unicode Common functionality
  docs/feature_unicode.md
  keyboards/whitefox/keymaps/konstantin/config.h
  keyboards/whitefox/keymaps/konstantin/keymap.c
  quantum/process_keycode/process_ucis.c
  quantum/process_keycode/process_ucis.h
  quantum/process_keycode/process_unicode.c
  quantum/process_keycode/process_unicode.h
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicode_common.h
  quantum/process_keycode/process_unicodemap.c
  quantum/process_keycode/process_unicodemap.h
  quantum/quantum.c
  quantum/quantum_keycodes.h
Labels: core, documentation, enhancement, optimization

#4685 Minor STM32 i2c driver cleanup
  drivers/arm/i2c_master.c
Labels: core, optimization

#4688 Refactor Hacker Dvorak
  keyboards/ergodox_ez/keymaps/hacker_dvorak/config.h
  keyboards/ergodox_ez/keymaps/hacker_dvorak/default.png.md
  keyboards/ergodox_ez/keymaps/hacker_dvorak/default_highres.png.md
  keyboards/ergodox_ez/keymaps/hacker_dvorak/gulpfile.js
  keyboards/ergodox_ez/keymaps/hacker_dvorak/hacker_dvorak.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/keycodes/aliases_definitions.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/keycodes/custom_keycodes.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/keymap.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/layers/layers_definitions.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/leader/leader_dictionary.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/leader/leader_setup.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/plover/plover_mode.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/readme.md
  keyboards/ergodox_ez/keymaps/hacker_dvorak/rules.mk
  keyboards/ergodox_ez/keymaps/hacker_dvorak/tap_dance/mod_tap_layer_dances/none_lead.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/tap_dance/tap_dance_actions.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/tap_dance/tap_dance_setup.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/tap_dance/tap_dances.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/user/eeconfig_init_user.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/user/layer_set_state_user.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/user/matrix_scan_user.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/user/process_record_user.c
Labels: keymap

#4687 update the alairock keymap for dichotomy
  keyboards/dichotomy/keymaps/alairock/keymap.c
Labels: keymap

#4695 Add PROGMEM keyword to Clueboard keymaps
  keyboards/clueboard/60/keymaps/default/keymap.c
  keyboards/clueboard/60/keymaps/default_aek/keymap.c
  keyboards/clueboard/60/keymaps/yanfali/keymap.c
Labels: bug, keyboard, keymap

#4691 GSKT-00 Configurator update
  keyboards/gskt00/info.json
Labels: keyboard

#4686 Pr/helixpico add layout kc
  keyboards/helix/pico/pico.h
Labels: keyboard

#4684 Enable RGB animations in Atom47
  keyboards/atom47/rev3/config.h
Labels: keyboard

#4660 Docs: Add additional clarification to Leader Key documention
  docs/config_options.md
  docs/feature_leader_key.md
Labels: discussion, documentation

#4696 Add Helix/pico keymap 'mtei'
  keyboards/helix/pico/keymaps/mtei/config.h
  keyboards/helix/pico/keymaps/mtei/keymap.c
  keyboards/helix/pico/keymaps/mtei/rules.mk
Labels: keymap

#4662 Fix up process_leader to be a bit more optimized
  docs/config_options.md
  docs/feature_leader_key.md
  quantum/process_keycode/process_leader.c
  quantum/process_keycode/process_leader.h
Labels: core, optimization

#4700 Feature Unicode example code fixed.
  docs/feature_unicode.md
Labels: documentation

#4699 handwired/not_so_minidox: Configurator support
  keyboards/handwired/not_so_minidox/info.json
Labels: keyboard, keymap

#4701 Update keymap for planck/rev6
  keyboards/planck/keymaps/sascha/keymap.c
  keyboards/planck/keymaps/sascha/rules.mk
Labels: keymap

#4694 Redox / jeherve: updates
  keyboards/redox/keymaps/jeherve/keymap.c
  keyboards/redox/keymaps/jeherve/readme.md
Labels: keymap

#4702 Add crd's XD60 ANSI keymap
  keyboards/xd60/keymaps/crd_ansi/README.md
  keyboards/xd60/keymaps/crd_ansi/keymap.c
Labels: keymap

#4705 Update Vinta
  keyboards/vinta/info.json
  keyboards/vinta/keymaps/default/keymap.c
  keyboards/vinta/vinta.h
Labels: keyboard

#4707 Infinity60 refactor, Configurator support and readme update
  keyboards/infinity60/infinity60.h
  keyboards/infinity60/info.json
  keyboards/infinity60/keymaps/default/keymap.c
  keyboards/infinity60/keymaps/depariel/keymap.c
  keyboards/infinity60/keymaps/hasu/keymap.c
  keyboards/infinity60/keymaps/jpetermans/config.h
  keyboards/infinity60/keymaps/jpetermans/keymap.c
  keyboards/infinity60/keymaps/jpetermans/rules.mk
  keyboards/infinity60/matrix.c
  keyboards/infinity60/readme.md
Labels: keyboard

#4714 [Miuni32] Update the # of LEDs to match the final version of PCB
  keyboards/miuni32/config.h
  keyboards/miuni32/readme.md
Labels: keyboard

#4704 First PR for KBD6x HHKB layout keymap
  keyboards/kbd6x/keymaps/othi/config.h
  keyboards/kbd6x/keymaps/othi/keymap.c
  keyboards/kbd6x/keymaps/othi/readme.md
  keyboards/kbd6x/keymaps/othi/rules.mk
Labels: keymap

#4719 fix ishtob userspace compile error with planck grid
  keyboards/planck/keymaps/ishtob/keymap.c
  users/ishtob/ishtob.h
Labels: keymap

#4718 Toad Configurator support and readme update
  keyboards/toad/info.json
  keyboards/toad/readme.md
Labels: keyboard

#4669 Replace serial.c of quantum/split_common/
  common_features.mk
  keyboards/miniaxe/matrix.c
  quantum/split_common/matrix.c
  quantum/split_common/matrix.h
  quantum/split_common/serial.c
  quantum/split_common/serial.h
  quantum/split_common/serial_backward_compatibility.h
  quantum/split_common/split_util.c
  quantum/split_common/split_util.h
Labels: core, enhancement, optimization

#4717 Add tsangan layout to dz60 with a "sane" default keymap
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/60_tsangan/keymap.c
Labels: keyboard, keymap

#4238 Chibios_test/stm32_f072_onekey: Add support for reset to bootloader
  keyboards/chibios_test/boards/ST_STM32F072B_DISCOVERY/board.c
  keyboards/chibios_test/boards/ST_STM32F072B_DISCOVERY/board.h
  keyboards/chibios_test/boards/ST_STM32F072B_DISCOVERY/board.mk
Labels: core, enhancement, keyboard

#4726 Improve diagnostics for build hashes
  .travis.yml
  util/travis_compiled_push.sh
Labels: enhancement

#4395 Read user input properly in linux_install.sh for Gentoo
  util/linux_install.sh
Labels: enhancement

#3672 Update feature_advanced_keycodes.md
  docs/feature_advanced_keycodes.md
Labels: needs doc

#3905 Keep pressed keys on layer state change (fixes #2053, #2279)
  tmk_core/common/action.c
  tmk_core/common/action.h
  tmk_core/common/action_layer.c
Labels: core, enhancement

#4735 Update split keyboard docs
  docs/config_options.md
  quantum/split_common/serial.c
  quantum/split_common/split_util.c
Labels: documentation

#4736 Fix Split Common Split_util.c typo
  quantum/split_common/split_util.c
Labels: bug, core

#4734 refactored cyclops keyboard project
  keyboards/cyclops/keymaps/default/keymap.c
  keyboards/westfoxtrot/cyclops/config.h
  keyboards/westfoxtrot/cyclops/cyclops.c
  keyboards/westfoxtrot/cyclops/cyclops.h
  keyboards/westfoxtrot/cyclops/info.json
  keyboards/westfoxtrot/cyclops/keymaps/default/config.h
  keyboards/westfoxtrot/cyclops/keymaps/default/keymap.c
  keyboards/westfoxtrot/cyclops/keymaps/default/readme.md
  keyboards/westfoxtrot/cyclops/readme.md
  keyboards/westfoxtrot/cyclops/rules.mk
Labels: keyboard, keymap

#4743 Fix `process_leader` return code
  quantum/process_keycode/process_leader.c
Labels: bug, core

#4741 Keymap: add ginjake keymap for the zinc keyboard
  keyboards/zinc/keymaps/ginjake/config.h
  keyboards/zinc/keymaps/ginjake/keymap.c
  keyboards/zinc/keymaps/ginjake/readme_jp.md
  keyboards/zinc/keymaps/ginjake/rules.mk
Labels: keymap

#4738 Wanleg 5x5 Keymap changes
  layouts/community/ortho_5x15/wanleg/keymap.c
  users/wanleg/rules.mk
  users/wanleg/tapdances.c
  users/wanleg/wanleg.c
  users/wanleg/wanleg.h
Labels: keymap

#4746 mattly: more tweaks
  keyboards/planck/keymaps/mattly/keymap.c
Labels: keymap

#4744 Register the interrupting keycode in the tap dance state struct
  quantum/process_keycode/process_tap_dance.c
  quantum/process_keycode/process_tap_dance.h
Labels: core, enhancement

#4742 define brainfuck keymap
  keyboards/namecard2x4/keymaps/brainfuck/config.h
  keyboards/namecard2x4/keymaps/brainfuck/keymap.c
  keyboards/namecard2x4/keymaps/brainfuck/readme.md
Labels: keymap

#4747 Change rgblight_get_mode & rgb_matrix_get_mode's return type to uint8_t.
  keyboards/mxss/rgblight.c
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core, optimization

#4716 Move Split Common VPATH addition
  common.mk
  common_features.mk
Labels: bug, core

#4751 Enable defaults for Sol
  keyboards/sol/rules.mk
Labels: keyboard
