Repository qmk/qmk_firmware, pull requests merged in 2018-06, with the labels that each got.

#3096 Palleiko's Keymap
  keyboards/planck/keymaps/palleiko/config.h
  keyboards/planck/keymaps/palleiko/keymap.c
  keyboards/planck/keymaps/palleiko/readme.md
  keyboards/planck/keymaps/palleiko/rules.mk
Labels: keymap

#3100 Refactor and Configurator update for Christmas Tree
  keyboards/christmas_tree/christmas_tree.h
  keyboards/christmas_tree/info.json
  keyboards/christmas_tree/keymaps/default/keymap.c
Labels: keyboard

#3102 Put CA66 and PK60 under a playkbtw directory
  keyboards/playkbtw/ca66/ca66.c
  keyboards/playkbtw/ca66/ca66.h
  keyboards/playkbtw/ca66/config.h
  keyboards/playkbtw/ca66/info.json
  keyboards/playkbtw/ca66/keymaps/default/keymap.c
  keyboards/playkbtw/ca66/keymaps/kelorean/keymap.c
  keyboards/playkbtw/ca66/keymaps/kelorean/layers.json
  keyboards/playkbtw/ca66/keymaps/olivia/keymap.c
  keyboards/playkbtw/ca66/readme.md
  keyboards/playkbtw/ca66/rules.mk
  keyboards/playkbtw/pk60/config.h
  keyboards/playkbtw/pk60/info.json
  keyboards/playkbtw/pk60/keymaps/default/keymap.c
  keyboards/playkbtw/pk60/keymaps/default/readme.md
  keyboards/playkbtw/pk60/pk60.c
  keyboards/playkbtw/pk60/pk60.h
  keyboards/playkbtw/pk60/readme.md
  keyboards/playkbtw/pk60/rules.mk
  keyboards/playkbtw/readme.md
Labels: keyboard

#3099 Refactor and Configurator update for Chocopad
  keyboards/chocopad/chocopad.h
  keyboards/chocopad/info.json
  keyboards/chocopad/keymaps/default/keymap.c
Labels: keyboard

#3093 Remove bootloader key in info.json documentation
  docs/hardware_keyboard_guidelines.md
Labels: needs doc

#3090 Add support for staggerd column layout KB "Fortitude60"
  keyboards/fortitude60/config.h
  keyboards/fortitude60/fortitude60.c
  keyboards/fortitude60/fortitude60.h
  keyboards/fortitude60/keymaps/default/config.h
  keyboards/fortitude60/keymaps/default/keymap.c
  keyboards/fortitude60/keymaps/default/rules.mk
  keyboards/fortitude60/matrix.c
  keyboards/fortitude60/readme.md
  keyboards/fortitude60/rev1/config.h
  keyboards/fortitude60/rev1/rev1.c
  keyboards/fortitude60/rev1/rev1.h
  keyboards/fortitude60/rev1/rules.mk
  keyboards/fortitude60/rules.mk
  keyboards/fortitude60/serial.c
  keyboards/fortitude60/serial.h
  keyboards/fortitude60/split_util.c
  keyboards/fortitude60/split_util.h
Labels: keyboard

#3094 Dhertz' keymaps
  keyboards/canoe/keymaps/dhertz/keymap.c
  keyboards/hhkb/keymaps/dhertz/config.h
  keyboards/hhkb/keymaps/dhertz/keymap.c
  keyboards/hhkb/keymaps/dhertz/keymap.h
  keyboards/hhkb/keymaps/dhertz/rules.mk
  keyboards/whitefox/keymaps/default/keymap.c
  keyboards/whitefox/keymaps/dhertz/keymap.c
  keyboards/whitefox/keymaps/dudeofawesome/keymap.c
  keyboards/whitefox/keymaps/jetpacktuxedo/keymap.c
  keyboards/whitefox/keymaps/kim-kim/keymap.c
  keyboards/whitefox/keymaps/matt3o/keymap.c
  keyboards/whitefox/whitefox.h
  users/dhertz/config.h
  users/dhertz/dhertz.c
  users/dhertz/dhertz.h
  users/dhertz/rules.mk
Labels: keymap

#3109 Fixed mistake to kelorean keymap for ca66
  keyboards/playkbtw/ca66/keymaps/kelorean/keymap.c
Labels: keymap

#3110 Fix helix:led_test build break
  keyboards/helix/rev2/keymaps/led_test/keymap.c
  keyboards/helix/rev2/keymaps/led_test/rgblight.c
  keyboards/helix/rev2/keymaps/led_test/rgblight.h
Labels: keyboard, keymap

#3111 planck/premek layout - thumb shift, mouse middleclick
  keyboards/planck/keymaps/premek/config.h
  keyboards/planck/keymaps/premek/keymap.c
  keyboards/planck/keymaps/premek/readme.md
  keyboards/planck/readme.md
Labels: keymap

#3108 Melody96 QMK Support
  keyboards/melody96/config.h
  keyboards/melody96/keymaps/default/keymap.c
  keyboards/melody96/melody96.c
  keyboards/melody96/melody96.h
  keyboards/melody96/readme.md
  keyboards/melody96/rules.mk
Labels: keyboard

#3072 [Let's Split] Add ability to write additional code in matrix scan loop on slave.
  keyboards/lets_split/matrix.c
Labels: enhancement, keyboard

#3112 Add Suspend functions
  docs/custom_quantum_functions.md
  tmk_core/common/avr/suspend.c
  tmk_core/common/chibios/suspend.c
  tmk_core/common/suspend.h
Labels: core, enhancement

#3114 Add rgblight mode 35 (R,G,B test mode)
  docs/feature_rgblight.md
  docs/keycodes.md
  quantum/quantum.c
  quantum/quantum_keycodes.h
  quantum/rgblight.c
  quantum/rgblight.h
Labels: enhancement

#3116 1 change to ca66 kelorean layout
  keyboards/playkbtw/ca66/keymaps/kelorean/keymap.c
Labels: keymap

#3117 Added ASCII legend to help visualize the layouts
  keyboards/melody96/keymaps/default/keymap.c
Labels: keyboard, keymap

#3121 Keymap with dynamic macro
  keyboards/melody96/keymaps/crilith/keymap.c
Labels: keymap

#3123 CU75: Refactor and Configurator updates
  keyboards/cu75/cu75.h
  keyboards/cu75/info.json
  keyboards/cu75/keymaps/default/keymap.c
  keyboards/cu75/keymaps/iso/keymap.c
  keyboards/cu75/readme.md
Labels: keyboard

#3124 [WIP] [Help Needed] Daisy 40%: Refactor and Configurator update
  keyboards/daisy/daisy.h
  keyboards/daisy/info.json
  keyboards/daisy/keymaps/default/keymap.c
Labels: keyboard

#3129 adding all ErgoTravel Files
  keyboards/ergotravel/config.h
  keyboards/ergotravel/ergotravel.c
  keyboards/ergotravel/ergotravel.h
  keyboards/ergotravel/i2c.c
  keyboards/ergotravel/i2c.h
  keyboards/ergotravel/info.json
  keyboards/ergotravel/keymaps/ckofy/config.h
  keyboards/ergotravel/keymaps/ckofy/keymap.c
  keyboards/ergotravel/keymaps/ckofy/rules.mk
  keyboards/ergotravel/keymaps/default/config.h
  keyboards/ergotravel/keymaps/default/keymap.c
  keyboards/ergotravel/keymaps/default/rules.mk
  keyboards/ergotravel/keymaps/ian/config.h
  keyboards/ergotravel/keymaps/ian/keymap.c
  keyboards/ergotravel/keymaps/ian/rules.mk
  keyboards/ergotravel/keymaps/jpconstantineau/config.h
  keyboards/ergotravel/keymaps/jpconstantineau/keymap.c
  keyboards/ergotravel/keymaps/jpconstantineau/rules.mk
  keyboards/ergotravel/keymaps/viet/config.h
  keyboards/ergotravel/keymaps/viet/keymap.c
  keyboards/ergotravel/keymaps/viet/rules.mk
  keyboards/ergotravel/matrix.c
  keyboards/ergotravel/readme.md
  keyboards/ergotravel/rev1/config.h
  keyboards/ergotravel/rev1/rev1.c
  keyboards/ergotravel/rev1/rev1.h
  keyboards/ergotravel/rev1/rules.mk
  keyboards/ergotravel/rules.mk
  keyboards/ergotravel/serial.c
  keyboards/ergotravel/serial.h
  keyboards/ergotravel/split_util.c
  keyboards/ergotravel/split_util.h
  keyboards/melody96/keymaps/crilith/keymap.c
Labels: keyboard

#3127 Gherkin wanleg
  keyboards/gherkin/keymaps/wanleg/keymap.c
  keyboards/gherkin/keymaps/wanleg/readme.md
Labels: keymap

#3128 Add ErgoDash keyboard
  keyboards/ergodash/config.h
  keyboards/ergodash/ergodash.c
  keyboards/ergodash/ergodash.h
  keyboards/ergodash/i2c.c
  keyboards/ergodash/i2c.h
  keyboards/ergodash/keymaps/default/config.h
  keyboards/ergodash/keymaps/default/keymap.c
  keyboards/ergodash/keymaps/default/rules.mk
  keyboards/ergodash/matrix.c
  keyboards/ergodash/readme.md
  keyboards/ergodash/rev1/config.h
  keyboards/ergodash/rev1/rev1.c
  keyboards/ergodash/rev1/rev1.h
  keyboards/ergodash/rev1/rules.mk
  keyboards/ergodash/rules.mk
  keyboards/ergodash/serial.c
  keyboards/ergodash/serial.h
  keyboards/ergodash/split_util.c
  keyboards/ergodash/split_util.h
Labels: keyboard

#3130 remove trailing comma to fix parsing issue
  keyboards/sx60/info.json
Labels: keyboard

#3132 Refactor for DeltaSplit75
  keyboards/deltasplit75/info.json
  keyboards/deltasplit75/keymaps/default/keymap.c
  keyboards/deltasplit75/keymaps/itsaferbie/keymap.c
  keyboards/deltasplit75/keymaps/protosplit/keymap.c
  keyboards/deltasplit75/v2/v2.h
Labels: keyboard

#3133 Dichotemy: Refactor and Configurator update
  keyboards/dichotemy/dichotemy.h
  keyboards/dichotemy/info.json
  keyboards/dichotemy/keymaps/default/keymap.c
Labels: keyboard

#3135 Diverge3: Readme Clean-up, Refactor and Configurator support
  keyboards/diverge3/diverge3.h
  keyboards/diverge3/info.json
  keyboards/diverge3/keymaps/default/keymap.c
  keyboards/diverge3/readme.md
Labels: keyboard

#3137 Added new keymap for zen keyboard
  keyboards/zen/keymaps/jwlawrence/config.h
  keyboards/zen/keymaps/jwlawrence/keymap.c
  keyboards/zen/keymaps/jwlawrence/rules.mk
Labels: keymap

#3134 Dilly: Refactor and Configurator support
  keyboards/dilly/dilly.h
  keyboards/dilly/info.json
  keyboards/dilly/keymaps/default/keymap.c
  keyboards/dilly/keymaps/delmo/keymap.c
  keyboards/dilly/keymaps/pletcher/keymap.c
  keyboards/dilly/rules.mk
  layouts/default/ortho_3x10/default_ortho_3x10/keymap.c
  layouts/default/ortho_3x10/layout.json
  layouts/default/ortho_3x10/readme.md
Labels: keyboard

#3139 Additional default layouts
  layouts/default/numpad_4x4/default_numpad_4x4/keymap.c
  layouts/default/numpad_4x4/layout.json
  layouts/default/numpad_4x4/readme.md
  layouts/default/numpad_5x4/default_numpad_5x4/keymap.c
  layouts/default/numpad_5x4/layout.json
  layouts/default/numpad_5x4/readme.md
  layouts/default/ortho_5x4/default_ortho_5x4/keymap.c
  layouts/default/ortho_5x4/layout.json
  layouts/default/ortho_5x4/readme.md
  layouts/default/planck_mit/default_planck_mit/keymap.c
  layouts/default/planck_mit/layout.json
  layouts/default/planck_mit/readme.md
Labels: keyboard

#3141 Normacos update
  keyboards/lets_split/keymaps/normacos/keymap.c
  keyboards/lets_split/keymaps/normacos/readme.md
Labels: keymap

#3142 DK60: Refactor, Configurator and Readme updates
  keyboards/dk60/dk60.h
  keyboards/dk60/info.json
  keyboards/dk60/keymaps/default/keymap.c
  keyboards/dk60/readme.md
Labels: keyboard

#3143 Eco: Refactor, Configurator support and Readme changes
  keyboards/eco/eco.h
  keyboards/eco/info.json
  keyboards/eco/keymaps/default/keymap.c
  keyboards/eco/keymaps/hexwire/keymap.c
  keyboards/eco/keymaps/that_canadian/keymap.c
  keyboards/eco/keymaps/xyverz/keymap.c
  keyboards/eco/readme.md
  keyboards/eco/rev1/rev1.h
  keyboards/eco/rev2/rev2.h
Labels: keyboard

#3145 Add DCompact Layout for Chimera Ortho and Planck Keyboards
  keyboards/chimera_ortho/keymaps/dcompact/README.md
  keyboards/chimera_ortho/keymaps/dcompact/config.h
  keyboards/chimera_ortho/keymaps/dcompact/keymap.c
  keyboards/chimera_ortho/keymaps/dcompact/rules.mk
  keyboards/planck/keymaps/dcompact/README.md
  keyboards/planck/keymaps/dcompact/config.h
  keyboards/planck/keymaps/dcompact/keymap.c
  keyboards/planck/keymaps/dcompact/rules.mk
Labels: keymap

#3149 Keyboard that works on Qwerty or Bepo OS keyboards.
  keyboards/ergodox_ez/keymaps/ericgebhart/keymap.c
  keyboards/ergodox_ez/keymaps/ericgebhart/readme.md
  users/ericgebhart/config.h
  users/ericgebhart/ericgebhart.c
  users/ericgebhart/ericgebhart.h
  users/ericgebhart/flash-ergodox
  users/ericgebhart/readme.md
  users/ericgebhart/rules.mk
  users/ericgebhart/switch-kbd
Labels: keymap

#3148 DZ60: Add LAYOUT_directional_625_space
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
Labels: keyboard

#3150 Ergo42: Refactor and Configurator support
  keyboards/ergo42/ergo42.h
  keyboards/ergo42/info.json
  keyboards/ergo42/keymaps/biacco-macOS/keymap.c
  keyboards/ergo42/keymaps/biacco/keymap.c
  keyboards/ergo42/keymaps/default-illustrator/keymap.c
  keyboards/ergo42/keymaps/default/keymap.c
  keyboards/ergo42/keymaps/hdbx/keymap.c
  keyboards/ergo42/rev1/rev1.h
Labels: keyboard

#3146 citadel: new keymap for pegasushoof
  keyboards/pegasushoof/keymaps/citadel/config.h
  keyboards/pegasushoof/keymaps/citadel/keymap.c
  keyboards/pegasushoof/keymaps/citadel/readme.md
  keyboards/pegasushoof/keymaps/citadel/rules.mk
Labels: keymap

#3119 Add corne keyboard
  keyboards/crkbd/config.h
  keyboards/crkbd/crkbd.c
  keyboards/crkbd/crkbd.h
  keyboards/crkbd/i2c.c
  keyboards/crkbd/i2c.h
  keyboards/crkbd/keymaps/default/config.h
  keyboards/crkbd/keymaps/default/glcdfont.c
  keyboards/crkbd/keymaps/default/keymap.c
  keyboards/crkbd/keymaps/default/rules.mk
  keyboards/crkbd/keymaps/lib/host_led_state_reader.c
  keyboards/crkbd/keymaps/lib/keylogger.c
  keyboards/crkbd/keymaps/lib/layer_state_reader.c
  keyboards/crkbd/keymaps/lib/logo_reader.c
  keyboards/crkbd/keymaps/lib/mode_icon_reader.c
  keyboards/crkbd/keymaps/lib/timelogger.c
  keyboards/crkbd/pro_micro.h
  keyboards/crkbd/readme.md
  keyboards/crkbd/rev1/config.h
  keyboards/crkbd/rev1/matrix.c
  keyboards/crkbd/rev1/rev1.c
  keyboards/crkbd/rev1/rev1.h
  keyboards/crkbd/rev1/rules.mk
  keyboards/crkbd/rules.mk
  keyboards/crkbd/serial.c
  keyboards/crkbd/serial.h
  keyboards/crkbd/split_util.c
  keyboards/crkbd/split_util.h
  keyboards/crkbd/ssd1306.c
  keyboards/crkbd/ssd1306.h
Labels: keyboard

#3152 Fix KC_P00 macro for ortho_5x4 layout
  layouts/default/ortho_5x4/default_ortho_5x4/keymap.c
Labels: keymap

#3154 Additional default layouts: Fullsize ANSI, Fullsize ISO, TKL ISO
  layouts/default/fullsize_ansi/default_fullsize_ansi/keymap.c
  layouts/default/fullsize_ansi/layout.json
  layouts/default/fullsize_ansi/readme.md
  layouts/default/fullsize_iso/default_fullsize_iso/keymap.c
  layouts/default/fullsize_iso/layout.json
  layouts/default/fullsize_iso/readme.md
  layouts/default/tkl_iso/default_tkl_iso/keymap.c
  layouts/default/tkl_iso/layout.json
  layouts/default/tkl_iso/readme.md
Labels: keyboard, keymap

#3156 Fixsingakeymaps
  keyboards/singa/info.json
Labels: keyboard

#3157 Add TKC keymap
  keyboards/tkc1800/keymaps/yanfali/config.h
  keyboards/tkc1800/keymaps/yanfali/keymap.c
Labels: keymap

#3158 Add Tetris keyboard to QMK
  keyboards/tetris/config.h
  keyboards/tetris/keymaps/default/keymap.c
  keyboards/tetris/readme.md
  keyboards/tetris/rules.mk
  keyboards/tetris/tetris.c
  keyboards/tetris/tetris.h
Labels: keyboard

#3160 Felix: Refactor, Rules, and Configurator Support
  keyboards/felix/felix.h
  keyboards/felix/info.json
  keyboards/felix/keymaps/default/keymap.c
  keyboards/felix/rules.mk
Labels: keyboard

#3161 Fortitude60: Refactor and Configurator support
  keyboards/fortitude60/info.json
  keyboards/fortitude60/rev1/rev1.h
Labels: keyboard

#3159 Added a multiple layout keymap for DZ60
  keyboards/dz60/keymaps/hailbreno/README.md
  keyboards/dz60/keymaps/hailbreno/keymap.c
  keyboards/dz60/keymaps/hailbreno/rules.mk
  keyboards/niu_mini/keymaps/framtava/config.h
  keyboards/niu_mini/keymaps/framtava/keymap.c
  keyboards/niu_mini/keymaps/framtava/readme.md
  keyboards/niu_mini/keymaps/framtava/rules.mk
Labels: keymap

#3162 Modifications to Dactyl manuform keyboard
  keyboards/handwired/dactyl_manuform/config.h
  keyboards/handwired/dactyl_manuform/dactyl_manuform.h
  keyboards/handwired/dactyl_manuform/eeprom-lefthand.eep
  keyboards/handwired/dactyl_manuform/eeprom-righthand.eep
  keyboards/handwired/dactyl_manuform/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/keymaps/dvorak/keymap.c
  keyboards/handwired/dactyl_manuform/readme.md
Labels: keyboard

#3163 Fourier: Refactor and readme updates
  keyboards/fourier/keymaps/default/keymap.c
  keyboards/fourier/keymaps/valgrahf/keymap.c
  keyboards/fourier/readme.md
Labels: keyboard

#3164 GH60: readme cleanup, Refactor, and Configurator update
  keyboards/gh60/gh60.h
  keyboards/gh60/info.json
  keyboards/gh60/keymaps/bluezio/keymap.c
  keyboards/gh60/keymaps/chaser/keymap.c
  keyboards/gh60/keymaps/dbroqua/keymap.c
  keyboards/gh60/keymaps/dbroqua_7U/keymap.c
  keyboards/gh60/keymaps/default/keymap.c
  keyboards/gh60/keymaps/maartenwut/keymap.c
  keyboards/gh60/keymaps/maxr1998/keymap.c
  keyboards/gh60/keymaps/robotmaxtron/keymap.c
  keyboards/gh60/keymaps/sethbc/keymap.c
  keyboards/gh60/keymaps/xyverz/keymap.c
  keyboards/gh60/readme.md
Labels: keyboard

#3166 GH80-3000: Refactor and Configurator support
  keyboards/gh80_3000/gh80_3000.h
  keyboards/gh80_3000/info.json
  keyboards/gh80_3000/keymaps/ansi_std/keymap.c
  keyboards/gh80_3000/keymaps/ansi_wkl/keymap.c
  keyboards/gh80_3000/keymaps/default/keymap.c
  keyboards/gh80_3000/keymaps/iso_default/keymap.c
  keyboards/gh80_3000/keymaps/iso_std/keymap.c
  keyboards/gh80_3000/keymaps/iso_wkl/keymap.c
  keyboards/gh80_3000/rules.mk
Labels: keyboard

#3167 GON NerD: Refactor, Configurator support and Readme cleanup
  keyboards/gonnerd/gonnerd.h
  keyboards/gonnerd/info.json
  keyboards/gonnerd/keymaps/default/keymap.c
  keyboards/gonnerd/keymaps/gam3cat/keymap.c
  keyboards/gonnerd/keymaps/mauin/keymap.c
  keyboards/gonnerd/keymaps/tkl/keymap.c
  keyboards/gonnerd/readme.md
Labels: keyboard

#3168 Fix jj40 capslock and minor keymap updates
  keyboards/jj40/keymaps/oscillope/backlight.c
  keyboards/jj40/keymaps/oscillope/config.h
  keyboards/jj40/keymaps/oscillope/keymap.c
Labels: keymap

#3169 Fix melody96 default keymap graphic.
  keyboards/melody96/keymaps/default/keymap.c
Labels: keyboard, keymap

#3165 fix issue with rgbinit unused variable
  quantum/rgblight.c
Labels: enhancement

#3170 Hadron: Readme, Refactor, and Configurator support
  keyboards/hadron/hadron.h
  keyboards/hadron/info.json
  keyboards/hadron/keymaps/default/keymap.c
  keyboards/hadron/keymaps/side_numpad/keymap.c
  keyboards/hadron/readme.md
Labels: keyboard

#3171 Ergodox EZ refactor
  keyboards/ergodox_ez/ergodox_ez.h
  keyboards/ergodox_ez/keymaps/bepo_tm_style/keymap.c
  keyboards/ergodox_ez/keymaps/blakedietz/keymap.c
  keyboards/ergodox_ez/keymaps/dvorak_42_key/keymap.c
  keyboards/ergodox_ez/keymaps/ericgebhart/keymap.c
  keyboards/ergodox_ez/keymaps/heartrobotninja/keymap.c
  keyboards/ergodox_ez/keymaps/matrixman/keymap.c
  keyboards/ergodox_ez/keymaps/profet_80/keymap.c
  keyboards/ergodox_ez/keymaps/saha/keymap.c
  keyboards/ergodox_ez/keymaps/steno/keymap.c
  keyboards/ergodox_ez/keymaps/testing/keymap.c
  keyboards/ergodox_ez/keymaps/vim/keymap.c
  layouts/community/ergodox/berfarah/keymap.c
Labels: keyboard

#3173 Configurator layout repair for Ergodone, Ergodox Infinity and ErgoTravel
  keyboards/ergodone/ergodone.h
  keyboards/ergodox_infinity/ergodox_infinity.h
  keyboards/ergodox_infinity/keymaps/gordon/keymap.c
  keyboards/ergodox_infinity/keymaps/halfkeyboard/keymap.c
  keyboards/ergodox_infinity/keymaps/narze/keymap.c
  keyboards/ergotravel/ergotravel.h
  keyboards/ergotravel/info.json
  keyboards/ergotravel/keymaps/default/keymap.c
  keyboards/ergotravel/rev1/rev1.h
Labels: keyboard

#3174 Mbsurfer deltasplit75 keymap
  keyboards/deltasplit75/keymaps/mbsurfer/config.h
  keyboards/deltasplit75/keymaps/mbsurfer/keymap.c
  keyboards/deltasplit75/keymaps/mbsurfer/readme.md
Labels: keymap

#3175 KBD66 info.json update
  keyboards/kbd66/info.json
Labels: keyboard

#3176 Lightsaver info.json update
  keyboards/lightsaver/info.json
Labels: keyboard

#3177 QMK Configurator Support for Melody96
  keyboards/melody96/info.json
Labels: keyboard

#3179 Clueboard 2x1800 Refactor
  keyboards/clueboard/2x1800/2x1800.h
  keyboards/clueboard/2x1800/info.json
  keyboards/clueboard/2x1800/keymaps/default/keymap.c
  keyboards/clueboard/2x1800/keymaps/default_4u/keymap.c
  keyboards/clueboard/2x1800/keymaps/default_7u/keymap.c
  keyboards/clueboard/2x1800/keymaps/macroboard/keymap.c
  keyboards/clueboard/2x1800/keymaps/mouseboard_left/keymap.c
  keyboards/clueboard/2x1800/keymaps/mouseboard_right/keymap.c
  keyboards/clueboard/2x1800/readme.md
  keyboards/clueboard/66/keymaps/xyverz/config.h
Labels: keyboard

#3180 Fix bfake matrix bug
  keyboards/bfake/bfake.h
  keyboards/bfake/info.json
  keyboards/bfake/readme.md
Labels: keyboard

#3181 Rename from KEYMAP to LAYOUT
  keyboards/tv44/info.json
  keyboards/tv44/keymaps/belak/keymap.c
  keyboards/tv44/keymaps/budi/keymap.c
  keyboards/tv44/keymaps/core/keymap.c
  keyboards/tv44/keymaps/default/keymap.c
  keyboards/tv44/keymaps/jeebak/keymap.c
  keyboards/tv44/keymaps/jetpacktuxedo/keymap.c
  keyboards/tv44/keymaps/smt/keymap.c
  keyboards/tv44/keymaps/tong92/keymap.c
  keyboards/tv44/keymaps/xyverz/keymap.c
  keyboards/tv44/tv44.h
Labels: keyboard

#3178 Tada68 refactor and readme update
  keyboards/tada68/info.json
  keyboards/tada68/keymaps/amnesia0287/keymap.c
  keyboards/tada68/keymaps/ardakilic/keymap.c
  keyboards/tada68/keymaps/default/keymap.c
  keyboards/tada68/keymaps/fakb/keymap.c
  keyboards/tada68/keymaps/fezzant/keymap.c
  keyboards/tada68/keymaps/iso-uk/keymap.c
  keyboards/tada68/keymaps/iso-uk/readme.md
  keyboards/tada68/keymaps/iso-uk/tada68.h
  keyboards/tada68/keymaps/isoish/keymap.c
  keyboards/tada68/keymaps/maartenwut/keymap.c
  keyboards/tada68/keymaps/mattdicarlo/keymap.c
  keyboards/tada68/keymaps/mlechner/keymap.c
  keyboards/tada68/keymaps/mtdjr/keymap.c
  keyboards/tada68/keymaps/raylas/keymap.c
  keyboards/tada68/keymaps/rgb/keymap.c
  keyboards/tada68/keymaps/stephengrier/keymap.c
  keyboards/tada68/keymaps/trashcat/keymap.c
  keyboards/tada68/keymaps/tshack/keymap.c
  keyboards/tada68/keymaps/wamsm_tada/keymap.c
  keyboards/tada68/readme.md
  keyboards/tada68/tada68.h
Labels: keyboard

#3186 Planck Light info.json fix
  keyboards/planck/light/info.json
Labels: keyboard

#3190 Canoe Refactor
  keyboards/canoe/canoe.h
  keyboards/canoe/info.json
  keyboards/canoe/readme.md
Labels: keyboard

#3189 Fixed no-op ifndef
  keyboards/ergodox_ez/ergodox_ez.h
Labels: keyboard

#3191 Contra refactor
  keyboards/contra/contra.h
  keyboards/contra/info.json
  keyboards/contra/keymaps/basic/keymap.c
  keyboards/contra/keymaps/dana/keymap.c
  keyboards/contra/keymaps/default/keymap.c
  keyboards/contra/keymaps/ryanm101/keymap.c
  keyboards/contra/readme.md
  keyboards/contra/rules.mk
Labels: keyboard

#3196 Ergodash refactor
  keyboards/ergodash/ergodash.h
  keyboards/ergodash/info.json
  keyboards/ergodash/keymaps/default/keymap.c
  keyboards/ergodash/rev1/rev1.h
  keyboards/ergodash/rules.mk
Labels: keyboard

#3195 Felix info.json fix
  keyboards/felix/info.json
Labels: keyboard

#3193 SixKeyBoard refactor
  keyboards/sixkeyboard/info.json
  keyboards/sixkeyboard/keymaps/default/keymap.c
  keyboards/sixkeyboard/readme.md
  keyboards/sixkeyboard/sixkeyboard.h
Labels: keyboard

#3183 info.json for mini1800
  keyboards/lfkeyboards/mini1800/info.json
Labels: keyboard

#3198 ISO Keymap & Layout for dz60
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/jkbone/keymap.c
  keyboards/dz60/keymaps/jkbone/readme.md
  keyboards/dz60/keymaps/jkbone/rules.mk
Labels: keymap

#3200 ScrabblePad Updates
  keyboards/scrabblepad/config.h
  keyboards/scrabblepad/readme.md
Labels: keyboard

#3201 this allows programming the device throught the reset keycode.
  keyboards/tomato/rules.mk
Labels: keyboard

#3202 DCompact Update 1
  keyboards/chimera_ortho/keymaps/dcompact/README.md
  keyboards/chimera_ortho/keymaps/dcompact/keymap.c
  keyboards/planck/keymaps/dcompact/README.md
  keyboards/planck/keymaps/dcompact/keymap.c
  keyboards/planck/keymaps/dcompact/rules.mk
Labels: keymap

#3203 Some lightshow code for XD75.
  keyboards/xd75/keymaps/skewwhiffy/keymap.c
Labels: keymap

#3204 Add underglow compatible keymap for Ergo42
  keyboards/ergo42/keymaps/biacco-underglow/config.h
  keyboards/ergo42/keymaps/biacco-underglow/keymap.c
  keyboards/ergo42/keymaps/biacco-underglow/rules.mk
Labels: keymap

#3206 Updates to mtdjr userspace and keymaps
  keyboards/handwired/not_so_minidox/keymaps/mtdjr/config.h
  keyboards/iris/keymaps/mtdjr/config.h
  keyboards/iris/keymaps/mtdjr/rules.mk
  keyboards/lets_split/keymaps/mtdjr/config.h
  keyboards/lets_split/keymaps/mtdjr/keymap.c
  keyboards/lets_split/keymaps/mtdjr/rules.mk
  keyboards/xd75/keymaps/mtdjr/keymap.c
  users/mtdjr/mtdjr.c
  users/mtdjr/mtdjr.h
  users/mtdjr/solenoid.h
Labels: keymap

#3205 DZ60 Configurator fix and refactor
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/256k_HHKB/keymap.c
  keyboards/dz60/keymaps/60_plus_arrows/keymap.c
  keyboards/dz60/keymaps/Ansi_plus_fn_arrows/keymap.c
  keyboards/dz60/keymaps/LEdiodes/keymap.c
  keyboards/dz60/keymaps/atlacat/keymap.c
  keyboards/dz60/keymaps/dbroqua/keymap.c
  keyboards/dz60/keymaps/default/keymap.c
  keyboards/dz60/keymaps/eric/keymap.c
  keyboards/dz60/keymaps/f3d3/keymap.c
  keyboards/dz60/keymaps/iso_6u_space/keymap.c
  keyboards/dz60/keymaps/iso_7u_space/keymap.c
  keyboards/dz60/keymaps/iso_uk/keymap.c
  keyboards/dz60/keymaps/iso_uk/readme.md
  keyboards/dz60/keymaps/iso_vim_arrow/keymap.c
  keyboards/dz60/keymaps/itsaferbie/keymap.c
  keyboards/dz60/keymaps/jkbone/keymap.c
  keyboards/dz60/keymaps/model42/keymap.c
  keyboards/dz60/keymaps/n0velty/keymap.c
  keyboards/dz60/keymaps/tailcall/keymap.c
  keyboards/dz60/keymaps/weeheavy/keymap.c
  keyboards/dz60/rules.mk
Labels: keyboard

#3207 Fix Helix i2c wrong bit rate
  keyboards/helix/i2c.c
  keyboards/helix/i2c.h
  keyboards/helix/rev2/keymaps/default/keymap.c
  keyboards/helix/rev2/keymaps/five_rows/keymap.c
  keyboards/helix/rev2/keymaps/froggy/keymap.c
  keyboards/helix/rev2/keymaps/led_test/keymap.c
  keyboards/helix/ssd1306.c
Labels: keyboard

#3212 Change ucontroller from 32u4 to 32u2
  keyboards/meme/rules.mk
Labels: keyboard

#3215 Another alternative layout for TADA68
  keyboards/tada68/keymaps/pascamel/keymap.c
  keyboards/tada68/keymaps/pascamel/readme.md
  keyboards/tada68/keymaps/pascamel/rules.mk
Labels: keymap

#3218 Rename MEME layouts
  keyboards/meme/info.json
  keyboards/meme/keymaps/default/keymap.c
  keyboards/meme/meme.h
Labels: help wanted, keyboard

#3219 feat: add a keymap of kou
  keyboards/ergodox_ez/keymaps/kou/keymap.c
  keyboards/ergodox_ez/keymaps/kou/readme.md
Labels: keymap

#3220 Add LAYOUT_60_ansi to DO60
  keyboards/do60/do60.h
  keyboards/do60/info.json
  keyboards/do60/keymaps/default/keymap.c
  keyboards/do60/keymaps/test/keymap.c
  keyboards/do60/rules.mk
Labels: keyboard

#3223 Fix up some of my universal keymaps
  layouts/community/60_ansi/mechmerlin-ansi/keymap.c
  layouts/community/60_ansi/mechmerlin-ansi/readme.md
  layouts/community/60_ansi_split_bs_rshift/mechmerlin-split/keymap.c
  layouts/community/60_ansi_split_bs_rshift/mechmerlin-split/readme.md
Labels: keymap

#3225 added tada68:unix layout
  keyboards/tada68/keymaps/unix/config.h
  keyboards/tada68/keymaps/unix/keymap.c
  keyboards/tada68/keymaps/unix/readme.md
  keyboards/tada68/keymaps/unix/rules.mk
Labels: keymap

#3227 DO60: add 60_ansi_split_bs_rshift LAYOUT support
  keyboards/do60/do60.h
  keyboards/do60/info.json
  keyboards/do60/rules.mk
Labels: keyboard

#3228 Add QMK Configurator Support for ORG60
  keyboards/org60/info.json
  keyboards/org60/keymaps/boardy/keymap.c
  keyboards/org60/keymaps/default/keymap.c
  keyboards/org60/org60.h
  keyboards/org60/readme.md
Labels: keyboard

#3231 Configurator fix for Org60
  keyboards/org60/info.json
  keyboards/org60/org60.h
  keyboards/org60/rules.mk
Labels: keyboard

#3230 Added comments to Niu Mini default keymap
  keyboards/niu_mini/keymaps/default/keymap.c
Labels: keyboard, keymap

#3226 New Pok3r Based Keymap
  keyboards/iris/keymaps/s1carii/config.h
  keyboards/iris/keymaps/s1carii/keymap.c
  keyboards/iris/keymaps/s1carii/readme.md
  keyboards/iris/keymaps/s1carii/rules.mk
Labels: keymap

#3234 Fixed the command required to build the layout in A persona Orthodox Layout
  keyboards/orthodox/keymaps/rfvizarra/readme.md
Labels: keymap

#3235 Adding my personal keymap to master
  keyboards/planck/keymaps/ishtob/config.h
  keyboards/planck/keymaps/ishtob/keymap.c
  keyboards/planck/keymaps/ishtob/macros_public.h
  keyboards/planck/keymaps/ishtob/readme.md
  keyboards/planck/keymaps/ishtob/rule.mk
Labels: keymap

#3238 Helix: Refactor and Configurator support
  keyboards/helix/helix.h
  keyboards/helix/info.json
  keyboards/helix/rev1/info.json
  keyboards/helix/rev1/keymaps/OLED_sample/keymap.c
  keyboards/helix/rev1/keymaps/default/keymap.c
  keyboards/helix/rev1/rev1.h
  keyboards/helix/rev2/info.json
  keyboards/helix/rev2/keymaps/default/keymap.c
  keyboards/helix/rev2/keymaps/five_rows/keymap.c
  keyboards/helix/rev2/keymaps/froggy/keymap.c
  keyboards/helix/rev2/keymaps/led_test/keymap.c
  keyboards/helix/rev2/rev2.h
Labels: keyboard

#3239 JC65 Refactor and Configurator update
  keyboards/jc65/v32a/info.json
  keyboards/jc65/v32a/keymaps/default/keymap.c
  keyboards/jc65/v32a/keymaps/naut/keymap.c
  keyboards/jc65/v32u4/keymaps/coth/keymap.c
  keyboards/jc65/v32u4/keymaps/dead_encryption/keymap.c
  keyboards/jc65/v32u4/keymaps/default/keymap.c
  keyboards/jc65/v32u4/keymaps/gam3cat/keymap.c
  keyboards/jc65/v32u4/keymaps/jetpacktuxedo/keymap.c
  keyboards/jc65/v32u4/keymaps/na7thana/keymap.c
  keyboards/jc65/v32u4/keymaps/naut/keymap.c
Labels: keyboard

#3241 JJ50 Refactor and updates
  keyboards/jj50/README.md
  keyboards/jj50/info.json
  keyboards/jj50/jj50.h
  keyboards/jj50/rules.mk
Labels: keyboard

#3242 Katana60 refactor and Configurator update
  keyboards/katana60/info.json
  keyboards/katana60/katana60.h
  keyboards/katana60/keymaps/colemak/keymap.c
  keyboards/katana60/keymaps/default/keymap.c
  keyboards/katana60/keymaps/rominronin/keymap.c
Labels: keyboard

#3236 Minidox familiarized layout
  keyboards/minidox/keymaps/alairock/config.h
  keyboards/minidox/keymaps/alairock/keymap.c
  keyboards/minidox/keymaps/alairock/rules.mk
Labels: keymap

#3243 KBD75 refactor and Configurator update
  keyboards/kbd75/info.json
  keyboards/kbd75/kbd75.h
  keyboards/kbd75/keymaps/adit/keymap.c
  keyboards/kbd75/keymaps/default/keymap.c
  keyboards/kbd75/keymaps/iso/keymap.c
  keyboards/kbd75/readme.md
Labels: keymap

#3221 Make sure the timer wraps around correctly independent of the os tick frequency
  tmk_core/common/chibios/timer.c
Labels: core, enhancement

#3216 Disable JTAG via keyboard_init on AT90USB and ATmega32U4 boards
  quantum/matrix.c
  tmk_core/common/keyboard.c
Labels: core, optimization

#3214 Clean up SEND_STRING keycodes and add media keys
  docs/keycodes.md
  docs/keycodes_basic.md
  quantum/send_string_keycodes.h
Labels: core, enhancement

#3247 Added a description how to flash in Windows
  keyboards/jj40/README.md
Labels: keyboard

#3249 Knops Mini Configurator update
  keyboards/knops/mini/info.json
Labels: keyboard

#3255 Helix serial bugfix
  keyboards/helix/serial.c
Labels: bug, keyboard

#3252 Laplace Refactor
  keyboards/laplace/keymaps/bakingpy/keymap.c
  keyboards/laplace/keymaps/default/keymap.c
  keyboards/laplace/laplace.h
Labels: keyboard

#3248 [WIP] Kitten Paw refactor and Configurator update
  keyboards/kitten_paw/info.json
  keyboards/kitten_paw/keymaps/default/keymap.c
  keyboards/kitten_paw/keymaps/ickerwx/keymap.c
  keyboards/kitten_paw/kitten_paw.c
  keyboards/kitten_paw/kitten_paw.h
  keyboards/kitten_paw/readme.md
  keyboards/kitten_paw/rules.mk
Labels: keyboard

#3210 Fix RGB Sleep, so that it only works if rgb light is enabled
  tmk_core/common/avr/suspend.c
Labels: bug, optimization

#3213 Vagrant: removed unused boxes (qmk won't compile with them anyway)
  Vagrantfile
Labels: enhancement

#3147 Diagonal mouse micro move fix
  tmk_core/common/mousekey.c
Labels: bug

#3261 Support KBD75 rev 2
  keyboards/kbd75/config.h
  keyboards/kbd75/kbd75.h
  keyboards/kbd75/readme.md
  keyboards/kbd75/rev1/info.json
  keyboards/kbd75/rev1/rev1.c
  keyboards/kbd75/rev1/rev1.h
  keyboards/kbd75/rev1/rules.mk
  keyboards/kbd75/rev2/info.json
  keyboards/kbd75/rev2/rev2.c
  keyboards/kbd75/rev2/rev2.h
  keyboards/kbd75/rev2/rules.mk
  keyboards/kbd75/rules.mk
Labels: keyboard

#3262 Fix Mbsurfer deltasplit75 keymap
  keyboards/deltasplit75/keymaps/mbsurfer/keymap.c
Labels: keymap

#3253 add QMK DFU make option, bootloader replacement instructions
  keyboards/gherkin/keymaps/wanleg/config.h
  keyboards/gherkin/keymaps/wanleg/keymap.c
  keyboards/gherkin/keymaps/wanleg/readme.md
  keyboards/gherkin/keymaps/wanleg/rules.mk
Labels: keymap

#3263 Add XD75 keymap
  keyboards/xd75/keymaps/markus/config.h
  keyboards/xd75/keymaps/markus/keymap.c
  keyboards/xd75/keymaps/markus/readme.md
  keyboards/xd75/keymaps/markus/rules.mk
Labels: keymap

#3267 Maxr1998's contra keymap
  keyboards/contra/keymaps/maxr1998/config.h
  keyboards/contra/keymaps/maxr1998/keymap.c
  keyboards/contra/keymaps/maxr1998/readme.md
  keyboards/contra/keymaps/maxr1998/rules.mk
Labels: keymap

#3266 minor readme edit
  keyboards/gherkin/keymaps/wanleg/readme.md
Labels: keymap

#3268 Helix shrink config
  keyboards/helix/rev2/config.h
  keyboards/helix/rev2/keymaps/default/config.h
  keyboards/helix/rev2/keymaps/five_rows/config.h
  keyboards/helix/rev2/keymaps/five_rows/rules.mk
  keyboards/helix/rev2/keymaps/froggy/config.h
  keyboards/helix/rev2/keymaps/led_test/config.h
  keyboards/helix/rev2/keymaps/led_test/rules.mk
Labels: keyboard, keymap

#3269 ErgoDash Hardware Update
  keyboards/ergodash/readme.md
  keyboards/ergodash/rev1/ergodash.h
  keyboards/ergodash/rev1/keymaps/default/config.h
  keyboards/ergodash/rev1/keymaps/default/keymap.c
  keyboards/ergodash/rev1/keymaps/default/rules.mk
  keyboards/ergodash/rev2/config.h
  keyboards/ergodash/rev2/ergodash.h
  keyboards/ergodash/rev2/keymaps/default/config.h
  keyboards/ergodash/rev2/keymaps/default/keymap.c
  keyboards/ergodash/rev2/keymaps/default/rules.mk
  keyboards/ergodash/rev2/rev2.c
  keyboards/ergodash/rev2/rev2.h
  keyboards/ergodash/rev2/rules.mk
  keyboards/ergodash/rules.mk
Labels: keyboard
