Repository qmk/qmk_firmware, pull requests merged in 2018-08, with the labels that each got.

#3537 Add Usage section to backlight docs
  docs/feature_backlight.md
Labels: needs doc

#3536 Format Grave Escape documentation
  docs/feature_grave_esc.md
Labels: needs doc

#3527 Add unagi planck keymap
  keyboards/planck/keymaps/unagi/config.h
  keyboards/planck/keymaps/unagi/keymap.c
  keyboards/planck/keymaps/unagi/readme.md
  keyboards/planck/keymaps/unagi/rules.mk
Labels: keymap

#3530 Fix some minor errors in tap dance example
  docs/feature_tap_dance.md
Labels: needs doc

#3535 Improvements to Maxr1998's Contra keymap
  keyboards/contra/keymaps/maxr1998/keymap.c
  keyboards/contra/keymaps/maxr1998/readme.md
  keyboards/contra/keymaps/maxr1998/rules.mk
Labels: keymap

#3538 Format Key Lock documentation
  docs/feature_key_lock.md
Labels: needs doc

#3542 KBD75 Rev 1 LAYOUT_ansi_1u Bug
  keyboards/kbd75/rev1/rev1.h
Labels: keyboard

#3540 Format Space Cadet documentation
  docs/_sidebar.md
  docs/_summary.md
  docs/feature_space_cadet.md
  docs/feature_space_cadet_shift.md
  docs/feature_space_cadet_shift_enter.md
  docs/feature_space_shift_cadet.md
  docs/features.md
  docs/redirects.json
  docs/reference_glossary.md
Labels: needs doc

#3541 Add keyboards/whitefox/keymaps/constexpr
  keyboards/whitefox/keymaps/constexpr/config.h
  keyboards/whitefox/keymaps/constexpr/keymap.c
  keyboards/whitefox/keymaps/constexpr/rules.mk
Labels: keymap

#3520 Refactor symbols layer with layer tap workaround
  keyboards/xd75/keymaps/skewwhiffy/keymap.c
  quantum/keymap_extras/keymap_uk.h
Labels: keymap

#3531 4x4 board
  keyboards/4x4/4x4.c
  keyboards/4x4/4x4.h
  keyboards/4x4/config.h
  keyboards/4x4/keymaps/default/config.h
  keyboards/4x4/keymaps/default/keymap.c
  keyboards/4x4/readme.md
  keyboards/4x4/rules.mk
Labels: keyboard

#3534 Reformat Iris default keymap
  keyboards/iris/keymaps/default/config.h
  keyboards/iris/keymaps/default/keymap.c
  keyboards/iris/keymaps/default/rules.mk
Labels: keyboard, keymap

#3539 Document the correct path to the let's split EEPROM files.
  keyboards/vitamins_included/readme.md
Labels: keyboard

#3546 fixed build break (size overflow) HelixPico with Backlight or Underglow
  keyboards/helix/config.h
  keyboards/helix/pico/keymaps/default/rules.mk
  keyboards/helix/rev2/keymaps/default/rules.mk
  keyboards/helix/rev2/keymaps/edvorakjp/rules.mk
  keyboards/helix/rev2/keymaps/five_rows/rules.mk
  keyboards/helix/rev2/keymaps/five_rows_jis/rules.mk
  keyboards/helix/rev2/keymaps/froggy/rules.mk
  keyboards/helix/rev2/keymaps/led_test/rules.mk
Labels: keyboard, optimization

#3549 Enable using shared user hhkb layout for dz60
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/rules.mk
Labels: keymap

#3552 refactoring and modifief to helix five rows jis
  keyboards/helix/rev2/keymaps/five_rows_jis/keymap.c
Labels: keymap

#3554 update new link for hardware availability of 1up60rgb
  keyboards/1up60rgb/readme.md
Labels: keyboard

#3556 M0110 converter ported from TMK
  keyboards/converter/m0110_usb/README.md
  keyboards/converter/m0110_usb/config.h
  keyboards/converter/m0110_usb/keymaps/default/keymap.c
  keyboards/converter/m0110_usb/m0110_usb.c
  keyboards/converter/m0110_usb/m0110_usb.h
  keyboards/converter/m0110_usb/matrix.c
  keyboards/converter/m0110_usb/rules.mk
Labels: keyboard

#3550 make sure LAYOUT macro names match in info.json and h87a.h
  keyboards/h87a/info.json
Labels: keyboard

#3455 Updated newbs_getting_started
  util/qmk_install.sh
Labels: bug

#3217 Update ISP flashing guide with pre-compiled binary
  docs/isp_flashing_guide.md
  util/pro_micro_ISP_B6_10.hex
Labels: enhancement

#3558 Update templates used for new_project.sh
  quantum/template/avr/config.h
  quantum/template/avr/rules.mk
  quantum/template/avr/template.h
Labels: enhancement

#3561 Dz60 macos arrow rev2
  keyboards/dz60/keymaps/macos_arrow/keymap.c
  keyboards/dz60/keymaps/macos_arrow/readme.md
  keyboards/dz60/keymaps/macos_arrow/rules.mk
Labels: keymap

#3564 keymap/layout changes, LED fixes for Kinesis Stapelberg controller
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/readme.md
  keyboards/kinesis/stapelberg/stapelberg.c
  layouts/community/ortho_4x12/xyverz/config.h
  layouts/community/ortho_5x12/xyverz/keymap.c
  layouts/community/ortho_5x12/xyverz/rules.mk
Labels: keyboard, keymap

#3567 More improvements to keycode docs
  docs/keycodes.md
  docs/keycodes_basic.md
  docs/keycodes_us_ansi_shifted.md
Labels: needs doc

#3568 Make sure Planck light calls user suspend functions
  keyboards/planck/light/light.c
  quantum/quantum.h
Labels: keyboard

#3525 Fix Audio code when resetting keyboard
  quantum/quantum.c
Labels: bug, enhancement

#3570 Feature/frogger keymap
  keyboards/dz60/keymaps/frogger/keymap.c
  keyboards/dz60/keymaps/frogger/readme.md
Labels: keymap

#3574 Update FAQ section on Apple Fn
  docs/faq_keymap.md
Labels: needs doc

#3553 XD75 keymap
  keyboards/xd75/keymaps/arpinfidel/config.h
  keyboards/xd75/keymaps/arpinfidel/keymap.c
  keyboards/xd75/keymaps/arpinfidel/readme.md
  keyboards/xd75/keymaps/arpinfidel/rules.mk
Labels: keymap

#3575 Update Shifted keycodes docs
  docs/keycodes_us_ansi_shifted.md
Labels: keyboard

#3483 Remap layout to match the actual keys sent from board.
  keyboards/tada68/keymaps/iso-uk/keymap.c
  keyboards/tada68/tada68.h
Labels: keyboard, keymap

#3576 Add Catch 22 Hotswap Macropad to QMK
  keyboards/catch22/README.md
  keyboards/catch22/catch22.c
  keyboards/catch22/catch22.h
  keyboards/catch22/config.h
  keyboards/catch22/info.json
  keyboards/catch22/keymaps/default/keymap.c
  keyboards/catch22/rules.mk
Labels: keyboard

#3580 Improve RGB lighting documentation
  docs/feature_rgblight.md
Labels: needs doc

#3588 fix swap_hands keycodes in documentation
  docs/feature_swap_hands.md
Labels: needs doc

#3571 Adds Fleuron v1.0 keyboard directory
  keyboards/fleuron/config.h
  keyboards/fleuron/fleuron.c
  keyboards/fleuron/fleuron.h
  keyboards/fleuron/info.json
  keyboards/fleuron/keymaps/default/config.h
  keyboards/fleuron/keymaps/default/keymap.c
  keyboards/fleuron/keymaps/default/readme.md
  keyboards/fleuron/keymaps/dollartacos/config.h
  keyboards/fleuron/keymaps/dollartacos/keymap.c
  keyboards/fleuron/keymaps/dollartacos/readme.md
  keyboards/fleuron/readme.md
  keyboards/fleuron/rules.mk
Labels: keyboard

#3562 add like jis(iso) layout keymap for crkbd
  keyboards/crkbd/keymaps/like_jis/config.h
  keyboards/crkbd/keymaps/like_jis/glcdfont.c
  keyboards/crkbd/keymaps/like_jis/keymap.c
  keyboards/crkbd/keymaps/like_jis/rules.mk
Labels: keymap

#3601 RGB Driver Documentation Update
  docs/feature_rgb_matrix.md
  docs/hardware_drivers.md
Labels: needs doc

#3597 Update keymap to be numpad
  keyboards/catch22/keymaps/default/keymap.c
Labels: keymap

#3596 Keymap: Spaceman Spiff layout for the GH60 Satan
  keyboards/satan/keymaps/spacemanspiff/keymap.c
  keyboards/satan/keymaps/spacemanspiff/readme.md
Labels: keymap

#3595 Keymap: Spaceman Spiff layout for KBD75
  keyboards/kbd75/keymaps/spacemanspiff/keymap.c
  keyboards/kbd75/keymaps/spacemanspiff/readme.md
Labels: keymap

#3603 Disable mouse keys for kbd6x
  keyboards/kbd6x/rules.mk
Labels: keyboard

#3591 Custom L0 layout for ergodone
  keyboards/ergodone/keymaps/eozaki/keymap.c
  keyboards/ergodone/keymaps/eozaki/readme.md
Labels: keymap

#3522 Add Configurator support for Clueboard 66 Hotswap
  keyboards/clueboard/66_hotswap/info.json
  keyboards/clueboard/66_hotswap/readme.md
Labels: keyboard

#3605 adding my personal userspace to QMK master
  keyboards/planck/keymaps/ishtob/config.h
  keyboards/planck/keymaps/ishtob/keymap.c
  keyboards/planck/keymaps/ishtob/macros_public.h
  keyboards/planck/keymaps/ishtob/readme.md
  keyboards/planck/keymaps/ishtob/rule.mk
  users/ishtob/config.h
  users/ishtob/ishtob.c
  users/ishtob/ishtob.h
  users/ishtob/readme.md
  users/ishtob/rules.mk
Labels: keymap

#3586 Serial Backlight LED fix for split_common
  quantum/split_common/matrix.c
Labels: core, enhancement

#3612 DZ60 keymap, ansi, split bs and rshift, 5 1u keys to right of space
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
Labels: keyboard

#3625 Add fauxclicky support to my keymap
  layouts/community/66_ansi/skully/config.h
  layouts/community/66_ansi/skully/keymap.c
  layouts/community/66_ansi/skully/readme.md
Labels: keymap

#3579 Dedupe shifted keycodes listing
  docs/_sidebar.md
  docs/_summary.md
  docs/feature_advanced_keycodes.md
  docs/features.md
  docs/keycodes.md
Labels: needs doc

#3573 Update FAQ section on power keys
  docs/faq_keymap.md
Labels: needs doc

#3628 copy skully's faux clicky mods for community layout
  layouts/community/66_ansi/mechmerlin/config.h
  layouts/community/66_ansi/mechmerlin/keymap.c
Labels: keymap

#3630 Make tada68 build .bin files by default
  keyboards/tada68/readme.md
  keyboards/tada68/rules.mk
Labels: keyboard

#3631 Document FIRMWARE_FORMAT
  docs/config_options.md
Labels: needs doc

#3632 Created and populated a keymap folder for Iris
  keyboards/iris/keymaps/bmoorey/config.h
  keyboards/iris/keymaps/bmoorey/keymap.c
  keyboards/iris/keymaps/bmoorey/rules.mk
Labels: keymap

#3633 Pearl keyboard LAYOUT_spacebar had an undefined constant K34
  keyboards/pearl/pearl.h
Labels: keyboard

#3639 Refactor Levinson to use split common code
  keyboards/levinson/config.h
  keyboards/levinson/i2c.c
  keyboards/levinson/i2c.h
  keyboards/levinson/info.json
  keyboards/levinson/keymaps/bakingpy2u/config.h
  keyboards/levinson/keymaps/bakingpy2u/keymap.c
  keyboards/levinson/keymaps/bakingpy2u/rules.mk
  keyboards/levinson/keymaps/default/config.h
  keyboards/levinson/keymaps/default/rules.mk
  keyboards/levinson/keymaps/treadwell/keymap.c
  keyboards/levinson/keymaps/treadwell/rules.mk
  keyboards/levinson/keymaps/valgrahf/rules.mk
  keyboards/levinson/levinson.h
  keyboards/levinson/matrix.c
  keyboards/levinson/rev1/config.h
  keyboards/levinson/rev1/rev1.c
  keyboards/levinson/rev1/rev1.h
  keyboards/levinson/rev2/config.h
  keyboards/levinson/rev2/rev2.h
  keyboards/levinson/rules.mk
  keyboards/levinson/serial.c
  keyboards/levinson/serial.h
  keyboards/levinson/split_util.c
  keyboards/levinson/split_util.h
  layouts/community/ortho_4x12/bakingpy/config.h
  layouts/community/ortho_4x12/bakingpy/keymap.c
  layouts/community/ortho_4x12/bakingpy/rules.mk
Labels: keyboard

#3623 Added buswerks ortho_4x12 keymap
  layouts/community/ortho_4x12/buswerks/config.h
  layouts/community/ortho_4x12/buswerks/keymap.c
  layouts/community/ortho_4x12/buswerks/readme.md
Labels: keymap

#3638 Update info.json
  keyboards/ok60/info.json
Labels: keyboard

#3640 Clean up Iris files
  keyboards/iris/info.json
  keyboards/iris/iris.h
  keyboards/iris/rev1/config.h
  keyboards/iris/rev1/rev1.c
  keyboards/iris/rev1/rev1.h
  keyboards/iris/rev1_led/config.h
  keyboards/iris/rev1_led/rev1_led.c
  keyboards/iris/rev1_led/rev1_led.h
  keyboards/iris/rev2/config.h
  keyboards/iris/rev2/rev2.h
  keyboards/iris/rules.mk
Labels: keyboard

#3642 Migrate Quefrency to use split common files
  keyboards/quefrency/i2c.c
  keyboards/quefrency/i2c.h
  keyboards/quefrency/keymaps/default/config.h
  keyboards/quefrency/matrix.c
  keyboards/quefrency/readme.md
  keyboards/quefrency/rev1/config.h
  keyboards/quefrency/rev1/rev1.c
  keyboards/quefrency/rev1/rev1.h
  keyboards/quefrency/rules.mk
  keyboards/quefrency/serial.c
  keyboards/quefrency/serial.h
  keyboards/quefrency/split_util.c
  keyboards/quefrency/split_util.h
Labels: keyboard

#3644 Added layout LAYOUT_60_ansi_split_bksp_rshift
  keyboards/ok60/ok60.h
  keyboards/ok60/rules.mk
Labels: keyboard

#3652 Helix : Update froggy keymap
  keyboards/helix/rev2/keymaps/froggy/keymap.c
Labels: keymap

#3656 Add default ortho 5x14 layout
  layouts/default/ortho_5x14/default_ortho_5x14/keymap.c
  layouts/default/ortho_5x14/layout.json
  layouts/default/ortho_5x14/readme.md
Labels: keymap

#3660 Update image in FAQ/Keymap
  docs/faq_keymap.md
Labels: needs doc

#3647 this commit fixes #3643, rev2 was affected too
  keyboards/clueboard/66/rev2/rev2.h
  keyboards/clueboard/66/rev3/rev3.h
Labels: keyboard

#3665 Adding readme file to personal keymap folder
  keyboards/iris/keymaps/bmoorey/readme.md
Labels: keymap

#3589 Revamp replicaJunction keymaps
  keyboards/atreus/keymaps/replicaJunction/config.h
  keyboards/atreus/keymaps/replicaJunction/keymap.c
  keyboards/atreus/keymaps/replicaJunction/kle/base-layer.txt
  keyboards/atreus/keymaps/replicaJunction/kle/e-layer.txt
  keyboards/atreus/keymaps/replicaJunction/kle/fn-layer.txt
  keyboards/atreus/keymaps/replicaJunction/kle/i-layer.txt
  keyboards/atreus/keymaps/replicaJunction/kle/r-layer.txt
  keyboards/atreus/keymaps/replicaJunction/kle/space-layer.txt
  keyboards/atreus/keymaps/replicaJunction/readme.md
  keyboards/atreus/keymaps/replicaJunction/rules.mk
  layouts/community/ergodox/replicaJunction/config.h
  layouts/community/ergodox/replicaJunction/keymap.c
  layouts/community/ergodox/replicaJunction/readme.md
  layouts/community/ergodox/replicaJunction/rules.mk
  users/replicaJunction/config.h
  users/replicaJunction/readme.md
  users/replicaJunction/replicaJunction.c
  users/replicaJunction/replicaJunction.h
  users/replicaJunction/rules.mk
Labels: keymap

#3675 Update AL1 default keycaps to new QMK standards
  keyboards/al1/keymaps/default/keymap.c
  keyboards/al1/keymaps/splitbs/keymap.c
Labels: keyboard

#3654 Adding broswen keymap for iris split keyboard.
  keyboards/iris/keymaps/broswen/config.h
  keyboards/iris/keymaps/broswen/keymap.c
  keyboards/iris/keymaps/broswen/rules.mk
Labels: keymap

#3655 add ergoinu
  keyboards/ergoinu/config.h
  keyboards/ergoinu/ergoinu.c
  keyboards/ergoinu/ergoinu.h
  keyboards/ergoinu/info.json
  keyboards/ergoinu/keymaps/default/config.h
  keyboards/ergoinu/keymaps/default/keymap.c
  keyboards/ergoinu/keymaps/default/rules.mk
  keyboards/ergoinu/keymaps/default_jis/config.h
  keyboards/ergoinu/keymaps/default_jis/keymap.c
  keyboards/ergoinu/keymaps/default_jis/rules.mk
  keyboards/ergoinu/matrix.c
  keyboards/ergoinu/readme.md
  keyboards/ergoinu/rules.mk
  keyboards/ergoinu/serial.c
  keyboards/ergoinu/serial.h
  keyboards/ergoinu/serial_config.h
  keyboards/ergoinu/split_util.c
  keyboards/ergoinu/split_util.h
Labels: keyboard

#3671 Eagle/Viper V2 refactor and Configurator update
  keyboards/eagle_viper/info.json
  keyboards/eagle_viper/v2/keymaps/default/keymap.c
  keyboards/eagle_viper/v2/keymaps/profanum429/keymap.c
  keyboards/eagle_viper/v2/v2.h
Labels: keyboard

#3674 change messege at 'check-size' target
  message.mk
  tmk_core/rules.mk
Labels: enhancement

#3667 DC60 Support
  keyboards/dc60/config.h
  keyboards/dc60/dc60.c
  keyboards/dc60/dc60.h
  keyboards/dc60/info.json
  keyboards/dc60/keymaps/default/config.h
  keyboards/dc60/keymaps/default/keymap.c
  keyboards/dc60/keymaps/default/readme.md
  keyboards/dc60/readme.md
  keyboards/dc60/rules.mk
Labels: keyboard

#3666 Tidy up keycode.h
  tmk_core/common/keycode.h
Labels: optimization

#3626 First pass at reorganizing docs
  docs/_sidebar.md
  docs/_summary.md
Labels: discussion, enhancement, needs doc

#3677 Zen refactor and Configurator support
  keyboards/zen/info.json
  keyboards/zen/keymaps/default/keymap.c
  keyboards/zen/keymaps/jwlawrence/keymap.c
  keyboards/zen/keymaps/xyverz/keymap.c
  keyboards/zen/readme.md
  keyboards/zen/rev1/rev1.h
  keyboards/zen/zen.h
Labels: keyboard

#3670 Wanleg userspace
  keyboards/gherkin/keymaps/wanleg/config.h
  keyboards/gherkin/keymaps/wanleg/keymap.c
  keyboards/gherkin/keymaps/wanleg/rules.mk
  layouts/community/ortho_3x10/layout.json
  layouts/community/ortho_3x10/readme.md
  layouts/community/ortho_3x10/wanleg/config.h
  layouts/community/ortho_3x10/wanleg/keymap.c
  layouts/community/ortho_3x10/wanleg/readme.md
  layouts/community/ortho_3x10/wanleg/rules.mk
  layouts/community/ortho_4x12/wanleg/config.h
  layouts/community/ortho_4x12/wanleg/keymap.c
  layouts/community/ortho_4x12/wanleg/readme.md
  layouts/community/ortho_4x12/wanleg/rules.mk
  layouts/community/ortho_5x15/wanleg/config.h
  layouts/community/ortho_5x15/wanleg/keymap.c
  layouts/community/ortho_5x15/wanleg/rules.mk
  users/wanleg/config.h
  users/wanleg/readme.md
  users/wanleg/rules.mk
  users/wanleg/tapdances.c
  users/wanleg/wanleg.c
  users/wanleg/wanleg.h
Labels: keymap

#3681 Ckeys refactor
  keyboards/ckeys/nakey/info.json
  keyboards/ckeys/nakey/keymaps/default/keymap.c
  keyboards/ckeys/nakey/nakey.h
  keyboards/ckeys/nakey/rules.mk
  keyboards/ckeys/obelus/info.json
  keyboards/ckeys/obelus/keymaps/default/keymap.c
  keyboards/ckeys/obelus/obelus.h
  keyboards/ckeys/obelus/rules.mk
Labels: keyboard

#3659 Ergo42 biacco-biacco keymap
  keyboards/ergo42/keymaps/biacco-biacco/config.h
  keyboards/ergo42/keymaps/biacco-biacco/keymap.c
Labels: keymap

#3669 Add Big Series 2-, 3-, and 4-key boards
  keyboards/bigseries/1key/1key.c
  keyboards/bigseries/1key/1key.h
  keyboards/bigseries/1key/config.h
  keyboards/bigseries/1key/info.json
  keyboards/bigseries/1key/keymaps/8ball/keymap.c
  keyboards/bigseries/1key/keymaps/ctrl-alt-del/keymap.c
  keyboards/bigseries/1key/keymaps/default/keymap.c
  keyboards/bigseries/1key/keymaps/dudeofawesome/README.md
  keyboards/bigseries/1key/keymaps/dudeofawesome/config.h
  keyboards/bigseries/1key/keymaps/dudeofawesome/keymap.c
  keyboards/bigseries/1key/keymaps/dudeofawesome/rules.mk
  keyboards/bigseries/1key/keymaps/leddance/config.h
  keyboards/bigseries/1key/keymaps/leddance/keymap.c
  keyboards/bigseries/1key/keymaps/leddance/rules.mk
  keyboards/bigseries/1key/keymaps/lock/keymap.c
  keyboards/bigseries/1key/keymaps/tester/keymap.c
  keyboards/bigseries/1key/readme.md
  keyboards/bigseries/1key/rules.mk
  keyboards/bigseries/2key/2key.c
  keyboards/bigseries/2key/2key.h
  keyboards/bigseries/2key/config.h
  keyboards/bigseries/2key/info.json
  keyboards/bigseries/2key/keymaps/default/keymap.c
  keyboards/bigseries/2key/keymaps/lock/keymap.c
  keyboards/bigseries/2key/keymaps/tester/keymap.c
  keyboards/bigseries/2key/readme.md
  keyboards/bigseries/2key/rules.mk
  keyboards/bigseries/3key/3key.c
  keyboards/bigseries/3key/3key.h
  keyboards/bigseries/3key/config.h
  keyboards/bigseries/3key/info.json
  keyboards/bigseries/3key/keymaps/ctrl-alt-del/keymap.c
  keyboards/bigseries/3key/keymaps/default/keymap.c
  keyboards/bigseries/3key/keymaps/tester/keymap.c
  keyboards/bigseries/3key/readme.md
  keyboards/bigseries/3key/rules.mk
  keyboards/bigseries/4key/4key.c
  keyboards/bigseries/4key/4key.h
  keyboards/bigseries/4key/config.h
  keyboards/bigseries/4key/info.json
  keyboards/bigseries/4key/keymaps/default/keymap.c
  keyboards/bigseries/4key/keymaps/tester/keymap.c
  keyboards/bigseries/4key/readme.md
  keyboards/bigseries/4key/rules.mk
  keyboards/bigseries/readme.md
  keyboards/bigseries/rules.mk
Labels: keyboard

#3673 Added deastiny layout for contra [based on dvorak type II]
  keyboards/contra/keymaps/deastiny/config.h
  keyboards/contra/keymaps/deastiny/keymap.c
  keyboards/contra/keymaps/deastiny/readme.md
Labels: keymap

#3685 Remove needless lines / files for Ergo42
  keyboards/ergo42/keymaps/biacco-macOS/config.h
  keyboards/ergo42/keymaps/biacco-macOS/rules.mk
  keyboards/ergo42/keymaps/biacco-underglow/config.h
  keyboards/ergo42/keymaps/biacco-underglow/rules.mk
  keyboards/ergo42/keymaps/biacco/config.h
  keyboards/ergo42/keymaps/biacco/rules.mk
  keyboards/ergo42/keymaps/default-illustrator/config.h
  keyboards/ergo42/keymaps/default-illustrator/rules.mk
  keyboards/ergo42/keymaps/default-underglow/config.h
  keyboards/ergo42/keymaps/default/config.h
  keyboards/ergo42/keymaps/default/rules.mk
  keyboards/ergo42/keymaps/hdbx/config.h
  keyboards/ergo42/keymaps/hdbx/rules.mk
  keyboards/ergo42/keymaps/ichi-t/config.h
Labels: keymap

#3686 Update Ergo42 default keymap
  keyboards/ergo42/keymaps/default-underglow/keymap.c
  keyboards/ergo42/keymaps/default/keymap.c
Labels: keyboard, keymap

#3687 NEW KEYBOARD: 1up60hse
  keyboards/1up60hse/1up60hse.c
  keyboards/1up60hse/1up60hse.h
  keyboards/1up60hse/config.h
  keyboards/1up60hse/info.json
  keyboards/1up60hse/keymaps/default/config.h
  keyboards/1up60hse/keymaps/default/keymap.c
  keyboards/1up60hse/keymaps/default/readme.md
  keyboards/1up60hse/readme.md
  keyboards/1up60hse/rules.mk
Labels: keyboard

#3692 Gaming layer update for my zen keymap
  keyboards/zen/keymaps/333fred/keymap.c
  users/333fred/333fred.h
Labels: keymap

#3543 add mint60 keyboard
  keyboards/mint60/config.h
  keyboards/mint60/i2c.c
  keyboards/mint60/i2c.h
  keyboards/mint60/info.json
  keyboards/mint60/keymaps/default/config.h
  keyboards/mint60/keymaps/default/keymap.c
  keyboards/mint60/keymaps/default/readme.md
  keyboards/mint60/keymaps/eucalyn/config.h
  keyboards/mint60/keymaps/eucalyn/keymap.c
  keyboards/mint60/keymaps/eucalyn/readme.md
  keyboards/mint60/matrix.c
  keyboards/mint60/mint60.c
  keyboards/mint60/mint60.h
  keyboards/mint60/readme.md
  keyboards/mint60/rules.mk
  keyboards/mint60/serial.c
  keyboards/mint60/serial.h
  keyboards/mint60/serial_config.h
  keyboards/mint60/split_util.c
  keyboards/mint60/split_util.h
Labels: keyboard

#3698 Fix Configurator rendering for Big Series 2-, 3-, and 4-key boards
  keyboards/bigseries/2key/info.json
  keyboards/bigseries/3key/info.json
  keyboards/bigseries/4key/info.json
Labels: keyboard

#3699 forgot to rename the layout correctly
  keyboards/1up60hse/info.json
  keyboards/1up60hse/readme.md
Labels: keyboard

#3690 Update 333fred's keymap for Zen
  keyboards/zen/keymaps/333fred/keymap.c
Labels: keymap

#3693 Nordic layouts for ErgoDox, Planck
  keyboards/ergodox_ez/keymaps/skug/config.h
  keyboards/ergodox_ez/keymaps/skug/keymap.c
  keyboards/ergodox_ez/keymaps/skug/readme.md
  keyboards/planck/keymaps/skug/config.h
  keyboards/planck/keymaps/skug/keymap.c
  keyboards/planck/keymaps/skug/readme.md
  keyboards/planck/keymaps/skug/rules.mk
Labels: keymap

#3700 Adding stephengrier keymap for the DZ60 PCB
  keyboards/dz60/keymaps/stephengrier/README.md
  keyboards/dz60/keymaps/stephengrier/keymap.c
Labels: keymap

#3702 bface update
  keyboards/bface/README.md
  keyboards/bface/bface.h
  keyboards/bface/info.json
  keyboards/bface/keymaps/default/keymap.c
  keyboards/bface/rules.mk
Labels: keyboard

#3703 Corrected LFK65_HS LAYOUT_all matrix
  keyboards/lfkeyboards/lfk65_hs/lfk65_hs.h
Labels: keyboard

#3704 Alf X2 matrix fix
  keyboards/alf_x2/alf_x2.h
Labels: keyboard

#3705 AMJ60 LAYOUT_iso matrix fix
  keyboards/amj60/amj60.h
Labels: keyboard

#3706 Configurator render fix for AMJPad
  keyboards/amjpad/info.json
Labels: keyboard

#3708 UT47 Configurator support and readme cleanup
  keyboards/ut47/info.json
  keyboards/ut47/readme.md
Labels: keyboard

#3719 [keymap] Added personal keymap for bface
  keyboards/bface/keymaps/kpeatt/keymap.c
  keyboards/bface/keymaps/kpeatt/readme.md
Labels: keymap

#3717 Keyboard: Fix tada68 Linux readme
  keyboards/tada68/readme.md
Labels: keyboard

#3707 AMJ96 Refactor and Configurator update
  keyboards/amj96/amj96.h
  keyboards/amj96/config.h
  keyboards/amj96/info.json
  keyboards/amj96/keymaps/default/keymap.c
  keyboards/amj96/readme.md
  keyboards/amj96/rules.mk
Labels: keyboard

#3716 AL1 Configurator fix: misplaced arrow keys
  keyboards/al1/info.json
  keyboards/al1/rules.mk
Labels: keyboard

#3722 Blockey refactor
  keyboards/blockey/blockey.h
  keyboards/blockey/info.json
  keyboards/blockey/keymaps/default/keymap.c
  keyboards/blockey/keymaps/eucalyn/keymap.c
  keyboards/blockey/readme.md
Labels: keyboard

#3600 We have corrected the previous review point, including related files.
  keyboards/crkbd/keymaps/default/config.h
  keyboards/crkbd/keymaps/default/keymap.c
  keyboards/crkbd/keymaps/default/rules.mk
  keyboards/crkbd/keymaps/lib/host_led_state_reader.c
  keyboards/crkbd/keymaps/lib/keylogger.c
  keyboards/crkbd/keymaps/lib/layer_state_reader.c
  keyboards/crkbd/keymaps/lib/logo_reader.c
  keyboards/crkbd/keymaps/lib/mode_icon_reader.c
  keyboards/crkbd/keymaps/lib/rgb_state_reader.c
  keyboards/crkbd/keymaps/lib/timelogger.c
  keyboards/crkbd/keymaps/like_jis/keymap.c
  keyboards/crkbd/keymaps/like_jis/rules.mk
Labels: keyboard

#3728 Finish up the HSE now that I have a board to play with!
  keyboards/1up60hse/config.h
  keyboards/1up60hse/keymaps/default/keymap.c
  keyboards/1up60hse/keymaps/default/readme.md
  keyboards/1up60hse/readme.md
Labels: keyboard

#3725 Add Dvorak Svorak A5 layout for Ergodox-EZ
  layouts/community/ergodox/dvorak_svorak_a5/keymap.c
  layouts/community/ergodox/dvorak_svorak_a5/readme.md
Labels: keymap

#3726 fix conditionals in userspace rules.mk
  layouts/community/ortho_4x12/wanleg/keymap.c
  users/wanleg/rules.mk
Labels: keymap

#3691 dactyl_manuform 5x7 aka Ergodox added
  keyboards/handwired/dactyl_manuform/5x6/5x6.h
  keyboards/handwired/dactyl_manuform/5x7/5x7.c
  keyboards/handwired/dactyl_manuform/5x7/5x7.h
  keyboards/handwired/dactyl_manuform/5x7/config.h
  keyboards/handwired/dactyl_manuform/5x7/keymaps/default/config.h
  keyboards/handwired/dactyl_manuform/5x7/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/5x7/rules.mk
  keyboards/handwired/dactyl_manuform/dactyl_manuform.h
  keyboards/handwired/dactyl_manuform/readme.md
Labels: keyboard

#3735 Support PCBDOWN variants for Atreus keyboard
  keyboards/atreus/readme.md
  keyboards/atreus/rules.mk
Labels: keyboard

#3738 Introduce new 75_ansi standard layout
  keyboards/octagon/v2/keymaps/default/keymap.c
  keyboards/octagon/v2/rules.mk
  keyboards/octagon/v2/v2.h
  layouts/community/75_ansi/layout.json
  layouts/community/75_ansi/mechmerlin-75_ansi/keymap.c
  layouts/community/75_ansi/mechmerlin-75_ansi/readme.md
  layouts/community/75_ansi/readme.md
  layouts/default/75_ansi/default_75_ansi/keymap.c
  layouts/default/75_ansi/layout.json
  layouts/default/75_ansi/readme.md
Labels: keyboard

#3737 Add a belgian keymap, partially based on keymap_french.h
  quantum/keymap_extras/keymap_belgian.h
Labels: enhancement

#3739 Wavelet
  keyboards/wavelet/config.h
  keyboards/wavelet/info.json
  keyboards/wavelet/keymaps/default/keymap.c
  keyboards/wavelet/keymaps/default/rules.mk
  keyboards/wavelet/readme.md
  keyboards/wavelet/rules.mk
  keyboards/wavelet/wavelet.c
  keyboards/wavelet/wavelet.h
  layouts/community/ortho_4x12/guidoism/config.h
Labels: keyboard

#3742 Hold for MO and Tap for TG
  layouts/community/60_ansi/mechmerlin-ansi/keymap.c
Labels: keymap

#3745 introduce new default layout 68_ansi
  layouts/default/68_ansi/default_68_ansi/keymap.c
  layouts/default/68_ansi/layout.json
  layouts/default/68_ansi/readme.md
Labels: keyboard

#3587 update to budi's tv44
  keyboards/tv44/keymaps/budi/keymap.c
  keyboards/tv44/keymaps/budi/readme.md
Labels: keymap

#3581 site link update
  keyboards/playkbtw/ca66/readme.md
  keyboards/playkbtw/pk60/readme.md
  keyboards/playkbtw/readme.md
Labels: keyboard

#3734 Added my keymap for Rorschach keyboard; minor updates to my Kinesis files.
  keyboards/kinesis/keymaps/insertsnideremarks/config.h
  keyboards/kinesis/keymaps/insertsnideremarks/keymap.c
  keyboards/kinesis/keymaps/insertsnideremarks/readme.md
  keyboards/rorschach/keymaps/insertsnideremarks/config.h
  keyboards/rorschach/keymaps/insertsnideremarks/keymap.c
  keyboards/rorschach/keymaps/insertsnideremarks/rules.mk
Labels: keymap

#3714 Cospad game-pad layout
  keyboards/cospad/cospad.h
  keyboards/cospad/keymaps/detrus/keymap.c
Labels: keyboard, keymap

#2861 tokyo60 PR
  keyboards/tokyo60/config.h
  keyboards/tokyo60/keymaps/default/config.h
  keyboards/tokyo60/keymaps/default/keymap.c
  keyboards/tokyo60/readme.md
  keyboards/tokyo60/rules.mk
  keyboards/tokyo60/tokyo60.c
  keyboards/tokyo60/tokyo60.h
Labels: keyboard

#3749 Tokyo60 Cleanup: QMK Configurator support
  keyboards/tokyo60/info.json
  keyboards/tokyo60/keymaps/default/config.h
  keyboards/tokyo60/keymaps/default/keymap.c
  keyboards/tokyo60/readme.md
  keyboards/tokyo60/rules.mk
  keyboards/tokyo60/tokyo60.c
  keyboards/tokyo60/tokyo60.h
Labels: keyboard

#3753 PyroL Let's Split keymap + Alpha keymap modifications
  keyboards/alpha/keymaps/default/keymap.c
  keyboards/alpha/readme.md
  keyboards/lets_split/keymaps/pyrol/config.h
  keyboards/lets_split/keymaps/pyrol/keymap.c
  keyboards/lets_split/keymaps/pyrol/rules.mk
Labels: keymap

#3747 initial migration of raffle 1up60rgb
  keyboards/1up60rgb/keymaps/raffle/keymap.c
  keyboards/1up60rgb/keymaps/raffle/readme.md
Labels: keymap

#3752 Duck Jetfire QMK Support
  keyboards/duck/jetfire/backlight_led.c
  keyboards/duck/jetfire/backlight_led.h
  keyboards/duck/jetfire/config.h
  keyboards/duck/jetfire/info.json
  keyboards/duck/jetfire/jetfire.c
  keyboards/duck/jetfire/jetfire.h
  keyboards/duck/jetfire/keymaps/default/config.h
  keyboards/duck/jetfire/keymaps/default/keymap.c
  keyboards/duck/jetfire/keymaps/default/readme.md
  keyboards/duck/jetfire/matrix.c
  keyboards/duck/jetfire/readme.md
  keyboards/duck/jetfire/rules.mk
  keyboards/duck/readme.md
Labels: keyboard

#3748 initial migration of raffle planck
  keyboards/planck/keymaps/raffle/config.h
  keyboards/planck/keymaps/raffle/keymap.c
  keyboards/planck/keymaps/raffle/readme.md
  keyboards/planck/keymaps/raffle/rules.mk
Labels: keymap

#3756 Add page with useful functions for QMK
  docs/_sidebar.md
  docs/_summary.md
  docs/feature_backlight.md
  docs/ref_functions.md
Labels: needs doc

#3759 Make a 1upkeyboards directory for visibility
  keyboards/1upkeyboards/1up60hse/1up60hse.c
  keyboards/1upkeyboards/1up60hse/1up60hse.h
  keyboards/1upkeyboards/1up60hse/config.h
  keyboards/1upkeyboards/1up60hse/info.json
  keyboards/1upkeyboards/1up60hse/keymaps/default/config.h
  keyboards/1upkeyboards/1up60hse/keymaps/default/keymap.c
  keyboards/1upkeyboards/1up60hse/keymaps/default/readme.md
  keyboards/1upkeyboards/1up60hse/readme.md
  keyboards/1upkeyboards/1up60hse/rules.mk
  keyboards/1upkeyboards/1up60rgb/1up60rgb.c
  keyboards/1upkeyboards/1up60rgb/1up60rgb.h
  keyboards/1upkeyboards/1up60rgb/config.h
  keyboards/1upkeyboards/1up60rgb/info.json
  keyboards/1upkeyboards/1up60rgb/keymaps/default/keymap.c
  keyboards/1upkeyboards/1up60rgb/keymaps/iso/keymap.c
  keyboards/1upkeyboards/1up60rgb/keymaps/raffle/keymap.c
  keyboards/1upkeyboards/1up60rgb/keymaps/raffle/readme.md
  keyboards/1upkeyboards/1up60rgb/keymaps/tsangan/keymap.c
  keyboards/1upkeyboards/1up60rgb/readme.md
  keyboards/1upkeyboards/1up60rgb/rules.mk
  keyboards/1upkeyboards/readme.md
  keyboards/1upkeyboards/sweet16/config.h
  keyboards/1upkeyboards/sweet16/info.json
  keyboards/1upkeyboards/sweet16/keymaps/default/keymap.c
  keyboards/1upkeyboards/sweet16/keymaps/dlaroe/keymap.c
  keyboards/1upkeyboards/sweet16/keymaps/dlaroe/readme.md
  keyboards/1upkeyboards/sweet16/readme.md
  keyboards/1upkeyboards/sweet16/rules.mk
  keyboards/1upkeyboards/sweet16/sweet16.c
  keyboards/1upkeyboards/sweet16/sweet16.h
Labels: keyboard

#3758 Putting all my ducks in a row: Lightsaver
  keyboards/duck/lightsaver/config.h
  keyboards/duck/lightsaver/indicator_leds.c
  keyboards/duck/lightsaver/indicator_leds.h
  keyboards/duck/lightsaver/info.json
  keyboards/duck/lightsaver/keymaps/default/keymap.c
  keyboards/duck/lightsaver/keymaps/default/readme.md
  keyboards/duck/lightsaver/keymaps/rasmus/config.h
  keyboards/duck/lightsaver/keymaps/rasmus/keymap.c
  keyboards/duck/lightsaver/keymaps/rasmus/readme.md
  keyboards/duck/lightsaver/keymaps/rasmus/rules.mk
  keyboards/duck/lightsaver/lightsaver.c
  keyboards/duck/lightsaver/lightsaver.h
  keyboards/duck/lightsaver/matrix.c
  keyboards/duck/lightsaver/readme.md
  keyboards/duck/lightsaver/rules.mk
Labels: keyboard

#3757 Made changes to buswerks ortho_4x12 keymap
  layouts/community/ortho_4x12/buswerks/keymap.c
  layouts/community/ortho_4x12/buswerks/readme.md
Labels: keymap

#3679 ISSI31FL3733 driver
  common_features.mk
  docs/feature_rgb_matrix.md
  docs/hardware_drivers.md
  drivers/arm/i2c_master.c
  drivers/arm/i2c_master.h
  drivers/issi/is31fl3731.c
  drivers/issi/is31fl3731.h
  drivers/issi/is31fl3733.c
  drivers/issi/is31fl3733.h
  quantum/quantum.h
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
Labels: core, enhancement

#3750 Bocaj - Create Userspace and Ergodox Layout
  keyboards/ergodox_ez/keymaps/bocaj/config.h
  keyboards/ergodox_ez/keymaps/bocaj/keymap.c
  keyboards/ergodox_ez/keymaps/bocaj/readme.md
  layouts/community/ergodox/bocaj/config.h
  layouts/community/ergodox/bocaj/keymap.c
  layouts/community/ergodox/bocaj/rules.mk
  users/bocaj/bocaj.c
  users/bocaj/bocaj.h
  users/bocaj/config.h
  users/bocaj/readme.md
  users/bocaj/rules.mk
  users/bocaj/tap_dances.c
  users/bocaj/tap_dances.h
Labels: keymap

#3765 Putting my ducks in a row: Octagon V1/V2
  keyboards/duck/jetfire/readme.md
  keyboards/duck/octagon/keymaps/default/keymap.c
  keyboards/duck/octagon/keymaps/default/readme.md
  keyboards/duck/octagon/readme.md
  keyboards/duck/octagon/rules.mk
  keyboards/duck/octagon/v1/config.h
  keyboards/duck/octagon/v1/info.json
  keyboards/duck/octagon/v1/matrix.c
  keyboards/duck/octagon/v1/readme.md
  keyboards/duck/octagon/v1/rules.mk
  keyboards/duck/octagon/v1/v1.c
  keyboards/duck/octagon/v1/v1.h
  keyboards/duck/octagon/v2/config.h
  keyboards/duck/octagon/v2/indicator_leds.c
  keyboards/duck/octagon/v2/indicator_leds.h
  keyboards/duck/octagon/v2/info.json
  keyboards/duck/octagon/v2/matrix.c
  keyboards/duck/octagon/v2/readme.md
  keyboards/duck/octagon/v2/rules.mk
  keyboards/duck/octagon/v2/v2.c
  keyboards/duck/octagon/v2/v2.h
  keyboards/octagon/octagon.c
  keyboards/octagon/octagon.h
  keyboards/octagon/rules.mk
  keyboards/octagon/v1/keymaps/default/keymap.c
  keyboards/octagon/v1/keymaps/default/readme.md
  keyboards/octagon/v2/keymaps/default/readme.md
Labels: keyboard

#3767 Adding keymap to the XD60
  keyboards/xd60/keymaps/edulpn64/keymap.c
  keyboards/xd60/keymaps/edulpn64/readme.md
Labels: keymap

#3768 xtonhasvim updates
  keyboards/dz60/keymaps/xtonhasvim/keymap.c
  keyboards/niu_mini/keymaps/xtonhasvim/config.h
  keyboards/niu_mini/keymaps/xtonhasvim/keymap.c
  keyboards/niu_mini/keymaps/xtonhasvim/rules.mk
  users/xtonhasvim/fancylighting.c
  users/xtonhasvim/fancylighting.h
  users/xtonhasvim/rules.mk
  users/xtonhasvim/xtonhasvim.c
  users/xtonhasvim/xtonhasvim.h
Labels: keymap

#3771 Dactyl - Only initialize relevant variables
  keyboards/handwired/dactyl/matrix.c
Labels: keyboard

#3731 Keyboard: XeaL60
  keyboards/handwired/xealous/config.h
  keyboards/handwired/xealous/info.json
  keyboards/handwired/xealous/keymaps/default/keymap.c
  keyboards/handwired/xealous/matrix.c
  keyboards/handwired/xealous/matrix_scanrate.c
  keyboards/handwired/xealous/matrix_scanrate.h
  keyboards/handwired/xealous/readme.md
  keyboards/handwired/xealous/rev1/config.h
  keyboards/handwired/xealous/rev1/rev1.c
  keyboards/handwired/xealous/rev1/rev1.h
  keyboards/handwired/xealous/rev1/rules.mk
  keyboards/handwired/xealous/rules.mk
Labels: keyboard

#3772 Add docs for the `LAYOUT_*` macro to layouts
  docs/feature_layouts.md
Labels: needs doc

#3781 Boy_314's Preonic and XD75 Layouts
  keyboards/preonic/keymaps/boy314/config.h
  keyboards/preonic/keymaps/boy314/keymap.c
  keyboards/preonic/keymaps/boy314/readme.md
  keyboards/preonic/keymaps/boy314/rules.mk
  keyboards/xd75/keymaps/boy_314/config.h
  keyboards/xd75/keymaps/boy_314/keymap.c
  keyboards/xd75/keymaps/boy_314/readme.md
  keyboards/xd75/keymaps/boy_314/rules.mk
  keyboards/xd75/keymaps/default/readme.md
Labels: keymap

#3787 Yet another update to drashna keymaps and userspace
  keyboards/iris/keymaps/drashna/keymap.c
  keyboards/iris/keymaps/drashna/rules.mk
  keyboards/orthodox/keymaps/drashna/config.h
  keyboards/orthodox/keymaps/drashna/rules.mk
  keyboards/viterbi/keymaps/drashna/config.h
  keyboards/viterbi/keymaps/drashna/keymap.c
  layouts/community/ergodox/drashna/config.h
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ergodox/drashna/rules.mk
  layouts/community/ortho_4x12/drashna/config.h
  layouts/community/ortho_4x12/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/rules.mk
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/drashna.h
  users/drashna/rgb_stuff.c
  users/drashna/rgb_stuff.h
  users/drashna/template.c
  users/drashna/template.h
Labels: keymap

#3785 Adding the AT101 PCB firmware
  keyboards/at101_blackheart/at101_blackheart.c
  keyboards/at101_blackheart/at101_blackheart.h
  keyboards/at101_blackheart/config.h
  keyboards/at101_blackheart/keymaps/default/keymap.c
  keyboards/at101_blackheart/readme.md
  keyboards/at101_blackheart/rules.mk
Labels: keyboard

#3741 STM32 EEPROM Emulation
  tmk_core/common.mk
  tmk_core/common/chibios/eeprom_stm32.c
  tmk_core/common/chibios/eeprom_stm32.h
  tmk_core/common/chibios/eeprom_teensy.c
  tmk_core/common/chibios/flash_stm32.c
  tmk_core/common/chibios/flash_stm32.h
  tmk_core/common/eeconfig.c
  tmk_core/common/eeconfig.h
  tmk_core/protocol/chibios/main.c
Labels: core, enhancement

#3791 Massdrop keyboards readme update
  keyboards/massdrop/alt67/readme.md
  keyboards/massdrop/ctrl/readme.md
Labels: keyboard

#3760 Autodetect lack of screen presence
  keyboards/tkc1800/keymaps/default/keymap.c
  keyboards/tkc1800/keymaps/wkl/keymap.c
Labels: keyboard

#3430 Mask off keycode/layer/mod where possible in LT(), MT(), etc.
  docs/feature_advanced_keycodes.md
  quantum/quantum_keycodes.h
Labels: core, enhancement

#3796 Update CTRL and ALT keyboard readme
  keyboards/massdrop/alt67/readme.md
  keyboards/massdrop/ctrl/readme.md
Labels: keyboard

#3795 Helix: remove old comments from keyboards/helix/rules.mk
  keyboards/helix/rules.mk
Labels: keyboard

#3794 Wanleg updates
  keyboards/4x4/rules.mk
  keyboards/5x5/info.json
  keyboards/5x5/rules.mk
  layouts/community/ortho_4x12/wanleg/config.h
  layouts/community/ortho_4x12/wanleg/keymap.c
  layouts/community/ortho_4x12/wanleg/readme.md
  layouts/community/ortho_4x12/wanleg/rules.mk
  layouts/community/ortho_5x10/layout.json
  layouts/community/ortho_5x10/readme.md
  layouts/community/ortho_5x10/wanleg/config.h
  layouts/community/ortho_5x10/wanleg/keymap.c
  layouts/community/ortho_5x10/wanleg/rules.mk
  users/wanleg/wanleg.c
  users/wanleg/wanleg.h
Labels: keyboard, keymap

#3799 Tabulate Modifier & Mod-Tap keycode listings in advanced keycodes docs
  docs/feature_advanced_keycodes.md
  docs/keycodes.md
Labels: enhancement, needs doc

#3810 CTRL and ALT updates
  keyboards/massdrop/alt67/info.json
  keyboards/massdrop/alt67/keymaps/default/keymap.c
  keyboards/massdrop/alt67/readme.md
  keyboards/massdrop/ctrl/info.json
  keyboards/massdrop/ctrl/readme.md
Labels: keyboard

#3812 Updated my Kinesis keymap with the "pretty" layout
  keyboards/kinesis/keymaps/insertsnideremarks/keymap.c
  keyboards/kinesis/keymaps/insertsnideremarks/readme.md
  keyboards/kinesis/keymaps/insertsnideremarks/rules.mk
Labels: keymap

#3819 Fix emulated EEPROM start address on STM32F303
  tmk_core/common/chibios/eeprom_stm32.h
Labels: core

#3816 CTRL and ALT keyboard json fix
  keyboards/massdrop/alt67/info.json
  keyboards/massdrop/ctrl/info.json
Labels: keyboard
