Repository qmk/qmk_firmware, pull requests merged in 2019-02, with the labels that each got.

#4988 Support for 1upkeyboards Tsangan style PCB
  keyboards/1upkeyboards/1up60hte/1up60hte.c
  keyboards/1upkeyboards/1up60hte/1up60hte.h
  keyboards/1upkeyboards/1up60hte/config.h
  keyboards/1upkeyboards/1up60hte/keymaps/default/keymap.c
  keyboards/1upkeyboards/1up60hte/rules.mk
Labels: keyboard

#5008 Space65 Updates
  keyboards/gray_studio/space65/info.json
  keyboards/gray_studio/space65/keymaps/default/keymap.c
  keyboards/gray_studio/space65/readme.md
  keyboards/gray_studio/space65/space65.c
  keyboards/gray_studio/space65/space65.h
Labels: documentation, keyboard

#5033 Add hand-swap config to Gergo layout
  keyboards/gergo/gergo.c
Labels: keyboard

#5029 Stanrc85 layout update/cleanup
  layouts/community/60_ansi/stanrc85-ansi/config.h
  layouts/community/60_ansi/stanrc85-ansi/keymap.c
  layouts/community/60_ansi/stanrc85-ansi/rules.mk
Labels: keyboard, keymap

#5034 Added , to fix errors
  layouts/community/60_ansi/stanrc85-ansi/keymap.c
Labels: keymap

#5035 ADB converter lock LED fix
  keyboards/converter/adb_usb/README.md
  keyboards/converter/adb_usb/led.c
  keyboards/converter/adb_usb/matrix.c
  keyboards/converter/adb_usb/rules.mk
Labels: keyboard

#5046 ergodash Keyboard readme documentation
  keyboards/ergodash/readme.md
Labels: documentation

#5047 New Keyboard: Sentraq Number Pad RGB DIY Kit
  keyboards/sentraq/number_pad/config.h
  keyboards/sentraq/number_pad/info.json
  keyboards/sentraq/number_pad/keymaps/default/keymap.c
  keyboards/sentraq/number_pad/keymaps/default/readme.md
  keyboards/sentraq/number_pad/number_pad.c
  keyboards/sentraq/number_pad/number_pad.h
  keyboards/sentraq/number_pad/readme.md
  keyboards/sentraq/number_pad/rules.mk
Labels: keyboard

#5049 Fixes for the sentraq/number_pad info.json file.
  keyboards/sentraq/number_pad/info.json
Labels: keyboard

#5039 New Macropad: 1upkeyboards super16
  keyboards/1upkeyboards/super16/config.h
  keyboards/1upkeyboards/super16/info.json
  keyboards/1upkeyboards/super16/keymaps/default/config.h
  keyboards/1upkeyboards/super16/keymaps/default/keymap.c
  keyboards/1upkeyboards/super16/keymaps/default/readme.md
  keyboards/1upkeyboards/super16/readme.md
  keyboards/1upkeyboards/super16/rules.mk
  keyboards/1upkeyboards/super16/super16.c
  keyboards/1upkeyboards/super16/super16.h
Labels: keyboard

#5007 Make QMK Configurator work with e7-v1
  keyboards/e7v1/config.h
  keyboards/e7v1/e7v1.h
  keyboards/e7v1/info.json
Labels: awaiting changes, keyboard

#5054 Add "meishi" keyboard
  keyboards/meishi/config.h
  keyboards/meishi/keymaps/default/keymap.c
  keyboards/meishi/keymaps/default/readme.md
  keyboards/meishi/meishi.c
  keyboards/meishi/meishi.h
  keyboards/meishi/readme.md
  keyboards/meishi/rules.mk
Labels: keyboard

#5055 TMO50 Off By 1 Column Bug
  keyboards/tmo50/info.json
  keyboards/tmo50/keymaps/default/keymap.c
  keyboards/tmo50/keymaps/default/readme.md
  keyboards/tmo50/tmo50.h
Labels: bug, keyboard, keymap

#5032 make clean should remove .bin and .hex too
  Makefile
Labels: enhancement

#5000 Add Honeycomb macropad
  keyboards/honeycomb/config.h
  keyboards/honeycomb/honeycomb.c
  keyboards/honeycomb/honeycomb.h
  keyboards/honeycomb/keymaps/default/keymap.c
  keyboards/honeycomb/matrix.c
  keyboards/honeycomb/readme.md
  keyboards/honeycomb/rules.mk
Labels: keyboard

#4697 One Shot Modifier callbacks
  docs/feature_advanced_keycodes.md
  tmk_core/common/action_util.c
  tmk_core/common/action_util.h
Labels: core, documentation, enhancement, in progress

#3856 Improvement of Space Cadet Shift by preventing to automatically apply…
  docs/feature_space_cadet_shift.md
  quantum/quantum.c
Labels: core, enhancement

#3397 Add Scarlet Bandana Version IV mark.2
  keyboards/scarletbandana/config.h
  keyboards/scarletbandana/keymaps/default/config.h
  keyboards/scarletbandana/keymaps/default/keymap.c
  keyboards/scarletbandana/keymaps/default/readme.md
  keyboards/scarletbandana/matrix.c
  keyboards/scarletbandana/readme.md
  keyboards/scarletbandana/rules.mk
  keyboards/scarletbandana/scarletbandana.c
  keyboards/scarletbandana/scarletbandana.h
Labels: awaiting changes, keyboard

#5057 Add another secure string emitter to the keymap
  keyboards/tada68/keymaps/rys/keymap.c
  keyboards/tada68/keymaps/rys/rules.mk
Labels: keymap

#5061 Update gergo.h
  keyboards/gergo/gergo.h
Labels: bug, keyboard

#5067 Fixed default Preonic keymap's encoder handling
  keyboards/preonic/keymaps/default/keymap.c
Labels: bug, keymap

#5058 Update the Scarlet Bandana
  keyboards/scarletbandana/config.h
  keyboards/scarletbandana/info.json
  keyboards/scarletbandana/keymaps/default/config.h
  keyboards/scarletbandana/keymaps/default/keymap.c
  keyboards/scarletbandana/matrix.c
  keyboards/scarletbandana/readme.md
  keyboards/scarletbandana/rules.mk
  keyboards/scarletbandana/scarletbandana.c
  keyboards/scarletbandana/scarletbandana.h
Labels: bug, documentation, keyboard, keymap

#4740 Fix Mod Handling for LM keycodes
  quantum/keymap_common.c
Labels: awaiting review, bug, core, enhancement

#4967 Initial commit of Laptreus Keyboard
  keyboards/laptreus/config.h
  keyboards/laptreus/keymaps/debug/keymap.c
  keyboards/laptreus/keymaps/debug/readme.md
  keyboards/laptreus/keymaps/default/keymap.c
  keyboards/laptreus/keymaps/default/readme.md
  keyboards/laptreus/keymaps/vosechu/keymap.c
  keyboards/laptreus/keymaps/vosechu/readme.md
  keyboards/laptreus/laptreus.c
  keyboards/laptreus/laptreus.h
  keyboards/laptreus/readme.md
  keyboards/laptreus/rules.mk
Labels: in progress, keyboard

#5062 faq_build.md: Add section about serial devices on Linux
  docs/faq_build.md
Labels: documentation

#5066 Keymap updates
  layouts/community/60_ansi/stanrc85-ansi/keymap.c
  layouts/community/60_ansi/stanrc85-ansi/readme.md
  layouts/community/60_ansi/stanrc85-ansi/rules.mk
Labels: keymap

#5073 Adds a period to the docs.
  docs/feature_advanced_keycodes.md
Labels: documentation

#5074 Regroup all 'Exclusive' keyboards in one subdirectory
  keyboards/exclusive/e6_rgb/config.h
  keyboards/exclusive/e6_rgb/e6_rgb.c
  keyboards/exclusive/e6_rgb/e6_rgb.h
  keyboards/exclusive/e6_rgb/info.json
  keyboards/exclusive/e6_rgb/keymaps/60_ansi/keymap.c
  keyboards/exclusive/e6_rgb/keymaps/60_ansi_split_bs_shift/keymap.c
  keyboards/exclusive/e6_rgb/keymaps/60_hhkb/keymap.c
  keyboards/exclusive/e6_rgb/keymaps/60_wkl/keymap.c
  keyboards/exclusive/e6_rgb/keymaps/60_wkl_split_bs/keymap.c
  keyboards/exclusive/e6_rgb/keymaps/default/keymap.c
  keyboards/exclusive/e6_rgb/readme.md
  keyboards/exclusive/e6_rgb/rules.mk
  keyboards/exclusive/e6v2/le/config.h
  keyboards/exclusive/e6v2/le/info.json
  keyboards/exclusive/e6v2/le/keymaps/default/keymap.c
  keyboards/exclusive/e6v2/le/keymaps/eric/keymap.c
  keyboards/exclusive/e6v2/le/keymaps/johu/keymap.c
  keyboards/exclusive/e6v2/le/keymaps/johu/readme.md
  keyboards/exclusive/e6v2/le/le.c
  keyboards/exclusive/e6v2/le/le.h
  keyboards/exclusive/e6v2/le/readme.md
  keyboards/exclusive/e6v2/le/rules.mk
  keyboards/exclusive/e6v2/oe/config.h
  keyboards/exclusive/e6v2/oe/info.json
  keyboards/exclusive/e6v2/oe/keymaps/amnesia0287/keymap.c
  keyboards/exclusive/e6v2/oe/keymaps/amnesia0287/readme.md
  keyboards/exclusive/e6v2/oe/keymaps/default/keymap.c
  keyboards/exclusive/e6v2/oe/keymaps/default/readme.md
  keyboards/exclusive/e6v2/oe/oe.c
  keyboards/exclusive/e6v2/oe/oe.h
  keyboards/exclusive/e6v2/oe/readme.md
  keyboards/exclusive/e6v2/oe/rules.mk
  keyboards/exclusive/e6v2/readme.md
  keyboards/exclusive/e7v1/config.h
  keyboards/exclusive/e7v1/e7v1.c
  keyboards/exclusive/e7v1/e7v1.h
  keyboards/exclusive/e7v1/info.json
  keyboards/exclusive/e7v1/keymaps/ansi_splitbs/keymap.c
  keyboards/exclusive/e7v1/keymaps/ansi_splitbs/readme.md
  keyboards/exclusive/e7v1/keymaps/default/keymap.c
  keyboards/exclusive/e7v1/keymaps/default/readme.md
  keyboards/exclusive/e7v1/keymaps/masterzen/keymap.c
  keyboards/exclusive/e7v1/keymaps/masterzen/readme.md
  keyboards/exclusive/e7v1/readme.md
  keyboards/exclusive/e7v1/rules.mk
  keyboards/exclusive/readme.md
Labels: keyboard, optimization

#5060 Unigo66 fixes and improvements
  keyboards/sirius/unigo66/info.json
  keyboards/sirius/unigo66/keymaps/default/keymap.c
  keyboards/sirius/unigo66/main.c
  keyboards/sirius/unigo66/readme.md
  keyboards/sirius/unigo66/rules.mk
  keyboards/sirius/unigo66/unigo66.h
Labels: bug, keyboard

#5071 Merge ErgoTravel default keymap to match Group Buy orders
  keyboards/ergotravel/keymaps/default/config.h
  keyboards/ergotravel/keymaps/default/keymap.c
Labels: keyboard, keymap

#4249 Add Emiller Personal planck layout
  keyboards/planck/keymaps/emiller/config.h
  keyboards/planck/keymaps/emiller/keymap.c
  keyboards/planck/keymaps/emiller/readme.md
  keyboards/planck/keymaps/emiller/rules.mk
Labels: keymap

#5051 Add support for Quefrency left half with 2x5 macro section
  keyboards/quefrency/keymaps/default65macro/config.h
  keyboards/quefrency/keymaps/default65macro/keymap.c
  keyboards/quefrency/rev1/rev1.h
Labels: keyboard

#5086 Update default keymap, change RGB LEDs to 4 for Rev. 1.1
  keyboards/bdn9/config.h
  keyboards/bdn9/keymaps/default/keymap.c
Labels: keyboard

#5075 1up60hte hhkblayout
  keyboards/1upkeyboards/1up60hte/readme.md
Labels: keyboard

#5080 Namecard rev2
  keyboards/namecard2x4/rev1/config.h
  keyboards/namecard2x4/rev1/rules.mk
  keyboards/namecard2x4/rev2/config.h
  keyboards/namecard2x4/rev2/rules.mk
Labels: keyboard

#5087 Initial support for TKC M0LLY
  keyboards/m0lly/README.md
  keyboards/m0lly/config.h
  keyboards/m0lly/i2c.c
  keyboards/m0lly/i2c.h
  keyboards/m0lly/info.json
  keyboards/m0lly/keymaps/default/config.h
  keyboards/m0lly/keymaps/default/keymap.c
  keyboards/m0lly/m0lly.c
  keyboards/m0lly/m0lly.h
  keyboards/m0lly/rules.mk
Labels: keyboard

#5092 Update readme.md
  keyboards/ergodash/readme.md
Labels: documentation, keyboard

#5095 Add digital layout for KBD75
  keyboards/kbdfans/kbd75/keymaps/digital/keymap.c
  keyboards/kbdfans/kbd75/keymaps/digital/readme.md
Labels: keymap

#5097 Space65: RGB Animations on by default
  keyboards/gray_studio/space65/config.h
  keyboards/gray_studio/space65/rules.mk
Labels: keyboard

#5077 Fix AUTOGEN and Travis Compiled Push scripts
  .travis.yml
  tmk_core/rules.mk
  util/travis_build.sh
  util/travis_compiled_push.sh
Labels: bug, core, enhancement, optimization

#5101 Add Minidox keymap by dustypomerleau
  keyboards/minidox/keymaps/dustypomerleau/README.md
  keyboards/minidox/keymaps/dustypomerleau/config.h
  keyboards/minidox/keymaps/dustypomerleau/keymap.c
  keyboards/minidox/keymaps/dustypomerleau/rules.mk
Labels: keymap

#5104 Plain60 rgb
  keyboards/plain60/config.h
  keyboards/plain60/keymaps/RGB/config.h
  keyboards/plain60/keymaps/RGB/keymap.c
  keyboards/plain60/keymaps/RGB/rules.mk
Labels: bug, keymap

#5112 Refactor jj4x4 to enable ortho_4x4 LAYOUT
  keyboards/jj4x4/config.h
  keyboards/jj4x4/info.json
  keyboards/jj4x4/jj4x4.h
  keyboards/jj4x4/keymaps/default/keymap.c
  keyboards/jj4x4/rules.mk
Labels: keyboard

#5099 Added aeboards/aegis
  keyboards/aeboards/aegis/aegis.c
  keyboards/aeboards/aegis/aegis.h
  keyboards/aeboards/aegis/config.h
  keyboards/aeboards/aegis/keymaps/default/keymap.c
  keyboards/aeboards/aegis/keymaps/default/readme.md
  keyboards/aeboards/aegis/keymaps/via/keymap.c
  keyboards/aeboards/aegis/keymaps/via/readme.md
  keyboards/aeboards/aegis/keymaps/via/rules.mk
  keyboards/aeboards/aegis/readme.md
  keyboards/aeboards/aegis/rules.mk
Labels: keyboard

#5114 Fix travis_compiled_push.sh script issue
  util/travis_compiled_push.sh
Labels: bug, enhancement

#5094 Add Satisfaction75 to QMK, Enable EEPROM on stm32f072
  .gitignore
  drivers/qwiic/micro_oled.c
  keyboards/cannonkeys/satisfaction75/boards/ST_STM32F072B_DISCOVERY/board.c
  keyboards/cannonkeys/satisfaction75/boards/ST_STM32F072B_DISCOVERY/board.h
  keyboards/cannonkeys/satisfaction75/boards/ST_STM32F072B_DISCOVERY/board.mk
  keyboards/cannonkeys/satisfaction75/boards/ST_STM32F072B_DISCOVERY/cfg/board.chcfg
  keyboards/cannonkeys/satisfaction75/bootloader_defs.h
  keyboards/cannonkeys/satisfaction75/chconf.h
  keyboards/cannonkeys/satisfaction75/config.h
  keyboards/cannonkeys/satisfaction75/halconf.h
  keyboards/cannonkeys/satisfaction75/i2c_master.c
  keyboards/cannonkeys/satisfaction75/keymaps/default/keymap.c
  keyboards/cannonkeys/satisfaction75/keymaps/via/keymap.c
  keyboards/cannonkeys/satisfaction75/keymaps/via/rules.mk
  keyboards/cannonkeys/satisfaction75/led.c
  keyboards/cannonkeys/satisfaction75/led_custom.h
  keyboards/cannonkeys/satisfaction75/mcuconf.h
  keyboards/cannonkeys/satisfaction75/readme.md
  keyboards/cannonkeys/satisfaction75/rules.mk
  keyboards/cannonkeys/satisfaction75/satisfaction75.c
  keyboards/cannonkeys/satisfaction75/satisfaction75.h
  keyboards/cannonkeys/satisfaction75/satisfaction_encoder.c
  keyboards/cannonkeys/satisfaction75/satisfaction_oled.c
  keyboards/handwired/ck4x4/bootloader_defs.h
  keyboards/handwired/ck4x4/chconf.h
  keyboards/handwired/ck4x4/ck4x4.c
  keyboards/handwired/ck4x4/ck4x4.h
  keyboards/handwired/ck4x4/config.h
  keyboards/handwired/ck4x4/halconf.h
  keyboards/handwired/ck4x4/keymaps/default/keymap.c
  keyboards/handwired/ck4x4/mcuconf.h
  keyboards/handwired/ck4x4/readme.md
  keyboards/handwired/ck4x4/rules.mk
  keyboards/zeal60/zeal60_keycodes.h
  tmk_core/common.mk
  tmk_core/common/chibios/eeprom_stm32.h
  tmk_core/common/chibios/flash_stm32.c
Labels: keyboard

#5115 New Keyboard: Doro67 Regular PCB
  keyboards/doro67/readme.md
  keyboards/doro67/regular/config.h
  keyboards/doro67/regular/info.json
  keyboards/doro67/regular/keymaps/default/config.h
  keyboards/doro67/regular/keymaps/default/keymap.c
  keyboards/doro67/regular/keymaps/default/readme.md
  keyboards/doro67/regular/readme.md
  keyboards/doro67/regular/regular.c
  keyboards/doro67/regular/regular.h
  keyboards/doro67/regular/rules.mk
Labels: keyboard

#5105 [Keymap] Adding buhearns keymap
  keyboards/planck/keymaps/buhearns/config.h
  keyboards/planck/keymaps/buhearns/keymap.c
  keyboards/planck/keymaps/buhearns/readme.md
  keyboards/planck/keymaps/buhearns/rules.mk
Labels: keymap

#5108 Unigo66 beta pcb added, bug fixes for flashing
  keyboards/sirius/unigo66/README.md
  keyboards/sirius/unigo66/config.h
  keyboards/sirius/unigo66/info.json
  keyboards/sirius/unigo66/main.c
  keyboards/sirius/unigo66/readme.md
  keyboards/sirius/unigo66/rules.mk
  keyboards/sirius/unigo66/unigo66.h
Labels: keyboard

#5106 Add fsck keymaps for eco, planck and preonic
  keyboards/eco/keymaps/fsck/config.h
  keyboards/eco/keymaps/fsck/keymap.c
  keyboards/eco/keymaps/fsck/readme.md
  keyboards/eco/keymaps/fsck/rules.mk
  keyboards/planck/keymaps/fsck/config.h
  keyboards/planck/keymaps/fsck/keymap.c
  keyboards/planck/keymaps/fsck/readme.md
  keyboards/planck/keymaps/fsck/rules.mk
  keyboards/preonic/keymaps/fsck/config.h
  keyboards/preonic/keymaps/fsck/keymap.c
  keyboards/preonic/keymaps/fsck/readme.md
  keyboards/preonic/keymaps/fsck/rules.mk
Labels: keymap

#5126 KBD19x Bootmagic Enable (lite) and other fixes
  keyboards/kbdfans/kbd19x/kbd19x.c
  keyboards/kbdfans/kbd19x/kbd19x.h
  keyboards/kbdfans/kbd19x/readme.md
  keyboards/kbdfans/kbd19x/rules.mk
Labels: bug, keyboard

#5125 Layout update for stanrc85
  layouts/community/60_ansi/stanrc85-ansi/keymap.c
Labels: keymap

#5122 [Keymap] Update to Drashna keymaps and Userspace
  keyboards/crkbd/keymaps/drashna/keymap.c
  keyboards/keebio/iris/keymaps/drashna/keymap.c
  keyboards/keebio/iris/keymaps/drashna/rules.mk
  keyboards/keebio/viterbi/keymaps/drashna/config.h
  keyboards/keebio/viterbi/keymaps/drashna/keymap.c
  keyboards/keebio/viterbi/keymaps/drashna/rules.mk
  keyboards/keebio/viterbi/keymaps/drashna_old/config.h
  keyboards/keebio/viterbi/keymaps/drashna_old/rules.mk
  keyboards/orthodox/keymaps/drashna/config.h
  keyboards/orthodox/keymaps/drashna/keymap.c
  keyboards/orthodox/keymaps/drashna/rules.mk
  layouts/community/ergodox/drashna/config.h
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ergodox/drashna_glow/rules.mk
  layouts/community/ortho_4x12/drashna/config.h
  layouts/community/ortho_4x12/drashna/keymap.c
  users/drashna/config.h
  users/drashna/drashna.h
  users/drashna/process_records.c
  users/drashna/process_records.h
  users/drashna/rgb_stuff.c
  users/drashna/wrappers.h
Labels: keymap

#5129 Add pin initialization for KBD75's LED
  keyboards/kbdfans/kbd75/rev1/rev1.c
  keyboards/kbdfans/kbd75/rev2/rev2.c
Labels: keyboard

#5048 Add makefile target 'show_build_options' and 'show_all_features'
  build_keyboard.mk
  show_options.mk
Labels: core, enhancement

#4935 Migrate fn_actions for default keymaps
  keyboards/acr60/keymaps/default/keymap.c
  keyboards/amj40/keymaps/default/keymap.c
  keyboards/amj60/keymaps/iso_split_rshift/keymap.c
  keyboards/clueboard/card/keymaps/default/keymap.c
  keyboards/do60/keymaps/default/keymap.c
  keyboards/do60/keymaps/test/keymap.c
  keyboards/ergodone/keymaps/default/keymap.c
  keyboards/ergodox_ez/keymaps/default/keymap.c
  keyboards/ergodox_ez/keymaps/default_osx/keymap.c
  keyboards/ergodox_infinity/keymaps/default/keymap.c
  keyboards/gh60/keymaps/default/keymap.c
  keyboards/handwired/dactyl/keymaps/default/keymap.c
  keyboards/handwired/dactyl/keymaps/dvorak/keymap.c
  keyboards/handwired/gamenum/keymaps/default/keymap.c
  keyboards/handwired/kbod/keymaps/default/keymap.c
  keyboards/handwired/space_oddity/keymaps/default/keymap.c
  keyboards/handwired/terminus_mini/keymaps/default/keymap.c
  keyboards/handwired/traveller/keymaps/default/keymap.c
  keyboards/kona_classic/keymaps/ansi/keymap.c
  keyboards/kona_classic/keymaps/ansi_arrows/keymap.c
  keyboards/kona_classic/keymaps/ansi_arrows_lcap/keymap.c
  keyboards/kona_classic/keymaps/ansi_split/keymap.c
  keyboards/kona_classic/keymaps/ansi_split_arrows/keymap.c
  keyboards/kona_classic/keymaps/default/keymap.c
  keyboards/kona_classic/keymaps/iso/keymap.c
  keyboards/kona_classic/keymaps/iso_arrows/keymap.c
  keyboards/kona_classic/keymaps/iso_split/keymap.c
  keyboards/kona_classic/keymaps/iso_split_arrows/keymap.c
  keyboards/mechmini/v2/keymaps/default/keymap.c
  keyboards/org60/keymaps/default/keymap.c
  keyboards/satan/keymaps/colemak/keymap.c
  keyboards/satan/keymaps/default/keymap.c
  keyboards/satan/keymaps/iso_split_rshift/keymap.c
  keyboards/satan/keymaps/poker/keymap.c
  keyboards/sentraq/s60_x/keymaps/default/keymap.c
  keyboards/sentraq/s60_x/keymaps/default_rgb/keymap.c
  keyboards/sentraq/s60_x/keymaps/iso/keymap.c
  keyboards/sentraq/s60_x/keymaps/iso_rgb/keymap.c
  keyboards/vision_division/keymaps/default/keymap.c
  keyboards/whitefox/keymaps/default/keymap.c
  keyboards/xd60/keymaps/default/keymap.c
  keyboards/xd60/keymaps/iso/keymap.c
Labels: keymap, optimization

#4936 Fix ARM Audio issues and its EEPROM persistence
  quantum/audio/audio_arm.c
  quantum/process_keycode/process_clicky.c
Labels: awaiting review, core, enhancement

#5027 Add a mechanism for force building a particular community layout
  build_keyboard.mk
  build_layout.mk
  docs/feature_layouts.md
Labels: core, enhancement

#3113 Add kb and user level keyboard initialization functions
  docs/custom_quantum_functions.md
  tmk_core/common/avr/suspend.c
  tmk_core/common/keyboard.c
  tmk_core/common/keyboard.h
  tmk_core/protocol/bluefruit/main.c
  tmk_core/protocol/chibios/main.c
  tmk_core/protocol/vusb/main.c
Labels: awaiting review, core, discussion, enhancement

#3720 Debounce refactor / API
  common_features.mk
  docs/feature_debounce_type.md
  keyboards/handwired/xealous/rules.mk
  quantum/debounce.c
  quantum/debounce.h
  quantum/debounce/debounce_eager_pk.c
  quantum/debounce/debounce_sym_g.c
  quantum/debounce/readme.md
  quantum/matrix.c
  tmk_core/common/keyboard.c
Labels: awaiting review, core, enhancement

#5110 Remove problematic unicode_map stub definition in process_unicodemap.c
  keyboards/converter/ibm_terminal/keymaps/default/rules.mk
  keyboards/converter/ibm_terminal/rules.mk
  keyboards/converter/palm_usb/rules.mk
  keyboards/converter/sun_usb/rules.mk
  quantum/process_keycode/process_unicodemap.c
  quantum/process_keycode/process_unicodemap.h
Labels: core, optimization

#5130 Improve Encoder documentation
  docs/feature_encoders.md
Labels: documentation, enhancement

#5081 Enable custom chibios sub-platform
  tmk_core/chibios.mk
Labels: core, enhancement

#4326 Improve RGB Light code
  quantum/rgblight.c
  quantum/rgblight.h
Labels: awaiting review, core, optimization

#5088 docker_build.sh: Run container in interactive mode
  docs/getting_started_build_tools.md
  util/docker_build.sh
Labels: enhancement

#5013 Remove duplication of ssh keys and fix usage on PR builds
  util/travis_compiled_push.sh
  util/travis_push.sh
Labels: bug, core, optimization

#4998 Add samuel's literate keymap file for planck
  keyboards/planck/keymaps/samuel/README.org
  keyboards/planck/keymaps/samuel/config.h
  keyboards/planck/keymaps/samuel/keymap.c
Labels: keymap

#5053 Update KC_GESC documentation
  docs/feature_grave_esc.md
Labels: documentation, enhancement

#4940 Added APA102 support
  drivers/avr/apa102.c
  drivers/avr/apa102.h
Labels: core, enhancement

#5140 Remove redundant KC_TRNS and KC_NO fillers in userspace
  users/bbaserdem/bbaserdem.h
  users/bocaj/process_records.h
  users/gordon/gordon.h
  users/ishtob/ishtob.h
  users/losinggeneration/losinggeneration-common.h
  users/mtdjr/mtdjr.h
  users/not-quite-neo/nqn-common.h
  users/replicaJunction/replicaJunction.h
  users/romus/romus.h
  users/talljoe/talljoe.h
  users/zer09/zer09.h
Labels: keymap

#5141 [keymap] Add new keymap for wilba_tech WT8-A
  keyboards/wilba_tech/wt8_a/keymaps/rys/keymap.c
  keyboards/wilba_tech/wt8_a/keymaps/rys/rules.mk
Labels: keymap

#5145 Planck Keymap for oeywil
  keyboards/planck/keymaps/oeywil/.gitignore
  keyboards/planck/keymaps/oeywil/config.h
  keyboards/planck/keymaps/oeywil/keymap.c
  keyboards/planck/keymaps/oeywil/readme.md
  keyboards/planck/keymaps/oeywil/rules.mk
Labels: keymap

#5150 [omgvee:crkbd] minor keymap changes and fw size optimizations
  keyboards/crkbd/keymaps/omgvee/config.h
  keyboards/crkbd/keymaps/omgvee/keymap.c
  keyboards/crkbd/keymaps/omgvee/rules.mk
Labels: keymap, optimization

#5138 Update Drashna user space code to support keyboard_init functions
  layouts/community/ergodox/drashna_glow/rules.mk
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/rgb_stuff.c
  users/drashna/rgb_stuff.h
Labels: keymap

#5149 Add numpad_5x6 layout support for Prime M keyboard
  keyboards/primekb/prime_m/info.json
  keyboards/primekb/prime_m/keymaps/default/keymap.c
  keyboards/primekb/prime_m/keymaps/numpad/config.h
  keyboards/primekb/prime_m/keymaps/numpad/keymap.c
  keyboards/primekb/prime_m/keymaps/numpad/readme.md
  keyboards/primekb/prime_m/prime_m.h
  keyboards/primekb/prime_m/rules.mk
  layouts/default/numpad_5x6/default_numpad_5x6/keymap.c
  layouts/default/numpad_5x6/layout.json
  layouts/default/numpad_5x6/readme.md
Labels: keyboard, keymap

#4938 Add support to XD60 Rev3
  keyboards/xd60/keymaps/styr/keymap.c
  keyboards/xd60/keymaps/styr/readme.md
  keyboards/xd60/readme.md
  keyboards/xd60/rev2/config.h
  keyboards/xd60/rev2/rules.mk
  keyboards/xd60/rev3/config.h
  keyboards/xd60/rev3/rules.mk
Labels: awaiting changes, keyboard

#4939 Haptic feedback generalized - DRV2605 and solenoids
  common_features.mk
  docs/feature_haptic_feedback.md
  drivers/haptic/DRV2605L.c
  drivers/haptic/DRV2605L.h
  drivers/haptic/haptic.c
  drivers/haptic/haptic.h
  drivers/haptic/solenoid.c
  drivers/haptic/solenoid.h
  keyboards/hadron/ver3/config.h
  keyboards/hadron/ver3/keymaps/default/keymap.c
  keyboards/hadron/ver3/keymaps/ishtob/keymap.c
  keyboards/hadron/ver3/rules.mk
  keyboards/hadron/ver3/ver3.c
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
  tmk_core/common/eeconfig.c
  tmk_core/common/eeconfig.h
Labels: core, documentation, needs testing

#5147 define new keyboard "Hecomi"
  keyboards/hecomi/alpha/config.h
  keyboards/hecomi/alpha/readme.md
  keyboards/hecomi/alpha/rules.mk
  keyboards/hecomi/config.h
  keyboards/hecomi/hecomi.c
  keyboards/hecomi/hecomi.h
  keyboards/hecomi/info.json
  keyboards/hecomi/keymaps/default/config.h
  keyboards/hecomi/keymaps/default/keymap.c
  keyboards/hecomi/keymaps/default/readme.md
  keyboards/hecomi/readme.md
  keyboards/hecomi/rules.mk
Labels: keyboard

#5156 rfvizarra's custom PK60 layout
  keyboards/playkbtw/pk60/keymaps/rfvizarra/keymap.c
  keyboards/playkbtw/pk60/keymaps/rfvizarra/readme.md
Labels: keymap

#5164 Inital port of xd84
  keyboards/xd84/config.h
  keyboards/xd84/custom_matrix_helper.c
  keyboards/xd84/dev.md
  keyboards/xd84/info.json
  keyboards/xd84/keymaps/default/keymap.c
  keyboards/xd84/keymaps/default_iso/keymap.c
  keyboards/xd84/matrix.c
  keyboards/xd84/pca9555.c
  keyboards/xd84/pca9555.h
  keyboards/xd84/readme.md
  keyboards/xd84/rules.mk
  keyboards/xd84/xd84.c
  keyboards/xd84/xd84.h
Labels: keyboard

#5167 Move RGBLIGHT_LIMIT_VAL definition from rgblight.c to rgblight.h
  quantum/rgblight.c
  quantum/rgblight.h
Labels: enhancement

#5078 Change Command keycode defaults to match corresponding Bootmagic codes
  docs/feature_command.md
  keyboards/xd75/keymaps/billypython/config.h
  quantum/template/avr/config.h
  tmk_core/common/command.c
  tmk_core/common/command.h
  users/billypython/config.h
  users/konstantin/config.h
Labels: awaiting review, core, enhancement

#5166 update keymap and readme for my 75% layout
  layouts/community/75_ansi/mechmerlin-75_ansi/keymap.c
  layouts/community/75_ansi/mechmerlin-75_ansi/readme.md
Labels: keymap

#5146 Add UK variant of the SEND_STRING() LUTs to keymap_extras
  quantum/keymap_extras/sendstring_uk.h
Labels: core

#5113 handwired dactyl with 2 pro micros added
  keyboards/handwired/dactyl_manuform/readme.md
  keyboards/handwired/dactyl_promicro/config.h
  keyboards/handwired/dactyl_promicro/dactyl_promicro.c
  keyboards/handwired/dactyl_promicro/dactyl_promicro.h
  keyboards/handwired/dactyl_promicro/keymaps/default/config.h
  keyboards/handwired/dactyl_promicro/keymaps/default/keymap.c
  keyboards/handwired/dactyl_promicro/keymaps/impstyle/config.h
  keyboards/handwired/dactyl_promicro/keymaps/impstyle/keymap.c
  keyboards/handwired/dactyl_promicro/readme.md
  keyboards/handwired/dactyl_promicro/rules.mk
Labels: keyboard

#5070 [Docs] Add section about EEPROM on ARM
  docs/faq_build.md
Labels: documentation

#5121 Relocate usb_detach to utils
  keyboards/jj4x4/tools/README.md
  keyboards/jj4x4/tools/usb_detach.c
  keyboards/ymd96/tools/README.md
  keyboards/ymd96/tools/usb_detach.c
  util/usb_detach/Makefile
  util/usb_detach/readme.md
  util/usb_detach/usb_detach.c
Labels: enhancement, keyboard, optimization

#5171 Fix Audio Clicky
  quantum/process_keycode/process_clicky.c
Labels: bug, core

#4923 Fix Espectro Mac keymap and add new layout option
  keyboards/espectro/espectro.h
  keyboards/espectro/keymaps/mac/keymap.c
Labels: keymap

#3848 Fixed grep issue in bootloader build target
  tmk_core/avr.mk
  tmk_core/make_dfu_header.sh
Labels: enhancement

#5173 On ARM, run stop_all_notes on startup
  quantum/audio/audio_arm.c
Labels: bug, core

#5188 Get doro67 caps lock led working
  keyboards/doro67/regular/regular.c
Labels: bug, keyboard

#5172 Put sixshooter into bpiphany directory
  keyboards/bpiphany/sixshooter/config.h
  keyboards/bpiphany/sixshooter/info.json
  keyboards/bpiphany/sixshooter/keymaps/default/keymap.c
  keyboards/bpiphany/sixshooter/keymaps/default/readme.md
  keyboards/bpiphany/sixshooter/readme.md
  keyboards/bpiphany/sixshooter/rules.mk
  keyboards/bpiphany/sixshooter/sixshooter.c
  keyboards/bpiphany/sixshooter/sixshooter.h
Labels: keyboard

#5182 [Docs] Fix typo in RGB Matrix Driver configuration
  docs/feature_rgb_matrix.md
Labels: documentation

#5189 Alf X1.1 QMK Support
  keyboards/alf/x11/config.h
  keyboards/alf/x11/info.json
  keyboards/alf/x11/keymaps/default/config.h
  keyboards/alf/x11/keymaps/default/keymap.c
  keyboards/alf/x11/keymaps/default/readme.md
  keyboards/alf/x11/readme.md
  keyboards/alf/x11/rules.mk
  keyboards/alf/x11/x11.c
  keyboards/alf/x11/x11.h
Labels: keyboard

#5183 Add kinesis layout.
  keyboards/kinesis/keymaps/tw1t611/config.h
  keyboards/kinesis/keymaps/tw1t611/keymap.c
  keyboards/kinesis/keymaps/tw1t611/readme.md
  keyboards/kinesis/keymaps/tw1t611/rules.mk
Labels: keymap

#5194 Markdown cleanup on Config Options doc
  docs/config_options.md
Labels: documentation

#5198 Updated hand wiring docs
  docs/hand_wire.md
Labels: documentation

#3754 Velocikey: Match RGB animation speed to typing speed
  common_features.mk
  docs/_summary.md
  docs/feature_velocikey.md
  quantum/quantum.c
  quantum/quantum_keycodes.h
  quantum/rgblight.c
  quantum/velocikey.c
  quantum/velocikey.h
  tmk_core/common/eeconfig.c
  tmk_core/common/eeconfig.h
  tmk_core/common/keyboard.c
Labels: awaiting review, enhancement

#5201 Grammar cleanup of Flashing Your Keyboard Newbs Guide
  docs/newbs_flashing.md
Labels: documentation

#5210 Candybar: adjust rules.mk defaults
  keyboards/candybar/rules.mk
Labels: keyboard

#5216 NYM96 mention in YMDK Melody96
  keyboards/melody96/readme.md
Labels: documentation

#5230 Update readme.md
  layouts/community/ergodox/qwerty_code_friendly/readme.md
Labels: documentation

#5223 Keymap: Update Koba's keymap for Ergo42.
  keyboards/ergo42/keymaps/koba/keymap.c
  keyboards/ergo42/keymaps/koba/readme.md
  keyboards/ergo42/keymaps/koba/readme_ja.md
Labels: keymap

#5229 Fix Tx Bolt ghosting second character on key press
  quantum/process_keycode/process_steno.c
Labels: bug

#5205 Added a key to handle copy/paste in and out of a terminal
  keyboards/handwired/dactyl_manuform/5x6/keymaps/333fred/keymap.c
  users/333fred/333fred.c
  users/333fred/333fred.h
Labels: keymap

#5217 Initial upload of stanrc85 HS60 v2 keymap and config
  keyboards/hs60/v2/keymaps/stanrc85/config.h
  keyboards/hs60/v2/keymaps/stanrc85/keymap.c
  keyboards/hs60/v2/keymaps/stanrc85/readme.md
  keyboards/hs60/v2/keymaps/stanrc85/rules.mk
Labels: keymap

#5221 Fix indentation in quantum_keycodes.h
  quantum/quantum_keycodes.h
Labels: optimization

#5245 atreus default keymap `pagedown` didn't match comment instructions
  keyboards/atreus/keymaps/default/keymap.c
Labels: keymap

#5242 Corrected HS60 v2 keyboard name in info.json
  keyboards/hs60/v2/info.json
Labels: keyboard

#5246 Hecomi conf
  keyboards/hecomi/alpha/info.json
  keyboards/hecomi/alpha/readme.md
  keyboards/hecomi/info.json
Labels: keyboard

#5238 KBDFans Minor Fixes
  keyboards/kbdfans/kbd4x/kbd4x.h
  keyboards/kbdfans/kbd4x/rules.mk
  keyboards/kbdfans/kbd66/config.h
  keyboards/kbdfans/kbd66/kbd66.h
  keyboards/kbdfans/kbd66/rules.mk
  keyboards/kbdfans/kbd67/hotswap/config.h
  keyboards/kbdfans/kbd67/rev1/rev1.h
  keyboards/kbdfans/kbd6x/kbd6x.h
  keyboards/kbdfans/kbd75/kbd75.h
Labels: keyboard

#5237 Fix pinout for Quefrency left half w/macros
  keyboards/keebio/quefrency/rev1/config.h
Labels: keyboard

#5236 Some minor refactoring of stuff I've done in 1upkeyboards directory
  keyboards/1upkeyboards/1up60hse/1up60hse.h
  keyboards/1upkeyboards/1up60hse/rules.mk
  keyboards/1upkeyboards/1up60hte/keymaps/default/keymap.c
  keyboards/1upkeyboards/1up60hte/rules.mk
  keyboards/1upkeyboards/1up60rgb/1up60rgb.h
  keyboards/1upkeyboards/1up60rgb/config.h
  keyboards/1upkeyboards/1up60rgb/readme.md
  keyboards/1upkeyboards/1up60rgb/rules.mk
  keyboards/1upkeyboards/readme.md
  keyboards/1upkeyboards/super16/keymaps/default/config.h
  keyboards/1upkeyboards/super16/rules.mk
  keyboards/1upkeyboards/sweet16/config.h
  keyboards/1upkeyboards/sweet16/readme.md
  keyboards/1upkeyboards/sweet16/rules.mk
  keyboards/1upkeyboards/sweet16/sweet16.h
Labels: keyboard

#5235 HS60 v2 ISO layout andys8
  keyboards/hs60/v2/keymaps/iso_andys8/keymap.c
  keyboards/hs60/v2/keymaps/iso_andys8/readme.md
Labels: keymap

#5234 handwired/magicforce68: refactor, Configurator support, and readme cleanup
  keyboards/handwired/magicforce68/README.md
  keyboards/handwired/magicforce68/info.json
  keyboards/handwired/magicforce68/keymaps/default/keymap.c
  keyboards/handwired/magicforce68/magicforce68.h
  keyboards/handwired/magicforce68/readme.md
Labels: keyboard

#5250 HS60 v2 keymap updates
  keyboards/hs60/v2/keymaps/stanrc85/config.h
  keyboards/hs60/v2/keymaps/stanrc85/keymap.c
  keyboards/hs60/v2/keymaps/stanrc85/readme.md
  keyboards/hs60/v2/keymaps/stanrc85/rules.mk
Labels: keymap

#5177 [keymap] adding my Levinson keymap
  keyboards/keebio/levinson/keymaps/omgvee/config.h
  keyboards/keebio/levinson/keymaps/omgvee/keymap.c
  keyboards/keebio/levinson/keymaps/omgvee/readme.md
  keyboards/keebio/levinson/keymaps/omgvee/rules.mk
Labels: keymap

#5045 [Keymap] @nstickney's layout for iris
  keyboards/keebio/iris/keymaps/nstickney/README.md
  keyboards/keebio/iris/keymaps/nstickney/config.h
  keyboards/keebio/iris/keymaps/nstickney/keymap.c
  keyboards/keebio/iris/keymaps/nstickney/rules.mk
  layouts/community/ergodox/familiar/README.md
  layouts/community/ergodox/familiar/keymap.c
  layouts/community/ergodox/nstickney/keymap.c
  layouts/community/ergodox/nstickney/rules.mk
Labels: keymap

#5214 Ask for your name when generating a new keyboard
  docs/contributing.md
  quantum/template/avr/config.h
  quantum/template/avr/readme.md
  quantum/template/avr/template.c
  quantum/template/base/keymaps/default/config.h
  quantum/template/base/keymaps/default/keymap.c
  quantum/template/base/template.h
  quantum/template/ps2avrgb/template.c
  util/new_project.sh
Labels: enhancement

#5244 Converted stanrc85 community layout to userspace
  layouts/community/60_ansi/stanrc85-ansi/config.h
  layouts/community/60_ansi/stanrc85-ansi/keymap.c
  layouts/community/60_ansi/stanrc85-ansi/rules.mk
  users/stanrc85/config.h
  users/stanrc85/readme.md
  users/stanrc85/rules.mk
  users/stanrc85/stanrc85.h
Labels: keymap

#5247 Added a numpad keymap for the vitamins included keyboard
  keyboards/vitamins_included/keymaps/numpad/config.h
  keyboards/vitamins_included/keymaps/numpad/keymap.c
Labels: keymap

#5249 Hs60 win osx dual
  keyboards/hs60/v2/keymaps/win_osx_dual/keymap.c
  keyboards/hs60/v2/keymaps/win_osx_dual/readme.md
  keyboards/hs60/v2/keymaps/win_osx_dual/rules.mk
Labels: keymap

#5261 Add Configurator support and readme for boardwalk
  keyboards/boardwalk/info.json
  keyboards/boardwalk/readme.md
Labels: keyboard

#5270 Update Nyquist layout
  keyboards/keebio/nyquist/keymaps/skug/keymap.c
Labels: keymap

#5169 Added personal keymaps for Planck, Preonic, Vitamins Included by Juno
  keyboards/planck/keymaps/juno/config.h
  keyboards/planck/keymaps/juno/keymap.c
  keyboards/planck/keymaps/juno/readme.md
  keyboards/planck/keymaps/juno/rules.mk
  keyboards/preonic/keymaps/juno/config.h
  keyboards/preonic/keymaps/juno/keymap.c
  keyboards/preonic/keymaps/juno/readme.md
  keyboards/preonic/keymaps/juno/rules.mk
  keyboards/vitamins_included/keymaps/juno/keymap.c
  keyboards/vitamins_included/keymaps/juno/rules.mk
Labels: keymap

#5215 Userspace Keymap Updates
  layouts/community/60_ansi/mechmerlin-ansi/keymap.c
  layouts/community/60_ansi_split_bs_rshift/mechmerlin-split/keymap.c
  layouts/community/66_ansi/mechmerlin/config.h
  layouts/community/66_ansi/mechmerlin/keymap.c
  layouts/community/75_ansi/mechmerlin-75_ansi/keymap.c
  users/mechmerlin/changelog.md
  users/mechmerlin/config.h
  users/mechmerlin/readme.md
  users/mechmerlin/rules.mk
Labels: keymap

#5265 Cleaning up my config and userspace files
  keyboards/hs60/v2/keymaps/stanrc85/config.h
  keyboards/hs60/v2/keymaps/stanrc85/keymap.c
  keyboards/hs60/v2/keymaps/stanrc85/rules.mk
  users/stanrc85/config.h
  users/stanrc85/rules.mk
Labels: keymap

#5264 GH60 Satan improvements
  keyboards/satan/config.h
  keyboards/satan/keymaps/default/keymap.c
  keyboards/satan/pinout.txt
  keyboards/satan/readme.md
  keyboards/satan/rules.mk
  keyboards/satan/satan.c
  keyboards/satan/satan.h
Labels: keyboard

#5248 Add note about using Unicode Hex Input
  docs/feature_unicode.md
Labels: documentation

#5220 Use steno mode from base
  keyboards/ergodox_ez/keymaps/steno/keymap.c
  keyboards/ergodox_ez/keymaps/steno/rules.mk
Labels: keymap

#5252 Added two songs to song_list.h
  quantum/audio/song_list.h
Labels: enhancement

#5116 My WIP TMO50 layout
  keyboards/tmo50/keymaps/pyrol/keymap.c
Labels: keymap

#5263 Keymap update: add extrakey support for macOS media keys
  keyboards/minidox/keymaps/dustypomerleau/config.h
  keyboards/minidox/keymaps/dustypomerleau/keymap.c
  keyboards/minidox/keymaps/dustypomerleau/rules.mk
Labels: keymap
