Repository qmk/qmk_firmware, pull requests merged in 2019-08, with the labels that each got.

#6457 updates to akb/raine in ready for production units
  keyboards/akb/raine/config.h
  keyboards/akb/raine/info.json
  keyboards/akb/raine/keymaps/default/keymap.c
  keyboards/akb/raine/raine.h
Labels: keyboard

#6429 Add dfu-util and caterina udev examples
  docs/faq_build.md
Labels: documentation

#6432 Adds keymap for muzfuz/lunar
  keyboards/ai03/lunar/keymaps/muzfuz/keymap.c
  keyboards/ai03/lunar/keymaps/muzfuz/readme.md
Labels: keyboard

#6446 QWERTYYdox refactor
  keyboards/qwertyydox/config.h
  keyboards/qwertyydox/info.json
  keyboards/qwertyydox/keymaps/default/config.h
  keyboards/qwertyydox/keymaps/default/keymap.c
  keyboards/qwertyydox/qwertyydox.h
  keyboards/qwertyydox/rev1/config.h
  keyboards/qwertyydox/rev1/rev1.h
  keyboards/qwertyydox/rev1/rules.mk
  keyboards/qwertyydox/rules.mk
Labels: keyboard, optimization

#6448 Fixing Sol Rev2 Default keymap OLED rotation.
  keyboards/rgbkb/sol/keymaps/default/keymap.c
Labels: bug, keyboard

#6449 Adds Keymap for Iris/blucky
  keyboards/keebio/iris/keymaps/blucky/config.h
  keyboards/keebio/iris/keymaps/blucky/keymap.c
  keyboards/keebio/iris/keymaps/blucky/rules.md
  keyboards/keebio/iris/keymaps/blucky/rules.mk
Labels: keymap

#6452 New Keyboard: KBDPad MKI
  keyboards/kbdfans/kbdpad/mk1/config.h
  keyboards/kbdfans/kbdpad/mk1/info.json
  keyboards/kbdfans/kbdpad/mk1/keymaps/default/keymap.c
  keyboards/kbdfans/kbdpad/mk1/mk1.c
  keyboards/kbdfans/kbdpad/mk1/mk1.h
  keyboards/kbdfans/kbdpad/mk1/readme.md
  keyboards/kbdfans/kbdpad/mk1/rules.mk
  keyboards/kbdfans/kbdpad/mk1/usbconfig.h
Labels: keyboard

#6458 jotix ortho_4x12_layout
  layouts/community/ortho_4x12/jotix/keymap.c
  layouts/community/ortho_4x12/jotix/unicode.c
Labels: keymap

#6456 Add iS0 Keypad
  keyboards/illuminati/is0/config.h
  keyboards/illuminati/is0/info.json
  keyboards/illuminati/is0/is0.c
  keyboards/illuminati/is0/is0.h
  keyboards/illuminati/is0/keymaps/ctrlaltdel/keymap.c
  keyboards/illuminati/is0/keymaps/ctrlaltdel/readme.md
  keyboards/illuminati/is0/keymaps/default/keymap.c
  keyboards/illuminati/is0/keymaps/default/readme.md
  keyboards/illuminati/is0/readme.md
  keyboards/illuminati/is0/rules.mk
Labels: keyboard

#6462 Fixed Tanuki RGB lighting
  keyboards/tanuki/keymaps/default/keymap.c
Labels: keyboard, optimization

#6470 user keymap
  keyboards/planck/keymaps/dsanchezseco/keymap.c
Labels: keymap

#6472 WT75-A & WT75-B fixes for QMK Configurator
  keyboards/wilba_tech/wt60_d/config.h
  keyboards/wilba_tech/wt60_d/info.json
  keyboards/wilba_tech/wt60_d/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_d/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_d/keymaps/via/rules.mk
  keyboards/wilba_tech/wt60_d/readme.md
  keyboards/wilba_tech/wt60_d/rules.mk
  keyboards/wilba_tech/wt60_d/wt60_d.c
  keyboards/wilba_tech/wt60_d/wt60_d.h
  keyboards/wilba_tech/wt75_a/info.json
  keyboards/wilba_tech/wt75_b/info.json
Labels: keyboard

#6478 Add some more commonly used symbols to melody96/zunger.
  keyboards/melody96/keymaps/zunger/keymap.c
Labels: keymap

#6479 Add config option for DIRECT_PINS_RIGHT
  docs/config_options.md
  docs/feature_split_keyboard.md
  quantum/split_common/matrix.c
Labels: core

#6464 add keyboard-discipline
  keyboards/coseyfannitutti/discipline/config.h
  keyboards/coseyfannitutti/discipline/discipline.c
  keyboards/coseyfannitutti/discipline/discipline.h
  keyboards/coseyfannitutti/discipline/info.json
  keyboards/coseyfannitutti/discipline/keymaps/67_ansi/keymap.c
  keyboards/coseyfannitutti/discipline/keymaps/coseyfannitutti/keymap.c
  keyboards/coseyfannitutti/discipline/keymaps/default/keymap.c
  keyboards/coseyfannitutti/discipline/keymaps/wkl_ansi_2_right_mods/keymap.c
  keyboards/coseyfannitutti/discipline/keymaps/wkl_ansi_3_right_mods/keymap.c
  keyboards/coseyfannitutti/discipline/readme.md
  keyboards/coseyfannitutti/discipline/rules.mk
  keyboards/coseyfannitutti/discipline/usbconfig.h
Labels: keyboard

#6467 Remove unused _BOOTLOADER defines
  keyboards/alice/config.h
  keyboards/ergo42/rev1/config.h
  keyboards/ergo42/rules.mk
  keyboards/helix/rev1/config.h
  keyboards/helix/rules.mk
  keyboards/jj50/config.h
  keyboards/jj50/rules.mk
  keyboards/lets_split/keymaps/zer09/config.h
  keyboards/lets_split/rules.mk
  keyboards/lily58/rev1/config.h
  keyboards/lily58/rules.mk
  keyboards/meira/featherble/config.h
  keyboards/meira/promicro/config.h
  keyboards/meira/rules.mk
  keyboards/orthodox/rev3/config.h
  keyboards/skog/config.h
  keyboards/winkeyless/bface/config.h
  keyboards/winkeyless/bface/rules.mk
  keyboards/ymd75/config.h
  keyboards/ymd96/config.h
Labels: keyboard, optimization

#6484 Move maartenwut's keyboards to one folder
  keyboards/maartenwut/atom47/keymaps/LEdiodes/keymap.c
  keyboards/maartenwut/atom47/keymaps/LEdiodes/rules.mk
  keyboards/maartenwut/atom47/keymaps/default/keymap.c
  keyboards/maartenwut/atom47/keymaps/default/readme.md
  keyboards/maartenwut/atom47/keymaps/maartenwut/keymap.c
  keyboards/maartenwut/atom47/keymaps/maartenwut/readme.md
  keyboards/maartenwut/atom47/readme.md
  keyboards/maartenwut/atom47/rev2/config.h
  keyboards/maartenwut/atom47/rev2/info.json
  keyboards/maartenwut/atom47/rev2/readme.md
  keyboards/maartenwut/atom47/rev2/rev2.c
  keyboards/maartenwut/atom47/rev2/rev2.h
  keyboards/maartenwut/atom47/rev2/rules.mk
  keyboards/maartenwut/atom47/rev3/config.h
  keyboards/maartenwut/atom47/rev3/info.json
  keyboards/maartenwut/atom47/rev3/rev3.c
  keyboards/maartenwut/atom47/rev3/rev3.h
  keyboards/maartenwut/atom47/rev3/rules.mk
  keyboards/maartenwut/atom47/rules.mk
  keyboards/maartenwut/plain60/config.h
  keyboards/maartenwut/plain60/info.json
  keyboards/maartenwut/plain60/keymaps/RGB/config.h
  keyboards/maartenwut/plain60/keymaps/RGB/keymap.c
  keyboards/maartenwut/plain60/keymaps/RGB/rules.mk
  keyboards/maartenwut/plain60/keymaps/default/keymap.c
  keyboards/maartenwut/plain60/keymaps/yanfali/keymap.c
  keyboards/maartenwut/plain60/keymaps/yanfali/readme.md
  keyboards/maartenwut/plain60/keymaps/yanfali/rules.mk
  keyboards/maartenwut/plain60/plain60.c
  keyboards/maartenwut/plain60/plain60.h
  keyboards/maartenwut/plain60/readme.md
  keyboards/maartenwut/plain60/rules.mk
  keyboards/maartenwut/ta65/config.h
  keyboards/maartenwut/ta65/info.json
  keyboards/maartenwut/ta65/keymaps/default/keymap.c
  keyboards/maartenwut/ta65/keymaps/default_ansi/keymap.c
  keyboards/maartenwut/ta65/keymaps/default_ansi_tsangan/keymap.c
  keyboards/maartenwut/ta65/keymaps/default_iso/keymap.c
  keyboards/maartenwut/ta65/keymaps/default_iso_tsangan/keymap.c
  keyboards/maartenwut/ta65/keymaps/maartenwut/config.h
  keyboards/maartenwut/ta65/keymaps/maartenwut/keymap.c
  keyboards/maartenwut/ta65/readme.md
  keyboards/maartenwut/ta65/rules.mk
  keyboards/maartenwut/ta65/ta65.c
  keyboards/maartenwut/ta65/ta65.h
  keyboards/maartenwut/wasdat/config.h
  keyboards/maartenwut/wasdat/info.json
  keyboards/maartenwut/wasdat/keymaps/default/keymap.c
  keyboards/maartenwut/wasdat/keymaps/default/readme.md
  keyboards/maartenwut/wasdat/keymaps/default_iso/keymap.c
  keyboards/maartenwut/wasdat/keymaps/default_iso/readme.md
  keyboards/maartenwut/wasdat/keymaps/konstantin/config.h
  keyboards/maartenwut/wasdat/keymaps/konstantin/keymap.c
  keyboards/maartenwut/wasdat/keymaps/konstantin/rules.mk
  keyboards/maartenwut/wasdat/matrix.c
  keyboards/maartenwut/wasdat/readme.md
  keyboards/maartenwut/wasdat/rules.mk
  keyboards/maartenwut/wasdat/wasdat.c
  keyboards/maartenwut/wasdat/wasdat.h
Labels: keyboard

#6483 Update info.json - discipline
  keyboards/coseyfannitutti/discipline/info.json
  keyboards/coseyfannitutti/discipline/readme.md
Labels: bug, keyboard

#6489 Correct info.json data for Hnah40 handwired
  keyboards/handwired/hnah40/info.json
Labels: keyboard, optimization

#6466 Fixed Suihankey info.json
  keyboards/suihankey/info.json
Labels: bug, keyboard

#6469 Add cKeys' "The Dora" Board
  keyboards/ckeys/readme.md
  keyboards/ckeys/thedora/config.h
  keyboards/ckeys/thedora/info.json
  keyboards/ckeys/thedora/keymaps/default/config.h
  keyboards/ckeys/thedora/keymaps/default/keymap.c
  keyboards/ckeys/thedora/keymaps/default/readme.md
  keyboards/ckeys/thedora/readme.md
  keyboards/ckeys/thedora/rules.mk
  keyboards/ckeys/thedora/thedora.c
  keyboards/ckeys/thedora/thedora.h
Labels: keyboard

#6475 [Keymap] hhkb:halfqwerty_jp
  keyboards/hhkb/keymaps/halfqwerty_jp/README.md
  keyboards/hhkb/keymaps/halfqwerty_jp/keymap.c
  keyboards/hhkb/keymaps/halfqwerty_jp/rules.mk
Labels: keymap

#6477 Added little fixes and bootmagic
  keyboards/butterstick/keymaps/default/keymap.c
  keyboards/butterstick/sten.c
  keyboards/butterstick/sten.h
  keyboards/gergo/config.h
  keyboards/gergo/keymaps/oled/config.h
  keyboards/gergo/keymaps/oled/glcdfont.c
  keyboards/gergo/keymaps/oled/keymap.c
  keyboards/gergo/keymaps/oled/readme.md
  keyboards/gergo/keymaps/oled/rules.mk
  keyboards/gergo/rules.mk
Labels: keyboard

#6486 New Keyboard: Booster
  keyboards/percent/booster/booster.c
  keyboards/percent/booster/booster.h
  keyboards/percent/booster/config.h
  keyboards/percent/booster/info.json
  keyboards/percent/booster/keymaps/default/keymap.c
  keyboards/percent/booster/keymaps/default/readme.md
  keyboards/percent/booster/readme.md
  keyboards/percent/booster/rules.mk
  keyboards/percent/readme.md
Labels: keyboard

#6488 Fix qmk_install.sh on Windows dropping to command prompt
  util/win_shared_install.sh
Labels: bug

#6476 * MIDI: Fix basic noteon: send correct velocity
  quantum/process_keycode/process_midi.c
Labels: bug

#6504 Updates personal layout
  keyboards/keebio/levinson/keymaps/treadwell/keymap.c
Labels: keymap

#6503 added missing comment of RGB control keys for planck/rev6
  keyboards/planck/keymaps/default/keymap.c
Labels: documentation

#6498 Southpole: add Configurator layout data
  keyboards/southpole/info.json
Labels: enhancement, keyboard

#6502 Move Alice to TGR Directory
  keyboards/alice/readme.md
  keyboards/tgr/alice/alice.c
  keyboards/tgr/alice/alice.h
  keyboards/tgr/alice/config.h
  keyboards/tgr/alice/info.json
  keyboards/tgr/alice/keymaps/default/keymap.c
  keyboards/tgr/alice/keymaps/mrkeebs/keymap.c
  keyboards/tgr/alice/readme.md
  keyboards/tgr/alice/rules.mk
  keyboards/tgr/alice/usbconfig.h
Labels: keyboard

#6202 Improve backlight PWM pin support
  docs/config_options.md
  docs/feature_backlight.md
  docs/getting_started_make_guide.md
  docs/hardware_avr.md
  docs/porting_your_keyboard_to_qmk_(arm_and_other_chibios_cpus).md
  quantum/quantum.c
Labels: core, documentation, optimization

#6505 Fix rgb matrix effects on dshields keymaps.
  keyboards/model01/keymaps/dshields/config.h
  keyboards/model01/keymaps/dshields/keymap.c
  keyboards/planck/keymaps/dshields/config.h
  keyboards/planck/keymaps/dshields/keymap.c
Labels: keymap

#6509 Rename QK_TMK(_MAX) to BASIC
  quantum/quantum_keycodes.h
Labels: core

#5809 Extend allowed range of tappable keycodes to include modifiers
  tmk_core/common/action.c
  tmk_core/common/action_code.h
Labels: bug, core, enhancement

#6253 Add some defaults for ATmega32A to mcu_selection.mk
  quantum/mcu_selection.mk
  quantum/template/avr/rules.mk
  quantum/template/ps2avrgb/rules.mk
Labels: core, enhancement, optimization

#6143 Mask off TD() parameter properly
  quantum/process_keycode/process_tap_dance.h
Labels: core, optimization

#5817 removes gamelayer, finally got rgb working
  keyboards/jj40/keymaps/waples/keymap.c
  keyboards/jj40/keymaps/waples/readme.md
  keyboards/jj40/keymaps/waples/rules.mk
Labels: keymap

#6515 Update my keymap to contain the latest changes
  keyboards/planck/keymaps/sascha/keymap.c
Labels: keymap

#6482 Add meson keyboard
  keyboards/meson/config.h
  keyboards/meson/info.json
  keyboards/meson/keymaps/default/config.h
  keyboards/meson/keymaps/default/keymap.c
  keyboards/meson/keymaps/default/readme.md
  keyboards/meson/meson.c
  keyboards/meson/meson.h
  keyboards/meson/readme.md
  keyboards/meson/rules.mk
Labels: keyboard

#6517 [Keymap] Update keymap for keebio/nyquist
  keyboards/keebio/nyquist/keymaps/georgepetri/keymap.c
  keyboards/keebio/nyquist/keymaps/georgepetri/readme.md
Labels: keymap

#6524 [keymap] Modified imcomplete keymap for Kudox jis.
  keyboards/kudox/keymaps/jis/keymap.c
Labels: keymap

#6523 Add my romac keymap
  keyboards/romac/keymaps/jarred/keymap.c
Labels: keymap

#6529 Fix LT() crashing some ARM keyboards
  tmk_core/common/wait.h
Labels: bug, core

#6496 Adding my userspace and keymaps
  keyboards/keebio/iris/keymaps/sethBarberee/config.h
  keyboards/keebio/iris/keymaps/sethBarberee/keymap.c
  keyboards/keebio/iris/keymaps/sethBarberee/rules.mk
  keyboards/wilba_tech/zeal60/keymaps/sethBarberee/config.h
  keyboards/wilba_tech/zeal60/keymaps/sethBarberee/keymap.c
  keyboards/wilba_tech/zeal60/keymaps/sethBarberee/rules.mk
  users/sethBarberee/config.h
  users/sethBarberee/readme.md
  users/sethBarberee/rules.mk
  users/sethBarberee/sethBarberee.c
  users/sethBarberee/sethBarberee.h
Labels: keymap

#6501 Add: Initial steamvan firmware code
  keyboards/handwired/steamvan/info.json
  keyboards/handwired/steamvan/keymaps/default/config.h
  keyboards/handwired/steamvan/keymaps/default/keymap.c
  keyboards/handwired/steamvan/keymaps/default/readme.md
  keyboards/handwired/steamvan/keymaps/jmdaly/config.h
  keyboards/handwired/steamvan/keymaps/jmdaly/keymap.c
  keyboards/handwired/steamvan/keymaps/jmdaly/readme.md
  keyboards/handwired/steamvan/readme.md
  keyboards/handwired/steamvan/rev1/chconf.h
  keyboards/handwired/steamvan/rev1/config.h
  keyboards/handwired/steamvan/rev1/halconf.h
  keyboards/handwired/steamvan/rev1/led.c
  keyboards/handwired/steamvan/rev1/led_custom.h
  keyboards/handwired/steamvan/rev1/mcuconf.h
  keyboards/handwired/steamvan/rev1/rev1.c
  keyboards/handwired/steamvan/rev1/rev1.h
  keyboards/handwired/steamvan/rev1/rules.mk
Labels: keyboard

#6473 Enable PWM Support for Planck EZ Indicator Lights
  keyboards/planck/ez/ez.c
  keyboards/planck/ez/ez.h
  quantum/stm32/halconf.h
  quantum/stm32/mcuconf.h
Labels: keyboard

#6465 Align xd84 and xd96 with moon
  keyboards/xd84/config.h
  keyboards/xd84/custom_matrix_helper.c
  keyboards/xd84/matrix.c
  keyboards/xd84/pca9555.c
  keyboards/xd84/pca9555.h
  keyboards/xd84/readme.md
  keyboards/xd84/rules.mk
  keyboards/xd96/config.h
  keyboards/xd96/matrix.c
  keyboards/xd96/pca9555.c
  keyboards/xd96/pca9555.h
  keyboards/xd96/readme.md
  keyboards/xd96/rules.mk
Labels: keyboard

#6520 Gherkin CTPC compatibility - Update to use gpio
  keyboards/40percentclub/gherkin/keymaps/default/keymap.c
Labels: keymap

#6525 Xd75 bulbizarre keymap
  keyboards/xd75/keymaps/bulbizarre/config.h
  keyboards/xd75/keymaps/bulbizarre/keymap.c
  keyboards/xd75/keymaps/bulbizarre/readme.md
  keyboards/xd75/keymaps/bulbizarre/rules.mk
Labels: keymap

#6531 Cosmetic fix for default Wasdat keymaps
  keyboards/maartenwut/wasdat/keymaps/default/keymap.c
  keyboards/maartenwut/wasdat/keymaps/default_iso/keymap.c
Labels: keyboard, keymap

#6538 Fix include following Wilba refactor
  users/talljoe/talljoe.c
Labels: keymap

#6539 Remove duplicate test keyboards
  keyboards/chibios_test/boards/GENERIC_STM32_F103/board.c
  keyboards/chibios_test/boards/GENERIC_STM32_F103/board.h
  keyboards/chibios_test/boards/GENERIC_STM32_F103/board.mk
  keyboards/chibios_test/boards/GENERIC_STM32_F103/mini_stm32_mapping.png
  keyboards/chibios_test/boards/ST_STM32F072B_DISCOVERY/board.c
  keyboards/chibios_test/boards/ST_STM32F072B_DISCOVERY/board.h
  keyboards/chibios_test/boards/ST_STM32F072B_DISCOVERY/board.mk
  keyboards/chibios_test/boards/maple_mini_mapping.png
  keyboards/chibios_test/chibios_test.c
  keyboards/chibios_test/chibios_test.h
  keyboards/chibios_test/config.h
  keyboards/chibios_test/keymaps/default/keymap.c
  keyboards/chibios_test/ld/MKL26Z64.ld
  keyboards/chibios_test/ld/STM32F103x8_stm32duino_bootloader.ld
  keyboards/chibios_test/readme.md
  keyboards/chibios_test/rules.mk
  keyboards/chibios_test/stm32_f072_onekey/bootloader_defs.h
  keyboards/chibios_test/stm32_f072_onekey/config.h
  keyboards/chibios_test/stm32_f072_onekey/halconf.h
  keyboards/chibios_test/stm32_f072_onekey/led.c
  keyboards/chibios_test/stm32_f072_onekey/matrix.c
  keyboards/chibios_test/stm32_f072_onekey/readme.md
  keyboards/chibios_test/stm32_f072_onekey/stm32_f072_onekey.c
  keyboards/chibios_test/stm32_f072_onekey/stm32_f072_onekey.h
  keyboards/chibios_test/stm32_f103_onekey/bootloader_defs.h
  keyboards/chibios_test/stm32_f103_onekey/chconf.h
  keyboards/chibios_test/stm32_f103_onekey/config.h
  keyboards/chibios_test/stm32_f103_onekey/flash.sh
  keyboards/chibios_test/stm32_f103_onekey/halconf.h
  keyboards/chibios_test/stm32_f103_onekey/led.c
  keyboards/chibios_test/stm32_f103_onekey/matrix.c
  keyboards/chibios_test/stm32_f103_onekey/mcuconf.h
  keyboards/chibios_test/stm32_f103_onekey/readme.md
  keyboards/chibios_test/stm32_f103_onekey/rules.mk
  keyboards/chibios_test/stm32_f103_onekey/stm32_f103_onekey.c
  keyboards/chibios_test/stm32_f103_onekey/stm32_f103_onekey.h
  keyboards/chibios_test/teensy_lc_onekey/chconf.h
  keyboards/chibios_test/teensy_lc_onekey/config.h
  keyboards/chibios_test/teensy_lc_onekey/instructions.md
  keyboards/chibios_test/teensy_lc_onekey/led.c
  keyboards/chibios_test/teensy_lc_onekey/matrix.c
  keyboards/chibios_test/teensy_lc_onekey/mcuconf.h
  keyboards/chibios_test/teensy_lc_onekey/readme.md
  keyboards/chibios_test/teensy_lc_onekey/rules.mk
  keyboards/chibios_test/teensy_lc_onekey/teensy_lc_onekey.c
  keyboards/chibios_test/teensy_lc_onekey/teensy_lc_onekey.h
  keyboards/handwired/onekey/stm32f0_disco/chconf.h
  keyboards/handwired/onekey/stm32f0_disco/config.h
  keyboards/handwired/onekey/stm32f0_disco/halconf.h
  keyboards/handwired/onekey/stm32f0_disco/mcuconf.h
  keyboards/handwired/onekey/stm32f0_disco/readme.md
  keyboards/handwired/onekey/stm32f0_disco/rules.mk
  keyboards/proton_c/config.h
  keyboards/proton_c/keymaps/default/keymap.c
  keyboards/proton_c/proton_c.c
  keyboards/proton_c/readme.md
  keyboards/proton_c/rules.mk
Labels: keyboard

#6411 Refactor of lets_split_eh to enable RGB split animations
  keyboards/lets_split_eh/config.h
  keyboards/lets_split_eh/eh/config.h
  keyboards/lets_split_eh/eh/eh.c
  keyboards/lets_split_eh/eh/eh.h
  keyboards/lets_split_eh/eh/rules.mk
  keyboards/lets_split_eh/keymaps/default/keymap.c
  keyboards/lets_split_eh/lets_split_eh.h
Labels: keyboard

#6073 Add an alternative method for keyboard discovery to speed up build
  Makefile
  util/docker_build.sh
Labels: core, enhancement

#6427 Fix Clueboard hotswap gen1 not compiling when LED Matrix is disabled
  keyboards/clueboard/66_hotswap/gen1/gen1.c
Labels: bug, keyboard

#6521 Add support for different encoder pinout for right half of split keyboard
  docs/feature_encoders.md
  docs/feature_split_keyboard.md
  quantum/encoder.c
Labels: core

#6533 add "ridingqwerty" user and keymap for atreus keyboard
  keyboards/atreus/keymaps/ridingqwerty/config.h
  keyboards/atreus/keymaps/ridingqwerty/keymap.c
  keyboards/atreus/keymaps/ridingqwerty/readme.md
  keyboards/atreus/keymaps/ridingqwerty/rules.mk
  users/ridingqwerty/config.h
  users/ridingqwerty/process_records.c
  users/ridingqwerty/process_records.h
  users/ridingqwerty/ridingqwerty.c
  users/ridingqwerty/ridingqwerty.h
  users/ridingqwerty/rules.mk
Labels: keymap

#6552 add niu_mini custom keymaps
  keyboards/niu_mini/keymaps/nosarthur/README.md
  keyboards/niu_mini/keymaps/nosarthur/keymap.c
  keyboards/niu_mini/keymaps/nosarthur/keymap_colemak_dh.json
  keyboards/niu_mini/keymaps/nosarthur/keymap_qwerty.json
  keyboards/niu_mini/keymaps/nosarthur/rules.mk
  keyboards/niu_mini/keymaps/readme.md
Labels: keymap

#6548 Remove backslashes from template keymap
  quantum/template/base/keymaps/default/keymap.c
Labels: optimization

#6555 Illustrate the emoji layer
  keyboards/handwired/promethium/keymaps/priyadi/keymap.c
Labels: documentation

#6541 Userspace kuchosauronad0
  keyboards/c39/keymaps/kuchosauronad0/config.h
  keyboards/c39/keymaps/kuchosauronad0/keymap.c
  keyboards/c39/keymaps/kuchosauronad0/readme.md
  keyboards/c39/keymaps/kuchosauronad0/rules.mk
  users/kuchosauronad0/.gitignore
  users/kuchosauronad0/config.h
  users/kuchosauronad0/encoder.c
  users/kuchosauronad0/encoder.h
  users/kuchosauronad0/kuchosauronad0.c
  users/kuchosauronad0/kuchosauronad0.h
  users/kuchosauronad0/leader.c
  users/kuchosauronad0/leader.h
  users/kuchosauronad0/process_records.c
  users/kuchosauronad0/process_records.h
  users/kuchosauronad0/readme.md
  users/kuchosauronad0/rules.mk
  users/kuchosauronad0/tap_dances.c
  users/kuchosauronad0/tap_dances.h
  users/kuchosauronad0/template.c
  users/kuchosauronad0/template.h
  users/kuchosauronad0/unicode.c
  users/kuchosauronad0/unicode.h
  users/kuchosauronad0/wrappers.h
Labels: keymap

#6558 Reword a note about the MANUFACTURER and PRODUCT defines in hardware_avr.md
  docs/hardware_avr.md
Labels: documentation

#6561 Add ATmega32U2 to mcu_selection.mk
  quantum/mcu_selection.mk
Labels: core

#6564 [Docs] Add RGB Matrix default mode define info
  docs/feature_rgb_matrix.md
Labels: documentation

#6224 Add a universal flash command for cli
  keyboards/ergodox_infinity/keymaps/halfkeyboard/rules.mk
  keyboards/ergodox_infinity/rules.mk
  keyboards/infinity60/rules.mk
  keyboards/k_type/rules.mk
  keyboards/whitefox/rules.mk
  message.mk
  tmk_core/arm_atsam.mk
  tmk_core/avr.mk
  tmk_core/chibios.mk
  tmk_core/rules.mk
Labels: core, enhancement

#6444 Remove old promicro_bootloader_jmp() declarations
  keyboards/adkb96/rev1/rev1.h
  keyboards/atreus62/atreus62.h
  keyboards/claw44/rev1/rev1.h
  keyboards/crkbd/rev1/rev1.h
  keyboards/deltasplit75/v2/v2.h
  keyboards/divergetm2/divergetm2.h
  keyboards/eco/rev1/rev1.h
  keyboards/eco/rev2/rev2.h
  keyboards/ergo42/rev1/rev1.h
  keyboards/ergodash/mini/mini.h
  keyboards/ergodash/rev1/rev1.h
  keyboards/ergotravel/rev1/rev1.h
  keyboards/fortitude60/rev1/rev1.h
  keyboards/handwired/dactyl_manuform/4x5/4x5.h
  keyboards/handwired/dactyl_manuform/dactyl_manuform.h
  keyboards/handwired/xealous/rev1/rev1.h
  keyboards/helix/pico/pico.h
  keyboards/helix/rev1/rev1.h
  keyboards/helix/rev2/rev2.h
  keyboards/keebio/iris/rev1/rev1.h
  keyboards/keebio/iris/rev1_led/rev1_led.h
  keyboards/keebio/iris/rev2/rev2.h
  keyboards/keebio/levinson/rev1/rev1.h
  keyboards/keebio/levinson/rev2/rev2.h
  keyboards/keebio/levinson/rev3/rev3.h
  keyboards/keebio/nyquist/rev1/rev1.h
  keyboards/keebio/nyquist/rev2/rev2.h
  keyboards/keebio/rorschach/rev1/rev1.h
  keyboards/keebio/viterbi/rev1/rev1.h
  keyboards/launchpad/rev1/rev1.h
  keyboards/lets_split/rev1/rev1.h
  keyboards/lets_split/rev2/rev2.h
  keyboards/lets_split/sockets/sockets.h
  keyboards/lily58/rev1/rev1.h
  keyboards/minidox/rev1/rev1.h
  keyboards/naked48/rev1/rev1.h
  keyboards/orthodox/rev1/rev1.h
  keyboards/orthodox/rev3/rev3.h
  keyboards/orthodox/rev3_teensy/rev3_teensy.h
  keyboards/pinky/3/3.h
  keyboards/pinky/4/4.h
  keyboards/rgbkb/zen/rev1/rev1.h
  keyboards/rgbkb/zen/rev2/rev2.h
  keyboards/treadstone48/rev1/rev1.h
  keyboards/vitamins_included/rev1/rev1.h
  keyboards/yosino58/rev1/rev1.h
  keyboards/zinc/rev1/rev1.h
  keyboards/zinc/reva/reva.h
Labels: keyboard, optimization

#6581 Implement NUMLOCK indicator light for XD96
  keyboards/xd96/xd96.c
Labels: keyboard

#6562 mikethetiger's let's split eh? keymap
  keyboards/lets_split_eh/keymaps/mikethetiger/config.h
  keyboards/lets_split_eh/keymaps/mikethetiger/keymap.c
  keyboards/lets_split_eh/keymaps/mikethetiger/rules.mk
Labels: keymap

#6569 Personal Keymap - Add velocikey, move reset and align layout
  keyboards/projectkb/alice/keymaps/madhatter/keymap.c
  keyboards/projectkb/alice/keymaps/madhatter/rules.mk
Labels: keymap

#6584 PCB Ruler updates
  keyboards/the_ruler/config.h
  keyboards/the_ruler/keymaps/default/rules.mk
  keyboards/the_ruler/readme.md
  keyboards/the_ruler/rules.mk
  keyboards/the_ruler/the_ruler.h
Labels: bug, enhancement, keyboard

#6481 dumbpad updates, new keymap
  keyboards/dumbpad/config.h
  keyboards/dumbpad/dumbpad.c
  keyboards/dumbpad/keymaps/default/config.h
  keyboards/dumbpad/keymaps/default/keymap.c
  keyboards/dumbpad/keymaps/imchipwood/config.h
  keyboards/dumbpad/keymaps/imchipwood/keymap.c
Labels: keymap

#6445 Remove superfluous JTAG disable code
  docs/faq_debug.md
  docs/zh-cn/faq_debug.md
  keyboards/amj96/matrix.c
  keyboards/clueboard/17/17.c
  keyboards/clueboard/66/rev2/rev2.c
  keyboards/clueboard/66_hotswap/prototype/prototype.c
  keyboards/ergodone/matrix.c
  keyboards/handwired/promethium/matrix.c
  keyboards/hhkb/rn42/rn42.c
  keyboards/hid_liber/matrix.c
  keyboards/hotdox/matrix.c
  keyboards/launchpad/rev1/rev1.c
  keyboards/lets_split/sockets/sockets.h
  keyboards/miniaxe/config.h
  keyboards/sx60/matrix.c
  keyboards/vitamins_included/matrix.c
  keyboards/vitamins_included/rev1/rev1.h
  tmk_core/common/keyboard.c
  tmk_core/common/keyboard.h
Labels: core, documentation, enhancement, optimization

#6422 [Keyboard] Tweak RGB Matrix timing for ZSA Boards
  keyboards/ergodox_ez/config.h
  keyboards/planck/ez/config.h
Labels: bug, keyboard

#6110 Added keycodes for swapping and unswapping the Control and OS keys
  docs/feature_audio.md
  docs/feature_bootmagic.md
  docs/keycodes.md
  quantum/keycode_config.c
  quantum/keycode_config.h
  quantum/quantum.c
  quantum/quantum_keycodes.h
  tmk_core/common/command.c
  tmk_core/common/eeconfig.c
  tmk_core/common/eeconfig.h
Labels: core, documentation, enhancement

#5906 Additional changes for Layer State typedef compatibility
  docs/custom_quantum_functions.md
  docs/feature_oled_driver.md
  docs/feature_userspace.md
  docs/ref_functions.md
  quantum/quantum.c
  quantum/quantum.h
  quantum/visualizer/visualizer.c
  quantum/visualizer/visualizer.h
  tmk_core/common/action_layer.h
Labels: core, documentation, optimization

#5937 AVR GPIO macro defines more readable
  quantum/config_common.h
  quantum/quantum.h
  quantum/split_common/serial.c
Labels: core, optimization

#6542 define new keyboard "angel17"
  keyboards/angel17/angel17.c
  keyboards/angel17/angel17.h
  keyboards/angel17/config.h
  keyboards/angel17/info.json
  keyboards/angel17/keymaps/default/config.h
  keyboards/angel17/keymaps/default/keymap.c
  keyboards/angel17/keymaps/default/readme.md
  keyboards/angel17/readme.md
  keyboards/angel17/rules.mk
Labels: keyboard

#6559 Update NovelPad
  keyboards/novelpad/config.h
  keyboards/novelpad/info.json
  keyboards/novelpad/keymaps/default/keymap.c
  keyboards/novelpad/novelpad.c
  keyboards/novelpad/novelpad.h
  keyboards/novelpad/readme.md
  keyboards/novelpad/rules.mk
Labels: keyboard

#6528 Update how_keyboards_work.md
  docs/how_keyboards_work.md
Labels: documentation

#6056 Fix RGB_TOG cycle for Massdrop CTRL default keymap
  keyboards/massdrop/ctrl/keymaps/mac/keymap.c
Labels: keyboard, keymap

#6386 Fix up Bootmagic code
  quantum/keycode_config.c
  quantum/quantum.c
Labels: core, enhancement, optimization

#6426 Reduce compile size to fix various Travis CI errors
  keyboards/clueboard/card/rules.mk
  keyboards/preonic/rev1/rules.mk
  keyboards/preonic/rev2/rules.mk
  keyboards/xd004/v1/rules.mk
Labels: keyboard, optimization

#6563 Relocate pca9555 driver to core
  drivers/gpio/pca9555.c
  drivers/gpio/pca9555.h
  keyboards/moon/rules.mk
  keyboards/xd84/pca9555.c
  keyboards/xd84/pca9555.h
  keyboards/xd84/rules.mk
  keyboards/xd96/pca9555.c
  keyboards/xd96/pca9555.h
  keyboards/xd96/rules.mk
Labels: core, keyboard

#6578 Align flashing behaviour of dfu-util
  docs/flashing.md
  tmk_core/chibios.mk
Labels: core

#6547 Added 4by3 keyboard
  keyboards/4by3/4by3.c
  keyboards/4by3/4by3.h
  keyboards/4by3/config.h
  keyboards/4by3/info.json
  keyboards/4by3/keymaps/arrowpad/keymap.c
  keyboards/4by3/keymaps/default/keymap.c
  keyboards/4by3/keymaps/default/readme.md
  keyboards/4by3/keymaps/funcpad_horizontal/keymap.c
  keyboards/4by3/keymaps/funcpad_vertical/keymap.c
  keyboards/4by3/keymaps/numpad_horizontal/keymap.c
  keyboards/4by3/keymaps/numpad_vertical/keymap.c
  keyboards/4by3/readme.md
  keyboards/4by3/rules.mk
Labels: keyboard

#5076 [Keyboard] Add Soft Serial Speed to Diverge3 keyboard config
  keyboards/diverge3/.gitignore
  keyboards/diverge3/config.h
Labels: keyboard

#6585 Add Zadig 101 to docs
  docs/_summary.md
  docs/driver_installation_zadig.md
  docs/faq_build.md
Labels: documentation

#5587 Add 'bootloadHID' flash target
  docs/flashing.md
  docs/flashing_bootloadhid.md
  docs/getting_started_make_guide.md
  docs/newbs_flashing.md
  quantum/template/ps2avrgb/readme.md
  tmk_core/avr.mk
Labels: core, documentation

#6596 Update to userspace kuchosauroand0
  users/kuchosauronad0/combo.c
  users/kuchosauronad0/combo.h
  users/kuchosauronad0/config.h
  users/kuchosauronad0/encoder.c
  users/kuchosauronad0/encoder.h
  users/kuchosauronad0/leader.c
  users/kuchosauronad0/readme.md
  users/kuchosauronad0/rules.mk
  users/kuchosauronad0/tap_dances.c
Labels: keymap

#6597 ISO keymap for TADA68 with programming in mind
  keyboards/tada68/keymaps/onelivesleft/config.h
  keyboards/tada68/keymaps/onelivesleft/keymap.c
  keyboards/tada68/keymaps/onelivesleft/readme.md
  keyboards/tada68/keymaps/onelivesleft/rules.mk
Labels: keymap

#6598 Add JNAO keyboard
  keyboards/jnao/config.h
  keyboards/jnao/info.json
  keyboards/jnao/jnao.c
  keyboards/jnao/jnao.h
  keyboards/jnao/keymaps/default/keymap.c
  keyboards/jnao/keymaps/default_4x12/keymap.c
  keyboards/jnao/readme.md
  keyboards/jnao/rules.mk
  layouts/community/ortho_4x12/bakingpy/keymap.c
  layouts/community/ortho_4x12/bakingpy/rules.mk
Labels: keyboard

#6599 A keymap to "transform" a jj40 info a simil (and enhanced) Alpha28, to enjoy its simplicity and power
  keyboards/jj40/keymaps/stevexyz/config.h
  keyboards/jj40/keymaps/stevexyz/keyboard-layout-editor-raw-data.txt
  keyboards/jj40/keymaps/stevexyz/keymap.c
  keyboards/jj40/keymaps/stevexyz/readme.md
  keyboards/jj40/keymaps/stevexyz/rules.mk
Labels: keymap

#6565 New Keyboard: EVE Meteor
  keyboards/eve/meteor/config.h
  keyboards/eve/meteor/info.json
  keyboards/eve/meteor/keymaps/default/keymap.c
  keyboards/eve/meteor/meteor.c
  keyboards/eve/meteor/meteor.h
  keyboards/eve/meteor/readme.md
  keyboards/eve/meteor/rules.mk
  keyboards/eve/meteor/usbconfig.h
Labels: keyboard

#6492 [Keyboard] Maartenwut Wonderland PCB
  keyboards/maartenwut/wonderland/config.h
  keyboards/maartenwut/wonderland/keymaps/default/keymap.c
  keyboards/maartenwut/wonderland/keymaps/keebs/keymap.c
  keyboards/maartenwut/wonderland/rules.mk
  keyboards/maartenwut/wonderland/wonderland.c
  keyboards/maartenwut/wonderland/wonderland.h
Labels: in progress

#6544 RGB Inidcator example for new van pcbs
  keyboards/thevankeyboards/minivan/config.h
  keyboards/thevankeyboards/minivan/keymaps/jetpacktuxedo/config.h
  keyboards/thevankeyboards/minivan/keymaps/jetpacktuxedo/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/jetpacktuxedo/rules.mk
  keyboards/thevankeyboards/minivan/minivan.c
Labels: keyboard, keymap

#6592 Refactor `qmk compile-json` to `qmk compile`
  bin/qmk
  docs/cli.md
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/compile/__init__.py
  lib/python/qmk/cli/compile/json.py
Labels: core, python

#6546 Added OLED Display autoscroll during periods of OLED data inactivity.
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
  tmk_core/common/timer.h
  tmk_core/protocol/usb_hid/override_wiring.c
  users/xulkal/custom_tap_dance.c
  users/xulkal/layouts.h
  users/xulkal/process_records.c
  users/xulkal/rules.mk
  users/xulkal/timer_utils.c
  users/xulkal/timer_utils.h
  users/xulkal/xulkal.h
Labels: documentation, enhancement

#6608 Redox_w Use layer_state_set_user instead of matrix_scan_user
  keyboards/redox_w/keymaps/default/keymap.c
Labels: keymap

#6612 Mars80 Bug: Physical/Electrical Matrix Mismatch
  keyboards/ft/mars80/mars80.h
Labels: bug

#6628 Fix Redefinition of OLED_TIMEOUT
  drivers/oled/oled_driver.c
Labels: bug

#6630 Add Caravan keyboard
  keyboards/thevankeyboards/caravan/caravan.c
  keyboards/thevankeyboards/caravan/caravan.h
  keyboards/thevankeyboards/caravan/config.h
  keyboards/thevankeyboards/caravan/keymaps/default/config.h
  keyboards/thevankeyboards/caravan/keymaps/default/keymap.c
  keyboards/thevankeyboards/caravan/keymaps/default/readme.md
  keyboards/thevankeyboards/caravan/readme.md
  keyboards/thevankeyboards/caravan/rules.mk
Labels: keyboard

#6632 Personal ISO-ish keymap for HHKB
  keyboards/hhkb/keymaps/tobiasvl_iso/keymap.c
  keyboards/hhkb/keymaps/tobiasvl_iso/readme.md
Labels: keymap

#6633 Add option to use 4x12 layout for Nyquist
  keyboards/keebio/nyquist/info.json
  keyboards/keebio/nyquist/keymaps/default_4x12/keymap.c
  keyboards/keebio/nyquist/nyquist.h
  keyboards/keebio/nyquist/rules.mk
Labels: keyboard

#6625 Support flashing Instant60 from command line
  keyboards/cannonkeys/instant60/rules.mk
Labels: enhancement, keyboard

#6624 Support flashing DZ60 with :flash command
  keyboards/dz60/rules.mk
Labels: keyboard

#6621 Assorted personal keymap/layout updates
  keyboards/kbdfans/kbd67/hotswap/keymaps/bcat/keymap.c
  keyboards/kbdfans/kbd67/hotswap/keymaps/bcat/readme.md
  keyboards/keebio/quefrency/keymaps/bcat/config.h
  keyboards/keebio/quefrency/keymaps/bcat/keymap.c
  keyboards/keebio/quefrency/keymaps/bcat/readme.md
  layouts/community/60_ansi_split_bs_rshift/bcat/keymap.c
  layouts/community/60_ansi_split_bs_rshift/bcat/readme.md
  layouts/community/60_tsangan_hhkb/bcat/keymap.c
  layouts/community/60_tsangan_hhkb/bcat/readme.md
Labels: keymap

#6620 [Keyboard] Add keyboard Reviung39
  keyboards/reviung39/config.h
  keyboards/reviung39/info.json
  keyboards/reviung39/keymaps/default/config.h
  keyboards/reviung39/keymaps/default/keymap.c
  keyboards/reviung39/keymaps/default/readme.md
  keyboards/reviung39/keymaps/default/rules.mk
  keyboards/reviung39/keymaps/default_s/config.h
  keyboards/reviung39/keymaps/default_s/keymap.c
  keyboards/reviung39/keymaps/default_s/readme.md
  keyboards/reviung39/keymaps/default_s/rules.mk
  keyboards/reviung39/readme.md
  keyboards/reviung39/reviung39.c
  keyboards/reviung39/reviung39.h
  keyboards/reviung39/rules.mk
Labels: keyboard

#6617 Removed prescaler define from avr i2c, as it was impossible to use
  docs/i2c_driver.md
  drivers/avr/i2c_master.c
Labels: core

#6610 [Keyboard] add Pancake Keyboard
  keyboards/pancake/config.h
  keyboards/pancake/feather/config.h
  keyboards/pancake/feather/readme.md
  keyboards/pancake/feather/rules.mk
  keyboards/pancake/info.json
  keyboards/pancake/keymaps/default/keymap.c
  keyboards/pancake/keymaps/default/readme.md
  keyboards/pancake/pancake.c
  keyboards/pancake/pancake.h
  keyboards/pancake/promicro/config.h
  keyboards/pancake/promicro/readme.md
  keyboards/pancake/promicro/rules.mk
  keyboards/pancake/readme.md
Labels: keyboard

#6606 [Keymap] Workman layout for Atreus keyboard
  keyboards/atreus/keymaps/workman/README.md
  keyboards/atreus/keymaps/workman/config.h
  keyboards/atreus/keymaps/workman/keymap.c
Labels: keymap

#6605 add kbd67mkiirgb
  keyboards/kbdfans/kbd67mkiirgb/config.h
  keyboards/kbdfans/kbd67mkiirgb/info.json
  keyboards/kbdfans/kbd67mkiirgb/kbd67mkiirgb.c
  keyboards/kbdfans/kbd67mkiirgb/kbd67mkiirgb.h
  keyboards/kbdfans/kbd67mkiirgb/keymaps/default/keymap.c
  keyboards/kbdfans/kbd67mkiirgb/readme.md
  keyboards/kbdfans/kbd67mkiirgb/rules.mk
Labels: keyboard

#6623 [Keymap] Added personal keymap for DZ68RGB
  keyboards/dztech/dz65rgb/keymaps/matthewrobo/config.h
  keyboards/dztech/dz65rgb/keymaps/matthewrobo/keymap.c
  keyboards/dztech/dz65rgb/keymaps/matthewrobo/rules.mk
Labels: keymap

#6645 Add leaf60 and tada68 keymaps
  keyboards/foxlab/leaf60/universal/keymaps/jarred/keymap.c
  keyboards/foxlab/leaf60/universal/keymaps/jarred/readme.md
  keyboards/tada68/keymaps/jarred/keymap.c
  keyboards/tada68/keymaps/jarred/readme.md
  keyboards/tada68/keymaps/jarred/rules.mk
  users/jarred/readme.md
Labels: keymap
