Repository qmk/qmk_firmware, pull requests merged in 2019-10, with the labels that each got.

#6786 Port drivers.txt changes from the Toolbox
  util/drivers.txt
Labels: enhancement

#6810 [Keyboard] Add Wraith keyboard
  keyboards/cutie_club/wraith/config.h
  keyboards/cutie_club/wraith/info.json
  keyboards/cutie_club/wraith/keymaps/amber/config.h
  keyboards/cutie_club/wraith/keymaps/amber/keymap.c
  keyboards/cutie_club/wraith/keymaps/amber/readme.md
  keyboards/cutie_club/wraith/keymaps/default/config.h
  keyboards/cutie_club/wraith/keymaps/default/keymap.c
  keyboards/cutie_club/wraith/keymaps/default/readme.md
  keyboards/cutie_club/wraith/keymaps/timer/config.h
  keyboards/cutie_club/wraith/keymaps/timer/keymap.c
  keyboards/cutie_club/wraith/keymaps/timer/readme.md
  keyboards/cutie_club/wraith/readme.md
  keyboards/cutie_club/wraith/rules.mk
  keyboards/cutie_club/wraith/wraith.c
  keyboards/cutie_club/wraith/wraith.h
Labels: keyboard

#6855 Expose zh-cn docs, delete bad zh docs, add docs for adding translations
  docs/LANGS.md
  docs/_langs.md
  docs/_summary.md
  docs/index.html
  docs/translating.md
  docs/zh-cn/_summary.md
  docs/zh/README.md
  docs/zh/_summary.md
Labels: documentation

#6850 Edits to personal MF68 keymap
  keyboards/40percentclub/mf68/keymaps/emdarcher/keymap.c
Labels: keymap

#6803 Add Owlet60 Keyboard to qmk_firmware/keyboards/handwired
  keyboards/handwired/owlet60/config.h
  keyboards/handwired/owlet60/info.json
  keyboards/handwired/owlet60/keymaps/default/config.h
  keyboards/handwired/owlet60/keymaps/default/keymap.c
  keyboards/handwired/owlet60/keymaps/default/readme.md
  keyboards/handwired/owlet60/keymaps/oled_testing/config.h
  keyboards/handwired/owlet60/keymaps/oled_testing/customfont.c
  keyboards/handwired/owlet60/keymaps/oled_testing/keymap.c
  keyboards/handwired/owlet60/keymaps/oled_testing/readme.md
  keyboards/handwired/owlet60/keymaps/oled_testing/rules.mk
  keyboards/handwired/owlet60/matrix.c
  keyboards/handwired/owlet60/owlet60.c
  keyboards/handwired/owlet60/owlet60.h
  keyboards/handwired/owlet60/readme.md
  keyboards/handwired/owlet60/rules.mk
Labels: keyboard

#6853 [Keymap] Add antonlindstrom iris keymap
  keyboards/keebio/iris/keymaps/antonlindstrom/config.h
  keyboards/keebio/iris/keymaps/antonlindstrom/keymap.c
  keyboards/keebio/iris/keymaps/antonlindstrom/readme.md
  keyboards/keebio/iris/keymaps/antonlindstrom/rules.mk
Labels: keymap

#6843 Add personal CRKBD keymap
  keyboards/crkbd/keymaps/rpbaptist/config.h
  keyboards/crkbd/keymaps/rpbaptist/glcdfont.c
  keyboards/crkbd/keymaps/rpbaptist/keymap.c
  keyboards/crkbd/keymaps/rpbaptist/readme.md
  keyboards/crkbd/keymaps/rpbaptist/rules.mk
Labels: keymap

#6871 Fixed typos in documentation
  docs/arm_debugging.md
  docs/cli.md
  docs/hardware_keyboard_guidelines.md
  docs/newbs_flashing.md
Labels: documentation, hacktoberfest

#6876 Update personal userspace and keymaps
  keyboards/dz60/keymaps/konstantin_b/config.h
  keyboards/dz60/keymaps/konstantin_b/keymap.c
  keyboards/dz60/keymaps/konstantin_b/rules.mk
  keyboards/kbdfans/kbd6x/keymaps/konstantin/keymap.c
  keyboards/maartenwut/wasdat/keymaps/konstantin/keymap.c
  users/konstantin/config.h
  users/konstantin/konstantin.h
Labels: keymap

#6762 Wrap util.h functions in `extern "C"`
  tmk_core/common/util.h
Labels: bug, core

#6869 Add an image for Pulse 4k
  keyboards/maxr1998/pulse4k/readme.md
Labels: keyboard

#6848 Add Stella keyboard
  keyboards/stella/config.h
  keyboards/stella/info.json
  keyboards/stella/keymaps/default/config.h
  keyboards/stella/keymaps/default/keymap.c
  keyboards/stella/keymaps/default/readme.md
  keyboards/stella/readme.md
  keyboards/stella/rules.mk
  keyboards/stella/stella.c
  keyboards/stella/stella.h
Labels: keyboard

#6867 Match dactyl-manufom 4x5 layout in doc to actual
  keyboards/handwired/dactyl_manuform/4x5/keymaps/default/keymap.c
Labels: keyboard, keymap

#6893 :world_map: Adds massdrop/alt/favorable-mutation keymap
  keyboards/massdrop/alt/keymaps/favorable-mutation/README.md
  keyboards/massdrop/alt/keymaps/favorable-mutation/config.h
  keyboards/massdrop/alt/keymaps/favorable-mutation/keymap.c
Labels: keymap

#6864 update my keymap for Infinity Ergodox
  keyboards/ergodox_infinity/keymaps/dudeofawesome/keymap.c
  keyboards/ergodox_infinity/keymaps/dudeofawesome/layers.h
  keyboards/ergodox_infinity/keymaps/dudeofawesome/simple_visualizer.h
  keyboards/ergodox_infinity/keymaps/dudeofawesome/visualizer.c
Labels: keymap

#6882 New Keyboard: Percent Skog Lite
  keyboards/percent/skog_lite/config.h
  keyboards/percent/skog_lite/info.json
  keyboards/percent/skog_lite/keymaps/default/keymap.c
  keyboards/percent/skog_lite/keymaps/default/readme.md
  keyboards/percent/skog_lite/readme.md
  keyboards/percent/skog_lite/rules.mk
  keyboards/percent/skog_lite/skog_lite.c
  keyboards/percent/skog_lite/skog_lite.h
  keyboards/percent/skog_lite/usbconfig.h
Labels: keyboard

#6862 Added my version of the alpha28 layout. Usable.
  keyboards/alpha/keymaps/hvp/keymap.c
Labels: keymap

#6892 New Keyboard: Preliminary Support for Duck Orion V3
  keyboards/duck/orion/info.json
  keyboards/duck/orion/readme.md
  keyboards/duck/orion/rules.mk
  keyboards/duck/orion/v3/config.h
  keyboards/duck/orion/v3/indicator_leds.c
  keyboards/duck/orion/v3/indicator_leds.h
  keyboards/duck/orion/v3/keymaps/default/keymap.c
  keyboards/duck/orion/v3/matrix.c
  keyboards/duck/orion/v3/readme.md
  keyboards/duck/orion/v3/rules.mk
  keyboards/duck/orion/v3/v3.c
  keyboards/duck/orion/v3/v3.h
Labels: keyboard

#6487 ARM - Initial backlight support
  common_features.mk
  docs/feature_backlight.md
  keyboards/handwired/onekey/bluepill/config.h
  keyboards/handwired/onekey/bluepill/halconf.h
  keyboards/handwired/onekey/bluepill/mcuconf.h
  keyboards/handwired/onekey/bluepill/rules.mk
  keyboards/handwired/onekey/config.h
  keyboards/handwired/onekey/keymaps/backlight/config.h
  keyboards/handwired/onekey/keymaps/backlight/keymap.c
  keyboards/handwired/onekey/keymaps/backlight/rules.mk
  keyboards/handwired/onekey/proton_c/config.h
  keyboards/handwired/onekey/stm32f0_disco/config.h
  quantum/backlight/backlight.c
  quantum/backlight/backlight_arm.c
  quantum/backlight/backlight_avr.c
  quantum/quantum.c
  tmk_core/common/backlight.h
Labels: core

#6900 Budget96 Production PCB Fix
  keyboards/donutcables/budget96/budget96.h
  keyboards/donutcables/budget96/readme.md
Labels: bug, keyboard

#6849 [Keyboard] Add OSA keyboard
  keyboards/sck/osa/config.h
  keyboards/sck/osa/info.json
  keyboards/sck/osa/keymaps/all/config.h
  keyboards/sck/osa/keymaps/all/keymap.c
  keyboards/sck/osa/keymaps/all/readme.md
  keyboards/sck/osa/keymaps/default/config.h
  keyboards/sck/osa/keymaps/default/keymap.c
  keyboards/sck/osa/keymaps/default/readme.md
  keyboards/sck/osa/keymaps/ocm/config.h
  keyboards/sck/osa/keymaps/ocm/keymap.c
  keyboards/sck/osa/keymaps/ocm/readme.md
  keyboards/sck/osa/keymaps/splitbs/config.h
  keyboards/sck/osa/keymaps/splitbs/keymap.c
  keyboards/sck/osa/keymaps/splitbs/readme.md
  keyboards/sck/osa/keymaps/splitrs/config.h
  keyboards/sck/osa/keymaps/splitrs/keymap.c
  keyboards/sck/osa/keymaps/splitrs/readme.md
  keyboards/sck/osa/osa.c
  keyboards/sck/osa/osa.h
  keyboards/sck/osa/readme.md
  keyboards/sck/osa/rules.mk
Labels: keyboard

#6878 Added KBD6X Vimwarrior HHKB TOFU Personal Keymap
  keyboards/dz60/keymaps/devinceble_wkl_tofu/keymap.c
  keyboards/dz60/keymaps/devinceble_wkl_tofu/readme.md
  keyboards/dz60/keymaps/devinceble_wkl_tofu/rules.mk
  keyboards/kbdfans/kbd6x/keymaps/devinceble_hhkb_tofu/keymap.c
  keyboards/kbdfans/kbd6x/keymaps/devinceble_hhkb_tofu/readme.md
  keyboards/kbdfans/kbd6x/keymaps/devinceble_hhkb_tofu/rules.mk
Labels: keymap

#6889 dz60 Iso de 5x1u split right shift
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/iso_de_root/keymap.c
  keyboards/dz60/keymaps/iso_de_root/readme.md
  keyboards/dz60/keymaps/iso_de_root/rules.mk
Labels: keymap

#6896 removed deprecated option for Travis
  .travis.yml
Labels: enhancement

#6904 finally committing my updates
  keyboards/keebio/iris/keymaps/mattly/keymap.c
  users/mattly/mattly.h
Labels: keymap

#6908 Initial personal keymap for Lily58
  keyboards/lily58/keymaps/bcat/config.h
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/rules.mk
  users/bcat/config.h
Labels: keymap

#6847 [Keyboard] Add keyboard Reviung34
  keyboards/reviung34/config.h
  keyboards/reviung34/info.json
  keyboards/reviung34/keymaps/default/config.h
  keyboards/reviung34/keymaps/default/keymap.c
  keyboards/reviung34/keymaps/default/readme.md
  keyboards/reviung34/readme.md
  keyboards/reviung34/reviung34.c
  keyboards/reviung34/reviung34.h
  keyboards/reviung34/rules.mk
Labels: keyboard

#6907 Add HHKB-based keymap for DZ60
  keyboards/dz60/keymaps/joooosh_hhkb/keymap.c
Labels: keymap

#6870 Add Phoebe, a keyboard by Maxr1998
  keyboards/maxr1998/phoebe/config.h
  keyboards/maxr1998/phoebe/info.json
  keyboards/maxr1998/phoebe/keymaps/default/keymap.c
  keyboards/maxr1998/phoebe/keymaps/default/rules.mk
  keyboards/maxr1998/phoebe/phoebe.c
  keyboards/maxr1998/phoebe/phoebe.h
  keyboards/maxr1998/phoebe/readme.md
  keyboards/maxr1998/phoebe/rules.mk
Labels: keyboard

#6915 [Keyboard] Whitefox Aria Layout Support
  keyboards/whitefox/info.json
  keyboards/whitefox/whitefox.h
Labels: keyboard

#6885 Use `keymap` instead of `username` variable for `qmk new_keymap`
  lib/python/qmk/cli/new/keymap.py
Labels: cli, python

#6775 [keymap] dactyl_left
  keyboards/handwired/dactyl_left/config.h
  keyboards/handwired/dactyl_left/dactyl_left.c
  keyboards/handwired/dactyl_left/dactyl_left.h
  keyboards/handwired/dactyl_left/info.json
  keyboards/handwired/dactyl_left/keymaps/default/config.h
  keyboards/handwired/dactyl_left/keymaps/default/keymap.c
  keyboards/handwired/dactyl_left/keymaps/default/readme.md
  keyboards/handwired/dactyl_left/readme.md
  keyboards/handwired/dactyl_left/rules.mk
Labels: keyboard

#6923 Add new Cyclops keymap
  keyboards/westfoxtrot/cyclops/keymaps/peippo/config.h
  keyboards/westfoxtrot/cyclops/keymaps/peippo/keymap.c
  keyboards/westfoxtrot/cyclops/keymaps/peippo/readme.md
Labels: keymap

#6922 Removed dead link
  docs/feature_ps2_mouse.md
Labels: documentation

#6936 Dimple: Fix Caps Lock LED behaviour
  keyboards/lazydesigners/dimple/config.h
  keyboards/lazydesigners/dimple/dimple.c
Labels: bug, keyboard

#6917 Typo fix
  docs/feature_hd44780.md
Labels: documentation

#6903 [keymap] updating ninjonas userspace
  keyboards/crkbd/keymaps/ninjonas/keymap.c
  keyboards/hotdox/keymaps/ninjonas/keymap.c
  keyboards/lily58/keymaps/ninjonas/keymap.c
  keyboards/pinky/3/keymaps/ninjonas/keymap.c
  users/ninjonas/README.md
  users/ninjonas/ninjonas.h
  users/ninjonas/oled.c
  users/ninjonas/process_records.c
  users/ninjonas/process_records.h
Labels: keymap

#6945 [Keymap] Move brighness controls one key over
  keyboards/dz60/keymaps/bingocaller/keymap.c
Labels: keymap

#6927 Add `qmk list_keyboards`
  docs/cli.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/list/__init__.py
  lib/python/qmk/cli/list/keyboards.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

#6946 Mf68 keymap LED pins fixed
  keyboards/40percentclub/mf68/keymaps/emdarcher/keymap.c
Labels: keymap

#6950 Talljoe gherkin typo
  keyboards/40percentclub/gherkin/keymaps/talljoe-gherkin/keymap.c
Labels: keymap

#6951 Clean up / adjust khord let's split keymap
  keyboards/lets_split/keymaps/khord/keymap.c
Labels: keymap

#6954 Fix buffer sizes for sprintf overflows.
  keyboards/cannonkeys/satisfaction75/satisfaction_oled.c
Labels: bug, keyboard

#6959 Add an important note about modifying user code
  docs/contributing.md
Labels: documentation

#6963 Remove unanswered/unnecessary FAQ item
  docs/faq_general.md
Labels: documentation

#6938 Add new TADA68 keymap
  keyboards/tada68/keymaps/peippo/config.h
  keyboards/tada68/keymaps/peippo/keymap.c
  keyboards/tada68/keymaps/peippo/readme.md
Labels: keymap

#6941 katana60: Fix = key in default keymap
  keyboards/katana60/keymaps/default/keymap.c
Labels: keymap

#6942 [Docs] Add AVR and ARM examples to GPIO Commands
  docs/internals_gpio_control.md
Labels: documentation

#6969 Overly greedy community keymap build userspace
  users/yanfali/rules.mk
Labels: bug

#6949 Update and cleanup of Tap Dance Documentation
  docs/feature_tap_dance.md
Labels: documentation

#6832 modify ergodox_ez / dvorak_42_key layout
  keyboards/ergodox_ez/keymaps/dvorak_42_key/keymap.c
Labels: keymap

#6795 RGB update commit
  drivers/issi/is31fl3733.c
  keyboards/hs60/v2/config.h
  keyboards/nk65/config.h
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: enhancement, keyboard

#6901 Start of French translation of documentation
  docs/_langs.md
  docs/fr-FR/README.md
  docs/fr-FR/_summary.md
  docs/fr-FR/flashing.md
  docs/fr-FR/newbs.md
  docs/fr-FR/newbs_best_practices.md
  docs/fr-FR/newbs_building_firmware.md
  docs/fr-FR/newbs_building_firmware_configurator.md
  docs/fr-FR/newbs_flashing.md
  docs/fr-FR/newbs_getting_started.md
  docs/fr-FR/newbs_learn_more_resources.md
  docs/fr-FR/newbs_testing_debugging.md
Labels: documentation, translation

#6956 CLI command to serve docs locally
  docs/cli.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/docs.py
Labels: cli, documentation, python

#6895 keymaps for planck and crkbd
  keyboards/crkbd/keymaps/dsanchezseco/README.md
  keyboards/crkbd/keymaps/dsanchezseco/config.h
  keyboards/crkbd/keymaps/dsanchezseco/keymap.c
  keyboards/crkbd/keymaps/dsanchezseco/logo_reader.c
  keyboards/crkbd/keymaps/dsanchezseco/rules.mk
  keyboards/planck/keymaps/dsanchezseco/keymap.c
Labels: keymap

#6879 Try to learn git, orginize to "kingly_keys" subfolder, and add support for various keyboards.
  keyboards/kingly_keys/little_foot/config.h
  keyboards/kingly_keys/little_foot/info.json
  keyboards/kingly_keys/little_foot/keymaps/default/keymap.c
  keyboards/kingly_keys/little_foot/little_foot.c
  keyboards/kingly_keys/little_foot/little_foot.h
  keyboards/kingly_keys/little_foot/readme.md
  keyboards/kingly_keys/little_foot/rules.mk
  keyboards/kingly_keys/romac/config.h
  keyboards/kingly_keys/romac/info.json
  keyboards/kingly_keys/romac/keymaps/default/keymap.c
  keyboards/kingly_keys/romac/keymaps/jarred/keymap.c
  keyboards/kingly_keys/romac/keymaps/stanrc85/config.h
  keyboards/kingly_keys/romac/keymaps/stanrc85/keymap.c
  keyboards/kingly_keys/romac/keymaps/stanrc85/rules.mk
  keyboards/kingly_keys/romac/readme.md
  keyboards/kingly_keys/romac/romac.c
  keyboards/kingly_keys/romac/romac.h
  keyboards/kingly_keys/romac/rules.mk
  keyboards/kingly_keys/romac_plus/config.h
  keyboards/kingly_keys/romac_plus/info.json
  keyboards/kingly_keys/romac_plus/keymaps/default/keymap.c
  keyboards/kingly_keys/romac_plus/readme.md
  keyboards/kingly_keys/romac_plus/romac_plus.c
  keyboards/kingly_keys/romac_plus/romac_plus.h
  keyboards/kingly_keys/romac_plus/rules.mk
  keyboards/kingly_keys/ropro/config.h
  keyboards/kingly_keys/ropro/info.json
  keyboards/kingly_keys/ropro/keymaps/default/keymap.c
  keyboards/kingly_keys/ropro/keymaps/default/readme.md
  keyboards/kingly_keys/ropro/readme.md
  keyboards/kingly_keys/ropro/ropro.c
  keyboards/kingly_keys/ropro/ropro.h
  keyboards/kingly_keys/ropro/rules.mk
  keyboards/kingly_keys/smd_milk/2_milk.c
  keyboards/kingly_keys/smd_milk/2_milk.h
  keyboards/kingly_keys/smd_milk/config.h
  keyboards/kingly_keys/smd_milk/info.json
  keyboards/kingly_keys/smd_milk/keymaps/default/keymap.c
  keyboards/kingly_keys/smd_milk/readme.md
  keyboards/kingly_keys/smd_milk/rules.mk
  keyboards/kingly_keys/smd_milk/smd_milk.c
  keyboards/kingly_keys/smd_milk/smd_milk.h
  keyboards/kingly_keys/soap/README.md
  keyboards/kingly_keys/soap/config.h
  keyboards/kingly_keys/soap/info.json
  keyboards/kingly_keys/soap/keymaps/default/keymap.c
  keyboards/kingly_keys/soap/rules.mk
  keyboards/kingly_keys/soap/soap.c
  keyboards/kingly_keys/soap/soap.h
  keyboards/romac/rules.mk
  keyboards/ropro/rules.mk
Labels: keyboard, keymap

#6874 Adding my keymaps for Preonic and XD75
  keyboards/preonic/keymaps/pitty/config.h
  keyboards/preonic/keymaps/pitty/keymap.c
  keyboards/preonic/keymaps/pitty/readme.md
  keyboards/preonic/keymaps/pitty/rules.mk
  keyboards/xd75/keymaps/pitty/config.h
  keyboards/xd75/keymaps/pitty/keymap.c
  keyboards/xd75/keymaps/pitty/readme.md
  keyboards/xd75/keymaps/pitty/rules.mk
Labels: keymap

#6801 Reorder Raw HID interface to match what the USB spec expects
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/usb_descriptor.h
Labels: bug, core

#6925 French translation qmk basics
  docs/fr-FR/_summary.md
  docs/fr-FR/cli.md
  docs/fr-FR/cli_configuration.md
  docs/fr-FR/contributing.md
  docs/fr-FR/getting_started_getting_help.md
  docs/fr-FR/getting_started_github.md
  docs/fr-FR/getting_started_introduction.md
Labels: documentation, translation

#6973 [Docs] Clean up docs/newbs_flashing.md
  docs/newbs_flashing.md
Labels: documentation

#6958 Fix missing link in readme
  readme.md
Labels: documentation

#6981 unneeded line of code removed in Tap Dance documentation
  docs/feature_tap_dance.md
Labels: documentation

#6988 Kingly Keys Little Foot Configurator layout fix
  keyboards/kingly_keys/little_foot/info.json
Labels: enhancement, keyboard

#6987 Gray Studio Space65 Configurator Layout fix
  keyboards/gray_studio/space65/info.json
Labels: enhancement, keyboard

#6983 Feature/keymap/tada68
  keyboards/tada68/keymaps/devinceble/keymap.c
  keyboards/tada68/keymaps/devinceble/readme.md
  keyboards/tada68/keymaps/devinceble/rules.mk
Labels: keymap

#6985 New Keyboard: Exent
  keyboards/exent/config.h
  keyboards/exent/exent.c
  keyboards/exent/exent.h
  keyboards/exent/info.json
  keyboards/exent/keymaps/default/config.h
  keyboards/exent/keymaps/default/keymap.c
  keyboards/exent/keymaps/default/readme.md
  keyboards/exent/readme.md
  keyboards/exent/rules.mk
  keyboards/exent/usbconfig.h
Labels: keyboard

#6833 Satisfaction75 Configurator support (info.json)
  keyboards/cannonkeys/satisfaction75/prototype/info.json
  keyboards/cannonkeys/satisfaction75/rev1/info.json
  keyboards/cannonkeys/satisfaction75/rev1/rev1.h
Labels: bug, enhancement, keyboard

#6980 Adding garyjzhao's Iris keymap
  keyboards/keebio/iris/keymaps/gary/README.md
  keyboards/keebio/iris/keymaps/gary/config.h
  keyboards/keebio/iris/keymaps/gary/keymap.c
  keyboards/keebio/iris/keymaps/gary/rules.mk
  users/gary/gary.c
  users/gary/gary.h
  users/gary/readme.md
  users/gary/rules.mk
Labels: keymap

#6994 Keyboard/ergodox debounce
  keyboards/ergodox_ez/config.h
  keyboards/ergodox_ez/matrix.c
Labels: keyboard

#6966 French translation - breaking changes section
  docs/fr-FR/ChangeLog/20190830.md
  docs/fr-FR/_summary.md
  docs/fr-FR/breaking_changes.md
Labels: documentation, translation

#6854 Added new layout for DZ60 and keymap
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/iso_vim_arrow_split_rs/README.md
  keyboards/dz60/keymaps/iso_vim_arrow_split_rs/keymap.c
  keyboards/dz60/keymaps/iso_vim_arrow_split_rs/rules.mk
Labels: keyboard, keymap

#6790 Prevent clang-format messing up placeholder tokens within keyboard templates
  quantum/template/avr/config.h
  quantum/template/avr/keyboard.c
  quantum/template/base/keyboard.h
  quantum/template/base/keymaps/default/keymap.c
  quantum/template/base/keymaps/default/readme.md
  quantum/template/ps2avrgb/config.h
  quantum/template/ps2avrgb/keyboard.c
  util/new_keyboard.sh
  util/travis_compiled_push.sh
Labels: bug, enhancement

#7000 fix DZ60 info.json
  keyboards/dz60/info.json
Labels: bug, keyboard

#6984 Fix/projectkb/alice/right spacebar layout size from 2.25 to 2.7…
  keyboards/projectkb/alice/info.json
Labels: keyboard

#6996 added new layout and Olivierko keymap for dz60
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/olivierko/keymap.c
  keyboards/dz60/keymaps/olivierko/readme.md
Labels: keyboard, keymap

#7007 Fix CONVERT_TO_PROTON_C_RXLED pins
  quantum/config_common.h
Labels: bug, core

#6424 ARM split - detect USB to select master/slave
  docs/config_options.md
  docs/feature_split_keyboard.md
  quantum/split_common/matrix.c
  quantum/split_common/split_util.c
  quantum/split_common/split_util.h
Labels: core

#6977 laurentlaurent's preonic keymap
  keyboards/preonic/keymaps/laurentlaurent/config.h
  keyboards/preonic/keymaps/laurentlaurent/keymap.c
  keyboards/preonic/keymaps/laurentlaurent/readme.md
  keyboards/preonic/keymaps/laurentlaurent/rules.mk
  keyboards/preonic/keymaps/laurentlaurent/templates.c
Labels: keymap

#6986 Feature/keymap/projectkb/alice/devinceble
  keyboards/projectkb/alice/keymaps/devinceble/keymap.c
  keyboards/projectkb/alice/keymaps/devinceble/readme.md
  keyboards/projectkb/alice/keymaps/devinceble/rules.mk
Labels: keymap

#6989 `qmk docs` graceful shutdown on Ctrl+C
  lib/python/qmk/cli/docs.py
Labels: cli, enhancement

#6997 New Keyboard: BM43A
  keyboards/bm43a/bm43a.c
  keyboards/bm43a/bm43a.h
  keyboards/bm43a/config.h
  keyboards/bm43a/info.json
  keyboards/bm43a/keymaps/default/config.h
  keyboards/bm43a/keymaps/default/keymap.c
  keyboards/bm43a/keymaps/default/readme.md
  keyboards/bm43a/readme.md
  keyboards/bm43a/rules.mk
Labels: keyboard

#7011 fix broken link to ps2avrgb flashing instructions
  quantum/template/ps2avrgb/readme.md
Labels: documentation

#6964 Add soundmonster's keymap for crkbd
  keyboards/crkbd/keymaps/soundmonster/README.md
  keyboards/crkbd/keymaps/soundmonster/config.h
  keyboards/crkbd/keymaps/soundmonster/glcdfont.c
  keyboards/crkbd/keymaps/soundmonster/keymap.c
  keyboards/crkbd/keymaps/soundmonster/rules.mk
Labels: keymap

#6926 Remove i2c logic for STM32F103xB in favour of USE_I2CV1
  drivers/arm/i2c_master.c
  keyboards/ergodox_stm32/config.h
Labels: core, optimization

#6971 Cleanup rules.mk for 32U4 keyboards, G
  keyboards/angel17/alpha/rules.mk
  keyboards/angel17/rev1/rules.mk
  keyboards/clueboard/card/rules.mk
  keyboards/duck/orion/v3/rules.mk
  keyboards/fc660c/rules.mk
  keyboards/geekboards/tester/rules.mk
  keyboards/georgi/rules.mk
  keyboards/gergo/rules.mk
  keyboards/gh60/revc/rules.mk
  keyboards/gh60/satan/rules.mk
  keyboards/gh80_3000/rules.mk
  keyboards/gonnerd/rules.mk
  keyboards/gray_studio/cod67/rules.mk
  keyboards/gray_studio/space65/rules.mk
  keyboards/grid600/press/rules.mk
  keyboards/gskt00/rules.mk
Labels: enhancement, keyboard

#7028 Update splittest/teensy_2 to use SPLIT_USB_DETECT
  keyboards/handwired/splittest/teensy_2/config.h
  keyboards/handwired/splittest/teensy_2/teensy_2.c
Labels: keyboard

#7020 docs: update one shot keys link
  docs/feature_key_lock.md
Labels: documentation

#7005 Move running CLI tests to travis_test
  util/travis_build.sh
  util/travis_test.sh
Labels: core

#7029 Port DEBUG_MATRIX_SCAN_RATE to core
  keyboards/ergodone/matrix.c
  keyboards/ergodox_ez/matrix.c
  keyboards/ergodox_stm32/matrix.c
  keyboards/ergotaco/matrix.c
  keyboards/georgi/matrix.c
  keyboards/gergo/matrix.c
  keyboards/handwired/dactyl/matrix.c
  keyboards/handwired/frenchdev/matrix.c
  keyboards/handwired/xealous/matrix.c
  keyboards/handwired/xealous/matrix_scanrate.c
  keyboards/handwired/xealous/matrix_scanrate.h
  keyboards/handwired/xealous/rules.mk
  keyboards/hotdox/matrix.c
  tmk_core/common/keyboard.c
Labels: core, keyboard, optimization

#7024 ARM - Fix missing debug_matrix output
  tmk_core/common/chibios/printf.c
Labels: bug, core

#6582 Added uart config for using rn42 with at90usb1286
  quantum/config_common.h
Labels: core, enhancement, hacktoberfest

#6858 Fix small hiccup in snake animation
  quantum/rgblight.c
Labels: bug, core

#7009 [Docs] Replace Switch Hitter link with Wayback Machine link
  docs/fr-FR/newbs_testing_debugging.md
  docs/newbs_testing_debugging.md
  docs/zh-cn/newbs_testing_debugging.md
Labels: documentation, enhancement

#7013 Milk 2% - Unicode Keymap Fix and Improvements
  keyboards/2_milk/keymaps/emoji/config.h
  keyboards/2_milk/keymaps/emoji/keymap.c
  keyboards/2_milk/keymaps/emoji/readme.md
  keyboards/2_milk/keymaps/emoji/rules.mk
Labels: keymap

#6935 Fix bug in `do_code16()`
  quantum/quantum.c
  tmk_core/common/action.c
  tmk_core/common/action.h
Labels: bug, core

#7037 Update formatting of README for usb_usb
  keyboards/converter/usb_usb/README.md
Labels: documentation, keyboard

#6527 [Keyboard] Add keyboard Naked60
  keyboards/naked60/config.h
  keyboards/naked60/info.json
  keyboards/naked60/keymaps/default/config.h
  keyboards/naked60/keymaps/default/keymap.c
  keyboards/naked60/keymaps/default/readme.md
  keyboards/naked60/keymaps/default_with_nafuda/config.h
  keyboards/naked60/keymaps/default_with_nafuda/keymap.c
  keyboards/naked60/keymaps/default_with_nafuda/readme.md
  keyboards/naked60/keymaps/default_with_nafuda/rules.mk
  keyboards/naked60/keymaps/default_with_setta21/config.h
  keyboards/naked60/keymaps/default_with_setta21/keymap.c
  keyboards/naked60/keymaps/default_with_setta21/readme.md
  keyboards/naked60/keymaps/default_with_setta21/rules.mk
  keyboards/naked60/keymaps/salicylic/config.h
  keyboards/naked60/keymaps/salicylic/keymap.c
  keyboards/naked60/keymaps/salicylic/readme.md
  keyboards/naked60/keymaps/salicylic_with_nafuda/config.h
  keyboards/naked60/keymaps/salicylic_with_nafuda/keymap.c
  keyboards/naked60/keymaps/salicylic_with_nafuda/readme.md
  keyboards/naked60/keymaps/salicylic_with_nafuda/rules.mk
  keyboards/naked60/keymaps/salicylic_with_setta21/config.h
  keyboards/naked60/keymaps/salicylic_with_setta21/keymap.c
  keyboards/naked60/keymaps/salicylic_with_setta21/readme.md
  keyboards/naked60/keymaps/salicylic_with_setta21/rules.mk
  keyboards/naked60/naked60.c
  keyboards/naked60/naked60.h
  keyboards/naked60/readme.md
  keyboards/naked60/rev1/config.h
  keyboards/naked60/rev1/matrix.c
  keyboards/naked60/rev1/rev1.c
  keyboards/naked60/rev1/rev1.h
  keyboards/naked60/rev1/rules.mk
  keyboards/naked60/rev1/serial_config.h
  keyboards/naked60/rev1/serial_config_simpleapi.h
  keyboards/naked60/rev1/split_scomm.c
  keyboards/naked60/rev1/split_scomm.h
  keyboards/naked60/rev1/split_util.c
  keyboards/naked60/rev1/split_util.h
  keyboards/naked60/rules.mk
  keyboards/naked60/serial.c
  keyboards/naked60/serial.h
Labels: keyboard

#6842 Add uzu42 keyboard
  keyboards/uzu42/config.h
  keyboards/uzu42/keymaps/default/config.h
  keyboards/uzu42/keymaps/default/glcdfont_uzu42.c
  keyboards/uzu42/keymaps/default/keymap.c
  keyboards/uzu42/readme.md
  keyboards/uzu42/rev1/config.h
  keyboards/uzu42/rev1/rev1.c
  keyboards/uzu42/rev1/rev1.h
  keyboards/uzu42/rev1/rules.mk
  keyboards/uzu42/rev1/serial_config.h
  keyboards/uzu42/rev1/serial_config_simpleapi.h
  keyboards/uzu42/rules.mk
  keyboards/uzu42/uzu42.c
  keyboards/uzu42/uzu42.h
Labels: keyboard

#6857 Adding profile for Corne with tap dance Swedish support.
  keyboards/crkbd/keymaps/hvp/config.h
  keyboards/crkbd/keymaps/hvp/keymap.c
  keyboards/crkbd/keymaps/hvp/readme.md
  keyboards/crkbd/keymaps/hvp/rules.mk
  users/hvp/hvp.c
  users/hvp/hvp.h
  users/hvp/readme.md
  users/hvp/rules.mk
  users/hvp/tap_dances.c
  users/hvp/tap_dances.h
Labels: keymap

#6875 [WIP] Add personal keymaps
  keyboards/lets_split/keymaps/mekberg/README.md
  keyboards/lets_split/keymaps/mekberg/config.h
  keyboards/lets_split/keymaps/mekberg/keymap.c
  keyboards/tada68/keymaps/mekberg/config.h
  keyboards/tada68/keymaps/mekberg/keymap.c
  keyboards/tada68/keymaps/mekberg/readme.md
  keyboards/tada68/keymaps/mekberg/rules.mk
Labels: keymap

#6881 [keymap] Add narze keymap for usb-usb converter
  keyboards/converter/usb_usb/keymaps/narze/README.md
  keyboards/converter/usb_usb/keymaps/narze/config.h
  keyboards/converter/usb_usb/keymaps/narze/keymap.c
  keyboards/converter/usb_usb/keymaps/narze/rules.mk
Labels: keymap

#6952 Cleanup helix rules options
  keyboards/helix/config.h
  keyboards/helix/helix.h
  keyboards/helix/local_drivers/i2c.c
  keyboards/helix/local_drivers/i2c.h
  keyboards/helix/local_drivers/serial.c
  keyboards/helix/local_drivers/serial.h
  keyboards/helix/local_drivers/ssd1306.c
  keyboards/helix/local_drivers/ssd1306.h
  keyboards/helix/pico/back/rules.mk
  keyboards/helix/pico/config.h
  keyboards/helix/pico/keymaps/biacco/rules.mk
  keyboards/helix/pico/keymaps/default/readme.md
  keyboards/helix/pico/keymaps/default/readme_jp.md
  keyboards/helix/pico/keymaps/default/rules.mk
  keyboards/helix/pico/keymaps/mtei/rules.mk
  keyboards/helix/pico/local_features.mk
  keyboards/helix/pico/pico.h
  keyboards/helix/pico/rules.mk
  keyboards/helix/pico/serial_config.h
  keyboards/helix/pico/under/rules.mk
  keyboards/helix/pro_micro.h
  keyboards/helix/rev1/config.h
  keyboards/helix/rev1/keymaps/OLED_sample/keymap.c
  keyboards/helix/rev1/keymaps/default/keymap.c
  keyboards/helix/rev1/rev1.h
  keyboards/helix/rev1/rules.mk
  keyboards/helix/rev2/back/oled/rules.mk
  keyboards/helix/rev2/back/rules.mk
  keyboards/helix/rev2/config.h
  keyboards/helix/rev2/keymaps/default/keymap.c
  keyboards/helix/rev2/keymaps/default/readme.md
  keyboards/helix/rev2/keymaps/default/readme_jp.md
  keyboards/helix/rev2/keymaps/default/rules.mk
  keyboards/helix/rev2/keymaps/edvorakjp/rules.mk
  keyboards/helix/rev2/keymaps/five_rows/keymap.c
  keyboards/helix/rev2/keymaps/five_rows/rules.mk
  keyboards/helix/rev2/keymaps/five_rows_jis/keymap.c
  keyboards/helix/rev2/keymaps/five_rows_jis/rules.mk
  keyboards/helix/rev2/keymaps/froggy/keymap.c
  keyboards/helix/rev2/keymaps/froggy/rules.mk
  keyboards/helix/rev2/keymaps/led_test/README.md
  keyboards/helix/rev2/keymaps/led_test/rules.mk
  keyboards/helix/rev2/keymaps/yshrsmz/keymap.c
  keyboards/helix/rev2/keymaps/yshrsmz/rules.mk
  keyboards/helix/rev2/local_features.mk
  keyboards/helix/rev2/oled/back/rules.mk
  keyboards/helix/rev2/oled/rules.mk
  keyboards/helix/rev2/oled/under/rules.mk
  keyboards/helix/rev2/rev2.h
  keyboards/helix/rev2/rules.mk
  keyboards/helix/rev2/serial_config.h
  keyboards/helix/rev2/under/oled/rules.mk
  keyboards/helix/rev2/under/rules.mk
  keyboards/helix/rules.mk
Labels: keyboard, optimization

#7045 Various improvements to my Lily58 keymap
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
Labels: keymap

#6920 [Keymap] Drashna's Hardware Features Experimentations
  keyboards/40percentclub/nano/keymaps/drashna/keymap.c
  keyboards/40percentclub/nano/keymaps/drashna/rules.mk
  keyboards/c39/keymaps/drashna/config.h
  keyboards/c39/keymaps/drashna/keymap.c
  keyboards/c39/keymaps/drashna/readme.md
  keyboards/c39/keymaps/drashna/rules.mk
  keyboards/crkbd/keymaps/drashna/config.h
  keyboards/crkbd/keymaps/drashna/keymap.c
  keyboards/crkbd/keymaps/drashna/rules.mk
  keyboards/keebio/iris/keymaps/drashna/keymap.c
  keyboards/keebio/iris/keymaps/drashna_lp/config.h
  layouts/community/ergodox/drashna/config.h
  layouts/community/ergodox/drashna/rules.mk
  layouts/community/ergodox/drashna_glow/config.h
  layouts/community/ergodox/drashna_glow/rules.mk
  layouts/community/ortho_4x12/drashna/config.h
  layouts/community/ortho_4x12/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/rules.mk
  layouts/community/ortho_5x12/drashna/rules.mk
  users/drashna/drashna.c
  users/drashna/drashna.h
  users/drashna/process_records.h
  users/drashna/rules.mk
Labels: keymap

#6710 Move tmk_core/common/backlight to quantum/backlight
  common_features.mk
  keyboards/clueboard/60/led.c
  quantum/backlight/backlight.c
  quantum/backlight/backlight.h
  quantum/keymap_common.c
  quantum/quantum.c
  tmk_core/common.mk
  tmk_core/common/action.c
  tmk_core/common/avr/suspend.c
  tmk_core/common/backlight.c
  tmk_core/common/chibios/suspend.c
  tmk_core/common/command.c
  tmk_core/common/keyboard.c
Labels: core

#7052 [Keyboard] Move vitamins included rev1 to split_common
  keyboards/vitamins_included/i2c.c
  keyboards/vitamins_included/i2c.h
  keyboards/vitamins_included/matrix.c
  keyboards/vitamins_included/rev1/config.h
  keyboards/vitamins_included/rev1/rules.mk
  keyboards/vitamins_included/serial.c
  keyboards/vitamins_included/serial.h
  keyboards/vitamins_included/split_util.c
  keyboards/vitamins_included/split_util.h
Labels: keyboard

#7053 SPLIT - Remove NO_USB_STARTUP_CHECK requirement for usb detection
  keyboards/handwired/splittest/teensy_2/config.h
  keyboards/vitamins_included/rev1/config.h
  quantum/split_common/split_util.c
Labels: core, enhancement

#7062 Add a via compatible keymap
  keyboards/maartenwut/plain60/keymaps/via/keymap.c
  keyboards/maartenwut/plain60/keymaps/via/rules.mk
  keyboards/maartenwut/plain60/rules.mk
Labels: in progress, keymap

#7070 DZ65RGB Caps lock moved from keymap
  keyboards/dztech/dz65rgb/dz65rgb.c
  keyboards/dztech/dz65rgb/keymaps/default/keymap.c
Labels: enhancement, keyboard

#7058 Fix incorrect spacing in example on Coding Conventions page
  docs/coding_conventions_c.md
Labels: discussion

#7036 Custom Planck layout for the Planck
  keyboards/planck/keymaps/smittey/config.h
  keyboards/planck/keymaps/smittey/keymap.c
  keyboards/planck/keymaps/smittey/readme.md
  keyboards/planck/keymaps/smittey/rules.mk
Labels: keymap

#7041 Add python-pip as package dependency for archlinux
  util/linux_install.sh
Labels: bug

#7060 Inital commit of KL1RL keyboard layout
  keyboards/redox/keymaps/KL1RL/config.h
  keyboards/redox/keymaps/KL1RL/keymap.c
  keyboards/redox/keymaps/KL1RL/readme.md
  keyboards/redox/keymaps/KL1RL/rules.mk
Labels: keymap

#7061 Mekberg kbd6x keymap
  keyboards/kbdfans/kbd6x/keymaps/mekberg/config.h
  keyboards/kbdfans/kbd6x/keymaps/mekberg/keymap.c
  keyboards/kbdfans/kbd6x/keymaps/mekberg/readme.md
  keyboards/kbdfans/kbd6x/keymaps/mekberg/rules.mk
Labels: keymap

#6947 Remove build option firmware size impacts
  docs/config_options.md
  docs/feature_hd44780.md
  docs/feature_terminal.md
  docs/getting_started_make_guide.md
  quantum/template/avr/rules.mk
  util/rules_cleaner.sh
Labels: awaiting review, keyboard

#7035 update encoder function, info.json data
  keyboards/handwired/hnah108/hnah108.h
  keyboards/handwired/hnah108/info.json
  keyboards/handwired/hnah108/keymaps/default/keymap.c
  keyboards/handwired/hnah108/rules.mk
Labels: keyboard

#7078 Add pok3r-like keymap for dz60.
  keyboards/dz60/keymaps/pok3r/keymap.c
Labels: keymap

#7076 Fix detection of ModemManager on Linux
  lib/python/qmk/cli/doctor.py
Labels: cli, python

#7046 [keymap] ergodash keymap for yet-another-developer
  keyboards/ergodash/rev1/keymaps/yet-another-developer/config.h
  keyboards/ergodash/rev1/keymaps/yet-another-developer/keymap.c
  keyboards/ergodash/rev1/keymaps/yet-another-developer/rules.mk
  layouts/community/ortho_5x14/yet-another-developer/config.h
  layouts/community/ortho_5x14/yet-another-developer/keymap.c
  layouts/community/ortho_5x14/yet-another-developer/rules.mk
  users/yet-another-developer/.gitignore
  users/yet-another-developer/README.md
  users/yet-another-developer/combo.c
  users/yet-another-developer/combo.h
  users/yet-another-developer/config.h
  users/yet-another-developer/leader.c
  users/yet-another-developer/leader.h
  users/yet-another-developer/process_records.c
  users/yet-another-developer/process_records.h
  users/yet-another-developer/rules.mk
  users/yet-another-developer/tap_dances.c
  users/yet-another-developer/tap_dances.h
  users/yet-another-developer/unicode.c
  users/yet-another-developer/unicode.h
  users/yet-another-developer/wrappers.h
  users/yet-another-developer/yet-another-developer.c
  users/yet-another-developer/yet-another-developer.h
Labels: keymap

#7056 add eosti keymap
  keyboards/keebio/iris/keymaps/eosti/config.h
  keyboards/keebio/iris/keymaps/eosti/keymap.c
  keyboards/keebio/iris/keymaps/eosti/readme.md
  keyboards/keebio/iris/keymaps/eosti/rules.mk
Labels: keymap

#7067 [keymap] Romain's Preonic layout
  keyboards/preonic/keymaps/cranium/config.h
  keyboards/preonic/keymaps/cranium/keymap.c
  keyboards/preonic/keymaps/cranium/readme.md
  keyboards/preonic/keymaps/cranium/rules.mk
Labels: keymap

#7082 Assorted personal keymap and layout updates
  keyboards/kbdfans/kbd67/hotswap/keymaps/bcat/keymap.c
  keyboards/kbdfans/kbd67/hotswap/keymaps/bcat/readme.md
  keyboards/keebio/quefrency/keymaps/bcat/keymap.c
  keyboards/keebio/quefrency/keymaps/bcat/readme.md
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
  layouts/community/60_ansi_split_bs_rshift/bcat/keymap.c
  layouts/community/60_ansi_split_bs_rshift/bcat/readme.md
  layouts/community/60_tsangan_hhkb/bcat/keymap.c
  layouts/community/60_tsangan_hhkb/bcat/readme.md
  users/bcat/config.h
Labels: keymap

#7085 [Keyboard] Keyboard Naked48 Update
  keyboards/naked48/config.h
  keyboards/naked48/keymaps/default/config.h
  keyboards/naked48/keymaps/default/keymap.c
  keyboards/naked48/keymaps/default/readme.md
  keyboards/naked48/keymaps/default/rules.mk
  keyboards/naked48/keymaps/default_with_nafuda/config.h
  keyboards/naked48/keymaps/default_with_nafuda/keymap.c
  keyboards/naked48/keymaps/default_with_nafuda/readme.md
  keyboards/naked48/keymaps/default_with_nafuda/rules.mk
  keyboards/naked48/keymaps/default_with_setta21/config.h
  keyboards/naked48/keymaps/default_with_setta21/keymap.c
  keyboards/naked48/keymaps/default_with_setta21/readme.md
  keyboards/naked48/keymaps/default_with_setta21/rules.mk
  keyboards/naked48/keymaps/salicylic/config.h
  keyboards/naked48/keymaps/salicylic/keymap.c
  keyboards/naked48/keymaps/salicylic/rules.mk
  keyboards/naked48/keymaps/salicylic_with_nafuda/config.h
  keyboards/naked48/keymaps/salicylic_with_nafuda/keymap.c
  keyboards/naked48/keymaps/salicylic_with_nafuda/readme.md
  keyboards/naked48/keymaps/salicylic_with_nafuda/rules.mk
  keyboards/naked48/keymaps/salicylic_with_setta21/config.h
  keyboards/naked48/keymaps/salicylic_with_setta21/keymap.c
  keyboards/naked48/keymaps/salicylic_with_setta21/rules.mk
  keyboards/naked48/naked48.c
  keyboards/naked48/naked48.h
  keyboards/naked48/readme.md
  keyboards/naked48/rev1/config.h
  keyboards/naked48/rev1/matrix.c
  keyboards/naked48/rev1/rev1.c
  keyboards/naked48/rev1/rev1.h
  keyboards/naked48/rev1/rules.mk
  keyboards/naked48/rev1/serial_config.h
  keyboards/naked48/rev1/serial_config_simpleapi.h
  keyboards/naked48/rev1/split_scomm.c
  keyboards/naked48/rev1/split_scomm.h
  keyboards/naked48/rev1/split_util.c
  keyboards/naked48/rev1/split_util.h
  keyboards/naked48/rules.mk
  keyboards/naked48/serial.c
  keyboards/naked48/serial.h
Labels: keyboard

#7092 [keymap] updates to madhatter keymap - project keyboard alice pcb
  keyboards/projectkb/alice/keymaps/madhatter/keymap.c
  keyboards/projectkb/alice/keymaps/madhatter/readme.md
Labels: keymap

#7015 New keymap for the dztech/dz65rgb
  keyboards/dztech/dz65rgb/keymaps/catrielmuller/config.h
  keyboards/dztech/dz65rgb/keymaps/catrielmuller/keymap.c
  keyboards/dztech/dz65rgb/keymaps/catrielmuller/rules.mk
Labels: keymap

#7098 Use GPIO macros for E6 LED in Planck and Preonic default keymaps
  keyboards/planck/keymaps/default/keymap.c
  keyboards/planck/planck.c
  keyboards/preonic/keymaps/default/keymap.c
  keyboards/preonic/rev1/rev1.c
  keyboards/preonic/rev2/rev2.c
Labels: enhancement, keyboard, keymap

#7108 Naked60 Configurator bugfix
  keyboards/naked60/info.json
Labels: bug, enhancement

#7099 Change V60 Polestar RGB timer to 3
  keyboards/v60_type_r/v60_type_r.c
Labels: bug, keyboard

#7095 Personal layout for the Wonderland
  keyboards/maartenwut/wonderland/keymaps/rys/keymap.c
Labels: keymap

#7088 40percentclub 4 pack macropad keyboard
  keyboards/40percentclub/4pack/4pack.c
  keyboards/40percentclub/4pack/4pack.h
  keyboards/40percentclub/4pack/config.h
  keyboards/40percentclub/4pack/info.json
  keyboards/40percentclub/4pack/keymaps/default/config.h
  keyboards/40percentclub/4pack/keymaps/default/keymap.c
  keyboards/40percentclub/4pack/keymaps/default/readme.md
  keyboards/40percentclub/4pack/readme.md
  keyboards/40percentclub/4pack/rules.mk
Labels: keyboard

#7110 Add a short explanation to Zadig the troubleshooting section
  docs/driver_installation_zadig.md
Labels: documentation

#7051 [keymap] Ergodox EZ and dactyl-manuform keymaps for rishka
  keyboards/ergodox_ez/keymaps/rishka/config.h
  keyboards/ergodox_ez/keymaps/rishka/keymap.c
  keyboards/ergodox_ez/keymaps/rishka/rules.mk
  keyboards/handwired/dactyl_manuform/5x6/keymaps/rishka/config.h
  keyboards/handwired/dactyl_manuform/5x6/keymaps/rishka/keymap.c
  keyboards/handwired/dactyl_manuform/5x6/keymaps/rishka/rules.mk
  keyboards/keebio/bdn9/keymaps/rishka/config.h
  keyboards/keebio/bdn9/keymaps/rishka/keymap.c
  keyboards/keebio/bdn9/keymaps/rishka/rules.mk
  users/rishka/rishka.c
  users/rishka/rishka.h
  users/rishka/rules.mk
Labels: keymap

#7063 [keymap] add halvves let's split keymap
  keyboards/lets_split/keymaps/halvves/config.h
  keyboards/lets_split/keymaps/halvves/keymap.c
  keyboards/lets_split/keymaps/halvves/rules.mk
Labels: keymap

#7084 Added layout, configured bluetooth
  keyboards/handwired/hacked_motospeed/config.h
  keyboards/handwired/hacked_motospeed/keymaps/german/keymap.c
  keyboards/handwired/hacked_motospeed/keymaps/german/layers.json
  keyboards/handwired/hacked_motospeed/keymaps/german/readme.md
  keyboards/handwired/hacked_motospeed/rules.mk
Labels: keyboard, keymap

#7050 Remove apostrophe from various abbreviations' plural forms
  docs/hardware_avr.md
  docs/hardware_drivers.md
  docs/reference_glossary.md
  docs/understanding_qmk.md
Labels: documentation

#7105 add bdn9/eosti keymap
  keyboards/keebio/bdn9/keymaps/eosti/config.h
  keyboards/keebio/bdn9/keymaps/eosti/keymap.c
  keyboards/keebio/bdn9/keymaps/eosti/readme.md
  keyboards/keebio/bdn9/keymaps/eosti/rules.mk
Labels: keymap

#7100 update VID and PID for h87a
  keyboards/hineybush/h87a/config.h
Labels: keyboard

#7113 Add ISO layout macro for KBD67 rev2
  keyboards/kbdfans/kbd67/rev2/info.json
  keyboards/kbdfans/kbd67/rev2/rev2.h
  keyboards/kbdfans/kbd67/rev2/rules.mk
Labels: keyboard

#7093 Add userspace and personal keymaps
  keyboards/foxlab/leaf60/universal/keymaps/mguterl/config.h
  keyboards/foxlab/leaf60/universal/keymaps/mguterl/keymap.c
  keyboards/foxlab/leaf60/universal/keymaps/mguterl/readme.md
  keyboards/preonic/keymaps/mguterl/config.h
  keyboards/preonic/keymaps/mguterl/keymap.c
  keyboards/preonic/keymaps/mguterl/readme.md
  keyboards/preonic/keymaps/mguterl/rules.mk
  keyboards/wilba_tech/rama_works_m60_a/keymaps/mguterl/keymap.c
  keyboards/wilba_tech/rama_works_m60_a/keymaps/mguterl/readme.md
  keyboards/wilba_tech/rama_works_m60_a/keymaps/mguterl/rules.mk
  layouts/community/ortho_4x12/mguterl/config.h
  layouts/community/ortho_4x12/mguterl/keymap.c
  layouts/community/ortho_4x12/mguterl/readme.md
  layouts/community/ortho_4x12/mguterl/rules.mk
  users/mguterl/config.h
  users/mguterl/mguterl.c
  users/mguterl/mguterl.h
  users/mguterl/readme.md
  users/mguterl/rules.mk
Labels: keymap

#7106 [Keyboard] Keyboard Naked60 Update
  keyboards/naked60/config.h
  keyboards/naked60/keymaps/default/config.h
  keyboards/naked60/keymaps/default/keymap.c
  keyboards/naked60/keymaps/default/readme.md
  keyboards/naked60/keymaps/default_with_nafuda/config.h
  keyboards/naked60/keymaps/default_with_nafuda/keymap.c
  keyboards/naked60/keymaps/default_with_nafuda/readme.md
  keyboards/naked60/keymaps/default_with_nafuda/rules.mk
  keyboards/naked60/keymaps/default_with_setta21/config.h
  keyboards/naked60/keymaps/default_with_setta21/keymap.c
  keyboards/naked60/keymaps/default_with_setta21/rules.mk
  keyboards/naked60/keymaps/salicylic/config.h
  keyboards/naked60/keymaps/salicylic/keymap.c
  keyboards/naked60/keymaps/salicylic/readme.md
  keyboards/naked60/keymaps/salicylic_with_nafuda/config.h
  keyboards/naked60/keymaps/salicylic_with_nafuda/keymap.c
  keyboards/naked60/keymaps/salicylic_with_nafuda/readme.md
  keyboards/naked60/keymaps/salicylic_with_nafuda/rules.mk
  keyboards/naked60/keymaps/salicylic_with_setta21/config.h
  keyboards/naked60/keymaps/salicylic_with_setta21/keymap.c
  keyboards/naked60/keymaps/salicylic_with_setta21/readme.md
  keyboards/naked60/keymaps/salicylic_with_setta21/rules.mk
  keyboards/naked60/naked60.h
  keyboards/naked60/rev1/config.h
  keyboards/naked60/rev1/matrix.c
  keyboards/naked60/rev1/rev1.c
  keyboards/naked60/rev1/rev1.h
  keyboards/naked60/rev1/rules.mk
  keyboards/naked60/rev1/serial_config.h
  keyboards/naked60/rev1/serial_config_simpleapi.h
  keyboards/naked60/rev1/split_scomm.c
  keyboards/naked60/rev1/split_scomm.h
  keyboards/naked60/rev1/split_util.c
  keyboards/naked60/rev1/split_util.h
  keyboards/naked60/rules.mk
  keyboards/naked60/serial.c
  keyboards/naked60/serial.h
Labels: keyboard

#6570 Fix held key getting stuck when NKRO is toggled
  quantum/quantum.c
Labels: bug, core, hacktoberfest

#7107 [Keymap] Updating Nordic ergo keymap
  keyboards/ergodox_infinity/keymaps/nordic_ergo/keymap.c
Labels: keymap

#7126 1up60rgb: fix LAYOUT_60_iso json tree
  keyboards/1upkeyboards/1up60rgb/info.json
Labels: bug, keyboard

#7127 Support for the Clueboard California macropad
  keyboards/clueboard/california/california.c
  keyboards/clueboard/california/california.h
  keyboards/clueboard/california/config.h
  keyboards/clueboard/california/info.json
  keyboards/clueboard/california/keymaps/default/keymap.json
  keyboards/clueboard/california/readme.md
  keyboards/clueboard/california/rules.mk
Labels: keyboard

#7122 Blackplum a.k.a IMKG68 - new 68% mechanical keyboard
  keyboards/blackplum/blackplum.c
  keyboards/blackplum/blackplum.h
  keyboards/blackplum/config.h
  keyboards/blackplum/info.json
  keyboards/blackplum/keymaps/default/keymap.c
  keyboards/blackplum/readme.md
  keyboards/blackplum/rules.mk
Labels: keyboard

#7083 add new keyboard hnah40rgb
  keyboards/handwired/hnah40rgb/config.h
  keyboards/handwired/hnah40rgb/hnah40rgb.c
  keyboards/handwired/hnah40rgb/hnah40rgb.h
  keyboards/handwired/hnah40rgb/info.json
  keyboards/handwired/hnah40rgb/keymaps/ansi/config.h
  keyboards/handwired/hnah40rgb/keymaps/ansi/keymap.c
  keyboards/handwired/hnah40rgb/keymaps/ansi/readme.md
  keyboards/handwired/hnah40rgb/keymaps/default/config.h
  keyboards/handwired/hnah40rgb/keymaps/default/keymap.c
  keyboards/handwired/hnah40rgb/keymaps/default/readme.md
  keyboards/handwired/hnah40rgb/readme.md
  keyboards/handwired/hnah40rgb/rules.mk
Labels: keyboard

#7125 Support for the upcoming 1UP Keyboards Sweet 16 rev2
  keyboards/1upkeyboards/sweet16/config.h
  keyboards/1upkeyboards/sweet16/info.json
  keyboards/1upkeyboards/sweet16/keymaps/default/keymap.c
  keyboards/1upkeyboards/sweet16/readme.md
  keyboards/1upkeyboards/sweet16/rules.mk
  keyboards/1upkeyboards/sweet16/v1/config.h
  keyboards/1upkeyboards/sweet16/v1/readme.md
  keyboards/1upkeyboards/sweet16/v1/rules.mk
  keyboards/1upkeyboards/sweet16/v1/v1.c
  keyboards/1upkeyboards/sweet16/v1/v1.h
  keyboards/1upkeyboards/sweet16/v2/promicro/config.h
  keyboards/1upkeyboards/sweet16/v2/promicro/promicro.c
  keyboards/1upkeyboards/sweet16/v2/promicro/promicro.h
  keyboards/1upkeyboards/sweet16/v2/promicro/readme.md
  keyboards/1upkeyboards/sweet16/v2/promicro/rules.mk
  keyboards/1upkeyboards/sweet16/v2/proton_c/config.h
  keyboards/1upkeyboards/sweet16/v2/proton_c/proton_c.c
  keyboards/1upkeyboards/sweet16/v2/proton_c/proton_c.h
  keyboards/1upkeyboards/sweet16/v2/proton_c/readme.md
  keyboards/1upkeyboards/sweet16/v2/proton_c/rules.mk
Labels: keyboard

#7123 [Keyboard] Add GTM Pad macropad
  keyboards/sck/gtm/config.h
  keyboards/sck/gtm/gtm.c
  keyboards/sck/gtm/gtm.h
  keyboards/sck/gtm/keymaps/default/keymap.c
  keyboards/sck/gtm/keymaps/tabs/keymap.c
  keyboards/sck/gtm/keymaps/vol/keymap.c
  keyboards/sck/gtm/readme.md
  keyboards/sck/gtm/rules.mk
Labels: keyboard

#7025 MILC: Use dashes instead of underscores for subcommands
  docs/cli.md
  lib/python/milc.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

#7136 Fix Tap Dance name for consistency and to match docs
  quantum/process_keycode/process_tap_dance.h
Labels: bug, core
