Repository qmk/qmk_firmware, pull requests merged in 2019-12, with the labels that each got.

#7516 [Keyboard] Update Lets Split Sockets to use LTO_ENABLE
  keyboards/lets_split/sockets/config.h
  keyboards/lets_split/sockets/rules.mk
Labels: keyboard

#7447 Added jhelvy keymaps for keebio/iris and lily58
  keyboards/keebio/iris/keymaps/jhelvy/README.md
  keyboards/keebio/iris/keymaps/jhelvy/config.h
  keyboards/keebio/iris/keymaps/jhelvy/keymap.c
  keyboards/keebio/iris/keymaps/jhelvy/rules.mk
  keyboards/lily58/keymaps/jhelvy/README.md
  keyboards/lily58/keymaps/jhelvy/config.h
  keyboards/lily58/keymaps/jhelvy/keymap.c
  keyboards/lily58/keymaps/jhelvy/rules.mk
Labels: keymap

#7459 Add pep8-naming to our python linting
  bin/qmk
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/tests/test_qmk_errors.py
  requirements.txt
Labels: cli, python

#7520 Fix install for Linux Ubuntu
  util/linux_install.sh
Labels: bug

#7473 140% keyboard fluorite keymaps
  keyboards/fluorite/config.h
  keyboards/fluorite/fluorite.c
  keyboards/fluorite/fluorite.h
  keyboards/fluorite/keymaps/default/config.h
  keyboards/fluorite/keymaps/default/keymap.c
  keyboards/fluorite/keymaps/default/readme.md
  keyboards/fluorite/readme.md
  keyboards/fluorite/rules.mk
Labels: keyboard

#7529 Remove eeprom_f4 due to conflicting license
  keyboards/matrix/noah/eeprom_f4.c
  keyboards/matrix/noah/eeprom_f4.h
  keyboards/matrix/noah/rules.mk
Labels: bug, keyboard

#7525 Remove check for EH define
  keyboards/ai03/orbit/split_util.c
  keyboards/ai03/orbit/transport.c
  quantum/split_common/post_config.h
  quantum/split_common/split_util.c
  quantum/split_common/transport.c
Labels: core, optimization

#7531 Ruby influenced Redox keymap
  keyboards/redox/keymaps/eightbitraptor/config.h
  keyboards/redox/keymaps/eightbitraptor/keymap.c
  keyboards/redox/keymaps/eightbitraptor/rules.mk
Labels: keymap

#7478 Added the handwired/floorboard board
  keyboards/handwired/floorboard/config.h
  keyboards/handwired/floorboard/floorboard.c
  keyboards/handwired/floorboard/floorboard.h
  keyboards/handwired/floorboard/info.json
  keyboards/handwired/floorboard/keymaps/default/keymap.c
  keyboards/handwired/floorboard/keymaps/default/readme.md
  keyboards/handwired/floorboard/readme.md
  keyboards/handwired/floorboard/rules.mk
Labels: keyboard

#7231 Restructure of Git Best Practices doc
  docs/_summary.md
  docs/newbs_best_practices.md
  docs/newbs_git_best_practices.md
  docs/newbs_git_resolving_merge_conflicts.md
  docs/newbs_git_resynchronize_a_branch.md
  docs/newbs_git_using_your_master_branch.md
Labels: documentation

#7534 [Keymap] add halvves kumo (minivan) keymap
  keyboards/thevankeyboards/minivan/keymaps/halvves/config.h
  keyboards/thevankeyboards/minivan/keymaps/halvves/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/halvves/readme.md
  keyboards/thevankeyboards/minivan/keymaps/halvves/rules.mk
Labels: keymap

#7465 Helix default keymap update
  keyboards/helix/pico/keymaps/default/keymap.c
  keyboards/helix/rev2/keymaps/default/keymap.c
Labels: keyboard, keymap

#7527 Add J-01 ISO Support
  keyboards/jae/j01/info.json
  keyboards/jae/j01/j01.h
Labels: keyboard

#7517 Increase matrix scanning speed on xd84
  drivers/gpio/pca9555.c
  drivers/gpio/pca9555.h
  keyboards/xd84/matrix.c
Labels: keyboard, optimization

#7512 Relocate magic keycode processing
  common_features.mk
  quantum/process_keycode/process_magic.c
  quantum/process_keycode/process_magic.h
  quantum/quantum.c
  quantum/quantum.h
Labels: core, optimization

#7543 [preonic/kjwon15] Support led key
  keyboards/preonic/keymaps/kjwon15/keymap.c
Labels: keymap

#7541 Add short aliases for Magic keycodes
  docs/feature_bootmagic.md
  docs/keycodes.md
  keyboards/dztech/dz60rgb/keymaps/default/keymap.c
  keyboards/dztech/dz60rgb_ansi/keymaps/default/keymap.c
  keyboards/dztech/dz60rgb_wkl/keymaps/default/keymap.c
  keyboards/dztech/dz65rgb/keymaps/default/keymap.c
  keyboards/handwired/magicforce61/keymaps/default/keymap.c
  keyboards/massdrop/alt/keymaps/default/keymap.c
  keyboards/massdrop/alt/keymaps/default_md/keymap.c
  keyboards/massdrop/alt/keymaps/mac/keymap.c
  keyboards/massdrop/alt/keymaps/mac_md/keymap.c
  keyboards/massdrop/ctrl/keymaps/default/keymap.c
  keyboards/massdrop/ctrl/keymaps/default_md/keymap.c
  keyboards/massdrop/ctrl/keymaps/mac/keymap.c
  keyboards/massdrop/ctrl/keymaps/mac_md/keymap.c
  keyboards/rgbkb/zen/rev1/keymaps/default/keymap.c
  keyboards/vision_division/keymaps/default/keymap.c
  keyboards/xbows/woody/keymaps/default/keymap.c
  quantum/quantum_keycodes.h
Labels: core, documentation, enhancement

#7491 Added Massdrop ctrl keymap
  keyboards/massdrop/ctrl/keymaps/endgame/README.md
  keyboards/massdrop/ctrl/keymaps/endgame/config.h
  keyboards/massdrop/ctrl/keymaps/endgame/config_led.c
  keyboards/massdrop/ctrl/keymaps/endgame/keymap.c
  keyboards/massdrop/ctrl/keymaps/endgame/rules.mk
Labels: keymap

#7519 Dactyl Manuform computer scientist's layout with split RGB enabled
  keyboards/handwired/dactyl_manuform/5x6/keymaps/squirrel/config.h
  keyboards/handwired/dactyl_manuform/5x6/keymaps/squirrel/keymap.c
  keyboards/handwired/dactyl_manuform/5x6/keymaps/squirrel/rules.mk
Labels: keymap

#7549 Jotix
  layouts/community/ortho_4x12/jotix/keymap.c
Labels: keymap

#7550 Fix breathing toggle when rgb is disabled
  quantum/quantum.c
Labels: bug, core

#7538 Update getting_started_make_guide.md
  docs/getting_started_make_guide.md
Labels: documentation

#7547 Add keyboard - MYSTERIUM
  keyboards/coseyfannitutti/mysterium/config.h
  keyboards/coseyfannitutti/mysterium/info.json
  keyboards/coseyfannitutti/mysterium/keymaps/default/keymap.c
  keyboards/coseyfannitutti/mysterium/keymaps/tsangan/keymap.c
  keyboards/coseyfannitutti/mysterium/mysterium.c
  keyboards/coseyfannitutti/mysterium/mysterium.h
  keyboards/coseyfannitutti/mysterium/readme.md
  keyboards/coseyfannitutti/mysterium/rules.mk
  keyboards/coseyfannitutti/mysterium/usbconfig.h
Labels: keyboard

#7553 Fix missing item in Ergodicity macro
  keyboards/keebio/ergodicity/ergodicity.h
Labels: bug, keyboard

#7226 Create RU ver of becoming_a_qmk_collaborator
  docs/ru-ru/becoming_a_qmk_collaborator.md
Labels: documentation, translation

#7224 Creating RU version of getting_started_introduction
  docs/ru-ru/getting_started_introduction.md
Labels: awaiting review, documentation, translation

#7385 Port SPLIT_USB_DETECT to helix/rev2
  keyboards/helix/rev2/matrix.c
  keyboards/helix/rev2/split_util.c
Labels: keyboard

#7559 Minor grammar and filename fixes in docs
  docs/coding_conventions_c.md
  docs/coding_conventions_python.md
  docs/feature_haptic_feedback.md
  docs/feature_rgb_matrix.md
Labels: documentation

#7191 Improve support and docs for ADC driver
  docs/_summary.md
  docs/adc_driver.md
  drivers/avr/analog.c
  drivers/avr/analog.h
Labels: core, documentation, enhancement

#7434 Set proper ASCII character for KC_NUHS in iWRAP code
  tmk_core/protocol/iwrap/main.c
Labels: bug

#7554 fix instructions for oneshot layer handling on key release
  docs/feature_advanced_keycodes.md
Labels: documentation

#7535 [keymap] Display logo for caps lock indication on crkbd using old OLED driver
  keyboards/crkbd/keymaps/manna-harbour_miryoku/config.h
  keyboards/crkbd/keymaps/manna-harbour_miryoku/keymap.c
  keyboards/crkbd/keymaps/manna-harbour_miryoku/rules.mk
  layouts/community/ergodox/manna-harbour_miryoku/keymap.c
  layouts/community/ortho_4x12/manna-harbour_miryoku/keymap.c
  users/manna-harbour_miryoku/config.h
  users/manna-harbour_miryoku/manna-harbour_miryoku.c
  users/manna-harbour_miryoku/miryoku.org
  users/manna-harbour_miryoku/rules.mk
Labels: keymap

#7536 [Keyboard] Add new keyboard ColorLice
  keyboards/handwired/colorlice/colorlice.c
  keyboards/handwired/colorlice/colorlice.h
  keyboards/handwired/colorlice/config.h
  keyboards/handwired/colorlice/info.json
  keyboards/handwired/colorlice/keymaps/default/config.h
  keyboards/handwired/colorlice/keymaps/default/keymap.c
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/config.h
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/keymap.c
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/rules.mk
  keyboards/handwired/colorlice/readme.md
  keyboards/handwired/colorlice/rules.mk
Labels: keyboard

#7552 Set proper AVR part for USBasp avrdude flashing
  keyboards/coseyfannitutti/discipad/rules.mk
  keyboards/coseyfannitutti/discipline/readme.md
  keyboards/coseyfannitutti/discipline/rules.mk
  keyboards/coseyfannitutti/mysterium/rules.mk
  keyboards/gingham/readme.md
  keyboards/gingham/rules.mk
  keyboards/handwired/hnah40/readme.md
  keyboards/handwired/hnah40/rules.mk
  keyboards/plaid/readme.md
  keyboards/plaid/rules.mk
  quantum/mcu_selection.mk
  tmk_core/avr.mk
Labels: bug, core

#7555 Added my customized 40% layout
  keyboards/contra/keymaps/alper/config.h
  keyboards/contra/keymaps/alper/keymap.c
  keyboards/contra/keymaps/alper/readme.md
  keyboards/contra/readme.md
Labels: keymap

#7557 EP96: fix info.json key sequence
  keyboards/ep/96/info.json
Labels: bug, keyboard

#7558 Added workaround for serial.c issue when LTO_ENABLE=yes for the Helix.
  keyboards/helix/pico/rules.mk
  keyboards/helix/rev2/rules.mk
Labels: keyboard

#7560 EP TF_Longeboye: fix info.json key sequence
  keyboards/ep/comsn/tf_longeboye/info.json
Labels: bug, keyboard

#7505 Updated slave encoder sync to reduce dropped pulses - v2
  quantum/encoder.c
Labels: bug, core

#7566 instant60: Enable bootmagic lite to make eeprom reset easier
  keyboards/cannonkeys/instant60/rules.mk
Labels: bug, enhancement, keyboard

#7569 Automatically rebuild C keymap when JSON keymap is changed
  build_json.mk
Labels: bug, core

#7567 add Matrix 8XV1.2 og ISO/ANSI keyboard
  keyboards/matrix/m12og/config.h
  keyboards/matrix/m12og/info.json
  keyboards/matrix/m12og/keymaps/default/keymap.c
  keyboards/matrix/m12og/keymaps/iso/keymap.c
  keyboards/matrix/m12og/m12og.c
  keyboards/matrix/m12og/m12og.h
  keyboards/matrix/m12og/readme.md
  keyboards/matrix/m12og/rules.mk
Labels: keyboard

#7571 Enable bitbang ws2812 for f4
  drivers/arm/ws2812.c
Labels: core, enhancement

#7556 Adding Navi10 macropad
  keyboards/navi10/info.json
  keyboards/navi10/keymaps/default/keymap.c
  keyboards/navi10/keymaps/default/readme.md
  keyboards/navi10/keymaps/default/rules.mk
  keyboards/navi10/keymaps/emdarcher/keymap.c
  keyboards/navi10/keymaps/emdarcher/readme.md
  keyboards/navi10/keymaps/emdarcher/rules.mk
  keyboards/navi10/readme.md
  keyboards/navi10/rev0/config.h
  keyboards/navi10/rev0/rev0.c
  keyboards/navi10/rev0/rev0.h
  keyboards/navi10/rev0/rules.mk
  keyboards/navi10/rev2/config.h
  keyboards/navi10/rev2/rev2.c
  keyboards/navi10/rev2/rev2.h
  keyboards/navi10/rev2/rules.mk
  keyboards/navi10/rev3/config.h
  keyboards/navi10/rev3/rev3.c
  keyboards/navi10/rev3/rev3.h
  keyboards/navi10/rev3/rules.mk
  keyboards/navi10/rules.mk
Labels: keyboard

#7572 [Keyboard] Adjust ColorLice to work with QMK configurator
  keyboards/handwired/colorlice/colorlice.h
  keyboards/handwired/colorlice/config.h
  keyboards/handwired/colorlice/keymaps/default/config.h
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/config.h
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/keymap.c
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/rules.mk
  keyboards/handwired/colorlice/rules.mk
Labels: keyboard, keymap

#7588 [keymap] ergotravel updates
  keyboards/ergotravel/keymaps/yanfali/config.h
  keyboards/ergotravel/keymaps/yanfali/rules.mk
Labels: keymap

#7589 update default h87a keymap for fn functionality
  keyboards/hineybush/h87a/keymaps/default/keymap.c
Labels: enhancement, keyboard

#7592 Remove `PREVENT_STUCK_MODIFIERS` from config.h files
  keyboards/30wer/config.h
  keyboards/ergodox_ez/keymaps/rgb_layer/config.h
  keyboards/handwired/hexon38/config.h
  keyboards/handwired/pteron/config.h
  keyboards/treadstone48/keymaps/default/config.h
  keyboards/treadstone48/rev1/config.h
  keyboards/zinc/rev1/config.h
  keyboards/zinc/reva/config.h
Labels: keyboard

#7593 Fix 2U backspace key in ansi_blocker layout for GrayStudio Space65 keyboard
  keyboards/gray_studio/space65/keymaps/default/keymap.c
  keyboards/gray_studio/space65/space65.h
Labels: bug, keyboard

#7570 Add cKeys Washington keyboard
  keyboards/ckeys/readme.md
  keyboards/ckeys/washington/config.h
  keyboards/ckeys/washington/info.json
  keyboards/ckeys/washington/keymaps/default/keymap.c
  keyboards/ckeys/washington/keymaps/default/readme.md
  keyboards/ckeys/washington/readme.md
  keyboards/ckeys/washington/rules.mk
  keyboards/ckeys/washington/washington.c
  keyboards/ckeys/washington/washington.h
Labels: keyboard

#7581 update keymap to readable version
  keyboards/matrix/m12og/keymaps/default/keymap.c
  keyboards/matrix/m12og/keymaps/iso/keymap.c
  keyboards/matrix/m12og/m12og.h
Labels: enhancement, keyboard

#7594 Think6.5 Default Keymap Cleanup
  keyboards/gray_studio/think65/hotswap/keymaps/default/keymap.c
  keyboards/gray_studio/think65/solder/keymaps/default/keymap.c
Labels: keyboard

#7016 add README translation in portuguese
  docs/_langs.md
  docs/index.html
  docs/pt-br/README.md
  docs/pt-br/_summary.md
Labels: documentation, translation

#7602 Fix docs fallback for pt-br
  docs/index.html
Labels: bug, documentation

#7596 Update feature support for Proton C
  docs/proton_c_conversion.md
Labels: documentation

#7540 Use `clock_prescale_set()` from avr-libc
  docs/faq_build.md
  docs/fr-fr/faq_build.md
  docs/zh-cn/faq_build.md
  tmk_core/protocol/lufa/lufa.c
Labels: core, optimization

#7607 Remove some outdated FAQ items
  docs/faq_build.md
  docs/faq_debug.md
  docs/faq_keymap.md
  docs/fr-fr/faq_build.md
  docs/fr-fr/faq_debug.md
  docs/fr-fr/faq_keymap.md
  docs/zh-cn/faq_build.md
  docs/zh-cn/faq_debug.md
  docs/zh-cn/faq_keymap.md
Labels: documentation

#7605 Remove mbed files
  docs/faq_build.md
  docs/fr-fr/faq_build.md
  docs/zh-cn/faq_build.md
  doxygen-todo
  tmk_core/common/mbed/bootloader.c
  tmk_core/common/mbed/suspend.c
  tmk_core/common/mbed/timer.c
  tmk_core/common/mbed/xprintf.cpp
  tmk_core/common/mbed/xprintf.h
  tmk_core/common/print.h
  tmk_core/common/wait.h
  tmk_core/protocol/mbed/HIDKeyboard.cpp
  tmk_core/protocol/mbed/HIDKeyboard.h
  tmk_core/protocol/mbed/mbed_driver.cpp
  tmk_core/protocol/mbed/mbed_driver.h
  tmk_core/protocol/ps2_io_mbed.c
Labels: core

#7601 Fix FORCE_NKRO handling
  quantum/process_keycode/process_magic.c
  tmk_core/common/keyboard.c
Labels: bug, core

#7604 [Phoebe] Update default keymap, fix LAYOUT macro
  keyboards/maxr1998/phoebe/keymaps/default/keymap.c
  keyboards/maxr1998/phoebe/phoebe.h
Labels: bug, keyboard

#7537 My DZ60 Layout and files
  keyboards/dz60/keymaps/_bonfire/README.md
  keyboards/dz60/keymaps/_bonfire/dz60-v6-1-0.json
  keyboards/dz60/keymaps/_bonfire/keymap-parts/defs.c
  keyboards/dz60/keymaps/_bonfire/keymap-parts/functions.c
  keyboards/dz60/keymaps/_bonfire/keymap-parts/layers.c
  keyboards/dz60/keymaps/_bonfire/keymap.c
  keyboards/dz60/keymaps/_bonfire/not-in-use/super-alt-tab.c
  keyboards/dz60/keymaps/_bonfire/rules.mk
  keyboards/dz60/keymaps/_bonfire/scratchpad.txt
Labels: keymap

#7600 [Keyboard] Added Lex60 keyboard
  keyboards/gami_studio/lex60/config.h
  keyboards/gami_studio/lex60/keymaps/default/keymap.c
  keyboards/gami_studio/lex60/lex60.c
  keyboards/gami_studio/lex60/lex60.h
  keyboards/gami_studio/lex60/readme.md
  keyboards/gami_studio/lex60/rules.mk
Labels: keyboard

#7526 fixed I2C driver support for stm32f4
  drivers/arm/i2c_master.c
  drivers/arm/i2c_master.h
Labels: bug, enhancement

#7612 Fluorite: add Configurator layout data
  keyboards/fluorite/info.json
Labels: enhancement, keyboard

#7598 [Keyboard] Add Exclusive E7-V1 SE keyboard and keymaps
  keyboards/exclusive/e7v1se/config.h
  keyboards/exclusive/e7v1se/e7v1se.c
  keyboards/exclusive/e7v1se/e7v1se.h
  keyboards/exclusive/e7v1se/info.json
  keyboards/exclusive/e7v1se/keymaps/default/keymap.c
  keyboards/exclusive/e7v1se/keymaps/default/readme.md
  keyboards/exclusive/e7v1se/keymaps/mac/keymap.c
  keyboards/exclusive/e7v1se/keymaps/mac/readme.md
  keyboards/exclusive/e7v1se/readme.md
  keyboards/exclusive/e7v1se/rules.mk
Labels: keyboard

#7615 FIX angel64/rev1 info.json
  keyboards/angel64/rev1/info.json
Labels: bug, keyboard

#7616 [Keyboard/Phoebe] Send backslash on AltGr + ?
  keyboards/maxr1998/phoebe/keymaps/default/keymap.c
Labels: keyboard

#7618 add kbd67mkiirgb v2 keyboard
  keyboards/kbdfans/kbd67/mkiirgb/v1/config.h
  keyboards/kbdfans/kbd67/mkiirgb/v1/rules.mk
  keyboards/kbdfans/kbd67/mkiirgb/v2/config.h
  keyboards/kbdfans/kbd67/mkiirgb/v2/rules.mk
Labels: keyboard

#7619 update git command and directory name of documents
  docs/getting_started_github.md
  docs/getting_started_introduction.md
Labels: documentation

#7617 Add uzu42 info.json
  keyboards/uzu42/info.json
Labels: enhancement, keyboard

#7623 Personal keymap for the E6.5
  keyboards/exclusive/e65/keymaps/madhatter/keymap.c
Labels: keymap

#7620 core: Fix build config in protocol.mk
  tmk_core/protocol.mk
Labels: bug, core

#7629 Adding Backlight on the handwired AEK64 keyboard
  keyboards/handwired/aek64/config.h
  keyboards/handwired/aek64/keymaps/4sstylz/keycodes.h
  keyboards/handwired/aek64/keymaps/4sstylz/keymap.c
  keyboards/handwired/aek64/rules.mk
Labels: keymap

#7609 New RGBKB Zen Rev1 keymap
  keyboards/rgbkb/zen/rev1/keymaps/starcalleramethyst/config.h
  keyboards/rgbkb/zen/rev1/keymaps/starcalleramethyst/keymap.c
  keyboards/rgbkb/zen/rev1/keymaps/starcalleramethyst/rules.mk
Labels: keymap

#7442 Project Keyboard Alice PCB - Indicator LEDs and keymap update
  keyboards/projectkb/alice/alice.c
  keyboards/projectkb/alice/keymaps/madhatter/keymap.c
  keyboards/projectkb/alice/keymaps/madhatter/rules.mk
Labels: keyboard, keymap

#7564 Fix ChibiOS USB config for chips which support OTGv1
  tmk_core/protocol/chibios/usb_main.c
Labels: bug, core

#7625 remove SERIAL_SOFT_DEBUG macro
  tmk_core/protocol/serial_soft.c
Labels: core

#7626 core: Fix variable init in keymap_common.c
  quantum/keymap_common.c
Labels: core

#7633 Change newbs.md to link to the new newbs_git_best_practices.md instead of newbs_best_practices.md.
  docs/newbs.md
Labels: documentation

#7631 [Keyboard] Add ymd67 keyboard
  keyboards/ymdk/ymd67/config.h
  keyboards/ymdk/ymd67/info.json
  keyboards/ymdk/ymd67/keymaps/default/keymap.c
  keyboards/ymdk/ymd67/keymaps/default/readme.md
  keyboards/ymdk/ymd67/readme.md
  keyboards/ymdk/ymd67/rules.mk
  keyboards/ymdk/ymd67/ymd67.c
  keyboards/ymdk/ymd67/ymd67.h
Labels: keyboard

#7646 update default h88 keymap
  keyboards/hineybush/h88/keymaps/default/keymap.c
Labels: keymap

#7644 [keyboard] Plain60 cleanups
  keyboards/maartenwut/plain60/keymaps/default/keymap.c
  keyboards/maartenwut/plain60/rules.mk
Labels: enhancement, keyboard

#7395 New Keyboard: XD68 65% ATMega32U4 based
  keyboards/xd68/config.h
  keyboards/xd68/keymaps/default/config.h
  keyboards/xd68/keymaps/default/keymap.c
  keyboards/xd68/keymaps/default/readme.md
  keyboards/xd68/keymaps/default_iso/config.h
  keyboards/xd68/keymaps/default_iso/keymap.c
  keyboards/xd68/keymaps/default_iso/readme.md
  keyboards/xd68/readme.md
  keyboards/xd68/rules.mk
  keyboards/xd68/xd68.c
  keyboards/xd68/xd68.h
Labels: keyboard

#7638 [keymap] boy_314's satisfaction75 layout
  keyboards/cannonkeys/satisfaction75/keymaps/boy_314/config.h
  keyboards/cannonkeys/satisfaction75/keymaps/boy_314/keymap.c
  keyboards/cannonkeys/satisfaction75/keymaps/boy_314/readme.md
  keyboards/cannonkeys/satisfaction75/keymaps/boy_314/rules.mk
Labels: keymap

#7621 [Core] Optimize matrix processing
  tmk_core/common/keyboard.c
Labels: core

#7649 ARM split - Disable USB on slave half to resolve random 'lockup'
  quantum/split_common/split_util.c
Labels: bug, core

#7255 Software backlight improvements
  quantum/backlight/backlight_soft.c
Labels: core

#7276 Convert backlight to follow driver rules pattern
  common_features.mk
  docs/feature_backlight.md
  quantum/stm32/proton_c.mk
Labels: core

#7635 Remove QMK_KEYBOARD_CONFIG_H from boards
  keyboards/7skb/rev1/config.h
  keyboards/fortitude60/rev1/config.h
  keyboards/keebio/iris/rev1/config.h
  keyboards/keebio/iris/rev1_led/config.h
  keyboards/keebio/iris/rev2/config.h
  keyboards/keebio/iris/rev3/config.h
  keyboards/keebio/levinson/rev1/config.h
  keyboards/keebio/levinson/rev2/config.h
  keyboards/keebio/quefrency/rev1/config.h
  keyboards/keebio/rorschach/rev1/config.h
  keyboards/naked48/rev1/config.h
Labels: keyboard

#7645 Move kwerdenker's personal keymap from RGB
  keyboards/maartenwut/plain60/keymaps/audio/config.h
  keyboards/maartenwut/plain60/keymaps/audio/keymap.c
  keyboards/maartenwut/plain60/keymaps/audio/rules.mk
  keyboards/maartenwut/plain60/keymaps/kwerdenker/config.h
  keyboards/maartenwut/plain60/keymaps/kwerdenker/keymap.c
  keyboards/maartenwut/plain60/keymaps/kwerdenker/rules.mk
  keyboards/maartenwut/plain60/keymaps/rgb/config.h
  keyboards/maartenwut/plain60/keymaps/rgb/keymap.c
  keyboards/maartenwut/plain60/keymaps/rgb/rules.mk
Labels: keymap

#7508 Relocate RGB keycode processing
  common_features.mk
  keyboards/mxss/rules.mk
  quantum/process_keycode/process_rgb.c
  quantum/process_keycode/process_rgb.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/rgb_matrix.h
Labels: core, optimization

#7461 add japanese translation (basic part)
  docs/ja/cli.md
  docs/ja/cli_configuration.md
  docs/ja/contributing.md
  docs/ja/getting_started_getting_help.md
  docs/ja/getting_started_github.md
  docs/ja/getting_started_introduction.md
Labels: documentation, translation

#7634 new keyboard: Magnavox Videowriter convertion with Pro Micro
  keyboards/handwired/videowriter/README.md
  keyboards/handwired/videowriter/config.h
  keyboards/handwired/videowriter/info.json
  keyboards/handwired/videowriter/keymaps/default/keymap.c
  keyboards/handwired/videowriter/keymaps/default/readme.md
  keyboards/handwired/videowriter/keymaps/oleg/config.h
  keyboards/handwired/videowriter/keymaps/oleg/keymap.c
  keyboards/handwired/videowriter/keymaps/oleg/rules.mk
  keyboards/handwired/videowriter/rules.mk
  keyboards/handwired/videowriter/videowriter.c
  keyboards/handwired/videowriter/videowriter.h
Labels: keyboard

#7488 Ported J80 to QMK
  keyboards/j80/config.h
  keyboards/j80/info.json
  keyboards/j80/j80.c
  keyboards/j80/j80.h
  keyboards/j80/keymaps/default/keymap.c
  keyboards/j80/keymaps/default/readme.md
  keyboards/j80/keymaps/default_iso/keymap.c
  keyboards/j80/keymaps/default_iso/readme.md
  keyboards/j80/readme.md
  keyboards/j80/rules.mk
  keyboards/j80/usbconfig.h
Labels: keyboard

#7647 [keymap] Added Filco Majestouch TKL Pegasus Hoof ISO Layout
  keyboards/bpiphany/pegasushoof/2015/2015.h
  keyboards/bpiphany/pegasushoof/info.json
Labels: enhancement, keyboard

#7643 Heisenberg handwired keyboard added
  keyboards/handwired/heisenberg/config.h
  keyboards/handwired/heisenberg/heisenberg.c
  keyboards/handwired/heisenberg/heisenberg.h
  keyboards/handwired/heisenberg/info.json
  keyboards/handwired/heisenberg/keymaps/default/keymap.c
  keyboards/handwired/heisenberg/keymaps/default/readme.md
  keyboards/handwired/heisenberg/keymaps/turkishish/config.h
  keyboards/handwired/heisenberg/keymaps/turkishish/keymap.c
  keyboards/handwired/heisenberg/keymaps/turkishish/readme.md
  keyboards/handwired/heisenberg/readme.md
  keyboards/handwired/heisenberg/rules.mk
Labels: keyboard

#7657 Tidy up dztech rules.mk
  keyboards/dztech/dz60rgb/v1/rules.mk
  keyboards/dztech/dz60rgb/v2/rules.mk
  keyboards/dztech/dz60rgb_ansi/v1/rules.mk
  keyboards/dztech/dz60rgb_ansi/v2/rules.mk
  keyboards/dztech/dz60rgb_wkl/v1/rules.mk
  keyboards/dztech/dz60rgb_wkl/v2/rules.mk
  keyboards/dztech/dz65rgb/v1/rules.mk
  keyboards/dztech/dz65rgb/v2/rules.mk
Labels: enhancement, keyboard

#7608 Tidy up dztech default keymaps and info.json
  keyboards/dztech/dz60rgb/info.json
  keyboards/dztech/dz60rgb/keymaps/default/keymap.c
  keyboards/dztech/dz60rgb_ansi/info.json
  keyboards/dztech/dz60rgb_ansi/keymaps/default/keymap.c
  keyboards/dztech/dz60rgb_wkl/info.json
  keyboards/dztech/dz60rgb_wkl/keymaps/default/keymap.c
  keyboards/dztech/dz65rgb/info.json
  keyboards/dztech/dz65rgb/keymaps/default/keymap.c
Labels: enhancement, keymap

#7654 [Keymap] Add pico 70 keys keymap
  keyboards/pico/65keys/65keys.c
  keyboards/pico/65keys/65keys.h
  keyboards/pico/65keys/config.h
  keyboards/pico/65keys/info.json
  keyboards/pico/65keys/keymaps/default/config.h
  keyboards/pico/65keys/keymaps/default/keymap.c
  keyboards/pico/65keys/keymaps/default/readme.md
  keyboards/pico/65keys/keymaps/jis/config.h
  keyboards/pico/65keys/keymaps/jis/keymap.c
  keyboards/pico/65keys/keymaps/jis/readme.md
  keyboards/pico/65keys/rules.mk
  keyboards/pico/70keys/70keys.c
  keyboards/pico/70keys/70keys.h
  keyboards/pico/70keys/config.h
  keyboards/pico/70keys/info.json
  keyboards/pico/70keys/keymaps/default/keymap.c
  keyboards/pico/70keys/keymaps/default/readme.md
  keyboards/pico/70keys/keymaps/jis/keymap.c
  keyboards/pico/70keys/keymaps/jis/readme.md
  keyboards/pico/70keys/rules.mk
  keyboards/pico/pico.h
  keyboards/pico/readme.md
  keyboards/pico/rules.mk
Labels: keyboard

#7630 [Keymap] CRKBD Custom Keymap - KidBrazil
  keyboards/crkbd/keymaps/kidbrazil/README.md
  keyboards/crkbd/keymaps/kidbrazil/config.h
  keyboards/crkbd/keymaps/kidbrazil/glcdfont.c
  keyboards/crkbd/keymaps/kidbrazil/keymap.c
  keyboards/crkbd/keymaps/kidbrazil/kidbrazil.json
  keyboards/crkbd/keymaps/kidbrazil/logo_reader.c
  keyboards/crkbd/keymaps/kidbrazil/rules.mk
Labels: keymap

#7603 Custom user keymap for Think6.5 with LED range control
  keyboards/gray_studio/think65/solder/info.json
  keyboards/gray_studio/think65/solder/keymaps/rys/keymap.c
  keyboards/gray_studio/think65/solder/keymaps/rys/readme.md
  keyboards/gray_studio/think65/solder/solder.h
Labels: keyboard, keymap

#7483 Added userspace for d4mation. Included their keymap for the Atreus62
  keyboards/atreus62/keymaps/d4mation/keymap.c
  keyboards/atreus62/keymaps/d4mation/readme.md
  keyboards/atreus62/keymaps/d4mation/rules.mk
  users/d4mation/config.h
  users/d4mation/d4mation.c
  users/d4mation/d4mation.h
  users/d4mation/macros.c
  users/d4mation/macros.h
  users/d4mation/rules.mk
  users/d4mation/tap-dance.c
  users/d4mation/tap-dance.h
  users/d4mation/tap-hold.c
  users/d4mation/tap-hold.h
  users/d4mation/zalgo.c
  users/d4mation/zalgo.h
Labels: keymap

#7666 Improve docs "Edit Document" footer
  docs/contributing.md
  docs/index.html
  readme.md
Labels: documentation

#7672 I corrected my name.
  keyboards/fluorite/readme.md
Labels: keyboard

#7663 Tidy up dztech config.h
  keyboards/dztech/dz60rgb/config.h
  keyboards/dztech/dz60rgb/v1/config.h
  keyboards/dztech/dz60rgb/v2/config.h
  keyboards/dztech/dz60rgb_ansi/config.h
  keyboards/dztech/dz60rgb_ansi/v1/config.h
  keyboards/dztech/dz60rgb_ansi/v2/config.h
  keyboards/dztech/dz60rgb_wkl/config.h
  keyboards/dztech/dz60rgb_wkl/v1/config.h
  keyboards/dztech/dz60rgb_wkl/v2/config.h
  keyboards/dztech/dz65rgb/config.h
  keyboards/dztech/dz65rgb/v1/config.h
  keyboards/dztech/dz65rgb/v2/config.h
Labels: enhancement, keyboard

#7642 [Docs] fix docs
  docs/arm_debugging.md
  docs/fr-fr/getting_started_github.md
  docs/fr-fr/getting_started_introduction.md
  docs/getting_started_github.md
  docs/he-il/getting_started_github.md
  docs/he-il/getting_started_introduction.md
  docs/ja/arm_debugging.md
  docs/ja/getting_started_github.md
  docs/ru-ru/getting_started_github.md
  docs/ru-ru/getting_started_introduction.md
  docs/zh-cn/getting_started_github.md
  docs/zh-cn/getting_started_introduction.md
Labels: documentation, translation

#7679 Add TADA68 keymap/rules/config for QMK bootloader
  keyboards/tada68/keymaps/tokyovigilante/config.h
  keyboards/tada68/keymaps/tokyovigilante/keymap.c
  keyboards/tada68/keymaps/tokyovigilante/layers.json
  keyboards/tada68/keymaps/tokyovigilante/readme.md
  keyboards/tada68/keymaps/tokyovigilante/rules.mk
Labels: keymap

#7542 Add central location for ChibiOS defines
  drivers/arm/i2c_master.c
  drivers/arm/i2c_master.h
  quantum/backlight/backlight_arm.c
  quantum/quantum.h
  tmk_core/common/chibios/chibios_config.h
Labels: core, optimization

#7686 Completely remove i2c_transmit_receive function
  drivers/arm/i2c_master.h
  drivers/haptic/DRV2605L.c
Labels: core, enhancement

#7700 Update toshi0383 keymap
  keyboards/reviung39/keymaps/toshi0383/keymap.c
  keyboards/zinc/keymaps/toshi0383/keymap.c
Labels: keymap

#7710 Add backwards compatibility for oled_write_raw_P on ARM
  drivers/oled/oled_driver.h
Labels: bug, core

#7713 Turn off RGB Matrix LEDs when keyboard sleeps
  quantum/rgb_matrix.c
Labels: bug

#7714 Make the keyboard beep when Audio is enabled and `\a` is encountered in a sendstring
  quantum/quantum.c
Labels: core, enhancement

#7708 K-Nunmpad17
  keyboards/handwired/k_numpad17/config.h
  keyboards/handwired/k_numpad17/k_numpad17.c
  keyboards/handwired/k_numpad17/k_numpad17.h
  keyboards/handwired/k_numpad17/keymaps/default/keymap.c
  keyboards/handwired/k_numpad17/keymaps/karlssn/keymap.c
  keyboards/handwired/k_numpad17/keymaps/karlssn/rules.mk
  keyboards/handwired/k_numpad17/readme.md
  keyboards/handwired/k_numpad17/rules.mk
Labels: keyboard

#7716 Initial Crkbd layout for bcat
  keyboards/crkbd/keymaps/bcat/config.h
  keyboards/crkbd/keymaps/bcat/keymap.c
  keyboards/crkbd/keymaps/bcat/readme.md
  keyboards/crkbd/keymaps/bcat/rules.mk
  users/bcat/config.h
Labels: keymap

#7668 Add LZ PhysiX PCB
  keyboards/hineybush/physix/config.h
  keyboards/hineybush/physix/info.json
  keyboards/hineybush/physix/keymaps/default/keymap.c
  keyboards/hineybush/physix/keymaps/default/readme.md
  keyboards/hineybush/physix/physix.c
  keyboards/hineybush/physix/physix.h
  keyboards/hineybush/physix/readme.md
  keyboards/hineybush/physix/rules.mk
Labels: keyboard

#7667 Add h75-singa ver.
  keyboards/hineybush/h75_singa/config.h
  keyboards/hineybush/h75_singa/h75_singa.c
  keyboards/hineybush/h75_singa/h75_singa.h
  keyboards/hineybush/h75_singa/info.json
  keyboards/hineybush/h75_singa/keymaps/default/keymap.c
  keyboards/hineybush/h75_singa/keymaps/default/readme.md
  keyboards/hineybush/h75_singa/keymaps/wkl_std/keymap.c
  keyboards/hineybush/h75_singa/keymaps/wkl_std/readme.md
  keyboards/hineybush/h75_singa/readme.md
  keyboards/hineybush/h75_singa/rules.mk
Labels: keyboard

#7719 [Keyboard] Kyria Configurator Fixes
  keyboards/kyria/info.json
Labels: bug, keyboard

#7665 Fix file encoding for zh-cn/custom_quantum_functions.md
  docs/zh-cn/custom_quantum_functions.md
Labels: documentation

#7693 [Docs] Update Japanese translation
  docs/ja/contributing.md
Labels: documentation, translation

#7728 Fix minor differences in docs/newbs_git_resynchronize_a_branch.md
  docs/newbs_git_resynchronize_a_branch.md
Labels: documentation

#7682 Doppelganger
  keyboards/doppelganger/config.h
  keyboards/doppelganger/doppelganger.c
  keyboards/doppelganger/doppelganger.h
  keyboards/doppelganger/info.json
  keyboards/doppelganger/keymaps/default/keymap.c
  keyboards/doppelganger/keymaps/default/readme.md
  keyboards/doppelganger/readme.md
  keyboards/doppelganger/rules.mk
Labels: keyboard

#7704 Add rules.mk defaults for f103,f072,f042
  quantum/mcu_selection.mk
Labels: core, enhancement

#7712 Adding keymap for KBDFans Kbd67 MKII RGB
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/codecoffeecode/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/codecoffeecode/rules.mk
Labels: keymap

#7689 Japanese translation of docs/newbs_git_*.md
  docs/ja/_summary.md
  docs/ja/newbs.md
  docs/ja/newbs_git_best_practices.md
  docs/ja/newbs_git_resolving_merge_conflicts.md
  docs/ja/newbs_git_resynchronize_a_branch.md
  docs/ja/newbs_git_using_your_master_branch.md
  docs/ja/newbs_learn_more_resources.md
Labels: documentation, translation

#7734 Clean up ISSI driver includes
  drivers/issi/is31fl3218.h
  drivers/issi/is31fl3731-simple.c
  drivers/issi/is31fl3731-simple.h
  drivers/issi/is31fl3731.c
  drivers/issi/is31fl3731.h
  drivers/issi/is31fl3733.c
  drivers/issi/is31fl3733.h
  drivers/issi/is31fl3736.c
  drivers/issi/is31fl3737.c
  drivers/issi/is31fl3737.h
Labels: core, enhancement

#7683 Orion Locking Indicator LED Support
  keyboards/duck/orion/v3/config.h
  keyboards/duck/orion/v3/keymaps/default/keymap.c
  keyboards/duck/orion/v3/matrix.c
  keyboards/duck/orion/v3/readme.md
  keyboards/duck/orion/v3/v3.c
  keyboards/duck/readme.md
Labels: enhancement, keyboard

#7729 Add LUFA mass storage `BOOTLOADER` "support"
  bootloader.mk
  keyboards/gray_studio/cod67/rules.mk
  keyboards/tada68/rules.mk
Labels: core

#7725 New PCB - Curiosity - Alice Layout PCB
  keyboards/cheshire/curiosity/chconf.h
  keyboards/cheshire/curiosity/config.h
  keyboards/cheshire/curiosity/curiosity.c
  keyboards/cheshire/curiosity/curiosity.h
  keyboards/cheshire/curiosity/halconf.h
  keyboards/cheshire/curiosity/info.json
  keyboards/cheshire/curiosity/keymaps/crd/keymap.c
  keyboards/cheshire/curiosity/keymaps/default/keymap.c
  keyboards/cheshire/curiosity/keymaps/default/readme.md
  keyboards/cheshire/curiosity/keymaps/madhatter/keymap.c
  keyboards/cheshire/curiosity/keymaps/madhatter/readme.md
  keyboards/cheshire/curiosity/keymaps/madhatter/rules.mk
  keyboards/cheshire/curiosity/mcuconf.h
  keyboards/cheshire/curiosity/readme.md
  keyboards/cheshire/curiosity/rules.mk
Labels: keyboard

#7724 Dactyl manuform layout optimized for Swedish
  keyboards/handwired/dactyl_manuform/5x6/keymaps/swedish/config.h
  keyboards/handwired/dactyl_manuform/5x6/keymaps/swedish/keymap.c
Labels: keymap

#7739 remove docs/ja/newbs_best_practices.md
  docs/ja/newbs_best_practices.md
Labels: documentation, translation

#7744 [Docs] Update macOS related issues in docs
  docs/faq_build.md
Labels: documentation

#7678 Use White channel on RGBW LEDs
  keyboards/ergodox_ez/led_i2c.c
  quantum/color.c
  quantum/color.h
  quantum/rgb_matrix_drivers.c
  quantum/rgblight.c
Labels: enhancement

#7674 SPI DMA based RGB Underglow for STM32
  docs/ws2812_driver.md
  drivers/arm/ws2812_spi.c
Labels: core, documentation, enhancement
