Repository qmk/qmk_firmware, pull requests merged in 2019-04, with the labels that each got.

#5528 Tidy up custom_quantum_functions documentation
  docs/custom_quantum_functions.md
Labels: documentation

#5530 add support for romac macropad
  keyboards/romac/config.h
  keyboards/romac/info.json
  keyboards/romac/keymaps/default/keymap.c
  keyboards/romac/readme.md
  keyboards/romac/romac.c
  keyboards/romac/romac.h
  keyboards/romac/rules.mk
Labels: keyboard

#5508 Updated my personal keymaps for the bfo9000 and jj50
  keyboards/jj50/keymaps/abstractkb/keymap.c
  keyboards/jj50/keymaps/abstractkb/readme.md
  keyboards/keebio/bfo9000/keymaps/abstractkb/config.h
  keyboards/keebio/bfo9000/keymaps/abstractkb/keymap.c
  keyboards/keebio/bfo9000/keymaps/abstractkb/readme.md
  keyboards/keebio/bfo9000/keymaps/abstractkb/rules.mk
Labels: keymap

#5524 Add alternate bépo layout for Ergodox EZ
  layouts/community/ergodox/bepo_alt/keymap.c
  layouts/community/ergodox/bepo_alt/readme.md
  layouts/community/ergodox/bepo_alt/rules.mk
Labels: keymap

#5531 Minor update to my XD75 keymap
  keyboards/xd75/keymaps/davidrambo/keymap.c
Labels: keymap

#5525 Added some new songs
  quantum/audio/song_list.h
Labels: enhancement

#5507 Add handwired keyboard "Tennie"
  keyboards/handwired/tennie/config.h
  keyboards/handwired/tennie/info.json
  keyboards/handwired/tennie/keymaps/default/config.h
  keyboards/handwired/tennie/keymaps/default/keymap.c
  keyboards/handwired/tennie/keymaps/default/readme.md
  keyboards/handwired/tennie/keymaps/simple-numbpad/config.h
  keyboards/handwired/tennie/keymaps/simple-numbpad/keymap.c
  keyboards/handwired/tennie/keymaps/simple-numbpad/readme.md
  keyboards/handwired/tennie/keymaps/soundboard/config.h
  keyboards/handwired/tennie/keymaps/soundboard/keymap.c
  keyboards/handwired/tennie/keymaps/soundboard/readme.md
  keyboards/handwired/tennie/readme.md
  keyboards/handwired/tennie/rules.mk
  keyboards/handwired/tennie/tennie.c
  keyboards/handwired/tennie/tennie.h
Labels: keyboard

#5372 Dev/rgb matrix overhaul
  docs/feature_rgb_matrix.md
  keyboards/dztech/dz40rgb/config.h
  keyboards/dztech/dz60rgb/config.h
  keyboards/ergodox_ez/config.h
  keyboards/hs60/v1/config.h
  layouts/community/ergodox/drashna_glow/config.h
  layouts/community/ortho_4x12/drashna/config.h
  lib/lib8tion/LICENSE
  lib/lib8tion/lib8tion.c
  lib/lib8tion/lib8tion.h
  lib/lib8tion/math8.h
  lib/lib8tion/random8.h
  lib/lib8tion/scale8.h
  lib/lib8tion/trig8.h
  quantum/color.c
  quantum/quantum.c
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
  quantum/rgb_matrix_animations/alpha_mods_anim.h
  quantum/rgb_matrix_animations/breathing_anim.h
  quantum/rgb_matrix_animations/cycle_all_anim.h
  quantum/rgb_matrix_animations/cycle_left_right_anim.h
  quantum/rgb_matrix_animations/cycle_up_down_anim.h
  quantum/rgb_matrix_animations/digital_rain_anim.h
  quantum/rgb_matrix_animations/dual_beacon_anim.h
  quantum/rgb_matrix_animations/gradient_up_down_anim.h
  quantum/rgb_matrix_animations/jellybean_raindrops_anim.h
  quantum/rgb_matrix_animations/rainbow_beacon_anim.h
  quantum/rgb_matrix_animations/rainbow_moving_chevron_anim.h
  quantum/rgb_matrix_animations/rainbow_pinwheels_anim.h
  quantum/rgb_matrix_animations/raindrops_anim.h
  quantum/rgb_matrix_animations/solid_color_anim.h
  quantum/rgb_matrix_animations/solid_reactive_anim.h
  quantum/rgb_matrix_animations/solid_reactive_simple_anim.h
  quantum/rgb_matrix_animations/solid_splash_anim.h
  quantum/rgb_matrix_animations/splash_anim.h
  quantum/rgb_matrix_types.h
Labels: core, enhancement, needs doc, optimization

#5540 fix dz60rgb response speed
  keyboards/dztech/dz60rgb/config.h
Labels: keyboard, optimization

#5541 New Keyboard: Quantrik Kyuu 65% Board
  keyboards/quantrik/kyuu/config.h
  keyboards/quantrik/kyuu/info.json
  keyboards/quantrik/kyuu/keymaps/default/config.h
  keyboards/quantrik/kyuu/keymaps/default/keymap.c
  keyboards/quantrik/kyuu/keymaps/default/readme.md
  keyboards/quantrik/kyuu/kyuu.c
  keyboards/quantrik/kyuu/kyuu.h
  keyboards/quantrik/kyuu/readme.md
  keyboards/quantrik/kyuu/rules.mk
Labels: keyboard

#5521 Small Refactor of Duck boards
  keyboards/duck/duck_led/duck_led.c
  keyboards/duck/duck_led/duck_led.h
  keyboards/duck/eagle_viper/readme.md
  keyboards/duck/eagle_viper/v2/config.h
  keyboards/duck/eagle_viper/v2/indicator_leds.c
  keyboards/duck/eagle_viper/v2/indicator_leds.h
  keyboards/duck/eagle_viper/v2/matrix.c
  keyboards/duck/eagle_viper/v2/readme.md
  keyboards/duck/eagle_viper/v2/rules.mk
  keyboards/duck/eagle_viper/v2/v2.h
  keyboards/duck/jetfire/config.h
  keyboards/duck/jetfire/indicator_leds.c
  keyboards/duck/jetfire/indicator_leds.h
  keyboards/duck/jetfire/jetfire.c
  keyboards/duck/jetfire/jetfire.h
  keyboards/duck/jetfire/readme.md
  keyboards/duck/jetfire/rules.mk
  keyboards/duck/lightsaver/config.h
  keyboards/duck/lightsaver/indicator_leds.c
  keyboards/duck/lightsaver/lightsaver.h
  keyboards/duck/lightsaver/matrix.c
  keyboards/duck/lightsaver/rules.mk
  keyboards/duck/octagon/v1/config.h
  keyboards/duck/octagon/v1/matrix.c
  keyboards/duck/octagon/v1/rules.mk
  keyboards/duck/octagon/v1/v1.h
  keyboards/duck/octagon/v2/config.h
  keyboards/duck/octagon/v2/indicator_leds.c
  keyboards/duck/octagon/v2/indicator_leds.h
  keyboards/duck/octagon/v2/matrix.c
  keyboards/duck/octagon/v2/readme.md
  keyboards/duck/octagon/v2/rules.mk
  keyboards/duck/octagon/v2/v2.h
Labels: optimization

#5543 Added configurable defaults for RGB backlight indicators.
  keyboards/hs60/v2/config.h
  keyboards/zeal60/config.h
  keyboards/zeal60/rgb_backlight.c
  keyboards/zeal65/config.h
Labels: bug, keyboard

#5536 [Keymap] Config tweaks and adding zeal60 RGB files to userspace
  keyboards/hs60/v2/keymaps/stanrc85/rules.mk
  users/stanrc85/config.h
  users/stanrc85/stanrc85.c
Labels: keymap

#5498 Ergodox EZ speedup
  docs/feature_debounce_type.md
  keyboards/ergodox_ez/matrix.c
  keyboards/ergodox_ez/rules.mk
  quantum/debounce/eager_pr.c
  quantum/debounce/readme.md
Labels: core, enhancement, keyboard

#5477 Added encoder support to split common code
  quantum/encoder.c
  quantum/encoder.h
  quantum/split_common/matrix.c
  quantum/split_common/transport.c
Labels: core, enhancement, in progress, needs testing

#5328 RGB Matrix support for Massdrop CTRL/ALT
  keyboards/massdrop/alt/config.h
  keyboards/massdrop/alt/config_led.c
  keyboards/massdrop/alt/config_led.h
  keyboards/massdrop/alt/keymaps/abishalom/keymap.c
  keyboards/massdrop/alt/keymaps/default/keymap.c
  keyboards/massdrop/alt/keymaps/default_md/keymap.c
  keyboards/massdrop/alt/keymaps/default_md/rules.mk
  keyboards/massdrop/alt/keymaps/mac/keymap.c
  keyboards/massdrop/alt/keymaps/mac_md/keymap.c
  keyboards/massdrop/alt/keymaps/mac_md/rules.mk
  keyboards/massdrop/alt/keymaps/reywood/README.md
  keyboards/massdrop/alt/keymaps/reywood/rules.mk
  keyboards/massdrop/alt/rules.mk
  keyboards/massdrop/ctrl/config.h
  keyboards/massdrop/ctrl/config_led.c
  keyboards/massdrop/ctrl/config_led.h
  keyboards/massdrop/ctrl/keymaps/default/keymap.c
  keyboards/massdrop/ctrl/keymaps/default_md/keymap.c
  keyboards/massdrop/ctrl/keymaps/default_md/rules.mk
  keyboards/massdrop/ctrl/keymaps/mac/keymap.c
  keyboards/massdrop/ctrl/keymaps/mac_md/keymap.c
  keyboards/massdrop/ctrl/keymaps/mac_md/rules.mk
  keyboards/massdrop/ctrl/keymaps/responsive_pattern/README.md
  keyboards/massdrop/ctrl/keymaps/responsive_pattern/keymap.c
  keyboards/massdrop/ctrl/keymaps/responsive_pattern/rules.mk
  keyboards/massdrop/ctrl/led_programs.c
  keyboards/massdrop/ctrl/rules.mk
  quantum/rgb_matrix.c
  quantum/rgb_matrix_types.h
  tmk_core/common/arm_atsam/suspend.c
  tmk_core/protocol/arm_atsam.mk
  tmk_core/protocol/arm_atsam/arm_atsam_protocol.h
  tmk_core/protocol/arm_atsam/i2c_master.c
  tmk_core/protocol/arm_atsam/led_matrix.c
  tmk_core/protocol/arm_atsam/led_matrix.h
  tmk_core/protocol/arm_atsam/led_matrix_programs.c
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/arm_atsam/usb/usb2422.c
Labels: core, enhancement, keyboard

#5546 V60 Type R - Turn on leds for Configurator + Refactor
  keyboards/v60_type_r/config.h
  keyboards/v60_type_r/keymaps/default/config.h
  keyboards/v60_type_r/keymaps/default/keymap.c
  keyboards/v60_type_r/keymaps/default/readme.md
  keyboards/v60_type_r/keymaps/default/rules.mk
  keyboards/v60_type_r/keymaps/vimouse/config.h
  keyboards/v60_type_r/keymaps/vimouse/keymap.c
  keyboards/v60_type_r/readme.md
  keyboards/v60_type_r/rules.mk
  keyboards/v60_type_r/v60_type_r.c
  keyboards/v60_type_r/v60_type_r.h
Labels: keyboard

#5539 Doro67 Multi PCB port
  keyboards/doro67/multi/config.h
  keyboards/doro67/multi/info.json
  keyboards/doro67/multi/keymaps/default/keymap.c
  keyboards/doro67/multi/keymaps/default/readme.md
  keyboards/doro67/multi/keymaps/default_iso/keymap.c
  keyboards/doro67/multi/keymaps/default_iso/readme.md
  keyboards/doro67/multi/keymaps/default_multi/keymap.c
  keyboards/doro67/multi/keymaps/default_multi/readme.md
  keyboards/doro67/multi/multi.c
  keyboards/doro67/multi/multi.h
  keyboards/doro67/multi/readme.md
  keyboards/doro67/multi/rules.mk
Labels: keyboard

#5405 Keyboard: add treeadstone48
  keyboards/treadstone48/common/glcdfont.c
  keyboards/treadstone48/common/oled_helper.c
  keyboards/treadstone48/common/oled_helper.h
  keyboards/treadstone48/config.h
  keyboards/treadstone48/i2c.c
  keyboards/treadstone48/i2c.h
  keyboards/treadstone48/keymaps/default/config.h
  keyboards/treadstone48/keymaps/default/keymap.c
  keyboards/treadstone48/keymaps/default/readme.md
  keyboards/treadstone48/keymaps/default/readme_jp.md
  keyboards/treadstone48/keymaps/default/rules.mk
  keyboards/treadstone48/keymaps/like_jis/config.h
  keyboards/treadstone48/keymaps/like_jis/keymap.c
  keyboards/treadstone48/keymaps/like_jis/readme.md
  keyboards/treadstone48/keymaps/like_jis/readme_jp.md
  keyboards/treadstone48/keymaps/like_jis/rules.mk
  keyboards/treadstone48/keymaps/like_jis_rs/config.h
  keyboards/treadstone48/keymaps/like_jis_rs/keymap.c
  keyboards/treadstone48/keymaps/like_jis_rs/readme.md
  keyboards/treadstone48/keymaps/like_jis_rs/readme_jp.md
  keyboards/treadstone48/keymaps/like_jis_rs/rules.mk
  keyboards/treadstone48/pro_micro.h
  keyboards/treadstone48/readme.md
  keyboards/treadstone48/rev1/config.h
  keyboards/treadstone48/rev1/info.json
  keyboards/treadstone48/rev1/matrix.c
  keyboards/treadstone48/rev1/rev1.c
  keyboards/treadstone48/rev1/rev1.h
  keyboards/treadstone48/rev1/rules.mk
  keyboards/treadstone48/rev1/serial_config.h
  keyboards/treadstone48/rev1/serial_config_simpleapi.h
  keyboards/treadstone48/rev1/split_scomm.c
  keyboards/treadstone48/rev1/split_scomm.h
  keyboards/treadstone48/rev1/split_util.c
  keyboards/treadstone48/rev1/split_util.h
  keyboards/treadstone48/rules.mk
  keyboards/treadstone48/serial.c
  keyboards/treadstone48/serial.h
  keyboards/treadstone48/ssd1306.c
  keyboards/treadstone48/ssd1306.h
  keyboards/treadstone48/treadstone48.c
  keyboards/treadstone48/treadstone48.h
Labels: keyboard

#5545 [Keymap] New HS60/v2 HHKB keymap for goatmaster
  keyboards/hs60/v2/keymaps/goatmaster/config.h
  keyboards/hs60/v2/keymaps/goatmaster/keymap.c
  keyboards/hs60/v2/keymaps/goatmaster/readme.md
  keyboards/hs60/v2/keymaps/goatmaster/rules.mk
Labels: keymap

#5534 Added Hacked Motospeed keyboard
  keyboards/handwired/hacked_motospeed/config.h
  keyboards/handwired/hacked_motospeed/hacked_motospeed.c
  keyboards/handwired/hacked_motospeed/hacked_motospeed.h
  keyboards/handwired/hacked_motospeed/info.json
  keyboards/handwired/hacked_motospeed/keymaps/default/config.h
  keyboards/handwired/hacked_motospeed/keymaps/default/keymap.c
  keyboards/handwired/hacked_motospeed/keymaps/default/readme.md
  keyboards/handwired/hacked_motospeed/readme.md
  keyboards/handwired/hacked_motospeed/rules.mk
Labels: keyboard

#5550 New Keyboard: Budget96 by Donut Cables
  keyboards/donutcables/budget96/budget96.c
  keyboards/donutcables/budget96/budget96.h
  keyboards/donutcables/budget96/config.h
  keyboards/donutcables/budget96/i2c.c
  keyboards/donutcables/budget96/i2c.h
  keyboards/donutcables/budget96/info.json
  keyboards/donutcables/budget96/keymaps/default/config.h
  keyboards/donutcables/budget96/keymaps/default/keymap.c
  keyboards/donutcables/budget96/keymaps/default/readme.md
  keyboards/donutcables/budget96/readme.md
  keyboards/donutcables/budget96/rules.mk
  keyboards/donutcables/budget96/usbconfig.h
  keyboards/donutcables/readme.md
Labels: keyboard

#5551 [Keymap] Additional RGB options set
  keyboards/hs60/v2/keymaps/stanrc85/config.h
Labels: keymap

#5553 Move scrabblepad into donutcables directory
  keyboards/donutcables/scrabblepad/config.h
  keyboards/donutcables/scrabblepad/info.json
  keyboards/donutcables/scrabblepad/keymaps/default/config.h
  keyboards/donutcables/scrabblepad/keymaps/default/keymap.c
  keyboards/donutcables/scrabblepad/keymaps/default/readme.md
  keyboards/donutcables/scrabblepad/keymaps/random/keymap.c
  keyboards/donutcables/scrabblepad/keymaps/random/readme.md
  keyboards/donutcables/scrabblepad/readme.md
  keyboards/donutcables/scrabblepad/rules.mk
  keyboards/donutcables/scrabblepad/scrabblepad.c
  keyboards/donutcables/scrabblepad/scrabblepad.h
Labels: keyboard

#5556 Simplified handwired/xealous since most of the features are in core now.
  keyboards/handwired/xealous/config.h
  keyboards/handwired/xealous/debounce.c
  keyboards/handwired/xealous/matrix.c
  keyboards/handwired/xealous/rules.mk
Labels: keyboard

#4957 Update ps2avrgb template to use standard matrix/i2c code
  quantum/template/avr/template.c
  quantum/template/ps2avrgb/config.h
  quantum/template/ps2avrgb/i2c.c
  quantum/template/ps2avrgb/i2c.h
  quantum/template/ps2avrgb/matrix.c
  quantum/template/ps2avrgb/rules.mk
  quantum/template/ps2avrgb/template.c
Labels: core, enhancement, keyboard, needs testing, on hold, optimization

#5009 Custom Tapping Term per key
  docs/config_options.md
  docs/custom_quantum_functions.md
  quantum/quantum.c
  quantum/quantum.h
  tmk_core/common/action_tapping.c
  tmk_core/common/action_tapping.h
Labels: core, documentation, enhancement

#5558 Add a new keyboard: NQG
  keyboards/emptystring/NQG/NQG.c
  keyboards/emptystring/NQG/NQG.h
  keyboards/emptystring/NQG/config.h
  keyboards/emptystring/NQG/keymaps/default/keymap.c
  keyboards/emptystring/NQG/keymaps/default/rules.mk
  keyboards/emptystring/NQG/readme.md
  keyboards/emptystring/NQG/rules.mk
Labels: keyboard

#5562 i2c_init update to work with atmega32a boards
  drivers/avr/i2c_master.c
Labels: core, enhancement

#5559 Panc60 Refactor
  keyboards/panc60/config.h
  keyboards/panc60/i2c.c
  keyboards/panc60/i2c.h
  keyboards/panc60/matrix.c
  keyboards/panc60/panc60.c
  keyboards/panc60/panc60.h
  keyboards/panc60/readme.md
  keyboards/panc60/rules.mk
  keyboards/panc60/usbconfig.h
Labels: keyboard

#5575 Refactor FaceW for new BMC changes
  keyboards/facew/config.h
  keyboards/facew/facew.c
  keyboards/facew/facew.h
  keyboards/facew/i2c.c
  keyboards/facew/i2c.h
  keyboards/facew/keymaps/mechmerlin/keymap.c
  keyboards/facew/keymaps/mechmerlin/readme.md
  keyboards/facew/matrix.c
  keyboards/facew/readme.md
  keyboards/facew/rules.mk
  keyboards/facew/usbconfig.h
Labels: keyboard, optimization

#5576 Updates to noroadsleft keymap for KC60 (2019-04-07)
  keyboards/kc60/keymaps/noroadsleft/keymap.c
  keyboards/kc60/keymaps/noroadsleft/readme.md
  keyboards/kc60/keymaps/noroadsleft/readme_ch3.md
  keyboards/kc60/keymaps/noroadsleft/readme_ch5.md
Labels: keymap

#5572 Refactor E6V2 BMC PCB to get rid of custom i2c code in favor of QMK i2c_master
  keyboards/exclusive/e6v2/bmc/bmc.c
  keyboards/exclusive/e6v2/bmc/config.h
  keyboards/exclusive/e6v2/bmc/i2c.c
  keyboards/exclusive/e6v2/bmc/i2c.h
  keyboards/exclusive/e6v2/bmc/readme.md
  keyboards/exclusive/e6v2/bmc/rules.mk
  keyboards/exclusive/e6v2/bmc/usbconfig.h
Labels: keyboard, optimization

#5571 Refactor budget96 to remove custom i2c code in favor of QMK i2c_master
  keyboards/donutcables/budget96/budget96.c
  keyboards/donutcables/budget96/config.h
  keyboards/donutcables/budget96/i2c.c
  keyboards/donutcables/budget96/i2c.h
  keyboards/donutcables/budget96/readme.md
  keyboards/donutcables/budget96/rules.mk
Labels: keyboard, optimization

#5570 Refactor HB85 to get rid of custom i2c code
  keyboards/gray_studio/hb85/config.h
  keyboards/gray_studio/hb85/hb85.c
  keyboards/gray_studio/hb85/i2c.c
  keyboards/gray_studio/hb85/i2c.h
  keyboards/gray_studio/hb85/readme.md
  keyboards/gray_studio/hb85/rules.mk
  keyboards/gray_studio/hb85/usbconfig.h
Labels: keyboard, optimization

#5028 Remove keyboard description from Adafruit BLE device name
  tmk_core/protocol/lufa/adafruit_ble.cpp
Labels: optimization

#5363 Fixed tap/down/up handling in dynamic keymap macros
  quantum/dynamic_keymap.c
  quantum/quantum.c
  quantum/quantum.h
Labels: core, enhancement

#5478 Add keyboard Signum 3.0 for the elite-c
  keyboards/signum/3_0/elitec/config.h
  keyboards/signum/3_0/elitec/elitec.c
  keyboards/signum/3_0/elitec/elitec.h
  keyboards/signum/3_0/elitec/info.json
  keyboards/signum/3_0/elitec/keymaps/default/generate_km.py
  keyboards/signum/3_0/elitec/keymaps/default/keymap.c
  keyboards/signum/3_0/elitec/keymaps/default/km_template.txt
  keyboards/signum/3_0/elitec/keymaps/default/layout.py
  keyboards/signum/3_0/elitec/keymaps/default/readme.md
  keyboards/signum/3_0/elitec/readme.md
  keyboards/signum/3_0/elitec/rules.mk
Labels: keyboard, keymap

#4817 Adding the Waldo PCB (PCB for the Holz keyboard)
  keyboards/waldo/config.h
  keyboards/waldo/keymaps/default/config.h
  keyboards/waldo/keymaps/default/keymap.c
  keyboards/waldo/keymaps/default/readme.md
  keyboards/waldo/keymaps/default/rules.mk
  keyboards/waldo/keymaps/default_split_shft_bck/config.h
  keyboards/waldo/keymaps/default_split_shft_bck/keymap.c
  keyboards/waldo/keymaps/default_split_shft_bck/readme.md
  keyboards/waldo/keymaps/default_split_shft_bck/rules.mk
  keyboards/waldo/readme.md
  keyboards/waldo/rev1/config.h
  keyboards/waldo/rev1/info.json
  keyboards/waldo/rev1/rules.mk
  keyboards/waldo/rules.mk
  keyboards/waldo/waldo.c
  keyboards/waldo/waldo.h
Labels: awaiting changes, keyboard

#5583 Waldo 60 PCB Refactor
  keyboards/waldo/config.h
  keyboards/waldo/info.json
  keyboards/waldo/keymaps/default/config.h
  keyboards/waldo/keymaps/default/keymap.c
  keyboards/waldo/readme.md
  keyboards/waldo/rev1/config.h
  keyboards/waldo/rev1/info.json
  keyboards/waldo/rev1/rules.mk
  keyboards/waldo/rules.mk
  keyboards/waldo/waldo.h
Labels: enhancement, keyboard, optimization

#5574 Refactor jj40 to current standards
  keyboards/jj40/backlight.c
  keyboards/jj40/backlight_custom.h
  keyboards/jj40/breathing_custom.h
  keyboards/jj40/config.h
  keyboards/jj40/i2c.c
  keyboards/jj40/i2c.h
  keyboards/jj40/jj40.c
  keyboards/jj40/jj40.h
  keyboards/jj40/keymaps/default/keymap.c
  keyboards/jj40/matrix.c
  keyboards/jj40/rules.mk
  quantum/quantum.c
Labels: keyboard

#5578 update feature_rgblight.md: add some figures
  docs/feature_rgblight.md
Labels: documentation

#5579 Refactor Singa
  keyboards/singa/config.h
  keyboards/singa/i2c.c
  keyboards/singa/i2c.h
  keyboards/singa/keymaps/amnesia0287/config.h
  keyboards/singa/keymaps/amnesia0287/keymap.c
  keyboards/singa/keymaps/default/config.h
  keyboards/singa/keymaps/default/keymap.c
  keyboards/singa/keymaps/test/config.h
  keyboards/singa/keymaps/test/keymap.c
  keyboards/singa/matrix.c
  keyboards/singa/readme.md
  keyboards/singa/rules.mk
  keyboards/singa/singa.c
  keyboards/singa/singa.h
  keyboards/singa/usbconfig.h
Labels: keyboard

#5573 Bootmagic does not actually work on BMC boards, removing from panc60
  keyboards/panc60/readme.md
  keyboards/panc60/rules.mk
Labels: keyboard

#5568 Convert BFO9000 to Split Keyboard code
  keyboards/keebio/bfo9000/bfo9000.h
  keyboards/keebio/bfo9000/config.h
  keyboards/keebio/bfo9000/i2c.c
  keyboards/keebio/bfo9000/i2c.h
  keyboards/keebio/bfo9000/matrix.c
  keyboards/keebio/bfo9000/rules.mk
  keyboards/keebio/bfo9000/serial.c
  keyboards/keebio/bfo9000/serial.h
  keyboards/keebio/bfo9000/split_util.c
  keyboards/keebio/bfo9000/split_util.h
Labels: keyboard

#2561 Switch process_combo to using global register and timer
  quantum/process_keycode/process_combo.c
  quantum/process_keycode/process_combo.h
Labels: awaiting changes, optimization

#5589 ergodox_ez: Matrix changes now used for debounce()
  keyboards/ergodox_ez/matrix.c
Labels: bug, keyboard

#5592 Remove ps2avrGB since its a hangover from the keyboards/winkeyless refactor
  keyboards/ps2avrGB/README.md
  keyboards/ps2avrGB/bmini.h
  keyboards/ps2avrGB/config.h
  keyboards/ps2avrGB/i2c.c
  keyboards/ps2avrGB/i2c.h
  keyboards/ps2avrGB/keymaps/default/keymap.c
  keyboards/ps2avrGB/matrix.c
  keyboards/ps2avrGB/ps2avrGB.c
  keyboards/ps2avrGB/ps2avrGB.h
  keyboards/ps2avrGB/rules.mk
  keyboards/ps2avrGB/usbconfig.h
Labels: keyboard

#5601 Remove caveat about combos with shared keys
  docs/feature_combo.md
Labels: documentation

#5600 Kyuu Fix
  keyboards/quantrik/kyuu/kyuu.h
Labels: bug, keyboard

#5465 Keyboard: Add yosino58 Keyboard
  keyboards/yosino58/config.h
  keyboards/yosino58/i2c.c
  keyboards/yosino58/i2c.h
  keyboards/yosino58/info.json
  keyboards/yosino58/keymaps/default/config.h
  keyboards/yosino58/keymaps/default/keymap.c
  keyboards/yosino58/keymaps/default/rules.mk
  keyboards/yosino58/keymaps/sakura/config.h
  keyboards/yosino58/keymaps/sakura/keymap.c
  keyboards/yosino58/keymaps/sakura/rules.mk
  keyboards/yosino58/lib/glcdfont.c
  keyboards/yosino58/lib/glcdfont_.c
  keyboards/yosino58/lib/host_led_state_reader.c
  keyboards/yosino58/lib/keylogger.c
  keyboards/yosino58/lib/layer_state_reader.c
  keyboards/yosino58/lib/logo_reader.c
  keyboards/yosino58/lib/mode_icon_reader.c
  keyboards/yosino58/lib/rgb_state_reader.c
  keyboards/yosino58/lib/timelogger.c
  keyboards/yosino58/pro_micro.h
  keyboards/yosino58/rev1/config.h
  keyboards/yosino58/rev1/matrix.c
  keyboards/yosino58/rev1/rev1.c
  keyboards/yosino58/rev1/rev1.h
  keyboards/yosino58/rev1/rules.mk
  keyboards/yosino58/rev1/serial_config.h
  keyboards/yosino58/rev1/serial_config_simpleapi.h
  keyboards/yosino58/rev1/split_scomm.c
  keyboards/yosino58/rev1/split_scomm.h
  keyboards/yosino58/rev1/split_util.c
  keyboards/yosino58/rev1/split_util.h
  keyboards/yosino58/rules.mk
  keyboards/yosino58/serial.c
  keyboards/yosino58/serial.h
  keyboards/yosino58/ssd1306.c
  keyboards/yosino58/ssd1306.h
  keyboards/yosino58/yosino58.c
  keyboards/yosino58/yosino58.h
Labels: keyboard

#5091 Port DIRECT_PINS from split_common/matrix.c to matrix.c
  docs/config_options.md
  docs/hardware_avr.md
  docs/porting_your_keyboard_to_qmk_(arm_and_other_chibios_cpus).md
  keyboards/40percentclub/nano/config.h
  keyboards/40percentclub/nano/matrix.c
  keyboards/40percentclub/nano/nano.h
  keyboards/40percentclub/nano/rules.mk
  quantum/matrix.c
Labels: core, documentation, enhancement

#5605 Koyu Compilation Fixes
  keyboards/rama/koyu/config.h
Labels: bug, keyboard

#4947 Speed up Travis CI builds
  .travis.yml
Labels: enhancement, optimization

#5160 Fix build detection of keymap and board changes
  util/travis_build.sh
Labels: bug, core, enhancement, optimization

#5180 Fix ATSAM's USB HID descriptor to support higher heycodes
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.c
Labels: core, enhancement

#5219 Add vendor and product arguments to atmega32a_program.py
  util/atmega32a_program.py
Labels: enhancement, keyboard

#4046 Add AltGr/RALT support to Send String
  quantum/quantum.c
  quantum/quantum.h
Labels: core, enhancement

#5610 fix combo enabling logic
  quantum/process_keycode/process_combo.c
Labels: bug, core

#5616 Adding Alt↯Tab macro; Redo of pr #5593 with suggested changes
  docs/feature_macros.md
Labels: documentation

#5615 Fix incorrect keyboard dimensions in Configurator API data
  keyboards/canoe/info.json
  keyboards/clueboard/card/info.json
  keyboards/crkbd/info.json
  keyboards/ergodone/info.json
  keyboards/ergodox_ez/info.json
  keyboards/ergodox_infinity/info.json
  keyboards/gergo/info.json
  keyboards/handwired/frenchdev/info.json
  keyboards/handwired/not_so_minidox/info.json
  keyboards/handwired/ortho5x13/info.json
  keyboards/handwired/prime_exl/info.json
  keyboards/handwired/promethium/info.json
  keyboards/handwired/tradestation/info.json
  keyboards/kbdfans/kbd4x/info.json
  keyboards/keebio/iris/info.json
  keyboards/orthodox/rev1/info.json
  keyboards/orthodox/rev3/info.json
  keyboards/orthodox/rev3_teensy/info.json
  keyboards/qwertyydox/info.json
  keyboards/speedo/info.json
  keyboards/xd87/info.json
Labels: keyboard

#5418 Features/ws2812 matrix driver
  common_features.mk
  docs/feature_rgb_matrix.md
  drivers/avr/ws2812.c
  drivers/avr/ws2812.h
  keyboards/sol/keymaps/kageurufu/rules.mk
  keyboards/sol/rev1/config.h
  keyboards/sol/rev1/rev1.c
  quantum/rgb_matrix.h
  quantum/rgb_matrix_drivers.c
  quantum/rgblight.c
  users/kageurufu/rules.mk
Labels: core, enhancement, keyboard, needs doc

#5621 Eager pk/pr optimization
  quantum/debounce/eager_pk.c
  quantum/debounce/eager_pr.c
Labels: core, optimization

#5622 Bugfixes on tapdance logic and small changes in layout
  keyboards/jj50/keymaps/archetype/config.h
  keyboards/jj50/keymaps/archetype/keymap.c
Labels: bug, keymap

#5630 Use Right Alt/Ctrl on right side of OK60
  keyboards/ok60/keymaps/default/keymap.c
Labels: keymap

#5632 Hadron keymap and config updates
  keyboards/hadron/ver3/chconf.h
  keyboards/hadron/ver3/config.h
  keyboards/hadron/ver3/halconf.h
  keyboards/hadron/ver3/keymaps/default/keymap.c
  keyboards/hadron/ver3/keymaps/ishtob/keymap.c
  keyboards/hadron/ver3/keymaps/readme.md
  keyboards/hadron/ver3/matrix.c
  keyboards/hadron/ver3/mcuconf.h
  keyboards/hadron/ver3/rules.mk
  keyboards/hadron/ver3/ver3.c
  keyboards/hadron/ver3/ver3.h
Labels: keyboard

#5635 Xulkal Keymaps
  keyboards/massdrop/ctrl/keymaps/xulkal/keymap.c
  keyboards/massdrop/ctrl/keymaps/xulkal/rules.mk
  keyboards/preonic/keymaps/xulkal/keymap.c
  keyboards/preonic/keymaps/xulkal/rules.mk
  keyboards/sol/keymaps/xulkal/keymap.c
  keyboards/sol/keymaps/xulkal/rules.mk
  users/xulkal/config.h
  users/xulkal/layouts.h
  users/xulkal/process_records.c
  users/xulkal/process_records.h
  users/xulkal/rules.mk
  users/xulkal/xulkal.c
  users/xulkal/xulkal.h
Labels: keymap

#5637 [keymap] TADA68 KBP-V60-like keymap
  keyboards/tada68/keymaps/kbp-v60/keymap.c
  keyboards/tada68/keymaps/kbp-v60/readme.md
  keyboards/tada68/keymaps/kbp-v60/rules.mk
Labels: keymap

#5614 [keymap] Update to oeywil's keymap
  keyboards/planck/keymaps/oeywil/.gitignore
  keyboards/planck/keymaps/oeywil/config.h
  keyboards/planck/keymaps/oeywil/keymap.c
  keyboards/planck/keymaps/oeywil/no_keycodes.h
  keyboards/planck/keymaps/oeywil/readme.md
  keyboards/planck/keymaps/oeywil/rules.mk
Labels: keymap

#5626 [keymap] adding kingwangwong's keymaps
  keyboards/kbdfans/kbd75/keymaps/kingwangwong/keymap.c
  keyboards/keebio/quefrency/keymaps/kingwangwong/config.h
  keyboards/keebio/quefrency/keymaps/kingwangwong/keymap.c
Labels: keymap

#5640 Roguepullrequest Planck layout update.
  keyboards/planck/keymaps/roguepullrequest/keymap.c
Labels: keymap

#5644 Fix wake from suspend LED functionality for Massdrop CTRL and ALT
  tmk_core/common/arm_atsam/suspend.c
Labels: core, keyboard

#5647 [keymap] Update readme.md
  keyboards/planck/keymaps/oeywil/readme.md
Labels: documentation

#5471 Reduce CRKBD firmware size by reducing layer numbers
  keyboards/crkbd/keymaps/default/keymap.c
  keyboards/crkbd/keymaps/omgvee/keymap.c
  keyboards/crkbd/keymaps/thefrey/keymap.c
  keyboards/crkbd/lib/layer_state_reader.c
Labels: keyboard, keymap, optimization

#5513 Update Tetris
  keyboards/tetris/config.h
  keyboards/tetris/info.json
  keyboards/tetris/keymaps/default/keymap.c
  keyboards/tetris/keymaps/default/rules.mk
  keyboards/tetris/readme.md
  keyboards/tetris/rules.mk
  keyboards/tetris/tetris.c
  keyboards/tetris/tetris.h
Labels: keyboard

#5646 [core] Fix for eager_pr #5643
  quantum/debounce/eager_pr.c
Labels: awaiting review, bug

#5500 Update our style guide
  .clang-format
  .editorconfig
  docs/contributing.md
Labels: documentation

#5648 niu_mini reduce firmware size
  keyboards/niu_mini/keymaps/planck/rules.mk
  keyboards/niu_mini/rules.mk
Labels: keyboard

#3375 Improve mouse keys docs and constant speed mode
  docs/feature_mouse_keys.md
  tmk_core/common/mousekey.c
  tmk_core/common/mousekey.h
Labels: enhancement, optimization

#5651 Update XD75 keymap by markus
  keyboards/xd75/keymaps/markus/config.h
  keyboards/xd75/keymaps/markus/keymap.c
  keyboards/xd75/keymaps/markus/readme.md
  keyboards/xd75/keymaps/markus/rules.mk
Labels: keymap

#5645 Update 1upkeyboards/super16 with code from vendor
  keyboards/1upkeyboards/super16/config.h
  keyboards/1upkeyboards/super16/info.json
  keyboards/1upkeyboards/super16/keymaps/default/keymap.c
  keyboards/1upkeyboards/super16/rules.mk
  keyboards/1upkeyboards/super16/super16.c
  keyboards/1upkeyboards/super16/super16.h
Labels: keyboard

#3497 Remove default folders for the Planck & Preonic
  keyboards/planck/rules.mk
  keyboards/preonic/rules.mk
Labels: awaiting changes, keyboard

#4131 Use auto output for Adafruit BLE
  quantum/quantum.c
Labels: core

#5267 Travis CI - skip unit tests for documentation changes
  .travis.yml
  util/travis_test.sh
Labels: awaiting review, enhancement, optimization

#5456 Make sure NOBITS is set on reset_key to fix avr-gcc 8.2+ builds
  tmk_core/common/avr/bootloader.c
Labels: bug, core

#5469 Add -yq flags to actually make debian installs noninteractive
  util/linux_install.sh
Labels: bug

#5467 Fix RGB Matrix issue with EEPROM
  docs/feature_rgb_matrix.md
  tmk_core/common/eeconfig.c
Labels: bug, core, optimization

#5020 Add function to support split-keyboard in rgblight.[ch].
  docs/feature_rgblight.md
  quantum/rgblight.c
  quantum/rgblight.h
  quantum/rgblight_modes.h
Labels: core, enhancement, in progress, optimization

#5653 Update mouse keys docs
  docs/feature_mouse_keys.md
Labels: documentation

#5657 crkbd: compile time hand-dependent rgb_matrix LED declarations
  keyboards/crkbd/rev1/rev1.c
  keyboards/crkbd/rev1/rules.mk
Labels: keyboard

#5656 Add Configurator support to touchpad
  keyboards/touchpad/info.json
  keyboards/touchpad/keymaps/default/keymap.c
  keyboards/touchpad/touchpad.h
Labels: keyboard

#5654 Make the layout friendlier for use with the iPad
  keyboards/tada68/keymaps/mattgemmell/config.h
  keyboards/tada68/keymaps/mattgemmell/keymap.c
Labels: keymap

#5652 Layout and configuration updates for Signum 3.0
  keyboards/signum/3_0/elitec/elitec.h
  keyboards/signum/3_0/elitec/info.json
  keyboards/signum/3_0/elitec/keymaps/default/generate_km.py
  keyboards/signum/3_0/elitec/keymaps/default/keymap.c
  keyboards/signum/3_0/elitec/keymaps/default/layout.py
  keyboards/signum/3_0/elitec/keymaps/default/rules.mk
  keyboards/signum/3_0/elitec/rules.mk
Labels: keyboard

#5655 Fix koyu readme encoding
  keyboards/rama/koyu/readme.md
Labels: documentation, keyboard

#5668 Added keymap/userspace for dz60 build 4 with readme
  keyboards/dz60/keymaps/billiams/build_flash.sh
  keyboards/dz60/keymaps/billiams/config.h
  keyboards/dz60/keymaps/billiams/keymap.c
  keyboards/dz60/keymaps/billiams/readme.md
Labels: keymap

#5673 Shuffle FL1 some more to match keycap legends
  keyboards/tada68/keymaps/mattgemmell/keymap.c
  keyboards/tada68/keymaps/mattgemmell/readme.md
Labels: keymap

#5661 dz60rgb: update default keymap
  keyboards/dztech/dz60rgb/config.h
  keyboards/dztech/dz60rgb/dz60rgb.c
  keyboards/dztech/dz60rgb/keymaps/default/keymap.c
Labels: keymap

#5666 [Keymap] Add keymap for keebio/quefrency 65% version
  keyboards/keebio/quefrency/keymaps/georgepetri/config.h
  keyboards/keebio/quefrency/keymaps/georgepetri/keymap.c
  keyboards/keebio/quefrency/keymaps/georgepetri/readme.md
  keyboards/keebio/quefrency/keymaps/georgepetri/rules.mk
Labels: keymap

#5677 Doro67 RGB PCB
  keyboards/doro67/multi/readme.md
  keyboards/doro67/readme.md
  keyboards/doro67/regular/config.h
  keyboards/doro67/regular/readme.md
  keyboards/doro67/rgb/config.h
  keyboards/doro67/rgb/info.json
  keyboards/doro67/rgb/keymaps/default/config.h
  keyboards/doro67/rgb/keymaps/default/keymap.c
  keyboards/doro67/rgb/keymaps/default/readme.md
  keyboards/doro67/rgb/readme.md
  keyboards/doro67/rgb/rgb.c
  keyboards/doro67/rgb/rgb.h
  keyboards/doro67/rgb/rules.mk
Labels: keyboard

#5676 Forgot to update the oled define usage for Zen rev2
  keyboards/zen/rev2/rev2.c
Labels: bug

#5678 Atreus rules.mk and readme
  keyboards/atreus/readme.md
  keyboards/atreus/rules.mk
Labels: keyboard

#5443 [Keyboard] Update handwired/frenchdev keyboard
  keyboards/handwired/frenchdev/config.h
  keyboards/handwired/frenchdev/frenchdev.c
  keyboards/handwired/frenchdev/frenchdev.h
  keyboards/handwired/frenchdev/i2cmaster.h
  keyboards/handwired/frenchdev/keymaps/default/keymap.c
  keyboards/handwired/frenchdev/matrix.c
  keyboards/handwired/frenchdev/rules.mk
  keyboards/handwired/frenchdev/twimaster.c
Labels: keyboard

#5300 Define RGB colors
  docs/feature_rgb_matrix.md
  docs/feature_rgblight.md
  quantum/rgb_matrix.h
  quantum/rgblight_list.h
Labels: core, enhancement

#4982 added info.json for ymd96
  keyboards/ymd96/info.json
  keyboards/ymd96/keymaps/default/keymap.c
  keyboards/ymd96/keymaps/epx/keymap.c
  keyboards/ymd96/keymaps/hgoel89/keymap.c
  keyboards/ymd96/ymd96.h
Labels: keyboard

#3615 Fix #3566 use an hardware timer for software PWM stability
  docs/feature_backlight.md
  quantum/quantum.c
  quantum/quantum.h
Labels: awaiting review, enhancement, optimization

#5602 RGB Matrix Animations: Three/six new reactive effects (wide, cross, nexus)
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
  quantum/rgb_matrix_animations/solid_reactive_cross.h
  quantum/rgb_matrix_animations/solid_reactive_nexus.h
  quantum/rgb_matrix_animations/solid_reactive_wide.h
Labels: core, documentation

#5623 fix LIB_SRC and QUANTUM_LIB_SRC for ARM(chibios)
  tmk_core/arm_atsam.mk
  tmk_core/avr.mk
  tmk_core/rules.mk
Labels: bug, core

#5611 Boston meetup 2019
  keyboards/boston_meetup/2019/2019.c
  keyboards/boston_meetup/2019/2019.h
  keyboards/boston_meetup/2019/config.h
  keyboards/boston_meetup/2019/info.json
  keyboards/boston_meetup/2019/keymaps/default/keymap.c
  keyboards/boston_meetup/2019/keymaps/default/readme.md
  keyboards/boston_meetup/2019/keymaps/readme.md
  keyboards/boston_meetup/2019/readme.md
  keyboards/boston_meetup/2019/rules.mk
  keyboards/boston_meetup/boston_meetup.c
  keyboards/boston_meetup/boston_meetup.h
  keyboards/boston_meetup/config.h
  keyboards/boston_meetup/readme.md
  keyboards/boston_meetup/rules.mk
Labels: keyboard

#5686 Fix my userspace RGB bug
  users/mechmerlin/changelog.md
  users/mechmerlin/config.h
Labels: bug

#5693 Translate docs into Chinese
  docs/zh-cn/README.md
  docs/zh-cn/_summary.md
Labels: documentation

#5698 Planck EZ: Invert red an green leds location
  keyboards/planck/ez/ez.c
Labels: core, keyboard

#5684 Forgot to omit k05 from the electrical matrix in hhkb layout
  keyboards/exclusive/e6v2/bmc/bmc.h
Labels: bug, keyboard

#5689 Signum 3.0 Fix broken Shift-Insert binding
  keyboards/signum/3_0/elitec/keymaps/default/keymap.c
  keyboards/signum/3_0/elitec/keymaps/default/layout.py
Labels: keyboard

#5692 [FIX] Misspelled RGB_YELLOW
  quantum/rgblight_list.h
Labels: bug

#5696 keymap update (mouse emulation, rev 6 compatibility)
  keyboards/planck/keymaps/callum/config.h
  keyboards/planck/keymaps/callum/keymap.c
  keyboards/planck/keymaps/callum/rules.mk
Labels: keymap

#5582 Refactor cospad to current standards and enable support for backlight keycodes
  keyboards/cospad/config.h
  keyboards/cospad/cospad.c
  keyboards/cospad/cospad.h
  keyboards/cospad/info.json
  keyboards/cospad/keymaps/default/keymap.c
  keyboards/cospad/rules.mk
Labels: keyboard

#5694 FIX rgblight.c split sync bug
  quantum/rgblight.c
Labels: bug, core

#5685 Add a new keyboard ADKB96
  keyboards/adkb96/adkb96.c
  keyboards/adkb96/adkb96.h
  keyboards/adkb96/config.h
  keyboards/adkb96/info.json
  keyboards/adkb96/keymaps/default/config.h
  keyboards/adkb96/keymaps/default/keymap.c
  keyboards/adkb96/readme.md
  keyboards/adkb96/rev1/config.h
  keyboards/adkb96/rev1/rev1.c
  keyboards/adkb96/rev1/rev1.h
  keyboards/adkb96/rules.mk
Labels: keyboard

#5710 DZ60RGB: update rule.mk
  keyboards/dztech/dz60rgb/rules.mk
Labels: keyboard

#5715 jotix ortho_4x12 keymap tweakings
  layouts/community/ortho_4x12/jotix/keymap.c
  layouts/community/ortho_4x12/jotix/readme.md
Labels: keymap

#5707 Fix wakeup function on ChibiOS
  tmk_core/common/chibios/suspend.c
Labels: bug, core

#5709 Eagle/Viper V2 Cleanups
  keyboards/duck/eagle_viper/readme.md
  keyboards/duck/eagle_viper/v2/matrix.c
  keyboards/duck/eagle_viper/v2/readme.md
Labels: keyboard, optimization

#5703 [Keyboard] Update Gergo to use newer Ergodox Matrix code
  keyboards/gergo/gergo.c
  keyboards/gergo/gergo.h
  keyboards/gergo/i2cmaster.h
  keyboards/gergo/info.json
  keyboards/gergo/keymaps/default/config.h
  keyboards/gergo/keymaps/default/keymap.c
  keyboards/gergo/keymaps/drashna/keymap.c
  keyboards/gergo/keymaps/drashna/rules.mk
  keyboards/gergo/keymaps/germ/config.h
  keyboards/gergo/keymaps/germ/keymap.c
  keyboards/gergo/matrix.c
  keyboards/gergo/rules.mk
Labels: enhancement, keyboard

#5724 Fix sendstring "#" producing "£" instead
  quantum/keymap_extras/sendstring_uk.h
Labels: bug

#5191 A better new_project.sh
  docs/hand_wire.md
  docs/hardware_avr.md
  docs/porting_your_keyboard_to_qmk_(arm_and_other_chibios_cpus).md
  util/new_keyboard.sh
  util/new_project.sh
Labels: documentation, enhancement

#5706 Added compatibility for Planck rev6
  keyboards/handwired/promethium/keymaps/default/keymap.c
  keyboards/handwired/promethium/keymaps/priyadi/keymap.c
  keyboards/planck/keymaps/priyadi/config.h
  keyboards/planck/keymaps/priyadi/rules.mk
Labels: keymap

#5708 dz60 keymap w/ hhkb-esque default layer
  keyboards/dz60/keymaps/zepol_layout/keymap.c
Labels: keymap

#5658 Fix Planck and Preonic builds
  keyboards/planck/ez/rules.mk
  keyboards/planck/light/rules.mk
  keyboards/planck/readme.md
  keyboards/planck/rev1/rules.mk
  keyboards/planck/rev2/rules.mk
  keyboards/planck/rev3/rules.mk
  keyboards/planck/rev4/rules.mk
  keyboards/planck/rev5/rules.mk
  keyboards/planck/rev6/rules.mk
  keyboards/planck/rules.mk
  keyboards/preonic/readme.md
  keyboards/preonic/rev1/rules.mk
  keyboards/preonic/rev2/rules.mk
  keyboards/preonic/rev3/rules.mk
  keyboards/preonic/rules.mk
Labels: keyboard

#5338 RGB Matrix: Custom effects on a kb/user level
  common_features.mk
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
Labels: awaiting review, core, documentation, enhancement

#5619 Per led (key) type rgb matrix effects - part 1
  docs/feature_rgb_matrix.md
  keyboards/boston_meetup/2019/2019.c
  keyboards/crkbd/rev1/rev1.c
  keyboards/doro67/rgb/rgb.c
  keyboards/dztech/dz40rgb/dz40rgb.c
  keyboards/dztech/dz40rgb/keymaps/default/keymap.c
  keyboards/dztech/dz40rgb/keymaps/split_space/keymap.c
  keyboards/dztech/dz60rgb/dz60rgb.c
  keyboards/dztech/dz60rgb/keymaps/ansi/keymap.c
  keyboards/dztech/dz60rgb/keymaps/hhkb/keymap.c
  keyboards/dztech/dz60rgb/keymaps/hhkb_iso/keymap.c
  keyboards/dztech/dz60rgb/keymaps/iso/keymap.c
  keyboards/dztech/dz60rgb/keymaps/mekanist/keymap.c
  keyboards/ergodox_ez/ergodox_ez.c
  keyboards/exclusive/e6_rgb/e6_rgb.c
  keyboards/hadron/ver3/ver3.c
  keyboards/hs60/v1/v1.c
  keyboards/massdrop/alt/config.h
  keyboards/massdrop/alt/config_led.c
  keyboards/massdrop/alt/keymaps/abishalom/keymap.c
  keyboards/massdrop/alt/keymaps/default/keymap.c
  keyboards/massdrop/alt/keymaps/mac/keymap.c
  keyboards/massdrop/ctrl/config.h
  keyboards/massdrop/ctrl/config_led.c
  keyboards/massdrop/ctrl/keymaps/default/keymap.c
  keyboards/massdrop/ctrl/keymaps/mac/keymap.c
  keyboards/model01/leds.c
  keyboards/planck/ez/ez.c
  keyboards/planck/keymaps/tom/keymap.c
  keyboards/planck/light/light.c
  keyboards/sol/rev1/rev1.c
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/keymap.c
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
  quantum/rgb_matrix_animations/alpha_mods_anim.h
  quantum/rgb_matrix_animations/breathing_anim.h
  quantum/rgb_matrix_animations/cycle_all_anim.h
  quantum/rgb_matrix_animations/cycle_left_right_anim.h
  quantum/rgb_matrix_animations/cycle_up_down_anim.h
  quantum/rgb_matrix_animations/dual_beacon_anim.h
  quantum/rgb_matrix_animations/gradient_up_down_anim.h
  quantum/rgb_matrix_animations/jellybean_raindrops_anim.h
  quantum/rgb_matrix_animations/rainbow_beacon_anim.h
  quantum/rgb_matrix_animations/rainbow_moving_chevron_anim.h
  quantum/rgb_matrix_animations/rainbow_pinwheels_anim.h
  quantum/rgb_matrix_animations/raindrops_anim.h
  quantum/rgb_matrix_animations/solid_color_anim.h
  quantum/rgb_matrix_animations/solid_reactive_anim.h
  quantum/rgb_matrix_animations/solid_reactive_cross.h
  quantum/rgb_matrix_animations/solid_reactive_nexus.h
  quantum/rgb_matrix_animations/solid_reactive_simple_anim.h
  quantum/rgb_matrix_animations/solid_reactive_wide.h
  quantum/rgb_matrix_animations/solid_splash_anim.h
  quantum/rgb_matrix_animations/splash_anim.h
  quantum/rgb_matrix_types.h
  tmk_core/protocol/arm_atsam/led_matrix.c
Labels: core, enhancement

#5729 Adding ortho_4x12 & planck_mit layouts for KBD4X.
  keyboards/kbdfans/kbd4x/kbd4x.h
  keyboards/kbdfans/kbd4x/rules.mk
Labels: keyboard

#5598 Change lib8tion library to be usable in user keymaps
  lib/lib8tion/trig8.h
Labels: enhancement

#5670 Removed forced in lining for lib8tion functions
  lib/lib8tion/lib8tion.h
Labels: optimization

#5277 Simple extended space cadet
  common_features.mk
  docs/_summary.md
  docs/feature_space_cadet.md
  docs/feature_space_cadet_shift.md
  docs/feature_space_cadet_shift_enter.md
  quantum/process_keycode/process_space_cadet.c
  quantum/process_keycode/process_space_cadet.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
Labels: core, enhancement, optimization

#5687 Signum 3.0 Fix key order in layout
  keyboards/signum/3_0/elitec/info.json
Labels: keyboard

#5738 Implement kb function for rgb matrix to led lookup
  keyboards/sol/sol.c
  quantum/rgb_matrix.c
Labels: core, enhancement

#5734 [Keymap] Add motform planck keymap (swedish colemak)
  keyboards/planck/keymaps/motform/config.h
  keyboards/planck/keymaps/motform/keymap.c
  keyboards/planck/keymaps/motform/readme.md
  keyboards/planck/keymaps/motform/rules.mk
Labels: keymap

#5742 🐮🥛 Butterstick Support 🥛🐮
  keyboards/butterstick/butterstick.c
  keyboards/butterstick/butterstick.h
  keyboards/butterstick/config.h
  keyboards/butterstick/keymaps/default/keymap.c
  keyboards/butterstick/keymaps/default/rules.mk
  keyboards/butterstick/readme.md
  keyboards/butterstick/rules.mk
  keyboards/butterstick/sten.c
  keyboards/butterstick/sten.h
Labels: keyboard

#5741 Ignore VSCode's Precompiled Headers folder
  .gitignore
Labels: optimization

#5736 readme clarification
  keyboards/doro67/multi/keymaps/default/readme.md
  keyboards/doro67/multi/keymaps/default_iso/readme.md
  keyboards/doro67/multi/keymaps/default_multi/readme.md
  keyboards/doro67/multi/readme.md
  keyboards/doro67/regular/keymaps/default/readme.md
  keyboards/doro67/regular/readme.md
  keyboards/doro67/rgb/keymaps/default/readme.md
  keyboards/doro67/rgb/readme.md
Labels: documentation, keyboard
