Repository qmk/qmk_firmware, pull requests merged in 2019-07, with the labels that each got.

#6216 Corrected Tanuki keymap to match physical appearance
  keyboards/tanuki/config.h
  keyboards/tanuki/keymaps/default/keymap.c
  keyboards/tanuki/tanuki.h
Labels: keyboard

#6217 Add personal keymaps
  keyboards/kbdfans/kbd67/rev2/keymaps/tucznak/config.h
  keyboards/kbdfans/kbd67/rev2/keymaps/tucznak/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/tucznak/readme.md
  keyboards/kbdfans/kbd67/rev2/keymaps/tucznak/rules.mk
  keyboards/kbdfans/kbd75/keymaps/tucznak/config.h
  keyboards/kbdfans/kbd75/keymaps/tucznak/keymap.c
  keyboards/kbdfans/kbd75/keymaps/tucznak/readme.md
  keyboards/kbdfans/kbd75/keymaps/tucznak/rules.mk
  keyboards/niu_mini/keymaps/tucznak/config.h
  keyboards/niu_mini/keymaps/tucznak/keymap.c
  keyboards/niu_mini/keymaps/tucznak/readme.md
  keyboards/niu_mini/keymaps/tucznak/rules.mk
Labels: keymap

#6210 add support for the RoPro Keyboard
  keyboards/ropro/config.h
  keyboards/ropro/info.json
  keyboards/ropro/keymaps/default/keymap.c
  keyboards/ropro/keymaps/default/readme.md
  keyboards/ropro/readme.md
  keyboards/ropro/ropro.c
  keyboards/ropro/ropro.h
  keyboards/ropro/rules.mk
Labels: keyboard

#6207 Otaku split
  keyboards/otaku_split/rev0/config.h
  keyboards/otaku_split/rev0/info.json
  keyboards/otaku_split/rev0/keymaps/default/config.h
  keyboards/otaku_split/rev0/keymaps/default/keymap.c
  keyboards/otaku_split/rev0/keymaps/default/readme.md
  keyboards/otaku_split/rev0/keymaps/sample/config.h
  keyboards/otaku_split/rev0/keymaps/sample/keymap.c
  keyboards/otaku_split/rev0/keymaps/sample/readme.md
  keyboards/otaku_split/rev0/readme.md
  keyboards/otaku_split/rev0/rev0.c
  keyboards/otaku_split/rev0/rev0.h
  keyboards/otaku_split/rev0/rules.mk
  keyboards/otaku_split/rev1/config.h
  keyboards/otaku_split/rev1/info.json
  keyboards/otaku_split/rev1/keymaps/default/config.h
  keyboards/otaku_split/rev1/keymaps/default/keymap.c
  keyboards/otaku_split/rev1/keymaps/default/readme.md
  keyboards/otaku_split/rev1/keymaps/sample/config.h
  keyboards/otaku_split/rev1/keymaps/sample/keymap.c
  keyboards/otaku_split/rev1/keymaps/sample/readme.md
  keyboards/otaku_split/rev1/readme.md
  keyboards/otaku_split/rev1/rev1.c
  keyboards/otaku_split/rev1/rev1.h
  keyboards/otaku_split/rev1/rules.mk
Labels: keyboard

#6138 Add meishi2 keyboard
  keyboards/meishi2/config.h
  keyboards/meishi2/info.json
  keyboards/meishi2/keymaps/default/config.h
  keyboards/meishi2/keymaps/default/keymap.c
  keyboards/meishi2/keymaps/default/readme.md
  keyboards/meishi2/meishi2.c
  keyboards/meishi2/meishi2.h
  keyboards/meishi2/readme.md
  keyboards/meishi2/rules.mk
Labels: awaiting changes, keyboard

#6230 Remove empty led_set_kb() from crkbd/rev1
  keyboards/crkbd/rev1/rev1.c
Labels: keyboard

#6225 snowkuma Planck keymap
  keyboards/planck/keymaps/snowkuma/config.h
  keyboards/planck/keymaps/snowkuma/custom_keycodes.h
  keyboards/planck/keymaps/snowkuma/keymap.c
  keyboards/planck/keymaps/snowkuma/my_strings.h
  keyboards/planck/keymaps/snowkuma/readme.md
  keyboards/planck/keymaps/snowkuma/rules.mk
Labels: keymap

#6228 Replaced xxxxxxx by XXXXXXX to fix build breakage (Minivan/budi)
  keyboards/thevankeyboards/minivan/keymaps/budi/keymap.c
Labels: keymap

#6232 GH60 Configurator updates and modernization
  keyboards/gh60/gh60.c
  keyboards/gh60/gh60.h
  keyboards/gh60/info.json
  keyboards/gh60/keymaps/default/keymap.c
  keyboards/gh60/readme.md
Labels: keyboard

#6235 Add DZ60 layout that supports a hybrid hhkb layout
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/mpaarating/keymap.c
  keyboards/dz60/keymaps/mpaarating/readme.md
Labels: keyboard, keymap

#6236 Update catalog link in the TheVanKeyboards/Minivan Readme.
  keyboards/thevankeyboards/minivan/readme.md
Labels: documentation, keyboard

#6189 fix info.json for omnikeyish keyboards
  keyboards/omnikeyish/info.json
  keyboards/omnikeyish/omnikeyish.h
Labels: keyboard

#6243 fix unselect_rows() in quantum/matrix.c
  quantum/matrix.c
Labels: bug, core

#6221 Fixed K32 and K34 inversion for command and arrow_command layouts (fix #6219)
  keyboards/thevankeyboards/minivan/minivan.h
Labels: keyboard

#6240 GH60 ISO Configurator bugfix
  keyboards/gh60/info.json
Labels: bug, keyboard

#6251 linux_install.sh fix for openSUSE Leap 15.1
  util/linux_install.sh
Labels: bug, enhancement

#6249 New Keyboard: TGR x SINGA Unikorn 60
  keyboards/unikorn/config.h
  keyboards/unikorn/info.json
  keyboards/unikorn/keymaps/default/config.h
  keyboards/unikorn/keymaps/default/keymap.c
  keyboards/unikorn/keymaps/default/readme.md
  keyboards/unikorn/keymaps/default/rules.mk
  keyboards/unikorn/readme.md
  keyboards/unikorn/rules.mk
  keyboards/unikorn/unikorn.c
  keyboards/unikorn/unikorn.h
  keyboards/unikorn/usbconfig.h
Labels: keyboard

#6256 Add makefile rules to .editorconfig
  .editorconfig
Labels: enhancement

#6252 New Keymap: 40percentclub Gherkin "useful" keymap and RGB configuration
  keyboards/40percentclub/gherkin/keymaps/michel/config.h
  keyboards/40percentclub/gherkin/keymaps/michel/keymap.c
  keyboards/40percentclub/gherkin/keymaps/michel/rules.mk
Labels: keymap

#6271 My personal keymap for the Iris Rev3
  keyboards/keebio/iris/keymaps/osiris/config.h
  keyboards/keebio/iris/keymaps/osiris/keymap.c
  keyboards/keebio/iris/keymaps/osiris/readme.md
  keyboards/keebio/iris/keymaps/osiris/rules.mk
Labels: keymap

#6254 Noxary 268.2 update
  keyboards/noxary/268_2/268_2.c
  keyboards/noxary/268_2/268_2.h
  keyboards/noxary/268_2/config.h
  keyboards/noxary/268_2/info.json
  keyboards/noxary/268_2/keymaps/default/keymap.c
  keyboards/noxary/268_2/readme.md
  keyboards/noxary/268_2/rules.mk
Labels: keyboard

#6250 keymap for idobo
  keyboards/idobo/keymaps/greenshadowmaker/keyboard-layout-editor-gsm-idobo.json
  keyboards/idobo/keymaps/greenshadowmaker/keymap.c
  keyboards/idobo/keymaps/greenshadowmaker/readme.md
Labels: keymap

#5866 Added Space Cadet modifer carry over
  docs/feature_space_cadet.md
  quantum/process_keycode/process_space_cadet.c
Labels: core, enhancement

#6270 Fix chibios so the dfu-suffix is only applied once.
  tmk_core/chibios.mk
  tmk_core/rules.mk
Labels: bug, core

#6276 Updated OLED Docs with notes about screen timeout.
  docs/feature_oled_driver.md
Labels: documentation

#6281 Add crkbd/vxid keymap
  keyboards/crkbd/keymaps/vxid/README.md
  keyboards/crkbd/keymaps/vxid/config.h
  keyboards/crkbd/keymaps/vxid/keymap.c
  keyboards/crkbd/keymaps/vxid/rules.mk
Labels: keymap

#6261 Added my own keymap folder
  keyboards/keebio/iris/keymaps/jasonkrasavage/config.h
  keyboards/keebio/iris/keymaps/jasonkrasavage/keymap.c
  keyboards/keebio/iris/keymaps/jasonkrasavage/rules.mk
Labels: keymap

#6280 Add copyright year placeholders to new keyboard script
  quantum/template/avr/config.h
  quantum/template/avr/template.c
  quantum/template/base/keymaps/default/config.h
  quantum/template/base/keymaps/default/keymap.c
  quantum/template/base/template.h
  quantum/template/ps2avrgb/config.h
  quantum/template/ps2avrgb/rules.mk
  quantum/template/ps2avrgb/template.c
  quantum/template/ps2avrgb/usbconfig.h
  util/new_keyboard.sh
Labels: enhancement

#6285 Omnikeyish: fix LAYOUT_101 macro
  keyboards/omnikeyish/keymaps/default_101/keymap.c
  keyboards/omnikeyish/omnikeyish.h
Labels: keyboard

#6289 Espectro: add LAYOUT_split_bs_joined_right data to QMK Configurator
  keyboards/espectro/info.json
Labels: keyboard

#5617 Use QUANTUM_LIB_SRC for i2c_master.c inclusion
  common_features.mk
  drivers/qwiic/qwiic.mk
  keyboards/ergodox_ez/rules.mk
  keyboards/model01/rules.mk
Labels: core, optimization

#6263 [Keyboard] Add G35
  keyboards/mechllama/g35/config.h
  keyboards/mechllama/g35/g35.c
  keyboards/mechllama/g35/g35.h
  keyboards/mechllama/g35/info.json
  keyboards/mechllama/g35/keymaps/default/keymap.c
  keyboards/mechllama/g35/keymaps/default/readme.md
  keyboards/mechllama/g35/readme.md
  keyboards/mechllama/g35/rules.mk
  keyboards/mechllama/g35/v1/config.h
  keyboards/mechllama/g35/v1/rules.mk
  keyboards/mechllama/g35/v2/config.h
  keyboards/mechllama/g35/v2/rules.mk
Labels: keyboard

#6081 Fix debouncing issue for eager algorithms
  quantum/debounce/eager_pk.c
  quantum/debounce/eager_pr.c
Labels: bug, core

#5021 Fix parentheses in macros, and in general clean up quantum.h
  quantum/quantum.h
Labels: core, enhancement

#4871 LUFA USB descriptor cleanup
  docs/ChangeLog/20190830/PR4871.md
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/usb_descriptor.h
Labels: awaiting review, breaking_change, core, documentation, optimization

#6198 Language Keymap extras backport from ZSA fork
  docs/ChangeLog/20190830/PR6198.md
  quantum/keymap_extras/keymap_br_abnt2.h
  quantum/keymap_extras/keymap_swedish.h
Labels: breaking_change, enhancement

#6227 Reduce compiled size of handwired Promethium keyboard
  keyboards/handwired/promethium/rules.mk
Labels: keyboard

#6293 Enforce clang-format
  util/linux_install.sh
  util/macos_install.sh
  util/msys2_install.sh
  util/travis_compiled_push.sh
Labels: breaking_change

#6296 Add new files to the list of files that are formatted.
  util/travis_compiled_push.sh
Labels: breaking_change

#6303 Fix typo in util/linux_install.sh Gentoo docstring.
  util/linux_install.sh
Labels: documentation

#6292 Add personal KBD67 keymap
  keyboards/kbdfans/kbd67/hotswap/keymaps/stevanmilic/config.h
  keyboards/kbdfans/kbd67/hotswap/keymaps/stevanmilic/keymap.c
  keyboards/kbdfans/kbd67/hotswap/keymaps/stevanmilic/rules.mk
Labels: keymap

#6275 Fixing effects to respect user sat and val levels
  quantum/rgb_matrix_animations/colorband_pinwheel_sat_anim.h
  quantum/rgb_matrix_animations/colorband_pinwheel_val_anim.h
  quantum/rgb_matrix_animations/colorband_sat_anim.h
  quantum/rgb_matrix_animations/colorband_spiral_sat_anim.h
  quantum/rgb_matrix_animations/colorband_spiral_val_anim.h
  quantum/rgb_matrix_animations/colorband_val_anim.h
Labels: bug

#6282 [keyboard] added my handwired keyboard
  keyboards/handwired/wulkan/README.md
  keyboards/handwired/wulkan/config.h
  keyboards/handwired/wulkan/info.json
  keyboards/handwired/wulkan/keymaps/default/keymap.c
  keyboards/handwired/wulkan/keymaps/default/rules.mk
  keyboards/handwired/wulkan/rules.mk
  keyboards/handwired/wulkan/wulkan.c
  keyboards/handwired/wulkan/wulkan.h
Labels: keyboard

#6283 Balance Twelve / Steno Keymap for Planck
  keyboards/planck/keymaps/yttyx/config.h
  keyboards/planck/keymaps/yttyx/keymap.c
  keyboards/planck/keymaps/yttyx/readme.md
  keyboards/planck/keymaps/yttyx/rules.mk
Labels: keymap

#6286 Clarify the rules.mk setup for Unicode
  docs/feature_unicode.md
Labels: documentation

#6306 Update Felix keyboard
  keyboards/felix/config.h
  keyboards/felix/felix.h
  keyboards/felix/info.json
  keyboards/felix/keymaps/default/keymap.c
  keyboards/felix/readme.md
  keyboards/felix/rules.mk
Labels: keyboard, optimization

#6307 Display firmware size percentage
  message.mk
  tmk_core/rules.mk
Labels: core, enhancement

#6287 Adding KeyHive Maypad
  keyboards/keyhive/maypad/config.h
  keyboards/keyhive/maypad/info.json
  keyboards/keyhive/maypad/keymaps/default/config.h
  keyboards/keyhive/maypad/keymaps/default/keymap.c
  keyboards/keyhive/maypad/keymaps/default/readme.md
  keyboards/keyhive/maypad/maypad.c
  keyboards/keyhive/maypad/maypad.h
  keyboards/keyhive/maypad/readme.md
  keyboards/keyhive/maypad/rules.mk
Labels: keyboard

#6310 Switch version incrementing to the command put together by @noroadsleft.
  util/travis_compiled_push.sh
Labels: bug, enhancement

#6311 Fixed maypad layout
  keyboards/keyhive/maypad/keymaps/default/keymap.c
  keyboards/keyhive/maypad/maypad.h
Labels: bug, keyboard

#5933 Switching rgb_config_t to use the HSV struct
  keyboards/dztech/dz60rgb/keymaps/matthewrobo/keymap.c
  keyboards/massdrop/ctrl/keymaps/matthewrobo/keymap.c
  quantum/rgb_matrix.c
  quantum/rgb_matrix_animations/alpha_mods_anim.h
  quantum/rgb_matrix_animations/breathing_anim.h
  quantum/rgb_matrix_animations/colorband_pinwheel_sat_anim.h
  quantum/rgb_matrix_animations/colorband_pinwheel_val_anim.h
  quantum/rgb_matrix_animations/colorband_sat_anim.h
  quantum/rgb_matrix_animations/colorband_spiral_sat_anim.h
  quantum/rgb_matrix_animations/colorband_spiral_val_anim.h
  quantum/rgb_matrix_animations/colorband_val_anim.h
  quantum/rgb_matrix_animations/cycle_all_anim.h
  quantum/rgb_matrix_animations/cycle_left_right_anim.h
  quantum/rgb_matrix_animations/cycle_out_in_anim.h
  quantum/rgb_matrix_animations/cycle_out_in_dual_anim.h
  quantum/rgb_matrix_animations/cycle_pinwheel_anim.h
  quantum/rgb_matrix_animations/cycle_spiral_anim.h
  quantum/rgb_matrix_animations/cycle_up_down_anim.h
  quantum/rgb_matrix_animations/dual_beacon_anim.h
  quantum/rgb_matrix_animations/gradient_up_down_anim.h
  quantum/rgb_matrix_animations/jellybean_raindrops_anim.h
  quantum/rgb_matrix_animations/rainbow_beacon_anim.h
  quantum/rgb_matrix_animations/rainbow_moving_chevron_anim.h
  quantum/rgb_matrix_animations/rainbow_pinwheels_anim.h
  quantum/rgb_matrix_animations/raindrops_anim.h
  quantum/rgb_matrix_animations/solid_color_anim.h
  quantum/rgb_matrix_animations/solid_reactive_anim.h
  quantum/rgb_matrix_animations/solid_reactive_cross.h
  quantum/rgb_matrix_animations/solid_reactive_nexus.h
  quantum/rgb_matrix_animations/solid_reactive_simple_anim.h
  quantum/rgb_matrix_animations/solid_reactive_wide.h
  quantum/rgb_matrix_animations/solid_splash_anim.h
  quantum/rgb_matrix_animations/splash_anim.h
  quantum/rgb_matrix_animations/typing_heatmap_anim.h
  quantum/rgb_matrix_runners/effect_runner_dx_dy.h
  quantum/rgb_matrix_runners/effect_runner_dx_dy_dist.h
  quantum/rgb_matrix_runners/effect_runner_i.h
  quantum/rgb_matrix_runners/effect_runner_reactive.h
  quantum/rgb_matrix_runners/effect_runner_reactive_splash.h
  quantum/rgb_matrix_runners/effect_runner_sin_cos_i.h
  quantum/rgb_matrix_types.h
  users/xulkal/custom_oled.c
Labels: core, enhancement, optimization

#6315 Have clang ignore the code in bootloader_size.c
  tmk_core/common/avr/bootloader_size.c
Labels: breaking_change

#6323 switch backspace and backslash, updated readme
  keyboards/dz60/keymaps/billiams/keymap.c
  keyboards/dz60/keymaps/billiams/readme.md
Labels: keymap

#6211 Added IVY macropad config info and files
  keyboards/ivy/config.h
  keyboards/ivy/ivy.c
  keyboards/ivy/ivy.h
  keyboards/ivy/keymaps/default/keymap.c
  keyboards/ivy/keymaps/default/rules.mk
  keyboards/ivy/readme.md
  keyboards/ivy/rev1/config.h
  keyboards/ivy/rev1/rev1.c
  keyboards/ivy/rev1/rev1.h
  keyboards/ivy/rev1/rules.mk
  keyboards/ivy/rules.mk
Labels: keyboard

#6322 [Keyboard] [bface] My custom layout
  keyboards/winkeyless/bface/keymaps/p3lim/README.md
  keyboards/winkeyless/bface/keymaps/p3lim/keymap.c
Labels: keymap

#6313 define new keyboard "angel64"
  keyboards/angel64/angel64.c
  keyboards/angel64/angel64.h
  keyboards/angel64/config.h
  keyboards/angel64/info.json
  keyboards/angel64/keymaps/default/config.h
  keyboards/angel64/keymaps/default/keymap.c
  keyboards/angel64/keymaps/default/readme.md
  keyboards/angel64/matrix.c
  keyboards/angel64/readme.md
  keyboards/angel64/rules.mk
Labels: keyboard

#6332 Add GPL3 header to avr i2c files
  drivers/avr/i2c_master.c
  drivers/avr/i2c_master.h
  drivers/avr/i2c_slave.c
  drivers/avr/i2c_slave.h
Labels: enhancement

#6338 [Keyboard] add macro pad "Shiro"
  keyboards/shiro/config.h
  keyboards/shiro/info.json
  keyboards/shiro/keymaps/check/config.h
  keyboards/shiro/keymaps/check/keymap.c
  keyboards/shiro/keymaps/check/readme.md
  keyboards/shiro/keymaps/default/config.h
  keyboards/shiro/keymaps/default/keymap.c
  keyboards/shiro/keymaps/default/readme.md
  keyboards/shiro/readme.md
  keyboards/shiro/rules.mk
  keyboards/shiro/shiro.c
  keyboards/shiro/shiro.h
Labels: keyboard

#6337 Add support for XD004 macro keyboard
  keyboards/readme.md
  keyboards/xd004/info.json
  keyboards/xd004/keymaps/default/keymap.c
  keyboards/xd004/keymaps/default/readme.md
  keyboards/xd004/keymaps/system_and_media/keymap.c
  keyboards/xd004/keymaps/system_and_media/readme.md
  keyboards/xd004/readme.md
  keyboards/xd004/v1/config.h
  keyboards/xd004/v1/rules.mk
  keyboards/xd004/xd004.c
  keyboards/xd004/xd004.h
  layouts/community/ortho_1x4/belgorath/keymap.c
  layouts/community/ortho_1x4/layout.json
Labels: keyboard

#6333 bface refactor
  keyboards/winkeyless/bface/README.md
  keyboards/winkeyless/bface/backlight_ps2avrGB.c
  keyboards/winkeyless/bface/backlight_ps2avrGB.h
  keyboards/winkeyless/bface/bface.c
  keyboards/winkeyless/bface/bface.h
  keyboards/winkeyless/bface/config.h
  keyboards/winkeyless/bface/i2c.c
  keyboards/winkeyless/bface/i2c.h
  keyboards/winkeyless/bface/matrix.c
  keyboards/winkeyless/bface/rules.mk
  keyboards/winkeyless/bface/usbconfig.h
Labels: keyboard

#6304 Usbasploader bootloader option addition
  bootloader.mk
  docs/config_options.md
  docs/flashing.md
  keyboards/gingham/rules.mk
  tmk_core/avr.mk
  tmk_core/common/avr/bootloader.c
Labels: core, documentation, enhancement

#5490 add 'objs-size' target into tmk_core/rules.mk
  build_keyboard.mk
  tmk_core/rules.mk
Labels: awaiting review, core, enhancement

#5564 Add user-overridable callback for cancelling UCIS input
  quantum/process_keycode/process_ucis.c
Labels: core, enhancement

#5636 Remove lock LED example in quantum.c
  quantum/quantum.c
Labels: core, enhancement

#5727 Sendstring LUT improvements
  quantum/keymap_extras/sendstring_belgian.h
  quantum/keymap_extras/sendstring_bepo.h
  quantum/keymap_extras/sendstring_colemak.h
  quantum/keymap_extras/sendstring_dvorak.h
  quantum/keymap_extras/sendstring_german.h
  quantum/keymap_extras/sendstring_jis.h
  quantum/keymap_extras/sendstring_norman.h
  quantum/keymap_extras/sendstring_spanish.h
  quantum/keymap_extras/sendstring_uk.h
  quantum/keymap_extras/sendstring_workman.h
  quantum/quantum.c
  quantum/quantum.h
Labels: bug, enhancement, optimization

#5765 Skip unsupported firmware check message in silent mode
  tmk_core/rules.mk
Labels: core, enhancement

#5802 [Docs] Add dedicated page for Split Keyboard information
  docs/_summary.md
  docs/feature_split_keyboard.md
  docs/features.md
Labels: documentation

#5830 Add sendstring LUTs for French keymap
  quantum/keymap_extras/sendstring_french.h
Labels: enhancement

#5840 Add out of bound check for Leader Key sequence array
  quantum/process_keycode/process_leader.c
Labels: bug

#5893 Enable Mousekeys on Corne Keyboard by default
  keyboards/crkbd/keymaps/default/rules.mk
  keyboards/crkbd/rules.mk
Labels: keyboard

#5913 Downgrade gcc-arm-embedded in shell.nix
  shell.nix
Labels: bug, enhancement

#5965 Adding rgb matrix speed into eeprom storage.
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
  tmk_core/common/eeconfig.c
  tmk_core/common/eeconfig.h
  users/xulkal/process_records.c
Labels: bug, core, enhancement, optimization

#6105 Store backlight breathing state in EEPROM
  quantum/quantum.c
  quantum/template/avr/config.h
  quantum/template/avr/rules.mk
  tmk_core/common/backlight.c
  tmk_core/common/backlight.h
Labels: bug, core, enhancement

#6194 Configure Vagrant to use qmk_base_container
  Vagrantfile
  docs/getting_started_vagrant.md
  util/vagrant/Dockerfile
  util/vagrant/readme.md
Labels: core, enhancement

#6199 Make Caps Lock delay more reasonable
  docs/config_options.md
  tmk_core/common/action.c
Labels: core, enhancement

#6255 Expand bootloader target to support most AVR boards
  lib/lufa/Bootloaders/DFU/makefile
  tmk_core/avr.mk
Labels: core, enhancement

#6262 Add ARM I2Cv1 support to i2c_master
  docs/i2c_driver.md
  drivers/arm/i2c_master.c
  drivers/arm/i2c_master.h
Labels: core, documentation, enhancement

#6265 Call led_set_user at the end of led_set_kb for Clueboard 2x1800 2019
  keyboards/clueboard/2x1800/2019/2019.c
Labels: bug, keyboard

#6314 Align ARM i2c_readReg with AVR
  drivers/arm/i2c_master.c
  drivers/arm/i2c_master.h
  keyboards/cannonkeys/satisfaction75/i2c_master.c
Labels: bug, optimization

#6318 Allow Combo feature to be enabled/disabled live
  docs/feature_combo.md
  quantum/process_keycode/process_combo.c
  quantum/process_keycode/process_combo.h
  quantum/quantum_keycodes.h
Labels: documentation, enhancement

#6342 Fix advanced keymap readme and macro function
  keyboards/xd004/keymaps/system_and_media/keymap.c
  keyboards/xd004/keymaps/system_and_media/readme.md
Labels: keymap

#6328 Remove the need to specify NUM_OF_ENCODERS for the Encoder feature
  docs/feature_encoders.md
  keyboards/abstract/ellipse/rev1/config.h
  keyboards/boston_meetup/2019/config.h
  keyboards/cannonkeys/ortho75/config.h
  keyboards/cannonkeys/satisfaction75/config.h
  keyboards/hadron/ver3/config.h
  keyboards/handwired/daishi/config.h
  keyboards/keebio/bdn9/config.h
  keyboards/keebio/iris/rev3/config.h
  keyboards/maxr1998/pulse4k/config.h
  keyboards/planck/ez/config.h
  keyboards/planck/rev6/config.h
  keyboards/preonic/rev3/config.h
  keyboards/rgbkb/sol/config.h
  keyboards/rgbkb/zen/rev2/config.h
  keyboards/rgbkb/zygomorph/rev1/config.h
  keyboards/ropro/config.h
  keyboards/tetris/config.h
  quantum/encoder.c
  quantum/split_common/transport.c
Labels: core, documentation, enhancement

#6347 Fix Preprocessor check for Leader Keys
  quantum/process_keycode/process_leader.c
Labels: bug

#6330 [Keyboard] Add keyboard Naked48
  keyboards/naked48/config.h
  keyboards/naked48/info.json
  keyboards/naked48/keymaps/default/config.h
  keyboards/naked48/keymaps/default/keymap.c
  keyboards/naked48/keymaps/default/readme.md
  keyboards/naked48/keymaps/default/rules.mk
  keyboards/naked48/keymaps/default_with_nafuda/config.h
  keyboards/naked48/keymaps/default_with_nafuda/keymap.c
  keyboards/naked48/keymaps/default_with_nafuda/readme.md
  keyboards/naked48/keymaps/default_with_nafuda/rules.mk
  keyboards/naked48/keymaps/default_with_setta21/config.h
  keyboards/naked48/keymaps/default_with_setta21/keymap.c
  keyboards/naked48/keymaps/default_with_setta21/readme.md
  keyboards/naked48/keymaps/default_with_setta21/rules.mk
  keyboards/naked48/keymaps/salicylic/config.h
  keyboards/naked48/keymaps/salicylic/keymap.c
  keyboards/naked48/keymaps/salicylic/readme.md
  keyboards/naked48/keymaps/salicylic/rules.mk
  keyboards/naked48/keymaps/salicylic_with_nafuda/config.h
  keyboards/naked48/keymaps/salicylic_with_nafuda/keymap.c
  keyboards/naked48/keymaps/salicylic_with_nafuda/readme.md
  keyboards/naked48/keymaps/salicylic_with_nafuda/rules.mk
  keyboards/naked48/keymaps/salicylic_with_setta21/config.h
  keyboards/naked48/keymaps/salicylic_with_setta21/keymap.c
  keyboards/naked48/keymaps/salicylic_with_setta21/readme.md
  keyboards/naked48/keymaps/salicylic_with_setta21/rules.mk
  keyboards/naked48/naked48.c
  keyboards/naked48/naked48.h
  keyboards/naked48/readme.md
  keyboards/naked48/rev1/config.h
  keyboards/naked48/rev1/matrix.c
  keyboards/naked48/rev1/rev1.c
  keyboards/naked48/rev1/rev1.h
  keyboards/naked48/rev1/rules.mk
  keyboards/naked48/rev1/serial_config.h
  keyboards/naked48/rev1/serial_config_simpleapi.h
  keyboards/naked48/rev1/split_scomm.c
  keyboards/naked48/rev1/split_scomm.h
  keyboards/naked48/rev1/split_util.c
  keyboards/naked48/rev1/split_util.h
  keyboards/naked48/rules.mk
  keyboards/naked48/serial.c
  keyboards/naked48/serial.h
Labels: keyboard

#6341 Remove more commented out MCUs
  keyboards/business_card/rules.mk
  keyboards/ivy/rules.mk
Labels: keyboard, optimization

#6345 Use led_set_kb instead of led_set_user in melody96.c
  keyboards/melody96/melody96.c
Labels: keyboard

#6346 Remove unnecessary IS_COMMAND definitions from a couple of boards
  keyboards/abstract/ellipse/rev1/config.h
  keyboards/halberd/config.h
  keyboards/kagamidget/config.h
  keyboards/nek_type_a/config.h
  keyboards/scythe/config.h
Labels: keyboard

#6349 Add model01 keymap. Change kinesis keymap.
  keyboards/kinesis/keymaps/tw1t611/keymap.c
  keyboards/kinesis/keymaps/tw1t611/readme.md
  keyboards/model01/keymaps/tw1t611/config.h
  keyboards/model01/keymaps/tw1t611/keymap.c
  keyboards/model01/keymaps/tw1t611/readme.md
Labels: keymap

#6351 Extend maximum number of backlight levels to 31
  docs/feature_backlight.md
  tmk_core/common/backlight.h
Labels: bug, core, keyboard

#6350 Add prime_e keymap
  keyboards/primekb/prime_e/keymaps/jetpacktuxedo/keymap.c
Labels: keymap

#6358 Correct backlight on state docs
  docs/feature_backlight.md
Labels: documentation

#6336 Add more layouts for the ergodash
  keyboards/ergodash/rev1/info.json
  keyboards/ergodash/rev1/rev1.h
Labels: keyboard

#6362 Add 6macro keyboard
  keyboards/handwired/6macro/6macro.c
  keyboards/handwired/6macro/6macro.h
  keyboards/handwired/6macro/config.h
  keyboards/handwired/6macro/info.json
  keyboards/handwired/6macro/keymaps/default/config.h
  keyboards/handwired/6macro/keymaps/default/keymap.c
  keyboards/handwired/6macro/keymaps/default/readme.md
  keyboards/handwired/6macro/keymaps/osu/config.h
  keyboards/handwired/6macro/keymaps/osu/keymap.c
  keyboards/handwired/6macro/keymaps/osu/readme.md
  keyboards/handwired/6macro/readme.md
  keyboards/handwired/6macro/rules.mk
Labels: keyboard

#6355 Jotix
  layouts/community/ortho_4x12/jotix/keymap.c
  layouts/community/ortho_4x12/jotix/readme.md
  layouts/community/ortho_4x12/jotix/rules.mk
  layouts/community/ortho_4x12/jotix/unicode.c
Labels: keymap

#5981 Print Screen and Pause placement swap
  keyboards/alf/x11/x11.h
Labels: keyboard

#6366 Singa readme fix
  keyboards/singa/readme.md
Labels: documentation

#6363 Change xprintf() calls in rgblight.c to dprintf()
  quantum/rgblight.c
Labels: core, enhancement

#6365 Melody96 Configurator updates and minor refactoring
  keyboards/melody96/config.h
  keyboards/melody96/info.json
  keyboards/melody96/keymaps/default_std60_split_num0/keymap.c
  keyboards/melody96/keymaps/default_std60_split_num0/readme.md
  keyboards/melody96/melody96.h
  keyboards/melody96/readme.md
Labels: enhancement, keyboard

#6360 [Docs] Clarify Zadig usage in FAQ Docs
  docs/faq_build.md
Labels: documentation

#6379 Fix Numbrero Handwired make example in readme
  keyboards/handwired/numbrero/readme.md
Labels: documentation, keyboard

#6264 Allow board to override split keyboard master check
  quantum/split_common/split_util.c
Labels: core, enhancement

#6348 Update IS_COMMAND definitions to use MOD_MASK_SHIFT
  docs/config_options.md
  docs/feature_command.md
  quantum/template/avr/config.h
  quantum/template/ps2avrgb/config.h
  tmk_core/common/command.h
Labels: core, documentation, enhancement

#6357 leds in default keymap
  keyboards/handwired/jotanck/keymaps/default/keymap.c
  keyboards/handwired/jotanck/readme.md
Labels: keymap

#6368 New "Keyboard": Grid 600 Type 05 "PRESS" Cover Module
  keyboards/grid600/press/config.h
  keyboards/grid600/press/info.json
  keyboards/grid600/press/keymaps/default/config.h
  keyboards/grid600/press/keymaps/default/keymap.c
  keyboards/grid600/press/keymaps/default/readme.md
  keyboards/grid600/press/press.c
  keyboards/grid600/press/press.h
  keyboards/grid600/press/readme.md
  keyboards/grid600/press/rules.mk
  keyboards/grid600/readme.md
Labels: keyboard

#6373 Refactor handwired/splittest to support multiple boards
  keyboards/handwired/splittest/config.h
  keyboards/handwired/splittest/promicro/config.h
  keyboards/handwired/splittest/promicro/readme.md
  keyboards/handwired/splittest/promicro/rules.mk
  keyboards/handwired/splittest/readme.md
  keyboards/handwired/splittest/rules.mk
  keyboards/handwired/splittest/teensy_2/config.h
  keyboards/handwired/splittest/teensy_2/readme.md
  keyboards/handwired/splittest/teensy_2/rules.mk
  keyboards/handwired/splittest/teensy_2/teensy_2.c
Labels: core, enhancement, keyboard

#6374 Add Colemak to existing fc660c keymap
  keyboards/fc660c/keymaps/siroleo/README.md
  keyboards/fc660c/keymaps/siroleo/keymap.c
Labels: keymap

#6375 Update space65.c to fix caps lock LED
  keyboards/gray_studio/space65/space65.c
Labels: bug, keyboard

#6381 Snagpad Configurator bugfix and readme refactor
  keyboards/snagpad/info.json
  keyboards/snagpad/readme.md
  keyboards/snagpad/snagpad.h
Labels: bug, documentation, keyboard

#6387 Fix QMK Configurator bug with Wilba Tech Zeal60 LAYOUT_60_all
  keyboards/wilba_tech/zeal60/info.json
Labels: bug, keyboard

#6372 [Layout] KBP V60 Type R Added ISO default
  keyboards/v60_type_r/info.json
  keyboards/v60_type_r/keymaps/iso/config.h
  keyboards/v60_type_r/keymaps/iso/keymap.c
  keyboards/v60_type_r/keymaps/iso/readme.md
  keyboards/v60_type_r/keymaps/iso/rules.mk
  keyboards/v60_type_r/rules.mk
  keyboards/v60_type_r/v60_type_r.h
Labels: keyboard

#6383 Backport two fixes from TMK: usb-usb converter
  keyboards/converter/usb_usb/custom_matrix.cpp
Labels: keyboard

#6385 Switch Iris keymap from workman to colemak
  keyboards/keebio/iris/keymaps/osiris/keymap.c
  keyboards/keebio/iris/keymaps/osiris/readme.md
  keyboards/keebio/iris/keymaps/osiris/rules.mk
Labels: keymap

#6388 [Keymap] Update keymap for keebio/quefrency 65% version
  keyboards/keebio/quefrency/keymaps/georgepetri/config.h
  keyboards/keebio/quefrency/keymaps/georgepetri/keymap.c
  keyboards/keebio/quefrency/keymaps/georgepetri/readme.md
  keyboards/keebio/quefrency/keymaps/georgepetri/rules.mk
Labels: keymap

#6390 Keyboard Layout: Unikorn 60 tsangan_hhkb layout
  keyboards/unikorn/info.json
  keyboards/unikorn/keymaps/default/config.h
  keyboards/unikorn/keymaps/default/keymap.c
  keyboards/unikorn/keymaps/default/readme.md
  keyboards/unikorn/keymaps/default/rules.mk
  keyboards/unikorn/keymaps/tsangan/keymap.c
  keyboards/unikorn/unikorn.h
Labels: keyboard

#6378 New Keyboard: ZJ68
  keyboards/zj68/config.h
  keyboards/zj68/info.json
  keyboards/zj68/keymaps/default/keymap.c
  keyboards/zj68/keymaps/default/readme.md
  keyboards/zj68/keymaps/splitbs/keymap.c
  keyboards/zj68/keymaps/splitbs/readme.md
  keyboards/zj68/readme.md
  keyboards/zj68/rules.mk
  keyboards/zj68/zj68.c
  keyboards/zj68/zj68.h
Labels: keyboard

#6384 Adding personal keymaps
  keyboards/tanuki/keymaps/tucznak/config.h
  keyboards/tanuki/keymaps/tucznak/keymap.c
  keyboards/tanuki/keymaps/tucznak/readme.md
  keyboards/tanuki/keymaps/tucznak/rules.mk
  keyboards/ut472/keymaps/tucznak/config.h
  keyboards/ut472/keymaps/tucznak/keymap.c
  keyboards/ut472/keymaps/tucznak/readme.md
  keyboards/ut472/keymaps/tucznak/rules.mk
Labels: keymap

#6128 [Keymap] Drashna's Feature madness
  keyboards/crkbd/keymaps/drashna/config.h
  keyboards/crkbd/keymaps/drashna/keymap.c
  keyboards/crkbd/keymaps/drashna/rules.mk
  keyboards/gergo/keymaps/drashna/keymap.c
  keyboards/keebio/iris/keymaps/drashna/config.h
  keyboards/keebio/iris/keymaps/drashna/keymap.c
  keyboards/keebio/iris/keymaps/drashna/rules.mk
  keyboards/orthodox/keymaps/drashna/keymap.c
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ergodox/drashna/rules.mk
  layouts/community/ergodox/drashna_glow/config.h
  layouts/community/ergodox/drashna_glow/rules.mk
  layouts/community/numpad_5x6/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/config.h
  layouts/community/ortho_4x12/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/rules.mk
  layouts/community/ortho_5x12/drashna/config.h
  layouts/community/ortho_5x12/drashna/keymap.c
  layouts/community/ortho_5x12/drashna/rules.mk
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/drashna.h
  users/drashna/process_records.c
  users/drashna/process_records.h
  users/drashna/readme.md
  users/drashna/readme_handlers.md
  users/drashna/readme_keycodes.md
  users/drashna/readme_rgb.md
  users/drashna/readme_secrets.md
  users/drashna/readme_tap_dance.md
  users/drashna/readme_wrappers.md
  users/drashna/rgb_stuff.c
  users/drashna/rgb_stuff.h
  users/drashna/rules.mk
  users/drashna/send_unicode.h
  users/drashna/tap_dances.c
  users/drashna/tap_dances.h
  users/drashna/wrappers.h
Labels: keymap

#5400 Add support for TAP_CODE_DELAY to Hold-Tap keys
  tmk_core/common/action.c
Labels: core, enhancement

#6393 Update Unikorn 60 Readme
  keyboards/unikorn/readme.md
Labels: documentation

#6371 [Keyboard] Align Planck EZ config with ZSA/Ergodox config
  keyboards/planck/ez/config.h
Labels: keyboard

#4917 Added wsturgiss keymap for mechmini2
  keyboards/mechmini/v2/keymaps/wsturgiss/config.h
  keyboards/mechmini/v2/keymaps/wsturgiss/keymap.c
  keyboards/mechmini/v2/keymaps/wsturgiss/rules.mk
Labels: awaiting changes, keymap

#6049 Jarred's Plaid keymap
  keyboards/planck/keymaps/jarred/keymap.c
  keyboards/planck/keymaps/jarred/readme.md
  layouts/community/ortho_4x12/jarred/keymap.c
  layouts/community/ortho_4x12/jarred/readme.md
  users/jarred/jarred.h
  users/jarred/readme.md
Labels: keymap

#6397 Add QMK configurator JSON for Alice PCB
  keyboards/projectkb/alice/info.json
Labels: keyboard

#6400 QMK Configurator fix for ProjectKB Alice info.json
  keyboards/projectkb/alice/info.json
Labels: bug, keyboard

#6408 1up60hse: Add Layer Diagrams
  keyboards/1upkeyboards/1up60hse/keymaps/default/keymap.c
Labels: enhancement, keymap

#6308 Add Sections and MO(layer)/TG(layer) Example
  docs/feature_tap_dance.md
Labels: documentation

#6392 [User] Xulkal Keymaps Update
  keyboards/hadron/ver3/keymaps/xulkal/config.h
  keyboards/hadron/ver3/keymaps/xulkal/keymap.c
  keyboards/hadron/ver3/keymaps/xulkal/rules.mk
  keyboards/massdrop/ctrl/keymaps/default/keymap.c
  keyboards/massdrop/ctrl/keymaps/xulkal/config.h
  keyboards/massdrop/ctrl/keymaps/xulkal/keymap.c
  keyboards/rgbkb/sol/keymaps/xulkal/config.h
  keyboards/rgbkb/sol/keymaps/xulkal/keymap.c
  keyboards/rgbkb/sol/keymaps/xulkal/rules.mk
  users/xulkal/custom_encoder.c
  users/xulkal/custom_keycodes.h
  users/xulkal/custom_oled.c
  users/xulkal/custom_rgb.c
  users/xulkal/custom_rgb.h
  users/xulkal/custom_tap_dance.c
  users/xulkal/custom_tap_dance.h
  users/xulkal/layouts.h
  users/xulkal/process_records.c
  users/xulkal/process_records.h
  users/xulkal/rules.mk
Labels: keymap

#6398 [Keyboard] Sol r2: Fix default layer oled display
  keyboards/rgbkb/sol/keymaps/default/keymap.c
Labels: bug, keyboard

#6405 Set RGBLIGHT ENABLE for angel64
  keyboards/angel64/config.h
  keyboards/angel64/rules.mk
Labels: keyboard

#6410 Update personal userspace and keymaps, add reactive underglow
  keyboards/kbdfans/kbd6x/keymaps/konstantin/config.h
  keyboards/kbdfans/kbd6x/keymaps/konstantin/keymap.c
  keyboards/kbdfans/kbd6x/keymaps/konstantin/rules.mk
  keyboards/melody96/keymaps/konstantin/keymap.c
  keyboards/melody96/keymaps/konstantin/rules.mk
  keyboards/wasdat/keymaps/konstantin/rules.mk
  keyboards/whitefox/keymaps/konstantin/rules.mk
  users/konstantin/config.h
  users/konstantin/konstantin.c
  users/konstantin/konstantin.h
  users/konstantin/rgb.c
  users/konstantin/rgb.h
  users/konstantin/tap_dance.c
  users/konstantin/tap_dance.h
Labels: keymap

#6361 New Keyboard: TGR Jane v2
  keyboards/tgr/jane/config.h
  keyboards/tgr/jane/info.json
  keyboards/tgr/jane/jane.c
  keyboards/tgr/jane/jane.h
  keyboards/tgr/jane/keymaps/default/config.h
  keyboards/tgr/jane/keymaps/default/keymap.c
  keyboards/tgr/jane/keymaps/default/readme.md
  keyboards/tgr/jane/keymaps/default/rules.mk
  keyboards/tgr/jane/readme.md
  keyboards/tgr/jane/rules.mk
  keyboards/tgr/jane/usbconfig.h
Labels: keyboard

#6421 One-line build fix
  quantum/rgb_matrix.c
Labels: bug

#6412 Provide QMK Configurator API data for business_card
  keyboards/business_card/alpha/info.json
  keyboards/business_card/beta/info.json
  keyboards/business_card/info.json
Labels: enhancement, keyboard

#6414 Add support for Cocoa40
  keyboards/cocoa40/cocoa40.c
  keyboards/cocoa40/cocoa40.h
  keyboards/cocoa40/config.h
  keyboards/cocoa40/info.json
  keyboards/cocoa40/keymaps/default/config.h
  keyboards/cocoa40/keymaps/default/keymap.c
  keyboards/cocoa40/keymaps/default/readme.md
  keyboards/cocoa40/keymaps/default/rules.mk
  keyboards/cocoa40/readme.md
  keyboards/cocoa40/rules.mk
Labels: keyboard

#6415 Add support for Choco60
  keyboards/choco60/choco60.c
  keyboards/choco60/choco60.h
  keyboards/choco60/config.h
  keyboards/choco60/info.json
  keyboards/choco60/keymaps/default/config.h
  keyboards/choco60/keymaps/default/keymap.c
  keyboards/choco60/keymaps/default/readme.md
  keyboards/choco60/readme.md
  keyboards/choco60/rules.mk
Labels: keyboard

#6399 [OLED] Added support for CR
  drivers/oled/oled_driver.c
Labels: core, enhancement

#6231 [Keyboard] Add RGB Matrix config info to Corne Keyboard's readme
  keyboards/crkbd/readme.md
Labels: keyboard

#6284 Fix up and clean Corne Keyboard code
  keyboards/crkbd/crkbd.c
  keyboards/crkbd/keymaps/default/config.h
  keyboards/crkbd/keymaps/default/keymap.c
  keyboards/crkbd/pro_micro.h
  keyboards/crkbd/rev1/config.h
  keyboards/crkbd/rev1/rev1.c
  keyboards/crkbd/rev1/rev1.h
  keyboards/crkbd/rev1/rules.mk
  keyboards/crkbd/rules.mk
Labels: keyboard, optimization

#6425 Adding keyboard: dumbpad
  keyboards/dumbpad/config.h
  keyboards/dumbpad/dumbpad.c
  keyboards/dumbpad/dumbpad.h
  keyboards/dumbpad/info.json
  keyboards/dumbpad/keymaps/default/keymap.c
  keyboards/dumbpad/readme.md
  keyboards/dumbpad/rules.mk
Labels: keyboard

#6430 Leaf 60: Use correct key for 60_ansi layout on backspace
  keyboards/foxlab/leaf60/universal/universal.h
Labels: bug, keyboard

#6431 Shift RGB layout keys to the right by one to be consistent with other keymap layouts
  keyboards/keebio/iris/keymaps/osiris/keymap.c
Labels: keymap

#6433 Update QMK Configurator Tutorial YouTube URL
  docs/newbs_building_firmware_configurator.md
Labels: documentation

#6434 Correct name of community layout for ortho75
  keyboards/cannonkeys/ortho75/rules.mk
Labels: bug

#6435 Add Configurator support for snampad
  keyboards/snampad/info.json
Labels: bug

#6436 Fix Configurator support for shiro
  keyboards/shiro/info.json
Labels: bug

#6439 Fix community support for hs60
  keyboards/hs60/v1/rules.mk
  keyboards/hs60/v2/rules.mk
Labels: bug

#6440 Fix maypad ortho_5x4 Configurator support
  keyboards/keyhive/maypad/info.json
Labels: bug

#6442 Add meishi2 Configurator support
  keyboards/meishi2/info.json
Labels: bug

#5184 Assign unique vendor ID and product ID for hadron
  keyboards/hadron/config.h
  keyboards/hadron/ver2/keymaps/side_numpad/rules.mk
Labels: awaiting review, keyboard

#5928 add 60% pcb for the smk 2nd switch(with mx mount)
  keyboards/smk60/config.h
  keyboards/smk60/info.json
  keyboards/smk60/keymaps/60_ansi/keymap.c
  keyboards/smk60/keymaps/60_ansi_split_bs_shift/keymap.c
  keyboards/smk60/keymaps/60_hhkb/keymap.c
  keyboards/smk60/keymaps/60_iso/keymap.c
  keyboards/smk60/keymaps/60_wkl/keymap.c
  keyboards/smk60/keymaps/60_wkl_split_bs/keymap.c
  keyboards/smk60/keymaps/default/keymap.c
  keyboards/smk60/readme.md
  keyboards/smk60/rules.mk
  keyboards/smk60/smk60.c
  keyboards/smk60/smk60.h
Labels: keyboard
