Repository qmk/qmk_firmware, pull requests merged in 2019-09, with the labels that each got.

#6651 NIU Mini Settings update and Refactor
  keyboards/niu_mini/config.h
  keyboards/niu_mini/info.json
  keyboards/niu_mini/keymaps/default/keymap.c
  keyboards/niu_mini/niu_mini.c
  keyboards/niu_mini/niu_mini.h
  keyboards/niu_mini/readme.md
  keyboards/niu_mini/rules.mk
Labels: enhancement, keyboard

#6640 Always run `util/travis_compiled_push.sh`
  .travis.yml
Labels: bug, core

#6644 Run dos2unix on whole repo
  keyboards/ergotravel/keymaps/jarred/keymap.c
  keyboards/ergotravel/keymaps/rs/keymap.c
  keyboards/espectro/keymaps/mikethetiger/keymap.c
  keyboards/lazydesigners/the50/keymaps/mikethetiger/keymap.c
  keyboards/lets_split_eh/keymaps/mikethetiger/keymap.c
  keyboards/pancake/keymaps/default/keymap.c
  keyboards/pancake/readme.md
  keyboards/planck/keymaps/mikethetiger/keymap.c
  keyboards/preonic/keymaps/mikethetiger/config.h
  keyboards/preonic/keymaps/mikethetiger/keymap.c
  keyboards/qwertyydox/keymaps/default/keymap.c
  keyboards/sentraq/s60_x/keymaps/custom/readme.md
  keyboards/sentraq/s60_x/keymaps/default/readme.md
  keyboards/sentraq/s60_x/keymaps/hasu/readme.md
  keyboards/sentraq/s60_x/keymaps/hhkb/readme.md
  keyboards/sentraq/s60_x/keymaps/iso/readme.md
  keyboards/sentraq/s60_x/keymaps/plain/readme.md
  keyboards/sentraq/s60_x/keymaps/poker/readme.md
  keyboards/sentraq/s60_x/keymaps/poker_bit/readme.md
  keyboards/sentraq/s60_x/keymaps/poker_set/readme.md
  keyboards/sentraq/s60_x/keymaps/spacefn/readme.md
  keyboards/zinc/keymaps/default/readme_jp.md
  keyboards/zinc/keymaps/ginjake/readme_jp.md
  keyboards/zinc/keymaps/monks/readme_jp.md
Labels: optimization

#6655 Fix msys2 not installing any packages because it can't find clang
  util/msys2_install.sh
Labels: bug

#6616 [Keyboard] Flip the middle two keys when PCBDOWN is set.
  keyboards/atreus/atreus.h
Labels: enhancement, keyboard

#6619 Add `dfu-programmer` to `pacman -S` (#6618)
  util/linux_install.sh
Labels: bug

#6635 add rgb led configuration for xd87
  keyboards/xd87/config.h
  keyboards/xd87/keymaps/default_underglow/config.h
  keyboards/xd87/keymaps/default_underglow/keymap.c
  keyboards/xd87/keymaps/default_underglow/readme.md
  keyboards/xd87/keymaps/default_underglow/rules.mk
  keyboards/xd87/rules.mk
Labels: keyboard

#6641 Fix typo in Open Graph description for docs
  docs/index.html
Labels: documentation

#6642 Update keymap for alice and fix for ctrl and os swap
  keyboards/projectkb/alice/config.h
  keyboards/projectkb/alice/keymaps/madhatter/keymap.c
  keyboards/projectkb/alice/rules.mk
Labels: keymap

#6649 [keymap] ninjonas userspace and keymaps for hotdox, lily58, & pinky3
  keyboards/hotdox/keymaps/ninjonas/README.md
  keyboards/hotdox/keymaps/ninjonas/keymap.c
  keyboards/lily58/keymaps/ninjonas/README.md
  keyboards/lily58/keymaps/ninjonas/config.h
  keyboards/lily58/keymaps/ninjonas/keymap.c
  keyboards/lily58/keymaps/ninjonas/layer_state_reader.c
  keyboards/lily58/keymaps/ninjonas/rules.mk
  keyboards/pinky/3/keymaps/ninjonas/README.md
  keyboards/pinky/3/keymaps/ninjonas/config.h
  keyboards/pinky/3/keymaps/ninjonas/keymap.c
  users/ninjonas/.gitignore
  users/ninjonas/README.md
  users/ninjonas/config.h
  users/ninjonas/ninjonas.c
  users/ninjonas/ninjonas.h
  users/ninjonas/process_records.c
  users/ninjonas/process_records.h
  users/ninjonas/rules.mk
  users/ninjonas/tap_dances.c
  users/ninjonas/tap_dances.h
Labels: keymap

#6661 Update submodule check to include LUFA
  Makefile
Labels: bug

#6636 Satan GH60 layout with command prompt animation, react to keypresses
  keyboards/gh60/satan/keymaps/gipsy-king/config.h
  keyboards/gh60/satan/keymaps/gipsy-king/keymap.c
  keyboards/gh60/satan/keymaps/gipsy-king/readme.md
  keyboards/gh60/satan/keymaps/gipsy-king/rules.mk
Labels: keymap

#6654 Update personal userspace and keymaps
  keyboards/kbdfans/kbd6x/keymaps/konstantin/keymap.c
  keyboards/kbdfans/kbd6x/keymaps/konstantin/rules.mk
  keyboards/maartenwut/wasdat/keymaps/konstantin/keymap.c
  keyboards/melody96/keymaps/konstantin/keymap.c
  keyboards/whitefox/keymaps/konstantin/keymap.c
  users/konstantin/konstantin.c
  users/konstantin/konstantin.h
  users/konstantin/tap_dance.c
  users/konstantin/tap_dance.h
Labels: keymap

#6657 Add Tukey board
  keyboards/keebio/tukey/config.h
  keyboards/keebio/tukey/info.json
  keyboards/keebio/tukey/keymaps/default/config.h
  keyboards/keebio/tukey/keymaps/default/keymap.c
  keyboards/keebio/tukey/keymaps/default/readme.md
  keyboards/keebio/tukey/readme.md
  keyboards/keebio/tukey/rules.mk
  keyboards/keebio/tukey/tukey.c
  keyboards/keebio/tukey/tukey.h
Labels: keyboard

#6514 Doro67 cleanup: Add spacing to LAYOUT macros, add layout comments, improve consistency, fix ISO layout bug
  keyboards/doro67/multi/info.json
  keyboards/doro67/multi/keymaps/default/keymap.c
  keyboards/doro67/multi/keymaps/default/readme.md
  keyboards/doro67/multi/keymaps/default_iso/keymap.c
  keyboards/doro67/multi/keymaps/default_iso/readme.md
  keyboards/doro67/multi/keymaps/default_multi/keymap.c
  keyboards/doro67/multi/keymaps/default_multi/readme.md
  keyboards/doro67/multi/multi.h
  keyboards/doro67/regular/keymaps/default/keymap.c
  keyboards/doro67/regular/regular.h
  keyboards/doro67/rgb/keymaps/default/keymap.c
  keyboards/doro67/rgb/rgb.h
Labels: bug, keyboard, optimization

#6648 Fix battery level code in adafruit_ble.cpp
  drivers/avr/analog.h
  tmk_core/protocol/lufa.mk
  tmk_core/protocol/lufa/adafruit_ble.cpp
Labels: bug

#6666 added ability to change unicode input method to ergodone:vega
  keyboards/ergodone/keymaps/vega/keymap.c
Labels: keymap

#6667 Missed a JTAG disable
  keyboards/atomic/atomic.c
Labels: keyboard

#6672 Aeboards EXT65 - Fix LED indicators
  keyboards/aeboards/ext65/keymaps/default/keymap.c
  keyboards/aeboards/ext65/keymaps/via/keymap.c
Labels: keymap

#6566 Add 16U2, 16U4 and USB646 to mcu_selection.mk
  keyboards/lfkeyboards/lfk78/rules.mk
  keyboards/lfkeyboards/lfk87/rules.mk
  keyboards/lfkeyboards/mini1800/rules.mk
  keyboards/lfkeyboards/smk65/rules.mk
  keyboards/naked48/rules.mk
  keyboards/sixkeyboard/rules.mk
  keyboards/xd004/v1/rules.mk
  quantum/mcu_selection.mk
Labels: core, enhancement

#6660 Add Iris Rev 4
  keyboards/keebio/iris/iris.h
  keyboards/keebio/iris/keymaps/default/keymap.c
  keyboards/keebio/iris/rev4/config.h
  keyboards/keebio/iris/rev4/rev4.c
  keyboards/keebio/iris/rev4/rev4.h
  keyboards/keebio/iris/rev4/rules.mk
  keyboards/keebio/iris/rules.mk
Labels: keyboard

#6677 Changed to 1209 PID
  keyboards/vitamins_included/config.h
Labels: keyboard

#6668 Make USB polling rate configurable with a define
  docs/config_options.md
  tmk_core/protocol/usb_descriptor.c
Labels: core, documentation, enhancement, needs testing

#6686 fix missing "music mode" legend
  keyboards/planck/keymaps/default/keymap.c
Labels: keymap

#6678 CA66 R1/R2 Cleanup
  keyboards/playkbtw/ca66/ca66.c
  keyboards/playkbtw/ca66/ca66.h
  keyboards/playkbtw/ca66/config.h
  keyboards/playkbtw/ca66/keymaps/default/keymap.c
  keyboards/playkbtw/ca66/readme.md
  keyboards/playkbtw/ca66/rules.mk
Labels: keyboard

#6687 Jotix
  layouts/community/ortho_4x12/jotix/keymap.c
  layouts/community/ortho_4x12/jotix/readme.md
  layouts/community/ortho_4x12/jotix/rules.mk
  layouts/community/ortho_4x12/jotix/unicode.c
Labels: keymap

#6659 Update docker_build.sh: indentation fix, error echo function
  util/docker_build.sh
Labels: optimization

#6652 Add narze userspace
  keyboards/ergodox_infinity/keymaps/narze/config.h
  keyboards/ergodox_infinity/keymaps/narze/keymap.c
  keyboards/ergodox_infinity/keymaps/narze/readme.md
  keyboards/ergodox_infinity/keymaps/narze/rules.mk
  keyboards/planck/keymaps/narze/config.h
  keyboards/planck/keymaps/narze/keymap.c
  keyboards/planck/keymaps/narze/readme.md
  keyboards/planck/keymaps/narze/rules.mk
  users/narze/narze.c
  users/narze/narze.h
  users/narze/readme.md
  users/narze/rules.mk
  users/narze/superduper.c
  users/narze/superduper.h
Labels: keymap

#6662 Banish some more magic numbers
  tmk_core/common/avr/bootloader.c
  tmk_core/common/avr/timer.c
Labels: core, enhancement

#6671 Adafruit BLE: Set SPI2X bit only when F_CPU is 8MHz
  tmk_core/protocol/lufa/adafruit_ble.cpp
Labels: core, enhancement

#6682 Add 328P to mcu_selection.mk
  keyboards/gingham/rules.mk
  keyboards/handwired/hnah40/rules.mk
  keyboards/plaid/rules.mk
  quantum/mcu_selection.mk
Labels: core, keyboard

#6683 Update keymap.c
  keyboards/dztech/dz60rgb/keymaps/mekanist/keymap.c
Labels: keymap

#6639 [Keymap] Big Drashna code update
  keyboards/crkbd/keymaps/drashna/glcdfont.c
  keyboards/crkbd/keymaps/drashna/keymap.c
  keyboards/gergo/keymaps/drashna/keymap.c
  keyboards/keebio/iris/keymaps/drashna/config.h
  keyboards/keebio/iris/keymaps/drashna/keymap.c
  keyboards/keebio/iris/keymaps/drashna/rules.mk
  keyboards/keebio/quefrency/keymaps/drashna_ms/config.h
  keyboards/keebio/quefrency/keymaps/drashna_ms/keymap.c
  keyboards/keebio/quefrency/keymaps/drashna_ms/rules.mk
  keyboards/keebio/viterbi/keymaps/drashna/keymap.c
  keyboards/keebio/viterbi/keymaps/drashna/rules.mk
  keyboards/orthodox/keymaps/drashna/keymap.c
  keyboards/orthodox/keymaps/drashna/rules.mk
  layouts/community/ergodox/drashna/config.h
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ergodox/drashna/rules.mk
  layouts/community/numpad_5x6/bjohnson/config.h
  layouts/community/numpad_5x6/bjohnson/keymap.c
  layouts/community/numpad_5x6/drashna/rules.mk
  layouts/community/ortho_4x12/drashna/config.h
  layouts/community/ortho_4x12/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/rules.mk
  layouts/community/ortho_5x12/drashna/keymap.c
  layouts/community/ortho_5x12/drashna/rules.mk
  users/drashna/.gitlab-ci.yml
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/drashna.h
  users/drashna/process_records.c
  users/drashna/process_records.h
  users/drashna/rgb_stuff.c
  users/drashna/rgb_stuff.h
  users/drashna/rules.mk
  users/drashna/wrappers.h
Labels: keymap

#6691 Assorted personal keymap/userspace updates
  keyboards/9key/keymaps/bcat/keymap.c
  keyboards/9key/keymaps/bcat/readme.md
  keyboards/9key/keymaps/bcat/rules.mk
  keyboards/keebio/bdn9/keymaps/bcat/keymap.c
  users/bcat/config.h
  users/bcat/rules.mk
Labels: keymap

#6688 Move Bootloader not found message to global variable
  message.mk
  tmk_core/avr.mk
  tmk_core/chibios.mk
Labels: enhancement, optimization

#6695 Actually use correct bootloader not found message
  tmk_core/avr.mk
  tmk_core/chibios.mk
Labels: bug

#6681 Add Copenhagen Click Pad
  keyboards/copenhagen_click/click_pad_v1/click_pad_v1.c
  keyboards/copenhagen_click/click_pad_v1/click_pad_v1.h
  keyboards/copenhagen_click/click_pad_v1/config.h
  keyboards/copenhagen_click/click_pad_v1/info.json
  keyboards/copenhagen_click/click_pad_v1/keymaps/default/config.h
  keyboards/copenhagen_click/click_pad_v1/keymaps/default/keymap.c
  keyboards/copenhagen_click/click_pad_v1/keymaps/default/readme.md
  keyboards/copenhagen_click/click_pad_v1/readme.md
  keyboards/copenhagen_click/click_pad_v1/rules.mk
Labels: keyboard

#6664 Add Freyr keyboard
  keyboards/freyr/config.h
  keyboards/freyr/freyr.c
  keyboards/freyr/freyr.h
  keyboards/freyr/info.json
  keyboards/freyr/keymaps/default/config.h
  keyboards/freyr/keymaps/default/keymap.c
  keyboards/freyr/keymaps/default/readme.md
  keyboards/freyr/readme.md
  keyboards/freyr/rules.mk
Labels: keyboard

#6697 Feature/dz60rgb cleanups
  keyboards/dztech/dz60rgb/dz60rgb.h
  keyboards/dztech/dz60rgb/info.json
  keyboards/dztech/dz60rgb/keymaps/ansi/keymap.c
  keyboards/dztech/dz60rgb/keymaps/iso/keymap.c
  keyboards/dztech/dz60rgb/readme.md
  keyboards/dztech/dz60rgb/rules.mk
Labels: enhancement

#6676 Add Rabbit68 Keyboard w/ default,kaiec keymaps.
  keyboards/rabbit/rabbit68/config.h
  keyboards/rabbit/rabbit68/info.json
  keyboards/rabbit/rabbit68/keymaps/default/config.h
  keyboards/rabbit/rabbit68/keymaps/default/keymap.c
  keyboards/rabbit/rabbit68/keymaps/default/readme.md
  keyboards/rabbit/rabbit68/keymaps/kaiec/config.h
  keyboards/rabbit/rabbit68/keymaps/kaiec/keymap.c
  keyboards/rabbit/rabbit68/keymaps/kaiec/readme.md
  keyboards/rabbit/rabbit68/rabbit68.c
  keyboards/rabbit/rabbit68/rabbit68.h
  keyboards/rabbit/rabbit68/readme.md
  keyboards/rabbit/rabbit68/rules.mk
Labels: keyboard

#6679 New Keyboard: DP60
  keyboards/dp60/config.h
  keyboards/dp60/dp60.c
  keyboards/dp60/dp60.h
  keyboards/dp60/info.json
  keyboards/dp60/keymaps/default/keymap.c
  keyboards/dp60/keymaps/via/keymap.c
  keyboards/dp60/keymaps/via/readme.md
  keyboards/dp60/keymaps/via/rules.mk
  keyboards/dp60/matrix.c
  keyboards/dp60/readme.md
  keyboards/dp60/rules.mk
Labels: keyboard

#6693 Add the E6.5 keyboard to QMK
  keyboards/exclusive/e65/config.h
  keyboards/exclusive/e65/e65.c
  keyboards/exclusive/e65/e65.h
  keyboards/exclusive/e65/info.json
  keyboards/exclusive/e65/keymaps/default/keymap.c
  keyboards/exclusive/e65/keymaps/default/readme.md
  keyboards/exclusive/e65/keymaps/default_iso/keymap.c
  keyboards/exclusive/e65/keymaps/masterzen/keymap.c
  keyboards/exclusive/e65/keymaps/masterzen/readme.md
  keyboards/exclusive/e65/readme.md
  keyboards/exclusive/e65/rules.mk
  keyboards/exclusive/readme.md
Labels: keyboard, keymap

#6711 Waldo RGB Enable
  keyboards/waldo/config.h
  keyboards/waldo/rules.mk
Labels: bug, keyboard

#6066 Created new_keymap.py, python version of new_keymap.sh
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/new/__init__.py
  lib/python/qmk/cli/new/keymap.py
  lib/python/qmk/path.py
Labels: core, enhancement

#6715 Fix boards being skipped during make all
  keyboards/adkb96/rev1/rules.mk
  keyboards/maartenwut/atom47/rules.mk
Labels: keyboard

#6714 Tidy up backlight header use to avoid build issues
  keyboards/chimera_ergo/chimera_ergo.h
  keyboards/chimera_ls/chimera_ls.h
  keyboards/chimera_ortho/chimera_ortho.h
  keyboards/comet46/comet46.h
  keyboards/dichotomy/dichotomy.h
  keyboards/honeycomb/honeycomb.h
  keyboards/mitosis/mitosis.h
  keyboards/redox_w/redox_w.h
  keyboards/telophase/telophase.h
Labels: keyboard

#6656 Add to VSCode's recommended extensions
  .vscode/extensions.json
Labels: enhancement

#6684 Fix Corne keyboard matrix configuration
  keyboards/crkbd/rev1/config.h
  keyboards/crkbd/rev1/rev1.c
Labels: bug, keyboard

#6727 Add 2key2crawl
  keyboards/2key2crawl/2key2crawl.c
  keyboards/2key2crawl/2key2crawl.h
  keyboards/2key2crawl/config.h
  keyboards/2key2crawl/keymaps/default/keymap.c
  keyboards/2key2crawl/keymaps/tabs/keymap.c
  keyboards/2key2crawl/keymaps/vol/keymap.c
  keyboards/2key2crawl/readme.md
  keyboards/2key2crawl/rules.mk
Labels: keyboard

#6673 Added m47ch4n keymap
  keyboards/ergodash/rev1/keymaps/m47ch4n/config.h
  keyboards/ergodash/rev1/keymaps/m47ch4n/keymap.c
  keyboards/ergodash/rev1/keymaps/m47ch4n/m47ch4ns_keymap.json
  keyboards/ergodash/rev1/keymaps/m47ch4n/readme.md
  keyboards/ergodash/rev1/keymaps/m47ch4n/rules.mk
Labels: keymap

#6701 Fix Georgi's RZ key in NKRO fake-steno mode
  keyboards/georgi/sten.c
Labels: keyboard

#6707 Fix enables for Haptic Feedback
  common_features.mk
Labels: bug

#6721 Fix default keymaps for OLKB boards to play Startup Sound
  keyboards/planck/keymaps/default/keymap.c
  keyboards/preonic/keymaps/default/keymap.c
Labels: keymap

#6723 Alps64 Refactor
  keyboards/alps64/alps64.c
  keyboards/alps64/alps64.h
  keyboards/alps64/config.h
  keyboards/alps64/led.c
  keyboards/alps64/matrix.c
  keyboards/alps64/rules.mk
Labels: enhancement, keyboard

#6734 Yet another xd75 keymap
  keyboards/xd75/keymaps/xo/config.h
  keyboards/xd75/keymaps/xo/keymap.c
  keyboards/xd75/keymaps/xo/readme.md
  keyboards/xd75/keymaps/xo/rules.mk
Labels: keymap

#6736 style cleanup, no keys changed
  keyboards/ergodash/rev1/keymaps/greenshadowmaker/keymap.c
Labels: keymap

#6737 TheVanKeyboards Caravan: Configurator layout support
  keyboards/thevankeyboards/caravan/info.json
Labels: enhancement, keyboard

#6722 add VN66 keyboard
  keyboards/vn66/config.h
  keyboards/vn66/info.json
  keyboards/vn66/keymaps/default/config.h
  keyboards/vn66/keymaps/default/keymap.c
  keyboards/vn66/keymaps/default/readme.md
  keyboards/vn66/readme.md
  keyboards/vn66/rules.mk
  keyboards/vn66/vn66.c
  keyboards/vn66/vn66.h
Labels: keyboard

#6733 Clarify the backlight_level API doc slightly
  docs/feature_backlight.md
Labels: documentation

#6732 Added Xerpocalypse's layout
  keyboards/tmo50/keymaps/xerpocalypse/keymap.c
Labels: keymap

#6743 Percent Studio Booster: Configurator fix
  keyboards/percent/booster/info.json
Labels: bug, keyboard

#6670 Add Chimera65 Keyboard
  keyboards/cannonkeys/chimera65/boards/ST_STM32F072B_DISCOVERY/board.c
  keyboards/cannonkeys/chimera65/boards/ST_STM32F072B_DISCOVERY/board.h
  keyboards/cannonkeys/chimera65/boards/ST_STM32F072B_DISCOVERY/board.mk
  keyboards/cannonkeys/chimera65/boards/ST_STM32F072B_DISCOVERY/cfg/board.chcfg
  keyboards/cannonkeys/chimera65/bootloader_defs.h
  keyboards/cannonkeys/chimera65/chconf.h
  keyboards/cannonkeys/chimera65/chimera65.c
  keyboards/cannonkeys/chimera65/chimera65.h
  keyboards/cannonkeys/chimera65/config.h
  keyboards/cannonkeys/chimera65/halconf.h
  keyboards/cannonkeys/chimera65/info.json
  keyboards/cannonkeys/chimera65/keymaps/default/keymap.c
  keyboards/cannonkeys/chimera65/keymaps/via/keymap.c
  keyboards/cannonkeys/chimera65/keymaps/via/rules.mk
  keyboards/cannonkeys/chimera65/mcuconf.h
  keyboards/cannonkeys/chimera65/readme.md
  keyboards/cannonkeys/chimera65/rules.mk
  keyboards/cannonkeys/stm32f072/keyboard.c
Labels: keyboard

#6757 Fixed EEPROM start address for firmware using VIA
  keyboards/aeboards/aegis/config.h
  keyboards/aeboards/ext65/config.h
  keyboards/ai03/lunar/config.h
  keyboards/handwired/prime_exl/config.h
  keyboards/hs60/v2/config.h
  keyboards/idb_60/config.h
  keyboards/keebio/iris/rev1/config.h
  keyboards/keebio/iris/rev1_led/config.h
  keyboards/keebio/iris/rev2/config.h
  keyboards/keebio/iris/rev3/config.h
  keyboards/maartenwut/plain60/config.h
  keyboards/nk65/config.h
  keyboards/primekb/prime_e/config.h
  keyboards/snagpad/config.h
  keyboards/westfoxtrot/aanzee/config.h
  keyboards/wilba_tech/rama_works_koyu/config.h
  keyboards/wilba_tech/rama_works_m10_b/config.h
  keyboards/wilba_tech/rama_works_m60_a/config.h
  keyboards/wilba_tech/rama_works_m6_a/config.h
  keyboards/wilba_tech/rama_works_m6_b/config.h
  keyboards/wilba_tech/rama_works_u80_a/config.h
  keyboards/wilba_tech/wt60_a/config.h
  keyboards/wilba_tech/wt60_d/config.h
  keyboards/wilba_tech/wt65_a/config.h
  keyboards/wilba_tech/wt65_b/config.h
  keyboards/wilba_tech/wt69_a/config.h
  keyboards/wilba_tech/wt75_a/config.h
  keyboards/wilba_tech/wt75_b/config.h
  keyboards/wilba_tech/wt80_a/config.h
  keyboards/wilba_tech/wt8_a/config.h
  keyboards/wilba_tech/zeal60/config.h
  keyboards/wilba_tech/zeal65/config.h
Labels: keyboard

#6706 Plaid Keymap for Programmers
  keyboards/plaid/keymaps/thehalfdeafchef/config.h
  keyboards/plaid/keymaps/thehalfdeafchef/keymap.c
  keyboards/plaid/keymaps/thehalfdeafchef/readme.md
Labels: keymap

#6725 Adding AEK64 keyboard
  keyboards/handwired/aek64/aek64.c
  keyboards/handwired/aek64/aek64.h
  keyboards/handwired/aek64/config.h
  keyboards/handwired/aek64/info.json
  keyboards/handwired/aek64/keymaps/4sstylz/keymap.c
  keyboards/handwired/aek64/keymaps/default/keymap.c
  keyboards/handwired/aek64/readme.md
  keyboards/handwired/aek64/rules.mk
Labels: keyboard

#6731 Adding YMDK "Bface" keyboard
  keyboards/ymdk/bface/README.md
  keyboards/ymdk/bface/bface.c
  keyboards/ymdk/bface/bface.h
  keyboards/ymdk/bface/config.h
  keyboards/ymdk/bface/info.json
  keyboards/ymdk/bface/keymaps/default/config.h
  keyboards/ymdk/bface/keymaps/default/keymap.c
  keyboards/ymdk/bface/keymaps/default/readme.md
  keyboards/ymdk/bface/keymaps/emdarcher/config.h
  keyboards/ymdk/bface/keymaps/emdarcher/keymap.c
  keyboards/ymdk/bface/keymaps/emdarcher/readme.md
  keyboards/ymdk/bface/rules.mk
  keyboards/ymdk/bface/usbconfig.h
Labels: keyboard

#6741 Correct info.json data for vn66
  keyboards/vn66/info.json
  keyboards/vn66/vn66.h
Labels: keyboard

#6744 idobo/drewdobo keymap v1
  keyboards/idobo/keymaps/drewdobo/config.h
  keyboards/idobo/keymaps/drewdobo/keymap.c
  keyboards/idobo/keymaps/drewdobo/readme.md
  keyboards/idobo/keymaps/drewdobo/rules.mk
Labels: keymap

#6750 Fix e65 7u WK layout and add crd's personal keymap
  keyboards/exclusive/e65/e65.h
  keyboards/exclusive/e65/keymaps/crd/keymap.c
  keyboards/exclusive/e65/keymaps/crd/readme.md
Labels: bug, keyboard, keymap

#6752 [Xulkal] User code update
  users/xulkal/config.h
  users/xulkal/custom_rgb.c
  users/xulkal/process_records.c
Labels: keymap

#6755 KBD75 refactor
  keyboards/kbdfans/kbd75/config.h
  keyboards/kbdfans/kbd75/kbd75.h
  keyboards/kbdfans/kbd75/rev1/info.json
  keyboards/kbdfans/kbd75/rev1/rev1.h
  keyboards/kbdfans/kbd75/rev1/rules.mk
  keyboards/kbdfans/kbd75/rev2/info.json
  keyboards/kbdfans/kbd75/rev2/rev2.h
  keyboards/kbdfans/kbd75/rev2/rules.mk
Labels: enhancement, keyboard

#6756 Freyr: Configurator bugfixes
  keyboards/freyr/info.json
Labels: bug, enhancement, keyboard

#6758 xd87: add capslock led support
  keyboards/xd87/xd87.c
Labels: enhancement, keyboard

#6698 Update bootloader.mk
  bootloader.mk
Labels: core, enhancement

#6751 [Keyboard] Fix compile issues for OLKB Default keymaps
  keyboards/planck/keymaps/default/keymap.c
Labels: keymap

#6759 add personal fullsize pcb hnah108
  keyboards/handwired/hnah108/config.h
  keyboards/handwired/hnah108/hnah108.c
  keyboards/handwired/hnah108/hnah108.h
  keyboards/handwired/hnah108/info.json
  keyboards/handwired/hnah108/keymaps/default/config.h
  keyboards/handwired/hnah108/keymaps/default/keymap.c
  keyboards/handwired/hnah108/keymaps/default/readme.md
  keyboards/handwired/hnah108/readme.md
  keyboards/handwired/hnah108/rules.mk
Labels: keyboard

#6729 Introduce AT-AT 660M
  keyboards/at_at/660m/660m.c
  keyboards/at_at/660m/660m.h
  keyboards/at_at/660m/boards/ST_STM32F072B_DISCOVERY/board.c
  keyboards/at_at/660m/boards/ST_STM32F072B_DISCOVERY/board.h
  keyboards/at_at/660m/boards/ST_STM32F072B_DISCOVERY/board.mk
  keyboards/at_at/660m/boards/ST_STM32F072B_DISCOVERY/cfg/board.chcfg
  keyboards/at_at/660m/bootloader_defs.h
  keyboards/at_at/660m/chconf.h
  keyboards/at_at/660m/config.h
  keyboards/at_at/660m/halconf.h
  keyboards/at_at/660m/info.json
  keyboards/at_at/660m/keymaps/default/keymap.c
  keyboards/at_at/660m/mcuconf.h
  keyboards/at_at/660m/readme.md
  keyboards/at_at/660m/rules.mk
Labels: keyboard

#6745 201909 s75 custom encoder
  keyboards/cannonkeys/satisfaction75/config.h
  keyboards/cannonkeys/satisfaction75/satisfaction75.c
  keyboards/cannonkeys/satisfaction75/satisfaction75.h
  keyboards/cannonkeys/satisfaction75/satisfaction_encoder.c
Labels: keyboard

#6382 Updated split encoders so indexes are based on left hand encoders first.
  quantum/encoder.c
Labels: breaking_change, bug

#6712 Update Planck Layer Diagram To Match Layer
  keyboards/planck/keymaps/default/keymap.c
Labels: keymap

#6763 1up60hte cleanup + bugfix
  keyboards/1upkeyboards/1up60hte/1up60hte.c
  keyboards/1upkeyboards/1up60hte/keymaps/default/keymap.c
  keyboards/1upkeyboards/1up60hte/keymaps/hhkb/keymap.c
  keyboards/1upkeyboards/1up60hte/readme.md
  keyboards/1upkeyboards/1up60hte/rules.mk
Labels: bug, enhancement, keyboard

#6461 DRV2605L Continuous Haptic Feedback Support
  docs/feature_haptic_feedback.md
  drivers/haptic/DRV2605L.c
  drivers/haptic/DRV2605L.h
  drivers/haptic/haptic.c
  drivers/haptic/haptic.h
  quantum/quantum_keycodes.h
Labels: core

#6769 Cleanup rules.mk for USB64 and USB128 keyboards
  keyboards/clueboard/2x1800/rules.mk
  keyboards/converter/modelm101/rules.mk
  keyboards/donutcables/scrabblepad/rules.mk
  keyboards/handwired/108key_trackpoint/rules.mk
  keyboards/handwired/aek64/rules.mk
  keyboards/handwired/daishi/rules.mk
  keyboards/handwired/datahand/rules.mk
  keyboards/handwired/downbubble/rules.mk
  keyboards/handwired/hacked_motospeed/rules.mk
  keyboards/handwired/ibm122m/rules.mk
  keyboards/handwired/magicforce61/rules.mk
  keyboards/handwired/ms_sculpt_mobile/rules.mk
  keyboards/handwired/onekey/teensy_2pp/rules.mk
  keyboards/kinesis/rules.mk
  keyboards/lfkeyboards/lfk78/rules.mk
  keyboards/lfkeyboards/lfk87/rules.mk
  keyboards/lfkeyboards/mini1800/rules.mk
  keyboards/lfkeyboards/smk65/rules.mk
  keyboards/m0lly/rules.mk
  keyboards/omnikey_blackheart/rules.mk
  keyboards/omnikeyish/rules.mk
  keyboards/planck/light/rules.mk
  keyboards/subatomic/rules.mk
  keyboards/tkc1800/rules.mk
  keyboards/uk78/rules.mk
  keyboards/vision_division/rules.mk
  keyboards/z150_blackheart/rules.mk
Labels: enhancement, keyboard

#6768 Cleanup rules.mk for 16U2 and 32U2 keyboards
  keyboards/2key2crawl/rules.mk
  keyboards/alps64/rules.mk
  keyboards/bigseries/rules.mk
  keyboards/bpiphany/frosty_flake/rules.mk
  keyboards/bpiphany/kitten_paw/rules.mk
  keyboards/bpiphany/pegasushoof/rules.mk
  keyboards/bpiphany/tiger_lily/rules.mk
  keyboards/bpiphany/unloved_bastard/rules.mk
  keyboards/handwired/6macro/rules.mk
  keyboards/idb_60/rules.mk
  keyboards/illuminati/is0/rules.mk
  keyboards/kbdfans/kbdpad_mk2/rules.mk
  keyboards/meme/rules.mk
  keyboards/novelpad/rules.mk
  keyboards/primekb/prime_m/rules.mk
  keyboards/primekb/prime_o/rules.mk
  keyboards/sixkeyboard/rules.mk
  keyboards/staryu/rules.mk
  keyboards/ut472/rules.mk
  keyboards/xd004/v1/rules.mk
Labels: enhancement, keyboard

#6772 Added my personal keymaps for dz60 and TMO50.
  keyboards/dz60/keymaps/ottodokto/config.h
  keyboards/dz60/keymaps/ottodokto/keymap.c
  keyboards/dz60/keymaps/ottodokto/rules.mk
  keyboards/tmo50/keymaps/ottodokto/config.h
  keyboards/tmo50/keymaps/ottodokto/keymap.c
  keyboards/tmo50/keymaps/ottodokto/rules.mk
Labels: keymap

#6770 Add reset instructions for boards that use Command to the Zadig driver installation guide
  docs/driver_installation_zadig.md
Labels: documentation

#6767 Cleanup rules.mk for 32A and 328P keyboards
  docs/flashing.md
  keyboards/ares/rules.mk
  keyboards/bfake/rules.mk
  keyboards/canoe/rules.mk
  keyboards/coseyfannitutti/discipline/rules.mk
  keyboards/donutcables/budget96/rules.mk
  keyboards/eve/meteor/rules.mk
  keyboards/exclusive/e6v2/le_bmc/rules.mk
  keyboards/exclusive/e6v2/oe_bmc/rules.mk
  keyboards/facew/rules.mk
  keyboards/ft/mars80/rules.mk
  keyboards/gingham/rules.mk
  keyboards/gray_studio/hb85/rules.mk
  keyboards/handwired/hnah40/rules.mk
  keyboards/jc65/v32a/rules.mk
  keyboards/jj40/rules.mk
  keyboards/jj4x4/rules.mk
  keyboards/jj50/keymaps/archetype/rules.mk
  keyboards/jj50/rules.mk
  keyboards/kbdfans/kbdpad/mk1/rules.mk
  keyboards/mechmini/v1/rules.mk
  keyboards/mehkee96/rules.mk
  keyboards/mt40/rules.mk
  keyboards/panc60/rules.mk
  keyboards/pearl/rules.mk
  keyboards/plaid/rules.mk
  keyboards/singa/rules.mk
  keyboards/skog/rules.mk
  keyboards/tgr/alice/rules.mk
  keyboards/tgr/jane/rules.mk
  keyboards/unikorn/rules.mk
  keyboards/winkeyless/bface/rules.mk
  keyboards/winkeyless/bmini/rules.mk
  keyboards/winkeyless/bminiex/rules.mk
  keyboards/ymd75/rules.mk
  keyboards/ymd96/rules.mk
  keyboards/ymdk/bface/rules.mk
  keyboards/ymdk_np21/rules.mk
  quantum/template/avr/rules.mk
  quantum/template/ps2avrgb/rules.mk
Labels: documentation, enhancement, keyboard

#6771 [Keyboard] Add Discipad, Update Zadig doc for USBaspLoader
  docs/driver_installation_zadig.md
  keyboards/coseyfannitutti/discipad/config.h
  keyboards/coseyfannitutti/discipad/discipad.c
  keyboards/coseyfannitutti/discipad/discipad.h
  keyboards/coseyfannitutti/discipad/info.json
  keyboards/coseyfannitutti/discipad/keymaps/default/keymap.c
  keyboards/coseyfannitutti/discipad/readme.md
  keyboards/coseyfannitutti/discipad/rules.mk
  keyboards/coseyfannitutti/discipad/usbconfig.h
Labels: documentation, keyboard

#6776 Add support for 328P hardware backlight on B1/B2
  docs/feature_backlight.md
  quantum/quantum.c
Labels: core, documentation, enhancement

#5526 Add support for Void Linux systems to the qmk_install.sh script
  util/linux_install.sh
Labels: enhancement

#5557 Update readme.md
  keyboards/kinesis/stapelberg/readme.md
Labels: documentation

#5563 Add list-keymaps make target
  Makefile
  message.mk
Labels: enhancement

#6391 Bonta keymap for massdrop/ALT
  keyboards/massdrop/alt/keymaps/bonta/keymap.c
Labels: keymap

#6537 [Keymap] Move common code and configuration to userspace for dshields…
  keyboards/model01/keymaps/dshields/config.h
  keyboards/model01/keymaps/dshields/keymap.c
  keyboards/model01/keymaps/dshields/rules.mk
  keyboards/planck/keymaps/dshields/config.h
  keyboards/planck/keymaps/dshields/keymap.c
  users/dshields/config.h
  users/dshields/dshields.c
  users/dshields/dshields.h
  users/dshields/rules.mk
Labels: keymap

#6629 Generalize Tap Dance Layer functions
  .vscode/settings.json
  docs/feature_tap_dance.md
  quantum/process_keycode/process_tap_dance.c
  quantum/process_keycode/process_tap_dance.h
Labels: documentation, enhancement

#6761 Fix OLKB layout macro aliases
  keyboards/planck/light/light.h
  keyboards/planck/rev1/rev1.h
  keyboards/planck/rev2/rev2.h
  keyboards/planck/rev3/rev3.h
  keyboards/planck/rev4/rev4.h
  keyboards/planck/rev5/rev5.h
  keyboards/planck/rev6/rev6.h
  keyboards/preonic/preonic.h
Labels: bug, keyboard

#6785 Update the breaking changes process so we always have a future branch
  docs/breaking_changes.md
Labels: documentation

#6774 add python3 to shell.nix
  shell.nix
Labels: enhancement

#6746 Fixing wrapping math logic for timer_expired functions
  tmk_core/common/timer.h
Labels: bug, core

#6708 Configuration system for CLI
  bin/qmk
  bin/qmk-compile-json
  bin/qmk-doctor
  bin/qmk-hello
  bin/qmk-json-keymap
  build_json.mk
  docs/_summary.md
  docs/cli.md
  docs/cli_configuration.md
  docs/cli_development.md
  docs/python_development.md
  docs/redirects.json
  lib/python/milc.py
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/cformat.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/config.py
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/cli/hello.py
  lib/python/qmk/cli/json/__init__.py
  lib/python/qmk/cli/json/keymap.py
  lib/python/qmk/cli/new/__init__.py
  lib/python/qmk/cli/new/keymap.py
  lib/python/qmk/cli/pyformat.py
  lib/python/qmk/cli/pytest.py
  lib/python/qmk/path.py
  lib/python/qmk/tests/test_cli_commands.py
  requirements.txt
  util/travis_build.sh
Labels: core, python

#6782 New Default Layout: 65_blocker_ansi
  layouts/default/65_blocker_ansi/default_65_blocker_ansi/keymap.c
  layouts/default/65_blocker_ansi/layout.json
  layouts/default/65_blocker_ansi/readme.md
Labels: enhancement, keymap

#6788 Fix pinout on the copenhagen clickpad
  keyboards/copenhagen_click/click_pad_v1/config.h
Labels: bug, keyboard

#6791 65_ansi_blocker support for Doro67
  keyboards/doro67/multi/info.json
  keyboards/doro67/multi/keymaps/default/keymap.c
  keyboards/doro67/multi/multi.h
  keyboards/doro67/multi/rules.mk
  keyboards/doro67/regular/info.json
  keyboards/doro67/regular/keymaps/default/keymap.c
  keyboards/doro67/regular/regular.h
  keyboards/doro67/regular/rules.mk
  keyboards/doro67/rgb/info.json
  keyboards/doro67/rgb/keymaps/default/keymap.c
  keyboards/doro67/rgb/rgb.h
  keyboards/doro67/rgb/rules.mk
  layouts/default/65_ansi_blocker/default_65_ansi_blocker/keymap.c
  layouts/default/65_ansi_blocker/layout.json
  layouts/default/65_ansi_blocker/readme.md
Labels: enhancement, keyboard

#6799 Refactor the KBD67 Mk.II RGB
  keyboards/kbdfans/kbd67/mkiirgb/config.h
  keyboards/kbdfans/kbd67/mkiirgb/info.json
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/default/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/mkiirgb.c
  keyboards/kbdfans/kbd67/mkiirgb/mkiirgb.h
  keyboards/kbdfans/kbd67/mkiirgb/readme.md
  keyboards/kbdfans/kbd67/mkiirgb/rules.mk
  keyboards/kbdfans/kbd67/readme.md
Labels: enhancement, keyboard, optimization

#6789 Cleanup rules.mk for 32U4 keyboards, 0-9
  keyboards/1upkeyboards/1up60hse/rules.mk
  keyboards/1upkeyboards/1up60hte/rules.mk
  keyboards/1upkeyboards/1up60rgb/rules.mk
  keyboards/1upkeyboards/super16/rules.mk
  keyboards/1upkeyboards/sweet16/rules.mk
  keyboards/2_milk/rules.mk
  keyboards/30wer/rules.mk
  keyboards/40percentclub/25/rules.mk
  keyboards/40percentclub/4x4/rules.mk
  keyboards/40percentclub/5x5/rules.mk
  keyboards/40percentclub/6lit/rules.mk
  keyboards/40percentclub/foobar/rules.mk
  keyboards/40percentclub/gherkin/rules.mk
  keyboards/40percentclub/half_n_half/rules.mk
  keyboards/40percentclub/i75/promicro/rules.mk
  keyboards/40percentclub/i75/teensy2/rules.mk
  keyboards/40percentclub/luddite/rules.mk
  keyboards/40percentclub/mf68/keymaps/mf68_ble/rules.mk
  keyboards/40percentclub/mf68/rules.mk
  keyboards/40percentclub/nano/rules.mk
  keyboards/40percentclub/nein/rules.mk
  keyboards/40percentclub/nori/rules.mk
  keyboards/40percentclub/tomato/rules.mk
  keyboards/40percentclub/ut47/rules.mk
  keyboards/4by3/rules.mk
  keyboards/6ball/keymaps/default/rules.mk
  keyboards/6ball/rules.mk
  keyboards/8pack/rules.mk
  keyboards/9key/rules.mk
Labels: enhancement, keyboard

#6545 ARM split - Add bootmagic/magic keycodes for setting handedness
  docs/feature_bootmagic.md
  docs/keycodes.md
  quantum/quantum.c
  quantum/quantum_keycodes.h
  quantum/split_common/split_util.c
  tmk_core/common/bootmagic.c
  tmk_core/common/bootmagic.h
  tmk_core/common/eeconfig.c
  tmk_core/common/eeconfig.h
Labels: core

#6798 Merlin's Community Layout Updates
  layouts/community/60_ansi/mechmerlin-ansi/readme.md
  layouts/community/60_ansi_split_bs_rshift/mechmerlin-split/readme.md
  layouts/community/65_ansi_blocker/mechmerlin/keymap.c
  layouts/community/65_ansi_blocker/mechmerlin/readme.md
  layouts/community/65_ansi_blocker/mechmerlin/rules.mk
Labels: keymap

#6807 info.json missing a column
  keyboards/kbdfans/kbd67/mkiirgb/info.json
Labels: bug, keymap

#6802 Bathroom Epiphanies Pegasus Hoof: add LAYOUT_tkl_jis data to QMK Configurator
  keyboards/bpiphany/pegasushoof/info.json
Labels: enhancement, keyboard

#6792 New keymap for the DZ65RGB
  keyboards/dztech/dz65rgb/keymaps/chocol8/config.h
  keyboards/dztech/dz65rgb/keymaps/chocol8/keymap.c
  keyboards/dztech/dz65rgb/keymaps/chocol8/rules.mk
Labels: keymap

#6814 add keymap broswen for kbd75
  keyboards/kbdfans/kbd75/keymaps/broswen/README.md
  keyboards/kbdfans/kbd75/keymaps/broswen/keymap.c
Labels: keymap

#6815 Add additional LAYOUT macros to Noxary 260
  keyboards/noxary/260/260.h
  keyboards/noxary/260/info.json
  keyboards/noxary/260/keymaps/default/keymap.c
  keyboards/noxary/260/rules.mk
Labels: enhancement, keymap

#6816 Various enhancements for dshields user space and keymaps.
  keyboards/model01/keymaps/dshields/keymap.c
  keyboards/planck/keymaps/dshields/keymap.c
  users/dshields/config.h
  users/dshields/dshields.c
  users/dshields/dshields.h
  users/dshields/rules.mk
Labels: keymap

#6817 update ishtob's personal keymap
  keyboards/hadron/ver3/keymaps/ishtob/keymap.c
Labels: keymap

#5398 Added support for ErgoDox with STM32 Microcontroller
  drivers/arm/i2c_master.c
  keyboards/ergodox_stm32/boards/ERGODOX_STM32_BOARD/board.c
  keyboards/ergodox_stm32/boards/ERGODOX_STM32_BOARD/board.h
  keyboards/ergodox_stm32/boards/ERGODOX_STM32_BOARD/board.mk
  keyboards/ergodox_stm32/chconf.h
  keyboards/ergodox_stm32/config.h
  keyboards/ergodox_stm32/ergodox_stm32.c
  keyboards/ergodox_stm32/ergodox_stm32.h
  keyboards/ergodox_stm32/halconf.h
  keyboards/ergodox_stm32/info.json
  keyboards/ergodox_stm32/keymaps/default/keymap.c
  keyboards/ergodox_stm32/ld/stm32f103_bootloader.ld
  keyboards/ergodox_stm32/matrix.c
  keyboards/ergodox_stm32/mcuconf.h
  keyboards/ergodox_stm32/rules.mk
Labels: keyboard

#6805 65 ansi blocker everywhere (everywhere I can find)
  keyboards/exclusive/e65/rules.mk
  keyboards/gray_studio/space65/info.json
  keyboards/gray_studio/space65/rules.mk
  keyboards/gray_studio/space65/space65.h
  keyboards/kbdfans/kbd67/hotswap/hotswap.h
  keyboards/massdrop/alt/alt.h
  keyboards/massdrop/alt/info.json
  keyboards/massdrop/alt/keymaps/default/keymap.c
  keyboards/massdrop/alt/rules.mk
  keyboards/noxary/268_2/268_2.h
  keyboards/noxary/268_2/info.json
  keyboards/noxary/268_2/keymaps/default/keymap.c
  keyboards/noxary/268_2/rules.mk
  keyboards/percent/canoe/canoe.h
  keyboards/percent/canoe/info.json
  keyboards/percent/canoe/rules.mk
  keyboards/vinta/info.json
  keyboards/vinta/rules.mk
  keyboards/vinta/vinta.h
Labels: enhancement, keymap, optimization

#6806 [keymap] Add Z-layer to narze layouts
  keyboards/ergodox_infinity/keymaps/narze/keymap.c
  keyboards/planck/keymaps/narze/keymap.c
Labels: keymap

#6809 Rabbit68: Configurator layout support
  keyboards/rabbit/rabbit68/info.json
Labels: enhancement, keyboard

#6811 [Keyboard] Add Efreet keyboard
  keyboards/efreet/config.h
  keyboards/efreet/efreet.c
  keyboards/efreet/efreet.h
  keyboards/efreet/info.json
  keyboards/efreet/keymaps/default/config.h
  keyboards/efreet/keymaps/default/keymap.c
  keyboards/efreet/keymaps/default/readme.md
  keyboards/efreet/readme.md
  keyboards/efreet/rules.mk
Labels: keyboard

#3194 Subatomic refactor
  keyboards/subatomic/info.json
  keyboards/subatomic/keymaps/default/keymap.c
  keyboards/subatomic/readme.md
  keyboards/subatomic/subatomic.h
Labels: keyboard

#6796 Add Crossed Keys/Keyhive Nightmare
  keyboards/nightmare/config.h
  keyboards/nightmare/info.json
  keyboards/nightmare/keymaps/default/config.h
  keyboards/nightmare/keymaps/default/keymap.c
  keyboards/nightmare/keymaps/default/readme.md
  keyboards/nightmare/nightmare.c
  keyboards/nightmare/nightmare.h
  keyboards/nightmare/readme.md
  keyboards/nightmare/rules.mk
Labels: keyboard

#6812 Add preonic/kjwon15 layout
  keyboards/preonic/keymaps/kjwon15/config.h
  keyboards/preonic/keymaps/kjwon15/keymap.c
  keyboards/preonic/keymaps/kjwon15/readme.md
  keyboards/preonic/keymaps/kjwon15/rules.mk
  keyboards/preonic/preonic.c
Labels: keymap

#6818 Vita inc rev2 bootloader fix
  keyboards/vitamins_included/rev2/config.h
Labels: bug, keyboard

#6819 Reviung39: Configurator layout support
  keyboards/reviung39/info.json
Labels: enhancement, keyboard

#6820 Port personal keymap to 60_tsangan_hhkb
  keyboards/clueboard/60/keymaps/yanfali/keymap.c
  keyboards/clueboard/60/keymaps/yanfali/readme.md
  keyboards/maartenwut/plain60/keymaps/yanfali/keymap.c
  keyboards/maartenwut/plain60/keymaps/yanfali/readme.md
  keyboards/maartenwut/plain60/plain60.h
  keyboards/maartenwut/plain60/rules.mk
  layouts/community/60_ansi_split_bs_rshift/yanfali/keymap.c
  layouts/community/60_tsangan_hhkb/yanfali/keymap.c
  users/yanfali/config.h
  users/yanfali/rules.mk
Labels: bug, keymap

#6821 Use 75_ansi and community layout for xd84
  layouts/community/75_ansi/yanfali/keymap.c
  users/yanfali/config.h
Labels: keymap

#6828 cKeys theDora: Configurator fix
  keyboards/ckeys/thedora/info.json
Labels: enhancement, keyboard

#6830 [Keymap] Personal xd75 keymap "Odyssey"
  keyboards/xd75/keymaps/odyssey/config.h
  keyboards/xd75/keymaps/odyssey/keymap.c
  keyboards/xd75/keymaps/odyssey/readme.md
  keyboards/xd75/keymaps/odyssey/rules.mk
Labels: keymap

#6543 ARM split - Add support for dfu-util EE_HANDS flashing
  docs/config_options.md
  docs/feature_split_keyboard.md
  docs/flashing.md
  docs/newbs_flashing.md
  tmk_core/chibios.mk
  tmk_core/common/eeconfig.c
Labels: core

#6835 correct default keymap for wonderland
  keyboards/maartenwut/wonderland/keymaps/default/keymap.c
Labels: keymap

#6778 support tkl_iso community layout
  keyboards/bpiphany/unloved_bastard/info.json
  keyboards/bpiphany/unloved_bastard/keymaps/default_iso/config.h
  keyboards/bpiphany/unloved_bastard/keymaps/default_iso/keymap.c
  keyboards/bpiphany/unloved_bastard/keymaps/default_iso/readme.md
  keyboards/bpiphany/unloved_bastard/rules.mk
  keyboards/bpiphany/unloved_bastard/unloved_bastard.h
Labels: keyboard

#6838 correct keebs keymap for wonderland
  keyboards/maartenwut/wonderland/keymaps/keebs/keymap.c
Labels: keymap

#6837 Adds Egstad Preonic Profile
  keyboards/preonic/keymaps/egstad/config.h
  keyboards/preonic/keymaps/egstad/keymap.c
  keyboards/preonic/keymaps/egstad/readme.md
  keyboards/preonic/keymaps/egstad/rules.mk
Labels: keymap

#6839 [keymap]update hecomi/kakunpc keymap
  keyboards/hecomi/keymaps/kakunpc/keymap.c
Labels: keymap

#6840 [featurefix] budget96 RGB light-switches
  keyboards/donutcables/budget96/budget96.c
Labels: bug, keyboard

#6740 Signum 3 0 enable kinetic speed
  keyboards/signum/3_0/elitec/config.h
  keyboards/signum/3_0/elitec/keymaps/default/keymap.c
  keyboards/signum/3_0/elitec/keymaps/default/layout.py
Labels: keyboard
