Repository qmk/qmk_firmware, pull requests merged in 2020-10, with the labels that each got.

#10350 Add a configuration for the rgbkb Zen1
  keyboards/rgbkb/zen/rev1/keymaps/samae/config.h
  keyboards/rgbkb/zen/rev1/keymaps/samae/keymap.c
  keyboards/rgbkb/zen/rev1/keymaps/samae/rules.mk
Labels: keymap

#10490 Rename nebula65 -> nebula68
  keyboards/nebula68/chconf.h
  keyboards/nebula68/config.h
  keyboards/nebula68/halconf.h
  keyboards/nebula68/info.json
  keyboards/nebula68/keymaps/default/keymap.c
  keyboards/nebula68/keymaps/default/readme.md
  keyboards/nebula68/keymaps/via/keymap.c
  keyboards/nebula68/keymaps/via/readme.md
  keyboards/nebula68/keymaps/via/rules.mk
  keyboards/nebula68/mcuconf.h
  keyboards/nebula68/nebula68.c
  keyboards/nebula68/nebula68.h
  keyboards/nebula68/readme.md
  keyboards/nebula68/rules.mk
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: keyboard

#10496 [Keymap] VIA Support for Nein Macropad
  keyboards/40percentclub/nein/config.h
  keyboards/40percentclub/nein/info.json
  keyboards/40percentclub/nein/keymaps/via/keymap.c
  keyboards/40percentclub/nein/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#10501 resolve extra param issue in boardsource/5x12 via keymap
  keyboards/boardsource/5x12/keymaps/via/keymap.c
Labels: bug, keymap

#10476 Enable Mediakeys for yiancar's 328p keyboards
  keyboards/barleycorn/keymaps/via/readme.md
  keyboards/barleycorn/keymaps/via/rules.mk
  keyboards/gingham/keymaps/via/keymap.c
  keyboards/gingham/keymaps/via/readme.md
  keyboards/gingham/keymaps/via/rules.mk
Labels: keymap, via

#10460 Fix SPLIT_KEYBOARD compilation for ATMega*U2, which doesn't have VBUS/OTG control
  quantum/split_common/split_util.c
Labels: bug, core

#10499 xd75re Multi-layer keymap
  keyboards/xd75/keymaps/tomswartz07/keymap.c
Labels: keymap

#10422 Crkbd implementing return value for matrix_scan()
  keyboards/crkbd/rev1/legacy/matrix.c
  keyboards/crkbd/rev1/legacy/split_util.h
Labels: keyboard

#10401 VIA Support & LAYOUT macro fixing: KBDFans KBD19x
  keyboards/kbdfans/kbd19x/config.h
  keyboards/kbdfans/kbd19x/kbd19x.h
  keyboards/kbdfans/kbd19x/keymaps/via/keymap.c
  keyboards/kbdfans/kbd19x/keymaps/via/rules.mk
  keyboards/kbdfans/kbd19x/readme.md
Labels: keyboard, keymap, via

#10486 Adding 2x2u default layout for Boardwalk
  keyboards/boardwalk/keymaps/default_2x2u/keymap.c
  keyboards/boardwalk/keymaps/default_2x2u/readme.md
Labels: keymap

#10469 Add VIA configurator support to Southpaw Fullsize
  keyboards/switchplate/southpaw_fullsize/keymaps/via/keymap.c
  keyboards/switchplate/southpaw_fullsize/keymaps/via/readme.md
  keyboards/switchplate/southpaw_fullsize/keymaps/via/rules.mk
Labels: keymap, via

#10463 Add 64_ansi and 64_iso Community Layouts
  layouts/default/64_ansi/default_64_ansi/keymap.c
  layouts/default/64_ansi/info.json
  layouts/default/64_ansi/layout.json
  layouts/default/64_ansi/readme.md
  layouts/default/64_iso/default_64_iso/keymap.c
  layouts/default/64_iso/info.json
  layouts/default/64_iso/layout.json
  layouts/default/64_iso/readme.md
  layouts/default/readme.md
Labels: enhancement, keyboard

#10467 Update make rules for community/ortho_4x12/junonum
  layouts/community/ortho_4x12/junonum/keymap.c
  layouts/community/ortho_4x12/junonum/rules.mk
Labels: keymap

#10470 Add ddeklerk split_3x6_3 layout
  layouts/community/split_3x6_3/ddeklerk/keymap.c
Labels: keymap

#10497 Port mechmini v2 for VIA support
  keyboards/mechmini/config.h
  keyboards/mechmini/v2/config.h
  keyboards/mechmini/v2/keymaps/via/keymap.c
  keyboards/mechmini/v2/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#10473 Doc followup 9942
  docs/feature_advanced_keycodes.md
  docs/mod_tap.md
Labels: documentation

#10494 BM60RGB ISO: update default keymap and layout macro
  keyboards/bm60rgb_iso/bm60rgb_iso.h
  keyboards/bm60rgb_iso/keymaps/default/keymap.c
Labels: enhancement, keyboard

#10431 New keyboard: wsk/g4m3ralpha
  keyboards/wsk/g4m3ralpha/config.h
  keyboards/wsk/g4m3ralpha/g4m3ralpha.c
  keyboards/wsk/g4m3ralpha/g4m3ralpha.h
  keyboards/wsk/g4m3ralpha/info.json
  keyboards/wsk/g4m3ralpha/keymaps/default/keymap.c
  keyboards/wsk/g4m3ralpha/readme.md
  keyboards/wsk/g4m3ralpha/rules.mk
Labels: keyboard

#10436 Added replacement pcb for the matrix cain keyboard
  keyboards/matrix/cain_re/cain_re.c
  keyboards/matrix/cain_re/cain_re.h
  keyboards/matrix/cain_re/config.h
  keyboards/matrix/cain_re/info.json
  keyboards/matrix/cain_re/keymaps/default/keymap.c
  keyboards/matrix/cain_re/readme.md
  keyboards/matrix/cain_re/rules.mk
Labels: keyboard

#10414 Fixed some small things and replaced deprecated definitions
  keyboards/dz60/keymaps/pevecyan/keymap.c
  keyboards/planck/keymaps/pevecyan/keymap.c
Labels: keymap

#10475 [keyboard] Add Bm60poker support
  keyboards/bm60poker/bm60poker.c
  keyboards/bm60poker/bm60poker.h
  keyboards/bm60poker/config.h
  keyboards/bm60poker/info.json
  keyboards/bm60poker/keymaps/default/keymap.c
  keyboards/bm60poker/keymaps/ipetepete/keymap.c
  keyboards/bm60poker/keymaps/ipetepete/readme.md
  keyboards/bm60poker/keymaps/ipetepete/rules.mk
  keyboards/bm60poker/readme.md
  keyboards/bm60poker/rules.mk
Labels: keyboard, via

#10488 niclake Boardwalk layout
  keyboards/boardwalk/keymaps/niclake/config.h
  keyboards/boardwalk/keymaps/niclake/keymap.c
  keyboards/boardwalk/keymaps/niclake/readme.md
  keyboards/boardwalk/keymaps/niclake/rules.mk
Labels: keymap

#10446 Enable Via for the Sofle
  keyboards/sofle/keymaps/via/config.h
  keyboards/sofle/keymaps/via/encoder.c
  keyboards/sofle/keymaps/via/keymap.c
  keyboards/sofle/keymaps/via/oled.c
  keyboards/sofle/keymaps/via/readme.md
  keyboards/sofle/keymaps/via/rules.mk
Labels: keymap, via

#10507 FightPad! macropad
  keyboards/clawsome/fightpad/config.h
  keyboards/clawsome/fightpad/fightpad.c
  keyboards/clawsome/fightpad/fightpad.h
  keyboards/clawsome/fightpad/info.json
  keyboards/clawsome/fightpad/keymaps/default/keymap.c
  keyboards/clawsome/fightpad/readme.md
  keyboards/clawsome/fightpad/rules.mk
Labels: keyboard

#10503 Add joestrong keymap for quefrency rev 2
  keyboards/keebio/quefrency/keymaps/joestrong/README.md
  keyboards/keebio/quefrency/keymaps/joestrong/config.h
  keyboards/keebio/quefrency/keymaps/joestrong/keymap.c
Labels: keymap

#10407 Add Slice RGB VIA Support
  keyboards/basekeys/slice/rev1_rgb/keymaps/via/keymap.c
  keyboards/basekeys/slice/rev1_rgb/keymaps/via/rules.mk
  keyboards/basekeys/slice/rev1_rgb/rev1_rgb.h
Labels: keyboard, keymap, via

#10514 Update info.json for Slice RGB
  keyboards/basekeys/slice/rev1_rgb/info.json
Labels: enhancement, keyboard

#10513 Update reference_info_json.md
  docs/ja/reference_info_json.md
  docs/reference_info_json.md
Labels: documentation

#10523 add info.json for XD75 keyboard
  keyboards/xd75/info.json
Labels: enhancement, keyboard

#10519 IS31FL3741 driver fixup
  drivers/issi/is31fl3741.c
  drivers/issi/is31fl3741.h
Labels: bug, core

#10439 Joystick 16-bit support
  docs/feature_joystick.md
  quantum/joystick.h
  quantum/process_keycode/process_joystick.c
  tmk_core/common/report.h
  tmk_core/protocol/usb_descriptor.c
Labels: core, documentation, enhancement

#10377 OLED driver fixes
  drivers/oled/oled_driver.c
Labels: bug, core

#10259 Per-encoder resolutions
  docs/feature_encoders.md
  quantum/encoder.c
Labels: core, enhancement

#10088 Add hotfix for chibios keyboards not wake
  tmk_core/protocol/chibios/main.c
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/chibios/usb_main.h
Labels: bug, core, good first issue, needs testing

#8564 Add advanced/efficient RGB Matrix Indicators
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
Labels: awaiting review, core, documentation, optimization

#10442 Adding VIA support to katana60 rev2
  keyboards/rominronin/katana60/rev2/keymaps/via/keymap.c
  keyboards/rominronin/katana60/rev2/keymaps/via/rules.mk
Labels: keymap, via

#10287 Add hannah60rgb rev.2 PCB
  keyboards/mechlovin/hannah60rgb/config.h
  keyboards/mechlovin/hannah60rgb/hannah60rgb.h
  keyboards/mechlovin/hannah60rgb/info.json
  keyboards/mechlovin/hannah60rgb/keymaps/default/readme.md
  keyboards/mechlovin/hannah60rgb/keymaps/via/readme.md
  keyboards/mechlovin/hannah60rgb/readme.md
  keyboards/mechlovin/hannah60rgb/rev1/config.h
  keyboards/mechlovin/hannah60rgb/rev1/keymaps/default/keymap.c
  keyboards/mechlovin/hannah60rgb/rev1/keymaps/via/keymap.c
  keyboards/mechlovin/hannah60rgb/rev1/keymaps/via/rules.mk
  keyboards/mechlovin/hannah60rgb/rev1/rev1.c
  keyboards/mechlovin/hannah60rgb/rev1/rev1.h
  keyboards/mechlovin/hannah60rgb/rev1/rules.mk
  keyboards/mechlovin/hannah60rgb/rev2/config.h
  keyboards/mechlovin/hannah60rgb/rev2/keymaps/default/keymap.c
  keyboards/mechlovin/hannah60rgb/rev2/keymaps/via/keymap.c
  keyboards/mechlovin/hannah60rgb/rev2/keymaps/via/rules.mk
  keyboards/mechlovin/hannah60rgb/rev2/rev2.c
  keyboards/mechlovin/hannah60rgb/rev2/rev2.h
  keyboards/mechlovin/hannah60rgb/rev2/rules.mk
  keyboards/mechlovin/hannah60rgb/rules.mk
Labels: keyboard

#10328 Add keymaps
  keyboards/keebio/nyquist/keymaps/winternebs/config.h
  keyboards/keebio/nyquist/keymaps/winternebs/keymap.c
  keyboards/keebio/nyquist/keymaps/winternebs/rules.mk
  keyboards/kyria/keymaps/winternebs/config.h
  keyboards/kyria/keymaps/winternebs/glcdfont.c
  keyboards/kyria/keymaps/winternebs/keymap.c
  keyboards/kyria/keymaps/winternebs/rules.mk
  keyboards/planck/keymaps/winternebs/config.h
  keyboards/planck/keymaps/winternebs/keymap.c
  keyboards/planck/keymaps/winternebs/readme.md
  keyboards/planck/keymaps/winternebs/rules.mk
Labels: keymap

#10380 Add onekey keymap for OLED testing
  keyboards/handwired/onekey/keymaps/oled/keymap.c
  keyboards/handwired/onekey/keymaps/oled/readme.md
  keyboards/handwired/onekey/keymaps/oled/rules.mk
Labels: keymap

#10389 [Keyboard] Add Yugo-M Controller
  keyboards/yugo_m/model_m_101/config.h
  keyboards/yugo_m/model_m_101/info.json
  keyboards/yugo_m/model_m_101/keymaps/default/keymap.c
  keyboards/yugo_m/model_m_101/keymaps/default/readme.md
  keyboards/yugo_m/model_m_101/model_m_101.c
  keyboards/yugo_m/model_m_101/model_m_101.h
  keyboards/yugo_m/model_m_101/readme.md
  keyboards/yugo_m/model_m_101/rules.mk
  keyboards/yugo_m/readme.md
Labels: keyboard

#10404 Allow the use of only one IS31FL3731 LED driver
  quantum/process_keycode/process_rgb.c
  quantum/rgb_matrix_drivers.c
Labels: bug, core

#10361 Fix MIDI sustain effect issue
  quantum/process_keycode/process_midi.c
Labels: bug, core

#10440 Add soy20 PCB
  keyboards/soy20/config.h
  keyboards/soy20/info.json
  keyboards/soy20/keymaps/default/keymap.c
  keyboards/soy20/keymaps/via/keymap.c
  keyboards/soy20/keymaps/via/rules.mk
  keyboards/soy20/readme.md
  keyboards/soy20/rules.mk
  keyboards/soy20/soy20.c
  keyboards/soy20/soy20.h
Labels: keyboard

#10502 Move my custom functions and keymaps to userspace
  keyboards/handwired/riblee_f401/riblee_f401.h
  keyboards/handwired/riblee_f401/rules.mk
  layouts/community/ortho_5x12/riblee/config.h
  layouts/community/ortho_5x12/riblee/keymap.c
  layouts/community/ortho_5x12/riblee/readme.md
  layouts/community/ortho_5x12/riblee/rules.mk
  users/riblee/readme.md
  users/riblee/riblee.c
  users/riblee/riblee.h
  users/riblee/rules.mk
Labels: keyboard, keymap

#10420 ChibiOS upgrade: Filter 'all' builds by platform
  Makefile
  build_keyboard.mk
  message.mk
Labels: core

#10438 Actually invoke eeprom_driver_init()
  drivers/chibios/i2c_master.c
  drivers/chibios/spi_master.c
  drivers/eeprom/eeprom_i2c.c
  drivers/eeprom/eeprom_spi.c
  tmk_core/protocol/chibios/main.c
Labels: core, enhancement

#10536 Personal keymap for Let's Split keyboard.
  keyboards/lets_split/keymaps/geripgeri/config.h
  keyboards/lets_split/keymaps/geripgeri/keymap.c
  keyboards/lets_split/keymaps/geripgeri/rules.mk
Labels: keymap

#10515 Fixes small typo in docs
  docs/hardware_keyboard_guidelines.md
Labels: documentation

#10206 Support for STM32 GPIOF,G,H,I,J,K
  quantum/config_common.h
Labels: core, enhancement

#10323 CLI: update subcommands to use return instead of exit()
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/cli/info.py
  lib/python/qmk/cli/json/keymap.py
  lib/python/qmk/cli/json2c.py
  lib/python/qmk/cli/kle2json.py
  lib/python/qmk/cli/list/keymaps.py
  lib/python/qmk/cli/new/keymap.py
  lib/python/qmk/tests/.gitignore
  lib/python/qmk/tests/test_cli_commands.py
Labels: bug, cli, enhancement, python

#9530 Improve LAYOUT macro searching
  lib/python/qmk/info.py
Labels: bug, cli, python

#8817 [CLI] Add c2json
  docs/cli_commands.md
  keyboards/handwired/onekey/keymaps/pytest_nocpp/keymap.c
  keyboards/handwired/onekey/pytest/templates/keymap.json
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/c2json.py
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/commands.py
  lib/python/qmk/keymap.py
  lib/python/qmk/tests/test_cli_commands.py
  lib/python/qmk/tests/test_qmk_keymap.py
  requirements.txt
Labels: cli, python

#10567 Docs: fix udev rules
  docs/faq_build.md
Labels: documentation

#10559 Fix issue introduced by PR#10404
  quantum/process_keycode/process_rgb.c
Labels: bug, core

#10151 add maja capslock indicator
  keyboards/kbdfans/maja/maja.c
Labels: keyboard

#10500 LeftyNumpad Keyboard
  keyboards/handwired/leftynumpad/config.h
  keyboards/handwired/leftynumpad/info.json
  keyboards/handwired/leftynumpad/keymaps/default/keymap.c
  keyboards/handwired/leftynumpad/keymaps/default/readme.md
  keyboards/handwired/leftynumpad/leftynumpad.c
  keyboards/handwired/leftynumpad/leftynumpad.h
  keyboards/handwired/leftynumpad/readme.md
  keyboards/handwired/leftynumpad/rules.mk
Labels: keyboard

#10505 Clean ChibiOS platform files
  keyboards/handwired/riblee_f401/chconf.h
  keyboards/handwired/riblee_f401/halconf.h
  keyboards/handwired/riblee_f401/mcuconf.h
  keyboards/handwired/riblee_f401/readme.md
Labels: keyboard

#10525 Add niu mini dye sub keymap
  keyboards/niu_mini/keymaps/dyesub/keymap.c
  keyboards/niu_mini/keymaps/dyesub/readme.md
  keyboards/niu_mini/keymaps/dyesub/rules.mk
Labels: keymap

#10529 New keyboard - eiri
  keyboards/emajesty/eiri/config.h
  keyboards/emajesty/eiri/eiri.c
  keyboards/emajesty/eiri/eiri.h
  keyboards/emajesty/eiri/info.json
  keyboards/emajesty/eiri/keymaps/default/keymap.c
  keyboards/emajesty/eiri/keymaps/default/readme.md
  keyboards/emajesty/eiri/readme.md
  keyboards/emajesty/eiri/rules.mk
Labels: keyboard

#10563 Add milc as a dependency and remove the installed milc
  lib/python/milc.py
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/questions.py
  requirements.txt
Labels: cli, python

#10434 Add smk65/revf support
  keyboards/lfkeyboards/smk65/info.json
  keyboards/lfkeyboards/smk65/keymaps/default/config.h
  keyboards/lfkeyboards/smk65/keymaps/default/keymap.c
  keyboards/lfkeyboards/smk65/keymaps/default/rules.mk
  keyboards/lfkeyboards/smk65/keymaps/iso/config.h
  keyboards/lfkeyboards/smk65/keymaps/iso/keymap.c
  keyboards/lfkeyboards/smk65/keymaps/iso/rules.mk
  keyboards/lfkeyboards/smk65/readme.md
  keyboards/lfkeyboards/smk65/revb/config.h
  keyboards/lfkeyboards/smk65/revb/revb.c
  keyboards/lfkeyboards/smk65/revb/revb.h
  keyboards/lfkeyboards/smk65/revb/rules.mk
  keyboards/lfkeyboards/smk65/revf/config.h
  keyboards/lfkeyboards/smk65/revf/keymaps/via/keymap.c
  keyboards/lfkeyboards/smk65/revf/keymaps/via/rules.mk
  keyboards/lfkeyboards/smk65/revf/revf.h
  keyboards/lfkeyboards/smk65/revf/rules.mk
  keyboards/lfkeyboards/smk65/rules.mk
  keyboards/lfkeyboards/smk65/smk65.h
Labels: keyboard, via

#10544 bella soldered small fix
  keyboards/kbdfans/bella/soldered/keymaps/default/keymap.c
  keyboards/kbdfans/bella/soldered/keymaps/via/keymap.c
  keyboards/kbdfans/bella/soldered/soldered.h
Labels: keyboard

#10574 CLI: Fix MCU lists for `qmk info`
  lib/python/qmk/constants.py
  lib/python/qmk/info.py
Labels: cli, enhancement, python

#10570 Updated: Keyboardio/atreus
  keyboards/keyboardio/atreus/atreus.c
  keyboards/keyboardio/atreus/atreus.h
  keyboards/keyboardio/atreus/config.h
  keyboards/keyboardio/atreus/info.json
  keyboards/keyboardio/atreus/keymaps/default/keymap.c
  keyboards/keyboardio/atreus/readme.md
  keyboards/keyboardio/atreus/rules.mk
Labels: keyboard

#10585 CLI: Fix stripping of `ANY` from Configurator exports
  lib/python/qmk/keymap.py
Labels: bug, cli, python

#10566 XD68 - Adjust the VIA keymap to more closely match vendor
  keyboards/xd68/keymaps/via/keymap.c
  keyboards/xd68/rules.mk
  keyboards/xd68/xd68.h
Labels: keymap, via

#10588 Update breaking_changes.md of Japanese document.
  docs/ja/breaking_changes.md
Labels: documentation, translation

#10590 Update faq_debug.md of Japanese document.
  docs/ja/faq_debug.md
Labels: documentation, translation

#10591 Update feature_auto_shift.md of Japanese document.
  docs/ja/feature_auto_shift.md
Labels: documentation, translation

#10592 Update feature_backlight.md of Japanese document.
  docs/ja/feature_backlight.md
Labels: documentation, translation

#9527 Ergodox Infinity: Add EE_HANDS support.
  keyboards/ergodox_infinity/matrix.c
  keyboards/ergodox_infinity/readme.md
Labels: awaiting review, enhancement, keyboard

#10297 [Keyboard] Add Helix rev3
  keyboards/helix/helix.h
  keyboards/helix/readme.md
  keyboards/helix/rev3_4rows/config.h
  keyboards/helix/rev3_4rows/info.json
  keyboards/helix/rev3_4rows/keymaps/default/config.h
  keyboards/helix/rev3_4rows/keymaps/default/keymap.c
  keyboards/helix/rev3_4rows/keymaps/default/readme.md
  keyboards/helix/rev3_4rows/keymaps/via/config.h
  keyboards/helix/rev3_4rows/keymaps/via/keymap.c
  keyboards/helix/rev3_4rows/keymaps/via/readme.md
  keyboards/helix/rev3_4rows/keymaps/via/rules.mk
  keyboards/helix/rev3_4rows/oled_display.c
  keyboards/helix/rev3_4rows/readme.md
  keyboards/helix/rev3_4rows/rev3_4rows.c
  keyboards/helix/rev3_4rows/rev3_4rows.h
  keyboards/helix/rev3_4rows/rules.mk
  keyboards/helix/rev3_5rows/config.h
  keyboards/helix/rev3_5rows/info.json
  keyboards/helix/rev3_5rows/keymaps/default/config.h
  keyboards/helix/rev3_5rows/keymaps/default/keymap.c
  keyboards/helix/rev3_5rows/keymaps/default/readme.md
  keyboards/helix/rev3_5rows/keymaps/via/config.h
  keyboards/helix/rev3_5rows/keymaps/via/keymap.c
  keyboards/helix/rev3_5rows/keymaps/via/readme.md
  keyboards/helix/rev3_5rows/keymaps/via/rules.mk
  keyboards/helix/rev3_5rows/oled_display.c
  keyboards/helix/rev3_5rows/readme.md
  keyboards/helix/rev3_5rows/rev3_5rows.c
  keyboards/helix/rev3_5rows/rev3_5rows.h
  keyboards/helix/rev3_5rows/rules.mk
Labels: keyboard

#10618 Fix configurator layout helix/rev3_4rows
  keyboards/helix/rev3_4rows/info.json
Labels: bug, keyboard

#10621 changed type of process_combo_event argument in tutorial
  docs/feature_combo.md
Labels: documentation

#9896 [Docs] Japanese translation of docs/isp_flashing_guide.md
  docs/ja/isp_flashing_guide.md
Labels: documentation, translation

#10603 Update i2c_driver.md of Japanese document
  docs/ja/i2c_driver.md
Labels: documentation, translation

#10589 Update faq_build.md of Japanese document.
  docs/ja/faq_build.md
Labels: documentation, translation

#10594 Update feature_bluetooth.md of Japanese document.
  docs/ja/feature_bluetooth.md
Labels: documentation, translation

#10599 Update feature_tap_dance.md of Japanese document.
  docs/ja/feature_tap_dance.md
Labels: documentation, translation

#10601 Update flashing.md of Japanese document
  docs/ja/flashing.md
Labels: documentation, translation

#10605 Update ref_functions.md of Japanese document
  docs/ja/ref_functions.md
Labels: documentation, translation

#10623 Partial fix for sendstring_french.h
  quantum/keymap_extras/sendstring_french.h
Labels: bug

#10582 Remove bootloader_defs.h for some F072 boards
  keyboards/aeboards/ext65/rev2/bootloader_defs.h
  keyboards/ai03/vega/bootloader_defs.h
  keyboards/cannonkeys/an_c/bootloader_defs.h
  keyboards/cannonkeys/chimera65/bootloader_defs.h
  keyboards/cannonkeys/instant60/bootloader_defs.h
  keyboards/cannonkeys/iron165/bootloader_defs.h
  keyboards/cannonkeys/savage65/bootloader_defs.h
  keyboards/cannonkeys/tmov2/bootloader_defs.h
  keyboards/tkc/candybar/bootloader_defs.h
  keyboards/xelus/trinityxttkl/bootloader_defs.h
Labels: enhancement, keyboard

#10558 Add STM32Duino to bootloader selection
  bootloader.mk
  keyboards/cannonkeys/ortho48/bootloader_defs.h
  keyboards/cannonkeys/ortho48/rules.mk
  keyboards/cannonkeys/ortho60/bootloader_defs.h
  keyboards/cannonkeys/ortho60/rules.mk
  keyboards/cannonkeys/ortho75/bootloader_defs.h
  keyboards/cannonkeys/ortho75/rules.mk
  keyboards/cannonkeys/practice60/bootloader_defs.h
  keyboards/cannonkeys/practice60/rules.mk
  keyboards/cannonkeys/practice65/bootloader_defs.h
  keyboards/cannonkeys/practice65/rules.mk
  keyboards/converter/siemens_tastatur/bootloader_defs.h
  keyboards/converter/siemens_tastatur/rules.mk
  keyboards/handwired/onekey/bluepill/bootloader_defs.h
  keyboards/handwired/onekey/bluepill/rules.mk
  keyboards/handwired/t111/rules.mk
  keyboards/handwired/z150/rules.mk
  keyboards/wolfmarkclub/wm1/bootloader_defs.h
  keyboards/wolfmarkclub/wm1/rules.mk
  keyboards/zvecr/split_blackpill/rules.mk
Labels: core, enhancement, keyboard

#10600 fix typo
  docs/feature_debounce_type.md
Labels: documentation

#10626 updating my own keyboard layout
  keyboards/planck/keymaps/sigul/keymap.c
  users/sigul/sigul.h
Labels: keymap

#10606 Update tags in japanese document to check for document updates
  docs/ja/config_options.md
  docs/ja/custom_quantum_functions.md
  docs/ja/documentation_best_practices.md
  docs/ja/feature_dynamic_macros.md
  docs/ja/feature_leader_key.md
  docs/ja/feature_stenography.md
  docs/ja/getting_started_make_guide.md
  docs/ja/hardware_avr.md
  docs/ja/hardware_keyboard_guidelines.md
  docs/ja/reference_info_json.md
Labels: documentation, translation

#10402 update keymap of zergo keyboard
  keyboards/handwired/zergo/config.h
  keyboards/handwired/zergo/keymaps/default/keymap.c
  keyboards/handwired/zergo/rules.mk
  keyboards/handwired/zergo/zergo.h
Labels: keyboard

#10424 Melgeek mj63
  keyboards/melgeek/mj63/config.h
  keyboards/melgeek/mj63/info.json
  keyboards/melgeek/mj63/keymaps/default/keymap.c
  keyboards/melgeek/mj63/keymaps/via/keymap.c
  keyboards/melgeek/mj63/keymaps/via/rules.mk
  keyboards/melgeek/mj63/mj63.c
  keyboards/melgeek/mj63/mj63.h
  keyboards/melgeek/mj63/readme.md
  keyboards/melgeek/mj63/rev1/config.h
  keyboards/melgeek/mj63/rev1/rev1.c
  keyboards/melgeek/mj63/rev1/rules.mk
Labels: keyboard

#10453 Add documentation for additional boot-mode method for EVE Meteor.
  keyboards/eve/meteor/readme.md
Labels: keyboard

#10454 Add VIA keymap for EVE Meteor.
  keyboards/eve/meteor/config.h
  keyboards/eve/meteor/info.json
  keyboards/eve/meteor/keymaps/via/keymap.c
  keyboards/eve/meteor/keymaps/via/rules.mk
Labels: keymap, via

#10532 own KBD67 MKII keymap
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/cykedev/config.h
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/cykedev/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/cykedev/rules.mk
Labels: keymap

#10516 [Keyboard] Add Voyager60-Alps keyboard
  keyboards/ai03/voyager60_alps/config.h
  keyboards/ai03/voyager60_alps/info.json
  keyboards/ai03/voyager60_alps/keymaps/default/keymap.c
  keyboards/ai03/voyager60_alps/keymaps/default/readme.md
  keyboards/ai03/voyager60_alps/keymaps/via/keymap.c
  keyboards/ai03/voyager60_alps/keymaps/via/readme.md
  keyboards/ai03/voyager60_alps/keymaps/via/rules.mk
  keyboards/ai03/voyager60_alps/readme.md
  keyboards/ai03/voyager60_alps/rules.mk
  keyboards/ai03/voyager60_alps/voyager60_alps.c
  keyboards/ai03/voyager60_alps/voyager60_alps.h
Labels: keyboard

#10415 [Docs] Japanese translation of docs/pr_checklist.md
  docs/ja/custom_matrix.md
  docs/ja/custom_quantum_functions.md
  docs/ja/pr_checklist.md
Labels: documentation, translation

#10607 Update tap_hold.md of Japanese document
  docs/ja/tap_hold.md
Labels: documentation, translation

#10557 Fix for issue #10386 - Can't compile preonic:dudeofawesome
  keyboards/preonic/keymaps/dudeofawesome/keymap.c
  users/dudeofawesome/dudeofawesome.h
Labels: keymap

#10175 Whitefox refactor
  keyboards/whitefox/config.h
  keyboards/whitefox/info.json
  keyboards/whitefox/keymaps/default/keymap.c
  keyboards/whitefox/led.c
  keyboards/whitefox/matrix.c
  keyboards/whitefox/readme.md
  keyboards/whitefox/rules.mk
  keyboards/whitefox/visualizer.c
  keyboards/whitefox/whitefox.c
  keyboards/whitefox/whitefox.h
Labels: enhancement, keyboard, keymap

#9952 ChibiOS upgrade: configuration file migrator
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/chibios/__init__.py
  lib/python/qmk/cli/chibios/confmigrate.py
  platforms/chibios/common/configs/chconf.h
  platforms/chibios/common/configs/halconf.h
  platforms/chibios/common/ld/MKL26Z64.ld
  platforms/chibios/common/ld/STM32F103x8_stm32duino_bootloader.ld
  tmk_core/chibios.mk
Labels: cli, enhancement, keyboard, needs testing, optimization

#10480 Update reviung34 PRODUCT_ID
  keyboards/reviung34/config.h
Labels: keyboard

#10604 Update other_vscode.md of Japanese document
  docs/ja/other_vscode.md
  docs/other_vscode.md
Labels: documentation, translation

#10641 Fix config for Helix rev3 4rows
  keyboards/helix/rev3_4rows/config.h
Labels: keyboard

#10639 Get Caps Lock LED working
  keyboards/exclusive/e85/soldered/soldered.c
Labels: bug, keyboard

#10616 adds eosti/planck keymaps
  keyboards/planck/keymaps/eosti/config.h
  keyboards/planck/keymaps/eosti/keymap.c
  keyboards/planck/keymaps/eosti/readme.md
  keyboards/planck/keymaps/eosti/rules.mk
Labels: keymap

#10648 Fix STM32duino bootloader
  bootloader.mk
  keyboards/wolfmarkclub/wm1/rules.mk
Labels: bug, keyboard

#10610 update eosti keymaps
  keyboards/keebio/bdn9/keymaps/eosti/config.h
  keyboards/keebio/bdn9/keymaps/eosti/keymap.c
  keyboards/keebio/bdn9/keymaps/eosti/readme.md
  keyboards/keebio/bdn9/keymaps/eosti/rules.mk
  keyboards/keebio/iris/keymaps/eosti/config.h
  keyboards/keebio/iris/keymaps/eosti/keymap.c
  keyboards/keebio/iris/keymaps/eosti/readme.md
Labels: keymap

#10643 Maypad improvements
  keyboards/keyhive/maypad/info.json
  keyboards/keyhive/maypad/maypad.h
  keyboards/keyhive/maypad/readme.md
Labels: keyboard

#10493 Add VIA code to ergoTravel, VendorId changed to allow Unique Keyboard Identification
  keyboards/ergotravel/keymaps/via/config.h
  keyboards/ergotravel/keymaps/via/keymap.c
  keyboards/ergotravel/keymaps/via/rules.mk
  keyboards/ergotravel/rev1/config.h
  keyboards/ergotravel/rules.mk
Labels: keymap, via

#10628 Adding Opus keyboard
  keyboards/opus/config.h
  keyboards/opus/info.json
  keyboards/opus/keymaps/default/keymap.c
  keyboards/opus/keymaps/default/readme.md
  keyboards/opus/keymaps/thefoxcodes/config.h
  keyboards/opus/keymaps/thefoxcodes/keymap.c
  keyboards/opus/keymaps/thefoxcodes/readme.md
  keyboards/opus/keymaps/thefoxcodes/rules.mk
  keyboards/opus/opus.c
  keyboards/opus/opus.h
  keyboards/opus/readme.md
  keyboards/opus/rules.mk
Labels: keyboard

#10633 Move SP-111 to vendor folder
  keyboards/sp111/sp111.h
  keyboards/viktus/readme.md
  keyboards/viktus/sp111/config.h
  keyboards/viktus/sp111/info.json
  keyboards/viktus/sp111/keymaps/default/keymap.c
  keyboards/viktus/sp111/keymaps/via/config.h
  keyboards/viktus/sp111/keymaps/via/keymap.c
  keyboards/viktus/sp111/keymaps/via/rules.mk
  keyboards/viktus/sp111/matrix.c
  keyboards/viktus/sp111/mcp23018.c
  keyboards/viktus/sp111/mcp23018.h
  keyboards/viktus/sp111/readme.md
  keyboards/viktus/sp111/rules.mk
  keyboards/viktus/sp111/sp111.c
  keyboards/viktus/sp111/sp111.h
Labels: keyboard

#10551 Add via keymap for pancake
  keyboards/spaceman/pancake/config.h
  keyboards/spaceman/pancake/feather/rules.mk
  keyboards/spaceman/pancake/keymaps/via/keymap.c
  keyboards/spaceman/pancake/keymaps/via/rules.mk
  keyboards/spaceman/pancake/promicro/rules.mk
Labels: keyboard, via

#10538 Add 7splus keyboard.
  keyboards/7splus/7splus.c
  keyboards/7splus/7splus.h
  keyboards/7splus/config.h
  keyboards/7splus/info.json
  keyboards/7splus/keymaps/default/keymap.c
  keyboards/7splus/keymaps/salicylic/config.h
  keyboards/7splus/keymaps/salicylic/keymap.c
  keyboards/7splus/keymaps/salicylic/rules.mk
  keyboards/7splus/keymaps/via/config.h
  keyboards/7splus/keymaps/via/keymap.c
  keyboards/7splus/keymaps/via/rules.mk
  keyboards/7splus/readme.md
  keyboards/7splus/rules.mk
Labels: keyboard

#10548 Add documentation link to Tap-Hold Configuration Options from Mod-Tap
  docs/mod_tap.md
Labels: documentation

#9202 Add Z70Ultra which is a Hotsawp RGB 65% keyboard
  keyboards/melgeek/z70ultra/config.h
  keyboards/melgeek/z70ultra/info.json
  keyboards/melgeek/z70ultra/keymaps/default/keymap.c
  keyboards/melgeek/z70ultra/keymaps/via/keymap.c
  keyboards/melgeek/z70ultra/keymaps/via/rules.mk
  keyboards/melgeek/z70ultra/readme.md
  keyboards/melgeek/z70ultra/rev1/config.h
  keyboards/melgeek/z70ultra/rev1/rules.mk
  keyboards/melgeek/z70ultra/rules.mk
  keyboards/melgeek/z70ultra/z70ultra.c
  keyboards/melgeek/z70ultra/z70ultra.h
Labels: keyboard

#10647 Jotix ortho_4x12_layout
  layouts/community/ortho_4x12/jotix/keymap.c
  layouts/community/ortho_4x12/jotix/rules.mk
Labels: keymap

#10425 Melgeek mj64
  keyboards/melgeek/mj64/config.h
  keyboards/melgeek/mj64/info.json
  keyboards/melgeek/mj64/keymaps/default/keymap.c
  keyboards/melgeek/mj64/keymaps/via/keymap.c
  keyboards/melgeek/mj64/keymaps/via/rules.mk
  keyboards/melgeek/mj64/mj64.c
  keyboards/melgeek/mj64/mj64.h
  keyboards/melgeek/mj64/readme.md
  keyboards/melgeek/mj64/rev1/config.h
  keyboards/melgeek/mj64/rev1/rev1.c
  keyboards/melgeek/mj64/rev1/rules.mk
  keyboards/melgeek/mj64/rev2/config.h
  keyboards/melgeek/mj64/rev2/rev2.c
  keyboards/melgeek/mj64/rev2/rules.mk
Labels: keyboard, via

#10578 Make via config for redox_w
  keyboards/redox_w/config.h
  keyboards/redox_w/keymaps/via/keymap.c
  keyboards/redox_w/keymaps/via/readme.md
  keyboards/redox_w/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#10510 Bm60rgb iso nordic keymap with sleepmode functional
  keyboards/bm60rgb_iso/keymaps/iso_nordic_sleepmode/config.h
  keyboards/bm60rgb_iso/keymaps/iso_nordic_sleepmode/keymap.c
  keyboards/bm60rgb_iso/keymaps/iso_nordic_sleepmode/readme.md
Labels: keymap

#10104 Add Support for "45-ATS" Keyboard + VIA Keymap
  keyboards/45_ats/45_ats.c
  keyboards/45_ats/45_ats.h
  keyboards/45_ats/config.h
  keyboards/45_ats/info.json
  keyboards/45_ats/keymaps/default/config.h
  keyboards/45_ats/keymaps/default/keymap.c
  keyboards/45_ats/keymaps/via/keymap.c
  keyboards/45_ats/keymaps/via/readme.md
  keyboards/45_ats/keymaps/via/rules.mk
  keyboards/45_ats/readme.md
  keyboards/45_ats/rules.mk
Labels: keyboard, on hold

#10511 [Keyboard] Add Kangaroo
  keyboards/xelus/kangaroo/chconf.h
  keyboards/xelus/kangaroo/config.h
  keyboards/xelus/kangaroo/halconf.h
  keyboards/xelus/kangaroo/info.json
  keyboards/xelus/kangaroo/kangaroo.c
  keyboards/xelus/kangaroo/kangaroo.h
  keyboards/xelus/kangaroo/keymaps/default/keymap.c
  keyboards/xelus/kangaroo/keymaps/via/keymap.c
  keyboards/xelus/kangaroo/keymaps/via/rules.mk
  keyboards/xelus/kangaroo/mcuconf.h
  keyboards/xelus/kangaroo/readme.md
  keyboards/xelus/kangaroo/rules.mk
Labels: keyboard

#10632 Update Nyquist VIA support and default keymap
  keyboards/keebio/nyquist/keymaps/default/keymap.c
  keyboards/keebio/nyquist/keymaps/via/keymap.c
  keyboards/keebio/nyquist/rev2/config.h
  keyboards/keebio/nyquist/rev2/rules.mk
  keyboards/keebio/nyquist/rev3/config.h
  keyboards/keebio/nyquist/rev3/rules.mk
Labels: keyboard, keymap, via

#10631 Add Levinson VIA support
  keyboards/keebio/levinson/keymaps/via/keymap.c
  keyboards/keebio/levinson/keymaps/via/rules.mk
  keyboards/keebio/levinson/rev2/config.h
  keyboards/keebio/levinson/rev3/config.h
  keyboards/keebio/levinson/rules.mk
Labels: keyboard, keymap, via

#10155 Drakon updates 2
  keyboards/drakon/drakon.c
  keyboards/drakon/keymaps/logo/readme.md
  keyboards/drakon/keymaps/wkl/keymap.c
  keyboards/jagdpietr/drakon/config.h
  keyboards/jagdpietr/drakon/drakon.c
  keyboards/jagdpietr/drakon/drakon.h
  keyboards/jagdpietr/drakon/info.json
  keyboards/jagdpietr/drakon/keymaps/default/keymap.c
  keyboards/jagdpietr/drakon/keymaps/default/readme.md
  keyboards/jagdpietr/drakon/keymaps/wkl/keymap.c
  keyboards/jagdpietr/drakon/keymaps/wkl/readme.md
  keyboards/jagdpietr/drakon/readme.md
  keyboards/jagdpietr/drakon/rules.mk
Labels: breaking_change, keyboard

#10663 adds eosti/maypad keymap
  keyboards/keyhive/maypad/keymaps/eosti/config.h
  keyboards/keyhive/maypad/keymaps/eosti/keymap.c
  keyboards/keyhive/maypad/keymaps/eosti/readme.md
  keyboards/keyhive/maypad/keymaps/eosti/rules.mk
Labels: keymap

#10521 Boardsource holiday
  keyboards/boardsource/holiday/spooky/config.h
  keyboards/boardsource/holiday/spooky/info.json
  keyboards/boardsource/holiday/spooky/keymaps/default/keymap.c
  keyboards/boardsource/holiday/spooky/keymaps/rip_mx/keymap.c
  keyboards/boardsource/holiday/spooky/keymaps/rip_mx/rules.mk
  keyboards/boardsource/holiday/spooky/keymaps/rip_my_wallet/keymap.c
  keyboards/boardsource/holiday/spooky/keymaps/rip_my_wallet/rules.mk
  keyboards/boardsource/holiday/spooky/readme.md
  keyboards/boardsource/holiday/spooky/rules.mk
  keyboards/boardsource/holiday/spooky/spooky.c
  keyboards/boardsource/holiday/spooky/spooky.h
Labels: keyboard

#10671 Update feature_combo.md of Japanese document
  docs/ja/feature_combo.md
Labels: documentation, translation

#10655 Adding Scarlet a number pad keyboard.
  keyboards/draytronics/scarlet/config.h
  keyboards/draytronics/scarlet/keymaps/default/keymap.c
  keyboards/draytronics/scarlet/readme.md
  keyboards/draytronics/scarlet/rules.mk
  keyboards/draytronics/scarlet/scarlet.c
  keyboards/draytronics/scarlet/scarlet.h
Labels: keyboard

#10636 [CLI] Remove check for Input Club boards
  lib/python/qmk/info.py
Labels: cli, enhancement, python

#10593 MSYS and WSL installation improvements
  docs/driver_installation_zadig.md
  util/activate_msys2.sh
  util/activate_wsl.sh
  util/linux_install.sh
  util/msys2_install.sh
  util/qmk_install.sh
  util/win_shared_install.sh
  util/wsl_install.sh
Labels: enhancement

#10049 [Docs] add "Adding Default Keymaps to QMK Configurator" doc
  docs/_summary.md
  docs/configurator_default_keymaps.md
Labels: documentation

#10652 Add the AELITH keyboard
  keyboards/ramonimbao/aelith/aelith.c
  keyboards/ramonimbao/aelith/aelith.h
  keyboards/ramonimbao/aelith/config.h
  keyboards/ramonimbao/aelith/info.json
  keyboards/ramonimbao/aelith/keymaps/default/keymap.c
  keyboards/ramonimbao/aelith/keymaps/via/keymap.c
  keyboards/ramonimbao/aelith/keymaps/via/rules.mk
  keyboards/ramonimbao/aelith/readme.md
  keyboards/ramonimbao/aelith/rules.mk
Labels: keyboard, via

#10660 fixed sqx over current issue
  keyboards/inett_studio/sqx/hotswap/config.h
  keyboards/inett_studio/sqx/universal/config.h
Labels: keyboard

#10667 adding personal keymap for the moonlander keyboard
  keyboards/moonlander/keymaps/shahn-neo/config.h
  keyboards/moonlander/keymaps/shahn-neo/keymap.c
  keyboards/moonlander/keymaps/shahn-neo/readme.md
Labels: keymap

#10539 Cleanup Keymaps
  keyboards/ai03/soyuz/keymaps/via/keymap.c
  keyboards/ai03/soyuz/soyuz.h
  layouts/community/60_ansi_arrow/mrsendyyk/keymap.c
  layouts/community/60_ansi_arrow/mrsendyyk/readme.md
  layouts/community/numpad_5x4/mrsendyyk/keymap.c
  layouts/community/numpad_5x4/mrsendyyk/readme.md
  layouts/default/60_ansi_arrow/default_60_ansi_arrow/keymap.c
  layouts/default/60_ansi_arrow/readme.md
Labels: keymap

#10595 Add miniMACRO5 User Keymaps
  keyboards/minimacro5/keymaps/kabraxcis/keymap.c
  keyboards/minimacro5/keymaps/voaraq/keymap.c
Labels: keymap

#10564 Ferris reorg
  keyboards/ferris/0_1/0_1.c
  keyboards/ferris/0_1/0_1.h
  keyboards/ferris/0_1/config.h
  keyboards/ferris/0_1/matrix.c
  keyboards/ferris/0_1/rules.mk
  keyboards/ferris/info.json
  keyboards/ferris/keymaps/default/config.h
  keyboards/ferris/keymaps/default/keymap.json
  keyboards/ferris/keymaps/default/readme.md
  keyboards/ferris/keymaps/json2crab.py
  keyboards/ferris/keymaps/pierrec83/config.h
  keyboards/ferris/keymaps/pierrec83/keymap.json
  keyboards/ferris/keymaps/pierrec83/readme.md
  keyboards/ferris/readme.md
  keyboards/ferris/sweep/config.h
  keyboards/ferris/sweep/rules.mk
  keyboards/ferris/sweep/sweep.c
  keyboards/ferris/sweep/sweep.h
Labels: keyboard, keymap

#10664 50-qmk.rules: Move udev rules from documentation into a file
  docs/faq_build.md
  util/udev/50-qmk.rules
Labels: documentation

#9700 Haptic and solenoid cleanup
  docs/feature_haptic_feedback.md
  drivers/haptic/haptic.c
  drivers/haptic/solenoid.c
  drivers/haptic/solenoid.h
  tmk_core/common/eeconfig.c
Labels: breaking_change, core, enhancement

#10524 XD75 cleanup
  keyboards/xd75/config.h
  keyboards/xd75/keymaps/adi/keymap.c
  keyboards/xd75/keymaps/arpinfidel/keymap.c
  keyboards/xd75/keymaps/atomic_style/keymap.c
  keyboards/xd75/keymaps/boy_314/keymap.c
  keyboards/xd75/keymaps/bramver/keymap.c
  keyboards/xd75/keymaps/c4software_bepo/keymap.c
  keyboards/xd75/keymaps/daniel/keymap.c
  keyboards/xd75/keymaps/default/config.h
  keyboards/xd75/keymaps/default/keymap.c
  keyboards/xd75/keymaps/developper_bepo/keymap.c
  keyboards/xd75/keymaps/dyn_macro_tap_dance/keymap.c
  keyboards/xd75/keymaps/emilyh/keymap.c
  keyboards/xd75/keymaps/fabian/keymap.c
  keyboards/xd75/keymaps/french/keymap.c
  keyboards/xd75/keymaps/germanized/keymap.c
  keyboards/xd75/keymaps/jarred/keymap.c
  keyboards/xd75/keymaps/kim-kim-xd73/keymap.c
  keyboards/xd75/keymaps/kim-kim/keymap.c
  keyboards/xd75/keymaps/kloki/keymap.c
  keyboards/xd75/keymaps/markus/keymap.c
  keyboards/xd75/keymaps/msiu/keymap.c
  keyboards/xd75/keymaps/mtdjr/keymap.c
  keyboards/xd75/keymaps/tdl-jturner/keymap.c
  keyboards/xd75/keymaps/via/keymap.c
  keyboards/xd75/readme.md
  keyboards/xd75/rules.mk
  keyboards/xd75/xd75.c
  keyboards/xd75/xd75.h
Labels: breaking_change, enhancement, keyboard, keymap

#10537 Improve ANSI support and --no-color
  lib/python/milc.py
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/questions.py
Labels: cli, python

#10680 Add last breaking changes log to sidebar
  docs/_summary.md
  docs/ja/_summary.md
Labels: documentation

#10677 Enabled the use of VIA for KPRepublic BM40
  keyboards/bm40hsrgb/config.h
  keyboards/bm40hsrgb/keymaps/via/keymap.c
  keyboards/bm40hsrgb/keymaps/via/readme.md
  keyboards/bm40hsrgb/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#10305 Support OpenDeck 32 keyboard
  keyboards/opendeck/32/info.json
  keyboards/opendeck/32/keymaps/default/keymap.c
  keyboards/opendeck/32/keymaps/default/readme.md
  keyboards/opendeck/32/rev1/config.h
  keyboards/opendeck/32/rev1/rev1.c
  keyboards/opendeck/32/rev1/rev1.h
  keyboards/opendeck/32/rev1/rules.mk
  keyboards/opendeck/info.json
  keyboards/opendeck/readme.md
Labels: core, keyboard

#10555 Nebula12 RGBLIGHT buffer workaround
  keyboards/nebula12/boards/ST_STM32F072B_DISCOVERY/board.c
  keyboards/nebula12/boards/ST_STM32F072B_DISCOVERY/board.h
  keyboards/nebula12/boards/ST_STM32F072B_DISCOVERY/board.mk
  keyboards/nebula12/boards/ST_STM32F072B_DISCOVERY/cfg/board.chcfg
  keyboards/nebula12/config.h
  keyboards/nebula12/nebula12.c
  keyboards/nebula12/rules.mk
Labels: keyboard

#10426 Melgeek mojo75
  keyboards/melgeek/mojo75/config.h
  keyboards/melgeek/mojo75/info.json
  keyboards/melgeek/mojo75/keymaps/default/keymap.c
  keyboards/melgeek/mojo75/keymaps/via/keymap.c
  keyboards/melgeek/mojo75/keymaps/via/rules.mk
  keyboards/melgeek/mojo75/mojo75.c
  keyboards/melgeek/mojo75/mojo75.h
  keyboards/melgeek/mojo75/readme.md
  keyboards/melgeek/mojo75/rev1/config.h
  keyboards/melgeek/mojo75/rev1/rev1.c
  keyboards/melgeek/mojo75/rev1/rules.mk
Labels: keyboard, via

#10668 Added Plexus75 PCB
  keyboards/plexus75/config.h
  keyboards/plexus75/info.json
  keyboards/plexus75/keymaps/default/config.h
  keyboards/plexus75/keymaps/default/keymap.c
  keyboards/plexus75/keymaps/default/readme.md
  keyboards/plexus75/keymaps/default_3u/keymap.c
  keyboards/plexus75/keymaps/default_3u/readme.md
  keyboards/plexus75/keymaps/default_7u/keymap.c
  keyboards/plexus75/keymaps/default_7u/readme.md
  keyboards/plexus75/plexus75.h
  keyboards/plexus75/readme.md
  keyboards/plexus75/rules.mk
Labels: keyboard

#9814 Initial auto PR labeler config
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: CI

#10495 [Keyboard] add rartlice
  keyboards/rart/rartlice/chconf.h
  keyboards/rart/rartlice/config.h
  keyboards/rart/rartlice/halconf.h
  keyboards/rart/rartlice/info.json
  keyboards/rart/rartlice/keymaps/default/keymap.c
  keyboards/rart/rartlice/mcuconf.h
  keyboards/rart/rartlice/rartlice.c
  keyboards/rart/rartlice/rartlice.h
  keyboards/rart/rartlice/readme.md
  keyboards/rart/rartlice/rules.mk
Labels: keyboard, keymap

#10506 New Keyboard: mexsistor/ludmila
  keyboards/mexsistor/ludmila/config.h
  keyboards/mexsistor/ludmila/info.json
  keyboards/mexsistor/ludmila/keymaps/default/keymap.c
  keyboards/mexsistor/ludmila/keymaps/default/readme.md
  keyboards/mexsistor/ludmila/ludmila.c
  keyboards/mexsistor/ludmila/ludmila.h
  keyboards/mexsistor/ludmila/matrix.c
  keyboards/mexsistor/ludmila/readme.md
  keyboards/mexsistor/ludmila/rules.mk
Labels: awaiting review, keyboard, keymap

#10586 Adds Jack's 4x12 grid keymap
  layouts/community/ortho_4x12/jackhumbert/config.h
  layouts/community/ortho_4x12/jackhumbert/keymap.c
  layouts/community/ortho_4x12/jackhumbert/readme.md
Labels: keymap

#10576 Add support for ikki68
  keyboards/wuque/ikki68/config.h
  keyboards/wuque/ikki68/ikki68.c
  keyboards/wuque/ikki68/ikki68.h
  keyboards/wuque/ikki68/info.json
  keyboards/wuque/ikki68/keymaps/default/keymap.c
  keyboards/wuque/ikki68/keymaps/default/readme.md
  keyboards/wuque/ikki68/keymaps/via/keymap.c
  keyboards/wuque/ikki68/keymaps/via/readme.md
  keyboards/wuque/ikki68/keymaps/via/rules.mk
  keyboards/wuque/ikki68/readme.md
  keyboards/wuque/ikki68/rules.mk
Labels: keyboard, keymap, via
