Repository qmk/qmk_firmware, pull requests merged in 2020-08, with the labels that each got.

#9807 [Docs] Update Japanese translation of keymap.md.
  docs/ja/keymap.md
Labels: documentation, translation

#9756 [Docs] Japanese translation of docs/other_vscode.md
  docs/ja/other_vscode.md
Labels: documentation, translation

#9810 [Docs] Update Japanese translation of newbs_building_firmware.md.
  docs/ja/newbs_building_firmware.md
Labels: documentation, translation

#9752 [Docs] Japanese translation of docs/internals_input_callback_reg.md
  docs/ja/internals_input_callback_reg.md
Labels: documentation, translation

#9813 [Docs] Update Japanese translation of newbs_getting_started.md.
  docs/ja/newbs_getting_started.md
Labels: documentation, translation

#9819 [Docs] Update Japanese translation of newbs_flashing.md.
  docs/ja/newbs_flashing.md
Labels: documentation, translation

#9788 [Keyboard] add keyboard tnln95
  keyboards/pom_keyboards/tnln95/config.h
  keyboards/pom_keyboards/tnln95/info.json
  keyboards/pom_keyboards/tnln95/keymaps/default/keymap.c
  keyboards/pom_keyboards/tnln95/readme.md
  keyboards/pom_keyboards/tnln95/rules.mk
  keyboards/pom_keyboards/tnln95/tnln95.c
  keyboards/pom_keyboards/tnln95/tnln95.h
Labels: keyboard

#9902 fix Dactyl-Manuform 5x6_5 compilation
  keyboards/handwired/dactyl_manuform/5x6_5/config.h
Labels: bug, keyboard

#9156 small text and formatting fixes in vscode manual
  docs/other_vscode.md
Labels: documentation

#8479 Add ArcticPCB pre-Alpha support
  keyboards/acheron/arctic/arctic.c
  keyboards/acheron/arctic/arctic.h
  keyboards/acheron/arctic/chconf.h
  keyboards/acheron/arctic/config.h
  keyboards/acheron/arctic/halconf.h
  keyboards/acheron/arctic/info.json
  keyboards/acheron/arctic/keymaps/default/keymap.c
  keyboards/acheron/arctic/mcuconf.h
  keyboards/acheron/arctic/readme.md
  keyboards/acheron/arctic/rules.mk
Labels: keyboard

#9795 add volcano660 keyboard
  keyboards/dztech/volcano660/config.h
  keyboards/dztech/volcano660/info.json
  keyboards/dztech/volcano660/keymaps/default/keymap.c
  keyboards/dztech/volcano660/keymaps/via/keymap.c
  keyboards/dztech/volcano660/keymaps/via/rules.mk
  keyboards/dztech/volcano660/readme.md
  keyboards/dztech/volcano660/rules.mk
  keyboards/dztech/volcano660/volcano660.c
  keyboards/dztech/volcano660/volcano660.h
Labels: keyboard

#9805 [Keyboard] Add via compatibility to Daisy 40 [1/2]
  keyboards/daisy/config.h
  keyboards/daisy/keymaps/via/keymap.c
  keyboards/daisy/keymaps/via/readme.md
  keyboards/daisy/keymaps/via/rules.mk
  keyboards/daisy/rules.mk
Labels: keyboard, via

#9874 Fix RGB_DISABLE_TIMEOUT overflow warning (#9866)
  quantum/rgb_matrix.c
Labels: bug, core

#9856 Add support for hsv->rgb conversion without using CIE curve.
  keyboards/anavi/macropad8/rules.mk
  quantum/color.c
  quantum/color.h
Labels: core, enhancement

#9903 Fix Configurator data for Mechlovin Hannah910 rev2
  keyboards/mechlovin/hannah910/rev2/info.json
  keyboards/mechlovin/hannah910/rev2/rev2.h
  keyboards/mechlovin/hannah910/rev2/rules.mk
Labels: enhancement, keyboard

#9933 Add Indicator flag for RGB Matrix
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix_types.h
Labels: core, documentation, enhancement

#9910 Add ANSI with Arrow Layout & RGB Underglow as a Caps Lock Indicator
  keyboards/dz60/keymaps/mrsendyyk/keymap.c
  keyboards/dz60/keymaps/mrsendyyk/readme.md
Labels: keymap

#9423 Keymap: Adding Custom Keymap for Let's Split
  keyboards/lets_split/keymaps/aerialviews007/config.h
  keyboards/lets_split/keymaps/aerialviews007/keymap.c
Labels: keymap

#9833 added ASH-XIIX keyboard
  keyboards/ash_xiix/ash_xiix.c
  keyboards/ash_xiix/ash_xiix.h
  keyboards/ash_xiix/config.h
  keyboards/ash_xiix/info.json
  keyboards/ash_xiix/keymaps/default/keymap.c
  keyboards/ash_xiix/readme.md
  keyboards/ash_xiix/rules.mk
Labels: keyboard

#9886 Add via keymap folder for N2 keyboard
  keyboards/nightly_boards/n2/keymaps/via/keymap.c
  keyboards/nightly_boards/n2/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#9897 Add VIA support for bm60rgb
  keyboards/bm60rgb/config.h
  keyboards/bm60rgb/keymaps/via/keymap.c
  keyboards/bm60rgb/keymaps/via/readme.md
  keyboards/bm60rgb/keymaps/via/rules.mk
Labels: keyboard, via

#9894 Adds OSX layout with additional media keys
  keyboards/coseyfannitutti/discipline/keymaps/osx/keymap.c
Labels: keymap

#9888 [keymap] Update default layout for craftwalk
  keyboards/craftwalk/keymaps/default/keymap.c
Labels: keyboard, keymap

#9624 split_3x5_3 layout support
  keyboards/centromere/centromere.h
  keyboards/centromere/info.json
  keyboards/centromere/keymaps/default/keymap.c
  keyboards/centromere/keymaps/default_u2/keymap.c
  keyboards/centromere/keymaps/mini/keymap.c
  keyboards/centromere/rules.mk
  keyboards/crkbd/info.json
  keyboards/crkbd/keymaps/default/keymap.c
  keyboards/crkbd/rev1/rev1.h
  keyboards/crkbd/rev1/rules.mk
  keyboards/miniaxe/info.json
  keyboards/miniaxe/keymaps/default/keymap.c
  keyboards/miniaxe/miniaxe.h
  keyboards/miniaxe/rules.mk
  keyboards/minidox/keymaps/default/keymap.c
  keyboards/minidox/rev1/info.json
  keyboards/minidox/rev1/rev1.h
  keyboards/minidox/rev1/rules.mk
  keyboards/suihankey/split/alpha/alpha.h
  keyboards/suihankey/split/info.json
  keyboards/suihankey/split/keymaps/default/keymap.c
  keyboards/suihankey/split/rev1/rev1.h
  keyboards/suihankey/split/rev1/rules.mk
Labels: keyboard, keymap

#9688 [Keyboard] Add Arch-36 keyboard
  keyboards/arch_36/arch_36.c
  keyboards/arch_36/arch_36.h
  keyboards/arch_36/config.h
  keyboards/arch_36/keymaps/default/keymap.c
  keyboards/arch_36/keymaps/obosob/config.h
  keyboards/arch_36/keymaps/obosob/keymap.c
  keyboards/arch_36/keymaps/obosob/readme.md
  keyboards/arch_36/keymaps/obosob/rules.mk
  keyboards/arch_36/readme.md
  keyboards/arch_36/rules.mk
Labels: keyboard

#9904 Fix configuration data for keyboard pom_keyboards/tnln95
  keyboards/pom_keyboards/tnln95/info.json
  keyboards/pom_keyboards/tnln95/keymaps/default/keymap.c
  keyboards/pom_keyboards/tnln95/keymaps/default_ansi/keymap.c
  keyboards/pom_keyboards/tnln95/tnln95.h
Labels: bug, keyboard

#9794 add bocc keyboard
  keyboards/dztech/bocc/bocc.c
  keyboards/dztech/bocc/bocc.h
  keyboards/dztech/bocc/config.h
  keyboards/dztech/bocc/info.json
  keyboards/dztech/bocc/keymaps/default/keymap.c
  keyboards/dztech/bocc/keymaps/via/keymap.c
  keyboards/dztech/bocc/keymaps/via/rules.mk
  keyboards/dztech/bocc/readme.md
  keyboards/dztech/bocc/rules.mk
Labels: keyboard

#9913 Add PR checklist document.
  .github/PULL_REQUEST_TEMPLATE.md
  docs/_summary.md
  docs/pr_checklist.md
Labels: documentation

#9837 Add new "stoutgat" keyboard
  keyboards/stoutgat/config.h
  keyboards/stoutgat/info.json
  keyboards/stoutgat/keymaps/default/keymap.c
  keyboards/stoutgat/keymaps/default/readme.md
  keyboards/stoutgat/readme.md
  keyboards/stoutgat/rules.mk
  keyboards/stoutgat/stoutgat.c
  keyboards/stoutgat/stoutgat.h
Labels: keyboard

#9855 [Keyboard] Add handwired 12*5 blackpill keyboard
  keyboards/handwired/riblee_f401/README.md
  keyboards/handwired/riblee_f401/chconf.h
  keyboards/handwired/riblee_f401/config.h
  keyboards/handwired/riblee_f401/halconf.h
  keyboards/handwired/riblee_f401/keymaps/default/keymap.c
  keyboards/handwired/riblee_f401/keymaps/default/readme.md
  keyboards/handwired/riblee_f401/mcuconf.h
  keyboards/handwired/riblee_f401/riblee_f401.c
  keyboards/handwired/riblee_f401/riblee_f401.h
  keyboards/handwired/riblee_f401/rules.mk
Labels: keyboard

#9885 Added a via keymap folder for n87
  keyboards/nightly_boards/n87/keymaps/via/keymap.c
  keyboards/nightly_boards/n87/keymaps/via/rules.mk
  keyboards/nightly_boards/n87/rules.mk
Labels: keyboard, via

#9869 Re-initial commit of ztboards
  keyboards/ztboards/after/after.c
  keyboards/ztboards/after/after.h
  keyboards/ztboards/after/config.h
  keyboards/ztboards/after/info.json
  keyboards/ztboards/after/keymaps/default/keymap.c
  keyboards/ztboards/after/keymaps/ellicose/keymap.c
  keyboards/ztboards/after/keymaps/phlop/keymap.c
  keyboards/ztboards/after/readme.md
  keyboards/ztboards/after/rules.mk
  keyboards/ztboards/noon/config.h
  keyboards/ztboards/noon/info.json
  keyboards/ztboards/noon/keymaps/default/keymap.c
  keyboards/ztboards/noon/keymaps/via/keymap.c
  keyboards/ztboards/noon/keymaps/via/rules.mk
  keyboards/ztboards/noon/noon.c
  keyboards/ztboards/noon/noon.h
  keyboards/ztboards/noon/readme.md
  keyboards/ztboards/noon/rules.mk
Labels: keyboard, via

#9898 add kb-elmo boards
  keyboards/kb_elmo/aek2_usb/aek2_usb.c
  keyboards/kb_elmo/aek2_usb/aek2_usb.h
  keyboards/kb_elmo/aek2_usb/config.h
  keyboards/kb_elmo/aek2_usb/info.json
  keyboards/kb_elmo/aek2_usb/keymaps/default/keymap.c
  keyboards/kb_elmo/aek2_usb/readme.md
  keyboards/kb_elmo/aek2_usb/rules.mk
  keyboards/kb_elmo/elmopad/config.h
  keyboards/kb_elmo/elmopad/elmopad.c
  keyboards/kb_elmo/elmopad/elmopad.h
  keyboards/kb_elmo/elmopad/info.json
  keyboards/kb_elmo/elmopad/keymaps/default/keymap.c
  keyboards/kb_elmo/elmopad/readme.md
  keyboards/kb_elmo/elmopad/rules.mk
  keyboards/kb_elmo/m0110a_usb/config.h
  keyboards/kb_elmo/m0110a_usb/info.json
  keyboards/kb_elmo/m0110a_usb/keymaps/default/keymap.c
  keyboards/kb_elmo/m0110a_usb/m0110a_usb.c
  keyboards/kb_elmo/m0110a_usb/m0110a_usb.h
  keyboards/kb_elmo/m0110a_usb/readme.md
  keyboards/kb_elmo/m0110a_usb/rules.mk
  keyboards/kb_elmo/m0116_usb/config.h
  keyboards/kb_elmo/m0116_usb/info.json
  keyboards/kb_elmo/m0116_usb/keymaps/default/keymap.c
  keyboards/kb_elmo/m0116_usb/m0116_usb.c
  keyboards/kb_elmo/m0116_usb/m0116_usb.h
  keyboards/kb_elmo/m0116_usb/readme.md
  keyboards/kb_elmo/m0116_usb/rules.mk
  keyboards/kb_elmo/sesame/config.h
  keyboards/kb_elmo/sesame/info.json
  keyboards/kb_elmo/sesame/keymaps/default/keymap.c
  keyboards/kb_elmo/sesame/readme.md
  keyboards/kb_elmo/sesame/rules.mk
  keyboards/kb_elmo/sesame/sesame.c
  keyboards/kb_elmo/sesame/sesame.h
Labels: keyboard

#9859 Add Whale's Split Keyboard(ver.3)
  keyboards/whale/sk/config.h
  keyboards/whale/sk/keymaps/default/keymap.c
  keyboards/whale/sk/readme.md
  keyboards/whale/sk/rules.mk
  keyboards/whale/sk/sk.c
  keyboards/whale/sk/sk.h
  keyboards/whale/sk/v3/config.h
  keyboards/whale/sk/v3/info.json
  keyboards/whale/sk/v3/rules.mk
  keyboards/whale/sk/v3/v3.c
  keyboards/whale/sk/v3/v3.h
Labels: keyboard

#9909 keymap for squiggle goldberg.
  keyboards/squiggle/keymaps/rick-complicated/config.h
  keyboards/squiggle/keymaps/rick-complicated/keymap.c
  keyboards/squiggle/keymaps/rick-complicated/readme.md
  keyboards/squiggle/keymaps/rick-complicated/rules.mk
Labels: keymap

#9938 Blocked65: add support for VIA Configurator
  keyboards/wheatfield/blocked65/config.h
  keyboards/wheatfield/blocked65/keymaps/via/keymap.c
  keyboards/wheatfield/blocked65/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#9934 Fix Eon95 info.json
  keyboards/maartenwut/eon95/info.json
Labels: keyboard

#9921 fix: broken keyboard and keymap reference
  keyboards/handwired/dactyl_manuform/5x6_5/keymaps/default/keymap.json
Labels: bug, keymap

#9916 add mini_bom chorded keymap
  keyboards/centromere/keymaps/mini_bom/config.h
  keyboards/centromere/keymaps/mini_bom/keymap.c
  keyboards/centromere/keymaps/mini_bom/readme.md
  keyboards/centromere/keymaps/mini_bom/rules.mk
Labels: keymap

#9937 update yshrsmz lily58 keymap
  keyboards/lily58/keymaps/yshrsmz/config.h
  keyboards/lily58/keymaps/yshrsmz/keymap.c
  keyboards/lily58/keymaps/yshrsmz/rules.mk
Labels: keymap

#9850 Add Vega Keyboard
  keyboards/ai03/vega/bootloader_defs.h
  keyboards/ai03/vega/chconf.h
  keyboards/ai03/vega/config.h
  keyboards/ai03/vega/halconf.h
  keyboards/ai03/vega/info.json
  keyboards/ai03/vega/keymaps/default/keymap.c
  keyboards/ai03/vega/keymaps/via/keymap.c
  keyboards/ai03/vega/keymaps/via/rules.mk
  keyboards/ai03/vega/mcuconf.h
  keyboards/ai03/vega/readme.md
  keyboards/ai03/vega/rules.mk
  keyboards/ai03/vega/vega.c
  keyboards/ai03/vega/vega.h
Labels: keyboard, via

#9929 Add kabedon keyboards
  keyboards/kabedon/kabedon78s/README.md
  keyboards/kabedon/kabedon78s/config.h
  keyboards/kabedon/kabedon78s/info.json
  keyboards/kabedon/kabedon78s/kabedon78s.c
  keyboards/kabedon/kabedon78s/kabedon78s.h
  keyboards/kabedon/kabedon78s/keymaps/default/keymap.c
  keyboards/kabedon/kabedon78s/keymaps/via/keymap.c
  keyboards/kabedon/kabedon78s/keymaps/via/rules.mk
  keyboards/kabedon/kabedon78s/rules.mk
  keyboards/kabedon/kabedon980/README.md
  keyboards/kabedon/kabedon980/config.h
  keyboards/kabedon/kabedon980/info.json
  keyboards/kabedon/kabedon980/kabedon980.c
  keyboards/kabedon/kabedon980/kabedon980.h
  keyboards/kabedon/kabedon980/keymaps/default/keymap.c
  keyboards/kabedon/kabedon980/keymaps/via/keymap.c
  keyboards/kabedon/kabedon980/keymaps/via/rules.mk
  keyboards/kabedon/kabedon980/rules.mk
Labels: keyboard, via

#9820 [keyboard] Add chavdai40 keyboard
  keyboards/chavdai40/boards/GENERIC_STM32_F042X6/board.c
  keyboards/chavdai40/boards/GENERIC_STM32_F042X6/board.h
  keyboards/chavdai40/boards/GENERIC_STM32_F042X6/board.mk
  keyboards/chavdai40/bootloader_defs.h
  keyboards/chavdai40/chavdai40.c
  keyboards/chavdai40/chavdai40.h
  keyboards/chavdai40/chconf.h
  keyboards/chavdai40/config.h
  keyboards/chavdai40/halconf.h
  keyboards/chavdai40/info.json
  keyboards/chavdai40/keymaps/42keys-dvorak/config.h
  keyboards/chavdai40/keymaps/42keys-dvorak/keymap.c
  keyboards/chavdai40/keymaps/42keys-eucalyn/config.h
  keyboards/chavdai40/keymaps/42keys-eucalyn/keymap.c
  keyboards/chavdai40/keymaps/42keys-qwerty/config.h
  keyboards/chavdai40/keymaps/42keys-qwerty/keymap.c
  keyboards/chavdai40/keymaps/44keys-dvorak/config.h
  keyboards/chavdai40/keymaps/44keys-dvorak/keymap.c
  keyboards/chavdai40/keymaps/44keys-eucalyn/config.h
  keyboards/chavdai40/keymaps/44keys-eucalyn/keymap.c
  keyboards/chavdai40/keymaps/44keys-qwerty/config.h
  keyboards/chavdai40/keymaps/44keys-qwerty/keymap.c
  keyboards/chavdai40/keymaps/default/config.h
  keyboards/chavdai40/keymaps/default/keymap.c
  keyboards/chavdai40/mcuconf.h
  keyboards/chavdai40/readme.md
  keyboards/chavdai40/rules.mk
Labels: keyboard

#9920 Add "Selene" to the handwired section
  keyboards/handwired/selene/config.h
  keyboards/handwired/selene/info.json
  keyboards/handwired/selene/keymaps/bpendragon/keymap.c
  keyboards/handwired/selene/keymaps/default/keymap.c
  keyboards/handwired/selene/readme.md
  keyboards/handwired/selene/rules.mk
  keyboards/handwired/selene/selene.c
  keyboards/handwired/selene/selene.h
Labels: keyboard, keymap

#9487 Noeeprom functions for rgb_matrix
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
Labels: core, enhancement, needs doc

#9949 Fix joystick compile issues
  keyboards/handwired/onekey/keymaps/joystick/config.h
  keyboards/handwired/onekey/keymaps/joystick/keymap.c
  tmk_core/protocol/lufa/lufa.c
Labels: bug, core, keymap

#9958 Add Quackfire controller
  keyboards/maartenwut/quackfire/config.h
  keyboards/maartenwut/quackfire/info.json
  keyboards/maartenwut/quackfire/keymaps/default/keymap.c
  keyboards/maartenwut/quackfire/keymaps/via/keymap.c
  keyboards/maartenwut/quackfire/keymaps/via/rules.mk
  keyboards/maartenwut/quackfire/quackfire.c
  keyboards/maartenwut/quackfire/quackfire.h
  keyboards/maartenwut/quackfire/readme.md
  keyboards/maartenwut/quackfire/rules.mk
Labels: keyboard, via

#9656 Added a new keyboard: the Dumbo
  keyboards/dumbo/config.h
  keyboards/dumbo/dumbo.c
  keyboards/dumbo/dumbo.h
  keyboards/dumbo/info.json
  keyboards/dumbo/keymaps/default/config.h
  keyboards/dumbo/keymaps/default/keymap.c
  keyboards/dumbo/keymaps/default/rules.mk
  keyboards/dumbo/keymaps/trip-trap/config.h
  keyboards/dumbo/keymaps/trip-trap/keymap.c
  keyboards/dumbo/keymaps/trip-trap/rules.mk
  keyboards/dumbo/readme.md
  keyboards/dumbo/rules.mk
Labels: keyboard

#9968 [Bugfix] Fix Swap Hands bug introduced by OSH
  tmk_core/common/action_util.c
Labels: bug, core

#9977 Cannonkeys via keymap fixes
  keyboards/cannonkeys/instant65/keymaps/via/keymap.c
  keyboards/cannonkeys/obliterated75/keymaps/via/keymap.c
Labels: keymap, via

#9817 [Keyboard] Add Flatbread60, Vaneela, and VaneelaEx by nckiibs
  keyboards/nckiibs/flatbread60/config.h
  keyboards/nckiibs/flatbread60/flatbread60.c
  keyboards/nckiibs/flatbread60/flatbread60.h
  keyboards/nckiibs/flatbread60/info.json
  keyboards/nckiibs/flatbread60/keymaps/default/keymap.c
  keyboards/nckiibs/flatbread60/keymaps/default/readme.md
  keyboards/nckiibs/flatbread60/keymaps/via/keymap.c
  keyboards/nckiibs/flatbread60/keymaps/via/rules.mk
  keyboards/nckiibs/flatbread60/readme.md
  keyboards/nckiibs/flatbread60/rules.mk
  keyboards/nckiibs/vaneela/config.h
  keyboards/nckiibs/vaneela/info.json
  keyboards/nckiibs/vaneela/keymaps/default/keymap.c
  keyboards/nckiibs/vaneela/keymaps/default/readme.md
  keyboards/nckiibs/vaneela/keymaps/via/keymap.c
  keyboards/nckiibs/vaneela/keymaps/via/rules.mk
  keyboards/nckiibs/vaneela/readme.md
  keyboards/nckiibs/vaneela/rules.mk
  keyboards/nckiibs/vaneela/vaneela.c
  keyboards/nckiibs/vaneela/vaneela.h
  keyboards/nckiibs/vaneelaex/config.h
  keyboards/nckiibs/vaneelaex/info.json
  keyboards/nckiibs/vaneelaex/keymaps/default/keymap.c
  keyboards/nckiibs/vaneelaex/keymaps/default/readme.md
  keyboards/nckiibs/vaneelaex/keymaps/via/keymap.c
  keyboards/nckiibs/vaneelaex/keymaps/via/rules.mk
  keyboards/nckiibs/vaneelaex/readme.md
  keyboards/nckiibs/vaneelaex/rules.mk
  keyboards/nckiibs/vaneelaex/vaneelaex.c
  keyboards/nckiibs/vaneelaex/vaneelaex.h
Labels: keyboard

#9987 Fix Czech keycodes
  quantum/keymap_extras/keymap_czech.h
Labels: bug, core, keymap

#9908 Add Kiibohd bootloader type to bootloader.mk
  bootloader.mk
  keyboards/ergodox_infinity/bootloader_defs.h
  keyboards/ergodox_infinity/rules.mk
  keyboards/infinity60/bootloader_defs.h
  keyboards/infinity60/rules.mk
  keyboards/k_type/bootloader_defs.h
  keyboards/k_type/rules.mk
  keyboards/whitefox/bootloader_defs.h
  keyboards/whitefox/rules.mk
  tmk_core/chibios.mk
  tmk_core/common/chibios/bootloader.c
Labels: enhancement, keyboard

#9948 Add jian/keymaps/via/config.h
  keyboards/jian/keymaps/via/config.h
  keyboards/jian/rev2/config.h
Labels: keymap, via

#9922 fix handwired/swiftrax/cowfish PID and VID
  keyboards/handwired/swiftrax/cowfish/config.h
Labels: bug, keyboard

#7754 Keebio RGB wiring update
  keyboards/keebio/bfo9000/config.h
  keyboards/keebio/fourier/config.h
  keyboards/keebio/iris/rev2/config.h
  keyboards/keebio/levinson/rev1/config.h
  keyboards/keebio/levinson/rev2/config.h
  keyboards/keebio/nyquist/rev1/config.h
  keyboards/keebio/nyquist/rev2/config.h
  keyboards/keebio/quefrency/keymaps/drashna_ms/config.h
  keyboards/keebio/quefrency/rev1/config.h
  keyboards/keebio/viterbi/rev1/config.h
  keyboards/keebio/viterbi/rev2/config.h
Labels: breaking_change, future_2020q3, keyboard

#9964 Add `st-flash` flash target
  docs/flashing.md
  lib/python/qmk/cli/flash.py
  tmk_core/chibios.mk
Labels: core, enhancement

#9482 Ext65rev2 - New Keyboard
  keyboards/aeboards/ext65/rev1/config.h
  keyboards/aeboards/ext65/rev1/keymaps/default/keymap.c
  keyboards/aeboards/ext65/rev1/keymaps/default/readme.md
  keyboards/aeboards/ext65/rev1/keymaps/via/keymap.c
  keyboards/aeboards/ext65/rev1/keymaps/via/readme.md
  keyboards/aeboards/ext65/rev1/keymaps/via/rules.mk
  keyboards/aeboards/ext65/rev1/readme.md
  keyboards/aeboards/ext65/rev1/rev1.c
  keyboards/aeboards/ext65/rev1/rev1.h
  keyboards/aeboards/ext65/rev1/rules.mk
  keyboards/aeboards/ext65/rev2/bootloader_defs.h
  keyboards/aeboards/ext65/rev2/chconf.h
  keyboards/aeboards/ext65/rev2/config.h
  keyboards/aeboards/ext65/rev2/halconf.h
  keyboards/aeboards/ext65/rev2/keymaps/default/keymap.c
  keyboards/aeboards/ext65/rev2/keymaps/default/readme.md
  keyboards/aeboards/ext65/rev2/keymaps/via/keymap.c
  keyboards/aeboards/ext65/rev2/keymaps/via/readme.md
  keyboards/aeboards/ext65/rev2/keymaps/via/rules.mk
  keyboards/aeboards/ext65/rev2/mcuconf.h
  keyboards/aeboards/ext65/rev2/readme.md
  keyboards/aeboards/ext65/rev2/rev2.c
  keyboards/aeboards/ext65/rev2/rev2.h
  keyboards/aeboards/ext65/rev2/rules.mk
Labels: keyboard

#9989 [Layout] - DZ60RGB - Add personal keymap
  keyboards/dztech/dz60rgb/keymaps/didel/config.h
  keyboards/dztech/dz60rgb/keymaps/didel/keymap.c
  keyboards/dztech/dz60rgb/keymaps/didel/rules.mk
Labels: keymap

#10019 Fixing squiggle's `layout`s in the config.qmk.fm
  keyboards/squiggle/rev1/info.json
Labels: bug, keyboard

#10007 MSYS2: install packages for dfu-programmer, dfu-util, teensy-loader-cli
  util/activate_msys2.sh
  util/activate_wsl.sh
  util/msys2_install.sh
  util/win_shared_install.sh
Labels: core, enhancement

#10028 Add indicator LEDs for GHS.RAR
  keyboards/ghs/rar/rar.c
Labels: keyboard

#9953 [Keyboard] Fix Planck/Rev6 compiler issue
  keyboards/planck/rev6/rev6.c
  keyboards/planck/rev6/rules.mk
Labels: bug, keyboard

#10039 [keymap] Fixed an issue that long pressed alt key does not work on PSN_FN layer.
  keyboards/hhkb/ansi/keymaps/shela/keymap.c
Labels: keymap

#8256 Add ability to dump all makefile variables for the specified target.
  tmk_core/rules.mk
Labels: core, needs testing

#8441 #define AUTO_SHIFT_SETUP
  docs/feature_auto_shift.md
  quantum/process_keycode/process_auto_shift.c
  quantum/quantum_keycodes.h
Labels: breaking_change, core, optimization

#8291 ARM backlight - timer implementation
  common_features.mk
  platforms/chibios/GENERIC_STM32_F303XC/configs/mcuconf.h
  quantum/backlight/backlight_timer.c
Labels: core, feature

#10030 Added Layout & Keymap
  keyboards/ai03/soyuz/keymaps/mrsendyyk/keymap.c
  keyboards/ai03/soyuz/keymaps/mrsendyyk/readme.md
  keyboards/ai03/soyuz/rules.mk
  keyboards/ai03/soyuz/soyuz.h
Labels: keyboard, keymap

#10040 Remove f072 backlight warning
  docs/feature_backlight.md
  quantum/backlight/backlight.c
Labels: core

#10051 [Docs] Update Japanese translation of _summary.md.
  docs/ja/_summary.md
Labels: documentation, translation

#10031 Fix sendstring call in onekey ADC keymap
  keyboards/handwired/onekey/keymaps/adc/keymap.c
Labels: bug, keymap

#9704 [keyboard] Wabi handwire
  keyboards/handwired/wabi/config.h
  keyboards/handwired/wabi/info.json
  keyboards/handwired/wabi/keymaps/default/keymap.c
  keyboards/handwired/wabi/keymaps/rossman360/keymap.c
  keyboards/handwired/wabi/readme.md
  keyboards/handwired/wabi/rules.mk
  keyboards/handwired/wabi/wabi.c
  keyboards/handwired/wabi/wabi.h
Labels: keyboard

#9944 [Keyboard] Kinesis + Pro Micro
  keyboards/kinesis/config.h
  keyboards/kinesis/keymaps/dvorak_nguyenvietyen/keymap.c
  keyboards/kinesis/kinesis.h
  keyboards/kinesis/nguyenvietyen/README.md
  keyboards/kinesis/nguyenvietyen/config.h
  keyboards/kinesis/nguyenvietyen/matrix.c
  keyboards/kinesis/nguyenvietyen/nguyenvietyen.c
  keyboards/kinesis/nguyenvietyen/nguyenvietyen.h
  keyboards/kinesis/nguyenvietyen/rules.mk
Labels: keyboard

#9844 adding southpaw75 keyboard
  keyboards/southpaw75/config.h
  keyboards/southpaw75/info.json
  keyboards/southpaw75/keymaps/default/keymap.c
  keyboards/southpaw75/readme.md
  keyboards/southpaw75/rules.mk
  keyboards/southpaw75/southpaw75.c
  keyboards/southpaw75/southpaw75.h
Labels: keyboard

#9988 Update after the breaking 30 may 2020 changes
  keyboards/lily58/keymaps/mikefightsbears/config.h
  keyboards/lily58/keymaps/mikefightsbears/keymap.c
  keyboards/lily58/keymaps/mikefightsbears/rules.mk
Labels: keymap

#9960 Add GH80-3700
  keyboards/maartenwut/gh80_3700/config.h
  keyboards/maartenwut/gh80_3700/gh80_3700.c
  keyboards/maartenwut/gh80_3700/gh80_3700.h
  keyboards/maartenwut/gh80_3700/info.json
  keyboards/maartenwut/gh80_3700/keymaps/default/keymap.c
  keyboards/maartenwut/gh80_3700/keymaps/default/readme.md
  keyboards/maartenwut/gh80_3700/keymaps/ps2/config.h
  keyboards/maartenwut/gh80_3700/keymaps/ps2/keymap.c
  keyboards/maartenwut/gh80_3700/keymaps/ps2/readme.md
  keyboards/maartenwut/gh80_3700/keymaps/ps2/rules.mk
  keyboards/maartenwut/gh80_3700/keymaps/rgb/config.h
  keyboards/maartenwut/gh80_3700/keymaps/rgb/keymap.c
  keyboards/maartenwut/gh80_3700/keymaps/rgb/readme.md
  keyboards/maartenwut/gh80_3700/keymaps/rgb/rules.mk
  keyboards/maartenwut/gh80_3700/keymaps/via/keymap.c
  keyboards/maartenwut/gh80_3700/keymaps/via/rules.mk
  keyboards/maartenwut/gh80_3700/readme.md
  keyboards/maartenwut/gh80_3700/rules.mk
Labels: keyboard, via

#9927 [Docs] Japanese translation of docs/proton_c_conversion.md
  docs/ja/_summary.md
  docs/ja/proton_c_conversion.md
Labels: documentation, translation

#9911 Keymap Updates for DMQ Design SPIN, Boardsource 4x12, and Gingham
  keyboards/boardsource/4x12/keymaps/codecoffeecode/keymap.c
  keyboards/dmqdesign/spin/keymaps/codecoffeecode/config.h
  keyboards/dmqdesign/spin/keymaps/codecoffeecode/keymap.c
  keyboards/gingham/keymaps/codecoffeecode/keymap.c
Labels: keymap

#10004 [Keymap] layer indicator lights
  users/stanrc85/rgblight_layers.c
  users/stanrc85/rgblight_layers_osa.c
Labels: keymap

#9943 Issue 9942: Add LSA, RSA, RCS, LSA_T, RSA_T, and RCS_T
  docs/keycodes.md
  quantum/quantum_keycodes.h
Labels: core, documentation, enhancement

#9978 Swap git diff logic to github action when running qmk info
  .github/workflows/info.yml
Labels: CI

#9999 Added wilba.tech WT65-XT, WT65-XTX
  keyboards/wilba_tech/wt65_xt/config.h
  keyboards/wilba_tech/wt65_xt/info.json
  keyboards/wilba_tech/wt65_xt/keymaps/default/keymap.c
  keyboards/wilba_tech/wt65_xt/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_xt/keymaps/via/rules.mk
  keyboards/wilba_tech/wt65_xt/readme.md
  keyboards/wilba_tech/wt65_xt/rules.mk
  keyboards/wilba_tech/wt65_xt/wt65_xt.c
  keyboards/wilba_tech/wt65_xt/wt65_xt.h
  keyboards/wilba_tech/wt65_xtx/config.h
  keyboards/wilba_tech/wt65_xtx/info.json
  keyboards/wilba_tech/wt65_xtx/keymaps/default/keymap.c
  keyboards/wilba_tech/wt65_xtx/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_xtx/keymaps/via/rules.mk
  keyboards/wilba_tech/wt65_xtx/readme.md
  keyboards/wilba_tech/wt65_xtx/rules.mk
  keyboards/wilba_tech/wt65_xtx/wt65_xtx.c
  keyboards/wilba_tech/wt65_xtx/wt65_xtx.h
Labels: keyboard, via

#9995 [keymap] Removing #4072 workaround!
  keyboards/planck/keymaps/callum/keymap.c
Labels: keymap

#10022 redox: sync RGB on left and right sides
  keyboards/redox/rev1/config.h
Labels: keyboard

#10053 Remove unused CORTEX_VTOR_INIT
  keyboards/cannonkeys/ortho48/rules.mk
  keyboards/cannonkeys/ortho60/rules.mk
  keyboards/cannonkeys/ortho75/rules.mk
  keyboards/cannonkeys/practice60/rules.mk
  keyboards/cannonkeys/practice65/rules.mk
  keyboards/converter/siemens_tastatur/rules.mk
  keyboards/ergodox_infinity/rules.mk
  keyboards/handwired/bluepill/ld/STM32F103x8_stm32duino_bootloader.ld
  keyboards/handwired/onekey/bluepill/rules.mk
  keyboards/handwired/z150/rules.mk
  keyboards/infinity60/rules.mk
  keyboards/wolfmarkclub/wm1/ld/wm1_f103.ld
  keyboards/wolfmarkclub/wm1/rules.mk
  keyboards/zvecr/split_blackpill/rules.mk
  platforms/chibios/ld/STM32F103x8_stm32duino_bootloader.ld
Labels: core, enhancement, keyboard

#10050 Add via keymap for singa R1/R2.
  keyboards/singa/config.h
  keyboards/singa/keymaps/via/keymap.c
  keyboards/singa/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#9981 Add GH80-1800
  keyboards/maartenwut/gh80_1800/config.h
  keyboards/maartenwut/gh80_1800/gh80_1800.c
  keyboards/maartenwut/gh80_1800/gh80_1800.h
  keyboards/maartenwut/gh80_1800/info.json
  keyboards/maartenwut/gh80_1800/keymaps/default/keymap.c
  keyboards/maartenwut/gh80_1800/keymaps/default/readme.md
  keyboards/maartenwut/gh80_1800/keymaps/via/keymap.c
  keyboards/maartenwut/gh80_1800/keymaps/via/rules.mk
  keyboards/maartenwut/gh80_1800/readme.md
  keyboards/maartenwut/gh80_1800/rules.mk
Labels: keyboard, via

#10056 latinpad ADD BOOTMAGIC_ENABLE = lite
  keyboards/latinpad/rules.mk
Labels: keyboard

#10052 New keymap for JJ50
  keyboards/jj50/keymaps/yoonbae81/config.h
  keyboards/jj50/keymaps/yoonbae81/keymap.c
  keyboards/jj50/keymaps/yoonbae81/rules.mk
Labels: keymap

#9972 [Keyboard] AEBoards Constellation
  keyboards/aeboards/constellation/config.h
  keyboards/aeboards/constellation/constellation.c
  keyboards/aeboards/constellation/constellation.h
  keyboards/aeboards/constellation/keymaps/default/keymap.c
  keyboards/aeboards/constellation/keymaps/default/readme.md
  keyboards/aeboards/constellation/keymaps/via/keymap.c
  keyboards/aeboards/constellation/keymaps/via/readme.md
  keyboards/aeboards/constellation/keymaps/via/rules.mk
  keyboards/aeboards/constellation/readme.md
  keyboards/aeboards/constellation/rules.mk
Labels: keyboard, via

#9975 Add BM60 RGB ISO Keyboard
  keyboards/bm60rgb_iso/bm60rgb_iso.c
  keyboards/bm60rgb_iso/bm60rgb_iso.h
  keyboards/bm60rgb_iso/config.h
  keyboards/bm60rgb_iso/info.json
  keyboards/bm60rgb_iso/keymaps/default/keymap.c
  keyboards/bm60rgb_iso/keymaps/default/readme.md
  keyboards/bm60rgb_iso/readme.md
  keyboards/bm60rgb_iso/rules.mk
Labels: keyboard

#10044 [keyboard] update bm40hsrgb with RGB Matrix support
  keyboards/bm40hsrgb/bm40hsrgb.c
  keyboards/bm40hsrgb/config.h
  keyboards/bm40hsrgb/info.json
  keyboards/bm40hsrgb/readme.md
  keyboards/bm40hsrgb/rules.mk
Labels: keyboard

#10003 Add keyboard Pistachio
  keyboards/pistachio/config.h
  keyboards/pistachio/info.json
  keyboards/pistachio/keymaps/default/keymap.c
  keyboards/pistachio/pistachio.c
  keyboards/pistachio/pistachio.h
  keyboards/pistachio/readme.md
  keyboards/pistachio/rules.mk
Labels: keyboard

#9188 HHKB Lite 2 support
  keyboards/hhkb_lite_2/config.h
  keyboards/hhkb_lite_2/hhkb_lite_2.c
  keyboards/hhkb_lite_2/hhkb_lite_2.h
  keyboards/hhkb_lite_2/keymaps/default/keymap.c
  keyboards/hhkb_lite_2/keymaps/via/config.h
  keyboards/hhkb_lite_2/keymaps/via/keymap.c
  keyboards/hhkb_lite_2/keymaps/via/readme.md
  keyboards/hhkb_lite_2/keymaps/via/rules.mk
  keyboards/hhkb_lite_2/readme.md
  keyboards/hhkb_lite_2/rules.mk
Labels: keyboard

#10024 function96 keyboard added
  keyboards/function96/chconf.h
  keyboards/function96/config.h
  keyboards/function96/function96.c
  keyboards/function96/function96.h
  keyboards/function96/halconf.h
  keyboards/function96/info.json
  keyboards/function96/keymaps/default/keymap.c
  keyboards/function96/keymaps/default/readme.md
  keyboards/function96/mcuconf.h
  keyboards/function96/readme.md
  keyboards/function96/rules.mk
Labels: keyboard

#9971 Add microdox keyboard to boardsource folder
  keyboards/boardsource/microdox/config.h
  keyboards/boardsource/microdox/info.json
  keyboards/boardsource/microdox/keymaps/cole/keymap.c
  keyboards/boardsource/microdox/keymaps/cole/rules.mk
  keyboards/boardsource/microdox/keymaps/default/keymap.c
  keyboards/boardsource/microdox/microdox.c
  keyboards/boardsource/microdox/microdox.h
  keyboards/boardsource/microdox/readme.md
  keyboards/boardsource/microdox/rules.mk
Labels: keyboard

#10076 Super16 VIA support
  keyboards/1upkeyboards/super16/config.h
  keyboards/1upkeyboards/super16/keymaps/via/keymap.c
  keyboards/1upkeyboards/super16/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#9973 Adding hand wired Bento macro pad.
  keyboards/handwired/bento/bento.c
  keyboards/handwired/bento/bento.h
  keyboards/handwired/bento/info.json
  keyboards/handwired/bento/keymaps/cbc02009/keymap.c
  keyboards/handwired/bento/keymaps/default/keymap.c
  keyboards/handwired/bento/keymaps/mac/keymap.c
  keyboards/handwired/bento/readme.md
  keyboards/handwired/bento/rev1/config.h
  keyboards/handwired/bento/rev1/rev1.c
  keyboards/handwired/bento/rev1/rev1.h
  keyboards/handwired/bento/rev1/rules.mk
  keyboards/handwired/bento/rules.mk
Labels: keyboard

#9990 add new (non production) keyboard in hand-wired section
  keyboards/handwired/zergo/config.h
  keyboards/handwired/zergo/info.json
  keyboards/handwired/zergo/keymap.c
  keyboards/handwired/zergo/readme.md
  keyboards/handwired/zergo/rules.mk
  keyboards/handwired/zergo/zergo.c
  keyboards/handwired/zergo/zergo.h
Labels: keyboard

#10006 generic_panda/panda65_01 keyboard firmware addition
  keyboards/generic_panda/panda65_01/chconf.h
  keyboards/generic_panda/panda65_01/config.h
  keyboards/generic_panda/panda65_01/halconf.h
  keyboards/generic_panda/panda65_01/info.json
  keyboards/generic_panda/panda65_01/keymaps/default/keymap.c
  keyboards/generic_panda/panda65_01/keymaps/default/readme.md
  keyboards/generic_panda/panda65_01/keymaps/via/keymap.c
  keyboards/generic_panda/panda65_01/keymaps/via/rules.mk
  keyboards/generic_panda/panda65_01/mcuconf.h
  keyboards/generic_panda/panda65_01/panda65_01.c
  keyboards/generic_panda/panda65_01/panda65_01.h
  keyboards/generic_panda/panda65_01/readme.md
  keyboards/generic_panda/panda65_01/rules.mk
Labels: keyboard, via

#10043 add via keymap for boardsource/3x4
  keyboards/boardsource/3x4/config.h
  keyboards/boardsource/3x4/keymaps/via/keymap.c
  keyboards/boardsource/3x4/keymaps/via/readme.md
  keyboards/boardsource/3x4/keymaps/via/rules.mk
  keyboards/boardsource/3x4/rules.mk
Labels: keymap, via

#10082 Dawn60 update that breaks travis keyboard builds
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: bug

#10062 Update keymap for Keebio/iris4/rev4
  keyboards/keebio/iris/keymaps/yoonbae81/keymap.c
Labels: keymap

#9965 Add NK87
  keyboards/nk87/chconf.h
  keyboards/nk87/config.h
  keyboards/nk87/halconf.h
  keyboards/nk87/info.json
  keyboards/nk87/keymaps/default/keymap.c
  keyboards/nk87/keymaps/default/readme.md
  keyboards/nk87/keymaps/via/keymap.c
  keyboards/nk87/keymaps/via/readme.md
  keyboards/nk87/keymaps/via/rules.mk
  keyboards/nk87/mcuconf.h
  keyboards/nk87/nk87.c
  keyboards/nk87/nk87.h
  keyboards/nk87/readme.md
  keyboards/nk87/rules.mk
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: keyboard, via

#10069 Refactor Adelais PCB
  keyboards/mechlovin/adelais/standard_led/rules.mk
Labels: keyboard

#10032 Changes to minivan layout
  keyboards/thevankeyboards/minivan/keymaps/king/keymap.c
Labels: keymap

#10075 jotix_ortho_4x12_layout
  layouts/community/ortho_4x12/jotix/keymap.c
  layouts/community/ortho_4x12/jotix/rules.mk
Labels: keymap

#9954 [keymap] update kejadlen keymaps
  keyboards/atreus/keymaps/alphadox/config.h
  keyboards/atreus/keymaps/kejadlen/README.md
  keyboards/atreus/keymaps/kejadlen/config.h
  keyboards/atreus/keymaps/kejadlen/keymap.c
  keyboards/kyria/keymaps/kejadlen/config.h
  keyboards/kyria/keymaps/kejadlen/keymap.c
  keyboards/kyria/keymaps/kejadlen/rules.mk
  layouts/community/ergodox/kejadlen/config.h
  layouts/community/ergodox/kejadlen/keymap.c
  layouts/community/ergodox/kejadlen/rules.mk
Labels: keymap

#10046 Add support for keyboard 'Bolt'
  keyboards/lazydesigners/bolt/bolt.c
  keyboards/lazydesigners/bolt/bolt.h
  keyboards/lazydesigners/bolt/config.h
  keyboards/lazydesigners/bolt/info.json
  keyboards/lazydesigners/bolt/keymaps/default/keymap.c
  keyboards/lazydesigners/bolt/readme.md
  keyboards/lazydesigners/bolt/rules.mk
Labels: keyboard

#10079 Add Valor
  keyboards/xelus/valor/config.h
  keyboards/xelus/valor/keymaps/default/keymap.c
  keyboards/xelus/valor/keymaps/default/readme.md
  keyboards/xelus/valor/keymaps/via/keymap.c
  keyboards/xelus/valor/keymaps/via/readme.md
  keyboards/xelus/valor/keymaps/via/rules.mk
  keyboards/xelus/valor/readme.md
  keyboards/xelus/valor/rules.mk
  keyboards/xelus/valor/valor.c
  keyboards/xelus/valor/valor.h
Labels: keyboard

#9905 More Bluetooth refactoring
  tmk_core/common/progmem.h
  tmk_core/protocol/lufa/adafruit_ble.h
  tmk_core/protocol/lufa/outputselect.c
  tmk_core/protocol/lufa/outputselect.h
  tmk_core/protocol/serial.h
Labels: core, enhancement

#9768 Add Vision keyboard
  keyboards/satt/vision/chconf.h
  keyboards/satt/vision/config.h
  keyboards/satt/vision/halconf.h
  keyboards/satt/vision/info.json
  keyboards/satt/vision/keymaps/default/keymap.c
  keyboards/satt/vision/keymaps/satt/action_pseudo.c
  keyboards/satt/vision/keymaps/satt/action_pseudo.h
  keyboards/satt/vision/keymaps/satt/keymap.c
  keyboards/satt/vision/keymaps/satt/keymap_jis2us.h
  keyboards/satt/vision/keymaps/satt/readme.md
  keyboards/satt/vision/keymaps/satt/rules.mk
  keyboards/satt/vision/keymaps/via/keymap.c
  keyboards/satt/vision/keymaps/via/rules.mk
  keyboards/satt/vision/mcuconf.h
  keyboards/satt/vision/readme.md
  keyboards/satt/vision/rules.mk
  keyboards/satt/vision/vision.c
  keyboards/satt/vision/vision.h
Labels: keyboard, via

#10072 [kbdfans] Added dbroqua layout for kbd6x
  keyboards/kbdfans/kbd6x/keymaps/dbroqua/keymap.c
Labels: keymap

#10094 Rename keyboards/handwired/zergo/keymap.c to keyboards/handwired/zerg…
  keyboards/handwired/zergo/keymaps/default/keymap.c
Labels: bug, keymap

#10086 Ortho60 VIA keymap
  keyboards/cannonkeys/ortho60/config.h
  keyboards/cannonkeys/ortho60/keymaps/via/keymap.c
  keyboards/cannonkeys/ortho60/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#10085 Fix typo in docs/feature_dynamic_macros
  docs/feature_dynamic_macros.md
Labels: documentation

#10054 [keymap] dvorak_42_key layouts for atreus and ergodox_ez: add VSCode shortcuts
  keyboards/atreus/keymaps/dvorak_42_key/keymap.c
  keyboards/ergodox_ez/keymaps/dvorak_42_key/keymap.c
Labels: keymap

#10011 New Keyboard: Southpaw75
  keyboards/holyswitch/southpaw75/config.h
  keyboards/holyswitch/southpaw75/info.json
  keyboards/holyswitch/southpaw75/keymaps/default/keymap.c
  keyboards/holyswitch/southpaw75/keymaps/default/readme.md
  keyboards/holyswitch/southpaw75/keymaps/via/keymap.c
  keyboards/holyswitch/southpaw75/keymaps/via/rules.mk
  keyboards/holyswitch/southpaw75/readme.md
  keyboards/holyswitch/southpaw75/rules.mk
  keyboards/holyswitch/southpaw75/southpaw75.c
  keyboards/holyswitch/southpaw75/southpaw75.h
Labels: keyboard, via

#10021 Add keyboard ajisai74
  keyboards/ajisai74/ajisai74.c
  keyboards/ajisai74/ajisai74.h
  keyboards/ajisai74/config.h
  keyboards/ajisai74/info.json
  keyboards/ajisai74/keymaps/default/config.h
  keyboards/ajisai74/keymaps/default/keymap.c
  keyboards/ajisai74/keymaps/jis/config.h
  keyboards/ajisai74/keymaps/jis/keymap.c
  keyboards/ajisai74/keymaps/jis/rules.mk
  keyboards/ajisai74/keymaps/salicylic/config.h
  keyboards/ajisai74/keymaps/salicylic/keymap.c
  keyboards/ajisai74/keymaps/salicylic/rules.mk
  keyboards/ajisai74/keymaps/via/config.h
  keyboards/ajisai74/keymaps/via/keymap.c
  keyboards/ajisai74/keymaps/via/rules.mk
  keyboards/ajisai74/readme.md
  keyboards/ajisai74/rules.mk
Labels: keyboard

#9786 userspace and keymap for rupa
  keyboards/tada68/keymaps/rupa/config.h
  keyboards/tada68/keymaps/rupa/keymap.c
  keyboards/tada68/keymaps/rupa/readme.md
  keyboards/tada68/keymaps/rupa/rules.mk
  users/rupa/config.h
  users/rupa/process_records.c
  users/rupa/process_records.h
  users/rupa/rules.mk
  users/rupa/rupa.c
  users/rupa/rupa.h
  users/rupa/unicode.c
  users/rupa/unicode.h
Labels: keymap

#10001 Update reviung39 PRODUCT_ID
  keyboards/reviung39/config.h
Labels: keyboard

#10098 [keymap] chrisae9 dz60 updates
  keyboards/dz60/keymaps/chrisae9/config.h
  keyboards/dz60/keymaps/chrisae9/keymap.c
  keyboards/dz60/keymaps/chrisae9/readme.md
Labels: keymap

#8777 Add a method to read the OLED display buffer from user space
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
Labels: awaiting review, core, enhancement

#10130 Ortho60 via
  keyboards/cannonkeys/ortho60/keymaps/via/keymap.c
Labels: keymap, via

#9979 Update Lily58 Keymaps and VenderID
  keyboards/lily58/keymaps/default/config.h
  keyboards/lily58/keymaps/default/keymap.c
  keyboards/lily58/keymaps/default/rules.mk
  keyboards/lily58/keymaps/yuchi/config.h
  keyboards/lily58/keymaps/yuchi/keymap.c
  keyboards/lily58/keymaps/yuchi/rules.mk
  keyboards/lily58/rev1/config.h
  keyboards/lily58/rev1/info.json
Labels: keyboard, keymap

#10095 10 ble oled usbhub pad
  keyboards/10bleoledhub/10bleoledhub.c
  keyboards/10bleoledhub/10bleoledhub.h
  keyboards/10bleoledhub/config.h
  keyboards/10bleoledhub/info.json
  keyboards/10bleoledhub/keymaps/default/keymap.c
  keyboards/10bleoledhub/keymaps/via/keymap.c
  keyboards/10bleoledhub/keymaps/via/rules.mk
  keyboards/10bleoledhub/lib/glcdfont.c
  keyboards/10bleoledhub/readme.md
  keyboards/10bleoledhub/rules.mk
Labels: keyboard

#10100 add num lock indicator functionality to h10
  keyboards/hineybush/h10/h10.c
Labels: keyboard

#9926 Upstream a good default keymap for the Ferris
  keyboards/handwired/ferris/keymaps/default/keymap.c
  keyboards/handwired/ferris/keymaps/default/keymap.json
  keyboards/handwired/ferris/keymaps/default/readme.md
  keyboards/handwired/ferris/keymaps/json2crab.py
Labels: keyboard, keymap

#10108 created keymap for miuni32:cassdelacruzmunoz
  keyboards/miuni32/keymaps/cassdelacruzmunoz/config.h
  keyboards/miuni32/keymaps/cassdelacruzmunoz/keymap.c
  keyboards/miuni32/keymaps/cassdelacruzmunoz/readme.md
Labels: keymap

#10080 New Keyboard "KiwiKeebs MacroBoard v1.0"
  keyboards/kiwikeebs/macro/config.h
  keyboards/kiwikeebs/macro/info.json
  keyboards/kiwikeebs/macro/keymaps/default/keymap.c
  keyboards/kiwikeebs/macro/macro.c
  keyboards/kiwikeebs/macro/macro.h
  keyboards/kiwikeebs/macro/rules.mk
  keyboards/kiwikeebs/readme.md
Labels: keyboard

#10118 Barleycorn
  keyboards/barleycorn/barleycorn.c
  keyboards/barleycorn/barleycorn.h
  keyboards/barleycorn/config.h
  keyboards/barleycorn/info.json
  keyboards/barleycorn/keymaps/default/keymap.c
  keyboards/barleycorn/keymaps/default/readme.md
  keyboards/barleycorn/keymaps/iso/keymap.c
  keyboards/barleycorn/keymaps/iso/readme.md
  keyboards/barleycorn/keymaps/via/keymap.c
  keyboards/barleycorn/keymaps/via/readme.md
  keyboards/barleycorn/keymaps/via/rules.mk
  keyboards/barleycorn/matrix.c
  keyboards/barleycorn/readme.md
  keyboards/barleycorn/rules.mk
Labels: keyboard

#10129 Kiibohd bootloader, take 2
  bootloader.mk
  keyboards/ergodox_infinity/bootloader_defs.h
  keyboards/ergodox_infinity/rules.mk
  keyboards/infinity60/bootloader_defs.h
  keyboards/infinity60/rules.mk
  keyboards/k_type/bootloader_defs.h
  keyboards/k_type/rules.mk
  keyboards/whitefox/bootloader_defs.h
  keyboards/whitefox/rules.mk
  quantum/mcu_selection.mk
  tmk_core/chibios.mk
  tmk_core/common/chibios/bootloader.c
Labels: bug, core, enhancement, keyboard

#10127 Define STM32_DMA_REQUIRED when using DMA-based WS2812 driver on STM32.
  common_features.mk
  keyboards/zvecr/split_blackpill/rules.mk
  keyboards/zvecr/zv48/rules.mk
Labels: core

#10008 Fix DMA stream ID calculation in ws2812_pwm
  drivers/chibios/ws2812_pwm.c
Labels: core

#10103 Remove support for Adafruit EZ-Key
  docs/config_options.md
  docs/feature_bluetooth.md
  docs/getting_started_make_guide.md
  docs/ja/config_options.md
  docs/ja/feature_bluetooth.md
  docs/ja/getting_started_make_guide.md
  tmk_core/common.mk
  tmk_core/protocol/lufa.mk
  tmk_core/protocol/lufa/bluetooth.c
  tmk_core/protocol/lufa/bluetooth.h
  tmk_core/protocol/lufa/lufa.c
Labels: breaking_change, core, documentation, enhancement

#10078 MSYS2: install packages for AVR toolchain
  util/activate_msys2.sh
  util/msys2_install.sh
Labels: core, enhancement

#9955 Compiler warning when using WS2812
  quantum/rgb_matrix_drivers.c
Labels: core

#9706 Add noeeprom speed function for RGBLIGHT
  docs/feature_rgblight.md
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core, documentation, enhancement

#9865 [Keyboard] Pink Labs e88
  keyboards/e88/config.h
  keyboards/e88/e88.c
  keyboards/e88/e88.h
  keyboards/e88/info.json
  keyboards/e88/keymaps/default/keymap.c
  keyboards/e88/keymaps/default/readme.md
  keyboards/e88/readme.md
  keyboards/e88/rules.mk
Labels: keyboard

#9864 K-Type refactor
  keyboards/k_type/config.h
  keyboards/k_type/info.json
  keyboards/k_type/k_type.c
  keyboards/k_type/k_type.h
  keyboards/k_type/keymaps/belak/keymap.c
  keyboards/k_type/keymaps/default/keymap.c
  keyboards/k_type/keymaps/rgb/config.h
  keyboards/k_type/keymaps/rgb/keymap.c
  keyboards/k_type/keymaps/rgb/readme.md
  keyboards/k_type/keymaps/rgb/rules.mk
  keyboards/k_type/matrix.c
  keyboards/k_type/readme.md
  keyboards/k_type/rules.mk
  quantum/config_common.h
Labels: bug, core, keyboard, keymap

#9607 For science
  keyboards/for_science/config.h
  keyboards/for_science/for_science.c
  keyboards/for_science/for_science.h
  keyboards/for_science/info.json
  keyboards/for_science/keymaps/default/keymap.c
  keyboards/for_science/keymaps/default/readme.md
  keyboards/for_science/readme.md
  keyboards/for_science/rules.mk
Labels: keyboard

#10114 Fix ChibiOS backlight not turning off on suspend
  tmk_core/common/chibios/suspend.c
Labels: bug, core

#10117 update info.json file for keyboard
  keyboards/handwired/zergo/info.json
  keyboards/handwired/zergo/keymaps/default/keymap.c
  keyboards/handwired/zergo/zergo.h
Labels: keyboard

#10169 Allow joysticks to be used without analog pins
  common_features.mk
  docs/feature_joystick.md
  keyboards/handwired/onekey/keymaps/joystick/rules.mk
Labels: breaking_change, bug, core

#9986 Add debug logging to `run()`
  lib/python/qmk/commands.py
Labels: cli, python

#10183 Remove matrix_col_t to allow MATRIX_ROWS > 32
  tmk_core/common/matrix.h
Labels: core, enhancement

#10211 Fixed Spanish keymap extra ES_DIAE symbol
  quantum/keymap_extras/keymap_spanish.h
Labels: bug
