Repository qmk/qmk_firmware, pull requests merged in 2020-02, with the labels that each got.

#7967 ChibiOS/ARM i2c_master mutex
  drivers/arm/i2c_master.c
Labels: core, enhancement

#8058 Skog Lite: disable Console; update info.json
  keyboards/percent/skog_lite/info.json
  keyboards/percent/skog_lite/rules.mk
Labels: enhancement, keyboard

#7595 Fix timer_elapsed() overflow issue for STM32F103 and other ChibiOS boards
  tmk_core/common/chibios/timer.c
Labels: bug, core, needs testing

#7651 Align ATSAM HID descriptors with LUFA/ChibiOS
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.c
Labels: bug, core, enhancement

#8065 Update dirty submodule make message
  message.mk
Labels: core

#8063 CLI: Fix cformat processing files within ignore folders
  lib/python/qmk/cli/cformat.py
Labels: bug, cli, python

#7993 Dedupe extrakey report struct, and send functions in V-USB & LUFA
  tmk_core/common/report.h
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/chibios/usb_main.h
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/lufa/lufa.h
  tmk_core/protocol/vusb/vusb.c
Labels: core, enhancement

#8062 Add User Keymap for FC660C
  keyboards/fc660c/keymaps/mikefightsbears/keymap.c
  keyboards/fc660c/keymaps/mikefightsbears/rules.mk
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/mikefightsbears/keymap.c
Labels: keymap

#8020 Improve the functionality of qmk.questions
  lib/python/qmk/questions.py
Labels: cli, needs testing, python

#8074 Merlin's userspace updates
  layouts/community/60_ansi/mechmerlin-ansi/keymap.c
  layouts/community/60_ansi/mechmerlin-ansi/readme.md
  layouts/community/60_ansi_split_bs_rshift/mechmerlin-split/keymap.c
  layouts/community/60_ansi_split_bs_rshift/mechmerlin-split/readme.md
  layouts/community/65_ansi/mechmerlin/keymap.c
  layouts/community/65_ansi/mechmerlin/readme.md
  layouts/community/65_ansi_blocker/mechmerlin/keymap.c
  layouts/community/65_ansi_blocker/mechmerlin/readme.md
  layouts/community/66_ansi/mechmerlin/keymap.c
  layouts/community/66_ansi/mechmerlin/readme.md
  layouts/community/68_ansi/mechmerlin/keymap.c
  layouts/community/75_ansi/mechmerlin-75_ansi/keymap.c
  layouts/community/75_ansi/mechmerlin-75_ansi/readme.md
  users/mechmerlin/changelog.md
  users/mechmerlin/config.h
  users/mechmerlin/mechmerlin.c
  users/mechmerlin/mechmerlin.h
  users/mechmerlin/readme.md
  users/mechmerlin/rules.mk
Labels: keymap

#8070 Ninjonas userspace
  keyboards/crkbd/keymaps/ninjonas/config.h
  keyboards/kyria/keymaps/ninjonas/config.h
  keyboards/kyria/keymaps/ninjonas/encoder.c
  keyboards/kyria/keymaps/ninjonas/keymap.c
  keyboards/kyria/keymaps/ninjonas/oled.c
  keyboards/kyria/keymaps/ninjonas/rules.mk
  users/ninjonas/README.md
  users/ninjonas/ninjonas.c
  users/ninjonas/ninjonas.h
  users/ninjonas/oled.c
Labels: keymap

#8087 Encoder brush size
  keyboards/ncc1701kb/info.json
  keyboards/ncc1701kb/keymaps/brushsize/keymap.c
Labels: keymap

#8071 Add Midi Endpoint task to ChibiOS main
  tmk_core/protocol/chibios/main.c
  tmk_core/protocol/chibios/usb_main.c
Labels: bug, core

#8077 Remove entries for Minidox eep files from gitignore
  .gitignore
Labels: core

#8079 LFKPad refactor
  keyboards/lfkeyboards/lfkpad/config.h
  keyboards/lfkeyboards/lfkpad/info.json
  keyboards/lfkeyboards/lfkpad/keymaps/default/config.h
  keyboards/lfkeyboards/lfkpad/keymaps/default/keymap.c
  keyboards/lfkeyboards/lfkpad/keymaps/default/readme.md
  keyboards/lfkeyboards/lfkpad/lfkpad.c
  keyboards/lfkeyboards/lfkpad/lfkpad.h
  keyboards/lfkeyboards/lfkpad/readme.md
  keyboards/lfkeyboards/lfkpad/rules.mk
Labels: enhancement, keyboard, keymap

#8082 Relocate grave keycode processing
  common_features.mk
  quantum/process_keycode/process_grave_esc.c
  quantum/process_keycode/process_grave_esc.h
  quantum/quantum.c
  quantum/quantum.h
Labels: core, optimization

#8088 Add RESET key for default keymap in Satisfaction 75
  keyboards/cannonkeys/satisfaction75/keymaps/default/keymap.c
Labels: keymap

#8083 Refactor deltasplit75 to use split_common
  keyboards/deltasplit75/config.h
  keyboards/deltasplit75/deltasplit75.h
  keyboards/deltasplit75/eeprom-lefthand.eep
  keyboards/deltasplit75/eeprom-righthand.eep
  keyboards/deltasplit75/i2c.c
  keyboards/deltasplit75/i2c.h
  keyboards/deltasplit75/matrix.c
  keyboards/deltasplit75/readme.md
  keyboards/deltasplit75/rules.mk
  keyboards/deltasplit75/serial.c
  keyboards/deltasplit75/serial.h
  keyboards/deltasplit75/split_util.c
  keyboards/deltasplit75/split_util.h
  keyboards/deltasplit75/v2/config.h
  keyboards/deltasplit75/v2/v2.c
  keyboards/deltasplit75/v2/v2.h
Labels: keyboard

#7637 Reduce SPLIT_USB_TIMEOUT by 500ms
  docs/config_options.md
  docs/feature_split_keyboard.md
  keyboards/crkbd/rev1/split_util.c
  keyboards/helix/rev2/split_util.c
  quantum/split_common/split_util.c
Labels: keyboard

#7496 [Keyboard] Add a new keyboard Chidori.
  keyboards/chidori/board.c
  keyboards/chidori/board.h
  keyboards/chidori/chidori.c
  keyboards/chidori/chidori.h
  keyboards/chidori/config.h
  keyboards/chidori/info.json
  keyboards/chidori/keymaps/default/config.h
  keyboards/chidori/keymaps/default/keymap.c
  keyboards/chidori/keymaps/default/readme.md
  keyboards/chidori/keymaps/extended/config.h
  keyboards/chidori/keymaps/extended/keymap.c
  keyboards/chidori/keymaps/extended/readme.md
  keyboards/chidori/matrix.c
  keyboards/chidori/readme.md
  keyboards/chidori/rules.mk
  keyboards/chidori/usbconfig.h
Labels: awaiting review, keyboard

#8018 Add Uni660 Keyboard
  keyboards/sirius/uni660/config.h
  keyboards/sirius/uni660/info.json
  keyboards/sirius/uni660/keymaps/default/keymap.c
  keyboards/sirius/uni660/keymaps/via/keymap.c
  keyboards/sirius/uni660/keymaps/via/rules.mk
  keyboards/sirius/uni660/matrix.c
  keyboards/sirius/uni660/readme.md
  keyboards/sirius/uni660/rules.mk
  keyboards/sirius/uni660/uni660.c
  keyboards/sirius/uni660/uni660.h
Labels: keyboard

#8059 Added Atreus Pro Micro variant
  keyboards/atreus/atreus.h
  keyboards/atreus/keymaps/ibnuda/config.h
  keyboards/atreus/keymaps/ibnuda/keymap.c
  keyboards/atreus/keymaps/ibnuda/rules.mk
  keyboards/atreus/promicro/config.h
  keyboards/atreus/promicro/promicro.c
  keyboards/atreus/promicro/promicro.h
  keyboards/atreus/promicro/rules.mk
  keyboards/atreus/readme.md
Labels: keyboard

#8067 add new pcb Inffinity CE
  keyboards/mechlovin/infinityce/config.h
  keyboards/mechlovin/infinityce/infinityce.c
  keyboards/mechlovin/infinityce/infinityce.h
  keyboards/mechlovin/infinityce/info.json
  keyboards/mechlovin/infinityce/keymaps/default/keymap.c
  keyboards/mechlovin/infinityce/keymaps/default/readme.md
  keyboards/mechlovin/infinityce/keymaps/via/keymap.c
  keyboards/mechlovin/infinityce/keymaps/via/readme.md
  keyboards/mechlovin/infinityce/keymaps/via/rules.mk
  keyboards/mechlovin/infinityce/readme.md
  keyboards/mechlovin/infinityce/rules.mk
Labels: keyboard

#8068 [New keyboard]manta60
  keyboards/manta60/config.h
  keyboards/manta60/info.json
  keyboards/manta60/keymaps/default/config.h
  keyboards/manta60/keymaps/default/keymap.c
  keyboards/manta60/keymaps/default/readme.md
  keyboards/manta60/manta60.c
  keyboards/manta60/manta60.h
  keyboards/manta60/readme.md
  keyboards/manta60/rules.mk
Labels: keyboard

#8099 Fix up merlin's 65 ansi blocker layout
  layouts/community/65_ansi_blocker/mechmerlin/keymap.c
Labels: bug, keymap

#8085 VIA Support: KBD67 mkii v1/v2
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/via/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/via/rules.mk
  keyboards/kbdfans/kbd67/mkiirgb/v1/config.h
  keyboards/kbdfans/kbd67/mkiirgb/v2/config.h
Labels: keymap

#8081 User keymap for AKB/Raine
  keyboards/akb/raine/keymaps/mehadviceguy/keymap.c
  keyboards/akb/raine/keymaps/mehadviceguy/readme.md
Labels: keymap

#8097 VIA Support: 1upkeyboards 1up60rgb
  keyboards/1upkeyboards/1up60rgb/config.h
  keyboards/1upkeyboards/1up60rgb/keymaps/via/keymap.c
  keyboards/1upkeyboards/1up60rgb/keymaps/via/rules.mk
Labels: keymap

#8102 Xelus Dawn60: layout macro update and Configurator layout support
  keyboards/xelus/dawn60/dawn60.h
  keyboards/xelus/dawn60/info.json
  keyboards/xelus/dawn60/keymaps/default/keymap.c
  keyboards/xelus/dawn60/keymaps/via/keymap.c
Labels: enhancement, keyboard

#8104 Ergosaurus Configurator support bugfix
  keyboards/ergosaurus/info.json
Labels: enhancement, keyboard

#7975 adding keyboard: jerkin
  keyboards/wsk/jerkin/config.h
  keyboards/wsk/jerkin/info.json
  keyboards/wsk/jerkin/jerkin.c
  keyboards/wsk/jerkin/jerkin.h
  keyboards/wsk/jerkin/keymaps/default/keymap.c
  keyboards/wsk/jerkin/readme.md
  keyboards/wsk/jerkin/rules.mk
Labels: keyboard

#8101 Use function for KEYCODE2 routines instead of macro.
  tmk_core/common/report.h
Labels: core, optimization

#8110 Committing fix to info.json for wsk/jerkin
  keyboards/wsk/jerkin/info.json
Labels: keyboard

#8093 Move Grave Escape, Lock and Leader keycodes into their own sections
  docs/keycodes.md
  docs/quantum_keycodes.md
Labels: documentation

#7979 adding keyboard: tkl30
  keyboards/wsk/tkl30/config.h
  keyboards/wsk/tkl30/info.json
  keyboards/wsk/tkl30/keymaps/default/keymap.c
  keyboards/wsk/tkl30/readme.md
  keyboards/wsk/tkl30/rules.mk
  keyboards/wsk/tkl30/tkl30.c
  keyboards/wsk/tkl30/tkl30.h
Labels: keyboard

#7854 jj4x4: README update
  keyboards/jj4x4/README.md
Labels: keyboard

#8084 Refactor mint60 to use split_common
  keyboards/mint60/config.h
  keyboards/mint60/i2c.c
  keyboards/mint60/i2c.h
  keyboards/mint60/keymaps/default/keymap.c
  keyboards/mint60/matrix.c
  keyboards/mint60/mint60.c
  keyboards/mint60/mint60.h
  keyboards/mint60/rules.mk
  keyboards/mint60/serial.c
  keyboards/mint60/serial.h
  keyboards/mint60/serial_config.h
  keyboards/mint60/split_util.c
  keyboards/mint60/split_util.h
Labels: keyboard

#7925 Refactor ergo42 to use split_common
  keyboards/ergo42/config.h
  keyboards/ergo42/ergo42.h
  keyboards/ergo42/i2c.c
  keyboards/ergo42/i2c.h
  keyboards/ergo42/matrix.c
  keyboards/ergo42/readme.md
  keyboards/ergo42/rev1/config.h
  keyboards/ergo42/rev1/rev1.c
  keyboards/ergo42/rev1/rev1.h
  keyboards/ergo42/rules.mk
  keyboards/ergo42/serial.c
  keyboards/ergo42/serial.h
  keyboards/ergo42/split_util.c
  keyboards/ergo42/split_util.h
Labels: keyboard

#6884 Add QMK Compile Context Sensitivity
  docs/cli.md
  lib/python/qmk/cli/compile.py
Labels: cli, in progress, python

#8116 ZJ68: complete Configurator layout support
  keyboards/zj68/info.json
Labels: enhancement, keyboard

#8117 XD84: Configurator bugfix for ISO layout
  keyboards/xd84/info.json
Labels: enhancement, keyboard

#8030 Add users/alfrdmalr and switch to layouts
  keyboards/preonic/keymaps/alfrdmalr/config.h
  keyboards/preonic/keymaps/alfrdmalr/keymap.c
  keyboards/preonic/keymaps/alfrdmalr/readme.md
  keyboards/preonic/keymaps/alfrdmalr/rules.mk
  layouts/community/ortho_5x12/alfrdmalr/config.h
  layouts/community/ortho_5x12/alfrdmalr/keymap.c
  layouts/community/ortho_5x12/alfrdmalr/rules.mk
  users/alfrdmalr/alfrdmalr.c
  users/alfrdmalr/alfrdmalr.h
  users/alfrdmalr/config.h
  users/alfrdmalr/readme.md
  users/alfrdmalr/rules.mk
Labels: keymap

#8091 Misc tidyups for Chidori
  keyboards/chidori/board.c
  keyboards/chidori/chidori.c
  keyboards/chidori/chidori.h
  keyboards/chidori/keymaps/default/keymap.c
  keyboards/chidori/keymaps/extended/keymap.c
  keyboards/chidori/matrix.c
  keyboards/chidori/rules.mk
  keyboards/chidori/usbconfig.h
Labels: enhancement, keyboard, keymap

#8092 Remove i2c write command when reading columns on Ergodox EZ
  keyboards/ergodox_ez/matrix.c
Labels: keyboard

#8095 add lily58 yshrsmz keymap
  keyboards/lily58/keymaps/yshrsmz/config.h
  keyboards/lily58/keymaps/yshrsmz/keymap.c
  keyboards/lily58/keymaps/yshrsmz/rules.mk
Labels: keymap

#8096 Phoebe/Maxr1998 keymap: enable space cadet with curly braces
  keyboards/maxr1998/phoebe/keymaps/default/config.h
  keyboards/maxr1998/phoebe/keymaps/default/keymap.c
Labels: keymap

#8107 Port SPLIT_USB_DETECT to lily58
  keyboards/lily58/matrix.c
  keyboards/lily58/rev1/matrix.c
  keyboards/lily58/rev1/split_util.c
  keyboards/lily58/split_util.c
  keyboards/lily58/split_util.h
Labels: keyboard

#8112 YMDK NP21: matrix and keymap refactor
  keyboards/ymdk_np21/info.json
  keyboards/ymdk_np21/keymaps/default/keymap.c
  keyboards/ymdk_np21/keymaps/default/readme.md
  keyboards/ymdk_np21/ymdk_np21.h
Labels: enhancement, keyboard

#7983 adding keyboard: gothic50
  keyboards/wsk/gothic50/config.h
  keyboards/wsk/gothic50/gothic50.c
  keyboards/wsk/gothic50/gothic50.h
  keyboards/wsk/gothic50/info.json
  keyboards/wsk/gothic50/keymaps/default/keymap.c
  keyboards/wsk/gothic50/keymaps/default/rules.mk
  keyboards/wsk/gothic50/readme.md
  keyboards/wsk/gothic50/rules.mk
Labels: keyboard

#7982 adding keyboard: gothic70
  keyboards/wsk/gothic70/config.h
  keyboards/wsk/gothic70/gothic70.c
  keyboards/wsk/gothic70/gothic70.h
  keyboards/wsk/gothic70/info.json
  keyboards/wsk/gothic70/keymaps/default/keymap.c
  keyboards/wsk/gothic70/keymaps/default/rules.mk
  keyboards/wsk/gothic70/readme.md
  keyboards/wsk/gothic70/rules.mk
Labels: keyboard

#7976 adding keyboard: kodachi50
  keyboards/wsk/kodachi50/config.h
  keyboards/wsk/kodachi50/info.json
  keyboards/wsk/kodachi50/keymaps/default/keymap.c
  keyboards/wsk/kodachi50/kodachi50.c
  keyboards/wsk/kodachi50/kodachi50.h
  keyboards/wsk/kodachi50/readme.md
  keyboards/wsk/kodachi50/rules.mk
Labels: keyboard

#7981 adding keyboard: houndstooth
  keyboards/wsk/houndstooth/config.h
  keyboards/wsk/houndstooth/houndstooth.c
  keyboards/wsk/houndstooth/houndstooth.h
  keyboards/wsk/houndstooth/info.json
  keyboards/wsk/houndstooth/keymaps/default/keymap.c
  keyboards/wsk/houndstooth/readme.md
  keyboards/wsk/houndstooth/rules.mk
Labels: keyboard

#7978 adding keyboard: sl40
  keyboards/wsk/sl40/config.h
  keyboards/wsk/sl40/info.json
  keyboards/wsk/sl40/keymaps/default/keymap.c
  keyboards/wsk/sl40/readme.md
  keyboards/wsk/sl40/rules.mk
  keyboards/wsk/sl40/sl40.c
  keyboards/wsk/sl40/sl40.h
Labels: keyboard

#7977 adding keyboard: pain27
  keyboards/wsk/pain27/config.h
  keyboards/wsk/pain27/info.json
  keyboards/wsk/pain27/keymaps/default/keymap.c
  keyboards/wsk/pain27/pain27.c
  keyboards/wsk/pain27/pain27.h
  keyboards/wsk/pain27/readme.md
  keyboards/wsk/pain27/rules.mk
Labels: keyboard, keymap

#7980 adding keyboard: neuron
  keyboards/walletburner/neuron/config.h
  keyboards/walletburner/neuron/info.json
  keyboards/walletburner/neuron/keymaps/default/keymap.c
  keyboards/walletburner/neuron/neuron.c
  keyboards/walletburner/neuron/neuron.h
  keyboards/walletburner/neuron/readme.md
  keyboards/walletburner/neuron/rules.mk
Labels: keyboard

#8111 Add Prime_L V2 and Prime_EXL Plus
  keyboards/handwired/prime_exl/keymaps/via/keymap.c
  keyboards/primekb/prime_l_v2/config.h
  keyboards/primekb/prime_l_v2/info.json
  keyboards/primekb/prime_l_v2/keymaps/default/keymap.c
  keyboards/primekb/prime_l_v2/keymaps/default/readme.md
  keyboards/primekb/prime_l_v2/prime_l_v2.c
  keyboards/primekb/prime_l_v2/prime_l_v2.h
  keyboards/primekb/prime_l_v2/readme.md
  keyboards/primekb/prime_l_v2/rules.mk
Labels: keyboard, keymap

#7357 CI: Add workflow for CLI testing
  .github/workflows/cli.yml
  lib/python/qmk/tests/test_cli_commands.py
  util/travis_test.sh
Labels: cli, core

#8103 Remove PJRC USB stack
  doxygen-todo
  tmk_core/common/command.c
  tmk_core/protocol/bluefruit.mk
  tmk_core/protocol/bluefruit/main.c
  tmk_core/protocol/pjrc.mk
  tmk_core/protocol/pjrc/MEMO.txt
  tmk_core/protocol/pjrc/main.c
  tmk_core/protocol/pjrc/pjrc.c
  tmk_core/protocol/pjrc/pjrc.h
  tmk_core/protocol/pjrc/usb.c
  tmk_core/protocol/pjrc/usb.h
  tmk_core/protocol/pjrc/usb_debug.c
  tmk_core/protocol/pjrc/usb_debug.h
  tmk_core/protocol/pjrc/usb_extra.c
  tmk_core/protocol/pjrc/usb_extra.h
  tmk_core/protocol/pjrc/usb_keyboard.c
  tmk_core/protocol/pjrc/usb_keyboard.h
  tmk_core/protocol/pjrc/usb_mouse.c
  tmk_core/protocol/pjrc/usb_mouse.h
  tmk_core/readme.md
Labels: core

#8125 Update the flash cli command to use the user config
  lib/python/qmk/cli/flash.py
Labels: bug, cli, python

#8098 Adding ergodash/rev1:nopunin10did
  keyboards/ergodash/rev1/keymaps/nopunin10did/config.h
  keyboards/ergodash/rev1/keymaps/nopunin10did/keymap.c
  keyboards/ergodash/rev1/keymaps/nopunin10did/layers.json
  keyboards/ergodash/rev1/keymaps/nopunin10did/readme.md
  keyboards/ergodash/rev1/keymaps/nopunin10did/rules.mk
Labels: keymap

#8121 Use FIRMWARE_FORMAT for "Checking file size" message
  message.mk
Labels: core, enhancement

#8100 Compile error if ONESHOT_TIMEOUT defined but oneshot disabled
  tmk_core/common/action.c
Labels: bug

#7830 New iso layout and keymap for dz60 with 4th row all 1u
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/iso_4th_row_all_1u/keymap.c
  keyboards/dz60/keymaps/iso_4th_row_all_1u/readme.md
Labels: keyboard, keymap

#8123 Add support for Polaris
  keyboards/ai03/polaris/config.h
  keyboards/ai03/polaris/info.json
  keyboards/ai03/polaris/keymaps/default/keymap.c
  keyboards/ai03/polaris/keymaps/default/readme.md
  keyboards/ai03/polaris/keymaps/default_ansi_tsangan/keymap.c
  keyboards/ai03/polaris/keymaps/default_ansi_tsangan/readme.md
  keyboards/ai03/polaris/keymaps/testing/keymap.c
  keyboards/ai03/polaris/keymaps/testing/readme.md
  keyboards/ai03/polaris/keymaps/via/keymap.c
  keyboards/ai03/polaris/keymaps/via/readme.md
  keyboards/ai03/polaris/keymaps/via/rules.mk
  keyboards/ai03/polaris/polaris.c
  keyboards/ai03/polaris/polaris.h
  keyboards/ai03/polaris/readme.md
  keyboards/ai03/polaris/rules.mk
Labels: keyboard

#7794 [Keyboard] Add support for Hub16
  keyboards/hub16/config.h
  keyboards/hub16/hub16.c
  keyboards/hub16/hub16.h
  keyboards/hub16/keymaps/default/keymap.c
  keyboards/hub16/keymaps/no_mod/keymap.c
  keyboards/hub16/matrix.c
  keyboards/hub16/readme.md
  keyboards/hub16/rules.mk
Labels: keyboard

#8139 Remove tzarc's Luddite keymap.
  keyboards/40percentclub/luddite/keymaps/tzarc/config.h
  keyboards/40percentclub/luddite/keymaps/tzarc/keymap.c
  keyboards/40percentclub/luddite/keymaps/tzarc/rules.mk
Labels: keymap

#8140 Remove zvecr dz60 keymap
  keyboards/dz60/keymaps/zvecr/keymap.c
Labels: keymap

#8124 VIA Support for Boardwalk
  keyboards/boardwalk/config.h
  keyboards/boardwalk/keymaps/via/keymap.c
  keyboards/boardwalk/keymaps/via/readme.md
  keyboards/boardwalk/keymaps/via/rules.mk
Labels: enhancement, keyboard

#8130 [Keyboard] Use DIRECT_PINS instead of empty MATRIX_ROW_PINS: sixshooter
  keyboards/bpiphany/sixshooter/config.h
  keyboards/bpiphany/sixshooter/sixshooter.h
Labels: keyboard

#7697 User keymap for KBDfans KBD67 MKII RGB (hot-swap)
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/dnsnrk/config.h
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/dnsnrk/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/dnsnrk/readme.md
Labels: keymap

#8143 Tweak my TAPPING_TERM and be more futureproof
  keyboards/crkbd/keymaps/bcat/config.h
  keyboards/keebio/quefrency/keymaps/bcat/config.h
  users/bcat/config.h
Labels: keymap

#8148 use replace() over rename() to have cross-platform overwriting
  lib/python/milc.py
Labels: bug, cli

#8142 Align max backlight level in docs
  docs/config_options.md
  docs/ja/config_options.md
  docs/porting_your_keyboard_to_qmk_(arm_and_other_chibios_cpus).md
Labels: documentation

#8150 [Keyboard] Fix inconsistent MATRIX_ROWS and MATRIX_COLS: wsk/gothic50
  keyboards/wsk/gothic50/config.h
Labels: bug, keyboard

#8144 Rename Polaris Tsangan layout to 60_tsangan_hhkb and enable community layout support
  keyboards/ai03/polaris/info.json
  keyboards/ai03/polaris/keymaps/default_ansi_tsangan/keymap.c
  keyboards/ai03/polaris/polaris.h
  keyboards/ai03/polaris/rules.mk
Labels: keyboard, keymap

#8147 doc update zh-cn
  docs/zh-cn/_summary.md
Labels: documentation, translation

#8133 VIA Support: Duck Eagle V2
  keyboards/duck/eagle_viper/v2/keymaps/via/keymap.c
  keyboards/duck/eagle_viper/v2/keymaps/via/readme.md
  keyboards/duck/eagle_viper/v2/keymaps/via/rules.mk
Labels: keymap

#8146 VIA Support for the Idobo (ID75)
  keyboards/idobo/config.h
  keyboards/idobo/keymaps/via/keymap.c
  keyboards/idobo/keymaps/via/rules.mk
  keyboards/idobo/readme.md
Labels: keymap

#8145 Fix out of bound OLED font access
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
Labels: bug, core

#8126 VIA support for Graystudio Space65
  keyboards/gray_studio/space65/config.h
  keyboards/gray_studio/space65/keymaps/via/keymap.c
  keyboards/gray_studio/space65/keymaps/via/rules.mk
Labels: keyboard, keymap

#8118 VIA support for the Think6.5
  keyboards/gray_studio/think65/hotswap/config.h
  keyboards/gray_studio/think65/hotswap/keymaps/via/keymap.c
  keyboards/gray_studio/think65/hotswap/keymaps/via/rules.mk
  keyboards/gray_studio/think65/solder/config.h
  keyboards/gray_studio/think65/solder/keymaps/via/keymap.c
  keyboards/gray_studio/think65/solder/keymaps/via/rules.mk
Labels: keyboard, keymap

#7675 Align VUSB HID descriptors with LUFA/ChibiOS
  tmk_core/protocol/vusb/vusb.c
Labels: core, enhancement

#8153 Align split_common/matrix.c with matrix.c
  quantum/split_common/matrix.c
Labels: core

#8141 Define backlight pin for Quefrency Rev2
  keyboards/keebio/quefrency/rev2/config.h
Labels: keyboard

#8134 Fix RESET keycode on some STM32F072 keyboards
  drivers/boards/GENERIC_STM32_F072XB/board.c
  drivers/boards/GENERIC_STM32_F072XB/board.h
  drivers/boards/GENERIC_STM32_F072XB/board.mk
  drivers/boards/GENERIC_STM32_F072XB/bootloader_defs.h
  drivers/boards/GENERIC_STM32_F072XB/cfg/board.chcfg
  keyboards/at_at/660m/rules.mk
  keyboards/candybar/rules.mk
  keyboards/cannonkeys/an_c/rules.mk
  keyboards/cannonkeys/chimera65/rules.mk
  keyboards/cannonkeys/instant60/rules.mk
  keyboards/cannonkeys/iron165/rules.mk
  keyboards/cannonkeys/satisfaction75/rules.mk
  keyboards/cannonkeys/savage65/rules.mk
  keyboards/cannonkeys/tmov2/rules.mk
  keyboards/projectkb/alice/rules.mk
  keyboards/xiaomi/mk02/rules.mk
  quantum/mcu_selection.mk
Labels: bug, core

#7338 [Keymap] Add personal keymap for preonic
  keyboards/preonic/keymaps/keelhauler/config.h
  keyboards/preonic/keymaps/keelhauler/keymap.c
  keyboards/preonic/keymaps/keelhauler/readme.md
  keyboards/preonic/keymaps/keelhauler/rules.mk
Labels: keymap

#8154 [osx_neo2] Bugfixes and improvements to Ergodox macOS Neo2 keymap
  layouts/community/ergodox/osx_neo2/config.h
  layouts/community/ergodox/osx_neo2/keymap.c
Labels: keymap

#8166 Convert two handwired default keymaps to Dynamic Macro feature
  keyboards/handwired/daishi/keymaps/default/keymap.c
  keyboards/handwired/daishi/rules.mk
  keyboards/handwired/space_oddity/keymaps/default/keymap.c
  keyboards/handwired/space_oddity/rules.mk
Labels: bug, enhancement, keymap

#8164 Add community layout support to Mysterium
  keyboards/coseyfannitutti/mysterium/rules.mk
Labels: keyboard

#7761 Just60 Configurator layout support and thinxer keymap
  keyboards/just60/info.json
  keyboards/just60/keymaps/thinxer/keymap.c
  keyboards/just60/keymaps/thinxer/readme.md
  keyboards/just60/keymaps/thinxer/rules.mk
Labels: enhancement, keyboard

#8163 [keymap] Update audio controls on community
  layouts/community/60_ansi_split_bs_rshift/yanfali/keymap.c
  layouts/community/60_hhkb/yanfali/keymap.c
  layouts/community/60_tsangan_hhkb/yanfali/keymap.c
  layouts/community/75_ansi/yanfali/keymap.c
  layouts/community/tkl_ansi/yanfali/keymap.c
  users/yanfali/rules.mk
Labels: keymap

#8158 Adding VIA support for 40percentclub/luddite
  keyboards/40percentclub/luddite/config.h
  keyboards/40percentclub/luddite/keymaps/via/keymap.c
  keyboards/40percentclub/luddite/keymaps/via/rules.mk
Labels: keymap

#8162 Update generic f072 board files in line with ChibiOS v19.1.3
  drivers/boards/GENERIC_STM32_F072XB/board.c
  drivers/boards/GENERIC_STM32_F072XB/board.h
  drivers/boards/GENERIC_STM32_F072XB/board.mk
  drivers/boards/GENERIC_STM32_F072XB/cfg/board.chcfg
  drivers/boards/GENERIC_STM32_F072XB/cfg/board.fmpp
Labels: core, future_2020q1

#8078 Fix ChibiOS timer overflow for 16-bit system clock devices.
  docs/ChangeLog/20200229/PR8078.md
  tmk_core/common/chibios/timer.c
  tmk_core/common/timer.h
Labels: bug, core, future_2020q1, needs testing

#7467 Add configs for Centromere keyboard
  keyboards/centromere/centromere.c
  keyboards/centromere/centromere.h
  keyboards/centromere/config.h
  keyboards/centromere/keymaps/default/keymap.c
  keyboards/centromere/keymaps/default_u2/keymap.c
  keyboards/centromere/keymaps/default_u2/rules.mk
  keyboards/centromere/matrix.c
  keyboards/centromere/readme.md
  keyboards/centromere/rules.mk
Labels: keyboard, keymap

#8180 Correct Chidori Configurator layout data
  keyboards/chidori/info.json
Labels: enhancement, keyboard

#8177 Convert f072 backlight build error to message
  docs/feature_backlight.md
  quantum/backlight/backlight_arm.c
Labels: core, documentation

#8159 VIA Support: DZ60RGB ANSI V1/V2
  keyboards/dztech/dz60rgb_ansi/keymaps/via/keymap.c
  keyboards/dztech/dz60rgb_ansi/keymaps/via/rules.mk
  keyboards/dztech/dz60rgb_ansi/v1/config.h
  keyboards/dztech/dz60rgb_ansi/v2/config.h
Labels: keymap

#8165 Clean up some remaining rules.mk bootloader stuff
  keyboards/dp60/keymaps/allleds/rules.mk
  keyboards/handwired/dactyl_left/rules.mk
  keyboards/handwired/minorca/keymaps/ridingqwerty/rules.mk
  keyboards/handwired/owlet60/rules.mk
  keyboards/maartenwut/minitomic/rules.mk
Labels: enhancement, keyboard, keymap

#8175 [Keyboard] Add Panc40 by Panc Interactive
  keyboards/panc40/config.h
  keyboards/panc40/info.json
  keyboards/panc40/keymaps/default/keymap.c
  keyboards/panc40/keymaps/default/readme.md
  keyboards/panc40/keymaps/default_minorca/keymap.c
  keyboards/panc40/keymaps/default_minorca/readme.md
  keyboards/panc40/keymaps/default_sebright/keymap.c
  keyboards/panc40/keymaps/default_sebright/readme.md
  keyboards/panc40/panc40.c
  keyboards/panc40/panc40.h
  keyboards/panc40/readme.md
  keyboards/panc40/rules.mk
Labels: keyboard

#7722 add japanese translation (detail guide part)
  docs/ja/custom_quantum_functions.md
  docs/ja/flashing.md
  docs/ja/getting_started_build_tools.md
  docs/ja/getting_started_make_guide.md
  docs/ja/getting_started_vagrant.md
  docs/ja/keymap.md
Labels: documentation, translation

#8129 [Docs] Update Japanese translation
  docs/ja/cli.md
  docs/ja/config_options.md
Labels: documentation, translation

#8187 Fix os detection in OSX python 3.8
  lib/python/qmk/cli/doctor.py
Labels: bug, cli, python

#8186 Conform Gherkin defaults to original TMK keymap
  keyboards/40percentclub/gherkin/keymaps/default/keymap.c
Labels: keyboard, keymap

#8188 [Docs] Update Japanese translation of cli.md
  docs/ja/cli.md
Labels: documentation, translation

#7872 Use pathlib everywhere we can
  lib/python/milc.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/cli/json/keymap.py
  lib/python/qmk/cli/list/keyboards.py
  lib/python/qmk/cli/new/keymap.py
  lib/python/qmk/commands.py
  lib/python/qmk/constants.py
  lib/python/qmk/keymap.py
  lib/python/qmk/path.py
  lib/python/qmk/tests/test_qmk_path.py
Labels: cli, python

#8176 [keyboard] Austin
  keyboards/acheron/austin/austin.c
  keyboards/acheron/austin/austin.h
  keyboards/acheron/austin/chconf.h
  keyboards/acheron/austin/config.h
  keyboards/acheron/austin/halconf.h
  keyboards/acheron/austin/info.json
  keyboards/acheron/austin/keymaps/default/keymap.c
  keyboards/acheron/austin/keymaps/via/keymap.c
  keyboards/acheron/austin/keymaps/via/rules.mk
  keyboards/acheron/austin/mcuconf.h
  keyboards/acheron/austin/readme.md
  keyboards/acheron/austin/rules.mk
Labels: keyboard

#8181 Dynamic keymap sanity check
  quantum/dynamic_keymap.c
Labels: bug, core

#8190 Centromere Configurator layout support and readme update
  keyboards/centromere/info.json
  keyboards/centromere/readme.md
Labels: enhancement, keyboard

#8105 MxSS RGB Handler Touchup
  keyboards/mxss/mxss_frontled.c
  keyboards/mxss/rgblight.c
  keyboards/mxss/rgblight.h
Labels: keyboard

#8195 Change the image photo of /keyboards/reviung41/readme.md
  keyboards/reviung41/readme.md
Labels: documentation, keyboard

#8200 Move Grave/Tilde and some lesser used keys on my ergo boards
  keyboards/crkbd/keymaps/bcat/keymap.c
  keyboards/crkbd/keymaps/bcat/readme.md
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
Labels: keymap

#8168 Add VIA support for kbd8x mk2
  keyboards/kbdfans/kbd8x_mk2/keymaps/via/keymap.c
  keyboards/kbdfans/kbd8x_mk2/keymaps/via/readme.md
  keyboards/kbdfans/kbd8x_mk2/keymaps/via/rules.mk
Labels: keymap

#8184 Keymap for XD75 with 7U spacebar EN-RU gamers
  keyboards/xd75/keymaps/buzzlighter1/config.h
  keyboards/xd75/keymaps/buzzlighter1/keymap.c
  keyboards/xd75/keymaps/buzzlighter1/readme.md
  keyboards/xd75/keymaps/buzzlighter1/rules.mk
Labels: keymap

#8216 Allow 30us matrix delay to be keyboard/user overridable
  docs/config_options.md
  quantum/matrix.c
  quantum/matrix_common.c
  quantum/split_common/matrix.c
  tmk_core/common/matrix.h
Labels: core, documentation

#7950 [New keyboard]silverbullet44
  keyboards/silverbullet44/config.h
  keyboards/silverbullet44/info.json
  keyboards/silverbullet44/keymaps/FKML/keymap.c
  keyboards/silverbullet44/keymaps/FKML/readme.md
  keyboards/silverbullet44/keymaps/default/keymap.c
  keyboards/silverbullet44/keymaps/default/readme.md
  keyboards/silverbullet44/readme.md
  keyboards/silverbullet44/rules.mk
  keyboards/silverbullet44/silverbullet44.c
  keyboards/silverbullet44/silverbullet44.h
Labels: keyboard

#8026 Add Arm Teensys to mcu_selection.mk
  keyboards/ergodox_infinity/rules.mk
  keyboards/handwired/onekey/teensy_32/rules.mk
  keyboards/handwired/onekey/teensy_lc/rules.mk
  keyboards/infinity60/rules.mk
  keyboards/k_type/rules.mk
  keyboards/whitefox/rules.mk
  quantum/mcu_selection.mk
Labels: core, enhancement, keyboard

#7676 Add Turkish keymap aliases and sendstring LUT
  quantum/keymap_extras/keymap_turkish_f.h
  quantum/keymap_extras/keymap_turkish_q.h
  quantum/keymap_extras/sendstring_turkish_f.h
  quantum/keymap_extras/sendstring_turkish_q.h
Labels: core, enhancement

#7758 S75 Encoder Fixes
  keyboards/cannonkeys/satisfaction75/config.h
Labels: bug, keyboard

#7628 uart.c fix from TMK
  tmk_core/common/uart.c
Labels: core

#8218 Add Danish keymap and sendstring LUT
  quantum/keymap_extras/keymap_danish.h
  quantum/keymap_extras/sendstring_danish.h
Labels: core, enhancement

#7548 Added custom keymap for preonic
  keyboards/preonic/keymaps/elisiano/config.h
  keyboards/preonic/keymaps/elisiano/keymap.c
  keyboards/preonic/keymaps/elisiano/readme.md
  keyboards/preonic/keymaps/elisiano/rules.mk
Labels: keymap

#7759 Update TMOv2 for new key
  keyboards/cannonkeys/an_c/rules.mk
  keyboards/cannonkeys/chimera65/rules.mk
  keyboards/cannonkeys/tmov2/config.h
  keyboards/cannonkeys/tmov2/info.json
  keyboards/cannonkeys/tmov2/keymaps/default/keymap.c
  keyboards/cannonkeys/tmov2/keymaps/via/keymap.c
  keyboards/cannonkeys/tmov2/tmov2.h
Labels: enhancement, keyboard

#8214 VIA Support: KBD75 rev1/rev2
  keyboards/kbdfans/kbd75/config.h
  keyboards/kbdfans/kbd75/keymaps/via/keymap.c
  keyboards/kbdfans/kbd75/keymaps/via/rules.mk
  keyboards/kbdfans/kbd75/rev1/config.h
  keyboards/kbdfans/kbd75/rev2/config.h
Labels: keymap

#7769 Fix QWIIC OLED for AVR
  drivers/qwiic/micro_oled.c
  drivers/qwiic/micro_oled.h
Labels: bug, core

#8198 V-USB interrupt enable fix
  tmk_core/protocol/vusb/main.c
Labels: bug, core

#7893 New flags and functionality for cformat
  docs/cli.md
  lib/python/qmk/cli/cformat.py
  lib/python/qmk/path.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

#8223 Add mouse support to SEND_STRING
  quantum/send_string_keycodes.h
Labels: core, enhancement

#8173 Rollback #7967, ChibiOS thread safety
  drivers/arm/i2c_master.c
Labels: bug, core, optimization

#8155 A proper `send_string()` for the Unicode feature
  docs/feature_unicode.md
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicode_common.h
Labels: core, documentation, needs testing

#8225 Gingham Update
  keyboards/gingham/config.h
  keyboards/gingham/matrix.c
  keyboards/gingham/rules.mk
Labels: keyboard

#8205 [Keyboard] Add zfrontier/big_switch
  keyboards/zfrontier/big_switch/big_switch.c
  keyboards/zfrontier/big_switch/big_switch.h
  keyboards/zfrontier/big_switch/config.h
  keyboards/zfrontier/big_switch/keymaps/default/keymap.c
  keyboards/zfrontier/big_switch/keymaps/default/readme.md
  keyboards/zfrontier/big_switch/keymaps/longtap/keymap.c
  keyboards/zfrontier/big_switch/keymaps/longtap/readme.md
  keyboards/zfrontier/big_switch/keymaps/longtap/rules.mk
  keyboards/zfrontier/big_switch/readme.md
  keyboards/zfrontier/big_switch/rules.mk
Labels: keyboard

#8224 Re-attempt to add Equinox with newer Via changes
  keyboards/ai03/equinox/config.h
  keyboards/ai03/equinox/equinox.c
  keyboards/ai03/equinox/equinox.h
  keyboards/ai03/equinox/info.json
  keyboards/ai03/equinox/keymaps/default/keymap.c
  keyboards/ai03/equinox/keymaps/default/readme.md
  keyboards/ai03/equinox/keymaps/proto_via/config.h
  keyboards/ai03/equinox/keymaps/proto_via/keymap.c
  keyboards/ai03/equinox/keymaps/proto_via/readme.md
  keyboards/ai03/equinox/keymaps/proto_via/rules.mk
  keyboards/ai03/equinox/keymaps/via/keymap.c
  keyboards/ai03/equinox/keymaps/via/readme.md
  keyboards/ai03/equinox/keymaps/via/rules.mk
  keyboards/ai03/equinox/readme.md
  keyboards/ai03/equinox/rules.mk
Labels: keyboard

#8227 Hub16 - Bug removal + clean up code
  keyboards/hub16/keymaps/default/keymap.c
  keyboards/hub16/keymaps/no_mod/keymap.c
Labels: keyboard, keymap

#8233 Add VIA support for Prime_L
  keyboards/primekb/prime_l/config.h
  keyboards/primekb/prime_l/keymaps/via/keymap.c
  keyboards/primekb/prime_l/keymaps/via/readme.md
  keyboards/primekb/prime_l/keymaps/via/rules.mk
  keyboards/primekb/prime_l/readme.md
  keyboards/primekb/prime_l/v1/config.h
  keyboards/primekb/prime_l/v2/config.h
Labels: keyboard, keymap

#8237 Hineybush h87a lock indicators
  keyboards/hineybush/h87a/h87a.c
  keyboards/hineybush/h87a/keymaps/default/keymap.c
  keyboards/hineybush/h87a/keymaps/via/keymap.c
  keyboards/hineybush/h87a/keymaps/wkl/keymap.c
Labels: bug, keymap

#8156 Improvements to extrakey HID descriptors
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/arm_atsam/usb/udi_device_conf.h
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.c
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/vusb/vusb.c
Labels: core, enhancement, optimization

#8229 [Keyboard] Add Wete
  keyboards/wete/chconf.h
  keyboards/wete/config.h
  keyboards/wete/halconf.h
  keyboards/wete/info.json
  keyboards/wete/keymaps/default/keymap.c
  keyboards/wete/keymaps/iso/keymap.c
  keyboards/wete/keymaps/jis/keymap.c
  keyboards/wete/mcuconf.h
  keyboards/wete/readme.md
  keyboards/wete/rules.mk
  keyboards/wete/wete.c
  keyboards/wete/wete.h
Labels: keyboard

#8236 `send_unicode_string()`: Add support for code points > 0xFFFF
  docs/feature_unicode.md
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicode_common.h
  quantum/process_keycode/process_unicodemap.c
  quantum/process_keycode/process_unicodemap.h
Labels: core, enhancement, needs testing

#8235 Split - Avoid race condition during matrix_init_quantum
  quantum/split_common/matrix.c
  quantum/split_common/split_util.c
  quantum/split_common/split_util.h
Labels: bug, core

#7994 New feature: PERMISSIVE_HOLD_PER_KEY
  docs/config_options.md
  docs/feature_advanced_keycodes.md
  tmk_core/common/action_tapping.c
Labels: core, documentation, enhancement

#8238 Add Prime_EXL Plus to handwired
  keyboards/handwired/prime_exl_plus/config.h
  keyboards/handwired/prime_exl_plus/info.json
  keyboards/handwired/prime_exl_plus/keymaps/default/keymap.c
  keyboards/handwired/prime_exl_plus/keymaps/default/readme.md
  keyboards/handwired/prime_exl_plus/keymaps/via/keymap.c
  keyboards/handwired/prime_exl_plus/keymaps/via/readme.md
  keyboards/handwired/prime_exl_plus/keymaps/via/rules.mk
  keyboards/handwired/prime_exl_plus/prime_exl_plus.c
  keyboards/handwired/prime_exl_plus/prime_exl_plus.h
  keyboards/handwired/prime_exl_plus/readme.md
  keyboards/handwired/prime_exl_plus/rules.mk
Labels: keyboard

#8248 Fixed OS detection such that OSX doesn't take over the world
  lib/python/qmk/cli/doctor.py
Labels: bug, cli, python

#8249 Add community layout support to KBD67 MKIIRGB v2
  keyboards/kbdfans/kbd67/mkiirgb/v2/rules.mk
Labels: keyboard

#8245 Upgrade acheron/austin to ChibiOS 19.1.3.
  keyboards/acheron/austin/chconf.h
  keyboards/acheron/austin/halconf.h
Labels: future_2020q1, keyboard

#8244 Add support for delays in send_string.
  docs/feature_macros.md
  quantum/quantum.c
  quantum/send_string_keycodes.h
Labels: core, documentation, enhancement

#8254 Fix MCU rule for Wete
  keyboards/wete/rules.mk
Labels: bug, keyboard

#8094 clang-format the future branch via `qmk cformat`
  quantum/stm32/chconf.h
  quantum/stm32/halconf.h
  quantum/stm32/mcuconf.h
  tmk_core/common/action_code.h
Labels: core, enhancement, future_2020q1

#8261 Upgrade wete to ChibiOS 19.1.3.
  keyboards/wete/chconf.h
  keyboards/wete/halconf.h
Labels: future_2020q1, keyboard

#8268 Unconditionally enable ChibiOS syscalls
  tmk_core/chibios.mk
  tmk_core/common.mk
Labels: core
