Repository qmk/qmk_firmware, pull requests merged in 2020-07, with the labels that each got.

#9216 AutoHotKey Companion keymap for Super16
  keyboards/1upkeyboards/super16/keymaps/ahk_companion/ahk_companion.ahk
  keyboards/1upkeyboards/super16/keymaps/ahk_companion/config.h
  keyboards/1upkeyboards/super16/keymaps/ahk_companion/keymap.c
  keyboards/1upkeyboards/super16/keymaps/ahk_companion/readme.md
  keyboards/1upkeyboards/super16/keymaps/ahk_companion/rules.mk
Labels: keymap

#9566 Mojito-keymap
  keyboards/keebio/iris/keymaps/mojitas/config.h
  keyboards/keebio/iris/keymaps/mojitas/keymap.c
Labels: keymap

#9618 Quefrency rev1: Fix default VIA layout options
  keyboards/keebio/quefrency/rev1/config.h
Labels: bug, keyboard, via

#9023 Change analogRead calls to analogReadPin
  docs/ChangeLog/20200829/PR9023.md
  docs/adc_driver.md
  keyboards/handwired/promethium/config.h
  keyboards/handwired/promethium/promethium.c
  tmk_core/protocol/lufa/adafruit_ble.cpp
Labels: breaking_change, core, documentation, enhancement, keyboard

#9604 Fix layouts for FM2U
  keyboards/botanicalkeyboards/fm2u/fm2u.h
  keyboards/botanicalkeyboards/fm2u/info.json
  keyboards/botanicalkeyboards/fm2u/keymaps/default/keymap.c
  keyboards/botanicalkeyboards/fm2u/keymaps/via/keymap.c
Labels: bug, keyboard, keymap

#9331 Eon65
  keyboards/maartenwut/eon65/config.h
  keyboards/maartenwut/eon65/eon65.c
  keyboards/maartenwut/eon65/eon65.h
  keyboards/maartenwut/eon65/info.json
  keyboards/maartenwut/eon65/keymaps/default/keymap.c
  keyboards/maartenwut/eon65/keymaps/via/keymap.c
  keyboards/maartenwut/eon65/keymaps/via/rules.mk
  keyboards/maartenwut/eon65/readme.md
  keyboards/maartenwut/eon65/rules.mk
Labels: keyboard, via

#9334 Add Eon95
  keyboards/maartenwut/eon95/config.h
  keyboards/maartenwut/eon95/eon95.c
  keyboards/maartenwut/eon95/eon95.h
  keyboards/maartenwut/eon95/info.json
  keyboards/maartenwut/eon95/keymaps/default/keymap.c
  keyboards/maartenwut/eon95/keymaps/via/keymap.c
  keyboards/maartenwut/eon95/keymaps/via/rules.mk
  keyboards/maartenwut/eon95/readme.md
  keyboards/maartenwut/eon95/rules.mk
Labels: keyboard, via

#9560 Arisu keymapping, and corresponding via keymap
  keyboards/arisu/arisu.c
  keyboards/arisu/arisu.h
  keyboards/arisu/config.h
  keyboards/arisu/keymaps/default/keymap.c
  keyboards/arisu/keymaps/default/readme.md
  keyboards/arisu/keymaps/fate/keymap.c
  keyboards/arisu/keymaps/fate/readme.md
  keyboards/arisu/keymaps/fate/rules.mk
  keyboards/arisu/keymaps/kresnak/keymap.c
  keyboards/arisu/keymaps/via/keymap.c
  keyboards/arisu/keymaps/via/rules.mk
  keyboards/arisu/readme.md
  keyboards/arisu/rules.mk
Labels: keyboard, via

#9502 Add xjtian keymap for Planck
  keyboards/planck/keymaps/xjtian/config.h
  keyboards/planck/keymaps/xjtian/keymap.c
  keyboards/planck/keymaps/xjtian/readme.md
Labels: keymap

#9124 Fix sharing of mouse button state from mousekeys to ps2_mouse
  tmk_core/common/action.c
Labels: bug, core

#9581 [Keymap] Adding a Custom Keymap for Matrix Noah
  keyboards/matrix/noah/keymaps/blockader/config.h
  keyboards/matrix/noah/keymaps/blockader/keymap.c
  keyboards/matrix/noah/keymaps/blockader/rules.mk
  keyboards/matrix/noah/noah.c
Labels: keyboard, keymap

#9623 Make sendstring respect `TAP_CODE_DELAY`
  quantum/quantum.c
Labels: bug, core

#8805 Add movement hook to ps2_mouse
  docs/feature_ps2_mouse.md
  tmk_core/protocol/ps2_mouse.c
  tmk_core/protocol/ps2_mouse.h
Labels: awaiting review, core, documentation, enhancement

#9597 Fix incorrect layout for GHS.rar
  keyboards/ghs/rar/config.h
  keyboards/ghs/rar/keymaps/default/keymap.c
  keyboards/ghs/rar/keymaps/iso/keymap.c
  keyboards/ghs/rar/keymaps/via/keymap.c
Labels: bug, keymap

#9631 Backlight docs wordsmithing
  docs/feature_backlight.md
Labels: documentation, enhancement

#9637 Add missing dependency for Void Linux to util/linux-install.sh
  util/linux_install.sh
Labels: bug, core

#9598 Rotr - Updated README and default keymap
  keyboards/rotr/keymaps/default/keymap.c
  keyboards/rotr/readme.md
Labels: keyboard

#9645 Fix “G” in Neo2 keymap
  quantum/keymap_extras/keymap_neo2.h
Labels: bug, keymap

#9643 [Keyboard] Gowla Macro Board
  keyboards/gowla/config.h
  keyboards/gowla/gowla.c
  keyboards/gowla/gowla.h
  keyboards/gowla/info.json
  keyboards/gowla/keymaps/default/keymap.c
  keyboards/gowla/readme.md
  keyboards/gowla/rules.mk
Labels: keyboard

#8685 add SPLIT_HAND_MATRIX_GRID support
  docs/config_options.md
  docs/feature_split_keyboard.md
  quantum/split_common/split_util.c
Labels: core, enhancement

#8772 add DIP_SWITCH_MATRIX_GRID support
  docs/feature_dip_switch.md
  quantum/dip_switch.c
  quantum/matrix_common.c
Labels: core, enhancement

#9647 fixed link to Eclipse instructions
  docs/reference_glossary.md
Labels: documentation

#9508 Updated VIA Support for DP60
  keyboards/dp60/config.h
  keyboards/dp60/dp60.h
  keyboards/dp60/keymaps/via/keymap.c
  keyboards/dp60/keymaps/via/rules.mk
  keyboards/dp60/rules.mk
Labels: keyboard, keymap, via

#9585 XD87 Caps Lock LED refactor
  keyboards/xd87/xd87.c
Labels: keyboard

#9589 RART67 : add support via
  keyboards/rart/rart67/keymaps/via/keymap.c
  keyboards/rart/rart67/keymaps/via/rules.mk
Labels: keymap, via

#9600 Add Alice rev2 to my userspace
  users/stanrc85/rules.mk
Labels: keymap

#9507 [Driver] bugfix reset the scaling register flag to FALSE
  drivers/issi/is31fl3741.c
Labels: bug, core

#9606 Add jian qmk_via layout and LTO_ENABLE to all jian revs
  keyboards/jian/keymaps/via/keymap.c
  keyboards/jian/keymaps/via/rules.mk
  keyboards/jian/nsrev2/config.h
  keyboards/jian/rev2/config.h
  keyboards/jian/rules.mk
Labels: keyboard, keymap, via

#9553 Add ability to use keymap.json files in layouts/
  build_layout.mk
Labels: core, enhancement

#9328 Docs: update ModemManager recommendation
  docs/faq_build.md
Labels: documentation

#9648 Un-nest 1up60rgb LAYOUT macros
  keyboards/1upkeyboards/1up60rgb/1up60rgb.h
Labels: bug, keyboard

#9422 Add TAP_CODE_DELAY to Mod-Tap
  tmk_core/common/action.c
Labels: bug, core

#9446 Allowing Pressing the Start Buttons Again to Stop Dynamic Macro Recording
  docs/feature_dynamic_macros.md
  quantum/process_keycode/process_dynamic_macro.c
Labels: core, documentation, enhancement

#9583 Add support for YDKB Chili
  keyboards/chili/README.md
  keyboards/chili/chili.c
  keyboards/chili/chili.h
  keyboards/chili/config.h
  keyboards/chili/info.json
  keyboards/chili/keymaps/default/keymap.c
  keyboards/chili/keymaps/via/keymap.c
  keyboards/chili/keymaps/via/rules.mk
  keyboards/chili/rules.mk
Labels: keyboard, via

#9590 Added Handwired Redragon Keyboard as well as default and via keymaps
  keyboards/handwired/boss566y/redragon_vara/config.h
  keyboards/handwired/boss566y/redragon_vara/info.json
  keyboards/handwired/boss566y/redragon_vara/keymaps/default/keymap.c
  keyboards/handwired/boss566y/redragon_vara/keymaps/default/readme.md
  keyboards/handwired/boss566y/redragon_vara/keymaps/via/config.h
  keyboards/handwired/boss566y/redragon_vara/keymaps/via/keymap.c
  keyboards/handwired/boss566y/redragon_vara/keymaps/via/readme.md
  keyboards/handwired/boss566y/redragon_vara/keymaps/via/rules.mk
  keyboards/handwired/boss566y/redragon_vara/readme.md
  keyboards/handwired/boss566y/redragon_vara/redragon_vara.c
  keyboards/handwired/boss566y/redragon_vara/redragon_vara.h
  keyboards/handwired/boss566y/redragon_vara/rules.mk
Labels: keyboard, via

#9653 Add layout macros to YD60MQ
  keyboards/yd60mq/info.json
  keyboards/yd60mq/rules.mk
  keyboards/yd60mq/yd60mq.h
Labels: enhancement, keyboard

#9654 Add VIA Functionality for Keyhive Maypad
  keyboards/keyhive/maypad/config.h
  keyboards/keyhive/maypad/keymaps/via/keymap.c
  keyboards/keyhive/maypad/keymaps/via/readme.md
  keyboards/keyhive/maypad/keymaps/via/rules.mk
Labels: keymap, via

#9644 [Keymap Extra] Add French AZERTY (AFNOR - NF Z71-300)
  docs/reference_keymap_extras.md
  quantum/keymap_extras/keymap_french_afnor.h
  quantum/keymap_extras/sendstring_french_afnor.h
Labels: core

#9671 Fix }] key in matrix for GHS.RAR
  keyboards/ghs/rar/keymaps/via/keymap.c
  keyboards/ghs/rar/rar.h
Labels: bug, keyboard, keymap

#9667 Reduce peak LED brightness for AoS TKL
  keyboards/aos/tkl/config.h
Labels: keyboard

#9664 Changed US_RBRC to KC_RBRC instead of KC_LBRC
  quantum/keymap_extras/keymap_us_international.h
Labels: bug, keymap

#9672 Added VIA support to nightmare
  keyboards/nightmare/config.h
  keyboards/nightmare/keymaps/via/keymap.c
  keyboards/nightmare/keymaps/via/readme.md
  keyboards/nightmare/keymaps/via/rules.mk
Labels: keymap, via

#9669 Created abishalom keymap
  keyboards/planck/keymaps/abishalom/config.h
  keyboards/planck/keymaps/abishalom/keymap.c
  keyboards/planck/keymaps/abishalom/readme.md
  keyboards/planck/keymaps/abishalom/rules.mk
Labels: keymap

#9354 Add pcoves's userspace
  users/pcoves/.gitignore
  users/pcoves/combo.c
  users/pcoves/config.h
  users/pcoves/pcoves.c
  users/pcoves/pcoves.h
  users/pcoves/rainbowUnicorn.c
  users/pcoves/rainbowUnicorn.h
  users/pcoves/readme.md
  users/pcoves/rules.mk
  users/pcoves/tapDance.c
  users/pcoves/tapDance.h
  users/pcoves/unicode.c
  users/pcoves/unicode.h
Labels: keymap

#9516 [Docs] Japanese translation of docs/coding_conventions_c.md
  docs/ja/coding_conventions_c.md
Labels: documentation, translation

#9304 Create ajp10304 userspace and ortho_4x12 layout.
  keyboards/acheron/shark/keymaps/ajp10304/readme.md
  keyboards/handwired/atreus50/atreus50.h
  keyboards/handwired/atreus50/keymaps/ajp10304/keymap.c
  keyboards/handwired/atreus50/keymaps/ajp10304/readme.md
  keyboards/handwired/atreus50/keymaps/ajp10304/rules.mk
  keyboards/jj40/keymaps/ajp10304/keymap.c
  keyboards/planck/keymaps/ajp10304/keymap.c
  keyboards/planck/keymaps/ajp10304/readme.md
  keyboards/planck/keymaps/ajp10304/rules.mk
  layouts/community/ortho_4x12/ajp10304/keymap.c
  layouts/community/ortho_4x12/ajp10304/readme.md
  layouts/community/ortho_4x12/ajp10304/rules.mk
  users/ajp10304/ajp10304.c
  users/ajp10304/ajp10304.h
  users/ajp10304/readme.md
  users/ajp10304/rules.mk
Labels: keymap

#9625 split_3x6_3 layout support
  keyboards/centromere/centromere.h
  keyboards/centromere/rules.mk
  keyboards/crkbd/rev1/rev1.h
  keyboards/crkbd/rev1/rules.mk
Labels: keyboard

#9662 [keymap] curly quotes
  keyboards/planck/keymaps/callum/config.h
  keyboards/planck/keymaps/callum/keymap.c
  keyboards/planck/keymaps/callum/readme.md
  keyboards/planck/keymaps/callum/rules.mk
Labels: keymap

#9678 [Keyboard] Fix inconsistent MATRIX_COLS: 4pplet/steezy60
  keyboards/4pplet/steezy60/rev_a/config.h
Labels: keyboard

#7959 Refactor ARM backlight
  quantum/backlight/backlight_chibios.c
Labels: awaiting changes, core, optimization

#9685 Update keyboards/jian/readme.md
  keyboards/jian/readme.md
Labels: keyboard

#9692 Rework my Crkbd and Lily58 modifier keys
  keyboards/crkbd/keymaps/bcat/keymap.c
  keyboards/crkbd/keymaps/bcat/readme.md
  keyboards/lily58/keymaps/bcat/config.h
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
  users/bcat/bcat.c
  users/bcat/bcat.h
  users/bcat/rules.mk
Labels: keymap

#9679 Fix missing column for Herringbone
  keyboards/ramonimbao/herringbone/config.h
  keyboards/ramonimbao/herringbone/info.json
Labels: keyboard

#9676 Added VIA compatible rules for Duck Octagon V2 PCB
  keyboards/duck/octagon/keymaps/via/keymap.c
  keyboards/duck/octagon/keymaps/via/rules.mk
Labels: keymap, via

#9666 [Keymap] plattfot - Update and fix issue with DBL_TAP
  keyboards/kyria/keymaps/plattfot/README.md
  keyboards/kyria/keymaps/plattfot/keymap.c
Labels: keymap

#9614 [keyboard] Add rartpad
  keyboards/rart/rartpad/config.h
  keyboards/rart/rartpad/info.json
  keyboards/rart/rartpad/keymaps/default/keymap.c
  keyboards/rart/rartpad/keymaps/numpad/keymap.c
  keyboards/rart/rartpad/rartpad.c
  keyboards/rart/rartpad/rartpad.h
  keyboards/rart/rartpad/readme.md
  keyboards/rart/rartpad/rules.mk
Labels: keyboard

#9140 Add config for Atreus based on Adafruit Feather BLE
  keyboards/atreus/atreus.h
  keyboards/atreus/feather/config.h
  keyboards/atreus/feather/feather.c
  keyboards/atreus/feather/feather.h
  keyboards/atreus/feather/readme.md
  keyboards/atreus/feather/rules.mk
  keyboards/atreus/keymaps/clash/keymap.c
Labels: keyboard

#9621 [keyboard] added swiftrax/cowfish
  keyboards/handwired/swiftrax/cowfish/config.h
  keyboards/handwired/swiftrax/cowfish/cowfish.c
  keyboards/handwired/swiftrax/cowfish/cowfish.h
  keyboards/handwired/swiftrax/cowfish/info.json
  keyboards/handwired/swiftrax/cowfish/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/cowfish/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/cowfish/keymaps/via/rules.mk
  keyboards/handwired/swiftrax/cowfish/readme.md
  keyboards/handwired/swiftrax/cowfish/rules.mk
Labels: keyboard

#9640 Initial support for TKC Alice
  keyboards/tkc/osav2/README.md
  keyboards/tkc/osav2/config.h
  keyboards/tkc/osav2/info.json
  keyboards/tkc/osav2/keymaps/default/keymap.c
  keyboards/tkc/osav2/keymaps/via/keymap.c
  keyboards/tkc/osav2/keymaps/via/rules.mk
  keyboards/tkc/osav2/osav2.c
  keyboards/tkc/osav2/osav2.h
  keyboards/tkc/osav2/rules.mk
Labels: keyboard, via

#9695 fix typo
  docs/feature_stenography.md
Labels: documentation

#8952 Add g60ble
  keyboards/bioi/g60ble/config.h
  keyboards/bioi/g60ble/g60ble.h
  keyboards/bioi/g60ble/info.json
  keyboards/bioi/g60ble/keymaps/default/keymap.c
  keyboards/bioi/g60ble/keymaps/via/keymap.c
  keyboards/bioi/g60ble/keymaps/via/rules.mk
  keyboards/bioi/g60ble/readme.md
  keyboards/bioi/g60ble/rules.mk
Labels: keyboard

#9517 [Docs] Japanese translation of docs/coding_conventions_python.md
  docs/ja/coding_conventions_python.md
Labels: documentation, translation

#9702 RARTPAD : add support via
  keyboards/rart/rartpad/keymaps/default/keymap.c
  keyboards/rart/rartpad/keymaps/numpad/keymap.c
  keyboards/rart/rartpad/keymaps/via/keymap.c
  keyboards/rart/rartpad/keymaps/via/rules.mk
Labels: keymap, via

#9705 Fix RGB Matrix using RGBW WS2812 LEDs
  quantum/rgb_matrix_drivers.c
Labels: bug, core

#9727 Update KBDFANS/MAJA default keymap
  keyboards/kbdfans/maja/keymaps/default/keymap.c
  keyboards/kbdfans/maja/keymaps/via/keymap.c
Labels: keymap

#9718 [Keyboard] Update preonic/Kjwon15 layout
  keyboards/preonic/keymaps/kjwon15/keymap.c
Labels: keymap

#9636 Update new keyboard templates
  quantum/template/avr/config.h
  quantum/template/avr/readme.md
  quantum/template/avr/rules.mk
  quantum/template/base/info.json
  quantum/template/base/keyboard.c
  quantum/template/base/keyboard.h
  quantum/template/base/keymaps/default/config.h
  quantum/template/base/keymaps/default/keymap.c
  quantum/template/ps2avrgb/config.h
  quantum/template/ps2avrgb/readme.md
  quantum/template/ps2avrgb/rules.mk
  util/new_keyboard.sh
Labels: core, enhancement

#9735 planck/rev6: Enable WS2812 LED matrix with pwm drivers
  keyboards/planck/rev6/chconf.h
  keyboards/planck/rev6/config.h
  keyboards/planck/rev6/mcuconf.h
  keyboards/planck/rev6/rev6.c
  keyboards/planck/rev6/rules.mk
Labels: enhancement, good first issue, keyboard, needs testing

#9713 OLED driver function to set pixels
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
Labels: core, enhancement

#9732 Remove `DESCRIPTION`
  docs/config_options.md
  docs/es/hardware_avr.md
  docs/hardware_avr.md
  docs/ja/config_options.md
  docs/ja/hardware_avr.md
  lib/python/qmk/info.py
  quantum/template/avr/config.h
  quantum/template/ps2avrgb/config.h
  tmk_core/common/command.c
  tmk_core/protocol/usb_hid/test/Makefile
  tmk_core/protocol/usb_hid/test/config.h
  tmk_core/protocol/usb_hid/test/test.cpp
  tmk_core/readme.md
Labels: core, documentation, enhancement

#9722 Fixed CA_DOTA key code
  quantum/keymap_extras/keymap_canadian_multilingual.h
Labels: bug, core

#9471 Allow for WS2812 PWM to work on DMAMUX-capable devices
  docs/ws2812_driver.md
  drivers/chibios/ws2812_pwm.c
Labels: core, enhancement

#9315 F303/Proton-C migration.
  platforms/chibios/GENERIC_STM32_F303XC/board/board.c
  platforms/chibios/GENERIC_STM32_F303XC/board/board.h
  platforms/chibios/GENERIC_STM32_F303XC/board/board.mk
  platforms/chibios/GENERIC_STM32_F303XC/configs/board.h
  platforms/chibios/GENERIC_STM32_F303XC/configs/config.h
Labels: core, optimization

#9281 Allow for user song lists
  .gitignore
  quantum/audio/song_list.h
Labels: core, enhancement

#9174 Fix the mousekey scrolling
  tmk_core/common/mousekey.c
Labels: core, enhancement

#8778 Add dual-bank STM32 bootloader support
  docs/platformdev_chibios_earlyinit.md
  tmk_core/common/chibios/bootloader.c
  tmk_core/protocol/chibios/main.c
Labels: awaiting review, core, documentation, enhancement, feature

#6352 Redefine IS_LAYER_ON/OFF() as aliases for existing layer functions
  docs/custom_quantum_functions.md
  docs/feature_layers.md
  quantum/quantum.h
  users/konstantin/konstantin.h
Labels: awaiting review, core, documentation, enhancement

#9318 Bigger combo index
  docs/ChangeLog/20200829/PR9318.md
  keyboards/ashpil/modelm_usbc/keymaps/ashpil/keymap.c
  keyboards/converter/usb_usb/keymaps/chriskopher/combo.c
  keyboards/converter/usb_usb/keymaps/narze/keymap.c
  keyboards/ergodox_infinity/keymaps/narze/keymap.c
  keyboards/gboards/g/keymap_combo.h
  keyboards/maxr1998/pulse4k/pulse4k.c
  keyboards/minidox/keymaps/rsthd_combos/keymap.c
  keyboards/planck/keymaps/narze/keymap.c
  keyboards/xd75/keymaps/4sstylz/keymap.c
  quantum/process_keycode/process_combo.c
  quantum/process_keycode/process_combo.h
  users/issmirnov/issmirnov.c
  users/kuchosauronad0/combo.c
  users/ninjonas/combos.c
  users/yet-another-developer/combo.c
Labels: breaking_change, core, enhancement

#9736 MSYS2: Switch to bootloadHID package and bring back avrdude package
  docs/driver_installation_zadig.md
  util/activate_msys2.sh
  util/activate_wsl.sh
  util/drivers.txt
  util/msys2_install.sh
  util/win_shared_install.sh
Labels: core, documentation, enhancement

#9738 Re-fix the STM32 dual-bank bootloader stuff.
  tmk_core/common/chibios/bootloader.c
Labels: bug, core, enhancement

#9740 add default Rebound lighting settings
  keyboards/montsinger/rebound/rev4/config.h
Labels: keyboard

#9728 Add PocketType
  keyboards/maartenwut/pockettype/config.h
  keyboards/maartenwut/pockettype/info.json
  keyboards/maartenwut/pockettype/keymaps/default/keymap.c
  keyboards/maartenwut/pockettype/keymaps/default/readme.md
  keyboards/maartenwut/pockettype/pockettype.c
  keyboards/maartenwut/pockettype/pockettype.h
  keyboards/maartenwut/pockettype/readme.md
  keyboards/maartenwut/pockettype/rules.mk
Labels: keyboard

#9701 Keymap addition and updates (Prime_e, ProjectKB PCB, WT60-D)
  keyboards/primekb/prime_e/keymaps/madhatter/keymap.c
  keyboards/projectkb/alice/keymaps/madhatter/keymap.c
  keyboards/wilba_tech/wt60_d/keymaps/madhatter/keymap.c
  keyboards/wilba_tech/wt60_d/keymaps/madhatter/rules.mk
Labels: keymap

#9674 Update MAJA info.json
  keyboards/kbdfans/maja/info.json
Labels: keyboard

#9638 [keymap] Add VIA support for Hub16
  keyboards/hub16/config.h
  keyboards/hub16/keymaps/via/keymap.c
  keyboards/hub16/keymaps/via/rules.mk
  keyboards/hub16/matrix.c
Labels: keyboard, keymap, via

#9686 VIA Support: Skog Lite
  keyboards/percent/skog_lite/keymaps/via/config.h
  keyboards/percent/skog_lite/keymaps/via/keymap.c
  keyboards/percent/skog_lite/keymaps/via/rules.mk
Labels: via

#9649 [Keyboard] add rart75
  keyboards/rart/rart75/config.h
  keyboards/rart/rart75/info.json
  keyboards/rart/rart75/keymaps/ansi/keymap.c
  keyboards/rart/rart75/keymaps/default/keymap.c
  keyboards/rart/rart75/rart75.c
  keyboards/rart/rart75/rart75.h
  keyboards/rart/rart75/readme.md
  keyboards/rart/rart75/rules.mk
Labels: keyboard

#9579 Add Alter Keyboard
  keyboards/nightly_boards/alter/rev1/config.h
  keyboards/nightly_boards/alter/rev1/info.json
  keyboards/nightly_boards/alter/rev1/keymaps/default/keymap.c
  keyboards/nightly_boards/alter/rev1/readme.md
  keyboards/nightly_boards/alter/rev1/rev1.c
  keyboards/nightly_boards/alter/rev1/rev1.h
  keyboards/nightly_boards/alter/rev1/rules.mk
Labels: keyboard

#9709 [keyboard] Add x16
  keyboards/x16/config.h
  keyboards/x16/info.json
  keyboards/x16/keymaps/default/keymap.c
  keyboards/x16/readme.md
  keyboards/x16/rules.mk
  keyboards/x16/x16.c
  keyboards/x16/x16.h
Labels: keyboard

#9353 added timber wolf keyboard
  keyboards/metamechs/timberwolf/config.h
  keyboards/metamechs/timberwolf/info.json
  keyboards/metamechs/timberwolf/keymaps/a_ansi/keymap.c
  keyboards/metamechs/timberwolf/keymaps/a_iso/keymap.c
  keyboards/metamechs/timberwolf/keymaps/b_ansi/keymap.c
  keyboards/metamechs/timberwolf/keymaps/b_iso/keymap.c
  keyboards/metamechs/timberwolf/keymaps/default/keymap.c
  keyboards/metamechs/timberwolf/keymaps/prime_ansi/keymap.c
  keyboards/metamechs/timberwolf/keymaps/prime_iso/keymap.c
  keyboards/metamechs/timberwolf/keymaps/via/keymap.c
  keyboards/metamechs/timberwolf/readme.md
  keyboards/metamechs/timberwolf/rules.mk
  keyboards/metamechs/timberwolf/timberwolf.c
  keyboards/metamechs/timberwolf/timberwolf.h
Labels: keyboard

#9634 Write firmware for the Ferris keyboard
  keyboards/handwired/ferris/config.h
  keyboards/handwired/ferris/ferris.c
  keyboards/handwired/ferris/ferris.h
  keyboards/handwired/ferris/info.json
  keyboards/handwired/ferris/keymaps/default/config.h
  keyboards/handwired/ferris/keymaps/default/keymap.c
  keyboards/handwired/ferris/matrix.c
  keyboards/handwired/ferris/readme.md
  keyboards/handwired/ferris/rules.mk
Labels: keyboard

#9524 [Docs] Japanese translation of docs/feature_debounce_type.md
  docs/ja/feature_debounce_type.md
Labels: documentation, translation

#9748 [Docs] Update ISP Guide
  docs/isp_flashing_guide.md
Labels: documentation

#9629 ensure hhkb runs matrix_init_quantum
  keyboards/hhkb/ansi/matrix.c
  keyboards/hhkb/jp/matrix.c
Labels: keyboard

#9758 Update readme.md
  keyboards/handwired/onekey/proton_c/readme.md
Labels: keyboard

#9557 Implemented New MK_COMBINED Functionality
  docs/feature_mouse_keys.md
  tmk_core/common/mousekey.c
Labels: core, documentation, enhancement

#9781 [Docs] fixed alt text for images.
  docs/ja/getting_started_github.md
Labels: documentation, translation

#9747 Update rartpad via keymap
  keyboards/rart/rartpad/keymaps/via/keymap.c
Labels: keymap, via

#9746 Add support via for rart75
  keyboards/rart/rart75/info.json
  keyboards/rart/rart75/keymaps/via/keymap.c
  keyboards/rart/rart75/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#9731 Added keyboard Punk75
  keyboards/punk75/config.h
  keyboards/punk75/info.json
  keyboards/punk75/keymaps/default/config.h
  keyboards/punk75/keymaps/default/keymap.c
  keyboards/punk75/keymaps/default/readme.md
  keyboards/punk75/keymaps/dsanchezseco/config.h
  keyboards/punk75/keymaps/dsanchezseco/keymap.c
  keyboards/punk75/keymaps/dsanchezseco/readme.md
  keyboards/punk75/punk75.c
  keyboards/punk75/punk75.h
  keyboards/punk75/readme.md
  keyboards/punk75/rules.mk
Labels: keyboard, keymap

#9677 mattly goes windows
  keyboards/keebio/iris/keymaps/mattly/keymap.c
  users/mattly/config.h
  users/mattly/mattly.c
  users/mattly/mattly.h
  users/mattly/rules.mk
Labels: keymap

#9699 [Docs] Japanese translation of docs/cli_development.md
  docs/ja/cli_development.md
Labels: documentation, translation

#9784 Update handwired/onekey/teensy_2pp readme
  keyboards/handwired/onekey/teensy_2pp/readme.md
Labels: bug, keyboard

#9791 Fix compilation warning for the DZ60RGB/DZ65RGB when RGB matrix is disabled
  keyboards/dztech/dz60rgb/dz60rgb.c
  keyboards/dztech/dz60rgb_ansi/dz60rgb_ansi.c
  keyboards/dztech/dz60rgb_wkl/dz60rgb_wkl.c
  keyboards/dztech/dz65rgb/dz65rgb.c
Labels: keyboard

#9054 Disable NKRO on V-USB controllers
  tmk_core/common.mk
Labels: awaiting review, core

#9785 Updating comment diagram to match code in lets_split_eh/doxish_dvorak
  keyboards/lets_split_eh/keymaps/doxish_dvorak/keymap.c
Labels: keymap

#9759 [Docs] Update Japanese translation of config_options.md.
  docs/ja/config_options.md
Labels: documentation, translation

#9761 [Docs] Update Japanese translation of driver_installation_zadig.md.
  docs/ja/driver_installation_zadig.md
Labels: documentation, translation

#9763 [Docs] Update Japanese translation of feature_dip_switch.md.
  docs/ja/feature_dip_switch.md
Labels: documentation, translation

#9764 [Docs] Update Japanese translation of feature_dynamic_macros.md.
  docs/ja/feature_dynamic_macros.md
Labels: documentation, translation

#9765 [Docs] Update Japanese translation of feature_encoders.md.
  docs/ja/feature_encoders.md
Labels: documentation, translation

#9769 [Docs] Update Japanese translation of feature_layers.md.
  docs/ja/feature_layers.md
Labels: documentation, translation

#9780 [Docs] Update Japanese translation of feature_split_keyboard.md.
  docs/ja/feature_split_keyboard.md
Labels: documentation, translation

#9777 [Docs] Update Japanese translation of _summary.md.
  docs/ja/_summary.md
Labels: documentation, translation

#9790 Switch my Chrome OS media keys workaround from mouse keys to NKRO
  keyboards/crkbd/keymaps/bcat/keymap.c
  keyboards/crkbd/keymaps/bcat/readme.md
  keyboards/keebio/quefrency/keymaps/bcat/keymap.c
  keyboards/keebio/quefrency/keymaps/bcat/readme.md
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
  layouts/community/60_ansi_split_bs_rshift/bcat/keymap.c
  layouts/community/60_ansi_split_bs_rshift/bcat/readme.md
  layouts/community/60_tsangan_hhkb/bcat/keymap.c
  layouts/community/60_tsangan_hhkb/bcat/readme.md
  layouts/community/65_ansi_blocker_split_bs/bcat/keymap.c
  layouts/community/65_ansi_blocker_split_bs/bcat/readme.md
  users/bcat/rules.mk
Labels: keymap

#9396 Add flipped and discrete encoder support to PlaidPad default mappings
  keyboards/keycapsss/plaid_pad/config.h
  keyboards/keycapsss/plaid_pad/keymaps/default/keymap.c
  keyboards/keycapsss/plaid_pad/keymaps/default/readme.md
Labels: keyboard, keymap

#9592 Pandora
  keyboards/pandora/config.h
  keyboards/pandora/info.json
  keyboards/pandora/keymaps/default/keymap.c
  keyboards/pandora/keymaps/via/keymap.c
  keyboards/pandora/keymaps/via/rules.mk
  keyboards/pandora/pandora.c
  keyboards/pandora/pandora.h
  keyboards/pandora/readme.md
  keyboards/pandora/rules.mk
Labels: keyboard, via

#9663 Add a new keyboard, the N87
  keyboards/nightly_boards/n87/config.h
  keyboards/nightly_boards/n87/info.json
  keyboards/nightly_boards/n87/keymaps/default/keymap.c
  keyboards/nightly_boards/n87/keymaps/symmetric_standard/keymap.c
  keyboards/nightly_boards/n87/keymaps/tsangan/keymap.c
  keyboards/nightly_boards/n87/n87.c
  keyboards/nightly_boards/n87/n87.h
  keyboards/nightly_boards/n87/readme.md
  keyboards/nightly_boards/n87/rules.mk
Labels: keyboard

#9762 [Docs] Update Japanese translation of faq_build.md.
  docs/ja/faq_build.md
Labels: documentation, translation

#9766 [Docs] Update Japanese translation of feature_hd44780.md.
  docs/ja/feature_hd44780.md
Labels: documentation, translation

#9775 [Docs] Update Japanese translation of feature_userspace.md.
  docs/ja/feature_userspace.md
Labels: documentation, translation

#9771 [Docs] Update Japanese translation of feature_pointing_device.md.
  docs/ja/feature_pointing_device.md
Labels: documentation, translation

#9689 [Keyboard] Add "craftWalk" keyboard
  keyboards/craftwalk/config.h
  keyboards/craftwalk/craftwalk.c
  keyboards/craftwalk/craftwalk.h
  keyboards/craftwalk/info.json
  keyboards/craftwalk/keymaps/default/keymap.c
  keyboards/craftwalk/keymaps/default/readme.md
  keyboards/craftwalk/readme.md
  keyboards/craftwalk/rules.mk
Labels: keyboard

#9816 [Docs] Fix Japanese documents 'original document' comment
  docs/ja/config_options.md
  docs/ja/driver_installation_zadig.md
  docs/ja/faq_build.md
  docs/ja/feature_dip_switch.md
  docs/ja/feature_dynamic_macros.md
  docs/ja/feature_encoders.md
  docs/ja/feature_hd44780.md
  docs/ja/feature_layers.md
  docs/ja/feature_split_keyboard.md
  docs/ja/feature_userspace.md
  docs/ja/getting_started_github.md
Labels: documentation, translation

#9680 [Docs] Japanese translation of docs/flashing_bootloadhid.md
  docs/ja/flashing_bootloadhid.md
Labels: documentation, translation

#9681 [Docs] Japanese translation of docs/getting_started_docker.md
  docs/ja/getting_started_docker.md
Labels: documentation, translation

#9760 [Docs] Update Japanese translation of custom_quantum_functions.md.
  docs/ja/custom_quantum_functions.md
Labels: documentation, translation

#6259 Update features to use Custom Tapping Term when appropriate
  docs/feature_tap_dance.md
  keyboards/converter/usb_usb/keymaps/narze/keymap.c
  keyboards/ergodox_infinity/keymaps/narze/keymap.c
  keyboards/planck/keymaps/narze/keymap.c
  quantum/process_keycode/process_space_cadet.c
  quantum/process_keycode/process_space_cadet.h
  quantum/process_keycode/process_tap_dance.c
Labels: awaiting review, breaking_change, enhancement

#9387 Squiggle
  keyboards/squiggle/config.h
  keyboards/squiggle/keymaps/default/config.h
  keyboards/squiggle/keymaps/default/keymap.c
  keyboards/squiggle/keymaps/default/readme.md
  keyboards/squiggle/keymaps/default/rules.mk
  keyboards/squiggle/keymaps/defaultminidox/config.h
  keyboards/squiggle/keymaps/defaultminidox/keymap.c
  keyboards/squiggle/keymaps/defaultminidox/readme.md
  keyboards/squiggle/keymaps/defaultminidox/rules.mk
  keyboards/squiggle/keymaps/rick/config.h
  keyboards/squiggle/keymaps/rick/keymap.c
  keyboards/squiggle/keymaps/rick/readme.md
  keyboards/squiggle/keymaps/rick/rules.mk
  keyboards/squiggle/readme.md
  keyboards/squiggle/rev1/config.h
  keyboards/squiggle/rev1/info.json
  keyboards/squiggle/rev1/rev1.c
  keyboards/squiggle/rev1/rev1.h
  keyboards/squiggle/rules.mk
  keyboards/squiggle/squiggle.c
  keyboards/squiggle/squiggle.h
Labels: keyboard

#9757 Added via support for ut472
  keyboards/ut472/config.h
  keyboards/ut472/keymaps/via/keymap.c
  keyboards/ut472/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#9773 Keymap for OSAv2
  keyboards/tkc/osav2/keymaps/stanrc85/keymap.c
  users/stanrc85/config.h
  users/stanrc85/rgblight_layers_osa.c
  users/stanrc85/rules.mk
Labels: keymap

#9737 [Keyboard] Add keyboard Reviung61
  keyboards/reviung61/config.h
  keyboards/reviung61/info.json
  keyboards/reviung61/keymaps/default/keymap.c
  keyboards/reviung61/keymaps/default/readme.md
  keyboards/reviung61/keymaps/default_rgb/config.h
  keyboards/reviung61/keymaps/default_rgb/keymap.c
  keyboards/reviung61/keymaps/default_rgb/readme.md
  keyboards/reviung61/keymaps/default_rgb/rules.mk
  keyboards/reviung61/readme.md
  keyboards/reviung61/reviung61.c
  keyboards/reviung61/reviung61.h
  keyboards/reviung61/rules.mk
Labels: keyboard

#4226 Hid joystick interface
  common_features.mk
  docs/_summary.md
  docs/feature_joystick.md
  drivers/avr/analog.c
  keyboards/handwired/onekey/keymaps/joystick/config.h
  keyboards/handwired/onekey/keymaps/joystick/keymap.c
  keyboards/handwired/onekey/keymaps/joystick/rules.mk
  quantum/joystick.c
  quantum/joystick.h
  quantum/process_keycode/process_joystick.c
  quantum/process_keycode/process_joystick.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
  tmk_core/common/keyboard.c
  tmk_core/common/report.h
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/usb_descriptor.h
Labels: enhancement, in progress

#9711 Pinky4: add via support
  keyboards/pinky/4/config.h
  keyboards/pinky/4/keymaps/via/config.h
  keyboards/pinky/4/keymaps/via/keymap.c
  keyboards/pinky/4/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#9749 Keymap for keebio/iris rev.4 supporting VIA
  keyboards/keebio/iris/keymaps/yoonbae81/config.h
  keyboards/keebio/iris/keymaps/yoonbae81/keymap.c
  keyboards/keebio/iris/keymaps/yoonbae81/rules.mk
Labels: keymap

#7591 Enable OLED support for Teensy 3.2/LC
  drivers/chibios/i2c_master.c
  drivers/chibios/i2c_master.h
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
  keyboards/handwired/onekey/teensy_32/config.h
  keyboards/handwired/onekey/teensy_32/halconf.h
  keyboards/handwired/onekey/teensy_32/mcuconf.h
  keyboards/handwired/onekey/teensy_lc/config.h
  keyboards/handwired/onekey/teensy_lc/halconf.h
  keyboards/handwired/onekey/teensy_lc/mcuconf.h
  tmk_core/common/chibios/chibios_config.h
Labels: awaiting review, core, enhancement

#7648 Tweak the Christmas animation effect to be less harsh on the eyes
  docs/feature_rgblight.md
  quantum/rgblight.c
  quantum/rgblight.h
Labels: awaiting review, core, enhancement, needs doc

#8730 Keymap update - massdrop/ctrl/responsive_pattern
  keyboards/massdrop/ctrl/keymaps/responsive_pattern/README.md
  keyboards/massdrop/ctrl/keymaps/responsive_pattern/keymap.c
Labels: keymap

#9831 Fix Variable Trace handling
  common_features.mk
Labels: bug, core

#9745 [Keyboard] Add Keybage folder for RadPad
  keyboards/keybage/radpad/config.h
  keyboards/keybage/radpad/info.json
  keyboards/keybage/radpad/keymaps/default/keymap.c
  keyboards/keybage/radpad/keymaps/default/readme.md
  keyboards/keybage/radpad/radpad.c
  keyboards/keybage/radpad/radpad.h
  keyboards/keybage/radpad/readme.md
  keyboards/keybage/radpad/rules.mk
Labels: keyboard

#9783 Adding keymaps for iris and kyria keyboards
  keyboards/keebio/iris/keymaps/jhelvy/README.md
  keyboards/keebio/iris/keymaps/jhelvy/config.h
  keyboards/keebio/iris/keymaps/jhelvy/keymap.c
  keyboards/keebio/iris/keymaps/jhelvy/rules.mk
  keyboards/kyria/keymaps/jhelvy/config.h
  keyboards/kyria/keymaps/jhelvy/keymap.c
  keyboards/kyria/keymaps/jhelvy/rules.mk
Labels: keymap

#9799 Added via support for 7sKB
  keyboards/7skb/keymaps/via/keymap.c
  keyboards/7skb/keymaps/via/readme.md
  keyboards/7skb/keymaps/via/rules.mk
  keyboards/7skb/rev1/config.h
Labels: keyboard, keymap, via

#9811 [Keyboard] Add keyboard Zenith Z-150
  keyboards/handwired/z150/chconf.h
  keyboards/handwired/z150/config.h
  keyboards/handwired/z150/halconf.h
  keyboards/handwired/z150/info.json
  keyboards/handwired/z150/keymaps/default/keymap.c
  keyboards/handwired/z150/keymaps/zyxx/keymap.c
  keyboards/handwired/z150/mcuconf.h
  keyboards/handwired/z150/readme.md
  keyboards/handwired/z150/rules.mk
  keyboards/handwired/z150/z150.c
  keyboards/handwired/z150/z150.h
Labels: keyboard

#9797 Fix Arabica37's default RGBLED NUM
  keyboards/arabica37/keymaps/default/config.h
Labels: keymap

#9800 Changed the VID/PID for choc_taro keyboards.
  keyboards/choc_taro/config.h
Labels: keyboard

#9829 Add via keymap for kbdfans/kbdpad_mk2.
  keyboards/kbdfans/kbdpad_mk2/keymaps/via/keymap.c
  keyboards/kbdfans/kbdpad_mk2/keymaps/via/rules.mk
Labels: keymap, via

#9822 [keymap] Update rys keymap with 5th semi-secure token and remap layer 1
  keyboards/wilba_tech/wt8_a/keymaps/rys/keymap.c
  keyboards/wilba_tech/wt8_a/keymaps/rys/rules.mk
Labels: keymap

#9828 [keymap] Adding personal keymap for Gingham
  keyboards/gingham/keymaps/codecoffeecode/keymap.c
  keyboards/gingham/keymaps/codecoffeecode/readme.md
Labels: keymap

#9841 Fix Squiggle info.json
  keyboards/squiggle/rev1/info.json
Labels: bug, keyboard

#9525 [Docs] Japanese translation of docs/feature_stenography.md
  docs/ja/feature_stenography.md
Labels: documentation, translation
