Repository qmk/qmk_firmware, pull requests merged in 2020-11, with the labels that each got.

#10762 add beegboy keyboard
  keyboards/handwired/swiftrax/beegboy/beegboy.c
  keyboards/handwired/swiftrax/beegboy/beegboy.h
  keyboards/handwired/swiftrax/beegboy/config.h
  keyboards/handwired/swiftrax/beegboy/info.json
  keyboards/handwired/swiftrax/beegboy/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/beegboy/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/beegboy/keymaps/via/rules.mk
  keyboards/handwired/swiftrax/beegboy/readme.md
  keyboards/handwired/swiftrax/beegboy/rules.mk
Labels: keyboard, keymap, via

#10474 Add The Railroad (rev 0)
  keyboards/nopunin10did/railroad/readme.md
  keyboards/nopunin10did/railroad/rev0/config.h
  keyboards/nopunin10did/railroad/rev0/info.json
  keyboards/nopunin10did/railroad/rev0/keymaps/default/keymap.c
  keyboards/nopunin10did/railroad/rev0/keymaps/nopunin10did/keymap.c
  keyboards/nopunin10did/railroad/rev0/railroad.c
  keyboards/nopunin10did/railroad/rev0/railroad.h
  keyboards/nopunin10did/railroad/rules.mk
Labels: keyboard

#10700 [Fixed] Fix IIC stall bug
  keyboards/melgeek/z70ultra/z70ultra.c
Labels: keyboard

#10688 Initial beta firmware for the Rocketboard-16 macro/num pad
  keyboards/rocketboard_16/chconf.h
  keyboards/rocketboard_16/config.h
  keyboards/rocketboard_16/halconf.h
  keyboards/rocketboard_16/info.json
  keyboards/rocketboard_16/keymaps/default/keymap.c
  keyboards/rocketboard_16/keymaps/via/keymap.c
  keyboards/rocketboard_16/keymaps/via/rules.mk
  keyboards/rocketboard_16/mcuconf.h
  keyboards/rocketboard_16/readme.md
  keyboards/rocketboard_16/rocketboard_16.c
  keyboards/rocketboard_16/rocketboard_16.h
  keyboards/rocketboard_16/rules.mk
Labels: keyboard, keymap

#10726 Added layout for my Keyboardio Atreus
  keyboards/keyboardio/atreus/keymaps/xyverz/keymap.c
  keyboards/keyboardio/atreus/keymaps/xyverz/readme.md
Labels: keymap

#10754 Add keysofkings folder and twokey keyboard
  keyboards/keysofkings/twokey/config.h
  keyboards/keysofkings/twokey/info.json
  keyboards/keysofkings/twokey/keymaps/default/keymap.c
  keyboards/keysofkings/twokey/readme.md
  keyboards/keysofkings/twokey/rules.mk
  keyboards/keysofkings/twokey/twokey.c
  keyboards/keysofkings/twokey/twokey.h
Labels: keyboard, keymap, pr_checklist_pending

#10763 add bebol keyboard
  keyboards/handwired/swiftrax/bebol/bebol.c
  keyboards/handwired/swiftrax/bebol/bebol.h
  keyboards/handwired/swiftrax/bebol/config.h
  keyboards/handwired/swiftrax/bebol/info.json
  keyboards/handwired/swiftrax/bebol/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/bebol/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/bebol/keymaps/via/rules.mk
  keyboards/handwired/swiftrax/bebol/readme.md
  keyboards/handwired/swiftrax/bebol/rules.mk
Labels: keyboard, keymap, via

#10770 add 65_ansi_split_bs to default community layouts
  layouts/default/65_ansi_split_bs/default_65_ansi_split_bs/keymap.c
  layouts/default/65_ansi_split_bs/info.json
  layouts/default/65_ansi_split_bs/layout.json
  layouts/default/65_ansi_split_bs/readme.md
  layouts/default/readme.md
Labels: keymap

#10774 Added ad/freebird60
  keyboards/keebsforall/freebird60/config.h
  keyboards/keebsforall/freebird60/freebird60.c
  keyboards/keebsforall/freebird60/freebird60.h
  keyboards/keebsforall/freebird60/info.json
  keyboards/keebsforall/freebird60/keymaps/default/keymap.c
  keyboards/keebsforall/freebird60/keymaps/via/keymap.c
  keyboards/keebsforall/freebird60/keymaps/via/rules.mk
  keyboards/keebsforall/freebird60/readme.md
  keyboards/keebsforall/freebird60/rules.mk
Labels: keyboard, keymap, via

#10797 VIA Support: Exent 65%
  keyboards/exent/config.h
  keyboards/exent/keymaps/via/keymap.c
  keyboards/exent/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#10814 nullbitsco/nibble Configurator rework
  keyboards/nullbitsco/nibble/info.json
  keyboards/nullbitsco/nibble/keymaps/via/keymap.c
  keyboards/nullbitsco/nibble/nibble.h
Labels: enhancement, keyboard, keymap, via

#10226 Fix keyboard matrix scan rate with F072
  keyboards/aeboards/ext65/rev2/rev2.c
  keyboards/xelus/trinityxttkl/trinityxttkl.c
Labels: keyboard

#10808 Corrected the dvorak layout for kinesis advantage keyboards
  keyboards/kinesis/keymaps/dvorak/keymap.c
Labels: keymap

#10793 `qmk info`: Add `--ascii` flag
  lib/python/qmk/cli/info.py
  lib/python/qmk/keyboard.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, enhancement, python

#10805 Phantom refactor
  keyboards/phantom/config.h
  keyboards/phantom/info.json
  keyboards/phantom/keymaps/default/config.h
  keyboards/phantom/keymaps/default/keymap.c
  keyboards/phantom/keymaps/iso_uk/keymap.c
  keyboards/phantom/keymaps/rgbmod/config.h
  keyboards/phantom/keymaps/rgbmod/keymap.c
  keyboards/phantom/keymaps/rgbmod/rules.mk
  keyboards/phantom/phantom.c
  keyboards/phantom/phantom.h
  keyboards/phantom/readme.md
  keyboards/phantom/rules.mk
Labels: enhancement, keyboard, keymap

#10829 Enable media keys support for Canoe VIA keymap
  keyboards/percent/canoe/keymaps/via/rules.mk
Labels: keymap, via

#10822 Add support for Noxary Vulcan
  keyboards/noxary/vulcan/config.h
  keyboards/noxary/vulcan/info.json
  keyboards/noxary/vulcan/keymaps/default/keymap.c
  keyboards/noxary/vulcan/keymaps/default/readme.md
  keyboards/noxary/vulcan/keymaps/via/keymap.c
  keyboards/noxary/vulcan/keymaps/via/readme.md
  keyboards/noxary/vulcan/keymaps/via/rules.mk
  keyboards/noxary/vulcan/readme.md
  keyboards/noxary/vulcan/rules.mk
  keyboards/noxary/vulcan/vulcan.c
  keyboards/noxary/vulcan/vulcan.h
Labels: keyboard, keymap, via

#10804 NK65 eeprom compatibility with 128KB and 256KB
  keyboards/nk65/config.h
  keyboards/nk65/nk65.c
Labels: keyboard

#10837 [quantum] combine repeated lines of code
  quantum/config_common.h
Labels: core

#10778 Add OLED support for Riblee F411
  keyboards/handwired/riblee_f411/config.h
  keyboards/handwired/riblee_f411/halconf.h
  keyboards/handwired/riblee_f411/mcuconf.h
  keyboards/handwired/riblee_f411/rules.mk
  layouts/community/ortho_5x12/riblee/keymap.c
  users/riblee/riblee.c
  users/riblee/riblee.h
Labels: keyboard, keymap

#10841 [Keyboard] Fixes for PloopyCo mouse and readme
  keyboards/ploopyco/mouse/mouse.c
  keyboards/ploopyco/mouse/readme.md
  keyboards/ploopyco/mouse/rules.mk
  keyboards/ploopyco/trackball/readme.md
Labels: keyboard

#10834 KC60 refactor
  keyboards/kc60/config.h
  keyboards/kc60/info.json
  keyboards/kc60/kc60.c
  keyboards/kc60/kc60.h
  keyboards/kc60/keymaps/default/keymap.c
  keyboards/kc60/keymaps/via/keymap.c
  keyboards/kc60/keymaps/ws2812/config.h
  keyboards/kc60/keymaps/ws2812/keymap.c
  keyboards/kc60/readme.md
  keyboards/kc60/rules.mk
Labels: enhancement, keyboard, keymap, via

#10833 Freyr refactor
  keyboards/freyr/config.h
  keyboards/freyr/freyr.c
  keyboards/freyr/freyr.h
  keyboards/freyr/info.json
  keyboards/freyr/keymaps/default/config.h
  keyboards/freyr/keymaps/default/keymap.c
  keyboards/freyr/keymaps/default/readme.md
  keyboards/freyr/readme.md
  keyboards/freyr/rules.mk
Labels: enhancement, keyboard, keymap

#9750 Adds support for XD84 Pro
  keyboards/xd84pro/config.h
  keyboards/xd84pro/dev.md
  keyboards/xd84pro/info.json
  keyboards/xd84pro/keymaps/default/keymap.c
  keyboards/xd84pro/keymaps/default_iso/keymap.c
  keyboards/xd84pro/keymaps/via/keymap.c
  keyboards/xd84pro/keymaps/via/readme.md
  keyboards/xd84pro/keymaps/via/rules.mk
  keyboards/xd84pro/readme.md
  keyboards/xd84pro/rules.mk
  keyboards/xd84pro/xd84pro.c
  keyboards/xd84pro/xd84pro.h
Labels: keyboard, via

#10785 CLI: Add `qmk clean`
  docs/cli_commands.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/clean.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, documentation, enhancement, python

#10508 My custom Polaris keymap
  keyboards/ai03/polaris/keymaps/mekberg/config.h
  keyboards/ai03/polaris/keymaps/mekberg/keymap.c
  keyboards/ai03/polaris/keymaps/mekberg/readme.md
  keyboards/ai03/polaris/keymaps/mekberg/rules.mk
Labels: keymap

#10860 Add support for 4 IS31FL3731 devices
  quantum/rgb_matrix_drivers.c
Labels: core

#10678 E85 backlight & LED indicator updates
  keyboards/exclusive/e85/config.h
  keyboards/exclusive/e85/hotswap/hotswap.c
  keyboards/exclusive/e85/hotswap/keymaps/via/rules.mk
  keyboards/exclusive/e85/soldered/keymaps/via/rules.mk
  keyboards/exclusive/e85/soldered/soldered.c
Labels: keyboard, keymap

#10705 Add Eco keymap, factor Crkbd keymap to community layout, other minor tweaks
  keyboards/crkbd/keymaps/bcat/config.h
  keyboards/crkbd/keymaps/bcat/rules.mk
  keyboards/eco/keymaps/bcat/config.h
  keyboards/eco/keymaps/bcat/keymap.c
  keyboards/eco/keymaps/bcat/readme.md
  keyboards/eco/keymaps/bcat/rules.mk
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
  layouts/community/split_3x6_3/bcat/config.h
  layouts/community/split_3x6_3/bcat/keymap.c
  layouts/community/split_3x6_3/bcat/readme.md
  layouts/community/split_3x6_3/bcat/rules.mk
  users/bcat/config.h
  users/bcat/readme.md
Labels: keymap

#10761 New command: qmk lint
  .github/workflows/lint.yml
  docs/cli_commands.md
  docs/hardware_keyboard_guidelines.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/lint.py
  lib/python/qmk/info.py
  lib/python/qmk/path.py
Labels: CI, cli, documentation, python

#10882 Add qmk info -l to show the layouts too
  .github/workflows/lint.yml
Labels: CI

#10811 [Keyboard] Fix unused variables in mschwingen modelm
  keyboards/mschwingen/modelm/modelm.c
Labels: bug, keyboard

#10471 add missing physical layout options and VIA support for Sesame
  keyboards/kb_elmo/sesame/info.json
  keyboards/kb_elmo/sesame/keymaps/via/keymap.c
  keyboards/kb_elmo/sesame/keymaps/via/rules.mk
  keyboards/kb_elmo/sesame/sesame.h
Labels: keyboard, keymap, via

#10816 Indicator LEDs as config
  common_features.mk
  docs/_summary.md
  docs/custom_quantum_functions.md
  docs/feature_led_indicators.md
  keyboards/cospad/config.h
  keyboards/cospad/cospad.c
  quantum/led.c
  quantum/quantum.c
  tmk_core/common/led.h
Labels: core, documentation, enhancement, keyboard

#10777 Keebwerk MEGA Initial commit
  keyboards/keebwerk/mega/ansi/ansi.c
  keyboards/keebwerk/mega/ansi/ansi.h
  keyboards/keebwerk/mega/ansi/config.h
  keyboards/keebwerk/mega/ansi/info.json
  keyboards/keebwerk/mega/ansi/keymaps/default/keymap.c
  keyboards/keebwerk/mega/ansi/keymaps/default/readme.md
  keyboards/keebwerk/mega/ansi/keymaps/via/keymap.c
  keyboards/keebwerk/mega/ansi/keymaps/via/readme.md
  keyboards/keebwerk/mega/ansi/keymaps/via/rules.mk
  keyboards/keebwerk/mega/ansi/rules.mk
  keyboards/keebwerk/mega/chconf.h
  keyboards/keebwerk/mega/halconf.h
  keyboards/keebwerk/mega/keebwork_mega.c
  keyboards/keebwerk/mega/mcuconf.h
  keyboards/keebwerk/mega/readme.md
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: keyboard, keymap, via

#5895 Adding few Korean translated files
  docs/ko-kr/README.md
  docs/ko-kr/getting_started_build_tools.md
  docs/ko-kr/getting_started_getting_help.md
  docs/ko-kr/getting_started_github.md
Labels: awaiting review, documentation, translation

#10783 New Keymap for Idobo Keyboard
  keyboards/idobo/keymaps/egstad/config.h
  keyboards/idobo/keymaps/egstad/keymap.c
  keyboards/idobo/keymaps/egstad/readme.md
  keyboards/idobo/keymaps/egstad/rules.mk
Labels: keymap

#10818 Update massdrop/alt and arm_atsam/led_matrix to fix #10813
  keyboards/massdrop/alt/config_led.c
  keyboards/massdrop/alt/keymaps/default/keymap.c
  keyboards/massdrop/ctrl/config_led.c
  keyboards/massdrop/ctrl/keymaps/default/keymap.c
  tmk_core/protocol/arm_atsam/led_matrix.c
Labels: core, keyboard, keymap

#7305 [Keymap] little foot
  keyboards/kingly_keys/little_foot/config.h
  keyboards/kingly_keys/little_foot/keymaps/yanfali/config.h
  keyboards/kingly_keys/little_foot/keymaps/yanfali/keymap.c
  keyboards/kingly_keys/little_foot/keymaps/yanfali/rules.mk
Labels: in progress, keyboard, keymap

#10617 Add VIA Keymap for Worldspawn Gothic70.
  keyboards/wsk/gothic70/config.h
  keyboards/wsk/gothic70/keymaps/via/keymap.c
  keyboards/wsk/gothic70/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#10718 Docredirect
  docs/index.html
  docs/newbs.md
Labels: documentation, invalid

#8997 Added color wheel that have QMK HSV values.
  docs/feature_rgblight.md
Labels: documentation, in progress

#10042 Add support for "The Ave." keyboard
  keyboards/kingly_keys/ave/config.h
  keyboards/kingly_keys/ave/ortho/info.json
  keyboards/kingly_keys/ave/ortho/keymaps/default/config.h
  keyboards/kingly_keys/ave/ortho/keymaps/default/keymap.c
  keyboards/kingly_keys/ave/ortho/keymaps/default/rules.mk
  keyboards/kingly_keys/ave/ortho/ortho.c
  keyboards/kingly_keys/ave/ortho/ortho.h
  keyboards/kingly_keys/ave/ortho/rules.mk
  keyboards/kingly_keys/ave/readme.md
  keyboards/kingly_keys/ave/staggered/info.json
  keyboards/kingly_keys/ave/staggered/keymaps/default/config.h
  keyboards/kingly_keys/ave/staggered/keymaps/default/keymap.c
  keyboards/kingly_keys/ave/staggered/keymaps/default/rules.mk
  keyboards/kingly_keys/ave/staggered/rules.mk
  keyboards/kingly_keys/ave/staggered/staggered.c
  keyboards/kingly_keys/ave/staggered/staggered.h
Labels: keyboard, on hold

#10489 userspace and keymap changes for rupa
  keyboards/tada68/keymaps/rupa/config.h
  keyboards/tada68/keymaps/rupa/keymap.c
  keyboards/tada68/keymaps/rupa/readme.md
  keyboards/tada68/keymaps/rupa/rules.mk
  users/rupa/config.h
  users/rupa/process_records.c
  users/rupa/process_records.h
  users/rupa/readme.md
  users/rupa/rules.mk
  users/rupa/rupa.c
  users/rupa/rupa.h
  users/rupa/unicode.c
  users/rupa/unicode.h
  users/rupa/wrappers.h
Labels: keymap

#10693 [Keyboard] Added Crazy Keyboard 68
  keyboards/crazy_keyboard_68/config.h
  keyboards/crazy_keyboard_68/crazy_keyboard_68.c
  keyboards/crazy_keyboard_68/crazy_keyboard_68.h
  keyboards/crazy_keyboard_68/info.json
  keyboards/crazy_keyboard_68/keymaps/default/keymap.c
  keyboards/crazy_keyboard_68/keymaps/default/readme.md
  keyboards/crazy_keyboard_68/readme.md
  keyboards/crazy_keyboard_68/rules.mk
Labels: keyboard

#10405 refactor claw44 for SPLIT_KEYBOARD, OLED_DRIVER_ENABLE
  keyboards/claw44/claw44.c
  keyboards/claw44/config.h
  keyboards/claw44/i2c.c
  keyboards/claw44/i2c.h
  keyboards/claw44/keymaps/default/config.h
  keyboards/claw44/keymaps/default/keymap.c
  keyboards/claw44/keymaps/oled/config.h
  keyboards/claw44/keymaps/oled/keymap.c
  keyboards/claw44/keymaps/oled/rules.mk
  keyboards/claw44/keymaps/yfuku/keymap.c
  keyboards/claw44/lib/glcdfont.c
  keyboards/claw44/lib/host_led_state_reader.c
  keyboards/claw44/lib/keylogger.c
  keyboards/claw44/lib/layer_state_reader.c
  keyboards/claw44/lib/logo_reader.c
  keyboards/claw44/lib/mode_icon_reader.c
  keyboards/claw44/lib/rgb_state_reader.c
  keyboards/claw44/lib/timelogger.c
  keyboards/claw44/rev1/config.h
  keyboards/claw44/rev1/matrix.c
  keyboards/claw44/rev1/rev1.c
  keyboards/claw44/rev1/rev1.h
  keyboards/claw44/rev1/rules.mk
  keyboards/claw44/rev1/serial_config.h
  keyboards/claw44/rev1/split_scomm.c
  keyboards/claw44/rev1/split_scomm.h
  keyboards/claw44/rev1/split_util.c
  keyboards/claw44/rev1/split_util.h
  keyboards/claw44/rules.mk
  keyboards/claw44/serial.c
  keyboards/claw44/serial.h
  keyboards/claw44/ssd1306.c
  keyboards/claw44/ssd1306.h
Labels: keyboard

#10835 XD68: add 65_ansi_split_bs layuout
  keyboards/xd68/info.json
  keyboards/xd68/rules.mk
  keyboards/xd68/xd68.h
Labels: keyboard

#9587 Add new keyboard, RGBKB Pan
  keyboards/rgbkb/pan/config.h
  keyboards/rgbkb/pan/keymaps/default/keymap.c
  keyboards/rgbkb/pan/keymaps/default/rules.mk
  keyboards/rgbkb/pan/pan.c
  keyboards/rgbkb/pan/pan.h
  keyboards/rgbkb/pan/post_rules.mk
  keyboards/rgbkb/pan/readme.md
  keyboards/rgbkb/pan/rev1/32a/config.h
  keyboards/rgbkb/pan/rev1/32a/post_rules.mk
  keyboards/rgbkb/pan/rev1/32a/rules.mk
  keyboards/rgbkb/pan/rev1/proton_c/config.h
  keyboards/rgbkb/pan/rev1/proton_c/post_rules.mk
  keyboards/rgbkb/pan/rev1/proton_c/rules.mk
  keyboards/rgbkb/pan/rev1/rules.mk
  keyboards/rgbkb/pan/rules.mk
Labels: keyboard

#10824 add DEBUG_MATRIX_SCAN_RATE_ENABLE to common_features.mk
  common_features.mk
  tmk_core/common/keyboard.c
Labels: core, enhancement

#10549 [Core] Added `add_oneshot_mods` & `del_oneshot_mods`
  tmk_core/common/action_util.c
  tmk_core/common/action_util.h
Labels: core

#7448 CI: Add docs build and deploy workflow
  .github/workflows/docs.yml
  .travis.yml
  docs/cli_commands.md
  lib/python/qmk/cli/generate/__init__.py
  lib/python/qmk/cli/generate/docs.py
  util/travis_docs.sh
Labels: CI, cli, core, documentation, python

#10909 Improve the QMK Lint workflow
  .github/workflows/lint.yml
Labels: CI

#10826 Bring up Qvex Lynepad
  keyboards/qvex/lynepad/config.h
  keyboards/qvex/lynepad/info.json
  keyboards/qvex/lynepad/keymaps/default/keymap.c
  keyboards/qvex/lynepad/keymaps/default/readme.md
  keyboards/qvex/lynepad/lynepad.c
  keyboards/qvex/lynepad/lynepad.h
  keyboards/qvex/lynepad/readme.md
  keyboards/qvex/lynepad/rules.mk
  keyboards/qvex/readme.md
Labels: keyboard, keymap

#10322 handwired/onekey/blackpill_f401: Fix I2C pin config mismatch
  keyboards/handwired/onekey/blackpill_f401/blackpill_f401.c
Labels: awaiting review, bug, keyboard

#10782 Add Keyboard Southpaw66
  keyboards/rpiguy9907/southpaw66/config.h
  keyboards/rpiguy9907/southpaw66/info.json
  keyboards/rpiguy9907/southpaw66/keymaps/default/keymap.c
  keyboards/rpiguy9907/southpaw66/keymaps/via/keymap.c
  keyboards/rpiguy9907/southpaw66/keymaps/via/rules.mk
  keyboards/rpiguy9907/southpaw66/readme.md
  keyboards/rpiguy9907/southpaw66/rules.mk
  keyboards/rpiguy9907/southpaw66/southpaw66.c
  keyboards/rpiguy9907/southpaw66/southpaw66.h
Labels: keyboard, keymap, via

#10851 Porting Time 80 TKL
  keyboards/foxlab/time80/config.h
  keyboards/foxlab/time80/keymaps/default/keymap.c
  keyboards/foxlab/time80/keymaps/default/readme.md
  keyboards/foxlab/time80/readme.md
  keyboards/foxlab/time80/rules.mk
  keyboards/foxlab/time80/time80.c
  keyboards/foxlab/time80/time80.h
Labels: keyboard, keymap

#10221 add h660s
  keyboards/hineybush/h660s/config.h
  keyboards/hineybush/h660s/h660s.c
  keyboards/hineybush/h660s/h660s.h
  keyboards/hineybush/h660s/info.json
  keyboards/hineybush/h660s/keymaps/default/keymap.c
  keyboards/hineybush/h660s/keymaps/default/readme.md
  keyboards/hineybush/h660s/keymaps/via/keymap.c
  keyboards/hineybush/h660s/keymaps/via/readme.md
  keyboards/hineybush/h660s/keymaps/via/rules.mk
  keyboards/hineybush/h660s/readme.md
  keyboards/hineybush/h660s/rules.mk
Labels: keyboard, via

#10926 ZTBoards Updated keymap and updated info.json
  keyboards/ztboards/after/info.json
  keyboards/ztboards/after/keymaps/default/keymap.c
  keyboards/ztboards/noon/info.json
Labels: keyboard, keymap

#10178 Add Lily58 via keymap
  keyboards/lily58/keymaps/via/config.h
  keyboards/lily58/keymaps/via/keymap.c
  keyboards/lily58/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#10512 [Keyboard] Add Valor FRL TKL (+refactor)
  keyboards/xelus/valor/rev1/config.h
  keyboards/xelus/valor/rev1/keymaps/default/keymap.c
  keyboards/xelus/valor/rev1/keymaps/default/readme.md
  keyboards/xelus/valor/rev1/keymaps/via/keymap.c
  keyboards/xelus/valor/rev1/keymaps/via/readme.md
  keyboards/xelus/valor/rev1/keymaps/via/rules.mk
  keyboards/xelus/valor/rev1/readme.md
  keyboards/xelus/valor/rev1/rev1.c
  keyboards/xelus/valor/rev1/rev1.h
  keyboards/xelus/valor/rev1/rules.mk
  keyboards/xelus/valor_frl_tkl/chconf.h
  keyboards/xelus/valor_frl_tkl/config.h
  keyboards/xelus/valor_frl_tkl/halconf.h
  keyboards/xelus/valor_frl_tkl/keymaps/default/config.h
  keyboards/xelus/valor_frl_tkl/keymaps/default/keymap.c
  keyboards/xelus/valor_frl_tkl/keymaps/default/readme.md
  keyboards/xelus/valor_frl_tkl/keymaps/via/config.h
  keyboards/xelus/valor_frl_tkl/keymaps/via/keymap.c
  keyboards/xelus/valor_frl_tkl/keymaps/via/readme.md
  keyboards/xelus/valor_frl_tkl/keymaps/via/rules.mk
  keyboards/xelus/valor_frl_tkl/mcuconf.h
  keyboards/xelus/valor_frl_tkl/readme.md
  keyboards/xelus/valor_frl_tkl/rules.mk
  keyboards/xelus/valor_frl_tkl/valor_frl_tkl.c
  keyboards/xelus/valor_frl_tkl/valor_frl_tkl.h
Labels: breaking_change, keyboard, keymap, via

#10545 Add nfriend's ErgoDox EZ keymap
  keyboards/ergodox_ez/keymaps/nfriend/config.h
  keyboards/ergodox_ez/keymaps/nfriend/keymap.c
  keyboards/ergodox_ez/keymaps/nfriend/readme.md
  keyboards/ergodox_ez/keymaps/nfriend/rules.mk
  keyboards/ergodox_ez/keymaps/nfriend/template.c
Labels: keymap

#10780 [Keyboard] add Symmetric70 keyboard prototype
  keyboards/handwired/symmetric70_proto/config.h
  keyboards/handwired/symmetric70_proto/info.json
  keyboards/handwired/symmetric70_proto/keymaps/default/keymap.c
  keyboards/handwired/symmetric70_proto/keymaps/default/readme.md
  keyboards/handwired/symmetric70_proto/keymaps/default_mac/keymap.c
  keyboards/handwired/symmetric70_proto/keymaps/default_mac/readme.md
  keyboards/handwired/symmetric70_proto/matrix.c
  keyboards/handwired/symmetric70_proto/readme.md
  keyboards/handwired/symmetric70_proto/rules.mk
  keyboards/handwired/symmetric70_proto/symmetric70_proto.c
  keyboards/handwired/symmetric70_proto/symmetric70_proto.h
Labels: keyboard, keymap

#10798 added Pill60 to handwired/pill60
  keyboards/handwired/pill60/blackpill_f401/config.h
  keyboards/handwired/pill60/blackpill_f401/halconf.h
  keyboards/handwired/pill60/blackpill_f401/mcuconf.h
  keyboards/handwired/pill60/blackpill_f401/rules.mk
  keyboards/handwired/pill60/blackpill_f411/config.h
  keyboards/handwired/pill60/blackpill_f411/halconf.h
  keyboards/handwired/pill60/blackpill_f411/mcuconf.h
  keyboards/handwired/pill60/blackpill_f411/rules.mk
  keyboards/handwired/pill60/bluepill/chconf.h
  keyboards/handwired/pill60/bluepill/config.h
  keyboards/handwired/pill60/bluepill/halconf.h
  keyboards/handwired/pill60/bluepill/mcuconf.h
  keyboards/handwired/pill60/bluepill/rules.mk
  keyboards/handwired/pill60/config.h
  keyboards/handwired/pill60/info.json
  keyboards/handwired/pill60/keymaps/default/keymap.c
  keyboards/handwired/pill60/keymaps/default/readme.md
  keyboards/handwired/pill60/pill60.c
  keyboards/handwired/pill60/pill60.h
  keyboards/handwired/pill60/readme.md
  keyboards/handwired/pill60/rules.mk
Labels: keyboard, keymap

#10800 Use cursor position as start index for oled_write_raw and oled_write_raw_P
  drivers/oled/oled_driver.c
Labels: core

#10579 [Keyboard] Add "Uno"
  keyboards/uno/config.h
  keyboards/uno/info.json
  keyboards/uno/keymaps/default/keymap.c
  keyboards/uno/keymaps/default/readme.md
  keyboards/uno/readme.md
  keyboards/uno/rules.mk
  keyboards/uno/uno.c
  keyboards/uno/uno.h
Labels: keyboard

#10895 Recommend use of LED Indicator config
  docs/pr_checklist.md
  quantum/template/avr/config.h
  quantum/template/ps2avrgb/config.h
Labels: core, documentation

#10736 CLI: Udev related fixes and improvements
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/tests/test_cli_commands.py
  util/udev/50-qmk.rules
Labels: cli, core, python

#10874 [Keyboard] YMDK NP21: correct numpad layout matrix
  keyboards/ymdk_np21/ymdk_np21.h
Labels: keyboard

#10962 Fix typo causing `redefined error` in keymap_french_osx
  quantum/keymap_extras/keymap_french_osx.h
Labels: core

#10883 BDN9: Fix encoder direction, add 3rd encoder for Rev. 1.3 support
  keyboards/keebio/bdn9/rev1/config.h
Labels: keyboard

#10939 Add Beatervan keyboard
  keyboards/beatervan/beatervan.c
  keyboards/beatervan/beatervan.h
  keyboards/beatervan/config.h
  keyboards/beatervan/info.json
  keyboards/beatervan/keymaps/default/keymap.c
  keyboards/beatervan/keymaps/default/readme.md
  keyboards/beatervan/keymaps/oj/keymap.c
  keyboards/beatervan/keymaps/oj/readme.md
  keyboards/beatervan/readme.md
  keyboards/beatervan/rules.mk
Labels: keyboard, keymap

#10950 Fox Lab Time80: add Configurator layout data
  keyboards/foxlab/time80/info.json
Labels: enhancement, keyboard

#10886 New Keyboard: Titan 60
  keyboards/acekeyboard/titan60/config.h
  keyboards/acekeyboard/titan60/info.json
  keyboards/acekeyboard/titan60/keymaps/default/keymap.c
  keyboards/acekeyboard/titan60/keymaps/via/keymap.c
  keyboards/acekeyboard/titan60/keymaps/via/rules.mk
  keyboards/acekeyboard/titan60/readme.md
  keyboards/acekeyboard/titan60/rules.mk
  keyboards/acekeyboard/titan60/titan60.c
  keyboards/acekeyboard/titan60/titan60.h
Labels: keyboard, keymap, via

#10354 Refactor the crkbd/via keymap and fix OLED bugs
  keyboards/crkbd/keymaps/default/config.h
  keyboards/crkbd/keymaps/default/keymap.c
  keyboards/crkbd/keymaps/default/rules.mk
  keyboards/crkbd/keymaps/foostan/config.h
  keyboards/crkbd/keymaps/foostan/keymap.c
  keyboards/crkbd/keymaps/foostan/rules.mk
  keyboards/crkbd/rev1/common/common.c
  keyboards/crkbd/rev1/common/common.h
  keyboards/crkbd/rev1/common/keymaps/via/keymap.c
  keyboards/crkbd/rev1/common/ssd1306.c
  keyboards/crkbd/rev1/legacy/legacy.h
  keyboards/crkbd/rev1/legacy/ssd1306.h
  keyboards/crkbd/rev1/rev1.c
  keyboards/crkbd/rev1/rev1.h
  layouts/community/split_3x6_3/drashna/keymap.c
Labels: keyboard, keymap, via

#10870 Add user keymaps to qmk master
  keyboards/planck/keymaps/bghull/keymap.c
  keyboards/planck/keymaps/bghull/rules.mk
  keyboards/preonic/keymaps/bghull/keymap.c
  keyboards/preonic/keymaps/bghull/rules.mk
Labels: keymap

#10863 bm16s - Added Via Support,Keymap,Product ID. Fixed Vendor ID
  keyboards/bm16s/config.h
  keyboards/bm16s/keymaps/via/keymap.c
  keyboards/bm16s/keymaps/via/readme.md
  keyboards/bm16s/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#10859 Keymap Update for jisplit89
  keyboards/jisplit89/keymaps/default/keymap.c
  keyboards/jisplit89/keymaps/salicylic/keymap.c
  keyboards/jisplit89/keymaps/via/keymap.c
Labels: keymap, via

#10727 [Keymap] ANAVI Macro Pad 8 fix kodi and default
  keyboards/anavi/macropad8/keymaps/default/keymap.c
  keyboards/anavi/macropad8/keymaps/kodi/keymap.c
Labels: keymap

#10906 Refactor to use led config - Part 2
  keyboards/bpiphany/kitten_paw/config.h
  keyboards/bpiphany/kitten_paw/kitten_paw.c
  keyboards/bpiphany/kitten_paw/kitten_paw.h
  keyboards/bpiphany/tiger_lily/config.h
  keyboards/bpiphany/tiger_lily/tiger_lily.c
  keyboards/bpiphany/unloved_bastard/config.h
  keyboards/bpiphany/unloved_bastard/unloved_bastard.c
  keyboards/gray_studio/space65/config.h
  keyboards/gray_studio/space65/space65.c
  keyboards/gray_studio/think65/hotswap/config.h
  keyboards/gray_studio/think65/hotswap/hotswap.c
  keyboards/kbdfans/kbd19x/config.h
  keyboards/kbdfans/kbd19x/kbd19x.c
  keyboards/kbdfans/kbd19x/kbd19x.h
  keyboards/kbdfans/kbd67/rev1/config.h
  keyboards/kbdfans/kbd67/rev1/rev1.c
  keyboards/kbdfans/kbd6x/config.h
  keyboards/kbdfans/kbd6x/kbd6x.c
  keyboards/kbdfans/kbd75/config.h
  keyboards/kbdfans/kbd75/rev1/rev1.c
  keyboards/kbdfans/kbd75/rev2/rev2.c
  keyboards/kbdfans/kbd8x/config.h
  keyboards/kbdfans/kbd8x/kbd8x.c
  keyboards/kbdfans/kbd8x/kbd8x.h
  keyboards/kbdfans/kbd8x_mk2/config.h
  keyboards/kbdfans/kbd8x_mk2/kbd8x_mk2.c
  keyboards/kbdfans/kbdpad_mk2/config.h
  keyboards/kbdfans/kbdpad_mk2/kbdpad_mk2.c
Labels: keyboard

#10905 Refactor to use led config - Part 1
  keyboards/1upkeyboards/1up60hte/1up60hte.c
  keyboards/1upkeyboards/1up60hte/config.h
  keyboards/alf/dc60/config.h
  keyboards/alf/dc60/dc60.c
  keyboards/alf/x11/config.h
  keyboards/alf/x11/x11.c
  keyboards/amj60/amj60.c
  keyboards/amj60/config.h
  keyboards/cutie_club/wraith/config.h
  keyboards/cutie_club/wraith/wraith.c
  keyboards/dz60/config.h
  keyboards/dz60/dz60.c
  keyboards/jd40/jd40.c
  keyboards/mechkeys/mk60/config.h
  keyboards/mechkeys/mk60/mk60.c
  keyboards/moon/config.h
  keyboards/moon/moon.c
  keyboards/mt980/config.h
  keyboards/mt980/mt980.c
  keyboards/omnikeyish/config.h
  keyboards/omnikeyish/omnikeyish.c
  keyboards/tkc/m0lly/config.h
  keyboards/tkc/m0lly/m0lly.c
  keyboards/tkc/tkc1800/config.h
  keyboards/tkc/tkc1800/tkc1800.c
  keyboards/xd84/config.h
  keyboards/xd84/xd84.c
  keyboards/xd84pro/config.h
  keyboards/xd84pro/xd84pro.c
  keyboards/xd96/config.h
  keyboards/xd96/xd96.c
  keyboards/yd68/config.h
  keyboards/yd68/yd68.c
  keyboards/z150_bh/config.h
  keyboards/z150_bh/z150_bh.c
Labels: keyboard

#10932 Add VIA Keymap for boardsource/microdox
  keyboards/boardsource/microdox/keymaps/via/keymap.c
  keyboards/boardsource/microdox/keymaps/via/rules.mk
Labels: keymap, via

#10940 Added new keyboard - nack
  keyboards/nack/config.h
  keyboards/nack/info.json
  keyboards/nack/keymaps/default/keymap.c
  keyboards/nack/keymaps/default/readme.md
  keyboards/nack/keymaps/pastapojken/keymap.c
  keyboards/nack/keymaps/pastapojken/keymap.h
  keyboards/nack/keymaps/pastapojken/readme.md
  keyboards/nack/mcuconf.h
  keyboards/nack/nack.c
  keyboards/nack/nack.h
  keyboards/nack/readme.md
  keyboards/nack/rules.mk
Labels: keyboard, keymap

#10881 Add support for keyboard 'DimplePlus'
  keyboards/lazydesigners/dimpleplus/config.h
  keyboards/lazydesigners/dimpleplus/dimpleplus.c
  keyboards/lazydesigners/dimpleplus/dimpleplus.h
  keyboards/lazydesigners/dimpleplus/info.json
  keyboards/lazydesigners/dimpleplus/keymaps/default/keymap.c
  keyboards/lazydesigners/dimpleplus/readme.md
  keyboards/lazydesigners/dimpleplus/rules.mk
Labels: keyboard, keymap

#10914 Add support for LAYOUT_alice to sneakbox pcb
  keyboards/sneakbox/aliceclone/aliceclone.h
  keyboards/sneakbox/aliceclone/info.json
  keyboards/sneakbox/aliceclone/keymaps/default/keymap.c
  keyboards/sneakbox/aliceclone/keymaps/via/keymap.c
  keyboards/sneakbox/aliceclone/rules.mk
Labels: keyboard, keymap, via

#10966 Refactor to use led config - Part 3
  keyboards/1upkeyboards/sweet16/v1/config.h
  keyboards/1upkeyboards/sweet16/v1/v1.c
  keyboards/alps64/alps64.c
  keyboards/alps64/config.h
  keyboards/amjpad/amjpad.c
  keyboards/amjpad/config.h
  keyboards/exclusive/e6v2/le/config.h
  keyboards/exclusive/e6v2/le/le.c
  keyboards/exclusive/e7v1/config.h
  keyboards/exclusive/e7v1/e7v1.c
  keyboards/fc980c/config.h
  keyboards/fc980c/fc980c.c
  keyboards/foxlab/leaf60/hotswap/config.h
  keyboards/foxlab/leaf60/hotswap/hotswap.c
  keyboards/foxlab/leaf60/universal/config.h
  keyboards/foxlab/leaf60/universal/universal.c
  keyboards/hineybush/hineyg80/config.h
  keyboards/hineybush/hineyg80/hineyg80.c
  keyboards/jc65/v32u4/config.h
  keyboards/jc65/v32u4/v32u4.c
  keyboards/kmac/config.h
  keyboards/kmac/kmac.c
  keyboards/melody96/config.h
  keyboards/melody96/melody96.c
  keyboards/peiorisboards/ixora/config.h
  keyboards/peiorisboards/ixora/ixora.c
  keyboards/redscarf_iiplus/verb/config.h
  keyboards/redscarf_iiplus/verb/verb.c
  keyboards/sck/osa/config.h
  keyboards/sck/osa/osa.c
Labels: keyboard

#10972 Fixup version.h
  Makefile
Labels: core

#10974 version.h BUILD_DATE fix
  Makefile
Labels: core

#10877 Added wilba.tech WT65-G
  keyboards/wilba_tech/wt65_g/config.h
  keyboards/wilba_tech/wt65_g/info.json
  keyboards/wilba_tech/wt65_g/keymaps/default/keymap.c
  keyboards/wilba_tech/wt65_g/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_g/keymaps/via/rules.mk
  keyboards/wilba_tech/wt65_g/readme.md
  keyboards/wilba_tech/wt65_g/rules.mk
  keyboards/wilba_tech/wt65_g/wt65_g.c
  keyboards/wilba_tech/wt65_g/wt65_g.h
Labels: keyboard, keymap, via

#10878 Added wilba.tech WT80-G
  keyboards/wilba_tech/wt80_g/config.h
  keyboards/wilba_tech/wt80_g/info.json
  keyboards/wilba_tech/wt80_g/keymaps/default/keymap.c
  keyboards/wilba_tech/wt80_g/keymaps/via/keymap.c
  keyboards/wilba_tech/wt80_g/keymaps/via/rules.mk
  keyboards/wilba_tech/wt80_g/readme.md
  keyboards/wilba_tech/wt80_g/rules.mk
  keyboards/wilba_tech/wt80_g/wt80_g.c
  keyboards/wilba_tech/wt80_g/wt80_g.h
Labels: keyboard, keymap, via

#10969 VIA Support: E6V2 BMC editions
  keyboards/exclusive/e6v2/le_bmc/config.h
  keyboards/exclusive/e6v2/le_bmc/keymaps/via/keymap.c
  keyboards/exclusive/e6v2/le_bmc/keymaps/via/rules.mk
  keyboards/exclusive/e6v2/le_bmc/readme.md
  keyboards/exclusive/e6v2/oe_bmc/config.h
  keyboards/exclusive/e6v2/oe_bmc/keymaps/via/keymap.c
  keyboards/exclusive/e6v2/oe_bmc/keymaps/via/rules.mk
  keyboards/exclusive/e6v2/oe_bmc/readme.md
Labels: keyboard, keymap, via

#10888 Update the melody96/zunger layout to make typing Romance languages easier
  keyboards/melody96/keymaps/zunger/keymap.c
Labels: keymap

#10928 Punk75 dsanchezseco added numlock layer
  keyboards/punk75/keymaps/dsanchezseco/keymap.c
Labels: keymap

#10917 Update one_shot_keys.md
  docs/one_shot_keys.md
Labels: documentation

#10912 Add basic OLED keymap for nullbitsco/nibble
  keyboards/nullbitsco/nibble/keymaps/oled/keymap.c
  keyboards/nullbitsco/nibble/keymaps/oled/rules.mk
Labels: keymap

#10936 [Keyboard] PloopyCo update and fixes
  keyboards/ploopyco/mouse/mouse.c
  keyboards/ploopyco/mouse/readme.md
  keyboards/ploopyco/pmw3360.c
  keyboards/ploopyco/trackball/readme.md
  keyboards/ploopyco/trackball/rev1/readme.md
  keyboards/ploopyco/trackball/rev1/rules.mk
  keyboards/ploopyco/trackball/rev1_005/readme.md
  keyboards/ploopyco/trackball/rev1_005/rules.mk
  keyboards/ploopyco/trackball/rules.mk
  keyboards/ploopyco/trackball/trackball.c
Labels: keyboard

#8953 Pulled some functionality from the engame keymap for the Drop Ctrl
  keyboards/massdrop/alt/keymaps/pregame/config.h
  keyboards/massdrop/alt/keymaps/pregame/keymap.c
  keyboards/massdrop/alt/keymaps/pregame/keymap.h
  keyboards/massdrop/alt/keymaps/pregame/readme.md
  keyboards/massdrop/alt/keymaps/pregame/rules.mk
Labels: keymap

#10706 Add AT90USB support for serial.c
  drivers/avr/serial.c
Labels: bug, core, enhancement

#10850 Add references for is_keyboard_left()
  tmk_core/common/bootmagic_lite.c
  tmk_core/common/keyboard.c
  tmk_core/common/keyboard.h
Labels: bug, core

#10952 Add Launch Pad by Ungodly Design
  keyboards/ungodly/launch_pad/config.h
  keyboards/ungodly/launch_pad/keymaps/default/keymap.c
  keyboards/ungodly/launch_pad/launch_pad.c
  keyboards/ungodly/launch_pad/launch_pad.h
  keyboards/ungodly/launch_pad/readme.md
  keyboards/ungodly/launch_pad/rules.mk
Labels: keyboard, keymap

#10892 add unsplit
  keyboards/handwired/swiftrax/unsplit/config.h
  keyboards/handwired/swiftrax/unsplit/info.json
  keyboards/handwired/swiftrax/unsplit/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/unsplit/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/unsplit/keymaps/via/rules.mk
  keyboards/handwired/swiftrax/unsplit/readme.md
  keyboards/handwired/swiftrax/unsplit/rules.mk
  keyboards/handwired/swiftrax/unsplit/unsplit.c
  keyboards/handwired/swiftrax/unsplit/unsplit.h
Labels: keyboard, keymap, via

#10931 Add Nines by Ungodly Design
  keyboards/ungodly/nines/config.h
  keyboards/ungodly/nines/info.json
  keyboards/ungodly/nines/keymaps/default/keymap.c
  keyboards/ungodly/nines/keymaps/via/keymap.c
  keyboards/ungodly/nines/keymaps/via/rules.mk
  keyboards/ungodly/nines/nines.c
  keyboards/ungodly/nines/nines.h
  keyboards/ungodly/nines/readme.md
  keyboards/ungodly/nines/rules.mk
Labels: keyboard, keymap, via

#10869 [Keyboard]Add X-Bows Nature Keyboard
  keyboards/xbows/nature/config.h
  keyboards/xbows/nature/info.json
  keyboards/xbows/nature/keymaps/default/keymap.c
  keyboards/xbows/nature/nature.c
  keyboards/xbows/nature/nature.h
  keyboards/xbows/nature/readme.md
  keyboards/xbows/nature/rules.mk
Labels: keyboard, keymap, pr_checklist_pending

#9917 Add JNAO Via keymap
  keyboards/jnao/config.h
  keyboards/jnao/keymaps/via/keymap.c
  keyboards/jnao/keymaps/via/rules.mk
Labels: keymap, via

#10879 Added wilba.tech WT60-H1
  keyboards/wilba_tech/wt60_h1/config.h
  keyboards/wilba_tech/wt60_h1/info.json
  keyboards/wilba_tech/wt60_h1/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_h1/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_h1/keymaps/via/rules.mk
  keyboards/wilba_tech/wt60_h1/readme.md
  keyboards/wilba_tech/wt60_h1/rules.mk
  keyboards/wilba_tech/wt60_h1/wt60_h1.c
  keyboards/wilba_tech/wt60_h1/wt60_h1.h
Labels: keyboard, keymap, via

#10913 Add layout_all to xd96
  keyboards/xd96/info.json
  keyboards/xd96/keymaps/uuupah/keymap.c
  keyboards/xd96/rules.mk
  keyboards/xd96/xd96.h
Labels: keyboard, keymap

#10975 Refactor to use led config - Part 5
  keyboards/al1/al1.c
  keyboards/al1/al1.h
  keyboards/al1/config.h
  keyboards/amj40/amj40.c
  keyboards/amj40/config.h
  keyboards/doro67/multi/config.h
  keyboards/doro67/multi/multi.c
  keyboards/doro67/regular/config.h
  keyboards/doro67/regular/regular.c
  keyboards/doro67/rgb/config.h
  keyboards/doro67/rgb/rgb.c
  keyboards/espectro/config.h
  keyboards/espectro/espectro.c
  keyboards/evil80/config.h
  keyboards/evil80/evil80.c
  keyboards/fc660c/config.h
  keyboards/fc660c/fc660c.c
  keyboards/gh60/revc/config.h
  keyboards/gh60/revc/revc.c
  keyboards/gh60/revc/revc.h
  keyboards/gh60/satan/config.h
  keyboards/gh60/satan/satan.c
  keyboards/kinesis/stapelberg/config.h
  keyboards/kinesis/stapelberg/stapelberg.c
  keyboards/noxary/260/260.c
  keyboards/noxary/260/config.h
  keyboards/playkbtw/ca66/ca66.c
  keyboards/playkbtw/ca66/config.h
  keyboards/playkbtw/pk60/config.h
  keyboards/playkbtw/pk60/pk60.c
  keyboards/redscarf_iiplus/verc/config.h
  keyboards/redscarf_iiplus/verc/verc.c
  keyboards/sentraq/s65_plus/config.h
  keyboards/sentraq/s65_plus/s65_plus.c
  keyboards/tada68/config.h
  keyboards/tada68/tada68.c
  keyboards/toad/config.h
  keyboards/toad/toad.c
  keyboards/westfoxtrot/aanzee/aanzee.c
  keyboards/westfoxtrot/aanzee/config.h
  keyboards/xmmx/config.h
  keyboards/xmmx/xmmx.c
Labels: keyboard

#10967 Refactor to use led config - Part 4
  keyboards/clueboard/17/17.c
  keyboards/clueboard/2x1800/2018/2018.c
  keyboards/clueboard/2x1800/2018/config.h
  keyboards/clueboard/60/config.h
  keyboards/clueboard/60/led.c
  keyboards/clueboard/66/rev1/config.h
  keyboards/clueboard/66/rev1/rev1.c
  keyboards/clueboard/66/rev2/config.h
  keyboards/clueboard/66/rev2/rev2.c
  keyboards/clueboard/66/rev3/config.h
  keyboards/clueboard/66/rev3/rev3.c
  keyboards/clueboard/66/rev4/rev4.c
  keyboards/clueboard/66_hotswap/prototype/config.h
  keyboards/clueboard/66_hotswap/prototype/prototype.c
  keyboards/clueboard/card/card.c
Labels: keyboard

#10812 Rebase develop after a master push
  .github/workflows/develop_update.yml
Labels: CI

#10852 Push the API data for develop as well
  .github/workflows/develop_api.yml
Labels: CI

#10048 Added Vagrant-10 keyboard
  keyboards/vagrant_10/config.h
  keyboards/vagrant_10/info.json
  keyboards/vagrant_10/keymaps/default/keymap.c
  keyboards/vagrant_10/readme.md
  keyboards/vagrant_10/rules.mk
  keyboards/vagrant_10/vagrant_10.c
  keyboards/vagrant_10/vagrant_10.h
Labels: keyboard

#11001 Fix failed develop updates within CI
  .github/workflows/develop_update.yml
Labels: CI

#11009 Fix the master->develop merge
  .github/workflows/develop_update.yml
Labels: CI

#10998 Remove references to ch-bootloader-jump.patch
  keyboards/at_at/660m/bootloader_defs.h
  keyboards/cannonkeys/satisfaction75/bootloader_defs.h
  keyboards/chavdai40/bootloader_defs.h
  keyboards/clueboard/66_hotswap/gen1/config.h
  keyboards/handwired/bluepill/bluepill70/bootloader_defs.h
  keyboards/matrix/m20add/bootloader_defs.h
  keyboards/matrix/noah/bootloader_defs.h
  keyboards/nebula12/bootloader_defs.h
  platforms/chibios/GENERIC_STM32_F042X6/configs/bootloader_defs.h
  platforms/chibios/GENERIC_STM32_F072XB/configs/bootloader_defs.h
  platforms/chibios/GENERIC_STM32_F303XC/configs/bootloader_defs.h
  tmk_core/tool/chibios/.gitignore
  tmk_core/tool/chibios/ch-bootloader-jump.patch
Labels: core, keyboard

#10991 [Keyboard] Add Wampus
  keyboards/zoo/wampus/bootloader_defs.h
  keyboards/zoo/wampus/chconf.h
  keyboards/zoo/wampus/config.h
  keyboards/zoo/wampus/halconf.h
  keyboards/zoo/wampus/info.json
  keyboards/zoo/wampus/keymaps/default/keymap.c
  keyboards/zoo/wampus/keymaps/via/keymap.c
  keyboards/zoo/wampus/keymaps/via/rules.mk
  keyboards/zoo/wampus/mcuconf.h
  keyboards/zoo/wampus/readme.md
  keyboards/zoo/wampus/rules.mk
  keyboards/zoo/wampus/wampus.c
  keyboards/zoo/wampus/wampus.h
Labels: keyboard, keymap, via

#10958 Add a new keyboard: yoichiro/lunakey_mini
  keyboards/yoichiro/lunakey_mini/config.h
  keyboards/yoichiro/lunakey_mini/info.json
  keyboards/yoichiro/lunakey_mini/keymaps/default/keymap.c
  keyboards/yoichiro/lunakey_mini/keymaps/default/rules.mk
  keyboards/yoichiro/lunakey_mini/lunakey_mini.c
  keyboards/yoichiro/lunakey_mini/lunakey_mini.h
  keyboards/yoichiro/lunakey_mini/readme.md
  keyboards/yoichiro/lunakey_mini/rules.mk
Labels: keyboard, keymap

#11008 Add rules.mk
  layouts/community/split_3x6_3/ddeklerk/rules.mk
Labels: keymap

#10930 refactor adelais en ciel rev.2, mechlovin9
  keyboards/mechlovin/adelais/config.h
  keyboards/mechlovin/adelais/keymaps/via/keymap.c
  keyboards/mechlovin/adelais/rgb_led/config.h
  keyboards/mechlovin/adelais/rgb_led/rev1/config.h
  keyboards/mechlovin/adelais/rgb_led/rev2/config.h
  keyboards/mechlovin/adelais/rgb_led/rev2/rev2.c
  keyboards/mechlovin/adelais/rgb_led/rev2/rules.mk
  keyboards/mechlovin/adelais/standard_led/config.h
  keyboards/mechlovin/adelais/standard_led/rev3/config.h
  keyboards/mechlovin/hannah65/mechlovin9/config.h
Labels: keyboard, keymap, via

#10900 Add M4cs Keymap for dekunukem/duckyPad
  keyboards/dekunukem/duckypad/chconf.h
  keyboards/dekunukem/duckypad/config.h
  keyboards/dekunukem/duckypad/duckypad.c
  keyboards/dekunukem/duckypad/duckypad.h
  keyboards/dekunukem/duckypad/halconf.h
  keyboards/dekunukem/duckypad/info.json
  keyboards/dekunukem/duckypad/keymaps/default/config.h
  keyboards/dekunukem/duckypad/keymaps/default/keymap.c
  keyboards/dekunukem/duckypad/keymaps/default/readme.md
  keyboards/dekunukem/duckypad/keymaps/m4cs/config.h
  keyboards/dekunukem/duckypad/keymaps/m4cs/keymap.c
  keyboards/dekunukem/duckypad/keymaps/m4cs/readme.md
  keyboards/dekunukem/duckypad/keymaps/m4cs/rules.mk
  keyboards/dekunukem/duckypad/mcuconf.h
  keyboards/dekunukem/duckypad/readme.md
  keyboards/dekunukem/duckypad/rules.mk
Labels: keyboard, keymap

#10951 add dcompact layout for minivan
  keyboards/thevankeyboards/minivan/keymaps/dcompact/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/dcompact/readme.md
  keyboards/thevankeyboards/minivan/keymaps/dcompact/rules.mk
Labels: keymap

#10933 Added BKS65 Bolsa Supply PCB
  keyboards/fjlabs/bks65/bks65.c
  keyboards/fjlabs/bks65/bks65.h
  keyboards/fjlabs/bks65/config.h
  keyboards/fjlabs/bks65/info.json
  keyboards/fjlabs/bks65/keymaps/default/keymap.c
  keyboards/fjlabs/bks65/keymaps/via/keymap.c
  keyboards/fjlabs/bks65/keymaps/via/rules.mk
  keyboards/fjlabs/bks65/readme.md
  keyboards/fjlabs/bks65/rules.mk
Labels: keyboard, keymap, via

#10970 Add minim keyboard
  keyboards/minim/config.h
  keyboards/minim/info.json
  keyboards/minim/keymaps/default/keymap.json
  keyboards/minim/minim.c
  keyboards/minim/minim.h
  keyboards/minim/readme.md
  keyboards/minim/rules.mk
Labels: keyboard, keymap

#10867 add bt66tech60 handwired
  keyboards/bt66tech/bt66tech60/bt66tech60.c
  keyboards/bt66tech/bt66tech60/bt66tech60.h
  keyboards/bt66tech/bt66tech60/chconf.h
  keyboards/bt66tech/bt66tech60/config.h
  keyboards/bt66tech/bt66tech60/halconf.h
  keyboards/bt66tech/bt66tech60/info.json
  keyboards/bt66tech/bt66tech60/keymaps/default/keymap.c
  keyboards/bt66tech/bt66tech60/keymaps/default/readme.md
  keyboards/bt66tech/bt66tech60/mcuconf.h
  keyboards/bt66tech/bt66tech60/readme.md
  keyboards/bt66tech/bt66tech60/rules.mk
Labels: keyboard, keymap

#10827 Fixed VIA keymap build warning on gcc 10.2.0, Fixed misleading LED function names, Fixed formatting
  keyboards/idb/idb_60/idb_60.c
  keyboards/idb/idb_60/idb_60.h
  keyboards/idb/idb_60/keymaps/all_keys/keymap.c
  keyboards/idb/idb_60/keymaps/default/keymap.c
  keyboards/idb/idb_60/keymaps/pngu/keymap.c
  keyboards/idb/idb_60/keymaps/via/keymap.c
  keyboards/idb/idb_60/keymaps/via/rules.mk
  keyboards/idb/idb_60/rules.mk
Labels: keyboard, keymap, via

#10887 [Keymap] Add personal massdrop/ctrl:r-pufky keymap.
  keyboards/massdrop/ctrl/keymaps/r-pufky/config.h
  keyboards/massdrop/ctrl/keymaps/r-pufky/keymap.c
  keyboards/massdrop/ctrl/keymaps/r-pufky/readme.md
Labels: keymap

#10990 Boardrun Classic & Bizarre layouts (replaces PR 10934)
  keyboards/boardrun/bizarre/bizarre.c
  keyboards/boardrun/bizarre/bizarre.h
  keyboards/boardrun/bizarre/config.h
  keyboards/boardrun/bizarre/info.json
  keyboards/boardrun/bizarre/keymaps/default/keymap.c
  keyboards/boardrun/bizarre/keymaps/nopunin10did/keymap.c
  keyboards/boardrun/bizarre/keymaps/via/keymap.c
  keyboards/boardrun/bizarre/keymaps/via/rules.mk
  keyboards/boardrun/bizarre/readme.md
  keyboards/boardrun/bizarre/rules.mk
  keyboards/boardrun/classic/classic.c
  keyboards/boardrun/classic/classic.h
  keyboards/boardrun/classic/config.h
  keyboards/boardrun/classic/info.json
  keyboards/boardrun/classic/keymaps/default/keymap.c
  keyboards/boardrun/classic/keymaps/via/keymap.c
  keyboards/boardrun/classic/keymaps/via/rules.mk
  keyboards/boardrun/classic/readme.md
  keyboards/boardrun/classic/rules.mk
Labels: keyboard, keymap, via

#10927 Added VIA keymap to punk75 keyboard
  keyboards/punk75/keymaps/via/keymap.c
  keyboards/punk75/keymaps/via/rules.mk
Labels: keymap, via

#10988 Added Phantom Keyboard by Lucid
  keyboards/lucid/phantom_hs/config.h
  keyboards/lucid/phantom_hs/info.json
  keyboards/lucid/phantom_hs/keymaps/default/keymap.c
  keyboards/lucid/phantom_hs/keymaps/via/keymap.c
  keyboards/lucid/phantom_hs/keymaps/via/rules.mk
  keyboards/lucid/phantom_hs/phantom_hs.c
  keyboards/lucid/phantom_hs/phantom_hs.h
  keyboards/lucid/phantom_hs/readme.md
  keyboards/lucid/phantom_hs/rules.mk
Labels: keyboard, keymap, via

#10982 [Keyboard] Add Viktus Styrka
  keyboards/viktus/styrka/chconf.h
  keyboards/viktus/styrka/config.h
  keyboards/viktus/styrka/halconf.h
  keyboards/viktus/styrka/info.json
  keyboards/viktus/styrka/keymaps/all/keymap.c
  keyboards/viktus/styrka/keymaps/all/readme.md
  keyboards/viktus/styrka/keymaps/default/keymap.c
  keyboards/viktus/styrka/keymaps/default/readme.md
  keyboards/viktus/styrka/keymaps/split_bs/keymap.c
  keyboards/viktus/styrka/keymaps/split_bs/readme.md
  keyboards/viktus/styrka/keymaps/via/keymap.c
  keyboards/viktus/styrka/keymaps/via/readme.md
  keyboards/viktus/styrka/keymaps/via/rules.mk
  keyboards/viktus/styrka/mcuconf.h
  keyboards/viktus/styrka/readme.md
  keyboards/viktus/styrka/rules.mk
  keyboards/viktus/styrka/styrka.c
  keyboards/viktus/styrka/styrka.h
Labels: keyboard, keymap, via

#11014 VIA support for Lunakey Mini keyboard.
  keyboards/yoichiro/lunakey_mini/keymaps/via/keymap.c
  keyboards/yoichiro/lunakey_mini/keymaps/via/rules.mk
Labels: keymap, via

#10911 Added pcurt854 keymap to Preonic keyboard
  keyboards/preonic/keymaps/pcurt854/config.h
  keyboards/preonic/keymaps/pcurt854/keymap.c
  keyboards/preonic/keymaps/pcurt854/readme.md
  keyboards/preonic/keymaps/pcurt854/rules.mk
Labels: keymap

#10880 Added wilba.tech WT65-H1
  keyboards/wilba_tech/wt65_h1/config.h
  keyboards/wilba_tech/wt65_h1/info.json
  keyboards/wilba_tech/wt65_h1/keymaps/default/keymap.c
  keyboards/wilba_tech/wt65_h1/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_h1/keymaps/via/rules.mk
  keyboards/wilba_tech/wt65_h1/readme.md
  keyboards/wilba_tech/wt65_h1/rules.mk
  keyboards/wilba_tech/wt65_h1/wt65_h1.c
  keyboards/wilba_tech/wt65_h1/wt65_h1.h
Labels: keyboard, keymap, via

#11006 CapsUnlocked CU65
  keyboards/capsunlocked/cu65/config.h
  keyboards/capsunlocked/cu65/cu65.c
  keyboards/capsunlocked/cu65/cu65.h
  keyboards/capsunlocked/cu65/info.json
  keyboards/capsunlocked/cu65/keymaps/default/keymap.c
  keyboards/capsunlocked/cu65/keymaps/default/readme.md
  keyboards/capsunlocked/cu65/keymaps/iso/keymap.c
  keyboards/capsunlocked/cu65/keymaps/iso/readme.md
  keyboards/capsunlocked/cu65/keymaps/via/keymap.c
  keyboards/capsunlocked/cu65/keymaps/via/rules.mk
  keyboards/capsunlocked/cu65/readme.md
  keyboards/capsunlocked/cu65/rules.mk
  keyboards/capsunlocked/readme.md
Labels: keyboard, keymap, via

#11026 Add VIA Support for Dimple Plus
  keyboards/lazydesigners/dimpleplus/keymaps/via/keymap.c
  keyboards/lazydesigners/dimpleplus/keymaps/via/rules.mk
Labels: keymap, via

#10980 Add keyboard PistachioMacroPad
  keyboards/pistachio_mp/config.h
  keyboards/pistachio_mp/info.json
  keyboards/pistachio_mp/keymaps/default/keymap.c
  keyboards/pistachio_mp/keymaps/default/readme.md
  keyboards/pistachio_mp/pistachio_mp.c
  keyboards/pistachio_mp/pistachio_mp.h
  keyboards/pistachio_mp/readme.md
  keyboards/pistachio_mp/rules.mk
Labels: keyboard, keymap

#10907 ST7565 tidyup
  drivers/ugfx/gdisp/st7565/board_st7565_template.h
  drivers/ugfx/gdisp/st7565/driver.mk
  drivers/ugfx/gdisp/st7565/gdisp_lld_ST7565.c
  keyboards/ergodox_infinity/board_st7565.h
  quantum/quantum.h
  quantum/visualizer/lcd_keyframes.c
  quantum/visualizer/resources/lcd_logo.c
  quantum/visualizer/resources/lcd_logo.png
  quantum/visualizer/visualizer.mk
Labels: core, enhancement, keyboard

#10681 Refactor qmk_install.sh
  docs/newbs_getting_started.md
  util/freebsd_install.sh
  util/install/arch.sh
  util/install/debian.sh
  util/install/fedora.sh
  util/install/freebsd.sh
  util/install/gentoo.sh
  util/install/linux_shared.sh
  util/install/macos.sh
  util/install/msys2.sh
  util/install/opensuse.sh
  util/install/sabayon.sh
  util/install/slackware.sh
  util/install/solus.sh
  util/install/void.sh
  util/linux_install.sh
  util/macos_install.sh
  util/msys2_install.sh
  util/qmk_install.sh
Labels: core, documentation, enhancement, needs testing

#9826 Auto shift: support repeats and early registration
  docs/feature_auto_shift.md
  quantum/process_keycode/process_auto_shift.c
  quantum/process_keycode/process_auto_shift.h
  quantum/quantum.c
Labels: core, documentation, enhancement

#10875 Add rainkeeb keyboard
  keyboards/rainkeeb/config.h
  keyboards/rainkeeb/info.json
  keyboards/rainkeeb/keymaps/default/keymap.c
  keyboards/rainkeeb/keymaps/via/keymap.c
  keyboards/rainkeeb/keymaps/via/rules.mk
  keyboards/rainkeeb/rainkeeb.c
  keyboards/rainkeeb/rainkeeb.h
  keyboards/rainkeeb/readme.md
  keyboards/rainkeeb/rules.mk
Labels: keyboard, keymap, via

#10986 [Docs] Add VBUS hack for teensys
  docs/feature_split_keyboard.md
Labels: documentation

#11048 rainkeeb info.json fix
  keyboards/rainkeeb/info.json
Labels: keyboard

#7949 Rename ledmatrix.h to match .c file
  keyboards/massdrop/alt/alt.h
  keyboards/massdrop/alt/config_led.c
  keyboards/massdrop/alt/keymaps/default_md/keymap.c
  keyboards/massdrop/alt/keymaps/reywood/rgb_matrix_user.c
  keyboards/massdrop/ctrl/config_led.c
  keyboards/massdrop/ctrl/ctrl.h
  keyboards/massdrop/ctrl/keymaps/default_md/keymap.c
  keyboards/massdrop/ctrl/keymaps/endgame/config_led.c
  keyboards/massdrop/ctrl/keymaps/matthewrobo/config_led.c
  keyboards/massdrop/ctrl/keymaps/responsive_pattern/keymap.c
  quantum/led_matrix.c
  quantum/led_matrix.h
  quantum/led_matrix_drivers.c
  quantum/quantum.h
  tmk_core/common/arm_atsam/suspend.c
  tmk_core/protocol/arm_atsam.mk
  tmk_core/protocol/arm_atsam/arm_atsam_protocol.h
  tmk_core/protocol/arm_atsam/md_rgb_matrix.c
  tmk_core/protocol/arm_atsam/md_rgb_matrix.h
  tmk_core/protocol/arm_atsam/md_rgb_matrix_programs.c
Labels: core, enhancement, keyboard, keymap

#10840 Split LED_MATRIX_ENABLE into _ENABLE and _DRIVER
  common_features.mk
  docs/feature_led_matrix.md
  docs/ja/feature_led_matrix.md
  keyboards/clueboard/66_hotswap/gen1/rules.mk
  keyboards/terrazzo/rules.mk
Labels: core, documentation, enhancement, keyboard, translation

#11058 Cozykeys Speedo Configurator fix
  keyboards/cozykeys/speedo/readme.md
  keyboards/cozykeys/speedo/speedo.h
  keyboards/cozykeys/speedo/v2/v2.c
  keyboards/cozykeys/speedo/v2/v2.h
  keyboards/cozykeys/speedo/v3/v3.c
  keyboards/cozykeys/speedo/v3/v3.h
Labels: keyboard

#11057 Configurable serial usart timeout
  docs/serial_driver.md
  drivers/chibios/serial_usart.c
Labels: core, documentation

#11033 Changed README name for Phantom by Lucid
  keyboards/lucid/phantom_hs/readme.md
Labels: keyboard

#11037 map reset key to the correct location
  layouts/community/ergodox/ab/keymap.c
Labels: keymap

#11039 KBD67 Rev2 VIA: Increase layer count from 2 to 4
  keyboards/kbdfans/kbd67/rev2/keymaps/via/config.h
  keyboards/kbdfans/kbd67/rev2/keymaps/via/keymap.c
Labels: bug, keymap, via

#11021 Add edc40 keyboard
  keyboards/edc40/config.h
  keyboards/edc40/edc40.c
  keyboards/edc40/edc40.h
  keyboards/edc40/info.json
  keyboards/edc40/keymaps/default/keymap.c
  keyboards/edc40/keymaps/default/readme.md
  keyboards/edc40/keymaps/oj/keymap.c
  keyboards/edc40/keymaps/oj/readme.md
  keyboards/edc40/readme.md
  keyboards/edc40/rules.mk
Labels: keyboard, keymap

#10996 Fix int wrapping for timer_expired macros
  tmk_core/common/timer.h
Labels: core

#10964 Reduce travis load by replacing an exclusive grep with an inclusive grep
  lib/python/qmk/tests/test_cli_commands.py
  util/travis_build.sh
  util/travis_test.sh
  util/travis_utils.sh
Labels: cli, core, python
