Repository qmk/qmk_firmware, pull requests merged in 2020-01, with the labels that each got.

#6018 Add creation of new keyboard in child directory
  util/new_keyboard.sh
Labels: awaiting changes, enhancement

#7737 Aranck handwired keyboard to support community MIT layouts, also minor optimisations done
  keyboards/handwired/aranck/aranck.h
  keyboards/handwired/aranck/config.h
  keyboards/handwired/aranck/info.json
  keyboards/handwired/aranck/keymaps/default/config.h
  keyboards/handwired/aranck/keymaps/default/keymap.c
  keyboards/handwired/aranck/keymaps/turkishish/config.h
  keyboards/handwired/aranck/keymaps/turkishish/keymap.c
  keyboards/handwired/aranck/keymaps/turkishish/readme.md
  keyboards/handwired/aranck/readme.md
  keyboards/handwired/aranck/rules.mk
Labels: enhancement, keyboard, keymap

#7464 add japanese translation (faq part)
  docs/ja/driver_installation_zadig.md
  docs/ja/faq.md
  docs/ja/faq_build.md
  docs/ja/faq_debug.md
  docs/ja/faq_general.md
  docs/ja/faq_keymap.md
Labels: documentation, translation

#7741 Update Kinesis keymap
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/readme.md
Labels: keymap

#7756 Change cKeys Washington keyboard to use atmel-dfu bootloader
  keyboards/ckeys/washington/rules.mk
Labels: keyboard

#7752 [Keyboard] add Just60 keyboard
  keyboards/just60/config.h
  keyboards/just60/just60.h
  keyboards/just60/keymaps/default/keymap.c
  keyboards/just60/keymaps/default/readme.md
  keyboards/just60/readme.md
  keyboards/just60/rules.mk
Labels: keyboard

#7731 [Keyboard] Ergodox EZ - Re-init ISSI driver on reconnect
  keyboards/ergodox_ez/matrix.c
Labels: bug, enhancement, keyboard

#7757 Fix typo in action.c
  tmk_core/common/action.c
Labels: bug, core

#7764 Remove remnants of custom matrix from Skog rules.mk
  keyboards/percent/skog/rules.mk
Labels: bug, keyboard

#7746 Updates for Sol 2
  keyboards/rgbkb/sol/keymaps/default/keymap.c
  keyboards/rgbkb/sol/keymaps/default/readme.md
  keyboards/rgbkb/sol/rev2/config.h
  keyboards/rgbkb/sol/rev2/post_rules.mk
  keyboards/rgbkb/sol/rev2/rev2.c
  keyboards/rgbkb/sol/rev2/rules.mk
Labels: keyboard, keymap

#7751 adjust h87a RGB settings
  keyboards/hineybush/h87a/config.h
  keyboards/hineybush/h87a/h87a.c
  keyboards/hineybush/h87a/rules.mk
Labels: keyboard

#7730 add initial ergoslab directory
  keyboards/ergoslab/config.h
  keyboards/ergoslab/ergoslab.c
  keyboards/ergoslab/ergoslab.h
  keyboards/ergoslab/info.json
  keyboards/ergoslab/keymaps/default/config.h
  keyboards/ergoslab/keymaps/default/keymap.c
  keyboards/ergoslab/readme.md
  keyboards/ergoslab/rev1/config.h
  keyboards/ergoslab/rev1/rev1.c
  keyboards/ergoslab/rev1/rev1.h
  keyboards/ergoslab/rules.mk
Labels: keyboard

#7765 Added description of LIB_SRC to docs/config_options.md
  docs/config_options.md
Labels: documentation

#7763 adding tf68 keymap, my first pull request. expecting there's lots of bad practice, sorry
  keyboards/keebio/tragicforce68/keymaps/rossman360/keymap.c
  keyboards/keebio/tragicforce68/keymaps/rossman360/readme.md
Labels: keymap

#7772 add Levinson keymap
  keyboards/keebio/levinson/keymaps/rossman360/keymap.c
Labels: keymap

#7762 Adding custom userspace & 2 keymaps
  keyboards/crkbd/keymaps/curry/config.h
  keyboards/crkbd/keymaps/curry/keymap.c
  keyboards/crkbd/keymaps/curry/rules.mk
  keyboards/lily58/keymaps/curry/config.h
  keyboards/lily58/keymaps/curry/keymap.c
  keyboards/lily58/keymaps/curry/rules.mk
  users/curry/.gitignore
  users/curry/LICENSE.md
  users/curry/README.md
  users/curry/config.h
  users/curry/curry.c
  users/curry/curry.h
  users/curry/glcdfont.c
  users/curry/oled.c
  users/curry/process_records.c
  users/curry/process_records.h
  users/curry/rgb_stuff.c
  users/curry/rgb_stuff.h
  users/curry/rgblight_breathe_table.h
  users/curry/rules.mk
  users/curry/tap_dances.c
  users/curry/tap_dances.h
  users/curry/wrappers.h
Labels: keymap

#7776 small hbcp changes
  keyboards/hineybush/hbcp/config.h
  keyboards/hineybush/hbcp/hbcp.c
  keyboards/hineybush/hbcp/rules.mk
Labels: keyboard

#7472 Added csc027 keymaps for keebio/iris and planck
  keyboards/keebio/iris/keymaps/csc027/config.h
  keyboards/keebio/iris/keymaps/csc027/keymap.c
  keyboards/keebio/iris/keymaps/csc027/rules.mk
  keyboards/planck/keymaps/csc027/keymap.c
  keyboards/planck/keymaps/csc027/rules.mk
  users/csc027/csc027.c
  users/csc027/csc027.h
  users/csc027/custom_audio.c
  users/csc027/custom_audio.h
  users/csc027/custom_rgb.c
  users/csc027/custom_rgb.h
  users/csc027/defines.h
  users/csc027/rules.mk
  users/csc027/usb_led.c
  users/csc027/usb_led.h
Labels: keymap

#7777 [Keymap] crd's personal keymap for hotswap leaf60
  keyboards/foxlab/leaf60/hotswap/keymaps/crd/keymap.c
Labels: keymap

#7783 [Docs] Update Japanese translation
  docs/ja/config_options.md
  docs/ja/faq_build.md
  docs/ja/newbs_building_firmware.md
Labels: documentation, translation

#7785 [Docs] fix installation commands for macos
  docs/getting_started_build_tools.md
Labels: documentation

#7699 Move some common matrix code to a common location
  common_features.mk
  keyboards/kinesis/alvicstep/rules.mk
  keyboards/kinesis/rules.mk
  keyboards/xd84/custom_matrix_helper.c
  keyboards/xd84/rules.mk
  keyboards/xd96/custom_matrix_helper.c
  keyboards/xd96/rules.mk
  quantum/matrix.c
  quantum/matrix_common.c
  quantum/split_common/matrix.c
  quantum/split_common/matrix.h
  tmk_core/common/matrix.h
Labels: core

#7779 Userspace add
  users/rossman360/readme.md
  users/rossman360/rossman360.c
  users/rossman360/rossman360.h
  users/rossman360/rules.mk
Labels: keymap

#7792 GH60 rev. C: fix LAYOUT_60_iso key sequence in QMK Configurator
  keyboards/gh60/revc/info.json
Labels: enhancement, keyboard

#7771 QMK support pcb db63 hotswap rbg
  keyboards/db/db63/README.md
  keyboards/db/db63/config.h
  keyboards/db/db63/db63.c
  keyboards/db/db63/db63.h
  keyboards/db/db63/info.json
  keyboards/db/db63/keymaps/default/keymap.c
  keyboards/db/db63/rules.mk
  keyboards/db/db63/usbconfig.h
Labels: keyboard

#7767 [Keyboard] Add QMK support for Red Scarf I numberpads
  keyboards/redscarf_i/config.h
  keyboards/redscarf_i/info.json
  keyboards/redscarf_i/keymaps/default/keymap.c
  keyboards/redscarf_i/keymaps/ortho_5x4/keymap.c
  keyboards/redscarf_i/keymaps/ortho_6x4/keymap.c
  keyboards/redscarf_i/readme.md
  keyboards/redscarf_i/redscarf_i.c
  keyboards/redscarf_i/redscarf_i.h
  keyboards/redscarf_i/rules.mk
Labels: keyboard

#7788 Added VIA support to Efreet
  keyboards/efreet/config.h
  keyboards/efreet/keymaps/via/keymap.c
  keyboards/efreet/keymaps/via/rules.mk
  keyboards/efreet/rules.mk
Labels: keyboard

#7799 h75_singa changes
  keyboards/hineybush/h75_singa/h75_singa.c
  keyboards/hineybush/h75_singa/rules.mk
Labels: keyboard

#7787 Update check commands in Japanese documents
  docs/ja/README.md
  docs/ja/arm_debugging.md
  docs/ja/cli.md
  docs/ja/cli_configuration.md
  docs/ja/contributing.md
  docs/ja/driver_installation_zadig.md
  docs/ja/faq.md
  docs/ja/faq_debug.md
  docs/ja/faq_general.md
  docs/ja/faq_keymap.md
  docs/ja/getting_started_getting_help.md
  docs/ja/getting_started_github.md
  docs/ja/getting_started_introduction.md
  docs/ja/newbs.md
  docs/ja/newbs_building_firmware_configurator.md
  docs/ja/newbs_flashing.md
  docs/ja/newbs_getting_started.md
  docs/ja/newbs_git_best_practices.md
  docs/ja/newbs_git_resolving_merge_conflicts.md
  docs/ja/newbs_git_resynchronize_a_branch.md
  docs/ja/newbs_git_using_your_master_branch.md
  docs/ja/newbs_learn_more_resources.md
  docs/ja/newbs_testing_debugging.md
Labels: documentation, translation

#7800 [Keymap] Cleanup of Drashna code
  keyboards/c39/keymaps/drashna/config.h
  keyboards/c39/keymaps/drashna/rules.mk
  keyboards/keebio/iris/keymaps/drashna/config.h
  keyboards/kyria/keymaps/drashna/config.h
  keyboards/kyria/keymaps/drashna/keymap.c
  keyboards/kyria/keymaps/drashna/rules.mk
  layouts/community/ergodox/drashna/config.h
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ergodox/drashna/rules.mk
  layouts/community/ergodox/drashna_glow/config.h
  layouts/community/ergodox/drashna_glow/keymap.c
  layouts/community/ergodox/drashna_glow/rules.mk
  layouts/community/ortho_4x12/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/rules.mk
  layouts/community/ortho_5x12/drashna/rules.mk
  users/drashna/drashna.c
  users/drashna/process_records.c
  users/drashna/rgb_stuff.c
  users/drashna/rules.mk
Labels: keymap

#7793 Add an 65_ansi community layout
  keyboards/nk65/config.h
  keyboards/tada68/rules.mk
  keyboards/tada68/tada68.h
  layouts/community/65_ansi/yanfali/keymap.c
Labels: keyboard, keymap

#7652 Juno
  keyboards/maartenwut/atom47/keymaps/junonum_a47/keymap.c
  keyboards/maartenwut/atom47/keymaps/junonum_a47/readme.md
  keyboards/planck/keymaps/juno/keymap.c
  keyboards/planck/keymaps/juno/readme.md
  keyboards/preonic/keymaps/juno/keymap.c
  keyboards/preonic/keymaps/juno/readme.md
  keyboards/preonic/keymaps/juno/rules.mk
  keyboards/vitamins_included/keymaps/juno/keymap.c
  keyboards/vitamins_included/keymaps/juno/rules.mk
  layouts/community/ortho_4x12/juno/config.h
  layouts/community/ortho_4x12/juno/keymap.c
  layouts/community/ortho_4x12/juno/readme.md
  layouts/community/ortho_4x12/juno/rules.mk
  layouts/community/ortho_4x12/junonum/config.h
  layouts/community/ortho_4x12/junonum/keymap.c
  layouts/community/ortho_4x12/junonum/readme.md
  layouts/community/ortho_4x12/junonum/rules.mk
Labels: keymap

#7812 Making keymaps based on userspace
  keyboards/keebio/tragicforce68/keymaps/rossman360/keymap.c
  keyboards/keebio/tragicforce68/keymaps/rossman360/rules.mk
  users/rossman360/rossman360.c
  users/rossman360/rossman360.h
Labels: keymap

#7807 [Keyboard] Add keyboard Reviung41
  keyboards/reviung41/config.h
  keyboards/reviung41/info.json
  keyboards/reviung41/keymaps/default/keymap.c
  keyboards/reviung41/keymaps/default/readme.md
  keyboards/reviung41/readme.md
  keyboards/reviung41/reviung41.c
  keyboards/reviung41/reviung41.h
  keyboards/reviung41/rules.mk
Labels: keyboard

#7613 New levinson keymap
  keyboards/keebio/levinson/keymaps/ksamborski/config.h
  keyboards/keebio/levinson/keymaps/ksamborski/keymap.c
  keyboards/keebio/levinson/keymaps/ksamborski/rules.mk
Labels: keymap

#6993 add info.json for dactyl_promicro
  keyboards/handwired/dactyl_promicro/dactyl_promicro.h
  keyboards/handwired/dactyl_promicro/info.json
  keyboards/handwired/dactyl_promicro/keymaps/default/keymap.c
Labels: enhancement, keyboard

#7742 RGB matrix effect - left-right gradient
  docs/feature_rgb_matrix.md
  keyboards/crkbd/keymaps/dsanchezseco/config.h
  quantum/rgb_matrix_animations/gradient_left_right_anim.h
  quantum/rgb_matrix_animations/rgb_matrix_effects.inc
Labels: enhancement

#7813 More minor tweaks.
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/readme.md
Labels: keymap

#7819 Added NCC-1701-KB 3x3 Keypad with Encoder and Keymap
  keyboards/ncc1701kb/config.h
  keyboards/ncc1701kb/info.json
  keyboards/ncc1701kb/keymaps/default/keymap.c
  keyboards/ncc1701kb/ncc1701kb.c
  keyboards/ncc1701kb/ncc1701kb.h
  keyboards/ncc1701kb/readme.md
  keyboards/ncc1701kb/rules.mk
Labels: keyboard

#7820 Tada68 Fixes and Minor Refactoring
  keyboards/tada68/config.h
  keyboards/tada68/info.json
  keyboards/tada68/keymaps/default/keymap.c
  keyboards/tada68/readme.md
  keyboards/tada68/rules.mk
  keyboards/tada68/tada68.h
Labels: bug, enhancement, keyboard

#7818 [Keyboard] add Allison keyboard
  keyboards/allison/allison.c
  keyboards/allison/allison.h
  keyboards/allison/config.h
  keyboards/allison/info.json
  keyboards/allison/keymaps/default/keymap.c
  keyboards/allison/keymaps/default/readme.md
  keyboards/allison/keymaps/via/keymap.c
  keyboards/allison/keymaps/via/readme.md
  keyboards/allison/keymaps/via/rules.mk
  keyboards/allison/readme.md
  keyboards/allison/rules.mk
Labels: keyboard

#7688 [Keymap] Improvements to KidBrazil keymap to better handle OLED/LED Matrix timeout.
  keyboards/crkbd/keymaps/kidbrazil/README.md
  keyboards/crkbd/keymaps/kidbrazil/keymap.c
Labels: keymap

#7826 Update Wasdat config
  keyboards/maartenwut/wasdat/config.h
  keyboards/maartenwut/wasdat/readme.md
  keyboards/maartenwut/wasdat/rules.mk
  keyboards/maartenwut/wasdat/wasdat.h
Labels: enhancement, keyboard

#7808 added custom keymap and config for dz60rgb v1
  keyboards/dztech/dz60rgb/keymaps/kgreulich/config.h
  keyboards/dztech/dz60rgb/keymaps/kgreulich/keymap.c
  keyboards/dztech/dz60rgb/keymaps/kgreulich/rules.mk
Labels: keymap

#7823 add Allison Numpad
  keyboards/allison_numpad/allison_numpad.c
  keyboards/allison_numpad/allison_numpad.h
  keyboards/allison_numpad/config.h
  keyboards/allison_numpad/info.json
  keyboards/allison_numpad/keymaps/default/keymap.c
  keyboards/allison_numpad/keymaps/default/readme.md
  keyboards/allison_numpad/keymaps/via/keymap.c
  keyboards/allison_numpad/keymaps/via/readme.md
  keyboards/allison_numpad/keymaps/via/rules.mk
  keyboards/allison_numpad/readme.md
  keyboards/allison_numpad/rules.mk
Labels: keyboard

#7684 fixed hhkb keymap issue on e6_rgb
  keyboards/exclusive/e6_rgb/config.h
  keyboards/exclusive/e6_rgb/e6_rgb.c
  keyboards/exclusive/e6_rgb/e6_rgb.h
  keyboards/exclusive/e6_rgb/info.json
  keyboards/exclusive/e6_rgb/keymaps/allleds/keymap.c
  keyboards/exclusive/e6_rgb/keymaps/allleds/readme.md
  keyboards/exclusive/e6_rgb/keymaps/allleds/rules.mk
  keyboards/exclusive/e6_rgb/keymaps/via/keymap.c
  keyboards/exclusive/e6_rgb/keymaps/via/rules.mk
  keyboards/exclusive/e6_rgb/rules.mk
Labels: keyboard

#7833 Handwired Minorca Refactor
  keyboards/handwired/minorca/config.h
  keyboards/handwired/minorca/info.json
  keyboards/handwired/minorca/keymaps/default/config.h
  keyboards/handwired/minorca/keymaps/default/rules.mk
  keyboards/handwired/minorca/keymaps/rgb/config.h
  keyboards/handwired/minorca/keymaps/rgb/readme.md
  keyboards/handwired/minorca/keymaps/rgb/rules.mk
  keyboards/handwired/minorca/minorca.c
  keyboards/handwired/minorca/minorca.h
  keyboards/handwired/minorca/readme.md
  keyboards/handwired/minorca/rules.mk
Labels: enhancement, keyboard

#7836 Ensure `PROGMEM` is present on default keymaps
  keyboards/cannonkeys/satisfaction75/keymaps/default/keymap.c
  keyboards/cannonkeys/satisfaction75/keymaps/tester/keymap.c
  keyboards/cannonkeys/satisfaction75/keymaps/via/keymap.c
  keyboards/converter/usb_usb/keymaps/ble/keymap.c
  keyboards/converter/usb_usb/keymaps/default/keymap.c
  keyboards/handwired/bluepill/keymaps/default/keymap.c
  keyboards/handwired/bluepill/keymaps/iso/keymap.c
  keyboards/handwired/ck4x4/keymaps/default/keymap.c
  keyboards/infinity60/keymaps/default/keymap.c
  keyboards/k_type/keymaps/default/keymap.c
  keyboards/sirius/unigo66/keymaps/default/keymap.c
  keyboards/whitefox/keymaps/default/keymap.c
Labels: enhancement, keyboard, keymap

#7843 Update Breaking Changes doc timeline
  docs/breaking_changes.md
Labels: documentation

#7790 Userspace refactor, adding leader key functionality
  keyboards/crkbd/keymaps/curry/config.h
  keyboards/crkbd/keymaps/curry/keymap.c
  keyboards/crkbd/keymaps/curry/rules.mk
  keyboards/lily58/keymaps/curry/config.h
  keyboards/lily58/keymaps/curry/keymap.c
  keyboards/lily58/keymaps/curry/rules.mk
  users/curry/LICENSE
  users/curry/config.h
  users/curry/curry.c
  users/curry/curry.h
  users/curry/glcdfont.c
  users/curry/leader.c
  users/curry/leader.h
  users/curry/oled.c
  users/curry/process_records.c
  users/curry/process_records.h
  users/curry/rgb_lighting_user.c
  users/curry/rgb_lighting_user.h
  users/curry/rgb_matrix_user.c
  users/curry/rgb_matrix_user.h
  users/curry/rgb_stuff.h
  users/curry/rules.mk
  users/curry/tap_dances.c
  users/curry/tap_dances.h
  users/curry/wrappers.h
Labels: keymap

#7821 Fix matrix_scan_user is not called at stm32 env(projectkb/alice etc.)
  keyboards/cannonkeys/stm32f072/keyboard.c
Labels: bug

#7568 Feature/encoder flip
  docs/ChangeLog/20200229/PR7568.md
  docs/feature_encoders.md
  quantum/encoder.c
Labels: breaking_change, core, documentation, enhancement, future_2019q3

#7786 Fix docker script and document
  docs/getting_started_build_tools.md
  util/docker_build.sh
Labels: bug, documentation

#7008 Move backlight keycode handling to process_keycode/
  common_features.mk
  docs/ChangeLog/20200229/PR7008.md
  quantum/keymap_common.c
  quantum/process_keycode/process_backlight.c
  quantum/process_keycode/process_backlight.h
  quantum/quantum.c
  quantum/quantum.h
  tmk_core/common/action.c
  tmk_core/common/action_code.h
Labels: breaking_change, core, future_2019q3, optimization

#7705 Refactor f103,f072,f042 based keyboards to use new MCU selection defaults
  keyboards/at_at/660m/rules.mk
  keyboards/candybar/rules.mk
  keyboards/cannonkeys/an_c/rules.mk
  keyboards/cannonkeys/chimera65/rules.mk
  keyboards/cannonkeys/instant60/rules.mk
  keyboards/cannonkeys/iron165/rules.mk
  keyboards/cannonkeys/ortho48/rules.mk
  keyboards/cannonkeys/ortho60/rules.mk
  keyboards/cannonkeys/ortho75/rules.mk
  keyboards/cannonkeys/practice60/rules.mk
  keyboards/cannonkeys/practice65/rules.mk
  keyboards/cannonkeys/satisfaction75/rules.mk
  keyboards/cannonkeys/savage65/rules.mk
  keyboards/cannonkeys/tmov2/rules.mk
  keyboards/converter/siemens_tastatur/rules.mk
  keyboards/handwired/ck4x4/rules.mk
  keyboards/handwired/onekey/bluepill/rules.mk
  keyboards/handwired/onekey/stm32f0_disco/rules.mk
  keyboards/peiorisboards/ixora/rules.mk
  keyboards/projectkb/alice/rules.mk
  keyboards/retro_75/rules.mk
  keyboards/vinta/rules.mk
Labels: keyboard

#7838 Add per-key IGNORE_MOD_TAP_INTERRUPT feature
  docs/config_options.md
  docs/custom_quantum_functions.md
  docs/ja/config_options.md
  tmk_core/common/action.c
Labels: core, documentation, enhancement

#7848 Fix a couple of USB VIDs for the API
  keyboards/handwired/promethium/config.h
  keyboards/uk78/config.h
Labels: enhancement, keyboard

#7849 Update my iris keymap for LTO and rgbled split
  keyboards/keebio/iris/keymaps/sethBarberee/config.h
  keyboards/keebio/iris/keymaps/sethBarberee/rules.mk
Labels: keymap

#7831 added ymdk ymd09 keyboard
  keyboards/ymdk/ymd09/README.md
  keyboards/ymdk/ymd09/config.h
  keyboards/ymdk/ymd09/info.json
  keyboards/ymdk/ymd09/keymaps/default/keymap.c
  keyboards/ymdk/ymd09/rules.mk
  keyboards/ymdk/ymd09/ymd09.c
  keyboards/ymdk/ymd09/ymd09.h
Labels: keyboard

#7853 [Keymap] Add additional dynamic macro key to dshields keymaps.
  keyboards/model01/keymaps/dshields/keymap.c
  keyboards/planck/keymaps/dshields/keymap.c
Labels: keymap

#7862 [Keyboard] NK65 Refactor
  keyboards/nk65/keymaps/via/keymap.c
  keyboards/nk65/keymaps/via/readme.md
  keyboards/nk65/keymaps/via/rules.mk
  keyboards/nk65/nk65.c
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: keyboard

#7194 CLI: Rework ModemManager check and add udev check
  lib/python/qmk/cli/doctor.py
Labels: cli, python

#7845 Adi's DZ65RGB layout
  keyboards/dztech/dz65rgb/keymaps/adi/keymap.c
  keyboards/dztech/dz65rgb/keymaps/adi/readme.md
Labels: keymap

#7868 Added workaround for serial.c issue when LTO_ENABLE=yes for the Lily58
  keyboards/lily58/rules.mk
Labels: bug, keyboard

#7842 New Keyboard: KPRepublic BM60 RGB
  keyboards/bm60rgb/bm60rgb.c
  keyboards/bm60rgb/bm60rgb.h
  keyboards/bm60rgb/config.h
  keyboards/bm60rgb/info.json
  keyboards/bm60rgb/keymaps/default/keymap.c
  keyboards/bm60rgb/keymaps/default/readme.md
  keyboards/bm60rgb/readme.md
  keyboards/bm60rgb/rules.mk
Labels: keyboard

#7671 Add user keymaps for KBD67MKII/Lily58
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/mikefightsbears/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/mikefightsbears/readme.md
  keyboards/lily58/keymaps/mikefightsbears/config.h
  keyboards/lily58/keymaps/mikefightsbears/keymap.c
  keyboards/lily58/keymaps/mikefightsbears/rules.mk
Labels: keymap

#7825 Xiaomi MK02
  keyboards/xiaomi/mk02/README.md
  keyboards/xiaomi/mk02/chconf.h
  keyboards/xiaomi/mk02/config.h
  keyboards/xiaomi/mk02/halconf.h
  keyboards/xiaomi/mk02/keymaps/default/keymap.c
  keyboards/xiaomi/mk02/ld/STM32F072_0x2000_bootloader.ld
  keyboards/xiaomi/mk02/mcuconf.h
  keyboards/xiaomi/mk02/mk02.c
  keyboards/xiaomi/mk02/mk02.h
  keyboards/xiaomi/mk02/rules.mk
Labels: keyboard

#7851 IDB 60: Configurator bugfix
  keyboards/idb/idb_60/info.json
  keyboards/idb/idb_60/readme.md
Labels: bug, configurator, keyboard

#7852 Reviung41: Configurator layout support
  keyboards/reviung41/info.json
Labels: configurator, enhancement, keyboard

#7871 Personal keymap updates for the new year
  keyboards/crkbd/keymaps/bcat/keymap.c
  keyboards/crkbd/keymaps/bcat/readme.md
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
  layouts/community/60_ansi_split_bs_rshift/bcat/keymap.c
  layouts/community/60_ansi_split_bs_rshift/bcat/readme.md
  layouts/community/60_tsangan_hhkb/bcat/keymap.c
  layouts/community/60_tsangan_hhkb/bcat/readme.md
Labels: keymap

#7860 Fix KEYBOARD_SHARED_EP on ChibiOS
  tmk_core/protocol/chibios/usb_main.c
Labels: bug

#7832 Dawn60 Keyboard
  keyboards/wilba_tech/wt_rgb_backlight.c
  keyboards/wilba_tech/wt_rgb_backlight.h
  keyboards/xelus/dawn60/config.h
  keyboards/xelus/dawn60/dawn60.c
  keyboards/xelus/dawn60/dawn60.h
  keyboards/xelus/dawn60/keymaps/default/config.h
  keyboards/xelus/dawn60/keymaps/default/keymap.c
  keyboards/xelus/dawn60/keymaps/via/config.h
  keyboards/xelus/dawn60/keymaps/via/keymap.c
  keyboards/xelus/dawn60/keymaps/via/rules.mk
  keyboards/xelus/dawn60/readme.md
  keyboards/xelus/dawn60/rules.mk
Labels: keyboard

#7273 Relocate some common backlight functionally
  common_features.mk
  quantum/backlight/backlight.c
  quantum/backlight/backlight.h
  quantum/backlight/backlight_arm.c
  quantum/backlight/backlight_avr.c
  quantum/quantum.h
Labels: awaiting review, core

#7874 Enable RGB underglow on the CO60 and SteamVan, switch backlight code to QMK built-in code
  keyboards/handwired/co60/rev6/config.h
  keyboards/handwired/co60/rev6/led.c
  keyboards/handwired/co60/rev6/led_custom.h
  keyboards/handwired/co60/rev6/rev6.c
  keyboards/handwired/co60/rev6/rev6.h
  keyboards/handwired/co60/rev6/rules.mk
  keyboards/handwired/co60/rev7/config.h
  keyboards/handwired/co60/rev7/halconf.h
  keyboards/handwired/co60/rev7/led.c
  keyboards/handwired/co60/rev7/led_custom.h
  keyboards/handwired/co60/rev7/mcuconf.h
  keyboards/handwired/co60/rev7/rev7.c
  keyboards/handwired/co60/rev7/rev7.h
  keyboards/handwired/co60/rev7/rules.mk
  keyboards/handwired/steamvan/keymaps/jmdaly/keymap.c
  keyboards/handwired/steamvan/rev1/config.h
  keyboards/handwired/steamvan/rev1/halconf.h
  keyboards/handwired/steamvan/rev1/led.c
  keyboards/handwired/steamvan/rev1/led_custom.h
  keyboards/handwired/steamvan/rev1/mcuconf.h
  keyboards/handwired/steamvan/rev1/rev1.c
  keyboards/handwired/steamvan/rev1/rev1.h
  keyboards/handwired/steamvan/rev1/rules.mk
Labels: keyboard

#7878 Remove backlight_init_ports from duck/orion/v3
  keyboards/duck/orion/v3/matrix.c
Labels: bug, keyboard

#7883 Update Levinson Readme to reflect changes to directory structure
  keyboards/keebio/levinson/readme.md
Labels: keyboard

#7881 Dawn60 bug fix [URGENT]
  keyboards/xelus/dawn60/config.h
Labels: bug, keyboard

#7828 fixed conflicts and made sure keymaps compiled, and some newer (older) keymaps snuck in
  keyboards/keebio/tragicforce68/keymaps/rossman360/rules.mk
  keyboards/keebio/viterbi/keymaps/met/keymap.c
  keyboards/keebio/viterbi/keymaps/met/rules.mk
  users/rossman360/rossman360.h
Labels: keymap

#7873 csc027/macro-sync-keymap
  keyboards/keebio/iris/keymaps/csc027/config.h
  keyboards/keebio/iris/keymaps/csc027/keymap.c
  users/csc027/csc027.c
  users/csc027/csc027.h
  users/csc027/defines.h
Labels: keymap

#7856 Rebuild treadstone48 rev1 firmware
  keyboards/treadstone48/common/oled_helper.c
  keyboards/treadstone48/common/oled_helper.h
  keyboards/treadstone48/config.h
  keyboards/treadstone48/i2c.c
  keyboards/treadstone48/i2c.h
  keyboards/treadstone48/keymaps/default/config.h
  keyboards/treadstone48/keymaps/default/keymap.c
  keyboards/treadstone48/keymaps/default/rules.mk
  keyboards/treadstone48/keymaps/like_jis/config.h
  keyboards/treadstone48/keymaps/like_jis/keymap.c
  keyboards/treadstone48/keymaps/like_jis/rules.mk
  keyboards/treadstone48/keymaps/like_jis_rs/config.h
  keyboards/treadstone48/keymaps/like_jis_rs/keymap.c
  keyboards/treadstone48/keymaps/like_jis_rs/readme_jp.md
  keyboards/treadstone48/keymaps/like_jis_rs/rules.mk
  keyboards/treadstone48/rev1/config.h
  keyboards/treadstone48/rev1/matrix.c
  keyboards/treadstone48/rev1/rev1.c
  keyboards/treadstone48/rev1/rev1.h
  keyboards/treadstone48/rev1/rules.mk
  keyboards/treadstone48/rev1/serial_config.h
  keyboards/treadstone48/rev1/serial_config_simpleapi.h
  keyboards/treadstone48/rev1/split_scomm.c
  keyboards/treadstone48/rev1/split_scomm.h
  keyboards/treadstone48/rev1/split_util.c
  keyboards/treadstone48/rev1/split_util.h
  keyboards/treadstone48/rules.mk
  keyboards/treadstone48/serial.c
  keyboards/treadstone48/serial.h
  keyboards/treadstone48/ssd1306.c
  keyboards/treadstone48/ssd1306.h
  keyboards/treadstone48/treadstone48.c
  keyboards/treadstone48/treadstone48.h
Labels: keyboard

#7140 Add minitomic keyboard
  keyboards/maartenwut/minitomic/config.h
  keyboards/maartenwut/minitomic/info.json
  keyboards/maartenwut/minitomic/keymaps/default/keymap.c
  keyboards/maartenwut/minitomic/keymaps/default/readme.md
  keyboards/maartenwut/minitomic/minitomic.c
  keyboards/maartenwut/minitomic/minitomic.h
  keyboards/maartenwut/minitomic/readme.md
  keyboards/maartenwut/minitomic/rules.mk
Labels: keyboard

#7879 Merlin's LAYOUT_65_ansi keymap
  layouts/community/65_ansi/mechmerlin/keymap.c
  layouts/community/65_ansi/mechmerlin/readme.md
  layouts/community/65_ansi/mechmerlin/rules.mk
Labels: keymap

#7664 Tidy up dztech keyboard.c/h and readmes
  keyboards/dztech/dz60rgb/dz60rgb.c
  keyboards/dztech/dz60rgb/dz60rgb.h
  keyboards/dztech/dz60rgb/readme.md
  keyboards/dztech/dz60rgb_ansi/dz60rgb_ansi.c
  keyboards/dztech/dz60rgb_ansi/dz60rgb_ansi.h
  keyboards/dztech/dz60rgb_ansi/readme.md
  keyboards/dztech/dz60rgb_wkl/dz60rgb_wkl.c
  keyboards/dztech/dz60rgb_wkl/dz60rgb_wkl.h
  keyboards/dztech/dz60rgb_wkl/readme.md
  keyboards/dztech/dz65rgb/dz65rgb.c
  keyboards/dztech/dz65rgb/dz65rgb.h
  keyboards/dztech/dz65rgb/readme.md
Labels: enhancement, keyboard

#7784 chibios/usb_main: re-check USB status in send_keyboard after sleeping the thread
  tmk_core/protocol/chibios/usb_main.c
Labels: bug, core

#7895 NK65 Bootmagic lite for default
  keyboards/nk65/config.h
  keyboards/nk65/rules.mk
Labels: keyboard

#7880 Add Yurei PCB
  keyboards/yurei/config.h
  keyboards/yurei/info.json
  keyboards/yurei/keymaps/default/keymap.c
  keyboards/yurei/keymaps/default/readme.md
  keyboards/yurei/readme.md
  keyboards/yurei/rules.mk
  keyboards/yurei/yurei.c
  keyboards/yurei/yurei.h
Labels: keyboard

#7889 Move Space Cadet keycodes to their own section in keycode reference
  docs/he-il/quantum_keycodes.md
  docs/keycodes.md
  docs/quantum_keycodes.md
Labels: documentation

#7894 Add a section on python tests to the python coding conventions
  docs/coding_conventions_python.md
Labels: cli, documentation, python

#7896 Adi's KBD67 layout
  keyboards/kbdfans/kbd67/rev2/keymaps/adi/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/adi/readme.md
Labels: keymap

#7898 Update personal keymap
  keyboards/planck/keymaps/sascha/keymap.c
  keyboards/planck/keymaps/sascha/rules.mk
Labels: keymap

#7902 Fix NK65 indicator code after refactoring
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: keyboard

#7888 Add ws2812 driver type define
  common_features.mk
Labels: core

#7904 XD68 Configurator Layout Support and Minor Refactor
  keyboards/xd68/config.h
  keyboards/xd68/info.json
  keyboards/xd68/keymaps/default/config.h
  keyboards/xd68/keymaps/default/keymap.c
  keyboards/xd68/keymaps/default_iso/config.h
  keyboards/xd68/keymaps/default_iso/keymap.c
  keyboards/xd68/rules.mk
Labels: enhancement, keyboard

#7863 Migrate more custom matrix 'lite' code to core
  keyboards/xd84/custom_matrix_helper.c
  keyboards/xd84/matrix.c
  keyboards/xd84/rules.mk
  keyboards/xd96/custom_matrix_helper.c
  keyboards/xd96/matrix.c
  keyboards/xd96/rules.mk
  quantum/matrix.c
  quantum/matrix_common.c
  quantum/split_common/matrix.c
Labels: core, enhancement

#7908 Fix CUSTOM_MATRIX lite matrix_scan return code
  quantum/matrix_common.c
Labels: bug, core

#7907 Hhkb keymap
  keyboards/hhkb/keymaps/xyverz/keymap.c
Labels: keymap

#7639 [Keymap] Massdrop ctrl keymap
  keyboards/massdrop/ctrl/DOCUMENTATION.md
  keyboards/massdrop/ctrl/keymaps/endgame/README.md
  keyboards/massdrop/ctrl/keymaps/endgame/config.h
  keyboards/massdrop/ctrl/keymaps/endgame/keymap.c
  keyboards/massdrop/ctrl/keymaps/endgame/keymap.h
  keyboards/massdrop/ctrl/keymaps/endgame/rules.mk
Labels: keyboard, keymap

#7903 [Keyboard] Xbows Knight: Configurator layout polishing
  keyboards/xbows/knight/info.json
Labels: enhancement, keyboard

#7885 Add Eon40 keyboard
  keyboards/maartenwut/eon40/config.h
  keyboards/maartenwut/eon40/eon40.c
  keyboards/maartenwut/eon40/eon40.h
  keyboards/maartenwut/eon40/info.json
  keyboards/maartenwut/eon40/keymaps/default/keymap.c
  keyboards/maartenwut/eon40/keymaps/default/readme.md
  keyboards/maartenwut/eon40/readme.md
  keyboards/maartenwut/eon40/rules.mk
Labels: keyboard

#7882 Remove `KEYMAP_SECTION_ENABLE`
  keyboards/ergodone/rules.mk
  keyboards/hotdox/rules.mk
  show_options.mk
  tmk_core/common.mk
  tmk_core/common/command.c
  tmk_core/ldscript_keymap_avr35.x
  tmk_core/ldscript_keymap_avr5.x
Labels: core, enhancement, keyboard

#7912 Graystudio Space65 ISO UK layout and keymap
  keyboards/gray_studio/space65/keymaps/iso/keymap.c
  keyboards/gray_studio/space65/keymaps/iso/readme.md
  keyboards/gray_studio/space65/rules.mk
  keyboards/gray_studio/space65/space65.h
Labels: keyboard, keymap

#7918 Further changes to HHKB keymap
  keyboards/hhkb/keymaps/xyverz/keymap.c
Labels: keymap

#7910 add VIA support for hiney PCBs
  keyboards/hineybush/h75_singa/keymaps/via/keymap.c
  keyboards/hineybush/h75_singa/keymaps/via/readme.md
  keyboards/hineybush/h75_singa/keymaps/via/rules.mk
  keyboards/hineybush/h87a/keymaps/via/keymap.c
  keyboards/hineybush/h87a/keymaps/via/readme.md
  keyboards/hineybush/h87a/keymaps/via/rules.mk
  keyboards/hineybush/h88/keymaps/via/keymap.c
  keyboards/hineybush/h88/keymaps/via/readme.md
  keyboards/hineybush/h88/keymaps/via/rules.mk
  keyboards/hineybush/h88/rules.mk
  keyboards/hineybush/hbcp/keymaps/via/keymap.c
  keyboards/hineybush/hbcp/keymaps/via/readme.md
  keyboards/hineybush/hbcp/keymaps/via/rules.mk
  keyboards/hineybush/physix/rules.mk
  keyboards/hineybush/sm68/rules.mk
Labels: keyboard

#7900 [Keyboard] Add Plaid-Pad 4x4 numpad
  keyboards/keycapsss/plaid_pad/config.h
  keyboards/keycapsss/plaid_pad/info.json
  keyboards/keycapsss/plaid_pad/keymaps/default/config.h
  keyboards/keycapsss/plaid_pad/keymaps/default/keymap.c
  keyboards/keycapsss/plaid_pad/keymaps/default/readme.md
  keyboards/keycapsss/plaid_pad/plaid_pad.c
  keyboards/keycapsss/plaid_pad/plaid_pad.h
  keyboards/keycapsss/plaid_pad/readme.md
  keyboards/keycapsss/plaid_pad/rules.mk
  keyboards/keycapsss/plaid_pad/usbconfig.h
Labels: keyboard

#7923 move caps because it can be triggered accidentally by sequences such …
  keyboards/planck/keymaps/callum/keymap.c
Labels: keymap

#7861 Cleanup check for PERMISSIVE_HOLD
  tmk_core/common/action_tapping.c
Labels: bug

#7859 Implement and document TAPPING_FORCE_HOLD_PER_KEY
  docs/config_options.md
  docs/feature_advanced_keycodes.md
  tmk_core/common/action_tapping.c
Labels: core, documentation, enhancement

#7921 Virtser disable
  common_features.mk
  quantum/process_keycode/process_steno.c
  quantum/process_keycode/process_steno.h
Labels: core

#7906 Add docs for 'CUSTOM_MATRIX = lite'
  docs/_summary.md
  docs/custom_matrix.md
  docs/getting_started_make_guide.md
Labels: documentation

#7892 Support for a Southpaw Keyboard KVT
  keyboards/kv/revt/config.h
  keyboards/kv/revt/keymaps/default/keymap.c
  keyboards/kv/revt/keymaps/default/readme.md
  keyboards/kv/revt/readme.md
  keyboards/kv/revt/revt.c
  keyboards/kv/revt/revt.h
  keyboards/kv/revt/rules.mk
Labels: keyboard

#7909 Wasdat matrix cleanup
  keyboards/maartenwut/wasdat/matrix.c
  keyboards/maartenwut/wasdat/rules.mk
Labels: keyboard

#7791 Fix the order of underglow LEDs on ergodash/rev1
  keyboards/ergodash/rev1/config.h
Labels: keyboard

#7876 Added mverteuil keymaps and userspace common code
  keyboards/knops/mini/keymaps/mverteuil/config.h
  keyboards/knops/mini/keymaps/mverteuil/keymap.c
  keyboards/knops/mini/keymaps/mverteuil/readme.md
  keyboards/knops/mini/keymaps/mverteuil/rules.mk
  keyboards/preonic/keymaps/mverteuil/config.h
  keyboards/preonic/keymaps/mverteuil/keymap.c
  keyboards/preonic/keymaps/mverteuil/readme.md
  keyboards/preonic/keymaps/mverteuil/rules.mk
  keyboards/preonic/keymaps/mverteuil_2x2u/config.h
  keyboards/preonic/keymaps/mverteuil_2x2u/keymap.c
  keyboards/preonic/keymaps/mverteuil_2x2u/rules.mk
  users/mverteuil/.gitignore
  users/mverteuil/mverteuil.c
  users/mverteuil/mverteuil.h
  users/mverteuil/rules.mk
Labels: keymap

#7740 Configuration values for starting HSV and speed
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix.c
Labels: enhancement, needs doc

#7733 Relocate rgblight and backlight task
  quantum/quantum.c
  tmk_core/common/keyboard.c
  tmk_core/protocol/chibios/main.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/vusb/main.c
Labels: core, enhancement

#7562 Added keymap for Space65
  keyboards/dz60/keymaps/billiams_layout2/build_flash.sh
  keyboards/dz60/keymaps/billiams_layout2/config.h
  keyboards/dz60/keymaps/billiams_layout2/keymap.c
  keyboards/dz60/keymaps/billiams_layout2/readme.md
  keyboards/dz60/keymaps/billiams_layout4/build_flash.sh
  keyboards/dz60/keymaps/billiams_layout4/config.h
  keyboards/dz60/keymaps/billiams_layout4/keymap.c
  keyboards/dz60/keymaps/billiams_layout4/readme.md
  keyboards/gray_studio/space65/keymaps/billiams/config.h
  keyboards/gray_studio/space65/keymaps/billiams/keymap.c
  keyboards/gray_studio/space65/keymaps/billiams/readme.md
Labels: keymap

#7915 Enforce definition of `DIODE_DIRECTION` for non-custom matrix boards
  keyboards/40percentclub/luddite/config.h
  keyboards/7skb/rev1/config.h
  keyboards/adkb96/rev1/config.h
  keyboards/alps64/config.h
  keyboards/blackplum/config.h
  keyboards/db/db63/config.h
  keyboards/ergodash/mini/config.h
  keyboards/ergodash/rev1/config.h
  keyboards/handwired/aek64/config.h
  keyboards/handwired/dactyl_manuform/4x5/config.h
  keyboards/handwired/dactyl_manuform/5x6/config.h
  keyboards/handwired/dactyl_manuform/5x7/config.h
  keyboards/handwired/dactyl_manuform/6x6/config.h
  keyboards/handwired/dactyl_manuform/dmote/62key/config.h
  keyboards/handwired/dactyl_promicro/config.h
  keyboards/handwired/hacked_motospeed/config.h
  keyboards/handwired/lovelive9/config.h
  keyboards/handwired/nicekey/config.h
  keyboards/handwired/onekey/config.h
  keyboards/handwired/splittest/config.h
  keyboards/handwired/wulkan/config.h
  keyboards/keebio/bfo9000/config.h
  keyboards/keebio/fourier/config.h
  keyboards/keebio/levinson/rev1/config.h
  keyboards/keebio/levinson/rev2/config.h
  keyboards/keebio/levinson/rev3/config.h
  keyboards/keebio/quefrency/rev1/config.h
  keyboards/keebio/wavelet/config.h
  keyboards/lets_split/rev1/config.h
  keyboards/lets_split/rev2/config.h
  keyboards/lets_split/sockets/config.h
  keyboards/nafuda/config.h
  keyboards/naked48/rev1/config.h
  keyboards/naked60/rev1/config.h
  keyboards/naked64/rev1/config.h
  keyboards/rgbkb/sol/config.h
  keyboards/rgbkb/zygomorph/rev1/config.h
  keyboards/runner3680/3x6/config.h
  keyboards/runner3680/3x7/config.h
  keyboards/runner3680/3x8/config.h
  keyboards/runner3680/4x6/config.h
  keyboards/runner3680/4x7/config.h
  keyboards/runner3680/4x8/config.h
  keyboards/runner3680/5x6/config.h
  keyboards/runner3680/5x7/config.h
  keyboards/runner3680/5x8/config.h
  keyboards/setta21/rev1/config.h
  keyboards/signum/3_0/elitec/config.h
  keyboards/tanuki/config.h
  keyboards/uzu42/rev1/config.h
  keyboards/vitamins_included/rev1/config.h
  keyboards/vitamins_included/rev2/config.h
  quantum/matrix.c
  quantum/split_common/matrix.c
Labels: bug, core, keyboard

#7934 Run clang-format manually to fix recently changed files
  drivers/issi/is31fl3733.c
  quantum/color.c
  quantum/dynamic_keymap.c
  quantum/encoder.c
  quantum/process_keycode/process_rgb.c
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
  quantum/rgb_matrix.c
  quantum/rgblight.c
  quantum/via.c
  quantum/via.h
  tmk_core/common/action.c
Labels: core

#7939 Remove tmk_core gitignore and gitmodules
  tmk_core/.gitignore
  tmk_core/.gitmodules
Labels: core

#7917 [keyboard] Add Tartan
  keyboards/tartan/config.h
  keyboards/tartan/info.json
  keyboards/tartan/keymaps/default/keymap.c
  keyboards/tartan/keymaps/default/readme.md
  keyboards/tartan/readme.md
  keyboards/tartan/rules.mk
  keyboards/tartan/tartan.c
  keyboards/tartan/tartan.h
  keyboards/tartan/usbconfig.h
Labels: keyboard

#7933 Fix unknown key 'IndentPPDirectives' on CI
  .travis.yml
  util/travis_compiled_push.sh
Labels: bug

#7864 Misc cleanups for OLED documentation
  docs/feature_oled_driver.md
Labels: documentation

#7142 Add mx5160 keyboard
  keyboards/maartenwut/mx5160/config.h
  keyboards/maartenwut/mx5160/info.json
  keyboards/maartenwut/mx5160/keymaps/default/keymap.c
  keyboards/maartenwut/mx5160/keymaps/default/readme.md
  keyboards/maartenwut/mx5160/mx5160.c
  keyboards/maartenwut/mx5160/mx5160.h
  keyboards/maartenwut/mx5160/readme.md
  keyboards/maartenwut/mx5160/rules.mk
Labels: keyboard

#7927 [Keyboard] Addition Eagle II keyboard
  keyboards/handwired/eagleii/config.h
  keyboards/handwired/eagleii/eagleii.c
  keyboards/handwired/eagleii/eagleii.h
  keyboards/handwired/eagleii/info.json
  keyboards/handwired/eagleii/keymaps/default/keymap.c
  keyboards/handwired/eagleii/readme.md
  keyboards/handwired/eagleii/rules.mk
Labels: keyboard

#7470 MILC: Fix/complete attribute heritance
  lib/python/milc.py
Labels: cli, core, python

#7937 Remove all references to "CUSTOM_MATRIX" as a diode direction
  keyboards/40percentclub/nano/config.h
  keyboards/abstract/ellipse/rev1/config.h
  keyboards/ai03/orbit/config.h
  keyboards/boardwalk/config.h
  keyboards/ckeys/thedora/config.h
  keyboards/converter/palm_usb/config.h
  keyboards/converter/sun_usb/config.h
  keyboards/converter/usb_usb/config.h
  keyboards/coseyfannitutti/mullet/config.h
  keyboards/coseyfannitutti/mulletpad/config.h
  keyboards/dozen0/config.h
  keyboards/ep/comsn/hs68/config.h
  keyboards/ep/comsn/mollydooker/config.h
  keyboards/fluorite/config.h
  keyboards/halberd/config.h
  keyboards/handwired/42/config.h
  keyboards/handwired/co60/rev1/config.h
  keyboards/handwired/co60/rev6/config.h
  keyboards/handwired/co60/rev7/config.h
  keyboards/handwired/daishi/config.h
  keyboards/handwired/steamvan/rev1/config.h
  keyboards/handwired/tennie/config.h
  keyboards/hecomi/alpha/config.h
  keyboards/kagamidget/config.h
  keyboards/peiorisboards/ixora/config.h
  keyboards/primekb/prime_e/config.h
  keyboards/scythe/config.h
  keyboards/sirius/unigo66/config.h
  keyboards/snampad/config.h
  keyboards/standaside/config.h
  keyboards/treadstone32/config.h
  keyboards/westfoxtrot/cypher/config.h
  quantum/config_common.h
Labels: core, enhancement, keyboard

#7943 Adding Rebound Layout
  keyboards/montsinger/rebound/keymaps/curry/keymap.c
  keyboards/montsinger/rebound/keymaps/curry/rules.mk
Labels: keymap

#7911 Add VIA support for QMK backlight, QMK RGBLight
  keyboards/cannonkeys/an_c/config.h
  keyboards/cannonkeys/instant60/config.h
  keyboards/cannonkeys/iron165/config.h
  keyboards/cannonkeys/satisfaction75/config.h
  keyboards/cannonkeys/satisfaction75/led_custom.h
  keyboards/cannonkeys/satisfaction75/satisfaction75.c
  keyboards/cannonkeys/savage65/config.h
  keyboards/cannonkeys/stm32f072/keyboard.c
  keyboards/cannonkeys/stm32f072/led_custom.h
  keyboards/cannonkeys/tmov2/config.h
  keyboards/hs60/v2/config.h
  keyboards/nk65/config.h
  keyboards/projectkb/alice/config.h
  keyboards/wilba_tech/rama_works_koyu/config.h
  keyboards/wilba_tech/rama_works_m60_a/config.h
  keyboards/wilba_tech/rama_works_m6_a/config.h
  keyboards/wilba_tech/rama_works_m6_b/config.h
  keyboards/wilba_tech/rama_works_u80_a/config.h
  keyboards/wilba_tech/wt60_a/config.h
  keyboards/wilba_tech/wt65_a/config.h
  keyboards/wilba_tech/wt65_b/config.h
  keyboards/wilba_tech/wt75_a/config.h
  keyboards/wilba_tech/wt75_b/config.h
  keyboards/wilba_tech/wt75_c/config.h
  keyboards/wilba_tech/wt80_a/config.h
  keyboards/wilba_tech/wt_main.c
  keyboards/wilba_tech/wt_mono_backlight.c
  keyboards/wilba_tech/wt_rgb_backlight.c
  keyboards/wilba_tech/zeal60/config.h
  keyboards/wilba_tech/zeal65/config.h
  keyboards/xelus/dawn60/config.h
  quantum/backlight/backlight.c
  quantum/backlight/backlight.h
  quantum/rgblight.c
  quantum/rgblight.h
  quantum/via.c
  quantum/via.h
Labels: core, enhancement

#7945 Correct the Num Lock LED state on YMDK NP21
  keyboards/ymdk_np21/ymdk_np21.c
Labels: keyboard

#7497 [Keyboard] Add keyboard Getta25
  keyboards/getta25/config.h
  keyboards/getta25/getta25.c
  keyboards/getta25/getta25.h
  keyboards/getta25/info.json
  keyboards/getta25/keymaps/default/config.h
  keyboards/getta25/keymaps/default/keymap.c
  keyboards/getta25/keymaps/oled/config.h
  keyboards/getta25/keymaps/oled/glcdfont.c
  keyboards/getta25/keymaps/oled/keymap.c
  keyboards/getta25/readme.md
  keyboards/getta25/rev1/config.h
  keyboards/getta25/rev1/rev1.c
  keyboards/getta25/rev1/rev1.h
  keyboards/getta25/rules.mk
Labels: keyboard

#7870 Feature/preonic/rev3/alfrdmalr
  keyboards/preonic/keymaps/alfrdmalr/config.h
  keyboards/preonic/keymaps/alfrdmalr/keymap.c
  keyboards/preonic/keymaps/alfrdmalr/readme.md
  keyboards/preonic/keymaps/alfrdmalr/rules.mk
Labels: keymap

#7951 Add DIODE_DIRECTION to Getta25
  keyboards/getta25/rev1/config.h
Labels: bug, keyboard

#7877 Fix lock LEDs for ChibiOS when using shared endpoints
  tmk_core/protocol/chibios/usb_main.c
Labels: bug, core

#7814 Add VIA support to DZ60
  keyboards/dz60/config.h
  keyboards/dz60/keymaps/via/keymap.c
  keyboards/dz60/keymaps/via/rules.mk
Labels: keyboard, keymap

#7953 keymap, fixed rgb effect name and deactivate oled
  keyboards/crkbd/keymaps/dsanchezseco/config.h
  keyboards/crkbd/keymaps/dsanchezseco/rules.mk
Labels: keymap

#7952 Think 6.5 Soldered Matrix Fix
  keyboards/gray_studio/think65/solder/readme.md
  keyboards/gray_studio/think65/solder/solder.c
  keyboards/gray_studio/think65/solder/solder.h
Labels: bug, keyboard

#7948 Added WT60-B, WT60-BX (wilba.tech THERMAL)
  keyboards/wilba_tech/rama_works_koyu/info.json
  keyboards/wilba_tech/rama_works_m60_a/info.json
  keyboards/wilba_tech/rama_works_u80_a/info.json
  keyboards/wilba_tech/wt60_a/info.json
  keyboards/wilba_tech/wt60_b/config.h
  keyboards/wilba_tech/wt60_b/info.json
  keyboards/wilba_tech/wt60_b/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_b/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_b/keymaps/via/rules.mk
  keyboards/wilba_tech/wt60_b/readme.md
  keyboards/wilba_tech/wt60_b/rules.mk
  keyboards/wilba_tech/wt60_b/wt60_b.c
  keyboards/wilba_tech/wt60_b/wt60_b.h
  keyboards/wilba_tech/wt60_bx/config.h
  keyboards/wilba_tech/wt60_bx/info.json
  keyboards/wilba_tech/wt60_bx/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_bx/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_bx/keymaps/via/rules.mk
  keyboards/wilba_tech/wt60_bx/readme.md
  keyboards/wilba_tech/wt60_bx/rules.mk
  keyboards/wilba_tech/wt60_bx/wt60_bx.c
  keyboards/wilba_tech/wt60_bx/wt60_bx.h
  keyboards/wilba_tech/wt60_d/info.json
  keyboards/wilba_tech/wt65_a/info.json
  keyboards/wilba_tech/wt65_b/info.json
  keyboards/wilba_tech/wt69_a/info.json
  keyboards/wilba_tech/wt75_a/info.json
  keyboards/wilba_tech/wt75_b/info.json
  keyboards/wilba_tech/wt80_a/info.json
  keyboards/wilba_tech/wt8_a/info.json
  keyboards/wilba_tech/wt_rgb_backlight.c
  keyboards/wilba_tech/zeal60/info.json
  keyboards/wilba_tech/zeal65/info.json
Labels: keyboard

#7847 [Keyboard] HS60 Refactor (Keymap restructure to be more standardized)
  keyboards/hs60/v2/ansi/ansi.h
  keyboards/hs60/v2/ansi/config.h
  keyboards/hs60/v2/ansi/info.json
  keyboards/hs60/v2/ansi/keymaps/default/config.h
  keyboards/hs60/v2/ansi/keymaps/default/keymap.c
  keyboards/hs60/v2/ansi/keymaps/default/readme.md
  keyboards/hs60/v2/ansi/keymaps/stanrc85/config.h
  keyboards/hs60/v2/ansi/keymaps/stanrc85/keymap.c
  keyboards/hs60/v2/ansi/keymaps/stanrc85/readme.md
  keyboards/hs60/v2/ansi/keymaps/stanrc85/rules.mk
  keyboards/hs60/v2/ansi/keymaps/via/config.h
  keyboards/hs60/v2/ansi/keymaps/via/keymap.c
  keyboards/hs60/v2/ansi/keymaps/via/readme.md
  keyboards/hs60/v2/ansi/keymaps/via/rules.mk
  keyboards/hs60/v2/ansi/rules.mk
  keyboards/hs60/v2/hhkb/config.h
  keyboards/hs60/v2/hhkb/hhkb.h
  keyboards/hs60/v2/hhkb/info.json
  keyboards/hs60/v2/hhkb/keymaps/default/keymap.c
  keyboards/hs60/v2/hhkb/keymaps/default/readme.md
  keyboards/hs60/v2/hhkb/keymaps/goatmaster/config.h
  keyboards/hs60/v2/hhkb/keymaps/goatmaster/keymap.c
  keyboards/hs60/v2/hhkb/keymaps/goatmaster/readme.md
  keyboards/hs60/v2/hhkb/keymaps/goatmaster/rules.mk
  keyboards/hs60/v2/hhkb/keymaps/via/keymap.c
  keyboards/hs60/v2/hhkb/keymaps/via/readme.md
  keyboards/hs60/v2/hhkb/keymaps/via/rules.mk
  keyboards/hs60/v2/hhkb/rules.mk
  keyboards/hs60/v2/info.json
  keyboards/hs60/v2/iso/config.h
  keyboards/hs60/v2/iso/info.json
  keyboards/hs60/v2/iso/iso.h
  keyboards/hs60/v2/iso/keymaps/default/keymap.c
  keyboards/hs60/v2/iso/keymaps/default/readme.md
  keyboards/hs60/v2/iso/keymaps/iso_andys8/keymap.c
  keyboards/hs60/v2/iso/keymaps/iso_andys8/readme.md
  keyboards/hs60/v2/iso/keymaps/iso_andys8/rules.mk
  keyboards/hs60/v2/iso/keymaps/via/keymap.c
  keyboards/hs60/v2/iso/keymaps/via/readme.md
  keyboards/hs60/v2/iso/keymaps/via/rules.mk
  keyboards/hs60/v2/iso/keymaps/win_osx_dual/keymap.c
  keyboards/hs60/v2/iso/keymaps/win_osx_dual/readme.md
  keyboards/hs60/v2/iso/keymaps/win_osx_dual/rules.mk
  keyboards/hs60/v2/iso/rules.mk
  keyboards/hs60/v2/keymaps/hhkb/config.h
  keyboards/hs60/v2/keymaps/hhkb_via/config.h
  keyboards/hs60/v2/readme.md
  keyboards/hs60/v2/v2.c
Labels: awaiting review, keyboard

#7956 adding personal rebound keymap
  keyboards/montsinger/rebound/keymaps/rossman360/keymap.c
  users/rossman360/rossman360.h
Labels: keymap

#7936 Align cformat rules with current CI implementation
  lib/python/qmk/cli/cformat.py
Labels: bug, cli, python

#7957 Cospad refactor
  keyboards/cospad/config.h
  keyboards/cospad/cospad.c
  keyboards/cospad/cospad.h
  keyboards/cospad/info.json
  keyboards/cospad/keymaps/default/keymap.c
  keyboards/cospad/readme.md
  keyboards/cospad/rules.mk
Labels: enhancement, keyboard, needs testing

#7940 Swap two columns to fix Skog Lite
  keyboards/percent/skog_lite/config.h
  keyboards/percent/skog_lite/keymaps/binman/keymap.c
  keyboards/percent/skog_lite/keymaps/binman/readme.md
Labels: keyboard, keymap

#7942 Clueboard Rev4 Updates aka Volcano 660
  keyboards/clueboard/66/rev4/config.h
  keyboards/clueboard/66/rev4/rev4.c
  keyboards/clueboard/66/rev4/rules.mk
Labels: keyboard

#7969 NK65 EEPROM size fix
  keyboards/nk65/config.h
Labels: bug, keyboard

#7968 HS60 EEPROM size fix
  keyboards/hs60/v2/ansi/config.h
  keyboards/hs60/v2/ansi/keymaps/default/config.h
  keyboards/hs60/v2/ansi/keymaps/via/config.h
  keyboards/hs60/v2/hhkb/config.h
  keyboards/hs60/v2/iso/config.h
Labels: bug, keyboard

#7963 [Keymap] Phoebe keymap improvements
  keyboards/maxr1998/phoebe/config.h
  keyboards/maxr1998/phoebe/keymaps/default/keymap.c
  keyboards/maxr1998/phoebe/phoebe.c
Labels: keymap

#7984 Minor Userspace Changes
  keyboards/crkbd/keymaps/curry/keymap.c
  users/curry/process_records.h
  users/curry/wrappers.h
Labels: keymap

#7274 Add customisable EEPROM driver selection
  common_features.mk
  docs/_summary.md
  docs/eeprom_driver.md
  docs/hardware_drivers.md
  drivers/eeprom/eeprom_custom.c-template
  drivers/eeprom/eeprom_driver.c
  drivers/eeprom/eeprom_driver.h
  drivers/eeprom/eeprom_i2c.c
  drivers/eeprom/eeprom_i2c.h
  drivers/eeprom/eeprom_transient.c
  drivers/eeprom/eeprom_transient.h
  quantum/audio/audio_arm.c
  quantum/rgblight.c
  tmk_core/common.mk
  tmk_core/common/arm_atsam/eeprom.c
  tmk_core/common/chibios/eeprom_stm32.c
  tmk_core/common/chibios/eeprom_teensy.c
  tmk_core/common/eeconfig.c
  tmk_core/common/eeprom.h
  tmk_core/common/test/eeprom.c
Labels: core, enhancement

#7989 Fix LED configuration for PS2AVRGB boards
  keyboards/ares/ares.c
  keyboards/ares/config.h
  keyboards/bfake/bfake.c
  keyboards/bfake/config.h
  keyboards/db/db63/config.h
  keyboards/donutcables/budget96/budget96.c
  keyboards/donutcables/budget96/config.h
  keyboards/eve/meteor/meteor.c
  keyboards/exclusive/e6v2/le_bmc/le_bmc.c
  keyboards/exclusive/e6v2/oe_bmc/oe_bmc.c
  keyboards/exent/config.h
  keyboards/exent/exent.c
  keyboards/facew/config.h
  keyboards/facew/facew.c
  keyboards/ft/mars80/config.h
  keyboards/ft/mars80/mars80.c
  keyboards/gray_studio/hb85/config.h
  keyboards/gray_studio/hb85/hb85.c
  keyboards/j80/j80.c
  keyboards/jc65/v32a/v32a.c
  keyboards/kbdfans/kbdpad/mk1/mk1.c
  keyboards/mehkee96/mehkee96.c
  keyboards/panc60/panc60.c
  keyboards/pearl/pearl.c
  keyboards/percent/canoe/canoe.c
  keyboards/percent/skog/skog.c
  keyboards/percent/skog_lite/skog_lite.c
  keyboards/singa/singa.c
  keyboards/tgr/alice/alice.c
  keyboards/tgr/jane/jane.c
  keyboards/unikorn/unikorn.c
  keyboards/winkeyless/bface/bface.c
  keyboards/winkeyless/bmini/bmini.c
  keyboards/winkeyless/bminiex/bminiex.c
  keyboards/ymd75/ymd75.c
  keyboards/ymd96/ymd96.c
  keyboards/ymdk/bface/bface.c
  keyboards/ymdk_np21/ymdk_np21.c
Labels: bug, keyboard

#7986 Add VIA support to TMO50
  keyboards/tmo50/config.h
  keyboards/tmo50/keymaps/via/keymap.c
  keyboards/tmo50/keymaps/via/readme.md
  keyboards/tmo50/keymaps/via/rules.mk
  keyboards/tmo50/rules.mk
Labels: keyboard, keymap
