Repository qmk/qmk_firmware, pull requests merged in 2021-03, with the labels that each got.

#11887 Bastardkb added keyboard and renaming
  keyboards/bastardkb/tbk/config.h
  keyboards/bastardkb/tbk/info.json
  keyboards/bastardkb/tbk/keymaps/default/keymap.c
  keyboards/bastardkb/tbk/keymaps/german_gaming/keymap.c
  keyboards/bastardkb/tbk/keymaps/german_gaming/readme.md
  keyboards/bastardkb/tbk/keymaps/german_gaming/rules.mk
  keyboards/bastardkb/tbk/keymaps/xyverz/config.h
  keyboards/bastardkb/tbk/keymaps/xyverz/keymap.c
  keyboards/bastardkb/tbk/keymaps/xyverz/readme.md
  keyboards/bastardkb/tbk/readme.md
  keyboards/bastardkb/tbk/rules.mk
  keyboards/bastardkb/tbk/tbk.c
  keyboards/bastardkb/tbk/tbk.h
  keyboards/bastardkb/tbkmini/config.h
  keyboards/bastardkb/tbkmini/info.json
  keyboards/bastardkb/tbkmini/keymaps/default/keymap.c
  keyboards/bastardkb/tbkmini/readme.md
  keyboards/bastardkb/tbkmini/rules.mk
  keyboards/bastardkb/tbkmini/tbkmini.c
  keyboards/bastardkb/tbkmini/tbkmini.h
Labels: keyboard, keymap

#4198 Add ability to toggle One Shot functionality
  docs/keycodes.md
  docs/one_shot_keys.md
  quantum/keycode_config.h
  quantum/quantum.c
  quantum/quantum_keycodes.h
  tmk_core/common/action_util.c
  tmk_core/common/action_util.h
Labels: awaiting review, core, documentation, enhancement

#12052 Fixing adjust layer issue with the lily58 default keymap
  keyboards/lily58/keymaps/default/keymap.c
Labels: keymap

#12065 Revert "Fixing K-type RGB lighting"
  keyboards/k_type/i2c_master.c
  keyboards/k_type/i2c_master.h
  keyboards/k_type/is31fl3733.c
  keyboards/k_type/is31fl3733.h
  keyboards/k_type/k_type.c
  keyboards/k_type/keymaps/andrew-fahmy/config.h
  keyboards/k_type/keymaps/andrew-fahmy/keymap.c
  keyboards/k_type/keymaps/andrew-fahmy/rules.mk
  keyboards/k_type/keymaps/rgb/config.h
  keyboards/k_type/keymaps/rgb/keymap.c
  keyboards/k_type/keymaps/rgb/readme.md
  keyboards/k_type/led.c
  keyboards/k_type/mcuconf.h
  keyboards/k_type/rules.mk
Labels: bug, keyboard, keymap

#12075 Fix the typo in ergodone 80 layout
  keyboards/ergodone/ergodone.h
Labels: keyboard

#12074 Update eggman info.json
  keyboards/eggman/info.json
Labels: keyboard

#11974 MATRIX_MASKED docs for SPLIT_HAND_MATRIX_GRID
  docs/feature_split_keyboard.md
Labels: documentation

#12081 Set default for USB_SUSPEND_WAKEUP_DELAY to 0/disabled
  tmk_core/common/suspend.h
Labels: core

#12078 Remove more cruft from Lily58 default keymap
  keyboards/lily58/keymaps/default/config.h
  keyboards/lily58/keymaps/default/keymap.c
Labels: keymap

#11055 Split RGB Matrix
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix.c
  quantum/rgb_matrix_types.h
  quantum/split_common/transport.c
  tmk_core/common/avr/suspend.c
  tmk_core/common/chibios/suspend.c
  tmk_core/common/eeconfig.c
  tmk_core/common/eeconfig.h
Labels: breaking_change, core, documentation, feature, in progress, needs testing

#12087 Small spelling mistake fix
  docs/feature_leader_key.md
Labels: documentation

#12055 [Keymap] Add ddone's keymap
  keyboards/keebio/iris/keymaps/ddone/config.h
  keyboards/keebio/iris/keymaps/ddone/keymap.c
  keyboards/keebio/iris/keymaps/ddone/readme.md
  keyboards/keebio/iris/keymaps/ddone/rules.mk
Labels: keymap

#11988 Add support for complementary outputs to the WS2812 PWM driver
  docs/ws2812_driver.md
  drivers/chibios/ws2812_pwm.c
Labels: core, documentation

#12091 [Keyboard] Enable RGB Matrix for Corne
  keyboards/crkbd/rev1/common/config.h
  keyboards/crkbd/rev1/common/rules.mk
  keyboards/crkbd/rev1/rev1.c
Labels: keyboard

#12070 Adding grant24 Planck Rev 6 keymap.
  keyboards/planck/keymaps/grant24/config.h
  keyboards/planck/keymaps/grant24/keymap.c
  keyboards/planck/keymaps/grant24/readme.md
  keyboards/planck/keymaps/grant24/rules.mk
Labels: keymap

#12013 Update dichotomy/alairock layout
  keyboards/dichotomy/keymaps/alairock/keymap.c
Labels: keymap

#11866 add Keyboard Rartlite and support via
  keyboards/rart/rartlite/config.h
  keyboards/rart/rartlite/info.json
  keyboards/rart/rartlite/keymaps/default/keymap.c
  keyboards/rart/rartlite/keymaps/via/keymap.c
  keyboards/rart/rartlite/keymaps/via/rules.mk
  keyboards/rart/rartlite/rartlite.c
  keyboards/rart/rartlite/rartlite.h
  keyboards/rart/rartlite/readme.md
  keyboards/rart/rartlite/rules.mk
Labels: keyboard, keymap, via

#11827 Add Conone 65
  keyboards/kindakeyboards/conone65/config.h
  keyboards/kindakeyboards/conone65/conone65.c
  keyboards/kindakeyboards/conone65/conone65.h
  keyboards/kindakeyboards/conone65/info.json
  keyboards/kindakeyboards/conone65/keymaps/default/keymap.c
  keyboards/kindakeyboards/conone65/keymaps/default/readme.md
  keyboards/kindakeyboards/conone65/readme.md
  keyboards/kindakeyboards/conone65/rules.mk
Labels: keyboard, keymap

#11665 Documentation changes SPLIT_USB_DETECT and hid_listen udev rules
  docs/faq_debug.md
  docs/feature_split_keyboard.md
Labels: documentation

#11694 PR for keymap sigma-squared
  keyboards/bm40hsrgb/keymaps/signynt/config.h
  keyboards/bm40hsrgb/keymaps/signynt/keymap.c
  keyboards/bm40hsrgb/keymaps/signynt/readme.md
  keyboards/bm40hsrgb/keymaps/signynt/rules.mk
  keyboards/bm40hsrgb/keymaps/signynt_2_loud/config.h
  keyboards/bm40hsrgb/keymaps/signynt_2_loud/keymap.c
  keyboards/bm40hsrgb/keymaps/signynt_2_loud/readme.md
  keyboards/bm40hsrgb/keymaps/signynt_2_loud/rules.mk
  keyboards/bm40hsrgb/keymaps/signynt_2_quiet/config.h
  keyboards/bm40hsrgb/keymaps/signynt_2_quiet/keymap.c
  keyboards/bm40hsrgb/keymaps/signynt_2_quiet/readme.md
  keyboards/bm40hsrgb/keymaps/signynt_2_quiet/rules.mk
Labels: keymap

#12103 cannonkeys/atlas_alps: rename via keymaps rules.mk.txt to rules.mk
  keyboards/cannonkeys/atlas_alps/keymaps/via/rules.mk
Labels: bug, keymap, via

#12095 Remove ifdefs for Swap Hands keycodes
  quantum/quantum_keycodes.h
Labels: core

#12094 Add Studio Kestra Nue PCB
  keyboards/studiokestra/nue/config.h
  keyboards/studiokestra/nue/info.json
  keyboards/studiokestra/nue/keymaps/default/keymap.c
  keyboards/studiokestra/nue/keymaps/default/readme.md
  keyboards/studiokestra/nue/keymaps/via/keymap.c
  keyboards/studiokestra/nue/keymaps/via/readme.md
  keyboards/studiokestra/nue/keymaps/via/rules.mk
  keyboards/studiokestra/nue/nue.c
  keyboards/studiokestra/nue/nue.h
  keyboards/studiokestra/nue/readme.md
  keyboards/studiokestra/nue/rules.mk
Labels: keyboard, keymap, via

#12101 `qmk generate-rules-mk`: add `--escape` switch for makefile logic
  build_keyboard.mk
  lib/python/qmk/cli/generate/rules_mk.py
Labels: bug, cli, core, python

#10192 [Docs] Japanese translation of docs/keycodes.md
  docs/ja/keycodes.md
Labels: documentation, translation

#12077 Dubba175
  keyboards/dubba175/config.h
  keyboards/dubba175/dubba175.c
  keyboards/dubba175/dubba175.h
  keyboards/dubba175/info.json
  keyboards/dubba175/keymaps/default/config.h
  keyboards/dubba175/keymaps/default/keymap.c
  keyboards/dubba175/keymaps/default/readme.md
  keyboards/dubba175/keymaps/default/rules.mk
  keyboards/dubba175/readme.md
  keyboards/dubba175/rules.mk
Labels: keyboard, keymap

#8066 Keymap Minivan: configurable dual layout, many symbols, speed/text-size measuring
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_colemak.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_colemak.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_dvorak.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_dvorak.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_dvorak_descramble.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_dvorak_descramble.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_numpad.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_numpad.h
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_numpad.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_qwerty.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_qwerty.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_qwerty_basearrow.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_qwerty_basearrow.h
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_qwerty_basearrow.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_workman.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_workman.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/config.h
  keyboards/thevankeyboards/minivan/keymaps/josjoha/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/minifan_config_compact.h
  keyboards/thevankeyboards/minivan/keymaps/josjoha/readme.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/rules.mk
  keyboards/thevankeyboards/minivan/keymaps/josjoha/todo.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/unicode_macros.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/unicode_macros.h
  keyboards/thevankeyboards/minivan/keymaps/josjoha/unicode_weurope.h
  keyboards/thevankeyboards/minivan/keymaps/josjoha/user_config.h
Labels: keymap

#12106 Fixed the ortho60 and ortho48 matrix layout after testing
  keyboards/cannonkeys/ortho48/ortho48.h
  keyboards/cannonkeys/ortho60/ortho60.h
Labels: keyboard

#12096 Update correct layout name for online configurator
  keyboards/bastardkb/tbk/info.json
Labels: keyboard

#11716 Monstargear xo87 solderable support
  keyboards/monstargear/xo87/solderable/config.h
  keyboards/monstargear/xo87/solderable/info.json
  keyboards/monstargear/xo87/solderable/keymaps/default/keymap.c
  keyboards/monstargear/xo87/solderable/keymaps/default/readme.md
  keyboards/monstargear/xo87/solderable/keymaps/via/config.h
  keyboards/monstargear/xo87/solderable/keymaps/via/keymap.c
  keyboards/monstargear/xo87/solderable/keymaps/via/readme.md
  keyboards/monstargear/xo87/solderable/keymaps/via/rules.mk
  keyboards/monstargear/xo87/solderable/readme.md
  keyboards/monstargear/xo87/solderable/rules.mk
  keyboards/monstargear/xo87/solderable/solderable.c
  keyboards/monstargear/xo87/solderable/solderable.h
Labels: keyboard, keymap, via

#11374 [Keyboard] Add the Lagrange keyboard
  keyboards/handwired/lagrange/config.h
  keyboards/handwired/lagrange/info.json
  keyboards/handwired/lagrange/keymaps/default/keymap.c
  keyboards/handwired/lagrange/keymaps/dpapavas/config.h
  keyboards/handwired/lagrange/keymaps/dpapavas/keymap.c
  keyboards/handwired/lagrange/keymaps/dpapavas/rules.mk
  keyboards/handwired/lagrange/lagrange.c
  keyboards/handwired/lagrange/lagrange.h
  keyboards/handwired/lagrange/readme.md
  keyboards/handwired/lagrange/rules.mk
  keyboards/handwired/lagrange/transport.c
Labels: keyboard, keymap

#11273 Add Boston keyboard
  keyboards/boston/boston.c
  keyboards/boston/boston.h
  keyboards/boston/chconf.h
  keyboards/boston/config.h
  keyboards/boston/halconf.h
  keyboards/boston/info.json
  keyboards/boston/keymaps/default/keymap.c
  keyboards/boston/keymaps/rgb-light-layers/keymap.c
  keyboards/boston/mcuconf.h
  keyboards/boston/readme.md
  keyboards/boston/rules.mk
Labels: keyboard, keymap

#12121 add OLED_DRIVER_ENABLE into show_options.mk
  show_options.mk
Labels: core

#12089 added 0xCB/1337 keyboard
  keyboards/0xcb/1337/1337.c
  keyboards/0xcb/1337/1337.h
  keyboards/0xcb/1337/config.h
  keyboards/0xcb/1337/info.json
  keyboards/0xcb/1337/keymaps/default/keymap.c
  keyboards/0xcb/1337/keymaps/via/keymap.c
  keyboards/0xcb/1337/keymaps/via/rules.mk
  keyboards/0xcb/1337/readme.md
  keyboards/0xcb/1337/rules.mk
Labels: keyboard, keymap, via

#12107 Set default OLED Update Interval for Split Keyboards
  drivers/oled/oled_driver.h
Labels: core

#12129 Remove a few more ifdefs from quantum_keycodes
  quantum/quantum_keycodes.h
Labels: core, enhancement

#12131 Remove ifdefs for UC and X/XP too
  quantum/quantum_keycodes.h
Labels: core, enhancement

#11837 Adding Zodiark Split keyboard
  keyboards/aleblazer/zodiark/config.h
  keyboards/aleblazer/zodiark/info.json
  keyboards/aleblazer/zodiark/keymaps/default/config.h
  keyboards/aleblazer/zodiark/keymaps/default/keymap.c
  keyboards/aleblazer/zodiark/keymaps/default/rules.mk
  keyboards/aleblazer/zodiark/keymaps/slimoled/config.h
  keyboards/aleblazer/zodiark/keymaps/slimoled/keymap.c
  keyboards/aleblazer/zodiark/keymaps/slimoled/rules.mk
  keyboards/aleblazer/zodiark/keymaps/via/config.h
  keyboards/aleblazer/zodiark/keymaps/via/encoder.c
  keyboards/aleblazer/zodiark/keymaps/via/keymap.c
  keyboards/aleblazer/zodiark/keymaps/via/oled.c
  keyboards/aleblazer/zodiark/keymaps/via/rules.mk
  keyboards/aleblazer/zodiark/readme.md
  keyboards/aleblazer/zodiark/rules.mk
  keyboards/aleblazer/zodiark/zodiark.c
  keyboards/aleblazer/zodiark/zodiark.h
Labels: keyboard, keymap, via

#11921 [Keyboard] add Soup10 support
  keyboards/soup10/config.h
  keyboards/soup10/info.json
  keyboards/soup10/keymaps/default/keymap.c
  keyboards/soup10/keymaps/default/readme.md
  keyboards/soup10/keymaps/via/keymap.c
  keyboards/soup10/keymaps/via/rules.mk
  keyboards/soup10/readme.md
  keyboards/soup10/rules.mk
  keyboards/soup10/soup10.c
  keyboards/soup10/soup10.h
Labels: keyboard, keymap, via

#12128 add support for bm68rgb
  keyboards/bm68rgb/bm68rgb.c
  keyboards/bm68rgb/bm68rgb.h
  keyboards/bm68rgb/config.h
  keyboards/bm68rgb/info.json
  keyboards/bm68rgb/keymaps/default/keymap.c
  keyboards/bm68rgb/keymaps/default/readme.md
  keyboards/bm68rgb/readme.md
  keyboards/bm68rgb/rules.mk
Labels: keyboard, keymap

#12141 Enforce minimum versions for jsonschema and MILC
  requirements.txt
Labels: cli

#12143 Upload api data to spaces
  .github/workflows/api.yml
  .github/workflows/develop_api.yml
Labels: CI

#12119 Remove stale references to "handwired/ferris"
  keyboards/ferris/keymaps/default/keymap.json
  keyboards/ferris/keymaps/default/readme.md
  keyboards/ferris/keymaps/pierrec83/keymap.json
Labels: keymap

#12136 Require `BOOTLOADER = qmk-dfu` for `:bootloader` target
  tmk_core/avr.mk
Labels: core, enhancement

#12019 [Keyboard] Capsunlocked CU80 - added variant's for RGB matrix support
  keyboards/capsunlocked/cu80/v2_ansi_rgb/config.h
  keyboards/capsunlocked/cu80/v2_ansi_rgb/info.json
  keyboards/capsunlocked/cu80/v2_ansi_rgb/keymaps/default/keymap.c
  keyboards/capsunlocked/cu80/v2_ansi_rgb/keymaps/default/readme.md
  keyboards/capsunlocked/cu80/v2_ansi_rgb/keymaps/via/keymap.c
  keyboards/capsunlocked/cu80/v2_ansi_rgb/keymaps/via/rules.mk
  keyboards/capsunlocked/cu80/v2_ansi_rgb/readme.md
  keyboards/capsunlocked/cu80/v2_ansi_rgb/rules.mk
  keyboards/capsunlocked/cu80/v2_ansi_rgb/v2_ansi_rgb.c
  keyboards/capsunlocked/cu80/v2_ansi_rgb/v2_ansi_rgb.h
  keyboards/capsunlocked/cu80/v2_iso_rgb/config.h
  keyboards/capsunlocked/cu80/v2_iso_rgb/info.json
  keyboards/capsunlocked/cu80/v2_iso_rgb/keymaps/default/keymap.c
  keyboards/capsunlocked/cu80/v2_iso_rgb/keymaps/default/readme.md
  keyboards/capsunlocked/cu80/v2_iso_rgb/keymaps/via/keymap.c
  keyboards/capsunlocked/cu80/v2_iso_rgb/keymaps/via/rules.mk
  keyboards/capsunlocked/cu80/v2_iso_rgb/readme.md
  keyboards/capsunlocked/cu80/v2_iso_rgb/rules.mk
  keyboards/capsunlocked/cu80/v2_iso_rgb/v2_iso_rgb.c
  keyboards/capsunlocked/cu80/v2_iso_rgb/v2_iso_rgb.h
Labels: keyboard, keymap, via

#12098 feat: add crkbd/keymaps/armand1m
  keyboards/crkbd/keymaps/armand1m/config.h
  keyboards/crkbd/keymaps/armand1m/keymap.c
  keyboards/crkbd/keymaps/armand1m/readme.md
  keyboards/crkbd/keymaps/armand1m/rules.mk
Labels: keymap

#12109 Begin the process of deprecating bin/qmk in favor of the global cli
  Makefile
  bin/qmk
  build_json.mk
  build_keyboard.mk
  lib/python/qmk/commands.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, core, python

#12054 LED Matrix: decouple from Backlight
  common_features.mk
  quantum/led_matrix.c
  quantum/led_matrix.h
  quantum/process_keycode/process_backlight.c
  quantum/quantum.c
  quantum/quantum.h
  tmk_core/common/eeconfig.h
Labels: core, enhancement

#12154 Improve detection of community layout support
  lib/python/qmk/info.py
Labels: cli, python

#12179 Add BFO-9000 info.json
  keyboards/keebio/bfo9000/info.json
Labels: keyboard

#12161 Remove `FUNC()`
  quantum/quantum_keycodes.h
Labels: core, enhancement

#12183 arkag Userspace updated
  keyboards/mechmini/v2/keymaps/arkag/keymap.c
  keyboards/mechmini/v2/keymaps/arkag/rules.mk
  users/arkag/arkag.c
  users/arkag/arkag.h
Labels: keymap

#12170 ChibiOS conf migrations... take 16
  keyboards/boston/chconf.h
  keyboards/boston/halconf.h
  keyboards/boston/mcuconf.h
Labels: keyboard

#12079 Remove hex_to_keycode and move tap_random_base64 to send_string.c
  layouts/community/ergodox/coderkun_neo2/keymap.c
  quantum/process_keycode/process_unicode_common.c
  quantum/quantum.c
  quantum/quantum.h
  quantum/send_string.c
  quantum/send_string.h
Labels: core, enhancement, keymap

#12185 Enable default features on VIA keymap for Lily58
  keyboards/lily58/keymaps/via/rules.mk
Labels: keymap, via

#12147 Document LED physical location index for Planck and Preonic
  keyboards/planck/rev6/rev6.c
  keyboards/preonic/rev3/rev3.c
Labels: keyboard

#12186 [Bugs] Fix VIA Compiles
  keyboards/basekeys/slice/rev1_rgb/rules.mk
  keyboards/boardsource/microdox/keymaps/via/rules.mk
  keyboards/evyd13/ta65/keymaps/via/rules.mk
  keyboards/geminate60/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#12145 fix info.json layout name for boardsource/5x12
  keyboards/boardsource/5x12/info.json
Labels: keyboard

#11963 Hand 88
  keyboards/hand88/config.h
  keyboards/hand88/hand88.c
  keyboards/hand88/hand88.h
  keyboards/hand88/info.json
  keyboards/hand88/keymaps/default/keymap.c
  keyboards/hand88/keymaps/default/readme.md
  keyboards/hand88/keymaps/via/keymap.c
  keyboards/hand88/keymaps/via/readme.md
  keyboards/hand88/keymaps/via/rules.mk
  keyboards/hand88/readme.md
  keyboards/hand88/rules.mk
Labels: keyboard, keymap, via

#12181 Update RGB matrix effects documentation
  docs/feature_rgb_matrix.md
Labels: documentation

#12197 LED Matrix: Clean up includes
  keyboards/clueboard/66_hotswap/gen1/gen1.c
  keyboards/terrazzo/terrazzo.c
  quantum/led_matrix.c
  quantum/led_matrix.h
  quantum/led_matrix_drivers.c
Labels: core, enhancement, keyboard

#9196 miles2go userspace update, add functions for babblepaste library, add prime_e keybard keymap
  keyboards/primekb/prime_e/keymaps/milestogo/config.h
  keyboards/primekb/prime_e/keymaps/milestogo/keymap.c
  keyboards/primekb/prime_e/keymaps/milestogo/readme.md
  keyboards/primekb/prime_e/keymaps/milestogo/rules.mk
  users/miles2go/babblePaste.c
  users/miles2go/babblePaste.h
  users/miles2go/babblePaste.md
  users/miles2go/babl_chromeos.c
  users/miles2go/babl_emacs.c
  users/miles2go/babl_kitty.c
  users/miles2go/babl_nano.c
  users/miles2go/babl_vi.c
  users/miles2go/config.h
  users/miles2go/milestogo.c
  users/miles2go/milestogo.h
  users/miles2go/readme.md
  users/miles2go/rules.mk
Labels: awaiting review, keymap

#10562 Add Cassette42
  keyboards/cassette42/cassette42.c
  keyboards/cassette42/cassette42.h
  keyboards/cassette42/common/glcdfont.c
  keyboards/cassette42/common/oled_helper.c
  keyboards/cassette42/common/oled_helper.h
  keyboards/cassette42/config.h
  keyboards/cassette42/info.json
  keyboards/cassette42/keymaps/default/keymap.c
  keyboards/cassette42/keymaps/default/readme.md
  keyboards/cassette42/readme.md
  keyboards/cassette42/rules.mk
Labels: keyboard, keymap, pr_checklist_pending

#12218 Add info.json for RGBKB Pan
  keyboards/rgbkb/pan/info.json
Labels: bug, keyboard

#11318 Add yhaliaw keymap for Planck/Rev6.1.
  keyboards/planck/keymaps/yhaliaw/config.h
  keyboards/planck/keymaps/yhaliaw/keymap.c
  keyboards/planck/keymaps/yhaliaw/readme.md
  keyboards/planck/keymaps/yhaliaw/rules.mk
  keyboards/preonic/keymaps/yhaliaw/config.h
  keyboards/preonic/keymaps/yhaliaw/keymap.c
  keyboards/preonic/keymaps/yhaliaw/rules.mk
Labels: keymap

#11547 Added Adellein Keyboard/PCB
  keyboards/nightly_boards/adellein/adellein.c
  keyboards/nightly_boards/adellein/adellein.h
  keyboards/nightly_boards/adellein/config.h
  keyboards/nightly_boards/adellein/encoder_action.c
  keyboards/nightly_boards/adellein/encoder_action.h
  keyboards/nightly_boards/adellein/info.json
  keyboards/nightly_boards/adellein/keymaps/default/keymap.c
  keyboards/nightly_boards/adellein/keymaps/via/keymap.c
  keyboards/nightly_boards/adellein/keymaps/via/rules.mk
  keyboards/nightly_boards/adellein/readme.md
  keyboards/nightly_boards/adellein/rules.mk
Labels: keyboard, keymap, via

#12130 Fix keycode mappings for via and ensure they don't change within protocol
  keyboards/7c8/framework/keymaps/via/rules.mk
  keyboards/latin47ble/config.h
  keyboards/latin64ble/config.h
  keyboards/latinpadble/config.h
  keyboards/spaceman/pancake/feather/config.h
  keyboards/tokyokeyboard/alix40/config.h
  keyboards/ymd75/keymaps/via/rules.mk
  quantum/quantum_keycodes.h
  quantum/via.c
  quantum/via_ensure_keycode.h
  tmk_core/common/keycode.h
Labels: core, keyboard, keymap, via

#12242 M10-A refactor
  keyboards/m10a/config.h
  keyboards/m10a/info.json
  keyboards/m10a/keymaps/default/keymap.c
  keyboards/m10a/keymaps/via/config.h
  keyboards/m10a/keymaps/via/keymap.c
  keyboards/m10a/m10a.c
  keyboards/m10a/m10a.h
  keyboards/m10a/readme.md
  keyboards/m10a/rules.mk
Labels: enhancement, keyboard, keymap, via

#11933 Keyboard/grandiceps
  keyboards/tkw/grandiceps/config.h
  keyboards/tkw/grandiceps/grandiceps.c
  keyboards/tkw/grandiceps/grandiceps.h
  keyboards/tkw/grandiceps/halconf.h
  keyboards/tkw/grandiceps/info.json
  keyboards/tkw/grandiceps/keymaps/default/keymap.c
  keyboards/tkw/grandiceps/keymaps/default/readme.md
  keyboards/tkw/grandiceps/mcuconf.h
  keyboards/tkw/grandiceps/readme.md
  keyboards/tkw/grandiceps/rules.mk
Labels: keyboard, keymap

#12248 Fixes for recent info.json files
  keyboards/4pplet/aekiso60/rev_a/info.json
  keyboards/6ball/info.json
  keyboards/box75/info.json
  keyboards/four_banger/info.json
  keyboards/hhkb_lite_2/info.json
Labels: enhancement, keyboard

#11563 add support for Noah AVR PCB
  keyboards/kb_elmo/noah_avr/config.h
  keyboards/kb_elmo/noah_avr/info.json
  keyboards/kb_elmo/noah_avr/keymaps/default/keymap.c
  keyboards/kb_elmo/noah_avr/keymaps/via/keymap.c
  keyboards/kb_elmo/noah_avr/keymaps/via/rules.mk
  keyboards/kb_elmo/noah_avr/noah_avr.c
  keyboards/kb_elmo/noah_avr/noah_avr.h
  keyboards/kb_elmo/noah_avr/readme.md
  keyboards/kb_elmo/noah_avr/rules.mk
Labels: keyboard, keymap, via

#11604 Pizza Keyboards Pizza65 addition
  keyboards/pizzakeyboards/pizza65/config.h
  keyboards/pizzakeyboards/pizza65/info.json
  keyboards/pizzakeyboards/pizza65/keymaps/ansi_blocker_doublebs/keymap.c
  keyboards/pizzakeyboards/pizza65/keymaps/default/keymap.c
  keyboards/pizzakeyboards/pizza65/keymaps/default/readme.md
  keyboards/pizzakeyboards/pizza65/keymaps/iso_blocker/keymap.c
  keyboards/pizzakeyboards/pizza65/keymaps/iso_blocker_doublebs/keymap.c
  keyboards/pizzakeyboards/pizza65/keymaps/via/keymap.c
  keyboards/pizzakeyboards/pizza65/keymaps/via/readme.md
  keyboards/pizzakeyboards/pizza65/keymaps/via/rules.mk
  keyboards/pizzakeyboards/pizza65/pizza65.c
  keyboards/pizzakeyboards/pizza65/pizza65.h
  keyboards/pizzakeyboards/pizza65/readme.md
  keyboards/pizzakeyboards/pizza65/rules.mk
Labels: chibios-conf-migration, keyboard, keymap, via

#12256 box75: fix key positioning in info.json
  keyboards/box75/info.json
Labels: enhancement, keyboard

#12258 core: add support for MK66F18 (Teensy 3.6) micro controller
  data/schemas/keyboard.jsonschema
  lib/python/qmk/constants.py
  quantum/mcu_selection.mk
  tmk_core/common/chibios/bootloader.c
  tmk_core/common/chibios/chibios_config.h
Labels: cli, core, python

#12120 [Keyboard] Add YMDK NP24 (ATmega32U4 with 6 RGB LEDs)
  keyboards/ymdk/np24/u4rgb6/config.h
  keyboards/ymdk/np24/u4rgb6/info.json
  keyboards/ymdk/np24/u4rgb6/keymaps/default/keymap.c
  keyboards/ymdk/np24/u4rgb6/keymaps/default/readme.md
  keyboards/ymdk/np24/u4rgb6/readme.md
  keyboards/ymdk/np24/u4rgb6/rules.mk
  keyboards/ymdk/np24/u4rgb6/u4rgb6.c
  keyboards/ymdk/np24/u4rgb6/u4rgb6.h
Labels: keyboard, keymap

#12173 [Keyboard] Added Roses Lite Support
  keyboards/roseslite/config.h
  keyboards/roseslite/info.json
  keyboards/roseslite/keymaps/default/keymap.c
  keyboards/roseslite/keymaps/default/readme.md
  keyboards/roseslite/keymaps/via/keymap.c
  keyboards/roseslite/keymaps/via/rules.mk
  keyboards/roseslite/readme.md
  keyboards/roseslite/roseslite.c
  keyboards/roseslite/roseslite.h
  keyboards/roseslite/rules.mk
Labels: keyboard, keymap, via

#12184 Keymap updates
  layouts/community/alice/stanrc85-alice/keymap.c
Labels: keymap

#12189 Fixes an issue where custom keycodes were not possible in Torn
  keyboards/torn/bongocat.c
Labels: bug, keyboard

#12199 fix bm68rgb default keymap
  keyboards/bm68rgb/keymaps/default/keymap.c
Labels: keymap

#12201 Mojito - removed layer macros
  keyboards/keebio/iris/keymaps/mojitas/config.h
  keyboards/keebio/iris/keymaps/mojitas/keymap.c
Labels: keymap

#12227 TKC M0lly refactor
  keyboards/tkc/m0lly/config.h
  keyboards/tkc/m0lly/info.json
  keyboards/tkc/m0lly/keymaps/default/keymap.c
  keyboards/tkc/m0lly/keymaps/via/keymap.c
  keyboards/tkc/m0lly/m0lly.c
  keyboards/tkc/m0lly/m0lly.h
  keyboards/tkc/m0lly/readme.md
  keyboards/tkc/m0lly/rules.mk
Labels: enhancement, keyboard, keymap, via

#12257 Add bootmagic support for hub16 and hub20
  keyboards/hub16/readme.md
  keyboards/hub16/rules.mk
  keyboards/hub20/readme.md
  keyboards/hub20/rules.mk
Labels: keyboard

#12263 Pimentoso Paddino02 clean-up
  keyboards/pimentoso/paddino02/.noci
  keyboards/pimentoso/paddino02/readme.md
  keyboards/pimentoso/paddino02/rev1/rules.mk
  keyboards/pimentoso/paddino02/rev2/left/rules.mk
  keyboards/pimentoso/paddino02/rev2/right/rules.mk
  keyboards/pimentoso/paddino02/rules.mk
Labels: enhancement, keyboard

#12224 Add KMAC VIA keymap.
  keyboards/kmac/config.h
  keyboards/kmac/keymaps/via/keymap.c
  keyboards/kmac/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#12247 Add VIA keymap to Afternoon Labs Breeze keyboard
  keyboards/afternoonlabs/breeze/keymaps/via/keymap.c
  keyboards/afternoonlabs/breeze/keymaps/via/readme.md
  keyboards/afternoonlabs/breeze/keymaps/via/rules.mk
Labels: keymap, via

#12200 Add barleycorn smd keyboard
  keyboards/barleycorn_smd/barleycorn_smd.c
  keyboards/barleycorn_smd/barleycorn_smd.h
  keyboards/barleycorn_smd/config.h
  keyboards/barleycorn_smd/info.json
  keyboards/barleycorn_smd/keymaps/default/keymap.c
  keyboards/barleycorn_smd/keymaps/default/readme.md
  keyboards/barleycorn_smd/keymaps/iso/keymap.c
  keyboards/barleycorn_smd/keymaps/iso/readme.md
  keyboards/barleycorn_smd/keymaps/via/keymap.c
  keyboards/barleycorn_smd/keymaps/via/readme.md
  keyboards/barleycorn_smd/keymaps/via/rules.mk
  keyboards/barleycorn_smd/matrix.c
  keyboards/barleycorn_smd/readme.md
  keyboards/barleycorn_smd/rules.mk
Labels: keyboard, keymap, via

#11980 Modification of ErgoArrows info.json
  keyboards/ergoarrows/info.json
Labels: keyboard

#11825 add oled and encoder function to lck75
  keyboards/lck75/config.h
  keyboards/lck75/glcdfont.c
  keyboards/lck75/keymaps/default/keymap.c
  keyboards/lck75/lck75.c
  keyboards/lck75/rules.mk
Labels: keyboard, keymap

#11699 Adding support for a keyboard called ortho4exent
  keyboards/tszaboo/ortho4exent/config.h
  keyboards/tszaboo/ortho4exent/info.json
  keyboards/tszaboo/ortho4exent/keymaps/default/keymap.c
  keyboards/tszaboo/ortho4exent/keymaps/default/readme.md
  keyboards/tszaboo/ortho4exent/ortho4exent.c
  keyboards/tszaboo/ortho4exent/ortho4exent.h
  keyboards/tszaboo/ortho4exent/readme.md
  keyboards/tszaboo/ortho4exent/rules.mk
Labels: keyboard, keymap

#11083 Split RGB Matrix Zygomorph support
  keyboards/rgbkb/zygomorph/keymaps/xulkal/rules.mk
  keyboards/rgbkb/zygomorph/rev1/config.h
  keyboards/rgbkb/zygomorph/rev1/rev1.c
Labels: awaiting_pr, keyboard, keymap

#12205 Add userspace rverst
  keyboards/id80/keymaps/rverst/keymap.c
  keyboards/id80/keymaps/rverst/readme.md
  keyboards/id80/keymaps/rverst/rverst.json
  users/rverst/config.h
  users/rverst/readme.md
  users/rverst/rules.mk
  users/rverst/rverst.c
  users/rverst/rverst.h
  users/rverst/unicode.h
Labels: keymap

#12142 [Keymap] jumper149 keymap for the dztech/dz65rgb
  keyboards/dztech/dz65rgb/keymaps/jumper149/config.h
  keyboards/dztech/dz65rgb/keymaps/jumper149/keymap.c
  keyboards/dztech/dz65rgb/keymaps/jumper149/readme.md
  keyboards/dztech/dz65rgb/keymaps/jumper149/rgb_matrix_user.inc
  keyboards/dztech/dz65rgb/keymaps/jumper149/rules.mk
Labels: keymap

#12234 Add handwired/bolek keyboard
  keyboards/handwired/bolek/bolek.c
  keyboards/handwired/bolek/bolek.h
  keyboards/handwired/bolek/config.h
  keyboards/handwired/bolek/info.json
  keyboards/handwired/bolek/keymaps/default/keymap.c
  keyboards/handwired/bolek/keymaps/default/readme.md
  keyboards/handwired/bolek/readme.md
  keyboards/handwired/bolek/rules.mk
Labels: keyboard, keymap

#12030 Adding Keyboard: GMMK Pro
  keyboards/gmmk/.noci
  keyboards/gmmk/pro/config.h
  keyboards/gmmk/pro/info.json
  keyboards/gmmk/pro/keymaps/default/keymap.c
  keyboards/gmmk/pro/pro.c
  keyboards/gmmk/pro/pro.h
  keyboards/gmmk/pro/readme.md
  keyboards/gmmk/pro/rules.mk
Labels: keyboard, keymap

#12264 XT converter cleanup
  keyboards/converter/xt_usb/config.h
  keyboards/converter/xt_usb/info.json
  keyboards/converter/xt_usb/keymaps/default/config.h
  keyboards/converter/xt_usb/keymaps/default/keymap.c
  keyboards/converter/xt_usb/matrix.c
  keyboards/converter/xt_usb/rules.mk
  keyboards/converter/xt_usb/xt_usb.h
  tmk_core/protocol/xt.h
  tmk_core/protocol/xt_interrupt.c
Labels: core, enhancement, keyboard, keymap

#12279 Aleblazer Zodiark touch-up
  keyboards/aleblazer/zodiark/info.json
  keyboards/aleblazer/zodiark/readme.md
Labels: enhancement, keyboard

#12265 Fixed keymap names of Noah AVR
  keyboards/kb_elmo/noah_avr/info.json
  keyboards/kb_elmo/noah_avr/keymaps/default/keymap.c
  keyboards/kb_elmo/noah_avr/noah_avr.h
  keyboards/kb_elmo/noah_avr/rules.mk
Labels: keyboard, keymap

#12132 [Keyboard] Add Pachi
  keyboards/xelus/pachi/config.h
  keyboards/xelus/pachi/keymaps/default/config.h
  keyboards/xelus/pachi/keymaps/default/keymap.c
  keyboards/xelus/pachi/keymaps/default/readme.md
  keyboards/xelus/pachi/keymaps/via/config.h
  keyboards/xelus/pachi/keymaps/via/keymap.c
  keyboards/xelus/pachi/keymaps/via/readme.md
  keyboards/xelus/pachi/keymaps/via/rules.mk
  keyboards/xelus/pachi/pachi.c
  keyboards/xelus/pachi/pachi.h
  keyboards/xelus/pachi/readme.md
  keyboards/xelus/pachi/rev1/config.h
  keyboards/xelus/pachi/rev1/rev1.c
  keyboards/xelus/pachi/rev1/rev1.h
  keyboards/xelus/pachi/rev1/rules.mk
Labels: keyboard, keymap, via

#12231 `qmk doctor`: Don't run udev checks under WSL
  lib/python/qmk/cli/doctor.py
Labels: bug, cli, enhancement, python

#12286 Consistently use bin/qmk when that script is called
  Makefile
  bin/qmk
  lib/python/qmk/commands.py
Labels: cli, core, python

#12216 ARM WS2812 SPI config (baudrate and circular buffer)
  docs/ws2812_driver.md
  drivers/chibios/ws2812_spi.c
Labels: core, documentation

#12280 Sirius UniGo66 touch-up
  keyboards/sirius/unigo66/readme.md
  keyboards/sirius/unigo66/rules.mk
  keyboards/sirius/unigo66/unigo66.h
Labels: enhancement, keyboard

#11441 Added new keyboards: Vanana / Vaguette Lite / Waaffle
  keyboards/nckiibs/vaguettelite/config.h
  keyboards/nckiibs/vaguettelite/info.json
  keyboards/nckiibs/vaguettelite/keymaps/default/keymap.c
  keyboards/nckiibs/vaguettelite/keymaps/default/readme.md
  keyboards/nckiibs/vaguettelite/keymaps/default_625u_universal/keymap.c
  keyboards/nckiibs/vaguettelite/keymaps/default_625u_universal/readme.md
  keyboards/nckiibs/vaguettelite/keymaps/noclew/keymap.c
  keyboards/nckiibs/vaguettelite/keymaps/noclew/readme.md
  keyboards/nckiibs/vaguettelite/keymaps/via/keymap.c
  keyboards/nckiibs/vaguettelite/keymaps/via/rules.mk
  keyboards/nckiibs/vaguettelite/readme.md
  keyboards/nckiibs/vaguettelite/rules.mk
  keyboards/nckiibs/vaguettelite/vaguettelite.c
  keyboards/nckiibs/vaguettelite/vaguettelite.h
  keyboards/nckiibs/vanana/config.h
  keyboards/nckiibs/vanana/info.json
  keyboards/nckiibs/vanana/keymaps/default/keymap.c
  keyboards/nckiibs/vanana/keymaps/default/readme.md
  keyboards/nckiibs/vanana/keymaps/via/keymap.c
  keyboards/nckiibs/vanana/keymaps/via/rules.mk
  keyboards/nckiibs/vanana/readme.md
  keyboards/nckiibs/vanana/rev1/config.h
  keyboards/nckiibs/vanana/rev1/rev1.c
  keyboards/nckiibs/vanana/rev1/rev1.h
  keyboards/nckiibs/vanana/rev1/rules.mk
  keyboards/nckiibs/vanana/rev2/config.h
  keyboards/nckiibs/vanana/rev2/rev2.c
  keyboards/nckiibs/vanana/rev2/rev2.h
  keyboards/nckiibs/vanana/rev2/rules.mk
  keyboards/nckiibs/vanana/rules.mk
  keyboards/nckiibs/waaffle/config.h
  keyboards/nckiibs/waaffle/keymaps/default/keymap.c
  keyboards/nckiibs/waaffle/keymaps/default/readme.md
  keyboards/nckiibs/waaffle/keymaps/via/keymap.c
  keyboards/nckiibs/waaffle/keymaps/via/rules.mk
  keyboards/nckiibs/waaffle/readme.md
  keyboards/nckiibs/waaffle/rev3/config.h
  keyboards/nckiibs/waaffle/rev3/elite_c/rules.mk
  keyboards/nckiibs/waaffle/rev3/info.json
  keyboards/nckiibs/waaffle/rev3/pro_micro/rules.mk
  keyboards/nckiibs/waaffle/rev3/rev3.c
  keyboards/nckiibs/waaffle/rev3/rev3.h
  keyboards/nckiibs/waaffle/rev3/rules.mk
Labels: keyboard, keymap, via

#12187 LED Matrix: Additional common_features.mk tweaks
  common_features.mk
Labels: core, enhancement

#12282 Boston: correct LAYOUT macro data
  keyboards/boston/info.json
Labels: bug, enhancement, keyboard

#11978 Durgod keyboard refactor in preparation for adding additional durgod keyboards
  keyboards/durgod/boards/DURGOD_STM32_F070/board.h
  keyboards/durgod/boards/DURGOD_STM32_F070/board.mk
  keyboards/durgod/boards/DURGOD_STM32_F070/bootloader_defs.h
  keyboards/durgod/boards/DURGOD_STM32_F070/chconf.h
  keyboards/durgod/boards/DURGOD_STM32_F070/mcuconf.h
  keyboards/durgod/k320/chconf.h
  keyboards/durgod/k320/config.h
  keyboards/durgod/k320/info.json
  keyboards/durgod/k320/k320.c
  keyboards/durgod/k320/k320.h
  keyboards/durgod/k320/keymaps/default/keymap.c
  keyboards/durgod/k320/keymaps/default/keymap.json
  keyboards/durgod/k320/keymaps/default/readme.md
  keyboards/durgod/k320/keymaps/default_iso/keymap.c
  keyboards/durgod/k320/keymaps/default_iso/readme.md
  keyboards/durgod/k320/keymaps/default_iso_mac/keymap.c
  keyboards/durgod/k320/keymaps/default_iso_mac/readme.md
  keyboards/durgod/k320/keymaps/default_mac/keymap.json
  keyboards/durgod/k320/keymaps/default_mac/readme.md
  keyboards/durgod/k320/keymaps/default_toggle_mac_windows/keymap.c
  keyboards/durgod/k320/keymaps/default_toggle_mac_windows/readme.md
  keyboards/durgod/k320/keymaps/default_toggle_mac_windows/rules.mk
  keyboards/durgod/k320/keymaps/kuenhlee/keymap.c
  keyboards/durgod/k320/keymaps/via/keymap.c
  keyboards/durgod/k320/keymaps/via/readme.md
  keyboards/durgod/k320/keymaps/via/rules.mk
  keyboards/durgod/k320/readme.md
  keyboards/durgod/k320/rules.mk
Labels: keyboard, keymap, via

#12303 Fix Kira80 license headers
  keyboards/kira80/config.h
  keyboards/kira80/keymaps/ansi/keymap.c
  keyboards/kira80/keymaps/ansi_wkl/keymap.c
  keyboards/kira80/keymaps/default/keymap.c
  keyboards/kira80/keymaps/iso/keymap.c
  keyboards/kira80/keymaps/via/keymap.c
  keyboards/kira80/kira80.c
  keyboards/kira80/kira80.h
Labels: keyboard, keymap, via

#12333 Use layout aliases when processing info.json
  lib/python/qmk/info.py
Labels: cli, python

#12276 Update readme.md on quefrency
  keyboards/keebio/quefrency/readme.md
Labels: keyboard

#12316 Configurator fixes for handwired/concertina/64key
  keyboards/handwired/concertina/64key/info.json
  keyboards/handwired/concertina/64key/readme.md
Labels: enhancement, keyboard

#11926 Add UC-1 keypad
  keyboards/merge/uc1/config.h
  keyboards/merge/uc1/info.json
  keyboards/merge/uc1/keymaps/default/keymap.c
  keyboards/merge/uc1/keymaps/default/readme.md
  keyboards/merge/uc1/keymaps/via/keymap.c
  keyboards/merge/uc1/keymaps/via/rules.mk
  keyboards/merge/uc1/readme.md
  keyboards/merge/uc1/rules.mk
  keyboards/merge/uc1/uc1.c
  keyboards/merge/uc1/uc1.h
Labels: keyboard, keymap, via

#12341 Fix Uni660 linker errors
  keyboards/sirius/uni660/rev1/rules.mk
  keyboards/sirius/uni660/rev2/rules.mk
Labels: bug, keyboard

#12327 LED Matrix: Fix up eeconfig code
  quantum/led_matrix.c
  quantum/led_matrix_types.h
Labels: core, enhancement

#12353 Configurator bugfix for GMMK Pro
  keyboards/gmmk/pro/info.json
Labels: enhancement, keyboard

#12352 [Keyboard] YMDK YM68
  keyboards/ymdk/ym68/config.h
  keyboards/ymdk/ym68/info.json
  keyboards/ymdk/ym68/keymaps/default/keymap.c
  keyboards/ymdk/ym68/readme.md
  keyboards/ymdk/ym68/rules.mk
  keyboards/ymdk/ym68/ym68.c
  keyboards/ymdk/ym68/ym68.h
Labels: keyboard, keymap

#12320 Add info.json for handwired/datahand
  keyboards/handwired/datahand/info.json
Labels: enhancement, keyboard

#11954 Add support for qmk_configurator style aliases
  data/mappings/keyboard_aliases.json
  lib/python/qmk/cli/c2json.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/cli/generate/api.py
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/cli/generate/info_json.py
  lib/python/qmk/cli/generate/layouts.py
  lib/python/qmk/cli/generate/rules_mk.py
  lib/python/qmk/cli/info.py
  lib/python/qmk/cli/list/keymaps.py
  lib/python/qmk/cli/new/keymap.py
  lib/python/qmk/commands.py
  lib/python/qmk/info.py
  lib/python/qmk/json_schema.py
  lib/python/qmk/keyboard.py
  lib/python/qmk/path.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

#12367 Align SEND_STRING mouse keycodes with recent changes
  quantum/send_string_keycodes.h
Labels: bug, core

#12358 More Tap Dance docs improvements
  docs/feature_tap_dance.md
Labels: documentation, enhancement

#12223 Preserve signedness from opt_encoder_handler for scroll data on Ploopy devices
  keyboards/ploopyco/mouse/mouse.c
  keyboards/ploopyco/trackball/trackball.c
Labels: keyboard

#12359 add valor_frl_tkl info.json
  keyboards/xelus/valor_frl_tkl/info.json
Labels: keyboard

#12357 Roses Lite layout macro touch-up
  keyboards/roseslite/keymaps/default/keymap.c
  keyboards/roseslite/keymaps/via/keymap.c
  keyboards/roseslite/roseslite.h
Labels: enhancement, keyboard, keymap, via

#12252 feat(keymaps): Changes to crkbd/keymaps/armand1m layout and README.md update
  keyboards/crkbd/keymaps/armand1m/config.h
  keyboards/crkbd/keymaps/armand1m/keymap.c
  keyboards/crkbd/keymaps/armand1m/readme.md
Labels: keymap

#12302 Move `API_SYSEX_MAX_SIZE` out of `config_common.h`
  quantum/api/api_sysex.h
  quantum/config_common.h
  tmk_core/protocol/midi/qmk_midi.c
Labels: core, enhancement

#12379 Fix a small typo in cli_commands.md
  docs/cli_commands.md
Labels: documentation

#12317 Better slave scan functions
  quantum/matrix.h
  quantum/split_common/matrix.c
Labels: cli, core, documentation, keyboard, keymap, python

#12269 Fix USER_PRINT on avr/atsam
  tmk_core/common/arm_atsam/_print.h
  tmk_core/common/avr/_print.h
Labels: bug, core

#12369 add handwired/swiftrax/equator
  keyboards/handwired/swiftrax/equator/config.h
  keyboards/handwired/swiftrax/equator/equator.c
  keyboards/handwired/swiftrax/equator/equator.h
  keyboards/handwired/swiftrax/equator/info.json
  keyboards/handwired/swiftrax/equator/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/equator/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/equator/keymaps/via/rules.mk
  keyboards/handwired/swiftrax/equator/readme.md
  keyboards/handwired/swiftrax/equator/rules.mk
Labels: keyboard, keymap, via

#12084 (Re)Fixing K-type RGB lighting
  keyboards/k_type/i2c_master.c
  keyboards/k_type/i2c_master.h
  keyboards/k_type/is31fl3733-dual.c
  keyboards/k_type/is31fl3733-dual.h
  keyboards/k_type/k_type-rgbdriver.c
  keyboards/k_type/k_type.c
  keyboards/k_type/keymaps/andrew-fahmy/config.h
  keyboards/k_type/keymaps/andrew-fahmy/keymap.c
  keyboards/k_type/keymaps/andrew-fahmy/rules.mk
  keyboards/k_type/keymaps/rgb/config.h
  keyboards/k_type/keymaps/rgb/keymap.c
  keyboards/k_type/keymaps/rgb/readme.md
  keyboards/k_type/mcuconf.h
  keyboards/k_type/rules.mk
Labels: keyboard, keymap

#12354 Added wilba.tech WT60-H3
  keyboards/wilba_tech/wt60_h3/config.h
  keyboards/wilba_tech/wt60_h3/info.json
  keyboards/wilba_tech/wt60_h3/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_h3/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_h3/keymaps/via/rules.mk
  keyboards/wilba_tech/wt60_h3/readme.md
  keyboards/wilba_tech/wt60_h3/rules.mk
  keyboards/wilba_tech/wt60_h3/wt60_h3.c
  keyboards/wilba_tech/wt60_h3/wt60_h3.h
Labels: keyboard, keymap, via

#12360 Added wilba.tech WT65-G2
  keyboards/wilba_tech/wt65_g2/config.h
  keyboards/wilba_tech/wt65_g2/info.json
  keyboards/wilba_tech/wt65_g2/keymaps/default/keymap.c
  keyboards/wilba_tech/wt65_g2/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_g2/keymaps/via/rules.mk
  keyboards/wilba_tech/wt65_g2/readme.md
  keyboards/wilba_tech/wt65_g2/rules.mk
  keyboards/wilba_tech/wt65_g2/wt65_g2.c
  keyboards/wilba_tech/wt65_g2/wt65_g2.h
Labels: keyboard, keymap, via

#12348 Added wilba.tech WT60-H2
  keyboards/wilba_tech/wt60_h2/config.h
  keyboards/wilba_tech/wt60_h2/info.json
  keyboards/wilba_tech/wt60_h2/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_h2/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_h2/keymaps/via/rules.mk
  keyboards/wilba_tech/wt60_h2/readme.md
  keyboards/wilba_tech/wt60_h2/rules.mk
  keyboards/wilba_tech/wt60_h2/wt60_h2.c
  keyboards/wilba_tech/wt60_h2/wt60_h2.h
Labels: keyboard, keymap, via

#12372 Add a `qmk format-json` command that will format JSON files
  docs/cli_commands.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/c2json.py
  lib/python/qmk/cli/format/__init__.py
  lib/python/qmk/cli/format/json.py
  lib/python/qmk/cli/generate/api.py
  lib/python/qmk/cli/generate/info_json.py
  lib/python/qmk/cli/info.py
  lib/python/qmk/cli/kle2json.py
  lib/python/qmk/info_json_encoder.py
  lib/python/qmk/json_encoders.py
  lib/python/qmk/tests/minimal_info.json
  lib/python/qmk/tests/minimal_keymap.json
  lib/python/qmk/tests/pytest_export.json
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, documentation, python

#12356 Configurator bugfix for handwired/bolek
  keyboards/handwired/bolek/info.json
Labels: enhancement, keyboard

#12306 Improve upon the 'Caveats' section of the Layers and Mod-Tap documentation
  docs/feature_layers.md
  docs/mod_tap.md
Labels: documentation

#12319 ISO Layouts fix
  keyboards/pizzakeyboards/pizza65/keymaps/iso_blocker/keymap.c
  keyboards/pizzakeyboards/pizza65/keymaps/iso_blocker_doublebs/keymap.c
  keyboards/pizzakeyboards/pizza65/pizza65.h
Labels: bug, keyboard, keymap

#12281 added twelvekey
  keyboards/kb_elmo/twelvekey/config.h
  keyboards/kb_elmo/twelvekey/info.json
  keyboards/kb_elmo/twelvekey/keymaps/default/keymap.c
  keyboards/kb_elmo/twelvekey/keymaps/via/keymap.c
  keyboards/kb_elmo/twelvekey/keymaps/via/rules.mk
  keyboards/kb_elmo/twelvekey/readme.md
  keyboards/kb_elmo/twelvekey/rules.mk
  keyboards/kb_elmo/twelvekey/twelvekey.c
  keyboards/kb_elmo/twelvekey/twelvekey.h
Labels: keyboard, keymap, via

#11998 Add XT65 keyboard
  keyboards/kopibeng/xt65/config.h
  keyboards/kopibeng/xt65/info.json
  keyboards/kopibeng/xt65/keymaps/default/keymap.c
  keyboards/kopibeng/xt65/keymaps/via/keymap.c
  keyboards/kopibeng/xt65/keymaps/via/rules.mk
  keyboards/kopibeng/xt65/readme.md
  keyboards/kopibeng/xt65/rules.mk
  keyboards/kopibeng/xt65/xt65.c
  keyboards/kopibeng/xt65/xt65.h
Labels: keyboard, keymap, via

#12275 add via support for bm68rgb
  keyboards/bm68rgb/keymaps/via/keymap.c
  keyboards/bm68rgb/keymaps/via/readme.md
  keyboards/bm68rgb/keymaps/via/rules.mk
Labels: keymap, via

#12278 TKC GodSpeed75: add RGB LED support
  keyboards/tkc/godspeed75/chconf.h
  keyboards/tkc/godspeed75/config.h
  keyboards/tkc/godspeed75/keymaps/default/keymap.c
  keyboards/tkc/godspeed75/keymaps/via/keymap.c
  keyboards/tkc/godspeed75/rules.mk
Labels: keyboard, keymap, via

#11639 Fix handling multiples of the same MIDI note (fixes bug brought up in issue #10199)
  quantum/process_keycode/process_midi.c
Labels: awaiting review, core

#12245 Add suspend wake functions for The Mark:65's RGB Matrix
  keyboards/boardsource/the_mark/config.h
  keyboards/boardsource/the_mark/the_mark.c
Labels: keyboard

#12221 Add Daisy, a macropad with dual rotary encoders + update Scarlet readme.md
  keyboards/draytronics/daisy/config.h
  keyboards/draytronics/daisy/daisy.c
  keyboards/draytronics/daisy/daisy.h
  keyboards/draytronics/daisy/info.json
  keyboards/draytronics/daisy/keymaps/default/keymap.c
  keyboards/draytronics/daisy/readme.md
  keyboards/draytronics/daisy/rules.mk
  keyboards/draytronics/scarlet/readme.md
Labels: keyboard, keymap

#12191 add massdrop/alt/hlmtre keymap, add .exe to gitignore
  keyboards/massdrop/alt/keymaps/hlmtre/keymap.c
Labels: keymap

#12246 Add RGB Matrix suspend wake functions to BM40
  keyboards/bm40hsrgb/bm40hsrgb.c
  keyboards/bm40hsrgb/config.h
Labels: keyboard

#12212 [Keymap] ANAVI Macro Pad 2 add git keymap
  keyboards/anavi/macropad2/keymaps/git/keymap.c
Labels: keymap

#12188 [Keymap] Update keyboards/helix/pico/keymaps/mtei/keymap.c
  keyboards/helix/pico/keymaps/mtei/keymap.c
Labels: keymap

#12118 Add Nix Studio OXALYS80 Keyboard
  keyboards/nix_studio/oxalys80/config.h
  keyboards/nix_studio/oxalys80/info.json
  keyboards/nix_studio/oxalys80/keymaps/default/keymap.c
  keyboards/nix_studio/oxalys80/keymaps/default/readme.md
  keyboards/nix_studio/oxalys80/keymaps/via/keymap.c
  keyboards/nix_studio/oxalys80/keymaps/via/readme.md
  keyboards/nix_studio/oxalys80/keymaps/via/rules.mk
  keyboards/nix_studio/oxalys80/oxalys80.c
  keyboards/nix_studio/oxalys80/oxalys80.h
  keyboards/nix_studio/oxalys80/readme.md
  keyboards/nix_studio/oxalys80/rules.mk
Labels: keyboard, keymap, via

#12203 Make the size of MATRIX_ROW_PINS and MATRIX_ROW_PINS_RIGHT the same
  keyboards/choco60/rev2/config.h
Labels: keyboard

#12233 Removed unused RGBLED_TIMER_TOP and F_CPU macros from quantum/rgblight.[ch]
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core
