Repository qmk/qmk_firmware, pull requests merged in 2021-06, with the labels that each got.

#13054 VIA compile fixes
  keyboards/capsunlocked/cu80/v2_ansi/rgb/rules.mk
  keyboards/capsunlocked/cu80/v2_iso/rgb/rules.mk
  keyboards/mt64rgb/keymaps/via/keymap.c
  keyboards/nopunin10did/jabberwocky/keymaps/via/keymap.c
  keyboards/rubi/keymaps/default/keymap.c
  keyboards/rubi/keymaps/via/keymap.c
  keyboards/rubi/rubi.c
Labels: keyboard, keymap, via

#13062 Add weak refs on reading rows/cols.
  quantum/matrix.c
  quantum/split_common/matrix.c
Labels: core

#13068 [Bug] VIA Fixes - Missing Keymap Argument
  keyboards/handwired/ergocheap/keymaps/via/keymap.c
Labels: keymap, via

#11276 [Keymap] merge jdelkins userspace and associated keymaps
  keyboards/dz60/keymaps/jdelkins/config.h
  keyboards/dz60/keymaps/jdelkins/keymap.c
  keyboards/dz60/keymaps/jdelkins/rules.mk
  keyboards/dz60/keymaps/jdelkins_ss/config.h
  keyboards/dz60/keymaps/jdelkins_ss/keymap.c
  keyboards/dz60/keymaps/jdelkins_ss/rules.mk
  keyboards/massdrop/alt/keymaps/jdelkins/config.h
  keyboards/massdrop/alt/keymaps/jdelkins/keymap.c
  keyboards/massdrop/alt/keymaps/jdelkins/rgb_matrix.h
  keyboards/massdrop/alt/keymaps/jdelkins/rules.mk
  keyboards/massdrop/alt/keymaps/jdelkins_ss/config.h
  keyboards/massdrop/alt/keymaps/jdelkins_ss/keymap.c
  keyboards/massdrop/alt/keymaps/jdelkins_ss/rgb_matrix.h
  keyboards/massdrop/alt/keymaps/jdelkins_ss/rules.mk
  keyboards/planck/keymaps/jdelkins/config.h
  keyboards/planck/keymaps/jdelkins/keymap.c
  keyboards/planck/keymaps/jdelkins/readme.md
  keyboards/planck/keymaps/jdelkins/rules.mk
  users/jdelkins/.gitignore
  users/jdelkins/jdelkins.c
  users/jdelkins/jdelkins.h
  users/jdelkins/rules.mk
Labels: keymap

#13022 Fixup ws2812 spi
  docs/ws2812_driver.md
  drivers/chibios/ws2812_spi.c
  keyboards/aeboards/ext65/rev2/config.h
  keyboards/cannonkeys/an_c/config.h
  keyboards/cannonkeys/atlas/config.h
  keyboards/cannonkeys/db60/config.h
  keyboards/cannonkeys/devastatingtkl/config.h
  keyboards/cannonkeys/instant60/config.h
  keyboards/cannonkeys/instant65/config.h
  keyboards/cannonkeys/obliterated75/config.h
  keyboards/cannonkeys/sagittarius/config.h
  keyboards/cannonkeys/savage65/config.h
  keyboards/cannonkeys/tmov2/config.h
  keyboards/cannonkeys/tsukuyomi/config.h
  keyboards/nebula12/config.h
  keyboards/primekb/meridian/config.h
  keyboards/projectkb/alice/rev1/config.h
  keyboards/projectkb/alice/rev2/config.h
  keyboards/zoo/wampus/config.h
Labels: bug, core, documentation, keyboard

#13053 Tidy up spi_master includes
  drivers/avr/spi_master.c
  drivers/avr/spi_master.h
  drivers/chibios/spi_master.c
  drivers/chibios/spi_master.h
Labels: bug, core, enhancement

#13093 `qmk multibuild`: Fix bug with Path objects
  lib/python/qmk/cli/multibuild.py
Labels: bug, cli, core, python

#13097 Update bcat's split_3x6_3 for Crkbd legacy removal
  layouts/community/split_3x6_3/bcat/config.h
  layouts/community/split_3x6_3/bcat/rules.mk
Labels: keymap

#12966 Fix caps lock indicator on Bear65 PCB
  keyboards/jacky_studio/bear_65/config.h
Labels: keyboard

#13102 kbdfans/kbd67/rev2: add LAYOUT_65_ansi_split_space layout data
  keyboards/kbdfans/kbd67/rev2/info.json
Labels: enhancement, keyboard

#13108 Fix includes for pmw3360 driver
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/pmw3360.c
  keyboards/ploopyco/pmw3360.c
Labels: keyboard

#12752 [Docs] update Japanese translation of feature_layers.md
  docs/ja/feature_layers.md
Labels: documentation, translation

#10670 Update mod_tap.md of Japanese document
  docs/ja/mod_tap.md
Labels: documentation, on hold, translation

#12790 JETVAN: Add initial support
  keyboards/thevankeyboards/jetvan/config.h
  keyboards/thevankeyboards/jetvan/jetvan.c
  keyboards/thevankeyboards/jetvan/jetvan.h
  keyboards/thevankeyboards/jetvan/keymaps/default/keymap.c
  keyboards/thevankeyboards/jetvan/keymaps/via/keymap.c
  keyboards/thevankeyboards/jetvan/keymaps/via/rules.mk
  keyboards/thevankeyboards/jetvan/readme.md
  keyboards/thevankeyboards/jetvan/rules.mk
Labels: keyboard, keymap, via

#13057 Corrected Number-pad numbers
  keyboards/bop/keymaps/default/keymap.c
Labels: keymap

#13078 core: bump USB spec version in device descriptor to 2.0
  tmk_core/protocol/usb_descriptor.c
Labels: core

#11957 add id80/ansi/keymaps/msf
  keyboards/id80/ansi/keymaps/msf/config.h
  keyboards/id80/ansi/keymaps/msf/keymap.c
  keyboards/id80/ansi/keymaps/msf/readme.md
  keyboards/id80/ansi/keymaps/msf/rules.mk
Labels: keymap

#12531 Fixed ISO keyboard layout for the Mysterium rev1.1 board
  keyboards/coseyfannitutti/mysterium/keymaps/ansi_7u/keymap.c
  keyboards/coseyfannitutti/mysterium/keymaps/default/keymap.c
  keyboards/coseyfannitutti/mysterium/keymaps/iso/keymap.c
  keyboards/coseyfannitutti/mysterium/keymaps/via/keymap.c
  keyboards/coseyfannitutti/mysterium/mysterium.h
Labels: awaiting changes, keyboard, keymap, via

#12601 add new keyboard molecule
  keyboards/molecule/adns.c
  keyboards/molecule/adns.h
  keyboards/molecule/adns9800_srom_A6.h
  keyboards/molecule/config.h
  keyboards/molecule/info.json
  keyboards/molecule/keymaps/default/keymap.c
  keyboards/molecule/keymaps/default/readme.md
  keyboards/molecule/molecule.c
  keyboards/molecule/molecule.h
  keyboards/molecule/readme.md
  keyboards/molecule/rules.mk
Labels: keyboard, keymap

#12645 Add program yoink via keymap
  keyboards/program_yoink/config.h
  keyboards/program_yoink/staggered/keymaps/via/config.h
  keyboards/program_yoink/staggered/keymaps/via/keymap.c
  keyboards/program_yoink/staggered/keymaps/via/readme.md
  keyboards/program_yoink/staggered/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#12819 [Core] ChibiOS fix O3 and LTO breakage of extra keys and joystick
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/vusb/vusb.c
Labels: core

#12861 RGB Matrix working for Sofle RGB
  keyboards/sofle/keymaps/killmaster/config.h
  keyboards/sofle/keymaps/killmaster/keymap.c
  keyboards/sofle/keymaps/killmaster/readme.md
  keyboards/sofle/keymaps/killmaster/rules.mk
  keyboards/sofle/rev1/readme.md
  keyboards/sofle/rev1/rev1.c
Labels: keyboard, keymap

#12951 Fix firmware size check with avr-libc 1:2.0.0+Atmel3.6.2-1.1 (Debian bullseye)
  tmk_core/avr.mk
  tmk_core/rules.mk
Labels: core

#13113 added basic midi documention of common features
  docs/_summary.md
  docs/feature_audio.md
  docs/feature_midi.md
Labels: documentation

#12754 Add readPort() and some API to 'tmk_core/common/*/gpio.h'
  tmk_core/common/avr/gpio.h
  tmk_core/common/chibios/gpio.h
Labels: core, enhancement

#13118 Add default `ortho_1x1` layout
  layouts/default/ortho_1x1/default_ortho_1x1/keymap.c
  layouts/default/ortho_1x1/info.json
  layouts/default/ortho_1x1/layout.json
  layouts/default/ortho_1x1/readme.md
Labels: enhancement, keymap

#12715 [Docs] update Japanese translation of custom_quantum_functions.md
  docs/ja/custom_quantum_functions.md
Labels: documentation, translation

#12759 [Docs] update Japanese translation of feature_rawhid.md
  docs/ja/feature_rawhid.md
Labels: documentation, translation

#12760 [Docs] update Japanese translation of hardware_avr.md
  docs/ja/hardware_avr.md
Labels: documentation, translation

#12771 [Docs] update Japanese translation of one_shot_keys.md
  docs/ja/one_shot_keys.md
Labels: documentation, translation

#12784 [Docs] update Japanese translation of ref_functions.md
  docs/ja/ref_functions.md
Labels: documentation, translation

#12836 [Docs] Update Japanese newbs_building_firmware_configurator.md
  docs/ja/newbs_building_firmware_configurator.md
Labels: documentation, translation

#13134 Move hid and pyusb to requirements.txt
  requirements-dev.txt
  requirements.txt
Labels: cli

#13135 Bump minimum compatible milc
  requirements.txt
Labels: cli

#13098 `spi_master` Kinetis support
  drivers/chibios/spi_master.c
  drivers/chibios/spi_master.h
Labels: core, enhancement

#13060 Fix Bug with (RGB|LED)_DISABLE_WHEN_USB_SUSPENDED define
  quantum/led_matrix.c
  quantum/rgb_matrix.c
Labels: bug, core

#13142 Migrate preonic/rev3 to pwm ws2812 driver
  keyboards/preonic/rev3/chconf.h
  keyboards/preonic/rev3/config.h
  keyboards/preonic/rev3/mcuconf.h
  keyboards/preonic/rev3/rules.mk
Labels: keyboard

#12240 Avoid 8-bit timer overflows in debounce algorithms
  build_test.mk
  quantum/debounce.h
  quantum/debounce/none.c
  quantum/debounce/sym_defer_g.c
  quantum/debounce/sym_defer_pk.c
  quantum/debounce/sym_eager_pk.c
  quantum/debounce/sym_eager_pr.c
  quantum/debounce/tests/debounce_test_common.cpp
  quantum/debounce/tests/debounce_test_common.h
  quantum/debounce/tests/rules.mk
  quantum/debounce/tests/sym_defer_g_tests.cpp
  quantum/debounce/tests/sym_defer_pk_tests.cpp
  quantum/debounce/tests/sym_eager_pk_tests.cpp
  quantum/debounce/tests/sym_eager_pr_tests.cpp
  quantum/debounce/tests/testlist.mk
  testlist.mk
  tmk_core/common/arm_atsam/_timer.h
  tmk_core/common/avr/_timer.h
  tmk_core/common/chibios/_timer.h
  tmk_core/common/timer.h
Labels: core

#13066 Allow limiting the multibuild based on keymap name.
  lib/python/qmk/cli/multibuild.py
Labels: cli, python

#13145 [Bug] Fix VIA Keymap Encoder
  keyboards/program_yoink/staggered/keymaps/via/keymap.c
Labels: keymap, via

#13152 Updated encoder_update_user on my keymap to follow the new signature on quantum
  keyboards/sofle/keymaps/killmaster/keymap.c
Labels: keymap

#13015 Add support for LAZYDESIGNERS/THE60/rev2
  keyboards/lazydesigners/the60/readme.md
  keyboards/lazydesigners/the60/rev1/config.h
  keyboards/lazydesigners/the60/rev1/info.json
  keyboards/lazydesigners/the60/rev1/keymaps/default/keymap.c
  keyboards/lazydesigners/the60/rev1/keymaps/default/readme.md
  keyboards/lazydesigners/the60/rev1/readme.md
  keyboards/lazydesigners/the60/rev1/rev1.c
  keyboards/lazydesigners/the60/rev1/rev1.h
  keyboards/lazydesigners/the60/rev1/rules.mk
  keyboards/lazydesigners/the60/rev2/config.h
  keyboards/lazydesigners/the60/rev2/info.json
  keyboards/lazydesigners/the60/rev2/keymaps/default/keymap.c
  keyboards/lazydesigners/the60/rev2/keymaps/via/keymap.c
  keyboards/lazydesigners/the60/rev2/keymaps/via/rules.mk
  keyboards/lazydesigners/the60/rev2/readme.md
  keyboards/lazydesigners/the60/rev2/rev2.c
  keyboards/lazydesigners/the60/rev2/rev2.h
  keyboards/lazydesigners/the60/rev2/rules.mk
  keyboards/lazydesigners/the60/the60.c
Labels: keyboard, keymap, via

#13147 GMMK Pro RGB Support
  common_features.mk
  docs/feature_rgb_matrix.md
  drivers/awinic/aw20216.c
  drivers/awinic/aw20216.h
  keyboards/gmmk/pro/config.h
  keyboards/gmmk/pro/halconf.h
  keyboards/gmmk/pro/mcuconf.h
  keyboards/gmmk/pro/pro.c
  keyboards/gmmk/pro/rules.mk
  quantum/rgb_matrix.h
  quantum/rgb_matrix_drivers.c
Labels: core, documentation, keyboard

#13163 Slightly more prominent LUFA Mass-storage bootloader warning.
  bootloader.mk
Labels: bug, core

#13089 Add ST7565 LCD driver
  common_features.mk
  docs/_summary.md
  docs/feature_st7565.md
  drivers/lcd/st7565.c
  drivers/lcd/st7565.h
  quantum/quantum.h
  tmk_core/common/keyboard.c
Labels: core, documentation, enhancement, feature

#9657 Migrate keyboards using uGFX to LED_MATRIX
  keyboards/ergodox_infinity/config.h
  keyboards/ergodox_infinity/ergodox_infinity.c
  keyboards/ergodox_infinity/matrix.c
  keyboards/ergodox_infinity/rules.mk
  keyboards/whitefox/config.h
  keyboards/whitefox/rules.mk
  keyboards/whitefox/whitefox.c
Labels: awaiting review, awaiting_pr, enhancement, keyboard

#12756 [Keyboard] Add Loop, Nano and Work boards from Work Louder
  keyboards/work_louder/encoder_actions.c
  keyboards/work_louder/encoder_actions.h
  keyboards/work_louder/loop/config.h
  keyboards/work_louder/loop/info.json
  keyboards/work_louder/loop/keymaps/default/keymap.c
  keyboards/work_louder/loop/keymaps/default/readme.md
  keyboards/work_louder/loop/keymaps/via/keymap.c
  keyboards/work_louder/loop/keymaps/via/rules.mk
  keyboards/work_louder/loop/loop.c
  keyboards/work_louder/loop/loop.h
  keyboards/work_louder/loop/post_config.h
  keyboards/work_louder/loop/readme.md
  keyboards/work_louder/loop/rules.mk
  keyboards/work_louder/nano/config.h
  keyboards/work_louder/nano/info.json
  keyboards/work_louder/nano/keymaps/default/keymap.c
  keyboards/work_louder/nano/keymaps/default/readme.md
  keyboards/work_louder/nano/keymaps/via/keymap.c
  keyboards/work_louder/nano/keymaps/via/rules.mk
  keyboards/work_louder/nano/nano.c
  keyboards/work_louder/nano/nano.h
  keyboards/work_louder/nano/post_config.h
  keyboards/work_louder/nano/readme.md
  keyboards/work_louder/nano/rules.mk
  keyboards/work_louder/rgb_functions.c
  keyboards/work_louder/rgb_functions.h
  keyboards/work_louder/work_board/config.h
  keyboards/work_louder/work_board/info.json
  keyboards/work_louder/work_board/keymaps/default/keymap.c
  keyboards/work_louder/work_board/keymaps/default/readme.md
  keyboards/work_louder/work_board/keymaps/default/rules.mk
  keyboards/work_louder/work_board/keymaps/via/keymap.c
  keyboards/work_louder/work_board/keymaps/via/rules.mk
  keyboards/work_louder/work_board/post_config.h
  keyboards/work_louder/work_board/readme.md
  keyboards/work_louder/work_board/rules.mk
  keyboards/work_louder/work_board/work_board.c
  keyboards/work_louder/work_board/work_board.h
Labels: keyboard, keymap, via

#11614 Add Matrix 8XV1.2 OG rev1 PCB
  keyboards/matrix/m12og/readme.md
  keyboards/matrix/m12og/rev1/boards/m12og_v1/board.c
  keyboards/matrix/m12og/rev1/boards/m12og_v1/board.h
  keyboards/matrix/m12og/rev1/boards/m12og_v1/board.mk
  keyboards/matrix/m12og/rev1/chconf.h
  keyboards/matrix/m12og/rev1/config.h
  keyboards/matrix/m12og/rev1/halconf.h
  keyboards/matrix/m12og/rev1/info.json
  keyboards/matrix/m12og/rev1/keymaps/default/keymap.c
  keyboards/matrix/m12og/rev1/ld/m12og_v1.ld
  keyboards/matrix/m12og/rev1/matrix.c
  keyboards/matrix/m12og/rev1/mcuconf.h
  keyboards/matrix/m12og/rev1/readme.md
  keyboards/matrix/m12og/rev1/rev1.c
  keyboards/matrix/m12og/rev1/rev1.h
  keyboards/matrix/m12og/rev1/rules.mk
  keyboards/matrix/m12og/rev2/config.h
  keyboards/matrix/m12og/rev2/info.json
  keyboards/matrix/m12og/rev2/keymaps/default/keymap.c
  keyboards/matrix/m12og/rev2/keymaps/iso/keymap.c
  keyboards/matrix/m12og/rev2/keymaps/via/keymap.c
  keyboards/matrix/m12og/rev2/keymaps/via/rules.mk
  keyboards/matrix/m12og/rev2/readme.md
  keyboards/matrix/m12og/rev2/rev2.c
  keyboards/matrix/m12og/rev2/rev2.h
  keyboards/matrix/m12og/rev2/rules.mk
Labels: keyboard, keymap, via

#12066 [Docs] Japanese translation of docs/data_driven_config.md
  docs/ja/_summary.md
  docs/ja/data_driven_config.md
Labels: documentation, translation

#12835 [Docs] Update Japanese newbs.md document
  docs/ja/newbs.md
Labels: documentation, translation

#12837 [Docs] Update Japanese newbs_flashing.md
  docs/ja/newbs_flashing.md
Labels: documentation, translation

#12753 [Docs] update Japanese translation of feature_pointing_device.md
  docs/ja/feature_pointing_device.md
Labels: documentation, translation

#13189 GMMK Pro LED map Fix
  keyboards/gmmk/pro/pro.c
Labels: keyboard

#13205 Update feature_split_keyboard.md
  docs/feature_split_keyboard.md
Labels: documentation

#12839 [Docs] Update Japanese newbs_learn_more_resources.md
  docs/ja/newbs_learn_more_resources.md
Labels: documentation, translation

#13199 Ensure that safe_commands always run
  bin/qmk
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/chibios/__init__.py
  lib/python/qmk/cli/format/__init__.py
  lib/python/qmk/cli/generate/__init__.py
  lib/python/qmk/cli/list/__init__.py
  lib/python/qmk/cli/new/__init__.py
Labels: cli, python

#12733 Fix ploopy readme
  keyboards/ploopyco/trackball_nano/keymaps/default/readme.md
Labels: keymap

#12786 add tender/macrowo_pad
  keyboards/tender/macrowo_pad/config.h
  keyboards/tender/macrowo_pad/info.json
  keyboards/tender/macrowo_pad/keymaps/default/keymap.c
  keyboards/tender/macrowo_pad/keymaps/default/rules.mk
  keyboards/tender/macrowo_pad/keymaps/via/keymap.c
  keyboards/tender/macrowo_pad/keymaps/via/rules.mk
  keyboards/tender/macrowo_pad/macrowo_pad.c
  keyboards/tender/macrowo_pad/macrowo_pad.h
  keyboards/tender/macrowo_pad/readme.md
  keyboards/tender/macrowo_pad/rules.mk
Labels: keyboard, keymap, via

#12023 Moved tokyo60/ into tokyokeyboard/tokyo60/.
  keyboards/tokyokeyboard/tokyo60/config.h
  keyboards/tokyokeyboard/tokyo60/info.json
  keyboards/tokyokeyboard/tokyo60/keymaps/default/config.h
  keyboards/tokyokeyboard/tokyo60/keymaps/default/keymap.c
  keyboards/tokyokeyboard/tokyo60/keymaps/swappedBottomRow/config.h
  keyboards/tokyokeyboard/tokyo60/keymaps/swappedBottomRow/keymap.c
  keyboards/tokyokeyboard/tokyo60/keymaps/via/keymap.c
  keyboards/tokyokeyboard/tokyo60/keymaps/via/rules.mk
  keyboards/tokyokeyboard/tokyo60/readme.md
  keyboards/tokyokeyboard/tokyo60/rules.mk
  keyboards/tokyokeyboard/tokyo60/tokyo60.c
  keyboards/tokyokeyboard/tokyo60/tokyo60.h
Labels: awaiting changes, keyboard, keymap, via

#12053 [Keyboard] Add 'LAYOUT_65_ansi_split_bs_2_right_mods' support to KBDfans KBD67 rev2
  keyboards/kbdfans/kbd67/rev2/info.json
  keyboards/kbdfans/kbd67/rev2/keymaps/rouge8/keymap.c
  keyboards/kbdfans/kbd67/rev2/rev2.h
Labels: keyboard, keymap

#12291 Update one_shot_keys.md
  docs/one_shot_keys.md
Labels: awaiting review, documentation

#12474 add new keymap for pteron
  keyboards/handwired/pteron/keymaps/alzafacon/config.h
  keyboards/handwired/pteron/keymaps/alzafacon/keymap.c
  keyboards/handwired/pteron/keymaps/alzafacon/readme.md
  keyboards/handwired/pteron/keymaps/alzafacon/rules.mk
Labels: keymap

#12664 [Keymap] ANAVI Macro Pad 2 add Skype keymap
  keyboards/anavi/macropad2/keymaps/skype/keymap.c
  keyboards/anavi/macropad2/keymaps/skype/rules.mk
Labels: keymap

#12689 Add asym_eager_defer_pk debounce type
  docs/feature_debounce_type.md
  quantum/debounce/asym_eager_defer_pk.c
  quantum/debounce/tests/asym_eager_defer_pk_tests.cpp
  quantum/debounce/tests/rules.mk
  quantum/debounce/tests/testlist.mk
Labels: core, documentation

#12669 Limit saturation for RGB_MATRIX_JELLYBEAN_RAINDROPS
  quantum/rgb_matrix_animations/jellybean_raindrops_anim.h
Labels: awaiting review, core, enhancement

#12860 Add via support for the Leopold FC980C
  keyboards/fc980c/config.h
  keyboards/fc980c/keymaps/via/keymap.c
  keyboards/fc980c/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#12958 hatchback
  keyboards/clawsome/hatchback/config.h
  keyboards/clawsome/hatchback/hatcback.h
  keyboards/clawsome/hatchback/hatchback.c
  keyboards/clawsome/hatchback/info.json
  keyboards/clawsome/hatchback/keymap/default/keymap.c
  keyboards/clawsome/hatchback/readme.md
  keyboards/clawsome/hatchback/rules.mk
Labels: keyboard

#12957 suv
  keyboards/clawsome/suv/config.h
  keyboards/clawsome/suv/info.json
  keyboards/clawsome/suv/keymap/default/keymap.c
  keyboards/clawsome/suv/readme.md
  keyboards/clawsome/suv/rules.mk
  keyboards/clawsome/suv/suv.c
  keyboards/clawsome/suv/suv.h
Labels: keyboard

#12552 Make atmel-dfu and chibios-dfu flashing behave more like caterina flashing
  message.mk
  tmk_core/avr.mk
  tmk_core/chibios.mk
Labels: awaiting review, core

#13183 Change Lufa-MS size
  bootloader.mk
  keyboards/gray_studio/cod67/rules.mk
  keyboards/tada68/rules.mk
Labels: core, keyboard

#13076 core: make RESET key work with Teensy 4.x
  tmk_core/common/chibios/bootloader.c
Labels: core

#13063 Keebio Iris rev4 - keymap with dual encoder support
  keyboards/keebio/iris/keymaps/compilation-error/config.h
  keyboards/keebio/iris/keymaps/compilation-error/keymap.c
  keyboards/keebio/iris/keymaps/compilation-error/rules.mk
Labels: keymap

#13120 Top level heading for common config (RGB Matrix)
  docs/feature_rgb_matrix.md
Labels: documentation

#13153 Top level heading for common config (LED Matrix)
  docs/feature_led_matrix.md
Labels: documentation

#13105 Debian requires package libusb-dev to build bootloaderHID
  util/install/debian.sh
Labels: core

#13095 Potato65 Hotswap Fixed mistake in key matrix
  keyboards/buildakb/potato65hs/potato65hs.h
Labels: keyboard

#13090 [Keymap] ANAVI Macro Pad 2 add binary keymap
  keyboards/anavi/macropad2/keymaps/binary/keymap.c
  keyboards/anavi/macropad2/keymaps/binary/rules.mk
Labels: keymap

#13087 Update noon.h
  keyboards/ztboards/noon/noon.h
Labels: keyboard

#12700 Allow user override of RGB_DISABLE_WHEN_USB_SUSPENDED for BM40 keyboard
  keyboards/bm40hsrgb/config.h
Labels: keyboard

#12798 add mb44 keyboard
  keyboards/babyv/keymaps/melonbred/keymap.c
  keyboards/mb44/config.h
  keyboards/mb44/info.json
  keyboards/mb44/keymaps/2u1u_space/keymap.c
  keyboards/mb44/keymaps/2u_space/keymap.c
  keyboards/mb44/keymaps/3u_space/keymap.c
  keyboards/mb44/keymaps/default/keymap.c
  keyboards/mb44/keymaps/via/keymap.c
  keyboards/mb44/keymaps/via/rules.mk
  keyboards/mb44/mb44.c
  keyboards/mb44/mb44.h
  keyboards/mb44/readme.md
  keyboards/mb44/rules.mk
Labels: keyboard, keymap, via

#13209 Fix overrun in st7565_write_raw when not at (0, 0)
  drivers/lcd/st7565.c
Labels: core

#13204 Fix data buffer overrun and OLED corruption bug in oled_write_raw when cursor not at origin (0, 0)
  drivers/oled/oled_driver.c
Labels: bug, core

#13101 Document user song list file
  docs/feature_audio.md
Labels: documentation

#13077 core: wire up flash make target for Teensy 4.x
  platforms/chibios/IC_TEENSY_4_1/board/board.mk
  platforms/chibios/IC_TEENSY_4_1/rules.mk
  tmk_core/chibios.mk
Labels: core

#13157 Minivan : add missing enable to support RGB LEDs
  keyboards/thevankeyboards/minivan/rules.mk
Labels: keyboard

#13104 [Keyboard] Add KMAC PAD
  keyboards/kmac_pad/config.h
  keyboards/kmac_pad/info.json
  keyboards/kmac_pad/keymaps/default/keymap.c
  keyboards/kmac_pad/keymaps/default/readme.md
  keyboards/kmac_pad/kmac_pad.c
  keyboards/kmac_pad/kmac_pad.h
  keyboards/kmac_pad/matrix.c
  keyboards/kmac_pad/readme.md
  keyboards/kmac_pad/rules.mk
Labels: keyboard, keymap

#13215 OLED driver tweaks
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
Labels: core, documentation, enhancement

#13213 Adding new keyboard - Split 89
  keyboards/handwired/split89/config.h
  keyboards/handwired/split89/info.json
  keyboards/handwired/split89/keymaps/default/keymap.c
  keyboards/handwired/split89/keymaps/default/readme.md
  keyboards/handwired/split89/readme.md
  keyboards/handwired/split89/rules.mk
  keyboards/handwired/split89/split89.c
  keyboards/handwired/split89/split89.h
Labels: keyboard, keymap

#13070 ChibiOS SVN mirror script.
  util/update_chibios_mirror.sh
Labels: core

#13038 Update `develop` merge sequence to reflect no-ff, no-squash.
  docs/breaking_changes.md
Labels: documentation

#12641 [Core] Add CRC8 calculation subsystem to quantum
  common_features.mk
  quantum/crc.c
  quantum/crc.h
  tmk_core/common/keyboard.c
Labels: core

#11930 Extensible split data sync
  common_features.mk
  docs/config_options.md
  docs/feature_split_keyboard.md
  drivers/avr/i2c_master.c
  drivers/avr/i2c_slave.c
  drivers/avr/i2c_slave.h
  drivers/avr/serial.c
  drivers/avr/serial.h
  drivers/chibios/serial.c
  drivers/chibios/serial.h
  drivers/chibios/serial_usart.c
  drivers/serial.h
  keyboards/draculad/config.h
  keyboards/handwired/freoduo/rules.mk
  keyboards/helix/rev2/keymaps/default/rules.mk
  keyboards/keebio/iris/rev2/rules.mk
  keyboards/keebio/iris/rev3/rules.mk
  keyboards/keebio/iris/rev4/rules.mk
  keyboards/keebio/quefrency/rules.mk
  keyboards/keebio/viterbi/rev2/rules.mk
  keyboards/keebio/viterbi/rules.mk
  quantum/split_common/matrix.c
  quantum/split_common/post_config.h
  quantum/split_common/transaction_id_define.h
  quantum/split_common/transactions.c
  quantum/split_common/transactions.h
  quantum/split_common/transport.c
  quantum/split_common/transport.h
  tmk_core/common/host.c
Labels: core, documentation, enhancement, keyboard, keymap

#13231 Update config.h to add missing comment closing characters */
  keyboards/handwired/split89/config.h
Labels: bug, keyboard

#13208 [Keyboard] Fix revision issues with Kyria
  keyboards/kyria/kyria.h
  keyboards/kyria/rev1/rev1.h
  keyboards/kyria/rules.mk
Labels: bug, keyboard, optimization

#12737 [Docs] update Japanese translation of feature_haptic_feedback.md
  docs/ja/feature_haptic_feedback.md
Labels: documentation, translation

#12769 [Docs] update Japanese translation of hardware_keyboard_guidelines.md
  docs/ja/hardware_keyboard_guidelines.md
Labels: documentation, translation

#12820 [Docs] update Japanese translation of tap_hold.md
  docs/ja/tap_hold.md
Labels: documentation, translation

#13172 Add oled_invert
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
Labels: core, documentation

#12995 Murphpad Changes and Updates
  keyboards/mechwild/murphpad/config.h
  keyboards/mechwild/murphpad/keymaps/default/keymap.c
  keyboards/mechwild/murphpad/keymaps/via/keymap.c
  keyboards/mechwild/murphpad/readme.md
Labels: keyboard, keymap, via

#12996 adding keymap for pistachio
  keyboards/pistachio/config.h
  keyboards/pistachio/keymaps/rate/keymap.c
  keyboards/pistachio/keymaps/via/keymap.c
  keyboards/pistachio/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#13005 Add my keymaps for the Keebio Iris and Planck
  keyboards/keebio/iris/keymaps/mnil/config.h
  keyboards/keebio/iris/keymaps/mnil/keymap.c
  keyboards/keebio/iris/keymaps/mnil/readme.md
  keyboards/keebio/iris/keymaps/mnil/rules.mk
  keyboards/planck/keymaps/mnil/config.h
  keyboards/planck/keymaps/mnil/keymap.c
  keyboards/planck/keymaps/mnil/readme.md
  users/mnil/config.h
  users/mnil/mnil.c
  users/mnil/mnil.h
  users/mnil/readme.md
  users/mnil/rules.mk
Labels: keymap

#13235 Add Switchplate 910 keyboard
  keyboards/switchplate/switchplate910/config.h
  keyboards/switchplate/switchplate910/info.json
  keyboards/switchplate/switchplate910/keymaps/default/keymap.c
  keyboards/switchplate/switchplate910/keymaps/default/readme.md
  keyboards/switchplate/switchplate910/keymaps/via/keymap.c
  keyboards/switchplate/switchplate910/keymaps/via/rules.mk
  keyboards/switchplate/switchplate910/readme.md
  keyboards/switchplate/switchplate910/rules.mk
  keyboards/switchplate/switchplate910/switchplate910.c
  keyboards/switchplate/switchplate910/switchplate910.h
Labels: keyboard, keymap, via

#13237 ST7565 invert
  docs/feature_st7565.md
  drivers/lcd/st7565.c
  drivers/lcd/st7565.h
Labels: core, documentation, enhancement

#13246 bm60rgb: fix layout macro references
  keyboards/bm60rgb/bm60rgb.h
  keyboards/bm60rgb/info.json
  keyboards/bm60rgb/keymaps/default/keymap.c
  keyboards/bm60rgb/keymaps/via/keymap.c
  keyboards/bm60rgb/rules.mk
Labels: bug, enhancement, keyboard, keymap, via

#13202 [Keyboard Update] Trinity XT TKL fix license and add forgotten indicators
  keyboards/xelus/trinityxttkl/config.h
  keyboards/xelus/trinityxttkl/trinityxttkl.c
  keyboards/xelus/trinityxttkl/trinityxttkl.h
Labels: keyboard

#13250 pistachio_mp: correct key object order in info.json
  keyboards/pistachio_mp/info.json
Labels: enhancement, keyboard

#13247 allow LINE_PINxx for Teensy 4.x pins
  data/schemas/keyboard.jsonschema
  lib/python/qmk/info.py
Labels: cli, python

#12632 Fixing incorrect keymap build when switching between multiple keymap jsons
  build_json.mk
  build_keyboard.mk
Labels: core

#13252 Temporary disable of CRC for split
  common_features.mk
Labels: core

#13238 RGB Matrix eeprom write limiting
  quantum/led_matrix.c
  quantum/rgb_matrix.c
Labels: core

#13225 Telophase cleanup
  keyboards/telophase/config.h
  keyboards/telophase/keymaps/default/keymap.c
  keyboards/telophase/matrix.c
  keyboards/telophase/readme.md
  keyboards/telophase/rules.mk
  keyboards/telophase/telophase.c
  keyboards/telophase/telophase.h
Labels: enhancement, keyboard, keymap

#13180 Add stanrc85 Abasic keymap
  keyboards/kiwikey/wanderland/keymaps/stanrc85/config.h
  keyboards/kiwikey/wanderland/keymaps/stanrc85/keymap.c
  keyboards/kiwikey/wanderland/keymaps/stanrc85/rules.mk
Labels: keymap

#13107 Add Mac centric Shift and Alt + GUI Macros
  docs/keycodes.md
  docs/mod_tap.md
  quantum/quantum_keycodes.h
Labels: core, documentation

#12954 Add PLX Keyboard
  keyboards/plx/config.h
  keyboards/plx/info.json
  keyboards/plx/keymaps/default/keymap.c
  keyboards/plx/plx.c
  keyboards/plx/plx.h
  keyboards/plx/readme.md
  keyboards/plx/rules.mk
Labels: keyboard, keymap

#12845 Add support for sync_timer over serial_link (i.e. Ergodox Infinity).
  quantum/serial_link/system/serial_link.c
  tmk_core/common/sync_timer.c
  tmk_core/common/sync_timer.h
Labels: core

#12714 YMDK Wings: enable Backlight
  keyboards/ymdk/wings/config.h
  keyboards/ymdk/wings/rules.mk
Labels: keyboard

#12698 Fix Preonic rev3 default keymap
  keyboards/preonic/keymaps/default/keymap.c
Labels: keymap

#12505 Add LED matrix and 2 layouts to hub20
  keyboards/hub20/config.h
  keyboards/hub20/hub20.c
  keyboards/hub20/hub20.h
  keyboards/hub20/info.json
  keyboards/hub20/keymaps/left_hand_numpad/keymap.c
  keyboards/hub20/keymaps/right_hand_numpad/keymap.c
  keyboards/hub20/rules.mk
Labels: keyboard, keymap

#12386 Allow the exclusions of key presses to not actuate the haptic feedback
  docs/feature_haptic_feedback.md
  drivers/haptic/haptic.c
Labels: core, documentation

#13259 MisonoWorks Karina Layout Macro Rework
  keyboards/misonoworks/karina/info.json
  keyboards/misonoworks/karina/karina.h
  keyboards/misonoworks/karina/keymaps/default/keymap.c
  keyboards/misonoworks/karina/keymaps/voltex/keymap.c
  keyboards/misonoworks/karina/readme.md
Labels: enhancement, keyboard, keymap

#13262 [Bug] Pachi RGB: fix RGB modifiers
  keyboards/xelus/pachi/rgb/rgb.c
Labels: keyboard

#13261 [Bug] Pachi keymap compile fix
  keyboards/xelus/pachi/mini_32u4/keymaps/default/keymap.c
  keyboards/xelus/pachi/mini_32u4/keymaps/via/keymap.c
  keyboards/xelus/pachi/rev1/keymaps/default/keymap.c
  keyboards/xelus/pachi/rev1/keymaps/via/keymap.c
Labels: keymap, via

#13260 rect44: add LAYOUT_all data
  keyboards/rect44/info.json
Labels: enhancement, keyboard

#12855 Update Python dependencies for Nix
  nix/poetry.lock
  nix/pyproject.toml
  nix/sources.json
  shell.nix
Labels: needs testing

#13268 Fix/keyboard/dz65rgbv3
  keyboards/dztech/dz65rgb/v3/rules.mk
Labels: keyboard

#13269 OLED font easter egg
  drivers/oled/glcdfont.c
Labels: core, enhancement

#12806 [Docs] Update Japanese getting started documents.
  docs/ja/faq_build.md
  docs/ja/getting_started_docker.md
  docs/ja/getting_started_github.md
  docs/ja/getting_started_make_guide.md
  docs/ja/getting_started_vagrant.md
Labels: documentation, translation

#13150 Remove dfu-util arguments from mcu_selection
  quantum/mcu_selection.mk
Labels: core, enhancement

#13282 Cleanup junk characters, part 1
  docs/fr-fr/README.md
  docs/fr-fr/driver_installation_zadig.md
  docs/fr-fr/faq_build.md
  docs/fr-fr/faq_debug.md
  docs/fr-fr/faq_keymap.md
  docs/fr-fr/flashing.md
  docs/fr-fr/newbs_flashing.md
  keyboards/handwired/onekey/keymaps/oled/keymap.c
  keyboards/handwired/onekey/keymaps/oled/readme.md
  keyboards/the_uni/readme.md
  keyboards/tokyo60/readme.md
  keyboards/tokyokeyboard/alix40/readme.md
  keyboards/whitefox/whitefox.h
  keyboards/wuque/ikki68/readme.md
Labels: documentation, enhancement, keyboard, keymap, translation

#13285 le_chiffre.c conditional led_config
  keyboards/le_chiffre/le_chiffre.c
Labels: keyboard

#13277 mech.studio Dawn: correct key sizes and positioning
  keyboards/mechstudio/dawn/info.json
Labels: enhancement, keyboard

#13274 ID80: fix LAYOUT_iso data
  keyboards/id80/info.json
Labels: enhancement, keyboard

#13044 Move optical sensor code to drivers folder
  drivers/sensors/adns5050.c
  drivers/sensors/adns5050.h
  drivers/sensors/adns9800.c
  drivers/sensors/adns9800.h
  drivers/sensors/adns9800_srom_A6.h
  drivers/sensors/pimoroni_trackball.c
  drivers/sensors/pimoroni_trackball.h
  drivers/sensors/pmw3360.c
  drivers/sensors/pmw3360.h
  drivers/sensors/pmw3360_firmware.h
  keyboards/draculad/keymaps/pimoroni/keymap.c
  keyboards/draculad/keymaps/pimoroni/pimoroni_trackball.c
  keyboards/draculad/keymaps/pimoroni/pimoroni_trackball.h
  keyboards/draculad/keymaps/pimoroni/rules.mk
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/5x6_right_trackball.h
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/pmw3360.h
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/pmw3360_firmware.h
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/rules.mk
  keyboards/oddball/optical_sensor/optical_sensor.h
  keyboards/oddball/rules.mk
  keyboards/ploopyco/mouse/mouse.h
  keyboards/ploopyco/mouse/rules.mk
  keyboards/ploopyco/pmw3360.c
  keyboards/ploopyco/trackball/rules.mk
  keyboards/ploopyco/trackball/trackball.h
  keyboards/ploopyco/trackball_mini/rules.mk
  keyboards/ploopyco/trackball_mini/trackball_mini.h
  keyboards/ploopyco/trackball_nano/rules.mk
  keyboards/ploopyco/trackball_nano/trackball_nano.h
  layouts/community/ergodox/drashna/config.h
  users/drashna/drashna.h
  users/drashna/rules.mk
Labels: core, keyboard, keymap, optimization

#13276 Swiftrax Nodu handwired: Layout Macro rename and Community Layout support
  keyboards/handwired/swiftrax/nodu/info.json
  keyboards/handwired/swiftrax/nodu/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/nodu/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/nodu/nodu.h
  keyboards/handwired/swiftrax/nodu/rules.mk
Labels: enhancement, keyboard, keymap, via

#13275 Geminate60 Codebase Touch-up
  keyboards/geminate60/geminate60.h
  keyboards/geminate60/info.json
  keyboards/geminate60/keymaps/default/keymap.c
  keyboards/geminate60/keymaps/via/keymap.c
  keyboards/geminate60/readme.md
Labels: enhancement, keyboard, keymap, via

#13020 Adding "Eagle Viper Rep", open sourced Eagle/Viper V2/V3 PCB
  keyboards/4pplet/eagle_viper_rep/info.json
  keyboards/4pplet/eagle_viper_rep/keymaps/default/keymap.c
  keyboards/4pplet/eagle_viper_rep/keymaps/via/keymap.c
  keyboards/4pplet/eagle_viper_rep/keymaps/via/rules.mk
  keyboards/4pplet/eagle_viper_rep/readme.md
  keyboards/4pplet/eagle_viper_rep/rev_a/chconf.h
  keyboards/4pplet/eagle_viper_rep/rev_a/config.h
  keyboards/4pplet/eagle_viper_rep/rev_a/halconf.h
  keyboards/4pplet/eagle_viper_rep/rev_a/mcuconf.h
  keyboards/4pplet/eagle_viper_rep/rev_a/readme.md
  keyboards/4pplet/eagle_viper_rep/rev_a/rev_a.c
  keyboards/4pplet/eagle_viper_rep/rev_a/rev_a.h
  keyboards/4pplet/eagle_viper_rep/rev_a/rules.mk
Labels: keyboard, keymap, via

#13293 rgb+led matrix write throttling
  quantum/led_matrix.c
  quantum/rgb_matrix.c
Labels: core

#12617 eeprom_i2c driver: added EXTERNAL_EEPROM_WP_PIN configuration option.
  docs/eeprom_driver.md
  drivers/eeprom/eeprom_i2c.c
Labels: core, documentation

#13266 Additional documentation for GUI mod combo
  docs/feature_advanced_keycodes.md
Labels: documentation

#13298 Refactor doctor.py into a directory
  lib/python/qmk/cli/doctor/__init__.py
  lib/python/qmk/cli/doctor/check.py
  lib/python/qmk/cli/doctor/linux.py
  lib/python/qmk/cli/doctor/macos.py
  lib/python/qmk/cli/doctor/main.py
  lib/python/qmk/cli/doctor/windows.py
Labels: cli, python

#13251 Remove the redundant pin name validation
  lib/python/qmk/info.py
Labels: cli, python

#13292 Technika: add sample info.json data
  keyboards/technika/info.json
Labels: enhancement, keyboard

#12150 adding my custom keypad to qmk repository
  keyboards/makrosu/config.h
  keyboards/makrosu/info.json
  keyboards/makrosu/keymaps/default/keymap.c
  keyboards/makrosu/keymaps/via/keymap.c
  keyboards/makrosu/keymaps/via/rules.mk
  keyboards/makrosu/makrosu.c
  keyboards/makrosu/makrosu.h
  keyboards/makrosu/readme.md
  keyboards/makrosu/rules.mk
Labels: keyboard, keymap, via

#13302 Remove rgblight stubs
  quantum/process_keycode/process_rgb.c
  quantum/rgb.h
Labels: core, enhancement

#13301 docs/pr_checklist: fix capitalization of Vial
  docs/pr_checklist.md
Labels: documentation

#13304 Fix linker error when rgblight and RGB Matrix are both enabled
  common_features.mk
Labels: bug, core

#13306 [Bug] Makrosu VIA compile fix encoder and formatting
  keyboards/makrosu/keymaps/default/keymap.c
  keyboards/makrosu/keymaps/via/keymap.c
Labels: keymap, via

#12710 Fix zero condition of reactive runners that will suspend RGB animation
  quantum/rgb_matrix_runners/effect_runner_i.h
  quantum/rgb_matrix_runners/effect_runner_reactive.h
  quantum/rgb_matrix_runners/effect_runner_reactive_splash.h
Labels: awaiting changes, core

#12294 Optional OLED splash screen and fixed OLED i2c execution time saving
  drivers/qwiic/micro_oled.c
Labels: core

#13309 Allow settable SPI divisor for AW20216 driver, set default to 4
  docs/feature_rgb_matrix.md
  drivers/awinic/aw20216.c
Labels: core, documentation
