Repository qmk/qmk_firmware, pull requests merged in 2021-12, with the labels that each got.

#15368 Implement MAGIC_TOGGLE_CONTROL_CAPSLOCK
  docs/keycodes.md
  docs/keycodes_magic.md
  quantum/process_keycode/process_magic.c
  quantum/quantum_keycodes.h
Labels: enhancement, core, documentation

#14685 Add support for Mode SixtyFive M65HA and M65HI
  keyboards/mode/m65ha_alpha/chconf.h
  keyboards/mode/m65ha_alpha/config.h
  keyboards/mode/m65ha_alpha/halconf.h
  keyboards/mode/m65ha_alpha/info.json
  keyboards/mode/m65ha_alpha/keymaps/default/keymap.c
  keyboards/mode/m65ha_alpha/keymaps/via/keymap.c
  keyboards/mode/m65ha_alpha/keymaps/via/rules.mk
  keyboards/mode/m65ha_alpha/m65ha_alpha.c
  keyboards/mode/m65ha_alpha/m65ha_alpha.h
  keyboards/mode/m65ha_alpha/mcuconf.h
  keyboards/mode/m65ha_alpha/readme.md
  keyboards/mode/m65ha_alpha/rules.mk
  keyboards/mode/m65hi_alpha/chconf.h
  keyboards/mode/m65hi_alpha/config.h
  keyboards/mode/m65hi_alpha/halconf.h
  keyboards/mode/m65hi_alpha/info.json
  keyboards/mode/m65hi_alpha/keymaps/default/keymap.c
  keyboards/mode/m65hi_alpha/keymaps/via/keymap.c
  keyboards/mode/m65hi_alpha/keymaps/via/rules.mk
  keyboards/mode/m65hi_alpha/m65hi_alpha.c
  keyboards/mode/m65hi_alpha/m65hi_alpha.h
  keyboards/mode/m65hi_alpha/mcuconf.h
  keyboards/mode/m65hi_alpha/readme.md
  keyboards/mode/m65hi_alpha/rules.mk
Labels: keyboard, keymap, via

#15306 Convert not_so_minidox to SPLIT_KEYBOARD
  keyboards/handwired/not_so_minidox/config.h
  keyboards/handwired/not_so_minidox/i2c.c
  keyboards/handwired/not_so_minidox/i2c.h
  keyboards/handwired/not_so_minidox/keymaps/default/keymap.c
  keyboards/handwired/not_so_minidox/matrix.c
  keyboards/handwired/not_so_minidox/rules.mk
  keyboards/handwired/not_so_minidox/serial.c
  keyboards/handwired/not_so_minidox/serial.h
  keyboards/handwired/not_so_minidox/split_util.c
  keyboards/handwired/not_so_minidox/split_util.h
Labels: keyboard, keymap

#15340 Convert ai03/orbit to SPLIT_KEYBOARD
  keyboards/ai03/orbit/config.h
  keyboards/ai03/orbit/keymaps/default/keymap.c
  keyboards/ai03/orbit/matrix.c
  keyboards/ai03/orbit/orbit.c
  keyboards/ai03/orbit/orbit.h
  keyboards/ai03/orbit/readme.md
  keyboards/ai03/orbit/rules.mk
  keyboards/ai03/orbit/serial.c
  keyboards/ai03/orbit/serial.h
  keyboards/ai03/orbit/split_flags.c
  keyboards/ai03/orbit/split_flags.h
  keyboards/ai03/orbit/split_util.c
  keyboards/ai03/orbit/split_util.h
  keyboards/ai03/orbit/transport.c
  keyboards/ai03/orbit/transport.h
Labels: keyboard, keymap

#15332 Han60 QMK / VIA Support
  keyboards/han60/config.h
  keyboards/han60/han60.c
  keyboards/han60/han60.h
  keyboards/han60/info.json
  keyboards/han60/keymaps/default/keymap.c
  keyboards/han60/keymaps/default/readme.md
  keyboards/han60/keymaps/via/keymap.c
  keyboards/han60/keymaps/via/rules.mk
  keyboards/han60/readme.md
  keyboards/han60/rules.mk
Labels: keyboard, keymap, via

#15377 Remove manual enable of LTO within keyboards
  keyboards/1upkeyboards/1up60hse/rules.mk
  keyboards/alf/x11/rules.mk
  keyboards/butterstick/rules.mk
  keyboards/clueboard/66_hotswap/prototype/rules.mk
  keyboards/converter/usb_usb/ble/rules.mk
  keyboards/georgi/rules.mk
  keyboards/hineybush/h87a/rules.mk
  keyboards/idobo/rules.mk
  keyboards/noxary/260/rules.mk
  keyboards/percent/booster/rules.mk
  keyboards/scarletbandana/rules.mk
  keyboards/tetris/rules.mk
  keyboards/tkc/candybar/lefty/rules.mk
  keyboards/tkc/candybar/righty/rules.mk
Labels: enhancement, keyboard

#15376 Tidy up existing i2c_master implementations
  keyboards/matrix/m20add/m20add.c
  keyboards/yanghu/unicorne/config.h
  platforms/avr/drivers/i2c_master.c
  platforms/chibios/drivers/i2c_master.c
  platforms/chibios/drivers/i2c_master.h
Labels: core, keyboard

#15380 Update ReadMe for the Roopad
  keyboards/skippys_custom_pcs/roopad/readme.md
  keyboards/skippys_custom_pcs/roopad/rules.mk
Labels: keyboard

#15387 Modified config.h default configuration
  platforms/chibios/boards/GENERIC_WB32_F3G71XX/configs/config.h
Labels: bug, core

#15379 Updated pins configuration and keymaps for Vaengr
  keyboards/runes/vaengr/config.h
  keyboards/runes/vaengr/keymaps/default/keymap.c
  keyboards/runes/vaengr/keymaps/via/keymap.c
  keyboards/runes/vaengr/vaengr.h
Labels: keyboard, keymap, via

#13497 Update BM68RGB Caps Lock Backlight status indication
  keyboards/kprepublic/bm68hsrgb/bm68hsrgb.c
Labels: keyboard, awaiting changes

#15407 [Keyboard] Fix bug in Moonlander functions
  keyboards/moonlander/moonlander.c
Labels: bug, keyboard

#15346 [KEYBOARD] Add Viktus Smolka
  keyboards/viktus/smolka/config.h
  keyboards/viktus/smolka/info.json
  keyboards/viktus/smolka/keymaps/default/keymap.c
  keyboards/viktus/smolka/keymaps/default/readme.md
  keyboards/viktus/smolka/keymaps/via/keymap.c
  keyboards/viktus/smolka/keymaps/via/readme.md
  keyboards/viktus/smolka/keymaps/via/rules.mk
  keyboards/viktus/smolka/readme.md
  keyboards/viktus/smolka/rules.mk
  keyboards/viktus/smolka/smolka.c
  keyboards/viktus/smolka/smolka.h
Labels: keyboard, keymap, via

#15410 [Keyboard] Fix compilation issues for viktus smolka
  keyboards/viktus/smolka/keymaps/default/keymap.c
  keyboards/viktus/smolka/smolka.h
Labels: bug, keyboard, keymap

#14223 updates to own dactyl keymap
  keyboards/handwired/dactyl_manuform/5x6_5/keymaps/cykedev/config.h
  keyboards/handwired/dactyl_manuform/5x6_5/keymaps/cykedev/keymap.c
  keyboards/handwired/dactyl_manuform/5x6_5/keymaps/cykedev/rules.mk
Labels: keymap

#15414 Add DFU Suffix for APM chips
  keyboards/mnk1800s/rules.mk
  keyboards/mnk50/rules.mk
Labels: keyboard

#15409 Generalize Unicode defines
  common_features.mk
  quantum/quantum.c
Labels: core

#15416 Add missing define for unicode common
  quantum/quantum.h
Labels: bug, core

#15412 Add Mona v32a
  keyboards/ramonimbao/mona/v32a/config.h
  keyboards/ramonimbao/mona/v32a/info.json
  keyboards/ramonimbao/mona/v32a/keymaps/default/keymap.c
  keyboards/ramonimbao/mona/v32a/keymaps/iso/keymap.c
  keyboards/ramonimbao/mona/v32a/keymaps/via/keymap.c
  keyboards/ramonimbao/mona/v32a/keymaps/via/rules.mk
  keyboards/ramonimbao/mona/v32a/readme.md
  keyboards/ramonimbao/mona/v32a/rules.mk
  keyboards/ramonimbao/mona/v32a/v32a.c
  keyboards/ramonimbao/mona/v32a/v32a.h
Labels: keyboard, keymap, via

#15405 Update K type
  keyboards/k_type/config.h
  keyboards/k_type/i2c_master.c
  keyboards/k_type/i2c_master.h
  keyboards/k_type/is31fl3733-dual.c
  keyboards/k_type/is31fl3733-dual.h
  keyboards/k_type/k_type-rgbdriver.c
  keyboards/k_type/k_type.c
  keyboards/k_type/keymaps/default/keymap.c
  keyboards/k_type/keymaps/default/rules.mk
  keyboards/k_type/keymaps/rgb/config.h
  keyboards/k_type/keymaps/rgb/keymap.c
  keyboards/k_type/keymaps/rgb/readme.md
  keyboards/k_type/mcuconf.h
  keyboards/k_type/rules.mk
Labels: keyboard, keymap

#13200 New keyboard: Albacore
  keyboards/paprikman/albacore/albacore.c
  keyboards/paprikman/albacore/albacore.h
  keyboards/paprikman/albacore/config.h
  keyboards/paprikman/albacore/info.json
  keyboards/paprikman/albacore/keymaps/default/keymap.c
  keyboards/paprikman/albacore/keymaps/pulp/keymap.c
  keyboards/paprikman/albacore/keymaps/pulp/rules.mk
  keyboards/paprikman/albacore/keymaps/via/keymap.c
  keyboards/paprikman/albacore/keymaps/via/rules.mk
  keyboards/paprikman/albacore/readme.md
  keyboards/paprikman/albacore/rules.mk
Labels: keyboard, keymap, via

#15420 Remove Deprecated USB Polling comment from vusb.c
  tmk_core/protocol/vusb/vusb.c
Labels: core

#15411 Iron180 LED backlight fix
  keyboards/iron180/config.h
  keyboards/iron180/halconf.h
  keyboards/iron180/iron180.h
  keyboards/iron180/keymaps/default/keymap.c
  keyboards/iron180/keymaps/via/keymap.c
  keyboards/iron180/mcuconf.h
  keyboards/iron180/readme.md
  keyboards/iron180/rules.mk
Labels: keyboard, keymap, via

#15358 Update lighting effects
  keyboards/xbows/knight/config.h
  keyboards/xbows/knight/keymaps/default/config.h
  keyboards/xbows/knight/keymaps/via/config.h
  keyboards/xbows/knight/knight.c
  keyboards/xbows/knight_plus/config.h
  keyboards/xbows/knight_plus/keymaps/default/config.h
  keyboards/xbows/knight_plus/keymaps/via/config.h
  keyboards/xbows/knight_plus/knight_plus.c
  keyboards/xbows/nature/config.h
  keyboards/xbows/nature/nature.c
  keyboards/xbows/numpad/config.h
  keyboards/xbows/numpad/keymaps/default/config.h
  keyboards/xbows/numpad/keymaps/via/config.h
  keyboards/xbows/ranger/config.h
  keyboards/xbows/ranger/keymaps/default/config.h
  keyboards/xbows/ranger/keymaps/via/config.h
Labels: keyboard, keymap, via

#15413 [Keyboard] Add Eternal keypad
  keyboards/eternal_keypad/config.h
  keyboards/eternal_keypad/eternal_keypad.c
  keyboards/eternal_keypad/eternal_keypad.h
  keyboards/eternal_keypad/info.json
  keyboards/eternal_keypad/keymaps/default/config.h
  keyboards/eternal_keypad/keymaps/default/keymap.c
  keyboards/eternal_keypad/keymaps/default/readme.md
  keyboards/eternal_keypad/keymaps/lefty/config.h
  keyboards/eternal_keypad/keymaps/lefty/keymap.c
  keyboards/eternal_keypad/readme.md
  keyboards/eternal_keypad/rules.mk
Labels: keyboard, keymap

#15334 [Keyboard] Add jolofsor folder and denial75 subfolder under QMK keyboards
  keyboards/jolofsor/denial75/config.h
  keyboards/jolofsor/denial75/denial75.c
  keyboards/jolofsor/denial75/denial75.h
  keyboards/jolofsor/denial75/info.json
  keyboards/jolofsor/denial75/keymaps/default/keymap.c
  keyboards/jolofsor/denial75/keymaps/via/keymap.c
  keyboards/jolofsor/denial75/keymaps/via/rules.mk
  keyboards/jolofsor/denial75/readme.md
  keyboards/jolofsor/denial75/rules.mk
Labels: keyboard, keymap, via

#15396 Add stickey4 keyboard
  keyboards/dailycraft/stickey4/config.h
  keyboards/dailycraft/stickey4/keymaps/default/keymap.c
  keyboards/dailycraft/stickey4/keymaps/default/readme.md
  keyboards/dailycraft/stickey4/keymaps/via/keymap.c
  keyboards/dailycraft/stickey4/keymaps/via/readme.md
  keyboards/dailycraft/stickey4/keymaps/via/rules.mk
  keyboards/dailycraft/stickey4/readme.md
  keyboards/dailycraft/stickey4/rules.mk
  keyboards/dailycraft/stickey4/stickey4.c
  keyboards/dailycraft/stickey4/stickey4.h
Labels: keyboard, keymap, via

#15393 [Keymap] 3w6 helltm keymap combos
  keyboards/3w6/keymaps/helltm/combos.def
  keyboards/3w6/keymaps/helltm/combos.h
  keyboards/3w6/keymaps/helltm/config.h
  keyboards/3w6/keymaps/helltm/keymap.c
  keyboards/3w6/keymaps/helltm/rules.mk
Labels: keymap

#14845 [Keyboard] Fix minor typo in Ploopy Trackball Mini Docs
  keyboards/ploopyco/trackball_mini/readme.md
Labels: keyboard

#15430 Fix RESET not working for keyboards with Kiibohd bootloader
  docs/flashing.md
  platforms/chibios/bootloader.c
Labels: core, documentation

#15431 Expand rotational range for PMW3360 Optical Sensor
  docs/feature_pointing_device.md
  drivers/sensors/pmw3360.c
Labels: core, documentation

#15403 [Keyboard] Add Contender
  keyboards/contender/config.h
  keyboards/contender/contender.c
  keyboards/contender/contender.h
  keyboards/contender/info.json
  keyboards/contender/keymaps/default/config.h
  keyboards/contender/keymaps/default/keymap.c
  keyboards/contender/keymaps/default/readme.md
  keyboards/contender/readme.md
  keyboards/contender/rules.mk
Labels: keyboard, keymap

#15423 Flip encoder and fix weird volume behavior for Herringbone Pro
  keyboards/ramonimbao/herringbone/pro/config.h
  keyboards/ramonimbao/herringbone/pro/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#14846 [Keyboard] Fix minor typo in Ploopy Trackball Docs
  keyboards/ploopyco/trackball/readme.md
Labels: keyboard

#15435 ChibiOS SVN mirror script update
  util/update_chibios_mirror.sh
Labels: core

#15438 [Docs] Fix Header formatting in compatible mcu doc
  docs/compatible_microcontrollers.md
Labels: documentation

#15432 Add test filter to 'qmk pytest'
  docs/cli_commands.md
  lib/python/qmk/cli/pytest.py
Labels: enhancement, documentation, python, cli

#15441 Change "Chinese" to "Simplified Chinese" in langs.md
  docs/_langs.md
Labels: documentation

#15424 [Core] Add configuration of PMW3360 lift off distance
  docs/feature_pointing_device.md
  drivers/sensors/pmw3360.c
  drivers/sensors/pmw3360.h
Labels: core, documentation

#15440 [Keyboard] Pachi RGB update
  keyboards/xelus/pachi/rgb/rev1/config.h
  keyboards/xelus/pachi/rgb/rev2/config.h
Labels: keyboard

#15436 Fix encoder issue with Chevron
  keyboards/ramonimbao/chevron/keymaps/via/keymap.c
Labels: keymap, via

#15437 adding via support for spacey
  keyboards/spacey/config.h
  keyboards/spacey/keymaps/via/keymap.c
  keyboards/spacey/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#15173 [Keyboard] New Keyboard - Waka60
  keyboards/mechwild/waka60/config.h
  keyboards/mechwild/waka60/f401/halconf.h
  keyboards/mechwild/waka60/f401/mcuconf.h
  keyboards/mechwild/waka60/f401/rules.mk
  keyboards/mechwild/waka60/f411/halconf.h
  keyboards/mechwild/waka60/f411/mcuconf.h
  keyboards/mechwild/waka60/f411/rules.mk
  keyboards/mechwild/waka60/info.json
  keyboards/mechwild/waka60/keymaps/audio/config.h
  keyboards/mechwild/waka60/keymaps/audio/keymap.c
  keyboards/mechwild/waka60/keymaps/audio/rules.mk
  keyboards/mechwild/waka60/keymaps/default/keymap.c
  keyboards/mechwild/waka60/keymaps/via/keymap.c
  keyboards/mechwild/waka60/keymaps/via/rules.mk
  keyboards/mechwild/waka60/readme.md
  keyboards/mechwild/waka60/rules.mk
  keyboards/mechwild/waka60/waka60.c
  keyboards/mechwild/waka60/waka60.h
Labels: keyboard, keymap, via

#14949 Add new keyboard "Radialex"
  keyboards/takashicompany/radialex/config.h
  keyboards/takashicompany/radialex/info.json
  keyboards/takashicompany/radialex/keymaps/default/keymap.c
  keyboards/takashicompany/radialex/keymaps/via/config.h
  keyboards/takashicompany/radialex/keymaps/via/keymap.c
  keyboards/takashicompany/radialex/keymaps/via/rules.mk
  keyboards/takashicompany/radialex/radialex.c
  keyboards/takashicompany/radialex/radialex.h
  keyboards/takashicompany/radialex/readme.md
  keyboards/takashicompany/radialex/rules.mk
Labels: keyboard, keymap, via

#15404 [Keyboard] Add ginkgo65hot
  keyboards/mokey/ginkgo65hot/config.h
  keyboards/mokey/ginkgo65hot/ginkgo65hot.c
  keyboards/mokey/ginkgo65hot/ginkgo65hot.h
  keyboards/mokey/ginkgo65hot/info.json
  keyboards/mokey/ginkgo65hot/keymaps/default/keymap.c
  keyboards/mokey/ginkgo65hot/keymaps/via/keymap.c
  keyboards/mokey/ginkgo65hot/keymaps/via/rules.mk
  keyboards/mokey/ginkgo65hot/readme.md
  keyboards/mokey/ginkgo65hot/rules.mk
Labels: keyboard, keymap, via

#15455 BM60hsrgb/rev2 bugfix
  keyboards/kprepublic/bm60hsrgb/rev2/rev2.c
Labels: keyboard

#15248 [Keyboard] Add XS60
  keyboards/xelus/xs60/config.h
  keyboards/xelus/xs60/halconf.h
  keyboards/xelus/xs60/info.json
  keyboards/xelus/xs60/keymaps/default/config.h
  keyboards/xelus/xs60/keymaps/default/keymap.c
  keyboards/xelus/xs60/keymaps/via/config.h
  keyboards/xelus/xs60/keymaps/via/keymap.c
  keyboards/xelus/xs60/keymaps/via/rules.mk
  keyboards/xelus/xs60/mcuconf.h
  keyboards/xelus/xs60/readme.md
  keyboards/xelus/xs60/rules.mk
  keyboards/xelus/xs60/xs60.c
  keyboards/xelus/xs60/xs60.h
Labels: keyboard, keymap, via

#15457 added missing audio_off_user() callback
  quantum/audio/audio.c
  quantum/process_keycode/process_audio.c
  quantum/process_keycode/process_audio.h
Labels: core

#15466 Updated typo on feature_bluetooth.md
  docs/feature_bluetooth.md
Labels: documentation

#15470 Update noroadsleft userspace and keymaps (2021-12-13)
  keyboards/coseyfannitutti/discipline/keymaps/noroadsleft/keymap.c
  keyboards/kbdfans/kbd75/keymaps/noroadsleft/keymap.c
  keyboards/kc60/keymaps/noroadsleft/keymap.c
  users/noroadsleft/noroadsleft.c
  users/noroadsleft/noroadsleft.h
  users/noroadsleft/readme.md
Labels: keymap

#14065 [Core] Don't send keyboard reports that propagate no changes to the host
  quantum/action_util.c
  tests/auto_shift/test_auto_shift.cpp
  tests/basic/test_action_layer.cpp
  tests/basic/test_keypress.cpp
  tests/basic/test_one_shot_keys.cpp
  tests/tap_hold_configurations/permissive_hold/test_tap_hold.cpp
  tests/tap_hold_configurations/permissive_hold_ignore_mod_tap_interrupt/test_tap_hold.cpp
  tests/tap_hold_configurations/tapping_force_hold/test_action_layer.cpp
  tests/tap_hold_configurations/tapping_force_hold/test_tap_hold.cpp
  tests/test_common/test_fixture.cpp
Labels: core, breaking_change_2022q1

#15460 [Keyboard] Add La+
  keyboards/xelus/la_plus/config.h
  keyboards/xelus/la_plus/info.json
  keyboards/xelus/la_plus/keymaps/default/config.h
  keyboards/xelus/la_plus/keymaps/default/keymap.c
  keyboards/xelus/la_plus/keymaps/default/readme.md
  keyboards/xelus/la_plus/keymaps/via/config.h
  keyboards/xelus/la_plus/keymaps/via/keymap.c
  keyboards/xelus/la_plus/keymaps/via/readme.md
  keyboards/xelus/la_plus/keymaps/via/rules.mk
  keyboards/xelus/la_plus/la_plus.c
  keyboards/xelus/la_plus/la_plus.h
  keyboards/xelus/la_plus/readme.md
  keyboards/xelus/la_plus/rgb_matrix_kb.inc
  keyboards/xelus/la_plus/rules.mk
Labels: keyboard, keymap, via

#15422 New PCB MB-65S from MechBrewery
  keyboards/mechbrewery/mb65s/config.h
  keyboards/mechbrewery/mb65s/info.json
  keyboards/mechbrewery/mb65s/keymaps/default/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/default/readme.md
  keyboards/mechbrewery/mb65s/keymaps/iso/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/iso/readme.md
  keyboards/mechbrewery/mb65s/keymaps/split_bs/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/split_bs/readme.md
  keyboards/mechbrewery/mb65s/keymaps/split_bs/rules.mk
  keyboards/mechbrewery/mb65s/mb65s.c
  keyboards/mechbrewery/mb65s/mb65s.h
  keyboards/mechbrewery/mb65s/readme.md
  keyboards/mechbrewery/mb65s/rules.mk
Labels: keyboard, keymap

#15369 [Keyboard] Add pluto12
  keyboards/psuieee/pluto12/config.h
  keyboards/psuieee/pluto12/info.json
  keyboards/psuieee/pluto12/keymaps/default/keymap.c
  keyboards/psuieee/pluto12/keymaps/default/readme.md
  keyboards/psuieee/pluto12/pluto12.c
  keyboards/psuieee/pluto12/pluto12.h
  keyboards/psuieee/pluto12/readme.md
  keyboards/psuieee/pluto12/rules.mk
Labels: keyboard, keymap

#15478 [Keyboard] Fix compilation issues with jot50
  keyboards/handwired/jot50/keymaps/default/keymap.c
Labels: keymap

#15477 Add swap hands support for Technik_O
  keyboards/boardsource/technik_o/technik_o.c
Labels: keyboard

#15467 W1-AT addition
  keyboards/w1_at/config.h
  keyboards/w1_at/info.json
  keyboards/w1_at/keymaps/default/keymap.c
  keyboards/w1_at/keymaps/default/readme.md
  keyboards/w1_at/keymaps/via/keymap.c
  keyboards/w1_at/keymaps/via/readme.md
  keyboards/w1_at/keymaps/via/rules.mk
  keyboards/w1_at/readme.md
  keyboards/w1_at/rules.mk
  keyboards/w1_at/w1_at.c
  keyboards/w1_at/w1_at.h
Labels: keyboard, keymap, via

#15449 Add Elite-C DFU bootloader commands for Sweep
  keyboards/ferris/sweep/readme.md
Labels: keyboard

#13265 Adelie Firmware
  keyboards/cannonkeys/adelie/adelie.c
  keyboards/cannonkeys/adelie/adelie.h
  keyboards/cannonkeys/adelie/config.h
  keyboards/cannonkeys/adelie/info.json
  keyboards/cannonkeys/adelie/keymaps/default/keymap.c
  keyboards/cannonkeys/adelie/keymaps/via/keymap.c
  keyboards/cannonkeys/adelie/keymaps/via/rules.mk
  keyboards/cannonkeys/adelie/readme.md
  keyboards/cannonkeys/adelie/rules.mk
Labels: keyboard, keymap, via

#15415 [Keymap] Unicode and Pointing Device and Autocorect for drashna keymaps
  keyboards/handwired/tractyl_manuform/5x6_right/f411/f411.c
  keyboards/handwired/tractyl_manuform/5x6_right/f411/readme.md
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/tm_sync.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.c
  keyboards/keebio/iris/keymaps/drashna/rules.mk
  keyboards/moonlander/keymaps/drashna/keymap.c
  keyboards/orthodox/keymaps/drashna/rules.mk
  keyboards/splitkb/zima/keymaps/drashna/config.h
  layouts/community/ergodox/drashna/rules.mk
  layouts/community/ortho_5x12/drashna/rules.mk
  layouts/community/split_3x6_3/drashna/rules.mk
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/drashna.h
  users/drashna/keyrecords/autocorrection/autocorrection.c
  users/drashna/keyrecords/autocorrection/autocorrection.h
  users/drashna/keyrecords/autocorrection/make_autocorrection_data.py
  users/drashna/keyrecords/caps_word.c
  users/drashna/keyrecords/caps_word.h
  users/drashna/keyrecords/process_records.c
  users/drashna/keyrecords/process_records.h
  users/drashna/keyrecords/tap_dances.c
  users/drashna/keyrecords/tap_dances.h
  users/drashna/keyrecords/unicode.c
  users/drashna/keyrecords/wrappers.h
  users/drashna/oled/drashna_font.h
  users/drashna/oled/oled_stuff.c
  users/drashna/oled/oled_stuff.h
  users/drashna/pointing/pointing.c
  users/drashna/pointing/pointing.h
  users/drashna/readme.md
  users/drashna/readme/handlers.md
  users/drashna/readme/keycodes.md
  users/drashna/readme/rgb.md
  users/drashna/readme/secrets.md
  users/drashna/readme/tap_dance.md
  users/drashna/readme/wrappers.md
  users/drashna/rgb/rgb_matrix_stuff.c
  users/drashna/rgb/rgb_matrix_stuff.h
  users/drashna/rgb/rgb_stuff.c
  users/drashna/rgb/rgb_stuff.h
  users/drashna/rules.mk
  users/drashna/split/transport_sync.c
  users/drashna/split/transport_sync.h
Labels: keyboard, keymap, python

#15483 Fix build failure for UT47
  keyboards/40percentclub/ut47/ut47.c
Labels: bug, keyboard

#15484 [Core] Fix Sensor driver code
  drivers/sensors/cirque_pinnacle_spi.c
  drivers/sensors/pmw3360.c
Labels: core

#15488 Fix some wrong keycode macros in locale mapping files
  quantum/keymap_extras/keymap_lithuanian_azerty.h
  quantum/keymap_extras/keymap_slovak.h
  quantum/keymap_extras/sendstring_lithuanian_azerty.h
  quantum/keymap_extras/sendstring_slovak.h
Labels: core

#15461 [Keyboard] Add Jorne
  keyboards/jorne/config.h
  keyboards/jorne/info.json
  keyboards/jorne/jorne.c
  keyboards/jorne/jorne.h
  keyboards/jorne/keymaps/default/config.h
  keyboards/jorne/keymaps/default/keymap.c
  keyboards/jorne/keymaps/via/config.h
  keyboards/jorne/keymaps/via/keymap.c
  keyboards/jorne/keymaps/via/rules.mk
  keyboards/jorne/post_config.h
  keyboards/jorne/readme.md
  keyboards/jorne/rev1/config.h
  keyboards/jorne/rev1/rev1.c
  keyboards/jorne/rev1/rev1.h
  keyboards/jorne/rev1/rules.mk
  keyboards/jorne/rules.mk
Labels: keyboard, keymap, via

#15491 removed extra layout from jorne.h
  keyboards/jorne/jorne.h
Labels: keyboard

#15487 Fix inverted gt and lt send_string mapping in canadian multilingual
  quantum/keymap_extras/sendstring_canadian_multilingual.h
Labels: core

#15459 Added WestM keyboard
  keyboards/westm/westm68/chconf.h
  keyboards/westm/westm68/config.h
  keyboards/westm/westm68/halconf.h
  keyboards/westm/westm68/info.json
  keyboards/westm/westm68/keymaps/default/keymap.c
  keyboards/westm/westm68/keymaps/via/keymap.c
  keyboards/westm/westm68/keymaps/via/rules.mk
  keyboards/westm/westm68/mcuconf.h
  keyboards/westm/westm68/readme.md
  keyboards/westm/westm68/rules.mk
  keyboards/westm/westm68/westm68.c
  keyboards/westm/westm68/westm68.h
  keyboards/westm/westmergo/chconf.h
  keyboards/westm/westmergo/config.h
  keyboards/westm/westmergo/halconf.h
  keyboards/westm/westmergo/info.json
  keyboards/westm/westmergo/keymaps/default/keymap.c
  keyboards/westm/westmergo/keymaps/via/keymap.c
  keyboards/westm/westmergo/keymaps/via/rules.mk
  keyboards/westm/westmergo/mcuconf.h
  keyboards/westm/westmergo/readme.md
  keyboards/westm/westmergo/rules.mk
  keyboards/westm/westmergo/westmergo.c
  keyboards/westm/westmergo/westmergo.h
Labels: keyboard, keymap, via

#15496 Remove locking support for Macro3
  keyboards/macro3/config.h
Labels: keyboard

#15495 Remove locking support from Cradio
  keyboards/cradio/config.h
Labels: keyboard

#15494 Remove locking support for Sweep
  keyboards/ferris/sweep/config.h
Labels: keyboard

#15468 Nasu
  keyboards/nasu/config.h
  keyboards/nasu/info.json
  keyboards/nasu/keymaps/default/keymap.c
  keyboards/nasu/keymaps/default/readme.md
  keyboards/nasu/keymaps/via/keymap.c
  keyboards/nasu/keymaps/via/readme.md
  keyboards/nasu/keymaps/via/rules.mk
  keyboards/nasu/nasu.c
  keyboards/nasu/nasu.h
  keyboards/nasu/readme.md
  keyboards/nasu/rules.mk
Labels: keyboard, keymap, via

#15501 [Keyboard] Add Borderland
  keyboards/kiwikey/borderland/borderland.c
  keyboards/kiwikey/borderland/borderland.h
  keyboards/kiwikey/borderland/config.h
  keyboards/kiwikey/borderland/info.json
  keyboards/kiwikey/borderland/keymaps/default/keymap.c
  keyboards/kiwikey/borderland/keymaps/default/readme.md
  keyboards/kiwikey/borderland/keymaps/via/keymap.c
  keyboards/kiwikey/borderland/keymaps/via/readme.md
  keyboards/kiwikey/borderland/keymaps/via/rules.mk
  keyboards/kiwikey/borderland/readme.md
  keyboards/kiwikey/borderland/rules.mk
Labels: keyboard, keymap, via

#15218 update new keyboard zoom65_lite
  keyboards/meletrix/zoom65_lite/config.h
  keyboards/meletrix/zoom65_lite/info.json
  keyboards/meletrix/zoom65_lite/keymaps/65_ansi_blocker/keymap.c
  keyboards/meletrix/zoom65_lite/keymaps/65_ansi_blocker/readme.md
  keyboards/meletrix/zoom65_lite/keymaps/65_ansi_blocker_split_bs/keymap.c
  keyboards/meletrix/zoom65_lite/keymaps/65_ansi_blocker_split_bs/readme.md
  keyboards/meletrix/zoom65_lite/keymaps/65_ansi_blocker_split_lshift/keymap.c
  keyboards/meletrix/zoom65_lite/keymaps/65_ansi_blocker_split_lshift/readme.md
  keyboards/meletrix/zoom65_lite/keymaps/65_ansi_blocker_split_space/keymap.c
  keyboards/meletrix/zoom65_lite/keymaps/65_ansi_blocker_split_space/readme.md
  keyboards/meletrix/zoom65_lite/keymaps/65_iso_blocker/keymap.c
  keyboards/meletrix/zoom65_lite/keymaps/65_iso_blocker/readme.md
  keyboards/meletrix/zoom65_lite/keymaps/65_iso_blocker_split_bs/keymap.c
  keyboards/meletrix/zoom65_lite/keymaps/65_iso_blocker_split_bs/readme.md
  keyboards/meletrix/zoom65_lite/keymaps/65_iso_blocker_split_space/keymap.c
  keyboards/meletrix/zoom65_lite/keymaps/65_iso_blocker_split_space/readme.md
  keyboards/meletrix/zoom65_lite/keymaps/default/keymap.c
  keyboards/meletrix/zoom65_lite/keymaps/default/readme.md
  keyboards/meletrix/zoom65_lite/keymaps/via/keymap.c
  keyboards/meletrix/zoom65_lite/keymaps/via/readme.md
  keyboards/meletrix/zoom65_lite/keymaps/via/rules.mk
  keyboards/meletrix/zoom65_lite/readme.md
  keyboards/meletrix/zoom65_lite/rules.mk
  keyboards/meletrix/zoom65_lite/zoom65_lite.c
  keyboards/meletrix/zoom65_lite/zoom65_lite.h
Labels: keyboard, keymap, via

#15250 Add k34 keyboard
  keyboards/k34/config.h
  keyboards/k34/info.json
  keyboards/k34/k34.c
  keyboards/k34/k34.h
  keyboards/k34/keymaps/default/config.h
  keyboards/k34/keymaps/default/keymap.c
  keyboards/k34/keymaps/default/readme.md
  keyboards/k34/keymaps/default/rules.mk
  keyboards/k34/readme.md
  keyboards/k34/rules.mk
Labels: keyboard, keymap

#15515 MechBrewery MB65S Refactor
  keyboards/mechbrewery/mb65s/info.json
  keyboards/mechbrewery/mb65s/keymaps/default/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/default/readme.md
  keyboards/mechbrewery/mb65s/keymaps/iso/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/iso/readme.md
  keyboards/mechbrewery/mb65s/keymaps/split_bs/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/split_bs/readme.md
  keyboards/mechbrewery/mb65s/keymaps/split_bs/rules.mk
  keyboards/mechbrewery/mb65s/mb65s.h
  keyboards/mechbrewery/mb65s/rules.mk
Labels: enhancement, keyboard, keymap

#14955 Add Superlyra keyboard + group with Lyra under new directory
  keyboards/malevolti/lyra/config.h
  keyboards/malevolti/lyra/keymaps/default/config.h
  keyboards/malevolti/lyra/keymaps/default/keymap.c
  keyboards/malevolti/lyra/keymaps/via/config.h
  keyboards/malevolti/lyra/keymaps/via/keymap.c
  keyboards/malevolti/lyra/keymaps/via/rules.mk
  keyboards/malevolti/lyra/lyra.c
  keyboards/malevolti/lyra/lyra.h
  keyboards/malevolti/lyra/readme.md
  keyboards/malevolti/lyra/rev1/config.h
  keyboards/malevolti/lyra/rev1/info.json
  keyboards/malevolti/lyra/rev1/rev1.c
  keyboards/malevolti/lyra/rev1/rev1.h
  keyboards/malevolti/lyra/rev1/rules.mk
  keyboards/malevolti/superlyra/config.h
  keyboards/malevolti/superlyra/keymaps/default/config.h
  keyboards/malevolti/superlyra/keymaps/default/keymap.c
  keyboards/malevolti/superlyra/keymaps/via/config.h
  keyboards/malevolti/superlyra/keymaps/via/keymap.c
  keyboards/malevolti/superlyra/keymaps/via/rules.mk
  keyboards/malevolti/superlyra/readme.md
  keyboards/malevolti/superlyra/rev1/config.h
  keyboards/malevolti/superlyra/rev1/info.json
  keyboards/malevolti/superlyra/rev1/rev1.c
  keyboards/malevolti/superlyra/rev1/rev1.h
  keyboards/malevolti/superlyra/rev1/rules.mk
  keyboards/malevolti/superlyra/superlyra.c
  keyboards/malevolti/superlyra/superlyra.h
Labels: keyboard, keymap, via

#15513 Add LAYOUT_alice support for Nasu
  keyboards/nasu/nasu.h
  keyboards/nasu/rules.mk
Labels: keyboard

#15525 zigotica userspace rows tweak: TAB in default layer, ESC in sym/fn layers
  users/zigotica/rows.h
Labels: keymap

#15537 [cli] `develop` changelog generator: use the PR title instead
  lib/python/qmk/cli/generate/develop_pr_list.py
Labels: python, cli

#15465 Unique vendorId for 40percentclub boards and via keymaps for 4x4 and 5x5
  keyboards/40percentclub/25/config.h
  keyboards/40percentclub/4pack/config.h
  keyboards/40percentclub/4x4/config.h
  keyboards/40percentclub/4x4/keymaps/via/keymap.c
  keyboards/40percentclub/4x4/keymaps/via/rules.mk
  keyboards/40percentclub/5x5/config.h
  keyboards/40percentclub/5x5/keymaps/via/keymap.c
  keyboards/40percentclub/5x5/keymaps/via/rules.mk
  keyboards/40percentclub/6lit/config.h
  keyboards/40percentclub/foobar/config.h
  keyboards/40percentclub/gherkin/config.h
  keyboards/40percentclub/half_n_half/config.h
  keyboards/40percentclub/i75/config.h
  keyboards/40percentclub/luddite/config.h
  keyboards/40percentclub/mf68/config.h
  keyboards/40percentclub/nano/config.h
  keyboards/40percentclub/nein/config.h
  keyboards/40percentclub/nori/config.h
  keyboards/40percentclub/polyandry/config.h
  keyboards/40percentclub/sixpack/config.h
  keyboards/40percentclub/tomato/config.h
  keyboards/40percentclub/ut47/config.h
Labels: keyboard, keymap, via

#15492 Migrate RN42 to UART driver and refactor
  common_features.mk
  drivers/bluetooth/rn42.c
  drivers/bluetooth/rn42.h
  tmk_core/protocol/lufa/lufa.c
Labels: enhancement, core

#15520 [Keyboard] support for Stack Overflow The Key from Drop - adapted from @frap129
  keyboards/massdrop/thekey/config.h
  keyboards/massdrop/thekey/info.json
  keyboards/massdrop/thekey/keymaps/default-macos/keymap.c
  keyboards/massdrop/thekey/keymaps/default/keymap.c
  keyboards/massdrop/thekey/keymaps/url-copy-paste-macos/keymap.c
  keyboards/massdrop/thekey/keymaps/url-copy-paste/keymap.c
  keyboards/massdrop/thekey/readme.md
  keyboards/massdrop/thekey/rules.mk
  keyboards/massdrop/thekey/thekey.c
  keyboards/massdrop/thekey/thekey.h
Labels: keyboard, keymap

#15538 Documentation Typo fix
  docs/feature_haptic_feedback.md
Labels: documentation

#15528 doc/faq_debug: qmk cli can also be used to print debug messages
  docs/faq_debug.md
Labels: documentation

#15554 [CRKBD/SOUNDMONSTER] Fixed compilation (forgot return)
  keyboards/crkbd/keymaps/soundmonster/keymap.c
Labels: keymap

#15539 Fixed caps lock led pin for crazy_keyboard_68
  keyboards/crazy_keyboard_68/config.h
Labels: keyboard

#15516 Add dactyl manuform 4x6 with a 5 key thumb cluster
  keyboards/handwired/dactyl_manuform/4x6_5/4x6_5.c
  keyboards/handwired/dactyl_manuform/4x6_5/4x6_5.h
  keyboards/handwired/dactyl_manuform/4x6_5/config.h
  keyboards/handwired/dactyl_manuform/4x6_5/info.json
  keyboards/handwired/dactyl_manuform/4x6_5/keymaps/default/config.h
  keyboards/handwired/dactyl_manuform/4x6_5/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/4x6_5/keymaps/manna-harbour_miryoku/config.h
  keyboards/handwired/dactyl_manuform/4x6_5/keymaps/manna-harbour_miryoku/keymap.c
  keyboards/handwired/dactyl_manuform/4x6_5/rules.mk
  keyboards/handwired/dactyl_manuform/dactyl_manuform.h
Labels: keyboard, keymap

#15562 [Keyboard] Fix compilation issues for Pearlboards
  keyboards/pearlboards/pandora/pandora.c
  keyboards/pearlboards/zeus/zeus.c
  keyboards/pearlboards/zeuspad/zeuspad.c
Labels: bug, keyboard

#15569 fix typo
  docs/ref_functions.md
Labels: documentation

#15555 Save a single byte of memory for joystick buttons
  quantum/joystick.h
Labels: core

#15564 Fixed typo in keycode reference for swirl effect
  docs/feature_rgb_matrix.md
Labels: documentation

#15540 Gurindam keyboard
  keyboards/gurindam/config.h
  keyboards/gurindam/gurindam.c
  keyboards/gurindam/gurindam.h
  keyboards/gurindam/info.json
  keyboards/gurindam/keymaps/default/keymap.c
  keyboards/gurindam/keymaps/default/readme.md
  keyboards/gurindam/keymaps/via/keymap.c
  keyboards/gurindam/keymaps/via/rules.mk
  keyboards/gurindam/readme.md
  keyboards/gurindam/rules.mk
Labels: keyboard, keymap, via

#15568 [Keyboard] Add mini_ten_key_plus
  keyboards/mini_ten_key_plus/config.h
  keyboards/mini_ten_key_plus/info.json
  keyboards/mini_ten_key_plus/keymaps/default/keymap.c
  keyboards/mini_ten_key_plus/keymaps/default/readme.md
  keyboards/mini_ten_key_plus/keymaps/standard_numpad/keymap.c
  keyboards/mini_ten_key_plus/keymaps/standard_numpad/readme.md
  keyboards/mini_ten_key_plus/mini_ten_key_plus.c
  keyboards/mini_ten_key_plus/mini_ten_key_plus.h
  keyboards/mini_ten_key_plus/readme.md
  keyboards/mini_ten_key_plus/rules.mk
Labels: keyboard, keymap

#15439 Kintsugi keyboard with a 65%-ish layout, encoder, OLED and underglow.
  keyboards/adpenrose/kintsugi/config.h
  keyboards/adpenrose/kintsugi/info.json
  keyboards/adpenrose/kintsugi/keymaps/default/keymap.c
  keyboards/adpenrose/kintsugi/keymaps/default/readme.md
  keyboards/adpenrose/kintsugi/keymaps/franky/keymap.c
  keyboards/adpenrose/kintsugi/keymaps/franky/readme.md
  keyboards/adpenrose/kintsugi/keymaps/franky/rules.mk
  keyboards/adpenrose/kintsugi/keymaps/via/keymap.c
  keyboards/adpenrose/kintsugi/keymaps/via/readme.md
  keyboards/adpenrose/kintsugi/keymaps/via/rules.mk
  keyboards/adpenrose/kintsugi/kintsugi.c
  keyboards/adpenrose/kintsugi/kintsugi.h
  keyboards/adpenrose/kintsugi/lib/kintsugifont.c
  keyboards/adpenrose/kintsugi/post_config.h
  keyboards/adpenrose/kintsugi/readme.md
  keyboards/adpenrose/kintsugi/rules.mk
Labels: keyboard, keymap, via

#15557 fix a typo
  docs/feature_pointing_device.md
Labels: documentation

#14724 Add KPrepublic bm980hsrgb support
  keyboards/kprepublic/bm980hsrgb/bm980hsrgb.c
  keyboards/kprepublic/bm980hsrgb/bm980hsrgb.h
  keyboards/kprepublic/bm980hsrgb/config.h
  keyboards/kprepublic/bm980hsrgb/info.json
  keyboards/kprepublic/bm980hsrgb/keymaps/default/keymap.c
  keyboards/kprepublic/bm980hsrgb/keymaps/default/readme.md
  keyboards/kprepublic/bm980hsrgb/keymaps/peepeetee/keymap.c
  keyboards/kprepublic/bm980hsrgb/keymaps/via/keymap.c
  keyboards/kprepublic/bm980hsrgb/keymaps/via/readme.md
  keyboards/kprepublic/bm980hsrgb/keymaps/via/rules.mk
  keyboards/kprepublic/bm980hsrgb/readme.md
  keyboards/kprepublic/bm980hsrgb/rules.mk
Labels: keyboard, keymap, via

#15451 [Keyboard] Add LZ erGhost
  keyboards/lz/erghost/config.h
  keyboards/lz/erghost/erghost.c
  keyboards/lz/erghost/erghost.h
  keyboards/lz/erghost/info.json
  keyboards/lz/erghost/keymaps/default/keymap.c
  keyboards/lz/erghost/keymaps/default/readme.md
  keyboards/lz/erghost/keymaps/via/keymap.c
  keyboards/lz/erghost/keymaps/via/readme.md
  keyboards/lz/erghost/keymaps/via/rules.mk
  keyboards/lz/erghost/matrix.c
  keyboards/lz/erghost/readme.md
  keyboards/lz/erghost/rules.mk
Labels: keyboard, keymap, via

#15282 Add open-drain GPIO support.
  docs/internals_gpio_control.md
  platforms/arm_atsam/gpio.h
  platforms/avr/gpio.h
  platforms/chibios/gpio.h
Labels: core, documentation, breaking_change_2022q1

#15277 Fixes potential wpm sampling overflow, along with code comment fixes
  docs/feature_wpm.md
  quantum/wpm.c
  quantum/wpm.h
Labels: core, documentation, breaking_change_2022q1

#15207 Add a clarification to an error message
  builddefs/message.mk
Labels: breaking_change_2022q1

#15561 [Keyboard] Add MNT Reform USB Keyboard (Standalone)
  keyboards/mntre/config.h
  keyboards/mntre/info.json
  keyboards/mntre/keymaps/default/keymap.c
  keyboards/mntre/keymaps/default/readme.md
  keyboards/mntre/mntre.c
  keyboards/mntre/mntre.h
  keyboards/mntre/readme.md
  keyboards/mntre/rules.mk
Labels: keyboard, keymap

#15304 [Core] Split support for pointing devices.
  docs/ChangeLog/20220226/PR15304.md
  docs/feature_pointing_device.md
  docs/feature_split_keyboard.md
  drivers/sensors/pimoroni_trackball.c
  drivers/sensors/pimoroni_trackball.h
  quantum/pointing_device.c
  quantum/pointing_device.h
  quantum/pointing_device_drivers.c
  quantum/split_common/transaction_id_define.h
  quantum/split_common/transactions.c
  quantum/split_common/transport.h
Labels: core, documentation

#15285 Make (un)register code functions weak
  quantum/action.c
  quantum/quantum.c
Labels: core

#15589 Fix avr serial compile
  platforms/avr/drivers/serial.c
Labels: core

#14617 [Keyboard] Add Runner3680 with 5x6+5x8 layout
  keyboards/runner3680/5x6_5x8/.noci
  keyboards/runner3680/5x6_5x8/5x6_5x8.c
  keyboards/runner3680/5x6_5x8/5x6_5x8.h
  keyboards/runner3680/5x6_5x8/config.h
  keyboards/runner3680/5x6_5x8/info.json
  keyboards/runner3680/5x6_5x8/keymaps/default/config.h
  keyboards/runner3680/5x6_5x8/keymaps/default/keymap.c
  keyboards/runner3680/5x6_5x8/keymaps/derekhsu/config.h
  keyboards/runner3680/5x6_5x8/keymaps/derekhsu/keymap.c
  keyboards/runner3680/5x6_5x8/keymaps/derekhsu/rules.mk
  keyboards/runner3680/5x6_5x8/keymaps/jis/config.h
  keyboards/runner3680/5x6_5x8/keymaps/jis/keymap.c
  keyboards/runner3680/5x6_5x8/keymaps/via/config.h
  keyboards/runner3680/5x6_5x8/keymaps/via/keymap.c
  keyboards/runner3680/5x6_5x8/keymaps/via/rules.mk
  keyboards/runner3680/5x6_5x8/rules.mk
  keyboards/runner3680/runner3680.h
Labels: keyboard, keymap, via, pr_checklist_pending

#14853 [Keymap] Add keymap for the Keychron Q1 ISO layout
  keyboards/keychron/q1/rev_0102/keymaps/kubahorak/README.md
  keyboards/keychron/q1/rev_0102/keymaps/kubahorak/config.h
  keyboards/keychron/q1/rev_0102/keymaps/kubahorak/keymap.c
  keyboards/keychron/q1/rev_0102/keymaps/kubahorak/keymap_user.h
  keyboards/keychron/q1/rev_0102/keymaps/kubahorak/rgb_matrix_user.c
  keyboards/keychron/q1/rev_0102/keymaps/kubahorak/rgb_matrix_user.h
  keyboards/keychron/q1/rev_0102/keymaps/kubahorak/rules.mk
Labels: keymap

#14948 Add sym_defer_pr debouncer type
  data/schemas/keyboard.jsonschema
  docs/feature_debounce_type.md
  quantum/debounce/sym_defer_pr.c
  quantum/debounce/tests/rules.mk
  quantum/debounce/tests/sym_defer_pr_tests.cpp
  quantum/debounce/tests/testlist.mk
Labels: core, documentation

#14943 Add Gondolindrim's keymap for Evolv: addition of "encoder modes"
  keyboards/evolv/keymaps/gondolindrim/keymap.c
  keyboards/evolv/rules.mk
Labels: keyboard, keymap

#14954 fix rgb_matrix flicker on split keyboards caused by RGB_DISABLE_TIMEOUT
  quantum/rgb_matrix/rgb_matrix.c
Labels: core

#15026 Update feature_macros.md
  docs/feature_macros.md
Labels: documentation

#14091 Durgod: Increase scan rate by using wait_us timer
  keyboards/durgod/boards/DURGOD_STM32_F070/chconf.h
  keyboards/durgod/boards/DURGOD_STM32_F070/mcuconf.h
  keyboards/durgod/dgk6x/config.h
  keyboards/durgod/dgk6x/halconf.h
  keyboards/durgod/k3x0/config.h
  keyboards/durgod/k3x0/halconf.h
Labels: keyboard

#14896 Addition of a keypad
  keyboards/deltapad/config.h
  keyboards/deltapad/deltapad.c
  keyboards/deltapad/deltapad.h
  keyboards/deltapad/info.json
  keyboards/deltapad/keymaps/default/keymap.c
  keyboards/deltapad/readme.md
  keyboards/deltapad/rules.mk
Labels: keyboard, keymap

#15164 Link Macro example for COMBO_ACTION documentation
  docs/feature_combo.md
Labels: documentation

#15160 Hex 4b LED Layer Indicater
  keyboards/mechlovin/hex4b/keymaps/nazzer/keymap.c
  keyboards/mechlovin/hex4b/keymaps/nazzer/reame.md
  keyboards/mechlovin/hex4b/keymaps/nazzer/rules.mk
Labels: keymap

#13299 Add personal handwired Planck clone
  keyboards/handwired/ortho_brass/config.h
  keyboards/handwired/ortho_brass/keymaps/default/keymap.c
  keyboards/handwired/ortho_brass/keymaps/default/readme.md
  keyboards/handwired/ortho_brass/ortho_brass.c
  keyboards/handwired/ortho_brass/ortho_brass.h
  keyboards/handwired/ortho_brass/readme.md
  keyboards/handwired/ortho_brass/rules.mk
  layouts/community/ortho_4x12/bifbofii/keymap.c
  layouts/community/ortho_4x12/bifbofii/readme.md
  layouts/community/ortho_4x12/bifbofii/rules.mk
Labels: keyboard, keymap, pr_checklist_pending

#14626 RGB Matrix layer key indicator
  docs/feature_rgb_matrix.md
Labels: documentation

#15065 Enable encoder settings VIA.
  keyboards/pistachio_pro/keymaps/via/keymap.c
Labels: keymap, via

#15272 Atom47 led fix
  keyboards/evyd13/atom47/rev2/config.h
  keyboards/evyd13/atom47/rev2/rules.mk
  keyboards/evyd13/atom47/rev3/config.h
  keyboards/evyd13/atom47/rev3/rules.mk
  keyboards/evyd13/atom47/rev4/config.h
Labels: keyboard

#14599 Enable encoder settings VIA.
  keyboards/pistachio_mp/keymaps/via/keymap.c
Labels: keymap, awaiting review, via

#15161 Orthocode update default keymap, and fix encoder function for keymaps built in configurator
  keyboards/orthocode/info.json
  keyboards/orthocode/keymaps/default/keymap.c
  keyboards/orthocode/orthocode.c
Labels: keyboard, keymap

#15390 [Keyboard] Add keyboard reviung53
  keyboards/reviung53/config.h
  keyboards/reviung53/info.json
  keyboards/reviung53/keymaps/default/keymap.c
  keyboards/reviung53/keymaps/default/readme.md
  keyboards/reviung53/keymaps/via/keymap.c
  keyboards/reviung53/keymaps/via/readme.md
  keyboards/reviung53/keymaps/via/rules.mk
  keyboards/reviung53/readme.md
  keyboards/reviung53/reviung53.c
  keyboards/reviung53/reviung53.h
  keyboards/reviung53/rules.mk
Labels: keyboard, keymap, via

#15211 add my keymap
  keyboards/massdrop/alt/keymaps/b_/config.h
  keyboards/massdrop/alt/keymaps/b_/keymap.c
Labels: keymap

#15591 fixed "Your Name" in header
  keyboards/massdrop/alt/keymaps/b_/config.h
  keyboards/massdrop/alt/keymaps/b_/keymap.c
Labels: keymap

#15592 More AVR GPIO compilation fixes.
  platforms/avr/drivers/serial.c
Labels: bug, core

#14838 [Keymap] Adding 'super alt' keymap for Wuque ikki68 Aurora
  keyboards/wuque/ikki68_aurora/keymaps/ewersp/README.md
  keyboards/wuque/ikki68_aurora/keymaps/ewersp/config.h
  keyboards/wuque/ikki68_aurora/keymaps/ewersp/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/ewersp/rules.mk
Labels: keymap

#14674 Custom matrix lite support for split keyboards
  quantum/matrix.c
  quantum/matrix.h
  quantum/matrix_common.c
Labels: core

#13723 New keymap for Sofle rev1 for Flare576
  keyboards/sofle/keymaps/flare576/config.h
  keyboards/sofle/keymaps/flare576/enums.h
  keyboards/sofle/keymaps/flare576/graphics.c
  keyboards/sofle/keymaps/flare576/graphics.h
  keyboards/sofle/keymaps/flare576/keymap.c
  keyboards/sofle/keymaps/flare576/logos.h
  keyboards/sofle/keymaps/flare576/readme.md
  keyboards/sofle/keymaps/flare576/rules.mk
Labels: keymap

#14057 [Keyboard][Update] Add RGB Backlight feature to Pix
  keyboards/sendyyeah/pix/config.h
  keyboards/sendyyeah/pix/keymaps/default/glcdfont.c
  keyboards/sendyyeah/pix/keymaps/default/keymap.c
  keyboards/sendyyeah/pix/keymaps/via/keymap.c
  keyboards/sendyyeah/pix/rules.mk
Labels: keyboard, keymap, via

#15450 Refactor `bootloader_jump()` implementations
  build_test.mk
  builddefs/bootloader.mk
  data/schemas/keyboard.jsonschema
  keyboards/handwired/onekey/teensy_32/rules.mk
  keyboards/handwired/onekey/teensy_lc/rules.mk
  keyboards/massdrop/alt/rules.mk
  keyboards/massdrop/ctrl/rules.mk
  keyboards/mechlovin/olly/jf/rules.mk
  keyboards/rocketboard_16/rules.mk
  keyboards/tgr/jane/v2ce/rules.mk
  platforms/arm_atsam/bootloaders/md_boot.c
  platforms/avr/bootloader.c
  platforms/avr/bootloaders/bootloadhid.c
  platforms/avr/bootloaders/caterina.c
  platforms/avr/bootloaders/dfu.c
  platforms/avr/bootloaders/halfkay.c
  platforms/avr/bootloaders/none.c
  platforms/avr/bootloaders/usbasploader.c
  platforms/chibios/bootloader.c
  platforms/chibios/bootloaders/gd32v_dfu.c
  platforms/chibios/bootloaders/halfkay.c
  platforms/chibios/bootloaders/kiibohd.c
  platforms/chibios/bootloaders/none.c
  platforms/chibios/bootloaders/stm32_dfu.c
  platforms/chibios/bootloaders/stm32duino.c
  platforms/chibios/bootloaders/tinyuf2.c
  platforms/common.mk
  platforms/test/bootloaders/none.c
  tmk_core/protocol/arm_atsam/arm_atsam_protocol.h
  tmk_core/protocol/arm_atsam/md_bootloader.h
  tmk_core/protocol/arm_atsam/startup.c
  tmk_core/protocol/arm_atsam/usb/udc.c
Labels: enhancement, core, keyboard, needs testing

#15006 [Keymap] Add vitoni keymap for GMMK Pro (ISO)
  keyboards/gmmk/pro/iso/keymaps/vitoni/config.h
  keyboards/gmmk/pro/iso/keymaps/vitoni/keymap.c
  keyboards/gmmk/pro/iso/keymaps/vitoni/readme.adoc
  users/vitoni/readme.adoc
  users/vitoni/rgb_matrix_effects.c
  users/vitoni/rgb_matrix_effects.h
  users/vitoni/rules.mk
  users/vitoni/utils.c
  users/vitoni/utils.h
  users/vitoni/vitoni.c
  users/vitoni/vitoni.h
Labels: keymap

#15489 Convert some more boards to Matrix Lite
  keyboards/centromere/matrix.c
  keyboards/centromere/rules.mk
  keyboards/chimera_ergo/matrix.c
  keyboards/chimera_ergo/rules.mk
  keyboards/chimera_ls/matrix.c
  keyboards/chimera_ls/rules.mk
  keyboards/chimera_ortho/matrix.c
  keyboards/chimera_ortho/rules.mk
  keyboards/chimera_ortho_plus/matrix.c
  keyboards/chimera_ortho_plus/rules.mk
  keyboards/comet46/matrix.c
  keyboards/comet46/rules.mk
  keyboards/mitosis/matrix.c
  keyboards/mitosis/rules.mk
  keyboards/redox_w/matrix.c
  keyboards/redox_w/rules.mk
  keyboards/sirius/uni660/rev1/matrix.c
  keyboards/sirius/uni660/rev1/rules.mk
  keyboards/sirius/uni660/rev2/matrix.c
  keyboards/sirius/uni660/rev2/rules.mk
Labels: enhancement, keyboard

#15490 Add layer condition example to encoder callback function
  docs/feature_encoders.md
Labels: documentation

#15462 Add 'capslock backlight' feature to Iron180
  keyboards/iron180/config.h
  keyboards/iron180/iron180.c
  keyboards/iron180/readme.md
Labels: keyboard

#15511 mkiirgb/v3: Swap R and G lanes to achieve correct RGB.
  keyboards/kbdfans/kbd67/mkiirgb/v3/v3.c
Labels: keyboard

#15519 Fix for SPI write timing in PMW3360 driver
  drivers/sensors/pmw3360.c
Labels: core

#15518 Added BareDev keyboard
  keyboards/handwired/baredev/rev1/config.h
  keyboards/handwired/baredev/rev1/info.json
  keyboards/handwired/baredev/rev1/keymaps/default/keymap.c
  keyboards/handwired/baredev/rev1/keymaps/default/readme.md
  keyboards/handwired/baredev/rev1/keymaps/manoshu/keymap.c
  keyboards/handwired/baredev/rev1/keymaps/manoshu/readme.md
  keyboards/handwired/baredev/rev1/readme.md
  keyboards/handwired/baredev/rev1/rev1.c
  keyboards/handwired/baredev/rev1/rev1.h
  keyboards/handwired/baredev/rev1/rules.mk
Labels: keyboard, keymap

#15504 Keebwerk devices keymaps
  keyboards/keebwerk/mega/ansi/keymaps/jesusvallejo/keymap.c
  keyboards/keebwerk/mega/ansi/keymaps/jesusvallejo/readme.md
  keyboards/keebwerk/mega/ansi/keymaps/jesusvallejo/rules.mk
  keyboards/keebwerk/nano_slider/keymaps/midi2vol/keymap.c
  keyboards/keebwerk/nano_slider/keymaps/midi2vol/readme.md
Labels: keymap

#15517 Addd victorsavu3's Keychron Q1 keymap (ISO)
  keyboards/keychron/q1/rev_0102/keymaps/victorsavu3/config.h
  keyboards/keychron/q1/rev_0102/keymaps/victorsavu3/keymap.c
  keyboards/keychron/q1/rev_0102/keymaps/victorsavu3/readme.md
  keyboards/keychron/q1/rev_0102/keymaps/victorsavu3/rules.mk
Labels: keymap

#14869 zigotica userspace add raw_hid_receive
  keyboards/z12/keymaps/zigotica/encoder.c
  keyboards/z12/keymaps/zigotica/keymap.c
  keyboards/z12/keymaps/zigotica/oled.c
  keyboards/z12/keymaps/zigotica/readme.md
  users/zigotica/zigotica.h
Labels: keymap

#15559 pwm3360 driver cleanup and diff reduction to adns9800
  drivers/sensors/adns9800.c
  drivers/sensors/pmw3360.c
  drivers/sensors/pmw3360.h
  quantum/pointing_device_drivers.c
Labels: core

#15287 bandominedoni, Drashna's method is applied to encoder_update_kb.
  keyboards/bandominedoni/bandominedoni.c
  keyboards/bandominedoni/bandominedoni.h
  keyboards/bandominedoni/config.h
  keyboards/bandominedoni/keymaps/led/keymap.c
  keyboards/bandominedoni/keymaps/led/rules.mk
  keyboards/bandominedoni/keymaps/via/config.h
  keyboards/bandominedoni/keymaps/via/keymap.c
  keyboards/bandominedoni/keymaps/via/rules.mk
  keyboards/bandominedoni/rgb_matrix_kb.inc
Labels: keyboard, keymap, via

#15603 [Core] Fix bug and code regression for Split Common
  quantum/matrix_common.c
  quantum/split_common/split_util.h
Labels: bug, core

#15605 [massdrop/thekey] macos requires LGUI modifier instead of LCTL
  keyboards/massdrop/thekey/keymaps/url-copy-paste-macos/keymap.c
Labels: keymap

#15606 [Bug] Include missing string.h include in split
  quantum/matrix_common.c
Labels: bug, core

#15132 Move bm65hsrgb_iso and bm68hsrgb to rev1/ to prepare for updates to the boards
  keyboards/kprepublic/bm65hsrgb_iso/rev1/config.h
  keyboards/kprepublic/bm65hsrgb_iso/rev1/info.json
  keyboards/kprepublic/bm65hsrgb_iso/rev1/keymaps/deadolus/config.h
  keyboards/kprepublic/bm65hsrgb_iso/rev1/keymaps/deadolus/keymap.c
  keyboards/kprepublic/bm65hsrgb_iso/rev1/keymaps/deadolus/keymap.h
  keyboards/kprepublic/bm65hsrgb_iso/rev1/keymaps/deadolus/readme.md
  keyboards/kprepublic/bm65hsrgb_iso/rev1/keymaps/deadolus/rules.mk
  keyboards/kprepublic/bm65hsrgb_iso/rev1/keymaps/default/keymap.c
  keyboards/kprepublic/bm65hsrgb_iso/rev1/keymaps/via/keymap.c
  keyboards/kprepublic/bm65hsrgb_iso/rev1/keymaps/via/readme.md
  keyboards/kprepublic/bm65hsrgb_iso/rev1/keymaps/via/rules.mk
  keyboards/kprepublic/bm65hsrgb_iso/rev1/readme.md
  keyboards/kprepublic/bm65hsrgb_iso/rev1/rev1.c
  keyboards/kprepublic/bm65hsrgb_iso/rev1/rev1.h
  keyboards/kprepublic/bm65hsrgb_iso/rev1/rules.mk
  keyboards/kprepublic/bm68hsrgb/rev1/config.h
  keyboards/kprepublic/bm68hsrgb/rev1/info.json
  keyboards/kprepublic/bm68hsrgb/rev1/keymaps/default/keymap.c
  keyboards/kprepublic/bm68hsrgb/rev1/keymaps/default/readme.md
  keyboards/kprepublic/bm68hsrgb/rev1/keymaps/peepeetee/config.h
  keyboards/kprepublic/bm68hsrgb/rev1/keymaps/peepeetee/keymap.c
  keyboards/kprepublic/bm68hsrgb/rev1/keymaps/peepeetee/keymap.h
  keyboards/kprepublic/bm68hsrgb/rev1/keymaps/peepeetee/readme.md
  keyboards/kprepublic/bm68hsrgb/rev1/keymaps/via/keymap.c
  keyboards/kprepublic/bm68hsrgb/rev1/keymaps/via/readme.md
  keyboards/kprepublic/bm68hsrgb/rev1/keymaps/via/rules.mk
  keyboards/kprepublic/bm68hsrgb/rev1/readme.md
  keyboards/kprepublic/bm68hsrgb/rev1/rev1.c
  keyboards/kprepublic/bm68hsrgb/rev1/rev1.h
  keyboards/kprepublic/bm68hsrgb/rev1/rules.mk
Labels: keyboard, keymap, via

#15607 [Keyboard] Fix over sized compiliation for Bandiominedoni via keymap
  keyboards/bandominedoni/keymaps/via/rules.mk
Labels: keymap, via

#15608 [Keyboard] Fix sendyyeah/pix oled task function type
  keyboards/sendyyeah/pix/keymaps/default/keymap.c
  keyboards/sendyyeah/pix/keymaps/via/keymap.c
Labels: bug, keymap, via

#15572 Clarify placement and usage of RGB matrix effect inc files
  docs/feature_rgb_matrix.md
Labels: documentation

#15618 [Keyboard] Update Tractyl Manuform code to use Split Pointing Device Sync
  keyboards/handwired/tractyl_manuform/5x6_right/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/5x6_right/rules.mk
  keyboards/handwired/tractyl_manuform/config.h
  keyboards/handwired/tractyl_manuform/tm_sync.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.h
  users/drashna/oled/oled_stuff.c
  users/drashna/oled/oled_stuff.h
Labels: enhancement, keyboard, keymap

#15616 Bug fix nordic60, enable underglow for VIA firmware
  keyboards/kbnordic/nordic60/keymaps/via/rules.mk
Labels: keymap, via
