Repository qmk/qmk_firmware, pull requests merged in 2021-04, with the labels that each got.

#12418 change BM68 RGB USB Device descriptor device name
  keyboards/bm68rgb/config.h
Labels: keyboard

#12441 `qmk doctor`: Display macOS and Windows versions, and add WSL warning for /mnt
  lib/python/qmk/cli/doctor.py
Labels: cli, enhancement, python

#12466 `qmk doctor`: Fix WSL /mnt check
  lib/python/qmk/cli/doctor.py
Labels: bug, cli, python

#11475 Add CherryB Studio Keyboards
  keyboards/cherrybstudio/cb87/cb87.c
  keyboards/cherrybstudio/cb87/cb87.h
  keyboards/cherrybstudio/cb87/config.h
  keyboards/cherrybstudio/cb87/info.json
  keyboards/cherrybstudio/cb87/keymaps/default/keymap.c
  keyboards/cherrybstudio/cb87/keymaps/default/readme.md
  keyboards/cherrybstudio/cb87/keymaps/via/keymap.c
  keyboards/cherrybstudio/cb87/keymaps/via/rules.mk
  keyboards/cherrybstudio/cb87/readme.md
  keyboards/cherrybstudio/cb87/rules.mk
Labels: keyboard, keymap, via

#11704 keymap Ibm m122
  keyboards/converter/ibm_terminal/keymaps/dsanchezseco/keymap.c
  keyboards/converter/ibm_terminal/keymaps/dsanchezseco/rules.mk
Labels: keymap

#12124 [Keyboard] Add Lumberjack keyboard
  keyboards/peej/lumberjack/config.h
  keyboards/peej/lumberjack/info.json
  keyboards/peej/lumberjack/keymaps/default/keymap.c
  keyboards/peej/lumberjack/keymaps/via/keymap.c
  keyboards/peej/lumberjack/keymaps/via/rules.mk
  keyboards/peej/lumberjack/lumberjack.c
  keyboards/peej/lumberjack/lumberjack.h
  keyboards/peej/lumberjack/readme.md
  keyboards/peej/lumberjack/rules.mk
Labels: keyboard, keymap, via

#12249 Big quantum_keycodes cleanup
  quantum/quantum_keycodes.h
Labels: core, enhancement

#12255 Add FoldKB
  keyboards/keebio/foldkb/.noci
  keyboards/keebio/foldkb/config.h
  keyboards/keebio/foldkb/foldkb.c
  keyboards/keebio/foldkb/foldkb.h
  keyboards/keebio/foldkb/info.json
  keyboards/keebio/foldkb/keymaps/default/keymap.c
  keyboards/keebio/foldkb/keymaps/via/keymap.c
  keyboards/keebio/foldkb/keymaps/via/rules.mk
  keyboards/keebio/foldkb/readme.md
  keyboards/keebio/foldkb/rev1/config.h
  keyboards/keebio/foldkb/rev1/rev1.c
  keyboards/keebio/foldkb/rev1/rev1.h
  keyboards/keebio/foldkb/rev1/rules.mk
  keyboards/keebio/foldkb/rules.mk
Labels: keyboard, keymap, via

#12300 Added VIA support to dmqdesign/spin
  keyboards/dmqdesign/spin/keymaps/via/keymap.c
  keyboards/dmqdesign/spin/keymaps/via/rules.mk
Labels: keymap, via

#12301 remove kc layout from levinson jyh keymap
  keyboards/keebio/levinson/keymaps/jyh/keymap.c
Labels: keymap

#12345 Update config.h
  keyboards/sixkeyboard/config.h
Labels: keyboard

#12346 Added RAMA WORKS KARA
  keyboards/wilba_tech/rama_works_kara/config.h
  keyboards/wilba_tech/rama_works_kara/info.json
  keyboards/wilba_tech/rama_works_kara/keymaps/default/keymap.c
  keyboards/wilba_tech/rama_works_kara/keymaps/via/keymap.c
  keyboards/wilba_tech/rama_works_kara/keymaps/via/rules.mk
  keyboards/wilba_tech/rama_works_kara/rama_works_kara.c
  keyboards/wilba_tech/rama_works_kara/rama_works_kara.h
  keyboards/wilba_tech/rama_works_kara/readme.md
  keyboards/wilba_tech/rama_works_kara/rules.mk
Labels: keyboard, keymap, via

#12347 Added wilba.tech WT70-JB
  keyboards/wilba_tech/wt70_jb/config.h
  keyboards/wilba_tech/wt70_jb/info.json
  keyboards/wilba_tech/wt70_jb/keymaps/default/keymap.c
  keyboards/wilba_tech/wt70_jb/keymaps/via/keymap.c
  keyboards/wilba_tech/wt70_jb/keymaps/via/rules.mk
  keyboards/wilba_tech/wt70_jb/readme.md
  keyboards/wilba_tech/wt70_jb/rules.mk
  keyboards/wilba_tech/wt70_jb/wt70_jb.c
  keyboards/wilba_tech/wt70_jb/wt70_jb.h
Labels: keyboard, keymap, via

#12351 KBD67 Hotswap VIA Support
  keyboards/kbdfans/kbd67/hotswap/config.h
  keyboards/kbdfans/kbd67/hotswap/keymaps/via/keymap.c
  keyboards/kbdfans/kbd67/hotswap/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#12230 New Keyboard PR
  keyboards/pkb65/config.h
  keyboards/pkb65/info.json
  keyboards/pkb65/keymaps/default/keymap.c
  keyboards/pkb65/keymaps/via/keymap.c
  keyboards/pkb65/keymaps/via/rules.mk
  keyboards/pkb65/pkb65.c
  keyboards/pkb65/pkb65.h
  keyboards/pkb65/readme.md
  keyboards/pkb65/rules.mk
Labels: keyboard, keymap, via

#12309 Add GON NerD TKL VIA keymap.
  keyboards/gon/nerdtkl/config.h
  keyboards/gon/nerdtkl/keymaps/via/keymap.c
  keyboards/gon/nerdtkl/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#12409 Remove kc keymap/layout from khord chocopad keymap per #12160
  keyboards/keebio/chocopad/keymaps/khord/keymap.c
Labels: keymap

#12422 Fixing userspace `rverst`
  users/rverst/rverst.c
Labels: bug, keymap

#12429 keymaps: fix kinesis default keymap progrm/reset keycode
  keyboards/kinesis/keymaps/default/keymap.c
  keyboards/kinesis/keymaps/default_pretty/keymap.c
  keyboards/kinesis/keymaps/dvorak/keymap.c
Labels: bug, keymap

#12457 Fix QMK Configurator compilation for Kingly Keys Ave
  keyboards/kingly_keys/ave/config.h
  keyboards/kingly_keys/ave/ortho/keymaps/default/config.h
  keyboards/kingly_keys/ave/staggered/keymaps/default/config.h
Labels: enhancement, keyboard, keymap

#12307 Added Epoch80
  keyboards/epoch80/config.h
  keyboards/epoch80/epoch80.c
  keyboards/epoch80/epoch80.h
  keyboards/epoch80/info.json
  keyboards/epoch80/keymaps/default/keymap.c
  keyboards/epoch80/keymaps/iso/keymap.c
  keyboards/epoch80/keymaps/tsangan/keymap.c
  keyboards/epoch80/keymaps/via/keymap.c
  keyboards/epoch80/keymaps/via/rules.mk
  keyboards/epoch80/keymaps/wkl/keymap.c
  keyboards/epoch80/readme.md
  keyboards/epoch80/rules.mk
Labels: keyboard, keymap, via

#9827 3 new LED effect animations
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix_animations/hue_breathing_anim.h
  quantum/rgb_matrix_animations/hue_pendulum_anim.h
  quantum/rgb_matrix_animations/hue_wave_anim.h
  quantum/rgb_matrix_animations/rgb_matrix_effects.inc
Labels: core, documentation, enhancement, in progress

#12392 Add WSL specific logic for avrdude device detection
  tmk_core/avr.mk
Labels: core, enhancement

#12259 [Keymap] cleanup keyboards/helix/{rev2|rev3_5rows}/keymaps/five_rows
  keyboards/helix/rev2/keymaps/five_rows/config.h
  keyboards/helix/rev2/keymaps/five_rows/keymap.c
  keyboards/helix/rev2/keymaps/five_rows/rules.mk
  keyboards/helix/rev3_5rows/keymaps/five_rows/config.h
  keyboards/helix/rev3_5rows/keymaps/five_rows/keymap.c
  keyboards/helix/rev3_5rows/keymaps/five_rows/oled_display.c
Labels: keymap

#12440 Disarray ProductID change
  keyboards/sneakbox/disarray/staggered/config.h
Labels: keyboard

#12435 Add support for producing UF2-format binaries.
  .gitignore
  Makefile
  message.mk
  quantum/mcu_selection.mk
  tmk_core/rules.mk
  util/uf2conv.py
Labels: core, python

#12495 Fix up builds that are now too big for `develop` branch.
  keyboards/kbdfans/bella/rgb/rules.mk
  keyboards/kbdfans/bella/rgb_iso/rules.mk
  keyboards/mt64rgb/rules.mk
Labels: keyboard

#12318 Add info.json for CK60i
  keyboards/ck60i/info.json
Labels: enhancement, keyboard

#12417 LED Matrix: Implement CIE1931 curve
  common_features.mk
  quantum/led_matrix.c
  quantum/led_matrix.h
Labels: core, enhancement

#12507 Update info.json to correctly.
  keyboards/foostan/cornelius/info.json
Labels: keyboard

#12515 `qmk chibios-confmigrate`: Make `-i` and `-r` required
  lib/python/qmk/cli/chibios/confmigrate.py
Labels: bug, cli, python

#11857 Add new handwired keyboard (Ergocheap)
  keyboards/handwired/ergocheap/chconf.h
  keyboards/handwired/ergocheap/config.h
  keyboards/handwired/ergocheap/ergocheap.c
  keyboards/handwired/ergocheap/ergocheap.h
  keyboards/handwired/ergocheap/halconf.h
  keyboards/handwired/ergocheap/info.json
  keyboards/handwired/ergocheap/keymaps/default/keymap.c
  keyboards/handwired/ergocheap/keymaps/via/keymap.c
  keyboards/handwired/ergocheap/keymaps/via/rules.mk
  keyboards/handwired/ergocheap/mcuconf.h
  keyboards/handwired/ergocheap/readme.md
  keyboards/handwired/ergocheap/rules.mk
Labels: chibios-conf-migration, keyboard, keymap, via

#12272 Fix Breaking Change date
  docs/breaking_changes.md
Labels: documentation

#12521 Add VIA keymap for Kawii9
  keyboards/kiwikey/kawii9/keymaps/via/keymap.c
  keyboards/kiwikey/kawii9/keymaps/via/rules.mk
  keyboards/kiwikey/kawii9/rules.mk
Labels: keyboard, keymap, via

#12093 Added senselessclay had60
  keyboards/senselessclay/had60/config.h
  keyboards/senselessclay/had60/had60.c
  keyboards/senselessclay/had60/had60.h
  keyboards/senselessclay/had60/info.json
  keyboards/senselessclay/had60/keymaps/default/keymap.c
  keyboards/senselessclay/had60/keymaps/had/keymap.c
  keyboards/senselessclay/had60/keymaps/iso/keymap.c
  keyboards/senselessclay/had60/keymaps/via/keymap.c
  keyboards/senselessclay/had60/keymaps/via/rules.mk
  keyboards/senselessclay/had60/readme.md
  keyboards/senselessclay/had60/rules.mk
Labels: keyboard, keymap, via

#12126 Added VIA keymap, Updated Product ID, Enabled RGB
  keyboards/ergosaurus/config.h
  keyboards/ergosaurus/keymaps/default/via/keymap.c
  keyboards/ergosaurus/keymaps/default/via/rules.mk
Labels: keyboard, keymap

#12217 Remove LAYOUT_kc macros from edvorakjp keymaps
  keyboards/crkbd/keymaps/edvorakjp/config.h
  keyboards/crkbd/keymaps/edvorakjp/keymap.c
  keyboards/crkbd/keymaps/edvorakjp/oled.c
  keyboards/crkbd/keymaps/edvorakjp/oled.h
  keyboards/crkbd/keymaps/edvorakjp/rules.mk
  keyboards/helix/rev2/keymaps/edvorakjp/config.h
  keyboards/helix/rev2/keymaps/edvorakjp/keymap.c
  keyboards/helix/rev2/keymaps/edvorakjp/keymap_4rows.c
  keyboards/helix/rev2/keymaps/edvorakjp/keymap_5rows.c
  keyboards/helix/rev2/keymaps/edvorakjp/keymap_xrows.h
  keyboards/helix/rev2/keymaps/edvorakjp/oled.c
  keyboards/helix/rev2/keymaps/edvorakjp/oled.h
  keyboards/helix/rev2/keymaps/edvorakjp/rules.mk
  keyboards/keebio/iris/keymaps/edvorakjp/config.h
  keyboards/keebio/iris/keymaps/edvorakjp/keymap.c
  users/edvorakjp/edvorakjp.c
  users/edvorakjp/edvorakjp.h
  users/edvorakjp/edvorakjp_process_record.c
  users/edvorakjp/edvorakjp_status.c
  users/edvorakjp/edvorakjp_tap_dance.c
Labels: keymap

#12491 Reverse K0E and K0G in Iron180
  keyboards/iron180/iron180.h
  keyboards/iron180/mcuconf.h
Labels: keyboard

#12472 ChibiOS USB driver: prevent deadlock with CONSOLE_ENABLE = yes
  tmk_core/protocol/chibios/usb_driver.c
Labels: core

#12510 Update github instruction link in newbs_getting_started.md
  docs/newbs_getting_started.md
Labels: documentation

#12502 Update readme.md
  keyboards/planck/keymaps/readme.md
Labels: keymap

#12484 Documentation update
  docs/getting_started_make_guide.md
Labels: documentation

#12524 A few small typo fixes in docs
  docs/feature_audio.md
  docs/feature_backlight.md
  docs/newbs_flashing.md
Labels: documentation

#12312 Update layout option for lazydesigners/THE40
  keyboards/lazydesigners/the40/info.json
  keyboards/lazydesigners/the40/keymaps/ortho/keymap.c
  keyboards/lazydesigners/the40/readme.md
  keyboards/lazydesigners/the40/the40.h
Labels: keyboard, keymap

#12289 Merc updates
  keyboards/mechwild/mercutio/keymaps/bongocat/rules.mk
Labels: keymap

#12444 [Keymap] Add kzar keymap for Kinesis Advantage
  keyboards/kinesis/kint36/keymaps/kzar/config.h
  keyboards/kinesis/kint36/keymaps/kzar/keymap.c
  keyboards/kinesis/kint36/keymaps/kzar/readme.md
  keyboards/kinesis/kint36/keymaps/kzar/rules.mk
Labels: keymap

#12509 LED Matrix: suspend code
  quantum/led_matrix.c
  quantum/led_matrix.h
  tmk_core/common/avr/suspend.c
  tmk_core/common/chibios/suspend.c
  tmk_core/common/keyboard.c
Labels: core, enhancement

#12561 Terrazzo: Fix wrong LED Matrix function names
  docs/feature_led_matrix.md
  docs/ja/feature_led_matrix.md
  keyboards/terrazzo/terrazzo.c
  keyboards/terrazzo/terrazzo_effects/dino.h
  keyboards/terrazzo/terrazzo_effects/dot.h
  keyboards/terrazzo/terrazzo_effects/heart.h
  keyboards/terrazzo/terrazzo_effects/outrun.h
  keyboards/terrazzo/terrazzo_effects/pac_dude.h
  keyboards/terrazzo/terrazzo_effects/wpm_chart.h
Labels: bug, documentation, keyboard, translation

#12449 [Keymap] ANAVI Macro Pad 2 add Google Meet keymap
  keyboards/anavi/macropad2/keymaps/google-meet/keymap.c
  keyboards/anavi/macropad2/keymaps/google-meet/rules.mk
Labels: keymap

#12581 Correct layout macro name in Cannonkeys Ortho75 info.json
  keyboards/cannonkeys/ortho75/info.json
Labels: enhancement, keyboard

#12578 [Keyboard] Add Caffeinated Studios Serpent65
  keyboards/caffeinated/serpent65/chconf.h
  keyboards/caffeinated/serpent65/config.h
  keyboards/caffeinated/serpent65/info.json
  keyboards/caffeinated/serpent65/keymaps/default/keymap.c
  keyboards/caffeinated/serpent65/keymaps/default/readme.md
  keyboards/caffeinated/serpent65/keymaps/via/keymap.c
  keyboards/caffeinated/serpent65/keymaps/via/readme.md
  keyboards/caffeinated/serpent65/keymaps/via/rules.mk
  keyboards/caffeinated/serpent65/readme.md
  keyboards/caffeinated/serpent65/rules.mk
  keyboards/caffeinated/serpent65/serpent65.c
  keyboards/caffeinated/serpent65/serpent65.h
Labels: keyboard, keymap, via

#12518 add cybergear macro25 keyboard
  keyboards/cybergear/macro25/LICENSE
  keyboards/cybergear/macro25/config.h
  keyboards/cybergear/macro25/info.json
  keyboards/cybergear/macro25/keymaps/default/keymap.c
  keyboards/cybergear/macro25/keymaps/via/keymap.c
  keyboards/cybergear/macro25/keymaps/via/rules.mk
  keyboards/cybergear/macro25/macro25.c
  keyboards/cybergear/macro25/macro25.h
  keyboards/cybergear/macro25/readme.md
  keyboards/cybergear/macro25/rules.mk
Labels: keyboard, keymap, via

#11353 Dactyl manuform 5x6 2 5 keymap
  keyboards/handwired/dactyl_manuform/5x6_2_5/5x6_2_5.c
  keyboards/handwired/dactyl_manuform/5x6_2_5/5x6_2_5.h
  keyboards/handwired/dactyl_manuform/5x6_2_5/config.h
  keyboards/handwired/dactyl_manuform/5x6_2_5/info.json
  keyboards/handwired/dactyl_manuform/5x6_2_5/keymaps/default/config.h
  keyboards/handwired/dactyl_manuform/5x6_2_5/keymaps/default/keymap.json
  keyboards/handwired/dactyl_manuform/5x6_2_5/readme.md
  keyboards/handwired/dactyl_manuform/5x6_2_5/rules.mk
  keyboards/handwired/dactyl_manuform/dactyl_manuform.h
Labels: keyboard, keymap

#12411 Add support for tab completion
  docs/_summary.md
  docs/cli_tab_complete.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/c2json.py
  lib/python/qmk/cli/cformat.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/cli/generate/dfu_header.py
  lib/python/qmk/cli/generate/info_json.py
  lib/python/qmk/cli/generate/layouts.py
  lib/python/qmk/cli/generate/rules_mk.py
  lib/python/qmk/cli/info.py
  lib/python/qmk/cli/json2c.py
  lib/python/qmk/cli/kle2json.py
  lib/python/qmk/cli/lint.py
  lib/python/qmk/cli/list/keymaps.py
  lib/python/qmk/cli/new/keymap.py
  lib/python/qmk/decorators.py
  lib/python/qmk/keyboard.py
  lib/python/qmk/keymap.py
  requirements.txt
  util/qmk_tab_complete.sh
Labels: cli, core, documentation, python

#12580 LED Matrix: Task system
  quantum/led_matrix.c
  quantum/led_matrix.h
  quantum/led_matrix_types.h
Labels: core, enhancement

#12322 Update Think 6.5 V2 README
  keyboards/gray_studio/think65/solder/readme.md
Labels: keyboard

#12330 Optimize NIBBLE oled_bongocat keymap to reduce flash usage
  keyboards/nullbitsco/nibble/keymaps/oled_bongocat/animation_frames.h
  keyboards/nullbitsco/nibble/keymaps/oled_bongocat/keymap.c
  keyboards/nullbitsco/nibble/keymaps/oled_bongocat/readme.md
  keyboards/nullbitsco/nibble/keymaps/oled_bongocat/rules.mk
Labels: keymap

#12526 Fix audio on WT60-XT
  keyboards/wilba_tech/wt60_xt/wt60_xt.c
Labels: keyboard

#11935 Add missing RGB_MODE_TWINKLE / RGB_M_TW keycodes
  docs/feature_rgblight.md
  quantum/process_keycode/process_rgb.c
  quantum/quantum_keycodes.h
Labels: core, documentation

#12595 Bug in beautifier script, compound modifiers not correctly parsed
  keyboards/ergodox_ez/util/keymap_beautifier/KeymapBeautifier.py
Labels: keyboard, python

#11618 Ergodone via support
  keyboards/ergodone/config.h
  keyboards/ergodone/keymaps/via/config.h
  keyboards/ergodone/keymaps/via/keymap.c
  keyboards/ergodone/keymaps/via/readme.md
  keyboards/ergodone/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#12092 mcrown crkbd new keymap
  keyboards/crkbd/keymaps/mcrown/config.h
  keyboards/crkbd/keymaps/mcrown/glcdfont.c
  keyboards/crkbd/keymaps/mcrown/keymap.c
  keyboards/crkbd/keymaps/mcrown/mcrown.h
  keyboards/crkbd/keymaps/mcrown/oled.c
  keyboards/crkbd/keymaps/mcrown/oled.h
  keyboards/crkbd/keymaps/mcrown/readme.md
  keyboards/crkbd/keymaps/mcrown/rules.mk
Labels: keymap

#12479 keyboardio/atreus: Add new keymap 'ardumont'
  keyboards/keyboardio/atreus/keymaps/ardumont/keymap.c
  keyboards/keyboardio/atreus/keymaps/ardumont/readme.md
Labels: keymap

#12462 Keymap: Orthocarpus keymap for idobo
  keyboards/idobo/keymaps/gkbd_75/config.h
  keyboards/idobo/keymaps/gkbd_75/keymap.c
  keyboards/idobo/keymaps/gkbd_75/readme.md
Labels: keymap

#12337 UT47.2: Show RGB controls in keyboard picture for default keymap
  keyboards/ut472/keymaps/default/keymap.c
Labels: keymap

#12621 Fixup Satisfaction75 bootprocess.
  drivers/qwiic/micro_oled.c
  keyboards/cannonkeys/satisfaction75/config.h
  keyboards/cannonkeys/satisfaction75/i2c_master.c
  keyboards/cannonkeys/satisfaction75/satisfaction75.c
Labels: core, keyboard

#11361 Add Tau4 keyboard, with default and i2cscanner keymaps
  keyboards/tau4/common/glcdfont.c
  keyboards/tau4/config.h
  keyboards/tau4/keymaps/default/keymap.c
  keyboards/tau4/keymaps/default/readme.md
  keyboards/tau4/readme.md
  keyboards/tau4/rules.mk
  keyboards/tau4/tau4.c
  keyboards/tau4/tau4.h
Labels: awaiting changes, keyboard, keymap

#11725 Add Koolertron AMAG23 Keyboard
  keyboards/amag23/amag23.c
  keyboards/amag23/amag23.h
  keyboards/amag23/config.h
  keyboards/amag23/info.json
  keyboards/amag23/keymaps/default/keymap.c
  keyboards/amag23/keymaps/default/readme.md
  keyboards/amag23/keymaps/qwert/keymap.c
  keyboards/amag23/keymaps/qwert/readme.md
  keyboards/amag23/readme.md
  keyboards/amag23/rules.mk
Labels: keyboard, keymap

#11769 Adding of Monarch keyboard
  keyboards/monarch/config.h
  keyboards/monarch/info.json
  keyboards/monarch/keymaps/default/keymap.c
  keyboards/monarch/keymaps/iso/keymap.c
  keyboards/monarch/keymaps/via/config.h
  keyboards/monarch/keymaps/via/keymap.c
  keyboards/monarch/keymaps/via/rules.mk
  keyboards/monarch/monarch.c
  keyboards/monarch/monarch.h
  keyboards/monarch/readme.md
  keyboards/monarch/rules.mk
Labels: keyboard, keymap, via

#11997 Added support for Dystopia keyboard
  keyboards/sanctified/dystopia/config.h
  keyboards/sanctified/dystopia/dystopia.c
  keyboards/sanctified/dystopia/dystopia.h
  keyboards/sanctified/dystopia/info.json
  keyboards/sanctified/dystopia/keymaps/default/keymap.c
  keyboards/sanctified/dystopia/keymaps/via/keymap.c
  keyboards/sanctified/dystopia/keymaps/via/rules.mk
  keyboards/sanctified/dystopia/readme.md
  keyboards/sanctified/dystopia/rules.mk
Labels: keyboard, keymap, via

#11969 Helen80 matrix fixes
  keyboards/playkbtw/helen80/helen80.h
  keyboards/playkbtw/helen80/rules.mk
Labels: keyboard

#12140 Adding new keyboard G1_65
  keyboards/genone/g1_65/config.h
  keyboards/genone/g1_65/g1_65.c
  keyboards/genone/g1_65/g1_65.h
  keyboards/genone/g1_65/info.json
  keyboards/genone/g1_65/keymaps/default/keymap.c
  keyboards/genone/g1_65/keymaps/via/keymap.c
  keyboards/genone/g1_65/keymaps/via/rules.mk
  keyboards/genone/g1_65/readme.md
  keyboards/genone/g1_65/rules.mk
Labels: keyboard, keymap, via

#12104 Add my quefrency layout
  keyboards/keebio/quefrency/keymaps/bfiedler/config.h
  keyboards/keebio/quefrency/keymaps/bfiedler/keymap.c
  keyboards/keebio/quefrency/keymaps/bfiedler/rules.mk
Labels: keymap

#12349 Add handwired/frankie_macropad
  keyboards/handwired/frankie_macropad/config.h
  keyboards/handwired/frankie_macropad/frankie_macropad.c
  keyboards/handwired/frankie_macropad/frankie_macropad.h
  keyboards/handwired/frankie_macropad/info.json
  keyboards/handwired/frankie_macropad/keymaps/default/keymap.c
  keyboards/handwired/frankie_macropad/keymaps/default/readme.md
  keyboards/handwired/frankie_macropad/readme.md
  keyboards/handwired/frankie_macropad/rules.mk
Labels: keyboard, keymap

#12393 Added wilba.tech WT65-F
  keyboards/wilba_tech/wt65_f/config.h
  keyboards/wilba_tech/wt65_f/info.json
  keyboards/wilba_tech/wt65_f/keymaps/default/keymap.c
  keyboards/wilba_tech/wt65_f/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_f/keymaps/via/rules.mk
  keyboards/wilba_tech/wt65_f/readme.md
  keyboards/wilba_tech/wt65_f/rules.mk
  keyboards/wilba_tech/wt65_f/wt65_f.c
  keyboards/wilba_tech/wt65_f/wt65_f.h
Labels: keyboard, keymap, via

#12394 Added wilba.tech WT65-FX
  keyboards/wilba_tech/wt65_fx/config.h
  keyboards/wilba_tech/wt65_fx/info.json
  keyboards/wilba_tech/wt65_fx/keymaps/default/keymap.c
  keyboards/wilba_tech/wt65_fx/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_fx/keymaps/via/rules.mk
  keyboards/wilba_tech/wt65_fx/readme.md
  keyboards/wilba_tech/wt65_fx/rules.mk
  keyboards/wilba_tech/wt65_fx/wt65_fx.c
  keyboards/wilba_tech/wt65_fx/wt65_fx.h
Labels: keyboard, keymap, via

#12395 Added wilba.tech WT60-G2
  keyboards/wilba_tech/wt60_g2/config.h
  keyboards/wilba_tech/wt60_g2/info.json
  keyboards/wilba_tech/wt60_g2/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_g2/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_g2/keymaps/via/rules.mk
  keyboards/wilba_tech/wt60_g2/readme.md
  keyboards/wilba_tech/wt60_g2/rules.mk
  keyboards/wilba_tech/wt60_g2/wt60_g2.c
  keyboards/wilba_tech/wt60_g2/wt60_g2.h
Labels: keyboard, keymap, via

#11727 Enhancement of WPM feature
  docs/feature_wpm.md
  quantum/wpm.c
  quantum/wpm.h
Labels: core, documentation

#12430 keymaps: add kinesis/keymaps/stapelberg
  keyboards/kinesis/keymaps/stapelberg/keymap.c
  keyboards/kinesis/keymaps/stapelberg/readme.md
  keyboards/kinesis/keymaps/stapelberg/rules.mk
Labels: keymap

#12480 Fix F303 audio output on A4 with the dac_basic driver
  quantum/audio/driver_chibios_dac_basic.c
Labels: core

#12488 Update keymap.c
  keyboards/dztech/dz60rgb/keymaps/default/keymap.c
Labels: keymap

#12447 docs: eclipse: recommend changing the default project make target
  docs/other_eclipse.md
Labels: documentation

#12459 Update RAMA WORKS M50-A
  keyboards/wilba_tech/rama_works_m50_a/info.json
  keyboards/wilba_tech/rama_works_m50_a/keymaps/default/keymap.c
  keyboards/wilba_tech/rama_works_m50_a/keymaps/via/keymap.c
  keyboards/wilba_tech/rama_works_m50_a/rama_works_m50_a.h
Labels: keyboard, keymap, via

#12402 VIA Support for LCK75
  keyboards/lck75/keymaps/via/keymap.c
  keyboards/lck75/keymaps/via/rules.mk
  keyboards/lck75/lck75.c
Labels: keyboard, keymap, via

#12498 Fix handling of RV_LOCK and RV_SNAP for windows
  users/rverst/rverst.c
Labels: keymap

#12461 Iracing replay keymap
  keyboards/kbdfans/kbdpad_mk2/keymaps/iracing_replay/keymap.c
  keyboards/kbdfans/kbdpad_mk2/keymaps/iracing_replay/readme.md
  keyboards/kbdfans/kbdpad_mk2/keymaps/iracing_replay/rules.mk
Labels: keymap

#12503 Fix bm68rgb led map
  keyboards/bm68rgb/bm68rgb.c
Labels: keyboard

#12482 Apply the "NO_LIMITED_CONTROLLER_CONNECT" fix to atmega16u2 too (and …
  tmk_core/protocol/lufa.mk
Labels: core

#12374 Added keyboard jkdlab/binary_monkey
  keyboards/jkdlab/binary_monkey/binary_monkey.c
  keyboards/jkdlab/binary_monkey/binary_monkey.h
  keyboards/jkdlab/binary_monkey/config.h
  keyboards/jkdlab/binary_monkey/info.json
  keyboards/jkdlab/binary_monkey/keymaps/ascii/keymap.c
  keyboards/jkdlab/binary_monkey/keymaps/default/keymap.c
  keyboards/jkdlab/binary_monkey/readme.md
  keyboards/jkdlab/binary_monkey/rules.mk
Labels: keyboard, keymap

#12516 First commit of Wanderland - An Alice-layout keyboard
  keyboards/kiwikey/wanderland/config.h
  keyboards/kiwikey/wanderland/info.json
  keyboards/kiwikey/wanderland/keymaps/default/keymap.c
  keyboards/kiwikey/wanderland/keymaps/default/readme.md
  keyboards/kiwikey/wanderland/keymaps/via/keymap.c
  keyboards/kiwikey/wanderland/keymaps/via/readme.md
  keyboards/kiwikey/wanderland/keymaps/via/rules.mk
  keyboards/kiwikey/wanderland/readme.md
  keyboards/kiwikey/wanderland/rules.mk
  keyboards/kiwikey/wanderland/wanderland.c
  keyboards/kiwikey/wanderland/wanderland.h
Labels: keyboard, keymap, via

#12592 Minifan minor issues
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_colemak.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_colemak.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_dvorak.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_dvorak.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_dvorak_descramble.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_dvorak_descramble.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_qwerty.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_qwerty.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_qwerty_basearrow.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_qwerty_basearrow.h
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_qwerty_basearrow.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_workman.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/base_workman.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/config.h
  keyboards/thevankeyboards/minivan/keymaps/josjoha/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/minifan_config_compact.h
  keyboards/thevankeyboards/minivan/keymaps/josjoha/readme.md
  keyboards/thevankeyboards/minivan/keymaps/josjoha/unicode_macros.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/user_config.h
Labels: keymap

#11536 Add Per Key functionality for AutoShift
  docs/feature_auto_shift.md
  quantum/process_keycode/process_auto_shift.c
  quantum/process_keycode/process_auto_shift.h
Labels: awaiting review, core, documentation

#12406 Carbo65
  keyboards/carbo65/carbo65.c
  keyboards/carbo65/carbo65.h
  keyboards/carbo65/config.h
  keyboards/carbo65/info.json
  keyboards/carbo65/keymaps/default/keymap.c
  keyboards/carbo65/keymaps/default/readme.md
  keyboards/carbo65/keymaps/via/keymap.c
  keyboards/carbo65/keymaps/via/readme.md
  keyboards/carbo65/keymaps/via/rules.mk
  keyboards/carbo65/readme.md
  keyboards/carbo65/rules.mk
Labels: keyboard, keymap, via

#12588 LED Matrix: Reactive effect buffers & advanced indicators
  quantum/led_matrix.c
  quantum/led_matrix.h
Labels: core, enhancement

#12522 Add millipad keypad and default keymap
  keyboards/millipad/config.h
  keyboards/millipad/info.json
  keyboards/millipad/keymaps/default/keymap.c
  keyboards/millipad/keymaps/default/readme.md
  keyboards/millipad/millipad.c
  keyboards/millipad/millipad.h
  keyboards/millipad/readme.md
  keyboards/millipad/rules.mk
Labels: keyboard, keymap

#12609 Set OLED_DISPLAY_128X64 for Arch-36
  keyboards/arch_36/config.h
Labels: keyboard

#12607 Fixing files for Orto4exent
  keyboards/tszaboo/ortho4exent/config.h
  keyboards/tszaboo/ortho4exent/info.json
Labels: keyboard

#12574 Refactor IF87_rev1
  keyboards/mechlovin/infinity87/rev1/rev1.h
  keyboards/mechlovin/infinity87/rev1/rules.mk
  keyboards/mechlovin/infinity87/rules.mk
Labels: keyboard

#12243 [macropad] doodle - 03/14
  keyboards/clawsome/doodle/config.h
  keyboards/clawsome/doodle/doodle.c
  keyboards/clawsome/doodle/doodle.h
  keyboards/clawsome/doodle/info.json
  keyboards/clawsome/doodle/keymaps/default/keymap.c
  keyboards/clawsome/doodle/rules.mk
Labels: keyboard, keymap

#12626 kint36: switch to sym_eager_pk debouncing
  keyboards/kinesis/kint36/rules.mk
Labels: keyboard

#12625 kint2pp: reduce input latency by ≈10ms
  keyboards/kinesis/kint2pp/config.h
  keyboards/kinesis/kint2pp/rules.mk
Labels: keyboard

#12606 [Keyboard] Fix and improve SPI transport in the Lagrange
  keyboards/handwired/lagrange/transport.c
Labels: keyboard

#12573 Add Acperience12
  keyboards/yynmt/acperience12/acperience12.c
  keyboards/yynmt/acperience12/acperience12.h
  keyboards/yynmt/acperience12/config.h
  keyboards/yynmt/acperience12/info.json
  keyboards/yynmt/acperience12/keymaps/default/keymap.c
  keyboards/yynmt/acperience12/keymaps/default/readme.md
  keyboards/yynmt/acperience12/keymaps/via/config.h
  keyboards/yynmt/acperience12/keymaps/via/keymap.c
  keyboards/yynmt/acperience12/keymaps/via/rules.mk
  keyboards/yynmt/acperience12/readme.md
  keyboards/yynmt/acperience12/rev1/config.h
  keyboards/yynmt/acperience12/rev1/readme.md
  keyboards/yynmt/acperience12/rev1/rev1.c
  keyboards/yynmt/acperience12/rev1/rev1.h
  keyboards/yynmt/acperience12/rev1/rules.mk
  keyboards/yynmt/acperience12/rules.mk
Labels: keyboard, keymap, via

#12568 fix bella debounce
  keyboards/kbdfans/bella/rgb/config.h
  keyboards/kbdfans/bella/rgb_iso/config.h
Labels: keyboard

#12564 Update ISO Macro vendor ID to meet VIA requirement
  keyboards/merge/iso_macro/config.h
Labels: keyboard

#12563 Added support for the older no_led revision infinity60
  keyboards/infinity60/config.h
  keyboards/infinity60/led/config.h
  keyboards/infinity60/led/readme.md
  keyboards/infinity60/led/rules.mk
  keyboards/infinity60/rev1/config.h
  keyboards/infinity60/rev1/readme.md
  keyboards/infinity60/rev1/rules.mk
  keyboards/infinity60/rules.mk
Labels: keyboard

#12534 Matrix 1.2og AVR PCB - VIA support
  keyboards/matrix/m12og/config.h
  keyboards/matrix/m12og/keymaps/via/keymap.c
  keyboards/matrix/m12og/keymaps/via/rules.mk
  keyboards/matrix/m12og/m12og.h
Labels: keyboard, keymap, via

#12489 [Keyboard] Add amigopunk, a handwired 75% ALPS
  keyboards/handwired/amigopunk/amigopunk.c
  keyboards/handwired/amigopunk/amigopunk.h
  keyboards/handwired/amigopunk/config.h
  keyboards/handwired/amigopunk/info.json
  keyboards/handwired/amigopunk/keymaps/default/keymap.c
  keyboards/handwired/amigopunk/readme.md
  keyboards/handwired/amigopunk/rules.mk
Labels: keyboard, keymap

#12451 Added BKS65 Solder PCB
  keyboards/fjlabs/bks65solder/bks65solder.c
  keyboards/fjlabs/bks65solder/bks65solder.h
  keyboards/fjlabs/bks65solder/config.h
  keyboards/fjlabs/bks65solder/info.json
  keyboards/fjlabs/bks65solder/keymaps/default/keymap.c
  keyboards/fjlabs/bks65solder/keymaps/via/keymap.c
  keyboards/fjlabs/bks65solder/keymaps/via/rules.mk
  keyboards/fjlabs/bks65solder/readme.md
  keyboards/fjlabs/bks65solder/rules.mk
Labels: keyboard, keymap, via

#12415 Siris
  keyboards/ffkeebs/siris/config.h
  keyboards/ffkeebs/siris/info.json
  keyboards/ffkeebs/siris/keymaps/default/keymap.c
  keyboards/ffkeebs/siris/keymaps/via/keymap.c
  keyboards/ffkeebs/siris/keymaps/via/rules.mk
  keyboards/ffkeebs/siris/readme.md
  keyboards/ffkeebs/siris/rules.mk
  keyboards/ffkeebs/siris/siris.c
  keyboards/ffkeebs/siris/siris.h
Labels: keyboard, keymap, via

#12587 Fix for gcc10 teensy_lc eeprom build warning
  tmk_core/common/chibios/eeprom_teensy.c
Labels: bug, core

#12630 Add additional info to PR Checklist
  docs/pr_checklist.md
Labels: documentation

#12456 Update for the dodger keymap for the Planck
  keyboards/planck/keymaps/dodger/config.h
  keyboards/planck/keymaps/dodger/keymap.c
  keyboards/planck/keymaps/dodger/rules.mk
Labels: keymap

#12485 Personal keymap for dztech DZ60RGB plus README.md
  keyboards/dztech/dz60rgb/keymaps/mechmaster48/README.md
  keyboards/dztech/dz60rgb/keymaps/mechmaster48/keymap.c
Labels: keymap

#12633 LED Matrix: Split
  quantum/led_matrix.c
  quantum/split_common/transport.c
Labels: core, enhancement

#12638 Delilah keyboard added
  keyboards/delilah/config.h
  keyboards/delilah/delilah.c
  keyboards/delilah/delilah.h
  keyboards/delilah/info.json
  keyboards/delilah/keymaps/default/keymap.c
  keyboards/delilah/keymaps/via/keymap.c
  keyboards/delilah/keymaps/via/rules.mk
  keyboards/delilah/readme.md
  keyboards/delilah/rules.mk
Labels: keyboard, keymap, via

#9144 VIA support for Planck Rev6
  keyboards/planck/config.h
  keyboards/planck/keymaps/via/keymap.c
  keyboards/planck/keymaps/via/readme.md
  keyboards/planck/keymaps/via/rules.mk
  keyboards/planck/light/config.h
  keyboards/planck/rev1/config.h
  keyboards/planck/rev2/config.h
  keyboards/planck/rev3/config.h
  keyboards/planck/rev4/config.h
  keyboards/planck/rev5/config.h
  keyboards/planck/rev6/config.h
Labels: keyboard, keymap, on hold, via

#12414 adding keyboard
  keyboards/iriskeyboards/config.h
  keyboards/iriskeyboards/info.json
  keyboards/iriskeyboards/iriskeyboards.c
  keyboards/iriskeyboards/iriskeyboards.h
  keyboards/iriskeyboards/keymaps/default/keymap.c
  keyboards/iriskeyboards/keymaps/default/readme.md
  keyboards/iriskeyboards/keymaps/via/keymap.c
  keyboards/iriskeyboards/keymaps/via/readme.md
  keyboards/iriskeyboards/keymaps/via/rules.mk
  keyboards/iriskeyboards/readme.md
  keyboards/iriskeyboards/rules.mk
Labels: keyboard, keymap, via

#6580 feat: infinite timeout for leader key
  docs/feature_leader_key.md
  quantum/process_keycode/process_leader.c
  quantum/process_keycode/process_leader.h
Labels: awaiting review, core, documentation, enhancement, needs doc

#12366 not accessible and not needed anyway for a test keymap
  keyboards/keebio/bdn9/keymaps/test/keymap.c
Labels: keymap

#12401 Add VIA support for Filco Majestouch 2 /w The Tiger Lily
  keyboards/bpiphany/tiger_lily/config.h
  keyboards/bpiphany/tiger_lily/keymaps/via/config.h
  keyboards/bpiphany/tiger_lily/keymaps/via/keymap.c
  keyboards/bpiphany/tiger_lily/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#12405 Add m3n3van rev2
  keyboards/m3n3van/config.h
  keyboards/m3n3van/info.json
  keyboards/m3n3van/keymaps/default/keymap.json
  keyboards/m3n3van/keymaps/matthewdias/keymap.c
  keyboards/m3n3van/keymaps/via/keymap.c
  keyboards/m3n3van/keymaps/via/rules.mk
  keyboards/m3n3van/m3n3van.c
  keyboards/m3n3van/m3n3van.h
  keyboards/m3n3van/readme.md
  keyboards/m3n3van/rules.mk
Labels: keyboard, keymap, via

#12408 Add lm60n keyboard
  keyboards/lm_keyboard/lm60n/config.h
  keyboards/lm_keyboard/lm60n/info.json
  keyboards/lm_keyboard/lm60n/keymaps/default/keymap.c
  keyboards/lm_keyboard/lm60n/keymaps/default/readme.md
  keyboards/lm_keyboard/lm60n/keymaps/via/keymap.c
  keyboards/lm_keyboard/lm60n/keymaps/via/readme.md
  keyboards/lm_keyboard/lm60n/keymaps/via/rules.mk
  keyboards/lm_keyboard/lm60n/lm60n.c
  keyboards/lm_keyboard/lm60n/lm60n.h
  keyboards/lm_keyboard/lm60n/readme.md
  keyboards/lm_keyboard/lm60n/rules.mk
Labels: keyboard, keymap, via

#12436 [Keymap] Add Git keymap for ANAVI Macro Pad 8
  keyboards/anavi/macropad8/keymaps/git/config.h
  keyboards/anavi/macropad8/keymaps/git/keymap.c
Labels: keymap

#12403 Update ADC driver for STM32F1xx, STM32F3xx, STM32F4xx
  docs/adc_driver.md
  drivers/chibios/analog.c
Labels: core, documentation

#12529 Fix CLI incorrectly following `DEFAULT_FOLDER`
  lib/python/qmk/keyboard.py
Labels: cli, python

#12290 Add RGB matrix suspend wake function for Planck/rev6
  keyboards/planck/rev6/config.h
  keyboards/planck/rev6/rev6.c
Labels: keyboard

#12576 Fix how USB queue overflow is handled in chibios.
  tmk_core/protocol/chibios/usb_driver.c
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/lufa/lufa.c
Labels: core

#12600 Add initial support for tinyuf2 bootloader (when hosted on F411 blackpill)
  bootloader.mk
  data/schemas/keyboard.jsonschema
  docs/flashing.md
  keyboards/handwired/onekey/blackpill_f411_tinyuf2/chconf.h
  keyboards/handwired/onekey/blackpill_f411_tinyuf2/config.h
  keyboards/handwired/onekey/blackpill_f411_tinyuf2/halconf.h
  keyboards/handwired/onekey/blackpill_f411_tinyuf2/mcuconf.h
  keyboards/handwired/onekey/blackpill_f411_tinyuf2/readme.md
  keyboards/handwired/onekey/blackpill_f411_tinyuf2/rules.mk
  platforms/chibios/BLACKPILL_STM32_F411/ld/STM32F411xC_tinyuf2.ld
  platforms/chibios/BLACKPILL_STM32_F411/ld/STM32F411xE_tinyuf2.ld
  quantum/mcu_selection.mk
  tmk_core/chibios.mk
  tmk_core/common/chibios/bootloader.c
Labels: core, documentation, keyboard

#12471 Do not leak weak mods from tap dance to the interrupting keypress
  quantum/process_keycode/process_tap_dance.c
Labels: core

#12493 Update checking board master function
  users/ninjonas/oled.c
Labels: keymap

#12506 peepeetee's *very janky* hub16 keymap
  keyboards/hub16/keymaps/peepeetee/config.h
  keyboards/hub16/keymaps/peepeetee/keymap.c
  keyboards/hub16/keymaps/peepeetee/rules.mk
Labels: keymap

#12496 [Keyboard] Ninjin
  keyboards/xelus/ninjin/config.h
  keyboards/xelus/ninjin/halconf.h
  keyboards/xelus/ninjin/keymaps/default/keymap.c
  keyboards/xelus/ninjin/keymaps/via/keymap.c
  keyboards/xelus/ninjin/keymaps/via/rules.mk
  keyboards/xelus/ninjin/mcuconf.h
  keyboards/xelus/ninjin/ninjin.c
  keyboards/xelus/ninjin/ninjin.h
  keyboards/xelus/ninjin/readme.md
  keyboards/xelus/ninjin/rules.mk
Labels: keyboard, keymap, via

#12671 eeprom driver: call eeprom_driver_init on avr targets too
  tmk_core/common/keyboard.c
  tmk_core/protocol/chibios/main.c
Labels: core

#12619 Add support for MCU = STM32F446
  data/schemas/keyboard.jsonschema
  docs/compatible_microcontrollers.md
  docs/ja/compatible_microcontrollers.md
  lib/python/qmk/constants.py
  platforms/chibios/GENERIC_STM32_F446XE/board/board.mk
  platforms/chibios/GENERIC_STM32_F446XE/configs/board.h
  platforms/chibios/GENERIC_STM32_F446XE/configs/config.h
  platforms/chibios/GENERIC_STM32_F446XE/configs/mcuconf.h
  quantum/mcu_selection.mk
Labels: cli, core, documentation, python, translation

#12631 Fix Keyboard Configs
  keyboards/melgeek/mj61/rev2/rules.mk
  keyboards/monarch/halconf.h
  keyboards/monarch/mcuconf.h
  keyboards/monarch/rules.mk
Labels: bug, keyboard

#12063 Add STM32L433 and L443 support
  data/schemas/keyboard.jsonschema
  docs/compatible_microcontrollers.md
  docs/ja/compatible_microcontrollers.md
  lib/python/qmk/constants.py
  platforms/chibios/GENERIC_STM32_L433XC/board/board.mk
  platforms/chibios/GENERIC_STM32_L433XC/configs/board.h
  platforms/chibios/GENERIC_STM32_L433XC/configs/config.h
  platforms/chibios/GENERIC_STM32_L433XC/configs/mcuconf.h
  quantum/mcu_selection.mk
Labels: cli, core, documentation, python, translation

#12613 Updated Function96 with V2 files and removed chconf.h and halconf.h
  keyboards/function96/v1/config.h
  keyboards/function96/v1/info.json
  keyboards/function96/v1/keymaps/default/keymap.c
  keyboards/function96/v1/keymaps/default/readme.md
  keyboards/function96/v1/mcuconf.h
  keyboards/function96/v1/readme.md
  keyboards/function96/v1/rules.mk
  keyboards/function96/v1/v1.c
  keyboards/function96/v1/v1.h
  keyboards/function96/v2/config.h
  keyboards/function96/v2/info.json
  keyboards/function96/v2/keymaps/ansi_splitspace/keymap.c
  keyboards/function96/v2/keymaps/ansi_splitspace/readme.md
  keyboards/function96/v2/keymaps/default/keymap.c
  keyboards/function96/v2/keymaps/default/readme.md
  keyboards/function96/v2/keymaps/iso/keymap.c
  keyboards/function96/v2/keymaps/iso/readme.md
  keyboards/function96/v2/keymaps/iso_splitspace/keymap.c
  keyboards/function96/v2/keymaps/iso_splitspace/readme.md
  keyboards/function96/v2/mcuconf.h
  keyboards/function96/v2/readme.md
  keyboards/function96/v2/rules.mk
  keyboards/function96/v2/v2.c
  keyboards/function96/v2/v2.h
Labels: keyboard, keymap

#12701 [BUG FIX] planck light via endpoints
  keyboards/planck/keymaps/via/rules.mk
Labels: keymap, via

#12711 Update noroadsleft userspace and keymaps (2021-04-26)
  keyboards/coseyfannitutti/discipline/keymaps/noroadsleft/keymap.c
  keyboards/kbdfans/kbd75/keymaps/noroadsleft/keymap.c
  keyboards/kc60/keymaps/noroadsleft/keymap.c
  keyboards/kc60/keymaps/noroadsleft/readme.md
  keyboards/kc60/keymaps/noroadsleft/readme_ch1.md
  keyboards/kc60/keymaps/noroadsleft/readme_ch2.md
  keyboards/kc60/keymaps/noroadsleft/readme_ch3.md
  keyboards/kc60/keymaps/noroadsleft/readme_ch4.md
  keyboards/kc60/keymaps/noroadsleft/readme_git.md
  users/noroadsleft/noroadsleft.c
  users/noroadsleft/noroadsleft.h
  users/noroadsleft/readme.md
Labels: keymap

#12684 add RESET binding, fix layout mod key bug fixes #12683
  keyboards/gmmk/pro/keymaps/default/keymap.c
  keyboards/gmmk/pro/pro.h
Labels: keyboard, keymap

#12604 Add Draculad keyboard
  keyboards/draculad/config.h
  keyboards/draculad/draculad.c
  keyboards/draculad/draculad.h
  keyboards/draculad/keymaps/default/keymap.c
  keyboards/draculad/keymaps/pimoroni/config.h
  keyboards/draculad/keymaps/pimoroni/keymap.c
  keyboards/draculad/keymaps/pimoroni/pimoroni_trackball.c
  keyboards/draculad/keymaps/pimoroni/pimoroni_trackball.h
  keyboards/draculad/keymaps/pimoroni/rules.mk
  keyboards/draculad/readme.md
  keyboards/draculad/rules.mk
Labels: keyboard, keymap

#12719 Add flashing instructions to GMMK Pro readme
  keyboards/gmmk/pro/readme.md
Labels: keyboard

#12718 YMDK Wings: Update config.h
  keyboards/ymdk/wings/config.h
Labels: keyboard

#12712 [Bug Fix] Mechlovin Infinity87 Rev1 - fix default folder
  keyboards/mechlovin/infinity87/rev1/rules.mk
Labels: keyboard

#12721 Fix bad PR merge for #6580
  quantum/process_keycode/process_leader.h
Labels: bug, core

#12722 Fix up bad keycode in #12405
  keyboards/m3n3van/keymaps/default/keymap.json
Labels: bug, keymap

#12697 Change RGB/LED Matrix to use a simple define for USB suspend
  docs/feature_rgb_matrix.md
  keyboards/mt64rgb/keymaps/default/keymap.c
  keyboards/mt84/keymaps/default/keymap.c
  quantum/led_matrix.c
  quantum/led_matrix.h
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
  tmk_core/common/avr/suspend.c
  tmk_core/common/chibios/suspend.c
Labels: core, documentation, keymap

#12729 Fix F13 LED issue for WT75-B, WT75-C
  keyboards/wilba_tech/wt75_b/config.h
  keyboards/wilba_tech/wt75_c/config.h
Labels: keyboard

#12741 Align drivers.txt with toolbox
  util/drivers.txt
Labels: core
