Repository qmk/qmk_firmware, pull requests merged in 2021-01, with the labels that each got.

#11382 Fix layout ortho_4x12 macro for montsinger/rebound/rev4
  keyboards/montsinger/rebound/rev4/rev4.h
Labels: bug, keyboard

#11378 Manta60 refactor
  keyboards/manta60/config.h
  keyboards/manta60/info.json
  keyboards/manta60/keymaps/default/config.h
  keyboards/manta60/keymaps/default/keymap.c
  keyboards/manta60/manta60.c
  keyboards/manta60/manta60.h
  keyboards/manta60/readme.md
  keyboards/manta60/rules.mk
Labels: bug, enhancement, keyboard, keymap

#11388 Fix typo in docs: ridid -> rigid
  docs/hand_wire.md
Labels: documentation

#11390 Fix rart4x4 info.json
  keyboards/rart/rart4x4/info.json
Labels: bug, keyboard

#11392 O4L 5x12 refactor
  keyboards/keycapsss/o4l_5x12/config.h
  keyboards/keycapsss/o4l_5x12/info.json
  keyboards/keycapsss/o4l_5x12/keymaps/2x2u/config.h
  keyboards/keycapsss/o4l_5x12/keymaps/2x2u/keymap.c
  keyboards/keycapsss/o4l_5x12/keymaps/default/config.h
  keyboards/keycapsss/o4l_5x12/keymaps/default/keymap.c
  keyboards/keycapsss/o4l_5x12/o4l_5x12.h
  keyboards/keycapsss/o4l_5x12/readme.md
  keyboards/keycapsss/o4l_5x12/rules.mk
Labels: bug, enhancement, keyboard, keymap

#11393 make list_keyboards.sh faster
  util/list_keyboards.sh
Labels: core

#11193 Rebound, adding files for VIA compat
  keyboards/montsinger/rebound/rev4/config.h
  keyboards/montsinger/rebound/rev4/keymaps/via/keymap.c
  keyboards/montsinger/rebound/rev4/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#11214 [Keyboard] New Keyboard - Mercutio
  keyboards/mechwild/mercutio/config.h
  keyboards/mechwild/mercutio/info.json
  keyboards/mechwild/mercutio/keymaps/default/config.h
  keyboards/mechwild/mercutio/keymaps/default/keymap.c
  keyboards/mechwild/mercutio/keymaps/via/config.h
  keyboards/mechwild/mercutio/keymaps/via/keymap.c
  keyboards/mechwild/mercutio/keymaps/via/rules.mk
  keyboards/mechwild/mercutio/lib/mercutiofont.c
  keyboards/mechwild/mercutio/mercutio.c
  keyboards/mechwild/mercutio/mercutio.h
  keyboards/mechwild/mercutio/readme.md
  keyboards/mechwild/mercutio/rules.mk
Labels: keyboard, keymap, via

#11262 Add GKB-M16 Macro Pad
  keyboards/gkeyboard/gkb_m16/config.h
  keyboards/gkeyboard/gkb_m16/gkb_m16.c
  keyboards/gkeyboard/gkb_m16/gkb_m16.h
  keyboards/gkeyboard/gkb_m16/info.json
  keyboards/gkeyboard/gkb_m16/keymaps/default/keymap.c
  keyboards/gkeyboard/gkb_m16/keymaps/default/readme.md
  keyboards/gkeyboard/gkb_m16/keymaps/via/keymap.c
  keyboards/gkeyboard/gkb_m16/keymaps/via/readme.md
  keyboards/gkeyboard/gkb_m16/keymaps/via/rules.mk
  keyboards/gkeyboard/gkb_m16/readme.md
  keyboards/gkeyboard/gkb_m16/rules.mk
Labels: keyboard, keymap, via

#11274 Pos78 update
  keyboards/pos78/config.h
Labels: keyboard

#11282 Added Phantom Solder PCB and KBD8X HS PCB Variants
  keyboards/lucid/kbd8x_hs/config.h
  keyboards/lucid/kbd8x_hs/info.json
  keyboards/lucid/kbd8x_hs/kbd8x_hs.h
  keyboards/lucid/kbd8x_hs/kbx8s_hs.c
  keyboards/lucid/kbd8x_hs/keymaps/default/keymap.c
  keyboards/lucid/kbd8x_hs/keymaps/default_7u/keymap.c
  keyboards/lucid/kbd8x_hs/keymaps/via/keymap.c
  keyboards/lucid/kbd8x_hs/keymaps/via/rules.mk
  keyboards/lucid/kbd8x_hs/readme.md
  keyboards/lucid/kbd8x_hs/rules.mk
  keyboards/lucid/phantom_solder/config.h
  keyboards/lucid/phantom_solder/info.json
  keyboards/lucid/phantom_solder/keymaps/default/keymap.c
  keyboards/lucid/phantom_solder/keymaps/via/keymap.c
  keyboards/lucid/phantom_solder/keymaps/via/rules.mk
  keyboards/lucid/phantom_solder/phantom_solder.c
  keyboards/lucid/phantom_solder/phantom_solder.h
  keyboards/lucid/phantom_solder/readme.md
  keyboards/lucid/phantom_solder/rules.mk
Labels: keyboard, keymap, via

#11297 Update hand_wire.md
  docs/hand_wire.md
Labels: documentation

#11398 Update quark pin config
  keyboards/quark/config.h
Labels: keyboard

#11335 Added Upcoming LDK65 Keyboard
  keyboards/fjlabs/ldk65/config.h
  keyboards/fjlabs/ldk65/info.json
  keyboards/fjlabs/ldk65/keymaps/default/keymap.c
  keyboards/fjlabs/ldk65/keymaps/via/keymap.c
  keyboards/fjlabs/ldk65/keymaps/via/rules.mk
  keyboards/fjlabs/ldk65/ldk65.c
  keyboards/fjlabs/ldk65/ldk65.h
  keyboards/fjlabs/ldk65/readme.md
  keyboards/fjlabs/ldk65/rules.mk
Labels: keyboard, keymap, via

#11402 Return the make exit code for qmk compile and flash
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/flash.py
Labels: cli, python

#11409 Fix compiling on develop
  lib/python/qmk/cli/generate/config_h.py
Labels: cli, python

#11406 Fix broken Lighting Layers when RGBLIGHT_MAX_LAYERS > 16 (layer>=16 not operable)
  quantum/rgblight.c
Labels: bug, core

#11412 Fix broken keyboards
  keyboards/jm60/jm60.h
  lib/python/qmk/cli/generate/layouts.py
  lib/python/qmk/info.py
  tmk_core/rules.mk
Labels: cli, core, keyboard, python

#11413 ChibiOS conf migrations... take 4
  keyboards/cannonkeys/tsukuyomi/chconf.h
  keyboards/cannonkeys/tsukuyomi/halconf.h
  keyboards/cannonkeys/tsukuyomi/mcuconf.h
  keyboards/misterknife/knife66_iso/chconf.h
  keyboards/misterknife/knife66_iso/halconf.h
  keyboards/misterknife/knife66_iso/mcuconf.h
  keyboards/mode/eighty/chconf.h
  keyboards/mode/eighty/halconf.h
  keyboards/mode/eighty/mcuconf.h
Labels: keyboard

#11415 Remove handwired/bluepill.
  keyboards/handwired/bluepill/.noci
  keyboards/handwired/bluepill/bluepill.c
  keyboards/handwired/bluepill/bluepill.h
  keyboards/handwired/bluepill/bluepill70/.noci
  keyboards/handwired/bluepill/bluepill70/bluepill70.c
  keyboards/handwired/bluepill/bluepill70/bluepill70.h
  keyboards/handwired/bluepill/bluepill70/bootloader_defs.h
  keyboards/handwired/bluepill/bluepill70/chconf.h
  keyboards/handwired/bluepill/bluepill70/config.h
  keyboards/handwired/bluepill/bluepill70/flash.sh
  keyboards/handwired/bluepill/bluepill70/halconf.h
  keyboards/handwired/bluepill/bluepill70/info.json
  keyboards/handwired/bluepill/bluepill70/led.c
  keyboards/handwired/bluepill/bluepill70/matrix.c
  keyboards/handwired/bluepill/bluepill70/mcuconf.h
  keyboards/handwired/bluepill/bluepill70/rules.mk
  keyboards/handwired/bluepill/boards/GENERIC_STM32_F103/board.c
  keyboards/handwired/bluepill/boards/GENERIC_STM32_F103/board.h
  keyboards/handwired/bluepill/boards/GENERIC_STM32_F103/board.mk
  keyboards/handwired/bluepill/config.h
  keyboards/handwired/bluepill/keymaps/default/keymap.c
  keyboards/handwired/bluepill/keymaps/iso/keymap.c
  keyboards/handwired/bluepill/ld/STM32F103x8_stm32duino_bootloader.ld
  keyboards/handwired/bluepill/readme.md
  keyboards/handwired/bluepill/rules.mk
Labels: keyboard, keymap

#11404 Align ChibiOS spi_master behaviour with AVR
  drivers/chibios/spi_master.c
Labels: bug, core

#11424 arm_atsam: Use PROGRAM_CMD for :flash target if set
  tmk_core/arm_atsam.mk
Labels: core

#11423 Homebrew install: ignore pinned formulae in `brew upgrade`
  util/install/macos.sh
Labels: bug, core

#11426 Split up QWIIC makefile variables to have _ENABLE and _DRIVERS
  drivers/qwiic/qwiic.mk
  keyboards/boston_meetup/2019/rules.mk
  keyboards/cannonkeys/satisfaction75/rules.mk
  keyboards/hadron/ver3/rules.mk
Labels: core, keyboard

#11034 Add /handwired/evk
  keyboards/handwired/evk/info.json
  keyboards/handwired/evk/readme.md
  keyboards/handwired/evk/v1_3/config.h
  keyboards/handwired/evk/v1_3/info.json
  keyboards/handwired/evk/v1_3/keymaps/default/keymap.c
  keyboards/handwired/evk/v1_3/keymaps/default/readme.md
  keyboards/handwired/evk/v1_3/readme.md
  keyboards/handwired/evk/v1_3/rules.mk
  keyboards/handwired/evk/v1_3/v1_3.c
  keyboards/handwired/evk/v1_3/v1_3.h
Labels: keyboard, keymap

#11435 Fix up build dependencies.
  build_keyboard.mk
  tmk_core/rules.mk
Labels: core

#11312 Update MXSS custom rgblight and fix compilation error
  keyboards/mxss/rgblight.c
  keyboards/mxss/rgblight.h
Labels: bug, keyboard

#11127 Fix Tap-Hold Configs
  keyboards/handwired/tennie/keymaps/default/config.h
  keyboards/handwired/tennie/keymaps/default/keymap.c
  keyboards/marksard/leftover30/keymaps/default/keymap.c
  quantum/process_keycode/process_space_cadet.c
  quantum/process_keycode/process_space_cadet.h
  quantum/process_keycode/process_tap_dance.c
  quantum/quantum.h
  tmk_core/common/action_tapping.h
Labels: bug, core, keymap

#11100 [Keyboard] Fix compiler errors for Kingly Key boards
  keyboards/kingly_keys/ave/ortho/keymaps/default/keymap.c
  keyboards/kingly_keys/ave/staggered/keymaps/default/keymap.c
Labels: keymap

#11418 AVR weak bootloader_jump
  tmk_core/common/avr/bootloader.c
Labels: core

#11437 [Keyboard] Disable music mode on OctoPad to reduce size
  keyboards/nightly_boards/octopad/config.h
Labels: keyboard

#11445 Enable LTO to bring nightlyboards/octopad size down
  keyboards/nightly_boards/octopad/rules.mk
Labels: keyboard

#11448 Fix compiling squiggle/rev1
  keyboards/squiggle/rev1/rules.mk
  keyboards/squiggle/rules.mk
Labels: keyboard

#11324 Add build debug option to tmk_core/rules.mk
  tmk_core/rules.mk
Labels: core, enhancement

#11252 add dz96
  keyboards/dztech/dz96/config.h
  keyboards/dztech/dz96/dz96.c
  keyboards/dztech/dz96/dz96.h
  keyboards/dztech/dz96/info.json
  keyboards/dztech/dz96/keymaps/default/keymap.c
  keyboards/dztech/dz96/keymaps/iso/keymap.c
  keyboards/dztech/dz96/keymaps/via/keymap.c
  keyboards/dztech/dz96/keymaps/via/rules.mk
  keyboards/dztech/dz96/readme.md
  keyboards/dztech/dz96/rules.mk
Labels: keyboard, keymap, via

#11447 Fix compiling treadstone32/rev1
  keyboards/treadstone32/rev1/rules.mk
  keyboards/treadstone32/rules.mk
Labels: keyboard

#10947 Evolv75
  keyboards/evolv/chconf.h
  keyboards/evolv/config.h
  keyboards/evolv/evolv.c
  keyboards/evolv/evolv.h
  keyboards/evolv/halconf.h
  keyboards/evolv/info.json
  keyboards/evolv/keymaps/default/keymap.c
  keyboards/evolv/keymaps/iso/keymap.c
  keyboards/evolv/keymaps/via/keymap.c
  keyboards/evolv/keymaps/via/rules.mk
  keyboards/evolv/mcuconf.h
  keyboards/evolv/readme.md
  keyboards/evolv/rules.mk
Labels: keyboard, keymap, via

#10896 Sagittarius firmware
  keyboards/cannonkeys/sagittarius/chconf.h
  keyboards/cannonkeys/sagittarius/config.h
  keyboards/cannonkeys/sagittarius/halconf.h
  keyboards/cannonkeys/sagittarius/info.json
  keyboards/cannonkeys/sagittarius/keymaps/default/keymap.c
  keyboards/cannonkeys/sagittarius/keymaps/via/keymap.c
  keyboards/cannonkeys/sagittarius/keymaps/via/rules.mk
  keyboards/cannonkeys/sagittarius/mcuconf.h
  keyboards/cannonkeys/sagittarius/readme.md
  keyboards/cannonkeys/sagittarius/rules.mk
  keyboards/cannonkeys/sagittarius/sagittarius.c
  keyboards/cannonkeys/sagittarius/sagittarius.h
Labels: keyboard, keymap, via

#10960 [Docs] Japanese translation of feature_led_indicators.md
  docs/ja/_summary.md
  docs/ja/custom_quantum_functions.md
  docs/ja/feature_led_indicators.md
Labels: documentation, translation

#10858 [Docs] Japanese translation of feature_rawhid.md
  docs/ja/feature_rawhid.md
Labels: documentation, translation

#11173 Add TMKL PCB
  keyboards/mechlovin/tmkl/config.h
  keyboards/mechlovin/tmkl/info.json
  keyboards/mechlovin/tmkl/keymaps/default/keymap.c
  keyboards/mechlovin/tmkl/keymaps/default/readme.md
  keyboards/mechlovin/tmkl/keymaps/via/keymap.c
  keyboards/mechlovin/tmkl/keymaps/via/readme.md
  keyboards/mechlovin/tmkl/keymaps/via/rules.mk
  keyboards/mechlovin/tmkl/readme.md
  keyboards/mechlovin/tmkl/rules.mk
  keyboards/mechlovin/tmkl/tmkl.c
  keyboards/mechlovin/tmkl/tmkl.h
Labels: keyboard, keymap, via

#11196 Add jian/keymaps/left_hand
  keyboards/jian/keymaps/left_hand/config.h
  keyboards/jian/keymaps/left_hand/keymap.c
  keyboards/jian/keymaps/left_hand/rules.mk
  keyboards/jian/readme.md
  keyboards/jian/rev2/readme.md
  keyboards/jian/rev2/rev2.h
Labels: keyboard, keymap

#11204 [Keyboard] Adding "Bigmac" 5x17 handwired by Taylore101
  keyboards/handwired/bigmac/bigmac.c
  keyboards/handwired/bigmac/bigmac.h
  keyboards/handwired/bigmac/config.h
  keyboards/handwired/bigmac/info.json
  keyboards/handwired/bigmac/keymaps/default/keymap.c
  keyboards/handwired/bigmac/readme.md
  keyboards/handwired/bigmac/rules.mk
Labels: keyboard, keymap

#11258 Added my lily58 keymap
  keyboards/lily58/keymaps/barabas/config.h
  keyboards/lily58/keymaps/barabas/keymap.c
  keyboards/lily58/keymaps/barabas/readme.md
  keyboards/lily58/keymaps/barabas/rules.mk
Labels: keymap

#11254 Dbroqua alps64 poker
  keyboards/alps64/keymaps/dbroqua/keymap.c
Labels: keymap

#11244 Add Louhi keyboard
  keyboards/pohjolaworks/louhi/config.h
  keyboards/pohjolaworks/louhi/info.json
  keyboards/pohjolaworks/louhi/keymaps/default/keymap.c
  keyboards/pohjolaworks/louhi/keymaps/default/readme.md
  keyboards/pohjolaworks/louhi/louhi.c
  keyboards/pohjolaworks/louhi/louhi.h
  keyboards/pohjolaworks/louhi/readme.md
  keyboards/pohjolaworks/louhi/rules.mk
Labels: keyboard, keymap

#11283 add joypad keyboard
  keyboards/handwired/swiftrax/joypad/config.h
  keyboards/handwired/swiftrax/joypad/info.json
  keyboards/handwired/swiftrax/joypad/joypad.c
  keyboards/handwired/swiftrax/joypad/joypad.h
  keyboards/handwired/swiftrax/joypad/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/joypad/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/joypad/keymaps/via/rules.mk
  keyboards/handwired/swiftrax/joypad/readme.md
  keyboards/handwired/swiftrax/joypad/rules.mk
Labels: keyboard, keymap, via

#11291 add support for bigknob
  keyboards/leafcutterlabs/bigknob/bigknob.c
  keyboards/leafcutterlabs/bigknob/bigknob.h
  keyboards/leafcutterlabs/bigknob/config.h
  keyboards/leafcutterlabs/bigknob/info.json
  keyboards/leafcutterlabs/bigknob/keymaps/default/keymap.c
  keyboards/leafcutterlabs/bigknob/readme.md
  keyboards/leafcutterlabs/bigknob/rules.mk
Labels: keyboard, keymap

#11295 Update NIBBLE ISO keymap to fix flipped enter and backslash key.
  keyboards/nullbitsco/nibble/keymaps/iso/keymap.c
  keyboards/nullbitsco/nibble/nibble.h
Labels: keyboard, keymap

#11299 Xyverz's crkbd keymap
  keyboards/crkbd/keymaps/xyverz/config.h
  keyboards/crkbd/keymaps/xyverz/keymap.c
  keyboards/crkbd/keymaps/xyverz/rules.mk
  layouts/community/ortho_4x12/xyverz/keymap.c
Labels: keymap

#11468 name change
  keyboards/butterstick/butterstick.c
  keyboards/ergotaco/readme.md
  keyboards/georgi/readme.md
  keyboards/gergo/readme.md
Labels: keyboard

#11421 JM60 refactor
  keyboards/jm60/config.h
  keyboards/jm60/info.json
  keyboards/jm60/jm60.c
  keyboards/jm60/jm60.h
  keyboards/jm60/keymaps/default/keymap.c
  keyboards/jm60/keymaps/poker3/keymap.c
  keyboards/jm60/led.c
  keyboards/jm60/matrix.c
  keyboards/jm60/readme.md
  keyboards/jm60/rules.mk
Labels: bug, enhancement, keyboard, keymap

#11387 Add new keyboard: Sparrow62
  keyboards/sparrow62/config.h
  keyboards/sparrow62/keymaps/74th/config.h
  keyboards/sparrow62/keymaps/74th/keymap.c
  keyboards/sparrow62/keymaps/default/config.h
  keyboards/sparrow62/keymaps/default/keymap.c
  keyboards/sparrow62/keymaps/via/config.h
  keyboards/sparrow62/keymaps/via/keymap.c
  keyboards/sparrow62/keymaps/via/rules.mk
  keyboards/sparrow62/readme.md
  keyboards/sparrow62/rules.mk
  keyboards/sparrow62/sparrow62.c
  keyboards/sparrow62/sparrow62.h
Labels: keyboard, keymap, via

#11472 Implement matrix_io_delay abstraction for Drop boards
  keyboards/massdrop/alt/matrix.c
  keyboards/massdrop/ctrl/matrix.c
Labels: enhancement, keyboard

#11321 Suggest 'QMK MSYS' as the default windows platform
  docs/newbs_getting_started.md
Labels: documentation, enhancement

#11362 Added Odelia
  keyboards/odelia/config.h
  keyboards/odelia/info.json
  keyboards/odelia/keymaps/default/keymap.c
  keyboards/odelia/keymaps/via/keymap.c
  keyboards/odelia/keymaps/via/rules.mk
  keyboards/odelia/odelia.c
  keyboards/odelia/odelia.h
  keyboards/odelia/readme.md
  keyboards/odelia/rules.mk
Labels: keyboard, keymap, via

#11461 VIA Support: LFKPad
  keyboards/lfkeyboards/lfkpad/config.h
  keyboards/lfkeyboards/lfkpad/keymaps/default/rules.mk
  keyboards/lfkeyboards/lfkpad/keymaps/via/keymap.c
  keyboards/lfkeyboards/lfkpad/keymaps/via/readme.md
  keyboards/lfkeyboards/lfkpad/keymaps/via/rules.mk
  keyboards/lfkeyboards/lfkpad/rules.mk
Labels: keyboard, keymap, via

#11466 Add new layouts, default keys to info.json, adjust rgb max brightness
  keyboards/pohjolaworks/louhi/config.h
  keyboards/pohjolaworks/louhi/info.json
  keyboards/pohjolaworks/louhi/louhi.h
Labels: keyboard

#11416 Fix AUR package name
  docs/newbs_getting_started.md
Labels: documentation

#9299 Add VIA keymap for Zinc
  keyboards/zinc/keymaps/via/config.h
  keyboards/zinc/keymaps/via/keymap.c
  keyboards/zinc/keymaps/via/readme_en.md
  keyboards/zinc/keymaps/via/readme_jp.md
  keyboards/zinc/keymaps/via/rules.mk
Labels: keymap, via

#11453 Add 96% ANSI Community Layouts
  layouts/default/96_ansi/default_96_ansi/keymap.c
  layouts/default/96_ansi/info.json
  layouts/default/96_ansi/layout.json
  layouts/default/96_ansi/readme.md
  layouts/default/96_iso/default_96_iso/keymap.c
  layouts/default/96_iso/info.json
  layouts/default/96_iso/layout.json
  layouts/default/96_iso/readme.md
  layouts/default/readme.md
Labels: keymap

#11488 tunks/ergo33: info.json fixes
  keyboards/tunks/ergo33/info.json
  keyboards/tunks/ergo33/readme.md
Labels: enhancement, keyboard

#11108 Use the schema to eliminate custom code
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  lib/python/qmk/cli/generate/info_json.py
  lib/python/qmk/cli/generate/layouts.py
  lib/python/qmk/cli/generate/rules_mk.py
  lib/python/qmk/constants.py
  lib/python/qmk/info.py
  setup.cfg
Labels: cli, documentation, python

#11414 ChibiOS conf migrations... take 5
  keyboards/handwired/sono1/chconf.h
  keyboards/handwired/sono1/halconf.h
  keyboards/handwired/sono1/mcuconf.h
  keyboards/mechlovin/tmkl/rules.mk
Labels: keyboard

#11449 Disable ChibiOS subsystems repo-wide.
  keyboards/chavdai40/chconf.h
  keyboards/ergodox_infinity/chconf.h
  keyboards/infinity60/chconf.h
  keyboards/k_type/chconf.h
  keyboards/keebwerk/mega/chconf.h
  keyboards/peiorisboards/ixora/chconf.h
  keyboards/phoenix/chconf.h
  keyboards/polilla/chconf.h
  keyboards/tkw/stoutgat/v2/f411/chconf.h
  keyboards/vinta/chconf.h
  keyboards/whitefox/chconf.h
  keyboards/zvecr/zv48/f401/chconf.h
  keyboards/zvecr/zv48/f411/chconf.h
  platforms/chibios/common/configs/chconf.h
Labels: core, keyboard

#11483 Update Bakeneko60 readme
  keyboards/bakeneko60/readme.md
Labels: keyboard

#11485 Update Bakeneko65 readme
  keyboards/bakeneko65/readme.md
Labels: keyboard

#11429 Correct documentation of rgblight_{increase,decrease}_{sat,val}()
  docs/feature_rgblight.md
Labels: documentation

#11420 Add new atreus keymap to planck keyboard
  keyboards/planck/keymaps/atreus/config.h
  keyboards/planck/keymaps/atreus/keymap.c
  keyboards/planck/keymaps/atreus/readme.md
  keyboards/planck/keymaps/atreus/rules.mk
Labels: keymap

#11492 Add support for specifying BOARD in info.json
  data/schemas/keyboard.jsonschema
  keyboards/clueboard/60/info.json
  keyboards/clueboard/60/rules.mk
  keyboards/clueboard/66/rev4/info.json
  keyboards/clueboard/66/rev4/rules.mk
  keyboards/clueboard/66_hotswap/gen1/info.json
  keyboards/clueboard/66_hotswap/gen1/rules.mk
  keyboards/clueboard/california/info.json
  keyboards/clueboard/california/rules.mk
  keyboards/cmm_studio/saka68/info.json
  lib/python/qmk/cli/generate/rules_mk.py
  lib/python/qmk/info.py
Labels: cli, keyboard, python

#11503 Manually run formatting job
  keyboards/zinc/keymaps/via/readme_en.md
  tmk_core/common/action_tapping.h
Labels: core, keymap, via

#11504 ChibiOS conf migrations... take 6
  keyboards/cannonkeys/sagittarius/chconf.h
  keyboards/cannonkeys/sagittarius/halconf.h
  keyboards/cannonkeys/sagittarius/mcuconf.h
  keyboards/evolv/chconf.h
  keyboards/evolv/halconf.h
  keyboards/evolv/mcuconf.h
Labels: keyboard

#11491 handwired/freoduo: define RGBLight config at keyboard level
  keyboards/handwired/freoduo/config.h
Labels: enhancement, keyboard

#9602 Add BIOI Keyboards
  keyboards/bioi/ble.c
  keyboards/bioi/ble.h
  keyboards/bioi/g60/config.h
  keyboards/bioi/g60/g60.c
  keyboards/bioi/g60/g60.h
  keyboards/bioi/g60/info.json
  keyboards/bioi/g60/keymaps/default/keymap.c
  keyboards/bioi/g60/keymaps/via/keymap.c
  keyboards/bioi/g60/keymaps/via/rules.mk
  keyboards/bioi/g60/readme.md
  keyboards/bioi/g60/rules.mk
  keyboards/bioi/main.c
  keyboards/bioi/morgan65/config.h
  keyboards/bioi/morgan65/info.json
  keyboards/bioi/morgan65/keymaps/default/keymap.c
  keyboards/bioi/morgan65/keymaps/via/keymap.c
  keyboards/bioi/morgan65/keymaps/via/rules.mk
  keyboards/bioi/morgan65/morgan65.c
  keyboards/bioi/morgan65/morgan65.h
  keyboards/bioi/morgan65/readme.md
  keyboards/bioi/morgan65/rules.mk
  keyboards/bioi/s65/config.h
  keyboards/bioi/s65/info.json
  keyboards/bioi/s65/keymaps/default/keymap.c
  keyboards/bioi/s65/keymaps/via/keymap.c
  keyboards/bioi/s65/keymaps/via/rules.mk
  keyboards/bioi/s65/readme.md
  keyboards/bioi/s65/rules.mk
  keyboards/bioi/s65/s65.c
  keyboards/bioi/s65/s65.h
  keyboards/bioi/usart.c
  keyboards/bioi/usart.h
Labels: keyboard, keymap, via

#11502 Document how to add data driven configurations
  docs/_summary.md
  docs/data_driven_config.md
Labels: documentation

#10973 Added rev2 & move rev1+rev2 to parent folder
  keyboards/aplyard/aplx6/rev1/config.h
  keyboards/aplyard/aplx6/rev1/keymaps/default/keymap.c
  keyboards/aplyard/aplx6/rev1/readme.md
  keyboards/aplyard/aplx6/rev1/rev1.c
  keyboards/aplyard/aplx6/rev1/rev1.h
  keyboards/aplyard/aplx6/rev1/rules.mk
  keyboards/aplyard/aplx6/rev2/config.h
  keyboards/aplyard/aplx6/rev2/keymaps/default/keymap.c
  keyboards/aplyard/aplx6/rev2/readme.md
  keyboards/aplyard/aplx6/rev2/rev2.c
  keyboards/aplyard/aplx6/rev2/rev2.h
  keyboards/aplyard/aplx6/rev2/rules.mk
Labels: breaking_change, keyboard, keymap

#11223 Alpine65
  keyboards/alpine65/alpine65.c
  keyboards/alpine65/alpine65.h
  keyboards/alpine65/chconf.h
  keyboards/alpine65/config.h
  keyboards/alpine65/halconf.h
  keyboards/alpine65/keymaps/default/keymap.c
  keyboards/alpine65/keymaps/via/keymap.c
  keyboards/alpine65/keymaps/via/rules.mk
  keyboards/alpine65/mcuconf.h
  keyboards/alpine65/readme.md
  keyboards/alpine65/rules.mk
Labels: keyboard, keymap, via

#10903 Fix documentation of `lsusb` behaviour
  docs/hardware_avr.md
Labels: documentation

#11140 Quefrency layout for rogthefrog
  keyboards/keebio/quefrency/keymaps/rogthefrog/config.h
  keyboards/keebio/quefrency/keymaps/rogthefrog/keymap.c
Labels: keymap

#11292 Add Onyx keyboard to QMK
  keyboards/cannonkeys/onyx/chconf.h
  keyboards/cannonkeys/onyx/config.h
  keyboards/cannonkeys/onyx/halconf.h
  keyboards/cannonkeys/onyx/info.json
  keyboards/cannonkeys/onyx/keymaps/default/keymap.c
  keyboards/cannonkeys/onyx/keymaps/via/keymap.c
  keyboards/cannonkeys/onyx/keymaps/via/rules.mk
  keyboards/cannonkeys/onyx/mcuconf.h
  keyboards/cannonkeys/onyx/onyx.c
  keyboards/cannonkeys/onyx/onyx.h
  keyboards/cannonkeys/onyx/readme.md
  keyboards/cannonkeys/onyx/rules.mk
Labels: keyboard, keymap, via

#11286 Added a new keyboard, the [n]40-o
  keyboards/nightly_boards/n40_o/config.h
  keyboards/nightly_boards/n40_o/encoder_action.c
  keyboards/nightly_boards/n40_o/encoder_action.h
  keyboards/nightly_boards/n40_o/info.json
  keyboards/nightly_boards/n40_o/keymaps/default/keymap.c
  keyboards/nightly_boards/n40_o/keymaps/ortho_4x13_1x2u_c/keymap.c
  keyboards/nightly_boards/n40_o/keymaps/ortho_4x13_encoders/keymap.c
  keyboards/nightly_boards/n40_o/keymaps/via/keymap.c
  keyboards/nightly_boards/n40_o/keymaps/via/rules.mk
  keyboards/nightly_boards/n40_o/n40_o.c
  keyboards/nightly_boards/n40_o/n40_o.h
  keyboards/nightly_boards/n40_o/readme.md
  keyboards/nightly_boards/n40_o/rules.mk
Labels: keyboard, keymap, via

#11271 wheatfield/split75 with ISO layout
  keyboards/wheatfield/split75/keymaps/default/keymap.c
  keyboards/wheatfield/split75/keymaps/iso/keymap.c
  keyboards/wheatfield/split75/split75.h
Labels: keyboard, keymap

#11246 Add support for idobao id80 iso layout
  keyboards/id80/ansi/config.h
  keyboards/id80/ansi/keymaps/default/keymap.c
  keyboards/id80/ansi/keymaps/default/readme.md
  keyboards/id80/ansi/keymaps/via/keymap.c
  keyboards/id80/ansi/keymaps/via/rules.mk
  keyboards/id80/ansi/readme.md
  keyboards/id80/ansi/rules.mk
  keyboards/id80/config.h
  keyboards/id80/id80.h
  keyboards/id80/info.json
  keyboards/id80/iso/config.h
  keyboards/id80/iso/keymaps/default/keymap.c
  keyboards/id80/iso/keymaps/default/readme.md
  keyboards/id80/iso/keymaps/via/keymap.c
  keyboards/id80/iso/keymaps/via/rules.mk
  keyboards/id80/iso/readme.md
  keyboards/id80/iso/rules.mk
  keyboards/id80/readme.md
  keyboards/id80/rules.mk
Labels: keyboard, keymap, via

#11210 Add isometria 75 keyboard
  keyboards/ebastler/isometria_75/readme.md
  keyboards/ebastler/isometria_75/rev1/chconf.h
  keyboards/ebastler/isometria_75/rev1/config.h
  keyboards/ebastler/isometria_75/rev1/halconf.h
  keyboards/ebastler/isometria_75/rev1/info.json
  keyboards/ebastler/isometria_75/rev1/keymaps/default/keymap.c
  keyboards/ebastler/isometria_75/rev1/keymaps/via/keymap.c
  keyboards/ebastler/isometria_75/rev1/keymaps/via/rules.mk
  keyboards/ebastler/isometria_75/rev1/mcuconf.h
  keyboards/ebastler/isometria_75/rev1/readme.md
  keyboards/ebastler/isometria_75/rev1/rev1.c
  keyboards/ebastler/isometria_75/rev1/rev1.h
  keyboards/ebastler/isometria_75/rev1/rules.mk
  keyboards/ebastler/readme.md
Labels: keyboard, keymap, via

#11315 Adding my Planck Keymap
  keyboards/planck/keymaps/eshesh2/config.h
  keyboards/planck/keymaps/eshesh2/keymap.c
  keyboards/planck/keymaps/eshesh2/readme.md
  keyboards/planck/keymaps/eshesh2/rules.mk
Labels: keymap

#11317 Add support for keyboard 'THE40'
  keyboards/lazydesigners/the40/config.h
  keyboards/lazydesigners/the40/info.json
  keyboards/lazydesigners/the40/keymaps/default/keymap.c
  keyboards/lazydesigners/the40/readme.md
  keyboards/lazydesigners/the40/rules.mk
  keyboards/lazydesigners/the40/the40.c
  keyboards/lazydesigners/the40/the40.h
Labels: keyboard, keymap

#11340 Danielo515/redox_w
  keyboards/redox_w/keymaps/danielo515/keymap.c
  users/danielo515/config.h
  users/danielo515/process_records.c
  users/danielo515/process_records.h
Labels: keymap

#11347 Add upcoming Karina keyboard
  keyboards/misonoworks/karina/config.h
  keyboards/misonoworks/karina/info.json
  keyboards/misonoworks/karina/karina.c
  keyboards/misonoworks/karina/karina.h
  keyboards/misonoworks/karina/keymaps/default/keymap.c
  keyboards/misonoworks/karina/keymaps/voltex/keymap.c
  keyboards/misonoworks/karina/readme.md
  keyboards/misonoworks/karina/rules.mk
Labels: keyboard, keymap

#11349 Keymap/userspace updates
  layouts/community/alice/stanrc85-alice/keymap.c
  users/stanrc85/rules.mk
  users/stanrc85/startup_fanfare.c
Labels: keymap

#11350 Refine twinkle to be smoother (use breathing curve)
  docs/feature_rgblight.md
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core, documentation

#11363 Update feature_rgblight.md
  docs/feature_rgblight.md
Labels: documentation

#11381 [Keymap] rjhilgefort's Corne KBD
  keyboards/crkbd/keymaps/rjhilgefort/config.h
  keyboards/crkbd/keymaps/rjhilgefort/keymap.c
  keyboards/crkbd/keymaps/rjhilgefort/readme.md
  keyboards/crkbd/keymaps/rjhilgefort/rules.mk
Labels: keymap

#11385 [Keymap] Revamped rjhilgefort Planck Keymap
  keyboards/planck/keymaps/rjhilgefort/config.h
  keyboards/planck/keymaps/rjhilgefort/keymap.c
  keyboards/planck/keymaps/rjhilgefort/readme.md
Labels: keymap

#11386 Keymap: Georgian linear keymap for idobo
  keyboards/idobo/keymaps/gkbd/config.h
  keyboards/idobo/keymaps/gkbd/keymap.c
  keyboards/idobo/keymaps/gkbd/readme.md
  keyboards/idobo/keymaps/gkbd/rules.mk
Labels: keymap

#11394 [Keymap] own Redox keymap
  keyboards/redox/keymaps/cykedev/config.h
  keyboards/redox/keymaps/cykedev/keymap.c
  keyboards/redox/keymaps/cykedev/rules.mk
Labels: keymap

#11432 CK60i support
  keyboards/ck60i/chconf.h
  keyboards/ck60i/ck60i.c
  keyboards/ck60i/ck60i.h
  keyboards/ck60i/config.h
  keyboards/ck60i/halconf.h
  keyboards/ck60i/keymaps/default/keymap.c
  keyboards/ck60i/keymaps/via/keymap.c
  keyboards/ck60i/keymaps/via/rules.mk
  keyboards/ck60i/mcuconf.h
  keyboards/ck60i/readme.md
  keyboards/ck60i/rules.mk
Labels: keyboard, keymap, via

#11458 [Keyboard] Add Kimiko keyboard
  keyboards/keycapsss/kimiko/config.h
  keyboards/keycapsss/kimiko/info.json
  keyboards/keycapsss/kimiko/keymaps/default/config.h
  keyboards/keycapsss/kimiko/keymaps/default/glcdfont.c
  keyboards/keycapsss/kimiko/keymaps/default/keymap.c
  keyboards/keycapsss/kimiko/keymaps/default/rules.mk
  keyboards/keycapsss/kimiko/kimiko.c
  keyboards/keycapsss/kimiko/kimiko.h
  keyboards/keycapsss/kimiko/readme.md
  keyboards/keycapsss/kimiko/rev1/config.h
  keyboards/keycapsss/kimiko/rev1/rev1.c
  keyboards/keycapsss/kimiko/rev1/rev1.h
  keyboards/keycapsss/kimiko/rev1/rules.mk
  keyboards/keycapsss/kimiko/rules.mk
Labels: keyboard, keymap

#11474 Add Borsdorf keyboard
  keyboards/cutie_club/borsdorf/borsdorf.c
  keyboards/cutie_club/borsdorf/borsdorf.h
  keyboards/cutie_club/borsdorf/chconf.h
  keyboards/cutie_club/borsdorf/config.h
  keyboards/cutie_club/borsdorf/halconf.h
  keyboards/cutie_club/borsdorf/info.json
  keyboards/cutie_club/borsdorf/keymaps/default/keymap.c
  keyboards/cutie_club/borsdorf/keymaps/via/keymap.c
  keyboards/cutie_club/borsdorf/keymaps/via/rules.mk
  keyboards/cutie_club/borsdorf/mcuconf.h
  keyboards/cutie_club/borsdorf/readme.md
  keyboards/cutie_club/borsdorf/rules.mk
Labels: keyboard, keymap, via

#11442 Lighting Layers should be disabled when suspended
  quantum/rgblight.c
  quantum/rgblight.h
  tmk_core/common/avr/suspend.c
  tmk_core/common/chibios/suspend.c
Labels: core

#11490 whale/sk/v3: Configurator fix
  keyboards/whale/sk/v3/info.json
Labels: enhancement, keyboard

#11103 Add support for shared EP on V-USB boards
  tmk_core/common/report.h
  tmk_core/protocol/vusb/vusb.c
  tmk_core/protocol/vusb/vusb.h
Labels: core, enhancement

#11506 Basketweave: Configurator fix
  keyboards/basketweave/basketweave.h
  keyboards/basketweave/info.json
  keyboards/basketweave/keymaps/default/keymap.c
Labels: enhancement, keyboard, keymap

#11508 Edc40 layout fix
  keyboards/edc40/config.h
  keyboards/edc40/edc40.h
Labels: keyboard

#11303 New keyboard: 0-Sixty
  keyboards/0_sixty/0_sixty.c
  keyboards/0_sixty/0_sixty.h
  keyboards/0_sixty/config.h
  keyboards/0_sixty/info.json
  keyboards/0_sixty/keymaps/default/keymap.c
  keyboards/0_sixty/keymaps/default/readme.md
  keyboards/0_sixty/keymaps/ven0mtr0n/keymap.c
  keyboards/0_sixty/keymaps/ven0mtr0n/readme.md
  keyboards/0_sixty/keymaps/ven0mtr0n/rules.mk
  keyboards/0_sixty/keymaps/via/keymap.c
  keyboards/0_sixty/keymaps/via/readme.md
  keyboards/0_sixty/keymaps/via/rules.mk
  keyboards/0_sixty/readme.md
  keyboards/0_sixty/rules.mk
Labels: keyboard, keymap, via

#11000 Redo the accent implementation in melody96:zunger.
  keyboards/melody96/keymaps/zunger/keymap.c
Labels: keymap

#10884 latin64ble Keyboard ,newone with bluetooth4.0 module and like hhkb keyboard
  keyboards/latin64ble/config.h
  keyboards/latin64ble/keymaps/default/keymap.c
  keyboards/latin64ble/keymaps/via/keymap.c
  keyboards/latin64ble/keymaps/via/rules.mk
  keyboards/latin64ble/latin64ble.c
  keyboards/latin64ble/latin64ble.h
  keyboards/latin64ble/readme.md
  keyboards/latin64ble/rules.mk
Labels: keyboard, keymap, via

#11175 Fix Nix macOS build
  shell.nix
Labels: bug

#10730 Keep track of last matrix activity
  quantum/split_common/matrix.c
  tmk_core/common/keyboard.c
  tmk_core/common/keyboard.h
Labels: core

#11524 Telophase: add info.json
  keyboards/telophase/info.json
Labels: bug, keyboard

#11523 Acheron Lasgewloth: layout macro rework
  keyboards/acheron/lasgweloth/info.json
  keyboards/acheron/lasgweloth/keymaps/default/keymap.c
  keyboards/acheron/lasgweloth/keymaps/xoxotus/keymap.c
  keyboards/acheron/lasgweloth/lasgweloth.h
  keyboards/acheron/lasgweloth/rules.mk
Labels: enhancement, keyboard, keymap

#11511 [Keyboard] Fix printf calls in Moonlander matrix
  keyboards/moonlander/matrix.c
Labels: keyboard

#11525 keymap/sascha: disable autoshift
  keyboards/planck/keymaps/sascha/rules.mk
Labels: keymap

#11532 Fix inverted indicator leds on kbdfans/kbd19x
  keyboards/kbdfans/kbd19x/config.h
Labels: bug, keyboard

#11529 ChibiOS conf migrations... take 7
  keyboards/alpine65/chconf.h
  keyboards/alpine65/halconf.h
  keyboards/alpine65/mcuconf.h
  keyboards/cannonkeys/onyx/chconf.h
  keyboards/cannonkeys/onyx/halconf.h
  keyboards/cannonkeys/onyx/mcuconf.h
  keyboards/ck60i/chconf.h
  keyboards/ck60i/halconf.h
  keyboards/ck60i/mcuconf.h
  keyboards/cutie_club/borsdorf/chconf.h
  keyboards/cutie_club/borsdorf/halconf.h
  keyboards/cutie_club/borsdorf/mcuconf.h
Labels: keyboard

#9603 fix matrix_io_delay() timing in quantum/matrix.c
  quantum/matrix.c
  quantum/matrix_common.c
  quantum/quantum.h
  quantum/split_common/matrix.c
  tmk_core/common/matrix.h
  tmk_core/common/wait.h
Labels: core, optimization

#11346 Add dhertz' kanu layout
  keyboards/mechlovin/kanu/kanu.c
  keyboards/mechlovin/kanu/kanu.h
  keyboards/mechlovin/kanu/keymaps/dhertz/keymap.c
  keyboards/mechlovin/kanu/rules.mk
  users/dhertz/dhertz.c
Labels: keyboard, keymap

#11345 [Keymap] rjhilgefort's Ergodox Infinity
  keyboards/ergodox_infinity/keymaps/default/keymap.c
  keyboards/ergodox_infinity/keymaps/rjhilgefort/keymap.c
  keyboards/ergodox_infinity/keymaps/rjhilgefort/readme.md
Labels: keymap

#11537 keymap_fr_ch: undef `CH_H`
  quantum/keymap_extras/keymap_fr_ch.h
Labels: bug, core

#11531 Fix leafcutterlabs/bigknob compiles in configurator
  keyboards/leafcutterlabs/bigknob/bigknob.c
  keyboards/leafcutterlabs/bigknob/bigknob.h
  keyboards/leafcutterlabs/bigknob/config.h
  keyboards/leafcutterlabs/bigknob/keymaps/default/keymap.c
  keyboards/leafcutterlabs/bigknob/keymaps/default/rules.mk
  keyboards/leafcutterlabs/bigknob/rules.mk
Labels: bug, keyboard, keymap

#11542 Process info.json rules ahead of userspace rules
  build_keyboard.mk
Labels: core

#11544 Remove duplicate manufacturer definitions
  keyboards/boardrun/bizarre/info.json
  keyboards/boardrun/classic/info.json
  keyboards/ergodox_ez/info.json
  keyboards/ergotravel/info.json
  keyboards/handwired/evk/info.json
  keyboards/handwired/freoduo/info.json
  keyboards/kiwikey/kawii9/info.json
  keyboards/moonlander/info.json
  keyboards/nopunin10did/railroad/rev0/info.json
  keyboards/nullbitsco/info.json
  keyboards/phoenix/info.json
  keyboards/ploopyco/mouse/info.json
  keyboards/ploopyco/trackball/info.json
  keyboards/qwertyydox/info.json
  keyboards/tkw/stoutgat/v2/info.json
  keyboards/xd87/info.json
Labels: cli, core, documentation, keyboard, keymap, python, translation, via

#11541 Fix documentation so UCIS example compiles.
  docs/feature_unicode.md
Labels: documentation

#11526 Uni660 refactor
  keyboards/sirius/uni660/.noci
  keyboards/sirius/uni660/rev1/config.h
  keyboards/sirius/uni660/rev1/keymaps/default/keymap.c
  keyboards/sirius/uni660/rev1/keymaps/via/keymap.c
  keyboards/sirius/uni660/rev1/matrix.c
  keyboards/sirius/uni660/rev1/readme.md
  keyboards/sirius/uni660/rev1/rev1.c
  keyboards/sirius/uni660/rev1/rev1.h
  keyboards/sirius/uni660/rev2/.noci
  keyboards/sirius/uni660/rev2/ansi/.noci
  keyboards/sirius/uni660/rev2/ansi/ansi.h
  keyboards/sirius/uni660/rev2/ansi/config.h
  keyboards/sirius/uni660/rev2/ansi/keymaps/default/keymap.c
  keyboards/sirius/uni660/rev2/ansi/keymaps/via/keymap.c
  keyboards/sirius/uni660/rev2/ansi/readme.md
  keyboards/sirius/uni660/rev2/iso/.noci
  keyboards/sirius/uni660/rev2/iso/config.h
  keyboards/sirius/uni660/rev2/iso/iso.h
  keyboards/sirius/uni660/rev2/iso/keymaps/default/keymap.c
  keyboards/sirius/uni660/rev2/iso/keymaps/via/keymap.c
  keyboards/sirius/uni660/rev2/iso/readme.md
  keyboards/sirius/uni660/rev2/matrix.c
  keyboards/sirius/uni660/rev2/readme.md
  keyboards/sirius/uni660/rev2/rev2.c
  keyboards/sirius/uni660/rev2/rev2.h
  keyboards/sirius/uni660/rev2/rules.mk
  keyboards/sirius/uni660/rules.mk
Labels: bug, enhancement, keyboard, keymap, via

#11339 Add support for hp69
  keyboards/hp69/config.h
  keyboards/hp69/hp69.c
  keyboards/hp69/hp69.h
  keyboards/hp69/info.json
  keyboards/hp69/keymaps/default/keymap.c
  keyboards/hp69/keymaps/default/rules.mk
  keyboards/hp69/keymaps/via/keymap.c
  keyboards/hp69/keymaps/via/rules.mk
  keyboards/hp69/readme.md
  keyboards/hp69/rules.mk
Labels: keyboard, keymap, via

#11268 Improvements for the Torn keyboard
  keyboards/torn/bongocat.c
  keyboards/torn/keymaps/default/keymap.c
  keyboards/torn/keymaps/via/keymap.c
  keyboards/torn/rules.mk
  keyboards/torn/torn.c
  keyboards/torn/torn_encoder.c
  keyboards/torn/torn_oled.c
Labels: keyboard, keymap, via

#11395 [Keymap] own Lily58 keymap
  keyboards/lily58/keymaps/cykedev/config.h
  keyboards/lily58/keymaps/cykedev/keymap.c
  keyboards/lily58/keymaps/cykedev/rules.mk
Labels: keymap

#11401 [keyboard] Adding new keyboard UD_40 ortho version
  keyboards/mechstudio/ud_40_ortho/config.h
  keyboards/mechstudio/ud_40_ortho/info.json
  keyboards/mechstudio/ud_40_ortho/keymaps/default/keymap.c
  keyboards/mechstudio/ud_40_ortho/keymaps/via/keymap.c
  keyboards/mechstudio/ud_40_ortho/keymaps/via/rules.mk
  keyboards/mechstudio/ud_40_ortho/readme.md
  keyboards/mechstudio/ud_40_ortho/rules.mk
  keyboards/mechstudio/ud_40_ortho/ud_40_ortho.c
  keyboards/mechstudio/ud_40_ortho/ud_40_ortho.h
Labels: keyboard, keymap, via

#11425 Add space space keyboard support
  keyboards/space_space/config.h
  keyboards/space_space/info.json
  keyboards/space_space/keymaps/big_space/config.h
  keyboards/space_space/keymaps/big_space/keymap.c
  keyboards/space_space/keymaps/big_space/rules.mk
  keyboards/space_space/keymaps/default/config.h
  keyboards/space_space/keymaps/default/keymap.c
  keyboards/space_space/keymaps/default/rules.mk
  keyboards/space_space/keymaps/readme.md
  keyboards/space_space/readme.md
  keyboards/space_space/rules.mk
  keyboards/space_space/space_space.c
  keyboards/space_space/space_space.h
Labels: keyboard, keymap

#11477 add gwillad's keymap for prime_e
  keyboards/primekb/prime_e/keymaps/gwillad/keymap.c
  keyboards/primekb/prime_e/keymaps/gwillad/readme.md
  keyboards/primekb/prime_e/keymaps/gwillad/rules.mk
Labels: keymap

#11484 Add Rect44 keyboard
  keyboards/rect44/config.h
  keyboards/rect44/info.json
  keyboards/rect44/keymaps/ansi_44key/keymap.c
  keyboards/rect44/keymaps/ansi_47key/keymap.c
  keyboards/rect44/keymaps/default/keymap.c
  keyboards/rect44/keymaps/iso_48key/keymap.c
  keyboards/rect44/readme.md
  keyboards/rect44/rect44.c
  keyboards/rect44/rect44.h
  keyboards/rect44/rules.mk
Labels: keyboard, keymap

#11497 Add Hub20 keyboard
  keyboards/hub20/chconf.h
  keyboards/hub20/config.h
  keyboards/hub20/halconf.h
  keyboards/hub20/hub20.c
  keyboards/hub20/hub20.h
  keyboards/hub20/info.json
  keyboards/hub20/keymaps/default/keymap.c
  keyboards/hub20/keymaps/macro/keymap.c
  keyboards/hub20/keymaps/macro/rules.mk
  keyboards/hub20/keymaps/via/keymap.c
  keyboards/hub20/keymaps/via/rules.mk
  keyboards/hub20/mcuconf.h
  keyboards/hub20/readme.md
  keyboards/hub20/rules.mk
Labels: keyboard, keymap, via

#11510 Add new afternoonlabs/breeze/rev0 split keyboard
  keyboards/afternoonlabs/breeze/breeze.c
  keyboards/afternoonlabs/breeze/breeze.h
  keyboards/afternoonlabs/breeze/config.h
  keyboards/afternoonlabs/breeze/keymaps/default/keymap.c
  keyboards/afternoonlabs/breeze/keymaps/default/readme.md
  keyboards/afternoonlabs/breeze/rev0/config.h
  keyboards/afternoonlabs/breeze/rev0/info.json
  keyboards/afternoonlabs/breeze/rev0/readme.md
  keyboards/afternoonlabs/breeze/rev0/rev0.c
  keyboards/afternoonlabs/breeze/rev0/rev0.h
  keyboards/afternoonlabs/breeze/rev0/rules.mk
Labels: keyboard, keymap

#11517 Add ISO Macro keyboard
  keyboards/merge/iso_macro/config.h
  keyboards/merge/iso_macro/iso_macro.c
  keyboards/merge/iso_macro/iso_macro.h
  keyboards/merge/iso_macro/keymaps/default/keymap.c
  keyboards/merge/iso_macro/keymaps/default/readme.md
  keyboards/merge/iso_macro/keymaps/via/keymap.c
  keyboards/merge/iso_macro/keymaps/via/rules.mk
  keyboards/merge/iso_macro/readme.md
  keyboards/merge/iso_macro/rules.mk
Labels: keyboard, keymap, pr_checklist_pending, via

#11522 Add VIA support for CA66
  keyboards/playkbtw/ca66/config.h
  keyboards/playkbtw/ca66/keymaps/via/keymap.c
  keyboards/playkbtw/ca66/keymaps/via/readme.md
  keyboards/playkbtw/ca66/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#11534 Added Ortho support to Program Yoink kb.
  keyboards/program_yoink/info.json
  keyboards/program_yoink/keymaps/default/keymap.c
  keyboards/program_yoink/keymaps/ortho_default/config.h
  keyboards/program_yoink/keymaps/ortho_default/keymap.c
  keyboards/program_yoink/keymaps/ortho_default/readme.md
  keyboards/program_yoink/keymaps/ortho_default/rules.mk
  keyboards/program_yoink/keymaps/ortho_split/config.h
  keyboards/program_yoink/keymaps/ortho_split/keymap.c
  keyboards/program_yoink/keymaps/ortho_split/readme.md
  keyboards/program_yoink/keymaps/ortho_split/rules.mk
  keyboards/program_yoink/keymaps/split_bar/keymap.c
  keyboards/program_yoink/program_yoink.h
Labels: keyboard, keymap

#11540 eliminate nested layout warnings in kbd75
  keyboards/kbdfans/kbd75/rev1/rev1.h
  keyboards/kbdfans/kbd75/rev2/rev2.h
Labels: keyboard

#10910 Add domnantas lily58 keymap
  keyboards/lily58/keymaps/domnantas/config.h
  keyboards/lily58/keymaps/domnantas/keymap.c
  keyboards/lily58/keymaps/domnantas/readme.md
  keyboards/lily58/keymaps/domnantas/rules.mk
Labels: keymap

#11322 allow customizing decrease delay of rgb heatmap
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix_animations/typing_heatmap_anim.h
  shell.nix
Labels: core, documentation

#11320 [Keymap] Adds ymdk/ymd09 andys8 layout
  keyboards/ymdk/ymd09/keymaps/andys8/keymap.c
Labels: keymap

#11554 arm_atsam: temporarily lower raw HID endpoint/report size
  tmk_core/protocol/arm_atsam/usb/udi_device_epsize.h
Labels: core, enhancement

#11556 Adafruit BLE cleanups
  tmk_core/protocol/lufa/adafruit_ble.cpp
  tmk_core/protocol/lufa/adafruit_ble.h
  tmk_core/protocol/lufa/lufa.c
Labels: core, enhancement

#11467 Add cool836A 1_2 (a new keyboard)
  keyboards/cool836a/config.h
  keyboards/cool836a/cool836a.c
  keyboards/cool836a/cool836a.h
  keyboards/cool836a/info.json
  keyboards/cool836a/keymaps/default/keymap.c
  keyboards/cool836a/keymaps/default/readme.md
  keyboards/cool836a/readme.md
  keyboards/cool836a/rules.mk
Labels: keyboard, keymap

#11549 Cutie Club Borsdorf: Configurator key sequence fix
  keyboards/cutie_club/borsdorf/info.json
Labels: enhancement, keyboard

#11550 Afternoon Labs Breeze Rev0: Configurator key sequence fix
  keyboards/afternoonlabs/breeze/rev0/info.json
Labels: enhancement, keyboard

#11267 Adds VIA support for the KPRepublic's BM60 Poker
  keyboards/bm60poker/config.h
  keyboards/bm60poker/info.json
  keyboards/bm60poker/keymaps/via/keymap.c
  keyboards/bm60poker/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#11562 Add BGR byte order for WS2812 drivers
  docs/ws2812_driver.md
  drivers/chibios/ws2812.c
  drivers/chibios/ws2812_pwm.c
  drivers/chibios/ws2812_spi.c
  quantum/color.h
Labels: core, documentation

#10458 New Keyboard: walletburner/cajal
  keyboards/walletburner/cajal/cajal.c
  keyboards/walletburner/cajal/cajal.h
  keyboards/walletburner/cajal/config.h
  keyboards/walletburner/cajal/info.json
  keyboards/walletburner/cajal/keymaps/default/keymap.c
  keyboards/walletburner/cajal/keymaps/default_ortho/keymap.c
  keyboards/walletburner/cajal/readme.md
  keyboards/walletburner/cajal/rules.mk
Labels: keyboard

#11334 Improve the compile and flash subcommands
  docs/cli_commands.md
  lib/python/qmk/cli/chibios/confmigrate.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/commands.py
  lib/python/qmk/constants.py
Labels: cli, documentation, python

#11588 ChibiOS conf migrations... take 8
  keyboards/hub20/chconf.h
  keyboards/hub20/halconf.h
  keyboards/hub20/mcuconf.h
Labels: keyboard

#11515 add Stream15 keyboard
  keyboards/nibiria/stream15/chconf.h
  keyboards/nibiria/stream15/config.h
  keyboards/nibiria/stream15/halconf.h
  keyboards/nibiria/stream15/info.json
  keyboards/nibiria/stream15/keymaps/default/keymap.c
  keyboards/nibiria/stream15/keymaps/default/rules.mk
  keyboards/nibiria/stream15/keymaps/via/keymap.c
  keyboards/nibiria/stream15/keymaps/via/rules.mk
  keyboards/nibiria/stream15/mcuconf.h
  keyboards/nibiria/stream15/readme.md
  keyboards/nibiria/stream15/rules.mk
  keyboards/nibiria/stream15/stream15.c
  keyboards/nibiria/stream15/stream15.h
Labels: keyboard, keymap, via
