Repository qmk/qmk_firmware, pull requests merged in 2021-09, with the labels that each got.

#14258 Personal keymap and user updates
  keyboards/splitkb/kyria/keymaps/cwebster2/config.h
  keyboards/splitkb/kyria/keymaps/cwebster2/keymap.c
  keyboards/splitkb/kyria/keymaps/cwebster2/rules.mk
  users/cwebster2/keycodes.c
  users/cwebster2/my_miryoku.h
Labels: keymap

#14257 mnk50: Configurator Fix and Layout Macro Additions
  keyboards/mnk50/info.json
  keyboards/mnk50/mnk50.h
Labels: enhancement, keyboard

#14250 Fix snailmap compilation error
  keyboards/nullbitsco/nibble/keymaps/snailmap/keymap.c
  keyboards/nullbitsco/nibble/keymaps/snailmap/rules.mk
Labels: keymap

#14261 Fix typos from 14248
  keyboards/cu75/cu75.h
  keyboards/kinesis/kinesis.h
  keyboards/knops/mini/mini.h
  keyboards/laptreus/laptreus.h
  keyboards/mt40/mt40.h
  keyboards/ok60/ok60.h
Labels: bug, keyboard

#14256 owl8: add info.json file
  keyboards/owl8/info.json
Labels: enhancement, keyboard

#14255 MatchstickWorks SouthPad: correct Configurator key sequence
  keyboards/matchstickworks/southpad/info.json
  keyboards/matchstickworks/southpad/keymaps/default/keymap.c
  keyboards/matchstickworks/southpad/southpad.h
Labels: enhancement, keyboard, keymap

#14263 Update path to keycode.h
  docs/faq_keymap.md
Labels: documentation

#14224 own scylla keymap
  keyboards/bastardkb/scylla/keymaps/cykedev/config.h
  keyboards/bastardkb/scylla/keymaps/cykedev/keymap.c
  keyboards/bastardkb/scylla/keymaps/cykedev/rules.mk
Labels: keymap

#14220 Jonavin keymap gmmk pro - add rgb nightmode and optional colemak layer
  keyboards/gmmk/pro/ansi/keymaps/jonavin/config.h
  keyboards/gmmk/pro/ansi/keymaps/jonavin/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/jonavin/readme.md
  keyboards/gmmk/pro/ansi/keymaps/jonavin/rules.mk
  users/jonavin/jonavin.c
  users/jonavin/jonavin.h
  users/jonavin/rules.mk
Labels: keymap

#14232 Adding my H87 keymap.
  keyboards/hineybush/h87a/keymaps/peott-fr/keymap.c
Labels: keymap

#14267 wuque/serneity65: Layout Macro rework and Configurator fix
  keyboards/wuque/serneity65/info.json
  keyboards/wuque/serneity65/keymaps/default/keymap.c
  keyboards/wuque/serneity65/keymaps/via/keymap.c
  keyboards/wuque/serneity65/serneity65.h
Labels: enhancement, keyboard, keymap, via

#14266 neson design/n6: Extended Community Layout Support and Layout Macro Fix
  keyboards/neson_design/n6/info.json
  keyboards/neson_design/n6/keymaps/default/keymap.c
  keyboards/neson_design/n6/keymaps/via/keymap.c
  keyboards/neson_design/n6/n6.h
  keyboards/neson_design/n6/rules.mk
Labels: enhancement, keyboard, keymap, via

#14264 naiping/np64: 64_ansi Community Layout support and codebase touch-up
  keyboards/naiping/np64/config.h
  keyboards/naiping/np64/info.json
  keyboards/naiping/np64/keymaps/default/keymap.c
  keyboards/naiping/np64/keymaps/via/keymap.c
  keyboards/naiping/np64/np64.c
  keyboards/naiping/np64/np64.h
  keyboards/naiping/np64/readme.md
  keyboards/naiping/np64/rules.mk
Labels: enhancement, keyboard, keymap, via

#14271 [Keymap] Fix some Drashna Keymap issues missed before Develop merge
  keyboards/handwired/tractyl_manuform/5x6_right/f411/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/f411/f411.c
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.h
  keyboards/splitkb/kyria/keymaps/drashna/rules.mk
  users/drashna/config.h
  users/drashna/oled_stuff.c
  users/drashna/post_config.h
Labels: keyboard, keymap

#14269 Fine-tuning Nyquist keymap.
  keyboards/keebio/nyquist/keymaps/peott-fr/keymap.c
Labels: keymap

#14103 new murphpad landscape keymap with encoder enhanced functions
  keyboards/mechwild/murphpad/keymaps/jonavin/config.h
  keyboards/mechwild/murphpad/keymaps/jonavin/keymap.c
  keyboards/mechwild/murphpad/keymaps/jonavin/layout_landscape.h
  keyboards/mechwild/murphpad/keymaps/jonavin/readme.md
  keyboards/mechwild/murphpad/keymaps/jonavin/rules.mk
Labels: keymap

#14276 Yoichiro Lunakey Macro: correct Configurator key sequence
  keyboards/yoichiro/lunakey_macro/info.json
Labels: enhancement, keyboard

#14273 Matrix Falcon info.json fixes
  keyboards/matrix/falcon/info.json
Labels: enhancement, keyboard

#14277 PistachioPro: correct Configurator key sequence
  keyboards/pistachio_pro/info.json
Labels: enhancement, keyboard

#14247 [Keyboard] Work Louder board fixup
  keyboards/work_louder/loop/config.h
  keyboards/work_louder/loop/keymaps/via/keymap.c
  keyboards/work_louder/loop/loop.c
  keyboards/work_louder/nano/config.h
  keyboards/work_louder/rgb_functions.c
  keyboards/work_louder/work_board/config.h
  keyboards/work_louder/work_board/keymaps/via/keymap.c
  keyboards/work_louder/work_board/work_board.c
Labels: keyboard, keymap, via

#14265 [Keymap] Update iris fluffactually keymap
  keyboards/keebio/iris/keymaps/fluffactually/config.h
  keyboards/keebio/iris/keymaps/fluffactually/keymap.c
  keyboards/keebio/iris/keymaps/fluffactually/readme.md
Labels: keymap

#14288 Remove more cruft in keyboard files
  keyboards/cu75/cu75.c
  keyboards/cu75/cu75.h
  keyboards/ergotaco/ergotaco.h
  keyboards/georgi/georgi.h
  keyboards/gergo/gergo.h
  keyboards/handwired/dactyl/dactyl.h
  keyboards/handwired/frenchdev/frenchdev.h
  keyboards/hotdox/hotdox.h
  keyboards/ktec/ergodone/ergodone.h
  keyboards/lfkeyboards/lfk65_hs/lfk65_hs.h
  keyboards/lfkeyboards/lfk87/lfk87.c
  keyboards/lfkeyboards/lfk87/lfk87.h
  keyboards/lfkeyboards/mini1800/mini1800.c
  keyboards/lfkeyboards/mini1800/mini1800.h
  keyboards/lfkeyboards/smk65/revb/revb.c
  keyboards/lfkeyboards/smk65/revb/revb.h
  keyboards/sx60/sx60.h
Labels: enhancement, keyboard

#14293 OwLab Voice65 Hotswap: 65_ansi_blocker Community Layout support
  keyboards/owlab/voice65/hotswap/hotswap.h
  keyboards/owlab/voice65/hotswap/info.json
  keyboards/owlab/voice65/hotswap/keymaps/default/keymap.c
  keyboards/owlab/voice65/hotswap/keymaps/via/keymap.c
  keyboards/owlab/voice65/hotswap/rules.mk
Labels: enhancement, keyboard, keymap, via

#14290 takashicompany/endzone34: correct QMK Configurator key sequence
  keyboards/takashicompany/endzone34/info.json
Labels: enhancement, keyboard

#14292 Naiping NPhhkb: 60_tsangan_hhkb Community Layout support
  keyboards/naiping/nphhkb/info.json
  keyboards/naiping/nphhkb/keymaps/default/keymap.c
  keyboards/naiping/nphhkb/keymaps/via/keymap.c
  keyboards/naiping/nphhkb/nphhkb.h
  keyboards/naiping/nphhkb/readme.md
  keyboards/naiping/nphhkb/rules.mk
Labels: keyboard, keymap, via

#14291 FJLabs Ready100 Configurator Fixes
  keyboards/fjlabs/ready100/info.json
  keyboards/fjlabs/ready100/keymaps/default/keymap.c
  keyboards/fjlabs/ready100/keymaps/via/keymap.c
  keyboards/fjlabs/ready100/ready100.h
  keyboards/fjlabs/ready100/rules.mk
Labels: enhancement, keyboard, keymap, via

#14282 Enable extra keys for Technik ortho and stagger
  keyboards/boardsource/technik_o/rules.mk
  keyboards/boardsource/technik_s/rules.mk
Labels: keyboard

#14300 Fix Space Cadet md link
  docs/reference_glossary.md
Labels: documentation

#14316 Fix rotary encoder function for Voice65
  keyboards/owlab/voice65/hotswap/hotswap.c
  keyboards/owlab/voice65/hotswap/keymaps/default/keymap.c
  keyboards/owlab/voice65/hotswap/keymaps/via/keymap.c
  keyboards/owlab/voice65/soldered/keymaps/default/keymap.c
  keyboards/owlab/voice65/soldered/keymaps/via/keymap.c
  keyboards/owlab/voice65/soldered/soldered.c
Labels: keyboard, keymap, via

#14305 Add `is_oled_scrolling`
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.h
  drivers/oled/ssd1306_sh1106.c
Labels: core, documentation

#14317 Docs: Velocikey: Highlight keycode
  docs/feature_velocikey.md
Labels: documentation

#14275 Tidy up defines within STM EEPROM emulation
  keyboards/nk65/config.h
  tmk_core/common/chibios/eeprom_stm32.c
  tmk_core/common/chibios/eeprom_stm32_defs.h
  tmk_core/common/test/eeprom_stm32_tests.cpp
  tmk_core/common/test/hal.h
  tmk_core/common/test/rules.mk
Labels: enhancement, core, keyboard

#14323 [Bug] Fix compile issues for boards with custom matrix
  keyboards/bpiphany/pegasushoof/2015/matrix.c
  keyboards/handwired/datahand/matrix.c
  keyboards/keyboardio/model01/matrix.c
  keyboards/matrix/noah/matrix.c
  keyboards/ymdk/sp64/matrix.c
Labels: bug, keyboard

#14324 Fix eeprom for Durgod boards
  tmk_core/common/chibios/eeprom_stm32_defs.h
Labels: bug, core

#13287 Zinc: fix RGBLED_NUM bug
  keyboards/zinc/rev1/config.h
  keyboards/zinc/rev1/post_config.h
  keyboards/zinc/reva/config.h
  keyboards/zinc/reva/post_config.h
Labels: keyboard

#13084 Redox media
  keyboards/redox/keymaps/media_ch/config.h
  keyboards/redox/keymaps/media_ch/keymap.c
  keyboards/redox/keymaps/media_ch/readme.md
  keyboards/redox/keymaps/media_ch/rules.mk
  keyboards/redox/media/config.h
  keyboards/redox/media/media.c
  keyboards/redox/media/media.h
  keyboards/redox/media/readme.md
  keyboards/redox/media/rules.mk
  keyboards/redox/redox.h
Labels: keyboard, keymap

#14340 ergodone - Refactor use of legacy i2c implementation
  keyboards/ktec/ergodone/expander.c
  keyboards/ktec/ergodone/i2cmaster.h
  keyboards/ktec/ergodone/rules.mk
  keyboards/ktec/ergodone/twimaster.c
Labels: enhancement, keyboard

#14341 sx60 - Refactor use of legacy i2c implementation
  keyboards/sx60/i2cmaster.h
  keyboards/sx60/matrix.c
  keyboards/sx60/rules.mk
  keyboards/sx60/sx60.c
  keyboards/sx60/sx60.h
  keyboards/sx60/twimaster.c
Labels: enhancement, keyboard

#14339 3w6 - Refactor use of AVR only I2C functions
  keyboards/3w6/rev1/matrix.c
  keyboards/3w6/rev2/matrix.c
Labels: enhancement, keyboard

#14344 handwired/dactyl - Refactor use of legacy i2c implementation
  keyboards/handwired/dactyl/dactyl.c
  keyboards/handwired/dactyl/dactyl.h
  keyboards/handwired/dactyl/i2cmaster.h
  keyboards/handwired/dactyl/matrix.c
  keyboards/handwired/dactyl/rules.mk
  keyboards/handwired/dactyl/twimaster.c
Labels: enhancement, keyboard

#14346 [Keyboard] Fix issues with 3w6 rev2 matrix
  keyboards/3w6/rev2/matrix.c
Labels: bug, keyboard

#14342 Adding IFo Hancroft's ErgoDox EZ Keymap
  keyboards/ergodox_ez/keymaps/ifohancroft/config.h
  keyboards/ergodox_ez/keymaps/ifohancroft/keymap.c
  keyboards/ergodox_ez/keymaps/ifohancroft/readme.md
  keyboards/ergodox_ez/keymaps/ifohancroft/rules.mk
Labels: keymap

#14298 Sneakbox Ava tidy-up
  keyboards/sneakbox/ava/ava.h
  keyboards/sneakbox/ava/info.json
  keyboards/sneakbox/ava/keymaps/default/keymap.c
  keyboards/sneakbox/ava/keymaps/via/keymap.c
  keyboards/sneakbox/ava/rules.mk
Labels: bug, enhancement, keyboard, keymap, via

#14245 add wang ergo to qmk
  keyboards/ocean/wang_ergo/config.h
  keyboards/ocean/wang_ergo/info.json
  keyboards/ocean/wang_ergo/keymaps/default/keymap.c
  keyboards/ocean/wang_ergo/keymaps/via/keymap.c
  keyboards/ocean/wang_ergo/keymaps/via/rules.mk
  keyboards/ocean/wang_ergo/readme.md
  keyboards/ocean/wang_ergo/rules.mk
  keyboards/ocean/wang_ergo/wang_ergo.c
  keyboards/ocean/wang_ergo/wang_ergo.h
Labels: keyboard, keymap, via

#14182 New keymap for bm40
  keyboards/kprepublic/bm40hsrgb/keymaps/gabustoledo/config.h
  keyboards/kprepublic/bm40hsrgb/keymaps/gabustoledo/keymap.c
  keyboards/kprepublic/bm40hsrgb/keymaps/gabustoledo/readme.md
  keyboards/kprepublic/bm40hsrgb/keymaps/gabustoledo/rules.mk
Labels: keymap

#14240 Update VIA support for lazydesigners/the40
  keyboards/lazydesigners/the40/keymaps/via/keymap.c
Labels: keymap, via

#14348 Remove Arduino-style `analogRead()`
  platforms/avr/drivers/analog.c
  platforms/avr/drivers/analog.h
Labels: enhancement, core

#14352 Fixes for recent i2c migrations
  keyboards/3w6/rev1/matrix.c
  keyboards/3w6/rev2/matrix.c
  keyboards/handwired/dactyl/dactyl.h
  keyboards/sx60/sx60.h
Labels: bug, keyboard

#14234 [Keyboard] Add VIA keymap for the reviung39
  keyboards/reviung39/keymaps/via/keymap.c
  keyboards/reviung39/keymaps/via/rules.mk
Labels: keymap, via

#14314 [Keyboard] Tractyl Manuform - configuration updates
  keyboards/handwired/tractyl_manuform/5x6_right/f411/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/f411/halconf.h
  keyboards/handwired/tractyl_manuform/5x6_right/f411/mcuconf.h
  keyboards/handwired/tractyl_manuform/5x6_right/f411/readme.md
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/readme.md
  keyboards/handwired/tractyl_manuform/post_config.h
  keyboards/handwired/tractyl_manuform/tm_sync.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.h
Labels: keyboard, keymap

#14334 Add Gaston's Lily58 custom keymap
  keyboards/lily58/keymaps/gaston/config.h
  keyboards/lily58/keymaps/gaston/keymap.c
  keyboards/lily58/keymaps/gaston/readme.md
  keyboards/lily58/keymaps/gaston/rules.mk
Labels: keymap

#14329 [Keyboard] Add new Mokey keyboard
  keyboards/mokey/mokey64/config.h
  keyboards/mokey/mokey64/info.json
  keyboards/mokey/mokey64/keymaps/default/keymap.c
  keyboards/mokey/mokey64/keymaps/via/keymap.c
  keyboards/mokey/mokey64/keymaps/via/rules.mk
  keyboards/mokey/mokey64/mokey64.c
  keyboards/mokey/mokey64/mokey64.h
  keyboards/mokey/mokey64/readme.md
  keyboards/mokey/mokey64/rules.mk
Labels: keyboard, keymap, via

#14295 Bugfix for Joystick and JSON schema
  common_features.mk
  docs/feature_joystick.md
  keyboards/handwired/onekey/keymaps/joystick/rules.mk
Labels: bug, enhancement, core, keymap, documentation

#14351 [Keyboard] Minor tweaks to Work Board layout
  keyboards/work_louder/work_board/keymaps/default/keymap.c
  keyboards/work_louder/work_board/keymaps/via/keymap.c
Labels: keymap, via

#14302 `OLED_TIMEOUT 0` and `OLED_DISABLE_TIMEOUT` should behave the same
  quantum/keyboard.c
Labels: core

#14315 `ST7565_TIMEOUT 0` and `ST7565_DISABLE_TIMEOUT` should behave the same
  quantum/keyboard.c
Labels: core

#14259 Add 61Key
  keyboards/0xc7/61key/61key.c
  keyboards/0xc7/61key/61key.h
  keyboards/0xc7/61key/config.h
  keyboards/0xc7/61key/info.json
  keyboards/0xc7/61key/keymaps/default/keymap.c
  keyboards/0xc7/61key/keymaps/via/keymap.c
  keyboards/0xc7/61key/keymaps/via/rules.mk
  keyboards/0xc7/61key/readme.md
  keyboards/0xc7/61key/rules.mk
Labels: keyboard, keymap, via

#14355 Fix Maker Keyboards Alexa Keymap
  keyboards/lucid/alexa/keymaps/via/keymap.c
Labels: keymap, via

#14286 Backport F_CPU/F_USB hack from system76
  tmk_core/protocol/lufa/lufa.c
Labels: core

#14056 Add Olly JF PCB
  keyboards/mechlovin/olly/jf/config.h
  keyboards/mechlovin/olly/jf/info.json
  keyboards/mechlovin/olly/jf/jf.c
  keyboards/mechlovin/olly/jf/jf.h
  keyboards/mechlovin/olly/jf/keymaps/default/keymap.c
  keyboards/mechlovin/olly/jf/keymaps/default/readme.md
  keyboards/mechlovin/olly/jf/keymaps/via/config.h
  keyboards/mechlovin/olly/jf/keymaps/via/keymap.c
  keyboards/mechlovin/olly/jf/keymaps/via/readme.md
  keyboards/mechlovin/olly/jf/keymaps/via/rules.mk
  keyboards/mechlovin/olly/jf/matrix.c
  keyboards/mechlovin/olly/jf/readme.md
  keyboards/mechlovin/olly/jf/rules.mk
Labels: keyboard, keymap, via

#13977 add keyboards/lyra
  keyboards/lyra/config.h
  keyboards/lyra/keymaps/default/config.h
  keyboards/lyra/keymaps/default/keymap.c
  keyboards/lyra/keymaps/default/rules.mk
  keyboards/lyra/keymaps/via/config.h
  keyboards/lyra/keymaps/via/keymap.c
  keyboards/lyra/keymaps/via/rules.mk
  keyboards/lyra/lyra.c
  keyboards/lyra/lyra.h
  keyboards/lyra/readme.md
  keyboards/lyra/rev1/config.h
  keyboards/lyra/rev1/info.json
  keyboards/lyra/rev1/rev1.c
  keyboards/lyra/rev1/rev1.h
  keyboards/lyra/rev1/rules.mk
Labels: keyboard, keymap, via

#14360 Fix CRLF in lyra/rev1
  keyboards/lyra/rev1/rev1.c
Labels: bug, keyboard

#14347 [Keyboard] Add custom pcb for Polaris
  keyboards/wekey/polaris/config.h
  keyboards/wekey/polaris/info.json
  keyboards/wekey/polaris/keymaps/default/keymap.c
  keyboards/wekey/polaris/keymaps/default/readme.md
  keyboards/wekey/polaris/keymaps/via/keymap.c
  keyboards/wekey/polaris/keymaps/via/readme.md
  keyboards/wekey/polaris/keymaps/via/rules.mk
  keyboards/wekey/polaris/polaris.c
  keyboards/wekey/polaris/polaris.h
  keyboards/wekey/polaris/readme.md
  keyboards/wekey/polaris/rules.mk
Labels: keyboard, keymap, via

#14367 Align rgb/led matrix docs with current behaviour
  docs/feature_led_matrix.md
  docs/feature_rgb_matrix.md
Labels: bug, documentation

#14361 Remove commented out BLUETOOTH_ENABLE rules
  keyboards/atreus62/rules.mk
  keyboards/bantam44/rules.mk
  keyboards/chimera_ergo/rules.mk
  keyboards/chimera_ls/rules.mk
  keyboards/chimera_ortho/rules.mk
  keyboards/comet46/rules.mk
  keyboards/dichotomy/rules.mk
  keyboards/gh60/revc/rules.mk
  keyboards/handwired/retro_refit/rules.mk
  keyboards/hhkb/ansi/rules.mk
  keyboards/hhkb/jp/rules.mk
  keyboards/honeycomb/rules.mk
  keyboards/jd40/rules.mk
  keyboards/mitosis/rules.mk
  keyboards/numatreus/rules.mk
  keyboards/ok60/rules.mk
  keyboards/redox_w/rules.mk
Labels: enhancement, keyboard

#14213 Fix number of elements in info.json does not match errors
  keyboards/evyd13/atom47/rev3/info.json
  keyboards/evyd13/atom47/rev4/info.json
  keyboards/eyeohdesigns/sprh/info.json
  keyboards/handwired/unicomp_mini_m/info.json
  keyboards/lazydesigners/the60/rev2/info.json
  keyboards/melgeek/mj6xy/info.json
  keyboards/pizzakeyboards/pizza65/info.json
  keyboards/plx/info.json
  keyboards/projectcain/vault45/info.json
  keyboards/sidderskb/majbritt/rev2/info.json
  keyboards/spacey/info.json
Labels: keyboard

#14207 Move non-assignment code to post_rules.mk
  keyboards/40percentclub/ut47/post_rules.mk
  keyboards/40percentclub/ut47/rules.mk
  keyboards/converter/palm_usb/post_rules.mk
  keyboards/converter/palm_usb/rules.mk
  keyboards/converter/sun_usb/post_rules.mk
  keyboards/converter/sun_usb/rules.mk
  keyboards/dm9records/ergoinu/post_rules.mk
  keyboards/dm9records/ergoinu/rules.mk
  keyboards/ergotaco/post_rules.mk
  keyboards/ergotaco/rules.mk
  keyboards/hhkb/ansi/post_rules.mk
  keyboards/hhkb/ansi/rules.mk
  keyboards/hhkb/jp/post_rules.mk
  keyboards/hhkb/jp/rules.mk
  keyboards/lfkeyboards/lfk78/post_rules.mk
  keyboards/lfkeyboards/lfk78/rules.mk
  keyboards/lfkeyboards/lfk87/post_rules.mk
  keyboards/lfkeyboards/lfk87/rules.mk
  keyboards/lfkeyboards/lfkpad/post_rules.mk
  keyboards/lfkeyboards/lfkpad/rules.mk
  keyboards/lfkeyboards/mini1800/post_rules.mk
  keyboards/lfkeyboards/mini1800/rules.mk
  keyboards/manta60/post_rules.mk
  keyboards/manta60/rules.mk
  keyboards/mschwingen/modelm/post_rules.mk
  keyboards/mschwingen/modelm/rules.mk
  keyboards/newgame40/post_rules.mk
  keyboards/newgame40/rules.mk
  keyboards/numatreus/post_rules.mk
  keyboards/numatreus/rules.mk
  keyboards/rgbkb/zen/post_rules.mk
  keyboards/rgbkb/zen/rev2/post_rules.mk
  keyboards/rgbkb/zen/rev2/rules.mk
  keyboards/rgbkb/zen/rules.mk
Labels: keyboard

#14375 Remove BLUETOOTH_ENABLE from defaultish keymaps
  keyboards/bpiphany/frosty_flake/keymaps/default/rules.mk
  keyboards/bpiphany/pegasushoof/keymaps/default/rules.mk
  keyboards/bpiphany/pegasushoof/keymaps/default_jis/rules.mk
  keyboards/bpiphany/tiger_lily/keymaps/default/rules.mk
  keyboards/bpiphany/tiger_lily/keymaps/default_ansi/rules.mk
  keyboards/bpiphany/tiger_lily/keymaps/via/rules.mk
  keyboards/clueboard/card/keymaps/default/rules.mk
  keyboards/clueboard/card/keymaps/rgb_effects/rules.mk
  keyboards/converter/ibm_terminal/keymaps/default/rules.mk
  keyboards/cu75/keymaps/default/rules.mk
  keyboards/cu75/keymaps/iso/rules.mk
  keyboards/dm9records/ergoinu/keymaps/default/rules.mk
  keyboards/dm9records/ergoinu/keymaps/default_jis/rules.mk
  keyboards/eco/keymaps/default/rules.mk
  keyboards/gh60/satan/keymaps/default/rules.mk
  keyboards/handwired/kbod/keymaps/default/rules.mk
  keyboards/handwired/ms_sculpt_mobile/keymaps/default/rules.mk
  keyboards/handwired/pilcrow/keymaps/default/rules.mk
  keyboards/handwired/terminus_mini/keymaps/default/rules.mk
  keyboards/kinesis/keymaps/default/rules.mk
  keyboards/kinesis/keymaps/default_pretty/rules.mk
  keyboards/kona_classic/keymaps/ansi/rules.mk
  keyboards/kona_classic/keymaps/ansi_arrows/rules.mk
  keyboards/kona_classic/keymaps/ansi_arrows_lcap/rules.mk
  keyboards/kona_classic/keymaps/ansi_split/rules.mk
  keyboards/kona_classic/keymaps/ansi_split_arrows/rules.mk
  keyboards/kona_classic/keymaps/default/rules.mk
  keyboards/kona_classic/keymaps/iso/rules.mk
  keyboards/kona_classic/keymaps/iso_arrows/rules.mk
  keyboards/kona_classic/keymaps/iso_split/rules.mk
  keyboards/kona_classic/keymaps/iso_split_arrows/rules.mk
  keyboards/lfkeyboards/lfk87/keymaps/default/rules.mk
  keyboards/lfkeyboards/lfk87/keymaps/iso/rules.mk
  keyboards/lfkeyboards/mini1800/keymaps/default/rules.mk
  keyboards/lily58/keymaps/default/rules.mk
  keyboards/zinc/keymaps/default/rules.mk
Labels: enhancement, keymap, via

#14073 [Keyboard] Add RS60
  keyboards/xelus/rs60/config.h
  keyboards/xelus/rs60/info.json
  keyboards/xelus/rs60/keymaps/default/config.h
  keyboards/xelus/rs60/keymaps/default/keymap.c
  keyboards/xelus/rs60/keymaps/via/config.h
  keyboards/xelus/rs60/keymaps/via/keymap.c
  keyboards/xelus/rs60/keymaps/via/rules.mk
  keyboards/xelus/rs60/readme.md
  keyboards/xelus/rs60/rs60.c
  keyboards/xelus/rs60/rs60.h
  keyboards/xelus/rs60/rules.mk
Labels: keyboard, keymap, via

#12025 [Keymap] moults31 userspace and moults31 keymap on multiple keyboards
  keyboards/durgod/k320/keymaps/moults31/config.h
  keyboards/durgod/k320/keymaps/moults31/keymap.c
  keyboards/durgod/k320/keymaps/moults31/readme.md
  keyboards/durgod/k320/keymaps/moults31/rules.mk
  keyboards/dztech/dz60rgb/keymaps/moults31/keymap.c
  keyboards/dztech/dz60rgb/keymaps/moults31/readme.md
  keyboards/dztech/dz60rgb/keymaps/moults31/rules.mk
  keyboards/gmmk/pro/keymaps/moults31/keymap.c
  keyboards/knobgoblin/keymaps/moults31/keymap.c
  keyboards/knobgoblin/keymaps/moults31/readme.md
  keyboards/knobgoblin/keymaps/moults31/rules.mk
  keyboards/knobgoblin/keymaps/via/keymap.c
  users/moults31/gdb.c
  users/moults31/gdb.h
  users/moults31/moults31.c
  users/moults31/moults31.h
  users/moults31/obs.c
  users/moults31/obs.h
  users/moults31/readme.md
  users/moults31/rules.mk
  users/moults31/vscode.c
  users/moults31/vscode.h
Labels: keymap, via

#13240 Added new keymap for crkbd/rarick
  keyboards/crkbd/keymaps/rarick/config.h
  keyboards/crkbd/keymaps/rarick/glcdfont.c
  keyboards/crkbd/keymaps/rarick/keymap.c
  keyboards/crkbd/keymaps/rarick/rules.mk
Labels: keymap

#14020 Update owl8 config & keymap
  keyboards/owl8/config.h
  keyboards/owl8/keymaps/via/keymap.c
  keyboards/owl8/owl8.h
Labels: keyboard, keymap, via

#14321 New PCB Canary60RGB from CanaryTeam
  keyboards/canary/canary60rgb/canary60rgb.c
  keyboards/canary/canary60rgb/canary60rgb.h
  keyboards/canary/canary60rgb/config.h
  keyboards/canary/canary60rgb/info.json
  keyboards/canary/canary60rgb/keymaps/default/keymap.c
  keyboards/canary/canary60rgb/keymaps/via/config.h
  keyboards/canary/canary60rgb/keymaps/via/keymap.c
  keyboards/canary/canary60rgb/keymaps/via/rules.mk
  keyboards/canary/canary60rgb/readme.md
  keyboards/canary/canary60rgb/v1/config.h
  keyboards/canary/canary60rgb/v1/rules.mk
Labels: keyboard, keymap, via

#13888 added KPs BM43 RGB board
  keyboards/kprepublic/bm43hsrgb/bm43hsrgb.c
  keyboards/kprepublic/bm43hsrgb/bm43hsrgb.h
  keyboards/kprepublic/bm43hsrgb/config.h
  keyboards/kprepublic/bm43hsrgb/info.json
  keyboards/kprepublic/bm43hsrgb/keymaps/bitstarr/config.h
  keyboards/kprepublic/bm43hsrgb/keymaps/bitstarr/keymap.c
  keyboards/kprepublic/bm43hsrgb/keymaps/bitstarr/readme.md
  keyboards/kprepublic/bm43hsrgb/keymaps/bitstarr/rules.mk
  keyboards/kprepublic/bm43hsrgb/keymaps/default/keymap.c
  keyboards/kprepublic/bm43hsrgb/keymaps/default/readme.md
  keyboards/kprepublic/bm43hsrgb/readme.md
  keyboards/kprepublic/bm43hsrgb/rules.mk
Labels: keyboard, keymap

#14357 Add mokey63
  keyboards/mokey/README.md
  keyboards/mokey/mokey63/config.h
  keyboards/mokey/mokey63/info.json
  keyboards/mokey/mokey63/keymaps/default/keymap.c
  keyboards/mokey/mokey63/keymaps/via/keymap.c
  keyboards/mokey/mokey63/keymaps/via/rules.mk
  keyboards/mokey/mokey63/mokey63.c
  keyboards/mokey/mokey63/mokey63.h
  keyboards/mokey/mokey63/readme.md
  keyboards/mokey/mokey63/rules.mk
Labels: keyboard, keymap, via

#12537 Update rocketboard_16 with *most* of its final features
  keyboards/rocketboard_16/config.h
  keyboards/rocketboard_16/custom_font.h
  keyboards/rocketboard_16/keycode_lookup.c
  keyboards/rocketboard_16/keycode_lookup.h
  keyboards/rocketboard_16/keymaps/default/keymap.c
  keyboards/rocketboard_16/keymaps/via/keymap.c
  keyboards/rocketboard_16/rules.mk
Labels: keyboard, keymap, awaiting review, via

#14338 [Keymap] Added personal Kyria Keymap
  keyboards/splitkb/kyria/keymaps/john-ezra/config.h
  keyboards/splitkb/kyria/keymaps/john-ezra/keymap.c
  keyboards/splitkb/kyria/keymaps/john-ezra/oled.c
  keyboards/splitkb/kyria/keymaps/john-ezra/rules.mk
Labels: keymap

#14176 [keyboard] Add hotswap YMDK Wings
  keyboards/ymdk/wingshs/config.h
  keyboards/ymdk/wingshs/info.json
  keyboards/ymdk/wingshs/keymaps/default/keymap.c
  keyboards/ymdk/wingshs/keymaps/via/keymap.c
  keyboards/ymdk/wingshs/keymaps/via/rules.mk
  keyboards/ymdk/wingshs/readme.md
  keyboards/ymdk/wingshs/rules.mk
  keyboards/ymdk/wingshs/wingshs.c
  keyboards/ymdk/wingshs/wingshs.h
Labels: keyboard, keymap, via

#14023 Add 3keyecosystem and 2key2 keyboard
  keyboards/3keyecosystem/2key2/2key2.c
  keyboards/3keyecosystem/2key2/2key2.h
  keyboards/3keyecosystem/2key2/config.h
  keyboards/3keyecosystem/2key2/info.json
  keyboards/3keyecosystem/2key2/keymaps/default/keymap.c
  keyboards/3keyecosystem/2key2/keymaps/via/keymap.c
  keyboards/3keyecosystem/2key2/keymaps/via/rules.mk
  keyboards/3keyecosystem/2key2/readme.md
  keyboards/3keyecosystem/2key2/rules.mk
Labels: keyboard, keymap, via

#13989 added support for Bobpad
  keyboards/bobpad/bobpad.c
  keyboards/bobpad/bobpad.h
  keyboards/bobpad/config.h
  keyboards/bobpad/info.json
  keyboards/bobpad/keymaps/default/keymap.c
  keyboards/bobpad/keymaps/via/keymap.c
  keyboards/bobpad/keymaps/via/rules.mk
  keyboards/bobpad/readme.md
  keyboards/bobpad/rules.mk
Labels: keyboard, keymap, via

#14318 Update lighting effects for xbows ranger keyboard
  keyboards/xbows/ranger/config.h
  keyboards/xbows/ranger/keymaps/default/config.h
  keyboards/xbows/ranger/ranger.c
  keyboards/xbows/ranger/rules.mk
Labels: keyboard, keymap

#14380 Remove unreferenced IBM4704, Sony NEWS, NeXT keyboard code.
  tmk_core/protocol/ibm4704.c
  tmk_core/protocol/ibm4704.h
  tmk_core/protocol/news.c
  tmk_core/protocol/news.h
  tmk_core/protocol/next_kbd.c
  tmk_core/protocol/next_kbd.h
Labels: core

#14345 [Keyboard] Fix Redox Media compilation errors
  keyboards/redox/keymaps/media_ch/rules.mk
  keyboards/redox/media/rules.mk
  keyboards/redox_media/config.h
  keyboards/redox_media/keymaps/default/config.h
  keyboards/redox_media/keymaps/default/keymap.c
  keyboards/redox_media/keymaps/default/readme.md
  keyboards/redox_media/readme.md
  keyboards/redox_media/redox_media.c
  keyboards/redox_media/redox_media.h
  keyboards/redox_media/rules.mk
Labels: keyboard, keymap

#14400 [Bug] Keymap Fixes - lyra and reviung39
  keyboards/lyra/keymaps/via/keymap.c
  keyboards/reviung39/keymaps/via/keymap.c
  keyboards/reviung39/keymaps/via/rules.mk
Labels: keymap, via

#14401 [Docs] update Japanese translation of compatible_microcontrollers.md
  docs/ja/compatible_microcontrollers.md
Labels: documentation, translation

#14399 Align ChibiOS I2C defs with other drivers
  docs/i2c_driver.md
  docs/ja/i2c_driver.md
  keyboards/aeboards/constellation/rev2/config.h
  keyboards/aeboards/ext65/rev2/config.h
  keyboards/cannonkeys/satisfaction75/config.h
  keyboards/clueboard/66_hotswap/gen1/config.h
  keyboards/dekunukem/duckypad/config.h
  keyboards/ergodox_infinity/config.h
  keyboards/ez_maker/directpins/teensy_32/config.h
  keyboards/ez_maker/directpins/teensy_lc/config.h
  keyboards/ferris/0_2/config.h
  keyboards/ferris/0_2/matrix.c
  keyboards/handwired/onekey/blackpill_f401/blackpill_f401.c
  keyboards/handwired/onekey/teensy_32/config.h
  keyboards/handwired/onekey/teensy_lc/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/f411/config.h
  keyboards/matrix/m20add/config.h
  keyboards/matrix/m20add/m20add.c
  keyboards/matrix/noah/config.h
  keyboards/whitefox/config.h
  keyboards/xelus/kangaroo/config.h
  keyboards/xelus/pachi/rgb/config.h
  keyboards/xelus/valor/rev2/config.h
  keyboards/xelus/valor_frl_tkl/config.h
  platforms/chibios/drivers/i2c_master.c
  platforms/chibios/drivers/i2c_master.h
Labels: optimization, core, keyboard, documentation, translation

#14404 Move Bluetooth config to common_features.mk
  common_features.mk
  disable_features.mk
  docs/feature_bluetooth.md
  keyboards/10bleoledhub/rules.mk
  keyboards/40percentclub/mf68/keymaps/mf68_ble/rules.mk
  keyboards/atreus/feather/rules.mk
  keyboards/converter/adb_usb/rules.mk
  keyboards/converter/m0110_usb/rules.mk
  keyboards/converter/usb_usb/ble/rules.mk
  keyboards/handwired/42/rules.mk
  keyboards/handwired/bdn9_ble/rules.mk
  keyboards/handwired/fruity60/rules.mk
  keyboards/handwired/hacked_motospeed/rules.mk
  keyboards/handwired/prkl30/feather/rules.mk
  keyboards/handwired/promethium/keymaps/default/rules.mk
  keyboards/handwired/promethium/keymaps/priyadi/rules.mk
  keyboards/handwired/promethium/rules.mk
  keyboards/handwired/pterodactyl/rules.mk
  keyboards/handwired/slash/rules.mk
  keyboards/laptreus/rules.mk
  keyboards/latin47ble/rules.mk
  keyboards/latin64ble/rules.mk
  keyboards/latinpadble/rules.mk
  keyboards/meira/featherble/rules.mk
  keyboards/nek_type_a/rules.mk
  keyboards/spaceman/pancake/rev1/feather/rules.mk
  keyboards/tokyokeyboard/alix40/rules.mk
  show_options.mk
  tmk_core/common.mk
  tmk_core/protocol/lufa.mk
  users/wanleg/rules.mk
Labels: enhancement, core, keyboard, keymap, documentation

#14412 Apply `TAP_CODE_DELAY` to Tap Dance key sequences
  quantum/action.c
  quantum/action.h
  quantum/process_keycode/process_tap_dance.c
Labels: core

#14415 Migrate hadron away from QWIIC_DRIVERS
  keyboards/hadron/i2c.c
  keyboards/hadron/i2c.h
  keyboards/hadron/ver2/config.h
  keyboards/hadron/ver2/keymaps/default/keymap.c
  keyboards/hadron/ver2/keymaps/readme.md
  keyboards/hadron/ver2/keymaps/side_numpad/keymap.c
  keyboards/hadron/ver2/rules.mk
  keyboards/hadron/ver2/ver2.c
  keyboards/hadron/ver2/ver2.h
  keyboards/hadron/ver3/config.h
  keyboards/hadron/ver3/keymaps/default/config.h
  keyboards/hadron/ver3/keymaps/default/keymap.c
  keyboards/hadron/ver3/keymaps/readme.md
  keyboards/hadron/ver3/rules.mk
  keyboards/hadron/ver3/ver3.c
Labels: optimization, keyboard, keymap

#14413 Migrate boston_meetup/2019 away from QWIIC_DRIVERS
  keyboards/boston_meetup/2019/2019.c
  keyboards/boston_meetup/2019/config.h
  keyboards/boston_meetup/2019/keymaps/default/keymap.c
  keyboards/boston_meetup/2019/keymaps/readme.md
  keyboards/boston_meetup/2019/rules.mk
Labels: optimization, keyboard, keymap

#14421 RN42 Bluetooth typo fix
  common_features.mk
Labels: bug, core

#14424 [Keyboard] fix mokey63 keymaps
  keyboards/mokey/mokey63/keymaps/default/keymap.c
  keyboards/mokey/mokey63/keymaps/via/keymap.c
Labels: keymap, via

#14418 Userspace updates
  keyboards/jacky_studio/bear_65/keymaps/stanrc85/keymap.c
  users/stanrc85/rgb_layers.c
  users/stanrc85/rules.mk
Labels: keymap

#14027 Add initial support for M65S
  keyboards/mode/m65s/README.md
  keyboards/mode/m65s/chconf.h
  keyboards/mode/m65s/config.h
  keyboards/mode/m65s/halconf.h
  keyboards/mode/m65s/keymaps/default/keymap.c
  keyboards/mode/m65s/keymaps/via/keymap.c
  keyboards/mode/m65s/keymaps/via/rules.mk
  keyboards/mode/m65s/m65s.c
  keyboards/mode/m65s/m65s.h
  keyboards/mode/m65s/mcuconf.h
  keyboards/mode/m65s/rules.mk
Labels: keyboard, keymap, via

#14430 Refactor use of STM32_SYSCLK
  drivers/led/apa102.c
  platforms/chibios/drivers/serial.c
  platforms/chibios/drivers/ws2812.c
  platforms/chibios/drivers/ws2812_pwm.c
  tmk_core/common/chibios/_wait.h
  tmk_core/common/chibios/chibios_config.h
Labels: enhancement, core

#14434 [Docs] Clean up some code block languages
  docs/audio_driver.md
  docs/cli_development.md
  docs/configurator_default_keymaps.md
  docs/custom_matrix.md
  docs/faq_debug.md
  docs/feature_backlight.md
  docs/feature_bluetooth.md
  docs/feature_digitizer.md
  docs/feature_joystick.md
  docs/feature_layouts.md
  docs/feature_midi.md
  docs/feature_pointing_device.md
  docs/feature_ps2_mouse.md
  docs/feature_rawhid.md
  docs/feature_rgb_matrix.md
  docs/feature_stenography.md
  docs/feature_swap_hands.md
  docs/feature_userspace.md
  docs/flashing_bootloadhid.md
  docs/getting_started_docker.md
  docs/getting_started_vagrant.md
  docs/hardware_keyboard_guidelines.md
  docs/how_keyboards_work.md
  docs/newbs_git_resynchronize_a_branch.md
  docs/unit_testing.md
Labels: documentation

#14439 Make ChibiOS PAL interactions less STM32 specific
  platforms/chibios/drivers/i2c_master.c
  platforms/chibios/drivers/i2c_master.h
  platforms/chibios/drivers/serial_usart.c
  platforms/chibios/drivers/spi_master.c
  platforms/chibios/drivers/spi_master.h
  platforms/chibios/drivers/uart.c
  platforms/chibios/drivers/ws2812_pwm.c
  platforms/chibios/drivers/ws2812_spi.c
  quantum/audio/driver_chibios_pwm_hardware.c
  quantum/backlight/backlight_chibios.c
  tmk_core/common/chibios/chibios_config.h
Labels: optimization, core

#14442 fix typo in backlight code from #14439
  quantum/backlight/backlight_chibios.c
Labels: core

#12814 VIA support with top facing LEDs and underglow
  keyboards/sofle/keymaps/via/config.h
Labels: keymap, via

#13486 Dubba175 Default Keymap Update
  keyboards/dubba175/keymaps/default/keymap.c
Labels: keymap

#13519 Fixed incorrect amount of steps for oled usage
  docs/feature_oled_driver.md
Labels: documentation

#13610 Update rev2.h
  keyboards/peranekofactory/tone/rev2/rev2.h
Labels: keyboard

#13776 added 64_ansi_split_bs layout
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
Labels: keyboard, awaiting review

#14076 [keyboard] Add Mach80 for Melgeek.
  keyboards/melgeek/mach80/config.h
  keyboards/melgeek/mach80/info.json
  keyboards/melgeek/mach80/keymaps/default/keymap.c
  keyboards/melgeek/mach80/keymaps/tkl/keymap.c
  keyboards/melgeek/mach80/keymaps/via/keymap.c
  keyboards/melgeek/mach80/keymaps/via/rules.mk
  keyboards/melgeek/mach80/keymaps/wkl/keymap.c
  keyboards/melgeek/mach80/mach80.c
  keyboards/melgeek/mach80/mach80.h
  keyboards/melgeek/mach80/readme.md
  keyboards/melgeek/mach80/rev1/config.h
  keyboards/melgeek/mach80/rev1/rev1.c
  keyboards/melgeek/mach80/rev1/rules.mk
Labels: keyboard, keymap, via

#14163 Add KeyBee65 Firmware
  keyboards/keybee/keybee65/config.h
  keyboards/keybee/keybee65/info.json
  keyboards/keybee/keybee65/keybee65.c
  keyboards/keybee/keybee65/keybee65.h
  keyboards/keybee/keybee65/keymaps/default/keymap.c
  keyboards/keybee/keybee65/keymaps/via/keymap.c
  keyboards/keybee/keybee65/keymaps/via/rules.mk
  keyboards/keybee/keybee65/readme.md
  keyboards/keybee/keybee65/rules.mk
Labels: keyboard, keymap, via

#14166 add boop65 rgb keyboard
  keyboards/kbdfans/boop65/rgb/config.h
  keyboards/kbdfans/boop65/rgb/info.json
  keyboards/kbdfans/boop65/rgb/keymaps/default/keymap.c
  keyboards/kbdfans/boop65/rgb/keymaps/via/keymap.c
  keyboards/kbdfans/boop65/rgb/keymaps/via/rules.mk
  keyboards/kbdfans/boop65/rgb/readme.md
  keyboards/kbdfans/boop65/rgb/rgb.c
  keyboards/kbdfans/boop65/rgb/rgb.h
  keyboards/kbdfans/boop65/rgb/rules.mk
Labels: keyboard, keymap, via

#14283 add kbd75 hotswap keyboard
  keyboards/kbdfans/kbd75hs/config.h
  keyboards/kbdfans/kbd75hs/info.json
  keyboards/kbdfans/kbd75hs/kbd75hs.c
  keyboards/kbdfans/kbd75hs/kbd75hs.h
  keyboards/kbdfans/kbd75hs/keymaps/default/keymap.c
  keyboards/kbdfans/kbd75hs/keymaps/via/keymap.c
  keyboards/kbdfans/kbd75hs/keymaps/via/rules.mk
  keyboards/kbdfans/kbd75hs/readme.md
  keyboards/kbdfans/kbd75hs/rules.mk
Labels: keyboard, keymap, via

#14378 Add Aya keyboard
  keyboards/aya/aya.c
  keyboards/aya/aya.h
  keyboards/aya/config.h
  keyboards/aya/info.json
  keyboards/aya/keymaps/default/config.h
  keyboards/aya/keymaps/default/keymap.c
  keyboards/aya/readme.md
  keyboards/aya/rules.mk
Labels: keyboard, keymap

#14433 Migrate STM32_EEPROM_ENABLE to use EEPROM_DRIVER
  common_features.mk
  keyboards/mxss/rgblight.c
  quantum/eeconfig.c
  quantum/keyboard.c
  tmk_core/common/chibios/eeprom_stm32.c
  tmk_core/common/test/rules.mk
Labels: optimization, core, keyboard

#14444 [Keyboard] Fix Boop65 rgb compile issues
  keyboards/kbdfans/boop65/rgb/config.h
Labels: bug, keyboard

#14195 Enable EEPROM emulation on F401/F411
  common_features.mk
  platforms/chibios/boards/common/ld/STM32F401xC.ld
  platforms/chibios/boards/common/ld/STM32F411xE.ld
  tmk_core/common/chibios/eeprom_stm32_defs.h
  tmk_core/common/chibios/flash_stm32.c
Labels: enhancement, core, breaking_change_2021q4

#14451 [Bug] Fix IS31fl3741 driver to accept 1 or 2 addresses
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31fl3741.h
  keyboards/kbdfans/boop65/rgb/config.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: core, keyboard

#14441 [Docs] add sync options heading, update led indicators
  docs/feature_led_indicators.md
  docs/feature_split_keyboard.md
Labels: documentation

#14429 Trying again with Prime-e update! Fixing keymap issue and cleaning-up…
  keyboards/primekb/prime_e/keymaps/peott-fr/keymap.c
Labels: keymap

#14425 A slight improvement to my own ErgoDox keymap
  keyboards/ergodox_ez/keymaps/ifohancroft/keymap.c
  keyboards/ergodox_ez/keymaps/ifohancroft/readme.md
Labels: keymap

#14417 Add "no LED" positions to Technik S
  keyboards/boardsource/technik_s/technik_s.c
Labels: keyboard

#14393 Replaced Maker Keyboards & FJLabs Legacy Code
  keyboards/fjlabs/bks65/config.h
  keyboards/fjlabs/bks65/rules.mk
  keyboards/fjlabs/bks65solder/config.h
  keyboards/fjlabs/bks65solder/rules.mk
  keyboards/fjlabs/bolsa65/config.h
  keyboards/fjlabs/bolsa65/rules.mk
  keyboards/fjlabs/kf87/rules.mk
  keyboards/fjlabs/ldk65/rules.mk
  keyboards/fjlabs/midway60/rules.mk
  keyboards/fjlabs/polaris/rules.mk
  keyboards/fjlabs/ready100/config.h
  keyboards/fjlabs/ready100/rules.mk
  keyboards/lucid/alexa/rules.mk
  keyboards/lucid/kbd8x_hs/rules.mk
  keyboards/lucid/phantom_hs/rules.mk
  keyboards/lucid/phantom_solder/rules.mk
  keyboards/lucid/scarlet/rules.mk
Labels: keyboard

#14331 add Matrix Me
  keyboards/matrix/me/config.h
  keyboards/matrix/me/info.json
  keyboards/matrix/me/keymaps/default/keymap.c
  keyboards/matrix/me/keymaps/via/keymap.c
  keyboards/matrix/me/keymaps/via/rules.mk
  keyboards/matrix/me/me.c
  keyboards/matrix/me/me.h
  keyboards/matrix/me/readme.md
  keyboards/matrix/me/rules.mk
Labels: keyboard, keymap, via

#14454 core: fix compilation issues with USB programmable buttons
  tmk_core/protocol/lufa/lufa.c
Labels: core

#14456 Make ChibiOS PAL interactions less STM32 specific - Round 2
  platforms/chibios/drivers/i2c_master.c
  platforms/chibios/drivers/serial_usart.c
  platforms/chibios/drivers/spi_master.c
  platforms/chibios/drivers/uart.c
  platforms/chibios/drivers/ws2812_pwm.c
  platforms/chibios/drivers/ws2812_spi.c
  tmk_core/common/chibios/chibios_config.h
Labels: bug, core

#14455 [Bug] Fix descriptor for USB Programmable Buttons
  tmk_core/protocol/usb_descriptor.c
Labels: core

#14391 Added Absolute Designs AD65 Keyboard
  keyboards/fjlabs/ad65/ad65.c
  keyboards/fjlabs/ad65/ad65.h
  keyboards/fjlabs/ad65/config.h
  keyboards/fjlabs/ad65/info.json
  keyboards/fjlabs/ad65/keymaps/default/keymap.c
  keyboards/fjlabs/ad65/keymaps/via/keymap.c
  keyboards/fjlabs/ad65/keymaps/via/rules.mk
  keyboards/fjlabs/ad65/readme.md
  keyboards/fjlabs/ad65/rules.mk
Labels: keyboard, keymap, via

#14392 Added FJLabs TF60 Variants and TF65 Variant
  keyboards/fjlabs/tf60ansi/config.h
  keyboards/fjlabs/tf60ansi/info.json
  keyboards/fjlabs/tf60ansi/keymaps/default/keymap.c
  keyboards/fjlabs/tf60ansi/keymaps/via/keymap.c
  keyboards/fjlabs/tf60ansi/keymaps/via/rules.mk
  keyboards/fjlabs/tf60ansi/readme.md
  keyboards/fjlabs/tf60ansi/rules.mk
  keyboards/fjlabs/tf60ansi/tf60ansi.c
  keyboards/fjlabs/tf60ansi/tf60ansi.h
  keyboards/fjlabs/tf60v2/config.h
  keyboards/fjlabs/tf60v2/info.json
  keyboards/fjlabs/tf60v2/keymaps/default/keymap.c
  keyboards/fjlabs/tf60v2/keymaps/via/keymap.c
  keyboards/fjlabs/tf60v2/keymaps/via/rules.mk
  keyboards/fjlabs/tf60v2/readme.md
  keyboards/fjlabs/tf60v2/rules.mk
  keyboards/fjlabs/tf60v2/tf60v2.c
  keyboards/fjlabs/tf60v2/tf60v2.h
  keyboards/fjlabs/tf65rgbv2/config.h
  keyboards/fjlabs/tf65rgbv2/info.json
  keyboards/fjlabs/tf65rgbv2/keymaps/default/keymap.c
  keyboards/fjlabs/tf65rgbv2/keymaps/via/keymap.c
  keyboards/fjlabs/tf65rgbv2/keymaps/via/rules.mk
  keyboards/fjlabs/tf65rgbv2/readme.md
  keyboards/fjlabs/tf65rgbv2/rules.mk
  keyboards/fjlabs/tf65rgbv2/tf65rgbv2.c
  keyboards/fjlabs/tf65rgbv2/tf65rgbv2.h
Labels: keyboard, keymap, via

#14371 Adding the Idobao ID96 keyboard
  keyboards/idobao/id96/config.h
  keyboards/idobao/id96/id96.c
  keyboards/idobao/id96/id96.h
  keyboards/idobao/id96/info.json
  keyboards/idobao/id96/keymaps/default/keymap.c
  keyboards/idobao/id96/keymaps/via/keymap.c
  keyboards/idobao/id96/keymaps/via/rules.mk
  keyboards/idobao/id96/readme.md
  keyboards/idobao/id96/rules.mk
Labels: keyboard, keymap, via

#14370 New CLI subcommand to create clang-compatible compilation database (`compile_commands.json`)
  .gitignore
  docs/cli_commands.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/generate/compilation_database.py
  lib/python/qmk/commands.py
Labels: documentation, python, cli

#14464 [Bug] fix logical minimum in Programmable Button rdesc
  tmk_core/protocol/usb_descriptor.c
Labels: core

#14426 [Keyboard] Increase the way to add oled code for helix/rev3.
  keyboards/helix/rev3_4rows/keymaps/default/oled_display.c
  keyboards/helix/rev3_4rows/keymaps/via/oled_display.c
  keyboards/helix/rev3_4rows/oled_display.c
  keyboards/helix/rev3_4rows/rev3_4rows.c
  keyboards/helix/rev3_5rows/keymaps/default/oled_display.c
  keyboards/helix/rev3_5rows/keymaps/via/oled_display.c
  keyboards/helix/rev3_5rows/oled_display.c
  keyboards/helix/rev3_5rows/rev3_5rows.c
Labels: keyboard, keymap, via

#14427 [Keymap] Update Helix:five_rows OLED code
  keyboards/helix/rev2/keymaps/five_rows/config.h
  keyboards/helix/rev2/keymaps/five_rows/matrix_output_unselect_delay.c
  keyboards/helix/rev2/keymaps/five_rows/oled_display.c
  keyboards/helix/rev2/keymaps/five_rows/rules.mk
  keyboards/helix/rev3_5rows/keymaps/five_rows/config.h
  keyboards/helix/rev3_5rows/keymaps/five_rows/matrix_output_unselect_delay.c
  keyboards/helix/rev3_5rows/keymaps/five_rows/oled_display.c
  keyboards/helix/rev3_5rows/keymaps/five_rows/rules.mk
Labels: keymap

#14470 Add i2c defaults for Convert to Proton C
  platforms/chibios/boards/QMK_PROTON_C/configs/config.h
Labels: core

#14471 Media keys on Mode 65S
  keyboards/mode/m65s/config.h
  keyboards/mode/m65s/rules.mk
Labels: keyboard

#14251 Add gaming toggle layer & layer colors to r-pufky keymap.
  keyboards/massdrop/ctrl/keymaps/r-pufky/config.h
  keyboards/massdrop/ctrl/keymaps/r-pufky/keymap.c
  keyboards/massdrop/ctrl/keymaps/r-pufky/readme.md
Labels: keymap

#14287 Add Sauce Mild Keyboard
  keyboards/sauce/mild/config.h
  keyboards/sauce/mild/info.json
  keyboards/sauce/mild/keymaps/default/keymap.c
  keyboards/sauce/mild/keymaps/via/keymap.c
  keyboards/sauce/mild/keymaps/via/rules.mk
  keyboards/sauce/mild/mild.c
  keyboards/sauce/mild/mild.h
  keyboards/sauce/mild/readme.md
  keyboards/sauce/mild/rules.mk
Labels: keyboard, keymap, via

#14326 [Keymap] Adding personal keymap
  keyboards/gmmk/pro/ansi/keymaps/mattgauf/ansi.c
  keyboards/gmmk/pro/ansi/keymaps/mattgauf/config.h
  keyboards/gmmk/pro/ansi/keymaps/mattgauf/helpers.c
  keyboards/gmmk/pro/ansi/keymaps/mattgauf/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/mattgauf/keymap_helpers.h
  keyboards/gmmk/pro/ansi/keymaps/mattgauf/readme.md
  keyboards/gmmk/pro/ansi/keymaps/mattgauf/rules.mk
Labels: keymap

#14474 [Core] Fix WS2812 pwm driver pin with external pull-up
  platforms/chibios/drivers/ws2812_pwm.c
Labels: core

#14477 Update rules.mk for xbows keyboard
  keyboards/xbows/knight/rules.mk
  keyboards/xbows/knight_plus/rules.mk
  keyboards/xbows/numpad/rules.mk
Labels: keyboard

#14478 [Keyboard] Move Moonlander off 'Proton C' board
  keyboards/moonlander/halconf.h
  keyboards/moonlander/mcuconf.h
  keyboards/moonlander/rules.mk
Labels: keyboard

#14479 [Keyboard] Move Planck EZ off 'Proton C' board
  keyboards/planck/ez/halconf.h
  keyboards/planck/ez/mcuconf.h
  keyboards/planck/ez/rules.mk
Labels: keyboard

#14473 Nix Studio OXALYS80 Refactor
  keyboards/nix_studio/oxalys80/info.json
  keyboards/nix_studio/oxalys80/keymaps/default/keymap.c
  keyboards/nix_studio/oxalys80/keymaps/via/keymap.c
  keyboards/nix_studio/oxalys80/oxalys80.h
  keyboards/nix_studio/oxalys80/readme.md
  keyboards/nix_studio/oxalys80/rules.mk
Labels: enhancement, keyboard, keymap, via

#14466 [Keymap] Fix link error for helix/rev3_5rows:five_rows
  keyboards/helix/rev3_5rows/keymaps/five_rows/oled_display.c
Labels: keymap

#14485 [Keymap] Major Updates to Personal Kyria Keymap
  keyboards/splitkb/kyria/keymaps/john-ezra/config.h
  keyboards/splitkb/kyria/keymaps/john-ezra/keymap.c
  keyboards/splitkb/kyria/keymaps/john-ezra/oled.c
  keyboards/splitkb/kyria/keymaps/john-ezra/rules.mk
Labels: keymap

#14476 Add keyboard: Dosa40RGB + dtisaac01
  keyboards/dtisaac/dosa40rgb/config.h
  keyboards/dtisaac/dosa40rgb/dosa40rgb.c
  keyboards/dtisaac/dosa40rgb/dosa40rgb.h
  keyboards/dtisaac/dosa40rgb/info.json
  keyboards/dtisaac/dosa40rgb/keymaps/default/keymap.c
  keyboards/dtisaac/dosa40rgb/keymaps/default/readme.md
  keyboards/dtisaac/dosa40rgb/readme.md
  keyboards/dtisaac/dosa40rgb/rules.mk
  keyboards/dtisaac/dtisaac01/config.h
  keyboards/dtisaac/dtisaac01/dtisaac01.c
  keyboards/dtisaac/dtisaac01/dtisaac01.h
  keyboards/dtisaac/dtisaac01/info.json
  keyboards/dtisaac/dtisaac01/keymaps/default/keymap.c
  keyboards/dtisaac/dtisaac01/keymaps/default/readme.md
  keyboards/dtisaac/dtisaac01/keymaps/via/keymap.c
  keyboards/dtisaac/dtisaac01/keymaps/via/readme.md
  keyboards/dtisaac/dtisaac01/keymaps/via/rules.mk
  keyboards/dtisaac/dtisaac01/readme.md
  keyboards/dtisaac/dtisaac01/rules.mk
Labels: keyboard, keymap, via

#14446 Add custom keymap 'j4ckofalltrades' for sofle/rev1
  keyboards/sofle/keymaps/j4ckofalltrades/encoder.c
  keyboards/sofle/keymaps/j4ckofalltrades/keymap.c
  keyboards/sofle/keymaps/j4ckofalltrades/oled.c
  keyboards/sofle/keymaps/j4ckofalltrades/readme.md
  keyboards/sofle/keymaps/j4ckofalltrades/rules.mk
Labels: keymap

#14327 Add RGBW support to PWM and SPI drivers for ChibiOS
  platforms/chibios/drivers/ws2812_pwm.c
  platforms/chibios/drivers/ws2812_spi.c
Labels: core

#14033 Improvements to handling of disconnected split keyboards.
  quantum/matrix.c
Labels: core

#14491 [Keyboard] Fix dosa40rgb compilation issues
  keyboards/dtisaac/dosa40rgb/dosa40rgb.h
  keyboards/dtisaac/dosa40rgb/rules.mk
Labels: keyboard

#14431 Added Brazilian keymap for BM40RGB
  keyboards/kprepublic/bm40hsrgb/keymaps/wolff_abnt2/keymap.c
  keyboards/kprepublic/bm40hsrgb/keymaps/wolff_abnt2/readme.md
Labels: keymap

#14416 Add support for Coarse60
  keyboards/keebsforall/coarse60/chconf.h
  keyboards/keebsforall/coarse60/coarse60.c
  keyboards/keebsforall/coarse60/coarse60.h
  keyboards/keebsforall/coarse60/config.h
  keyboards/keebsforall/coarse60/halconf.h
  keyboards/keebsforall/coarse60/info.json
  keyboards/keebsforall/coarse60/keymaps/default/keymap.c
  keyboards/keebsforall/coarse60/keymaps/via/keymap.c
  keyboards/keebsforall/coarse60/keymaps/via/rules.mk
  keyboards/keebsforall/coarse60/mcuconf.h
  keyboards/keebsforall/coarse60/readme.md
  keyboards/keebsforall/coarse60/rules.mk
Labels: keyboard, keymap, via

#14389 GMMK Pro keymap
  keyboards/gmmk/pro/ansi/keymaps/benschaeff/keymap.c
Labels: keymap

#13864 Add dyz60
  keyboards/dyz/dyz60/config.h
  keyboards/dyz/dyz60/dyz60.c
  keyboards/dyz/dyz60/dyz60.h
  keyboards/dyz/dyz60/info.json
  keyboards/dyz/dyz60/keymaps/default/keymap.c
  keyboards/dyz/dyz60/keymaps/via/keymap.c
  keyboards/dyz/dyz60/keymaps/via/rules.mk
  keyboards/dyz/dyz60/rules.mk
Labels: keyboard, keymap, via

#13840 Add superuser keyboard definitions.
  keyboards/superuser/ext/config.h
  keyboards/superuser/ext/ext.c
  keyboards/superuser/ext/ext.h
  keyboards/superuser/ext/info.json
  keyboards/superuser/ext/keymaps/default/keymap.c
  keyboards/superuser/ext/keymaps/default/readme.md
  keyboards/superuser/ext/keymaps/via/keymap.c
  keyboards/superuser/ext/keymaps/via/readme.md
  keyboards/superuser/ext/keymaps/via/rules.mk
  keyboards/superuser/ext/readme.md
  keyboards/superuser/ext/rules.mk
  keyboards/superuser/frl/config.h
  keyboards/superuser/frl/frl.c
  keyboards/superuser/frl/frl.h
  keyboards/superuser/frl/info.json
  keyboards/superuser/frl/keymaps/default/keymap.c
  keyboards/superuser/frl/keymaps/default/readme.md
  keyboards/superuser/frl/keymaps/via/keymap.c
  keyboards/superuser/frl/keymaps/via/readme.md
  keyboards/superuser/frl/keymaps/via/rules.mk
  keyboards/superuser/frl/readme.md
  keyboards/superuser/frl/rules.mk
  keyboards/superuser/tkl/config.h
  keyboards/superuser/tkl/info.json
  keyboards/superuser/tkl/keymaps/default/keymap.c
  keyboards/superuser/tkl/keymaps/default/readme.md
  keyboards/superuser/tkl/keymaps/via/keymap.c
  keyboards/superuser/tkl/keymaps/via/readme.md
  keyboards/superuser/tkl/keymaps/via/rules.mk
  keyboards/superuser/tkl/readme.md
  keyboards/superuser/tkl/rules.mk
  keyboards/superuser/tkl/tkl.c
  keyboards/superuser/tkl/tkl.h
Labels: keyboard, keymap, via
