Repository qmk/qmk_firmware, pull requests merged in 2021-05, with the labels that each got.

#12706 Allow <keyboard>.h to be optional when going data driven
  build_keyboard.mk
  keyboards/forever65/forever65.c
  keyboards/forever65/forever65.h
  lib/python/qmk/cli/generate/__init__.py
  lib/python/qmk/cli/generate/keyboard_h.py
Labels: cli, core, enhancement, keyboard, python

#12770 Fix transport suspend state
  quantum/split_common/transport.c
Labels: cli, core, documentation, keyboard, keymap, translation, via

#12781 Fix unused import in recent generation code
  lib/python/qmk/cli/generate/keyboard_h.py
Labels: cli, python

#12780 Shim cli to new keyboard script
  docs/cli_commands.md
  lib/python/qmk/cli/new/__init__.py
  lib/python/qmk/cli/new/keyboard.py
Labels: cli, documentation, python

#12750 Fix comment parsing
  keyboards/monstargear/xo87/rgb/config.h
  lib/python/qmk/c_parse.py
Labels: cli, keyboard, python

#12796 Update noroadsleft userspace and keymaps (2021-05-03)
  keyboards/coseyfannitutti/discipline/keymaps/noroadsleft/keymap.c
  keyboards/kbdfans/kbd75/keymaps/noroadsleft/keymap.c
  keyboards/kc60/keymaps/noroadsleft/keymap.c
  keyboards/kc60/keymaps/noroadsleft/readme.md
  users/noroadsleft/readme.md
Labels: keymap

#11996 [Keyboard] added Time 80 Reforged by Fox Lab
  keyboards/foxlab/time_re/hotswap/config.h
  keyboards/foxlab/time_re/hotswap/hotswap.c
  keyboards/foxlab/time_re/hotswap/hotswap.h
  keyboards/foxlab/time_re/hotswap/info.json
  keyboards/foxlab/time_re/hotswap/keymaps/default/keymap.c
  keyboards/foxlab/time_re/hotswap/keymaps/via/keymap.c
  keyboards/foxlab/time_re/hotswap/keymaps/via/rules.mk
  keyboards/foxlab/time_re/hotswap/readme.md
  keyboards/foxlab/time_re/hotswap/rules.mk
  keyboards/foxlab/time_re/universal/config.h
  keyboards/foxlab/time_re/universal/info.json
  keyboards/foxlab/time_re/universal/keymaps/default/keymap.c
  keyboards/foxlab/time_re/universal/keymaps/via/keymap.c
  keyboards/foxlab/time_re/universal/keymaps/via/rules.mk
  keyboards/foxlab/time_re/universal/readme.md
  keyboards/foxlab/time_re/universal/rules.mk
  keyboards/foxlab/time_re/universal/universal.c
  keyboards/foxlab/time_re/universal/universal.h
Labels: keyboard, keymap, via

#12676 Andromeda Keyboard
  keyboards/ai03/andromeda/andromeda.c
  keyboards/ai03/andromeda/andromeda.h
  keyboards/ai03/andromeda/config.h
  keyboards/ai03/andromeda/info.json
  keyboards/ai03/andromeda/keymaps/default/keymap.c
  keyboards/ai03/andromeda/keymaps/via/keymap.c
  keyboards/ai03/andromeda/keymaps/via/rules.mk
  keyboards/ai03/andromeda/readme.md
  keyboards/ai03/andromeda/rules.mk
Labels: keyboard, keymap, via

#12085 Fix qmk flash on FreeBSD
  tmk_core/avr.mk
Labels: core

#11678 Add docs on multiple encoders sharing pins
  docs/feature_encoders.md
Labels: documentation

#12551 Fix DZ60 64 key layout
  keyboards/dz60/dz60.h
Labels: keyboard

#12647 [Keymap] My Arisu layout setup
  keyboards/arisu/keymaps/stanrc85/keymap.c
  keyboards/arisu/keymaps/stanrc85/rules.mk
Labels: keymap

#12815 Update FreeBSD install method
  docs/newbs_getting_started.md
Labels: documentation

#12086 Added OLED fade out support
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
Labels: core, documentation

#12391 Hbbisenieks keymap update to remove kc_ keymaps
  keyboards/keebio/iris/keymaps/hbbisenieks/config.h
  keyboards/keebio/iris/keymaps/hbbisenieks/keymap.c
Labels: keymap

#12832 Fix some references to bin/qmk that slipped in
  build_keyboard.mk
  keyboards/bm43a/keymaps/stevexyz/readme.md
  message.mk
Labels: core, keymap

#12833 Resolve a number of warnings in `qmk generate-api`
  keyboards/40percentclub/25/info.json
  keyboards/40percentclub/6lit/info.json
  keyboards/40percentclub/foobar/info.json
  keyboards/40percentclub/nano/info.json
  keyboards/bm60rgb/info.json
  keyboards/bm60rgb_iso/info.json
  keyboards/bpiphany/unloved_bastard/info.json
  keyboards/capsunlocked/cu80/v2_ansi/rgb/config.h
  keyboards/capsunlocked/cu80/v2_ansi/rgb/info.json
  keyboards/capsunlocked/cu80/v2_ansi/rgb/rules.mk
  keyboards/capsunlocked/cu80/v2_iso/rgb/config.h
  keyboards/capsunlocked/cu80/v2_iso/rgb/info.json
  keyboards/capsunlocked/cu80/v2_iso/rgb/rules.mk
  keyboards/converter/ibm_5291/info.json
  keyboards/coseyfannitutti/discipline/info.json
  keyboards/duck/eagle_viper/info.json
  keyboards/ergo42/info.json
  keyboards/idb/idb_60/info.json
  keyboards/keebio/nyquist/info.json
  keyboards/keebio/quefrency/info.json
  keyboards/ploopyco/trackball/config.h
  keyboards/ploopyco/trackball/info.json
  keyboards/ploopyco/trackball_mini/config.h
  keyboards/ploopyco/trackball_nano/config.h
  keyboards/ramonimbao/mona/info.json
  keyboards/sowbug/68keys/info.json
  keyboards/sowbug/ansi_tkl/info.json
  keyboards/telophase/telophase.h
  keyboards/tkw/grandiceps/config.h
  keyboards/tkw/grandiceps/info.json
  keyboards/zlant/info.json
Labels: keyboard

#10560 add ttys0's planck and preonic keymaps
  keyboards/planck/keymaps/ttys0/config.h
  keyboards/planck/keymaps/ttys0/keymap.c
  keyboards/planck/keymaps/ttys0/readme.md
  keyboards/planck/keymaps/ttys0/rules.mk
  keyboards/preonic/keymaps/ttys0/config.h
  keyboards/preonic/keymaps/ttys0/keymap.c
  keyboards/preonic/keymaps/ttys0/readme.md
  keyboards/preonic/keymaps/ttys0/rules.mk
Labels: keymap

#12483 haptic: correct size of reserved field in the haptic structure. This saves 1 byte of wasted SRAM.
  drivers/haptic/haptic.h
Labels: core

#12828 New command: qmk console
  .github/workflows/cli.yml
  bin/qmk
  docs/cli_commands.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/console.py
  requirements-dev.txt
  util/install/arch.sh
  util/install/debian.sh
  util/install/fedora.sh
  util/install/gentoo.sh
  util/install/msys2.sh
  util/udev/50-qmk.rules
Labels: CI, cli, core, documentation, python

#12473 Allow MAKE environment override for 'qmk clean'
  lib/python/qmk/cli/clean.py
  lib/python/qmk/commands.py
Labels: bug, cli, python

#11627 Align qmk info ascii logic with milc logging
  lib/python/qmk/cli/info.py
Labels: awaiting review, cli, enhancement, python

#12497 Add script to perform parallel builds.
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/info.py
  lib/python/qmk/cli/multibuild.py
Labels: cli, python

#12846 Remove pointless SERIAL_LINK_ENABLE rules
  keyboards/boston_meetup/2019/rules.mk
  keyboards/ckeys/thedora/rules.mk
  keyboards/hadron/ver3/rules.mk
  keyboards/hs60/v2/ansi/rules.mk
  keyboards/hs60/v2/hhkb/rules.mk
  keyboards/hs60/v2/iso/rules.mk
  keyboards/moonlander/rules.mk
  keyboards/nk65/rules.mk
  keyboards/planck/ez/rules.mk
  keyboards/planck/keymaps/ishtob/rule.mk
  keyboards/planck/rev6/rules.mk
  keyboards/preonic/rev3/rules.mk
  keyboards/tkc/candybar/lefty/rules.mk
  keyboards/tkc/candybar/righty/rules.mk
  layouts/community/ortho_4x12/bocaj/rules.mk
  layouts/community/ortho_4x12/drashna/rules.mk
Labels: enhancement, keyboard, keymap

#12847 CLI: Use BASH if SHELL variable is not set (Windows)
  lib/python/qmk/commands.py
Labels: cli, python

#12849 Fix the makefile snippet so flake8 and yapf don't fight
  lib/python/qmk/cli/multibuild.py
Labels: cli, python

#12850 KBDMini refactor
  keyboards/kbdfans/kbdmini/config.h
  keyboards/kbdfans/kbdmini/info.json
  keyboards/kbdfans/kbdmini/kbdmini.c
  keyboards/kbdfans/kbdmini/kbdmini.h
  keyboards/kbdfans/kbdmini/keymaps/default/keymap.c
  keyboards/kbdfans/kbdmini/readme.md
  keyboards/kbdfans/kbdmini/rules.mk
Labels: keyboard, keymap

#12848 Catch 'LAYOUTS = all' in lint
  lib/python/qmk/info.py
Labels: cli, enhancement, python

#12284 Make Swap Hands use PROGMEM
  docs/feature_swap_hands.md
  docs/ja/feature_swap_hands.md
  keyboards/40percentclub/25/25.c
  keyboards/40percentclub/6lit/6lit.c
  keyboards/40percentclub/foobar/foobar.c
  keyboards/adkb96/adkb96.c
  keyboards/centromere/centromere.c
  keyboards/crkbd/crkbd.c
  keyboards/ergo42/ergo42.c
  keyboards/ergodox_ez/ergodox_ez.c
  keyboards/ergodox_infinity/ergodox_infinity.c
  keyboards/ergoslab/rev1/rev1.c
  keyboards/gergo/gergo.c
  keyboards/handwired/dactyl/dactyl.c
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/5x6_right_trackball.c
  keyboards/handwired/pterodactyl/pterodactyl.c
  keyboards/jian/handwired/handwired.c
  keyboards/jian/nsrev2/nsrev2.c
  keyboards/jian/rev1/rev1.c
  keyboards/jian/rev2/rev2.c
  keyboards/keebio/iris/rev1/rev1.c
  keyboards/keebio/iris/rev1_led/rev1_led.c
  keyboards/keebio/iris/rev2/rev2.c
  keyboards/keebio/iris/rev3/rev3.c
  keyboards/keebio/levinson/levinson.c
  keyboards/keebio/wavelet/wavelet.c
  keyboards/kyria/rev1/rev1.c
  keyboards/lets_split/lets_split.c
  keyboards/lets_split_eh/lets_split_eh.c
  keyboards/mitosis/mitosis.c
  keyboards/moonlander/moonlander.c
  keyboards/niu_mini/niu_mini.c
  keyboards/orthodox/rev1/rev1.c
  keyboards/orthodox/rev3/rev3.c
  keyboards/orthodox/rev3_teensy/rev3_teensy.c
  keyboards/planck/planck.c
  keyboards/preonic/rev1/rev1.c
  keyboards/preonic/rev2/rev2.c
  keyboards/preonic/rev3/rev3.c
  keyboards/redox_w/redox_w.c
  keyboards/sirius/uni660/rev1/rev1.c
  keyboards/sirius/uni660/rev2/rev2.c
  keyboards/splitty/splitty.c
  keyboards/telophase/telophase.c
  keyboards/vitamins_included/vitamins_included.c
  tmk_core/common/action.c
  tmk_core/common/action.h
Labels: core, documentation, keyboard, translation

#12856 Fix another `bin/qmk` reference
  tmk_core/avr.mk
Labels: core

#12854 Lagrange handwired Configurator bugfix
  keyboards/handwired/lagrange/info.json
Labels: enhancement, keyboard

#11476 Improve our CI tests
  .github/workflows/format.yaml
  lib/python/qmk/cli/cformat.py
  lib/python/qmk/cli/generate/api.py
  lib/python/qmk/cli/pyformat.py
  lib/python/qmk/cli/pytest.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: CI, cli, python

#12416 Move the module checking and updating to lib/python
  bin/qmk
  lib/python/qmk/cli/__init__.py
Labels: cli, python

#12853 Add EEPROM defaults for Dynamic Keymaps
  quantum/dynamic_keymap.c
Labels: core

#10419 Turn OLED off on suspend in soundmonster keymap
  keyboards/crkbd/keymaps/soundmonster/keymap.c
Labels: awaiting review, keymap

#11344 VIA support for Preonic Rev3
  keyboards/preonic/config.h
  keyboards/preonic/keymaps/via/config.h
  keyboards/preonic/keymaps/via/keymap.c
  keyboards/preonic/keymaps/via/readme.md
  keyboards/preonic/keymaps/via/rules.mk
  keyboards/preonic/rev1/config.h
  keyboards/preonic/rev2/config.h
  keyboards/preonic/rev3/config.h
Labels: keyboard, keymap, on hold, via

#12232 peepeetee's custom keymap for bm68rgb
  keyboards/bm68rgb/keymaps/peepeetee/config.h
  keyboards/bm68rgb/keymaps/peepeetee/keymap.c
  keyboards/bm68rgb/keymaps/peepeetee/keymap.h
  keyboards/bm68rgb/keymaps/peepeetee/readme.md
Labels: keymap

#12723 Fixup `monarch` build errors on `develop` branch.
  keyboards/monarch/config.h
  keyboards/monarch/halconf.h
  keyboards/monarch/mcuconf.h
Labels: bug, keyboard

#12866 Fix syntax error when compiling for ARM
  tmk_core/rules.mk
Labels: bug, core

#12662 Some fixes for the Bakeneko variant DB60s
  keyboards/cannonkeys/db60/config.h
  keyboards/cannonkeys/db60/db60.h
  keyboards/cannonkeys/db60/hotswap/config.h
  keyboards/cannonkeys/db60/hotswap/hotswap.h
  keyboards/cannonkeys/db60/hotswap/readme.md
  keyboards/cannonkeys/db60/hotswap/rules.mk
  keyboards/cannonkeys/db60/j02/config.h
  keyboards/cannonkeys/db60/j02/j02.h
  keyboards/cannonkeys/db60/j02/readme.md
  keyboards/cannonkeys/db60/j02/rules.mk
  keyboards/cannonkeys/db60/keymaps/via/keymap.c
  keyboards/cannonkeys/db60/readme.md
  keyboards/cannonkeys/db60/rev2/config.h
  keyboards/cannonkeys/db60/rev2/readme.md
  keyboards/cannonkeys/db60/rev2/rev2.h
  keyboards/cannonkeys/db60/rev2/rules.mk
  keyboards/cannonkeys/db60/rules.mk
Labels: keyboard, keymap, via

#12868 Add setup, clone, and env to the list of commands we allow
  lib/python/qmk/cli/__init__.py
Labels: cli, python

#12428 add handwired/swiftrax/walter
  keyboards/handwired/swiftrax/walter/config.h
  keyboards/handwired/swiftrax/walter/info.json
  keyboards/handwired/swiftrax/walter/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/walter/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/walter/keymaps/via/rules.mk
  keyboards/handwired/swiftrax/walter/readme.md
  keyboards/handwired/swiftrax/walter/rules.mk
  keyboards/handwired/swiftrax/walter/walter.c
  keyboards/handwired/swiftrax/walter/walter.h
Labels: keyboard, keymap, via

#12864 Rename `point_t` -> `led_point_t`
  quantum/led_matrix.c
  quantum/led_matrix_types.h
  quantum/rgb_matrix.c
  quantum/rgb_matrix_types.h
Labels: core, enhancement

#12646 Fix Cordillera LED states config
  keyboards/coarse/cordillera/config.h
Labels: keyboard

#12725 USB suspend option and LED position change for The Mark 65
  keyboards/boardsource/the_mark/config.h
  keyboards/boardsource/the_mark/the_mark.c
Labels: keyboard

#12558 [Keyboard] Titan60 LED and keymap updates
  keyboards/acekeyboard/titan60/config.h
  keyboards/acekeyboard/titan60/info.json
  keyboards/acekeyboard/titan60/keymaps/default/keymap.c
  keyboards/acekeyboard/titan60/keymaps/iso/keymap.c
  keyboards/acekeyboard/titan60/keymaps/tsangan/keymap.c
  keyboards/acekeyboard/titan60/keymaps/utilitarian/keymap.c
  keyboards/acekeyboard/titan60/keymaps/via/keymap.c
  keyboards/acekeyboard/titan60/readme.md
  keyboards/acekeyboard/titan60/titan60.h
Labels: keyboard, keymap, via

#12643 Update: layout/community/ortho_4x12/junonum
  layouts/community/ortho_4x12/junonum/keymap.c
Labels: keymap

#12878 Add missing LED Matrix suspend code to suspend.c
  tmk_core/common/avr/suspend.c
  tmk_core/common/chibios/suspend.c
Labels: bug, core

#12703 Add np12
  keyboards/np12/config.h
  keyboards/np12/info.json
  keyboards/np12/keymaps/default/keymap.c
  keyboards/np12/keymaps/default/readme.md
  keyboards/np12/keymaps/via/keymap.c
  keyboards/np12/keymaps/via/rules.mk
  keyboards/np12/np12.c
  keyboards/np12/np12.h
  keyboards/np12/readme.md
  keyboards/np12/rules.mk
Labels: keyboard, keymap, via

#12871 x-bows nature: fix led order and colors
  keyboards/xbows/nature/nature.c
Labels: keyboard

#12886 Allow for overriding clocks on F4xx.
  platforms/chibios/BLACKPILL_STM32_F401/configs/config.h
  platforms/chibios/BLACKPILL_STM32_F411/configs/config.h
Labels: core

#12827 [Keyboard] ANAVI Macro Pad 2 update readme.md
  keyboards/anavi/macropad2/readme.md
Labels: keyboard

#12685 LED Matrix: Documentation
  docs/feature_led_matrix.md
  docs/feature_rgb_matrix.md
Labels: documentation, enhancement

#12765 Added via keymap for crbn keyboard
  keyboards/crbn/keymaps/via/keymap.c
  keyboards/crbn/keymaps/via/rules.mk
Labels: keymap, via

#12582 Whitefox
  keyboards/whitefox/keymaps/mattrighetti/keymap.c
  keyboards/whitefox/keymaps/mattrighetti/rules.mk
Labels: keymap

#12591 Keymap piv3rt
  keyboards/dztech/dz60rgb/keymaps/piv3rt/config.h
  keyboards/dztech/dz60rgb/keymaps/piv3rt/keymap.c
  keyboards/dztech/dz60rgb/keymaps/piv3rt/rules.mk
Labels: keymap

#12738 Redox custom keymap (jeherve): updates to deprecated code and bugfixes
  keyboards/redox/keymaps/jeherve/config.h
  keyboards/redox/keymaps/jeherve/keymap.c
  keyboards/redox/keymaps/jeherve/readme.md
Labels: keymap

#12807 add support for ortho Candybar and NOP60 PCBs
  keyboards/checkerboards/candybar_ortho/candybar_ortho.c
  keyboards/checkerboards/candybar_ortho/candybar_ortho.h
  keyboards/checkerboards/candybar_ortho/config.h
  keyboards/checkerboards/candybar_ortho/info.json
  keyboards/checkerboards/candybar_ortho/keymaps/2x3u/config.h
  keyboards/checkerboards/candybar_ortho/keymaps/2x3u/keymap.c
  keyboards/checkerboards/candybar_ortho/keymaps/7u/config.h
  keyboards/checkerboards/candybar_ortho/keymaps/7u/keymap.c
  keyboards/checkerboards/candybar_ortho/keymaps/default/config.h
  keyboards/checkerboards/candybar_ortho/keymaps/default/keymap.c
  keyboards/checkerboards/candybar_ortho/keymaps/default/readme.md
  keyboards/checkerboards/candybar_ortho/keymaps/via/config.h
  keyboards/checkerboards/candybar_ortho/keymaps/via/keymap.c
  keyboards/checkerboards/candybar_ortho/keymaps/via/readme.md
  keyboards/checkerboards/candybar_ortho/keymaps/via/rules.mk
  keyboards/checkerboards/candybar_ortho/readme.md
  keyboards/checkerboards/candybar_ortho/rules.mk
  keyboards/checkerboards/nop60/config.h
  keyboards/checkerboards/nop60/info.json
  keyboards/checkerboards/nop60/keymaps/2x3u/config.h
  keyboards/checkerboards/nop60/keymaps/2x3u/keymap.c
  keyboards/checkerboards/nop60/keymaps/7u/config.h
  keyboards/checkerboards/nop60/keymaps/7u/keymap.c
  keyboards/checkerboards/nop60/keymaps/via/config.h
  keyboards/checkerboards/nop60/keymaps/via/keymap.c
  keyboards/checkerboards/nop60/keymaps/via/rules.mk
  keyboards/checkerboards/nop60/nop60.c
  keyboards/checkerboards/nop60/nop60.h
  keyboards/checkerboards/nop60/readme.md
  keyboards/checkerboards/nop60/rules.mk
Labels: keyboard, keymap, via

#12879 Add Axon Keyboard
  keyboards/handwired/axon/axon.c
  keyboards/handwired/axon/axon.h
  keyboards/handwired/axon/config.h
  keyboards/handwired/axon/info.json
  keyboards/handwired/axon/keymaps/default/keymap.c
  keyboards/handwired/axon/readme.md
  keyboards/handwired/axon/rules.mk
Labels: keyboard, keymap

#12867 update planck aliases
  keyboards/planck/info.json
Labels: keyboard

#12844 [Keyboard] Add Ky01
  keyboards/ky01/config.h
  keyboards/ky01/info.json
  keyboards/ky01/keymaps/default/keymap.c
  keyboards/ky01/keymaps/via/keymap.c
  keyboards/ky01/keymaps/via/rules.mk
  keyboards/ky01/ky01.c
  keyboards/ky01/ky01.h
  keyboards/ky01/readme.md
  keyboards/ky01/rules.mk
Labels: keyboard, keymap, via

#12779 [Keymap] ANAVI Macro Pad 2 add MS Teams keymap
  keyboards/anavi/macropad2/keymaps/msteams/keymap.c
  keyboards/anavi/macropad2/keymaps/msteams/rules.mk
Labels: keymap

#12602 Deprecate `send_unicode_hex_string()`
  docs/feature_unicode.md
  keyboards/1upkeyboards/sweet16/keymaps/ridingintraffic/keymap.c
  keyboards/handwired/2x5keypad/keymaps/default_tapdance/keymap.c
  keyboards/mechmini/v2/keymaps/wsturgiss/keymap.c
  keyboards/spaceman/2_milk/keymaps/emoji/keymap.c
  keyboards/yatara/drink_me/keymaps/queen/keymap.c
  users/arkag/arkag.c
  users/curry/process_records.c
  users/d4mation/macros.c
  users/kuchosauronad0/process_records.c
  users/kuchosauronad0/unicode.h
  users/ridingqwerty/process_records.c
  users/yet-another-developer/process_records.c
  users/yet-another-developer/unicode.h
Labels: documentation, enhancement, keymap

#12888 Fix spelling mistake regarding LED Matrix in split_common.
  quantum/split_common/transport.c
Labels: core

#12661 [handwired/bolek] Add PERMISSIVE_HOLD and IGNORE_MOD_TAP_INTERRUPT
  keyboards/handwired/bolek/config.h
Labels: keyboard

#12749 Add iris keymap 'boo'
  keyboards/keebio/iris/keymaps/boo/config.h
  keyboards/keebio/iris/keymaps/boo/keymap.c
  keyboards/keebio/iris/keymaps/boo/rules.mk
Labels: keymap

#12876 Add Gvalchca SpaccBoard
  keyboards/gvalchca/spaccboard/config.h
  keyboards/gvalchca/spaccboard/info.json
  keyboards/gvalchca/spaccboard/keymaps/default/keymap.c
  keyboards/gvalchca/spaccboard/keymaps/default/readme.md
  keyboards/gvalchca/spaccboard/keymaps/via/keymap.c
  keyboards/gvalchca/spaccboard/keymaps/via/rules.mk
  keyboards/gvalchca/spaccboard/readme.md
  keyboards/gvalchca/spaccboard/rules.mk
  keyboards/gvalchca/spaccboard/spaccboard.c
  keyboards/gvalchca/spaccboard/spaccboard.h
Labels: keyboard, keymap, via

#12624 Own/dactyl
  keyboards/handwired/dactyl_manuform/5x6_5/keymaps/cykedev/config.h
  keyboards/handwired/dactyl_manuform/5x6_5/keymaps/cykedev/keymap.c
  keyboards/handwired/dactyl_manuform/5x6_5/keymaps/cykedev/rules.mk
Labels: keymap

#10112 added yampad configuration to keyboard subfolder
  keyboards/yampad/config.h
  keyboards/yampad/keymaps/default/keymap.c
  keyboards/yampad/keymaps/traditional/keymap.c
  keyboards/yampad/readme.md
  keyboards/yampad/rules.mk
  keyboards/yampad/yampad.c
  keyboards/yampad/yampad.h
Labels: keyboard, keymap, pr_checklist_pending

#11559 60% keyboard with ISSI3733RGB IC
  keyboards/latin60rgb/config.h
  keyboards/latin60rgb/info.json
  keyboards/latin60rgb/keymaps/default/keymap.c
  keyboards/latin60rgb/keymaps/via/keymap.c
  keyboards/latin60rgb/keymaps/via/rules.mk
  keyboards/latin60rgb/latin60rgb.c
  keyboards/latin60rgb/latin60rgb.h
  keyboards/latin60rgb/readme.md
  keyboards/latin60rgb/rules.mk
Labels: keyboard, keymap, via

#12889 [Keyboard] Fix Mini and Nano trackball code up
  keyboards/ploopyco/trackball_mini/trackball_mini.c
  keyboards/ploopyco/trackball_nano/trackball_nano.c
  keyboards/ploopyco/trackball_nano/trackball_nano.h
Labels: keyboard

#12287 Add pisces keyboard
  keyboards/pisces/config.h
  keyboards/pisces/info.json
  keyboards/pisces/keymaps/default/config.h
  keyboards/pisces/keymaps/default/keymap.c
  keyboards/pisces/keymaps/default/readme.md
  keyboards/pisces/keymaps/via/config.h
  keyboards/pisces/keymaps/via/keymap.c
  keyboards/pisces/keymaps/via/readme.md
  keyboards/pisces/keymaps/via/rules.mk
  keyboards/pisces/pisces.c
  keyboards/pisces/pisces.h
  keyboards/pisces/readme.md
  keyboards/pisces/rules.mk
Labels: keyboard, keymap, via

#12426 add feels/feels65
  keyboards/feels/feels65/config.h
  keyboards/feels/feels65/feels65.c
  keyboards/feels/feels65/feels65.h
  keyboards/feels/feels65/info.json
  keyboards/feels/feels65/keymaps/default/keymap.c
  keyboards/feels/feels65/keymaps/via/keymap.c
  keyboards/feels/feels65/keymaps/via/rules.mk
  keyboards/feels/feels65/readme.md
  keyboards/feels/feels65/rules.mk
Labels: keyboard, keymap, via

#12398 Fix Alix40 layout
  keyboards/tokyokeyboard/alix40/info.json
Labels: keyboard

#12396 Add fluxlab zplit keyboard
  keyboards/flxlb/zplit/config.h
  keyboards/flxlb/zplit/info.json
  keyboards/flxlb/zplit/keymaps/via/config.h
  keyboards/flxlb/zplit/keymaps/via/keymap.c
  keyboards/flxlb/zplit/readme.md
  keyboards/flxlb/zplit/rules.mk
  keyboards/flxlb/zplit/zplit.c
  keyboards/flxlb/zplit/zplit.h
Labels: keyboard, keymap, via

#12545 Update dactyl manuform 4x5 thumb cluster to match wiring of other dactyl manuform variants
  keyboards/handwired/dactyl_manuform/4x5/4x5.h
Labels: keyboard

#12543 Added smAllice
  keyboards/smallice/config.h
  keyboards/smallice/info.json
  keyboards/smallice/keymaps/default/keymap.c
  keyboards/smallice/keymaps/default/readme.md
  keyboards/smallice/keymaps/via/keymap.c
  keyboards/smallice/keymaps/via/readme.md
  keyboards/smallice/keymaps/via/rules.mk
  keyboards/smallice/readme.md
  keyboards/smallice/rules.mk
  keyboards/smallice/smallice.c
  keyboards/smallice/smallice.h
Labels: keyboard, keymap, via

#12542 Add Training Wheel 40
  keyboards/tw40/config.h
  keyboards/tw40/info.json
  keyboards/tw40/keymaps/default/keymap.c
  keyboards/tw40/keymaps/default/readme.md
  keyboards/tw40/readme.md
  keyboards/tw40/rules.mk
  keyboards/tw40/tw40.c
  keyboards/tw40/tw40.h
Labels: keyboard, keymap

#12704 Add Studio Kestra Cascade PCB
  keyboards/studiokestra/cascade/cascade.c
  keyboards/studiokestra/cascade/cascade.h
  keyboards/studiokestra/cascade/config.h
  keyboards/studiokestra/cascade/info.json
  keyboards/studiokestra/cascade/keymaps/default/keymap.c
  keyboards/studiokestra/cascade/keymaps/default/readme.md
  keyboards/studiokestra/cascade/keymaps/default_tsangan_hhkb/keymap.c
  keyboards/studiokestra/cascade/keymaps/default_tsangan_hhkb/readme.md
  keyboards/studiokestra/cascade/keymaps/via/keymap.c
  keyboards/studiokestra/cascade/keymaps/via/readme.md
  keyboards/studiokestra/cascade/keymaps/via/rules.mk
  keyboards/studiokestra/cascade/readme.md
  keyboards/studiokestra/cascade/rules.mk
Labels: keyboard, keymap, via

#12746 Added FJLabs Polaris PCB's
  keyboards/fjlabs/polaris/config.h
  keyboards/fjlabs/polaris/info.json
  keyboards/fjlabs/polaris/keymaps/default/keymap.c
  keyboards/fjlabs/polaris/keymaps/via/keymap.c
  keyboards/fjlabs/polaris/keymaps/via/rules.mk
  keyboards/fjlabs/polaris/polaris.c
  keyboards/fjlabs/polaris/polaris.h
  keyboards/fjlabs/polaris/readme.md
  keyboards/fjlabs/polaris/rules.mk
Labels: keyboard, keymap, via

#12895 [Keymap] Fix DVORAK/QWERTY status output for kzar keymap
  keyboards/kinesis/kint36/keymaps/kzar/keymap.c
Labels: keymap

#12556 Add UM-70
  keyboards/merge/um70/config.h
  keyboards/merge/um70/info.json
  keyboards/merge/um70/keymaps/default/keymap.c
  keyboards/merge/um70/keymaps/default/readme.md
  keyboards/merge/um70/keymaps/default/rules.mk
  keyboards/merge/um70/keymaps/via/config.h
  keyboards/merge/um70/keymaps/via/keymap.c
  keyboards/merge/um70/keymaps/via/rules.mk
  keyboards/merge/um70/readme.md
  keyboards/merge/um70/rules.mk
  keyboards/merge/um70/um70.c
  keyboards/merge/um70/um70.h
Labels: keyboard, keymap, via

#12897 TKC Portico: layout macro/Configurator touch-up
  keyboards/tkc/portico/info.json
  keyboards/tkc/portico/keymaps/default/keymap.c
  keyboards/tkc/portico/keymaps/via/keymap.c
  keyboards/tkc/portico/portico.h
  keyboards/tkc/portico/readme.md
  keyboards/tkc/portico/rules.mk
Labels: bug, keyboard, keymap, via

#12890 split right shift iso layout
  keyboards/ok60/ok60.h
Labels: keyboard

#12550 Marauder
  keyboards/handwired/marauder/config.h
  keyboards/handwired/marauder/info.json
  keyboards/handwired/marauder/keymaps/default/keymap.c
  keyboards/handwired/marauder/marauder.c
  keyboards/handwired/marauder/marauder.h
  keyboards/handwired/marauder/rules.mk
Labels: keyboard, keymap

#12906 Fix Marauder and add readme
  keyboards/handwired/marauder/config.h
  keyboards/handwired/marauder/info.json
  keyboards/handwired/marauder/keymaps/default/keymap.c
  keyboards/handwired/marauder/marauder.c
  keyboards/handwired/marauder/marauder.h
  keyboards/handwired/marauder/readme.md
  keyboards/handwired/marauder/rules.mk
Labels: keyboard, keymap

#12614 Add Neopad macropad
  keyboards/neopad/config.h
  keyboards/neopad/readme.md
  keyboards/neopad/rev1/config.h
  keyboards/neopad/rev1/info.json
  keyboards/neopad/rev1/keymaps/default/keymap.c
  keyboards/neopad/rev1/readme.md
  keyboards/neopad/rev1/rev1.c
  keyboards/neopad/rev1/rev1.h
  keyboards/neopad/rev1/rules.mk
  keyboards/neopad/rules.mk
Labels: keyboard, keymap

#12583 Add support for Frusta Fundamental
  keyboards/picolab/frusta_fundamental/config.h
  keyboards/picolab/frusta_fundamental/frusta_fundamental.c
  keyboards/picolab/frusta_fundamental/frusta_fundamental.h
  keyboards/picolab/frusta_fundamental/info.json
  keyboards/picolab/frusta_fundamental/keymaps/default/keymap.c
  keyboards/picolab/frusta_fundamental/keymaps/default/readme.md
  keyboards/picolab/frusta_fundamental/keymaps/via/keymap.c
  keyboards/picolab/frusta_fundamental/keymaps/via/rules.mk
  keyboards/picolab/frusta_fundamental/readme.md
  keyboards/picolab/frusta_fundamental/rules.mk
Labels: keyboard, keymap, via

#12874 Add Potato65 Hotswap keyboard
  keyboards/buildakb/potato65hs/config.h
  keyboards/buildakb/potato65hs/info.json
  keyboards/buildakb/potato65hs/keymaps/default/keymap.c
  keyboards/buildakb/potato65hs/keymaps/default/readme.md
  keyboards/buildakb/potato65hs/keymaps/via/keymap.c
  keyboards/buildakb/potato65hs/keymaps/via/readme.md
  keyboards/buildakb/potato65hs/keymaps/via/rules.mk
  keyboards/buildakb/potato65hs/potato65hs.c
  keyboards/buildakb/potato65hs/potato65hs.h
  keyboards/buildakb/potato65hs/readme.md
  keyboards/buildakb/potato65hs/rules.mk
Labels: keyboard, keymap, via

#12884 Add a new keyboard called Rosa
  keyboards/illusion/rosa/config.h
  keyboards/illusion/rosa/info.json
  keyboards/illusion/rosa/keymaps/default/keymap.c
  keyboards/illusion/rosa/keymaps/default/readme.md
  keyboards/illusion/rosa/keymaps/oggi/keymap.c
  keyboards/illusion/rosa/keymaps/oggi/readme.md
  keyboards/illusion/rosa/keymaps/split_bs_rshift/keymap.c
  keyboards/illusion/rosa/keymaps/split_bs_rshift/readme.md
  keyboards/illusion/rosa/keymaps/split_rshift/keymap.c
  keyboards/illusion/rosa/keymaps/split_rshift/readme.md
  keyboards/illusion/rosa/keymaps/via/keymap.c
  keyboards/illusion/rosa/keymaps/via/readme.md
  keyboards/illusion/rosa/keymaps/via/rules.mk
  keyboards/illusion/rosa/readme.md
  keyboards/illusion/rosa/rosa.c
  keyboards/illusion/rosa/rosa.h
  keyboards/illusion/rosa/rules.mk
Labels: keyboard, keymap, via

#12762 Add Chevron
  keyboards/ramonimbao/chevron/chevron.c
  keyboards/ramonimbao/chevron/chevron.h
  keyboards/ramonimbao/chevron/config.h
  keyboards/ramonimbao/chevron/info.json
  keyboards/ramonimbao/chevron/keymaps/default/keymap.c
  keyboards/ramonimbao/chevron/keymaps/iso/keymap.c
  keyboards/ramonimbao/chevron/keymaps/via/keymap.c
  keyboards/ramonimbao/chevron/keymaps/via/rules.mk
  keyboards/ramonimbao/chevron/readme.md
  keyboards/ramonimbao/chevron/rules.mk
Labels: keyboard, keymap, via

#12748 Added Lucid KB Scarlet [Maker KB]
  keyboards/lucid/scarlet/config.h
  keyboards/lucid/scarlet/info.json
  keyboards/lucid/scarlet/keymaps/default/keymap.c
  keyboards/lucid/scarlet/keymaps/via/keymap.c
  keyboards/lucid/scarlet/keymaps/via/rules.mk
  keyboards/lucid/scarlet/readme.md
  keyboards/lucid/scarlet/rules.mk
  keyboards/lucid/scarlet/scarlet.c
  keyboards/lucid/scarlet/scarlet.h
Labels: keyboard, keymap, via

#12747 Added Bolsa Supply Midway60 Keyboard
  keyboards/fjlabs/midway60/config.h
  keyboards/fjlabs/midway60/info.json
  keyboards/fjlabs/midway60/keymaps/default/keymap.c
  keyboards/fjlabs/midway60/keymaps/via/keymap.c
  keyboards/fjlabs/midway60/keymaps/via/rules.mk
  keyboards/fjlabs/midway60/midway60.c
  keyboards/fjlabs/midway60/midway60.h
  keyboards/fjlabs/midway60/readme.md
  keyboards/fjlabs/midway60/rules.mk
Labels: keyboard, keymap, via

#12813 [keyboard] Add Specskeys support
  keyboards/specskeys/config.h
  keyboards/specskeys/info.json
  keyboards/specskeys/keymaps/default/keymap.c
  keyboards/specskeys/keymaps/default/readme.md
  keyboards/specskeys/readme.md
  keyboards/specskeys/rules.mk
  keyboards/specskeys/specskeys.c
  keyboards/specskeys/specskeys.h
Labels: keyboard, keymap

#12668 [Keymap] Reviung41_Ciutadellla
  keyboards/reviung41/keymaps/ciutadellla/config.h
  keyboards/reviung41/keymaps/ciutadellla/keymap.c
  keyboards/reviung41/keymaps/ciutadellla/rules.mk
Labels: keymap

#12598 [Keyboard] Add SiddersKB Majbritt Rev2
  keyboards/sidderskb/majbritt/keymaps/via/keymap.c
  keyboards/sidderskb/majbritt/keymaps/via/rules.mk
  keyboards/sidderskb/majbritt/rev1/config.h
  keyboards/sidderskb/majbritt/rev1/info.json
  keyboards/sidderskb/majbritt/rev1/keymaps/default/keymap.c
  keyboards/sidderskb/majbritt/rev1/keymaps/default/readme.md
  keyboards/sidderskb/majbritt/rev1/readme.md
  keyboards/sidderskb/majbritt/rev1/rev1.c
  keyboards/sidderskb/majbritt/rev1/rev1.h
  keyboards/sidderskb/majbritt/rev1/rules.mk
  keyboards/sidderskb/majbritt/rev2/config.h
  keyboards/sidderskb/majbritt/rev2/info.json
  keyboards/sidderskb/majbritt/rev2/keymaps/default/keymap.c
  keyboards/sidderskb/majbritt/rev2/keymaps/default/readme.md
  keyboards/sidderskb/majbritt/rev2/readme.md
  keyboards/sidderskb/majbritt/rev2/rev2.c
  keyboards/sidderskb/majbritt/rev2/rev2.h
  keyboards/sidderskb/majbritt/rev2/rules.mk
Labels: keyboard, keymap, via

#12527 Add merro60 pcb firmware
  keyboards/chlx/merro60/config.h
  keyboards/chlx/merro60/info.json
  keyboards/chlx/merro60/keymaps/ansi/keymap.c
  keyboards/chlx/merro60/keymaps/default/keymap.c
  keyboards/chlx/merro60/keymaps/hhkb/keymap.c
  keyboards/chlx/merro60/keymaps/iso/keymap.c
  keyboards/chlx/merro60/keymaps/tsangan/keymap.c
  keyboards/chlx/merro60/keymaps/via/keymap.c
  keyboards/chlx/merro60/keymaps/via/rules.mk
  keyboards/chlx/merro60/merro60.c
  keyboards/chlx/merro60/merro60.h
  keyboards/chlx/merro60/readme.md
  keyboards/chlx/merro60/rules.mk
Labels: keyboard, keymap, via

#12268 Rebound underglow settings for via
  keyboards/montsinger/rebound/rev4/keymaps/via/rules.mk
  keyboards/montsinger/rebound/rev4/rules.mk
Labels: keyboard, keymap, via

#12324 Added Perixx Periboard-512 Converter
  keyboards/converter/periboard_512/config.h
  keyboards/converter/periboard_512/info.json
  keyboards/converter/periboard_512/keymaps/default/keymap.c
  keyboards/converter/periboard_512/periboard_512.c
  keyboards/converter/periboard_512/periboard_512.h
  keyboards/converter/periboard_512/readme.md
  keyboards/converter/periboard_512/rules.mk
Labels: keyboard, keymap

#12915 Use milc.subcommand.config instead of qmk.cli.config
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/config.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

#12720 Add scylla keyboard
  keyboards/bastardkb/scylla/config.h
  keyboards/bastardkb/scylla/info.json
  keyboards/bastardkb/scylla/keymaps/default/keymap.c
  keyboards/bastardkb/scylla/keymaps/german_gaming/keymap.c
  keyboards/bastardkb/scylla/keymaps/german_gaming/readme.md
  keyboards/bastardkb/scylla/keymaps/german_gaming/rules.mk
  keyboards/bastardkb/scylla/keymaps/xyverz/config.h
  keyboards/bastardkb/scylla/keymaps/xyverz/keymap.c
  keyboards/bastardkb/scylla/readme.md
  keyboards/bastardkb/scylla/rules.mk
  keyboards/bastardkb/scylla/scylla.c
  keyboards/bastardkb/scylla/scylla.h
Labels: keyboard, keymap

#12913 Add new quefrency keymap
  keyboards/keebio/quefrency/keymaps/jonavin/config.h
  keyboards/keebio/quefrency/keymaps/jonavin/keymap.c
  keyboards/keebio/quefrency/keymaps/jonavin/rules.mk
Labels: keymap

#12905 Giant macro pad
  keyboards/cutie_club/giant_macro_pad/config.h
  keyboards/cutie_club/giant_macro_pad/giant_macro_pad.c
  keyboards/cutie_club/giant_macro_pad/giant_macro_pad.h
  keyboards/cutie_club/giant_macro_pad/keymaps/default/keymap.c
  keyboards/cutie_club/giant_macro_pad/keymaps/via/config.h
  keyboards/cutie_club/giant_macro_pad/keymaps/via/keymap.c
  keyboards/cutie_club/giant_macro_pad/keymaps/via/rules.mk
  keyboards/cutie_club/giant_macro_pad/readme.md
  keyboards/cutie_club/giant_macro_pad/rules.mk
Labels: keyboard, keymap, via

#12912 [Keyboard] Added bradpad support
  keyboards/tempo_turtle/bradpad/bradpad.c
  keyboards/tempo_turtle/bradpad/bradpad.h
  keyboards/tempo_turtle/bradpad/config.h
  keyboards/tempo_turtle/bradpad/info.json
  keyboards/tempo_turtle/bradpad/keymaps/4brad/config.h
  keyboards/tempo_turtle/bradpad/keymaps/4brad/keymap.c
  keyboards/tempo_turtle/bradpad/keymaps/4brad/rules.mk
  keyboards/tempo_turtle/bradpad/keymaps/default/keymap.c
  keyboards/tempo_turtle/bradpad/keymaps/midi_demo/config.h
  keyboards/tempo_turtle/bradpad/keymaps/midi_demo/keymap.c
  keyboards/tempo_turtle/bradpad/keymaps/midi_demo/rules.mk
  keyboards/tempo_turtle/bradpad/keymaps/via/keymap.c
  keyboards/tempo_turtle/bradpad/keymaps/via/rules.mk
  keyboards/tempo_turtle/bradpad/readme.md
  keyboards/tempo_turtle/bradpad/rules.mk
Labels: keyboard, keymap, via

#12918 [Keyboard] Update Rosa vendorId to something unique for VIA
  keyboards/illusion/rosa/config.h
Labels: keyboard, via

#12237 Add function to allow repeated blinking of one layer
  docs/feature_rgblight.md
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core, documentation

#12569 Friedrich
  keyboards/friedrich/config.h
  keyboards/friedrich/friedrich.c
  keyboards/friedrich/friedrich.h
  keyboards/friedrich/info.json
  keyboards/friedrich/keymaps/default/keymap.c
  keyboards/friedrich/keymaps/via/keymap.c
  keyboards/friedrich/keymaps/via/rules.mk
  keyboards/friedrich/readme.md
  keyboards/friedrich/rules.mk
Labels: keyboard, keymap, via

#12705 Add Yeehaw Keyboard
  keyboards/yeehaw/config.h
  keyboards/yeehaw/info.json
  keyboards/yeehaw/keymaps/default/keymap.c
  keyboards/yeehaw/keymaps/via/keymap.c
  keyboards/yeehaw/keymaps/via/rules.mk
  keyboards/yeehaw/readme.md
  keyboards/yeehaw/rules.mk
  keyboards/yeehaw/yeehaw.c
  keyboards/yeehaw/yeehaw.h
Labels: keyboard, keymap, via

#12726 Added Yasui keyboard
  keyboards/yasui/config.h
  keyboards/yasui/info.json
  keyboards/yasui/keymaps/default/keymap.c
  keyboards/yasui/keymaps/via/keymap.c
  keyboards/yasui/keymaps/via/rules.mk
  keyboards/yasui/readme.md
  keyboards/yasui/rules.mk
  keyboards/yasui/yasui.c
  keyboards/yasui/yasui.h
Labels: keyboard, keymap, via

#12882 Crkbd/keymaps/oo
  keyboards/crkbd/keymaps/oo/config.h
  keyboards/crkbd/keymaps/oo/keymap.c
  keyboards/crkbd/keymaps/oo/readme.md
  keyboards/crkbd/keymaps/oo/rules.mk
Labels: keymap

#12933 Fixup housekeeping from being invoked twice per loop.
  tmk_core/common/keyboard.c
  tmk_core/common/keyboard.h
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/chibios/main.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/vusb/main.c
Labels: bug, core

#12934 Fix yeehaw
  keyboards/yeehaw/keymaps/via/keymap.c
Labels: keymap, via

#12566 The Uni keyboard. Add keyboard
  keyboards/the_uni/config.h
  keyboards/the_uni/info.json
  keyboards/the_uni/keymaps/default/keymap.c
  keyboards/the_uni/keymaps/qwerty/keymap.c
  keyboards/the_uni/readme.md
  keyboards/the_uni/rules.mk
  keyboards/the_uni/the_uni.c
  keyboards/the_uni/the_uni.h
Labels: keyboard, keymap

#12909 Make sure 'cformat' only runs on core files
  .github/workflows/format.yaml
  lib/python/qmk/cli/cformat.py
Labels: CI, cli, python

#12891 revert error introduced in PR #12871
  keyboards/xbows/nature/nature.c
Labels: keyboard

#12945 matrix: wait for row signal to go HIGH for every row
  quantum/matrix.c
  quantum/split_common/matrix.c
Labels: bug, core

#12940 Align our subprocess usage with current best practices.
  lib/python/qmk/cli/cformat.py
  lib/python/qmk/cli/clean.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/cli/generate/docs.py
  lib/python/qmk/cli/multibuild.py
  lib/python/qmk/cli/new/keyboard.py
  lib/python/qmk/cli/pyformat.py
  lib/python/qmk/cli/pytest.py
  lib/python/qmk/commands.py
  lib/python/qmk/keymap.py
  lib/python/qmk/os_helpers/__init__.py
  lib/python/qmk/os_helpers/linux/__init__.py
  lib/python/qmk/submodules.py
  lib/python/qmk/tests/test_cli_commands.py
  util/install/debian.sh
  util/install/fedora.sh
  util/install/freebsd.sh
  util/install/msys2.sh
  util/install/void.sh
  util/qmk_install.sh
Labels: cli, core, python

#12976 Ensure qmk generate-layouts does not conflict with existing keymap aliases
  lib/python/qmk/cli/generate/layouts.py
Labels: cli, python

#12220 Add 75 Pixels Ortholinear Keyboard
  keyboards/sendyyeah/75pixels/75pixels.c
  keyboards/sendyyeah/75pixels/75pixels.h
  keyboards/sendyyeah/75pixels/config.h
  keyboards/sendyyeah/75pixels/info.json
  keyboards/sendyyeah/75pixels/keymaps/default/keymap.c
  keyboards/sendyyeah/75pixels/keymaps/via/keymap.c
  keyboards/sendyyeah/75pixels/keymaps/via/rules.mk
  keyboards/sendyyeah/75pixels/readme.md
  keyboards/sendyyeah/75pixels/rules.mk
Labels: keyboard, keymap, via

#12486 [keymap] Add kanbara's planck/rev4 keymap
  keyboards/planck/keymaps/kanbara/config.h
  keyboards/planck/keymaps/kanbara/keymap.c
  keyboards/planck/keymaps/kanbara/readme.md
  keyboards/planck/keymaps/kanbara/rules.mk
Labels: keymap

#12342 Add support for up to 4 IS31FL3733 drivers
  docs/feature_led_matrix.md
  docs/feature_rgb_matrix.md
  drivers/issi/is31fl3733.c
  quantum/led_matrix_drivers.c
  quantum/rgb_matrix_drivers.c
Labels: core, documentation

#12334 Add support for alfredslab 65
  keyboards/alfredslab/swift65/solder/config.h
  keyboards/alfredslab/swift65/solder/info.json
  keyboards/alfredslab/swift65/solder/keymaps/default/keymap.c
  keyboards/alfredslab/swift65/solder/keymaps/default/readme.md
  keyboards/alfredslab/swift65/solder/keymaps/via/keymap.c
  keyboards/alfredslab/swift65/solder/keymaps/via/readme.md
  keyboards/alfredslab/swift65/solder/keymaps/via/rules.mk
  keyboards/alfredslab/swift65/solder/readme.md
  keyboards/alfredslab/swift65/solder/rules.mk
  keyboards/alfredslab/swift65/solder/solder.c
  keyboards/alfredslab/swift65/solder/solder.h
  keyboards/ggkeyboards/genesis/hotswap/config.h
  keyboards/ggkeyboards/genesis/hotswap/hotswap.c
  keyboards/ggkeyboards/genesis/hotswap/hotswap.h
  keyboards/ggkeyboards/genesis/hotswap/info.json
  keyboards/ggkeyboards/genesis/hotswap/keymaps/default/keymap.c
  keyboards/ggkeyboards/genesis/hotswap/keymaps/via/keymap.c
  keyboards/ggkeyboards/genesis/hotswap/keymaps/via/rules.mk
  keyboards/ggkeyboards/genesis/hotswap/readme.md
  keyboards/ggkeyboards/genesis/hotswap/rules.mk
  keyboards/ggkeyboards/genesis/solder/config.h
  keyboards/ggkeyboards/genesis/solder/info.json
  keyboards/ggkeyboards/genesis/solder/keymaps/default/keymap.c
  keyboards/ggkeyboards/genesis/solder/keymaps/via/keymap.c
  keyboards/ggkeyboards/genesis/solder/keymaps/via/rules.mk
  keyboards/ggkeyboards/genesis/solder/readme.md
  keyboards/ggkeyboards/genesis/solder/rules.mk
  keyboards/ggkeyboards/genesis/solder/solder.c
  keyboards/ggkeyboards/genesis/solder/solder.h
Labels: keyboard, keymap, pr_checklist_pending, via

#12885 [Keyboard] New Keyboard - Murphpad
  keyboards/mechwild/murphpad/config.h
  keyboards/mechwild/murphpad/info.json
  keyboards/mechwild/murphpad/keymaps/default/keymap.c
  keyboards/mechwild/murphpad/keymaps/via/keymap.c
  keyboards/mechwild/murphpad/keymaps/via/rules.mk
  keyboards/mechwild/murphpad/lib/murphpadfont.c
  keyboards/mechwild/murphpad/murphpad.c
  keyboards/mechwild/murphpad/murphpad.h
  keyboards/mechwild/murphpad/readme.md
  keyboards/mechwild/murphpad/rules.mk
Labels: keyboard, keymap, via

#12865 Updated NK87 GPIO
  keyboards/nk87/config.h
Labels: keyboard

#12825 [Keyboard] Add Prototypist J01 rev 1 support
  keyboards/prototypist/j01/config.h
  keyboards/prototypist/j01/info.json
  keyboards/prototypist/j01/j01.c
  keyboards/prototypist/j01/j01.h
  keyboards/prototypist/j01/keymaps/default/keymap.c
  keyboards/prototypist/j01/keymaps/default/readme.md
  keyboards/prototypist/j01/keymaps/via/keymap.c
  keyboards/prototypist/j01/keymaps/via/readme.md
  keyboards/prototypist/j01/keymaps/via/rules.mk
  keyboards/prototypist/j01/readme.md
  keyboards/prototypist/j01/rules.mk
Labels: keyboard, keymap, via

#12938 Fix typo in summer breeze hardware layout
  keyboards/afternoonlabs/summer_breeze/rev1/rev1.h
Labels: keyboard

#12928 fix typo
  docs/config_options.md
Labels: documentation

#12927 [Keymap] Change paren-pairs and simplify layout in motform keymap
  keyboards/planck/keymaps/motform/config.h
  keyboards/planck/keymaps/motform/keymap.c
  keyboards/planck/keymaps/motform/readme.md
  keyboards/planck/keymaps/motform/rules.mk
Labels: keymap

#12932 Fix wrong _BASE layer for SCRAMBLE default/OLED keymaps
  keyboards/nullbitsco/scramble/keymaps/default/keymap.c
  keyboards/nullbitsco/scramble/keymaps/oled/keymap.c
Labels: keymap

#12972 Caffeinated Serpent65: Configurator layout data fix
  keyboards/caffeinated/serpent65/info.json
Labels: enhancement, keyboard

#12977 Fix Terrazzo build failure
  docs/feature_led_matrix.md
  docs/feature_rgb_matrix.md
  keyboards/terrazzo/config.h
  keyboards/terrazzo/rules.mk
  keyboards/terrazzo/terrazzo.c
Labels: bug, documentation, keyboard

#12979 westfoxtrot Cyclops: Configurator key sequence fix
  keyboards/westfoxtrot/cyclops/info.json
Labels: enhancement, keyboard

#12910 [Keyboard] AkiS
  keyboards/xelus/akis/akis.c
  keyboards/xelus/akis/akis.h
  keyboards/xelus/akis/config.h
  keyboards/xelus/akis/info.json
  keyboards/xelus/akis/keymaps/default/keymap.c
  keyboards/xelus/akis/keymaps/via/keymap.c
  keyboards/xelus/akis/keymaps/via/rules.mk
  keyboards/xelus/akis/readme.md
  keyboards/xelus/akis/rules.mk
Labels: keyboard, keymap, via

#11864 Do not hard set config in CPTC files
  common_features.mk
  platforms/chibios/QMK_PROTON_C/convert_to_proton_c.mk
Labels: core

#12997 Search for the readme.me in higher directories as well
  lib/python/qmk/cli/generate/api.py
  lib/python/qmk/keyboard.py
Labels: cli, python

#13002 Use milc.subcommand.config instead of qmk.cli.config
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/config.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

#12458 Added RAMA WORKS M50-AX
  keyboards/wilba_tech/rama_works_m50_ax/config.h
  keyboards/wilba_tech/rama_works_m50_ax/info.json
  keyboards/wilba_tech/rama_works_m50_ax/keymaps/default/keymap.c
  keyboards/wilba_tech/rama_works_m50_ax/keymaps/via/keymap.c
  keyboards/wilba_tech/rama_works_m50_ax/keymaps/via/rules.mk
  keyboards/wilba_tech/rama_works_m50_ax/rama_works_m50_ax.c
  keyboards/wilba_tech/rama_works_m50_ax/rama_works_m50_ax.h
  keyboards/wilba_tech/rama_works_m50_ax/readme.md
  keyboards/wilba_tech/rama_works_m50_ax/rules.mk
  keyboards/wilba_tech/wt_main.c
Labels: keyboard, keymap, via

#12936 [Keymap] Update to Drashna keymap and user code (based on develop)
  keyboards/c39/keymaps/drashna/config.h
  keyboards/c39/keymaps/drashna/keymap.c
  keyboards/gergo/keymaps/drashna/keymap.c
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/5x6_right_trackball.c
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/config.h
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/keymaps/drashna/config.h
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/keymaps/drashna/keymap.c
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/keymaps/drashna/rules.mk
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/pmw3360.c
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/pointer_transport.c
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/rules.mk
  keyboards/keebio/iris/keymaps/drashna/keymap.c
  keyboards/kyria/keymaps/drashna/config.h
  keyboards/kyria/keymaps/drashna/keymap.c
  keyboards/orthodox/keymaps/drashna/keymap.c
  keyboards/ploopyco/mouse/keymaps/drashna/rules.mk
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ergodox/drashna/rules.mk
  layouts/community/ortho_4x12/drashna/keymap.c
  layouts/community/ortho_5x12/drashna/keymap.c
  layouts/community/split_3x6_3/drashna/keymap.c
  layouts/community/split_3x6_3/drashna/rules.mk
  layouts/community/split_3x6_3/drashna/ssd1306.c
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/drashna.h
  users/drashna/drashna_transport.c
  users/drashna/oled_stuff.c
  users/drashna/oled_stuff.h
  users/drashna/pimoroni_trackball.c
  users/drashna/process_records.h
  users/drashna/rgb_matrix_stuff.c
  users/drashna/rgb_stuff.c
  users/drashna/rules.mk
Labels: keyboard, keymap

#12597 Keyboard: Planck THK
  keyboards/planck/planck.c
  keyboards/planck/planck.h
  keyboards/planck/thk/config.h
  keyboards/planck/thk/info.json
  keyboards/planck/thk/keymaps/thk/keymap.c
  keyboards/planck/thk/keymaps/thk/readme.md
  keyboards/planck/thk/readme.md
  keyboards/planck/thk/rules.mk
  keyboards/planck/thk/thk.c
  keyboards/planck/thk/thk.h
  quantum/audio/driver_avr_pwm_hardware.c
Labels: core, keyboard, keymap

#9842 Add Full-duplex serial driver for ARM boards
  docs/serial_driver.md
  drivers/chibios/serial_usart.c
  drivers/chibios/serial_usart.h
  drivers/chibios/serial_usart_duplex.c
Labels: breaking_change, core, documentation, enhancement, feature, in progress

#12926 [Keymap] update gunp layout for Planck
  keyboards/planck/keymaps/gunp/config.h
  keyboards/planck/keymaps/gunp/keymap.c
  keyboards/planck/keymaps/gunp/readme.md
  keyboards/planck/keymaps/gunp/rules.mk
  keyboards/planck/keymaps/gunp/upload-and-make.sh
Labels: keymap

#12923 [Keyboard] SKErgo
  keyboards/skergo/config.h
  keyboards/skergo/info.json
  keyboards/skergo/keymaps/default/keymap.c
  keyboards/skergo/keymaps/via/keymap.c
  keyboards/skergo/keymaps/via/rules.mk
  keyboards/skergo/readme.md
  keyboards/skergo/rules.mk
  keyboards/skergo/skergo.c
  keyboards/skergo/skergo.h
Labels: keyboard, keymap, via

#12716 Adjustments to Gust Rev1.2
  keyboards/afternoonlabs/gust/keymaps/default/keymap.c
  keyboards/afternoonlabs/gust/keymaps/default/readme.md
  keyboards/afternoonlabs/gust/rev1/config.h
  keyboards/afternoonlabs/gust/rev1/info.json
  keyboards/afternoonlabs/gust/rev1/readme.md
  keyboards/afternoonlabs/gust/rev1/rev1.h
  keyboards/afternoonlabs/gust/rev1/rules.mk
Labels: keyboard, keymap

#12961 Add RGB Matrix support for Bear65 PCB
  keyboards/jacky_studio/bear_65/bear_65.c
  keyboards/jacky_studio/bear_65/config.h
  keyboards/jacky_studio/bear_65/rules.mk
Labels: keyboard

#12973 Add new mercutio keymap and update readme.md for layouts
  keyboards/keebio/quefrency/keymaps/jonavin/config.h
  keyboards/keebio/quefrency/keymaps/jonavin/keymap.c
  keyboards/keebio/quefrency/keymaps/jonavin/readme.md
  keyboards/mechwild/mercutio/keymaps/jonavin/config.h
  keyboards/mechwild/mercutio/keymaps/jonavin/keymap.c
  keyboards/mechwild/mercutio/keymaps/jonavin/readme.md
  keyboards/mechwild/mercutio/keymaps/jonavin/rules.mk
Labels: keymap

#12974 [Keymap] Add new keymap for ut472
  keyboards/ut472/keymaps/stefanopace/config.h
  keyboards/ut472/keymaps/stefanopace/keymap.c
  keyboards/ut472/keymaps/stefanopace/readme.md
  keyboards/ut472/keymaps/stefanopace/rules.mk
Labels: keymap

#12983 Fleuron: Remove LAYOUTS = ortho_6x16
  keyboards/fleuron/rules.mk
Labels: enhancement, keyboard

#12984 Document RGB_MATRIX_FRAMEBUFFER_EFFECTS
  docs/feature_rgb_matrix.md
Labels: documentation

#12987 Document LED_MATRIX_FRAMEBUFFER_EFFECTS
  docs/feature_led_matrix.md
Labels: documentation

#13007 Fix Clawsome/Sedan matrix and default keymap
  keyboards/clawsome/sedan/config.h
  keyboards/clawsome/sedan/keymaps/default/keymap.c
Labels: keyboard, keymap
