Repository qmk/qmk_firmware, pull requests merged in 2021-08, with the labels that each got.

#13832 fix develop branch move file
  keyboards/gmmk/pro/ansi/keymaps/jonavin/rgb_matrix_map.h
Labels: bug, keymap

#13831 [BUG] Fix Key Override includes
  quantum/process_keycode/process_key_override.c
Labels: bug, core

#13838 [Core] [ChibiOS] Fix alignment of USB out report buffer 2 -> 4
  tmk_core/protocol/chibios/usb_main.c
Labels: bug, core

#13841 flash_stm32: don't unlock flash if already unlocked
  tmk_core/common/chibios/flash_stm32.c
Labels: bug, core

#13322 Function96 V2: Fixed info.json file for LAYOUT_default and LAYOUT_ansi_splitspace
  keyboards/function96/v2/info.json
Labels: keyboard

#13856 0xCB Static: fix `qmk info` and Configurator issues
  keyboards/0xcb/static/info.json
  keyboards/0xcb/static/keymaps/default/keymap.c
  keyboards/0xcb/static/keymaps/via/keymap.c
  keyboards/0xcb/static/static.h
Labels: enhancement, keyboard, keymap, via

#13855 Remove extra word
  docs/feature_bootmagic.md
Labels: documentation

#13862 capsunlocked/cu7: fix missing key object
  keyboards/capsunlocked/cu7/info.json
Labels: enhancement, keyboard

#13866 40percentclub/nori: fix matrix reference in LAYOUT_ortho_4x8
  keyboards/40percentclub/nori/nori.h
  keyboards/40percentclub/nori/rules.mk
Labels: bug, keyboard

#13224 Minor cleanup of bcat keymaps and userspace
  keyboards/9key/keymaps/bcat/keymap.c
  keyboards/eco/keymaps/bcat/keymap.c
  keyboards/keebio/bdn9/keymaps/bcat/keymap.c
  keyboards/keebio/quefrency/keymaps/bcat/config.h
  keyboards/keebio/quefrency/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/config.h
  keyboards/lily58/keymaps/bcat/keymap.c
  layouts/community/60_ansi_split_bs_rshift/bcat/keymap.c
  layouts/community/60_tsangan_hhkb/bcat/keymap.c
  layouts/community/65_ansi_blocker_split_bs/bcat/keymap.c
  layouts/community/split_3x6_3/bcat/keymap.c
  layouts/community/split_3x6_3/bcat/readme.md
  users/bcat/bcat.c
  users/bcat/bcat.h
  users/bcat/readme.md
Labels: keymap

#13867 4pplet/eagle_viper_rep/rev_a: fix missing key object
  keyboards/4pplet/eagle_viper_rep/info.json
Labels: enhancement, keyboard

#13868 aves65: complete layout data
  keyboards/aves65/info.json
Labels: enhancement, keyboard

#12116 Unconditionally call led_init_ports
  keyboards/clueboard/66/rev4/rev4.c
  keyboards/dk60/dk60.c
  keyboards/evyd13/atom47/rev2/rev2.c
  keyboards/evyd13/atom47/rev3/rev3.c
  keyboards/evyd13/gh80_3700/gh80_3700.c
  keyboards/evyd13/pockettype/pockettype.c
  keyboards/handwired/jopr/jopr.c
  keyboards/hardlineworks/otd_plus/config.h
  keyboards/hardlineworks/otd_plus/otd_plus.c
  keyboards/id80/config.h
  keyboards/id80/id80.c
  keyboards/id87/config.h
  keyboards/id87/id87.c
  keyboards/kmini/kmini.c
  keyboards/knops/mini/keymaps/default-gsm-newbs/keymap.c
  keyboards/knops/mini/keymaps/default/keymap.c
  keyboards/knops/mini/keymaps/knops/keymap.c
  keyboards/knops/mini/keymaps/mverteuil/keymap.c
  keyboards/mechlovin/hannah60rgb/rev1/rev1.c
  keyboards/mechlovin/hannah910/hannah910.c
  keyboards/mechlovin/infinity87/rev2/rev2.c
  keyboards/mechlovin/infinityce/infinityce.c
  keyboards/mechlovin/kanu/kanu.c
  keyboards/tokyokeyboard/tokyo60/tokyo60.c
  keyboards/wheatfield/split75/config.h
  keyboards/wheatfield/split75/split75.c
  keyboards/wheatfield/split75/split75.h
  keyboards/wilba_tech/rama_works_m10_b/keymaps/knops/keymap.c
  keyboards/wilba_tech/rama_works_m6_a/keymaps/knops/keymap.c
  quantum/quantum.c
Labels: breaking_change, core, keyboard, keymap

#12069 Move print/debug files to quantum
  build_test.mk
  common_features.mk
  quantum/logging/debug.c
  quantum/logging/debug.h
  quantum/logging/nodebug.h
  quantum/logging/print.c
  quantum/logging/print.h
  quantum/logging/print.mk
  quantum/logging/sendchar.c
  quantum/logging/sendchar.h
  tmk_core/common.mk
  tmk_core/common/lib_printf.mk
  tmk_core/common/sendchar_null.c
Labels: breaking_change, core, enhancement

#12870 Remove the #10088 hotfix for Teensy 3.1-like Input:Club keyboards
  keyboards/ergodox_infinity/rules.mk
  keyboards/k_type/rules.mk
  keyboards/whitefox/rules.mk
  platforms/chibios/IC_TEENSY_3_1/board/board.c
  tmk_core/protocol/chibios/usb_main.c
Labels: core, keyboard

#12831 Trigger a wakeup after USB Reset on ChibiOS
  tmk_core/protocol/chibios/usb_main.c
Labels: core

#13128 Fix overflows in WPM calculations
  quantum/wpm.c
Labels: core

#13824 rb86
  keyboards/ryanbaekr/rb86/config.h
  keyboards/ryanbaekr/rb86/info.json
  keyboards/ryanbaekr/rb86/keymaps/default/keymap.c
  keyboards/ryanbaekr/rb86/keymaps/default/readme.md
  keyboards/ryanbaekr/rb86/keymaps/via/keymap.c
  keyboards/ryanbaekr/rb86/keymaps/via/rules.mk
  keyboards/ryanbaekr/rb86/rb86.c
  keyboards/ryanbaekr/rb86/rb86.h
  keyboards/ryanbaekr/rb86/readme.md
  keyboards/ryanbaekr/rb86/rules.mk
Labels: keyboard, keymap, via

#13875 boardsource/holiday/spooky: update info.json layout macro reference
  keyboards/boardsource/holiday/spooky/info.json
Labels: enhancement, keyboard

#13829 Updated settings.json file to fit VSC's docs
  docs/other_vscode.md
Labels: documentation

#13774 Add bootloader section to keyboard template
  quantum/template/avr/readme.md
  quantum/template/ps2avrgb/readme.md
Labels: core

#13874 barracuda: update info.json layout macro reference
  keyboards/barracuda/info.json
  keyboards/barracuda/rules.mk
Labels: enhancement, keyboard

#11112 Updated Ducky 2 one mini support
  keyboards/ducky/one2mini/1861st/1861st.h
  keyboards/ducky/one2mini/1861st/boards/NUC123SD4AN0/board.c
  keyboards/ducky/one2mini/1861st/boards/NUC123SD4AN0/board.h
  keyboards/ducky/one2mini/1861st/boards/NUC123SD4AN0/board.mk
  keyboards/ducky/one2mini/1861st/chconf.h
  keyboards/ducky/one2mini/1861st/config.h
  keyboards/ducky/one2mini/1861st/info.json
  keyboards/ducky/one2mini/1861st/mcuconf.h
  keyboards/ducky/one2mini/1861st/readme.md
  keyboards/ducky/one2mini/1861st/rules.mk
  keyboards/ducky/one2mini/keymaps/ansi/keymap.c
  keyboards/ducky/one2mini/keymaps/ansi/readme.md
  keyboards/ducky/one2mini/keymaps/default/config.h
  keyboards/ducky/one2mini/keymaps/default/keymap.c
  keyboards/ducky/one2mini/keymaps/default/readme.md
  keyboards/ducky/one2mini/keymaps/iso/keymap.c
  keyboards/ducky/one2mini/keymaps/iso/readme.md
  keyboards/ducky/one2mini/readme.md
  keyboards/ducky/one2mini/rules.mk
Labels: keyboard, keymap, pr_checklist_pending

#13860 BM65ISO: refactor layout macro
  keyboards/bm65iso/bm65iso.h
  keyboards/bm65iso/info.json
  keyboards/bm65iso/keymaps/deadolus/keymap.c
  keyboards/bm65iso/keymaps/default/keymap.c
  keyboards/bm65iso/keymaps/via/keymap.c
  keyboards/bm65iso/rules.mk
Labels: enhancement, keyboard, keymap, via

#13886 [Keyboard] Switch Draculad to using WPM char hack
  keyboards/draculad/keymaps/default/keymap.c
  keyboards/draculad/keymaps/pimoroni/keymap.c
Labels: bug, keymap

#13872 [develop] Fix knops keymaps
  keyboards/knops/mini/keymaps/default-gsm-newbs/keymap.c
  keyboards/knops/mini/keymaps/default/keymap.c
  keyboards/knops/mini/keymaps/knops/keymap.c
  keyboards/knops/mini/keymaps/mverteuil/keymap.c
  keyboards/wilba_tech/rama_works_m6_a/keymaps/knops/keymap.c
Labels: keymap

#13879 cKeys Handwire 101 Refactor
  keyboards/ckeys/handwire_101/config.h
  keyboards/ckeys/handwire_101/handwire_101.c
  keyboards/ckeys/handwire_101/handwire_101.h
  keyboards/ckeys/handwire_101/info.json
  keyboards/ckeys/handwire_101/keymaps/default/config.h
  keyboards/ckeys/handwire_101/keymaps/default/keymap.c
  keyboards/ckeys/handwire_101/rules.mk
Labels: enhancement, keyboard, keymap

#6490 Arm ps2 mouse interrupt
  docs/feature_ps2_mouse.md
  tmk_core/protocol.mk
  tmk_core/protocol/ps2_interrupt.c
  tmk_core/protocol/ps2_io_chibios.c
  tmk_core/protocol/ps2_mouse.c
Labels: enhancement, hacktoberfest-accepted, core, needs testing, documentation, awaiting review

#13898 Coarse board moves matching #9824
  keyboards/coarse/ixora/chconf.h
  keyboards/coarse/ixora/config.h
  keyboards/coarse/ixora/halconf.h
  keyboards/coarse/ixora/info.json
  keyboards/coarse/ixora/ixora.c
  keyboards/coarse/ixora/ixora.h
  keyboards/coarse/ixora/keymaps/default/keymap.c
  keyboards/coarse/ixora/keymaps/wntrmln/keymap.c
  keyboards/coarse/ixora/readme.md
  keyboards/coarse/ixora/rules.mk
  keyboards/coarse/vinta/chconf.h
  keyboards/coarse/vinta/config.h
  keyboards/coarse/vinta/halconf.h
  keyboards/coarse/vinta/info.json
  keyboards/coarse/vinta/keymaps/default/keymap.c
  keyboards/coarse/vinta/readme.md
  keyboards/coarse/vinta/rules.mk
  keyboards/coarse/vinta/vinta.c
  keyboards/coarse/vinta/vinta.h
Labels: keyboard, keymap

#10533 add yaml_build_options target
  show_options.mk
Labels: core, awaiting review

#9205 [Feature] Swap buttons on PS2 Mouse/Trackball
  docs/feature_ps2_mouse.md
  tmk_core/protocol/ps2_mouse.c
Labels: core, documentation, awaiting review, feature

#8591 Process combos earlier & overlapping combos
  docs/config_options.md
  docs/feature_combo.md
  keyboards/gboards/g/keymap_combo.h
  quantum/keymap_common.c
  quantum/process_keycode/process_combo.c
  quantum/process_keycode/process_combo.h
  quantum/quantum.c
  tmk_core/common/action.c
  tmk_core/common/action.h
  tmk_core/common/action_tapping.c
  tmk_core/common/action_tapping.h
Labels: bug, enhancement, core, keyboard, documentation

#13900 Fix up builds after #8591
  keyboards/anavi/macropad2/config.h
  keyboards/anavi/macropad2/info.json
  keyboards/anavi/macropad2/keymaps/binary/keymap.c
  keyboards/anavi/macropad2/keymaps/binary/rules.mk
  keyboards/anavi/macropad2/keymaps/copypaste/keymap.c
  keyboards/anavi/macropad2/keymaps/copypaste/rules.mk
  keyboards/anavi/macropad2/keymaps/default/keymap.c
  keyboards/anavi/macropad2/keymaps/default/rules.mk
  keyboards/anavi/macropad2/keymaps/git/keymap.c
  keyboards/anavi/macropad2/keymaps/google-meet/keymap.c
  keyboards/anavi/macropad2/keymaps/google-meet/rules.mk
  keyboards/anavi/macropad2/keymaps/jitsi/keymap.c
  keyboards/anavi/macropad2/keymaps/jitsi/rules.mk
  keyboards/anavi/macropad2/keymaps/msteams/keymap.c
  keyboards/anavi/macropad2/keymaps/msteams/rules.mk
  keyboards/anavi/macropad2/keymaps/mute/keymap.c
  keyboards/anavi/macropad2/keymaps/mute/rules.mk
  keyboards/anavi/macropad2/keymaps/skype/keymap.c
  keyboards/anavi/macropad2/keymaps/skype/rules.mk
  keyboards/anavi/macropad2/keymaps/tap_dance/config.h
  keyboards/anavi/macropad2/keymaps/tap_dance/keymap.c
  keyboards/anavi/macropad2/keymaps/tap_dance/rules.mk
  keyboards/anavi/macropad2/keymaps/volume/keymap.c
  keyboards/anavi/macropad2/keymaps/volume/rules.mk
  keyboards/anavi/macropad2/keymaps/zoom/keymap.c
  keyboards/anavi/macropad2/keymaps/zoom/rules.mk
  keyboards/anavi/macropad2/macropad2.c
  keyboards/anavi/macropad2/macropad2.h
  keyboards/anavi/macropad2/readme.md
  keyboards/anavi/macropad2/rules.mk
  keyboards/helix/pico/keymaps/default/config.h
Labels: bug, keyboard, keymap

#13895 MetaMechs Timber Wolf Configurator Fixes
  keyboards/metamechs/timberwolf/info.json
Labels: enhancement, keyboard

#13901 [Keyboard] Remove console from keebio via keyboards
  keyboards/keebio/kbo5000/keymaps/via/rules.mk
  keyboards/keebio/sinc/keymaps/via/rules.mk
Labels: keymap, via

#13870 Avoid name conflicts with usb_hid Arduino code
  quantum/quantum.h
  tmk_core/common/arm_atsam/platform_deps.h
  tmk_core/common/avr/platform_deps.h
  tmk_core/common/chibios/platform_deps.h
  tmk_core/common/test/platform_deps.h
Labels: bug, core

#13903 Add replacement screw specifications to GMMK Pro readme
  keyboards/gmmk/pro/readme.md
Labels: keyboard

#13908 Copy GMMK Pro screw specs to ISO readme
  keyboards/gmmk/pro/iso/readme.md
Labels: keyboard

#9404 Add HOLD_ON_OTHER_KEY_PRESS option for dual-role keys
  docs/tap_hold.md
  tmk_core/common/action_tapping.c
Labels: enhancement, core, documentation, awaiting review, feature, breaking_2021q3

#13380 Add owl8 keyboard
  keyboards/owl8/config.h
  keyboards/owl8/keymaps/default/keymap.c
  keyboards/owl8/keymaps/default/readme.md
  keyboards/owl8/keymaps/via/keymap.c
  keyboards/owl8/keymaps/via/readme.md
  keyboards/owl8/keymaps/via/rules.mk
  keyboards/owl8/owl8.c
  keyboards/owl8/owl8.h
  keyboards/owl8/readme.md
  keyboards/owl8/rules.mk
Labels: keyboard, keymap, via

#13435 Add Hex4B PCB
  keyboards/mechlovin/hex4b/config.h
  keyboards/mechlovin/hex4b/hex4b.c
  keyboards/mechlovin/hex4b/hex4b.h
  keyboards/mechlovin/hex4b/info.json
  keyboards/mechlovin/hex4b/keymaps/default/keymap.c
  keyboards/mechlovin/hex4b/keymaps/default/readme.md
  keyboards/mechlovin/hex4b/keymaps/via/keymap.c
  keyboards/mechlovin/hex4b/keymaps/via/rules.mk
  keyboards/mechlovin/hex4b/readme.md
  keyboards/mechlovin/hex4b/rules.mk
Labels: keyboard, keymap, via

#13798 Add MisonoWorks Chocolate Bar keyboard
  keyboards/misonoworks/chocolatebar/chocolatebar.c
  keyboards/misonoworks/chocolatebar/chocolatebar.h
  keyboards/misonoworks/chocolatebar/config.h
  keyboards/misonoworks/chocolatebar/info.json
  keyboards/misonoworks/chocolatebar/keymaps/default/keymap.c
  keyboards/misonoworks/chocolatebar/keymaps/via/keymap.c
  keyboards/misonoworks/chocolatebar/keymaps/via/rules.mk
  keyboards/misonoworks/chocolatebar/readme.md
  keyboards/misonoworks/chocolatebar/rules.mk
Labels: keyboard, keymap, via

#13873 Fave87
  keyboards/linworks/fave87/config.h
  keyboards/linworks/fave87/fave87.c
  keyboards/linworks/fave87/fave87.h
  keyboards/linworks/fave87/info.json
  keyboards/linworks/fave87/keymaps/default/keymap.c
  keyboards/linworks/fave87/keymaps/via/keymap.c
  keyboards/linworks/fave87/keymaps/via/rules.mk
  keyboards/linworks/fave87/readme.md
  keyboards/linworks/fave87/rules.mk
Labels: keyboard, keymap, via

#13910 clean up CRLF instances
  keyboards/checkerboards/axon40/keymaps/via/rules.mk
  keyboards/xbows/ranger/keymaps/via/rules.mk
Labels: keymap, via

#13911 [Keyboard] Fix oled_task_user for chocolatebar
  keyboards/misonoworks/chocolatebar/chocolatebar.c
Labels: keyboard

#13853 JackKenney's keymap for GMMK Pro
  keyboards/gmmk/pro/keymaps/jackkenney/keymap.c
Labels: keymap

#13857 add keyboard: handwired/oem_ansi_fullsize
  keyboards/handwired/oem_ansi_fullsize/config.h
  keyboards/handwired/oem_ansi_fullsize/info.json
  keyboards/handwired/oem_ansi_fullsize/keymaps/default/keymap.c
  keyboards/handwired/oem_ansi_fullsize/keymaps/default/readme.md
  keyboards/handwired/oem_ansi_fullsize/oem_ansi_fullsize.c
  keyboards/handwired/oem_ansi_fullsize/oem_ansi_fullsize.h
  keyboards/handwired/oem_ansi_fullsize/readme.md
  keyboards/handwired/oem_ansi_fullsize/rules.mk
Labels: keyboard, keymap

#13861 Use new matrix_output_select_delay api
  keyboards/handwired/xealousbrown/config.h
  keyboards/handwired/xealousbrown/matrix.c
  keyboards/handwired/xealousbrown/readme.md
  keyboards/handwired/xealousbrown/rules.mk
  keyboards/handwired/xealousbrown/xealousbrown.c
Labels: keyboard

#13863 Modify key drive pins for mojo68.
  keyboards/melgeek/mojo68/rev1/config.h
Labels: keyboard

#13869 Added 67mk_E PCB
  keyboards/kb_elmo/67mk_e/67mk_e.c
  keyboards/kb_elmo/67mk_e/67mk_e.h
  keyboards/kb_elmo/67mk_e/config.h
  keyboards/kb_elmo/67mk_e/info.json
  keyboards/kb_elmo/67mk_e/keymaps/default/keymap.c
  keyboards/kb_elmo/67mk_e/keymaps/via/keymap.c
  keyboards/kb_elmo/67mk_e/keymaps/via/rules.mk
  keyboards/kb_elmo/67mk_e/readme.md
  keyboards/kb_elmo/67mk_e/rules.mk
Labels: keyboard, keymap, via

#11842 Refactor `quantum/command.{c,h}` for code size & {read,maintain}ability
  quantum/command.c
  quantum/command.h
Labels: core

#13912 Clean up remaining RGB_DISABLE_WHEN_USB_SUSPENDED defines Part 2
  keyboards/gmmk/pro/ansi/keymaps/jonavin/config.h
  keyboards/melgeek/mojo68/config.h
  keyboards/xbows/ranger/config.h
  keyboards/xelus/valor/rev2/config.h
Labels: keyboard, keymap

#13906 Fixes for KBD67 rev2
  keyboards/kbdfans/kbd67/rev2/config.h
  keyboards/kbdfans/kbd67/rev2/rev2.c
  keyboards/kbdfans/kbd67/rev2/rules.mk
Labels: keyboard

#13913 [Keyboard] Fix matrix_output_unselect_delay for handwired/xealousbrown
  keyboards/handwired/xealousbrown/matrix.c
Labels: keyboard

#13858 Adding my Nyquist keymap
  keyboards/keebio/nyquist/keymaps/peott-fr/keymap.c
Labels: keymap

#13881 Clean up lfkpad and add keymap
  keyboards/lfkeyboards/lfkpad/keymaps/pascalpfeil/config.h
  keyboards/lfkeyboards/lfkpad/keymaps/pascalpfeil/keymap.c
  keyboards/lfkeyboards/lfkpad/keymaps/pascalpfeil/rules.mk
  keyboards/lfkeyboards/lfkpad/lfkpad.c
  keyboards/lfkeyboards/lfkpad/lfkpad.h
  keyboards/lfkeyboards/lfkpad/rules.mk
Labels: keyboard, keymap

#13909 Gorthage Truck - New PCB
  keyboards/gorthage_truck/config.h
  keyboards/gorthage_truck/gorthage_truck.c
  keyboards/gorthage_truck/gorthage_truck.h
  keyboards/gorthage_truck/info.json
  keyboards/gorthage_truck/keymaps/10u/keymap.c
  keyboards/gorthage_truck/keymaps/10u/readme.md
  keyboards/gorthage_truck/keymaps/7u/keymap.c
  keyboards/gorthage_truck/keymaps/7u/readme.md
  keyboards/gorthage_truck/keymaps/default/keymap.c
  keyboards/gorthage_truck/keymaps/default/readme.md
  keyboards/gorthage_truck/readme.md
  keyboards/gorthage_truck/rules.mk
Labels: keyboard, keymap

#13848 a1200 converter minor changes
  keyboards/converter/a1200/config.h
  keyboards/converter/a1200/info.json
  keyboards/converter/a1200/keymaps/default/keymap.c
  keyboards/converter/a1200/readme.md
Labels: keyboard, keymap

#13905 [Keymap] Drashna split transport improvement
  keyboards/handwired/tractyl_manuform/5x6_right/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/rules.mk
  keyboards/handwired/tractyl_manuform/tm_sync.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.c
  keyboards/splitkb/kyria/keymaps/drashna/config.h
  layouts/community/split_3x6_3/drashna/keymap.c
  layouts/community/split_3x6_3/drashna/rules.mk
  users/drashna/config.h
  users/drashna/oled_stuff.c
  users/drashna/rules.mk
  users/drashna/transport_sync.c
Labels: keyboard, keymap

#13837 Added CapsLED and ScrollLock LEDs
  keyboards/hp69/config.h
  keyboards/hp69/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#13839 [Add Keyboard] Pancake v2
  keyboards/spaceman/pancake/rev1/config.h
  keyboards/spaceman/pancake/rev1/feather/config.h
  keyboards/spaceman/pancake/rev1/feather/rules.mk
  keyboards/spaceman/pancake/rev1/info.json
  keyboards/spaceman/pancake/rev1/keymaps/default/keymap.c
  keyboards/spaceman/pancake/rev1/keymaps/default/readme.md
  keyboards/spaceman/pancake/rev1/keymaps/via/keymap.c
  keyboards/spaceman/pancake/rev1/keymaps/via/rules.mk
  keyboards/spaceman/pancake/rev1/promicro/config.h
  keyboards/spaceman/pancake/rev1/promicro/rules.mk
  keyboards/spaceman/pancake/rev1/readme.md
  keyboards/spaceman/pancake/rev1/rev1.c
  keyboards/spaceman/pancake/rev1/rev1.h
  keyboards/spaceman/pancake/rev2/config.h
  keyboards/spaceman/pancake/rev2/info.json
  keyboards/spaceman/pancake/rev2/keymaps/default/keymap.c
  keyboards/spaceman/pancake/rev2/keymaps/default/readme.md
  keyboards/spaceman/pancake/rev2/readme.md
  keyboards/spaceman/pancake/rev2/rev2.c
  keyboards/spaceman/pancake/rev2/rev2.h
  keyboards/spaceman/pancake/rev2/rules.mk
Labels: keyboard, keymap, via

#13714 Add kbdfans kbd67 mkii rgb v3
  keyboards/kbdfans/kbd67/mkiirgb/mkiirgb.c
  keyboards/kbdfans/kbd67/mkiirgb/mkiirgb.h
  keyboards/kbdfans/kbd67/mkiirgb/readme.md
  keyboards/kbdfans/kbd67/mkiirgb/v1/.noci
  keyboards/kbdfans/kbd67/mkiirgb/v1/v1.c
  keyboards/kbdfans/kbd67/mkiirgb/v1/v1.h
  keyboards/kbdfans/kbd67/mkiirgb/v2/v2.c
  keyboards/kbdfans/kbd67/mkiirgb/v2/v2.h
  keyboards/kbdfans/kbd67/mkiirgb/v3/config.h
  keyboards/kbdfans/kbd67/mkiirgb/v3/readme.md
  keyboards/kbdfans/kbd67/mkiirgb/v3/rules.mk
  keyboards/kbdfans/kbd67/mkiirgb/v3/v3.c
  keyboards/kbdfans/kbd67/mkiirgb/v3/v3.h
Labels: keyboard

#13718 Add support for STM32F407x MCUs.
  data/schemas/keyboard.jsonschema
  docs/compatible_microcontrollers.md
  docs/ja/compatible_microcontrollers.md
  lib/python/qmk/constants.py
  platforms/chibios/GENERIC_STM32_F407XE/board/board.mk
  platforms/chibios/GENERIC_STM32_F407XE/configs/board.h
  platforms/chibios/GENERIC_STM32_F407XE/configs/config.h
  platforms/chibios/GENERIC_STM32_F407XE/configs/mcuconf.h
  quantum/mcu_selection.mk
Labels: core, documentation, python, cli, translation

#13926 Fix compilation issue.
  quantum/split_common/transactions.h
Labels: bug, core

#13919 Adding Aozora (hotswap) keyboard
  keyboards/aozora/hotswap/config.h
  keyboards/aozora/hotswap/hotswap.c
  keyboards/aozora/hotswap/hotswap.h
  keyboards/aozora/hotswap/info.json
  keyboards/aozora/hotswap/keymaps/default/keymap.c
  keyboards/aozora/hotswap/readme.md
  keyboards/aozora/hotswap/rules.mk
Labels: keyboard, keymap

#13735 [Keyboard] Undead 60M
  keyboards/undead60m/config.h
  keyboards/undead60m/info.json
  keyboards/undead60m/keymaps/default/keymap.c
  keyboards/undead60m/keymaps/via/keymap.c
  keyboards/undead60m/keymaps/via/rules.mk
  keyboards/undead60m/readme.md
  keyboards/undead60m/rules.mk
  keyboards/undead60m/undead60m.c
  keyboards/undead60m/undead60m.h
Labels: keyboard, keymap, via

#13294 [Keymap] rootiest for planck/rev6/
  keyboards/planck/keymaps/rootiest/config.h
  keyboards/planck/keymaps/rootiest/keymap.c
  keyboards/planck/keymaps/rootiest/readme.md
  keyboards/planck/keymaps/rootiest/rules.mk
Labels: keymap

#13928 Make json imports more robust
  lib/python/qmk/json_schema.py
Labels: python, cli

#13930 Fix generate api
  keyboards/aozora/hotswap/config.h
  lib/python/qmk/info.py
Labels: keyboard, python, cli

#13915 Add new keyboard - TouhouPad
  keyboards/pimentoso/touhoupad/config.h
  keyboards/pimentoso/touhoupad/info.json
  keyboards/pimentoso/touhoupad/keymaps/default/keymap.c
  keyboards/pimentoso/touhoupad/keymaps/default/readme.md
  keyboards/pimentoso/touhoupad/readme.md
  keyboards/pimentoso/touhoupad/rules.mk
  keyboards/pimentoso/touhoupad/touhoupad.c
  keyboards/pimentoso/touhoupad/touhoupad.h
Labels: keyboard, keymap

#13884 Add kbd67 mkiirgb keymap
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/pascalpfeil/config.h
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/pascalpfeil/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/pascalpfeil/rules.mk
Labels: keymap

#13850 Make default keymap for GMMK Pro reflect stock
  keyboards/gmmk/pro/ansi/keymaps/default/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/via/keymap.c
  keyboards/gmmk/pro/config.h
  keyboards/gmmk/pro/iso/keymaps/default/keymap.c
  keyboards/gmmk/pro/iso/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#13924 New keymap for the niu_mini
  keyboards/niu_mini/keymaps/edvard/keymap.c
  keyboards/niu_mini/keymaps/edvard/readme.md
Labels: keymap

#11456 [User] changes to @nstickney's keymaps
  keyboards/hidtech/bastyl/keymaps/nstickney/keymap.c
  keyboards/keebio/iris/keymaps/nstickney/README.md
  keyboards/keebio/iris/keymaps/nstickney/config.h
  keyboards/keebio/iris/keymaps/nstickney/keymap.c
  keyboards/keebio/iris/keymaps/nstickney/rules.mk
  layouts/community/ergodox/nstickney/keymap.c
  users/nstickney/config.h
  users/nstickney/nstickney.c
  users/nstickney/nstickney.h
  users/nstickney/readme.md
  users/nstickney/rules.mk
  users/nstickney/unicodemap.h
Labels: keymap

#13931 Fixup rgb matrix config for KBD67 mkII boards
  keyboards/kbdfans/kbd67/mkiirgb/mkiirgb.c
  keyboards/kbdfans/kbd67/mkiirgb/v1/v1.c
  keyboards/kbdfans/kbd67/mkiirgb/v2/v2.c
  keyboards/kbdfans/kbd67/mkiirgb/v3/v3.c
Labels: keyboard

#13132 Limit RGB max brightness on KPrepublic BM-series keyboards
  keyboards/bm40hsrgb/config.h
  keyboards/bm43a/config.h
  keyboards/bm60poker/config.h
  keyboards/bm60rgb/config.h
  keyboards/bm60rgb_iso/config.h
  keyboards/bm68rgb/config.h
Labels: keyboard

#13920 Remove ONEHAND backwards compatibility from SWAP_HANDS
  keyboards/ergodox_ez/keymaps/bpruitt-goddard/rules.mk
  keyboards/redox_w/redox_w.c
  keyboards/vitamins_included/vitamins_included.c
  show_options.mk
  tmk_core/common.mk
Labels: core, keyboard, keymap

#13937 [develop] Fix compliation for ferris 0.2 bling
  keyboards/ferris/0_2/bling/bling.c
Labels: keyboard

#13933 Ristretto - Update bootloader
  keyboards/ristretto/rules.mk
Labels: keyboard

#13049 adding my keymap "vayashiko"
  keyboards/crkbd/keymaps/vayashiko/config.h
  keyboards/crkbd/keymaps/vayashiko/keymap.c
  keyboards/crkbd/keymaps/vayashiko/rules.mk
Labels: keymap

#13466 Added pistachio_pro
  keyboards/pistachio_pro/config.h
  keyboards/pistachio_pro/info.json
  keyboards/pistachio_pro/keymaps/default/keymap.c
  keyboards/pistachio_pro/keymaps/default/readme.md
  keyboards/pistachio_pro/keymaps/rate/keymap.c
  keyboards/pistachio_pro/keymaps/rate/readme.md
  keyboards/pistachio_pro/keymaps/via/keymap.c
  keyboards/pistachio_pro/keymaps/via/readme.md
  keyboards/pistachio_pro/keymaps/via/rules.mk
  keyboards/pistachio_pro/lib/bme280.c
  keyboards/pistachio_pro/lib/bme280.h
  keyboards/pistachio_pro/lib/glcdfont.c
  keyboards/pistachio_pro/matrix.c
  keyboards/pistachio_pro/pistachio_pro.c
  keyboards/pistachio_pro/pistachio_pro.h
  keyboards/pistachio_pro/readme.md
  keyboards/pistachio_pro/rules.mk
Labels: keyboard, keymap, via

#13922 Add padding to LUFA-MS .BIN files
  tmk_core/avr.mk
Labels: bug, core

#13936 Fix example code formatting in feature_wpm.md
  docs/feature_wpm.md
Labels: documentation

#13935 Architecture documentation for Configurator and API
  docs/_summary.md
  docs/configurator_architecture.md
  docs/configurator_diagram.drawio
  docs/configurator_diagram.svg
Labels: documentation

#13941 Improve the qmk lint readme check
  lib/python/qmk/cli/lint.py
Labels: python, cli

#12315 add support for m65 and simple 5x13 ortholinear
  keyboards/m65/config.h
  keyboards/m65/info.json
  keyboards/m65/keymaps/default/config.h
  keyboards/m65/keymaps/default/keymap.c
  keyboards/m65/keymaps/default/readme.md
  keyboards/m65/keymaps/dk/config.h
  keyboards/m65/keymaps/dk/keymap.c
  keyboards/m65/keymaps/dk/readme.md
  keyboards/m65/keymaps/uk/config.h
  keyboards/m65/keymaps/uk/keymap.c
  keyboards/m65/keymaps/uk/readme.md
  keyboards/m65/m65.c
  keyboards/m65/m65.h
  keyboards/m65/readme.md
  keyboards/m65/rev1/chconf.h
  keyboards/m65/rev1/config.h
  keyboards/m65/rev1/mcuconf.h
  keyboards/m65/rev1/readme.md
  keyboards/m65/rev1/rules.mk
Labels: keyboard, keymap

#13297 Handwired/Stream_Cheap/2x4: Add via support
  keyboards/handwired/stream_cheap/2x4/config.h
  keyboards/handwired/stream_cheap/2x4/keymaps/via/keymap.c
  keyboards/handwired/stream_cheap/2x4/keymaps/via/rules.mk
  keyboards/handwired/stream_cheap/2x4/keymaps/via/stream_cheap_2x4.json
  keyboards/handwired/stream_cheap/2x4/rules.mk
  keyboards/handwired/stream_cheap/readme.md
Labels: keyboard, keymap, via

#13950 Fix shell port bug in computation of QMK_FIRMWARE_DIR
  util/qmk_install.sh
Labels: core

#13940 Hp69 - Update led logic
  keyboards/hp69/keymaps/via/keymap.c
Labels: keymap, via

#13942 Gorthage Truck - Rotary Encoder Switch Position
  keyboards/gorthage_truck/gorthage_truck.h
  keyboards/gorthage_truck/info.json
  keyboards/gorthage_truck/keymaps/10u/keymap.c
  keyboards/gorthage_truck/keymaps/7u/keymap.c
  keyboards/gorthage_truck/keymaps/default/keymap.c
Labels: keyboard, keymap

#13938 Added split plus only macro, used on ABNT2 layout, to Cospad
  keyboards/cospad/cospad.h
Labels: keyboard

#13963 [Userspace] Add custom tap dancing function
  users/txkyel/config.h
  users/txkyel/readme.md
  users/txkyel/rules.mk
  users/txkyel/tap_dance.c
  users/txkyel/tap_dance.h
  users/txkyel/tap_dance.md
  users/txkyel/txkyel.c
  users/txkyel/txkyel.h
Labels: keymap

#13962 Update USB Device strings for VIA identification
  keyboards/handwired/3dp660/config.h
  keyboards/rpiguy9907/southpaw66/config.h
  keyboards/yatara/drink_me/config.h
Labels: enhancement, keyboard

#13961 Poker87C and Poker87D Refactor
  keyboards/poker87c/config.h
  keyboards/poker87c/info.json
  keyboards/poker87c/keymaps/default/keymap.c
  keyboards/poker87c/keymaps/via/keymap.c
  keyboards/poker87c/poker87c.h
  keyboards/poker87c/rules.mk
  keyboards/poker87d/config.h
  keyboards/poker87d/info.json
  keyboards/poker87d/keymaps/default/keymap.c
  keyboards/poker87d/keymaps/via/keymap.c
  keyboards/poker87d/poker87d.h
  keyboards/poker87d/rules.mk
Labels: enhancement, keyboard, keymap, via

#13947 Improve x3270 compatibility and add Bluepill support to m122_3270
  keyboards/tronguylabs/m122_3270/bluepill/chconf.h
  keyboards/tronguylabs/m122_3270/bluepill/config.h
  keyboards/tronguylabs/m122_3270/bluepill/readme.md
  keyboards/tronguylabs/m122_3270/bluepill/rules.mk
  keyboards/tronguylabs/m122_3270/keymaps/default/keymap.c
  keyboards/tronguylabs/m122_3270/keymaps/default/readme.md
Labels: keyboard, keymap

#13945 Added Rune Vaengr Keyboard
  keyboards/runes/vaengr/config.h
  keyboards/runes/vaengr/info.json
  keyboards/runes/vaengr/keymaps/default/keymap.c
  keyboards/runes/vaengr/keymaps/default/readme.md
  keyboards/runes/vaengr/keymaps/via/keymap.c
  keyboards/runes/vaengr/keymaps/via/rules.mk
  keyboards/runes/vaengr/readme.md
  keyboards/runes/vaengr/rules.mk
  keyboards/runes/vaengr/vaengr.c
  keyboards/runes/vaengr/vaengr.h
Labels: keyboard, keymap, via

#13948 add Wang V2 keyboard
  keyboards/ocean/wang_v2/config.h
  keyboards/ocean/wang_v2/info.json
  keyboards/ocean/wang_v2/keymaps/default/keymap.c
  keyboards/ocean/wang_v2/keymaps/via/keymap.c
  keyboards/ocean/wang_v2/keymaps/via/rules.mk
  keyboards/ocean/wang_v2/readme.md
  keyboards/ocean/wang_v2/rules.mk
  keyboards/ocean/wang_v2/wang_v2.c
  keyboards/ocean/wang_v2/wang_v2.h
Labels: keyboard, keymap, via

#13943 add Gin V2 keyboard
  keyboards/ocean/gin_v2/config.h
  keyboards/ocean/gin_v2/gin_v2.c
  keyboards/ocean/gin_v2/gin_v2.h
  keyboards/ocean/gin_v2/info.json
  keyboards/ocean/gin_v2/keymaps/default/keymap.c
  keyboards/ocean/gin_v2/keymaps/via/keymap.c
  keyboards/ocean/gin_v2/keymaps/via/rules.mk
  keyboards/ocean/gin_v2/readme.md
  keyboards/ocean/gin_v2/rules.mk
Labels: keyboard, keymap, via

#13560 Add lily58 datadavd layout
  keyboards/lily58/keymaps/datadavd/config.h
  keyboards/lily58/keymaps/datadavd/keymap.c
  keyboards/lily58/keymaps/datadavd/rules.mk
Labels: keymap

#13932 [Keymap] Add andrebrait layout for GMMK Pro
  keyboards/gmmk/pro/ansi/keymaps/andrebrait/config.h
  keyboards/gmmk/pro/ansi/keymaps/andrebrait/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/andrebrait/readme.md
  keyboards/gmmk/pro/ansi/keymaps/andrebrait/rules.mk
  keyboards/gmmk/pro/ansi/keymaps/default/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/via/keymap.c
  keyboards/gmmk/pro/iso/keymaps/default/keymap.c
  keyboards/gmmk/pro/iso/keymaps/via/keymap.c
Labels: keymap, via

#13971 Cospad Configurator touch-up
  keyboards/cospad/info.json
Labels: enhancement, keyboard

#13495 Add Skeletyl keyboard
  keyboards/bastardkb/skeletyl/config.h
  keyboards/bastardkb/skeletyl/info.json
  keyboards/bastardkb/skeletyl/keymaps/default/keymap.c
  keyboards/bastardkb/skeletyl/readme.md
  keyboards/bastardkb/skeletyl/rules.mk
  keyboards/bastardkb/skeletyl/skeletyl.c
  keyboards/bastardkb/skeletyl/skeletyl.h
Labels: keyboard, keymap

#13035 Keyprez rhino
  keyboards/keyprez/rhino/config.h
  keyboards/keyprez/rhino/info.json
  keyboards/keyprez/rhino/keymaps/default/keymap.c
  keyboards/keyprez/rhino/keymaps/default/readme.md
  keyboards/keyprez/rhino/keymaps/default_7u/keymap.c
  keyboards/keyprez/rhino/keymaps/default_7u/readme.md
  keyboards/keyprez/rhino/keymaps/default_ergo/keymap.c
  keyboards/keyprez/rhino/keymaps/default_ergo/readme.md
  keyboards/keyprez/rhino/readme.md
  keyboards/keyprez/rhino/rhino.c
  keyboards/keyprez/rhino/rhino.h
  keyboards/keyprez/rhino/rules.mk
Labels: keyboard, keymap

#12635 [Keyboard] Add Tripel keyboard
  keyboards/peej/tripel/config.h
  keyboards/peej/tripel/info.json
  keyboards/peej/tripel/keymaps/default/keymap.c
  keyboards/peej/tripel/keymaps/via/keymap.c
  keyboards/peej/tripel/keymaps/via/rules.mk
  keyboards/peej/tripel/left/left.h
  keyboards/peej/tripel/left/readme.md
  keyboards/peej/tripel/left/rules.mk
  keyboards/peej/tripel/middle/middle.h
  keyboards/peej/tripel/middle/readme.md
  keyboards/peej/tripel/middle/rules.mk
  keyboards/peej/tripel/right/readme.md
  keyboards/peej/tripel/right/right.h
  keyboards/peej/tripel/right/rules.mk
  keyboards/peej/tripel/rules.mk
Labels: keyboard, keymap, via

#12599 Add Spacey keyboard firmware
  keyboards/spacey/config.h
  keyboards/spacey/info.json
  keyboards/spacey/keymaps/default/keymap.c
  keyboards/spacey/keymaps/default/readme.md
  keyboards/spacey/readme.md
  keyboards/spacey/rules.mk
  keyboards/spacey/spacey.c
  keyboards/spacey/spacey.h
Labels: keyboard, keymap

#10625 add kuatsure planck keymap
  keyboards/planck/keymaps/kuatsure/config.h
  keyboards/planck/keymaps/kuatsure/keymap.c
  keyboards/planck/keymaps/kuatsure/readme.md
  keyboards/planck/keymaps/kuatsure/rules.mk
  keyboards/preonic/keymaps/kuatsure/keymap.c
  users/kuatsure/kuatsure.c
  users/kuatsure/kuatsure.h
Labels: keymap

#13978 Update config.h to add a value to RGB_DISABLE_WHEN_USB_SUSPENDED
  keyboards/kbdfans/kbd67/mkiirgb/v3/config.h
Labels: keyboard

#13976 [Keyboard] Fix keymaps for Ocean Gin v2
  keyboards/ocean/gin_v2/keymaps/default/keymap.c
  keyboards/ocean/gin_v2/keymaps/via/keymap.c
Labels: keymap, via

#13980 [Keyboard] Fix default keymap for GMMK Pro Iso
  keyboards/gmmk/pro/iso/keymaps/default/keymap.c
Labels: keymap

#13979 Fix some additional bootmagic settings
  docs/ja/feature_bootmagic.md
  keyboards/m65/rev1/rules.mk
  keyboards/spaceman/pancake/rev2/rules.mk
Labels: keyboard, documentation, translation

#13170 Update breaking changes file with clearer explanation of encoder updates
  docs/ChangeLog/20210529.md
Labels: documentation

#13984 Use sudo to install modules if needed
  lib/python/qmk/cli/__init__.py
Labels: python, cli

#13975 add rart75m keyboard and support via
  keyboards/rart/rart75m/config.h
  keyboards/rart/rart75m/info.json
  keyboards/rart/rart75m/keymaps/default/keymap.c
  keyboards/rart/rart75m/keymaps/via/keymap.c
  keyboards/rart/rart75m/keymaps/via/rules.mk
  keyboards/rart/rart75m/rart75m.c
  keyboards/rart/rart75m/rart75m.h
  keyboards/rart/rart75m/readme.md
  keyboards/rart/rart75m/rules.mk
Labels: keyboard, keymap, via

#13972 [Keymap]: Added Basketweave VIA keymap
  keyboards/basketweave/keymaps/via/keymap.c
  keyboards/basketweave/keymaps/via/rules.mk
Labels: keymap, via

#13970 [Keyboard] Added Frooastboard
  keyboards/frooastboard/config.h
  keyboards/frooastboard/frooastboard.c
  keyboards/frooastboard/frooastboard.h
  keyboards/frooastboard/info.json
  keyboards/frooastboard/keymaps/default/keymap.c
  keyboards/frooastboard/keymaps/safe_mode/keymap.c
  keyboards/frooastboard/keymaps/via/config.h
  keyboards/frooastboard/keymaps/via/keymap.c
  keyboards/frooastboard/keymaps/via/rules.mk
  keyboards/frooastboard/readme.md
  keyboards/frooastboard/rules.mk
Labels: keyboard, keymap, via

#13960 Added the mini_elixivy keyboard
  keyboards/mini_elixivy/config.h
  keyboards/mini_elixivy/info.json
  keyboards/mini_elixivy/keymaps/ansi/keymap.c
  keyboards/mini_elixivy/keymaps/ansi/readme.md
  keyboards/mini_elixivy/keymaps/default/keymap.c
  keyboards/mini_elixivy/keymaps/default/readme.md
  keyboards/mini_elixivy/keymaps/iso/keymap.c
  keyboards/mini_elixivy/keymaps/iso/readme.md
  keyboards/mini_elixivy/mini_elixivy.c
  keyboards/mini_elixivy/mini_elixivy.h
  keyboards/mini_elixivy/readme.md
  keyboards/mini_elixivy/rules.mk
Labels: keyboard, keymap

#13992 [Keyboard] Fixup Ungodly Launch Pad config
  keyboards/ungodly/launch_pad/config.h
Labels: bug, keyboard

#13964 Adding Southpad Keyboard and default keymaps
  keyboards/matchstickworks/southpad/config.h
  keyboards/matchstickworks/southpad/info.json
  keyboards/matchstickworks/southpad/keymaps/default/keymap.c
  keyboards/matchstickworks/southpad/readme.md
  keyboards/matchstickworks/southpad/rules.mk
  keyboards/matchstickworks/southpad/southpad.c
  keyboards/matchstickworks/southpad/southpad.h
Labels: keyboard, keymap

#13967 Add dtisaac01 keyboard
  keyboards/handwired/dtisaac01/config.h
  keyboards/handwired/dtisaac01/dtisaac01.c
  keyboards/handwired/dtisaac01/dtisaac01.h
  keyboards/handwired/dtisaac01/info.json
  keyboards/handwired/dtisaac01/keymaps/default/keymap.c
  keyboards/handwired/dtisaac01/keymaps/default/readme.md
  keyboards/handwired/dtisaac01/readme.md
  keyboards/handwired/dtisaac01/rules.mk
Labels: keyboard, keymap

#13969 adding new keymap for the idobo keyboard with backlight
  keyboards/idobo/keymaps/pathnirvana/config.h
  keyboards/idobo/keymaps/pathnirvana/keymap.c
  keyboards/idobo/keymaps/pathnirvana/rules.mk
Labels: keymap

#13985 [Keymap] Improve andrebrait keymap
  keyboards/gmmk/pro/ansi/keymaps/andrebrait/keymap.c
Labels: keymap

#13974 [converter/a1200] Added support for ATmega32u4
  keyboards/converter/a1200/miss1200/config.h
  keyboards/converter/a1200/miss1200/rules.mk
  keyboards/converter/a1200/readme.md
  keyboards/converter/a1200/teensy2pp/config.h
  keyboards/converter/a1200/teensy2pp/rules.mk
Labels: keyboard

#13939 Adding my keyboard layout
  keyboards/cest73/tkm/config.h
  keyboards/cest73/tkm/info.json
  keyboards/cest73/tkm/keymaps/default/keymap.c
  keyboards/cest73/tkm/readme.md
  keyboards/cest73/tkm/rules.mk
  keyboards/cest73/tkm/tkm.c
  keyboards/cest73/tkm/tkm.h
Labels: keyboard, keymap

#13851 LS_60 keyboard initial commit
  keyboards/ls_60/chconf.h
  keyboards/ls_60/config.h
  keyboards/ls_60/info.json
  keyboards/ls_60/keymaps/default/keymap.c
  keyboards/ls_60/keymaps/via/keymap.c
  keyboards/ls_60/keymaps/via/rules.mk
  keyboards/ls_60/ls_60.c
  keyboards/ls_60/ls_60.h
  keyboards/ls_60/readme.md
  keyboards/ls_60/rules.mk
Labels: keyboard, keymap, via

#13625 Moonlander Interlace both hands during matrix scan for faster performance
  keyboards/moonlander/matrix.c
Labels: keyboard, awaiting review

#13323 Add split_3x5_3 community layout support to boardsource/microdox
  keyboards/boardsource/microdox/rules.mk
Labels: keyboard

#13491 add support for alternate ortho UD40 PCB
  keyboards/checkerboards/ud40_ortho_alt/config.h
  keyboards/checkerboards/ud40_ortho_alt/info.json
  keyboards/checkerboards/ud40_ortho_alt/keymaps/2x3u_alt/config.h
  keyboards/checkerboards/ud40_ortho_alt/keymaps/2x3u_alt/keymap.c
  keyboards/checkerboards/ud40_ortho_alt/keymaps/600u/config.h
  keyboards/checkerboards/ud40_ortho_alt/keymaps/600u/keymap.c
  keyboards/checkerboards/ud40_ortho_alt/keymaps/600u_alt/config.h
  keyboards/checkerboards/ud40_ortho_alt/keymaps/600u_alt/keymap.c
  keyboards/checkerboards/ud40_ortho_alt/keymaps/700u/config.h
  keyboards/checkerboards/ud40_ortho_alt/keymaps/700u/keymap.c
  keyboards/checkerboards/ud40_ortho_alt/keymaps/default/config.h
  keyboards/checkerboards/ud40_ortho_alt/keymaps/default/keymap.c
  keyboards/checkerboards/ud40_ortho_alt/keymaps/default/readme.md
  keyboards/checkerboards/ud40_ortho_alt/keymaps/npspears/config.h
  keyboards/checkerboards/ud40_ortho_alt/keymaps/npspears/keymap.c
  keyboards/checkerboards/ud40_ortho_alt/keymaps/npspears/readme.md
  keyboards/checkerboards/ud40_ortho_alt/keymaps/via/keymap.c
  keyboards/checkerboards/ud40_ortho_alt/keymaps/via/rules.mk
  keyboards/checkerboards/ud40_ortho_alt/readme.md
  keyboards/checkerboards/ud40_ortho_alt/rules.mk
  keyboards/checkerboards/ud40_ortho_alt/ud40_ortho_alt.c
  keyboards/checkerboards/ud40_ortho_alt/ud40_ortho_alt.h
Labels: keyboard, keymap, via

#13217 [Keymap] Add optional colemak layout
  keyboards/keyprez/corgi/keymaps/default/keymap.c
Labels: keymap

#13216 [Keymap] Updates to jdelkins userspace and keymaps
  keyboards/dz60/keymaps/jdelkins/config.h
  keyboards/dz60/keymaps/jdelkins/keymap.c
  keyboards/dz60/keymaps/jdelkins/rules.mk
  keyboards/dz60/keymaps/jdelkins_ss/config.h
  keyboards/dz60/keymaps/jdelkins_ss/keymap.c
  keyboards/dz60/keymaps/jdelkins_ss/rules.mk
  keyboards/planck/keymaps/jdelkins/config.h
  keyboards/planck/keymaps/jdelkins/keymap.c
  users/jdelkins/jdelkins.c
  users/jdelkins/rules.mk
Labels: keymap

#13186 adds sulrich crkbd (corne) personal keymap
  keyboards/crkbd/keymaps/sulrich/README.md
  keyboards/crkbd/keymaps/sulrich/config.h
  keyboards/crkbd/keymaps/sulrich/keymap.c
  keyboards/crkbd/keymaps/sulrich/rules.mk
Labels: keymap

#13177 [Keyboard] Updates ScrabblePad, try 2
  keyboards/donutcables/scrabblepad/config.h
  keyboards/donutcables/scrabblepad/keymaps/default/keymap.c
  keyboards/donutcables/scrabblepad/keymaps/default/readme.md
  keyboards/donutcables/scrabblepad/keymaps/via/keymap.c
  keyboards/donutcables/scrabblepad/keymaps/via/readme.md
  keyboards/donutcables/scrabblepad/keymaps/via/rules.mk
  keyboards/donutcables/scrabblepad/rules.mk
  keyboards/donutcables/scrabblepad/scrabblepad.c
  keyboards/donutcables/scrabblepad/scrabblepad.h
Labels: keyboard, keymap, via

#13168 Added the n9 keyboard/macropad
  keyboards/nightly_boards/n9/config.h
  keyboards/nightly_boards/n9/info.json
  keyboards/nightly_boards/n9/keymaps/default/keymap.c
  keyboards/nightly_boards/n9/keymaps/via/keymap.c
  keyboards/nightly_boards/n9/keymaps/via/rules.mk
  keyboards/nightly_boards/n9/n9.c
  keyboards/nightly_boards/n9/n9.h
  keyboards/nightly_boards/n9/readme.md
  keyboards/nightly_boards/n9/rules.mk
Labels: keyboard, keymap, via

#13140 [Keyboard] Add eniigmakeyboards/ek60
  keyboards/eniigmakeyboards/ek60/config.h
  keyboards/eniigmakeyboards/ek60/ek60.c
  keyboards/eniigmakeyboards/ek60/ek60.h
  keyboards/eniigmakeyboards/ek60/info.json
  keyboards/eniigmakeyboards/ek60/keymaps/default/keymap.c
  keyboards/eniigmakeyboards/ek60/keymaps/via/keymap.c
  keyboards/eniigmakeyboards/ek60/keymaps/via/rules.mk
  keyboards/eniigmakeyboards/ek60/readme.md
  keyboards/eniigmakeyboards/ek60/rules.mk
Labels: keyboard, keymap, via

#13129 Macropad v2 polling rate fix
  keyboards/geekboards/macropad_v2/config.h
Labels: keyboard

#13031 Adding VIA to Absinthe
  keyboards/absinthe/keymaps/via/keymap.c
  keyboards/absinthe/keymaps/via/rules.mk
Labels: keymap, via

#12575 Add Gud70
  keyboards/evyd13/gud70/config.h
  keyboards/evyd13/gud70/gud70.c
  keyboards/evyd13/gud70/gud70.h
  keyboards/evyd13/gud70/info.json
  keyboards/evyd13/gud70/keymaps/default/keymap.c
  keyboards/evyd13/gud70/keymaps/evyd13/keymap.c
  keyboards/evyd13/gud70/readme.md
  keyboards/evyd13/gud70/rules.mk
Labels: keyboard, keymap

#13993 Fix pmw3360 code to only output debug info if mouse debugging is enabled
  drivers/sensors/pmw3360.c
Labels: bug, core

#13982 Crin Refactor
  keyboards/crin/crin.h
  keyboards/crin/info.json
  keyboards/crin/keymaps/default/keymap.c
  keyboards/crin/keymaps/via/keymap.c
  keyboards/crin/readme.md
Labels: enhancement, keyboard, keymap, via

#13997 Fix Line endings in Absinthe VIA keymap
  keyboards/absinthe/keymaps/via/keymap.c
Labels: keymap, via

#13988 Fix `combo_disable`
  quantum/process_keycode/process_combo.c
Labels: bug, core, breaking_2021q3

#13991 Add Irene Keyboard
  keyboards/irene/config.h
  keyboards/irene/info.json
  keyboards/irene/irene.c
  keyboards/irene/irene.h
  keyboards/irene/keymaps/default/keymap.c
  keyboards/irene/keymaps/via/keymap.c
  keyboards/irene/keymaps/via/rules.mk
  keyboards/irene/readme.md
  keyboards/irene/rules.mk
Labels: keyboard, keymap, via

#13674 add falcon keyboard
  keyboards/matrix/falcon/config.h
  keyboards/matrix/falcon/falcon.c
  keyboards/matrix/falcon/falcon.h
  keyboards/matrix/falcon/info.json
  keyboards/matrix/falcon/keymaps/default/keymap.c
  keyboards/matrix/falcon/keymaps/via/keymap.c
  keyboards/matrix/falcon/keymaps/via/rules.mk
  keyboards/matrix/falcon/readme.md
  keyboards/matrix/falcon/rules.mk
Labels: keyboard, keymap, via

#13998 Noxary 378 Layout Macro rework
  keyboards/noxary/378/378.h
  keyboards/noxary/378/info.json
  keyboards/noxary/378/keymaps/default/keymap.c
  keyboards/noxary/378/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#13995 Orthocode Layout Macro rework
  keyboards/orthocode/info.json
  keyboards/orthocode/keymaps/default/keymap.c
  keyboards/orthocode/orthocode.h
Labels: enhancement, keyboard, keymap

#13996 Function96 V2 Configurator fixes
  keyboards/function96/v2/info.json
Labels: enhancement, keyboard

#14002 Ducky One2mini Layout Macro fixes
  keyboards/ducky/one2mini/1861st/1861st.h
  keyboards/ducky/one2mini/1861st/info.json
  keyboards/ducky/one2mini/keymaps/ansi/keymap.c
  keyboards/ducky/one2mini/keymaps/default/keymap.c
  keyboards/ducky/one2mini/keymaps/iso/keymap.c
Labels: enhancement, keyboard, keymap

#13949 Rework keymap_extras docs
  docs/reference_keymap_extras.md
Labels: enhancement, documentation

#13986 add Stealth macropad
  keyboards/ocean/stealth/config.h
  keyboards/ocean/stealth/info.json
  keyboards/ocean/stealth/keymaps/default/keymap.c
  keyboards/ocean/stealth/keymaps/via/keymap.c
  keyboards/ocean/stealth/keymaps/via/rules.mk
  keyboards/ocean/stealth/readme.md
  keyboards/ocean/stealth/rules.mk
  keyboards/ocean/stealth/stealth.c
  keyboards/ocean/stealth/stealth.h
Labels: keyboard, keymap, via

#14003 Add TKL-FF PCB
  keyboards/ramonimbao/tkl_ff/config.h
  keyboards/ramonimbao/tkl_ff/info.json
  keyboards/ramonimbao/tkl_ff/keymaps/default/keymap.c
  keyboards/ramonimbao/tkl_ff/keymaps/iso/keymap.c
  keyboards/ramonimbao/tkl_ff/keymaps/via/keymap.c
  keyboards/ramonimbao/tkl_ff/keymaps/via/rules.mk
  keyboards/ramonimbao/tkl_ff/readme.md
  keyboards/ramonimbao/tkl_ff/rules.mk
  keyboards/ramonimbao/tkl_ff/tkl_ff.c
  keyboards/ramonimbao/tkl_ff/tkl_ff.h
Labels: keyboard, keymap, via

#13321 [Keyboard] ez_maker/directpins for easy one-offs in qmk_configurator
  docs/_summary.md
  docs/easy_maker.md
  keyboards/ez_maker/directpins/promicro/config.h
  keyboards/ez_maker/directpins/promicro/info.json
  keyboards/ez_maker/directpins/promicro/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/promicro/promicro.c
  keyboards/ez_maker/directpins/promicro/promicro.h
  keyboards/ez_maker/directpins/promicro/readme.md
  keyboards/ez_maker/directpins/promicro/rules.mk
  keyboards/ez_maker/directpins/proton_c/info.json
  keyboards/ez_maker/directpins/proton_c/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/proton_c/keymaps/default/readme.md
  keyboards/ez_maker/directpins/proton_c/proton_c.c
  keyboards/ez_maker/directpins/proton_c/proton_c.h
  keyboards/ez_maker/directpins/proton_c/readme.md
  keyboards/ez_maker/directpins/proton_c/rules.mk
  keyboards/ez_maker/directpins/readme.md
  keyboards/ez_maker/directpins/teensy_2/config.h
  keyboards/ez_maker/directpins/teensy_2/info.json
  keyboards/ez_maker/directpins/teensy_2/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/teensy_2/readme.md
  keyboards/ez_maker/directpins/teensy_2/rules.mk
  keyboards/ez_maker/directpins/teensy_2/teensy2.c
  keyboards/ez_maker/directpins/teensy_2/teensy2.h
  keyboards/ez_maker/directpins/teensy_2pp/config.h
  keyboards/ez_maker/directpins/teensy_2pp/info.json
  keyboards/ez_maker/directpins/teensy_2pp/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/teensy_2pp/readme.md
  keyboards/ez_maker/directpins/teensy_2pp/rules.mk
  keyboards/ez_maker/directpins/teensy_2pp/teensy2.c
  keyboards/ez_maker/directpins/teensy_2pp/teensy2.h
  keyboards/ez_maker/directpins/teensy_32/chconf.h
  keyboards/ez_maker/directpins/teensy_32/config.h
  keyboards/ez_maker/directpins/teensy_32/halconf.h
  keyboards/ez_maker/directpins/teensy_32/info.json
  keyboards/ez_maker/directpins/teensy_32/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/teensy_32/mcuconf.h
  keyboards/ez_maker/directpins/teensy_32/readme.md
  keyboards/ez_maker/directpins/teensy_32/rules.mk
  keyboards/ez_maker/directpins/teensy_lc/chconf.h
  keyboards/ez_maker/directpins/teensy_lc/config.h
  keyboards/ez_maker/directpins/teensy_lc/halconf.h
  keyboards/ez_maker/directpins/teensy_lc/info.json
  keyboards/ez_maker/directpins/teensy_lc/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/teensy_lc/mcuconf.h
  keyboards/ez_maker/directpins/teensy_lc/readme.md
  keyboards/ez_maker/directpins/teensy_lc/rules.mk
Labels: keyboard, keymap, documentation
