Repository qmk/qmk_firmware, pull requests merged in 2021-07, with the labels that each got.

#13396 [Update] Change Original TAGs of Japanese translations
  docs/ja/api_docs.md
  docs/ja/api_overview.md
  docs/ja/coding_conventions_c.md
  docs/ja/contributing.md
  docs/ja/documentation_templates.md
  docs/ja/faq_keymap.md
  docs/ja/feature_stenography.md
  docs/ja/how_a_matrix_works.md
  docs/ja/reference_configurator_support.md
  docs/ja/reference_glossary.md
  docs/ja/understanding_qmk.md
Labels: documentation, translation

#13345 Cleanup junk chars, part 4
  quantum/keymap_extras/keymap_belgian.h
  quantum/keymap_extras/keymap_bepo.h
  quantum/keymap_extras/keymap_br_abnt2.h
  quantum/keymap_extras/keymap_canadian_multilingual.h
  quantum/keymap_extras/keymap_colemak.h
  quantum/keymap_extras/keymap_croatian.h
  quantum/keymap_extras/keymap_czech.h
  quantum/keymap_extras/keymap_danish.h
  quantum/keymap_extras/keymap_dvorak.h
  quantum/keymap_extras/keymap_dvorak_fr.h
  quantum/keymap_extras/keymap_dvp.h
  quantum/keymap_extras/keymap_estonian.h
  quantum/keymap_extras/keymap_finnish.h
  quantum/keymap_extras/keymap_fr_ch.h
  quantum/keymap_extras/keymap_french.h
  quantum/keymap_extras/keymap_french_afnor.h
  quantum/keymap_extras/keymap_french_osx.h
  quantum/keymap_extras/keymap_german.h
  quantum/keymap_extras/keymap_german_ch.h
  quantum/keymap_extras/keymap_german_osx.h
  quantum/keymap_extras/keymap_greek.h
  quantum/keymap_extras/keymap_hebrew.h
  quantum/keymap_extras/keymap_hungarian.h
  quantum/keymap_extras/keymap_icelandic.h
  quantum/keymap_extras/keymap_irish.h
  quantum/keymap_extras/keymap_italian.h
  quantum/keymap_extras/keymap_italian_osx_ansi.h
  quantum/keymap_extras/keymap_italian_osx_iso.h
  quantum/keymap_extras/keymap_jp.h
  quantum/keymap_extras/keymap_korean.h
  quantum/keymap_extras/keymap_latvian.h
  quantum/keymap_extras/keymap_lithuanian_azerty.h
  quantum/keymap_extras/keymap_lithuanian_qwerty.h
  quantum/keymap_extras/keymap_neo2.h
  quantum/keymap_extras/keymap_norman.h
  quantum/keymap_extras/keymap_norwegian.h
  quantum/keymap_extras/keymap_plover.h
  quantum/keymap_extras/keymap_polish.h
  quantum/keymap_extras/keymap_portuguese.h
  quantum/keymap_extras/keymap_portuguese_osx_iso.h
  quantum/keymap_extras/keymap_romanian.h
  quantum/keymap_extras/keymap_russian.h
  quantum/keymap_extras/keymap_serbian.h
  quantum/keymap_extras/keymap_serbian_latin.h
  quantum/keymap_extras/keymap_slovak.h
  quantum/keymap_extras/keymap_slovenian.h
  quantum/keymap_extras/keymap_spanish.h
  quantum/keymap_extras/keymap_spanish_dvorak.h
  quantum/keymap_extras/keymap_swedish.h
  quantum/keymap_extras/keymap_turkish_f.h
  quantum/keymap_extras/keymap_turkish_q.h
  quantum/keymap_extras/keymap_uk.h
  quantum/keymap_extras/keymap_us_extended.h
  quantum/keymap_extras/keymap_us_international.h
  quantum/keymap_extras/keymap_us_international_linux.h
  quantum/keymap_extras/keymap_workman.h
  quantum/keymap_extras/keymap_workman_zxcvm.h
Labels: core, enhancement

#13244 kb: mb44 - Update info.json and encoder
  keyboards/mb44/info.json
  keyboards/mb44/keymaps/2u1u_space/keymap.c
  keyboards/mb44/keymaps/2u_space/keymap.c
  keyboards/mb44/keymaps/3u_space/keymap.c
  keyboards/mb44/keymaps/default/keymap.c
Labels: keyboard, keymap

#13280 Added flygone60 rev3
  keyboards/flygone60/rev3/config.h
  keyboards/flygone60/rev3/info.json
  keyboards/flygone60/rev3/keymaps/default/keymap.c
  keyboards/flygone60/rev3/keymaps/default/readme.md
  keyboards/flygone60/rev3/keymaps/via/keymap.c
  keyboards/flygone60/rev3/keymaps/via/rules.mk
  keyboards/flygone60/rev3/readme.md
  keyboards/flygone60/rev3/rev3.c
  keyboards/flygone60/rev3/rev3.h
  keyboards/flygone60/rev3/rules.mk
Labels: keyboard, keymap, via

#13311 Create bingocaller keymap for DZ60RGB-ANSI
  keyboards/dztech/dz60rgb_ansi/keymaps/bingocaller/config.h
  keyboards/dztech/dz60rgb_ansi/keymaps/bingocaller/keymap.c
  keyboards/dztech/dz60rgb_ansi/keymaps/bingocaller/readme.md
Labels: keymap

#13350 [Keymap] Drashna's split updates
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/keymaps/default/rules.mk
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/keymaps/drashna/config.h
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/pointer_transport.c
  keyboards/handwired/dactyl_manuform/dactyl_manuform.h
  keyboards/handwired/tractyl_manuform/4x6_right/4x6_right.c
  keyboards/handwired/tractyl_manuform/4x6_right/4x6_right.h
  keyboards/handwired/tractyl_manuform/4x6_right/config.h
  keyboards/handwired/tractyl_manuform/4x6_right/info.json
  keyboards/handwired/tractyl_manuform/4x6_right/keymaps/default/keymap.c
  keyboards/handwired/tractyl_manuform/4x6_right/keymaps/drashna/config.h
  keyboards/handwired/tractyl_manuform/4x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/4x6_right/keymaps/drashna/rules.mk
  keyboards/handwired/tractyl_manuform/4x6_right/readme.md
  keyboards/handwired/tractyl_manuform/4x6_right/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/5x6_right.c
  keyboards/handwired/tractyl_manuform/5x6_right/5x6_right.h
  keyboards/handwired/tractyl_manuform/5x6_right/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/info.json
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/default/keymap.c
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/readme.md
  keyboards/handwired/tractyl_manuform/5x6_right/rules.mk
  keyboards/handwired/tractyl_manuform/config.h
  keyboards/handwired/tractyl_manuform/post_config.h
  keyboards/handwired/tractyl_manuform/readme.md
  keyboards/handwired/tractyl_manuform/tm_sync.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.h
  keyboards/kyria/keymaps/drashna/keymap.c
  keyboards/kyria/keymaps/drashna/rules.mk
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ergodox/drashna/visualizer.c_old
  layouts/community/split_3x6_3/drashna/config.h
  layouts/community/split_3x6_3/drashna/keymap.c
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/drashna.h
  users/drashna/drashna_font.h
  users/drashna/drashna_transport.c
  users/drashna/oled_stuff.c
  users/drashna/oled_stuff.h
  users/drashna/process_records.c
  users/drashna/process_records.h
  users/drashna/rgb_matrix_stuff.c
  users/drashna/rgb_stuff.c
  users/drashna/rules.mk
  users/drashna/tap_dances.c
  users/drashna/tap_dances.h
  users/drashna/template.c
  users/drashna/template.h
  users/drashna/transport_sync.c
  users/drashna/transport_sync.h
Labels: keyboard, keymap

#13313 Pteron36, open source 3x5_3 supporting layout
  keyboards/pteron36/config.h
  keyboards/pteron36/info.json
  keyboards/pteron36/keymaps/default/keymap.c
  keyboards/pteron36/keymaps/via/keymap.c
  keyboards/pteron36/keymaps/via/readme.md
  keyboards/pteron36/keymaps/via/rules.mk
  keyboards/pteron36/pteron36.c
  keyboards/pteron36/pteron36.h
  keyboards/pteron36/readme.md
  keyboards/pteron36/rules.mk
Labels: keyboard, keymap, via

#13335 Fix LED indicators on Skeletn87
  keyboards/skeletn87/hotswap/config.h
  keyboards/skeletn87/soldered/config.h
Labels: keyboard

#13339 RGB Timeout added to userspace
  keyboards/kiwikey/wanderland/keymaps/stanrc85/keymap.c
  users/stanrc85/rgb_timeout.c
  users/stanrc85/rules.mk
Labels: keymap

#13351 keyboards/kint*: update debounce time to 20ms to fix ghost key presses
  keyboards/kinesis/kint2pp/config.h
  keyboards/kinesis/kint36/config.h
Labels: keyboard

#13370 Updates for keymap: ut472/stefanopace
  keyboards/ut472/keymaps/stefanopace/config.h
  keyboards/ut472/keymaps/stefanopace/keymap.c
  keyboards/ut472/keymaps/stefanopace/rules.mk
Labels: keymap

#13385 Sanctified Dystopia: physically arrange layout macro
  keyboards/sanctified/dystopia/dystopia.h
  keyboards/sanctified/dystopia/keymaps/default/keymap.c
  keyboards/sanctified/dystopia/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#13386 FJLabs Midway60: physically arrange layout macro and fix info.json data
  keyboards/fjlabs/midway60/info.json
  keyboards/fjlabs/midway60/keymaps/default/keymap.c
  keyboards/fjlabs/midway60/keymaps/via/keymap.c
  keyboards/fjlabs/midway60/midway60.h
Labels: enhancement, keyboard, keymap, via

#13387 Illusion Rosa: correct layout macro names
  keyboards/illusion/rosa/info.json
  keyboards/illusion/rosa/keymaps/default/keymap.c
  keyboards/illusion/rosa/keymaps/oggi/keymap.c
  keyboards/illusion/rosa/keymaps/split_bs_rshift/keymap.c
  keyboards/illusion/rosa/keymaps/split_rshift/keymap.c
  keyboards/illusion/rosa/keymaps/via/keymap.c
  keyboards/illusion/rosa/rosa.h
  keyboards/illusion/rosa/rules.mk
Labels: enhancement, keyboard, keymap, via

#11044 [Docs] Japanese translation of docs/keycodes_basic.md
  docs/ja/keycodes_basic.md
Labels: documentation, on hold, translation

#12454 Translated 'feature_advanced_keycodes.md'.
  docs/ja/feature_advanced_keycodes.md
Labels: documentation, translation

#12695 update Japanese translation of config_options.md
  docs/ja/config_options.md
Labels: documentation, translation

#12776 [Docs] update Japanese translation of other_eclipse.md
  docs/ja/other_eclipse.md
Labels: documentation, translation

#13341 Changed Yeehaw Default Keymap
  keyboards/yeehaw/keymaps/default/keymap.c
  keyboards/yeehaw/keymaps/via/keymap.c
Labels: keymap, via

#13399 Convert Dip Switch callbacks to boolean functions
  docs/feature_dip_switch.md
  docs/ja/feature_dip_switch.md
  keyboards/abacus/keymaps/unicodemap/keymap.c
  keyboards/handwired/6key/keymaps/default/keymap.c
  keyboards/helix/rev3_4rows/rev3_4rows.c
  keyboards/helix/rev3_5rows/rev3_5rows.c
  keyboards/pandora/keymaps/default/keymap.c
  keyboards/pandora/keymaps/via/keymap.c
  keyboards/planck/keymaps/abishalom/keymap.c
  keyboards/planck/keymaps/atreus/keymap.c
  keyboards/planck/keymaps/dear_vehicle_owner/keymap.c
  keyboards/planck/keymaps/default/keymap.c
  keyboards/planck/keymaps/gitdrik/keymap.c
  keyboards/planck/keymaps/grant24/keymap.c
  keyboards/planck/keymaps/hvp/keymap.c
  keyboards/planck/keymaps/jdelkins/keymap.c
  keyboards/planck/keymaps/lja83/keymap.c
  keyboards/planck/keymaps/mjuma/keymap.c
  keyboards/planck/keymaps/rjhilgefort/keymap.c
  keyboards/planck/rev6/rev6.c
  keyboards/planck/thk/keymaps/thk/keymap.c
  keyboards/preonic/keymaps/AlexDaigre/keymap.c
  keyboards/preonic/keymaps/default/keymap.c
  keyboards/preonic/keymaps/drasbeck/keymap.c
  keyboards/preonic/keymaps/elisiano/keymap.c
  keyboards/preonic/keymaps/keelhauler/keymap.c
  keyboards/preonic/keymaps/kjwon15/keymap.c
  keyboards/preonic/keymaps/laurentlaurent/keymap.c
  keyboards/preonic/keymaps/mguterl/keymap.c
  keyboards/preonic/keymaps/mverteuil/keymap.c
  keyboards/preonic/keymaps/mverteuil_2x2u/keymap.c
  keyboards/preonic/keymaps/pezhore/keymap.c
  keyboards/preonic/keymaps/senseored/keymap.c
  keyboards/preonic/keymaps/via/keymap.c
  keyboards/preonic/rev3/rev3.c
  layouts/community/ortho_4x12/brandonschlack/keymap.c
  layouts/community/ortho_4x12/mguterl/keymap.c
  layouts/community/ortho_5x12/brandonschlack/keymap.c
  quantum/dip_switch.c
  quantum/dip_switch.h
Labels: core, documentation, keyboard, keymap, translation, via

#13362 Add haervig userspace and keymaps
  keyboards/dztech/dz65rgb/keymaps/haervig/keymap.c
  keyboards/dztech/dz65rgb/keymaps/haervig/rules.mk
  users/haervig/config.h
  users/haervig/haervig.c
  users/haervig/haervig.h
  users/haervig/readme.md
  users/haervig/rules.mk
Labels: keymap

#13395 Adding Via support to the GON NerD60
  keyboards/gon/nerd60/config.h
  keyboards/gon/nerd60/keymaps/via/keymap.c
  keyboards/gon/nerd60/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#13384 Add missing Quefrency layouts for QMK Configurator
  keyboards/keebio/quefrency/info.json
Labels: keyboard

#13081 [Core] Unite half-duplex and full-duplex serial drivers
  build_keyboard.mk
  docs/serial_driver.md
  drivers/chibios/serial_usart.c
  drivers/chibios/serial_usart.h
  drivers/chibios/serial_usart_duplex.c
  platforms/chibios/QMK_PROTON_C/configs/halconf.h
  platforms/chibios/common/configs/halconf.h
Labels: core, documentation

#13075 add support for Axon40 and G_IDB60
  keyboards/checkerboards/axon40/axon40.c
  keyboards/checkerboards/axon40/axon40.h
  keyboards/checkerboards/axon40/config.h
  keyboards/checkerboards/axon40/info.json
  keyboards/checkerboards/axon40/keymaps/default/config.h
  keyboards/checkerboards/axon40/keymaps/default/keymap.c
  keyboards/checkerboards/axon40/keymaps/default/readme.md
  keyboards/checkerboards/axon40/keymaps/npspears/config.h
  keyboards/checkerboards/axon40/keymaps/npspears/keymap.c
  keyboards/checkerboards/axon40/keymaps/via/keymap.c
  keyboards/checkerboards/axon40/keymaps/via/rules.mk
  keyboards/checkerboards/axon40/readme.md
  keyboards/checkerboards/axon40/rules.mk
  keyboards/checkerboards/g_idb60/config.h
  keyboards/checkerboards/g_idb60/g_idb60.c
  keyboards/checkerboards/g_idb60/g_idb60.h
  keyboards/checkerboards/g_idb60/info.json
  keyboards/checkerboards/g_idb60/keymaps/default/config.h
  keyboards/checkerboards/g_idb60/keymaps/default/keymap.c
  keyboards/checkerboards/g_idb60/keymaps/via/config.h
  keyboards/checkerboards/g_idb60/keymaps/via/keymap.c
  keyboards/checkerboards/g_idb60/keymaps/via/rules.mk
  keyboards/checkerboards/g_idb60/readme.md
  keyboards/checkerboards/g_idb60/rules.mk
Labels: keyboard, keymap, via

#13390 Cleanup gitignore
  .gitignore
  keyboards/planck/keymaps/ishtob/rules.mk
  keyboards/preonic/keymaps/that_canadian/rules.mk
  keyboards/wilba_tech/zeal60/keymaps/tusing/rules.mk
Labels: enhancement, keymap

#13371 Add rgblight to RGB Matrix VPATH
  common_features.mk
Labels: bug, core

#13413 [Bug] fix Dystopia.h comma
  keyboards/sanctified/dystopia/dystopia.h
Labels: keyboard

#13414 Fix up recent checkerboards additions
  keyboards/checkerboards/axon40/info.json
  keyboards/checkerboards/axon40/readme.md
  keyboards/checkerboards/axon40/rules.mk
  keyboards/checkerboards/g_idb60/info.json
  keyboards/checkerboards/g_idb60/readme.md
  keyboards/checkerboards/g_idb60/rules.mk
Labels: bug, keyboard

#13411 Chevron by ramonimbao: add maintainer value to info.json
  keyboards/ramonimbao/chevron/info.json
Labels: enhancement, keyboard

#13409 KY01: correct info.json data
  keyboards/ky01/info.json
Labels: enhancement, keyboard

#13047 added 0xCB Static
  keyboards/0xcb/static/config.h
  keyboards/0xcb/static/gfxfont.c
  keyboards/0xcb/static/info.json
  keyboards/0xcb/static/keymaps/default/keymap.c
  keyboards/0xcb/static/keymaps/via/keymap.c
  keyboards/0xcb/static/keymaps/via/rules.mk
  keyboards/0xcb/static/readme.md
  keyboards/0xcb/static/rules.mk
  keyboards/0xcb/static/static.c
  keyboards/0xcb/static/static.h
Labels: keyboard, keymap, via

#13418 [Core] Use CRC calculation subsystem for split_common
  quantum/split_common/transactions.c
Labels: core

#11896 Creation of the manyboard macro keyboard with default keymaps
  keyboards/manyboard/macro/config.h
  keyboards/manyboard/macro/info.json
  keyboards/manyboard/macro/keymaps/default/keymap.c
  keyboards/manyboard/macro/keymaps/via/keymap.c
  keyboards/manyboard/macro/keymaps/via/rules.mk
  keyboards/manyboard/macro/macro.c
  keyboards/manyboard/macro/macro.h
  keyboards/manyboard/macro/readme.md
  keyboards/manyboard/macro/rules.mk
Labels: awaiting review, keyboard, keymap, via

#11817 Add FnRow v1 keyboard by dinofizz
  keyboards/dinofizz/fnrow/v1/chconf.h
  keyboards/dinofizz/fnrow/v1/config.h
  keyboards/dinofizz/fnrow/v1/halconf.h
  keyboards/dinofizz/fnrow/v1/info.json
  keyboards/dinofizz/fnrow/v1/keymaps/default/keymap.c
  keyboards/dinofizz/fnrow/v1/keymaps/default/readme.md
  keyboards/dinofizz/fnrow/v1/keymaps/via/keymap.c
  keyboards/dinofizz/fnrow/v1/keymaps/via/rules.mk
  keyboards/dinofizz/fnrow/v1/mcuconf.h
  keyboards/dinofizz/fnrow/v1/readme.md
  keyboards/dinofizz/fnrow/v1/rules.mk
  keyboards/dinofizz/fnrow/v1/v1.c
  keyboards/dinofizz/fnrow/v1/v1.h
Labels: awaiting review, keyboard, keymap, via

#12425 [Keyboard] Relocalize and Update p1800fl
  keyboards/handwired/p1800fl/rules.mk
  keyboards/team0110/p1800fl/config.h
  keyboards/team0110/p1800fl/info.json
  keyboards/team0110/p1800fl/keymaps/default/keymap.c
  keyboards/team0110/p1800fl/keymaps/default/readme.md
  keyboards/team0110/p1800fl/keymaps/via/keymap.c
  keyboards/team0110/p1800fl/keymaps/via/readme.md
  keyboards/team0110/p1800fl/keymaps/via/rules.mk
  keyboards/team0110/p1800fl/p1800fl.c
  keyboards/team0110/p1800fl/p1800fl.h
  keyboards/team0110/p1800fl/readme.md
  keyboards/team0110/p1800fl/rules.mk
Labels: keyboard, keymap, via

#12273 Update personal keymaps, add Corne keymap, and update non-kc LAYOUT for Iris
  keyboards/crkbd/keymaps/davidrambo/config.h
  keyboards/crkbd/keymaps/davidrambo/keymap.c
  keyboards/crkbd/keymaps/davidrambo/readme.md
  keyboards/crkbd/keymaps/davidrambo/rules.mk
  keyboards/gh60/satan/keymaps/bri/keymap.c
  keyboards/keebio/iris/keymaps/davidrambo/keymap.c
  keyboards/planck/keymaps/davidrambo/keymap.c
  keyboards/preonic/keymaps/davidrambo/config.h
  keyboards/preonic/keymaps/davidrambo/keymap.c
  keyboards/preonic/keymaps/davidrambo/rules.mk
  keyboards/xd75/keymaps/davidrambo/keymap.c
  keyboards/xd75/keymaps/davidrambo/readme.md
Labels: keymap

#12709 Think6.5v2 keymap with working caps-lock indicator
  keyboards/gray_studio/think65/solder/keymaps/dangjoeltang/keymap.c
  keyboards/gray_studio/think65/solder/keymaps/dangjoeltang/readme.md
Labels: keymap

#13424 Add "Ctrl+C to cancel" to "waiting for bootloader" messages
  message.mk
  tmk_core/avr.mk
Labels: core

#13065 Improve layer mask handling
  quantum/command.c
  quantum/quantum.c
  tmk_core/common/action_layer.c
  tmk_core/common/action_layer.h
Labels: core, enhancement, optimization

#12238 Add support for NO_PIN to all matrix types
  quantum/matrix.c
  quantum/split_common/matrix.c
Labels: core, enhancement

#13069 mousekey: expose current report to users
  quantum/mousekey.c
  quantum/mousekey.h
Labels: core, enhancement

#13154 [Keyboard] Add Creator Pro by SergioPoverony
  keyboards/sergiopoverony/creator_pro/config.h
  keyboards/sergiopoverony/creator_pro/creator_pro.c
  keyboards/sergiopoverony/creator_pro/creator_pro.h
  keyboards/sergiopoverony/creator_pro/info.json
  keyboards/sergiopoverony/creator_pro/keymaps/default/keymap.c
  keyboards/sergiopoverony/creator_pro/keymaps/default/readme.md
  keyboards/sergiopoverony/creator_pro/keymaps/via/keymap.c
  keyboards/sergiopoverony/creator_pro/keymaps/via/rules.mk
  keyboards/sergiopoverony/creator_pro/readme.md
  keyboards/sergiopoverony/creator_pro/rules.mk
Labels: keyboard, keymap, via

#13221 [Keyboard]Add X-Bows Knight_Plus Keyboard
  keyboards/xbows/knight_plus/config.h
  keyboards/xbows/knight_plus/info.json
  keyboards/xbows/knight_plus/keymaps/default/config.h
  keyboards/xbows/knight_plus/keymaps/default/keymap.c
  keyboards/xbows/knight_plus/keymaps/via/config.h
  keyboards/xbows/knight_plus/keymaps/via/keymap.c
  keyboards/xbows/knight_plus/keymaps/via/rules.mk
  keyboards/xbows/knight_plus/knight_plus.c
  keyboards/xbows/knight_plus/knight_plus.h
  keyboards/xbows/knight_plus/readme.md
  keyboards/xbows/knight_plus/rules.mk
  keyboards/xbows/numpad/config.h
  keyboards/xbows/numpad/info.json
  keyboards/xbows/numpad/keymaps/default/config.h
  keyboards/xbows/numpad/keymaps/default/keymap.c
  keyboards/xbows/numpad/keymaps/via/config.h
  keyboards/xbows/numpad/keymaps/via/keymap.c
  keyboards/xbows/numpad/keymaps/via/rules.mk
  keyboards/xbows/numpad/numpad.c
  keyboards/xbows/numpad/numpad.h
  keyboards/xbows/numpad/readme.md
  keyboards/xbows/numpad/rules.mk
Labels: keyboard, keymap, via

#13228 Add Bakeneko65 V3 and revision folders
  keyboards/bakeneko65/keymaps/default/readme.md
  keyboards/bakeneko65/rev2/config.h
  keyboards/bakeneko65/rev2/info.json
  keyboards/bakeneko65/rev2/keymaps/default/keymap.c
  keyboards/bakeneko65/rev2/keymaps/default/readme.md
  keyboards/bakeneko65/rev2/keymaps/via/keymap.c
  keyboards/bakeneko65/rev2/keymaps/via/rules.mk
  keyboards/bakeneko65/rev2/readme.md
  keyboards/bakeneko65/rev2/rev2.c
  keyboards/bakeneko65/rev2/rev2.h
  keyboards/bakeneko65/rev2/rules.mk
  keyboards/bakeneko65/rev3/config.h
  keyboards/bakeneko65/rev3/info.json
  keyboards/bakeneko65/rev3/keymaps/default/keymap.c
  keyboards/bakeneko65/rev3/keymaps/default/readme.md
  keyboards/bakeneko65/rev3/keymaps/via/keymap.c
  keyboards/bakeneko65/rev3/keymaps/via/rules.mk
  keyboards/bakeneko65/rev3/readme.md
  keyboards/bakeneko65/rev3/rev3.c
  keyboards/bakeneko65/rev3/rev3.h
  keyboards/bakeneko65/rev3/rules.mk
Labels: keyboard, keymap, via

#13214 Add support for Idobao Montex
  keyboards/montex/config.h
  keyboards/montex/info.json
  keyboards/montex/keymaps/default/keymap.c
  keyboards/montex/montex.c
  keyboards/montex/montex.h
  keyboards/montex/readme.md
  keyboards/montex/rules.mk
  layouts/default/numpad_6x5/default_numpad_6x5/keymap.c
  layouts/default/numpad_6x5/info.json
  layouts/default/numpad_6x5/layout.json
  layouts/default/numpad_6x5/readme.md
Labels: keyboard, keymap

#13245 niclake - Keymap updates - Boardwalk updates & DZ60 create
  keyboards/boardwalk/keymaps/niclake/keymap.c
  keyboards/dz60/keymaps/niclake/config.h
  keyboards/dz60/keymaps/niclake/keymap.c
  keyboards/dz60/keymaps/niclake/readme.md
  keyboards/dz60/keymaps/niclake/rules.mk
Labels: keymap

#13338 Add my community layout
  layouts/community/65_ansi_blocker/stanrc85/keymap.c
Labels: keymap

#13367 RGB Matrix Caps Lock and Layer indicator example
  docs/feature_rgb_matrix.md
Labels: documentation

#13376 Jonavin quefrency keymap add encoder functionality + 2tap Shift CAPSLOCK
  keyboards/keebio/quefrency/keymaps/jonavin/config.h
  keyboards/keebio/quefrency/keymaps/jonavin/keymap.c
  keyboards/keebio/quefrency/keymaps/jonavin/readme.md
  keyboards/keebio/quefrency/keymaps/jonavin/rules.mk
  keyboards/mechwild/mercutio/keymaps/jonavin/config.h
Labels: keymap

#13406 new gmmk pro keymap with numpad, enhanced encoder functionality and Win key lock
  keyboards/gmmk/pro/keymaps/jonavin/config.h
  keyboards/gmmk/pro/keymaps/jonavin/keymap.c
  keyboards/gmmk/pro/keymaps/jonavin/readme.md
  keyboards/gmmk/pro/keymaps/jonavin/rules.mk
Labels: keymap

#13425 Improve 'show_build_options' target
  show_options.mk
Labels: core

#13430 AW20216 use register increment for framebuffer flushes
  drivers/awinic/aw20216.c
Labels: core

#13428 [Bug] Pachi RGB - fix rgb placement
  keyboards/xelus/pachi/rgb/rgb.c
Labels: keyboard

#13039 Jonavin merc additional encoder functionality
  keyboards/mechwild/mercutio/keymaps/jonavin/keymap.c
  keyboards/mechwild/mercutio/keymaps/jonavin/readme.md
  keyboards/mechwild/mercutio/keymaps/jonavin/rules.mk
Labels: keymap

#12902 Added LAYOUT_60_iso_split_rshift
  keyboards/ok60/info.json
Labels: keyboard

#12734 Add wings42 keyboard
  keyboards/wings42/config.h
  keyboards/wings42/readme.md
  keyboards/wings42/rev1/config.h
  keyboards/wings42/rev1/keymaps/default/keymap.c
  keyboards/wings42/rev1/keymaps/default/readme.md
  keyboards/wings42/rev1/keymaps/via/keymap.c
  keyboards/wings42/rev1/keymaps/via/rules.mk
  keyboards/wings42/rev1/readme.md
  keyboards/wings42/rev1/rev1.c
  keyboards/wings42/rev1/rev1.h
  keyboards/wings42/rev1/rules.mk
  keyboards/wings42/rev1_extkeys/config.h
  keyboards/wings42/rev1_extkeys/keymaps/default/keymap.c
  keyboards/wings42/rev1_extkeys/keymaps/default/readme.md
  keyboards/wings42/rev1_extkeys/keymaps/via/keymap.c
  keyboards/wings42/rev1_extkeys/keymaps/via/rules.mk
  keyboards/wings42/rev1_extkeys/readme.md
  keyboards/wings42/rev1_extkeys/rev1_extkeys.c
  keyboards/wings42/rev1_extkeys/rev1_extkeys.h
  keyboards/wings42/rev1_extkeys/rules.mk
  keyboards/wings42/rules.mk
  keyboards/wings42/wings42.c
  keyboards/wings42/wings42.h
Labels: keyboard, keymap, via

#13410 Pisces: correct layout macro reference in info.json
  keyboards/pisces/info.json
  keyboards/pisces/rules.mk
Labels: enhancement, keyboard

#13270 [Keyboard] Add soldered variant of Titan 65 keyboard.
  keyboards/phase_studio/titan65/hotswap/config.h
  keyboards/phase_studio/titan65/hotswap/hotswap.c
  keyboards/phase_studio/titan65/hotswap/hotswap.h
  keyboards/phase_studio/titan65/hotswap/info.json
  keyboards/phase_studio/titan65/hotswap/keymaps/default/keymap.c
  keyboards/phase_studio/titan65/hotswap/keymaps/via/keymap.c
  keyboards/phase_studio/titan65/hotswap/keymaps/via/rules.mk
  keyboards/phase_studio/titan65/hotswap/readme.md
  keyboards/phase_studio/titan65/hotswap/rules.mk
  keyboards/phase_studio/titan65/rules.mk
  keyboards/phase_studio/titan65/soldered/config.h
  keyboards/phase_studio/titan65/soldered/info.json
  keyboards/phase_studio/titan65/soldered/keymaps/default/keymap.c
  keyboards/phase_studio/titan65/soldered/keymaps/via/keymap.c
  keyboards/phase_studio/titan65/soldered/keymaps/via/rules.mk
  keyboards/phase_studio/titan65/soldered/readme.md
  keyboards/phase_studio/titan65/soldered/rules.mk
  keyboards/phase_studio/titan65/soldered/soldered.c
  keyboards/phase_studio/titan65/soldered/soldered.h
Labels: keyboard, keymap, via

#13382 added the ortho boards from the technik gb
  keyboards/boardsource/beiwagon/beiwagon.c
  keyboards/boardsource/beiwagon/beiwagon.h
  keyboards/boardsource/beiwagon/config.h
  keyboards/boardsource/beiwagon/info.json
  keyboards/boardsource/beiwagon/keymaps/default/keymap.c
  keyboards/boardsource/beiwagon/keymaps/default/readme.md
  keyboards/boardsource/beiwagon/keymaps/via/keymap.c
  keyboards/boardsource/beiwagon/keymaps/via/readme.md
  keyboards/boardsource/beiwagon/keymaps/via/rules.mk
  keyboards/boardsource/beiwagon/readme.md
  keyboards/boardsource/beiwagon/rules.mk
  keyboards/boardsource/technik_o/config.h
  keyboards/boardsource/technik_o/info.json
  keyboards/boardsource/technik_o/keymaps/default/keymap.c
  keyboards/boardsource/technik_o/keymaps/default/readme.md
  keyboards/boardsource/technik_o/keymaps/via/keymap.c
  keyboards/boardsource/technik_o/keymaps/via/readme.md
  keyboards/boardsource/technik_o/keymaps/via/rules.mk
  keyboards/boardsource/technik_o/readme.md
  keyboards/boardsource/technik_o/rules.mk
  keyboards/boardsource/technik_o/technik_o.c
  keyboards/boardsource/technik_o/technik_o.h
Labels: keyboard, keymap, via

#13378 Add IDOBAO ID67
  keyboards/id67/config.h
  keyboards/id67/id67.c
  keyboards/id67/id67.h
  keyboards/id67/info.json
  keyboards/id67/keymaps/default/keymap.c
  keyboards/id67/keymaps/via/keymap.c
  keyboards/id67/keymaps/via/rules.mk
  keyboards/id67/readme.md
  keyboards/id67/rules.mk
Labels: keyboard, keymap, via

#13439 Specskeys Configurator Bugfix and Refactor
  keyboards/specskeys/info.json
  keyboards/specskeys/keymaps/default/keymap.c
  keyboards/specskeys/specskeys.h
Labels: enhancement, keyboard, keymap

#13402 Add CX60 Pcb
  keyboards/cx60/config.h
  keyboards/cx60/cx60.c
  keyboards/cx60/cx60.h
  keyboards/cx60/info.json
  keyboards/cx60/keymaps/default/keymap.c
  keyboards/cx60/keymaps/default/readme.md
  keyboards/cx60/keymaps/via/keymap.c
  keyboards/cx60/keymaps/via/readme.md
  keyboards/cx60/keymaps/via/rules.mk
  keyboards/cx60/keymaps/via_caps/config.h
  keyboards/cx60/keymaps/via_caps/keymap.c
  keyboards/cx60/keymaps/via_caps/readme.md
  keyboards/cx60/keymaps/via_caps/rules.mk
  keyboards/cx60/readme.md
  keyboards/cx60/rules.mk
Labels: keyboard, keymap, via

#13445 Yampad: add info.json
  keyboards/yampad/info.json
Labels: enhancement, keyboard

#13448 Keyprez Corgi: correct Configurator layout data
  keyboards/keyprez/corgi/info.json
Labels: enhancement, keyboard

#13433 Allow invert of SPLIT_HAND_PIN logic
  docs/feature_split_keyboard.md
  quantum/split_common/split_util.c
Labels: core, documentation

#13159 added list of MIDI keycodes
  docs/keycodes.md
Labels: documentation, enhancement

#13453 Molecule: Layout Macro Refactor
  keyboards/molecule/info.json
  keyboards/molecule/keymaps/default/keymap.c
  keyboards/molecule/molecule.h
Labels: enhancement, keyboard, keymap

#13447 Jabberwocky: adjust key positioning in Configurator
  keyboards/nopunin10did/jabberwocky/info.json
  keyboards/nopunin10did/jabberwocky/readme.md
Labels: enhancement, keyboard

#13452 LatinPadBLE: correct info.json data
  keyboards/latinpadble/info.json
  keyboards/latinpadble/rules.mk
Labels: enhancement, keyboard

#13441 Traveller cleanup
  keyboards/handwired/traveller/config.h
  keyboards/handwired/traveller/info.json
  keyboards/handwired/traveller/keymaps/default/keymap.c
  keyboards/handwired/traveller/keymaps/default/readme.md
  keyboards/handwired/traveller/readme.md
  keyboards/handwired/traveller/rules.mk
  keyboards/handwired/traveller/traveller.c
  keyboards/handwired/traveller/traveller.h
Labels: enhancement, keyboard, keymap

#13451 Fix encoder_update_user signature for nullbitsco/nibble olead
  keyboards/nullbitsco/nibble/keymaps/oled_status/keymap.c
Labels: keymap

#13360 Migrate SHIFT_ESC and RGB `fn_actions` to Grave Escape and RGB keycodes
  keyboards/acr60/keymaps/mitch/keymap.c
  keyboards/alu84/keymaps/turbomech/keymap.c
  keyboards/amjpad/keymaps/max/keymap.c
  keyboards/gh60/revc/keymaps/dbroqua/keymap.c
  keyboards/gh60/revc/keymaps/robotmaxtron/keymap.c
  keyboards/gh60/revc/keymaps/sethbc/keymap.c
  keyboards/gh60/satan/keymaps/chaser/keymap.c
  keyboards/gh60/satan/keymaps/dbroqua/keymap.c
  keyboards/gh60/satan/keymaps/denolfe/keymap.c
  keyboards/gh60/satan/keymaps/isoHHKB/keymap.c
  keyboards/gh60/satan/keymaps/sethbc/keymap.c
  keyboards/gh60/satan/keymaps/stanleylai/keymap.c
  keyboards/gh60/satan/keymaps/unxmaal/keymap.c
  keyboards/kbdfans/kbd75/keymaps/adit/keymap.c
  keyboards/kc60/keymaps/stanleylai/keymap.c
  keyboards/mechmini/v2/keymaps/2u_space_ortho/keymap.c
  keyboards/mechmini/v2/keymaps/625_space/keymap.c
  keyboards/mechmini/v2/keymaps/ortho/keymap.c
  keyboards/mechmini/v2/keymaps/split_space/keymap.c
  keyboards/sentraq/s60_x/keymaps/dbroqua/keymap.c
Labels: enhancement, keymap

#13450 core: chibios: bootloader: use integer pointers as volatile
  tmk_core/common/chibios/bootloader.c
Labels: core

#13427 Update `MSG_PYTHON_MISSING`
  message.mk
Labels: core

#13422 /bin/bash to /usr/bin/env bash
  util/chibios_conf_updater.sh
  util/generate_internal_docs.sh
  util/install/arch.sh
  util/install/debian.sh
  util/install/fedora.sh
  util/install/freebsd.sh
  util/install/gentoo.sh
  util/install/linux_shared.sh
  util/install/macos.sh
  util/install/msys2.sh
  util/install/slackware.sh
  util/install/solus.sh
  util/install/void.sh
  util/new_keyboard.sh
  util/qmk_install.sh
  util/rules_cleaner.sh
  util/travis_build.sh
  util/travis_compiled_push.sh
  util/travis_test.sh
Labels: core

#13440 [Keyboard] Set reasonable defaults for Corne keyboard
  keyboards/crkbd/config.h
  keyboards/crkbd/post_config.h
  keyboards/crkbd/readme.md
  keyboards/crkbd/rev1/config.h
  keyboards/crkbd/rules.mk
Labels: keyboard

#13314 Add keyboard kabedon98e
  keyboards/kabedon/kabedon98e/chconf.h
  keyboards/kabedon/kabedon98e/config.h
  keyboards/kabedon/kabedon98e/halconf.h
  keyboards/kabedon/kabedon98e/info.json
  keyboards/kabedon/kabedon98e/kabedon98e.c
  keyboards/kabedon/kabedon98e/kabedon98e.h
  keyboards/kabedon/kabedon98e/keymaps/default/keymap.c
  keyboards/kabedon/kabedon98e/keymaps/via/keymap.c
  keyboards/kabedon/kabedon98e/keymaps/via/rules.mk
  keyboards/kabedon/kabedon98e/mcuconf.h
  keyboards/kabedon/kabedon98e/readme.md
  keyboards/kabedon/kabedon98e/rules.mk
Labels: keyboard, keymap, via

#13375 [Keyboard] Add keyboard reviung5
  keyboards/reviung5/config.h
  keyboards/reviung5/info.json
  keyboards/reviung5/keymaps/default/keymap.c
  keyboards/reviung5/keymaps/default/readme.md
  keyboards/reviung5/keymaps/default_lre/keymap.c
  keyboards/reviung5/keymaps/default_lre/readme.md
  keyboards/reviung5/keymaps/default_rre/keymap.c
  keyboards/reviung5/keymaps/default_rre/readme.md
  keyboards/reviung5/readme.md
  keyboards/reviung5/reviung5.c
  keyboards/reviung5/reviung5.h
  keyboards/reviung5/rules.mk
Labels: keyboard, keymap

#13400 Add bm65iso
  keyboards/bm65iso/bm65iso.c
  keyboards/bm65iso/bm65iso.h
  keyboards/bm65iso/config.h
  keyboards/bm65iso/info.json
  keyboards/bm65iso/keymaps/deadolus/config.h
  keyboards/bm65iso/keymaps/deadolus/keymap.c
  keyboards/bm65iso/keymaps/deadolus/keymap.h
  keyboards/bm65iso/keymaps/deadolus/readme.md
  keyboards/bm65iso/keymaps/deadolus/rules.mk
  keyboards/bm65iso/keymaps/default/keymap.c
  keyboards/bm65iso/keymaps/via/keymap.c
  keyboards/bm65iso/keymaps/via/readme.md
  keyboards/bm65iso/keymaps/via/rules.mk
  keyboards/bm65iso/readme.md
  keyboards/bm65iso/rules.mk
Labels: keyboard, keymap, via

#12782 Add new Elise, 65% Keyboard ANSI / ISO
  keyboards/draytronics/elise/config.h
  keyboards/draytronics/elise/elise.c
  keyboards/draytronics/elise/elise.h
  keyboards/draytronics/elise/info.json
  keyboards/draytronics/elise/keymaps/blake_iso/keymap.c
  keyboards/draytronics/elise/keymaps/default/keymap.c
  keyboards/draytronics/elise/keymaps/default_iso/keymap.c
  keyboards/draytronics/elise/readme.md
  keyboards/draytronics/elise/rules.mk
Labels: keyboard, keymap

#12810 Add poker87c and poker87d
  keyboards/poker87c/config.h
  keyboards/poker87c/info.json
  keyboards/poker87c/keymaps/default/keymap.c
  keyboards/poker87c/keymaps/via/keymap.c
  keyboards/poker87c/keymaps/via/rules.mk
  keyboards/poker87c/poker87c.c
  keyboards/poker87c/poker87c.h
  keyboards/poker87c/readme.md
  keyboards/poker87c/rules.mk
  keyboards/poker87d/config.h
  keyboards/poker87d/info.json
  keyboards/poker87d/keymaps/default/keymap.c
  keyboards/poker87d/keymaps/via/keymap.c
  keyboards/poker87d/keymaps/via/rules.mk
  keyboards/poker87d/poker87d.c
  keyboards/poker87d/poker87d.h
  keyboards/poker87d/readme.md
  keyboards/poker87d/rules.mk
Labels: keyboard, keymap, via

#13476 Kopibeng XT65: Layout Macro Refactor
  keyboards/kopibeng/xt65/info.json
  keyboards/kopibeng/xt65/keymaps/default/keymap.c
  keyboards/kopibeng/xt65/keymaps/via/keymap.c
  keyboards/kopibeng/xt65/xt65.h
Labels: enhancement, keyboard, keymap, via

#13477 Xelus Ninjin: rename LAYOUT_all to LAYOUT_tkl_ansi_tsangan; add info.json
  keyboards/xelus/ninjin/info.json
  keyboards/xelus/ninjin/keymaps/default/keymap.c
  keyboards/xelus/ninjin/keymaps/via/keymap.c
  keyboards/xelus/ninjin/ninjin.h
Labels: enhancement, keyboard, keymap, via

#13165 Use the new ST7565 driver on Ergodox Infinity
  keyboards/ergodox_infinity/config.h
  keyboards/ergodox_infinity/ergodox_infinity.c
  keyboards/ergodox_infinity/ergodox_infinity.h
  keyboards/ergodox_infinity/keymaps/default/keymap.c
  keyboards/ergodox_infinity/rules.mk
Labels: keyboard, keymap

#13401 [Docs] update Japanese translation of internals_gpio_control.md
  docs/ja/internals_gpio_control.md
Labels: documentation, translation

#13473 [Update] Change Original TAGs of Japanese translations
  docs/ja/config_options.md
  docs/ja/faq_general.md
  docs/ja/feature_swap_hands.md
  docs/ja/feature_userspace.md
  docs/ja/other_vscode.md
  docs/ja/proton_c_conversion.md
Labels: documentation, translation

#13472 [Docs] Updated Japanese translation of feature_ps2_mouse.md.
  docs/ja/feature_ps2_mouse.md
Labels: documentation, translation

#13482 nknl7en: correct key object order
  keyboards/nknl7en/info.json
Labels: enhancement, keyboard

#13498 Mechmini V1 Refactor
  keyboards/mechmini/v1/info.json
  keyboards/mechmini/v1/keymaps/default/keymap.c
  keyboards/mechmini/v1/v1.h
Labels: enhancement, keyboard, keymap

#13000 Enable manual trigger for api data
  .github/workflows/api.yml
  .github/workflows/develop_api.yml
Labels: CI

#13503 Fix VIA compilation issues for RGB Matrix
  keyboards/crkbd/keymaps/via/config.h
Labels: keymap, via

#13508 Clawsome Hatchback & SUV: fix improperly named keymap directories
  keyboards/clawsome/hatchback/keymaps/default/keymap.c
  keyboards/clawsome/suv/keymaps/default/keymap.c
Labels: bug, keymap

#13405 CLI: Add git and venv info to doctor's output
  lib/python/qmk/cli/doctor/main.py
  lib/python/qmk/commands.py
  lib/python/qmk/constants.py
Labels: cli, python

#13364 add new firewave ikki68_aurora
  keyboards/wuque/ikki68_aurora/config.h
  keyboards/wuque/ikki68_aurora/ikki68_aurora.c
  keyboards/wuque/ikki68_aurora/ikki68_aurora.h
  keyboards/wuque/ikki68_aurora/info.json
  keyboards/wuque/ikki68_aurora/keymaps/68_ansi/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/68_ansi/readme.md
  keyboards/wuque/ikki68_aurora/keymaps/68_ansi/rules.mk
  keyboards/wuque/ikki68_aurora/keymaps/68_iso/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/68_iso/readme.md
  keyboards/wuque/ikki68_aurora/keymaps/68_iso/rules.mk
  keyboards/wuque/ikki68_aurora/keymaps/68_split_bs/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/68_split_bs/readme.md
  keyboards/wuque/ikki68_aurora/keymaps/68_split_bs/rules.mk
  keyboards/wuque/ikki68_aurora/keymaps/68_split_lshift/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/68_split_lshift/readme.md
  keyboards/wuque/ikki68_aurora/keymaps/68_split_lshift/rules.mk
  keyboards/wuque/ikki68_aurora/keymaps/68_split_rshift/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/68_split_rshift/readme.md
  keyboards/wuque/ikki68_aurora/keymaps/68_split_rshift/rules.mk
  keyboards/wuque/ikki68_aurora/keymaps/68_split_space/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/68_split_space/readme.md
  keyboards/wuque/ikki68_aurora/keymaps/68_split_space/rules.mk
  keyboards/wuque/ikki68_aurora/keymaps/default/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/default/readme.md
  keyboards/wuque/ikki68_aurora/keymaps/via/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/via/readme.md
  keyboards/wuque/ikki68_aurora/keymaps/via/rules.mk
  keyboards/wuque/ikki68_aurora/readme.md
  keyboards/wuque/ikki68_aurora/rules.mk
Labels: keyboard, keymap, via

#13449 [keymap] plattfot - Keymap updates for Kyria
  keyboards/kyria/keymaps/plattfot/README.md
  keyboards/kyria/keymaps/plattfot/config.h
  keyboards/kyria/keymaps/plattfot/keymap.c
Labels: keymap

#13514 Fixed the Helix keymap 'fraanrosi' compile issues
  keyboards/helix/rev2/keymaps/fraanrosi/rules.mk
Labels: keymap

#13471 Matrix consistency improvements
  keyboards/aeboards/constellation/rev2/config.h
  keyboards/ai03/voyager60_alps/config.h
  keyboards/boardsource/3x4/config.h
  keyboards/boardsource/the_mark/config.h
  keyboards/converter/ibm_5291/config.h
  keyboards/converter/siemens_tastatur/config.h
  keyboards/coseyfannitutti/mulletpad/config.h
  keyboards/dc01/left/config.h
  keyboards/ggkeyboards/genesis/hotswap/config.h
  keyboards/ggkeyboards/genesis/solder/config.h
  keyboards/handwired/promethium/config.h
  keyboards/handwired/swiftrax/astro65/config.h
  keyboards/kinesis/alvicstep/config.h
  keyboards/kinesis/kint41/config.h
  keyboards/kinesis/nguyenvietyen/config.h
  keyboards/kmac/config.h
  keyboards/lizard_trick/tenkey_plusplus/config.h
  keyboards/mechlovin/tmkl/config.h
  keyboards/meira/featherble/config.h
  keyboards/meira/promicro/config.h
  keyboards/orthodox/rev3/config.h
  keyboards/orthodox/rev3_teensy/config.h
Labels: keyboard

#13510 Wuque Studio Ikki68 Aurora codebase touch-up
  keyboards/wuque/ikki68_aurora/ikki68_aurora.h
  keyboards/wuque/ikki68_aurora/info.json
  keyboards/wuque/ikki68_aurora/keymaps/68_ansi/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/68_iso/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/68_split_bs/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/68_split_lshift/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/68_split_rshift/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/68_split_space/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/default/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/via/keymap.c
  keyboards/wuque/ikki68_aurora/keymaps/via/readme.md
  keyboards/wuque/ikki68_aurora/readme.md
  keyboards/wuque/ikki68_aurora/rules.mk
Labels: keyboard, keymap, via

#13518 [Keymap] Fix Corne Via Layout properly
  keyboards/crkbd/keymaps/via/config.h
Labels: keymap, via

#13429 CapsUnlocked CU7
  keyboards/capsunlocked/cu7/config.h
  keyboards/capsunlocked/cu7/cu7.c
  keyboards/capsunlocked/cu7/cu7.h
  keyboards/capsunlocked/cu7/info.json
  keyboards/capsunlocked/cu7/keymaps/default/keymap.c
  keyboards/capsunlocked/cu7/keymaps/default/readme.md
  keyboards/capsunlocked/cu7/readme.md
  keyboards/capsunlocked/cu7/rules.mk
Labels: keyboard, keymap

#13505 Update lazydesigners/the60/rev2/rev2.h
  keyboards/lazydesigners/the60/rev2/rev2.h
Labels: keyboard

#13470 Matrix consistency check
  lib/python/qmk/info.py
Labels: cli, python

#13330 Unify matrix for split common and regular matrix
  common_features.mk
  quantum/matrix.c
  quantum/split_common/matrix.c
Labels: core

#13388 Add Bloop65
  keyboards/kwub/bloop/bloop.c
  keyboards/kwub/bloop/bloop.h
  keyboards/kwub/bloop/config.h
  keyboards/kwub/bloop/info.json
  keyboards/kwub/bloop/keymaps/crispyy/keymap.c
  keyboards/kwub/bloop/keymaps/default/keymap.c
  keyboards/kwub/bloop/keymaps/default/readme.md
  keyboards/kwub/bloop/keymaps/kevin_hhkb/keymap.c
  keyboards/kwub/bloop/keymaps/via/keymap.c
  keyboards/kwub/bloop/keymaps/via/readme.md
  keyboards/kwub/bloop/keymaps/via/rules.mk
  keyboards/kwub/bloop/readme.md
  keyboards/kwub/bloop/rules.mk
Labels: keyboard, keymap, via

#13525 Fix two out of bounds accesses from #13330.
  quantum/matrix.c
Labels: core

#13480 Enable g_is31_leds PROGMEM for RGB Matrix IS31FL3737 driver
  docs/feature_rgb_matrix.md
  drivers/issi/is31fl3737.c
  keyboards/mt84/mt84.c
  keyboards/planck/ez/ez.c
  tmk_core/common/progmem.h
Labels: core, documentation, keyboard

#13506 RGB Matrix support for TBK Mini
  keyboards/bastardkb/tbkmini/config.h
  keyboards/bastardkb/tbkmini/rules.mk
  keyboards/bastardkb/tbkmini/tbkmini.c
Labels: keyboard

#13504 add simple gmmk pro macos keymap with rgb
  keyboards/gmmk/pro/keymaps/alexmarmon/keymap.c
  keyboards/gmmk/pro/keymaps/alexmarmon/readme.md
Labels: keymap

#13521 ID67 codebase touch-up
  keyboards/id67/id67.h
  keyboards/id67/info.json
  keyboards/id67/keymaps/default/keymap.c
  keyboards/id67/keymaps/via/keymap.c
  keyboards/id67/readme.md
  keyboards/id67/rules.mk
Labels: enhancement, keyboard, keymap, via

#13526 Checker Boards NOP60 touch-up
  keyboards/checkerboards/nop60/info.json
  keyboards/checkerboards/nop60/keymaps/7u/keymap.c
  keyboards/checkerboards/nop60/keymaps/default/config.h
  keyboards/checkerboards/nop60/keymaps/default/keymap.c
  keyboards/checkerboards/nop60/keymaps/via/keymap.c
  keyboards/checkerboards/nop60/nop60.h
Labels: bug, enhancement, keyboard, keymap, via

#13527 Ergonomic Vertical Keyboard (EVK) handwired info.json touch-up
  keyboards/handwired/evk/v1_3/info.json
Labels: enhancement, keyboard

#13529 1UP Keyboards 1UP60HTE layout macro touch-up
  keyboards/1upkeyboards/1up60hte/1up60hte.h
  keyboards/1upkeyboards/1up60hte/info.json
  keyboards/1upkeyboards/1up60hte/keymaps/default/keymap.c
  keyboards/1upkeyboards/1up60hte/keymaps/hhkb/keymap.c
  keyboards/1upkeyboards/1up60hte/keymaps/via/keymap.c
  keyboards/1upkeyboards/1up60hte/readme.md
  keyboards/1upkeyboards/1up60hte/rules.mk
Labels: enhancement, keyboard, keymap, via

#13533 Keyboards/sol rev2 fix
  keyboards/rgbkb/sol/rev2/config.h
Labels: bug, keyboard

#12707 [Keyboard] Update Symmetric70 keyboard prototype
  keyboards/handwired/symmetric70_proto/debug_config.h
  keyboards/handwired/symmetric70_proto/local_features.mk
  keyboards/handwired/symmetric70_proto/matrix_debug/gpio_extr.h
  keyboards/handwired/symmetric70_proto/matrix_debug/matrix.c
  keyboards/handwired/symmetric70_proto/matrix_debug/readme.md
  keyboards/handwired/symmetric70_proto/matrix_fast/cpp_map.h
  keyboards/handwired/symmetric70_proto/matrix_fast/gpio_extr.h
  keyboards/handwired/symmetric70_proto/matrix_fast/matrix.c
  keyboards/handwired/symmetric70_proto/matrix_fast/matrix_config_expand.c
  keyboards/handwired/symmetric70_proto/matrix_fast/matrix_extension_74hc15x.c
  keyboards/handwired/symmetric70_proto/matrix_fast/matrix_extr.h
  keyboards/handwired/symmetric70_proto/matrix_fast/readme.md
  keyboards/handwired/symmetric70_proto/matrix_fast/test_config.h
  keyboards/handwired/symmetric70_proto/matrix_fast/test_config_74hc157.h
  keyboards/handwired/symmetric70_proto/matrix_fast/test_config_direct.h
  keyboards/handwired/symmetric70_proto/promicro/config.h
  keyboards/handwired/symmetric70_proto/promicro/fast/config.h
  keyboards/handwired/symmetric70_proto/promicro/fast/readme.md
  keyboards/handwired/symmetric70_proto/promicro/fast/rules.mk
  keyboards/handwired/symmetric70_proto/promicro/normal/config.h
  keyboards/handwired/symmetric70_proto/promicro/normal/readme.md
  keyboards/handwired/symmetric70_proto/promicro/normal/rules.mk
  keyboards/handwired/symmetric70_proto/promicro/readme.md
  keyboards/handwired/symmetric70_proto/promicro/rules.mk
  keyboards/handwired/symmetric70_proto/proton_c/config.h
  keyboards/handwired/symmetric70_proto/proton_c/fast/config.h
  keyboards/handwired/symmetric70_proto/proton_c/fast/readme.md
  keyboards/handwired/symmetric70_proto/proton_c/fast/rules.mk
  keyboards/handwired/symmetric70_proto/proton_c/normal/config.h
  keyboards/handwired/symmetric70_proto/proton_c/normal/readme.md
  keyboards/handwired/symmetric70_proto/proton_c/normal/rules.mk
  keyboards/handwired/symmetric70_proto/proton_c/proton_c.c
  keyboards/handwired/symmetric70_proto/proton_c/readme.md
  keyboards/handwired/symmetric70_proto/proton_c/rules.mk
  keyboards/handwired/symmetric70_proto/readme.md
Labels: keyboard

#13530 AMJ60 Refactor
  keyboards/amj60/amj60.c
  keyboards/amj60/amj60.h
  keyboards/amj60/config.h
  keyboards/amj60/info.json
  keyboards/amj60/keymaps/default/keymap.c
  keyboards/amj60/keymaps/iso_split_rshift/build.sh
  keyboards/amj60/keymaps/iso_split_rshift/keymap.c
  keyboards/amj60/keymaps/iso_split_rshift/readme.md
  keyboards/amj60/keymaps/iso_split_rshift/rules.mk
  keyboards/amj60/keymaps/iso_split_rshift/updatemerge.sh
  keyboards/amj60/keymaps/maximized/keymap.c
  keyboards/amj60/readme.md
  keyboards/amj60/rules.mk
Labels: keyboard, keymap

#13462 fixes and additions to the Marauder hand wired keyboard
  keyboards/handwired/marauder/config.h
  keyboards/handwired/marauder/keymaps/orvia/keymap.c
  keyboards/handwired/marauder/keymaps/orvia/rules.mk
  keyboards/handwired/marauder/keymaps/via/keymap.c
  keyboards/handwired/marauder/keymaps/via/rules.mk
  keyboards/handwired/marauder/readme.md
  keyboards/handwired/marauder/rules.mk
Labels: keyboard, keymap, via

#13488 Montex add VIA support and keymap.
  keyboards/montex/config.h
  keyboards/montex/keymaps/via/keymap.c
  keyboards/montex/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#11422 [New Feature] Key Overrides
  common_features.mk
  docs/_summary.md
  docs/config_options.md
  docs/feature_key_overrides.md
  docs/syllabus.md
  docs/understanding_qmk.md
  quantum/process_keycode/process_key_override.c
  quantum/process_keycode/process_key_override.h
  quantum/process_keycode/process_key_override_private.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
  show_options.mk
  tmk_core/common/action_util.c
Labels: core, documentation

#13537 Ergoarrows info.json touch-up
  keyboards/ergoarrows/info.json
Labels: enhancement, keyboard

#13528 4pplet AEKISO60 keymap/macro touch-up
  keyboards/4pplet/aekiso60/keymaps/default/keymap.c
  keyboards/4pplet/aekiso60/keymaps/via/keymap.c
  keyboards/4pplet/aekiso60/rev_a/rev_a.h
Labels: enhancement, keyboard, keymap, via

#13538 Ortho 5x14 handwired info.json correction
  keyboards/handwired/ortho5x14/info.json
  keyboards/handwired/ortho5x14/readme.md
Labels: enhancement, keyboard

#13532 Added iso layer support for the GMMK Pro iso version
  keyboards/gmmk/pro/info.json
  keyboards/gmmk/pro/keymaps/iso/keymap.c
  keyboards/gmmk/pro/pro.h
Labels: keyboard, keymap

#13536 Add ianklug grooveboard
  keyboards/ianklug/grooveboard/config.h
  keyboards/ianklug/grooveboard/grooveboard.c
  keyboards/ianklug/grooveboard/grooveboard.h
  keyboards/ianklug/grooveboard/info.json
  keyboards/ianklug/grooveboard/keymaps/default/keymap.c
  keyboards/ianklug/grooveboard/keymaps/default/readme.md
  keyboards/ianklug/grooveboard/keymaps/via/keymap.c
  keyboards/ianklug/grooveboard/keymaps/via/readme.md
  keyboards/ianklug/grooveboard/keymaps/via/rules.mk
  keyboards/ianklug/grooveboard/readme.md
  keyboards/ianklug/grooveboard/rules.mk
Labels: keyboard, keymap, via

#13468 Refactor Drop boards to custom matrix lite
  keyboards/massdrop/alt/matrix.c
  keyboards/massdrop/alt/rules.mk
  keyboards/massdrop/ctrl/matrix.c
  keyboards/massdrop/ctrl/rules.mk
Labels: keyboard

#13415 RGB Matrix support for Scylla
  keyboards/bastardkb/scylla/config.h
  keyboards/bastardkb/scylla/rules.mk
  keyboards/bastardkb/scylla/scylla.c
Labels: keyboard

#13540 Lucid Phantom soldered: layout macro touch-up
  keyboards/lucid/phantom_solder/keymaps/default/keymap.c
  keyboards/lucid/phantom_solder/keymaps/via/keymap.c
  keyboards/lucid/phantom_solder/phantom_solder.h
Labels: enhancement, keyboard, keymap, via

#13539 Traveller handwired layout macro refactor
  keyboards/handwired/traveller/info.json
  keyboards/handwired/traveller/keymaps/default/keymap.c
  keyboards/handwired/traveller/traveller.h
Labels: enhancement, keyboard, keymap

#13494 [Keyboard] Add MelGeek MJ6xy which is a 60% keyboard that support mul…
  keyboards/melgeek/mj6xy/config.h
  keyboards/melgeek/mj6xy/info.json
  keyboards/melgeek/mj6xy/keymaps/60_ansi/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_ansi_7u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_ansi_7u_spc_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_ansi_arrow/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_ansi_arrow_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_ansi_arrow_3u_spc_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_ansi_arrow_6u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_ansi_arrow_6u_spc_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_ansi_arrow_split_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_ansi_arrow_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_ansi_arrow_split_bs_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_ansi_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_1u_lshift_7u_spc_split_bs_rshift/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_1u_lshift_7u_spc_split_rshift/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_1u_lshift_split_bs_rshift/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_1u_lshift_split_rshift/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_7u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_7u_spc_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_7u_spc_split_bs_rshift/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_7u_spc_split_rshift/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_arrow/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_arrow_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_arrow_3u_spc_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_arrow_6u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_arrow_6u_spc_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_arrow_split_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_arrow_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_arrow_split_bs_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_split_bs_rshift/keymap.c
  keyboards/melgeek/mj6xy/keymaps/60_iso_split_rshift/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_ansi/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_ansi_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_ansi_3u_spc_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_ansi_6u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_ansi_6u_spc_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_ansi_split_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_ansi_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_ansi_split_bs_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_iso/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_iso_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_iso_3u_spc_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_iso_6u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_iso_6u_spc_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_iso_split_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_iso_split_bs/keymap.c
  keyboards/melgeek/mj6xy/keymaps/64_iso_split_bs_3u_spc/keymap.c
  keyboards/melgeek/mj6xy/keymaps/default/keymap.c
  keyboards/melgeek/mj6xy/keymaps/via/keymap.c
  keyboards/melgeek/mj6xy/keymaps/via/rules.mk
  keyboards/melgeek/mj6xy/mj6xy.c
  keyboards/melgeek/mj6xy/mj6xy.h
  keyboards/melgeek/mj6xy/readme.md
  keyboards/melgeek/mj6xy/rev3/config.h
  keyboards/melgeek/mj6xy/rev3/rev3.c
  keyboards/melgeek/mj6xy/rev3/rules.mk
Labels: keyboard, keymap, via

#13544 correct data for info.json
  keyboards/mechlovin/infinity87/rev1/rogue87/info.json
  keyboards/mechlovin/infinity87/rev1/rouge87/info.json
Labels: keyboard

#13460 Switch to the qmk-dotty-dict package
  lib/python/qmk/cli/__init__.py
  requirements.txt
Labels: cli, python

#13509 Fix some RGB Matrix-enabled keymaps referring to RGBLight mode
  keyboards/crkbd/keymaps/kidbrazil/keymap.c
  keyboards/dztech/dz60rgb/keymaps/piv3rt/keymap.c
Labels: enhancement, keymap

#13502 Migrate more `fn_actions` stuff
  keyboards/atreus/keymaps/erlandsona/keymap.c
  keyboards/atreus/keymaps/khitsule/keymap.c
  keyboards/bpiphany/kitten_paw/keymaps/ickerwx/keymap.c
  keyboards/clueboard/66/keymaps/magicmonty/keymap.c
  keyboards/clueboard/66/keymaps/tetris/keymap.c
  keyboards/gh60/revc/keymaps/dbroqua_7U/keymap.c
  keyboards/infinity60/keymaps/jpetermans/keymap.c
  keyboards/whitefox/keymaps/kim-kim/keymap.c
  keyboards/whitefox/keymaps/matt3o/keymap.c
  layouts/community/ergodox/coderkun_neo2/keymap.c
  layouts/community/ergodox/colemak_osx_pc_no/keymap.c
  layouts/community/ergodox/deadcyclo/keymap.c
  layouts/community/ergodox/guni/keymap.c
  layouts/community/ergodox/norwegian_programmer_osx_pc/keymap.c
  layouts/community/ergodox/norwegian_programmer_osx_pc_colemak/keymap.c
  layouts/community/ergodox/osx_whiskey_tango_foxtrot_capslock/keymap.c
  layouts/community/ergodox/workman_osx_mdw/keymap.c
Labels: enhancement, keymap

#13289 Tidying up my projects and subprojects
  keyboards/pearlboards/pandora/config.h
  keyboards/pearlboards/pandora/info.json
  keyboards/pearlboards/pandora/keymaps/default/keymap.c
  keyboards/pearlboards/pandora/keymaps/via/keymap.c
  keyboards/pearlboards/pandora/keymaps/via/rules.mk
  keyboards/pearlboards/pandora/pandora.c
  keyboards/pearlboards/pandora/pandora.h
  keyboards/pearlboards/pandora/readme.md
  keyboards/pearlboards/pandora/rules.mk
Labels: keyboard, keymap, via

#13281 Add Serratus PCB
  keyboards/mechlovin/hannah910/rev3/config.h
  keyboards/mechlovin/serratus/config.h
  keyboards/mechlovin/serratus/info.json
  keyboards/mechlovin/serratus/keymaps/default/keymap.c
  keyboards/mechlovin/serratus/keymaps/default/readme.md
  keyboards/mechlovin/serratus/keymaps/via/keymap.c
  keyboards/mechlovin/serratus/keymaps/via/readme.md
  keyboards/mechlovin/serratus/keymaps/via/rules.mk
  keyboards/mechlovin/serratus/matrix.c
  keyboards/mechlovin/serratus/readme.md
  keyboards/mechlovin/serratus/rules.mk
  keyboards/mechlovin/serratus/serratus.c
  keyboards/mechlovin/serratus/serratus.h
Labels: keyboard, keymap, via

#13220 [keyboard] Clueboard 2x1800 2021 Support
  keyboards/clueboard/2x1800/2021/.noci
  keyboards/clueboard/2x1800/2021/2021.c
  keyboards/clueboard/2x1800/2021/2021.h
  keyboards/clueboard/2x1800/2021/config.h
  keyboards/clueboard/2x1800/2021/font.h
  keyboards/clueboard/2x1800/2021/info.json
  keyboards/clueboard/2x1800/2021/keymaps/default/keymap.json
  keyboards/clueboard/2x1800/2021/keymaps/default_4u/keymap.c
  keyboards/clueboard/2x1800/2021/keymaps/default_4u/readme.md
  keyboards/clueboard/2x1800/2021/keymaps/default_7u/keymap.c
  keyboards/clueboard/2x1800/2021/keymaps/default_7u/readme.md
  keyboards/clueboard/2x1800/2021/keymaps/signboard/config.h
  keyboards/clueboard/2x1800/2021/keymaps/signboard/keymap.c
  keyboards/clueboard/2x1800/2021/keymaps/signboard/readme.md
  keyboards/clueboard/2x1800/2021/max7219.c
  keyboards/clueboard/2x1800/2021/max7219.h
  keyboards/clueboard/2x1800/2021/readme.md
  keyboards/clueboard/2x1800/2021/rules.mk
Labels: keyboard, keymap

#13552 correct the info.json for qmk configurator and add two empty layers f…
  keyboards/melgeek/mj6xy/info.json
  keyboards/melgeek/mj6xy/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#13457 Dual RGB Matrix IS31FL3737 driver support to address #13442
  docs/feature_rgb_matrix.md
  drivers/issi/is31fl3737.c
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: core, documentation

#13219 Set some default configurations for GMMK Pro
  keyboards/gmmk/pro/config.h
Labels: keyboard

#13555 Remove unnecessary `rgblight.h` include.
  quantum/quantum.h
Labels: core

#13403 Use string literals for `SERIAL_NUMBER`
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/usb_descriptor_common.h
  tmk_core/protocol/vusb/vusb.c
Labels: core, enhancement

#13554 Migrate arm_atsam print logic to common framework
  tmk_core/common/arm_atsam/_print.h
  tmk_core/common/arm_atsam/printf.c
  tmk_core/common/arm_atsam/printf.h
  tmk_core/common/arm_atsam/printf.mk
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
Labels: bug, core, optimization

#12674 fix #12673
  quantum/led_matrix/led_matrix.c
  quantum/rgb_matrix/rgb_matrix.c
Labels: core

#13563 [Docs] Remove unwanted notes
  docs/ja/newbs_getting_started.md
Labels: documentation, translation

#13566 Move `SENDSTRING_BELL` code to `send_string.h`
  quantum/quantum.c
  quantum/send_string.c
Labels: core, enhancement

#13032 adding tw40 via support
  keyboards/tw40/keymaps/via/keymap.c
  keyboards/tw40/keymaps/via/rules.mk
Labels: awaiting review, keymap, via

#13562 Improve driver installation docs
  docs/driver_installation_zadig.md
Labels: documentation, enhancement

#13568 Limit RGB brightness for crkbd when not defined.
  keyboards/crkbd/post_config.h
Labels: keyboard

#13569 remove `RGBLIGHT_H_DUMMY_DEFINE` macro from rgblight.h
  quantum/rgblight.h
Labels: core

#13559 Revert "Add rgblight to RGB Matrix VPATH"
  common_features.mk
  quantum/rgb_matrix/rgb_matrix.h
Labels: core
