Repository qmk/qmk_firmware, pull requests merged in 2021-02, with the labels that each got.

#10316 [Docs] Japanese translation of internals_*.md
  docs/ja/internals_defines.md
  docs/ja/internals_midi_device.md
  docs/ja/internals_midi_device_setup_process.md
  docs/ja/internals_midi_util.md
  docs/ja/internals_send_functions.md
  docs/ja/internals_sysex_tools.md
Labels: documentation, translation

#11751 Move transport.c to QUANTUM_LIB_SRC
  common_features.mk
  keyboards/handwired/dactyl_manuform/5x6_right_trackball/rules.mk
Labels: core, keyboard

#11759 added limit to RGB brightness
  keyboards/boardsource/the_mark/config.h
Labels: keyboard

#11078 Add SCRAMBLE
  keyboards/nullbitsco/scramble/config.h
  keyboards/nullbitsco/scramble/info.json
  keyboards/nullbitsco/scramble/keymaps/default/keymap.c
  keyboards/nullbitsco/scramble/keymaps/oled/config.h
  keyboards/nullbitsco/scramble/keymaps/oled/keymap.c
  keyboards/nullbitsco/scramble/keymaps/oled/rules.mk
  keyboards/nullbitsco/scramble/keymaps/via/keymap.c
  keyboards/nullbitsco/scramble/keymaps/via/rules.mk
  keyboards/nullbitsco/scramble/readme.md
  keyboards/nullbitsco/scramble/rules.mk
  keyboards/nullbitsco/scramble/scramble.c
  keyboards/nullbitsco/scramble/scramble.h
Labels: keyboard, keymap, via

#11634 Fix Ergosaurus default RGB_DI_PIN
  keyboards/ergosaurus/config.h
Labels: bug, keyboard

#11765 CLI: Fix json flashing
  lib/python/qmk/cli/flash.py
  lib/python/qmk/commands.py
Labels: cli, python

#11450 Address wake from sleep instability
  docs/config_options.md
  tmk_core/common/avr/suspend.c
  tmk_core/common/suspend.h
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/lufa/lufa.c
Labels: core, documentation

#11077 add orthodeluxe keymap for Planck keyboard
  keyboards/planck/keymaps/orthodeluxe/config.h
  keyboards/planck/keymaps/orthodeluxe/keymap.c
  keyboards/planck/keymaps/orthodeluxe/readme.md
  keyboards/planck/keymaps/orthodeluxe/rules.mk
Labels: keymap

#11697 Knobgoblin info file fix
  keyboards/knobgoblin/info.json
  keyboards/knobgoblin/keymaps/ortho/keymap.c
  keyboards/knobgoblin/knobgoblin.c
Labels: keyboard, keymap

#11565 Clean up KBD8X keyboard
  keyboards/kbdfans/kbd8x/config.h
  keyboards/kbdfans/kbd8x/keymaps/default/config.h
  keyboards/kbdfans/kbd8x/keymaps/default/keymap.c
  keyboards/kbdfans/kbd8x/keymaps/default_backlighting/config.h
  keyboards/kbdfans/kbd8x/keymaps/default_backlighting/keymap.c
  keyboards/kbdfans/kbd8x/rules.mk
Labels: keyboard, keymap

#11776 Fix DEBUG_MATRIX_SCAN_RATE on chibiOS when console is enabled
  tmk_core/common/keyboard.c
Labels: core

#11779 Fixing layer order for Breeze default keymap
  keyboards/afternoonlabs/breeze/keymaps/default/keymap.c
Labels: keymap

#11628 add koalafications
  keyboards/handwired/swiftrax/koalafications/config.h
  keyboards/handwired/swiftrax/koalafications/info.json
  keyboards/handwired/swiftrax/koalafications/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/koalafications/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/koalafications/keymaps/via/rules.mk
  keyboards/handwired/swiftrax/koalafications/koalafications.c
  keyboards/handwired/swiftrax/koalafications/koalafications.h
  keyboards/handwired/swiftrax/koalafications/readme.md
  keyboards/handwired/swiftrax/koalafications/rules.mk
Labels: keyboard, keymap, via

#11723 Update iNETT Studio Square.X RGB Light
  keyboards/inett_studio/sqx/hotswap/hotswap.c
  keyboards/inett_studio/sqx/universal/universal.c
Labels: bug, keyboard

#11781 Use num lock instead of caps lock for KBDPAD MKII LED
  keyboards/kbdfans/kbdpad_mk2/config.h
Labels: keyboard

#11493 Add LCK75 keyboard
  keyboards/lck75/config.h
  keyboards/lck75/glcdfont.c
  keyboards/lck75/info.txt
  keyboards/lck75/keymaps/default/keymap.c
  keyboards/lck75/lck75.c
  keyboards/lck75/lck75.h
  keyboards/lck75/readme.md
  keyboards/lck75/rules.mk
Labels: keyboard, keymap

#11064 Improve Pointing Device report sending
  docs/feature_pointing_device.md
  quantum/pointing_device.c
  quantum/pointing_device.h
Labels: core, documentation

#11784 Fix line endings for LCK75 kb files
  keyboards/lck75/config.h
  keyboards/lck75/glcdfont.c
  keyboards/lck75/info.txt
  keyboards/lck75/keymaps/default/keymap.c
  keyboards/lck75/lck75.c
  keyboards/lck75/lck75.h
  keyboards/lck75/readme.md
Labels: keyboard, keymap

#11662 Xyverz bastyl
  keyboards/crkbd/keymaps/xyverz/rules.mk
  keyboards/hidtech/bastyl/keymaps/xyverz/config.h
  keyboards/hidtech/bastyl/keymaps/xyverz/keymap.c
  keyboards/hidtech/bastyl/keymaps/xyverz/readme.md
  layouts/community/ortho_5x12/xyverz/rules.mk
Labels: keymap

#11440 [Keyboard] add primus75 keyboard
  keyboards/ilumkb/primus75/config.h
  keyboards/ilumkb/primus75/info.json
  keyboards/ilumkb/primus75/keymaps/default/keymap.c
  keyboards/ilumkb/primus75/keymaps/via/keymap.c
  keyboards/ilumkb/primus75/keymaps/via/rules.mk
  keyboards/ilumkb/primus75/primus75.c
  keyboards/ilumkb/primus75/primus75.h
  keyboards/ilumkb/primus75/readme.md
  keyboards/ilumkb/primus75/rules.mk
Labels: keyboard, keymap, via

#11494 [Keyboard] Add KL-90
  keyboards/kikoslab/kl90/config.h
  keyboards/kikoslab/kl90/info.json
  keyboards/kikoslab/kl90/keymaps/default/keymap.c
  keyboards/kikoslab/kl90/keymaps/via/keymap.c
  keyboards/kikoslab/kl90/keymaps/via/rules.mk
  keyboards/kikoslab/kl90/kl90.c
  keyboards/kikoslab/kl90/kl90.h
  keyboards/kikoslab/kl90/readme.md
  keyboards/kikoslab/kl90/rules.mk
Labels: keyboard, keymap, via

#11438 add bella rgb keyboards
  keyboards/kbdfans/bella/rgb/config.h
  keyboards/kbdfans/bella/rgb/info.json
  keyboards/kbdfans/bella/rgb/keymaps/default/keymap.c
  keyboards/kbdfans/bella/rgb/keymaps/via/keymap.c
  keyboards/kbdfans/bella/rgb/keymaps/via/rules.mk
  keyboards/kbdfans/bella/rgb/readme.md
  keyboards/kbdfans/bella/rgb/rgb.c
  keyboards/kbdfans/bella/rgb/rgb.h
  keyboards/kbdfans/bella/rgb/rules.mk
  keyboards/kbdfans/bella/rgb_iso/config.h
  keyboards/kbdfans/bella/rgb_iso/info.json
  keyboards/kbdfans/bella/rgb_iso/keymaps/default/keymap.c
  keyboards/kbdfans/bella/rgb_iso/keymaps/via/keymap.c
  keyboards/kbdfans/bella/rgb_iso/keymaps/via/rules.mk
  keyboards/kbdfans/bella/rgb_iso/readme.md
  keyboards/kbdfans/bella/rgb_iso/rgb_iso.c
  keyboards/kbdfans/bella/rgb_iso/rgb_iso.h
  keyboards/kbdfans/bella/rgb_iso/rules.mk
Labels: keyboard, keymap, via

#11700 add The Galleon
  keyboards/handwired/swiftrax/the_galleon/config.h
  keyboards/handwired/swiftrax/the_galleon/info.json
  keyboards/handwired/swiftrax/the_galleon/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/the_galleon/keymaps/default/rules.mk
  keyboards/handwired/swiftrax/the_galleon/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/the_galleon/keymaps/via/rules.mk
  keyboards/handwired/swiftrax/the_galleon/readme.md
  keyboards/handwired/swiftrax/the_galleon/rules.mk
  keyboards/handwired/swiftrax/the_galleon/the_galleon.c
  keyboards/handwired/swiftrax/the_galleon/the_galleon.h
Labels: keyboard, keymap, via

#11683 added Pursuit40 PCB for Panc40
  keyboards/pursuit40/config.h
  keyboards/pursuit40/info.json
  keyboards/pursuit40/keymaps/default/config.h
  keyboards/pursuit40/keymaps/default/keymap.c
  keyboards/pursuit40/keymaps/default/readme.md
  keyboards/pursuit40/keymaps/via/keymap.c
  keyboards/pursuit40/keymaps/via/rules.mk
  keyboards/pursuit40/pursuit40.c
  keyboards/pursuit40/pursuit40.h
  keyboards/pursuit40/readme.md
  keyboards/pursuit40/rules.mk
Labels: keyboard, keymap, via

#11693 [Keyboard] Adding YMDK Wings Keyboard
  keyboards/ymdk/wings/config.h
  keyboards/ymdk/wings/info.json
  keyboards/ymdk/wings/keymaps/default/keymap.c
  keyboards/ymdk/wings/keymaps/via/keymap.c
  keyboards/ymdk/wings/keymaps/via/rules.mk
  keyboards/ymdk/wings/readme.md
  keyboards/ymdk/wings/rules.mk
  keyboards/ymdk/wings/wings.c
  keyboards/ymdk/wings/wings.h
Labels: keyboard, keymap, via

#11680 Latin17rgb pad use IS3731 IC
  keyboards/latin17rgb/config.h
  keyboards/latin17rgb/info.json
  keyboards/latin17rgb/keymaps/default/keymap.c
  keyboards/latin17rgb/keymaps/via/keymap.c
  keyboards/latin17rgb/keymaps/via/rules.mk
  keyboards/latin17rgb/latin17rgb.c
  keyboards/latin17rgb/latin17rgb.h
  keyboards/latin17rgb/readme.md
  keyboards/latin17rgb/rules.mk
Labels: keyboard, keymap, via

#11758 [Keyboard] Add VIA support to v60 Type R
  keyboards/v60_type_r/config.h
  keyboards/v60_type_r/keymaps/via/keymap.c
  keyboards/v60_type_r/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#11760 [Keyboard] Fix the LED's ID of ISSI for MJ64 REV2
  keyboards/melgeek/mj64/rev2/rev2.c
Labels: keyboard

#11796 Fix build errors on kikoslab/kl90 default keymap
  keyboards/kikoslab/kl90/keymaps/default/rules.mk
Labels: bug, keymap

#11505 Added shk9 macropad keyboard
  keyboards/shk9/config.h
  keyboards/shk9/info.json
  keyboards/shk9/keymaps/default/keymap.c
  keyboards/shk9/keymaps/via/keymap.c
  keyboards/shk9/keymaps/via/rules.mk
  keyboards/shk9/readme.md
  keyboards/shk9/rules.mk
  keyboards/shk9/shk9.c
  keyboards/shk9/shk9.h
Labels: keyboard, keymap, pr_checklist_pending, via

#11797 Manually run formatting job
  quantum/pointing_device.c
  quantum/quantum.c
  tmk_core/common/keyboard.c
Labels: bug, core

#11798 update lck75 json file
  keyboards/lck75/config.h
  keyboards/lck75/info.json
  keyboards/lck75/info.txt
Labels: keyboard

#11521 Serial refactor
  keyboards/40percentclub/ut47/config.h
  keyboards/centromere/centromere.c
  keyboards/centromere/config.h
  keyboards/centromere/matrix.c
  keyboards/centromere/rules.mk
  keyboards/chimera_ergo/chimera_ergo.c
  keyboards/chimera_ergo/config.h
  keyboards/chimera_ergo/matrix.c
  keyboards/chimera_ergo/rules.mk
  keyboards/chimera_ls/chimera_ls.c
  keyboards/chimera_ls/config.h
  keyboards/chimera_ls/matrix.c
  keyboards/chimera_ls/rules.mk
  keyboards/chimera_ortho/chimera_ortho.c
  keyboards/chimera_ortho/config.h
  keyboards/chimera_ortho/matrix.c
  keyboards/chimera_ortho/rules.mk
  keyboards/chimera_ortho_plus/chimera_ortho_plus.c
  keyboards/chimera_ortho_plus/config.h
  keyboards/chimera_ortho_plus/matrix.c
  keyboards/chimera_ortho_plus/rules.mk
  keyboards/comet46/comet46.c
  keyboards/comet46/config.h
  keyboards/comet46/matrix.c
  keyboards/comet46/rules.mk
  keyboards/dichotomy/config.h
  keyboards/dichotomy/dichotomy.c
  keyboards/dichotomy/matrix.c
  keyboards/dichotomy/rules.mk
  keyboards/hhkb/ansi/config.h
  keyboards/hhkb/jp/config.h
  keyboards/honeycomb/config.h
  keyboards/honeycomb/honeycomb.c
  keyboards/honeycomb/matrix.c
  keyboards/honeycomb/rules.mk
  keyboards/mitosis/config.h
  keyboards/mitosis/matrix.c
  keyboards/mitosis/mitosis.c
  keyboards/mitosis/rules.mk
  keyboards/planck/keymaps/thermal_printer/config.h
  keyboards/redox_w/config.h
  keyboards/redox_w/matrix.c
  keyboards/redox_w/redox_w.c
  keyboards/redox_w/rules.mk
  keyboards/sirius/uni660/rev1/config.h
  keyboards/sirius/uni660/rev1/matrix.c
  keyboards/sirius/uni660/rev1/rev1.c
  keyboards/sirius/uni660/rev2/ansi/config.h
  keyboards/sirius/uni660/rev2/iso/config.h
  keyboards/sirius/uni660/rev2/matrix.c
  keyboards/sirius/uni660/rev2/rev2.c
  keyboards/telophase/config.h
  keyboards/telophase/matrix.c
  keyboards/telophase/rules.mk
  keyboards/telophase/telophase.c
  quantum/config_common.h
  tmk_core/protocol/serial.h
  tmk_core/protocol/serial_uart.c
Labels: core, enhancement, in progress, keyboard, keymap

#11793 Add STM32G431 and STM32G474 board definitions.
  data/schemas/keyboard.jsonschema
  docs/compatible_microcontrollers.md
  docs/ja/compatible_microcontrollers.md
  lib/python/qmk/constants.py
  platforms/chibios/GENERIC_STM32_G431XB/board/board.mk
  platforms/chibios/GENERIC_STM32_G431XB/configs/config.h
  platforms/chibios/GENERIC_STM32_G431XB/configs/mcuconf.h
  platforms/chibios/GENERIC_STM32_G474XE/board/board.mk
  platforms/chibios/GENERIC_STM32_G474XE/configs/config.h
  platforms/chibios/GENERIC_STM32_G474XE/configs/mcuconf.h
  quantum/mcu_selection.mk
Labels: cli, core, documentation, python, translation

#11740 [Keyboard] add info.json of Sparrow62
  keyboards/sparrow62/info.json
Labels: keyboard

#11229 [CI] Auto Formatting - Swap from direct commit to PR
  .github/workflows/format.yaml
Labels: CI, bug

#11806 Manual formatting fix for serial_uart.c
  tmk_core/protocol/serial_uart.c
Labels: core

#11807 Fixed pin assignment on KBD8X Hotswap by Lucid
  keyboards/lucid/kbd8x_hs/config.h
Labels: keyboard

#11770 [Keyboard] VIA fix firmware sizes
  keyboards/mechlovin/delphine/keymaps/via/rules.mk
  keyboards/nightly_boards/n40_o/keymaps/via/config.h
  keyboards/xelus/valor/rev1/rules.mk
Labels: keyboard, keymap, via

#11768 [Keymap] Revamp spidey3 userspace and keymaps
  layouts/community/75_ansi/spidey3/config.h
  layouts/community/75_ansi/spidey3/keymap.c
  layouts/community/75_ansi/spidey3/rules.mk
  users/spidey3/config.h
  users/spidey3/init.c
  users/spidey3/layer_rgb.c
  users/spidey3/rules.mk
  users/spidey3/spidey3.c
  users/spidey3/spidey3.h
  users/spidey3/unicode.h
Labels: keymap

#11804 Migrate mousekey to quantum
  common_features.mk
  quantum/mousekey.c
  quantum/mousekey.h
  tmk_core/common.mk
Labels: core

#11162 [Bug] Fix media key missing upstroke event
  tmk_core/common/action.c
Labels: awaiting changes, core

#11486 [Keyboard] Whale 75
  keyboards/linworks/whale75/chconf.h
  keyboards/linworks/whale75/config.h
  keyboards/linworks/whale75/info.json
  keyboards/linworks/whale75/keymaps/default/keymap.c
  keyboards/linworks/whale75/keymaps/via/keymap.c
  keyboards/linworks/whale75/keymaps/via/rules.mk
  keyboards/linworks/whale75/mcuconf.h
  keyboards/linworks/whale75/readme.md
  keyboards/linworks/whale75/rules.mk
  keyboards/linworks/whale75/whale75.c
  keyboards/linworks/whale75/whale75.h
Labels: keyboard, keymap, via

#11405 [Keyboard] Add earth_rover keyboard
  keyboards/earth_rover/config.h
  keyboards/earth_rover/earth_rover.c
  keyboards/earth_rover/earth_rover.h
  keyboards/earth_rover/info.json
  keyboards/earth_rover/keymaps/default/keymap.c
  keyboards/earth_rover/keymaps/default/readme.md
  keyboards/earth_rover/readme.md
  keyboards/earth_rover/rules.mk
Labels: keyboard, keymap

#11623 [Keyboard] Add Hi-Tek AIM-65 keyboard
  keyboards/handwired/aim65/aim65.c
  keyboards/handwired/aim65/aim65.h
  keyboards/handwired/aim65/config.h
  keyboards/handwired/aim65/info.json
  keyboards/handwired/aim65/keymaps/bonnee/keymap.c
  keyboards/handwired/aim65/keymaps/default/keymap.c
  keyboards/handwired/aim65/readme.md
  keyboards/handwired/aim65/rules.mk
Labels: keyboard, keymap

#11592 [Keyboard] Add ergoarrows keyboard
  keyboards/ergoarrows/config.h
  keyboards/ergoarrows/ergoarrows.c
  keyboards/ergoarrows/ergoarrows.h
  keyboards/ergoarrows/info.json
  keyboards/ergoarrows/keymaps/default/config.h
  keyboards/ergoarrows/keymaps/default/keymap.c
  keyboards/ergoarrows/keymaps/salicylic/config.h
  keyboards/ergoarrows/keymaps/salicylic/keymap.c
  keyboards/ergoarrows/keymaps/via/config.h
  keyboards/ergoarrows/keymaps/via/keymap.c
  keyboards/ergoarrows/keymaps/via/rules.mk
  keyboards/ergoarrows/readme.md
  keyboards/ergoarrows/rules.mk
Labels: keyboard, keymap, via

#11590 [Keyboard] Add nknl7en keyboard
  keyboards/nknl7en/config.h
  keyboards/nknl7en/info.json
  keyboards/nknl7en/keymaps/default/config.h
  keyboards/nknl7en/keymaps/default/keymap.c
  keyboards/nknl7en/keymaps/salicylic/config.h
  keyboards/nknl7en/keymaps/salicylic/keymap.c
  keyboards/nknl7en/keymaps/via/config.h
  keyboards/nknl7en/keymaps/via/keymap.c
  keyboards/nknl7en/keymaps/via/rules.mk
  keyboards/nknl7en/nknl7en.c
  keyboards/nknl7en/nknl7en.h
  keyboards/nknl7en/readme.md
  keyboards/nknl7en/rules.mk
Labels: keyboard, keymap, via

#11591 [Keyboard] Add nknl7jp keyboard
  keyboards/nknl7jp/config.h
  keyboards/nknl7jp/info.json
  keyboards/nknl7jp/keymaps/default/config.h
  keyboards/nknl7jp/keymaps/default/keymap.c
  keyboards/nknl7jp/keymaps/salicylic/config.h
  keyboards/nknl7jp/keymaps/salicylic/keymap.c
  keyboards/nknl7jp/keymaps/via/config.h
  keyboards/nknl7jp/keymaps/via/keymap.c
  keyboards/nknl7jp/keymaps/via/rules.mk
  keyboards/nknl7jp/nknl7jp.c
  keyboards/nknl7jp/nknl7jp.h
  keyboards/nknl7jp/readme.md
  keyboards/nknl7jp/rules.mk
Labels: keyboard, keymap, via

#11717 Add my keymap for Mark65
  keyboards/boardsource/the_mark/keymaps/stanrc85/keymap.c
  keyboards/boardsource/the_mark/keymaps/stanrc85/rules.mk
  users/stanrc85/config.h
  users/stanrc85/rules.mk
Labels: keymap

#11757 Update community ortholinear 4x12 keymap: junonum
  layouts/community/ortho_4x12/junonum/keymap.c
  layouts/community/ortho_4x12/junonum/readme.md
Labels: keymap

#11753 Shadyproject/bfo9000
  keyboards/keebio/bfo9000/keymaps/shadyproject/keymap.c
  keyboards/keebio/bfo9000/keymaps/shadyproject/readme.md
Labels: keymap

#11734 Update keymap for keebio/nyquist
  keyboards/keebio/nyquist/keymaps/georgepetri/config.h
  keyboards/keebio/nyquist/keymaps/georgepetri/keymap.c
Labels: keymap

#11777 Added wiring for USBasp in the ISP Flashing Guide
  docs/isp_flashing_guide.md
Labels: documentation

#11745 Add The Stick keyboard
  keyboards/keebio/stick/config.h
  keyboards/keebio/stick/info.json
  keyboards/keebio/stick/keymaps/default/keymap.c
  keyboards/keebio/stick/keymaps/via/keymap.c
  keyboards/keebio/stick/keymaps/via/rules.mk
  keyboards/keebio/stick/readme.md
  keyboards/keebio/stick/rules.mk
  keyboards/keebio/stick/stick.c
  keyboards/keebio/stick/stick.h
Labels: keyboard, keymap, via

#11658 Rework I2C driver docs
  docs/i2c_driver.md
  docs/spi_driver.md
Labels: documentation, enhancement

#11579 Add DSP40
  keyboards/keebio/dsp40/config.h
  keyboards/keebio/dsp40/dsp40.c
  keyboards/keebio/dsp40/dsp40.h
  keyboards/keebio/dsp40/info.json
  keyboards/keebio/dsp40/keymaps/bakingpy/config.h
  keyboards/keebio/dsp40/keymaps/bakingpy/keymap.c
  keyboards/keebio/dsp40/keymaps/default/keymap.c
  keyboards/keebio/dsp40/keymaps/via/keymap.c
  keyboards/keebio/dsp40/keymaps/via/rules.mk
  keyboards/keebio/dsp40/readme.md
  keyboards/keebio/dsp40/rev1/chconf.h
  keyboards/keebio/dsp40/rev1/config.h
  keyboards/keebio/dsp40/rev1/halconf.h
  keyboards/keebio/dsp40/rev1/mcuconf.h
  keyboards/keebio/dsp40/rev1/readme.md
  keyboards/keebio/dsp40/rev1/rev1.c
  keyboards/keebio/dsp40/rev1/rev1.h
  keyboards/keebio/dsp40/rev1/rules.mk
  keyboards/keebio/dsp40/rules.mk
Labels: keyboard, keymap, via

#11767 Allow flash/compile to accept relative json paths
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/cli/json2c.py
  lib/python/qmk/path.py
Labels: cli, python

#11715 [Update] Allow APM32 on TrinityXTtkl
  keyboards/xelus/trinityxttkl/rules.mk
Labels: keyboard

#11729 via support for bat43
  keyboards/bat43/config.h
  keyboards/bat43/keymaps/via/keymap.c
  keyboards/bat43/keymaps/via/readme.md
  keyboards/bat43/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#11791 Migrate some tmk_core files to quantum
  common_features.mk
  keyboards/ai03/orbit/matrix.h
  keyboards/ai03/orbit/transport.h
  quantum/bitwise.c
  quantum/bitwise.h
  quantum/command.c
  quantum/command.h
  quantum/led.h
  quantum/matrix.h
  quantum/ring_buffer.h
  quantum/split_common/transport.h
  quantum/util.h
  tmk_core/common.mk
  tmk_core/protocol/arm_atsam/md_rgb_matrix.c
Labels: core, keyboard

#11826 Fix RGBLIGHT_LIMIT_VAL typo
  keyboards/alpine65/config.h
  keyboards/ck60i/config.h
  keyboards/evolv/config.h
  keyboards/technika/config.h
Labels: bug, keyboard

#11823 remove deprecated qmk json-keymap
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/json/__init__.py
  lib/python/qmk/cli/json/keymap.py
Labels: cli, python

#9559 ws2812: Fix number of nops for AVR at 8 MHz
  drivers/avr/ws2812.c
Labels: awaiting review, bug, core

#11808 Simplify NIBBLE encoder code and clean up keymaps
  keyboards/nullbitsco/nibble/keymaps/default/keymap.c
  keyboards/nullbitsco/nibble/keymaps/iso/keymap.c
  keyboards/nullbitsco/nibble/keymaps/oled/keymap.c
  keyboards/nullbitsco/nibble/keymaps/via/config.h
  keyboards/nullbitsco/nibble/keymaps/via/keymap.c
  keyboards/nullbitsco/nibble/keymaps/via/nibble_encoder.c
  keyboards/nullbitsco/nibble/keymaps/via/nibble_encoder.h
  keyboards/nullbitsco/nibble/keymaps/via/rules.mk
  keyboards/nullbitsco/nibble/keymaps/via/via_extras.c
  keyboards/nullbitsco/nibble/keymaps/via/via_extras.h
Labels: keymap, via

#11613 Add Splitty keyboard
  keyboards/splitty/config.h
  keyboards/splitty/info.json
  keyboards/splitty/keymaps/default/keymap.c
  keyboards/splitty/keymaps/default/readme.md
  keyboards/splitty/readme.md
  keyboards/splitty/rev1/readme.md
  keyboards/splitty/rev1/rev1.c
  keyboards/splitty/rev1/rev1.h
  keyboards/splitty/rev1/rules.mk
  keyboards/splitty/rules.mk
  keyboards/splitty/splitty.c
  keyboards/splitty/splitty.h
Labels: keyboard, keymap

#11838 Fix VENDOR_ID for ymd67
  keyboards/ymdk/ymd67/config.h
Labels: keyboard

#11585 fix Helen 80 matrix mapping
  keyboards/playkbtw/helen80/helen80.h
Labels: bug, keyboard

#11589 Add sowbug/68keys and sowbug/ansi_tkl
  keyboards/sowbug/68keys/68keys.c
  keyboards/sowbug/68keys/68keys.h
  keyboards/sowbug/68keys/bootloader_defs.h
  keyboards/sowbug/68keys/chconf.h
  keyboards/sowbug/68keys/config.h
  keyboards/sowbug/68keys/halconf.h
  keyboards/sowbug/68keys/info.json
  keyboards/sowbug/68keys/keymaps/default/keymap.c
  keyboards/sowbug/68keys/mcuconf.h
  keyboards/sowbug/68keys/readme.md
  keyboards/sowbug/68keys/rules.mk
  keyboards/sowbug/ansi_tkl/ansi_tkl.c
  keyboards/sowbug/ansi_tkl/ansi_tkl.h
  keyboards/sowbug/ansi_tkl/bootloader_defs.h
  keyboards/sowbug/ansi_tkl/chconf.h
  keyboards/sowbug/ansi_tkl/config.h
  keyboards/sowbug/ansi_tkl/halconf.h
  keyboards/sowbug/ansi_tkl/info.json
  keyboards/sowbug/ansi_tkl/keymaps/default/keymap.c
  keyboards/sowbug/ansi_tkl/mcuconf.h
  keyboards/sowbug/ansi_tkl/readme.md
  keyboards/sowbug/ansi_tkl/rules.mk
Labels: keyboard, keymap

#11714 Add keyboard yun65
  keyboards/spaceman/yun65/config.h
  keyboards/spaceman/yun65/info.json
  keyboards/spaceman/yun65/keymaps/default/keymap.c
  keyboards/spaceman/yun65/keymaps/via/keymap.c
  keyboards/spaceman/yun65/keymaps/via/rules.mk
  keyboards/spaceman/yun65/readme.md
  keyboards/spaceman/yun65/rules.mk
  keyboards/spaceman/yun65/yun65.c
  keyboards/spaceman/yun65/yun65.h
Labels: keyboard, keymap, via

#11446 Added german_gaming keymap for hidtech/bastyl
  keyboards/hidtech/bastyl/keymaps/german_gaming/keymap.c
  keyboards/hidtech/bastyl/keymaps/german_gaming/readme.md
  keyboards/hidtech/bastyl/keymaps/german_gaming/rules.mk
Labels: keymap

#11859 Update feature_haptic_feedback.md
  docs/feature_haptic_feedback.md
Labels: documentation

#11764 [Keyboard] Support MJ65 which is a 65% RGB Hotswap keyboard
  keyboards/melgeek/mj65/config.h
  keyboards/melgeek/mj65/info.json
  keyboards/melgeek/mj65/keymaps/default/keymap.c
  keyboards/melgeek/mj65/keymaps/via/keymap.c
  keyboards/melgeek/mj65/keymaps/via/rules.mk
  keyboards/melgeek/mj65/mj65.c
  keyboards/melgeek/mj65/mj65.h
  keyboards/melgeek/mj65/readme.md
  keyboards/melgeek/mj65/rev3/config.h
  keyboards/melgeek/mj65/rev3/rev3.c
  keyboards/melgeek/mj65/rev3/rules.mk
Labels: keyboard, keymap, via

#11771 Fix noxary Product IDs
  keyboards/noxary/220/config.h
  keyboards/noxary/260/config.h
  keyboards/noxary/268/config.h
  keyboards/noxary/268_2/config.h
  keyboards/noxary/280/config.h
  keyboards/noxary/x268/config.h
Labels: keyboard

#11782 Add bastyl mini keyboard
  keyboards/bastardkb/bastylmini/bastylmini.c
  keyboards/bastardkb/bastylmini/bastylmini.h
  keyboards/bastardkb/bastylmini/config.h
  keyboards/bastardkb/bastylmini/info.json
  keyboards/bastardkb/bastylmini/keymaps/default/keymap.c
  keyboards/bastardkb/bastylmini/readme.md
  keyboards/bastardkb/bastylmini/rules.mk
Labels: keyboard, keymap

#11478 added dear_vehicle_owner meme keymap to planck keyboard
  keyboards/planck/keymaps/dear_vehicle_owner/config.h
  keyboards/planck/keymaps/dear_vehicle_owner/keymap.c
  keyboards/planck/keymaps/dear_vehicle_owner/readme.md
  keyboards/planck/keymaps/dear_vehicle_owner/rules.mk
Labels: keymap

#11853 Rename miuni32/keymaps/ki ki to kifinnsson to meet current conventions
  keyboards/miuni32/keymaps/kifinnsson/config.h
  keyboards/miuni32/keymaps/kifinnsson/keymap.c
  keyboards/miuni32/keymaps/kifinnsson/readme.md
  keyboards/miuni32/keymaps/kifinnsson/rules.mk
Labels: keymap

#11814 Add stuartfong1 Planck Layout
  keyboards/planck/keymaps/stuartfong1/config.h
  keyboards/planck/keymaps/stuartfong1/keymap.c
  keyboards/planck/keymaps/stuartfong1/readme.md
  keyboards/planck/keymaps/stuartfong1/rules.mk
Labels: keymap

#11744 Adding custom keymap for Quark keyboard
  keyboards/quark/keymaps/pezhore/config.h
  keyboards/quark/keymaps/pezhore/keymap.c
Labels: keymap

#11670 geminate60 keyboard initial commit
  keyboards/geminate60/chconf.h
  keyboards/geminate60/config.h
  keyboards/geminate60/geminate60.c
  keyboards/geminate60/geminate60.h
  keyboards/geminate60/halconf.h
  keyboards/geminate60/info.json
  keyboards/geminate60/keymaps/default/keymap.c
  keyboards/geminate60/keymaps/via/keymap.c
  keyboards/geminate60/keymaps/via/rules.mk
  keyboards/geminate60/readme.md
  keyboards/geminate60/rules.mk
Labels: keyboard, keymap, via

#11830 Add EEP_RST keycode to "Wiping the EEPROM" section
  docs/ref_functions.md
Labels: documentation

#11790 [Keyboard] Update MOJO75 to support multi version
  keyboards/melgeek/mojo75/config.h
  keyboards/melgeek/mojo75/rev1/config.h
  keyboards/melgeek/mojo75/rev1/rev1.c
  keyboards/melgeek/mojo75/rev1/rules.mk
Labels: keyboard

#11878 Fix line endings for geminate60.[ch]
  keyboards/geminate60/geminate60.c
  keyboards/geminate60/geminate60.h
Labels: keyboard

#11778 Add basic ISO {Win,Mac} layouts for Durgod/K320
  keyboards/durgod/k320/info.json
  keyboards/durgod/k320/k320.h
  keyboards/durgod/k320/keymaps/default_iso/keymap.c
  keyboards/durgod/k320/keymaps/default_iso/readme.md
  keyboards/durgod/k320/keymaps/default_iso_mac/keymap.c
  keyboards/durgod/k320/keymaps/default_iso_mac/readme.md
  keyboards/durgod/k320/rules.mk
Labels: keyboard, keymap

#11408 Require Python 3.7
  lib/python/qmk/cli/__init__.py
  util/install/gentoo.sh
  util/install/opensuse.sh
  util/install/sabayon.sh
  util/qmk_install.sh
Labels: cli, core, python

#11892 Disable VIA protocol's EEPROM reset and bootloader jump commands
  quantum/via.c
Labels: core

#11885 unscramble Durgod k320 keymap / fix Issue #11883
  keyboards/durgod/k320/k320.h
  keyboards/durgod/k320/keymaps/default/keymap.c
  keyboards/durgod/k320/keymaps/default_toggle_mac_windows/keymap.c
  keyboards/durgod/k320/keymaps/kuenhlee/keymap.c
Labels: keyboard, keymap

#11850 [Keyboard] NEO Keys Palette G67 Hotswap & Soldered
  keyboards/neokeys/g67/hotswap/config.h
  keyboards/neokeys/g67/hotswap/hotswap.c
  keyboards/neokeys/g67/hotswap/hotswap.h
  keyboards/neokeys/g67/hotswap/info.json
  keyboards/neokeys/g67/hotswap/keymaps/default/keymap.c
  keyboards/neokeys/g67/hotswap/keymaps/via/keymap.c
  keyboards/neokeys/g67/hotswap/keymaps/via/rules.mk
  keyboards/neokeys/g67/hotswap/readme.md
  keyboards/neokeys/g67/hotswap/rules.mk
  keyboards/neokeys/g67/soldered/config.h
  keyboards/neokeys/g67/soldered/info.json
  keyboards/neokeys/g67/soldered/keymaps/default/keymap.c
  keyboards/neokeys/g67/soldered/keymaps/via/keymap.c
  keyboards/neokeys/g67/soldered/keymaps/via/rules.mk
  keyboards/neokeys/g67/soldered/readme.md
  keyboards/neokeys/g67/soldered/rules.mk
  keyboards/neokeys/g67/soldered/soldered.c
  keyboards/neokeys/g67/soldered/soldered.h
Labels: keyboard, keymap, via

#11835 [Keyboard] YMDK YMD40 v2
  keyboards/ymdk/ymd40/v2/config.h
  keyboards/ymdk/ymd40/v2/info.json
  keyboards/ymdk/ymd40/v2/keymaps/default/keymap.c
  keyboards/ymdk/ymd40/v2/keymaps/default/readme.md
  keyboards/ymdk/ymd40/v2/keymaps/factory/keymap.c
  keyboards/ymdk/ymd40/v2/keymaps/factory/readme.md
  keyboards/ymdk/ymd40/v2/readme.md
  keyboards/ymdk/ymd40/v2/rules.mk
  keyboards/ymdk/ymd40/v2/v2.c
  keyboards/ymdk/ymd40/v2/v2.h
Labels: keyboard, keymap

#11846 ChibiOS conf migrations... take 13
  keyboards/keebio/dsp40/rev1/chconf.h
  keyboards/keebio/dsp40/rev1/halconf.h
  keyboards/keebio/dsp40/rev1/mcuconf.h
Labels: keyboard

#10985 [Docs] Japanese translation of feature_unicode.md
  docs/ja/feature_unicode.md
Labels: documentation, translation

#10971 [Docs] Japanese translation of adc_driver.md
  docs/ja/adc_driver.md
Labels: documentation, translation

#11867 csc027/windows-terminal-shortcuts
  keyboards/keebio/iris/keymaps/csc027/config.h
  users/csc027/defines.h
Labels: keymap

#11865 Add keyboard S20 and folder polycarbdiet
  keyboards/polycarbdiet/readme.md
  keyboards/polycarbdiet/s20/config.h
  keyboards/polycarbdiet/s20/info.json
  keyboards/polycarbdiet/s20/keymaps/default/keymap.c
  keyboards/polycarbdiet/s20/keymaps/default/readme.md
  keyboards/polycarbdiet/s20/readme.md
  keyboards/polycarbdiet/s20/rules.mk
  keyboards/polycarbdiet/s20/s20.c
  keyboards/polycarbdiet/s20/s20.h
Labels: keyboard, keymap

#11893 [CI] Format develop
  .github/workflows/format.yaml
Labels: CI

#11833 [Keymap] Add MOC keymap for meishi2
  keyboards/meishi2/keymaps/moc/config.h
  keyboards/meishi2/keymaps/moc/keymap.c
  keyboards/meishi2/keymaps/moc/readme.md
Labels: keymap

#11824 Add support for analog USBPD on STM32G4xx.
  common_features.mk
  drivers/chibios/usbpd_stm32g4.c
  drivers/usbpd.h
  quantum/quantum.h
Labels: core

#11858 LED Matrix: rename `LED_DRIVER_LED_COUNT` to `DRIVER_LED_TOTAL`
  common_features.mk
  docs/feature_led_matrix.md
  docs/ja/feature_led_matrix.md
  drivers/issi/is31fl3731-simple.c
  drivers/issi/is31fl3731-simple.h
  keyboards/clueboard/66_hotswap/gen1/config.h
  keyboards/clueboard/66_hotswap/gen1/gen1.c
  keyboards/fallacy/config.h
  keyboards/fallacy/indicators.c
  keyboards/terrazzo/config.h
  keyboards/terrazzo/terrazzo.c
  quantum/led_matrix.c
  quantum/led_matrix_drivers.c
  quantum/led_matrix_types.h
Labels: core, documentation, enhancement, keyboard, translation

#11290 [Keyboard] PloopyCo VIA updates
  keyboards/ploopyco/mouse/keymaps/drag_scroll/keymap.c
  keyboards/ploopyco/mouse/keymaps/via/keymap.c
  keyboards/ploopyco/mouse/mouse.c
  keyboards/ploopyco/mouse/mouse.h
  keyboards/ploopyco/mouse/rules.mk
  keyboards/ploopyco/trackball/keymaps/drag_scroll/keymap.c
  keyboards/ploopyco/trackball/rev1/readme.md
  keyboards/ploopyco/trackball/rules.mk
  keyboards/ploopyco/trackball/trackball.c
  keyboards/ploopyco/trackball/trackball.h
Labels: keyboard, keymap, via

#11854 AMJ40 Refactor
  keyboards/amj40/amj40.c
  keyboards/amj40/amj40.h
  keyboards/amj40/config.h
  keyboards/amj40/info.json
  keyboards/amj40/keymaps/default/build.sh
  keyboards/amj40/keymaps/default/keymap.c
  keyboards/amj40/keymaps/default/rules.mk
  keyboards/amj40/keymaps/default/updatemerge.sh
  keyboards/amj40/keymaps/default_625u_space/keymap.c
  keyboards/amj40/keymaps/default_ortho_275u_space/keymap.c
  keyboards/amj40/keymaps/default_ortho_600u_space/keymap.c
  keyboards/amj40/readme.md
  keyboards/amj40/rules.mk
Labels: keyboard, keymap

#11927 ChibiOS conf migrations... take 14
  keyboards/geminate60/halconf.h
  keyboards/geminate60/rules.mk
  keyboards/sowbug/68keys/chconf.h
  keyboards/sowbug/68keys/halconf.h
  keyboards/sowbug/68keys/mcuconf.h
  keyboards/sowbug/ansi_tkl/chconf.h
  keyboards/sowbug/ansi_tkl/halconf.h
  keyboards/sowbug/ansi_tkl/mcuconf.h
Labels: keyboard

#11046 Split transport mirror
  docs/feature_split_keyboard.md
  docs/ja/understanding_qmk.md
  docs/understanding_qmk.md
  quantum/quantum.c
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
  quantum/rgb_matrix_animations/typing_heatmap_anim.h
  quantum/split_common/matrix.c
  quantum/split_common/transport.c
  quantum/split_common/transport.h
  tmk_core/common/eeconfig.h
  tmk_core/common/keyboard.c
Labels: core, documentation, in progress, translation

#11452 Update IGNORE_MOD_TAP_INTERRUPT documentation
  docs/tap_hold.md
Labels: documentation

#11752 Add mattir2 keymap for Kyria
  keyboards/kyria/keymaps/mattir2/config.h
  keyboards/kyria/keymaps/mattir2/keymap.c
  keyboards/kyria/keymaps/mattir2/readme.md
  keyboards/kyria/keymaps/mattir2/rules.mk
Labels: keymap

#11840 [Keymap] Adding HHKB Keymap for dz60rgb_wkl:v2
  keyboards/dztech/dz60rgb_wkl/keymaps/hhkb/keymap.c
  keyboards/dztech/dz60rgb_wkl/keymaps/hhkb/rules.mk
Labels: keymap

#11912 RGBLight: Allow configurable default settings
  docs/feature_rgblight.md
  quantum/rgblight.c
Labels: core, documentation, enhancement

#11379 Fix submodule check for qmk setup
  lib/python/qmk/cli/doctor.py
Labels: cli, python

#11703 Add VIA keymap to duckyPad, update M4cs keymap for duckyPad
  keyboards/dekunukem/duckypad/config.h
  keyboards/dekunukem/duckypad/duckypad.c
  keyboards/dekunukem/duckypad/duckypad.h
  keyboards/dekunukem/duckypad/keymaps/m4cs/keymap.c
  keyboards/dekunukem/duckypad/keymaps/m4cs/readme.md
  keyboards/dekunukem/duckypad/keymaps/m4cs/sysinfo.py
  keyboards/dekunukem/duckypad/keymaps/via/keymap.c
  keyboards/dekunukem/duckypad/keymaps/via/rules.mk
Labels: keyboard, keymap, python, via

#11696 Added two keyboards
  keyboards/handwired/ibm122m/keymaps/andresteare/keymap.c
  keyboards/handwired/ibm122m/keymaps/via/keymap.c
  keyboards/handwired/ibm122m/keymaps/via/rules.mk
  keyboards/handwired/ibm_wheelwriter/config.h
  keyboards/handwired/ibm_wheelwriter/ibm_wheelwriter.c
  keyboards/handwired/ibm_wheelwriter/ibm_wheelwriter.h
  keyboards/handwired/ibm_wheelwriter/info.json
  keyboards/handwired/ibm_wheelwriter/keymaps/default/keymap.c
  keyboards/handwired/ibm_wheelwriter/keymaps/via/keymap.c
  keyboards/handwired/ibm_wheelwriter/keymaps/via/rules.mk
  keyboards/handwired/ibm_wheelwriter/readme.md
  keyboards/handwired/ibm_wheelwriter/rules.mk
  keyboards/handwired/oem_iso_fullsize/config.h
  keyboards/handwired/oem_iso_fullsize/info.json
  keyboards/handwired/oem_iso_fullsize/keymaps/default/keymap.c
  keyboards/handwired/oem_iso_fullsize/keymaps/via/keymap.c
  keyboards/handwired/oem_iso_fullsize/keymaps/via/rules.mk
  keyboards/handwired/oem_iso_fullsize/oem_iso_fullsize.c
  keyboards/handwired/oem_iso_fullsize/oem_iso_fullsize.h
  keyboards/handwired/oem_iso_fullsize/readme.md
  keyboards/handwired/oem_iso_fullsize/rules.mk
Labels: keyboard, keymap, via

#11772 Add Noxary 268.2 RGB
  keyboards/noxary/268_2_rgb/268_2_rgb.c
  keyboards/noxary/268_2_rgb/268_2_rgb.h
  keyboards/noxary/268_2_rgb/config.h
  keyboards/noxary/268_2_rgb/info.json
  keyboards/noxary/268_2_rgb/keymaps/default/keymap.c
  keyboards/noxary/268_2_rgb/keymaps/default/readme.md
  keyboards/noxary/268_2_rgb/keymaps/via/keymap.c
  keyboards/noxary/268_2_rgb/keymaps/via/readme.md
  keyboards/noxary/268_2_rgb/keymaps/via/rules.mk
  keyboards/noxary/268_2_rgb/readme.md
  keyboards/noxary/268_2_rgb/rules.mk
Labels: keyboard, keymap, via

#11913 Add `tap_code_delay(code, delay)`
  docs/feature_macros.md
  tmk_core/common/action.c
  tmk_core/common/action.h
Labels: core, documentation, enhancement

#11828 Add Rartand keyboard and support via
  keyboards/rart/rart45/info.json
  keyboards/rart/rartand/config.h
  keyboards/rart/rartand/info.json
  keyboards/rart/rartand/keymaps/default/keymap.c
  keyboards/rart/rartand/keymaps/via/keymap.c
  keyboards/rart/rartand/keymaps/via/rules.mk
  keyboards/rart/rartand/rartand.c
  keyboards/rart/rartand/rartand.h
  keyboards/rart/rartand/readme.md
  keyboards/rart/rartand/rules.mk
Labels: keyboard, keymap, via

#11811 Add VIA support for YMD 75
  keyboards/ymd75/config.h
  keyboards/ymd75/keymaps/via/keymap.c
  keyboards/ymd75/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#11938 Fix compilation error for `tap_code_delay()`
  tmk_core/common/action.c
Labels: bug, core

#11939 fix build error
  keyboards/hhkb/ansi/keymaps/shela/keymap.c
Labels: keymap

#11931 Fixing typos in durgod/k320 readme
  keyboards/durgod/k320/readme.md
Labels: keyboard

#11937 Personal keymap for kbd67 and some cleanup
  keyboards/kbdfans/kbd67/hotswap/keymaps/madhatter/config.h
  keyboards/kbdfans/kbd67/hotswap/keymaps/madhatter/keymap.c
Labels: keymap

#11799 Add UTD80 PCB
  keyboards/utd80/config.h
  keyboards/utd80/info.json
  keyboards/utd80/keymaps/default/keymap.c
  keyboards/utd80/keymaps/default/readme.md
  keyboards/utd80/keymaps/via/keymap.c
  keyboards/utd80/keymaps/via/rules.mk
  keyboards/utd80/readme.md
  keyboards/utd80/rules.mk
  keyboards/utd80/utd80.c
  keyboards/utd80/utd80.h
Labels: keyboard, keymap, via

#11701 add eggman keyboard
  keyboards/eggman/config.h
  keyboards/eggman/eggman.c
  keyboards/eggman/eggman.h
  keyboards/eggman/info.json
  keyboards/eggman/keymaps/default/config.h
  keyboards/eggman/keymaps/default/keymap.c
  keyboards/eggman/keymaps/default/rules.mk
  keyboards/eggman/readme.md
  keyboards/eggman/rules.mk
Labels: keyboard, keymap

#11924 Beegboy handwired by swiftrax: correct info.json object order
  keyboards/handwired/swiftrax/beegboy/info.json
Labels: enhancement, keyboard

#11920 [Keyboard] Phase Studio's Titan 65
  keyboards/phase_studio/titan65/config.h
  keyboards/phase_studio/titan65/info.json
  keyboards/phase_studio/titan65/keymaps/default/keymap.c
  keyboards/phase_studio/titan65/keymaps/via/keymap.c
  keyboards/phase_studio/titan65/keymaps/via/rules.mk
  keyboards/phase_studio/titan65/readme.md
  keyboards/phase_studio/titan65/rules.mk
  keyboards/phase_studio/titan65/titan65.c
  keyboards/phase_studio/titan65/titan65.h
Labels: keyboard, keymap, via

#11747 New Keyboard: Quadrant by Ealdin
  keyboards/ealdin/quadrant/config.h
  keyboards/ealdin/quadrant/info.json
  keyboards/ealdin/quadrant/keymaps/default/keymap.c
  keyboards/ealdin/quadrant/keymaps/default/readme.md
  keyboards/ealdin/quadrant/keymaps/via/keymap.c
  keyboards/ealdin/quadrant/keymaps/via/rules.mk
  keyboards/ealdin/quadrant/quadrant.c
  keyboards/ealdin/quadrant/quadrant.h
  keyboards/ealdin/quadrant/readme.md
  keyboards/ealdin/quadrant/rules.mk
  keyboards/ealdin/readme.md
Labels: keyboard, keymap, via

#11719 Add new keyboard Cornelius
  keyboards/foostan/cornelius/config.h
  keyboards/foostan/cornelius/cornelius.c
  keyboards/foostan/cornelius/cornelius.h
  keyboards/foostan/cornelius/info.json
  keyboards/foostan/cornelius/keymaps/default/keymap.c
  keyboards/foostan/cornelius/keymaps/default/readme.md
  keyboards/foostan/cornelius/keymaps/via/keymap.c
  keyboards/foostan/cornelius/keymaps/via/readme.md
  keyboards/foostan/cornelius/keymaps/via/rules.mk
  keyboards/foostan/cornelius/readme.md
  keyboards/foostan/cornelius/rules.mk
Labels: keyboard, keymap, via

#11915 Add swap-hands array for CRKBD (Corne)
  keyboards/crkbd/crkbd.c
Labels: keyboard

#11929 Xealous Brown handwired Refactor
  keyboards/handwired/xealousbrown/info.json
  keyboards/handwired/xealousbrown/keymaps/default/keymap.c
  keyboards/handwired/xealousbrown/readme.md
  keyboards/handwired/xealousbrown/rules.mk
  keyboards/handwired/xealousbrown/xealousbrown.c
  keyboards/handwired/xealousbrown/xealousbrown.h
Labels: enhancement, keyboard, keymap

#11746 enable rgb underglow for VIA-firmware
  keyboards/4pplet/aekiso60/keymaps/via/rules.mk
  keyboards/4pplet/steezy60/keymaps/via/rules.mk
Labels: keymap, via

#11862 [Keymap] Adding fraanrosi keymap. (changes applied)
  keyboards/helix/rev2/keymaps/fraanrosi/config.h
  keyboards/helix/rev2/keymaps/fraanrosi/keymap.c
  keyboards/helix/rev2/keymaps/fraanrosi/readme.md
  keyboards/helix/rev2/keymaps/fraanrosi/rules.mk
Labels: keymap

#11597 Adding new handwired ortho 5x14 keyboard
  keyboards/handwired/ortho5x14/.noci
  keyboards/handwired/ortho5x14/config.h
  keyboards/handwired/ortho5x14/info.json
  keyboards/handwired/ortho5x14/keymaps/2u/keymap.c
  keyboards/handwired/ortho5x14/keymaps/2u/rules.mk
  keyboards/handwired/ortho5x14/keymaps/default/keymap.c
  keyboards/handwired/ortho5x14/keymaps/default/rules.mk
  keyboards/handwired/ortho5x14/keymaps/split1/keymap.c
  keyboards/handwired/ortho5x14/keymaps/split1/rules.mk
  keyboards/handwired/ortho5x14/ortho5x14.c
  keyboards/handwired/ortho5x14/ortho5x14.h
  keyboards/handwired/ortho5x14/readme.md
  keyboards/handwired/ortho5x14/rules.mk
Labels: keyboard, keymap, pr_checklist_pending

#11948 Iron180: layout macro and Configurator rework
  keyboards/iron180/info.json
  keyboards/iron180/iron180.h
  keyboards/iron180/keymaps/default/keymap.c
  keyboards/iron180/keymaps/via/keymap.c
  keyboards/iron180/readme.md
Labels: enhancement, keyboard, keymap, via

#11940 Output selection: Remove "USB and BT" option
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/lufa/outputselect.h
Labels: core, enhancement

#11952 adding personal keymaps
  keyboards/sixkeyboard/keymaps/semicolonsnet/keymap.c
  keyboards/sixkeyboard/keymaps/semicolonsnet/readme.md
  keyboards/xd60/keymaps/semicolonsnet/keymap.c
  keyboards/xd60/keymaps/semicolonsnet/readme.md
Labels: keymap

#11949 [Keymap] Assign each key an LED for reactive modes
  keyboards/boardsource/the_mark/keymaps/stanrc85/keymap.c
Labels: keymap

#11945 Program Yoink ortho.h update
  keyboards/program_yoink/ortho/ortho.h
Labels: keyboard

#11932 Add via support to Dozen0
  keyboards/dozen0/config.h
  keyboards/dozen0/keymaps/via/keymap.c
  keyboards/dozen0/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#11922 [Keyboard] Concertina
  keyboards/handwired/concertina/64key/64key.c
  keyboards/handwired/concertina/64key/64key.h
  keyboards/handwired/concertina/64key/config.h
  keyboards/handwired/concertina/64key/keymaps/default/config.h
  keyboards/handwired/concertina/64key/keymaps/default/keymap.c
  keyboards/handwired/concertina/64key/readme.md
  keyboards/handwired/concertina/concertina.h
  keyboards/handwired/concertina/config.h
  keyboards/handwired/concertina/info.json
  keyboards/handwired/concertina/readme.md
  keyboards/handwired/concertina/rules.mk
Labels: keyboard, keymap

#11821 [Keyboard] keyboards/anavi: Add ANAVI Macro Pad 2
  keyboards/anavi/macropad2/config.h
  keyboards/anavi/macropad2/info.json
  keyboards/anavi/macropad2/keymaps/copypaste/keymap.c
  keyboards/anavi/macropad2/keymaps/copypaste/rules.mk
  keyboards/anavi/macropad2/keymaps/default/keymap.c
  keyboards/anavi/macropad2/keymaps/default/rules.mk
  keyboards/anavi/macropad2/keymaps/jitsi/keymap.c
  keyboards/anavi/macropad2/keymaps/jitsi/rules.mk
  keyboards/anavi/macropad2/keymaps/mute/keymap.c
  keyboards/anavi/macropad2/keymaps/mute/rules.mk
  keyboards/anavi/macropad2/keymaps/tap_dance/config.h
  keyboards/anavi/macropad2/keymaps/tap_dance/keymap.c
  keyboards/anavi/macropad2/keymaps/tap_dance/rules.mk
  keyboards/anavi/macropad2/keymaps/volume/keymap.c
  keyboards/anavi/macropad2/keymaps/volume/rules.mk
  keyboards/anavi/macropad2/keymaps/zoom/keymap.c
  keyboards/anavi/macropad2/keymaps/zoom/rules.mk
  keyboards/anavi/macropad2/macropad2.c
  keyboards/anavi/macropad2/macropad2.h
  keyboards/anavi/macropad2/readme.md
  keyboards/anavi/macropad2/rules.mk
Labels: keyboard, keymap

#11943 tmk_core/common/action.c: refactor for code size; merge multiple `case`s into one
  tmk_core/common/action.c
  tmk_core/common/report.h
Labels: core

#11962 Leafcutterlabs/bigknob: Fix minor typo
  keyboards/leafcutterlabs/bigknob/keymaps/default/keymap.c
Labels: keymap

#11950 Added ConsoleKeyboard
  keyboards/handwired/consolekeyboard/config.h
  keyboards/handwired/consolekeyboard/consolekeyboard.c
  keyboards/handwired/consolekeyboard/consolekeyboard.h
  keyboards/handwired/consolekeyboard/info.json
  keyboards/handwired/consolekeyboard/keymaps/default/keymap.c
  keyboards/handwired/consolekeyboard/keymaps/via/keymap.c
  keyboards/handwired/consolekeyboard/keymaps/via/rules.mk
  keyboards/handwired/consolekeyboard/readme.md
  keyboards/handwired/consolekeyboard/rules.mk
Labels: keyboard, keymap, via

#11195 added unix60, moved togehter with southpaw75 into fr4 folder
  keyboards/fr4/southpaw75/config.h
  keyboards/fr4/southpaw75/info.json
  keyboards/fr4/southpaw75/keymaps/default/keymap.c
  keyboards/fr4/southpaw75/readme.md
  keyboards/fr4/southpaw75/rules.mk
  keyboards/fr4/southpaw75/southpaw75.c
  keyboards/fr4/southpaw75/southpaw75.h
  keyboards/fr4/unix60/config.h
  keyboards/fr4/unix60/info.json
  keyboards/fr4/unix60/keymaps/default/keymap.c
  keyboards/fr4/unix60/readme.md
  keyboards/fr4/unix60/rules.mk
  keyboards/fr4/unix60/unix60.c
  keyboards/fr4/unix60/unix60.h
Labels: breaking_change, keyboard, keymap

#11139 ergodox_ez / dvorak_42_key layout: convert macros to new format
  keyboards/ergodox_ez/keymaps/dvorak_42_key/keymap.c
Labels: keymap

#11656 Added Ketch support
  keyboards/trashman/ketch/config.h
  keyboards/trashman/ketch/info.json
  keyboards/trashman/ketch/ketch.c
  keyboards/trashman/ketch/ketch.h
  keyboards/trashman/ketch/keymaps/default/keymap.c
  keyboards/trashman/ketch/keymaps/jetpacktuxedo/config.h
  keyboards/trashman/ketch/keymaps/jetpacktuxedo/keymap.c
  keyboards/trashman/ketch/readme.md
  keyboards/trashman/ketch/rules.mk
  keyboards/trashman/readme.md
Labels: keyboard, keymap

#11852 Add MIO keyboard
  keyboards/mio/config.h
  keyboards/mio/info.json
  keyboards/mio/keymaps/default/keymap.c
  keyboards/mio/keymaps/default/readme.md
  keyboards/mio/keymaps/via/keymap.c
  keyboards/mio/keymaps/via/rules.mk
  keyboards/mio/mio.c
  keyboards/mio/mio.h
  keyboards/mio/readme.md
  keyboards/mio/rules.mk
Labels: keyboard, keymap, via

#11816 Add DimplePlus 7u Layout
  keyboards/lazydesigners/dimpleplus/dimpleplus.h
  keyboards/lazydesigners/dimpleplus/info.json
  keyboards/lazydesigners/dimpleplus/keymaps/default_7u/keymap.c
Labels: keyboard, keymap

#11785 [Keyboard] Support MJ64 REV3 which is a 60% RGB Hotswap keyboard with arrow
  keyboards/melgeek/mj64/rev3/config.h
  keyboards/melgeek/mj64/rev3/rev3.c
  keyboards/melgeek/mj64/rev3/rules.mk
Labels: keyboard

#11871 Bongo Cat + WPM Counter OLED keymap
  keyboards/nullbitsco/nibble/keymaps/oled_bongocat/keymap.c
  keyboards/nullbitsco/nibble/keymaps/oled_bongocat/readme.md
  keyboards/nullbitsco/nibble/keymaps/oled_bongocat/rules.mk
Labels: keymap

#11895 My ErgoDash Keymap
  keyboards/ergodash/rev1/keymaps/ifohancroft/config.h
  keyboards/ergodash/rev1/keymaps/ifohancroft/keymap.c
  keyboards/ergodash/rev1/keymaps/ifohancroft/readme.md
  keyboards/ergodash/rev1/keymaps/ifohancroft/rules.mk
Labels: keymap

#11897 My Idobo Keymap
  keyboards/idobo/keymaps/ifohancroft/config.h
  keyboards/idobo/keymaps/ifohancroft/keymap.c
  keyboards/idobo/keymaps/ifohancroft/readme.md
  keyboards/idobo/keymaps/ifohancroft/rules.mk
Labels: keymap

#11899 My Prime_E Keymap
  keyboards/primekb/prime_e/keymaps/ifohancroft/config.h
  keyboards/primekb/prime_e/keymaps/ifohancroft/keymap.c
  keyboards/primekb/prime_e/keymaps/ifohancroft/readme.md
  keyboards/primekb/prime_e/keymaps/ifohancroft/rules.mk
Labels: keymap

#11911 Adding my v60 Type R keymap
  keyboards/v60_type_r/keymaps/ifohancroft/config.h
  keyboards/v60_type_r/keymaps/ifohancroft/keymap.c
  keyboards/v60_type_r/keymaps/ifohancroft/readme.md
  keyboards/v60_type_r/keymaps/ifohancroft/rules.mk
Labels: keymap

#11919 [Keyboard] Pill60: fix default keymap shift key, fix info.json to default keymap
  keyboards/handwired/pill60/info.json
  keyboards/handwired/pill60/keymaps/default/keymap.c
Labels: keyboard, keymap
