Repository qmk/qmk_firmware, pull requests merged in 2021-11, with the labels that each got.

#14974 Fix keymaps, RGB matrix, add support for WS2812
  keyboards/canary/canary60rgb/canary60rgb.c
  keyboards/canary/canary60rgb/info.json
  keyboards/canary/canary60rgb/keymaps/default/keymap.c
  keyboards/canary/canary60rgb/keymaps/via/keymap.c
  keyboards/canary/canary60rgb/readme.md
  keyboards/canary/canary60rgb/v1/config.h
  keyboards/canary/canary60rgb/v1/rules.mk
Labels: keyboard, keymap, via

#14934 Fix issues with Oneshot disabling
  quantum/action.c
  quantum/action_util.c
Labels: bug, core

#12670 Add Fractal RGB matrix effects
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix/animations/fractal_anim.h
  quantum/rgb_matrix/animations/rgb_matrix_effects.inc
Labels: core, documentation, breaking_change_2021q4

#15004 Fix up issues shown by clang-format of vusb
  tmk_core/protocol/vusb/vusb.c
Labels: bug, core

#15003 Manually format develop
  drivers/sensors/adns5050.c
  drivers/sensors/adns5050.h
  drivers/sensors/adns9800.c
  drivers/sensors/adns9800.h
  drivers/sensors/pmw3360.c
  drivers/sensors/pmw3360.h
  platforms/avr/drivers/analog.h
  quantum/action.c
  quantum/action.h
  quantum/action_tapping.c
  quantum/debounce/asym_eager_defer_pk.c
  quantum/debounce/sym_defer_g.c
  quantum/debounce/sym_defer_pk.c
  quantum/debounce/sym_eager_pk.c
  quantum/debounce/sym_eager_pr.c
  quantum/debounce/tests/asym_eager_defer_pk_tests.cpp
  quantum/debounce/tests/debounce_test_common.cpp
  quantum/debounce/tests/debounce_test_common.h
  quantum/debounce/tests/sym_defer_g_tests.cpp
  quantum/debounce/tests/sym_defer_pk_tests.cpp
  quantum/debounce/tests/sym_eager_pk_tests.cpp
  quantum/debounce/tests/sym_eager_pr_tests.cpp
  quantum/keymap_extras/keymap_steno.h
  quantum/process_keycode/process_combo.c
  quantum/process_keycode/process_combo.h
  quantum/process_keycode/process_steno.c
  quantum/quantum_keycodes.h
  quantum/rgb_matrix/animations/fractal_anim.h
  quantum/split_common/transactions.c
  tmk_core/common/chibios/sleep_led.c
Labels: core

#12947 core: make the full 4096 bytes of EEPROM work on Teensy 3.6
  tmk_core/common/chibios/eeprom_teensy.c
Labels: in progress, core, breaking_change_2021q4

#13842 Add support for ISSI drivers on both sides of a split keyboard
  docs/feature_led_matrix.md
  docs/feature_rgb_matrix.md
  keyboards/bandominedoni/rgb_matrix_user.inc
  keyboards/percent/canoe_gen2/rgb_matrix_kb.inc
  keyboards/yushakobo/quick17/rgb_matrix_kb.inc
  quantum/led_matrix/animations/alpha_mods_anim.h
  quantum/led_matrix/animations/breathing_anim.h
  quantum/led_matrix/animations/runners/effect_runner_dx_dy.h
  quantum/led_matrix/animations/runners/effect_runner_dx_dy_dist.h
  quantum/led_matrix/animations/runners/effect_runner_i.h
  quantum/led_matrix/animations/runners/effect_runner_reactive.h
  quantum/led_matrix/animations/runners/effect_runner_reactive_splash.h
  quantum/led_matrix/animations/runners/effect_runner_sin_cos_i.h
  quantum/led_matrix/animations/solid_anim.h
  quantum/led_matrix/led_matrix.c
  quantum/led_matrix/led_matrix.h
  quantum/rgb_matrix/animations/alpha_mods_anim.h
  quantum/rgb_matrix/animations/breathing_anim.h
  quantum/rgb_matrix/animations/gradient_left_right_anim.h
  quantum/rgb_matrix/animations/gradient_up_down_anim.h
  quantum/rgb_matrix/animations/hue_breathing_anim.h
  quantum/rgb_matrix/animations/jellybean_raindrops_anim.h
  quantum/rgb_matrix/animations/raindrops_anim.h
  quantum/rgb_matrix/animations/runners/effect_runner_dx_dy.h
  quantum/rgb_matrix/animations/runners/effect_runner_dx_dy_dist.h
  quantum/rgb_matrix/animations/runners/effect_runner_i.h
  quantum/rgb_matrix/animations/runners/effect_runner_reactive.h
  quantum/rgb_matrix/animations/runners/effect_runner_reactive_splash.h
  quantum/rgb_matrix/animations/runners/effect_runner_sin_cos_i.h
  quantum/rgb_matrix/animations/solid_color_anim.h
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: core, keyboard, documentation

#14201 simple define to disable auto shift at startupAUTO_SHIFT_DISABLED_AT_STARTUP
  quantum/process_keycode/process_auto_shift.c
Labels: core

#14872 Add a new led driver for Keychron's keyboards.
  common_features.mk
  drivers/led/ckled2001.c
  drivers/led/ckled2001.h
  quantum/rgb_matrix/rgb_matrix.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: core

#14980 Add support to persist MD LED framework settings
  keyboards/massdrop/alt/config.h
  keyboards/massdrop/alt/keymaps/default_md/keymap.c
  keyboards/massdrop/ctrl/config.h
  keyboards/massdrop/ctrl/keymaps/default_md/keymap.c
  tmk_core/protocol/arm_atsam/md_rgb_matrix.c
  tmk_core/protocol/arm_atsam/md_rgb_matrix.h
Labels: core, keyboard, keymap

#14508 Enable de-ghosting for RGB/LED matrix on all ISSI LED drivers
  docs/feature_rgb_matrix.md
  drivers/led/issi/is31fl3731-simple.c
  drivers/led/issi/is31fl3731.c
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3733.h
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3736.h
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3737.h
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31fl3741.h
Labels: core, documentation, breaking_change_2021q4

#14155 Add Pixel Rain RGB Matrix effect
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix/animations/pixel_rain_anim.h
  quantum/rgb_matrix/animations/rgb_matrix_effects.inc
Labels: core, documentation, breaking_change_2021q4

#15010 [Keyboard] Fix missing return for oled task on Lefty
  keyboards/lefty/lefty.c
Labels: bug, keyboard

#15011 [Keyboard] Fix missing return for oled task on Arabica37
  keyboards/arabica37/keymaps/default/keymap.c
Labels: bug, keymap

#15012 [Keymap] Fix missing return for oled task in drashna userspace
  users/drashna/oled_stuff.c
Labels: bug, keymap

#15014 [Bug] Fix unterminated ifdef in ISSI 3733 driver
  drivers/led/issi/is31fl3733.c
Labels: bug, core

#15016 [Keyboard] Fix compilation size issues for Canary 60 RGB
  keyboards/canary/canary60rgb/v1/rules.mk
Labels: keyboard

#15017 [Keyboard] Fix size issues on pistachio pro via keymap
  keyboards/pistachio_pro/keymaps/via/rules.mk
Labels: keymap, via

#12692 F haptic disable when usb not configured or suspended
  docs/feature_haptic_feedback.md
  drivers/haptic/solenoid.c
  drivers/haptic/solenoid.h
  quantum/haptic.c
  quantum/haptic.h
  quantum/process_keycode/process_haptic.c
  tmk_core/protocol/usb_device_state.c
Labels: core, documentation

#15015 Clarify placement of OLED configuration options
  docs/feature_oled_driver.md
Labels: documentation

#15013 Add Redox Media Configurator Data
  keyboards/redox_media/config.h
  keyboards/redox_media/info.json
  keyboards/redox_media/redox_media.h
Labels: enhancement, keyboard

#15021 overnumpad controller: Add support for turning off solenoid enable in low power.
  keyboards/ibm/model_m_4th_gen/overnumpad_1xb/config.h
  keyboards/ibm/model_m_4th_gen/overnumpad_1xb/overnumpad_1xb.c
  keyboards/unicomp/classic_ultracl_post_2013/overnumpad_1xb/config.h
  keyboards/unicomp/classic_ultracl_post_2013/overnumpad_1xb/overnumpad_1xb.c
  keyboards/unicomp/classic_ultracl_pre_2013/overnumpad_1xb/config.h
  keyboards/unicomp/classic_ultracl_pre_2013/overnumpad_1xb/overnumpad_1xb.c
  keyboards/unicomp/spacesaver_m_post_2013/overnumpad_1xb/config.h
  keyboards/unicomp/spacesaver_m_post_2013/overnumpad_1xb/overnumpad_1xb.c
  keyboards/unicomp/spacesaver_m_pre_2013/overnumpad_1xb/config.h
  keyboards/unicomp/spacesaver_m_pre_2013/overnumpad_1xb/overnumpad_1xb.c
Labels: keyboard

#15020 Fixup LED matrix.
  quantum/led_matrix/led_matrix.h
Labels: bug, core

#15019 Fix build failures caused by #12947.
  tmk_core/common/chibios/eeprom_teensy.c
Labels: bug, core

#15029 Revert to old init order for host driver
  quantum/main.c
  tmk_core/protocol/chibios/chibios.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/vusb/protocol.c
Labels: bug, core

#15031 Fixup #15029
  tmk_core/protocol/chibios/chibios.c
Labels: bug, core

#15034 [Keyboard] Reduce compile size for melgeek mach80
  keyboards/melgeek/mach80/keymaps/via/rules.mk
  keyboards/melgeek/mach80/rev1/rules.mk
Labels: keyboard, keymap, via

#15028 Fix Rocketboard-16 QMK Configurator Implementation
  keyboards/rocketboard_16/info.json
  keyboards/rocketboard_16/keymaps/default/keymap.c
  keyboards/rocketboard_16/keymaps/via/keymap.c
  keyboards/rocketboard_16/rocketboard_16.h
Labels: enhancement, keyboard, keymap, via

#15032 steal_this_keyboard: fix info.json macro reference
  keyboards/steal_this_keyboard/info.json
Labels: enhancement, keyboard

#15037 Remove deprecated KEYMAP alias
  keyboards/clueboard/17/info.json
  keyboards/clueboard/2x1800/2018/info.json
  keyboards/clueboard/2x1800/2021/info.json
  keyboards/clueboard/60/info.json
  keyboards/clueboard/66/rev1/info.json
  keyboards/clueboard/66/rev2/info.json
  keyboards/clueboard/66/rev3/info.json
  keyboards/clueboard/66/rev4/info.json
  keyboards/clueboard/66_hotswap/prototype/info.json
  keyboards/meira/info.json
  keyboards/meira/keymaps/cole/keymap.c
  keyboards/meira/keymaps/grahampheath/keymap.c
  keyboards/meira/keymaps/takmiya/keymap.c
  keyboards/meira/lighting.c
  quantum/config_common.h
Labels: core, keyboard, keymap

#15039 Sets3n kk980 Layout Macro Refactor
  keyboards/sets3n/kk980/info.json
  keyboards/sets3n/kk980/keymaps/default/keymap.c
  keyboards/sets3n/kk980/keymaps/via/keymap.c
  keyboards/sets3n/kk980/kk980.h
Labels: enhancement, keyboard, keymap, via

#14930 Layout update to split89.h
  keyboards/handwired/split89/split89.h
Labels: keyboard

#14910 Add firmware for the Kuku65
  keyboards/wolf/kuku65/config.h
  keyboards/wolf/kuku65/info.json
  keyboards/wolf/kuku65/keymaps/default/keymap.c
  keyboards/wolf/kuku65/keymaps/via/keymap.c
  keyboards/wolf/kuku65/keymaps/via/rules.mk
  keyboards/wolf/kuku65/kuku65.c
  keyboards/wolf/kuku65/kuku65.h
  keyboards/wolf/kuku65/readme.md
  keyboards/wolf/kuku65/rules.mk
Labels: keyboard, keymap, via

#14653 [Keymap] added caps lock indicator for Keychron Q1 rev_0100
  keyboards/keychron/q1/rev_0100/keymaps/mkillewald/config.h
  keyboards/keychron/q1/rev_0100/keymaps/mkillewald/keymap.c
  keyboards/keychron/q1/rev_0100/keymaps/mkillewald/keymap_user.h
  keyboards/keychron/q1/rev_0100/keymaps/mkillewald/readme.md
  keyboards/keychron/q1/rev_0100/keymaps/mkillewald/rgb_matrix_user.c
  keyboards/keychron/q1/rev_0100/keymaps/mkillewald/rgb_matrix_user.h
  keyboards/keychron/q1/rev_0100/keymaps/mkillewald/rules.mk
  keyboards/keychron/q1/rev_0102/keymaps/mkillewald_iso/config.h
  keyboards/keychron/q1/rev_0102/keymaps/mkillewald_iso/keymap.c
  keyboards/keychron/q1/rev_0102/keymaps/mkillewald_iso/keymap_user.h
  keyboards/keychron/q1/rev_0102/keymaps/mkillewald_iso/readme.md
  keyboards/keychron/q1/rev_0102/keymaps/mkillewald_iso/rgb_matrix_user.c
  keyboards/keychron/q1/rev_0102/keymaps/mkillewald_iso/rgb_matrix_user.h
  keyboards/keychron/q1/rev_0102/keymaps/mkillewald_iso/rules.mk
Labels: keymap

#14726 Basic keycode overhaul
  docs/config_options.md
  docs/configurator_default_keymaps.md
  docs/faq_keymap.md
  docs/feature_auto_shift.md
  docs/feature_combo.md
  docs/feature_grave_esc.md
  docs/feature_haptic_feedback.md
  docs/feature_key_overrides.md
  docs/feature_macros.md
  docs/feature_tap_dance.md
  docs/feature_wpm.md
  docs/keycodes.md
  docs/keycodes_basic.md
  docs/keymap.md
  docs/reference_configurator_support.md
  docs/tap_hold.md
  docs/understanding_qmk.md
  layouts/default/60_hhkb/default_60_hhkb/keymap.c
  layouts/default/64_ansi/default_64_ansi/keymap.c
  layouts/default/64_iso/default_64_iso/keymap.c
  layouts/default/96_ansi/default_96_ansi/keymap.c
  layouts/default/96_iso/default_96_iso/keymap.c
  layouts/default/fullsize_ansi/default_fullsize_ansi/keymap.c
  layouts/default/fullsize_iso/default_fullsize_iso/keymap.c
  layouts/default/numpad_6x4/default_numpad_6x4/keymap.c
  layouts/default/numpad_6x5/default_numpad_6x5/keymap.c
  layouts/default/ortho_6x4/default_ortho_6x4/keymap.c
  layouts/default/tkl_ansi/default_tkl_ansi/keymap.c
  layouts/default/tkl_iso/default_tkl_iso/keymap.c
  quantum/action.c
  quantum/keycode.h
  quantum/keycode_config.c
  quantum/keycode_legacy.h
  quantum/keymap_common.c
  quantum/keymap_extras/keymap_korean.h
  quantum/process_keycode/process_auto_shift.c
  quantum/process_keycode/process_haptic.c
  quantum/process_keycode/process_music.c
  quantum/process_keycode/process_printer.c
  quantum/process_keycode/process_printer_bb.c
  quantum/process_keycode/process_space_cadet.c
  quantum/process_keycode/process_terminal.c
  quantum/process_keycode/process_ucis.c
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicode_common.h
  quantum/quantum.c
  quantum/quantum_keycodes.h
  quantum/via_ensure_keycode.h
  quantum/wpm.c
  tests/basic/test_keypress.cpp
  tests/basic/test_macro.cpp
  tests/basic/test_tapping.cpp
Labels: enhancement, core, keymap, documentation, breaking_change_2021q4

#14903 Add new keyboard "Compacx"
  keyboards/takashicompany/compacx/compacx.c
  keyboards/takashicompany/compacx/compacx.h
  keyboards/takashicompany/compacx/config.h
  keyboards/takashicompany/compacx/info.json
  keyboards/takashicompany/compacx/keymaps/default/keymap.c
  keyboards/takashicompany/compacx/keymaps/via/config.h
  keyboards/takashicompany/compacx/keymaps/via/keymap.c
  keyboards/takashicompany/compacx/keymaps/via/rules.mk
  keyboards/takashicompany/compacx/readme.md
  keyboards/takashicompany/compacx/rules.mk
Labels: keyboard, keymap, via

#15049 Xelus Dawn60 Layout Macro Additions
  keyboards/xelus/dawn60/info.json
  keyboards/xelus/dawn60/keymaps/default/keymap.c
  keyboards/xelus/dawn60/keymaps/via/keymap.c
  keyboards/xelus/dawn60/rev1/rev1.h
  keyboards/xelus/dawn60/rev1_qmk/rev1_qmk.h
Labels: enhancement, keyboard, keymap, via

#15054 [Keyboard] Reduce compile size for takashicompany compacx
  keyboards/takashicompany/compacx/keymaps/via/rules.mk
  keyboards/takashicompany/compacx/rules.mk
Labels: keyboard, keymap, via

#15055 [Keyboard] Fix keycode collision in craftwalk keymap
  keyboards/craftwalk/keymaps/default/keymap.c
Labels: bug, keyboard, keymap

#15056 `qmk docs`: Run `docsify serve` if available
  docs/cli_commands.md
  lib/python/qmk/cli/docs.py
Labels: enhancement, documentation, python, cli

#14372 Map `PRODUCT` define to `keyboard_name`
  data/mappings/info_config.json
  keyboards/handwired/pytest/basic/info.json
  keyboards/handwired/pytest/config.h
  keyboards/handwired/pytest/info.json
  lib/python/qmk/cli/generate/dfu_header.py
  lib/python/qmk/tests/minimal_info.json
  lib/python/qmk/tests/test_cli_commands.py
Labels: bug, enhancement, keyboard, python, cli

#14707 Refactor new-keyboard to be python3.7 compatible
  data/templates/avr/config.h
  data/templates/avr/readme.md
  data/templates/base/%(KEYBOARD)s.c
  data/templates/base/%(KEYBOARD)s.h
  data/templates/base/info.json
  data/templates/base/keyboard.c
  data/templates/base/keyboard.h
  data/templates/base/keymaps/default/keymap.c
  data/templates/base/keymaps/default/readme.md
  data/templates/ps2avrgb/config.h
  data/templates/ps2avrgb/readme.md
  docs/coding_conventions_python.md
  lib/python/qmk/cli/new/keyboard.py
Labels: documentation, python, cli

#12584 CLI: Add 'cd' subcommand
  docs/cli_commands.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/cd.py
Labels: in progress, documentation, python, cli

#15057 Fixup actions.
  lib/python/qmk/info.py
Labels: bug, python, cli

#14820 [MCU change] Update Infinity87 rev. 2
  keyboards/mechlovin/infinity87/rev2/config.h
  keyboards/mechlovin/infinity87/rev2/info.json
  keyboards/mechlovin/infinity87/rev2/matrix.c
  keyboards/mechlovin/infinity87/rev2/readme.md
  keyboards/mechlovin/infinity87/rev2/rev2.c
  keyboards/mechlovin/infinity87/rev2/rules.mk
Labels: keyboard

#8692 [Keymap] foxx1337 for Massdrop CTRL with raw HID
  keyboards/massdrop/ctrl/keymaps/foxx1337/README.md
  keyboards/massdrop/ctrl/keymaps/foxx1337/config.h
  keyboards/massdrop/ctrl/keymaps/foxx1337/hid_protocol.c
  keyboards/massdrop/ctrl/keymaps/foxx1337/hid_protocol.h
  keyboards/massdrop/ctrl/keymaps/foxx1337/keymap.c
  keyboards/massdrop/ctrl/keymaps/foxx1337/rgb_matrix_user.inc
  keyboards/massdrop/ctrl/keymaps/foxx1337/rules.mk
Labels: keymap, awaiting review

#10968 add matrix abelx keyboard
  keyboards/matrix/abelx/abelx.c
  keyboards/matrix/abelx/abelx.h
  keyboards/matrix/abelx/aw9523b.c
  keyboards/matrix/abelx/aw9523b.h
  keyboards/matrix/abelx/boards/abelx_bd/board.c
  keyboards/matrix/abelx/boards/abelx_bd/board.h
  keyboards/matrix/abelx/boards/abelx_bd/board.mk
  keyboards/matrix/abelx/bootloader_defs.h
  keyboards/matrix/abelx/chconf.h
  keyboards/matrix/abelx/config.h
  keyboards/matrix/abelx/halconf.h
  keyboards/matrix/abelx/info.json
  keyboards/matrix/abelx/keymaps/default/keymap.c
  keyboards/matrix/abelx/keymaps/iso/keymap.c
  keyboards/matrix/abelx/ld/abelx_boot.ld
  keyboards/matrix/abelx/matrix.c
  keyboards/matrix/abelx/mcuconf.h
  keyboards/matrix/abelx/readme.md
  keyboards/matrix/abelx/rules.mk
  keyboards/matrix/abelx/tca6424.c
  keyboards/matrix/abelx/tca6424.h
Labels: keyboard, keymap, awaiting review

#14938 Rework ISP flashing guide
  docs/isp_flashing_guide.md
Labels: enhancement, documentation

#14997 Add example for turning off RGB colors and retaining indicator function
  docs/feature_rgb_matrix.md
Labels: documentation

#12672 My Personal Keymaps for the Planck and melody96
  keyboards/melody96/keymaps/dvz/config.h
  keyboards/melody96/keymaps/dvz/keymap.c
  keyboards/melody96/keymaps/dvz/readme.md
  keyboards/melody96/keymaps/dvz/rules.mk
  keyboards/planck/keymaps/dvz/config.h
  keyboards/planck/keymaps/dvz/keymap.c
  keyboards/planck/keymaps/dvz/readme.md
  keyboards/planck/keymaps/dvz/rules.mk
Labels: keymap, awaiting review

#12993 Add a new keyboard "Unicorne"
  keyboards/yanghu/unicorne/config.h
  keyboards/yanghu/unicorne/f411/halconf.h
  keyboards/yanghu/unicorne/f411/mcuconf.h
  keyboards/yanghu/unicorne/f411/rules.mk
  keyboards/yanghu/unicorne/glcdfont.c
  keyboards/yanghu/unicorne/info.json
  keyboards/yanghu/unicorne/keymaps/default/config.h
  keyboards/yanghu/unicorne/keymaps/default/keymap.c
  keyboards/yanghu/unicorne/keymaps/default/layers.h
  keyboards/yanghu/unicorne/keymaps/default/oled.c
  keyboards/yanghu/unicorne/keymaps/default/readme.md
  keyboards/yanghu/unicorne/keymaps/default/rules.mk
  keyboards/yanghu/unicorne/readme.md
  keyboards/yanghu/unicorne/rules.mk
  keyboards/yanghu/unicorne/unicorne.c
  keyboards/yanghu/unicorne/unicorne.h
Labels: keyboard, keymap

#15058 Mechlovin Infinity88 Layout Extension
  keyboards/mechlovin/infinity88/config.h
  keyboards/mechlovin/infinity88/infinity88.h
  keyboards/mechlovin/infinity88/info.json
Labels: enhancement, keyboard

#15046 Add toolbox handedness instructions for Cradio
  keyboards/cradio/readme.md
Labels: keyboard

#15038 Improve Sweep keyboard readme documentation
  keyboards/ferris/sweep/readme.md
Labels: keyboard

#13955 Fix parallel builds w/ LTO on systems where make is not GNU make.
  tmk_core/rules.mk
Labels: bug, in progress, core, breaking_change_2021q4

#15043 Superuser EXT Layout Macro Refactor
  keyboards/superuser/ext/ext.h
  keyboards/superuser/ext/info.json
  keyboards/superuser/ext/keymaps/default/keymap.c
  keyboards/superuser/ext/keymaps/via/keymap.c
  keyboards/superuser/ext/readme.md
Labels: enhancement, keyboard, keymap, via

#15048 Superuser TKL Layout Macro Refactor
  keyboards/superuser/tkl/info.json
  keyboards/superuser/tkl/keymaps/default/keymap.c
  keyboards/superuser/tkl/keymaps/via/keymap.c
  keyboards/superuser/tkl/readme.md
  keyboards/superuser/tkl/tkl.h
Labels: enhancement, keyboard, keymap, via

#15068 [Keyboard] Fix compilation issues for yanghu Unicorne
  keyboards/yanghu/unicorne/unicorne.c
Labels: keyboard

#15069 [Keymap][GMMK Pro] Add personal profile
  keyboards/gmmk/pro/ansi/keymaps/coryginsberg/config.h
  keyboards/gmmk/pro/ansi/keymaps/coryginsberg/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/coryginsberg/readme.md
  keyboards/gmmk/pro/ansi/keymaps/coryginsberg/rules.mk
Labels: keymap

#15066 kprepublic/bm65rgb/rev1: Fix info.json
  keyboards/kprepublic/bm65rgb/rev1/info.json
Labels: keyboard

#15064 Revamp the ergodox french_hacker layout
  layouts/community/ergodox/french_hacker/keymap.c
  layouts/community/ergodox/french_hacker/readme.md
Labels: keymap

#15053 add keymap for xd60
  keyboards/xiudi/xd60/keymaps/ansi_split_bs_rshift_space/keymap.c
  keyboards/xiudi/xd60/keymaps/ansi_split_bs_rshift_space/readme.md
  keyboards/xiudi/xd60/xd60.h
Labels: keyboard, keymap

#15040 Update updated KPrepublic boards to be prepared for the update
  keyboards/kprepublic/bm60poker/readme.md
  keyboards/kprepublic/bm60poker/rev1/bm60poker.c
  keyboards/kprepublic/bm60poker/rev1/bm60poker.h
  keyboards/kprepublic/bm60poker/rev1/config.h
  keyboards/kprepublic/bm60poker/rev1/info.json
  keyboards/kprepublic/bm60poker/rev1/rules.mk
  keyboards/kprepublic/bm60rgb/readme.md
  keyboards/kprepublic/bm60rgb/rev1/bm60rgb.c
  keyboards/kprepublic/bm60rgb/rev1/bm60rgb.h
  keyboards/kprepublic/bm60rgb/rev1/config.h
  keyboards/kprepublic/bm60rgb/rev1/info.json
  keyboards/kprepublic/bm60rgb/rev1/rules.mk
  keyboards/kprepublic/bm60rgb_iso/readme.md
  keyboards/kprepublic/bm60rgb_iso/rev1/bm60rgb_iso.c
  keyboards/kprepublic/bm60rgb_iso/rev1/bm60rgb_iso.h
  keyboards/kprepublic/bm60rgb_iso/rev1/config.h
  keyboards/kprepublic/bm60rgb_iso/rev1/info.json
  keyboards/kprepublic/bm60rgb_iso/rev1/rules.mk
  keyboards/kprepublic/bm65rgb/readme.md
Labels: keyboard, breaking_change_2021q4

#15008 Add Ziggurat keyboard
  keyboards/ziggurat/config.h
  keyboards/ziggurat/info.json
  keyboards/ziggurat/keymaps/default/keymap.c
  keyboards/ziggurat/keymaps/iso/keymap.c
  keyboards/ziggurat/keymaps/via/keymap.c
  keyboards/ziggurat/keymaps/via/rules.mk
  keyboards/ziggurat/readme.md
  keyboards/ziggurat/rules.mk
  keyboards/ziggurat/ziggurat.c
  keyboards/ziggurat/ziggurat.h
Labels: keyboard, keymap, via

#15070 [Keyboard] Fix compilation issues for superuser tkl
  keyboards/superuser/tkl/tkl.h
Labels: keyboard

#15071 Add VIA to Gud70
  keyboards/evyd13/gud70/keymaps/via/keymap.c
  keyboards/evyd13/gud70/keymaps/via/rules.mk
Labels: keymap, via

#15073 Fixup broken build after #15040
  keyboards/kprepublic/bm60poker/rev1/rev1.c
  keyboards/kprepublic/bm60poker/rev1/rev1.h
  keyboards/kprepublic/bm60rgb/rev1/rev1.c
  keyboards/kprepublic/bm60rgb/rev1/rev1.h
  keyboards/kprepublic/bm60rgb_iso/rev1/rev1.c
  keyboards/kprepublic/bm60rgb_iso/rev1/rev1.h
Labels: keyboard

#15052 Add new keyboard "Heavy Left"
  keyboards/takashicompany/heavy_left/config.h
  keyboards/takashicompany/heavy_left/heavy_left.c
  keyboards/takashicompany/heavy_left/heavy_left.h
  keyboards/takashicompany/heavy_left/info.json
  keyboards/takashicompany/heavy_left/keymaps/default/keymap.c
  keyboards/takashicompany/heavy_left/keymaps/via/keymap.c
  keyboards/takashicompany/heavy_left/keymaps/via/rules.mk
  keyboards/takashicompany/heavy_left/readme.md
  keyboards/takashicompany/heavy_left/rules.mk
Labels: keyboard, keymap, via

#15079 idb 60 Layout Macro Refactor
  keyboards/idb/idb_60/idb_60.h
  keyboards/idb/idb_60/info.json
  keyboards/idb/idb_60/keymaps/default/keymap.c
  keyboards/idb/idb_60/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#15080 Mechlovin Pisces Refactor
  keyboards/mechlovin/pisces/config.h
  keyboards/mechlovin/pisces/info.json
  keyboards/mechlovin/pisces/keymaps/default/keymap.c
  keyboards/mechlovin/pisces/keymaps/via/keymap.c
  keyboards/mechlovin/pisces/pisces.h
Labels: enhancement, keyboard, keymap, via

#15099 Update noroadsleft userspace and keymaps (2021-11-09)
  keyboards/coseyfannitutti/discipline/keymaps/noroadsleft/keymap.c
  keyboards/kbdfans/kbd75/keymaps/noroadsleft/keymap.c
  keyboards/kbdfans/kbd75/keymaps/noroadsleft/rules.mk
  keyboards/kc60/keymaps/noroadsleft/readme.md
  users/noroadsleft/readme.md
Labels: keymap

#15101 Updates to drashna keymap and minor updates to tractyl manuform
  keyboards/handwired/tractyl_manuform/5x6_right/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/f411/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/f411/readme.md
  keyboards/handwired/tractyl_manuform/5x6_right/f411/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/config.h
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/drashna_font.h
  users/drashna/wrappers.h
Labels: keyboard, keymap

#14905 Teleport numpad
  keyboards/teleport/numpad/config.h
  keyboards/teleport/numpad/info.json
  keyboards/teleport/numpad/keymaps/default/keymap.c
  keyboards/teleport/numpad/keymaps/via/keymap.c
  keyboards/teleport/numpad/keymaps/via/rules.mk
  keyboards/teleport/numpad/numpad.c
  keyboards/teleport/numpad/numpad.h
  keyboards/teleport/numpad/readme.md
  keyboards/teleport/numpad/rules.mk
Labels: keyboard, keymap, via

#15082 Firmware for Element Hotswap PCB
  keyboards/neokeys/g67/element_hs/config.h
  keyboards/neokeys/g67/element_hs/element_hs.c
  keyboards/neokeys/g67/element_hs/element_hs.h
  keyboards/neokeys/g67/element_hs/info.json
  keyboards/neokeys/g67/element_hs/keymaps/default/keymap.c
  keyboards/neokeys/g67/element_hs/keymaps/via/keymap.c
  keyboards/neokeys/g67/element_hs/keymaps/via/rules.mk
  keyboards/neokeys/g67/element_hs/readme.md
  keyboards/neokeys/g67/element_hs/rules.mk
Labels: keyboard, keymap, via

#14627 PK64RGB Keyboard Addition
  keyboards/playkbtw/pk64rgb/config.h
  keyboards/playkbtw/pk64rgb/info.json
  keyboards/playkbtw/pk64rgb/keymaps/default/keymap.c
  keyboards/playkbtw/pk64rgb/keymaps/default/readme.md
  keyboards/playkbtw/pk64rgb/keymaps/via/keymap.c
  keyboards/playkbtw/pk64rgb/keymaps/via/rules.mk
  keyboards/playkbtw/pk64rgb/pk64rgb.c
  keyboards/playkbtw/pk64rgb/pk64rgb.h
  keyboards/playkbtw/pk64rgb/readme.md
  keyboards/playkbtw/pk64rgb/rules.mk
Labels: keyboard, keymap, via

#15092 Update mb44.h
  keyboards/mb44/mb44.h
Labels: keyboard

#15097 Add Paroxysm keyboard to Cradio
  keyboards/cradio/info.json
  keyboards/cradio/readme.md
Labels: keyboard

#15110 [Keyboard] Fix compilation issues for teleport numpad
  keyboards/teleport/numpad/keymaps/default/keymap.c
  keyboards/teleport/numpad/keymaps/via/keymap.c
Labels: bug, keymap, via

#15067 [Keymap]: Adding keymap for BDN9 and Planck
  keyboards/keebio/bdn9/keymaps/copface/config.h
  keyboards/keebio/bdn9/keymaps/copface/keymap.c
  keyboards/planck/keymaps/copface/keymap.c
Labels: keymap

#14710 [Keyboard] Lime by HellTM
  keyboards/lime/config.h
  keyboards/lime/keymaps/default/config.h
  keyboards/lime/keymaps/default/keymap.c
  keyboards/lime/keymaps/default/readme.md
  keyboards/lime/keymaps/default/rules.mk
  keyboards/lime/lib/glcdfont.c
  keyboards/lime/lime.c
  keyboards/lime/lime.h
  keyboards/lime/readme.md
  keyboards/lime/rev1/config.h
  keyboards/lime/rev1/info.json
  keyboards/lime/rev1/rev1.c
  keyboards/lime/rev1/rev1.h
  keyboards/lime/rev1/rules.mk
  keyboards/lime/rules.mk
Labels: keyboard, keymap

#15116 [Keyboard] Fix compilation issues for Lime
  keyboards/lime/keymaps/default/keymap.c
  keyboards/lime/keymaps/default/rules.mk
Labels: bug, keymap

#15117 [Keyboard] Fix compilation issues for Krush boards
  keyboards/sawnsprojects/krush/krush60/solder/solder.h
  keyboards/sawnsprojects/krush/krush65/solder/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#15118 [Keyboard] Reduce compiled size for pk64rgb's via keymap
  keyboards/playkbtw/pk64rgb/config.h
  keyboards/playkbtw/pk64rgb/info.json
  keyboards/playkbtw/pk64rgb/keymaps/via/rules.mk
Labels: bug, keyboard, keymap, via

#15111 Update Gergoplex keymap
  keyboards/gboards/gergoplex/keymaps/georgepetri/config.h
  keyboards/gboards/gergoplex/keymaps/georgepetri/gergoplex.def
  keyboards/gboards/gergoplex/keymaps/georgepetri/keymap.c
  keyboards/gboards/gergoplex/keymaps/georgepetri/rules.mk
Labels: keymap

#15123 Avoid MATRIX_*_PINS due to schema validation errors
  keyboards/matrix/abelx/config.h
  keyboards/matrix/abelx/matrix.c
Labels: bug, keyboard

#15129 matrix/abelx - Fix "obsolete or unknown configuration file"
  keyboards/matrix/abelx/chconf.h
  keyboards/matrix/abelx/halconf.h
Labels: bug, keyboard

#15115 gcc10 LTO - Only specify adhlns assembler options at link time
  tmk_core/rules.mk
Labels: bug, core

#15128 [Docs] Codify not using code from other keyboards in PRs
  docs/pr_checklist.md
Labels: documentation

#15106 Add Chalice Support
  keyboards/chalice/chalice.c
  keyboards/chalice/chalice.h
  keyboards/chalice/config.h
  keyboards/chalice/info.json
  keyboards/chalice/keymaps/default/keymap.c
  keyboards/chalice/keymaps/via/keymap.c
  keyboards/chalice/keymaps/via/rules.mk
  keyboards/chalice/readme.md
  keyboards/chalice/rules.mk
Labels: keyboard, keymap, via

#15126 Update a_dux info.json
  keyboards/a_dux/info.json
Labels: keyboard

#15036 Add JadooKB JKB2
  keyboards/jadookb/jkb2/config.h
  keyboards/jadookb/jkb2/info.json
  keyboards/jadookb/jkb2/jkb2.c
  keyboards/jadookb/jkb2/jkb2.h
  keyboards/jadookb/jkb2/keymaps/default/keymap.c
  keyboards/jadookb/jkb2/keymaps/via/config.h
  keyboards/jadookb/jkb2/keymaps/via/keymap.c
  keyboards/jadookb/jkb2/keymaps/via/rules.mk
  keyboards/jadookb/jkb2/readme.md
  keyboards/jadookb/jkb2/rules.mk
Labels: keyboard, keymap, via

#15130 matrix/abelx - Update ChibiOS conf files
  keyboards/matrix/abelx/chconf.h
  keyboards/matrix/abelx/halconf.h
  keyboards/matrix/abelx/mcuconf.h
Labels: keyboard

#14992 Correct logic of tap hold sample code
  docs/mod_tap.md
Labels: documentation

#15061 add wait to unicode for win
  quantum/process_keycode/process_unicode_common.c
Labels: core

#15127 Add space between Cradio info.json layout
  keyboards/cradio/info.json
Labels: keyboard

#15140 Fix hebrew emoji in langs.md
  docs/_langs.md
Labels: documentation

#14839 Update UART driver API
  docs/uart_driver.md
  keyboards/mschwingen/modelm/modelm.c
  keyboards/nullbitsco/common/remote_kb.c
  paths.mk
  platforms/avr/drivers/uart.c
  platforms/avr/drivers/uart.h
  platforms/chibios/drivers/uart.c
  platforms/chibios/drivers/uart.h
Labels: enhancement, core, keyboard, documentation, breaking_change_2021q4

#15143 kb_elmo/m0110a_usb: Fix Configurator Key Sequence
  keyboards/kb_elmo/m0110a_usb/info.json
Labels: enhancement, keyboard

#15142 kb_elmo/elmopad: fix macro reference in info.json
  keyboards/kb_elmo/elmopad/info.json
Labels: enhancement, keyboard

#15155 Partially reinstate CI formatting process
  .github/workflows/format.yaml
  lib/python/qmk/cli/format/text.py
Labels: python, cli, CI

#14343 Rework and expand Pointing Device support
  common_features.mk
  docs/feature_pointing_device.md
  drivers/sensors/adns5050.c
  drivers/sensors/adns5050.h
  drivers/sensors/adns9800.c
  drivers/sensors/adns9800.h
  drivers/sensors/adns9800_srom_A6.h
  drivers/sensors/analog_joystick.c
  drivers/sensors/analog_joystick.h
  drivers/sensors/cirque_pinnacle.c
  drivers/sensors/cirque_pinnacle.h
  drivers/sensors/cirque_pinnacle_i2c.c
  drivers/sensors/cirque_pinnacle_spi.c
  drivers/sensors/pimoroni_trackball.c
  drivers/sensors/pimoroni_trackball.h
  drivers/sensors/pmw3360.c
  drivers/sensors/pmw3360.h
  drivers/sensors/pmw3360_firmware.h
  drivers/sensors/pmw3389_firmware.h
  keyboards/40percentclub/nano/keymaps/drashna/config.h
  keyboards/40percentclub/nano/keymaps/drashna/keymap.c
  keyboards/40percentclub/nano/keymaps/drashna/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/5x6_right/rules.mk
  keyboards/handwired/tractyl_manuform/tm_sync.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.c
  keyboards/oddball/config.h
  keyboards/oddball/keymaps/default/config.h
  keyboards/oddball/keymaps/default/rules.mk
  keyboards/oddball/keymaps/pmw3360/config.h
  keyboards/oddball/keymaps/pmw3360/rules.mk
  keyboards/oddball/oddball.c
  keyboards/oddball/optical_sensor/optical_sensor.h
  keyboards/oddball/pmw/pmw.c
  keyboards/oddball/pmw/pmw3360_srom_0x04.h
  keyboards/oddball/rules.mk
  keyboards/ploopyco/mouse/mouse.c
  keyboards/ploopyco/mouse/mouse.h
  keyboards/ploopyco/mouse/rules.mk
  keyboards/ploopyco/trackball/rules.mk
  keyboards/ploopyco/trackball/trackball.c
  keyboards/ploopyco/trackball/trackball.h
  keyboards/ploopyco/trackball_mini/config.h
  keyboards/ploopyco/trackball_mini/keymaps/drag_scroll/keymap.c
  keyboards/ploopyco/trackball_mini/rules.mk
  keyboards/ploopyco/trackball_mini/trackball_mini.c
  keyboards/ploopyco/trackball_mini/trackball_mini.h
  keyboards/ploopyco/trackball_nano/config.h
  keyboards/ploopyco/trackball_nano/keymaps/maddie/keymap.c
  keyboards/ploopyco/trackball_nano/rules.mk
  keyboards/ploopyco/trackball_nano/trackball_nano.c
  keyboards/ploopyco/trackball_nano/trackball_nano.h
  keyboards/tkw/grandiceps/rev2/rules.mk
  layouts/community/ergodox/drashna/keymap.c
  quantum/pointing_device.c
  quantum/pointing_device.h
  quantum/pointing_device_drivers.c
  quantum/quantum.c
  quantum/quantum.h
Labels: core, keyboard, keymap, documentation, breaking_change_2021q4

#15162 Fix uart function prototypes
  platforms/avr/drivers/uart.h
Labels: bug, core

#15167 Add needed include to pointing_device.c
  quantum/pointing_device.c
Labels: bug, core

#14859 Add support for deferred executors.
  builddefs/generic_features.mk
  docs/config_options.md
  docs/custom_quantum_functions.md
  docs/getting_started_make_guide.md
  quantum/deferred_exec.c
  quantum/deferred_exec.h
  quantum/main.c
  quantum/quantum.h
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
Labels: core, documentation, breaking_change_2021q4

#13902 Reimplements WPM feature to be smaller & precise
  docs/feature_wpm.md
  quantum/wpm.c
  quantum/wpm.h
Labels: core, documentation, breaking_change_2021q4

#15147 kb_elmo/m0116_usb: Fix Configurator Key Sequence
  keyboards/kb_elmo/m0116_usb/info.json
Labels: enhancement, keyboard

#15170 Fix additional board sizes for RGB Matrix
  keyboards/bandominedoni/config.h
  keyboards/smallkeyboard/config.h
  keyboards/xbows/nature/config.h
Labels: bug, keyboard

#15171 Fix bandominedoni via keymap compilation
  keyboards/bandominedoni/config.h
Labels: bug, keyboard

#15072 Add Bourgeau 75% PCB.
  keyboards/studiokestra/bourgeau/bourgeau.c
  keyboards/studiokestra/bourgeau/bourgeau.h
  keyboards/studiokestra/bourgeau/config.h
  keyboards/studiokestra/bourgeau/info.json
  keyboards/studiokestra/bourgeau/keymaps/default/keymap.c
  keyboards/studiokestra/bourgeau/keymaps/default/readme.md
  keyboards/studiokestra/bourgeau/keymaps/via/keymap.c
  keyboards/studiokestra/bourgeau/keymaps/via/readme.md
  keyboards/studiokestra/bourgeau/keymaps/via/rules.mk
  keyboards/studiokestra/bourgeau/readme.md
  keyboards/studiokestra/bourgeau/rules.mk
Labels: keyboard, keymap, via

#14719 Add layout options, hotswap version to portal 66
  keyboards/portal_66/hotswap/config.h
  keyboards/portal_66/hotswap/hotswap.c
  keyboards/portal_66/hotswap/hotswap.h
  keyboards/portal_66/hotswap/info.json
  keyboards/portal_66/hotswap/keymaps/default/keymap.c
  keyboards/portal_66/hotswap/keymaps/default/readme.md
  keyboards/portal_66/hotswap/keymaps/via/keymap.c
  keyboards/portal_66/hotswap/keymaps/via/rules.mk
  keyboards/portal_66/hotswap/readme.md
  keyboards/portal_66/hotswap/rules.mk
  keyboards/portal_66/soldered/config.h
  keyboards/portal_66/soldered/info.json
  keyboards/portal_66/soldered/keymaps/default/keymap.c
  keyboards/portal_66/soldered/keymaps/default/readme.md
  keyboards/portal_66/soldered/keymaps/via/keymap.c
  keyboards/portal_66/soldered/keymaps/via/rules.mk
  keyboards/portal_66/soldered/readme.md
  keyboards/portal_66/soldered/rules.mk
  keyboards/portal_66/soldered/soldered.c
  keyboards/portal_66/soldered/soldered.h
Labels: keyboard, keymap, via

#15131 Add macro3 PCB support
  keyboards/macro3/config.h
  keyboards/macro3/info.json
  keyboards/macro3/keymaps/default/keymap.c
  keyboards/macro3/macro3.c
  keyboards/macro3/macro3.h
  keyboards/macro3/readme.md
  keyboards/macro3/rules.mk
Labels: keyboard, keymap

#15174 Rename RGB fractal
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix/animations/pixel_fractal_anim.h
  quantum/rgb_matrix/animations/rgb_matrix_effects.inc
Labels: core, documentation

#15145 Emery65
  keyboards/emery65/config.h
  keyboards/emery65/emery65.c
  keyboards/emery65/emery65.h
  keyboards/emery65/info.json
  keyboards/emery65/keymaps/default/keymap.c
  keyboards/emery65/keymaps/default/readme.md
  keyboards/emery65/keymaps/via/keymap.c
  keyboards/emery65/keymaps/via/readme.md
  keyboards/emery65/keymaps/via/rules.mk
  keyboards/emery65/readme.md
  keyboards/emery65/rules.mk
Labels: keyboard, keymap, via

#14837 [Keyboard] Add FootFingers Puca
  keyboards/ffkeebs/puca/config.h
  keyboards/ffkeebs/puca/info.json
  keyboards/ffkeebs/puca/keymaps/default/keymap.c
  keyboards/ffkeebs/puca/puca.c
  keyboards/ffkeebs/puca/puca.h
  keyboards/ffkeebs/puca/readme.md
  keyboards/ffkeebs/puca/rules.mk
Labels: keyboard, keymap

#15183 wsk/sl40: remove dead space from LAYOUT_all
  keyboards/wsk/sl40/info.json
Labels: enhancement, keyboard

#15181 handwired/myskeeb Layout Macro Refactor
  keyboards/handwired/myskeeb/info.json
  keyboards/handwired/myskeeb/keymaps/default/keymap.c
  keyboards/handwired/myskeeb/myskeeb.h
  keyboards/handwired/myskeeb/readme.md
Labels: enhancement, keyboard, keymap

#15185 [Keyboard] Fix oled_task_user for ffkeebs/puca
  keyboards/ffkeebs/puca/puca.c
Labels: keyboard

#15184 [Keyboard] Fix boards compiling too large due to RGB matrix changes
  keyboards/dztech/dz60rgb_ansi/v2/rules.mk
  keyboards/melgeek/mojo68/config.h
  keyboards/work_louder/loop/rules.mk
Labels: bug, keyboard

#14574 Packrat
  keyboards/packrat/config.h
  keyboards/packrat/info.json
  keyboards/packrat/keymaps/3uc/config.h
  keyboards/packrat/keymaps/3uc/keymap.c
  keyboards/packrat/keymaps/3uc/readme.md
  keyboards/packrat/keymaps/3uc/rules.mk
  keyboards/packrat/keymaps/default/config.h
  keyboards/packrat/keymaps/default/keymap.c
  keyboards/packrat/keymaps/default/readme.md
  keyboards/packrat/keymaps/default/rules.mk
  keyboards/packrat/packrat.c
  keyboards/packrat/packrat.h
  keyboards/packrat/readme.md
  keyboards/packrat/rules.mk
Labels: keyboard, keymap

#15133 Add SOFT/HRUF Splitography keyboard
  keyboards/splitography/config.h
  keyboards/splitography/info.json
  keyboards/splitography/keymaps/default/keymap.c
  keyboards/splitography/keymaps/default/readme.md
  keyboards/splitography/keymaps/default_with_ctl_shft_alt_switched/keymap.c
  keyboards/splitography/keymaps/dvorak/keymap.c
  keyboards/splitography/keymaps/jeandeaual/keymap.c
  keyboards/splitography/keymaps/jeandeaual/readme.md
  keyboards/splitography/keymaps/multi/keymap.c
  keyboards/splitography/keymaps/multi/readme.md
  keyboards/splitography/readme.md
  keyboards/splitography/rules.mk
  keyboards/splitography/splitography.c
  keyboards/splitography/splitography.h
Labels: keyboard, keymap

#15157 Auto-create PRs for merged formatting issues
  .github/workflows/format_push.yaml
Labels: CI

#15194 [Keymap] updates for oled, and diablo 2 layer - Drashna
  keyboards/handwired/tractyl_manuform/5x6_right/f411/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  keyboards/moonlander/keymaps/drashna/keymap.c
  keyboards/work_louder/work_board/keymaps/drashna/keymap.c
  users/drashna/config.h
  users/drashna/drashna.h
  users/drashna/oled_stuff.c
  users/drashna/process_records.c
Labels: keyboard, keymap

#15192 [Keyboard] Move encoder hacks into via keymaps for Work Louder boards
  keyboards/work_louder/loop/keymaps/via/keymap.c
  keyboards/work_louder/loop/keymaps/via/rules.mk
  keyboards/work_louder/loop/loop.h
  keyboards/work_louder/loop/rules.mk
  keyboards/work_louder/nano/keymaps/via/keymap.c
  keyboards/work_louder/nano/keymaps/via/rules.mk
  keyboards/work_louder/nano/nano.h
  keyboards/work_louder/nano/rules.mk
  keyboards/work_louder/work_board/keymaps/via/keymap.c
  keyboards/work_louder/work_board/keymaps/via/rules.mk
  keyboards/work_louder/work_board/rules.mk
  keyboards/work_louder/work_board/work_board.h
Labels: keyboard, keymap, via

#7521 Made AVR backlight pwm resolution configurable
  quantum/backlight/backlight_avr.c
Labels: bug, enhancement, core, needs testing, breaking_change_2021q4

#15176 Update the documentation to call steno_set_mode inside eeconfig_init_user
  docs/feature_stenography.md
  docs/ja/feature_stenography.md
Labels: documentation, translation

#15156 Add diff logic to python format subcommand
  .github/workflows/format.yaml
  .github/workflows/format_push.yaml
  lib/python/qmk/cli/format/python.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: python, cli, CI

#15199 [Bug] Fix missing variable for Backlight Breathing
  quantum/backlight/backlight_avr.c
Labels: bug, core

#13944 [cli] Export list of `develop` PRs to be merged into `master`
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/generate/develop_pr_list.py
Labels: awaiting review, python, cli, breaking_change_2021q4

#15204 [CLI] `list-keymaps`/`list-layouts`: Check keyboard passed in
  lib/python/qmk/cli/list/keymaps.py
  lib/python/qmk/cli/list/layouts.py
Labels: bug, python, cli

#15205 [Bug] Revert backlight pins on function call
  quantum/backlight/backlight_avr.c
Labels: bug, core

#14655 Clarify "nested" and "rolling" key sequences
  docs/tap_hold.md
Labels: documentation

#14238 Keyboard/miniashen40
  keyboards/mechanickeys/miniashen40/config.h
  keyboards/mechanickeys/miniashen40/info.json
  keyboards/mechanickeys/miniashen40/keymaps/default/keymap.c
  keyboards/mechanickeys/miniashen40/keymaps/via/keymap.c
  keyboards/mechanickeys/miniashen40/keymaps/via/rules.mk
  keyboards/mechanickeys/miniashen40/miniashen40.c
  keyboards/mechanickeys/miniashen40/miniashen40.h
  keyboards/mechanickeys/miniashen40/readme.md
  keyboards/mechanickeys/miniashen40/rules.mk
Labels: keyboard, keymap, via

#15210 handwired/split89 Layout Macro Refactor
  keyboards/handwired/split89/info.json
  keyboards/handwired/split89/keymaps/default/keymap.c
  keyboards/handwired/split89/split89.h
Labels: enhancement, keyboard, keymap

#15206 Chalice: Fix QMK Configurator Implementation
  keyboards/chalice/chalice.h
  keyboards/chalice/info.json
Labels: enhancement, keyboard

#14222 Add MTBKeys MTB60 Keyboard (Solderable and Hotswap edition)
  keyboards/mtbkeys/mtb60/hotswap/config.h
  keyboards/mtbkeys/mtb60/hotswap/hotswap.c
  keyboards/mtbkeys/mtb60/hotswap/hotswap.h
  keyboards/mtbkeys/mtb60/hotswap/info.json
  keyboards/mtbkeys/mtb60/hotswap/keymaps/default/keymap.c
  keyboards/mtbkeys/mtb60/hotswap/readme.md
  keyboards/mtbkeys/mtb60/hotswap/rules.mk
  keyboards/mtbkeys/mtb60/solder/config.h
  keyboards/mtbkeys/mtb60/solder/info.json
  keyboards/mtbkeys/mtb60/solder/keymaps/default/keymap.c
  keyboards/mtbkeys/mtb60/solder/readme.md
  keyboards/mtbkeys/mtb60/solder/rules.mk
  keyboards/mtbkeys/mtb60/solder/solder.c
  keyboards/mtbkeys/mtb60/solder/solder.h
Labels: keyboard, keymap

#15191 Added yoshimaru46's keymap for Ergodash mini
  keyboards/ergodash/mini/keymaps/yoshimaru46/config.h
  keyboards/ergodash/mini/keymaps/yoshimaru46/keymap.c
  keyboards/ergodash/mini/keymaps/yoshimaru46/readme.md
  keyboards/ergodash/mini/keymaps/yoshimaru46/rules.mk
Labels: keymap

#15201 Aozora update
  keyboards/aozora/aozora.c
  keyboards/aozora/aozora.h
  keyboards/aozora/config.h
  keyboards/aozora/info.json
  keyboards/aozora/keymaps/default/keymap.c
  keyboards/aozora/keymaps/default_all/keymap.c
  keyboards/aozora/keymaps/via/keymap.c
  keyboards/aozora/keymaps/via/rules.mk
  keyboards/aozora/readme.md
  keyboards/aozora/rules.mk
Labels: keyboard, keymap, via

#15144 Add TKL-FF v2
  keyboards/ramonimbao/tkl_ff/keymaps/default/keymap.c
  keyboards/ramonimbao/tkl_ff/keymaps/iso/keymap.c
  keyboards/ramonimbao/tkl_ff/keymaps/via/keymap.c
  keyboards/ramonimbao/tkl_ff/readme.md
  keyboards/ramonimbao/tkl_ff/v2/config.h
  keyboards/ramonimbao/tkl_ff/v2/rules.mk
  keyboards/ramonimbao/tkl_ff/v2/v2.c
  keyboards/ramonimbao/tkl_ff/v2/v2.h
Labels: keyboard, keymap, via

#15091 Add b87 keyboard
  keyboards/winkeyless/b87/b87.c
  keyboards/winkeyless/b87/b87.h
  keyboards/winkeyless/b87/config.h
  keyboards/winkeyless/b87/info.json
  keyboards/winkeyless/b87/keymaps/default/keymap.c
  keyboards/winkeyless/b87/keymaps/via/config.h
  keyboards/winkeyless/b87/keymaps/via/keymap.c
  keyboards/winkeyless/b87/keymaps/via/rules.mk
  keyboards/winkeyless/b87/readme.md
  keyboards/winkeyless/b87/rules.mk
Labels: keyboard, keymap, via

#15154 Add Keebcats Denis PCB
  keyboards/cutie_club/keebcats/denis/config.h
  keyboards/cutie_club/keebcats/denis/denis.c
  keyboards/cutie_club/keebcats/denis/denis.h
  keyboards/cutie_club/keebcats/denis/info.json
  keyboards/cutie_club/keebcats/denis/keymaps/default/keymap.c
  keyboards/cutie_club/keebcats/denis/keymaps/via/keymap.c
  keyboards/cutie_club/keebcats/denis/keymaps/via/rules.mk
  keyboards/cutie_club/keebcats/denis/readme.md
  keyboards/cutie_club/keebcats/denis/rules.mk
Labels: keyboard, keymap, via

#15094 [keymap] Sofle RGB - fixed switch and numpad layers
  keyboards/sofle/keymaps/rgb_default/keymap.c
Labels: keymap

#15146 [Keymap] 3w6 helltm keymap (with ascii art)
  keyboards/3w6/keymaps/helltm/keymap.c
Labels: keymap

#15098 [Keyboard] Add xox70
  keyboards/mokey/xox70/config.h
  keyboards/mokey/xox70/info.json
  keyboards/mokey/xox70/keymaps/default/keymap.c
  keyboards/mokey/xox70/keymaps/via/keymap.c
  keyboards/mokey/xox70/keymaps/via/rules.mk
  keyboards/mokey/xox70/readme.md
  keyboards/mokey/xox70/rules.mk
  keyboards/mokey/xox70/xox70.c
  keyboards/mokey/xox70/xox70.h
Labels: keyboard, keymap, via

#15209 Handwired Split65: Fix QMK Configurator Implementation
  keyboards/handwired/split65/info.json
Labels: enhancement, keyboard

#15221 [Bug] Fix timer include in override_wiring.c
  tmk_core/protocol/usb_hid/override_wiring.c
Labels: bug, core

#15223 CI: Create GitHub Actions unit test workflow
  .github/workflows/cli.yml
  .github/workflows/unit_test.yml
Labels: CI

#15220 [Keyboard] Fix xox70 via layout
  keyboards/mokey/xox70/keymaps/via/keymap.c
Labels: keymap, via

#15213 Lime rev1: Fix QMK Configurator Implementation
  keyboards/lime/rev1/info.json
Labels: enhancement, keyboard

#15214 Undead60M touch-up
  keyboards/mechanickeys/undead60m/info.json
  keyboards/mechanickeys/undead60m/readme.md
Labels: enhancement, keyboard

#15222 Meletrix Zoom65 Refactor
  keyboards/meletrix/zoom65/info.json
  keyboards/meletrix/zoom65/keymaps/65_ansi_blocker/keymap.c
  keyboards/meletrix/zoom65/keymaps/65_ansi_blocker/readme.md
  keyboards/meletrix/zoom65/keymaps/65_ansi_blocker_split_bs/keymap.c
  keyboards/meletrix/zoom65/keymaps/65_ansi_blocker_split_bs/readme.md
  keyboards/meletrix/zoom65/keymaps/65_ansi_blocker_split_lshift/keymap.c
  keyboards/meletrix/zoom65/keymaps/65_ansi_blocker_split_lshift/readme.md
  keyboards/meletrix/zoom65/keymaps/65_ansi_blocker_split_space/keymap.c
  keyboards/meletrix/zoom65/keymaps/65_ansi_blocker_split_space/readme.md
  keyboards/meletrix/zoom65/keymaps/65_iso/readme.md
  keyboards/meletrix/zoom65/keymaps/65_iso_blocker/keymap.c
  keyboards/meletrix/zoom65/keymaps/65_iso_blocker/readme.md
  keyboards/meletrix/zoom65/keymaps/65_iso_blocker_split_bs/keymap.c
  keyboards/meletrix/zoom65/keymaps/65_iso_blocker_split_bs/readme.md
  keyboards/meletrix/zoom65/keymaps/65_iso_blocker_split_space/keymap.c
  keyboards/meletrix/zoom65/keymaps/65_iso_blocker_split_space/readme.md
  keyboards/meletrix/zoom65/keymaps/65_split_bs/readme.md
  keyboards/meletrix/zoom65/keymaps/65_split_lshift/readme.md
  keyboards/meletrix/zoom65/keymaps/65_split_space/readme.md
  keyboards/meletrix/zoom65/keymaps/default/keymap.c
  keyboards/meletrix/zoom65/keymaps/via/keymap.c
  keyboards/meletrix/zoom65/readme.md
  keyboards/meletrix/zoom65/rules.mk
  keyboards/meletrix/zoom65/zoom65.h
Labels: bug, enhancement, keyboard, keymap, via
