Repository qmk/qmk_firmware, pull requests merged in 2022-03, with the labels that each got.

#16479 Move projectcain encoder logic to keyboard level
  keyboards/projectcain/vault35/config.h
  keyboards/projectcain/vault35/keymaps/default/config.h
  keyboards/projectcain/vault35/keymaps/default/rules.mk
  keyboards/projectcain/vault35/rules.mk
  keyboards/projectcain/vault45/config.h
  keyboards/projectcain/vault45/keymaps/default/config.h
  keyboards/projectcain/vault45/keymaps/default/rules.mk
  keyboards/projectcain/vault45/rules.mk
Labels: bug, keyboard, keymap

#16478 Ellora65: remove dead space from Configurator rendering
  keyboards/kikoslab/ellora65/info.json
Labels: enhancement, keyboard

#16480 Remove invalid keyboard_folder from gk6
  keyboards/gizmo_engineering/gk6/info.json
Labels: bug, keyboard

#16483 atlas_65 Layout Macro Refactor
  keyboards/atlas_65/atlas_65.h
  keyboards/atlas_65/info.json
  keyboards/atlas_65/keymaps/default/keymap.c
  keyboards/atlas_65/keymaps/via/keymap.c
  keyboards/atlas_65/readme.md
Labels: enhancement, keyboard, keymap, via

#16485 Revert "handwired/3dortho14u: refactor layout data"
  keyboards/handwired/3dortho14u/keymaps/default/keymap.c
  keyboards/handwired/3dortho14u/keymaps/via/keymap.c
  keyboards/handwired/3dortho14u/rev1/info.json
  keyboards/handwired/3dortho14u/rev2/info.json
Labels: keyboard, keymap, via

#16432 Change 'helix/rev2:default' setting to use split_common
  keyboards/helix/rev2/config.h
  keyboards/helix/rev2/keymaps/default/keymap.c
  keyboards/helix/rev2/keymaps/default/rules.mk
  keyboards/helix/rev2/keymaps/five_rows/keymap.c
  keyboards/helix/rev2/keymaps/five_rows/rules.mk
  keyboards/helix/rev2/keymaps/led_test/rules.mk
  keyboards/helix/rev2/local_features.mk
  keyboards/helix/rev2/override_helix_options.mk
  keyboards/helix/rev2/rev2.c
  keyboards/helix/rev2/rev2.h
  keyboards/helix/rev2/rules.mk
Labels: keyboard, keymap

#16501 fixed typo in docs/newbs_getting_started.md
  docs/newbs_getting_started.md
Labels: documentation

#16507 Fix mistakes in the include path in `helix/rev2/local_features.mk`.
  keyboards/helix/rev2/local_features.mk
  keyboards/helix/rev2/override_helix_options.mk
Labels: bug, keyboard

#16511 fix v-usb connection enumeration, ifdef workaround
  quantum/action_util.c
Labels: bug, core

#16512 Fix helix/rev2 not working properly when using split_common.
  keyboards/helix/rev2/custom/matrix.c
  keyboards/helix/rev2/custom/split_scomm.c
  keyboards/helix/rev2/custom/split_scomm.h
  keyboards/helix/rev2/custom/split_util.c
  keyboards/helix/rev2/custom/split_util.h
  keyboards/helix/rev2/local_features.mk
Labels: bug, keyboard

#16493 Fix Drop ALT/CTRL startup issues
  tmk_core/protocol/arm_atsam/i2c_master.c
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/arm_atsam/md_rgb_matrix.c
Labels: bug, core

#16506 Typo in squeezing_avr.md
  docs/squeezing_avr.md
Labels: documentation

#16484 Update pr_checklist.md
  docs/pr_checklist.md
Labels: documentation

#16471 analog.[ch]: remove unnecessary includes
  drivers/sensors/analog_joystick.c
  platforms/avr/drivers/analog.c
  platforms/avr/drivers/analog.h
  platforms/chibios/drivers/analog.c
  platforms/chibios/drivers/analog.h
Labels: bug, enhancement, core

#16517 Bug report template: require `qmk doctor` output
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: enhancement, CI

#16518 Remove `send_unicode_hex_string()`
  docs/feature_unicode.md
  docs/ja/feature_unicode.md
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicode_common.h
Labels: enhancement, core, documentation, translation

#16516 Change data driven "str" type to represent a quoted string literal
  data/mappings/info_config.json
  data/mappings/info_rules.json
  docs/data_driven_config.md
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/cli/generate/rules_mk.py
  lib/python/qmk/info.py
Labels: enhancement, documentation, python, cli

#16520 More validation of declared LAYOUT macro names
  data/schemas/definitions.jsonschema
  data/schemas/keyboard.jsonschema
Labels: bug

#15877 [Keyboard] New Keyboard - BDE Rev2
  keyboards/mechwild/bde/bde.c
  keyboards/mechwild/bde/bde.h
  keyboards/mechwild/bde/config.h
  keyboards/mechwild/bde/info.json
  keyboards/mechwild/bde/keymaps/default/keymap.c
  keyboards/mechwild/bde/keymaps/lefty_default/config.h
  keyboards/mechwild/bde/keymaps/lefty_default/keymap.c
  keyboards/mechwild/bde/keymaps/lefty_fancy/config.h
  keyboards/mechwild/bde/keymaps/lefty_fancy/keymap.c
  keyboards/mechwild/bde/keymaps/lefty_fancy/rules.mk
  keyboards/mechwild/bde/keymaps/lefty_via/config.h
  keyboards/mechwild/bde/keymaps/lefty_via/keymap.c
  keyboards/mechwild/bde/keymaps/lefty_via/rules.mk
  keyboards/mechwild/bde/keymaps/righty_default/config.h
  keyboards/mechwild/bde/keymaps/righty_default/keymap.c
  keyboards/mechwild/bde/keymaps/righty_via/config.h
  keyboards/mechwild/bde/keymaps/righty_via/keymap.c
  keyboards/mechwild/bde/keymaps/righty_via/rules.mk
  keyboards/mechwild/bde/keymaps/via/config.h
  keyboards/mechwild/bde/keymaps/via/keymap.c
  keyboards/mechwild/bde/keymaps/via/rules.mk
  keyboards/mechwild/bde/lefty/info.json
  keyboards/mechwild/bde/lefty/readme.md
  keyboards/mechwild/bde/lib/rev2.c
  keyboards/mechwild/bde/readme.md
  keyboards/mechwild/bde/rev2/config.h
  keyboards/mechwild/bde/rev2/rev2.c
  keyboards/mechwild/bde/rev2/rev2.h
  keyboards/mechwild/bde/rev2/rules.mk
  keyboards/mechwild/bde/righty/info.json
  keyboards/mechwild/bde/righty/righty.c
  keyboards/mechwild/bde/righty/rules.mk
  keyboards/mechwild/bde/rules.mk
Labels: keyboard, keymap, via

#16523 Map data driven `DESCRIPTION` as string literal
  data/mappings/info_config.json
  keyboards/sowbug/68keys/config.h
  keyboards/sowbug/ansi_tkl/config.h
  keyboards/unicomp/spacesaver_m_pre_2013/overnumpad_1xb/config.h
  keyboards/xelus/ninjin/config.h
  lib/python/qmk/tests/test_cli_commands.py
Labels: enhancement, keyboard, python, cli

#15840 Update the N6 keyboard
  keyboards/neson_design/n6/config.h
  keyboards/neson_design/n6/keymaps/via/keymap.c
  keyboards/neson_design/n6/n6.c
Labels: keyboard, keymap, via

#15845 Some docs improvements
  docs/cli_development.md
  docs/ja/cli_commands.md
  docs/ja/cli_development.md
  docs/keymap.md
  docs/understanding_qmk.md
Labels: documentation, translation

#16540 Fix new-keyboard bootmagic setting
  data/templates/keyboard/info.json
Labels: bug

#16466 `qmk info`: nicer rendering of ISO enter
  lib/python/qmk/keyboard.py
Labels: enhancement, python, cli

#16539 Change helix:five_rows keymap to use QMK standerd oled driver
  keyboards/helix/rev2/keymaps/five_rows/rules.mk
Labels: keymap

#16551 merge/uma - Resolve configurator issues
  keyboards/merge/uma/uma.c
Labels: bug, keyboard

#16533 Change helix:fraanrosi keymap to use split_common
  keyboards/helix/rev2/keymaps/fraanrosi/rules.mk
Labels: keymap

#16538 Change helix:five_rows_jis keymap to use split_common
  keyboards/helix/rev2/keymaps/five_rows_jis/keymap.c
  keyboards/helix/rev2/keymaps/five_rows_jis/rules.mk
Labels: keymap

#16324 add support for Quark_Plus
  keyboards/checkerboards/quark_plus/config.h
  keyboards/checkerboards/quark_plus/info.json
  keyboards/checkerboards/quark_plus/keymaps/2u/config.h
  keyboards/checkerboards/quark_plus/keymaps/2u/keymap.c
  keyboards/checkerboards/quark_plus/keymaps/2x225u/config.h
  keyboards/checkerboards/quark_plus/keymaps/2x225u/keymap.c
  keyboards/checkerboards/quark_plus/keymaps/2x3u/config.h
  keyboards/checkerboards/quark_plus/keymaps/2x3u/keymap.c
  keyboards/checkerboards/quark_plus/keymaps/default/config.h
  keyboards/checkerboards/quark_plus/keymaps/default/keymap.c
  keyboards/checkerboards/quark_plus/keymaps/default/readme.md
  keyboards/checkerboards/quark_plus/keymaps/via/keymap.c
  keyboards/checkerboards/quark_plus/keymaps/via/rules.mk
  keyboards/checkerboards/quark_plus/quark_plus.c
  keyboards/checkerboards/quark_plus/quark_plus.h
  keyboards/checkerboards/quark_plus/readme.md
  keyboards/checkerboards/quark_plus/rules.mk
Labels: keyboard, keymap, via

#16335 created fourier via keymap
  keyboards/keebio/fourier/keymaps/via/keymap.c
  keyboards/keebio/fourier/keymaps/via/rules.mk
Labels: keymap, via

#16345 add new keyboard lain
  keyboards/dm9records/lain/config.h
  keyboards/dm9records/lain/info.json
  keyboards/dm9records/lain/keymaps/default/keymap.c
  keyboards/dm9records/lain/keymaps/default/readme.md
  keyboards/dm9records/lain/keymaps/via/keymap.c
  keyboards/dm9records/lain/keymaps/via/readme.md
  keyboards/dm9records/lain/keymaps/via/rules.mk
  keyboards/dm9records/lain/lain.c
  keyboards/dm9records/lain/lain.h
  keyboards/dm9records/lain/readme.md
  keyboards/dm9records/lain/rules.mk
Labels: keyboard, keymap, via

#16360 Add Kyuu Hotswap to QMK
  keyboards/fjlabs/kyuu/config.h
  keyboards/fjlabs/kyuu/info.json
  keyboards/fjlabs/kyuu/keymaps/default/keymap.c
  keyboards/fjlabs/kyuu/keymaps/via/keymap.c
  keyboards/fjlabs/kyuu/keymaps/via/rules.mk
  keyboards/fjlabs/kyuu/kyuu.c
  keyboards/fjlabs/kyuu/kyuu.h
  keyboards/fjlabs/kyuu/readme.md
  keyboards/fjlabs/kyuu/rules.mk
Labels: keyboard, keymap, via

#16399 Add support for Typ65+
  keyboards/kopibeng/typ65/config.h
  keyboards/kopibeng/typ65/info.json
  keyboards/kopibeng/typ65/keymaps/default/keymap.c
  keyboards/kopibeng/typ65/keymaps/via/keymap.c
  keyboards/kopibeng/typ65/keymaps/via/rules.mk
  keyboards/kopibeng/typ65/readme.md
  keyboards/kopibeng/typ65/rules.mk
  keyboards/kopibeng/typ65/typ65.c
  keyboards/kopibeng/typ65/typ65.h
Labels: keyboard, keymap, via

#16491 add qk65 files by qwertykeys studio
  keyboards/qwertykeys/qk65/hotswap/config.h
  keyboards/qwertykeys/qk65/hotswap/hotswap.c
  keyboards/qwertykeys/qk65/hotswap/hotswap.h
  keyboards/qwertykeys/qk65/hotswap/info.json
  keyboards/qwertykeys/qk65/hotswap/keymaps/default/keymap.c
  keyboards/qwertykeys/qk65/hotswap/keymaps/via/keymap.c
  keyboards/qwertykeys/qk65/hotswap/keymaps/via/rules.mk
  keyboards/qwertykeys/qk65/hotswap/readme.md
  keyboards/qwertykeys/qk65/hotswap/rules.mk
  keyboards/qwertykeys/qk65/solder/config.h
  keyboards/qwertykeys/qk65/solder/info.json
  keyboards/qwertykeys/qk65/solder/keymaps/default/keymap.c
  keyboards/qwertykeys/qk65/solder/keymaps/via/keymap.c
  keyboards/qwertykeys/qk65/solder/keymaps/via/rules.mk
  keyboards/qwertykeys/qk65/solder/readme.md
  keyboards/qwertykeys/qk65/solder/rules.mk
  keyboards/qwertykeys/qk65/solder/solder.c
  keyboards/qwertykeys/qk65/solder/solder.h
Labels: keyboard, keymap, via

#16508 Sick68 VIA keymap
  keyboards/handwired/sick68/keymaps/via/config.h
  keyboards/handwired/sick68/keymaps/via/keymap.c
  keyboards/handwired/sick68/keymaps/via/readme.md
  keyboards/handwired/sick68/keymaps/via/rules.mk
Labels: keymap, via

#16505 Updated pin mapping and readme.
  keyboards/handwired/wakizashi40/info.json
  keyboards/handwired/wakizashi40/readme.md
Labels: keyboard

#16503 Atlantis ak81_ve encoder behaviour enhancement & fixes
  keyboards/atlantis/ak81_ve/ak81_ve.c
  keyboards/atlantis/ak81_ve/ak81_ve.h
  keyboards/atlantis/ak81_ve/config.h
Labels: keyboard

#16497 Tidy Up existing files
  keyboards/pearlboards/pandora/rules.mk
  keyboards/pearlboards/zeus/rules.mk
  keyboards/pearlboards/zeuspad/keymaps/default/keymap.c
  keyboards/pearlboards/zeuspad/keymaps/via/keymap.c
  keyboards/pearlboards/zeuspad/rules.mk
Labels: keyboard, keymap, via

#16496 Delete Pandora directory
  keyboards/pandora/config.h
  keyboards/pandora/info.json
  keyboards/pandora/keymaps/default/keymap.c
  keyboards/pandora/keymaps/via/keymap.c
  keyboards/pandora/keymaps/via/rules.mk
  keyboards/pandora/pandora.c
  keyboards/pandora/pandora.h
  keyboards/pandora/readme.md
  keyboards/pandora/rules.mk
Labels: keyboard, keymap, via

#16486 Update Jels88
  keyboards/jels/jels88/info.json
  keyboards/jels/jels88/jels88.h
  keyboards/jels/jels88/readme.md
Labels: keyboard

#16446 Update DogTag Macro Pad
  keyboards/takashicompany/dogtag/config.h
  keyboards/takashicompany/dogtag/dogtag.c
  keyboards/takashicompany/dogtag/dogtag.h
  keyboards/takashicompany/dogtag/info.json
  keyboards/takashicompany/dogtag/keymaps/default/keymap.c
  keyboards/takashicompany/dogtag/keymaps/via/config.h
  keyboards/takashicompany/dogtag/keymaps/via/keymap.c
  keyboards/takashicompany/dogtag/rules.mk
Labels: keyboard, keymap, via

#16544 [Keymap] Add encoder showcase keymap
  keyboards/psuieee/pluto12/config.h
  keyboards/psuieee/pluto12/keymaps/default/keymap.c
  keyboards/psuieee/pluto12/keymaps/wymcg/keymap.c
  keyboards/psuieee/pluto12/keymaps/wymcg/readme.md
  keyboards/psuieee/pluto12/pluto12.c
  keyboards/psuieee/pluto12/pluto12.h
  keyboards/psuieee/pluto12/rules.mk
Labels: keyboard, keymap

#16561 Move Doxygen docs to subdirectory
  docs/_summary.md
  docs/feature_midi.md
  docs/gpio_control.md
  docs/internals/defines.md
  docs/internals/input_callback_reg.md
  docs/internals/midi_device.md
  docs/internals/midi_device_setup_process.md
  docs/internals/midi_util.md
  docs/internals/send_functions.md
  docs/internals/sysex_tools.md
  docs/ja/_summary.md
  docs/ja/gpio_control.md
  docs/ja/internals_defines.md
  docs/ja/internals_input_callback_reg.md
  docs/ja/internals_midi_device.md
  docs/ja/internals_midi_device_setup_process.md
  docs/ja/internals_midi_util.md
  docs/ja/internals_send_functions.md
  docs/ja/internals_sysex_tools.md
  docs/ja/proton_c_conversion.md
  docs/proton_c_conversion.md
  docs/zh-cn/_summary.md
  lib/python/qmk/cli/generate/docs.py
  util/generate_internal_docs.sh
Labels: core, documentation, python, cli, translation

#16558 Fix qwertykeys/qk65
  keyboards/qwertykeys/qk65/hotswap/hotswap.h
  keyboards/qwertykeys/qk65/solder/solder.h
Labels: keyboard

#16559 remove unecessary layers
  keyboards/handwired/wakizashi40/config.h
  keyboards/handwired/wakizashi40/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#16525 [Core] Add :flash target for UF2 bootloaders
  docs/flashing.md
  platforms/chibios/flash.mk
  util/uf2conv.py
Labels: core, documentation, python

#16502 LFK78 VIA support and Updated to compile to the latest QMK
  keyboards/lfkeyboards/lfk78/config.h
  keyboards/lfkeyboards/lfk78/keymaps/via/keymap.c
  keyboards/lfkeyboards/lfk78/keymaps/via/readme.md
  keyboards/lfkeyboards/lfk78/keymaps/via/rules.mk
  keyboards/lfkeyboards/lfk78/lfk78.c
  keyboards/lfkeyboards/lfk78/lfk78.h
Labels: keyboard, keymap, via

#16257 Convert Wasdat Code custom matrix to SN74x138 driver
  keyboards/evyd13/wasdat/matrix.c
  keyboards/evyd13/wasdat_code/config.h
  keyboards/evyd13/wasdat_code/matrix.c
  keyboards/evyd13/wasdat_code/rules.mk
Labels: enhancement, keyboard

#14385 Add Anne Pro 2 keyboard
  keyboards/annepro2/annepro2.c
  keyboards/annepro2/annepro2.h
  keyboards/annepro2/annepro2_ble.c
  keyboards/annepro2/annepro2_ble.h
  keyboards/annepro2/ap2_led.c
  keyboards/annepro2/ap2_led.h
  keyboards/annepro2/boards/ANNEPRO2_C15/board.c
  keyboards/annepro2/boards/ANNEPRO2_C15/board.h
  keyboards/annepro2/boards/ANNEPRO2_C15/board.mk
  keyboards/annepro2/boards/ANNEPRO2_C18/board.c
  keyboards/annepro2/boards/ANNEPRO2_C18/board.h
  keyboards/annepro2/boards/ANNEPRO2_C18/board.mk
  keyboards/annepro2/c15/config.h
  keyboards/annepro2/c15/readme.md
  keyboards/annepro2/c15/rules.mk
  keyboards/annepro2/c18/config.h
  keyboards/annepro2/c18/readme.md
  keyboards/annepro2/c18/rules.mk
  keyboards/annepro2/chconf.h
  keyboards/annepro2/halconf.h
  keyboards/annepro2/info.json
  keyboards/annepro2/keymaps/default-full-caps/config.h
  keyboards/annepro2/keymaps/default-full-caps/keymap.c
  keyboards/annepro2/keymaps/default-layer-indicators/config.h
  keyboards/annepro2/keymaps/default-layer-indicators/keymap.c
  keyboards/annepro2/keymaps/default/config.h
  keyboards/annepro2/keymaps/default/keymap.c
  keyboards/annepro2/ld/HT32F52342_ANNEPRO2.ld
  keyboards/annepro2/matrix.c
  keyboards/annepro2/mcuconf.h
  keyboards/annepro2/protocol.c
  keyboards/annepro2/protocol.h
  keyboards/annepro2/readme.md
Labels: keyboard, keymap, pr_checklist_pending

#16566 [Keymap] add mouse controls to Mechwilds Mercutio FearlessSpiff layout and some minor optimizations
  keyboards/mechwild/mercutio/keymaps/fearless_spiff/config.h
  keyboards/mechwild/mercutio/keymaps/fearless_spiff/keymap.c
  keyboards/mechwild/mercutio/keymaps/fearless_spiff/readme.md
  keyboards/mechwild/mercutio/keymaps/fearless_spiff/rules.mk
Labels: keymap

#16522 Add Cassini keyboard
  keyboards/protozoa/cassini/cassini.c
  keyboards/protozoa/cassini/cassini.h
  keyboards/protozoa/cassini/config.h
  keyboards/protozoa/cassini/info.json
  keyboards/protozoa/cassini/keymaps/default/keymap.c
  keyboards/protozoa/cassini/keymaps/default/readme.md
  keyboards/protozoa/cassini/keymaps/via/keymap.c
  keyboards/protozoa/cassini/keymaps/via/readme.md
  keyboards/protozoa/cassini/keymaps/via/rules.mk
  keyboards/protozoa/cassini/readme.md
  keyboards/protozoa/cassini/rules.mk
Labels: keyboard, keymap, via

#16549 [Keyboard] Add Morizon
  keyboards/morizon/config.h
  keyboards/morizon/info.json
  keyboards/morizon/keymaps/default/keymap.c
  keyboards/morizon/morizon.c
  keyboards/morizon/morizon.h
  keyboards/morizon/readme.md
  keyboards/morizon/rules.mk
Labels: keyboard, keymap

#16563 [Keyboard] Change the default VENDOR_ID to allow VIA support for SICK68
  keyboards/handwired/sick68/config.h
Labels: keyboard

#16564 Change maximum LED brightness
  keyboards/salicylic_acid3/naked48/keymaps/via_rgb_matrix/config.h
  keyboards/salicylic_acid3/naked48/rev1/config.h
Labels: keyboard, keymap

#16547 [Keymap] Add nabos keymap to dactyl_manuform (5x6)
  keyboards/handwired/dactyl_manuform/5x6/keymaps/nabos/config.h
  keyboards/handwired/dactyl_manuform/5x6/keymaps/nabos/keymap.c
Labels: keymap

#16487 Fix in-page links in reference_info_json.md
  docs/reference_info_json.md
Labels: documentation

#16445 Add parallel 65
  keyboards/parallel/parallel_65/hotswap/config.h
  keyboards/parallel/parallel_65/hotswap/hotswap.c
  keyboards/parallel/parallel_65/hotswap/hotswap.h
  keyboards/parallel/parallel_65/hotswap/info.json
  keyboards/parallel/parallel_65/hotswap/keymaps/default/keymap.c
  keyboards/parallel/parallel_65/hotswap/keymaps/default/readme.md
  keyboards/parallel/parallel_65/hotswap/keymaps/via/keymap.c
  keyboards/parallel/parallel_65/hotswap/keymaps/via/rules.mk
  keyboards/parallel/parallel_65/hotswap/readme.md
  keyboards/parallel/parallel_65/hotswap/rules.mk
  keyboards/parallel/parallel_65/soldered/config.h
  keyboards/parallel/parallel_65/soldered/info.json
  keyboards/parallel/parallel_65/soldered/keymaps/default/keymap.c
  keyboards/parallel/parallel_65/soldered/keymaps/default/readme.md
  keyboards/parallel/parallel_65/soldered/keymaps/via/keymap.c
  keyboards/parallel/parallel_65/soldered/keymaps/via/rules.mk
  keyboards/parallel/parallel_65/soldered/readme.md
  keyboards/parallel/parallel_65/soldered/rules.mk
  keyboards/parallel/parallel_65/soldered/soldered.c
  keyboards/parallel/parallel_65/soldered/soldered.h
Labels: keyboard, keymap, via

#16393 [Keyboard] Uthol
  keyboards/handwired/uthol/config.h
  keyboards/handwired/uthol/info.json
  keyboards/handwired/uthol/keymaps/default/keymap.c
  keyboards/handwired/uthol/keymaps/numswap/keymap.c
  keyboards/handwired/uthol/keymaps/oled/helix.c
  keyboards/handwired/uthol/keymaps/oled/helix.h
  keyboards/handwired/uthol/keymaps/oled/keymap.c
  keyboards/handwired/uthol/keymaps/oled/ricardo.c
  keyboards/handwired/uthol/keymaps/oled/rules.mk
  keyboards/handwired/uthol/keymaps/oled/smiley.c
  keyboards/handwired/uthol/keymaps/oled/star.c
  keyboards/handwired/uthol/readme.md
  keyboards/handwired/uthol/rev1/config.h
  keyboards/handwired/uthol/rev1/readme.md
  keyboards/handwired/uthol/rev1/rules.mk
  keyboards/handwired/uthol/rev2/config.h
  keyboards/handwired/uthol/rev2/readme.md
  keyboards/handwired/uthol/rev2/rules.mk
  keyboards/handwired/uthol/rev3/chconf.h
  keyboards/handwired/uthol/rev3/config.h
  keyboards/handwired/uthol/rev3/halconf.h
  keyboards/handwired/uthol/rev3/mcuconf.h
  keyboards/handwired/uthol/rev3/readme.md
  keyboards/handwired/uthol/rev3/rev3.c
  keyboards/handwired/uthol/rev3/rules.mk
  keyboards/handwired/uthol/uthol.c
  keyboards/handwired/uthol/uthol.h
Labels: keyboard, keymap

#15916 TKC Portico68 v2: Initial support
  keyboards/tkc/portico68v2/config.h
  keyboards/tkc/portico68v2/info.json
  keyboards/tkc/portico68v2/keymaps/default/keymap.c
  keyboards/tkc/portico68v2/keymaps/via/config.h
  keyboards/tkc/portico68v2/keymaps/via/keymap.c
  keyboards/tkc/portico68v2/keymaps/via/rules.mk
  keyboards/tkc/portico68v2/portico68v2.c
  keyboards/tkc/portico68v2/portico68v2.h
  keyboards/tkc/portico68v2/readme.md
  keyboards/tkc/portico68v2/rules.mk
Labels: keyboard, keymap, via

#15896 add new keyboard "KB58"
  keyboards/kb58/config.h
  keyboards/kb58/info.json
  keyboards/kb58/kb58.c
  keyboards/kb58/kb58.h
  keyboards/kb58/keymaps/default/keymap.c
  keyboards/kb58/readme.md
  keyboards/kb58/rules.mk
Labels: keyboard, keymap

#15894 Add Winry315 keyboard
  keyboards/winry/winry315/config.h
  keyboards/winry/winry315/info.json
  keyboards/winry/winry315/keymaps/default/keymap.c
  keyboards/winry/winry315/keymaps/default/readme.md
  keyboards/winry/winry315/keymaps/left_numpad/config.h
  keyboards/winry/winry315/keymaps/left_numpad/keymap.c
  keyboards/winry/winry315/keymaps/left_numpad/readme.md
  keyboards/winry/winry315/keymaps/via/config.h
  keyboards/winry/winry315/keymaps/via/encoder_actions.c
  keyboards/winry/winry315/keymaps/via/encoder_actions.h
  keyboards/winry/winry315/keymaps/via/keymap.c
  keyboards/winry/winry315/keymaps/via/rules.mk
  keyboards/winry/winry315/readme.md
  keyboards/winry/winry315/rules.mk
  keyboards/winry/winry315/winry315.c
  keyboards/winry/winry315/winry315.h
Labels: keyboard, keymap, via

#15875 [Keyboard] Idobao ID87 v2
  keyboards/idobao/id87/v2/config.h
  keyboards/idobao/id87/v2/info.json
  keyboards/idobao/id87/v2/keymaps/default/keymap.c
  keyboards/idobao/id87/v2/keymaps/default/readme.md
  keyboards/idobao/id87/v2/keymaps/via/keymap.c
  keyboards/idobao/id87/v2/keymaps/via/rules.mk
  keyboards/idobao/id87/v2/readme.md
  keyboards/idobao/id87/v2/rules.mk
  keyboards/idobao/id87/v2/v2.c
  keyboards/idobao/id87/v2/v2.h
Labels: keyboard, keymap, via

#13966 Add LATE-9 keyboard
  keyboards/late9/config.h
  keyboards/late9/readme.md
  keyboards/late9/rev1/config.h
  keyboards/late9/rev1/info.json
  keyboards/late9/rev1/keymaps/default/keymap.c
  keyboards/late9/rev1/keymaps/default/readme.md
  keyboards/late9/rev1/keymaps/multitap/keymap.c
  keyboards/late9/rev1/keymaps/multitap/readme.md
  keyboards/late9/rev1/keymaps/multitap/rules.mk
  keyboards/late9/rev1/readme.md
  keyboards/late9/rev1/rev1.c
  keyboards/late9/rev1/rev1.h
  keyboards/late9/rev1/rules.mk
  keyboards/late9/rules.mk
Labels: keyboard, keymap

#16005 [Keyboard] Update encoder code
  keyboards/macro3/config.h
  keyboards/macro3/keymaps/default/keymap.c
  keyboards/macro3/macro3.c
  keyboards/macro3/readme.md
Labels: keyboard, keymap

#16417 Rename the parameter name to avoid mistaking it for the new operator, resolve #16416
  docs/feature_pointing_device.md
  docs/ja/feature_pointing_device.md
  quantum/pointing_device.c
  quantum/pointing_device.h
Labels: core, documentation, translation

#16514 Add HS version of Nebula65b due to different number of per-key-RGB
  keyboards/spaceholdings/nebula68b/hs/config.h
  keyboards/spaceholdings/nebula68b/hs/hs.c
  keyboards/spaceholdings/nebula68b/hs/rules.mk
  keyboards/spaceholdings/nebula68b/nebula68b.c
Labels: keyboard

#16526 new keyboard rb69
  keyboards/ryanbaekr/rb69/config.h
  keyboards/ryanbaekr/rb69/info.json
  keyboards/ryanbaekr/rb69/keymaps/default/keymap.c
  keyboards/ryanbaekr/rb69/keymaps/default/readme.md
  keyboards/ryanbaekr/rb69/keymaps/via/keymap.c
  keyboards/ryanbaekr/rb69/keymaps/via/rules.mk
  keyboards/ryanbaekr/rb69/rb69.c
  keyboards/ryanbaekr/rb69/rb69.h
  keyboards/ryanbaekr/rb69/readme.md
  keyboards/ryanbaekr/rb69/rules.mk
Labels: keyboard, keymap, via

#15341 Add mini winni
  keyboards/winkeys/mini_winni/config.h
  keyboards/winkeys/mini_winni/info.json
  keyboards/winkeys/mini_winni/keymaps/default/keymap.c
  keyboards/winkeys/mini_winni/keymaps/via/keymap.c
  keyboards/winkeys/mini_winni/keymaps/via/rules.mk
  keyboards/winkeys/mini_winni/mini_winni.c
  keyboards/winkeys/mini_winni/mini_winni.h
  keyboards/winkeys/mini_winni/readme.md
  keyboards/winkeys/mini_winni/rules.mk
Labels: keyboard, keymap, via

#16562 [Keyboard] Add Iskar
  keyboards/drewkeys/iskar/config.h
  keyboards/drewkeys/iskar/info.json
  keyboards/drewkeys/iskar/iskar.c
  keyboards/drewkeys/iskar/iskar.h
  keyboards/drewkeys/iskar/keymaps/default/keymap.c
  keyboards/drewkeys/iskar/keymaps/default/readme.md
  keyboards/drewkeys/iskar/readme.md
  keyboards/drewkeys/iskar/rules.mk
Labels: keyboard, keymap

#16574 Oddball: set default pointing device driver
  keyboards/oddball/keymaps/default/rules.mk
  keyboards/oddball/readme.md
  keyboards/oddball/rules.mk
Labels: bug, keyboard, keymap

#16576 Fix late9/rev1
  keyboards/late9/rev1/rev1.c
Labels: keyboard

#16068 Asymmetric encoders, encoder tests.
  builddefs/build_test.mk
  builddefs/testlist.mk
  docs/feature_encoders.md
  keyboards/draculad/config.h
  keyboards/sofle/keyhive/config.h
  keyboards/viktus/sp_mini/config.h
  quantum/encoder.c
  quantum/encoder.h
  quantum/encoder/tests/config_mock.h
  quantum/encoder/tests/config_mock_split_left_eq_right.h
  quantum/encoder/tests/config_mock_split_left_gt_right.h
  quantum/encoder/tests/config_mock_split_left_lt_right.h
  quantum/encoder/tests/config_mock_split_no_left.h
  quantum/encoder/tests/config_mock_split_no_right.h
  quantum/encoder/tests/encoder_tests.cpp
  quantum/encoder/tests/encoder_tests_split_left_eq_right.cpp
  quantum/encoder/tests/encoder_tests_split_left_gt_right.cpp
  quantum/encoder/tests/encoder_tests_split_left_lt_right.cpp
  quantum/encoder/tests/encoder_tests_split_no_left.cpp
  quantum/encoder/tests/encoder_tests_split_no_right.cpp
  quantum/encoder/tests/mock.h
  quantum/encoder/tests/mock_split.h
  quantum/encoder/tests/rules.mk
  quantum/encoder/tests/testlist.mk
  quantum/split_common/transactions.c
  quantum/split_common/transport.h
  quantum/util.h
Labels: core, keyboard, documentation, breaking_change_2022q2

#14192 Add Y&R Studio zhou65 keyboard
  keyboards/yandrstudio/zhou65/config.h
  keyboards/yandrstudio/zhou65/f401/board.h
  keyboards/yandrstudio/zhou65/f401/config.h
  keyboards/yandrstudio/zhou65/f401/halconf.h
  keyboards/yandrstudio/zhou65/f401/mcuconf.h
  keyboards/yandrstudio/zhou65/f401/rules.mk
  keyboards/yandrstudio/zhou65/info.json
  keyboards/yandrstudio/zhou65/keymaps/default/keymap.c
  keyboards/yandrstudio/zhou65/keymaps/via/keymap.c
  keyboards/yandrstudio/zhou65/keymaps/via/rules.mk
  keyboards/yandrstudio/zhou65/readme.md
  keyboards/yandrstudio/zhou65/rules.mk
  keyboards/yandrstudio/zhou65/zhou65.c
  keyboards/yandrstudio/zhou65/zhou65.h
Labels: keyboard, keymap, via

#16575 [keymap] Add via support for Iskar
  keyboards/drewkeys/iskar/keymaps/via/keymap.c
  keyboards/drewkeys/iskar/keymaps/via/readme.md
  keyboards/drewkeys/iskar/keymaps/via/rules.mk
Labels: keymap, via

#16541 `qmk info`: Nicer rendering of big-ass enter
  lib/python/qmk/keyboard.py
Labels: enhancement, python, cli

#16570 [Keyboard] Add Rama Works M4-A
  keyboards/machine_industries/m4_a/config.h
  keyboards/machine_industries/m4_a/info.json
  keyboards/machine_industries/m4_a/keymaps/default/keymap.c
  keyboards/machine_industries/m4_a/m4_a.c
  keyboards/machine_industries/m4_a/m4_a.h
  keyboards/machine_industries/m4_a/readme.md
  keyboards/machine_industries/m4_a/rules.mk
Labels: keyboard, keymap

#16572 handwired/misterdeck refactor
  keyboards/handwired/misterdeck/config.h
  keyboards/handwired/misterdeck/info.json
  keyboards/handwired/misterdeck/keymaps/default/config.h
  keyboards/handwired/misterdeck/keymaps/default/keymap.c
  keyboards/handwired/misterdeck/keymaps/default/rules.mk
  keyboards/handwired/misterdeck/keymaps/nobuttons/config.h
  keyboards/handwired/misterdeck/keymaps/nobuttons/keymap.c
  keyboards/handwired/misterdeck/keymaps/nobuttons/rules.mk
  keyboards/handwired/misterdeck/misterdeck.c
  keyboards/handwired/misterdeck/misterdeck.h
  keyboards/handwired/misterdeck/readme.md
  keyboards/handwired/misterdeck/rules.mk
Labels: bug, enhancement, keyboard, keymap

#16524 Add Big Switch Seat
  keyboards/keebio/bigswitchseat/bigswitchseat.c
  keyboards/keebio/bigswitchseat/bigswitchseat.h
  keyboards/keebio/bigswitchseat/config.h
  keyboards/keebio/bigswitchseat/info.json
  keyboards/keebio/bigswitchseat/keymaps/default/keymap.c
  keyboards/keebio/bigswitchseat/keymaps/default/rules.mk
  keyboards/keebio/bigswitchseat/keymaps/via/keymap.c
  keyboards/keebio/bigswitchseat/keymaps/via/rules.mk
  keyboards/keebio/bigswitchseat/readme.md
  keyboards/keebio/bigswitchseat/rules.mk
Labels: keyboard, keymap, via

#16589 Fix yandrstudio/zhou65
  keyboards/yandrstudio/zhou65/board.h
  keyboards/yandrstudio/zhou65/config.h
  keyboards/yandrstudio/zhou65/f401/config.h
  keyboards/yandrstudio/zhou65/f401/halconf.h
  keyboards/yandrstudio/zhou65/f401/rules.mk
  keyboards/yandrstudio/zhou65/keymaps/default/keymap.c
  keyboards/yandrstudio/zhou65/keymaps/via/keymap.c
  keyboards/yandrstudio/zhou65/mcuconf.h
  keyboards/yandrstudio/zhou65/readme.md
  keyboards/yandrstudio/zhou65/rules.mk
Labels: keyboard, keymap, via

#16591 Correct order of takashicompany/dogtag info.json
  keyboards/takashicompany/dogtag/info.json
Labels: bug, keyboard

#16578 Added RGB_Matrix effect mode for naked48/j73gl
  keyboards/gl516/j73gl/keymaps/via_rgb_matrix/config.h
  keyboards/salicylic_acid3/naked48/keymaps/via_rgb_matrix/config.h
Labels: keymap

#16546 [Keymap] Personal keymap for crkbd
  keyboards/crkbd/keymaps/jpe230/config.h
  keyboards/crkbd/keymaps/jpe230/keymap.c
  keyboards/crkbd/keymaps/jpe230/readme.md
  keyboards/crkbd/keymaps/jpe230/rules.mk
Labels: keymap

#16579 Various improvements for the AnnePro2
  keyboards/annepro2/annepro2.c
  keyboards/annepro2/annepro2.h
  keyboards/annepro2/annepro2_ble.c
  keyboards/annepro2/ap2_led.c
  keyboards/annepro2/ap2_led.h
  keyboards/annepro2/c15/config.h
  keyboards/annepro2/c15/rules.mk
  keyboards/annepro2/c18/config.h
  keyboards/annepro2/c18/rules.mk
  keyboards/annepro2/config_led.c
  keyboards/annepro2/config_led.h
  keyboards/annepro2/info.json
  keyboards/annepro2/keymaps/default-full-caps/keymap.c
  keyboards/annepro2/keymaps/default-layer-indicators/keymap.c
  keyboards/annepro2/keymaps/default/keymap.c
  keyboards/annepro2/keymaps/default/rules.mk
  keyboards/annepro2/protocol.c
  keyboards/annepro2/protocol.h
  keyboards/annepro2/rgb_driver.c
Labels: keyboard, keymap

#13286 Add support for encoder mapping.
  builddefs/generic_features.mk
  builddefs/show_options.mk
  docs/feature_encoders.md
  docs/feature_swap_hands.md
  keyboards/hnahkb/vn66/rules.mk
  lib/python/qmk/cli/pytest.py
  quantum/action.c
  quantum/action_layer.c
  quantum/dynamic_keymap.c
  quantum/dynamic_keymap.h
  quantum/encoder.c
  quantum/encoder.h
  quantum/keyboard.h
  quantum/keymap.h
  quantum/keymap_common.c
  quantum/process_keycode/process_combo.c
Labels: core, keyboard, documentation, breaking_change, python, cli, xap, breaking_change_2022q2

#16593 Fix missing definition for non-encoder case.
  quantum/dynamic_keymap.c
Labels: bug, core

#16596 Fixup builds.
  keyboards/horrortroll/handwired_k552/rules.mk
  keyboards/tkc/portico68v2/config.h
  quantum/action.c
Labels: bug, core, keyboard

#15148 Add Gergoplex keymap for tgrosinger
  keyboards/gboards/gergoplex/keymaps/tgrosinger/combos.def
  keyboards/gboards/gergoplex/keymaps/tgrosinger/gergoplex.def
  keyboards/gboards/gergoplex/keymaps/tgrosinger/keymap.c
  keyboards/gboards/gergoplex/keymaps/tgrosinger/readme.md
  keyboards/gboards/gergoplex/keymaps/tgrosinger/rules.mk
Labels: keymap

#14333 Add macOS-friendly keymap for GMMK Pro (ANSI)
  keyboards/gmmk/pro/ansi/keymaps/macos/config.h
  keyboards/gmmk/pro/ansi/keymaps/macos/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/macos/readme.md
  keyboards/gmmk/pro/ansi/keymaps/macos/rules.mk
Labels: keymap

#16601 Size reduction for kbdfans/kbd67/mkiirgb_iso
  keyboards/kbdfans/kbd67/mkiirgb_iso/config.h
  keyboards/kbdfans/kbd67/mkiirgb_iso/rules.mk
Labels: keyboard

#15738 Personalizacion del teclado de AdG
  keyboards/splitkb/kyria/keymaps/maherma-adg/config.h
  keyboards/splitkb/kyria/keymaps/maherma-adg/keymap.c
  keyboards/splitkb/kyria/keymaps/maherma-adg/readme.md
  keyboards/splitkb/kyria/keymaps/maherma-adg/rules.mk
Labels: keymap

#16604 keyboardio/atreus: VIA support
  keyboards/keyboardio/atreus/keymaps/via/keymap.c
  keyboards/keyboardio/atreus/keymaps/via/rules.mk
Labels: keymap, via

#16603 Remove `matrix_key_count()`
  keyboards/40percentclub/ut47/matrix.c
  keyboards/amj96/matrix.c
  keyboards/bpiphany/hid_liber/matrix.c
  keyboards/bpiphany/kitten_paw/matrix.c
  keyboards/bpiphany/pegasushoof/2013/matrix.c
  keyboards/bpiphany/pegasushoof/2015/matrix.c
  keyboards/bpiphany/tiger_lily/matrix.c
  keyboards/bpiphany/unloved_bastard/matrix.c
  keyboards/converter/ibm_terminal/matrix.c
  keyboards/converter/palm_usb/matrix.c
  keyboards/converter/sun_usb/matrix.c
  keyboards/converter/usb_usb/custom_matrix.cpp
  keyboards/dc01/arrow/matrix.c
  keyboards/dc01/left/matrix.c
  keyboards/dc01/numpad/matrix.c
  keyboards/dc01/right/matrix.c
  keyboards/dichotomy/matrix.c
  keyboards/duck/jetfire/matrix.c
  keyboards/gboards/ergotaco/matrix.c
  keyboards/gboards/georgi/matrix.c
  keyboards/gboards/gergo/matrix.c
  keyboards/gboards/gergoplex/matrix.c
  keyboards/handwired/dactyl/matrix.c
  keyboards/handwired/frenchdev/matrix.c
  keyboards/handwired/owlet60/matrix.c
  keyboards/handwired/promethium/matrix.c
  keyboards/handwired/pterodactyl/matrix.c
  keyboards/helix/rev2/custom/matrix.c
  keyboards/hhkb/ansi/matrix.c
  keyboards/hhkb/jp/matrix.c
  keyboards/honeycomb/matrix.c
  keyboards/hotdox/matrix.c
  keyboards/kakunpc/angel64/alpha/matrix.c
  keyboards/kakunpc/angel64/rev1/matrix.c
  keyboards/kakunpc/thedogkeyboard/matrix.c
  keyboards/kinesis/alvicstep/matrix.c
  keyboards/kmac/matrix.c
  keyboards/kmini/matrix.c
  keyboards/ktec/ergodone/matrix.c
  keyboards/moon/matrix.c
  keyboards/nek_type_a/matrix.c
  keyboards/redscarf_iiplus/verb/matrix.c
  keyboards/redscarf_iiplus/verc/matrix.c
  keyboards/redscarf_iiplus/verd/matrix.c
  keyboards/sirius/unigo66/custom_matrix.cpp
  keyboards/sixkeyboard/matrix.c
  keyboards/sx60/matrix.c
  keyboards/woodkeys/meira/matrix.c
  keyboards/ymdk/sp64/matrix.c
  keyboards/yosino58/rev1/matrix.c
  quantum/matrix_common.c
Labels: enhancement, core, keyboard

#16400 Add support for MNK65
  keyboards/kopibeng/mnk65/config.h
  keyboards/kopibeng/mnk65/info.json
  keyboards/kopibeng/mnk65/keymaps/default/keymap.c
  keyboards/kopibeng/mnk65/keymaps/via/keymap.c
  keyboards/kopibeng/mnk65/keymaps/via/rules.mk
  keyboards/kopibeng/mnk65/mnk65.c
  keyboards/kopibeng/mnk65/mnk65.h
  keyboards/kopibeng/mnk65/readme.md
  keyboards/kopibeng/mnk65/rules.mk
Labels: keyboard, keymap, via

#16064 Added the keymap I have been using as a daily driver for the last month
  keyboards/preonic/keymaps/era1112/config.h
  keyboards/preonic/keymaps/era1112/keymap.c
  keyboards/preonic/keymaps/era1112/readme.md
  keyboards/preonic/keymaps/era1112/rules.mk
Labels: keymap

#16101 Add rgb-light and encoder for lily58 mod
  keyboards/lily58/glow_enc/config.h
  keyboards/lily58/glow_enc/glow_enc.c
  keyboards/lily58/glow_enc/glow_enc.h
  keyboards/lily58/glow_enc/info.json
  keyboards/lily58/glow_enc/rules.mk
  keyboards/lily58/lily58.h
Labels: keyboard

#16045 Add new keymap for GMMK with some additional mappings and led indicator for caps lock
  keyboards/gmmk/pro/iso/keymaps/chofstede/keymap.c
  keyboards/gmmk/pro/iso/keymaps/chofstede/readme.md
Labels: keymap

#15873 [Docs] Include ASCII diagram to explain tap-hold modes
  docs/tap_hold.md
Labels: documentation

#16610 CLI: Fix 'cd' subcommand on Windows
  lib/python/qmk/cli/cd.py
Labels: bug, python, cli

#15888 Personal user space and CRKBD R2G keymap
  keyboards/crkbd/keymaps/rmeli/config.h
  keyboards/crkbd/keymaps/rmeli/keymap.c
  keyboards/crkbd/keymaps/rmeli/rules.mk
  users/rmeli/keyrecords/tap_dances.c
  users/rmeli/keyrecords/tap_dances.h
  users/rmeli/keyrecords/unicode.h
  users/rmeli/oled/oled.c
  users/rmeli/oled/oled.h
  users/rmeli/readme.md
  users/rmeli/rmeli.h
  users/rmeli/rules.mk
Labels: keymap

#16611 Force platform pin defs to be included
  platforms/arm_atsam/_pin_defs.h
  platforms/avr/_pin_defs.h
  platforms/chibios/_pin_defs.h
  platforms/pin_defs.h
Labels: core

#15163 Add Infinity87.5 PCB
  keyboards/mechlovin/infinity875/config.h
  keyboards/mechlovin/infinity875/infinity875.c
  keyboards/mechlovin/infinity875/infinity875.h
  keyboards/mechlovin/infinity875/info.json
  keyboards/mechlovin/infinity875/keymaps/default/keymap.c
  keyboards/mechlovin/infinity875/keymaps/default/readme.md
  keyboards/mechlovin/infinity875/keymaps/default/rgb_matrix_user.inc
  keyboards/mechlovin/infinity875/keymaps/default/rules.mk
  keyboards/mechlovin/infinity875/keymaps/via/config.h
  keyboards/mechlovin/infinity875/keymaps/via/keymap.c
  keyboards/mechlovin/infinity875/keymaps/via/readme.md
  keyboards/mechlovin/infinity875/keymaps/via/rgb_matrix_user.inc
  keyboards/mechlovin/infinity875/keymaps/via/rules.mk
  keyboards/mechlovin/infinity875/matrix.c
  keyboards/mechlovin/infinity875/readme.md
  keyboards/mechlovin/infinity875/rules.mk
Labels: keyboard, keymap, via

#16616 DZ64RGB: add info.json
  keyboards/dztech/dz64rgb/info.json
Labels: enhancement, keyboard

#16615 Acheron Elongate Delta: add info.json
  keyboards/acheron/elongate/delta/info.json
Labels: enhancement, keyboard

#16614 Workaround for pin_def errors on KINETIS based builds
  platforms/pin_defs.h
Labels: bug, core

#16617 [Core] Fix flipped logic bug with One Shot `OS_ON` / `OS_OFF` keys
  quantum/action_util.c
Labels: bug, core

#16620 Redo workaround for pin_def errors on KINETIS
  platforms/chibios/_pin_defs.h
  platforms/pin_defs.h
Labels: bug, core

#16623 docs: fix code sample
  docs/feature_pointing_device.md
Labels: documentation

#16444 Add Glitch
  keyboards/p3d/glitch/config.h
  keyboards/p3d/glitch/glitch.c
  keyboards/p3d/glitch/glitch.h
  keyboards/p3d/glitch/info.json
  keyboards/p3d/glitch/keymaps/default/keymap.c
  keyboards/p3d/glitch/keymaps/default/readme.md
  keyboards/p3d/glitch/readme.md
  keyboards/p3d/glitch/rules.mk
Labels: keyboard, keymap

#16443 Add damapad
  keyboards/bolsa/damapad/config.h
  keyboards/bolsa/damapad/damapad.c
  keyboards/bolsa/damapad/damapad.h
  keyboards/bolsa/damapad/info.json
  keyboards/bolsa/damapad/keymaps/default/keymap.c
  keyboards/bolsa/damapad/keymaps/via/keymap.c
  keyboards/bolsa/damapad/keymaps/via/rules.mk
  keyboards/bolsa/damapad/readme.md
  keyboards/bolsa/damapad/rules.mk
Labels: keyboard, keymap, via

#16629 Missing endif in p3d/glitch
  keyboards/p3d/glitch/glitch.c
Labels: keyboard

#16624 Update personal crkbd keymap
  keyboards/crkbd/keymaps/jpe230/config.h
  keyboards/crkbd/keymaps/jpe230/keymap.c
  keyboards/crkbd/keymaps/jpe230/rules.mk
Labels: keymap

#16532 Change helix:edvorakjp keymap to use split_common
  keyboards/helix/rev2/keymaps/edvorakjp/rules.mk
Labels: keymap

#16605 Support for Jels60
  keyboards/jels/jels60/config.h
  keyboards/jels/jels60/info.json
  keyboards/jels/jels60/jels60.c
  keyboards/jels/jels60/jels60.h
  keyboards/jels/jels60/keymaps/default/keymap.c
  keyboards/jels/jels60/keymaps/via/keymap.c
  keyboards/jels/jels60/keymaps/via/rules.mk
  keyboards/jels/jels60/readme.md
  keyboards/jels/jels60/rules.mk
Labels: keyboard, keymap, via

#16618 USB-USB converter cleanup
  keyboards/converter/usb_usb/ble/ble.h
  keyboards/converter/usb_usb/ble/config.h
  keyboards/converter/usb_usb/ble/readme.md
  keyboards/converter/usb_usb/ble/rules.mk
  keyboards/converter/usb_usb/config.h
  keyboards/converter/usb_usb/custom_matrix.cpp
  keyboards/converter/usb_usb/hasu/hasu.h
  keyboards/converter/usb_usb/main.c
  keyboards/converter/usb_usb/pro_micro/pro_micro.h
  keyboards/converter/usb_usb/rules.mk
  keyboards/converter/usb_usb/usb_usb.h
Labels: enhancement, keyboard

#16568 ISP flashing guide: add instructions for flashing STM32duino bootloader
  docs/isp_flashing_guide.md
Labels: enhancement, documentation

#16543 [Core] Move `has_mouse_report_changed` function to `report.c`
  quantum/mousekey.c
  quantum/pointing_device.c
  quantum/pointing_device.h
  tmk_core/protocol/report.c
  tmk_core/protocol/report.h
Labels: core

#16638 Fix 40percentclub USB descriptors
  keyboards/40percentclub/nein/info.json
  keyboards/40percentclub/nori/info.json
  keyboards/40percentclub/ut47/info.json
Labels: bug, keyboard

#16630 Fix oneshot toggle logic
  quantum/action.c
  quantum/action_util.c
  quantum/eeconfig.c
  quantum/eeconfig.h
  quantum/keycode_config.h
Labels: core

#16640 Mousekeys fix
  quantum/mousekey.c
Labels: core

#16639 bolsa/damapad - Fix missing layout macro
  keyboards/bolsa/damapad/damapad.h
Labels: bug, keyboard

#16642 keebio/iris: Add ifdefs to encoder callbacks
  keyboards/keebio/iris/rev3/rev3.c
  keyboards/keebio/iris/rev4/rev4.c
  keyboards/keebio/iris/rev5/rev5.c
  keyboards/keebio/iris/rev6/rev6.c
Labels: bug, keyboard

#16643 Disable RGB matrix pixel animations for some boards
  keyboards/dztech/dz60rgb_wkl/v2/config.h
  keyboards/idobao/id87/v2/config.h
  keyboards/kbdfans/kbd67/mkiirgb/v4/config.h
Labels: bug, keyboard

#16409 Add BAMFK-1
  keyboards/keebio/bamfk1/bamfk1.c
  keyboards/keebio/bamfk1/bamfk1.h
  keyboards/keebio/bamfk1/config.h
  keyboards/keebio/bamfk1/info.json
  keyboards/keebio/bamfk1/keymaps/default/keymap.c
  keyboards/keebio/bamfk1/keymaps/default/rules.mk
  keyboards/keebio/bamfk1/keymaps/via/keymap.c
  keyboards/keebio/bamfk1/keymaps/via/rules.mk
  keyboards/keebio/bamfk1/readme.md
  keyboards/keebio/bamfk1/rules.mk
  keyboards/keebio/encoder_actions.c
  keyboards/keebio/encoder_actions.h
Labels: keyboard, keymap, via

#16649 [Core] Rename TICK to TICK_EVENT
  quantum/keyboard.c
  quantum/keyboard.h
Labels: core

#16499 Add via keymap to AL1
  keyboards/al1/config.h
  keyboards/al1/keymaps/via/keymap.c
  keyboards/al1/keymaps/via/readme.md
  keyboards/al1/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#16650 Sentence correction
  docs/feature_bootmagic.md
Labels: documentation

#16331 Add SN74x154 driver and convert AL1 custom matrix
  drivers/gpio/sn74x154.c
  drivers/gpio/sn74x154.h
  keyboards/al1/config.h
  keyboards/al1/matrix.c
  keyboards/al1/rules.mk
Labels: enhancement, core, keyboard

#16625 evancookaudio sleepingdinosaur firmware v2
  keyboards/evancookaudio/sleepingdinosaur/config.h
  keyboards/evancookaudio/sleepingdinosaur/keymaps/via/keymap.c
  keyboards/evancookaudio/sleepingdinosaur/keymaps/via/rules.mk
  keyboards/evancookaudio/sleepingdinosaur/rules.mk
Labels: keyboard, keymap, via

#16653 Fix mechlovin/kay65
  keyboards/mechlovin/kay65/config.h
  keyboards/mechlovin/kay65/info.json
  keyboards/mechlovin/kay65/kay65.c
  keyboards/mechlovin/kay65/kay65.h
  keyboards/mechlovin/kay65/keymaps/default/keymap.c
  keyboards/mechlovin/kay65/keymaps/default/readme.md
  keyboards/mechlovin/kay65/keymaps/via/keymap.c
  keyboards/mechlovin/kay65/keymaps/via/readme.md
  keyboards/mechlovin/kay65/keymaps/via/rules.mk
  keyboards/mechlovin/kay65/readme.md
  keyboards/mechlovin/kay65/rules.mk
Labels: keyboard, keymap, via

#16654 Fix evancookaudio/sleepingdinosaur
  keyboards/evancookaudio/sleepingdinosaur/config.h
  keyboards/evancookaudio/sleepingdinosaur/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#16626 [Keyboard] Add Bacca70 keyboard
  keyboards/bacca70/bacca70.c
  keyboards/bacca70/bacca70.h
  keyboards/bacca70/chconf.h
  keyboards/bacca70/config.h
  keyboards/bacca70/info.json
  keyboards/bacca70/keymaps/debaccabean/keymap.c
  keyboards/bacca70/keymaps/dede-special/keymap.c
  keyboards/bacca70/keymaps/default/keymap.c
  keyboards/bacca70/keymaps/via/keymap.c
  keyboards/bacca70/keymaps/via/rules.mk
  keyboards/bacca70/readme.md
  keyboards/bacca70/rules.mk
Labels: keyboard, keymap, via

#15872 [Keyboard] Adding Gerald65
  keyboards/papercranekeyboards/gerald65/config.h
  keyboards/papercranekeyboards/gerald65/gerald65.c
  keyboards/papercranekeyboards/gerald65/gerald65.h
  keyboards/papercranekeyboards/gerald65/info.json
  keyboards/papercranekeyboards/gerald65/keymaps/default/keymap.c
  keyboards/papercranekeyboards/gerald65/keymaps/default/readme.md
  keyboards/papercranekeyboards/gerald65/readme.md
  keyboards/papercranekeyboards/gerald65/rules.mk
Labels: keyboard, keymap

#16349 Add split keyboard example for Bootmagic Lite
  docs/feature_bootmagic.md
Labels: documentation

#16115 Io mini1800 - New Keyboard
  keyboards/io_mini1800/config.h
  keyboards/io_mini1800/info.json
  keyboards/io_mini1800/io_mini1800.c
  keyboards/io_mini1800/io_mini1800.h
  keyboards/io_mini1800/keymaps/2x3u/keymap.c
  keyboards/io_mini1800/keymaps/2x3u/readme.md
  keyboards/io_mini1800/keymaps/default/keymap.c
  keyboards/io_mini1800/keymaps/default/readme.md
  keyboards/io_mini1800/readme.md
  keyboards/io_mini1800/rules.mk
Labels: keyboard, keymap

#16657 Fix westm/westm68
  keyboards/westm/westm68/config.h
  keyboards/westm/westm68/rev1/config.h
  keyboards/westm/westm68/rev1/rules.mk
  keyboards/westm/westm68/rules.mk
Labels: keyboard

#16652 Add merge workflow for XAP branch
  .github/workflows/develop_update.yml
  .github/workflows/feature_branch_update.yml
Labels: CI

#15869 [Keymap] Planck Keymap: tomkonidas
  keyboards/planck/keymaps/tomkonidas/config.h
  keyboards/planck/keymaps/tomkonidas/keymap.c
  keyboards/planck/keymaps/tomkonidas/readme.md
  keyboards/planck/keymaps/tomkonidas/rules.mk
Labels: keymap

#16186 Add Dolice keyboard
  keyboards/linworks/dolice/config.h
  keyboards/linworks/dolice/dolice.c
  keyboards/linworks/dolice/dolice.h
  keyboards/linworks/dolice/info.json
  keyboards/linworks/dolice/keymaps/default/keymap.c
  keyboards/linworks/dolice/keymaps/via/keymap.c
  keyboards/linworks/dolice/keymaps/via/rules.mk
  keyboards/linworks/dolice/readme.md
  keyboards/linworks/dolice/rules.mk
Labels: keyboard, keymap, via

#16662 Ensure dependent CI workflows run after merge
  .github/workflows/develop_update.yml
  .github/workflows/feature_branch_update.yml
Labels: bug, CI

#16216 yugo_m enhancement to include all available key positions in matrix
  keyboards/yugo_m/model_m_101/config.h
  keyboards/yugo_m/model_m_101/info.json
  keyboards/yugo_m/model_m_101/keymaps/an_achronism_106/keymap.c
  keyboards/yugo_m/model_m_101/keymaps/an_achronism_106/readme.md
  keyboards/yugo_m/model_m_101/keymaps/default/keymap.c
  keyboards/yugo_m/model_m_101/keymaps/default/readme.md
  keyboards/yugo_m/model_m_101/keymaps/via/keymap.c
  keyboards/yugo_m/model_m_101/keymaps/via/rules.mk
  keyboards/yugo_m/model_m_101/model_m_101.h
  keyboards/yugo_m/model_m_101/readme.md
  keyboards/yugo_m/readme.md
Labels: keyboard, keymap, via

#16663 [MB-65S] Change keymap to follow change request from OEM
  keyboards/mechbrewery/mb65s/keymaps/default/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/iso/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/split_bs/keymap.c
Labels: keymap

#16660 Update the AL1 Vender ID
  keyboards/al1/config.h
Labels: keyboard

#16665 Fix m3n3van and minim keyboard names in keymap JSON
  keyboards/matthewdias/m3n3van/keymaps/default/keymap.json
  keyboards/matthewdias/minim/keymaps/default/keymap.json
Labels: bug, keymap

#16666 gboards/butterstick: move steno rules config to keymap level
  keyboards/gboards/butterstick/keymaps/default/rules.mk
  keyboards/gboards/butterstick/rules.mk
Labels: bug, keyboard, keymap

#15182 Add nullbits TIDBIT
  keyboards/nullbitsco/tidbit/config.h
  keyboards/nullbitsco/tidbit/info.json
  keyboards/nullbitsco/tidbit/keymaps/default/keymap.c
  keyboards/nullbitsco/tidbit/keymaps/oled/keymap.c
  keyboards/nullbitsco/tidbit/keymaps/oled/rules.mk
  keyboards/nullbitsco/tidbit/keymaps/snailmap_lite/keymap.c
  keyboards/nullbitsco/tidbit/keymaps/snailmap_lite/rules.mk
  keyboards/nullbitsco/tidbit/keymaps/via/keymap.c
  keyboards/nullbitsco/tidbit/keymaps/via/rules.mk
  keyboards/nullbitsco/tidbit/readme.md
  keyboards/nullbitsco/tidbit/rules.mk
  keyboards/nullbitsco/tidbit/tidbit.c
  keyboards/nullbitsco/tidbit/tidbit.h
Labels: keyboard, keymap, via

#16672 Print out generated files during build
  builddefs/build_keyboard.mk
  builddefs/message.mk
Labels: enhancement

#15959 [Core] Add compile/make macro to core
  docs/config_options.md
  docs/keycodes.md
  docs/quantum_keycodes.md
  quantum/quantum.c
  quantum/quantum_keycodes.h
Labels: core, documentation, breaking_change_2022q2

#16674 [CLI] Add common util for dumping generated content
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/cli/generate/dfu_header.py
  lib/python/qmk/cli/generate/keyboard_h.py
  lib/python/qmk/cli/generate/layouts.py
  lib/python/qmk/cli/generate/rules_mk.py
  lib/python/qmk/cli/generate/version_h.py
  lib/python/qmk/commands.py
  lib/python/qmk/constants.py
Labels: python, cli

#16682 Relocate CLI git interactions
  lib/python/qmk/cli/doctor/check.py
  lib/python/qmk/cli/doctor/main.py
  lib/python/qmk/cli/generate/version_h.py
  lib/python/qmk/cli/new/keyboard.py
  lib/python/qmk/commands.py
  lib/python/qmk/git.py
Labels: enhancement

#16676 annepro2: Add more LED functionalities to default-layer-indicators
  keyboards/annepro2/annepro2.c
  keyboards/annepro2/annepro2.h
  keyboards/annepro2/keymaps/default-layer-indicators/keymap.c
Labels: keyboard, keymap
