Repository qmk/qmk_firmware, pull requests merged in 2022-05, with the labels that each got.

#16882 gameroyadvance
  keyboards/keystonecaps/gameroyadvance/config.h
  keyboards/keystonecaps/gameroyadvance/gameroyadvance.c
  keyboards/keystonecaps/gameroyadvance/gameroyadvance.h
  keyboards/keystonecaps/gameroyadvance/info.json
  keyboards/keystonecaps/gameroyadvance/keymaps/default/config.h
  keyboards/keystonecaps/gameroyadvance/keymaps/default/keymap.c
  keyboards/keystonecaps/gameroyadvance/keymaps/default_all/config.h
  keyboards/keystonecaps/gameroyadvance/keymaps/default_all/keymap.c
  keyboards/keystonecaps/gameroyadvance/readme.md
  keyboards/keystonecaps/gameroyadvance/rules.mk
Labels: keyboard, keymap

#15506 keyboards/ryanskidmore: add rskeys100 keyboard
  keyboards/ryanskidmore/rskeys100/config.h
  keyboards/ryanskidmore/rskeys100/info.json
  keyboards/ryanskidmore/rskeys100/keymaps/default/keymap.c
  keyboards/ryanskidmore/rskeys100/keymaps/default/readme.md
  keyboards/ryanskidmore/rskeys100/matrix.c
  keyboards/ryanskidmore/rskeys100/readme.md
  keyboards/ryanskidmore/rskeys100/rskeys100.c
  keyboards/ryanskidmore/rskeys100/rskeys100.h
  keyboards/ryanskidmore/rskeys100/rules.mk
Labels: keyboard, keymap

#16991 Jonavin-kb67-Reduce mem usage
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/jonavin/config.h
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/jonavin/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/jonavin/rules.mk
Labels: keymap

#16997 Also format *.hpp files.
  lib/python/qmk/cli/format/c.py
Labels: python, cli

#16921 Introduced New layer & Improvements
  keyboards/anavi/macropad8/keymaps/vscode/keymap.c
Labels: keymap

#16671 add per-key RGB for Quark LP RGB variants
  keyboards/checkerboards/quark_lp/config.h
  keyboards/checkerboards/quark_lp/quark_lp.c
  keyboards/checkerboards/quark_lp/rules.mk
Labels: keyboard

#17003 Add missing dependency for qmk setup on Fedora
  util/install/fedora.sh
Labels: bug, core

#17001 Add ibis PCB
  keyboards/hineybush/ibis/config.h
  keyboards/hineybush/ibis/info.json
  keyboards/hineybush/ibis/keymaps/default/keymap.c
  keyboards/hineybush/ibis/keymaps/via/keymap.c
  keyboards/hineybush/ibis/keymaps/via/rules.mk
  keyboards/hineybush/ibis/readme.md
  keyboards/hineybush/ibis/rules.mk
Labels: keyboard, keymap, via

#17015 [Bug] Fix RS60 Rev2 I2C
  keyboards/xelus/rs60/rev2/config.h
Labels: keyboard

#17014 Ensure .hex file output for ARM Teensys
  builddefs/bootloader.mk
Labels: bug

#16773 usb-usb converter: community layout support
  keyboards/converter/usb_usb/info.json
  keyboards/converter/usb_usb/keymaps/chriskopher/keymap.c
  keyboards/converter/usb_usb/rules.mk
  keyboards/converter/usb_usb/usb_usb.h
Labels: bug, enhancement, keyboard, keymap

#16667 gboards/gergoplex: move `COMBO_ENABLE` to keymap level
  keyboards/gboards/gergoplex/config.h
  keyboards/gboards/gergoplex/keymaps/colemak-dhm/config.h
  keyboards/gboards/gergoplex/keymaps/colemak-dhm/rules.mk
  keyboards/gboards/gergoplex/keymaps/default/config.h
  keyboards/gboards/gergoplex/keymaps/default/rules.mk
  keyboards/gboards/gergoplex/keymaps/georgepetri/config.h
  keyboards/gboards/gergoplex/keymaps/georgepetri/rules.mk
  keyboards/gboards/gergoplex/keymaps/tgrosinger/config.h
  keyboards/gboards/gergoplex/keymaps/tgrosinger/rules.mk
  keyboards/gboards/gergoplex/rules.mk
Labels: bug, keyboard, keymap

#17024 converter/usb_usb: remove surplus commas
  keyboards/converter/usb_usb/usb_usb.h
Labels: bug, keyboard

#17019 Sol3 fix rgb map
  keyboards/rgbkb/sol3/rev1/rev1.c
Labels: bug, keyboard

#17025 MSYS2 install: add some Python dependencies through Pacman
  util/install/msys2.sh
Labels: bug, enhancement, core

#17042 Update RMKB to support SNAP
  keyboards/nullbitsco/common/remote_kb.c
  keyboards/nullbitsco/common/remote_kb.h
Labels: keyboard

#17040 converter/a1200/mistress1200: further firmware shrinking to fit on Atmega16U4 (16kb)
  keyboards/converter/a1200/mistress1200/config.h
  keyboards/converter/a1200/mistress1200/rules.mk
Labels: keyboard

#16820 Add Axostudio Yeti hotswap version
  keyboards/axolstudio/yeti/hotswap/config.h
  keyboards/axolstudio/yeti/hotswap/hotswap.c
  keyboards/axolstudio/yeti/hotswap/hotswap.h
  keyboards/axolstudio/yeti/hotswap/info.json
  keyboards/axolstudio/yeti/hotswap/keymaps/default/keymap.c
  keyboards/axolstudio/yeti/hotswap/keymaps/via/keymap.c
  keyboards/axolstudio/yeti/hotswap/keymaps/via/rules.mk
  keyboards/axolstudio/yeti/hotswap/readme.md
  keyboards/axolstudio/yeti/hotswap/rules.mk
  keyboards/axolstudio/yeti/soldered/config.h
  keyboards/axolstudio/yeti/soldered/info.json
  keyboards/axolstudio/yeti/soldered/keymaps/default/keymap.c
  keyboards/axolstudio/yeti/soldered/keymaps/via/keymap.c
  keyboards/axolstudio/yeti/soldered/keymaps/via/rules.mk
  keyboards/axolstudio/yeti/soldered/readme.md
  keyboards/axolstudio/yeti/soldered/rules.mk
  keyboards/axolstudio/yeti/soldered/soldered.c
  keyboards/axolstudio/yeti/soldered/soldered.h
Labels: keyboard, keymap, via

#16463 [Keyboard] Momokai Tap Trio
  keyboards/momokai/tap_trio/config.h
  keyboards/momokai/tap_trio/info.json
  keyboards/momokai/tap_trio/keymaps/default/keymap.c
  keyboards/momokai/tap_trio/keymaps/via/keymap.c
  keyboards/momokai/tap_trio/keymaps/via/rules.mk
  keyboards/momokai/tap_trio/readme.md
  keyboards/momokai/tap_trio/rules.mk
  keyboards/momokai/tap_trio/tap_trio.c
  keyboards/momokai/tap_trio/tap_trio.h
Labels: keyboard, keymap, via

#16696 [Keymap] Add usable tap-hold defaults
  keyboards/ferris/keymaps/via/config.h
Labels: keymap, via

#17029 fixed tf65rgbv2 keyboard layout
  keyboards/fjlabs/tf65rgbv2/tf65rgbv2.h
Labels: keyboard

#17052 KBDfans KBD75 Refactor - 2022 Edition
  keyboards/kbdfans/kbd75/config.h
  keyboards/kbdfans/kbd75/kbd75.c
  keyboards/kbdfans/kbd75/kbd75.h
  keyboards/kbdfans/kbd75/keymaps/default/keymap.c
  keyboards/kbdfans/kbd75/keymaps/iso/keymap.c
  keyboards/kbdfans/kbd75/keymaps/via/keymap.c
  keyboards/kbdfans/kbd75/readme.md
  keyboards/kbdfans/kbd75/rev1/config.h
  keyboards/kbdfans/kbd75/rev1/info.json
  keyboards/kbdfans/kbd75/rev1/rev1.c
  keyboards/kbdfans/kbd75/rev1/rev1.h
  keyboards/kbdfans/kbd75/rev1/rules.mk
  keyboards/kbdfans/kbd75/rev2/config.h
  keyboards/kbdfans/kbd75/rev2/info.json
  keyboards/kbdfans/kbd75/rev2/rev2.c
  keyboards/kbdfans/kbd75/rev2/rev2.h
  keyboards/kbdfans/kbd75/rev2/rules.mk
Labels: enhancement, keyboard, keymap, via

#16833 created subrezon/la_nc keyboard and default keymap
  keyboards/subrezon/info.json
  keyboards/subrezon/la_nc/config.h
  keyboards/subrezon/la_nc/info.json
  keyboards/subrezon/la_nc/keymaps/default/keymap.c
  keyboards/subrezon/la_nc/keymaps/default/rules.mk
  keyboards/subrezon/la_nc/la_nc.c
  keyboards/subrezon/la_nc/la_nc.h
  keyboards/subrezon/la_nc/readme.md
  keyboards/subrezon/la_nc/rules.mk
Labels: keyboard, keymap

#16979 Update YMDK Split 64 config with correct indicator LED pins
  keyboards/ymdk/sp64/config.h
  keyboards/ymdk/sp64/rules.mk
Labels: keyboard

#16984 Yakiimo PCB
  keyboards/4pplet/yakiimo/info.json
  keyboards/4pplet/yakiimo/keymaps/default/keymap.c
  keyboards/4pplet/yakiimo/keymaps/via/keymap.c
  keyboards/4pplet/yakiimo/keymaps/via/rules.mk
  keyboards/4pplet/yakiimo/readme.md
  keyboards/4pplet/yakiimo/rev_a/config.h
  keyboards/4pplet/yakiimo/rev_a/mcuconf.h
  keyboards/4pplet/yakiimo/rev_a/readme.md
  keyboards/4pplet/yakiimo/rev_a/rev_a.c
  keyboards/4pplet/yakiimo/rev_a/rev_a.h
  keyboards/4pplet/yakiimo/rev_a/rules.mk
Labels: keyboard, keymap, via

#16771 Littlefoot lx dev
  keyboards/tominabox1/littlefoot_lx/keymaps/default/keymap.c
  keyboards/tominabox1/littlefoot_lx/keymaps/via/keymap.c
  keyboards/tominabox1/littlefoot_lx/keymaps/via/rules.mk
  keyboards/tominabox1/littlefoot_lx/readme.md
  keyboards/tominabox1/littlefoot_lx/rev1/config.h
  keyboards/tominabox1/littlefoot_lx/rev1/info.json
  keyboards/tominabox1/littlefoot_lx/rev1/rev1.c
  keyboards/tominabox1/littlefoot_lx/rev1/rev1.h
  keyboards/tominabox1/littlefoot_lx/rev1/rules.mk
  keyboards/tominabox1/littlefoot_lx/rev2/config.h
  keyboards/tominabox1/littlefoot_lx/rev2/info.json
  keyboards/tominabox1/littlefoot_lx/rev2/rev2.c
  keyboards/tominabox1/littlefoot_lx/rev2/rev2.h
  keyboards/tominabox1/littlefoot_lx/rev2/rules.mk
  keyboards/tominabox1/littlefoot_lx/rules.mk
Labels: keyboard, keymap, via

#16885 Adding ano keyboard
  keyboards/ano/ano.c
  keyboards/ano/ano.h
  keyboards/ano/config.h
  keyboards/ano/info.json
  keyboards/ano/keymaps/default/keymap.c
  keyboards/ano/readme.md
  keyboards/ano/rules.mk
Labels: keyboard, keymap

#17033 [keyboard] remove handwired/reddot as per #14211
  keyboards/handwired/reddot/config.h
  keyboards/handwired/reddot/info.json
  keyboards/handwired/reddot/keymaps/default/keymap.c
  keyboards/handwired/reddot/keymaps/default/readme.md
  keyboards/handwired/reddot/readme.md
  keyboards/handwired/reddot/reddot.c
  keyboards/handwired/reddot/reddot.h
  keyboards/handwired/reddot/rules.mk
Labels: keyboard, keymap

#16917 [Keyboard] Revert "Fix id67 RGB Matrix (#16916)" - on IDOBAO ID67 kb
  keyboards/idobao/id67/config.h
  keyboards/idobao/id67/id67.c
  keyboards/idobao/id67/info.json
  keyboards/idobao/id67/keymaps/default_nug/config.h
  keyboards/idobao/id67/keymaps/default_nug/keymap.c
  keyboards/idobao/id67/keymaps/thewerther/config.h
  keyboards/idobao/id67/keymaps/via/config.h
  keyboards/idobao/id67/keymaps/via_nug/config.h
  keyboards/idobao/id67/keymaps/via_nug/keymap.c
  keyboards/idobao/id67/keymaps/via_nug/rules.mk
  keyboards/idobao/id67/keymaps/vinorodrigues/config.h
  keyboards/idobao/id67/keymaps/vinorodrigues/keymap.c
  keyboards/idobao/id67/post_rules.mk
  keyboards/idobao/id67/readme.md
  keyboards/idobao/id67/rules.mk
Labels: keyboard, keymap, via

#16807 Added new keyboard Black E6.5
  keyboards/horrortroll/chinese_pcb/black_e65/black_e65.c
  keyboards/horrortroll/chinese_pcb/black_e65/black_e65.h
  keyboards/horrortroll/chinese_pcb/black_e65/config.h
  keyboards/horrortroll/chinese_pcb/black_e65/info.json
  keyboards/horrortroll/chinese_pcb/black_e65/keymaps/default/keymap.c
  keyboards/horrortroll/chinese_pcb/black_e65/keymaps/default/readme.md
  keyboards/horrortroll/chinese_pcb/black_e65/keymaps/via/config.h
  keyboards/horrortroll/chinese_pcb/black_e65/keymaps/via/keymap.c
  keyboards/horrortroll/chinese_pcb/black_e65/keymaps/via/readme.md
  keyboards/horrortroll/chinese_pcb/black_e65/keymaps/via/rules.mk
  keyboards/horrortroll/chinese_pcb/black_e65/readme.md
  keyboards/horrortroll/chinese_pcb/black_e65/rules.mk
  keyboards/horrortroll/chinese_pcb/readme.md
  keyboards/horrortroll/readme.md
Labels: keyboard, keymap, via

#17055 [Keyboard] New Keyboard - Mokulua
  keyboards/mechwild/mokulua/info.json
  keyboards/mechwild/mokulua/lib/mokulua.c
  keyboards/mechwild/mokulua/mirrored/config.h
  keyboards/mechwild/mokulua/mirrored/keymaps/default/keymap.c
  keyboards/mechwild/mokulua/mirrored/keymaps/default/readme.md
  keyboards/mechwild/mokulua/mirrored/keymaps/via/keymap.c
  keyboards/mechwild/mokulua/mirrored/keymaps/via/readme.md
  keyboards/mechwild/mokulua/mirrored/keymaps/via/rules.mk
  keyboards/mechwild/mokulua/mirrored/mirrored.c
  keyboards/mechwild/mokulua/mirrored/mirrored.h
  keyboards/mechwild/mokulua/mirrored/rules.mk
  keyboards/mechwild/mokulua/readme.md
  keyboards/mechwild/mokulua/rules.mk
  keyboards/mechwild/mokulua/standard/config.h
  keyboards/mechwild/mokulua/standard/keymaps/default/keymap.c
  keyboards/mechwild/mokulua/standard/keymaps/default/readme.md
  keyboards/mechwild/mokulua/standard/keymaps/silly/config.h
  keyboards/mechwild/mokulua/standard/keymaps/silly/keymap.c
  keyboards/mechwild/mokulua/standard/keymaps/silly/readme.md
  keyboards/mechwild/mokulua/standard/keymaps/silly/rules.mk
  keyboards/mechwild/mokulua/standard/keymaps/via/keymap.c
  keyboards/mechwild/mokulua/standard/keymaps/via/readme.md
  keyboards/mechwild/mokulua/standard/keymaps/via/rules.mk
  keyboards/mechwild/mokulua/standard/rules.mk
  keyboards/mechwild/mokulua/standard/standard.c
  keyboards/mechwild/mokulua/standard/standard.h
Labels: keyboard, keymap, via

#17067 Fixup 4pplet/yakiimo
  keyboards/4pplet/yakiimo/keymaps/default/keymap.c
Labels: keymap

#17061 Move M63 RGB into maker folder
  keyboards/horrortroll/chinese_pcb/readme.md
  keyboards/mss_studio/m63_rgb/config.h
  keyboards/mss_studio/m63_rgb/info.json
  keyboards/mss_studio/m63_rgb/keymaps/default/keymap.c
  keyboards/mss_studio/m63_rgb/keymaps/default/readme.md
  keyboards/mss_studio/m63_rgb/keymaps/via/config.h
  keyboards/mss_studio/m63_rgb/keymaps/via/keymap.c
  keyboards/mss_studio/m63_rgb/keymaps/via/readme.md
  keyboards/mss_studio/m63_rgb/keymaps/via/rules.mk
  keyboards/mss_studio/m63_rgb/m63_rgb.c
  keyboards/mss_studio/m63_rgb/m63_rgb.h
  keyboards/mss_studio/m63_rgb/readme.md
  keyboards/mss_studio/m63_rgb/rules.mk
Labels: keyboard, keymap, via

#17066 KBIC65 Refactor
  keyboards/karlb/kbic65/info.json
  keyboards/karlb/kbic65/kbic65.h
  keyboards/karlb/kbic65/keymaps/default/keymap.c
  keyboards/karlb/kbic65/keymaps/default_iso/keymap.c
  keyboards/karlb/kbic65/keymaps/default_iso/readme.md
  keyboards/karlb/kbic65/keymaps/default_iso_split_bs/keymap.c
  keyboards/karlb/kbic65/keymaps/default_iso_split_bs/readme.md
  keyboards/karlb/kbic65/keymaps/iso/keymap.c
  keyboards/karlb/kbic65/keymaps/iso_full/keymap.c
  keyboards/karlb/kbic65/keymaps/via/keymap.c
  keyboards/karlb/kbic65/rules.mk
Labels: enhancement, keyboard, keymap, via

#17072 65_iso_split_bs Community Layout Keymap Bugfix
  layouts/default/65_iso_split_bs/default_65_iso_split_bs/keymap.c
Labels: bug, keymap

#17074 Updated Cirque Pinnacle SPI driver to read data correctly.
  drivers/sensors/cirque_pinnacle_spi.c
Labels: bug, core

#17075 Add caps and num indicators to Balance keyboard
  keyboards/cannonkeys/balance/config.h
Labels: keyboard

#16999 H60 updates
  keyboards/hineybush/h60/config.h
  keyboards/hineybush/h60/keymaps/via/keymap.c
  keyboards/hineybush/h60/rules.mk
Labels: keyboard, keymap, via

#17070 Fixed info.json issue, some key got wrong pos for Gas75
  keyboards/ml/gas75/info.json
Labels: keyboard

#17031 Add new keyboard "Spreadwriter"
  keyboards/takashicompany/spreadwriter/config.h
  keyboards/takashicompany/spreadwriter/info.json
  keyboards/takashicompany/spreadwriter/keymaps/default/keymap.c
  keyboards/takashicompany/spreadwriter/keymaps/via/config.h
  keyboards/takashicompany/spreadwriter/keymaps/via/keymap.c
  keyboards/takashicompany/spreadwriter/keymaps/via/rules.mk
  keyboards/takashicompany/spreadwriter/readme.md
  keyboards/takashicompany/spreadwriter/rules.mk
Labels: keyboard, keymap, via

#15990 [Core] Add Reboot keycode to core
  docs/keycodes.md
  docs/quantum_keycodes.md
  keyboards/handwired/onekey/keymaps/reboot/keymap.c
  platforms/arm_atsam/bootloaders/md_boot.c
  platforms/avr/bootloaders/bootloadhid.c
  platforms/avr/bootloaders/caterina.c
  platforms/avr/bootloaders/custom.c
  platforms/avr/bootloaders/dfu.c
  platforms/avr/bootloaders/halfkay.c
  platforms/avr/bootloaders/usbasploader.c
  platforms/bootloader.h
  platforms/chibios/boards/STM32_F103_STM32DUINO/board/board.c
  platforms/chibios/boards/STM32_F103_STM32DUINO/configs/config.h
  platforms/chibios/bootloaders/custom.c
  platforms/chibios/bootloaders/gd32v_dfu.c
  platforms/chibios/bootloaders/halfkay.c
  platforms/chibios/bootloaders/kiibohd.c
  platforms/chibios/bootloaders/stm32_dfu.c
  platforms/chibios/bootloaders/stm32duino.c
  platforms/chibios/bootloaders/tinyuf2.c
  platforms/chibios/bootloaders/wb32_dfu.c
  platforms/test/bootloaders/none.c
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
Labels: core, keymap, documentation, breaking_change_2022q2

#16951 Fix kinetic mouse mode
  quantum/mousekey.c
Labels: core, breaking_change_2022q2

#16588 [Core] Add Caps Word feature to core
  builddefs/generic_features.mk
  builddefs/show_options.mk
  data/mappings/info_config.json
  data/mappings/info_rules.json
  data/schemas/keyboard.jsonschema
  docs/_summary.md
  docs/feature_caps_word.md
  docs/keycodes.md
  quantum/caps_word.c
  quantum/caps_word.h
  quantum/keyboard.c
  quantum/process_keycode/process_caps_word.c
  quantum/process_keycode/process_caps_word.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
  tests/caps_word/config.h
  tests/caps_word/test.mk
  tests/caps_word/test_caps_word.cpp
Labels: core, documentation, breaking_change_2022q2

#17082 F13 TKL with Split Backspace and Split Right Shift Community Layouts
  layouts/default/readme.md
  layouts/default/tkl_f13_ansi_split_bs_rshift/default_tkl_f13_ansi_split_bs_rshift/keymap.c
  layouts/default/tkl_f13_ansi_split_bs_rshift/info.json
  layouts/default/tkl_f13_ansi_split_bs_rshift/layout.json
  layouts/default/tkl_f13_ansi_split_bs_rshift/readme.md
  layouts/default/tkl_f13_ansi_tsangan_split_bs_rshift/default_tkl_f13_ansi_tsangan_split_bs_rshift/keymap.c
  layouts/default/tkl_f13_ansi_tsangan_split_bs_rshift/info.json
  layouts/default/tkl_f13_ansi_tsangan_split_bs_rshift/layout.json
  layouts/default/tkl_f13_ansi_tsangan_split_bs_rshift/readme.md
  layouts/default/tkl_f13_iso_split_bs_rshift/default_tkl_f13_iso_split_bs_rshift/keymap.c
  layouts/default/tkl_f13_iso_split_bs_rshift/info.json
  layouts/default/tkl_f13_iso_split_bs_rshift/layout.json
  layouts/default/tkl_f13_iso_split_bs_rshift/readme.md
  layouts/default/tkl_f13_iso_tsangan_split_bs_rshift/default_tkl_f13_iso_tsangan_split_bs_rshift/keymap.c
  layouts/default/tkl_f13_iso_tsangan_split_bs_rshift/info.json
  layouts/default/tkl_f13_iso_tsangan_split_bs_rshift/layout.json
  layouts/default/tkl_f13_iso_tsangan_split_bs_rshift/readme.md
Labels: enhancement, keymap

#17095 Revert "Fix kinetic mouse mode (#16951)"
  quantum/mousekey.c
Labels: bug, core

#17093 Clickety Split Leeloo: QMK Configurator Fixes
  keyboards/clickety_split/leeloo/info.json
Labels: enhancement, keyboard

#17092 Avalanche: add QMK Configurator data
  keyboards/avalanche/v1/info.json
  keyboards/avalanche/v2/info.json
  keyboards/avalanche/v3/info.json
Labels: enhancement, keyboard

#17080 Axolstudio Foundation Gamma: Community Layout Support
  keyboards/axolstudio/foundation_gamma/foundation_gamma.h
  keyboards/axolstudio/foundation_gamma/info.json
  keyboards/axolstudio/foundation_gamma/keymaps/default/keymap.c
  keyboards/axolstudio/foundation_gamma/keymaps/via/keymap.c
  keyboards/axolstudio/foundation_gamma/rules.mk
Labels: enhancement, keyboard, keymap, via

#17090 Eason Capsule65 Community Layout Support
  keyboards/eason/capsule65/capsule65.h
  keyboards/eason/capsule65/info.json
  keyboards/eason/capsule65/keymaps/default/keymap.c
  keyboards/eason/capsule65/keymaps/via/keymap.c
  keyboards/eason/capsule65/rules.mk
Labels: enhancement, keyboard, keymap, via

#16958 Enhancement and fixes of "Secure" feature
  quantum/process_keycode/process_secure.c
  quantum/quantum.c
  quantum/quantum_keycodes.h
  quantum/secure.c
  quantum/secure.h
  tests/secure/config.h
  tests/secure/test.mk
  tests/secure/test_secure.cpp
Labels: bug, enhancement, core, breaking_change_2022q2

#15169 Fix anchors with <code> in table of content
  docs/index.html
Labels: documentation

#16974 [Core] Check for ongoing transfers on the OUT endpoint
  tmk_core/protocol/chibios/usb_driver.c
Labels: bug, core

#15657 [Feature] Add support for multiple switchs/solenoids to Haptic Feedback engine
  docs/feature_haptic_feedback.md
  drivers/haptic/solenoid.c
  drivers/haptic/solenoid.h
  keyboards/handwired/onekey/blackpill_f411/config.h
  keyboards/handwired/onekey/keymaps/haptic/keymap.c
  keyboards/handwired/onekey/keymaps/haptic/rules.mk
  quantum/haptic.c
Labels: core, keyboard, keymap, documentation, breaking_change_2022q2

#16728 Data driven `g_led_config`
  builddefs/build_keyboard.mk
  data/schemas/keyboard.jsonschema
  lib/python/qmk/c_parse.py
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/generate/keyboard_c.py
  lib/python/qmk/info.py
  lib/python/qmk/json_encoders.py
Labels: python, cli, breaking_change_2022q2

#17104 Various fixes for g_led_config lint warnings
  keyboards/aleblazer/zodiark/zodiark.c
  keyboards/ferris/0_2/bling/bling.c
  keyboards/horrortroll/handwired_k552/handwired_k552.c
  keyboards/kbdfans/kbd75rgb/kbd75rgb.c
  keyboards/ml/gas75/gas75.c
  keyboards/mwstudio/mw75r2/mw75r2.c
  keyboards/rgbkb/mun/rev1/rev1.c
Labels: bug, keyboard

#17106 Warn about LTO with arm_atsam, not ChibiOS.
  builddefs/common_rules.mk
Labels: core, breaking_change_2022q2

#17107 fix tiger80 matrix error
  keyboards/kbdfans/tiger80/tiger80.h
Labels: bug, keyboard

#17113 DigiCarpice Configurator Rendering Fix
  keyboards/handwired/swiftrax/digicarpice/info.json
Labels: enhancement, keyboard

#17009 [Keyboard] Fix compilation issues for Quark LP
  keyboards/checkerboards/quark_lp/config.h
  keyboards/checkerboards/quark_lp/quark_lp.c
  keyboards/checkerboards/quark_lp/rules.mk
Labels: keyboard

#17117 [Keyboard] Fix too many elements in g_led_config for quark_lp
  keyboards/checkerboards/quark_lp/quark_lp.c
Labels: keyboard

#16948 Add Iron165R2 PCB support
  keyboards/smithrune/iron165r2/config.h
  keyboards/smithrune/iron165r2/f072/config.h
  keyboards/smithrune/iron165r2/f072/halconf.h
  keyboards/smithrune/iron165r2/f072/mcuconf.h
  keyboards/smithrune/iron165r2/f072/rules.mk
  keyboards/smithrune/iron165r2/f411/config.h
  keyboards/smithrune/iron165r2/f411/halconf.h
  keyboards/smithrune/iron165r2/f411/mcuconf.h
  keyboards/smithrune/iron165r2/f411/rules.mk
  keyboards/smithrune/iron165r2/iron165r2.c
  keyboards/smithrune/iron165r2/iron165r2.h
  keyboards/smithrune/iron165r2/keymaps/default/keymap.c
  keyboards/smithrune/iron165r2/keymaps/via/keymap.c
  keyboards/smithrune/iron165r2/keymaps/via/rules.mk
  keyboards/smithrune/iron165r2/readme.md
  keyboards/smithrune/iron165r2/rules.mk
  keyboards/smithrune/iron180/config.h
  keyboards/smithrune/iron180/halconf.h
  keyboards/smithrune/iron180/info.json
  keyboards/smithrune/iron180/iron180.c
  keyboards/smithrune/iron180/iron180.h
  keyboards/smithrune/iron180/keymaps/default/keymap.c
  keyboards/smithrune/iron180/keymaps/via/keymap.c
  keyboards/smithrune/iron180/keymaps/via/rules.mk
  keyboards/smithrune/iron180/mcuconf.h
  keyboards/smithrune/iron180/readme.md
  keyboards/smithrune/iron180/rules.mk
Labels: keyboard, keymap, via

#17110 LED index correction
  keyboards/machkeyboards/mach3/mach3.c
Labels: keyboard

#17109 LED index correction
  keyboards/latincompass/latinpad/latinpad.c
Labels: keyboard

#17108 LED index correction
  keyboards/boardsource/lulu/lulu.c
Labels: keyboard

#17081 Fixed Gas75 info.json and keymap for M64 RGB
  keyboards/ml/gas75/info.json
  keyboards/mss_studio/m64_rgb/keymaps/default/keymap.c
  keyboards/mss_studio/m64_rgb/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#17123 [Bug] Fix old i2c pin definitions
  keyboards/xelus/pachi/rgb/rev1/config.h
  keyboards/xelus/pachi/rgb/rev2/config.h
Labels: bug, keyboard

#17116 Adding VIA support for bfo-9000
  keyboards/keebio/bfo9000/keymaps/via/keymap.c
  keyboards/keebio/bfo9000/keymaps/via/rules.mk
Labels: keymap, via

#17122 Fix bad link in PR checklist
  docs/pr_checklist.md
Labels: documentation

#17112 Frooastside Walnut Community Layout Support
  keyboards/frooastboard/walnut/info.json
  keyboards/frooastboard/walnut/keymaps/default_ansi/keymap.c
  keyboards/frooastboard/walnut/keymaps/default_iso/keymap.c
Labels: enhancement, keyboard, keymap

#17130 Keymap FAQ updates
  docs/faq_keymap.md
Labels: documentation

#17133 Recommend pillow as part of manual MSYS install
  docs/newbs_getting_started.md
Labels: documentation

#17136 Workaround for recent -Werror=array-bounds AVR issues
  platforms/avr/platform.mk
Labels: bug, core

#16966 Update mtei's keymap (helix/rev2:five_rows, helix/pico:mtei, helix/rev3_5rows:five_rows)
  keyboards/helix/pico/keymaps/mtei/config.h
  keyboards/helix/pico/keymaps/mtei/keymap.c
  keyboards/helix/rev2/keymaps/five_rows/config.h
  keyboards/helix/rev2/keymaps/five_rows/keymap.c
  keyboards/helix/rev2/keymaps/five_rows/layer_number.h
  keyboards/helix/rev2/keymaps/five_rows/matrix_output_unselect_delay.c
  keyboards/helix/rev2/keymaps/five_rows/rules.mk
  keyboards/helix/rev3_5rows/keymaps/five_rows/config.h
  keyboards/helix/rev3_5rows/keymaps/five_rows/keymap.c
  keyboards/helix/rev3_5rows/keymaps/five_rows/layer_number.h
  keyboards/helix/rev3_5rows/keymaps/five_rows/matrix_output_unselect_delay.c
  keyboards/helix/rev3_5rows/keymaps/five_rows/rules.mk
  users/mtei/config.h
  users/mtei/cpp_map.h
  users/mtei/debug_config.h
  users/mtei/encoder_update_user.c
  users/mtei/key_blocks.h
  users/mtei/layer_number_util.h
  users/mtei/matrix_output_unselect_delay_ondemand.c
  users/mtei/oled_display.c
  users/mtei/rules.mk
  users/mtei/user_featues.mk
  users/mtei/user_options.mk
Labels: keymap

#17043 Fix platforms/avr/drivers/ws2812.c
  platforms/avr/drivers/ws2812.c
Labels: bug, core

#17132 Hineybush Ibis Layout Additions and Configurator Rendering Update
  keyboards/hineybush/ibis/info.json
  keyboards/hineybush/ibis/keymaps/default_ansi_all/keymap.c
  keyboards/hineybush/ibis/keymaps/default_iso_all/keymap.c
Labels: enhancement, keyboard, keymap

#17149 KBDfans Tiger80 Community Layout Support and Keymap Touch-Up
  keyboards/kbdfans/tiger80/info.json
  keyboards/kbdfans/tiger80/keymaps/default/keymap.c
  keyboards/kbdfans/tiger80/keymaps/via/keymap.c
  keyboards/kbdfans/tiger80/rules.mk
  keyboards/kbdfans/tiger80/tiger80.h
Labels: enhancement, keyboard, keymap, via

#17156 [Core] Bug fix: Continue Caps Word when AltGr (right Alt) is held.
  quantum/process_keycode/process_caps_word.c
  tests/caps_word/test_caps_word.cpp
Labels: bug, core, breaking_change_2022q2

#16644 Add new keyboard "miniZone"
  keyboards/takashicompany/minizone/config.h
  keyboards/takashicompany/minizone/info.json
  keyboards/takashicompany/minizone/keymaps/default/keymap.c
  keyboards/takashicompany/minizone/keymaps/via/config.h
  keyboards/takashicompany/minizone/keymaps/via/keymap.c
  keyboards/takashicompany/minizone/keymaps/via/rules.mk
  keyboards/takashicompany/minizone/minizone.c
  keyboards/takashicompany/minizone/minizone.h
  keyboards/takashicompany/minizone/readme.md
  keyboards/takashicompany/minizone/rules.mk
Labels: keyboard, keymap, via

#17088 add new keyboard rad
  keyboards/rad/config.h
  keyboards/rad/info.json
  keyboards/rad/keymaps/default/keymap.c
  keyboards/rad/keymaps/default/readme.md
  keyboards/rad/keymaps/via/keymap.c
  keyboards/rad/keymaps/via/rules.mk
  keyboards/rad/rad.c
  keyboards/rad/rad.h
  keyboards/rad/readme.md
  keyboards/rad/rules.mk
Labels: keyboard, keymap, via

#17102 Add Eu isolation Keyboard support
  keyboards/eu_isolation/config.h
  keyboards/eu_isolation/eu_isolation.c
  keyboards/eu_isolation/eu_isolation.h
  keyboards/eu_isolation/info.json
  keyboards/eu_isolation/keymaps/bigspace/config.h
  keyboards/eu_isolation/keymaps/bigspace/keymap.c
  keyboards/eu_isolation/keymaps/bigspace/readme.md
  keyboards/eu_isolation/keymaps/bigspace/rules.mk
  keyboards/eu_isolation/keymaps/default/config.h
  keyboards/eu_isolation/keymaps/default/keymap.c
  keyboards/eu_isolation/keymaps/default/readme.md
  keyboards/eu_isolation/keymaps/default/rules.mk
  keyboards/eu_isolation/keymaps/mit/config.h
  keyboards/eu_isolation/keymaps/mit/keymap.c
  keyboards/eu_isolation/keymaps/mit/readme.md
  keyboards/eu_isolation/keymaps/mit/rules.mk
  keyboards/eu_isolation/readme.md
  keyboards/eu_isolation/rules.mk
Labels: keyboard, keymap

#17118 [Keyboard] launch_1 LED index correction
  keyboards/system76/launch_1/launch_1.c
Labels: keyboard

#17120 [Keyboard] 0xc_pad LED index correction
  keyboards/s_ol/0xc_pad/0xc_pad.c
Labels: keyboard

#17155 Update Steno Keycode Table
  docs/feature_stenography.md
Labels: documentation

#17139 [Keyboard] rskeys100 LED index correction
  keyboards/ryanskidmore/rskeys100/config.h
Labels: keyboard

#17126 Removing EEPROM as the default for MechWild OBE and Waka60
  keyboards/mechwild/obe/config.h
  keyboards/mechwild/obe/f401/eeprom/config.h
  keyboards/mechwild/obe/f401/eeprom/halconf.h
  keyboards/mechwild/obe/f401/eeprom/mcuconf.h
  keyboards/mechwild/obe/f401/eeprom/rules.mk
  keyboards/mechwild/obe/f411/eeprom/config.h
  keyboards/mechwild/obe/f411/eeprom/halconf.h
  keyboards/mechwild/obe/f411/eeprom/mcuconf.h
  keyboards/mechwild/obe/f411/eeprom/rules.mk
  keyboards/mechwild/obe/obe.h
  keyboards/mechwild/obe/rules.mk
  keyboards/mechwild/waka60/config.h
  keyboards/mechwild/waka60/f401/eeprom/config.h
  keyboards/mechwild/waka60/f401/eeprom/halconf.h
  keyboards/mechwild/waka60/f401/eeprom/mcuconf.h
  keyboards/mechwild/waka60/f401/eeprom/rules.mk
  keyboards/mechwild/waka60/f411/eeprom/config.h
  keyboards/mechwild/waka60/f411/eeprom/halconf.h
  keyboards/mechwild/waka60/f411/eeprom/mcuconf.h
  keyboards/mechwild/waka60/f411/eeprom/rules.mk
  keyboards/mechwild/waka60/rules.mk
Labels: keyboard

#17138 [Keyboard] yeti LED index correction
  keyboards/axolstudio/yeti/hotswap/hotswap.c
Labels: keyboard

#17140 Align LED Matrix docs with RGB matrix docs
  docs/feature_led_matrix.md
Labels: documentation

#17171 Small Markdown Patch for docs/feature_rgb_matrix.md
  docs/feature_rgb_matrix.md
Labels: documentation

#17169 Dailycraft Sandbox Configurator Data
  keyboards/dailycraft/sandbox/rev1/info.json
  keyboards/dailycraft/sandbox/rev2/info.json
Labels: enhancement, keyboard

#17159 Ryan Skidmore rskeys100 Community Layout Support
  keyboards/ryanskidmore/rskeys100/info.json
  keyboards/ryanskidmore/rskeys100/keymaps/default/keymap.c
  keyboards/ryanskidmore/rskeys100/rskeys100.h
  keyboards/ryanskidmore/rskeys100/rules.mk
Labels: enhancement, keyboard, keymap

#17158 PJB Eros Community Layout Support
  keyboards/pjb/eros/eros.h
  keyboards/pjb/eros/info.json
  keyboards/pjb/eros/keymaps/default/keymap.c
  keyboards/pjb/eros/keymaps/via/keymap.c
  keyboards/pjb/eros/rules.mk
Labels: enhancement, keyboard, keymap, via

#16552 Added Cantor keyboard
  keyboards/cantor/config.h
  keyboards/cantor/halconf.h
  keyboards/cantor/info.json
  keyboards/cantor/keymaps/default/keymap.c
  keyboards/cantor/mcuconf.h
  keyboards/cantor/readme.md
  keyboards/cantor/rules.mk
Labels: keyboard, keymap

#17173 Add massdrop/alt:charlesrocket keymap
  keyboards/massdrop/alt/keymaps/charlesrocket/keymap.c
Labels: keymap

#17179 Atreus62update
  keyboards/atreus62/keymaps/xyverz/keymap.c
  keyboards/atreus62/keymaps/xyverz/readme.md
Labels: keymap

#17194 mj64 LED count correction
  keyboards/melgeek/mj64/rev1/config.h
Labels: keyboard

#17191 Add Plywrks Ahgase
  keyboards/plywrks/ahgase/ahgase.c
  keyboards/plywrks/ahgase/ahgase.h
  keyboards/plywrks/ahgase/config.h
  keyboards/plywrks/ahgase/info.json
  keyboards/plywrks/ahgase/keymaps/default/keymap.c
  keyboards/plywrks/ahgase/keymaps/iso/keymap.c
  keyboards/plywrks/ahgase/keymaps/via/keymap.c
  keyboards/plywrks/ahgase/keymaps/via/rules.mk
  keyboards/plywrks/ahgase/readme.md
  keyboards/plywrks/ahgase/rules.mk
Labels: keyboard, keymap, via

#17185 [Fix] Change default keymap tilde to grv
  keyboards/xelus/valor/rev2/keymaps/default/keymap.c
  keyboards/xelus/valor/rev2/keymaps/via/keymap.c
Labels: keymap, via

#17204 SkeletonNumPad Configurator Key Sequence Fix
  keyboards/skeletonkbd/skeletonnumpad/info.json
Labels: enhancement, keyboard

#17188 [Keyboard] Small update to Symmetric70 keyboard readme
  keyboards/handwired/symmetric70_proto/matrix_debug/readme.md
  keyboards/handwired/symmetric70_proto/matrix_fast/readme.md
Labels: keyboard

#17150 Refactor legacy quantum keycodes in default-ish keymaps
  keyboards/ferris/keymaps/default/keymap.json
  keyboards/handwired/dactyl_manuform/5x6_2_5/keymaps/default/keymap.json
  keyboards/handwired/dactyl_manuform/5x6_5/keymaps/default/keymap.json
  keyboards/handwired/hillside/0_1/keymaps/default/keymap.json
  keyboards/handwired/pterodactyl/keymaps/default/keymap.json
  keyboards/hineybush/ibis/keymaps/default_ansi_all/keymap.c
  keyboards/hineybush/ibis/keymaps/default_iso_all/keymap.c
  keyboards/smithrune/iron165r2/keymaps/default/keymap.c
  keyboards/smithrune/iron165r2/keymaps/via/keymap.c
  keyboards/takashicompany/minizone/keymaps/default/keymap.c
  keyboards/takashicompany/minizone/keymaps/via/keymap.c
Labels: keymap, via, breaking_change_2022q2

#17221 Breaking changes for 2022q2.
  docs/ChangeLog/20220528.md
  docs/breaking_changes.md
  docs/feature_encoders.md
Labels: documentation

#17227 Fixup command sequencing for master/develop.
  docs/breaking_changes.md
Labels: documentation

#17119 Fixup iron165r2
  keyboards/smithrune/iron165r2/f072/rules.mk
  keyboards/smithrune/iron165r2/f411/rules.mk
  keyboards/smithrune/iron165r2/readme.md
  keyboards/smithrune/iron165r2/rules.mk
Labels: keyboard

#17233 Fix quark_lp via firmware size
  keyboards/checkerboards/quark_lp/keymaps/via/rules.mk
Labels: bug, keymap, via

#17242 Use correct container for unit test workflow
  .github/workflows/unit_test.yml
Labels: CI

#17239 Fix API errors
  keyboards/handwired/dactyl_manuform/3x5_3/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/3x5_3/rules.mk
  keyboards/keebio/bamfk1/keymaps/default/rules.mk
  keyboards/keebio/bamfk1/rules.mk
Labels: keyboard, keymap

#17230 [userspace] Update keymap/userspace to QK_BOOT and try out DVVORAK
  keyboards/keebio/iris/keymaps/sethBarberee/keymap.c
  keyboards/keebio/sinc/keymaps/sethBarberee/keymap.c
  keyboards/wilba_tech/zeal60/keymaps/sethBarberee/keymap.c
  users/sethBarberee/config.h
  users/sethBarberee/rgb_light.c
  users/sethBarberee/sethBarberee.c
  users/sethBarberee/sethBarberee.h
  users/sethBarberee/wrappers.h
Labels: keymap

#17249 [Keymap] Update personal keymap layouts/community/ortho_4x12/junonum
  layouts/community/ortho_4x12/junonum/config.h
  layouts/community/ortho_4x12/junonum/keymap.c
  layouts/community/ortho_4x12/junonum/readme.md
Labels: keymap

#17097 Add str.merro60 pcb firmware
  keyboards/chlx/str_merro60/config.h
  keyboards/chlx/str_merro60/info.json
  keyboards/chlx/str_merro60/keymaps/ansi/keymap.c
  keyboards/chlx/str_merro60/keymaps/default/keymap.c
  keyboards/chlx/str_merro60/keymaps/hhkb/keymap.c
  keyboards/chlx/str_merro60/keymaps/iso/keymap.c
  keyboards/chlx/str_merro60/keymaps/tsangan/keymap.c
  keyboards/chlx/str_merro60/keymaps/via/keymap.c
  keyboards/chlx/str_merro60/keymaps/via/rules.mk
  keyboards/chlx/str_merro60/readme.md
  keyboards/chlx/str_merro60/rules.mk
  keyboards/chlx/str_merro60/str_merro60.c
  keyboards/chlx/str_merro60/str_merro60.h
Labels: keyboard, keymap, via

#17257 Add uf2-split-* make targets.
  docs/feature_split_keyboard.md
  docs/flashing.md
  lib/python/qmk/cli/flash.py
  platforms/chibios/flash.mk
Labels: core, documentation, python, cli

#17254 Fix small docs typo
  docs/flashing.md
  docs/zh-cn/flashing.md
Labels: documentation, translation

#17255 Fix various lint errors
  keyboards/axolstudio/yeti/hotswap/hotswap.c
  keyboards/phase_studio/titan65/hotswap/hotswap.c
  keyboards/signum/3_0/3_0.h
  keyboards/signum/3_0/info.json
  lib/python/qmk/c_parse.py
Labels: bug, keyboard, python, cli

#17005 Convert ergodone to use core mcp23018 driver
  keyboards/ktec/ergodone/config.h
  keyboards/ktec/ergodone/ergodone.c
  keyboards/ktec/ergodone/ergodone.h
  keyboards/ktec/ergodone/ergodox_compat.h
  keyboards/ktec/ergodone/expander.c
  keyboards/ktec/ergodone/expander.h
  keyboards/ktec/ergodone/info.json
  keyboards/ktec/ergodone/keymaps/default/keymap.c
  keyboards/ktec/ergodone/keymaps/via/config.h
  keyboards/ktec/ergodone/keymaps/via/readme.md
  keyboards/ktec/ergodone/matrix.c
  keyboards/ktec/ergodone/rules.mk
Labels: keyboard, keymap, via

#17243 Nix shell updates
  shell.nix
  util/nix/poetry.lock
  util/nix/pyproject.toml
  util/nix/sources.json
Labels: core

#17262 Change AW20216 SPI Mode from 0 to 3, to fix RGB LEDs on GMMK Pro
  drivers/led/aw20216.c
Labels: bug, core

#17241 [Keymap] Drashna update for post Q2 merge
  keyboards/40percentclub/nano/keymaps/drashna/keymap.c
  keyboards/bastardkb/charybdis/3x5/keymaps/drashna/chconf.h
  keyboards/bastardkb/charybdis/3x5/keymaps/drashna/config.h
  keyboards/bastardkb/charybdis/3x5/keymaps/drashna/keymap.c
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/chconf.h
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/config.h
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/keymap.c
  keyboards/gboards/gergo/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/4x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/5x6_right/f411/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/f411/f411.c
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/rules.mk
  keyboards/keebio/iris/keymaps/drashna/keymap.c
  keyboards/keebio/viterbi/keymaps/drashna/keymap.c
  keyboards/maple_computing/c39/keymaps/drashna/keymap.c
  keyboards/maple_computing/launchpad/keymaps/drashna/keymap.c
  keyboards/moonlander/keymaps/drashna/config.h
  keyboards/moonlander/keymaps/drashna/keymap.c
  keyboards/orthodox/keymaps/drashna/keymap.c
  keyboards/ploopyco/mouse/keymaps/drashna/config.h
  keyboards/ploopyco/mouse/keymaps/drashna/keymap.c
  keyboards/splitkb/kyria/keymaps/drashna/config.h
  keyboards/splitkb/kyria/keymaps/drashna/keymap.c
  keyboards/splitkb/kyria/keymaps/drashna/rules.mk
  keyboards/splitkb/zima/keymaps/drashna/keymap.c
  keyboards/work_louder/work_board/keymaps/drashna/keymap.c
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/numpad_5x6/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/keymap.c
  layouts/community/ortho_5x12/drashna/keymap.c
  layouts/community/split_3x6_3/drashna/keymap.c
  layouts/community/split_3x6_3/drashna/rules.mk
  users/drashna/autocorrect_data.h
  users/drashna/callbacks.c
  users/drashna/callbacks.h
  users/drashna/config.h
  users/drashna/keyrecords/autocorrection/autocorrection.c
  users/drashna/keyrecords/autocorrection/autocorrection.h
  users/drashna/keyrecords/autocorrection/make_autocorrection_data.py
  users/drashna/keyrecords/caps_word.c
  users/drashna/keyrecords/caps_word.h
  users/drashna/keyrecords/keycodes.md
  users/drashna/keyrecords/process_records.c
  users/drashna/keyrecords/process_records.h
  users/drashna/keyrecords/secrets.md
  users/drashna/keyrecords/unicode.c
  users/drashna/keyrecords/unicode.h
  users/drashna/oled/oled_stuff.c
  users/drashna/oled/oled_stuff.h
  users/drashna/oled/sh110x.c
  users/drashna/pointing/pointing.c
  users/drashna/rgb/rgb_matrix_stuff.c
  users/drashna/rules.mk
  users/drashna/split/transport_sync.c
  users/drashna/split/transport_sync.h
  users/drashna/template.c
  users/drashna/template.h
Labels: keyboard, keymap, python

#17263 Make SPI Mode configurable for AW20216 and change default mode to 3
  docs/feature_rgb_matrix.md
  drivers/led/aw20216.c
Labels: core, documentation

#17258 Removes terminal from QMK.
  builddefs/common_features.mk
  builddefs/show_options.mk
  docs/_summary.md
  docs/feature_terminal.md
  docs/ja/_summary.md
  docs/ja/feature_terminal.md
  docs/ja/understanding_qmk.md
  docs/understanding_qmk.md
  docs/zh-cn/_summary.md
  keyboards/40percentclub/mf68/keymaps/delivrance/rules.mk
  keyboards/ckeys/handwire_101/keymaps/default/keymap.c
  keyboards/ckeys/handwire_101/rules.mk
  keyboards/contra/keymaps/default/keymap.c
  keyboards/delikeeb/vaneela/keymaps/default/keymap.c
  keyboards/delikeeb/vaneela/keymaps/via/keymap.c
  keyboards/dm9records/plaid/keymaps/default/keymap.c
  keyboards/fractal/keymaps/default/keymap.c
  keyboards/handwired/ortho_brass/keymaps/default/keymap.c
  keyboards/handwired/riblee_f401/keymaps/default/keymap.c
  keyboards/handwired/riblee_f411/keymaps/default/keymap.c
  keyboards/handwired/rs60/keymaps/default/keymap.c
  keyboards/handwired/terminus_mini/keymaps/default/keymap.c
  keyboards/keycapsss/o4l_5x12/keymaps/default/keymap.c
  keyboards/massdrop/alt/keymaps/pregame/rules.mk
  keyboards/massdrop/ctrl/keymaps/endgame/rules.mk
  keyboards/massdrop/ctrl/keymaps/matthewrobo/rules.mk
  keyboards/massdrop/ctrl/keymaps/xanimos/rules.mk
  keyboards/mlego/m48/keymaps/default/keymap.c
  keyboards/planck/keymaps/default/keymap.c
  keyboards/planck/keymaps/roguepullrequest/rules.mk
  keyboards/planck/keymaps/rootiest/rules.mk
  keyboards/planck/keymaps/synth_sample/keymap.c
  keyboards/planck/keymaps/synth_wavetable/keymap.c
  keyboards/preonic/keymaps/default/keymap.c
  keyboards/splitkb/kyria/keymaps/j-inc/rules.mk
  keyboards/work_louder/work_board/keymaps/default/keymap.c
  quantum/process_keycode/process_terminal.c
  quantum/process_keycode/process_terminal.h
  quantum/process_keycode/process_terminal_nop.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
  quantum/quantum_keycodes_legacy.h
  users/bcat/rules.mk
Labels: core, keyboard, keymap, documentation, translation, via

#17099 Use TAP_HOLD_CAPS_DELAY for KC_LOCKING_CAPS_LOCK
  quantum/action.c
Labels: core, breaking_change_2022q3

#17111 Improve PS/2 mouse performance
  drivers/ps2/ps2.h
  drivers/ps2/ps2_interrupt.c
  drivers/ps2/ps2_mouse.c
  platforms/avr/drivers/ps2/ps2_usart.c
Labels: core, breaking_change_2022q3

#17178 Make bootloader_jump for dualbank STM32 respect STM32_BOOTLOADER_DUAL_BANK_DELAY
  docs/platformdev_chibios_earlyinit.md
  platforms/chibios/bootloaders/stm32_dfu.c
Labels: core, documentation, breaking_change_2022q3

#17209 fix dz64rgb usb suspend
  keyboards/dztech/dz64rgb/config.h
Labels: keyboard

#17211 Add trailing parens to `get_oneshot_mods` in feature_advanced_keycodes.md
  docs/feature_advanced_keycodes.md
Labels: documentation

#17278 move RESET to QK_BOOT
  keyboards/kprepublic/bm60hsrgb_poker/rev1/keymaps/carlosala/config.h
  keyboards/kprepublic/bm60hsrgb_poker/rev1/keymaps/carlosala/keymap.c
Labels: keymap

#17272 Allow larger SPLIT_USB_TIMEOUT with default SPLIT_USB_TIMEOUT_POLL
  quantum/split_common/split_util.c
Labels: core
