Repository qmk/qmk_firmware, pull requests merged in 2022-04, with the labels that each got.

#16766 Lint keyboard/project name
  data/schemas/definitions.jsonschema
  data/schemas/keyboard.jsonschema
Labels: enhancement

#16769 usb-usb converter: fix layout macros
  keyboards/converter/usb_usb/usb_usb.h
Labels: bug, keyboard

#16774 Automatically approve workflow runs from first time contributors
  .github/workflows/auto_approve.yml
Labels: enhancement, CI

#16775 Automatically approve workflow runs from first time contributors
  .github/workflows/auto_approve.yml
Labels: bug, CI

#16776 Align action workflow filenames
  .github/workflows/auto_tag.yml
  .github/workflows/format.yml
  .github/workflows/format_push.yml
Labels: CI

#16621 Refactor CTPC logic to allow future converters
  builddefs/build_keyboard.mk
  builddefs/converters.mk
  platforms/chibios/_pin_defs.h
  platforms/chibios/converters/promicro_to_proton_c/_pin_defs.h
  platforms/chibios/converters/promicro_to_proton_c/converter.mk
Labels: enhancement, core

#16637 Add frameworking for development board presets
  data/mappings/defaults.json
  data/schemas/keyboard.jsonschema
  lib/python/qmk/info.py
Labels: python, cli

#16767 fix typo in ps2 set_defaults
  drivers/ps2/ps2_mouse.h
Labels: core

#16786 Run auto approve only on qmk/qmk_firmware
  .github/workflows/auto_approve.yml
Labels: bug, CI

#16779 Hineybush H65 Layout Additions and Configurator Update
  keyboards/hineybush/h65/h65.h
  keyboards/hineybush/h65/info.json
  keyboards/hineybush/h65/keymaps/default/keymap.c
  keyboards/hineybush/h65/keymaps/via/keymap.c
  keyboards/hineybush/h65/rules.mk
Labels: enhancement, keyboard, keymap, via

#16780 Hineybush H65 Hotswap Layout Additions and Configurator Update
  keyboards/hineybush/h65_hotswap/h65_hotswap.h
  keyboards/hineybush/h65_hotswap/info.json
  keyboards/hineybush/h65_hotswap/keymaps/default/keymap.c
  keyboards/hineybush/h65_hotswap/keymaps/via/keymap.c
  keyboards/hineybush/h65_hotswap/rules.mk
Labels: enhancement, keyboard, keymap, via

#16687 add folders and capsule65
  keyboards/eason/capsule65/capsule65.c
  keyboards/eason/capsule65/capsule65.h
  keyboards/eason/capsule65/config.h
  keyboards/eason/capsule65/info.json
  keyboards/eason/capsule65/keymaps/default/keymap.c
  keyboards/eason/capsule65/keymaps/via/keymap.c
  keyboards/eason/capsule65/keymaps/via/rules.mk
  keyboards/eason/capsule65/readme.md
  keyboards/eason/capsule65/rules.mk
Labels: keyboard, keymap, via

#16801 Fix lineendings for eason/capsule65
  keyboards/eason/capsule65/config.h
  keyboards/eason/capsule65/info.json
Labels: keyboard

#16792 Cutie Club Novus Layout Macro Updates
  keyboards/cutie_club/novus/info.json
  keyboards/cutie_club/novus/keymaps/default/keymap.c
  keyboards/cutie_club/novus/keymaps/via/keymap.c
  keyboards/cutie_club/novus/novus.h
  keyboards/cutie_club/novus/rules.mk
Labels: enhancement, keyboard, keymap, via

#16798 RGBKB Sol 3 rev1: Configurator Data and Readme
  keyboards/rgbkb/sol3/readme.md
  keyboards/rgbkb/sol3/rev1/info.json
Labels: enhancement, keyboard

#16722 Add Iris Rev 6.1
  keyboards/keebio/iris/iris.h
  keyboards/keebio/iris/rev6a/config.h
  keyboards/keebio/iris/rev6a/rev6a.c
  keyboards/keebio/iris/rev6a/rev6a.h
  keyboards/keebio/iris/rev6a/rules.mk
Labels: keyboard

#16783 Add mechanism to limit available converters
  data/mappings/defaults.json
  data/mappings/info_rules.json
  data/schemas/keyboard.jsonschema
Labels: enhancement, core

#16793 QK65 Hotswap Community Layout Support
  keyboards/qwertykeys/qk65/hotswap/hotswap.h
  keyboards/qwertykeys/qk65/hotswap/info.json
  keyboards/qwertykeys/qk65/hotswap/keymaps/default/keymap.c
  keyboards/qwertykeys/qk65/hotswap/keymaps/via/keymap.c
  keyboards/qwertykeys/qk65/hotswap/rules.mk
Labels: enhancement, keyboard, keymap, via

#16796 QK65 Solder Community Layout Support
  keyboards/qwertykeys/qk65/solder/info.json
  keyboards/qwertykeys/qk65/solder/keymaps/default/keymap.c
  keyboards/qwertykeys/qk65/solder/keymaps/via/keymap.c
  keyboards/qwertykeys/qk65/solder/rules.mk
  keyboards/qwertykeys/qk65/solder/solder.h
Labels: enhancement, keyboard, keymap, via

#16806 Add bluepill/blackpill development board presets
  data/mappings/defaults.json
  data/schemas/keyboard.jsonschema
Labels: enhancement

#16788 Update info.json
  keyboards/lw67/info.json
Labels: keyboard

#16813 io_mini1800 Configurator Fixes
  keyboards/io_mini1800/info.json
Labels: enhancement, keyboard

#16180 Header file fixes for all layout macros
  keyboards/eyeohdesigns/theboulevard/theboulevard.h
Labels: keyboard

#16785 Allow new-keyboard to use development_board presets
  lib/python/qmk/cli/new/keyboard.py
Labels: enhancement, python, cli

#16717 Reduce the size of the keymap helix:fraanrosi
  keyboards/helix/rev2/keymaps/fraanrosi/rules.mk
Labels: keymap

#16825 Fix matrix scan reporting interval
  quantum/keyboard.c
Labels: core

#16827 Fixed usb read loops not reading until timeout
  tmk_core/protocol/chibios/usb_main.c
Labels: core

#16703 Change helix:froggy keymap to use split_common
  keyboards/helix/rev2/keymaps/froggy/config.h
  keyboards/helix/rev2/keymaps/froggy/keymap.c
  keyboards/helix/rev2/keymaps/froggy/rules.mk
Labels: keymap

#16830 GMMK Pro return false in encoder user.
  keyboards/gmmk/pro/ansi/keymaps/default/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/via/keymap.c
  keyboards/gmmk/pro/iso/keymaps/default/keymap.c
  keyboards/gmmk/pro/iso/keymaps/via/keymap.c
Labels: keymap, via

#16831 Fix numbering to match the correct columns
  keyboards/bastardkb/skeletyl/skeletyl.h
Labels: keyboard

#14199 Add userspace pdl and a handwired board
  keyboards/crkbd/keymaps/pdl/config.h
  keyboards/crkbd/keymaps/pdl/keymap.c
  keyboards/foostan/cornelius/keymaps/pdl/config.h
  keyboards/foostan/cornelius/keymaps/pdl/keymap.c
  keyboards/foostan/cornelius/keymaps/pdl/readme.md
  keyboards/handwired/reclined/config.h
  keyboards/handwired/reclined/info.json
  keyboards/handwired/reclined/keymaps/default/keymap.c
  keyboards/handwired/reclined/keymaps/default/readme.md
  keyboards/handwired/reclined/keymaps/pdl/config.h
  keyboards/handwired/reclined/keymaps/pdl/keymap.c
  keyboards/handwired/reclined/keymaps/pdl/rules.mk
  keyboards/handwired/reclined/readme.md
  keyboards/handwired/reclined/reclined.c
  keyboards/handwired/reclined/reclined.h
  keyboards/handwired/reclined/rules.mk
  keyboards/lets_split/keymaps/pdl/config.h
  keyboards/lets_split/keymaps/pdl/keymap.c
  keyboards/lets_split/keymaps/pdl/rules.mk
  keyboards/orthodox/keymaps/pdl/config.h
  keyboards/orthodox/keymaps/pdl/keymap.c
  keyboards/orthodox/keymaps/pdl/rules.mk
  users/pdl/pdl.c
  users/pdl/pdl.h
  users/pdl/rules.mk
Labels: keyboard, keymap

#16057 [Keyboard] Add s-ol/0xC.pad
  keyboards/s_ol/0xc_pad/0xc_pad.c
  keyboards/s_ol/0xc_pad/0xc_pad.h
  keyboards/s_ol/0xc_pad/config.h
  keyboards/s_ol/0xc_pad/info.json
  keyboards/s_ol/0xc_pad/keymaps/default/config.h
  keyboards/s_ol/0xc_pad/keymaps/default/keymap.c
  keyboards/s_ol/0xc_pad/keymaps/default/readme.md
  keyboards/s_ol/0xc_pad/keymaps/default/rgb_matrix_user.inc
  keyboards/s_ol/0xc_pad/keymaps/default/rules.mk
  keyboards/s_ol/0xc_pad/readme.md
  keyboards/s_ol/0xc_pad/rules.mk
  keyboards/s_ol/info.json
Labels: keyboard, keymap

#16103 [Keyboard] Add Synth Labs Solo keyboard
  keyboards/synthlabs/solo/config.h
  keyboards/synthlabs/solo/info.json
  keyboards/synthlabs/solo/keymaps/default/keymap.c
  keyboards/synthlabs/solo/keymaps/default/readme.md
  keyboards/synthlabs/solo/keymaps/gamepad/keymap.c
  keyboards/synthlabs/solo/keymaps/gamepad/readme.md
  keyboards/synthlabs/solo/keymaps/gamepad/rules.mk
  keyboards/synthlabs/solo/keymaps/via/keymap.c
  keyboards/synthlabs/solo/keymaps/via/rules.mk
  keyboards/synthlabs/solo/readme.md
  keyboards/synthlabs/solo/rules.mk
  keyboards/synthlabs/solo/solo.c
  keyboards/synthlabs/solo/solo.h
Labels: keyboard, keymap, via

#16531 [Keyboard] add 10k
  keyboards/handwired/10k/10k.c
  keyboards/handwired/10k/10k.h
  keyboards/handwired/10k/config.h
  keyboards/handwired/10k/info.json
  keyboards/handwired/10k/keymaps/default/keymap.c
  keyboards/handwired/10k/keymaps/via/keymap.c
  keyboards/handwired/10k/keymaps/via/rules.mk
  keyboards/handwired/10k/readme.md
  keyboards/handwired/10k/rules.mk
Labels: keyboard, keymap, via

#16645 add E80-1800 PCB
  keyboards/ebastler/e80_1800/chconf.h
  keyboards/ebastler/e80_1800/config.h
  keyboards/ebastler/e80_1800/e80_1800.c
  keyboards/ebastler/e80_1800/e80_1800.h
  keyboards/ebastler/e80_1800/halconf.h
  keyboards/ebastler/e80_1800/info.json
  keyboards/ebastler/e80_1800/keymaps/ansi_6u/keymap.c
  keyboards/ebastler/e80_1800/keymaps/ansi_7u/keymap.c
  keyboards/ebastler/e80_1800/keymaps/default/keymap.c
  keyboards/ebastler/e80_1800/keymaps/iso_6u/keymap.c
  keyboards/ebastler/e80_1800/keymaps/iso_7u/keymap.c
  keyboards/ebastler/e80_1800/keymaps/via/keymap.c
  keyboards/ebastler/e80_1800/keymaps/via/rules.mk
  keyboards/ebastler/e80_1800/mcuconf.h
  keyboards/ebastler/e80_1800/readme.md
  keyboards/ebastler/e80_1800/rules.mk
  keyboards/ebastler/readme.md
Labels: keyboard, keymap, via

#16701 add-kb-pegasus
  keyboards/pegasus/config.h
  keyboards/pegasus/info.json
  keyboards/pegasus/keymaps/default/config.h
  keyboards/pegasus/keymaps/default/keymap.c
  keyboards/pegasus/keymaps/default/readme.md
  keyboards/pegasus/keymaps/split/config.h
  keyboards/pegasus/keymaps/split/keymap.c
  keyboards/pegasus/keymaps/split/readme.md
  keyboards/pegasus/pegasus.c
  keyboards/pegasus/pegasus.h
  keyboards/pegasus/readme.md
  keyboards/pegasus/rules.mk
Labels: keyboard, keymap

#16704 Change helix:froggy_106 keymap to use split_common
  keyboards/helix/rev2/keymaps/froggy_106/config.h
  keyboards/helix/rev2/keymaps/froggy_106/keymap.c
  keyboards/helix/rev2/keymaps/froggy_106/rules.mk
Labels: keymap

#16726 Adding waffling80, TKL PCB
  keyboards/4pplet/waffling80/info.json
  keyboards/4pplet/waffling80/keymaps/default/keymap.c
  keyboards/4pplet/waffling80/keymaps/via/keymap.c
  keyboards/4pplet/waffling80/keymaps/via/rules.mk
  keyboards/4pplet/waffling80/readme.md
  keyboards/4pplet/waffling80/rev_a/config.h
  keyboards/4pplet/waffling80/rev_a/readme.md
  keyboards/4pplet/waffling80/rev_a/rev_a.c
  keyboards/4pplet/waffling80/rev_a/rev_a.h
  keyboards/4pplet/waffling80/rev_a/rules.mk
Labels: keyboard, keymap, via

#16748 fixed oled turn-off issue for crkbd:gotham
  keyboards/crkbd/keymaps/gotham/README.md
  keyboards/crkbd/keymaps/gotham/config.h
  keyboards/crkbd/keymaps/gotham/keymap.c
  keyboards/crkbd/keymaps/gotham/oled.c
Labels: keymap

#16756 Added support for Eros by PJB
  keyboards/pjb/eros/config.h
  keyboards/pjb/eros/eros.c
  keyboards/pjb/eros/eros.h
  keyboards/pjb/eros/info.json
  keyboards/pjb/eros/keymaps/default/keymap.c
  keyboards/pjb/eros/keymaps/via/keymap.c
  keyboards/pjb/eros/keymaps/via/rules.mk
  keyboards/pjb/eros/readme.md
  keyboards/pjb/eros/rules.mk
Labels: keyboard, keymap, via

#16789 Keymap: sinc/lickel: Use backlight keys in Fn Row
  keyboards/keebio/bdn9/keymaps/lickel/readme.md
  keyboards/keebio/sinc/keymaps/lickel/keymap.c
  keyboards/keebio/sinc/keymaps/lickel/readme.md
Labels: keymap

#16836 Waffling60 - minor tweak, improve default behavior of caps lock indicator.
  keyboards/4pplet/waffling60/keymaps/default/keymap.c
  keyboards/4pplet/waffling60/keymaps/via/keymap.c
  keyboards/4pplet/waffling60/rev_b/rev_b.c
  keyboards/4pplet/waffling60/rev_b/rev_b.h
  keyboards/4pplet/waffling60/rev_c/rev_c.c
  keyboards/4pplet/waffling60/rev_c/rev_c.h
Labels: keyboard, keymap, via

#16790 KBD67 Rev1 Caps Lock LED Fix
  keyboards/kbdfans/kbd67/rev1/config.h
Labels: keyboard

#16777 Fix snowe keymap after updates to QMK
  keyboards/crkbd/keymaps/snowe/config.h
  keyboards/crkbd/keymaps/snowe/keymap.c
  users/snowe/ocean_dream.h
  users/snowe/oled_setup.c
  users/snowe/snowe.h
  users/snowe/wrappers.h
Labels: keymap

#16751 [Kay65 PCB] Correct matrix
  keyboards/mechlovin/kay65/info.json
  keyboards/mechlovin/kay65/kay65.h
  keyboards/mechlovin/kay65/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#16694 add banime40 keyboard to keyboards
  keyboards/sporewoh/banime40/banime40.c
  keyboards/sporewoh/banime40/banime40.h
  keyboards/sporewoh/banime40/config.h
  keyboards/sporewoh/banime40/info.json
  keyboards/sporewoh/banime40/keymaps/default/keymap.c
  keyboards/sporewoh/banime40/keymaps/via/keymap.c
  keyboards/sporewoh/banime40/keymaps/via/rules.mk
  keyboards/sporewoh/banime40/readme.md
  keyboards/sporewoh/banime40/rules.mk
Labels: keyboard, keymap, via

#16742 add tiger80 keyboard
  keyboards/kbdfans/tiger80/config.h
  keyboards/kbdfans/tiger80/info.json
  keyboards/kbdfans/tiger80/keymaps/default/keymap.c
  keyboards/kbdfans/tiger80/keymaps/via/keymap.c
  keyboards/kbdfans/tiger80/keymaps/via/rules.mk
  keyboards/kbdfans/tiger80/readme.md
  keyboards/kbdfans/tiger80/rules.mk
  keyboards/kbdfans/tiger80/tiger80.c
  keyboards/kbdfans/tiger80/tiger80.h
Labels: keyboard, keymap, via

#15351 Add personal keymaps
  keyboards/handwired/dactyl_manuform/5x6/keymaps/thattolleyguy/config.h
  keyboards/handwired/dactyl_manuform/5x6/keymaps/thattolleyguy/keymap.c
  keyboards/handwired/dactyl_manuform/5x6/keymaps/thattolleyguy/rules.mk
  keyboards/keebio/iris/keymaps/thattolleyguy/config.h
  keyboards/keebio/iris/keymaps/thattolleyguy/keymap.c
  keyboards/keebio/iris/keymaps/thattolleyguy/rules.mk
  keyboards/redox/keymaps/thattolleyguy/config.h
  keyboards/redox/keymaps/thattolleyguy/keymap.c
  keyboards/redox/keymaps/thattolleyguy/readme.md
  keyboards/redox/keymaps/thattolleyguy/rules.mk
Labels: keymap

#15983 Adding RM_Numpad
  keyboards/rmkeebs/rm_numpad/config.h
  keyboards/rmkeebs/rm_numpad/info.json
  keyboards/rmkeebs/rm_numpad/keymaps/default/keymap.c
  keyboards/rmkeebs/rm_numpad/keymaps/default/readme.md
  keyboards/rmkeebs/rm_numpad/keymaps/ortho/keymap.c
  keyboards/rmkeebs/rm_numpad/keymaps/ortho/readme.md
  keyboards/rmkeebs/rm_numpad/keymaps/split_plus/keymap.c
  keyboards/rmkeebs/rm_numpad/keymaps/split_plus/readme.md
  keyboards/rmkeebs/rm_numpad/readme.md
  keyboards/rmkeebs/rm_numpad/rm_numpad.c
  keyboards/rmkeebs/rm_numpad/rm_numpad.h
  keyboards/rmkeebs/rm_numpad/rules.mk
Labels: keyboard, keymap

#16599 The inaugural commit for Leeloo's firmware.
  keyboards/clickety_split/leeloo/info.json
  keyboards/clickety_split/leeloo/keymaps/default/config.h
  keyboards/clickety_split/leeloo/keymaps/default/keymap.c
  keyboards/clickety_split/leeloo/keymaps/default/rules.mk
  keyboards/clickety_split/leeloo/leeloo.c
  keyboards/clickety_split/leeloo/leeloo.h
  keyboards/clickety_split/leeloo/readme.md
  keyboards/clickety_split/leeloo/rev1/config.h
  keyboards/clickety_split/leeloo/rev1/rev1.c
  keyboards/clickety_split/leeloo/rev1/rev1.h
  keyboards/clickety_split/leeloo/rev1/rules.mk
  keyboards/clickety_split/leeloo/rules.mk
Labels: keyboard, keymap

#16848 Fix waffling80 - Missing comma
  keyboards/4pplet/waffling80/keymaps/default/keymap.c
  keyboards/4pplet/waffling80/keymaps/via/keymap.c
Labels: keymap, via

#16849 Fix kay65 - Missing keycode
  keyboards/mechlovin/kay65/keymaps/default/keymap.c
Labels: keymap

#16851 Fix external flash on AVR
  drivers/flash/flash_spi.c
  drivers/flash/flash_spi.h
Labels: bug, core

#16828 move/rename obro to Meridian RGB
  keyboards/primekb/meridian_rgb/config.h
  keyboards/primekb/meridian_rgb/info.json
  keyboards/primekb/meridian_rgb/keymaps/default/keymap.c
  keyboards/primekb/meridian_rgb/keymaps/via/keymap.c
  keyboards/primekb/meridian_rgb/keymaps/via/rules.mk
  keyboards/primekb/meridian_rgb/meridian_rgb.c
  keyboards/primekb/meridian_rgb/meridian_rgb.h
  keyboards/primekb/meridian_rgb/readme.md
  keyboards/primekb/meridian_rgb/rules.mk
Labels: keyboard, keymap, via

#16747 Added via keymap
  keyboards/creatkeebs/glacier/config.h
  keyboards/creatkeebs/glacier/keymaps/via/keymap.c
  keyboards/creatkeebs/glacier/keymaps/via/rules.mk
  keyboards/creatkeebs/thera/config.h
Labels: keyboard, keymap, via

#16407 [Keyboard] Add avalanche
  keyboards/avalanche/avalanche.c
  keyboards/avalanche/avalanche.h
  keyboards/avalanche/config.h
  keyboards/avalanche/readme.md
  keyboards/avalanche/v1/config.h
  keyboards/avalanche/v1/keymaps/default/keymap.c
  keyboards/avalanche/v1/rules.mk
  keyboards/avalanche/v1/v1.c
  keyboards/avalanche/v1/v1.h
  keyboards/avalanche/v2/config.h
  keyboards/avalanche/v2/keymaps/default/keymap.c
  keyboards/avalanche/v2/rules.mk
  keyboards/avalanche/v2/v2.c
  keyboards/avalanche/v2/v2.h
  keyboards/avalanche/v3/config.h
  keyboards/avalanche/v3/keymaps/default/keymap.c
  keyboards/avalanche/v3/rules.mk
  keyboards/avalanche/v3/v3.c
  keyboards/avalanche/v3/v3.h
Labels: keyboard, keymap

#16856 Resolve layout macro inconsistencies for rmkeebs/rm_numpad
  keyboards/rmkeebs/rm_numpad/info.json
Labels: bug, keyboard

#16860 rgblight: Limit maximum repeat times in rgblight_blink_layer_repeat
  quantum/rgblight/rgblight.c
Labels: core

#16843 Implement XAP 'secure' core requirements
  builddefs/generic_features.mk
  builddefs/show_options.mk
  data/mappings/info_config.json
  data/mappings/info_rules.json
  data/schemas/keyboard.jsonschema
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/info.py
  quantum/keyboard.c
  quantum/process_keycode/process_secure.c
  quantum/process_keycode/process_secure.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
  quantum/secure.c
  quantum/secure.h
Labels: needs doc, in progress, core, python, cli

#16765 Update X-Bows Keyboard
  keyboards/xbows/knight/config.h
  keyboards/xbows/knight/keymaps/via/rules.mk
  keyboards/xbows/knight_plus/config.h
  keyboards/xbows/knight_plus/keymaps/via/rules.mk
  keyboards/xbows/nature/config.h
  keyboards/xbows/nature/keymaps/via/rules.mk
  keyboards/xbows/nature/rules.mk
  keyboards/xbows/numpad/config.h
  keyboards/xbows/numpad/keymaps/via/rules.mk
  keyboards/xbows/ranger/config.h
  keyboards/xbows/ranger/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#16681 Add GET_TAPPING_TERM macro to reduce duplicate code
  docs/tap_hold.md
  quantum/action_tapping.c
  quantum/action_tapping.h
  quantum/pointing_device_drivers.c
  quantum/process_keycode/process_auto_shift.c
  quantum/process_keycode/process_space_cadet.c
  quantum/process_keycode/process_tap_dance.c
Labels: core, documentation

#16434 Fix Xorg segfault with KeebCats PCBs
  keyboards/cutie_club/keebcats/denis/config.h
  keyboards/cutie_club/keebcats/dougal/config.h
Labels: keyboard

#16430 add phase one keyboard
  keyboards/kbdfans/phaseone/config.h
  keyboards/kbdfans/phaseone/keymaps/default/keymap.c
  keyboards/kbdfans/phaseone/keymaps/via/keymap.c
  keyboards/kbdfans/phaseone/keymaps/via/rules.mk
  keyboards/kbdfans/phaseone/phaseone.c
  keyboards/kbdfans/phaseone/phaseone.h
  keyboards/kbdfans/phaseone/readme.md
  keyboards/kbdfans/phaseone/rules.mk
Labels: keyboard, keymap, via

#16315 Heatmap incorrect matrix effect workaround
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix/animations/typing_heatmap_anim.h
Labels: core, documentation

#16859 rgblight: Add functions to stop blinking one or all but one layer
  docs/feature_rgblight.md
  quantum/rgblight/rgblight.c
  quantum/rgblight/rgblight.h
Labels: core, documentation

#16863 [QP] Check BPP capabilities before loading the palette
  quantum/painter/qp_draw_image.c
Labels: bug, breaking_change_2022q2

#16865 Fix #16859.
  quantum/rgblight/rgblight.h
Labels: bug, core

#16304 Refine LED indicator documentation
  docs/feature_led_indicators.md
Labels: documentation

#16864 Anne Pro 2 Refactor
  keyboards/annepro2/annepro2.c
  keyboards/annepro2/c15/config.h
  keyboards/annepro2/c15/readme.md
  keyboards/annepro2/c15/rules.mk
  keyboards/annepro2/c18/config.h
  keyboards/annepro2/c18/readme.md
  keyboards/annepro2/c18/rules.mk
  keyboards/annepro2/info.json
  keyboards/annepro2/keymaps/default-full-caps/config.h
  keyboards/annepro2/keymaps/default-layer-indicators/config.h
  keyboards/annepro2/keymaps/default/config.h
  keyboards/annepro2/keymaps/default/rules.mk
  keyboards/annepro2/readme.md
Labels: bug, enhancement, keyboard, keymap

#16021 Add sandbox keyboard
  keyboards/dailycraft/sandbox/readme.md
  keyboards/dailycraft/sandbox/rev1/config.h
  keyboards/dailycraft/sandbox/rev1/keymaps/default/keymap.c
  keyboards/dailycraft/sandbox/rev1/keymaps/default/readme.md
  keyboards/dailycraft/sandbox/rev1/keymaps/oled/keymap.c
  keyboards/dailycraft/sandbox/rev1/keymaps/oled/readme.md
  keyboards/dailycraft/sandbox/rev1/keymaps/oled/rules.mk
  keyboards/dailycraft/sandbox/rev1/keymaps/via/keymap.c
  keyboards/dailycraft/sandbox/rev1/keymaps/via/readme.md
  keyboards/dailycraft/sandbox/rev1/keymaps/via/rules.mk
  keyboards/dailycraft/sandbox/rev1/rev1.c
  keyboards/dailycraft/sandbox/rev1/rev1.h
  keyboards/dailycraft/sandbox/rev1/rules.mk
  keyboards/dailycraft/sandbox/rev2/config.h
  keyboards/dailycraft/sandbox/rev2/keymaps/default/keymap.c
  keyboards/dailycraft/sandbox/rev2/keymaps/default/readme.md
  keyboards/dailycraft/sandbox/rev2/keymaps/oled/keymap.c
  keyboards/dailycraft/sandbox/rev2/keymaps/oled/readme.md
  keyboards/dailycraft/sandbox/rev2/keymaps/oled/rules.mk
  keyboards/dailycraft/sandbox/rev2/keymaps/via/keymap.c
  keyboards/dailycraft/sandbox/rev2/keymaps/via/readme.md
  keyboards/dailycraft/sandbox/rev2/keymaps/via/rules.mk
  keyboards/dailycraft/sandbox/rev2/rev2.c
  keyboards/dailycraft/sandbox/rev2/rev2.h
  keyboards/dailycraft/sandbox/rev2/rules.mk
  keyboards/dailycraft/sandbox/rules.mk
  keyboards/dailycraft/sandbox/sandbox.c
  keyboards/dailycraft/sandbox/sandbox.h
Labels: keyboard, keymap, via

#16337 Add customizable snake and knight animation increments
  quantum/rgblight/rgblight.c
  quantum/rgblight/rgblight.h
Labels: core

#16713 SharkPCB release Beta compatibility
  keyboards/acheron/shark/alpha/alpha.c
  keyboards/acheron/shark/alpha/alpha.h
  keyboards/acheron/shark/alpha/config.h
  keyboards/acheron/shark/alpha/info.json
  keyboards/acheron/shark/alpha/keymaps/ajp10304/readme.md
  keyboards/acheron/shark/alpha/keymaps/default/keymap.c
  keyboards/acheron/shark/alpha/keymaps/via/keymap.c
  keyboards/acheron/shark/alpha/keymaps/via/rules.mk
  keyboards/acheron/shark/alpha/rules.mk
  keyboards/acheron/shark/beta/beta.c
  keyboards/acheron/shark/beta/beta.h
  keyboards/acheron/shark/beta/chconf.h
  keyboards/acheron/shark/beta/config.h
  keyboards/acheron/shark/beta/halconf.h
  keyboards/acheron/shark/beta/keymaps/default/keymap.c
  keyboards/acheron/shark/beta/keymaps/gondolindrim/keymap.c
  keyboards/acheron/shark/beta/keymaps/gondolindrim/rules.mk
  keyboards/acheron/shark/beta/keymaps/via/keymap.c
  keyboards/acheron/shark/beta/keymaps/via/rules.mk
  keyboards/acheron/shark/beta/mcuconf.h
  keyboards/acheron/shark/beta/rules.mk
  keyboards/acheron/shark/readme.md
  keyboards/acheron/shark/shark.c
  keyboards/acheron/shark/shark.h
Labels: keyboard, keymap, via

#16791 Add digicarpice
  keyboards/handwired/swiftrax/digicarpice/config.h
  keyboards/handwired/swiftrax/digicarpice/digicarpice.c
  keyboards/handwired/swiftrax/digicarpice/digicarpice.h
  keyboards/handwired/swiftrax/digicarpice/info.json
  keyboards/handwired/swiftrax/digicarpice/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/digicarpice/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/digicarpice/keymaps/via/rules.mk
  keyboards/handwired/swiftrax/digicarpice/readme.md
  keyboards/handwired/swiftrax/digicarpice/rules.mk
Labels: keyboard, keymap, via

#16816 Add the Ciel
  keyboards/chickenman/ciel/ciel.c
  keyboards/chickenman/ciel/ciel.h
  keyboards/chickenman/ciel/config.h
  keyboards/chickenman/ciel/info.json
  keyboards/chickenman/ciel/keymaps/default/keymap.c
  keyboards/chickenman/ciel/keymaps/default/readme.md
  keyboards/chickenman/ciel/keymaps/via/keymap.c
  keyboards/chickenman/ciel/keymaps/via/rules.mk
  keyboards/chickenman/ciel/readme.md
  keyboards/chickenman/ciel/rules.mk
Labels: keyboard, keymap, via

#16160 Ploopy Trackball Mini: only define DPI options as needed
  keyboards/ploopyco/trackball_mini/trackball_mini.c
Labels: keyboard

#16114 Fix one-shot locked modifiers
  quantum/action.c
Labels: bug, core

#15602 [Keyboard] Adding "deskpad" (new board) for PR
  keyboards/h0oni/deskpad/config.h
  keyboards/h0oni/deskpad/deskpad.c
  keyboards/h0oni/deskpad/deskpad.h
  keyboards/h0oni/deskpad/info.json
  keyboards/h0oni/deskpad/keymaps/default/keymap.c
  keyboards/h0oni/deskpad/keymaps/default/rules.mk
  keyboards/h0oni/deskpad/keymaps/via/keymap.c
  keyboards/h0oni/deskpad/keymaps/via/rules.mk
  keyboards/h0oni/deskpad/readme.md
  keyboards/h0oni/deskpad/rules.mk
Labels: keyboard, keymap, via

#16873 sandbox - fix keymaps
  keyboards/dailycraft/sandbox/rev1/config.h
  keyboards/dailycraft/sandbox/rev1/keymaps/oled/keymap.c
  keyboards/dailycraft/sandbox/rev1/keymaps/oled/readme.md
  keyboards/dailycraft/sandbox/rev1/keymaps/oled/rules.mk
  keyboards/dailycraft/sandbox/rev1/keymaps/via/keymap.c
  keyboards/dailycraft/sandbox/rev2/keymaps/oled/keymap.c
  keyboards/dailycraft/sandbox/rev2/keymaps/oled/readme.md
  keyboards/dailycraft/sandbox/rev2/keymaps/oled/rules.mk
  keyboards/dailycraft/sandbox/rev2/keymaps/via/keymap.c
  keyboards/dailycraft/sandbox/rules.mk
Labels: keyboard, keymap, via

#16842 Added the Resume1800 from CrimsonKeyboards
  keyboards/crimsonkeyboards/resume1800/config.h
  keyboards/crimsonkeyboards/resume1800/info.json
  keyboards/crimsonkeyboards/resume1800/keymaps/dee/keymap.c
  keyboards/crimsonkeyboards/resume1800/keymaps/default/keymap.c
  keyboards/crimsonkeyboards/resume1800/keymaps/iso/keymap.c
  keyboards/crimsonkeyboards/resume1800/keymaps/via/keymap.c
  keyboards/crimsonkeyboards/resume1800/keymaps/via/rules.mk
  keyboards/crimsonkeyboards/resume1800/readme.md
  keyboards/crimsonkeyboards/resume1800/resume1800.c
  keyboards/crimsonkeyboards/resume1800/resume1800.h
  keyboards/crimsonkeyboards/resume1800/rules.mk
Labels: keyboard, keymap, via

#16869 Expose API for hardware unique ID
  keyboards/handwired/onekey/keymaps/hardware_id/keymap.c
  platforms/arm_atsam/hardware_id.c
  platforms/avr/hardware_id.c
  platforms/chibios/hardware_id.c
  platforms/common.mk
  platforms/hardware_id.h
  platforms/test/hardware_id.c
Labels: core, keymap

#16875 Fixup AVR builds.
  platforms/avr/hardware_id.c
Labels: bug, core

#16874 Preinstall python dependencies before executing `qmk`.
  .github/workflows/develop_api.yml
Labels: bug, CI

#16877 Fix resume1800 - Dynamic layer count undefined
  keyboards/crimsonkeyboards/resume1800/config.h
  keyboards/crimsonkeyboards/resume1800/keymaps/via/config.h
  keyboards/crimsonkeyboards/resume1800/readme.md
Labels: keyboard, keymap, via

#16634 Added keyboards/converter/a1200/mistress1200 variant with atmega16u4 support
  keyboards/converter/a1200/keymaps/default/keymap.c
  keyboards/converter/a1200/mistress1200/config.h
  keyboards/converter/a1200/mistress1200/rules.mk
  keyboards/converter/a1200/readme.md
Labels: keyboard, keymap

#15320 chore: Add personal GMMK Pro keymap
  keyboards/gmmk/pro/ansi/keymaps/andrewcharnley/config.h
  keyboards/gmmk/pro/ansi/keymaps/andrewcharnley/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/andrewcharnley/readme.md
Labels: keymap

#15945 added Amber80 Solder & VCL65 Solder
  keyboards/sawnsprojects/amber80/readme.md
  keyboards/sawnsprojects/amber80/solder/config.h
  keyboards/sawnsprojects/amber80/solder/info.json
  keyboards/sawnsprojects/amber80/solder/keymaps/default/keymap.c
  keyboards/sawnsprojects/amber80/solder/keymaps/default/readme.md
  keyboards/sawnsprojects/amber80/solder/keymaps/via/keymap.c
  keyboards/sawnsprojects/amber80/solder/keymaps/via/readme.md
  keyboards/sawnsprojects/amber80/solder/keymaps/via/rules.mk
  keyboards/sawnsprojects/amber80/solder/readme.md
  keyboards/sawnsprojects/amber80/solder/rules.mk
  keyboards/sawnsprojects/amber80/solder/solder.c
  keyboards/sawnsprojects/amber80/solder/solder.h
  keyboards/sawnsprojects/vcl65/readme.md
  keyboards/sawnsprojects/vcl65/solder/config.h
  keyboards/sawnsprojects/vcl65/solder/info.json
  keyboards/sawnsprojects/vcl65/solder/keymaps/default/keymap.c
  keyboards/sawnsprojects/vcl65/solder/keymaps/default/readme.md
  keyboards/sawnsprojects/vcl65/solder/keymaps/sawns/keymap.c
  keyboards/sawnsprojects/vcl65/solder/keymaps/sawns/readme.md
  keyboards/sawnsprojects/vcl65/solder/keymaps/sawns/rules.mk
  keyboards/sawnsprojects/vcl65/solder/keymaps/via/keymap.c
  keyboards/sawnsprojects/vcl65/solder/keymaps/via/readme.md
  keyboards/sawnsprojects/vcl65/solder/keymaps/via/rules.mk
  keyboards/sawnsprojects/vcl65/solder/readme.md
  keyboards/sawnsprojects/vcl65/solder/rules.mk
  keyboards/sawnsprojects/vcl65/solder/solder.c
  keyboards/sawnsprojects/vcl65/solder/solder.h
Labels: keyboard, keymap, via

#16004 move z150_bh at101_bh omnikey_bh to viktus/
  keyboards/viktus/at101_bh/at101_bh.c
  keyboards/viktus/at101_bh/at101_bh.h
  keyboards/viktus/at101_bh/config.h
  keyboards/viktus/at101_bh/info.json
  keyboards/viktus/at101_bh/keymaps/default/keymap.c
  keyboards/viktus/at101_bh/readme.md
  keyboards/viktus/at101_bh/rules.mk
  keyboards/viktus/omnikey_bh/config.h
  keyboards/viktus/omnikey_bh/info.json
  keyboards/viktus/omnikey_bh/keymaps/default/keymap.c
  keyboards/viktus/omnikey_bh/omnikey_bh.c
  keyboards/viktus/omnikey_bh/omnikey_bh.h
  keyboards/viktus/omnikey_bh/readme.md
  keyboards/viktus/omnikey_bh/rules.mk
  keyboards/viktus/z150_bh/config.h
  keyboards/viktus/z150_bh/info.json
  keyboards/viktus/z150_bh/keymaps/default/keymap.c
  keyboards/viktus/z150_bh/keymaps/default_tkl/keymap.c
  keyboards/viktus/z150_bh/readme.md
  keyboards/viktus/z150_bh/rules.mk
  keyboards/viktus/z150_bh/z150_bh.c
  keyboards/viktus/z150_bh/z150_bh.h
Labels: keyboard, keymap

#16095 move 麦田 boards into /mt
  keyboards/mt/blocked65/blocked65.c
  keyboards/mt/blocked65/blocked65.h
  keyboards/mt/blocked65/config.h
  keyboards/mt/blocked65/info.json
  keyboards/mt/blocked65/keymaps/default/keymap.c
  keyboards/mt/blocked65/keymaps/via/keymap.c
  keyboards/mt/blocked65/keymaps/via/rules.mk
  keyboards/mt/blocked65/readme.md
  keyboards/mt/blocked65/rules.mk
  keyboards/mt/mt40/config.h
  keyboards/mt/mt40/info.json
  keyboards/mt/mt40/keymaps/default/config.h
  keyboards/mt/mt40/keymaps/default/keymap.c
  keyboards/mt/mt40/keymaps/default/readme.md
  keyboards/mt/mt40/mt40.c
  keyboards/mt/mt40/mt40.h
  keyboards/mt/mt40/readme.md
  keyboards/mt/mt40/rules.mk
  keyboards/mt/mt64rgb/config.h
  keyboards/mt/mt64rgb/info.json
  keyboards/mt/mt64rgb/keymaps/default/keymap.c
  keyboards/mt/mt64rgb/keymaps/default/readme.md
  keyboards/mt/mt64rgb/keymaps/via/keymap.c
  keyboards/mt/mt64rgb/keymaps/via/rules.mk
  keyboards/mt/mt64rgb/mt64rgb.c
  keyboards/mt/mt64rgb/mt64rgb.h
  keyboards/mt/mt64rgb/readme.md
  keyboards/mt/mt64rgb/rules.mk
  keyboards/mt/mt84/config.h
  keyboards/mt/mt84/info.json
  keyboards/mt/mt84/keymaps/default/config.h
  keyboards/mt/mt84/keymaps/default/keymap.c
  keyboards/mt/mt84/keymaps/via/keymap.c
  keyboards/mt/mt84/keymaps/via/rules.mk
  keyboards/mt/mt84/mt84.c
  keyboards/mt/mt84/mt84.h
  keyboards/mt/mt84/readme.md
  keyboards/mt/mt84/rules.mk
  keyboards/mt/mt980/config.h
  keyboards/mt/mt980/info.json
  keyboards/mt/mt980/keymaps/default/keymap.c
  keyboards/mt/mt980/keymaps/walker/config.h
  keyboards/mt/mt980/keymaps/walker/keymap.c
  keyboards/mt/mt980/keymaps/walker/rules.mk
  keyboards/mt/mt980/mt980.c
  keyboards/mt/mt980/mt980.h
  keyboards/mt/mt980/readme.md
  keyboards/mt/mt980/rules.mk
  keyboards/mt/split75/config.h
  keyboards/mt/split75/info.json
  keyboards/mt/split75/keymaps/art/keymap.c
  keyboards/mt/split75/keymaps/art/rules.mk
  keyboards/mt/split75/keymaps/default/keymap.c
  keyboards/mt/split75/keymaps/iso/keymap.c
  keyboards/mt/split75/matrix.c
  keyboards/mt/split75/readme.md
  keyboards/mt/split75/rules.mk
  keyboards/mt/split75/split75.c
  keyboards/mt/split75/split75.h
Labels: keyboard, keymap, via

#15996 Add support for multiple sensors to pmw3360
  docs/feature_pointing_device.md
  drivers/sensors/pmw3360.c
  drivers/sensors/pmw3360.h
  quantum/pointing_device_drivers.c
Labels: core, documentation

#16537 Change helix:yshrsmz keymap to use split_common
  keyboards/helix/rev2/keymaps/yshrsmz/keymap.c
  keyboards/helix/rev2/keymaps/yshrsmz/rules.mk
Labels: keymap

#13143 Add my planck layout
  keyboards/planck/keymaps/abhixec/config.h
  keyboards/planck/keymaps/abhixec/keymap.c
  keyboards/planck/keymaps/abhixec/readme.md
  keyboards/planck/keymaps/abhixec/rules.mk
Labels: keymap

#15509 [Keyboard] New kbd 1k
  keyboards/1k/1k.c
  keyboards/1k/1k.h
  keyboards/1k/config.h
  keyboards/1k/info.json
  keyboards/1k/keymaps/default/keymap.c
  keyboards/1k/keymaps/default/rgblite.h
  keyboards/1k/keymaps/default/rules.mk
  keyboards/1k/keymaps/media/keymap.c
  keyboards/1k/keymaps/media/rgblite.h
  keyboards/1k/keymaps/media/rules.mk
  keyboards/1k/keymaps/tap_dance/config.h
  keyboards/1k/keymaps/tap_dance/keymap.c
  keyboards/1k/keymaps/tap_dance/rules.mk
  keyboards/1k/readme.md
  keyboards/1k/rules.mk
Labels: keyboard, keymap

#16658 Add initial support for the Makey Makey Classic
  keyboards/makeymakey/config.h
  keyboards/makeymakey/info.json
  keyboards/makeymakey/keymaps/default/keymap.c
  keyboards/makeymakey/makeymakey.c
  keyboards/makeymakey/makeymakey.h
  keyboards/makeymakey/readme.md
  keyboards/makeymakey/rules.mk
Labels: keyboard, keymap

#16647 [Core] Use a mutex guard for split shared memory
  platforms/chibios/drivers/serial.c
  platforms/chibios/drivers/serial_usart.c
  platforms/chibios/platform.mk
  platforms/chibios/synchronization_util.c
  platforms/synchronization_util.h
  quantum/split_common/transactions.c
Labels: core

#16492 Fix broken build for users/curry
  keyboards/crkbd/keymaps/curry/config.h
  keyboards/crkbd/keymaps/curry/keymap.c
  keyboards/lily58/keymaps/curry/config.h
  keyboards/lily58/keymaps/curry/keymap.c
  keyboards/montsinger/rebound/rev1/keymaps/curry/config.h
  keyboards/montsinger/rebound/rev1/keymaps/curry/keymap.c
  users/curry/config.h
  users/curry/curry.c
  users/curry/curry.h
  users/curry/oled.c
  users/curry/process_records.h
  users/curry/rgb_lighting_user.c
  users/curry/rgb_matrix_user.c
Labels: keymap

#16716 Fixes #16705 : digital rain follows val
  quantum/rgb_matrix/animations/digital_rain_anim.h
Labels: core

#16569 boardsource/microdox V2
  keyboards/boardsource/microdox/config.h
  keyboards/boardsource/microdox/keymaps/cole/keymap.c
  keyboards/boardsource/microdox/keymaps/cole/rules.mk
  keyboards/boardsource/microdox/keymaps/default/keymap.c
  keyboards/boardsource/microdox/keymaps/via/keymap.c
  keyboards/boardsource/microdox/keymaps/via/rules.mk
  keyboards/boardsource/microdox/microdox.c
  keyboards/boardsource/microdox/microdox.h
  keyboards/boardsource/microdox/readme.md
  keyboards/boardsource/microdox/rules.mk
  keyboards/boardsource/microdox/v2/config.h
  keyboards/boardsource/microdox/v2/rules.mk
  keyboards/boardsource/microdox/v2/v2.c
  keyboards/boardsource/microdox/v2/v2.h
Labels: keyboard, keymap, via

#16199 New custom keymap for Glorious GMMK Pro ANSI layout
  keyboards/gmmk/pro/ansi/keymaps/gourdo1/caps_word.c
  keyboards/gmmk/pro/ansi/keymaps/gourdo1/caps_word.h
  keyboards/gmmk/pro/ansi/keymaps/gourdo1/config.h
  keyboards/gmmk/pro/ansi/keymaps/gourdo1/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/gourdo1/readme.md
  keyboards/gmmk/pro/ansi/keymaps/gourdo1/rgb_matrix_map.h
  keyboards/gmmk/pro/ansi/keymaps/gourdo1/rules.mk
  users/gourdo1/gourdo1.c
  users/gourdo1/gourdo1.h
  users/gourdo1/gourdo1_encoder.c
  users/gourdo1/rules.mk
Labels: keymap

#16086 Add hacky via support for RGB Matrix
  keyboards/moonlander/config.h
  quantum/via.c
Labels: core, keyboard

#16741 Dactyl manuform 5x6 5 via
  keyboards/handwired/dactyl_manuform/5x6_5/keymaps/via/config.h
  keyboards/handwired/dactyl_manuform/5x6_5/keymaps/via/keymap.json
  keyboards/handwired/dactyl_manuform/5x6_5/keymaps/via/rules.mk
  keyboards/handwired/dactyl_manuform/readme.md
Labels: keyboard, keymap, via

#16438 Update wb32-dfu
  builddefs/bootloader.mk
  builddefs/mcu_selection.mk
  platforms/chibios/bootloaders/wb32_dfu.c
Labels: core, breaking_change_2022q2

#16754 kin80
  keyboards/kin80/blackpill103/blackpill103.c
  keyboards/kin80/blackpill103/blackpill103.h
  keyboards/kin80/blackpill103/chconf.h
  keyboards/kin80/blackpill103/config.h
  keyboards/kin80/blackpill103/halconf.h
  keyboards/kin80/blackpill103/mcuconf.h
  keyboards/kin80/blackpill103/rules.mk
  keyboards/kin80/blackpill401/blackpill401.c
  keyboards/kin80/blackpill401/blackpill401.h
  keyboards/kin80/blackpill401/config.h
  keyboards/kin80/blackpill401/halconf.h
  keyboards/kin80/blackpill401/mcuconf.h
  keyboards/kin80/blackpill401/rules.mk
  keyboards/kin80/blackpill411/blackpill411.c
  keyboards/kin80/blackpill411/blackpill411.h
  keyboards/kin80/blackpill411/config.h
  keyboards/kin80/blackpill411/halconf.h
  keyboards/kin80/blackpill411/mcuconf.h
  keyboards/kin80/blackpill411/rules.mk
  keyboards/kin80/config.h
  keyboards/kin80/info.json
  keyboards/kin80/keymaps/andrew/keymap.c
  keyboards/kin80/keymaps/debug/keymap.c
  keyboards/kin80/keymaps/debug/rules.mk
  keyboards/kin80/keymaps/default/keymap.c
  keyboards/kin80/keymaps/maxim/keymap.c
  keyboards/kin80/keymaps/quartz64/config.h
  keyboards/kin80/keymaps/quartz64/keymap.c
  keyboards/kin80/keymaps/quartz64/rules.mk
  keyboards/kin80/keymaps/roman/keymap.c
  keyboards/kin80/kin80.c
  keyboards/kin80/kin80.h
  keyboards/kin80/micro/config.h
  keyboards/kin80/micro/micro.c
  keyboards/kin80/micro/micro.h
  keyboards/kin80/micro/rules.mk
  keyboards/kin80/readme.md
  keyboards/kin80/rules.mk
Labels: keyboard, keymap

#16878 Add notes on rev6a firmware
  keyboards/keebio/iris/readme.md
  keyboards/keebio/iris/rev6a/config.h
Labels: keyboard

#16891 Fix build of `keyhive/uno`.
  keyboards/keyhive/uno/rules.mk
Labels: bug, keyboard

#16892 Fix uno
  keyboards/keyhive/uno/uno.h
Labels: keyboard

#15680 move melody96 to ymdk vendor folder
  keyboards/ymdk/melody96/config.h
  keyboards/ymdk/melody96/info.json
  keyboards/ymdk/melody96/keymaps/crilith/keymap.c
  keyboards/ymdk/melody96/keymaps/default/keymap.c
  keyboards/ymdk/melody96/keymaps/default_96_with60_split_num0/keymap.c
  keyboards/ymdk/melody96/keymaps/dvz/config.h
  keyboards/ymdk/melody96/keymaps/dvz/keymap.c
  keyboards/ymdk/melody96/keymaps/dvz/readme.md
  keyboards/ymdk/melody96/keymaps/dvz/rules.mk
  keyboards/ymdk/melody96/keymaps/konstantin/config.h
  keyboards/ymdk/melody96/keymaps/konstantin/keymap.c
  keyboards/ymdk/melody96/keymaps/konstantin/rules.mk
  keyboards/ymdk/melody96/keymaps/via/keymap.c
  keyboards/ymdk/melody96/keymaps/via/rules.mk
  keyboards/ymdk/melody96/keymaps/zunger/config.h
  keyboards/ymdk/melody96/keymaps/zunger/keymap.c
  keyboards/ymdk/melody96/keymaps/zunger/readme.md
  keyboards/ymdk/melody96/keymaps/zunger/rules.mk
  keyboards/ymdk/melody96/melody96.c
  keyboards/ymdk/melody96/melody96.h
  keyboards/ymdk/melody96/readme.md
  keyboards/ymdk/melody96/rules.mk
Labels: keyboard, keymap, via

#15733 move amj keyboards into amjkeyboard vendor folder
  keyboards/amjkeyboard/amj40/amj40.c
  keyboards/amjkeyboard/amj40/amj40.h
  keyboards/amjkeyboard/amj40/config.h
  keyboards/amjkeyboard/amj40/info.json
  keyboards/amjkeyboard/amj40/keymaps/default/keymap.c
  keyboards/amjkeyboard/amj40/keymaps/default/readme.md
  keyboards/amjkeyboard/amj40/keymaps/default_625u_space/keymap.c
  keyboards/amjkeyboard/amj40/keymaps/default_ortho_275u_space/keymap.c
  keyboards/amjkeyboard/amj40/keymaps/default_ortho_600u_space/keymap.c
  keyboards/amjkeyboard/amj40/keymaps/fabian/keymap.c
  keyboards/amjkeyboard/amj40/keymaps/fabian/rules.mk
  keyboards/amjkeyboard/amj40/keymaps/jetpacktuxedo/config.h
  keyboards/amjkeyboard/amj40/keymaps/jetpacktuxedo/keymap.c
  keyboards/amjkeyboard/amj40/keymaps/jetpacktuxedo/readme.md
  keyboards/amjkeyboard/amj40/keymaps/jetpacktuxedo/rules.mk
  keyboards/amjkeyboard/amj40/keymaps/myee/build.sh
  keyboards/amjkeyboard/amj40/keymaps/myee/config.h
  keyboards/amjkeyboard/amj40/keymaps/myee/keymap.c
  keyboards/amjkeyboard/amj40/keymaps/myee/readme.md
  keyboards/amjkeyboard/amj40/keymaps/myee/rules.mk
  keyboards/amjkeyboard/amj40/keymaps/myee/updatemerge.sh
  keyboards/amjkeyboard/amj40/readme.md
  keyboards/amjkeyboard/amj40/rules.mk
  keyboards/amjkeyboard/amj60/amj60.c
  keyboards/amjkeyboard/amj60/amj60.h
  keyboards/amjkeyboard/amj60/config.h
  keyboards/amjkeyboard/amj60/info.json
  keyboards/amjkeyboard/amj60/keymaps/default/keymap.c
  keyboards/amjkeyboard/amj60/readme.md
  keyboards/amjkeyboard/amj60/rules.mk
  keyboards/amjkeyboard/amj66/config.h
  keyboards/amjkeyboard/amj96/amj96.c
  keyboards/amjkeyboard/amj96/amj96.h
  keyboards/amjkeyboard/amj96/config.h
  keyboards/amjkeyboard/amj96/info.json
  keyboards/amjkeyboard/amj96/keymaps/default/keymap.c
  keyboards/amjkeyboard/amj96/matrix.c
  keyboards/amjkeyboard/amj96/readme.md
  keyboards/amjkeyboard/amj96/rules.mk
  keyboards/amjkeyboard/amjpad/amjpad.c
  keyboards/amjkeyboard/amjpad/amjpad.h
  keyboards/amjkeyboard/amjpad/config.h
  keyboards/amjkeyboard/amjpad/info.json
  keyboards/amjkeyboard/amjpad/keymaps/default/keymap.c
  keyboards/amjkeyboard/amjpad/keymaps/max/keymap.c
  keyboards/amjkeyboard/amjpad/keymaps/ortho_left/keymap.c
  keyboards/amjkeyboard/amjpad/keymaps/ortho_right/keymap.c
  keyboards/amjkeyboard/amjpad/readme.md
  keyboards/amjkeyboard/amjpad/rules.mk
Labels: keyboard, keymap

#16895 Fixed error in config
  keyboards/jels/jels60/config.h
Labels: keyboard

#16898 Fix i2c driver documentation: Incorrect name
  docs/i2c_driver.md
Labels: documentation

#16893 Fix kin80 default keymap
  keyboards/kin80/keymaps/default/keymap.c
Labels: keymap

#16824 Fix rgblight_blink_layer when multiple layers are active
  quantum/rgblight/rgblight.c
Labels: bug, core

#16909 Provide better config defaults for bluepill boards
  keyboards/bt66tech/bt66tech60/chconf.h
  keyboards/cannonkeys/ortho48/chconf.h
  keyboards/cannonkeys/ortho60/chconf.h
  keyboards/cannonkeys/ortho75/chconf.h
  keyboards/cannonkeys/practice60/chconf.h
  keyboards/cannonkeys/practice65/chconf.h
  keyboards/converter/siemens_tastatur/chconf.h
  keyboards/handwired/onekey/bluepill/chconf.h
  keyboards/handwired/pill60/bluepill/chconf.h
  keyboards/handwired/sono1/stm32f103/chconf.h
  keyboards/handwired/t111/chconf.h
  keyboards/handwired/z150/chconf.h
  keyboards/kabedon/kabedon98e/chconf.h
  keyboards/mechlovin/hex4b/rev2/chconf.h
  keyboards/mlego/m65/rev1/chconf.h
  keyboards/mlego/m65/rev2/chconf.h
  keyboards/ramonimbao/squishyfrl/chconf.h
  keyboards/ramonimbao/squishytkl/chconf.h
  keyboards/rart/rartlice/chconf.h
  keyboards/tronguylabs/m122_3270/bluepill/chconf.h
  keyboards/zvecr/split_blackpill/chconf.h
  platforms/chibios/boards/STM32_F103_STM32DUINO/configs/chconf.h
Labels: enhancement, core, keyboard

#16723 Helix/rev2 move to split common
  keyboards/helix/local_drivers/i2c.c
  keyboards/helix/local_drivers/i2c.h
  keyboards/helix/local_drivers/serial.c
  keyboards/helix/local_drivers/serial.h
  keyboards/helix/local_drivers/ssd1306.c
  keyboards/helix/local_drivers/ssd1306.h
  keyboards/helix/rev2/config.h
  keyboards/helix/rev2/custom/matrix.c
  keyboards/helix/rev2/custom/split_scomm.c
  keyboards/helix/rev2/custom/split_scomm.h
  keyboards/helix/rev2/custom/split_util.c
  keyboards/helix/rev2/custom/split_util.h
  keyboards/helix/rev2/keymaps/default/oled_display.c
  keyboards/helix/rev2/local_features.mk
  keyboards/helix/rev2/override_helix_options.mk-maintenance
  keyboards/helix/rev2/rev2.c
  keyboards/helix/rev2/rules.mk
Labels: keyboard, keymap

#16847 Fix build error `helix:five_rows`
  keyboards/helix/rev2/keymaps/five_rows/oled_display.c
  keyboards/helix/rev2/keymaps/five_rows/rules.mk
  keyboards/helix/rev3_5rows/keymaps/five_rows/config.h
  keyboards/helix/rev3_5rows/keymaps/five_rows/rules.mk
  users/mtei/oled_display.c
  users/mtei/pseudo_sprintf.c
  users/mtei/pseudo_sprintf.h
Labels: keymap

#16768 Added new keyboard Gas75
  keyboards/ml/gas75/config.h
  keyboards/ml/gas75/gas75.c
  keyboards/ml/gas75/gas75.h
  keyboards/ml/gas75/info.json
  keyboards/ml/gas75/keymaps/default/keymap.c
  keyboards/ml/gas75/keymaps/default/readme.md
  keyboards/ml/gas75/keymaps/via/config.h
  keyboards/ml/gas75/keymaps/via/keymap.c
  keyboards/ml/gas75/keymaps/via/readme.md
  keyboards/ml/gas75/keymaps/via/rules.mk
  keyboards/ml/gas75/readme.md
  keyboards/ml/gas75/rules.mk
Labels: keyboard, keymap, via

#16641 Keychron Q2 add Caps Lock indicator and layer RGB
  keyboards/keychron/q2/rev_0110/keymaps/ladduro/config.h
  keyboards/keychron/q2/rev_0110/keymaps/ladduro/keymap.c
  keyboards/keychron/q2/rev_0110/keymaps/ladduro/keymap_user.h
  keyboards/keychron/q2/rev_0110/keymaps/ladduro/readme.md
  keyboards/keychron/q2/rev_0110/keymaps/ladduro/rgb_matrix_user.c
  keyboards/keychron/q2/rev_0110/keymaps/ladduro/rgb_matrix_user.h
  keyboards/keychron/q2/rev_0110/keymaps/ladduro/rules.mk
Labels: keymap

#16844 Loki65
  keyboards/loki65/config.h
  keyboards/loki65/halconf.h
  keyboards/loki65/info.json
  keyboards/loki65/keymaps/default/keymap.c
  keyboards/loki65/keymaps/default/readme.md
  keyboards/loki65/keymaps/via/keymap.c
  keyboards/loki65/keymaps/via/readme.md
  keyboards/loki65/keymaps/via/rules.mk
  keyboards/loki65/loki65.c
  keyboards/loki65/loki65.h
  keyboards/loki65/mcuconf.h
  keyboards/loki65/readme.md
  keyboards/loki65/rules.mk
Labels: keyboard, keymap, via

#16770 Fix AVR backlight breathing: low brightness limit & exceeding breathing table max index
  quantum/backlight/backlight_avr.c
Labels: core

#16339 Chibios USB protocol: allow overriding RAW Capacity
  tmk_core/protocol/chibios/usb_main.c
Labels: core

#15576 [Docs] zh-cn document translate: git parts
  docs/zh-cn/newbs_git_best_practices.md
  docs/zh-cn/newbs_git_resolving_merge_conflicts.md
  docs/zh-cn/newbs_git_resynchronize_a_branch.md
  docs/zh-cn/newbs_git_using_your_master_branch.md
Labels: documentation, translation

#16042 [Keyboard] Fix Pegasus Hoof (2013) layout, matrix and pin assignment
  keyboards/bpiphany/pegasushoof/2013/2013.h
  keyboards/bpiphany/pegasushoof/2013/matrix.c
Labels: keyboard

#16437 [Keymap] Toinux's crkbd keymap and userspace
  keyboards/crkbd/keymaps/toinux/config.h
  keyboards/crkbd/keymaps/toinux/glcdfont.c
  keyboards/crkbd/keymaps/toinux/keycodes.h
  keyboards/crkbd/keymaps/toinux/keymap.c
  keyboards/crkbd/keymaps/toinux/oled.c
  keyboards/crkbd/keymaps/toinux/oled.h
  keyboards/crkbd/keymaps/toinux/rgb.c
  keyboards/crkbd/keymaps/toinux/rules.mk
  users/toinux/keymap_qwerty_fr.h
Labels: keymap

#16910 Addition of new keymap for the anavi macropad8 keyboard
  keyboards/anavi/macropad8/keymaps/vscode/config.h
  keyboards/anavi/macropad8/keymaps/vscode/keymap.c
Labels: keymap

#16266 [Core] Allow usage of AVRs minimal printf library
  docs/squeezing_avr.md
  platforms/avr/platform.mk
Labels: core, documentation, awaiting review, breaking_change_2022q2

#16238 Add Dactyl_Manuform/3x5_3
  keyboards/handwired/dactyl_manuform/3x5_3/3x5_3.c
  keyboards/handwired/dactyl_manuform/3x5_3/3x5_3.h
  keyboards/handwired/dactyl_manuform/3x5_3/config.h
  keyboards/handwired/dactyl_manuform/3x5_3/info.json
  keyboards/handwired/dactyl_manuform/3x5_3/keymaps/dlford/config.h
  keyboards/handwired/dactyl_manuform/3x5_3/keymaps/dlford/features/caps_word.c
  keyboards/handwired/dactyl_manuform/3x5_3/keymaps/dlford/features/caps_word.h
  keyboards/handwired/dactyl_manuform/3x5_3/keymaps/dlford/keymap.c
  keyboards/handwired/dactyl_manuform/3x5_3/keymaps/dlford/rules.mk
  keyboards/handwired/dactyl_manuform/3x5_3/rules.mk
  keyboards/handwired/dactyl_manuform/dactyl_manuform.h
  keyboards/handwired/dactyl_manuform/readme.md
Labels: keyboard, keymap

#16187 Added massdrop/ctrl:xanimos keymap
  keyboards/massdrop/ctrl/keymaps/xanimos/config.h
  keyboards/massdrop/ctrl/keymaps/xanimos/config_led.c
  keyboards/massdrop/ctrl/keymaps/xanimos/keymap.c
  keyboards/massdrop/ctrl/keymaps/xanimos/keymap.h
  keyboards/massdrop/ctrl/keymaps/xanimos/readme.md
  keyboards/massdrop/ctrl/keymaps/xanimos/rules.mk
Labels: keymap

#16916 Fix id67 RGB Matrix
  keyboards/idobao/id67/id67.c
  keyboards/idobao/id67/keymaps/vinorodrigues/keymap.c
Labels: keyboard, keymap

#15294 Added Rooboard 65
  keyboards/skippys_custom_pcs/rooboard65/config.h
  keyboards/skippys_custom_pcs/rooboard65/info.json
  keyboards/skippys_custom_pcs/rooboard65/keymaps/default/keymap.c
  keyboards/skippys_custom_pcs/rooboard65/keymaps/via/keymap.c
  keyboards/skippys_custom_pcs/rooboard65/keymaps/via/rules.mk
  keyboards/skippys_custom_pcs/rooboard65/readme.md
  keyboards/skippys_custom_pcs/rooboard65/rooboard65.c
  keyboards/skippys_custom_pcs/rooboard65/rooboard65.h
  keyboards/skippys_custom_pcs/rooboard65/rules.mk
Labels: keyboard, keymap, via

#16925 [Keymap] Fix missing KC_QUOT
  keyboards/a_dux/keymaps/default/keymap.c
Labels: keymap

#16928 gergoplex: small cleanup
  keyboards/gboards/gergoplex/gergoplex.h
  keyboards/gboards/gergoplex/rules.mk
Labels: enhancement, keyboard

#16935 Fix backslash bug
  keyboards/chickenman/ciel/ciel.h
Labels: keyboard

#16929 Add missing dead key LUTs for sendstring headers
  quantum/keymap_extras/keymap_br_abnt2.h
  quantum/keymap_extras/keymap_italian.h
  quantum/keymap_extras/sendstring_belgian.h
  quantum/keymap_extras/sendstring_bepo.h
  quantum/keymap_extras/sendstring_br_abnt2.h
  quantum/keymap_extras/sendstring_canadian_multilingual.h
  quantum/keymap_extras/sendstring_croatian.h
  quantum/keymap_extras/sendstring_czech.h
  quantum/keymap_extras/sendstring_danish.h
  quantum/keymap_extras/sendstring_dvorak_fr.h
  quantum/keymap_extras/sendstring_estonian.h
  quantum/keymap_extras/sendstring_finnish.h
  quantum/keymap_extras/sendstring_fr_ch.h
  quantum/keymap_extras/sendstring_french.h
  quantum/keymap_extras/sendstring_french_afnor.h
  quantum/keymap_extras/sendstring_french_osx.h
  quantum/keymap_extras/sendstring_german.h
  quantum/keymap_extras/sendstring_german_ch.h
  quantum/keymap_extras/sendstring_german_osx.h
  quantum/keymap_extras/sendstring_hungarian.h
  quantum/keymap_extras/sendstring_icelandic.h
  quantum/keymap_extras/sendstring_latvian.h
  quantum/keymap_extras/sendstring_norwegian.h
  quantum/keymap_extras/sendstring_portuguese.h
  quantum/keymap_extras/sendstring_portuguese_osx_iso.h
  quantum/keymap_extras/sendstring_serbian_latin.h
  quantum/keymap_extras/sendstring_slovak.h
  quantum/keymap_extras/sendstring_slovenian.h
  quantum/keymap_extras/sendstring_spanish.h
  quantum/keymap_extras/sendstring_spanish_dvorak.h
  quantum/keymap_extras/sendstring_swedish.h
  quantum/keymap_extras/sendstring_turkish_f.h
  quantum/keymap_extras/sendstring_turkish_q.h
  quantum/keymap_extras/sendstring_us_international.h
Labels: bug, core

#16926 Joystick: Simplify report descriptor and clean up error messages
  quantum/joystick.h
  tmk_core/protocol/usb_descriptor.c
Labels: enhancement, core

#16944 dactyl_manuform/3x5_3: fix layout
  keyboards/handwired/dactyl_manuform/3x5_3/3x5_3.h
  keyboards/handwired/dactyl_manuform/3x5_3/info.json
  keyboards/handwired/dactyl_manuform/3x5_3/rules.mk
Labels: bug, keyboard

#16947 Add Ukrainian keymap header
  docs/reference_keymap_extras.md
  quantum/keymap_extras/keymap_ukrainian.h
Labels: enhancement, core, documentation

#16952 Small fix for setups with only a slave touch bar.
  keyboards/rgbkb/common/touch_encoder.c
Labels: bug, keyboard

#16943 Add Maker Keyboards Alexa Solder PCB
  keyboards/lucid/alexa_solder/alexa_solder.c
  keyboards/lucid/alexa_solder/alexa_solder.h
  keyboards/lucid/alexa_solder/config.h
  keyboards/lucid/alexa_solder/info.json
  keyboards/lucid/alexa_solder/keymaps/default/keymap.c
  keyboards/lucid/alexa_solder/keymaps/via/keymap.c
  keyboards/lucid/alexa_solder/keymaps/via/rules.mk
  keyboards/lucid/alexa_solder/readme.md
  keyboards/lucid/alexa_solder/rules.mk
Labels: keyboard, keymap, via

#16753 Add support for SkeletonNumPad
  keyboards/skeletonkbd/skeletonnumpad/config.h
  keyboards/skeletonkbd/skeletonnumpad/info.json
  keyboards/skeletonkbd/skeletonnumpad/keymaps/default/keymap.c
  keyboards/skeletonkbd/skeletonnumpad/keymaps/default/readme.md
  keyboards/skeletonkbd/skeletonnumpad/keymaps/via/keymap.c
  keyboards/skeletonkbd/skeletonnumpad/keymaps/via/readme.md
  keyboards/skeletonkbd/skeletonnumpad/keymaps/via/rules.mk
  keyboards/skeletonkbd/skeletonnumpad/readme.md
  keyboards/skeletonkbd/skeletonnumpad/rules.mk
  keyboards/skeletonkbd/skeletonnumpad/skeletonnumpad.c
  keyboards/skeletonkbd/skeletonnumpad/skeletonnumpad.h
Labels: keyboard, keymap, via

#16941 Sendstring keycode overhaul
  quantum/send_string_keycodes.h
Labels: enhancement, core

#16960 Move disable_jtag to platforms
  platforms/avr/platform.c
  quantum/keyboard.c
Labels: core

#16957 Remove some layout exceptions
  data/schemas/definitions.jsonschema
  keyboards/handwired/xealous/info.json
  keyboards/handwired/xealous/keymaps/default/keymap.c
  keyboards/handwired/xealous/rev1/rev1.h
  keyboards/hhkb/jp/info.json
  keyboards/hhkb/jp/jp.h
  keyboards/hhkb/jp/keymaps/bakingpy/keymap.c
  keyboards/hhkb/jp/keymaps/default/keymap.c
  keyboards/hhkb/jp/keymaps/default_mac/keymap.c
  keyboards/hhkb/jp/keymaps/dhertz/keymap.c
  keyboards/hhkb/jp/keymaps/enoch_jp/keymap.c
  keyboards/hhkb/jp/keymaps/halfqwerty_jp/keymap.c
  keyboards/hhkb/jp/keymaps/rdg_jp/keymap.c
  keyboards/hhkb/jp/keymaps/sh_jp/keymap.c
  keyboards/hhkb/jp/keymaps/via/keymap.c
  keyboards/reviung/reviung34/info.json
  keyboards/reviung/reviung34/keymaps/default_2u/keymap.c
  keyboards/reviung/reviung34/keymaps/default_2u/readme.md
  keyboards/reviung/reviung34/keymaps/default_rgb2u/keymap.c
  keyboards/reviung/reviung34/reviung34.h
Labels: keyboard, keymap, via

#16862 Added a keymap for kinesis advantage.
  keyboards/kinesis/keymaps/heatxsink/keymap.c
  keyboards/kinesis/keymaps/heatxsink/readme.md
  keyboards/kinesis/keymaps/heatxsink/rules.mk
Labels: keymap

#16961 Remove ARM pgm_read_word workaround in rgblight
  quantum/rgblight/rgblight.c
Labels: core

#16942 Solanis H87C/H88C Compatible Replacement PCBs
  keyboards/fjlabs/solanis/config.h
  keyboards/fjlabs/solanis/info.json
  keyboards/fjlabs/solanis/keymaps/default/keymap.c
  keyboards/fjlabs/solanis/keymaps/via/keymap.c
  keyboards/fjlabs/solanis/keymaps/via/rules.mk
  keyboards/fjlabs/solanis/readme.md
  keyboards/fjlabs/solanis/rules.mk
  keyboards/fjlabs/solanis/solanis.c
  keyboards/fjlabs/solanis/solanis.h
Labels: keyboard, keymap, via

#16857 RM_Numpad: Fix layout bug
  keyboards/rmkeebs/rm_numpad/info.json
  keyboards/rmkeebs/rm_numpad/keymaps/default/keymap.c
  keyboards/rmkeebs/rm_numpad/keymaps/split_plus/keymap.c
  keyboards/rmkeebs/rm_numpad/rm_numpad.h
Labels: keyboard, keymap

#16956 [Keymap] Improve Pain27 default keymap readability
  keyboards/wsk/pain27/keymaps/default/keymap.c
Labels: keymap
