Repository qmk/qmk_firmware, pull requests merged in 2022-02, with the labels that each got.

#16157 Sol3 rgb fix
  keyboards/rgbkb/sol3/config.h
  keyboards/rgbkb/sol3/rev1/rev1.c
Labels: keyboard

#16158 Fixed a bug in pin assignment and some updates on mikeneko65
  keyboards/mikeneko65/rev3/config.h
  keyboards/mikeneko65/rev3/keymaps/default/keymap.c
  keyboards/mikeneko65/rev3/keymaps/via/keymap.c
  keyboards/mikeneko65/rev3/rev3.c
  keyboards/mikeneko65/rev3/rev3.h
  keyboards/mikeneko65/rev4/config.h
  keyboards/mikeneko65/rev4/keymaps/default/keymap.c
  keyboards/mikeneko65/rev4/keymaps/via/keymap.c
  keyboards/mikeneko65/rev4/rev4.c
  keyboards/mikeneko65/rev4/rev4.h
Labels: keyboard, keymap, via

#16144 Add reference to split data sync options for RGB
  docs/feature_rgb_matrix.md
  docs/feature_rgblight.md
Labels: documentation

#16147 Simplify handedness
  keyboards/cradio/config.h
  keyboards/cradio/readme.md
Labels: keyboard

#16148 Typo correction
  keyboards/ferris/sweep/readme.md
Labels: keyboard

#16149 ReadMe corrections
  keyboards/crkbd/readme.md
Labels: keyboard

#16129 R2 version of jadookb/jkb65
  keyboards/jadookb/jkb65/config.h
  keyboards/jadookb/jkb65/keymaps/default/keymap.c
  keyboards/jadookb/jkb65/keymaps/via/rules.mk
  keyboards/jadookb/jkb65/r2/config.h
  keyboards/jadookb/jkb65/r2/readme.md
Labels: keyboard, keymap, via

#16112 move niu_mini to /kbdfans
  keyboards/kbdfans/niu_mini/config.h
  keyboards/kbdfans/niu_mini/info.json
  keyboards/kbdfans/niu_mini/keymaps/abhixec/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/abhixec/readme.md
  keyboards/kbdfans/niu_mini/keymaps/abhixec/rules.mk
  keyboards/kbdfans/niu_mini/keymaps/codecoffeecode/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/codecoffeecode/readme.md
  keyboards/kbdfans/niu_mini/keymaps/default/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/default/readme.md
  keyboards/kbdfans/niu_mini/keymaps/dyesub/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/dyesub/readme.md
  keyboards/kbdfans/niu_mini/keymaps/dyesub/rules.mk
  keyboards/kbdfans/niu_mini/keymaps/edvard/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/edvard/readme.md
  keyboards/kbdfans/niu_mini/keymaps/framtava/config.h
  keyboards/kbdfans/niu_mini/keymaps/framtava/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/framtava/readme.md
  keyboards/kbdfans/niu_mini/keymaps/framtava/rules.mk
  keyboards/kbdfans/niu_mini/keymaps/mason/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/nosarthur/README.md
  keyboards/kbdfans/niu_mini/keymaps/nosarthur/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/nosarthur/keymap_colemak_dh.json
  keyboards/kbdfans/niu_mini/keymaps/nosarthur/keymap_qwerty.json
  keyboards/kbdfans/niu_mini/keymaps/nosarthur/rules.mk
  keyboards/kbdfans/niu_mini/keymaps/planck/config.h
  keyboards/kbdfans/niu_mini/keymaps/planck/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/planck/readme.md
  keyboards/kbdfans/niu_mini/keymaps/planck/rules.mk
  keyboards/kbdfans/niu_mini/keymaps/tobias/config.h
  keyboards/kbdfans/niu_mini/keymaps/tobias/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/tobias/readme.md
  keyboards/kbdfans/niu_mini/keymaps/tobias/rules.mk
  keyboards/kbdfans/niu_mini/keymaps/tucznak/config.h
  keyboards/kbdfans/niu_mini/keymaps/tucznak/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/tucznak/readme.md
  keyboards/kbdfans/niu_mini/keymaps/tucznak/rules.mk
  keyboards/kbdfans/niu_mini/keymaps/via/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/via/rules.mk
  keyboards/kbdfans/niu_mini/keymaps/xtonhasvim/config.h
  keyboards/kbdfans/niu_mini/keymaps/xtonhasvim/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/xtonhasvim/readme.md
  keyboards/kbdfans/niu_mini/keymaps/xtonhasvim/rules.mk
  keyboards/kbdfans/niu_mini/keymaps/yttyx/README.md
  keyboards/kbdfans/niu_mini/keymaps/yttyx/config.h
  keyboards/kbdfans/niu_mini/keymaps/yttyx/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/yttyx/rules.mk
  keyboards/kbdfans/niu_mini/niu_mini.c
  keyboards/kbdfans/niu_mini/niu_mini.h
  keyboards/kbdfans/niu_mini/readme.md
  keyboards/kbdfans/niu_mini/rules.mk
Labels: keyboard, keymap, via

#16102 move @vuhopkep 's keebs into /hnahkb
  keyboards/hnahkb/freyr/config.h
  keyboards/hnahkb/freyr/freyr.c
  keyboards/hnahkb/freyr/freyr.h
  keyboards/hnahkb/freyr/info.json
  keyboards/hnahkb/freyr/keymaps/default/keymap.c
  keyboards/hnahkb/freyr/keymaps/default/readme.md
  keyboards/hnahkb/freyr/readme.md
  keyboards/hnahkb/freyr/rules.mk
  keyboards/hnahkb/stella/config.h
  keyboards/hnahkb/stella/info.json
  keyboards/hnahkb/stella/keymaps/default/keymap.c
  keyboards/hnahkb/stella/keymaps/default/readme.md
  keyboards/hnahkb/stella/readme.md
  keyboards/hnahkb/stella/rules.mk
  keyboards/hnahkb/stella/stella.c
  keyboards/hnahkb/stella/stella.h
  keyboards/hnahkb/vn66/config.h
  keyboards/hnahkb/vn66/info.json
  keyboards/hnahkb/vn66/keymaps/default/keymap.c
  keyboards/hnahkb/vn66/keymaps/default/readme.md
  keyboards/hnahkb/vn66/readme.md
  keyboards/hnahkb/vn66/rules.mk
  keyboards/hnahkb/vn66/vn66.c
  keyboards/hnahkb/vn66/vn66.h
Labels: keyboard, keymap

#16159 [Keyboard] enable rgb modes for jkb65
  keyboards/jadookb/jkb65/config.h
Labels: keyboard

#16041 move @drhigsby 's boards into /drhigsby
  keyboards/drhigsby/bkf/bkf.c
  keyboards/drhigsby/bkf/bkf.h
  keyboards/drhigsby/bkf/config.h
  keyboards/drhigsby/bkf/info.json
  keyboards/drhigsby/bkf/keymaps/default/keymap.c
  keyboards/drhigsby/bkf/keymaps/default/readme.md
  keyboards/drhigsby/bkf/readme.md
  keyboards/drhigsby/bkf/rules.mk
  keyboards/drhigsby/dubba175/config.h
  keyboards/drhigsby/dubba175/dubba175.c
  keyboards/drhigsby/dubba175/dubba175.h
  keyboards/drhigsby/dubba175/info.json
  keyboards/drhigsby/dubba175/keymaps/default/config.h
  keyboards/drhigsby/dubba175/keymaps/default/keymap.c
  keyboards/drhigsby/dubba175/keymaps/default/readme.md
  keyboards/drhigsby/dubba175/keymaps/default/rules.mk
  keyboards/drhigsby/dubba175/readme.md
  keyboards/drhigsby/dubba175/rules.mk
  keyboards/drhigsby/ogurec/config.h
  keyboards/drhigsby/ogurec/info.json
  keyboards/drhigsby/ogurec/keymaps/dack/config.h
  keyboards/drhigsby/ogurec/keymaps/dack/keymap.c
  keyboards/drhigsby/ogurec/keymaps/dack/readme.md
  keyboards/drhigsby/ogurec/keymaps/default/config.h
  keyboards/drhigsby/ogurec/keymaps/default/keymap.c
  keyboards/drhigsby/ogurec/keymaps/default/readme.md
  keyboards/drhigsby/ogurec/keymaps/default/rules.mk
  keyboards/drhigsby/ogurec/left_pm/left_pm.h
  keyboards/drhigsby/ogurec/left_pm/readme.md
  keyboards/drhigsby/ogurec/left_pm/rules.mk
  keyboards/drhigsby/ogurec/ogurec.c
  keyboards/drhigsby/ogurec/ogurec.h
  keyboards/drhigsby/ogurec/readme.md
  keyboards/drhigsby/ogurec/right_pm/readme.md
  keyboards/drhigsby/ogurec/right_pm/right_pm.h
  keyboards/drhigsby/ogurec/right_pm/rules.mk
  keyboards/drhigsby/ogurec/rules.mk
  keyboards/drhigsby/packrat/config.h
  keyboards/drhigsby/packrat/info.json
  keyboards/drhigsby/packrat/keymaps/3uc/config.h
  keyboards/drhigsby/packrat/keymaps/3uc/keymap.c
  keyboards/drhigsby/packrat/keymaps/3uc/readme.md
  keyboards/drhigsby/packrat/keymaps/3uc/rules.mk
  keyboards/drhigsby/packrat/keymaps/default/config.h
  keyboards/drhigsby/packrat/keymaps/default/keymap.c
  keyboards/drhigsby/packrat/keymaps/default/readme.md
  keyboards/drhigsby/packrat/keymaps/default/rules.mk
  keyboards/drhigsby/packrat/packrat.c
  keyboards/drhigsby/packrat/packrat.h
  keyboards/drhigsby/packrat/readme.md
  keyboards/drhigsby/packrat/rules.mk
Labels: keyboard, keymap

#16054 Don't make EEPROM size assumptions with dynamic keymaps.
  common_features.mk
  keyboards/kabedon/kabedon980/config.h
  keyboards/kabedon/kabedon980/keymaps/via/keymap.c
  keyboards/mechlovin/olly/jf/keymaps/via/config.h
  keyboards/mechlovin/olly/jf/keymaps/via/keymap.c
  platforms/arm_atsam/eeprom_samd.c
  platforms/arm_atsam/eeprom_samd.h
  platforms/chibios/eeprom_stm32.c
  platforms/chibios/eeprom_stm32_defs.h
  platforms/chibios/eeprom_teensy.c
  platforms/chibios/eeprom_teensy.h
  platforms/eeprom.h
  platforms/test/eeprom.c
  platforms/test/eeprom_stm32_tests.cpp
  platforms/test/eeprom_stm32_tests.h
  platforms/test/rules.mk
  quantum/dynamic_keymap.c
Labels: bug, core, keyboard, keymap, via

#16166 Fixup multibuild filegen
  build_keyboard.mk
  lib/python/qmk/cli/multibuild.py
Labels: bug, core, python, cli

#16152 Add YMDK sp64 VIA support
  keyboards/ymdk/sp64/keymaps/via/keymap.c
  keyboards/ymdk/sp64/keymaps/via/rules.mk
Labels: keymap, via

#16155 `qmk doctor`: display qmk_firmware version tag
  lib/python/qmk/cli/doctor/main.py
  lib/python/qmk/commands.py
Labels: enhancement, python, cli

#16162 Fix issues with Python Tests
  lib/python/qmk/tests/test_cli_commands.py
Labels: python, cli

#16151 Add MacOS layer
  keyboards/gmmk/pro/ansi/keymaps/andrebrait/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/andrebrait/readme.md
  keyboards/gmmk/pro/ansi/keymaps/andrebrait/rules.mk
Labels: keymap

#16150 Add keyten kt60-M
  keyboards/keyten/kt60_m/config.h
  keyboards/keyten/kt60_m/info.json
  keyboards/keyten/kt60_m/keymaps/default/keymap.c
  keyboards/keyten/kt60_m/keymaps/default/readme.md
  keyboards/keyten/kt60_m/keymaps/via/keymap.c
  keyboards/keyten/kt60_m/keymaps/via/readme.md
  keyboards/keyten/kt60_m/keymaps/via/rules.mk
  keyboards/keyten/kt60_m/kt60_m.c
  keyboards/keyten/kt60_m/kt60_m.h
  keyboards/keyten/kt60_m/readme.md
  keyboards/keyten/kt60_m/rules.mk
Labels: keyboard, keymap, via

#16168 Fixup builds so that teensy EEPROM knows which MCU it's targeting.
  platforms/chibios/eeprom_teensy.h
Labels: bug, core

#16164 Fix a couple of mismatched info.json layout names
  keyboards/cannonkeys/hoodrowg/info.json
  keyboards/mtbkeys/mtb60/hotswap/info.json
  keyboards/mtbkeys/mtb60/solder/info.json
  keyboards/studiokestra/galatea/rev1/info.json
  keyboards/studiokestra/galatea/rev2/info.json
Labels: bug, keyboard

#16181 Create a build error if no bootloader is specified.
  builddefs/bootloader.mk
  platforms/avr/bootloaders/custom.c
  platforms/chibios/bootloaders/custom.c
Labels: bug, core

#16179 Fix axis inversion using new libraries
  keyboards/handwired/aball/config.h
Labels: keyboard

#16188 Ensure `version.h` is recreated each build.
  build_keyboard.mk
  lib/python/qmk/cli/generate/version_h.py
Labels: bug, core, python, cli

#16196 Point out that deferred execution needs to be enabled in rules.mk
  docs/custom_quantum_functions.md
Labels: documentation

#16193 Mokey xox70hot: rename LAYOUT to LAYOUT_tkl_nofrow_ansi_tsangan
  keyboards/mokey/xox70hot/info.json
  keyboards/mokey/xox70hot/keymaps/default/keymap.c
  keyboards/mokey/xox70hot/keymaps/via/keymap.c
  keyboards/mokey/xox70hot/xox70hot.h
Labels: enhancement, keyboard, keymap, via

#14950 [Keyboard]Add Keyboards GL516s
  keyboards/gl516/a52gl/a52gl.c
  keyboards/gl516/a52gl/a52gl.h
  keyboards/gl516/a52gl/config.h
  keyboards/gl516/a52gl/info.json
  keyboards/gl516/a52gl/keymaps/default/keymap.c
  keyboards/gl516/a52gl/keymaps/salicylic/config.h
  keyboards/gl516/a52gl/keymaps/salicylic/keymap.c
  keyboards/gl516/a52gl/keymaps/via/keymap.c
  keyboards/gl516/a52gl/keymaps/via/rules.mk
  keyboards/gl516/a52gl/matrix.c
  keyboards/gl516/a52gl/readme.md
  keyboards/gl516/a52gl/rules.mk
  keyboards/gl516/j73gl/config.h
  keyboards/gl516/j73gl/info.json
  keyboards/gl516/j73gl/j73gl.c
  keyboards/gl516/j73gl/j73gl.h
  keyboards/gl516/j73gl/keymaps/default/keymap.c
  keyboards/gl516/j73gl/keymaps/via/keymap.c
  keyboards/gl516/j73gl/keymaps/via/rules.mk
  keyboards/gl516/j73gl/keymaps/via_rgb_matrix/config.h
  keyboards/gl516/j73gl/keymaps/via_rgb_matrix/keymap.c
  keyboards/gl516/j73gl/keymaps/via_rgb_matrix/rules.mk
  keyboards/gl516/j73gl/matrix.c
  keyboards/gl516/j73gl/readme.md
  keyboards/gl516/j73gl/rules.mk
  keyboards/gl516/n51gl/config.h
  keyboards/gl516/n51gl/info.json
  keyboards/gl516/n51gl/keymaps/default/keymap.c
  keyboards/gl516/n51gl/keymaps/salicylic/config.h
  keyboards/gl516/n51gl/keymaps/salicylic/keymap.c
  keyboards/gl516/n51gl/keymaps/via/config.h
  keyboards/gl516/n51gl/keymaps/via/keymap.c
  keyboards/gl516/n51gl/keymaps/via/rules.mk
  keyboards/gl516/n51gl/matrix.c
  keyboards/gl516/n51gl/n51gl.c
  keyboards/gl516/n51gl/n51gl.h
  keyboards/gl516/n51gl/readme.md
  keyboards/gl516/n51gl/rules.mk
Labels: keyboard, keymap, via

#16194 MTBKeys MTB60 Hotswap Layout Macro Refactor
  keyboards/mtbkeys/mtb60/hotswap/hotswap.h
  keyboards/mtbkeys/mtb60/hotswap/info.json
  keyboards/mtbkeys/mtb60/hotswap/keymaps/default/keymap.c
  keyboards/mtbkeys/mtb60/hotswap/rules.mk
Labels: enhancement, keyboard, keymap

#16185 Update outputselect to use platform connected state API
  drivers/bluetooth/outputselect.c
Labels: enhancement, core

#16017 ChibiOS timer fixes
  platforms/chibios/timer.c
Labels: core

#16067 Initial migration of suspend callbacks
  platforms/arm_atsam/suspend.c
  platforms/avr/suspend.c
  platforms/chibios/suspend.c
  platforms/common.mk
  platforms/suspend.c
  quantum/quantum.c
Labels: optimization, core

#15829 [Core] Add Pixel Flow RGB matrix effect
  docs/feature_rgb_matrix.md
  docs/squeezing_avr.md
  quantum/rgb_matrix/animations/pixel_flow_anim.h
  quantum/rgb_matrix/animations/rgb_matrix_effects.inc
Labels: core, documentation

#16192 MechanicKeys Mini Ashen 40: refactor LAYOUT macro
  keyboards/mechanickeys/miniashen40/info.json
  keyboards/mechanickeys/miniashen40/keymaps/default/keymap.c
  keyboards/mechanickeys/miniashen40/keymaps/via/keymap.c
  keyboards/mechanickeys/miniashen40/miniashen40.h
Labels: enhancement, keyboard, keymap, via

#16214 Meow65: rename LAYOUT to LAYOUT_65_ansi_blocker
  keyboards/meow65/info.json
  keyboards/meow65/keymaps/default/keymap.c
  keyboards/meow65/keymaps/via/keymap.c
  keyboards/meow65/meow65.h
  keyboards/meow65/rules.mk
Labels: enhancement, keyboard, keymap, via

#16213 FJLabs 7V Hotswap: refactor LAYOUT_75_all macro
  keyboards/fjlabs/7vhotswap/7vhotswap.h
  keyboards/fjlabs/7vhotswap/info.json
  keyboards/fjlabs/7vhotswap/keymaps/default/keymap.c
  keyboards/fjlabs/7vhotswap/keymaps/via/keymap.c
  keyboards/fjlabs/7vhotswap/readme.md
Labels: enhancement, keyboard, keymap, via

#16195 MTBKeys MTB60 Solder Layout Macro Refactor
  keyboards/mtbkeys/mtb60/solder/info.json
  keyboards/mtbkeys/mtb60/solder/keymaps/default/keymap.c
  keyboards/mtbkeys/mtb60/solder/solder.h
Labels: enhancement, keyboard, keymap

#16215 `develop` changelog generator: skip code formatting in listing
  lib/python/qmk/cli/generate/develop_pr_list.py
Labels: python, cli

#16205 [Docs] feature_macro.md: minor formatting fix
  docs/feature_macros.md
Labels: documentation

#15114 Initial support for TKC Portico75
  keyboards/tkc/portico75/config.h
  keyboards/tkc/portico75/info.json
  keyboards/tkc/portico75/keymaps/default/keymap.c
  keyboards/tkc/portico75/keymaps/via/keymap.c
  keyboards/tkc/portico75/keymaps/via/rules.mk
  keyboards/tkc/portico75/portico75.c
  keyboards/tkc/portico75/portico75.h
  keyboards/tkc/portico75/readme.md
  keyboards/tkc/portico75/rules.mk
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: keyboard, keymap, via

#16206 Add Via-compatible keymap for Koolertron AMAG23
  keyboards/amag23/keymaps/via/keymap.c
  keyboards/amag23/keymaps/via/rules.mk
Labels: keymap, via

#16197 Fix OLED font path in default Rhymestone keymap
  keyboards/marksard/rhymestone/keymaps/default/config.h
Labels: keymap

#16182 [Bug] fix Pachi RGB Rev2 RGB positioning
  keyboards/xelus/pachi/rgb/rev2/config.h
  keyboards/xelus/pachi/rgb/rev2/rev2.c
Labels: keyboard

#15787 ChibiOS: add support for HID Programmable Buttons
  tmk_core/protocol.mk
  tmk_core/protocol/chibios/chibios.c
  tmk_core/protocol/chibios/usb_main.c
Labels: core

#16212 Bathroom Epiphanies Ghost Squid: add QMK Configurator data
  keyboards/bpiphany/ghost_squid/info.json
Labels: enhancement, keyboard

#16220 Standardise error output.
  build_keyboard.mk
  build_layout.mk
  builddefs/bootloader.mk
  builddefs/message.mk
  common_features.mk
Labels: core

#16218 Studio Kestra Galatea: add
  keyboards/studiokestra/galatea/rev1/info.json
  keyboards/studiokestra/galatea/rev1/rev1.h
  keyboards/studiokestra/galatea/rev2/info.json
  keyboards/studiokestra/galatea/rev2/rev2.h
Labels: enhancement, keyboard

#16221 Followup to #16220, more test error output.
  platforms/avr/platform.mk
  platforms/chibios/platform.mk
  testlist.mk
Labels: core

#16203 [Keymap]: add LalitMaganti GMMK Pro Keymap
  keyboards/gmmk/pro/ansi/keymaps/lalitmaganti/config.h
  keyboards/gmmk/pro/ansi/keymaps/lalitmaganti/keymap.c
  keyboards/gmmk/pro/ansi/keymaps/lalitmaganti/rules.mk
Labels: keymap

#15915 Xenon
  keyboards/xenon/config.h
  keyboards/xenon/info.json
  keyboards/xenon/keymaps/default/keymap.c
  keyboards/xenon/readme.md
  keyboards/xenon/rules.mk
  keyboards/xenon/xenon.c
  keyboards/xenon/xenon.h
Labels: keyboard, keymap

#15923 RGB Matrix: Reload from EEPROM
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix.h
Labels: core, documentation

#16225 Add missing `BOOTLOADER` for a handful of boards
  keyboards/ez_maker/directpins/teensy_32/info.json
  keyboards/ez_maker/directpins/teensy_lc/info.json
  keyboards/handwired/twadlee/tp69/rules.mk
  keyboards/keychron/q2/rev_0110/rules.mk
  keyboards/keychron/q2/rev_0111/rules.mk
  keyboards/keychron/q2/rev_0112/rules.mk
  keyboards/keychron/q2/rev_0113/rules.mk
Labels: bug, keyboard

#16228 Add `custom` to list of valid bootloader types in info.json
  data/schemas/keyboard.jsonschema
Labels: bug, enhancement

#16226 [Docs] feature: mouse keys, fix misused wording
  docs/feature_mouse_keys.md
Labels: documentation

#16219 Add macroboard(5x6 OLKB blackpill) keyboard
  keyboards/handwired/macroboard/chconf.h
  keyboards/handwired/macroboard/config.h
  keyboards/handwired/macroboard/info.json
  keyboards/handwired/macroboard/keymaps/default/keymap.c
  keyboards/handwired/macroboard/keymaps/default/readme.md
  keyboards/handwired/macroboard/macroboard.c
  keyboards/handwired/macroboard/macroboard.h
  keyboards/handwired/macroboard/readme.md
  keyboards/handwired/macroboard/rules.mk
Labels: keyboard, keymap

#16190 Remove default pointing device driver.
  common_features.mk
  docs/feature_pointing_device.md
  keyboards/3w6/rev2/keymaps/default_pimoroni/rules.mk
  keyboards/crkbd/keymaps/vlukash_trackpad_right/rules.mk
  keyboards/dichotomy/rules.mk
  keyboards/gergo/keymaps/abstractkb/rules.mk
  keyboards/gergo/keymaps/default/rules.mk
  keyboards/gergo/keymaps/germ/rules.mk
  keyboards/gergo/keymaps/gotham/rules.mk
  keyboards/gergo/keymaps/oled/rules.mk
  keyboards/honeycomb/rules.mk
  keyboards/molecule/rules.mk
  keyboards/splitkb/kyria/keymaps/gotham/rules.mk
Labels: core, keyboard, keymap, documentation

#16204 Added support for Paws 60 keyboard
  keyboards/horrortroll/paws60/config.h
  keyboards/horrortroll/paws60/info.json
  keyboards/horrortroll/paws60/keymaps/default/keymap.c
  keyboards/horrortroll/paws60/keymaps/default/readme.md
  keyboards/horrortroll/paws60/keymaps/via/config.h
  keyboards/horrortroll/paws60/keymaps/via/keymap.c
  keyboards/horrortroll/paws60/keymaps/via/readme.md
  keyboards/horrortroll/paws60/keymaps/via/rules.mk
  keyboards/horrortroll/paws60/paws60.c
  keyboards/horrortroll/paws60/paws60.h
  keyboards/horrortroll/paws60/readme.md
  keyboards/horrortroll/paws60/rules.mk
Labels: keyboard, keymap, via

#16239 Cutie Club x Keebcats Dougal: add LAYOUT_65_ansi and LAYOUT_65_iso
  keyboards/cutie_club/keebcats/dougal/dougal.h
  keyboards/cutie_club/keebcats/dougal/info.json
  keyboards/cutie_club/keebcats/dougal/keymaps/default_65_ansi/keymap.c
  keyboards/cutie_club/keebcats/dougal/keymaps/default_65_iso/keymap.c
Labels: enhancement, keyboard, keymap

#16240 KBDfans KBD19x: add LAYOUT_iso
  keyboards/kbdfans/kbd19x/info.json
  keyboards/kbdfans/kbd19x/kbd19x.h
  keyboards/kbdfans/kbd19x/keymaps/default_iso/keymap.c
  keyboards/kbdfans/kbd19x/readme.md
Labels: enhancement, keyboard, keymap

#16241 Noxary Valhalla: refactor LAYOUT_all, add QMK Configurator data
  keyboards/noxary/valhalla/info.json
  keyboards/noxary/valhalla/keymaps/default/keymap.c
  keyboards/noxary/valhalla/keymaps/via/keymap.c
  keyboards/noxary/valhalla/valhalla.h
Labels: enhancement, keyboard, keymap, via

#16229 oryx rules.mk rgblight
  keyboards/planck/keymaps/oryx/keymap.c
  keyboards/planck/keymaps/oryx/rules.mk
Labels: keymap

#15826 [Docs] RGB documentation formatting corrections
  docs/feature_rgb_matrix.md
  docs/feature_rgblight.md
Labels: documentation

#15827 move @qpocket 's keyboards to qpocket/
  keyboards/qpockets/eggman/config.h
  keyboards/qpockets/eggman/eggman.c
  keyboards/qpockets/eggman/eggman.h
  keyboards/qpockets/eggman/info.json
  keyboards/qpockets/eggman/keymaps/default/config.h
  keyboards/qpockets/eggman/keymaps/default/keymap.c
  keyboards/qpockets/eggman/keymaps/default/rules.mk
  keyboards/qpockets/eggman/readme.md
  keyboards/qpockets/eggman/rules.mk
  keyboards/qpockets/space_space/readme.md
  keyboards/qpockets/space_space/rev1/config.h
  keyboards/qpockets/space_space/rev1/info.json
  keyboards/qpockets/space_space/rev1/keymaps/big_space/config.h
  keyboards/qpockets/space_space/rev1/keymaps/big_space/keymap.c
  keyboards/qpockets/space_space/rev1/keymaps/big_space/rules.mk
  keyboards/qpockets/space_space/rev1/keymaps/default/config.h
  keyboards/qpockets/space_space/rev1/keymaps/default/keymap.c
  keyboards/qpockets/space_space/rev1/keymaps/default/rules.mk
  keyboards/qpockets/space_space/rev1/keymaps/readme.md
  keyboards/qpockets/space_space/rev1/readme.md
  keyboards/qpockets/space_space/rev1/rev1.c
  keyboards/qpockets/space_space/rev1/rev1.h
  keyboards/qpockets/space_space/rev1/rules.mk
  keyboards/qpockets/space_space/rev2/config.h
  keyboards/qpockets/space_space/rev2/info.json
  keyboards/qpockets/space_space/rev2/keymaps/big_space/config.h
  keyboards/qpockets/space_space/rev2/keymaps/big_space/keymap.c
  keyboards/qpockets/space_space/rev2/keymaps/big_space/rules.mk
  keyboards/qpockets/space_space/rev2/keymaps/default/config.h
  keyboards/qpockets/space_space/rev2/keymaps/default/keymap.c
  keyboards/qpockets/space_space/rev2/keymaps/default/rules.mk
  keyboards/qpockets/space_space/rev2/keymaps/qpockets/config.h
  keyboards/qpockets/space_space/rev2/keymaps/qpockets/keymap.c
  keyboards/qpockets/space_space/rev2/keymaps/qpockets/rules.mk
  keyboards/qpockets/space_space/rev2/readme.md
  keyboards/qpockets/space_space/rev2/rev2.c
  keyboards/qpockets/space_space/rev2/rev2.h
  keyboards/qpockets/space_space/rev2/rules.mk
  keyboards/qpockets/space_space/rules.mk
  keyboards/qpockets/wanten/config.h
  keyboards/qpockets/wanten/info.json
  keyboards/qpockets/wanten/keymaps/2u_bars/config.h
  keyboards/qpockets/wanten/keymaps/2u_bars/keymap.c
  keyboards/qpockets/wanten/keymaps/2u_bars/rules.mk
  keyboards/qpockets/wanten/keymaps/625_bar/config.h
  keyboards/qpockets/wanten/keymaps/625_bar/keymap.c
  keyboards/qpockets/wanten/keymaps/625_bar/rules.mk
  keyboards/qpockets/wanten/keymaps/default/config.h
  keyboards/qpockets/wanten/keymaps/default/keymap.c
  keyboards/qpockets/wanten/keymaps/default/readme.md
  keyboards/qpockets/wanten/keymaps/default/rules.mk
  keyboards/qpockets/wanten/readme.md
  keyboards/qpockets/wanten/rules.mk
  keyboards/qpockets/wanten/wanten.c
  keyboards/qpockets/wanten/wanten.h
  keyboards/space_space/rules.mk
Labels: keyboard, keymap

#15879 Mnk75
  keyboards/mnk75/config.h
  keyboards/mnk75/info.json
  keyboards/mnk75/keymaps/default/keymap.c
  keyboards/mnk75/keymaps/default/readme.md
  keyboards/mnk75/keymaps/via/keymap.c
  keyboards/mnk75/keymaps/via/readme.md
  keyboards/mnk75/keymaps/via/rules.mk
  keyboards/mnk75/mnk75.c
  keyboards/mnk75/mnk75.h
  keyboards/mnk75/readme.md
  keyboards/mnk75/rules.mk
Labels: keyboard, keymap, via

#16191 Waffling60 Revision C
  keyboards/4pplet/waffling60/rev_c/config.h
  keyboards/4pplet/waffling60/rev_c/readme.md
  keyboards/4pplet/waffling60/rev_c/rev_c.c
  keyboards/4pplet/waffling60/rev_c/rev_c.h
  keyboards/4pplet/waffling60/rev_c/rules.mk
Labels: keyboard

#16189 added evancook.audio tenpad macropad
  keyboards/evancookaudio/tenpad/config.h
  keyboards/evancookaudio/tenpad/info.json
  keyboards/evancookaudio/tenpad/keymaps/default/keymap.c
  keyboards/evancookaudio/tenpad/readme.md
  keyboards/evancookaudio/tenpad/rules.mk
  keyboards/evancookaudio/tenpad/tenpad.c
  keyboards/evancookaudio/tenpad/tenpad.h
Labels: keyboard, keymap

#16046 Add Support for KeebsForAll Freebird Numpads
  keyboards/keebsforall/freebirdnp/lite/config.h
  keyboards/keebsforall/freebirdnp/lite/info.json
  keyboards/keebsforall/freebirdnp/lite/keymaps/default/keymap.c
  keyboards/keebsforall/freebirdnp/lite/keymaps/via/keymap.c
  keyboards/keebsforall/freebirdnp/lite/keymaps/via/rules.mk
  keyboards/keebsforall/freebirdnp/lite/lite.c
  keyboards/keebsforall/freebirdnp/lite/lite.h
  keyboards/keebsforall/freebirdnp/lite/readme.md
  keyboards/keebsforall/freebirdnp/lite/rules.mk
  keyboards/keebsforall/freebirdnp/pro/config.h
  keyboards/keebsforall/freebirdnp/pro/info.json
  keyboards/keebsforall/freebirdnp/pro/keymaps/default/keymap.c
  keyboards/keebsforall/freebirdnp/pro/keymaps/via/keymap.c
  keyboards/keebsforall/freebirdnp/pro/keymaps/via/rules.mk
  keyboards/keebsforall/freebirdnp/pro/pro.c
  keyboards/keebsforall/freebirdnp/pro/pro.h
  keyboards/keebsforall/freebirdnp/pro/readme.md
  keyboards/keebsforall/freebirdnp/pro/rules.mk
Labels: keyboard, keymap, via

#16230 [Bug] Fix `layer_state` restoration at end of dynamic macro feature #16208
  quantum/process_keycode/process_dynamic_macro.c
Labels: core

#16231 RGB matrix backlight mapping and fixes
  keyboards/atlantis/ak81_ve/ak81_ve.c
Labels: keyboard

#16242 via support for eternal_keypad
  keyboards/eternal_keypad/keymaps/via/keymap.c
  keyboards/eternal_keypad/keymaps/via/rules.mk
Labels: keymap, via

#16217 Add SN74x138 demultiplexer driver
  drivers/gpio/sn74x138.c
  drivers/gpio/sn74x138.h
  keyboards/evyd13/wasdat/config.h
  keyboards/evyd13/wasdat/matrix.c
  keyboards/evyd13/wasdat/rules.mk
Labels: enhancement, core, keyboard, feature

#14989 Add RGB matrix & LED Matrix support for IS31FL3742A, IS31FL3743A, IS31FL3745, IS31FL3746A
  common_features.mk
  docs/feature_led_matrix.md
  docs/feature_rgb_matrix.md
  drivers/led/issi/is31fl3742.h
  drivers/led/issi/is31fl3743.h
  drivers/led/issi/is31fl3745.h
  drivers/led/issi/is31fl3746.h
  drivers/led/issi/is31flcommon.c
  drivers/led/issi/is31flcommon.h
  quantum/led_matrix/led_matrix.h
  quantum/led_matrix/led_matrix_drivers.c
  quantum/rgb_matrix/rgb_matrix.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: core, documentation, awaiting review

#16248 [Docs] Address some typos (also in moonlander matrix.c)
  docs/api_docs.md
  docs/cli_commands.md
  docs/feature_tap_dance.md
  docs/hardware_avr.md
  docs/ja/cli_commands.md
  docs/keycodes_us_ansi_shifted.md
  docs/mod_tap.md
  docs/other_eclipse.md
  docs/other_vscode.md
  docs/zh-cn/cli_commands.md
  keyboards/moonlander/matrix.c
  keyboards/moonlander/readme.md
Labels: keyboard, documentation, translation

#16247 add 'info_config.h' into docs/hardware_keyboard_guidelines.md
  docs/data_driven_config.md
  docs/hardware_keyboard_guidelines.md
Labels: documentation

#14285 initial commit aliceclonergb
  keyboards/sneakbox/aliceclonergb/aliceclonergb.c
  keyboards/sneakbox/aliceclonergb/aliceclonergb.h
  keyboards/sneakbox/aliceclonergb/config.h
  keyboards/sneakbox/aliceclonergb/info.json
  keyboards/sneakbox/aliceclonergb/keymaps/default/keymap.c
  keyboards/sneakbox/aliceclonergb/keymaps/via/keymap.c
  keyboards/sneakbox/aliceclonergb/keymaps/via/rules.mk
  keyboards/sneakbox/aliceclonergb/readme.md
  keyboards/sneakbox/aliceclonergb/rules.mk
Labels: keyboard, keymap, via

#16250 Fix wheatfield/split75 iso info.json
  keyboards/wheatfield/split75/info.json
Labels: bug, keyboard

#16087 Add layout change callbacks to VIA
  keyboards/work_louder/work_board/work_board.c
  quantum/via.c
  quantum/via.h
Labels: core, keyboard

#16252 Remove half implemented micronucleus bootloader support
  data/schemas/keyboard.jsonschema
  keyboards/xiudi/xd002/rules.mk
Labels: bug, keyboard

#16254 Reduce firmware size for dztech/dz60rgb_wkl/v2_1:via
  keyboards/dztech/dz60rgb_wkl/v2_1/config.h
Labels: keyboard

#16256 Fixup bootloaders.
  keyboards/ducky/one2mini/1861st/1861st.c
  keyboards/ducky/one2mini/1861st/rules.mk
  keyboards/ergodox_stm32/ergodox_stm32.c
  keyboards/ergodox_stm32/rules.mk
  keyboards/jm60/jm60.c
  keyboards/jm60/rules.mk
  keyboards/matrix/abelx/abelx.c
  keyboards/matrix/abelx/rules.mk
  keyboards/matrix/m12og/rev1/rev1.c
  keyboards/matrix/m12og/rev1/rules.mk
  keyboards/matrix/m20add/m20add.c
  keyboards/matrix/m20add/rules.mk
  keyboards/matrix/noah/noah.c
  keyboards/matrix/noah/rules.mk
  keyboards/wolfmarkclub/wm1/rules.mk
  keyboards/wolfmarkclub/wm1/wm1.c
  keyboards/xiaomi/mk02/rules.mk
Labels: bug, keyboard

#16245 Updated Planck layout - jimmysjolund
  keyboards/planck/keymaps/jimmysjolund/keymap.c
Labels: keymap

#16253 [eternal_keypad] Update product_id and add keymap
  keyboards/eternal_keypad/config.h
  keyboards/eternal_keypad/keymaps/kyek/config.h
  keyboards/eternal_keypad/keymaps/kyek/keymap.c
  keyboards/eternal_keypad/keymaps/kyek/readme.md
Labels: keyboard, keymap

#14383 M60 split 5x12 lego pcb
  keyboards/mlego/m60_split/config.h
  keyboards/mlego/m60_split/info.json
  keyboards/mlego/m60_split/keymaps/default/config.h
  keyboards/mlego/m60_split/keymaps/default/keymap.c
  keyboards/mlego/m60_split/keymaps/via/config.h
  keyboards/mlego/m60_split/keymaps/via/keymap.c
  keyboards/mlego/m60_split/keymaps/via/rules.mk
  keyboards/mlego/m60_split/m60_split.c
  keyboards/mlego/m60_split/m60_split.h
  keyboards/mlego/m60_split/readme.md
  keyboards/mlego/m60_split/rev1/config.h
  keyboards/mlego/m60_split/rev1/halconf.h
  keyboards/mlego/m60_split/rev1/mcuconf.h
  keyboards/mlego/m60_split/rev1/rules.mk
  keyboards/mlego/m60_split/rev2/config.h
  keyboards/mlego/m60_split/rev2/halconf.h
  keyboards/mlego/m60_split/rev2/mcuconf.h
  keyboards/mlego/m60_split/rev2/rules.mk
Labels: keyboard, keymap, via

#16267 Wings42: add QMK Configurator data
  keyboards/wings42/rev1/info.json
  keyboards/wings42/rev1_extkeys/info.json
  keyboards/wings42/rev2/info.json
Labels: enhancement, keyboard

#16268 Misc size regression script improvements.
  util/size_regression.sh
Labels: core

#12795 Initial pass at data driven new-keyboard subcommand
  data/templates/avr/config.h
  data/templates/avr/rules.mk
  data/templates/base/%(KEYBOARD)s.c
  data/templates/base/%(KEYBOARD)s.h
  data/templates/base/info.json
  data/templates/base/keymaps/default/keymap.c
  data/templates/base/keymaps/default/readme.md
  data/templates/keyboard/info.json
  data/templates/keyboard/readme.md
  data/templates/keyboard/rules.mk
  data/templates/ps2avrgb/config.h
  data/templates/ps2avrgb/readme.md
  data/templates/ps2avrgb/rules.mk
  docs/cli_commands.md
  lib/python/qmk/cli/new/keyboard.py
  lib/python/qmk/path.py
  util/new_keyboard.sh
  util/new_keymap.sh
Labels: core, documentation, awaiting review, python, cli

#15944 Move mcp23018 driver to core
  drivers/gpio/mcp23018.c
  drivers/gpio/mcp23018.h
  keyboards/viktus/sp111/mcp23018.h
  keyboards/viktus/sp111/rules.mk
Labels: enhancement, core, keyboard

#16278 Add support for driving unselected row/col.
  docs/config_options.md
  keyboards/keychron/q2/config.h
  keyboards/keychron/q2/matrix.c
  quantum/matrix.c
Labels: bug, core, keyboard, documentation

#16263 [Docs] pr checklist: update doc hyperlinks to relative ones and use IDs
  docs/pr_checklist.md
Labels: documentation

#16255 [Keyboard] Add Kapl
  keyboards/kapl/config.h
  keyboards/kapl/info.json
  keyboards/kapl/kapl.c
  keyboards/kapl/kapl.h
  keyboards/kapl/keymaps/default/config.h
  keyboards/kapl/keymaps/default/keymap.c
  keyboards/kapl/keymaps/via/config.h
  keyboards/kapl/keymaps/via/keymap.c
  keyboards/kapl/keymaps/via/rules.mk
  keyboards/kapl/readme.md
  keyboards/kapl/rev1/config.h
  keyboards/kapl/rev1/rev1.c
  keyboards/kapl/rev1/rev1.h
  keyboards/kapl/rev1/rules.mk
  keyboards/kapl/rules.mk
Labels: keyboard, keymap, via

#16275 Add explicit RGB Matrix defines for Iris Rev. 6
  keyboards/keebio/iris/rev6/config.h
Labels: keyboard

#15769 refine LED Matrix LED positions on KBD67 Lite
  keyboards/kbdfans/kbd67/mkiirgb/v3/v3.c
Labels: keyboard

#15610 [Keyboard] MelGeek Mach80 rev2
  keyboards/melgeek/mach80/rev2/config.h
  keyboards/melgeek/mach80/rev2/rev2.c
  keyboards/melgeek/mach80/rev2/rules.mk
Labels: keyboard

#15912 [Keyboard] Idobao ID80 V3
  keyboards/idobao/id80/v3/config.h
  keyboards/idobao/id80/v3/info.json
  keyboards/idobao/id80/v3/keymaps/default/keymap.c
  keyboards/idobao/id80/v3/keymaps/default/readme.md
  keyboards/idobao/id80/v3/keymaps/via/keymap.c
  keyboards/idobao/id80/v3/keymaps/via/rules.mk
  keyboards/idobao/id80/v3/readme.md
  keyboards/idobao/id80/v3/rules.mk
  keyboards/idobao/id80/v3/v3.c
  keyboards/idobao/id80/v3/v3.h
Labels: keyboard, keymap, via

#16198 New Keyboard: 1upkeyboards super16v2
  keyboards/1upkeyboards/super16v2/config.h
  keyboards/1upkeyboards/super16v2/info.json
  keyboards/1upkeyboards/super16v2/keymaps/default/keymap.c
  keyboards/1upkeyboards/super16v2/keymaps/default/readme.md
  keyboards/1upkeyboards/super16v2/keymaps/via/keymap.c
  keyboards/1upkeyboards/super16v2/keymaps/via/readme.md
  keyboards/1upkeyboards/super16v2/keymaps/via/rules.mk
  keyboards/1upkeyboards/super16v2/readme.md
  keyboards/1upkeyboards/super16v2/rules.mk
  keyboards/1upkeyboards/super16v2/super16v2.c
  keyboards/1upkeyboards/super16v2/super16v2.h
Labels: keyboard, keymap, via

#15926 Digicarp65
  keyboards/handwired/swiftrax/digicarp65/config.h
  keyboards/handwired/swiftrax/digicarp65/digicarp65.c
  keyboards/handwired/swiftrax/digicarp65/digicarp65.h
  keyboards/handwired/swiftrax/digicarp65/info.json
  keyboards/handwired/swiftrax/digicarp65/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/digicarp65/keymaps/via/keymap.c
  keyboards/handwired/swiftrax/digicarp65/keymaps/via/rules.mk
  keyboards/handwired/swiftrax/digicarp65/readme.md
  keyboards/handwired/swiftrax/digicarp65/rules.mk
Labels: keyboard, keymap, via

#16280 Fix idobao/id80/v3 compilation errors
  keyboards/idobao/id80/v3/config.h
  keyboards/idobao/id80/v3/rules.mk
Labels: keyboard

#16284 Further update to #13745 on Crkbd keymap
  keyboards/crkbd/keymaps/ardakilic/config.h
  keyboards/crkbd/keymaps/ardakilic/keymap.c
Labels: keymap

#16277 Align existing pca9555 driver to better match mcp23018 API
  drivers/gpio/pca9555.c
  drivers/gpio/pca9555.h
  keyboards/moon/matrix.c
  keyboards/switchplate/southpaw_65/matrix.c
  keyboards/xiudi/xd84/matrix.c
  keyboards/xiudi/xd96/matrix.c
Labels: enhancement, core, keyboard

#16282 Remove parent-relative paths from keyboards.
  keyboards/capsunlocked/cu75/rules.mk
  keyboards/ergodox_ez/keymaps/default_glow/rules.mk
  keyboards/hhkb/ansi/post_rules.mk
  keyboards/hhkb/jp/post_rules.mk
  keyboards/rgbkb/mun/rules.mk
  keyboards/rgbkb/sol3/rules.mk
Labels: bug, keyboard, keymap

#16100 move @npspears 's boards into /checkerboards
  keyboards/checkerboards/plexus75/config.h
  keyboards/checkerboards/plexus75/info.json
  keyboards/checkerboards/plexus75/keymaps/default/config.h
  keyboards/checkerboards/plexus75/keymaps/default/keymap.c
  keyboards/checkerboards/plexus75/keymaps/default/readme.md
  keyboards/checkerboards/plexus75/keymaps/default_3u/keymap.c
  keyboards/checkerboards/plexus75/keymaps/default_3u/readme.md
  keyboards/checkerboards/plexus75/keymaps/default_7u/keymap.c
  keyboards/checkerboards/plexus75/keymaps/default_7u/readme.md
  keyboards/checkerboards/plexus75/keymaps/via/keymap.c
  keyboards/checkerboards/plexus75/keymaps/via/rules.mk
  keyboards/checkerboards/plexus75/plexus75.h
  keyboards/checkerboards/plexus75/readme.md
  keyboards/checkerboards/plexus75/rules.mk
  keyboards/checkerboards/pursuit40/config.h
  keyboards/checkerboards/pursuit40/info.json
  keyboards/checkerboards/pursuit40/keymaps/default/config.h
  keyboards/checkerboards/pursuit40/keymaps/default/keymap.c
  keyboards/checkerboards/pursuit40/keymaps/default/readme.md
  keyboards/checkerboards/pursuit40/keymaps/via/keymap.c
  keyboards/checkerboards/pursuit40/keymaps/via/rules.mk
  keyboards/checkerboards/pursuit40/pursuit40.c
  keyboards/checkerboards/pursuit40/pursuit40.h
  keyboards/checkerboards/pursuit40/readme.md
  keyboards/checkerboards/pursuit40/rules.mk
  keyboards/checkerboards/quark/config.h
  keyboards/checkerboards/quark/info.json
  keyboards/checkerboards/quark/keymaps/ajp10304/keymap.c
  keyboards/checkerboards/quark/keymaps/ajp10304/readme.md
  keyboards/checkerboards/quark/keymaps/ajp10304/rules.mk
  keyboards/checkerboards/quark/keymaps/default/config.h
  keyboards/checkerboards/quark/keymaps/default/keymap.c
  keyboards/checkerboards/quark/keymaps/default/readme.md
  keyboards/checkerboards/quark/keymaps/default_4x12/config.h
  keyboards/checkerboards/quark/keymaps/default_4x12/keymap.c
  keyboards/checkerboards/quark/keymaps/default_4x12_2x225u/config.h
  keyboards/checkerboards/quark/keymaps/default_4x12_2x225u/keymap.c
  keyboards/checkerboards/quark/keymaps/default_4x12_2x3u/config.h
  keyboards/checkerboards/quark/keymaps/default_4x12_2x3u/keymap.c
  keyboards/checkerboards/quark/keymaps/default_5x12_2x3u/config.h
  keyboards/checkerboards/quark/keymaps/default_5x12_2x3u/keymap.c
  keyboards/checkerboards/quark/keymaps/default_mit/config.h
  keyboards/checkerboards/quark/keymaps/default_mit/keymap.c
  keyboards/checkerboards/quark/keymaps/pezhore/config.h
  keyboards/checkerboards/quark/keymaps/pezhore/keymap.c
  keyboards/checkerboards/quark/keymaps/via/keymap.c
  keyboards/checkerboards/quark/keymaps/via/rules.mk
  keyboards/checkerboards/quark/quark.c
  keyboards/checkerboards/quark/quark.h
  keyboards/checkerboards/quark/readme.md
  keyboards/checkerboards/quark/rules.mk
Labels: keyboard, keymap, via

#16099 move @7-rate 's keebs to /rate
  keyboards/pistachio/rules.mk
  keyboards/rate/pistachio/config.h
  keyboards/rate/pistachio/info.json
  keyboards/rate/pistachio/keymaps/default/keymap.c
  keyboards/rate/pistachio/keymaps/rate/keymap.c
  keyboards/rate/pistachio/keymaps/via/keymap.c
  keyboards/rate/pistachio/keymaps/via/rules.mk
  keyboards/rate/pistachio/pistachio.c
  keyboards/rate/pistachio/pistachio.h
  keyboards/rate/pistachio/readme.md
  keyboards/rate/pistachio/rev1/config.h
  keyboards/rate/pistachio/rev1/readme.md
  keyboards/rate/pistachio/rev1/rev1.c
  keyboards/rate/pistachio/rev1/rev1.h
  keyboards/rate/pistachio/rev1/rules.mk
  keyboards/rate/pistachio/rev2/config.h
  keyboards/rate/pistachio/rev2/readme.md
  keyboards/rate/pistachio/rev2/rev2.c
  keyboards/rate/pistachio/rev2/rev2.h
  keyboards/rate/pistachio/rev2/rules.mk
  keyboards/rate/pistachio/rules.mk
  keyboards/rate/pistachio_mp/config.h
  keyboards/rate/pistachio_mp/info.json
  keyboards/rate/pistachio_mp/keymaps/default/keymap.c
  keyboards/rate/pistachio_mp/keymaps/default/readme.md
  keyboards/rate/pistachio_mp/keymaps/via/keymap.c
  keyboards/rate/pistachio_mp/keymaps/via/readme.md
  keyboards/rate/pistachio_mp/keymaps/via/rules.mk
  keyboards/rate/pistachio_mp/pistachio_mp.c
  keyboards/rate/pistachio_mp/pistachio_mp.h
  keyboards/rate/pistachio_mp/readme.md
  keyboards/rate/pistachio_mp/rules.mk
  keyboards/rate/pistachio_pro/config.h
  keyboards/rate/pistachio_pro/info.json
  keyboards/rate/pistachio_pro/keymaps/default/keymap.c
  keyboards/rate/pistachio_pro/keymaps/default/readme.md
  keyboards/rate/pistachio_pro/keymaps/rate/keymap.c
  keyboards/rate/pistachio_pro/keymaps/rate/readme.md
  keyboards/rate/pistachio_pro/keymaps/via/keymap.c
  keyboards/rate/pistachio_pro/keymaps/via/readme.md
  keyboards/rate/pistachio_pro/keymaps/via/rules.mk
  keyboards/rate/pistachio_pro/lib/bme280.c
  keyboards/rate/pistachio_pro/lib/bme280.h
  keyboards/rate/pistachio_pro/lib/glcdfont.c
  keyboards/rate/pistachio_pro/matrix.c
  keyboards/rate/pistachio_pro/pistachio_pro.c
  keyboards/rate/pistachio_pro/pistachio_pro.h
  keyboards/rate/pistachio_pro/readme.md
  keyboards/rate/pistachio_pro/rules.mk
Labels: keyboard, keymap, via

#16096 move spaceholdings boards into /spaceholdings
  keyboards/spaceholdings/nebula12/chconf.h
  keyboards/spaceholdings/nebula12/config.h
  keyboards/spaceholdings/nebula12/halconf.h
  keyboards/spaceholdings/nebula12/info.json
  keyboards/spaceholdings/nebula12/keymaps/default/keymap.c
  keyboards/spaceholdings/nebula12/keymaps/default/readme.md
  keyboards/spaceholdings/nebula12/keymaps/via/keymap.c
  keyboards/spaceholdings/nebula12/keymaps/via/readme.md
  keyboards/spaceholdings/nebula12/keymaps/via/rules.mk
  keyboards/spaceholdings/nebula12/mcuconf.h
  keyboards/spaceholdings/nebula12/nebula12.c
  keyboards/spaceholdings/nebula12/nebula12.h
  keyboards/spaceholdings/nebula12/readme.md
  keyboards/spaceholdings/nebula12/rules.mk
  keyboards/spaceholdings/nebula68/config.h
  keyboards/spaceholdings/nebula68/halconf.h
  keyboards/spaceholdings/nebula68/info.json
  keyboards/spaceholdings/nebula68/keymaps/default/keymap.c
  keyboards/spaceholdings/nebula68/keymaps/default/readme.md
  keyboards/spaceholdings/nebula68/keymaps/via/keymap.c
  keyboards/spaceholdings/nebula68/keymaps/via/readme.md
  keyboards/spaceholdings/nebula68/keymaps/via/rules.mk
  keyboards/spaceholdings/nebula68/mcuconf.h
  keyboards/spaceholdings/nebula68/nebula68.c
  keyboards/spaceholdings/nebula68/nebula68.h
  keyboards/spaceholdings/nebula68/readme.md
  keyboards/spaceholdings/nebula68/rules.mk
  keyboards/spaceholdings/nebula68b/config.h
  keyboards/spaceholdings/nebula68b/info.json
  keyboards/spaceholdings/nebula68b/keymaps/default/keymap.c
  keyboards/spaceholdings/nebula68b/keymaps/default/readme.md
  keyboards/spaceholdings/nebula68b/keymaps/via/keymap.c
  keyboards/spaceholdings/nebula68b/keymaps/via/readme.md
  keyboards/spaceholdings/nebula68b/keymaps/via/rules.mk
  keyboards/spaceholdings/nebula68b/nebula68b.c
  keyboards/spaceholdings/nebula68b/nebula68b.h
  keyboards/spaceholdings/nebula68b/readme.md
  keyboards/spaceholdings/nebula68b/rules.mk
Labels: keyboard, keymap, via

#16091 move hid_liber to /bpiphany
  keyboards/bpiphany/hid_liber/config.h
  keyboards/bpiphany/hid_liber/hid_liber.c
  keyboards/bpiphany/hid_liber/hid_liber.h
  keyboards/bpiphany/hid_liber/info.json
  keyboards/bpiphany/hid_liber/keymaps/bakageta/config.h
  keyboards/bpiphany/hid_liber/keymaps/bakageta/keymap.c
  keyboards/bpiphany/hid_liber/keymaps/bakageta/readme.md
  keyboards/bpiphany/hid_liber/keymaps/bakageta/rules.mk
  keyboards/bpiphany/hid_liber/keymaps/default/keymap.c
  keyboards/bpiphany/hid_liber/keymaps/default/readme.md
  keyboards/bpiphany/hid_liber/matrix.c
  keyboards/bpiphany/hid_liber/readme.md
  keyboards/bpiphany/hid_liber/rules.mk
Labels: keyboard, keymap

#16082 move four_banger to bpiphany
  keyboards/bpiphany/four_banger/config.h
  keyboards/bpiphany/four_banger/four_banger.c
  keyboards/bpiphany/four_banger/four_banger.h
  keyboards/bpiphany/four_banger/info.json
  keyboards/bpiphany/four_banger/keymaps/default/keymap.c
  keyboards/bpiphany/four_banger/readme.md
  keyboards/bpiphany/four_banger/rules.mk
Labels: keyboard, keymap

#16290 Size checks print out target firmware file instead
  tmk_core/rules.mk
Labels: core

#16177 [keymap] submitting ariccb planck keymap
  keyboards/planck/keymaps/ariccb/.vscode/settings.json
  keyboards/planck/keymaps/ariccb/config.h
  keyboards/planck/keymaps/ariccb/features/caps_word.c
  keyboards/planck/keymaps/ariccb/features/caps_word.h
  keyboards/planck/keymaps/ariccb/features/select_word.c
  keyboards/planck/keymaps/ariccb/features/select_word.h
  keyboards/planck/keymaps/ariccb/keymap.c
  keyboards/planck/keymaps/ariccb/readme.md
  keyboards/planck/keymaps/ariccb/rules.mk
Labels: keymap

#16293 CMM.Studio Fuji65: Configurator Data Patch
  keyboards/cmm_studio/fuji65/info.json
Labels: enhancement, keyboard

#16291 zigotica keymap tweaks
  users/zigotica/rows.h
Labels: keymap

#16294 Demiurge: correct Configurator Layout data
  keyboards/demiurge/info.json
Labels: enhancement, keyboard

#16295 CMM.Studio Fuji65: correct layout data for real this time
  keyboards/cmm_studio/fuji65/info.json
Labels: enhancement, keyboard

#16298 gl516/j73gl: fix Configurator key sequence
  keyboards/gl516/j73gl/info.json
Labels: enhancement, keyboard

#16296 Eye Oh Designs SPRH: fix Configurator data
  keyboards/eyeohdesigns/sprh/info.json
Labels: enhancement, keyboard

#16302 Improve description of LED state data sync option
  docs/feature_led_indicators.md
Labels: documentation

#16300 Fix slashes in build_full_test.mk
  build_full_test.mk
Labels: enhancement, core

#16299 gl516/n51gl: fix QMK Configurator rendering
  keyboards/gl516/n51gl/info.json
Labels: enhancement, keyboard

#16305 Keyprez Unicorn: fix QMK Configurator key sequence
  keyboards/keyprez/unicorn/info.json
Labels: enhancement, keyboard

#16307 keyten kt60-M: rename LAYOUT to LAYOUT_60_tsangan_hhkb
  keyboards/keyten/kt60_m/info.json
  keyboards/keyten/kt60_m/keymaps/default/keymap.c
  keyboards/keyten/kt60_m/keymaps/via/keymap.c
  keyboards/keyten/kt60_m/kt60_m.h
  keyboards/keyten/kt60_m/rules.mk
Labels: enhancement, keyboard, keymap, via

#16310 Mode 75H Touch-UP
  keyboards/mode/m75h/info.json
  keyboards/mode/m75h/keymaps/default/keymap.c
  keyboards/mode/m75h/keymaps/via/keymap.c
  keyboards/mode/m75h/m75h.h
Labels: enhancement, keyboard, keymap, via

#15667 move ID87 to IDOBAO vendor folder
  keyboards/idobao/id87/v1/config.h
  keyboards/idobao/id87/v1/info.json
  keyboards/idobao/id87/v1/keymaps/default/keymap.c
  keyboards/idobao/id87/v1/keymaps/default/readme.md
  keyboards/idobao/id87/v1/keymaps/via/keymap.c
  keyboards/idobao/id87/v1/keymaps/via/rules.mk
  keyboards/idobao/id87/v1/readme.md
  keyboards/idobao/id87/v1/rules.mk
  keyboards/idobao/id87/v1/v1.c
  keyboards/idobao/id87/v1/v1.h
Labels: keyboard, keymap, via

#16283 Add 65_iso_split_bs default layout
  layouts/default/65_iso_split_bs/default_65_iso_split_bs/keymap.c
  layouts/default/65_iso_split_bs/info.json
  layouts/default/65_iso_split_bs/layout.json
  layouts/default/65_iso_split_bs/readme.md
  layouts/default/readme.md
Labels: enhancement, keymap

#16301 maxr1998/pulse4k: Move Combo code to keymap level
  keyboards/maxr1998/pulse4k/keymaps/default/keymap.c
  keyboards/maxr1998/pulse4k/keymaps/default/rules.mk
  keyboards/maxr1998/pulse4k/keymaps/maxr1998/keymap.c
  keyboards/maxr1998/pulse4k/keymaps/maxr1998/rules.mk
  keyboards/maxr1998/pulse4k/pulse4k.c
  keyboards/maxr1998/pulse4k/rules.mk
Labels: bug, keyboard, keymap

#16314 mechlovin/kay60: fix mismatched layout name
  keyboards/mechlovin/kay60/info.json
Labels: bug, keyboard

#16316 ps2/avr: use the correct file name
  builddefs/common_features.mk
Labels: bug

#16317 handwired/promethium: fix missing include
  keyboards/handwired/promethium/promethium.h
Labels: bug, keyboard

#16292 Various fixes for matrix _RIGHT handling
  quantum/matrix.c
Labels: bug, core

#15938 Pass in the keyrecord_t of the dual-role/tapping key when calling per-key tap hold functions
  quantum/action_tapping.c
  quantum/pointing_device_drivers.c
  quantum/process_keycode/process_tap_dance.c
Labels: core

#15985 Fix right side ws2812 leds having two indices
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: bug, core, breaking_change_2022q1

#15419 Added external spi flash driver.
  builddefs/common_features.mk
  docs/flash_driver.md
  drivers/flash/flash_spi.c
  drivers/flash/flash_spi.h
Labels: core, documentation, breaking_change_2022q1

#16089 move @takashiski 's keebs into /takashiski
  keyboards/takashiski/hecomi/alpha/config.h
  keyboards/takashiski/hecomi/alpha/info.json
  keyboards/takashiski/hecomi/alpha/readme.md
  keyboards/takashiski/hecomi/alpha/rules.mk
  keyboards/takashiski/hecomi/hecomi.c
  keyboards/takashiski/hecomi/hecomi.h
  keyboards/takashiski/hecomi/keymaps/default/keymap.c
  keyboards/takashiski/hecomi/keymaps/default/readme.md
  keyboards/takashiski/hecomi/keymaps/kakunpc/config.h
  keyboards/takashiski/hecomi/keymaps/kakunpc/keymap.c
  keyboards/takashiski/hecomi/keymaps/kakunpc/readme.md
  keyboards/takashiski/hecomi/readme.md
  keyboards/takashiski/hecomi/rules.mk
  keyboards/takashiski/namecard2x4/.noci
  keyboards/takashiski/namecard2x4/info.json
  keyboards/takashiski/namecard2x4/keymaps/brainfuck/config.h
  keyboards/takashiski/namecard2x4/keymaps/brainfuck/keymap.c
  keyboards/takashiski/namecard2x4/keymaps/brainfuck/readme.md
  keyboards/takashiski/namecard2x4/keymaps/default/keymap.c
  keyboards/takashiski/namecard2x4/keymaps/default/readme.md
  keyboards/takashiski/namecard2x4/namecard2x4.c
  keyboards/takashiski/namecard2x4/namecard2x4.h
  keyboards/takashiski/namecard2x4/readme.md
  keyboards/takashiski/namecard2x4/rev1/.noci
  keyboards/takashiski/namecard2x4/rev1/config.h
  keyboards/takashiski/namecard2x4/rev1/rules.mk
  keyboards/takashiski/namecard2x4/rev2/config.h
  keyboards/takashiski/namecard2x4/rev2/rules.mk
  keyboards/takashiski/namecard2x4/rules.mk
  keyboards/takashiski/otaku_split/rev0/.noci
  keyboards/takashiski/otaku_split/rev0/config.h
  keyboards/takashiski/otaku_split/rev0/info.json
  keyboards/takashiski/otaku_split/rev0/keymaps/default/keymap.c
  keyboards/takashiski/otaku_split/rev0/keymaps/default/readme.md
  keyboards/takashiski/otaku_split/rev0/keymaps/sample/keymap.c
  keyboards/takashiski/otaku_split/rev0/keymaps/sample/readme.md
  keyboards/takashiski/otaku_split/rev0/readme.md
  keyboards/takashiski/otaku_split/rev0/rev0.c
  keyboards/takashiski/otaku_split/rev0/rev0.h
  keyboards/takashiski/otaku_split/rev0/rules.mk
  keyboards/takashiski/otaku_split/rev1/config.h
  keyboards/takashiski/otaku_split/rev1/info.json
  keyboards/takashiski/otaku_split/rev1/keymaps/default/keymap.c
  keyboards/takashiski/otaku_split/rev1/keymaps/default/readme.md
  keyboards/takashiski/otaku_split/rev1/keymaps/sample/keymap.c
  keyboards/takashiski/otaku_split/rev1/keymaps/sample/readme.md
  keyboards/takashiski/otaku_split/rev1/readme.md
  keyboards/takashiski/otaku_split/rev1/rev1.c
  keyboards/takashiski/otaku_split/rev1/rev1.h
  keyboards/takashiski/otaku_split/rev1/rules.mk
Labels: keyboard, keymap

#16321 Add wren configurator data
  keyboards/wren/info.json
Labels: keyboard

#16059 move @satt99 's comet46 to satt/
  keyboards/satt/comet46/comet46.c
  keyboards/satt/comet46/comet46.h
  keyboards/satt/comet46/config.h
  keyboards/satt/comet46/i2c.c
  keyboards/satt/comet46/i2c.h
  keyboards/satt/comet46/info.json
  keyboards/satt/comet46/keymaps/default-rgbled/keymap.c
  keyboards/satt/comet46/keymaps/default-rgbled/readme.md
  keyboards/satt/comet46/keymaps/default/config.h
  keyboards/satt/comet46/keymaps/default/keymap.c
  keyboards/satt/comet46/keymaps/default/readme.md
  keyboards/satt/comet46/keymaps/default/rules.mk
  keyboards/satt/comet46/keymaps/satt/action_pseudo_lut.c
  keyboards/satt/comet46/keymaps/satt/action_pseudo_lut.h
  keyboards/satt/comet46/keymaps/satt/config.h
  keyboards/satt/comet46/keymaps/satt/keymap.c
  keyboards/satt/comet46/keymaps/satt/keymap_jis2us.h
  keyboards/satt/comet46/keymaps/satt/readme.md
  keyboards/satt/comet46/keymaps/satt/rules.mk
  keyboards/satt/comet46/lib/glcdfont.c
  keyboards/satt/comet46/lib/host_led_state_reader.c
  keyboards/satt/comet46/lib/keylogger.c
  keyboards/satt/comet46/lib/modifier_state_reader.c
  keyboards/satt/comet46/matrix.c
  keyboards/satt/comet46/readme.md
  keyboards/satt/comet46/rules.mk
  keyboards/satt/comet46/ssd1306.c
  keyboards/satt/comet46/ssd1306.h
Labels: keyboard, keymap

#15668 move montex to IDOBAO vendor folder
  keyboards/idobao/montex/v1/config.h
  keyboards/idobao/montex/v1/info.json
  keyboards/idobao/montex/v1/keymaps/default/keymap.c
  keyboards/idobao/montex/v1/keymaps/via/keymap.c
  keyboards/idobao/montex/v1/keymaps/via/rules.mk
  keyboards/idobao/montex/v1/readme.md
  keyboards/idobao/montex/v1/rules.mk
  keyboards/idobao/montex/v1/v1.c
  keyboards/idobao/montex/v1/v1.h
Labels: keyboard, keymap, via

#16265 Add uqs' keymaps for various boards and ploopy mouse
  keyboards/handwired/dactyl_manuform/5x6/keymaps/uqs/config.h
  keyboards/handwired/dactyl_manuform/5x6/keymaps/uqs/keymap.c
  keyboards/handwired/dactyl_manuform/5x6/keymaps/uqs/rules.mk
  keyboards/ploopyco/mouse/keymaps/uqs/keymap.c
  keyboards/ploopyco/mouse/keymaps/uqs/rules.mk
  keyboards/preonic/keymaps/uqs/keymap.c
  keyboards/preonic/keymaps/uqs/rules.mk
  keyboards/splitkb/kyria/keymaps/uqs/config.h
  keyboards/splitkb/kyria/keymaps/uqs/keymap.c
  keyboards/splitkb/kyria/keymaps/uqs/rules.mk
  users/uqs/config.h
  users/uqs/rules.mk
  users/uqs/uqs.c
  users/uqs/uqs.h
Labels: keymap

#15906 Clang-format tweaks
  .clang-format
Labels: enhancement, breaking_change_2022q1

#15951 Lulu keyboard by boardsource
  keyboards/boardsource/lulu/config.h
  keyboards/boardsource/lulu/info.json
  keyboards/boardsource/lulu/keymaps/default/keymap.c
  keyboards/boardsource/lulu/keymaps/via/keymap.c
  keyboards/boardsource/lulu/keymaps/via/rules.mk
  keyboards/boardsource/lulu/lulu.c
  keyboards/boardsource/lulu/lulu.h
  keyboards/boardsource/lulu/readme.md
  keyboards/boardsource/lulu/rules.mk
Labels: keyboard, keymap, via

#16309 Convert Maxr1998/Phoebe to use info.json where possible
  keyboards/maxr1998/phoebe/config.h
  keyboards/maxr1998/phoebe/info.json
  keyboards/maxr1998/phoebe/rules.mk
Labels: keyboard

#16312 Update keyboard mapping for all moved boards this cycle
  data/mappings/keyboard_aliases.json
Labels: breaking_change_2022q1

#16348 Fix compilation of ChibiOS UART driver
  platforms/chibios/drivers/uart.c
Labels: bug, core

#16328 Digicarp65: fix layouts
  keyboards/handwired/swiftrax/digicarp65/digicarp65.h
  keyboards/handwired/swiftrax/digicarp65/info.json
Labels: bug, keyboard

#16332 Xenon: correct QMK Configurator key sequence
  keyboards/xenon/info.json
Labels: enhancement, keyboard

#16276 CLI: Minor additions #12795
  lib/python/qmk/cli/new/keyboard.py
  lib/python/qmk/constants.py
Labels: bug, python, cli, breaking_change_2022q1

#16350 Fix multiple definition errors for trackball "boards" with no keys
  keyboards/handwired/aball/aball.c
  keyboards/handwired/aball/aball.h
  keyboards/handwired/aball/keymaps/default/keymap.c
  keyboards/ploopyco/trackball_nano/keymaps/default/keymap.c
  keyboards/ploopyco/trackball_nano/keymaps/maddie/keymap.c
  keyboards/ploopyco/trackball_nano/trackball_nano.c
  keyboards/ploopyco/trackball_nano/trackball_nano.h
Labels: bug, keyboard, keymap

#16358 Various fixes for new-keyboard
  data/templates/keyboard/config.h
  data/templates/keyboard/info.json
  lib/python/qmk/cli/new/keyboard.py
  lib/python/qmk/info.py
Labels: bug, python, cli, breaking_change_2022q1

#16359 Allow NO_PIN within data driven configuration
  data/schemas/definitions.jsonschema
Labels: bug

#16357 Align docs to new-keyboard behaviour
  docs/_summary.md
  docs/hardware_avr.md
  docs/index.html
  docs/porting_your_keyboard_to_qmk.md
Labels: documentation, breaking_change_2022q1

#16361 Add extra braces for trackball keymaps
  keyboards/handwired/aball/keymaps/default/keymap.c
  keyboards/ploopyco/trackball_nano/keymaps/default/keymap.c
  keyboards/ploopyco/trackball_nano/keymaps/maddie/keymap.c
Labels: bug, keymap

#16363 Update USB VID and PID for Aya
  keyboards/aya/config.h
Labels: keyboard

#16376 Bodge for helix build failures
  keyboards/helix/pico/split_util.h
  keyboards/helix/rev1/split_util.h
  keyboards/helix/rev2/split_util.h
Labels: bug, keyboard, breaking_change_2022q1

#16378 Align new-keyboard with recent schema updates
  data/templates/keyboard/info.json
  docs/porting_your_keyboard_to_qmk.md
Labels: documentation

#16389 Remove Helix/rev1
  keyboards/helix/rev1/.noci
  keyboards/helix/rev1/config.h
  keyboards/helix/rev1/info.json
  keyboards/helix/rev1/keymaps/OLED_sample/config.h
  keyboards/helix/rev1/keymaps/OLED_sample/keymap.c
  keyboards/helix/rev1/keymaps/OLED_sample/readme.md
  keyboards/helix/rev1/keymaps/OLED_sample/rules.mk
  keyboards/helix/rev1/keymaps/OLED_sample/serial_config.h
  keyboards/helix/rev1/keymaps/default/config.h
  keyboards/helix/rev1/keymaps/default/keymap.c
  keyboards/helix/rev1/matrix.c
  keyboards/helix/rev1/rev1.c
  keyboards/helix/rev1/rev1.h
  keyboards/helix/rev1/rules.mk
  keyboards/helix/rev1/serial_config.h
  keyboards/helix/rev1/split_util.c
  keyboards/helix/rev1/split_util.h
Labels: keyboard, keymap

#16382 Re-add call to `suspend_power_down_kb()`.
  quantum/quantum.c
Labels: bug, core
