Repository qmk/qmk_firmware, pull requests merged in 2022-06, with the labels that each got.

#17266 Acheron shark alpha encoder support
  keyboards/acheron/shark/alpha/config.h
  keyboards/acheron/shark/alpha/rules.mk
Labels: keyboard

#17213 Fix maddie layout for ploopy/trackball_nano
  keyboards/ploopyco/trackball_nano/keymaps/maddie/keymap.c
Labels: keymap

#17292 keyboards: fix malformed info.json files
  keyboards/crimsonkeyboards/resume1800/info.json
  keyboards/cutie_club/novus/info.json
  keyboards/cybergear/macro25/info.json
  keyboards/fjlabs/solanis/info.json
  keyboards/handwired/mutepad/info.json
  keyboards/horrortroll/chinese_pcb/black_e65/info.json
  keyboards/horrortroll/paws60/info.json
  keyboards/kin80/info.json
  keyboards/mechwild/bde/info.json
  keyboards/ml/gas75/info.json
  keyboards/ymdk/melody96/info.json
Labels: keyboard

#16985 Organized versions of mikeneko65
  keyboards/mikeneko65/config.h
  keyboards/mikeneko65/info.json
  keyboards/mikeneko65/keymaps/default/keymap.c
  keyboards/mikeneko65/keymaps/default/readme.md
  keyboards/mikeneko65/keymaps/via/keymap.c
  keyboards/mikeneko65/keymaps/via/rules.mk
  keyboards/mikeneko65/mikeneko65.c
  keyboards/mikeneko65/mikeneko65.h
  keyboards/mikeneko65/readme.md
  keyboards/mikeneko65/rev3/info.json
  keyboards/mikeneko65/rev3/keymaps/default/keymap.c
  keyboards/mikeneko65/rev3/keymaps/default/readme.md
  keyboards/mikeneko65/rev3/keymaps/via/keymap.c
  keyboards/mikeneko65/rev3/rev3.c
  keyboards/mikeneko65/rev3/rev3.h
  keyboards/mikeneko65/rev4/config.h
  keyboards/mikeneko65/rev4/keymaps/default/readme.md
  keyboards/mikeneko65/rev4/keymaps/via/rules.mk
  keyboards/mikeneko65/rev4/readme.md
  keyboards/mikeneko65/rev4/rules.mk
  keyboards/mikeneko65/rules.mk
Labels: keyboard, keymap, via

#17293 Fix legacy config options within keyboards
  keyboards/fallacy/config.h
  keyboards/handwired/brain/config.h
  keyboards/handwired/d48/config.h
  keyboards/kapcave/paladinpad/config.h
  keyboards/shiro/config.h
Labels: keyboard

#17294 Add Encoder Map Swap Hands config for boards that support both features
  keyboards/keebio/iris/rev3/rev3.c
  keyboards/lime/lime.c
  keyboards/planck/planck.c
  keyboards/preonic/rev3/rev3.c
  keyboards/preonic/rev3_drop/rev3_drop.c
  keyboards/sofle/sofle.c
  keyboards/splitkb/kyria/rev1/rev1.c
  keyboards/splitkb/kyria/rev2/rev2.c
Labels: keyboard

#17270 Disable features known to cause BIOS/suspend issues
  keyboards/eason/capsule65/rules.mk
Labels: keyboard

#16990 [Core] 24LC32A EEPROM addition
  docs/eeprom_driver.md
  drivers/eeprom/eeprom_i2c.h
Labels: core, documentation, breaking_change_2022q3

#17229 Add keymap wrappers for introspection into the keymap.
  builddefs/build_keyboard.mk
  quantum/keymap.h
  quantum/keymap_introspection.c
  quantum/keymap_introspection.h
Labels: core, xap

#17284 Fix and add unit tests for Caps Word to work with Unicode Map, Auto Shift, Retro Shift.
  quantum/process_keycode/process_unicode_common.c
  quantum/quantum.c
  tests/auto_shift/test_auto_shift.cpp
  tests/basic/test_action_layer.cpp
  tests/basic/test_keypress.cpp
  tests/basic/test_one_shot_keys.cpp
  tests/basic/test_tapping.cpp
  tests/caps_word/caps_word_autoshift/config.h
  tests/caps_word/caps_word_autoshift/test.mk
  tests/caps_word/caps_word_autoshift/test_caps_word_autoshift.cpp
  tests/caps_word/caps_word_unicodemap/config.h
  tests/caps_word/caps_word_unicodemap/test.mk
  tests/caps_word/caps_word_unicodemap/test_caps_word_unicodemap.cpp
  tests/caps_word/test_caps_word.cpp
  tests/secure/test_secure.cpp
  tests/tap_hold_configurations/default_mod_tap/test_tap_hold.cpp
  tests/tap_hold_configurations/ignore_mod_tap_interrupt/test_tap_hold.cpp
  tests/tap_hold_configurations/permissive_hold/test_one_shot_keys.cpp
  tests/tap_hold_configurations/permissive_hold/test_tap_hold.cpp
  tests/tap_hold_configurations/permissive_hold_ignore_mod_tap_interrupt/test_tap_hold.cpp
  tests/tap_hold_configurations/retro_tapping/test_tap_hold.cpp
  tests/tap_hold_configurations/retro_tapping/test_tapping.cpp
  tests/tap_hold_configurations/tapping_force_hold/test_action_layer.cpp
  tests/tap_hold_configurations/tapping_force_hold/test_tap_hold.cpp
  tests/test_common/test_driver.cpp
  tests/test_common/test_driver.hpp
  tests/test_common/test_fixture.cpp
  tests/test_common/test_fixture.hpp
Labels: core

#17311 [Core] Apply EXPECT_REPORT and EXPECT_EMPTY_REPORT
  tests/tap_hold_configurations/default_mod_tap/test_tap_hold.cpp
  tests/tap_hold_configurations/ignore_mod_tap_interrupt/test_tap_hold.cpp
  tests/tap_hold_configurations/permissive_hold/test_one_shot_keys.cpp
  tests/tap_hold_configurations/permissive_hold/test_tap_hold.cpp
  tests/tap_hold_configurations/permissive_hold_ignore_mod_tap_interrupt/test_tap_hold.cpp
  tests/tap_hold_configurations/retro_tapping/test_tap_hold.cpp
  tests/tap_hold_configurations/retro_tapping/test_tapping.cpp
  tests/tap_hold_configurations/tapping_force_hold/test_action_layer.cpp
  tests/tap_hold_configurations/tapping_force_hold/test_tap_hold.cpp
Labels: core

#17114 [Core] Update C standard to GNU11, C++ to GNU++14
  builddefs/common_rules.mk
  platforms/arm_atsam/platform.mk
  platforms/avr/platform.mk
  platforms/test/platform.mk
Labels: core, breaking_change_2022q3

#17271 Move SPLIT_HAND_PIN setup to split_pre_init
  keyboards/doppelganger/doppelganger.c
  quantum/split_common/split_util.c
Labels: core, keyboard

#17322 docs: reflect systemd's change in language
  docs/how_keyboards_work.md
Labels: documentation

#17267 Add trwnh keymap for GMMK Pro
  keyboards/gmmk/pro/rev1/ansi/keymaps/trwnh/config.h
  keyboards/gmmk/pro/rev1/ansi/keymaps/trwnh/keymap.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/trwnh/readme.md
  keyboards/gmmk/pro/rev1/ansi/keymaps/trwnh/rules.mk
Labels: keymap

#17223 Add files for alt34 keyboard design
  keyboards/alt34/alt34.c
  keyboards/alt34/alt34.h
  keyboards/alt34/config.h
  keyboards/alt34/info.json
  keyboards/alt34/keymaps/default/config.h
  keyboards/alt34/keymaps/default/keymap.c
  keyboards/alt34/readme.md
  keyboards/alt34/rev1/config.h
  keyboards/alt34/rev1/rev1.c
  keyboards/alt34/rev1/rev1.h
  keyboards/alt34/rev1/rules.mk
Labels: keyboard, keymap, pr_checklist_pending

#17203 Handle timeout on UART for Redox Wireless receiver-to-keyboard communication.
  keyboards/redox_w/matrix.c
Labels: keyboard

#17168 [Keyboard] add Stello65 keyboard
  keyboards/stello65/beta/beta.c
  keyboards/stello65/beta/beta.h
  keyboards/stello65/beta/config.h
  keyboards/stello65/beta/encoder_actions.c
  keyboards/stello65/beta/encoder_actions.h
  keyboards/stello65/beta/info.json
  keyboards/stello65/beta/keymaps/default/keymap.c
  keyboards/stello65/beta/keymaps/default/readme.md
  keyboards/stello65/beta/keymaps/via/keymap.c
  keyboards/stello65/beta/keymaps/via/rules.mk
  keyboards/stello65/beta/readme.md
  keyboards/stello65/beta/rules.mk
  keyboards/stello65/hs_rev1/config.h
  keyboards/stello65/hs_rev1/hs_rev1.c
  keyboards/stello65/hs_rev1/hs_rev1.h
  keyboards/stello65/hs_rev1/info.json
  keyboards/stello65/hs_rev1/keymaps/default/keymap.c
  keyboards/stello65/hs_rev1/keymaps/default/readme.md
  keyboards/stello65/hs_rev1/keymaps/via/keymap.c
  keyboards/stello65/hs_rev1/keymaps/via/rules.mk
  keyboards/stello65/hs_rev1/readme.md
  keyboards/stello65/hs_rev1/rules.mk
  keyboards/stello65/sl_rev1/config.h
  keyboards/stello65/sl_rev1/info.json
  keyboards/stello65/sl_rev1/keymaps/default/keymap.c
  keyboards/stello65/sl_rev1/keymaps/default/readme.md
  keyboards/stello65/sl_rev1/keymaps/via/keymap.c
  keyboards/stello65/sl_rev1/keymaps/via/rules.mk
  keyboards/stello65/sl_rev1/readme.md
  keyboards/stello65/sl_rev1/rules.mk
  keyboards/stello65/sl_rev1/sl_rev1.c
  keyboards/stello65/sl_rev1/sl_rev1.h
  keyboards/wekey/stelo65/keymaps/default/readme.md
Labels: keyboard, keymap, via

#17252 BrutalV2 65 Keyboard
  keyboards/cannonkeys/brutalv2_65/brutalv2_65.c
  keyboards/cannonkeys/brutalv2_65/brutalv2_65.h
  keyboards/cannonkeys/brutalv2_65/config.h
  keyboards/cannonkeys/brutalv2_65/info.json
  keyboards/cannonkeys/brutalv2_65/keymaps/default/keymap.c
  keyboards/cannonkeys/brutalv2_65/keymaps/via/keymap.c
  keyboards/cannonkeys/brutalv2_65/keymaps/via/rules.mk
  keyboards/cannonkeys/brutalv2_65/readme.md
  keyboards/cannonkeys/brutalv2_65/rules.mk
Labels: keyboard, keymap, via

#17326 Rework paths for eeprom locations.
  builddefs/common_features.mk
  platforms/chibios/drivers/eeprom/eeprom_stm32.c
  platforms/chibios/drivers/eeprom/eeprom_stm32.h
  platforms/chibios/drivers/eeprom/eeprom_stm32_defs.h
  platforms/chibios/drivers/eeprom/eeprom_teensy.c
  platforms/chibios/drivers/eeprom/eeprom_teensy.h
  platforms/chibios/drivers/flash/flash_stm32.c
  platforms/chibios/drivers/flash/flash_stm32.h
  platforms/test/rules.mk
Labels: core

#17330 Add WB32 evaluation board onekey targets.
  keyboards/handwired/onekey/evb_wb32f3g71/config.h
  keyboards/handwired/onekey/evb_wb32f3g71/readme.md
  keyboards/handwired/onekey/evb_wb32f3g71/rules.mk
  keyboards/handwired/onekey/evb_wb32fq95/config.h
  keyboards/handwired/onekey/evb_wb32fq95/readme.md
  keyboards/handwired/onekey/evb_wb32fq95/rules.mk
Labels: keyboard

#17317 Update other_vscode.md
  docs/other_vscode.md
Labels: documentation

#17312 [Keymap] Update keymap for user jasondunsmore
  keyboards/keebio/iris/keymaps/jasondunsmore/config.h
  keyboards/keebio/iris/keymaps/jasondunsmore/keymap.c
  keyboards/keebio/iris/keymaps/jasondunsmore/readme.md
  keyboards/keebio/iris/keymaps/jasondunsmore/rules.mk
Labels: keymap

#17329 Move more UART-based keyboards to use timeout correctly.
  keyboards/centromere/matrix.c
  keyboards/dichotomy/matrix.c
  keyboards/glenpickle/chimera_ergo/matrix.c
  keyboards/glenpickle/chimera_ls/matrix.c
  keyboards/glenpickle/chimera_ortho/matrix.c
  keyboards/glenpickle/chimera_ortho_plus/matrix.c
  keyboards/keyhive/honeycomb/matrix.c
  keyboards/mitosis/matrix.c
  keyboards/redox_w/matrix.c
  keyboards/satt/comet46/matrix.c
  keyboards/sirius/uni660/rev1/matrix.c
  keyboards/sirius/uni660/rev2/matrix.c
  keyboards/telophase/matrix.c
Labels: keyboard

#16371 Add support for large Mouse Reports
  docs/config_options.md
  docs/feature_pointing_device.md
  keyboards/ploopyco/mouse/keymaps/drashna/config.h
  quantum/pointing_device.c
  quantum/pointing_device.h
  quantum/pointing_device_drivers.c
  tmk_core/protocol/host.c
  tmk_core/protocol/report.h
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/vusb/vusb.c
Labels: core, keymap, documentation, breaking_change_2022q3

#17335 Fixup pimoroni trackball
  drivers/sensors/pimoroni_trackball.c
  drivers/sensors/pimoroni_trackball.h
Labels: core

#17063 Add support for linting deprecated and removed functionality
  .github/workflows/lint.yml
  data/mappings/info_config.json
  data/mappings/info_rules.json
  lib/python/qmk/info.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: python, cli, CI

#17269 Adding Sunsetter R2 keyboard to Charue family
  keyboards/charue/sunsetter_r2/config.h
  keyboards/charue/sunsetter_r2/info.json
  keyboards/charue/sunsetter_r2/keymaps/debug/keymap.c
  keyboards/charue/sunsetter_r2/keymaps/debug/readme.md
  keyboards/charue/sunsetter_r2/keymaps/default/keymap.c
  keyboards/charue/sunsetter_r2/keymaps/default/readme.md
  keyboards/charue/sunsetter_r2/keymaps/via/keymap.c
  keyboards/charue/sunsetter_r2/keymaps/via/readme.md
  keyboards/charue/sunsetter_r2/keymaps/via/rules.mk
  keyboards/charue/sunsetter_r2/readme.md
  keyboards/charue/sunsetter_r2/rules.mk
  keyboards/charue/sunsetter_r2/sunsetter_r2.c
  keyboards/charue/sunsetter_r2/sunsetter_r2.h
Labels: keyboard, keymap, via

#17214 Improve the durgot k3x0 readme.md
  keyboards/durgod/k3x0/readme.md
Labels: keyboard

#17196 [keyboard] annepro2 Add and use functions to directly control led colors
  keyboards/annepro2/annepro2.c
  keyboards/annepro2/ap2_led.c
  keyboards/annepro2/ap2_led.h
  keyboards/annepro2/protocol.h
  keyboards/annepro2/rgb_driver.c
Labels: keyboard

#17083 Add planck/scottzach1 keymap
  keyboards/planck/keymaps/scottzach1/config.h
  keyboards/planck/keymaps/scottzach1/keymap.c
  keyboards/planck/keymaps/scottzach1/readme.md
Labels: keymap

#17078 added sodium keyboards
  keyboards/nacly/sodium42/config.h
  keyboards/nacly/sodium42/info.json
  keyboards/nacly/sodium42/keymaps/default/keymap.c
  keyboards/nacly/sodium42/readme.md
  keyboards/nacly/sodium42/rules.mk
  keyboards/nacly/sodium42/sodium42.c
  keyboards/nacly/sodium42/sodium42.h
  keyboards/nacly/sodium50/config.h
  keyboards/nacly/sodium50/info.json
  keyboards/nacly/sodium50/keymaps/default/keymap.c
  keyboards/nacly/sodium50/readme.md
  keyboards/nacly/sodium50/rules.mk
  keyboards/nacly/sodium50/sodium50.c
  keyboards/nacly/sodium50/sodium50.h
  keyboards/nacly/sodium62/config.h
  keyboards/nacly/sodium62/info.json
  keyboards/nacly/sodium62/keymaps/default/keymap.c
  keyboards/nacly/sodium62/readme.md
  keyboards/nacly/sodium62/rules.mk
  keyboards/nacly/sodium62/sodium62.c
  keyboards/nacly/sodium62/sodium62.h
Labels: keyboard, keymap

#17345 Fixup nacly/sodium62
  keyboards/nacly/sodium62/keymaps/default/keymap.c
  keyboards/nacly/sodium62/sodium62.c
Labels: keyboard, keymap

#17347 Promote 'label with newlines' to lint error
  data/schemas/keyboard.jsonschema
  keyboards/sendyyeah/75pixels/info.json
  lib/python/qmk/info.py
Labels: keyboard, python, cli

#17349 Promote 'layouts require matrix data' to api error
  lib/python/qmk/cli/lint.py
  lib/python/qmk/info.py
Labels: python, cli

#17327 Wasdat: move some stuff to info.json
  keyboards/evyd13/wasdat/config.h
  keyboards/evyd13/wasdat/info.json
  keyboards/evyd13/wasdat/rules.mk
Labels: enhancement, keyboard

#17352 Scale brigthness for VIA
  quantum/via.c
Labels: core

#17354 Fix via builds broken by brightness scaling
  quantum/via.c
Labels: core

#17355 Ensure that rgb+via compiles in all cases
  quantum/via.c
Labels: core

#17296 Fix checkerboards/quark_lp (another)
  keyboards/checkerboards/quark_lp/config.h
  keyboards/checkerboards/quark_lp/keymaps/2x2u/config.h
  keyboards/checkerboards/quark_lp/keymaps/default/config.h
  keyboards/checkerboards/quark_lp/keymaps/mit/config.h
  keyboards/checkerboards/quark_lp/keymaps/via/config.h
Labels: keyboard, keymap, via

#17356 `qmk doctor`: show arch for macOS
  lib/python/qmk/cli/doctor/macos.py
Labels: enhancement, python, cli

#16237 mlego fix product id and sync oled code
  keyboards/mlego/m48/config.h
  keyboards/mlego/m48/keymaps/via/keymap.c
  keyboards/mlego/m48/m48.c
  keyboards/mlego/m48/rev1/config.h
  keyboards/mlego/m48/rev1/ld/STM32F401xE.ld
  keyboards/mlego/m48/rev1/rules.mk
  keyboards/mlego/m60/config.h
  keyboards/mlego/m60/keymaps/default/keymap.c
  keyboards/mlego/m60/m60.c
  keyboards/mlego/m60/m60.h
  keyboards/mlego/m60/rev1/config.h
  keyboards/mlego/m60/rev1/ld/STM32F401xE.ld
  keyboards/mlego/m60/rev1/rules.mk
  keyboards/mlego/m60_split/config.h
  keyboards/mlego/m60_split/keymaps/via/keymap.c
  keyboards/mlego/m60_split/rev1/config.h
  keyboards/mlego/m60_split/rev1/ld/STM32F401xE.ld
  keyboards/mlego/m60_split/rev1/rules.mk
  keyboards/mlego/m60_split/rev2/config.h
  keyboards/mlego/m65/keymaps/default/keymap.c
  keyboards/mlego/m65/keymaps/dk/keymap.c
  keyboards/mlego/m65/keymaps/uk/keymap.c
  keyboards/mlego/m65/keymaps/via/keymap.c
  keyboards/mlego/m65/m65.c
  keyboards/mlego/m65/m65.h
  keyboards/mlego/m65/rev1/config.h
  keyboards/mlego/m65/rev2/config.h
  keyboards/mlego/m65/rev3/config.h
  keyboards/mlego/m65/rev3/ld/STM32F401xE.ld
  keyboards/mlego/m65/rev3/rules.mk
  keyboards/mlego/m65/rev4/config.h
  keyboards/mlego/m65/rev4/ld/STM32F401xE.ld
  keyboards/mlego/m65/rev4/rules.mk
Labels: keyboard, keymap, via

#17000 add keyboard: pierce
  keyboards/pierce/config.h
  keyboards/pierce/info.json
  keyboards/pierce/keymaps/default/keymap.c
  keyboards/pierce/keymaps/default/rules.mk
  keyboards/pierce/keymaps/durken1/config.h
  keyboards/pierce/keymaps/durken1/keymap.c
  keyboards/pierce/keymaps/durken1/rules.mk
  keyboards/pierce/matrix.c
  keyboards/pierce/pierce.c
  keyboards/pierce/pierce.h
  keyboards/pierce/post_rules.mk
  keyboards/pierce/readme.md
  keyboards/pierce/rules.mk
Labels: keyboard, keymap, pr_checklist_pending

#17363 [Keyboard] Remove terminal commands from m48
  keyboards/mlego/m48/keymaps/via/keymap.c
Labels: keymap, via

#17361 [Keyboard] Add encoder map
  keyboards/macro3/keymaps/default/keymap.c
  keyboards/macro3/keymaps/default/rules.mk
Labels: keymap

#17357 Added new keyboard Lemon40
  keyboards/horrortroll/lemon40/config.h
  keyboards/horrortroll/lemon40/info.json
  keyboards/horrortroll/lemon40/keymaps/default/keymap.c
  keyboards/horrortroll/lemon40/keymaps/via/config.h
  keyboards/horrortroll/lemon40/keymaps/via/keymap.c
  keyboards/horrortroll/lemon40/keymaps/via/rules.mk
  keyboards/horrortroll/lemon40/lemon40.c
  keyboards/horrortroll/lemon40/lemon40.h
  keyboards/horrortroll/lemon40/lib/bongocat.c
  keyboards/horrortroll/lemon40/lib/bongocat.h
  keyboards/horrortroll/lemon40/readme.md
  keyboards/horrortroll/lemon40/rules.mk
  keyboards/horrortroll/readme.md
Labels: keyboard, keymap, via

#17372 Add stale action.
  .github/workflows/stale.yml
Labels: CI

#17373 Fixup stale action.
  .github/workflows/stale.yml
Labels: bug, CI

#16887 [Keyboard] BLASTER75 keyboard PR
  keyboards/blaster75/blaster75.c
  keyboards/blaster75/blaster75.h
  keyboards/blaster75/config.h
  keyboards/blaster75/info.json
  keyboards/blaster75/keymaps/default/keymap.c
  keyboards/blaster75/keymaps/default/readme.md
  keyboards/blaster75/keymaps/via/keymap.c
  keyboards/blaster75/keymaps/via/rules.mk
  keyboards/blaster75/readme.md
  keyboards/blaster75/rules.mk
Labels: keyboard, keymap, via

#17131 add support for SNOP60
  keyboards/checkerboards/snop60/config.h
  keyboards/checkerboards/snop60/info.json
  keyboards/checkerboards/snop60/keymaps/2x3u/config.h
  keyboards/checkerboards/snop60/keymaps/2x3u/keymap.c
  keyboards/checkerboards/snop60/keymaps/7u/config.h
  keyboards/checkerboards/snop60/keymaps/7u/keymap.c
  keyboards/checkerboards/snop60/keymaps/via/config.h
  keyboards/checkerboards/snop60/keymaps/via/keymap.c
  keyboards/checkerboards/snop60/keymaps/via/rules.mk
  keyboards/checkerboards/snop60/readme.md
  keyboards/checkerboards/snop60/rules.mk
  keyboards/checkerboards/snop60/snop60.c
  keyboards/checkerboards/snop60/snop60.h
Labels: keyboard, keymap, via

#17390 Update feature_midi.md
  docs/feature_midi.md
Labels: documentation

#17391 Inform people that things may not work.
  docs/compatible_microcontrollers.md
Labels: documentation

#17383 backlight|led 'on state' for DD configuration
  data/mappings/info_config.json
  data/schemas/definitions.jsonschema
  data/schemas/keyboard.jsonschema
Labels: enhancement

#17348 Perform stricter lint checks
  lib/python/qmk/cli/lint.py
  lib/python/qmk/git.py
Labels: python, cli

#17375 Flip encoder pads on basketweave
  keyboards/basketweave/config.h
Labels: keyboard

#17369 Add Chaos65 keyboard
  keyboards/chaos65/chaos65.c
  keyboards/chaos65/chaos65.h
  keyboards/chaos65/config.h
  keyboards/chaos65/info.json
  keyboards/chaos65/keymaps/default/keymap.c
  keyboards/chaos65/keymaps/iso/keymap.c
  keyboards/chaos65/keymaps/via/keymap.c
  keyboards/chaos65/keymaps/via/rules.mk
  keyboards/chaos65/readme.md
  keyboards/chaos65/rules.mk
Labels: keyboard, keymap, via

#17341 SnailMap port for the Kintsugi keyboard.
  keyboards/adpenrose/kintsugi/keymaps/default/keymap.c
  keyboards/adpenrose/kintsugi/keymaps/franky/keymap.c
  keyboards/adpenrose/kintsugi/keymaps/franky/readme.md
  keyboards/adpenrose/kintsugi/keymaps/snailmap_port/keymap.c
  keyboards/adpenrose/kintsugi/keymaps/snailmap_port/readme.md
  keyboards/adpenrose/kintsugi/keymaps/snailmap_port/rules.mk
  keyboards/adpenrose/kintsugi/keymaps/via/keymap.c
  keyboards/adpenrose/kintsugi/kintsugi.c
  keyboards/adpenrose/kintsugi/lib/kintsugifont.c
Labels: keyboard, keymap, via

#17395 BLASTER75 minor info.json update
  keyboards/blaster75/info.json
Labels: keyboard

#17394 edit typo in comment
  keyboards/yandrstudio/nz64/config.h
Labels: keyboard

#17392 Fix clean arg handling for compile/flash
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/flash.py
Labels: bug, python, cli

#16897 Add Idobao Montex RGB (V2)
  keyboards/idobao/montex/v2/config.h
  keyboards/idobao/montex/v2/info.json
  keyboards/idobao/montex/v2/keymaps/default/keymap.c
  keyboards/idobao/montex/v2/keymaps/via/config.h
  keyboards/idobao/montex/v2/keymaps/via/keymap.c
  keyboards/idobao/montex/v2/keymaps/via/rules.mk
  keyboards/idobao/montex/v2/post_rules.mk
  keyboards/idobao/montex/v2/readme.md
  keyboards/idobao/montex/v2/rules.mk
  keyboards/idobao/montex/v2/v2.c
  keyboards/idobao/montex/v2/v2.h
Labels: keyboard, keymap, via

#15865 [Keyboard] Idobao Montex V2(RGB)
  keyboards/idobao/montex/v1rgb/config.h
  keyboards/idobao/montex/v1rgb/info.json
  keyboards/idobao/montex/v1rgb/keymaps/default/keymap.c
  keyboards/idobao/montex/v1rgb/keymaps/default/readme.md
  keyboards/idobao/montex/v1rgb/keymaps/via/keymap.c
  keyboards/idobao/montex/v1rgb/keymaps/via/readme.md
  keyboards/idobao/montex/v1rgb/keymaps/via/rules.mk
  keyboards/idobao/montex/v1rgb/readme.md
  keyboards/idobao/montex/v1rgb/rules.mk
  keyboards/idobao/montex/v1rgb/v1rgb.c
  keyboards/idobao/montex/v1rgb/v1rgb.h
Labels: keyboard, keymap, via

#17396 tap-dance: Rename tests so that tap_dance is used consistently
  tests/tap_dance/config.h
  tests/tap_dance/examples.c
  tests/tap_dance/examples.h
  tests/tap_dance/test.mk
  tests/tap_dance/test_examples.cpp
Labels: core

#17399 Use --exclude-from=.gitignore in place of --exclude-standard
  lib/python/qmk/git.py
Labels: python, cli

#17366 [Keyboard] Add ADM42 Keyboard
  keyboards/adm42/adm42.c
  keyboards/adm42/adm42.h
  keyboards/adm42/config.h
  keyboards/adm42/readme.md
  keyboards/adm42/rev4/config.h
  keyboards/adm42/rev4/keymaps/default/config.h
  keyboards/adm42/rev4/keymaps/default/keymap.c
  keyboards/adm42/rev4/rev4.c
  keyboards/adm42/rev4/rules.mk
  keyboards/adm42/rules.mk
Labels: keyboard, keymap

#17404 Swap to actions/stale.
  .github/stale.yml
  .github/workflows/stale.yml
Labels: CI

#17402 Update keymap
  keyboards/omkbd/ergodash/mini/keymaps/yoshimaru46/keymap.c
Labels: keymap

#15574 mini_ten_key_plus edited info.json
  keyboards/mini_ten_key_plus/info.json
Labels: keyboard

#16901 Fix 1U space in Keebio/sinc/rev2 layout macros
  keyboards/keebio/sinc/rev2/rev2.h
Labels: bug, keyboard

#16338 [handwired/macroboard] Add separate f401 and f411 configs…
  keyboards/handwired/macroboard/config.h
  keyboards/handwired/macroboard/f401/config.h
  keyboards/handwired/macroboard/f401/rules.mk
  keyboards/handwired/macroboard/f411/config.h
  keyboards/handwired/macroboard/f411/rules.mk
  keyboards/handwired/macroboard/halconf.h
  keyboards/handwired/macroboard/keymaps/via/config.h
  keyboards/handwired/macroboard/keymaps/via/keymap.c
  keyboards/handwired/macroboard/keymaps/via/rules.mk
  keyboards/handwired/macroboard/mcuconf.h
Labels: keyboard, keymap, via

#16846 Atreus: add STM32F103C8T6 based variant
  keyboards/atreus/atreus.h
  keyboards/atreus/f103/chconf.h
  keyboards/atreus/f103/config.h
  keyboards/atreus/f103/f103.c
  keyboards/atreus/f103/f103.h
  keyboards/atreus/f103/halconf.h
  keyboards/atreus/f103/mcuconf.h
  keyboards/atreus/f103/rules.mk
  keyboards/atreus/keymaps/quartz64/keymap.c
  keyboards/atreus/readme.md
Labels: keyboard, keymap

#17405 Fixup handwired/macroboard
  keyboards/handwired/macroboard/keymaps/via/keymap.c
Labels: keymap, via

#15907 [Core] Allow usage of ChibiOS's SIO driver for split keyboards
  docs/serial_driver.md
  platforms/chibios/drivers/serial_usart.c
  platforms/chibios/drivers/serial_usart.h
Labels: core, documentation, breaking_change_2022q3

#16669 [Core] Split ChibiOS usart split driver in protocol and hardware driver part
  builddefs/common_features.mk
  docs/serial_driver.md
  drivers/serial.h
  platforms/chibios/drivers/serial.c
  platforms/chibios/drivers/serial_protocol.c
  platforms/chibios/drivers/serial_protocol.h
  platforms/chibios/drivers/serial_usart.c
  platforms/chibios/drivers/serial_usart.h
Labels: core, documentation, awaiting_pr, breaking_change_2022q3

#14200 Minor schema fixes
  data/schemas/keyboard.jsonschema
Labels: awaiting review

#17414 Additional schema fixes
  data/schemas/definitions.jsonschema
  data/schemas/keyboard.jsonschema
  data/schemas/keymap.jsonschema
  lib/python/qmk/cli/generate/info_json.py
  lib/python/qmk/json_schema.py
Labels: bug, python, cli

#17415 Fixup stale labels lists.
  .github/workflows/stale.yml
Labels: CI

#17416 Add a note about using differents MCU family
  docs/feature_split_keyboard.md
Labels: documentation

#17417 [Keymap] Update XD75 keymap by markus
  keyboards/xiudi/xd75/keymaps/markus/config.h
  keyboards/xiudi/xd75/keymaps/markus/keymap.c
Labels: keymap

#17176 [Core] Mouse key kinetic mode fix
  docs/feature_mouse_keys.md
  quantum/mousekey.c
  quantum/mousekey.h
Labels: core, documentation, breaking_change_2022q3

#17346 add new keyboard at6
  keyboards/atset/at6/at6.c
  keyboards/atset/at6/at6.h
  keyboards/atset/at6/config.h
  keyboards/atset/at6/info.json
  keyboards/atset/at6/keymaps/default/keymap.c
  keyboards/atset/at6/keymaps/via/keymap.c
  keyboards/atset/at6/readme.md
  keyboards/atset/at6/rules.mk
Labels: keyboard, keymap, via

#17420 IS31FL3737 Global Current Setting
  docs/feature_rgb_matrix.md
  drivers/led/issi/is31fl3737.c
Labels: core, documentation

#17382 Add Djinn.
  .gitignore
  keyboards/tzarc/djinn/config.h
  keyboards/tzarc/djinn/djinn.c
  keyboards/tzarc/djinn/djinn.h
  keyboards/tzarc/djinn/djinn_portscan_matrix.c
  keyboards/tzarc/djinn/djinn_split_sync.c
  keyboards/tzarc/djinn/djinn_usbpd.c
  keyboards/tzarc/djinn/graphics/djinn.qgf.c
  keyboards/tzarc/djinn/graphics/djinn.qgf.h
  keyboards/tzarc/djinn/graphics/lock-caps-OFF.qgf.c
  keyboards/tzarc/djinn/graphics/lock-caps-OFF.qgf.h
  keyboards/tzarc/djinn/graphics/lock-caps-ON.qgf.c
  keyboards/tzarc/djinn/graphics/lock-caps-ON.qgf.h
  keyboards/tzarc/djinn/graphics/lock-num-OFF.qgf.c
  keyboards/tzarc/djinn/graphics/lock-num-OFF.qgf.h
  keyboards/tzarc/djinn/graphics/lock-num-ON.qgf.c
  keyboards/tzarc/djinn/graphics/lock-num-ON.qgf.h
  keyboards/tzarc/djinn/graphics/lock-scrl-OFF.qgf.c
  keyboards/tzarc/djinn/graphics/lock-scrl-OFF.qgf.h
  keyboards/tzarc/djinn/graphics/lock-scrl-ON.qgf.c
  keyboards/tzarc/djinn/graphics/lock-scrl-ON.qgf.h
  keyboards/tzarc/djinn/graphics/theme_djinn_default.c
  keyboards/tzarc/djinn/graphics/theme_djinn_default.h
  keyboards/tzarc/djinn/graphics/thintel15.qff.c
  keyboards/tzarc/djinn/graphics/thintel15.qff.h
  keyboards/tzarc/djinn/halconf.h
  keyboards/tzarc/djinn/info.json
  keyboards/tzarc/djinn/keymaps/default/config.h
  keyboards/tzarc/djinn/keymaps/default/keymap.c
  keyboards/tzarc/djinn/keymaps/default/rules.mk
  keyboards/tzarc/djinn/mcuconf.h
  keyboards/tzarc/djinn/readme.md
  keyboards/tzarc/djinn/rev1/config.h
  keyboards/tzarc/djinn/rev1/info.json
  keyboards/tzarc/djinn/rev1/rev1.c
  keyboards/tzarc/djinn/rev1/rev1.h
  keyboards/tzarc/djinn/rev1/rules.mk
  keyboards/tzarc/djinn/rev2/config.h
  keyboards/tzarc/djinn/rev2/info.json
  keyboards/tzarc/djinn/rev2/rev2.c
  keyboards/tzarc/djinn/rev2/rev2.h
  keyboards/tzarc/djinn/rev2/rules.mk
  keyboards/tzarc/djinn/rules.mk
Labels: keyboard, keymap

#17256 Ensure eeconfig initialised before reading EEPROM handedness.
  quantum/split_common/split_util.c
Labels: core

#17423 [BUG] Fix deadlocks on disconnected secondary half
  platforms/chibios/drivers/serial.c
  platforms/chibios/drivers/serial_protocol.c
  platforms/synchronization_util.h
Labels: bug, core, breaking_change_2022q3

#17439 [Fix] Fix compilation warning for non-split keebs after #17423
  platforms/synchronization_util.h
Labels: core

#17400 Add tegic for melgeek!
  keyboards/melgeek/tegic/config.h
  keyboards/melgeek/tegic/info.json
  keyboards/melgeek/tegic/keymaps/default/keymap.c
  keyboards/melgeek/tegic/keymaps/via/keymap.c
  keyboards/melgeek/tegic/keymaps/via/rules.mk
  keyboards/melgeek/tegic/readme.md
  keyboards/melgeek/tegic/rev1/config.h
  keyboards/melgeek/tegic/rev1/rev1.c
  keyboards/melgeek/tegic/rev1/rules.mk
  keyboards/melgeek/tegic/tegic.c
  keyboards/melgeek/tegic/tegic.h
Labels: keyboard, keymap, via

#17437 [Docs] clarify inner array of direct pin matrix
  docs/reference_info_json.md
Labels: documentation

#16919 Update FAve 84H RGB firmware
  keyboards/linworks/fave84h/config.h
  keyboards/linworks/fave84h/fave84h.c
  keyboards/linworks/fave84h/keymaps/via/keymap.c
  keyboards/linworks/fave84h/keymaps/via/rules.mk
  keyboards/linworks/fave84h/readme.md
Labels: keyboard, keymap, via

#16920 Update firmware for the FAve 87H
  keyboards/linworks/fave87h/config.h
  keyboards/linworks/fave87h/fave87h.c
  keyboards/linworks/fave87h/keymaps/via/keymap.c
  keyboards/linworks/fave87h/keymaps/via/rules.mk
  keyboards/linworks/fave87h/readme.md
  keyboards/linworks/fave87h/rules.mk
Labels: keyboard, keymap, via

#17147 Add base FAve65H firmware
  keyboards/linworks/fave65h/config.h
  keyboards/linworks/fave65h/fave65h.c
  keyboards/linworks/fave65h/fave65h.h
  keyboards/linworks/fave65h/info.json
  keyboards/linworks/fave65h/keymaps/default/keymap.c
  keyboards/linworks/fave65h/keymaps/via/keymap.c
  keyboards/linworks/fave65h/keymaps/via/rules.mk
  keyboards/linworks/fave65h/readme.md
  keyboards/linworks/fave65h/rules.mk
Labels: keyboard, keymap, via

#17441 [Keyboard] Add more bootloader options
  keyboards/idobao/id75/keymaps/default/keymap.c
  keyboards/idobao/id75/keymaps/via/keymap.c
  keyboards/idobao/id75/v1/rules.mk
Labels: keyboard, keymap, via

#17295 Allow encoder config from info.json
  data/mappings/info_rules.json
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/info.py
Labels: documentation, python, cli

#16659 Add Nayeon by Abats Keyboard Club
  keyboards/abatskeyboardclub/nayeon/config.h
  keyboards/abatskeyboardclub/nayeon/info.json
  keyboards/abatskeyboardclub/nayeon/keymaps/default/config.h
  keyboards/abatskeyboardclub/nayeon/keymaps/default/keymap.c
  keyboards/abatskeyboardclub/nayeon/keymaps/iso/config.h
  keyboards/abatskeyboardclub/nayeon/keymaps/iso/keymap.c
  keyboards/abatskeyboardclub/nayeon/keymaps/via/config.h
  keyboards/abatskeyboardclub/nayeon/keymaps/via/keymap.c
  keyboards/abatskeyboardclub/nayeon/keymaps/via/rules.mk
  keyboards/abatskeyboardclub/nayeon/nayeon.c
  keyboards/abatskeyboardclub/nayeon/nayeon.h
  keyboards/abatskeyboardclub/nayeon/readme.md
  keyboards/abatskeyboardclub/nayeon/rules.mk
Labels: keyboard, keymap, via

#17306 new keyboard rb18
  keyboards/ryanbaekr/rb18/config.h
  keyboards/ryanbaekr/rb18/info.json
  keyboards/ryanbaekr/rb18/keymaps/default/keymap.c
  keyboards/ryanbaekr/rb18/keymaps/default/readme.md
  keyboards/ryanbaekr/rb18/keymaps/via/keymap.c
  keyboards/ryanbaekr/rb18/keymaps/via/rules.mk
  keyboards/ryanbaekr/rb18/rb18.c
  keyboards/ryanbaekr/rb18/rb18.h
  keyboards/ryanbaekr/rb18/readme.md
  keyboards/ryanbaekr/rb18/rules.mk
Labels: keyboard, keymap, via

#16401 [Keyboard] Add labbeminiv1
  keyboards/labbe/labbeminiv1/config.h
  keyboards/labbe/labbeminiv1/info.json
  keyboards/labbe/labbeminiv1/keymaps/default/keymap.c
  keyboards/labbe/labbeminiv1/keymaps/default/readme.md
  keyboards/labbe/labbeminiv1/keymaps/rgb/config.h
  keyboards/labbe/labbeminiv1/keymaps/rgb/keymap.c
  keyboards/labbe/labbeminiv1/keymaps/rgb/rules.mk
  keyboards/labbe/labbeminiv1/keymaps/rgbmatrix/config.h
  keyboards/labbe/labbeminiv1/keymaps/rgbmatrix/keymap.c
  keyboards/labbe/labbeminiv1/keymaps/rgbmatrix/rules.mk
  keyboards/labbe/labbeminiv1/labbeminiv1.c
  keyboards/labbe/labbeminiv1/labbeminiv1.h
  keyboards/labbe/labbeminiv1/readme.md
  keyboards/labbe/labbeminiv1/rules.mk
Labels: keyboard, keymap

#15994 add dynamis keyboard code
  keyboards/bbrfkr/dynamis/config.h
  keyboards/bbrfkr/dynamis/dynamis.c
  keyboards/bbrfkr/dynamis/dynamis.h
  keyboards/bbrfkr/dynamis/info.json
  keyboards/bbrfkr/dynamis/keymaps/default/keymap.c
  keyboards/bbrfkr/dynamis/keymaps/iso/keymap.c
  keyboards/bbrfkr/dynamis/keymaps/via/keymap.c
  keyboards/bbrfkr/dynamis/keymaps/via/rules.mk
  keyboards/bbrfkr/dynamis/readme.md
  keyboards/bbrfkr/dynamis/rules.mk
Labels: keyboard, keymap, awaiting review, via

#17442 alt34 rev1: Configurator Compilation Fix
  keyboards/alt34/keymaps/default/config.h
  keyboards/alt34/rev1/config.h
  keyboards/alt34/rev1/rules.mk
Labels: enhancement, keyboard, keymap

#17443 Add missing snop60 default keymap
  keyboards/checkerboards/snop60/keymaps/default/keymap.c
Labels: bug, keymap

#17184 Fix RGB heatmap to use XY positions and use correct led limits.
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix/animations/typing_heatmap_anim.h
  quantum/rgb_matrix/rgb_matrix.c
Labels: core, documentation

#17174 Fix AVR I2C master 1ms timeout
  platforms/avr/drivers/i2c_master.c
Labels: bug, core

#17273 pull request for n60a pcb
  keyboards/nix_studio/n60_a/config.h
  keyboards/nix_studio/n60_a/info.json
  keyboards/nix_studio/n60_a/keymaps/default/keymap.c
  keyboards/nix_studio/n60_a/keymaps/default/readme.md
  keyboards/nix_studio/n60_a/keymaps/via/keymap.c
  keyboards/nix_studio/n60_a/keymaps/via/readme.md
  keyboards/nix_studio/n60_a/keymaps/via/rules.mk
  keyboards/nix_studio/n60_a/n60_a.c
  keyboards/nix_studio/n60_a/n60_a.h
  keyboards/nix_studio/n60_a/readme.md
  keyboards/nix_studio/n60_a/rules.mk
Labels: keyboard, keymap, via

#16784 farmergreg's kint41 Kinesis Advantage 2 Layout
  keyboards/kinesis/keymaps/farmergreg/keymap.c
  keyboards/kinesis/keymaps/farmergreg/readme.md
  keyboards/kinesis/keymaps/farmergreg/rules.mk
Labels: keymap

#17449 Update SKErgo for hardware changes
  keyboards/skergo/info.json
  keyboards/skergo/keymaps/default/keymap.c
  keyboards/skergo/keymaps/via/keymap.c
  keyboards/skergo/skergo.h
Labels: keyboard, keymap, via

#17452 Cf/evyd13 wasdat
  keyboards/evyd13/wasdat/info.json
Labels: enhancement, keyboard

#17448 ISSI Drivers Global Current Option
  docs/feature_rgb_matrix.md
  drivers/led/issi/is31fl3733-simple.c
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3741.c
Labels: core, keyboard, keymap, documentation, python, translation, via

#17457 Display 0 delta results in size regression
  util/size_regression.sh
Labels: core

#17436 Update ref_functions.md (replaced deprecated `RESET`)
  docs/ref_functions.md
Labels: documentation

#17065 Refactor steno and add `STENO_PROTOCOL = [all|txbolt|geminipr]`
  builddefs/common_features.mk
  builddefs/show_options.mk
  data/mappings/info_rules.json
  data/schemas/keyboard.jsonschema
  docs/feature_stenography.md
  quantum/keyboard.c
  quantum/keymap_extras/keymap_steno.h
  quantum/process_keycode/process_steno.c
  quantum/process_keycode/process_steno.h
Labels: core, documentation, breaking_change_2022q3

#17465 Fix up Djinn fuse handling.
  keyboards/tzarc/djinn/djinn.c
  keyboards/tzarc/djinn/keymaps/default/config.h
Labels: bug, keyboard, keymap

#15674 Do not enable PERMISSIVE_HOLD when TAPPING_TERM exceeds 500ms
  docs/config_options.md
  docs/ja/config_options.md
  keyboards/1k/keymaps/tap_dance/config.h
  keyboards/1upkeyboards/sweet16/keymaps/ridingintraffic/config.h
  keyboards/flehrad/bigswitch/keymaps/333fred/config.h
  keyboards/handwired/ergocheap/config.h
  keyboards/handwired/onekey/config.h
  keyboards/handwired/uthol/rev3/config.h
  keyboards/helix/pico/keymaps/mtei/config.h
  keyboards/helix/rev2/keymaps/five_rows/config.h
  keyboards/helix/rev3_5rows/keymaps/five_rows/config.h
  keyboards/idobao/id67/keymaps/thewerther/config.h
  keyboards/thevankeyboards/minivan/keymaps/belak/config.h
  keyboards/thevankeyboards/minivan/keymaps/halvves/config.h
  keyboards/woodkeys/bigseries/1key/keymaps/dudeofawesome/config.h
  keyboards/xiudi/xd002/keymaps/tap_dance/config.h
  keyboards/zfrontier/big_switch/config.h
  layouts/community/66_ansi/xyverz/config.h
  layouts/community/ergodox/adam/config.h
  quantum/action_tapping.c
  users/hvp/config.h
Labels: core, keyboard, keymap, documentation, translation

#17472 Fix firmware size for via keymap on Atom47
  keyboards/evyd13/atom47/keymaps/via/rules.mk
Labels: keymap, via

#17458 Fixup skergo - missing keycode in keymaps
  keyboards/skergo/keymaps/default/keymap.c
  keyboards/skergo/keymaps/via/keymap.c
Labels: keymap, via

#17466 [Split] Ensure SOFT_SERIAL_PIN is defined if USE_I2C isn't defined
  platforms/avr/drivers/serial.c
Labels: bug, core

#17468 Don't omit keyboards whose name contains "keymaps" in `qmk list-keyboards`
  lib/python/qmk/keyboard.py
Labels: bug, python, cli

#16839 Added blockboy/ac980mini keyboard folder
  keyboards/blockboy/ac980mini/ac980mini.c
  keyboards/blockboy/ac980mini/ac980mini.h
  keyboards/blockboy/ac980mini/config.h
  keyboards/blockboy/ac980mini/info.json
  keyboards/blockboy/ac980mini/keymaps/default/keymap.c
  keyboards/blockboy/ac980mini/keymaps/via/keymap.c
  keyboards/blockboy/ac980mini/keymaps/via/rules.mk
  keyboards/blockboy/ac980mini/readme.md
  keyboards/blockboy/ac980mini/rules.mk
Labels: keyboard, keymap, via

#17091 improvements for Cirque Pinnacle trackpads
  docs/feature_pointing_device.md
  drivers/sensors/cirque_pinnacle.c
  drivers/sensors/cirque_pinnacle.h
  drivers/sensors/cirque_pinnacle_i2c.c
  drivers/sensors/cirque_pinnacle_spi.c
  quantum/pointing_device_drivers.c
Labels: core, documentation, breaking_change_2022q3

#17481 [Split] pointing transport check
  quantum/pointing_device.c
Labels: core

#16996 Generic wear-leveling algorithm
  builddefs/build_test.mk
  builddefs/common_features.mk
  builddefs/testlist.mk
  lib/fnv/Makefile
  lib/fnv/README
  lib/fnv/fnv.h
  lib/fnv/fnv32.c
  lib/fnv/fnv64.c
  lib/fnv/hash_32.c
  lib/fnv/hash_32a.c
  lib/fnv/hash_64.c
  lib/fnv/hash_64a.c
  lib/fnv/have_ulong64.c
  lib/fnv/longlong.h
  lib/fnv/qmk_fnv_type_validation.c
  lib/fnv/test_fnv.c
  quantum/wear_leveling/tests/backing_mocks.cpp
  quantum/wear_leveling/tests/backing_mocks.hpp
  quantum/wear_leveling/tests/rules.mk
  quantum/wear_leveling/tests/testlist.mk
  quantum/wear_leveling/tests/wear_leveling_2byte.cpp
  quantum/wear_leveling/tests/wear_leveling_2byte_optimized_writes.cpp
  quantum/wear_leveling/tests/wear_leveling_4byte.cpp
  quantum/wear_leveling/tests/wear_leveling_8byte.cpp
  quantum/wear_leveling/tests/wear_leveling_general.cpp
  quantum/wear_leveling/wear_leveling.c
  quantum/wear_leveling/wear_leveling.h
  quantum/wear_leveling/wear_leveling_internal.h
Labels: core, dependencies, breaking_change_2022q3

#17484 Fix error message in generated code
  lib/python/qmk/cli/generate/keyboard_h.py
Labels: bug, python, cli

#17493 [Bug] Fix issue with mousekey movement getting stuck
  quantum/mousekey.c
Labels: core

#17500 [Bug] Fix 3 speed mousekey mode
  quantum/mousekey.c
  quantum/mousekey.h
Labels: bug, core

#17488 RGB heatmap skip NO_LED
  quantum/rgb_matrix/animations/typing_heatmap_anim.h
Labels: core

#17492 Update feature_split_keyboard.md to add extra detail about left and right matrices.
  docs/feature_split_keyboard.md
Labels: documentation

#17376 Wear-leveling EEPROM drivers: `embedded_flash`, `spi_flash`, `legacy`
  builddefs/build_keyboard.mk
  builddefs/common_features.mk
  docs/_summary.md
  docs/eeprom_driver.md
  drivers/eeprom/eeprom_wear_leveling.c
  drivers/wear_leveling/wear_leveling_flash_spi.c
  drivers/wear_leveling/wear_leveling_flash_spi_config.h
  platforms/chibios/drivers/wear_leveling/wear_leveling_efl.c
  platforms/chibios/drivers/wear_leveling/wear_leveling_efl_config.h
  platforms/chibios/drivers/wear_leveling/wear_leveling_legacy.c
  platforms/chibios/drivers/wear_leveling/wear_leveling_legacy_config.h
  platforms/chibios/platform.mk
  platforms/eeprom.h
  quantum/wear_leveling/wear_leveling.c
  quantum/wear_leveling/wear_leveling_internal.h
Labels: core, documentation

#17505 Allow module check to error out when piped to /dev/null
  lib/python/qmk/cli/__init__.py
Labels: bug, python, cli

#17506 (develop)AP2: Enable support for WL EEPROM Driver
  keyboards/annepro2/c15/config.h
  keyboards/annepro2/c15/rules.mk
  keyboards/annepro2/c18/config.h
  keyboards/annepro2/c18/rules.mk
  keyboards/annepro2/halconf.h
  keyboards/annepro2/mcuconf.h
Labels: keyboard

#17507 (develop)Keychron Q2: Enable support for WL EEPROM Driver
  keyboards/keychron/q2/config.h
  keyboards/keychron/q2/rev_0110/rules.mk
  keyboards/keychron/q2/rev_0111/rules.mk
  keyboards/keychron/q2/rev_0112/rules.mk
  keyboards/keychron/q2/rev_0113/rules.mk
Labels: keyboard

#17516 [style] rp2040 stage2 formatting
  platforms/chibios/vendors/RP/stage2_bootloaders.c
Labels: core

#17515 Add QMK Configurator layout data for ADM42 rev4
  keyboards/adm42/info.json
Labels: enhancement, keyboard

#17517 Also check /run/media/ for uf2 drives
  util/uf2conv.py
Labels: enhancement, core, python

#17518 Add missing QMK Configurator layout data for chlx str.merro60
  keyboards/chlx/str_merro60/info.json
Labels: enhancement, keyboard
