Repository qmk/qmk_firmware, pull requests merged in 2022-07, with the labels that each got.

#15895 Adding Rev41lp keyboard
  keyboards/b_sides/rev41lp/config.h
  keyboards/b_sides/rev41lp/info.json
  keyboards/b_sides/rev41lp/keymaps/cyril/config.h
  keyboards/b_sides/rev41lp/keymaps/cyril/keymap.c
  keyboards/b_sides/rev41lp/keymaps/default/keymap.c
  keyboards/b_sides/rev41lp/keymaps/namnlos/config.h
  keyboards/b_sides/rev41lp/keymaps/namnlos/keymap.c
  keyboards/b_sides/rev41lp/keymaps/namnlos/readme.md
  keyboards/b_sides/rev41lp/keymaps/namnlos/rules.mk
  keyboards/b_sides/rev41lp/readme.md
  keyboards/b_sides/rev41lp/rev41lp.c
  keyboards/b_sides/rev41lp/rev41lp.h
  keyboards/b_sides/rev41lp/rules.mk
Labels: keyboard, keymap, stale

#17520 Swap over F4x1 8MHz HSE boards over from blackpill board files
  keyboards/4pplet/yakiimo/rev_a/config.h
  keyboards/4pplet/yakiimo/rev_a/mcuconf.h
  keyboards/4pplet/yakiimo/rev_a/rules.mk
  keyboards/acheron/shark/beta/config.h
  keyboards/acheron/shark/beta/mcuconf.h
  keyboards/acheron/shark/beta/rules.mk
  keyboards/mode/m65ha_alpha/config.h
  keyboards/mode/m65ha_alpha/mcuconf.h
  keyboards/mode/m65ha_alpha/rules.mk
  keyboards/mode/m65hi_alpha/config.h
  keyboards/mode/m65hi_alpha/mcuconf.h
  keyboards/mode/m65hi_alpha/rules.mk
  keyboards/mode/m65s/config.h
  keyboards/mode/m65s/mcuconf.h
  keyboards/mode/m65s/rules.mk
  keyboards/mode/m75h/config.h
  keyboards/mode/m75h/mcuconf.h
  keyboards/mode/m75h/rules.mk
  keyboards/mode/m75s/config.h
  keyboards/mode/m75s/mcuconf.h
  keyboards/mode/m75s/rules.mk
  keyboards/smithrune/iron165r2/f411/config.h
  keyboards/smithrune/iron165r2/f411/mcuconf.h
  keyboards/smithrune/iron165r2/f411/rules.mk
Labels: keyboard

#17521 Specify blackpill board files where relevant
  keyboards/cantor/info.json
  keyboards/handwired/dygma/raise/rules.mk
  keyboards/handwired/macroboard/f401/rules.mk
  keyboards/handwired/macroboard/f411/rules.mk
  keyboards/handwired/meck_tkl/blackpill_f401/rules.mk
  keyboards/handwired/onekey/blackpill_f401/rules.mk
  keyboards/handwired/onekey/blackpill_f411/rules.mk
  keyboards/handwired/pill60/blackpill_f401/rules.mk
  keyboards/handwired/pill60/blackpill_f411/rules.mk
  keyboards/handwired/riblee_f401/rules.mk
  keyboards/handwired/riblee_f411/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/f411/rules.mk
  keyboards/handwired/uthol/rev3/rules.mk
  keyboards/kin80/blackpill401/rules.mk
  keyboards/kin80/blackpill411/rules.mk
  keyboards/mechwild/obe/f401/eeprom/rules.mk
  keyboards/mechwild/obe/f401/rules.mk
  keyboards/mechwild/obe/f411/eeprom/rules.mk
  keyboards/mechwild/obe/f411/rules.mk
  keyboards/mechwild/waka60/f401/eeprom/rules.mk
  keyboards/mechwild/waka60/f401/rules.mk
  keyboards/mechwild/waka60/f411/eeprom/rules.mk
  keyboards/mechwild/waka60/f411/rules.mk
  keyboards/mlego/m60_split/rev2/rules.mk
  keyboards/tkw/grandiceps/rules.mk
  keyboards/tkw/stoutgat/v2/f411/rules.mk
  keyboards/tronguylabs/m122_3270/blackpill/rules.mk
  keyboards/yanghu/unicorne/f411/rules.mk
  keyboards/zvecr/zv48/f401/rules.mk
  keyboards/zvecr/zv48/f411/rules.mk
Labels: keyboard

#17529 Allow locate_keymap to handle DEFAULT_FOLDER
  lib/python/qmk/keymap.py
Labels: bug, python, cli

#17532 [QP] Explicit buffer alignment.
  quantum/painter/qp_draw_core.c
Labels: bug, core

#17533 Fixup SSD1351 build after #17438
  drivers/painter/ssd1351/qp_ssd1351.c
Labels: bug, core

#17519 RP2040 emulated EEPROM.
  builddefs/common_features.mk
  builddefs/mcu_selection.mk
  docs/eeprom_driver.md
  docs/platformdev_rp2040.md
  platforms/chibios/boards/common/ld/RP2040_FLASH_TIMECRIT.ld
  platforms/chibios/boards/common/ld/RP2040_rules_data_with_timecrit.ld
  platforms/chibios/drivers/wear_leveling/wear_leveling_rp2040_flash.c
  platforms/chibios/drivers/wear_leveling/wear_leveling_rp2040_flash_config.h
  platforms/chibios/platform.mk
  platforms/chibios/vendors/RP/RP2040.mk
  platforms/chibios/vendors/RP/pico_sdk_shims.c
  platforms/chibios/vendors/RP/stage2_bootloaders.c
  quantum/wear_leveling/wear_leveling.c
Labels: core, documentation

#16429 add baguette66 keyboard
  keyboards/kbdfans/baguette66/rgb/config.h
  keyboards/kbdfans/baguette66/rgb/info.json
  keyboards/kbdfans/baguette66/rgb/keymaps/default/keymap.c
  keyboards/kbdfans/baguette66/rgb/keymaps/via/keymap.c
  keyboards/kbdfans/baguette66/rgb/keymaps/via/rules.mk
  keyboards/kbdfans/baguette66/rgb/readme.md
  keyboards/kbdfans/baguette66/rgb/rgb.c
  keyboards/kbdfans/baguette66/rgb/rgb.h
  keyboards/kbdfans/baguette66/rgb/rules.mk
  keyboards/kbdfans/baguette66/soldered/config.h
  keyboards/kbdfans/baguette66/soldered/info.json
  keyboards/kbdfans/baguette66/soldered/keymaps/default/keymap.c
  keyboards/kbdfans/baguette66/soldered/keymaps/via/keymap.c
  keyboards/kbdfans/baguette66/soldered/keymaps/via/rules.mk
  keyboards/kbdfans/baguette66/soldered/readme.md
  keyboards/kbdfans/baguette66/soldered/rules.mk
  keyboards/kbdfans/baguette66/soldered/soldered.c
  keyboards/kbdfans/baguette66/soldered/soldered.h
Labels: keyboard, keymap, stale, via

#15974 Adding 34keys layout for kprepublic bm40 keyboard.
  keyboards/kprepublic/bm40hsrgb/keymaps/34keys/config.h
  keyboards/kprepublic/bm40hsrgb/keymaps/34keys/keymap.c
  keyboards/kprepublic/bm40hsrgb/keymaps/34keys/readme.md
  keyboards/kprepublic/bm40hsrgb/keymaps/34keys/rules.mk
Labels: keymap, stale

#15759 HHKB YDKB Yang BT Controller
  keyboards/hhkb/yang/config.h
  keyboards/hhkb/yang/info.json
  keyboards/hhkb/yang/keymaps/default/keymap.c
  keyboards/hhkb/yang/keymaps/kanru/config.h
  keyboards/hhkb/yang/keymaps/kanru/keymap.c
  keyboards/hhkb/yang/matrix.c
  keyboards/hhkb/yang/memo.md
  keyboards/hhkb/yang/readme.md
  keyboards/hhkb/yang/rules.mk
  keyboards/hhkb/yang/yang.c
  keyboards/hhkb/yang/yang.h
Labels: keyboard, keymap, stale

#14336 Add elephant42 keyboard
  keyboards/elephant42/config.h
  keyboards/elephant42/elephant42.c
  keyboards/elephant42/elephant42.h
  keyboards/elephant42/info.json
  keyboards/elephant42/keymaps/default/keymap.c
  keyboards/elephant42/keymaps/default/readme.md
  keyboards/elephant42/keymaps/via/keymap.c
  keyboards/elephant42/keymaps/via/readme.md
  keyboards/elephant42/keymaps/via/rules.mk
  keyboards/elephant42/lib/glcdfont.c
  keyboards/elephant42/readme.md
  keyboards/elephant42/rules.mk
Labels: keyboard, keymap, stale, via

#16955 Ut47.2 gardego5 layout
  keyboards/ut472/keymaps/gardego5/keymap.c
  keyboards/ut472/keymaps/gardego5/readme.md
Labels: keymap

#17010 Add LED backlight/indicator info to reference_info_json.md
  docs/reference_info_json.md
Labels: documentation

#16989 [Keyboard] RS108 Addition
  keyboards/xelus/rs108/config.h
  keyboards/xelus/rs108/halconf.h
  keyboards/xelus/rs108/info.json
  keyboards/xelus/rs108/keymaps/default/keymap.c
  keyboards/xelus/rs108/keymaps/via/keymap.c
  keyboards/xelus/rs108/keymaps/via/rules.mk
  keyboards/xelus/rs108/mcuconf.h
  keyboards/xelus/rs108/readme.md
  keyboards/xelus/rs108/rs108.c
  keyboards/xelus/rs108/rs108.h
  keyboards/xelus/rs108/rules.mk
Labels: keyboard, keymap, via

#17034 Add workaround to allow Sesame to work without atomic interactions
  keyboards/kb_elmo/sesame/config.h
Labels: keyboard

#17012 spx01 keymap for the kbd67mkiirgb
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/spx01/config.h
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/spx01/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/spx01/readme.md
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/spx01/rgb_matrix_user.inc
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/spx01/rules.mk
Labels: keymap

#17431 Add new keyboard AT3
  keyboards/atset/at1/at1.c
  keyboards/atset/at1/at1.h
  keyboards/atset/at1/config.h
  keyboards/atset/at1/info.json
  keyboards/atset/at1/keymaps/default/keymap.c
  keyboards/atset/at1/keymaps/via/keymap.c
  keyboards/atset/at1/readme.md
  keyboards/atset/at1/rules.mk
  keyboards/atset/at12/at12.c
  keyboards/atset/at12/at12.h
  keyboards/atset/at12/config.h
  keyboards/atset/at12/info.json
  keyboards/atset/at12/keymaps/default/keymap.c
  keyboards/atset/at12/keymaps/via/keymap.c
  keyboards/atset/at12/readme.md
  keyboards/atset/at12/rules.mk
  keyboards/atset/at16/at16.c
  keyboards/atset/at16/at16.h
  keyboards/atset/at16/config.h
  keyboards/atset/at16/info.json
  keyboards/atset/at16/keymaps/default/keymap.c
  keyboards/atset/at16/keymaps/via/keymap.c
  keyboards/atset/at16/readme.md
  keyboards/atset/at16/rules.mk
  keyboards/atset/at3/at3.c
  keyboards/atset/at3/at3.h
  keyboards/atset/at3/config.h
  keyboards/atset/at3/info.json
  keyboards/atset/at3/keymaps/default/keymap.c
  keyboards/atset/at3/keymaps/via/keymap.c
  keyboards/atset/at3/readme.md
  keyboards/atset/at3/rules.mk
Labels: keyboard, keymap, via

#16800 Added Wait time to sending each Keys for Dynamic Macros function
  docs/feature_dynamic_macros.md
  docs/ja/feature_dynamic_macros.md
  quantum/process_keycode/process_dynamic_macro.c
Labels: core, documentation, translation

#16668 Add cli command to import keyboard|keymap|kbfirmware
  docs/cli_commands.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/import/__init__.py
  lib/python/qmk/cli/import/kbfirmware.py
  lib/python/qmk/cli/import/keyboard.py
  lib/python/qmk/cli/import/keymap.py
  lib/python/qmk/importers.py
Labels: documentation, python, cli

#17210 [Keyboard] Move/Rename to Hillside48, simplify default keymap
  keyboards/handwired/hillside/0_1/0_1.c
  keyboards/handwired/hillside/0_1/keymaps/default/keymap.json
  keyboards/handwired/hillside/0_1/keymaps/default/readme.md
  keyboards/handwired/hillside/48/48.c
  keyboards/handwired/hillside/48/48.h
  keyboards/handwired/hillside/48/config.h
  keyboards/handwired/hillside/48/info.json
  keyboards/handwired/hillside/48/keymaps/default/config.h
  keyboards/handwired/hillside/48/keymaps/default/keymap.json
  keyboards/handwired/hillside/48/keymaps/default/readme.md
  keyboards/handwired/hillside/48/keymaps/default/rules.mk
  keyboards/handwired/hillside/48/keymaps/json2hill48.py
  keyboards/handwired/hillside/48/keymaps/via/keymap.json
  keyboards/handwired/hillside/48/readme.md
  keyboards/handwired/hillside/48/rules.mk
Labels: keyboard, keymap, python, via

#17222 Expose the time of the last change to the LED state
  quantum/led.c
  quantum/led.h
Labels: core

#17235 Add pixelspace user space and capsule65i keyboard
  keyboards/pixelspace/capsule65i/capsule65i.c
  keyboards/pixelspace/capsule65i/capsule65i.h
  keyboards/pixelspace/capsule65i/config.h
  keyboards/pixelspace/capsule65i/info.json
  keyboards/pixelspace/capsule65i/keymaps/default/keymap.c
  keyboards/pixelspace/capsule65i/keymaps/via/keymap.c
  keyboards/pixelspace/capsule65i/keymaps/via/rules.mk
  keyboards/pixelspace/capsule65i/readme.md
  keyboards/pixelspace/capsule65i/rules.mk
Labels: keyboard, keymap, via

#17226 Add Zsh note for tab complete
  docs/cli_tab_complete.md
Labels: documentation

#17218 Add lkbm keymap
  keyboards/ploopyco/trackball_nano/keymaps/lkbm/keymap.c
  keyboards/ploopyco/trackball_nano/keymaps/lkbm/readme.md
  keyboards/ploopyco/trackball_nano/keymaps/lkbm/rules.mk
  keyboards/ploopyco/trackball_nano/trackball_nano.c
  keyboards/ploopyco/trackball_nano/trackball_nano.h
Labels: keyboard, keymap

#17287 Fix keys being discarded after using the leader key
  quantum/process_keycode/process_leader.c
Labels: core

#17193 [Keyboard]KPrepublic bm80v2 Keyboard ISO support
  keyboards/kprepublic/bm80v2_iso/bm80v2_iso.c
  keyboards/kprepublic/bm80v2_iso/bm80v2_iso.h
  keyboards/kprepublic/bm80v2_iso/config.h
  keyboards/kprepublic/bm80v2_iso/info.json
  keyboards/kprepublic/bm80v2_iso/keymaps/default/keymap.c
  keyboards/kprepublic/bm80v2_iso/keymaps/via/keymap.c
  keyboards/kprepublic/bm80v2_iso/keymaps/via/rules.mk
  keyboards/kprepublic/bm80v2_iso/readme.md
  keyboards/kprepublic/bm80v2_iso/rules.mk
Labels: keyboard, keymap, via

#17288 [Keyboard] Add Avalanche v4
  keyboards/avalanche/avalanche.h
  keyboards/avalanche/v4/config.h
  keyboards/avalanche/v4/info.json
  keyboards/avalanche/v4/keymaps/default/keymap.c
  keyboards/avalanche/v4/keymaps/winder/config.h
  keyboards/avalanche/v4/keymaps/winder/images.h
  keyboards/avalanche/v4/keymaps/winder/keymap.c
  keyboards/avalanche/v4/keymaps/winder/rules.mk
  keyboards/avalanche/v4/rules.mk
  keyboards/avalanche/v4/v4.c
  keyboards/avalanche/v4/v4.h
Labels: keyboard, keymap

#17246 foureight84 keymap for sofle
  keyboards/sofle/keymaps/foureight84/config.h
  keyboards/sofle/keymaps/foureight84/keymap.c
  keyboards/sofle/keymaps/foureight84/readme.md
  keyboards/sofle/keymaps/foureight84/rules.mk
Labels: keymap

#16336 PoC: Swap Escape and Caps
  docs/keycodes.md
  docs/keycodes_magic.md
  quantum/command.c
  quantum/keycode_config.c
  quantum/keycode_config.h
  quantum/process_keycode/process_magic.c
  quantum/quantum_keycodes.h
Labels: core, documentation, breaking_change_2022q3

#17275 Feature-ify Send String
  builddefs/common_features.mk
  docs/_summary.md
  docs/feature_macros.md
  docs/feature_send_string.md
  quantum/process_keycode/process_auto_shift.c
  quantum/process_keycode/process_dynamic_tapping_term.c
  quantum/quantum.h
  quantum/send_string.h
  quantum/send_string/send_string.c
  quantum/send_string/send_string.h
  quantum/send_string/send_string_keycodes.h
  quantum/send_string_keycodes.h
Labels: enhancement, core, documentation, feature

#16932 Improve ENCODER_DEFAULT_POS to recognize lost ticks
  quantum/encoder.c
Labels: core

#17049 Added MS Sculpt ISO-layout conversion with STM32F401
  keyboards/ms_sculpt/config.h
  keyboards/ms_sculpt/info.json
  keyboards/ms_sculpt/keymaps/default/keymap.c
  keyboards/ms_sculpt/readme.md
  keyboards/ms_sculpt/rules.mk
  keyboards/ms_sculpt/sculpt_iso.h
Labels: keyboard, keymap

#16890 [Keymap] Add prog_qgmlwb keymap
  keyboards/planck/keymaps/prog_qgmlwb/.gitignore
  keyboards/planck/keymaps/prog_qgmlwb/config.h
  keyboards/planck/keymaps/prog_qgmlwb/keymap.c
  keyboards/planck/keymaps/prog_qgmlwb/readme.md
  keyboards/planck/keymaps/prog_qgmlwb/rules.mk
  keyboards/planck/keymaps/prog_qgmlwb/src/enums.h
  keyboards/planck/keymaps/prog_qgmlwb/src/layouts.c
  keyboards/planck/keymaps/prog_qgmlwb/src/layouts.h
  keyboards/planck/keymaps/prog_qgmlwb/src/normal.h
  keyboards/planck/keymaps/prog_qgmlwb/src/qgmlwb.h
  keyboards/planck/keymaps/prog_qgmlwb/src/special.h
  users/davidkristoffersen/davidkristoffersen.h
  users/davidkristoffersen/hardware/readme.md
  users/davidkristoffersen/hardware/split_space.c
  users/davidkristoffersen/hardware/split_space.h
  users/davidkristoffersen/macros/debug.c
  users/davidkristoffersen/macros/language.c
  users/davidkristoffersen/macros/macros.c
  users/davidkristoffersen/macros/macros.h
  users/davidkristoffersen/macros/norwegian.h
  users/davidkristoffersen/macros/readme.md
  users/davidkristoffersen/post_config.h
  users/davidkristoffersen/readme.md
  users/davidkristoffersen/rules.mk
  users/davidkristoffersen/util/functions.c
  users/davidkristoffersen/util/functions.h
  users/davidkristoffersen/util/readme.md
Labels: keymap

#17298 Add ATmega32u2 Support to HHKB
  keyboards/hhkb/ansi/32u2/rules.mk
  keyboards/hhkb/ansi/hhkb_avr.h
  keyboards/hhkb/ansi/rules.mk
Labels: keyboard

#17297 Update massdrop/alt:charlesrocket
  keyboards/massdrop/alt/keymaps/charlesrocket/config.h
  keyboards/massdrop/alt/keymaps/charlesrocket/keymap.c
  keyboards/massdrop/alt/keymaps/charlesrocket/rules.mk
  users/charlesrocket/apl.c
  users/charlesrocket/rules.mk
Labels: keymap

#17234 [Keyboard] IDOBAO ID80v3 code rewrite and include factory keymap
  keyboards/idobao/id80/v3/ansi/ansi.c
  keyboards/idobao/id80/v3/ansi/ansi.h
  keyboards/idobao/id80/v3/ansi/config.h
  keyboards/idobao/id80/v3/ansi/info.json
  keyboards/idobao/id80/v3/ansi/keymaps/default/keymap.c
  keyboards/idobao/id80/v3/ansi/keymaps/idobao/keymap.c
  keyboards/idobao/id80/v3/ansi/keymaps/idobao/rules.mk
  keyboards/idobao/id80/v3/ansi/keymaps/via/keymap.c
  keyboards/idobao/id80/v3/ansi/keymaps/via/rules.mk
  keyboards/idobao/id80/v3/ansi/rules.mk
  keyboards/idobao/id80/v3/config.h
  keyboards/idobao/id80/v3/info.json
  keyboards/idobao/id80/v3/keymaps/default/keymap.c
  keyboards/idobao/id80/v3/keymaps/default/readme.md
  keyboards/idobao/id80/v3/keymaps/via/keymap.c
  keyboards/idobao/id80/v3/readme.md
  keyboards/idobao/id80/v3/rules.mk
  keyboards/idobao/id80/v3/v3.c
  keyboards/idobao/id80/v3/v3.h
Labels: keyboard, keymap, via

#17231 [Keyboard] IDOBAO ID67 code touch-ups and include factory keymap
  keyboards/idobao/id67/config.h
  keyboards/idobao/id67/id67.c
  keyboards/idobao/id67/id67.h
  keyboards/idobao/id67/info.json
  keyboards/idobao/id67/keymaps/default/keymap.c
  keyboards/idobao/id67/keymaps/idobao/keymap.c
  keyboards/idobao/id67/keymaps/idobao/rules.mk
  keyboards/idobao/id67/keymaps/thewerther/config.h
  keyboards/idobao/id67/keymaps/thewerther/keymap.c
  keyboards/idobao/id67/keymaps/via/keymap.c
  keyboards/idobao/id67/keymaps/vinorodrigues/config.h
  keyboards/idobao/id67/keymaps/vinorodrigues/keymap.c
  keyboards/idobao/id67/keymaps/vinorodrigues/rules.mk
  keyboards/idobao/id67/post_rules.mk
  keyboards/idobao/id67/readme.md
  keyboards/idobao/id67/rules.mk
Labels: keyboard, keymap, via

#17187 Add base Ryujin firmware
  keyboards/wolf/ryujin/config.h
  keyboards/wolf/ryujin/info.json
  keyboards/wolf/ryujin/keymaps/default/keymap.c
  keyboards/wolf/ryujin/keymaps/via/keymap.c
  keyboards/wolf/ryujin/keymaps/via/rules.mk
  keyboards/wolf/ryujin/readme.md
  keyboards/wolf/ryujin/rules.mk
  keyboards/wolf/ryujin/ryujin.c
  keyboards/wolf/ryujin/ryujin.h
Labels: keyboard, keymap, via

#16980 Add personal YMDK Split64 keymap
  keyboards/ymdk/sp64/keymaps/minkezhang/config.h
  keyboards/ymdk/sp64/keymaps/minkezhang/keymap.c
  keyboards/ymdk/sp64/keymaps/minkezhang/readme.md
  keyboards/ymdk/sp64/keymaps/minkezhang/rules.mk
Labels: keymap

#17331 Add Jpe230 Preonic Keymap
  keyboards/preonic/keymaps/jpe230/config.h
  keyboards/preonic/keymaps/jpe230/jpe230.h
  keyboards/preonic/keymaps/jpe230/keymap.c
  keyboards/preonic/keymaps/jpe230/rules.mk
Labels: keymap

#16987 Swift65 Hotswap Support
  keyboards/alfredslab/swift65/hotswap/config.h
  keyboards/alfredslab/swift65/hotswap/hotswap.c
  keyboards/alfredslab/swift65/hotswap/hotswap.h
  keyboards/alfredslab/swift65/hotswap/info.json
  keyboards/alfredslab/swift65/hotswap/keymaps/default/keymap.c
  keyboards/alfredslab/swift65/hotswap/keymaps/via/keymap.c
  keyboards/alfredslab/swift65/hotswap/keymaps/via/rules.mk
  keyboards/alfredslab/swift65/hotswap/readme.md
  keyboards/alfredslab/swift65/hotswap/rules.mk
Labels: keyboard, keymap, via

#17337 Add keymaps for muralis and kuru
  keyboards/dz60/keymaps/muralisc/keymap.c
  keyboards/dztech/dz60rgb_ansi/keymaps/kuru/keymap.c
  keyboards/dztech/dz60rgb_ansi/keymaps/muralisc/keymap.c
  keyboards/dztech/dz60rgb_ansi/keymaps/muralisc/readme.md
Labels: keymap

#17336 Added VIA support for Drop CTRL
  keyboards/massdrop/ctrl/keymaps/via/keymap.c
  keyboards/massdrop/ctrl/keymaps/via/rules.mk
Labels: keymap, via

#17144 [Keyboard] New IDOBAO ID63 (a.k.a. Denwir D60)
  keyboards/idobao/id63/config.h
  keyboards/idobao/id63/id63.c
  keyboards/idobao/id63/id63.h
  keyboards/idobao/id63/info.json
  keyboards/idobao/id63/keymaps/default/keymap.c
  keyboards/idobao/id63/keymaps/idobao/config.h
  keyboards/idobao/id63/keymaps/idobao/keymap.c
  keyboards/idobao/id63/keymaps/idobao/rules.mk
  keyboards/idobao/id63/keymaps/via/keymap.c
  keyboards/idobao/id63/keymaps/via/rules.mk
  keyboards/idobao/id63/post_rules.mk
  keyboards/idobao/id63/readme.md
  keyboards/idobao/id63/rules.mk
Labels: keyboard, keymap, via

#15688 Add note about qmk doctor in newbs_flashing.md
  docs/newbs_flashing.md
Labels: documentation

#16886 Allow for RGB actions to take place on Keydown instead of Keyup
  docs/feature_rgb_matrix.md
  quantum/process_keycode/process_rgb.c
Labels: core, documentation

#17216 feat(keymap): add keebio/iris/rev6/radlinskii keymap
  keyboards/keebio/iris/keymaps/radlinskii/config.h
  keyboards/keebio/iris/keymaps/radlinskii/keymap.c
  keyboards/keebio/iris/keymaps/radlinskii/light_layers.h
  keyboards/keebio/iris/keymaps/radlinskii/readme.md
  keyboards/keebio/iris/keymaps/radlinskii/rules.mk
Labels: keymap

#17314 Added 3 new keyboards
  keyboards/nightly_boards/alter_lite/alter_lite.c
  keyboards/nightly_boards/alter_lite/alter_lite.h
  keyboards/nightly_boards/alter_lite/config.h
  keyboards/nightly_boards/alter_lite/info.json
  keyboards/nightly_boards/alter_lite/keymaps/default/keymap.c
  keyboards/nightly_boards/alter_lite/keymaps/via/keymap.c
  keyboards/nightly_boards/alter_lite/keymaps/via/rules.mk
  keyboards/nightly_boards/alter_lite/readme.md
  keyboards/nightly_boards/alter_lite/rules.mk
  keyboards/nightly_boards/conde60/conde60.c
  keyboards/nightly_boards/conde60/conde60.h
  keyboards/nightly_boards/conde60/config.h
  keyboards/nightly_boards/conde60/info.json
  keyboards/nightly_boards/conde60/keymaps/default/keymap.c
  keyboards/nightly_boards/conde60/keymaps/via/keymap.c
  keyboards/nightly_boards/conde60/keymaps/via/rules.mk
  keyboards/nightly_boards/conde60/readme.md
  keyboards/nightly_boards/conde60/rules.mk
  keyboards/nightly_boards/paraluman/config.h
  keyboards/nightly_boards/paraluman/info.json
  keyboards/nightly_boards/paraluman/keymaps/default/keymap.c
  keyboards/nightly_boards/paraluman/keymaps/tsangan/keymap.c
  keyboards/nightly_boards/paraluman/keymaps/via/keymap.c
  keyboards/nightly_boards/paraluman/keymaps/via/rules.mk
  keyboards/nightly_boards/paraluman/paraluman.c
  keyboards/nightly_boards/paraluman/paraluman.h
  keyboards/nightly_boards/paraluman/readme.md
  keyboards/nightly_boards/paraluman/rules.mk
Labels: keyboard, keymap, via

#17427 [keymap] Add tiny text, full width characters to Ergodone->Vega
  keyboards/ktec/ergodone/keymaps/vega/keymap.c
Labels: keymap, pr_checklist_pending

#17536 Cleanup post-#17314.
  keyboards/nightly_boards/alter_lite/info.json
  keyboards/nightly_boards/alter_lite/readme.md
  keyboards/nightly_boards/conde60/readme.md
  keyboards/nightly_boards/paraluman/info.json
Labels: bug, keyboard

#17359 [keyboard] annepro2 Add support for sticky keys
  keyboards/annepro2/ap2_led.c
  keyboards/annepro2/ap2_led.h
  keyboards/annepro2/keymaps/default-full-caps/keymap.c
  keyboards/annepro2/keymaps/default-layer-indicators/keymap.c
  keyboards/annepro2/protocol.h
Labels: keyboard, keymap, awaiting review

#17320 add crkbd/keymaps/bermeo
  keyboards/crkbd/keymaps/bermeo/config.h
  keyboards/crkbd/keymaps/bermeo/glcdfont.c
  keyboards/crkbd/keymaps/bermeo/keymap.c
  keyboards/crkbd/keymaps/bermeo/readme.md
  keyboards/crkbd/keymaps/bermeo/rules.mk
Labels: keymap

#17192 [Keyboard]KPrepublic bm80v2 Keyboard ANSI support
  keyboards/kprepublic/bm80v2/bm80v2.c
  keyboards/kprepublic/bm80v2/bm80v2.h
  keyboards/kprepublic/bm80v2/config.h
  keyboards/kprepublic/bm80v2/info.json
  keyboards/kprepublic/bm80v2/keymaps/default/keymap.c
  keyboards/kprepublic/bm80v2/keymaps/via/keymap.c
  keyboards/kprepublic/bm80v2/keymaps/via/rules.mk
  keyboards/kprepublic/bm80v2/readme.md
  keyboards/kprepublic/bm80v2/rules.mk
Labels: keyboard, keymap, via

#17435 [Keyboard] Update Charybdis code for Extended Mouse reports
  keyboards/bastardkb/charybdis/charybdis.c
  keyboards/bastardkb/charybdis/post_config.h
  keyboards/bastardkb/charybdis/readme.md
  keyboards/handwired/tractyl_manuform/tractyl_manuform.c
Labels: keyboard

#17470 add rotary encoder support for Quark^2
  keyboards/checkerboards/quark_squared/config.h
  keyboards/checkerboards/quark_squared/quark_squared.c
  keyboards/checkerboards/quark_squared/rules.mk
Labels: keyboard

#17260 [Keyboard] Add Support to Ducky One2 SF
  keyboards/ducky/one2sf/1967st/1967st.h
  keyboards/ducky/one2sf/1967st/boards/NUC123SD4AN0/board.c
  keyboards/ducky/one2sf/1967st/boards/NUC123SD4AN0/board.h
  keyboards/ducky/one2sf/1967st/boards/NUC123SD4AN0/board.mk
  keyboards/ducky/one2sf/1967st/chconf.h
  keyboards/ducky/one2sf/1967st/config.h
  keyboards/ducky/one2sf/1967st/info.json
  keyboards/ducky/one2sf/1967st/mcuconf.h
  keyboards/ducky/one2sf/1967st/readme.md
  keyboards/ducky/one2sf/1967st/rules.mk
  keyboards/ducky/one2sf/keymaps/default/config.h
  keyboards/ducky/one2sf/keymaps/default/keymap.c
  keyboards/ducky/one2sf/keymaps/default/readme.md
  keyboards/ducky/one2sf/readme.md
  keyboards/ducky/one2sf/rules.mk
Labels: keyboard, keymap

#16962 Add BigBoy macro pad
  keyboards/tominabox1/bigboy/bigboy.c
  keyboards/tominabox1/bigboy/bigboy.h
  keyboards/tominabox1/bigboy/config.h
  keyboards/tominabox1/bigboy/info.json
  keyboards/tominabox1/bigboy/keymaps/default/keymap.c
  keyboards/tominabox1/bigboy/keymaps/default_2u/keymap.c
  keyboards/tominabox1/bigboy/readme.md
  keyboards/tominabox1/bigboy/rules.mk
Labels: keyboard, keymap

#17208 My ErgoDox Keymap (finally perfected, I think)
  keyboards/ergodox_ez/keymaps/ifohancroft/config.h
  keyboards/ergodox_ez/keymaps/ifohancroft/keymap.c
  keyboards/ergodox_ez/keymaps/ifohancroft/readme.md
  keyboards/ergodox_ez/keymaps/ifohancroft/rules.mk
Labels: keymap

#17302 MSYS2 install: use MinGW python-qmk package
  docs/newbs_getting_started.md
  util/install/msys2.sh
Labels: enhancement, core, documentation

#17418 Added new keyboard KB16-01
  keyboards/doio/kb16/config.h
  keyboards/doio/kb16/info.json
  keyboards/doio/kb16/kb16.c
  keyboards/doio/kb16/kb16.h
  keyboards/doio/kb16/keymaps/bongocat/config.h
  keyboards/doio/kb16/keymaps/bongocat/keymap.c
  keyboards/doio/kb16/keymaps/bongocat/oled/bongocat.c
  keyboards/doio/kb16/keymaps/bongocat/oled/bongocat.h
  keyboards/doio/kb16/keymaps/bongocat/rules.mk
  keyboards/doio/kb16/keymaps/default/keymap.c
  keyboards/doio/kb16/keymaps/default/rules.mk
  keyboards/doio/kb16/keymaps/via/keymap.c
  keyboards/doio/kb16/keymaps/via/rules.mk
  keyboards/doio/kb16/lib/glcdfont.c
  keyboards/doio/kb16/lib/layer_status/layer_status.c
  keyboards/doio/kb16/lib/layer_status/layer_status.h
  keyboards/doio/kb16/lib/logo.c
  keyboards/doio/kb16/lib/logo.h
  keyboards/doio/kb16/readme.md
  keyboards/doio/kb16/rules.mk
Labels: keyboard, keymap, via

#17511 Add a workman-miryoku hybrid keymap for the ferris sweep keyboard
  keyboards/ferris/keymaps/bruun-baer/config.h
  keyboards/ferris/keymaps/bruun-baer/keymap.json
  keyboards/ferris/keymaps/bruun-baer/readme.md
Labels: keymap

#14420 Tentative Teensy 3.5 support
  builddefs/bootloader.mk
  builddefs/mcu_selection.mk
  data/schemas/keyboard.jsonschema
  docs/compatible_microcontrollers.md
  keyboards/handwired/onekey/teensy_35/chconf.h
  keyboards/handwired/onekey/teensy_35/config.h
  keyboards/handwired/onekey/teensy_35/halconf.h
  keyboards/handwired/onekey/teensy_35/mcuconf.h
  keyboards/handwired/onekey/teensy_35/rules.mk
  lib/python/qmk/constants.py
  platforms/chibios/chibios_config.h
Labels: enhancement, core, keyboard, documentation, python, cli, breaking_change_2022q3

#17538 Fixup builds for TzCI
  keyboards/ms_sculpt/ms_sculpt.h
  keyboards/westm/westm68/rules.mk
  keyboards/westm/westm9/rules.mk
Labels: bug, keyboard

#17537 Revert "[Keyboard]KPrepublic bm80v2 Keyboard ISO support "
  keyboards/kprepublic/bm80v2_iso/bm80v2_iso.c
  keyboards/kprepublic/bm80v2_iso/bm80v2_iso.h
  keyboards/kprepublic/bm80v2_iso/config.h
  keyboards/kprepublic/bm80v2_iso/info.json
  keyboards/kprepublic/bm80v2_iso/keymaps/default/keymap.c
  keyboards/kprepublic/bm80v2_iso/keymaps/via/keymap.c
  keyboards/kprepublic/bm80v2_iso/keymaps/via/rules.mk
  keyboards/kprepublic/bm80v2_iso/readme.md
  keyboards/kprepublic/bm80v2_iso/rules.mk
Labels: keyboard, keymap, via

#17526 Correct QMK Configurator layout data for Kin80
  keyboards/kin80/info.json
Labels: enhancement, keyboard

#17542 Mikeneko 65 QMK Configurator touch-up and Community Layout Support
  keyboards/mikeneko65/info.json
  keyboards/mikeneko65/keymaps/default/keymap.c
  keyboards/mikeneko65/keymaps/via/keymap.c
  keyboards/mikeneko65/mikeneko65.h
  keyboards/mikeneko65/rules.mk
Labels: enhancement, keyboard, keymap, via

#17471 Add nt-650
  keyboards/evyd13/nt650/config.h
  keyboards/evyd13/nt650/info.json
  keyboards/evyd13/nt650/keymaps/default/keymap.c
  keyboards/evyd13/nt650/keymaps/via/config.h
  keyboards/evyd13/nt650/keymaps/via/keymap.c
  keyboards/evyd13/nt650/keymaps/via/rules.mk
  keyboards/evyd13/nt650/readme.md
  keyboards/evyd13/nt650/rules.mk
Labels: keyboard, keymap, via

#17530 Update info.json
  keyboards/reviung/reviung41/info.json
Labels: keyboard

#17524 [Userspace] Add Nasu to userspace code
  users/stanrc85/config.h
  users/stanrc85/rules.mk
Labels: keymap

#17527 Add Gentoo Solderable PCB to QMK
  keyboards/cannonkeys/gentoo/config.h
  keyboards/cannonkeys/gentoo/gentoo.c
  keyboards/cannonkeys/gentoo/gentoo.h
  keyboards/cannonkeys/gentoo/info.json
  keyboards/cannonkeys/gentoo/keymaps/default/keymap.c
  keyboards/cannonkeys/gentoo/keymaps/via/keymap.c
  keyboards/cannonkeys/gentoo/keymaps/via/rules.mk
  keyboards/cannonkeys/gentoo/readme.md
  keyboards/cannonkeys/gentoo/rules.mk
Labels: keyboard, keymap, via

#17528 Add Gentoo Hotswap PCB to QMK
  keyboards/cannonkeys/gentoo_hs/config.h
  keyboards/cannonkeys/gentoo_hs/gentoo_hs.c
  keyboards/cannonkeys/gentoo_hs/gentoo_hs.h
  keyboards/cannonkeys/gentoo_hs/info.json
  keyboards/cannonkeys/gentoo_hs/keymaps/default/keymap.c
  keyboards/cannonkeys/gentoo_hs/keymaps/via/keymap.c
  keyboards/cannonkeys/gentoo_hs/keymaps/via/rules.mk
  keyboards/cannonkeys/gentoo_hs/readme.md
  keyboards/cannonkeys/gentoo_hs/rules.mk
Labels: keyboard, keymap, via

#17489 Update readme.md
  keyboards/kinesis/keymaps/carpalx/readme.md
Labels: keymap

#17486 Update NK1 RGB animation defines
  keyboards/novelkeys/nk1/config.h
Labels: keyboard

#17453 Added PLOOPY_DRAGSCROLL_H_INVERT
  keyboards/ploopyco/trackball/trackball.c
Labels: keyboard

#17333 Pca9505/6 driver
  drivers/gpio/pca9505.c
  drivers/gpio/pca9505.h
Labels: core

#17027 Add alicekk support
  keyboards/mwstudio/alicekk/alicekk.c
  keyboards/mwstudio/alicekk/alicekk.h
  keyboards/mwstudio/alicekk/chconf.h
  keyboards/mwstudio/alicekk/config.h
  keyboards/mwstudio/alicekk/keymaps/default/keymap.c
  keyboards/mwstudio/alicekk/keymaps/via/keymap.c
  keyboards/mwstudio/alicekk/keymaps/via/rules.mk
  keyboards/mwstudio/alicekk/mcuconf.h
  keyboards/mwstudio/alicekk/readme.md
  keyboards/mwstudio/alicekk/rules.mk
Labels: keyboard, keymap, via

#17030 add bounce keyboard
  keyboards/kbdfans/bounce/75/hotswap/config.h
  keyboards/kbdfans/bounce/75/hotswap/hotswap.c
  keyboards/kbdfans/bounce/75/hotswap/hotswap.h
  keyboards/kbdfans/bounce/75/hotswap/info.json
  keyboards/kbdfans/bounce/75/hotswap/keymaps/default/keymap.c
  keyboards/kbdfans/bounce/75/hotswap/keymaps/via/keymap.c
  keyboards/kbdfans/bounce/75/hotswap/keymaps/via/rules.mk
  keyboards/kbdfans/bounce/75/hotswap/readme.md
  keyboards/kbdfans/bounce/75/hotswap/rules.mk
  keyboards/kbdfans/bounce/75/soldered/config.h
  keyboards/kbdfans/bounce/75/soldered/info.json
  keyboards/kbdfans/bounce/75/soldered/keymaps/default/keymap.c
  keyboards/kbdfans/bounce/75/soldered/keymaps/via/keymap.c
  keyboards/kbdfans/bounce/75/soldered/keymaps/via/rules.mk
  keyboards/kbdfans/bounce/75/soldered/readme.md
  keyboards/kbdfans/bounce/75/soldered/rules.mk
  keyboards/kbdfans/bounce/75/soldered/soldered.c
  keyboards/kbdfans/bounce/75/soldered/soldered.h
  keyboards/kbdfans/bounce/pad/config.h
  keyboards/kbdfans/bounce/pad/info.json
  keyboards/kbdfans/bounce/pad/keymaps/default/keymap.c
  keyboards/kbdfans/bounce/pad/keymaps/via/keymap.c
  keyboards/kbdfans/bounce/pad/keymaps/via/rules.mk
  keyboards/kbdfans/bounce/pad/pad.c
  keyboards/kbdfans/bounce/pad/pad.h
  keyboards/kbdfans/bounce/pad/readme.md
  keyboards/kbdfans/bounce/pad/rules.mk
Labels: keyboard, keymap, via

#17545 Fixup doio/kb16
  keyboards/doio/kb16/keymaps/default/keymap.c
Labels: keymap

#17035 Add keyboard 'UM-80'
  keyboards/merge/um80/config.h
  keyboards/merge/um80/info.json
  keyboards/merge/um80/keymaps/default/keymap.c
  keyboards/merge/um80/keymaps/default/readme.md
  keyboards/merge/um80/keymaps/default/rules.mk
  keyboards/merge/um80/keymaps/via/config.h
  keyboards/merge/um80/keymaps/via/keymap.c
  keyboards/merge/um80/keymaps/via/rules.mk
  keyboards/merge/um80/readme.md
  keyboards/merge/um80/rules.mk
  keyboards/merge/um80/um80.c
  keyboards/merge/um80/um80.h
Labels: keyboard, keymap, via

#17543 [Keymap] Updates to drashna Keymaps and Userspace
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/config.h
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/halconf.h
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/keymap.c
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/mcuconf.h
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  users/drashna/callbacks.c
  users/drashna/callbacks.h
  users/drashna/config.h
  users/drashna/keyrecords/autocorrection/autocorrection.c
  users/drashna/keyrecords/process_records.c
  users/drashna/keyrecords/process_records.h
  users/drashna/keyrecords/tap_dances.c
  users/drashna/keyrecords/tap_dances.h
  users/drashna/keyrecords/tapping.c
  users/drashna/keyrecords/unicode.c
  users/drashna/keyrecords/unicode.h
  users/drashna/oled/oled_stuff.c
  users/drashna/oled/oled_stuff.h
  users/drashna/oled/sh110x.c
  users/drashna/rgb/rgb_matrix_stuff.c
  users/drashna/rgb/rgb_stuff.c
  users/drashna/rules.mk
  users/drashna/split/transport_sync.c
  users/drashna/split/transport_sync.h
Labels: keymap

#17548 Fixup bounce/75
  keyboards/kbdfans/bounce/75/hotswap/hotswap.h
  keyboards/kbdfans/bounce/75/soldered/soldered.h
Labels: keyboard

#17551 Remove dead space from Pierce QMK Configurator layout data
  keyboards/pierce/info.json
Labels: enhancement, keyboard

#17480 Add support for MacroCat Keyboard
  keyboards/macrocat/config.h
  keyboards/macrocat/info.json
  keyboards/macrocat/keymaps/default/keymap.c
  keyboards/macrocat/keymaps/oled/keymap.c
  keyboards/macrocat/keymaps/oled/rules.mk
  keyboards/macrocat/keymaps/via/keymap.c
  keyboards/macrocat/keymaps/via/rules.mk
  keyboards/macrocat/macrocat.c
  keyboards/macrocat/readme.md
  keyboards/macrocat/rules.mk
Labels: keyboard, keymap, via

#17547 [Userspace] Add support for additional Mechlovin Adelais PCB version to my userspace
  users/stanrc85/config.h
  users/stanrc85/rules.mk
Labels: keymap

#17541 KP Republic BM60HSRGB_EC QMK Configurator and readme touch-up
  keyboards/kprepublic/bm60hsrgb_ec/rev1/info.json
  keyboards/kprepublic/bm60hsrgb_ec/rev1/readme.md
  keyboards/kprepublic/bm60hsrgb_ec/rev2/info.json
  keyboards/kprepublic/bm60hsrgb_ec/rev2/readme.md
Labels: enhancement, keyboard

#17556 Attempt to discourage manual MSYS install for new users
  docs/newbs_getting_started.md
Labels: documentation

#17563 TKL Community Layout Additions
  layouts/default/readme.md
  layouts/default/tkl_ansi/readme.md
  layouts/default/tkl_ansi_split_bs_rshift/default_tkl_ansi_split_bs_rshift/keymap.c
  layouts/default/tkl_ansi_split_bs_rshift/info.json
  layouts/default/tkl_ansi_split_bs_rshift/layout.json
  layouts/default/tkl_ansi_split_bs_rshift/readme.md
  layouts/default/tkl_ansi_tsangan/default_tkl_ansi_tsangan/keymap.c
  layouts/default/tkl_ansi_tsangan/info.json
  layouts/default/tkl_ansi_tsangan/layout.json
  layouts/default/tkl_ansi_tsangan/readme.md
  layouts/default/tkl_ansi_tsangan_split_bs_rshift/default_tkl_ansi_tsangan_split_bs_rshift/keymap.c
  layouts/default/tkl_ansi_tsangan_split_bs_rshift/info.json
  layouts/default/tkl_ansi_tsangan_split_bs_rshift/layout.json
  layouts/default/tkl_ansi_tsangan_split_bs_rshift/readme.md
  layouts/default/tkl_iso/readme.md
  layouts/default/tkl_iso_split_bs_rshift/default_tkl_iso_split_bs_rshift/keymap.c
  layouts/default/tkl_iso_split_bs_rshift/info.json
  layouts/default/tkl_iso_split_bs_rshift/layout.json
  layouts/default/tkl_iso_split_bs_rshift/readme.md
  layouts/default/tkl_iso_tsangan/default_tkl_iso_tsangan/keymap.c
  layouts/default/tkl_iso_tsangan/info.json
  layouts/default/tkl_iso_tsangan/layout.json
  layouts/default/tkl_iso_tsangan/readme.md
  layouts/default/tkl_iso_tsangan_split_bs_rshift/default_tkl_iso_tsangan_split_bs_rshift/keymap.c
  layouts/default/tkl_iso_tsangan_split_bs_rshift/info.json
  layouts/default/tkl_iso_tsangan_split_bs_rshift/layout.json
  layouts/default/tkl_iso_tsangan_split_bs_rshift/readme.md
Labels: enhancement, keymap

#17559 Allow for `keymaps` array to be implemented in a file other than `$(KEYMAP_C)`
  builddefs/build_keyboard.mk
  quantum/keymap_introspection.c
  users/manna-harbour_miryoku/post_rules.mk
  users/manna-harbour_miryoku/rules.mk
Labels: bug, core, keymap

#17534 Fixup SPI init procedure, SPI EEPROM sequencing
  drivers/eeprom/eeprom_spi.c
  platforms/chibios/drivers/spi_master.c
Labels: bug, core

#17561 Fix/waka60 audio
  keyboards/mechwild/waka60/f401/config.h
  keyboards/mechwild/waka60/f401/halconf.h
  keyboards/mechwild/waka60/f401/mcuconf.h
  keyboards/mechwild/waka60/f411/config.h
  keyboards/mechwild/waka60/f411/halconf.h
  keyboards/mechwild/waka60/f411/mcuconf.h
Labels: keyboard

#17578 Update PM2040 I2C pins
  platforms/chibios/boards/QMK_PM2040/configs/config.h
Labels: core

#17554 [Core] Make debounce algorithms signal matrix changes
  docs/custom_matrix.md
  docs/ja/custom_matrix.md
  quantum/debounce.h
  quantum/debounce/asym_eager_defer_pk.c
  quantum/debounce/none.c
  quantum/debounce/sym_defer_g.c
  quantum/debounce/sym_defer_pk.c
  quantum/debounce/sym_defer_pr.c
  quantum/debounce/sym_eager_pk.c
  quantum/debounce/sym_eager_pr.c
  quantum/debounce/tests/debounce_test_common.cpp
  quantum/matrix.c
  quantum/matrix_common.c
Labels: core, documentation, translation

#17584 [Fix] printf update aftermath
  keyboards/cannonkeys/satisfaction75/satisfaction_oled.c
  keyboards/handwired/tractyl_manuform/tractyl_manuform.c
  keyboards/rocketboard_16/keymaps/default/keymap.c
  keyboards/rocketboard_16/keymaps/via/keymap.c
  keyboards/tzarc/djinn/graphics/theme_djinn_default.c
  quantum/command.c
  quantum/logging/print.h
Labels: core, keyboard, keymap, via

#15890 Clean up dactyl manuform unused files
  keyboards/handwired/dactyl_manuform/3x5_3/3x5_3.h
  keyboards/handwired/dactyl_manuform/4x5/4x5.h
  keyboards/handwired/dactyl_manuform/4x5/keymaps/dvorak/config.h
  keyboards/handwired/dactyl_manuform/4x5/keymaps/dvorak/keymap.c
  keyboards/handwired/dactyl_manuform/4x6/4x6.h
  keyboards/handwired/dactyl_manuform/4x6_5/4x6_5.h
  keyboards/handwired/dactyl_manuform/5x6/5x6.h
  keyboards/handwired/dactyl_manuform/5x6_2_5/5x6_2_5.h
  keyboards/handwired/dactyl_manuform/5x6_5/5x6_5.h
  keyboards/handwired/dactyl_manuform/5x7/5x7.h
  keyboards/handwired/dactyl_manuform/6x6/6x6.h
  keyboards/handwired/dactyl_manuform/6x6_4/6x6_4.h
  keyboards/handwired/dactyl_manuform/6x6_kinesis/6x6_kinesis.h
  keyboards/handwired/dactyl_manuform/6x7/6x7.h
  keyboards/handwired/dactyl_manuform/dactyl_manuform.c
  keyboards/handwired/dactyl_manuform/dactyl_manuform.h
  keyboards/handwired/dactyl_manuform/dmote/62key/62key.h
Labels: keyboard, keymap

#17601 Fix rgbkb/sol/rev2 build issues
  lib/python/qmk/c_parse.py
  lib/python/qmk/cli/generate/config_h.py
Labels: bug, python, cli

#17593 Add converter docs
  docs/_summary.md
  docs/feature_converters.md
  docs/platformdev_proton_c.md
  docs/proton_c_conversion.md
Labels: documentation

#17590 Allow only col or row pins for *_right extraction.
  lib/python/qmk/info.py
Labels: bug, python, cli

#17512 Add Adafruit Macropad RP2040
  keyboards/adafruit/macropad/config.h
  keyboards/adafruit/macropad/halconf.h
  keyboards/adafruit/macropad/info.json
  keyboards/adafruit/macropad/keymaps/default/keymap.c
  keyboards/adafruit/macropad/lib/oled_driver_spi.h
  keyboards/adafruit/macropad/lib/ssd1306_sh1106.c
  keyboards/adafruit/macropad/macropad.c
  keyboards/adafruit/macropad/macropad.h
  keyboards/adafruit/macropad/mcuconf.h
  keyboards/adafruit/macropad/readme.md
  keyboards/adafruit/macropad/rules.mk
Labels: keyboard, keymap

#17606 Add line to multibuild output log showing the actual build target.
  lib/python/qmk/cli/multibuild.py
Labels: python, cli

#17608 merge/um80 - Fix WPM issues in configurator builds
  keyboards/merge/um80/um80.c
Labels: bug, keyboard

#17616 Fix infinite recursion in checkerboards/quark_plus
  keyboards/checkerboards/quark_plus/quark_plus.c
Labels: bug, keyboard

#17615 More DD encoder fixes
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/info.py
Labels: bug, python, cli

#17612 [Core] Stabilize Half-duplex RP2040 PIO split comms
  platforms/chibios/drivers/vendor/RP/RP2040/serial_vendor.c
Labels: core

#17525 Add new keyboard Promise87
  keyboards/wuque/promise87/ansi/ansi.c
  keyboards/wuque/promise87/ansi/ansi.h
  keyboards/wuque/promise87/ansi/config.h
  keyboards/wuque/promise87/ansi/info.json
  keyboards/wuque/promise87/ansi/keymaps/87_ansi/keymap.c
  keyboards/wuque/promise87/ansi/keymaps/87_ansi/readme.md
  keyboards/wuque/promise87/ansi/keymaps/87_ansi_split_bs/keymap.c
  keyboards/wuque/promise87/ansi/keymaps/87_ansi_split_bs/readme.md
  keyboards/wuque/promise87/ansi/keymaps/87_ansi_split_lshift/keymap.c
  keyboards/wuque/promise87/ansi/keymaps/87_ansi_split_lshift/readme.md
  keyboards/wuque/promise87/ansi/keymaps/87_ansi_split_rshift/keymap.c
  keyboards/wuque/promise87/ansi/keymaps/87_ansi_split_rshift/readme.md
  keyboards/wuque/promise87/ansi/keymaps/default/keymap.c
  keyboards/wuque/promise87/ansi/keymaps/default/readme.md
  keyboards/wuque/promise87/ansi/keymaps/via/keymap.c
  keyboards/wuque/promise87/ansi/keymaps/via/readme.md
  keyboards/wuque/promise87/ansi/keymaps/via/rules.mk
  keyboards/wuque/promise87/ansi/readme.md
  keyboards/wuque/promise87/ansi/rules.mk
  keyboards/wuque/promise87/wkl/config.h
  keyboards/wuque/promise87/wkl/info.json
  keyboards/wuque/promise87/wkl/keymaps/87_wkl/keymap.c
  keyboards/wuque/promise87/wkl/keymaps/87_wkl/readme.md
  keyboards/wuque/promise87/wkl/keymaps/87_wkl_split_bs/keymap.c
  keyboards/wuque/promise87/wkl/keymaps/87_wkl_split_bs/readme.md
  keyboards/wuque/promise87/wkl/keymaps/87_wkl_split_lshift/keymap.c
  keyboards/wuque/promise87/wkl/keymaps/87_wkl_split_lshift/readme.md
  keyboards/wuque/promise87/wkl/keymaps/87_wkl_split_rshift/keymap.c
  keyboards/wuque/promise87/wkl/keymaps/87_wkl_split_rshift/readme.md
  keyboards/wuque/promise87/wkl/keymaps/default/keymap.c
  keyboards/wuque/promise87/wkl/keymaps/default/readme.md
  keyboards/wuque/promise87/wkl/keymaps/via/keymap.c
  keyboards/wuque/promise87/wkl/keymaps/via/readme.md
  keyboards/wuque/promise87/wkl/keymaps/via/rules.mk
  keyboards/wuque/promise87/wkl/readme.md
  keyboards/wuque/promise87/wkl/rules.mk
  keyboards/wuque/promise87/wkl/wkl.c
  keyboards/wuque/promise87/wkl/wkl.h
Labels: keyboard, keymap, via

#17617 splitkb/kyria - Resolve CONVERT_TO_PROTON_C warnings
  keyboards/splitkb/kyria/rev1/proton_c/rules.mk
  keyboards/splitkb/kyria/rev2/proton_c/rules.mk
Labels: keyboard

#17426 Fine!40 PCB Support
  keyboards/aidansmithdotdev/fine40/config.h
  keyboards/aidansmithdotdev/fine40/fine40.c
  keyboards/aidansmithdotdev/fine40/fine40.h
  keyboards/aidansmithdotdev/fine40/info.json
  keyboards/aidansmithdotdev/fine40/keymaps/default/keymap.c
  keyboards/aidansmithdotdev/fine40/keymaps/via/keymap.c
  keyboards/aidansmithdotdev/fine40/keymaps/via/rules.mk
  keyboards/aidansmithdotdev/fine40/readme.md
  keyboards/aidansmithdotdev/fine40/rules.mk
Labels: keyboard, keymap, via

#17564 Peej Rosaline Refactor
  keyboards/peej/rosaline/keymaps/via/keymap.c
  keyboards/peej/rosaline/ortho/info.json
  keyboards/peej/rosaline/ortho/keymaps/default/keymap.c
  keyboards/peej/rosaline/ortho/keymaps/via/keymap.c
  keyboards/peej/rosaline/ortho/keymaps/via/rules.mk
  keyboards/peej/rosaline/ortho/ortho.h
  keyboards/peej/rosaline/ortho/rules.mk
  keyboards/peej/rosaline/readme.md
  keyboards/peej/rosaline/rosaline.h
  keyboards/peej/rosaline/rules.mk
  keyboards/peej/rosaline/staggered/info.json
  keyboards/peej/rosaline/staggered/keymaps/default/keymap.c
  keyboards/peej/rosaline/staggered/keymaps/via/keymap.c
  keyboards/peej/rosaline/staggered/keymaps/via/rules.mk
  keyboards/peej/rosaline/staggered/rules.mk
  keyboards/peej/rosaline/staggered/staggered.h
Labels: enhancement, keyboard, keymap, via

#17523 Fin pad
  keyboards/evyd13/fin_pad/config.h
  keyboards/evyd13/fin_pad/info.json
  keyboards/evyd13/fin_pad/keymaps/default/keymap.c
  keyboards/evyd13/fin_pad/keymaps/via/keymap.c
  keyboards/evyd13/fin_pad/keymaps/via/rules.mk
  keyboards/evyd13/fin_pad/readme.md
  keyboards/evyd13/fin_pad/rules.mk
Labels: keyboard, keymap, via

#17607 [Core] Use polled waiting on ChibiOS platforms that support it
  keyboards/handwired/onekey/elite_c/config.h
  keyboards/handwired/onekey/keymaps/chibios_waiting_test/config.h
  keyboards/handwired/onekey/keymaps/chibios_waiting_test/keymap.c
  keyboards/handwired/onekey/promicro/config.h
  keyboards/handwired/onekey/rp2040/config.h
  keyboards/handwired/onekey/teensy_2/config.h
  keyboards/handwired/onekey/teensy_2pp/config.h
  keyboards/planck/rev6_drop/matrix.c
  keyboards/preonic/rev3_drop/matrix.c
  platforms/chibios/_wait.h
  platforms/chibios/bootloaders/rp2040.c
  platforms/chibios/chibios_config.h
  platforms/chibios/drivers/serial.c
  platforms/chibios/drivers/vendor/RP/RP2040/serial_vendor.c
Labels: core, keyboard, keymap

#16838 [Keyboard] TR90
  keyboards/balloondogcaps/tr90/info.json
  keyboards/balloondogcaps/tr90/keymaps/default/keymap.c
  keyboards/balloondogcaps/tr90/keymaps/via/keymap.c
  keyboards/balloondogcaps/tr90/keymaps/via/rules.mk
  keyboards/balloondogcaps/tr90/readme.md
  keyboards/balloondogcaps/tr90/rules.mk
Labels: keyboard, keymap, via

#16810 Added Delay time to sending each Keys for VIA Macros function feature
  quantum/dynamic_keymap.c
Labels: core

#17567 Add Swordfish to QMK
  keyboards/fjlabs/swordfish/config.h
  keyboards/fjlabs/swordfish/info.json
  keyboards/fjlabs/swordfish/keymaps/default/keymap.c
  keyboards/fjlabs/swordfish/keymaps/via/keymap.c
  keyboards/fjlabs/swordfish/keymaps/via/rules.mk
  keyboards/fjlabs/swordfish/readme.md
  keyboards/fjlabs/swordfish/rules.mk
  keyboards/fjlabs/swordfish/swordfish.c
  keyboards/fjlabs/swordfish/swordfish.h
Labels: keyboard, keymap, via

#17633 Fix layout macro for nightly_boards/paraluman
  keyboards/nightly_boards/paraluman/paraluman.h
Labels: bug, keyboard

#16436 GMMK 2 WBG7 MCU compatibility
  keyboards/gmmk/gmmk2/p96/ansi/ansi.c
  keyboards/gmmk/gmmk2/p96/ansi/ansi.h
  keyboards/gmmk/gmmk2/p96/ansi/config.h
  keyboards/gmmk/gmmk2/p96/ansi/info.json
  keyboards/gmmk/gmmk2/p96/ansi/keymaps/default/keymap.c
  keyboards/gmmk/gmmk2/p96/ansi/keymaps/default/readme.md
  keyboards/gmmk/gmmk2/p96/ansi/keymaps/via/config.h
  keyboards/gmmk/gmmk2/p96/ansi/keymaps/via/keymap.c
  keyboards/gmmk/gmmk2/p96/ansi/keymaps/via/rules.mk
  keyboards/gmmk/gmmk2/p96/ansi/readme.md
  keyboards/gmmk/gmmk2/p96/ansi/rules.mk
  keyboards/gmmk/gmmk2/p96/config.h
  keyboards/gmmk/gmmk2/p96/halconf.h
  keyboards/gmmk/gmmk2/p96/iso/config.h
  keyboards/gmmk/gmmk2/p96/iso/info.json
  keyboards/gmmk/gmmk2/p96/iso/iso.c
  keyboards/gmmk/gmmk2/p96/iso/iso.h
  keyboards/gmmk/gmmk2/p96/iso/keymaps/default/keymap.c
  keyboards/gmmk/gmmk2/p96/iso/keymaps/default/readme.md
  keyboards/gmmk/gmmk2/p96/iso/keymaps/via/config.h
  keyboards/gmmk/gmmk2/p96/iso/keymaps/via/keymap.c
  keyboards/gmmk/gmmk2/p96/iso/keymaps/via/rules.mk
  keyboards/gmmk/gmmk2/p96/iso/readme.md
  keyboards/gmmk/gmmk2/p96/iso/rules.mk
  keyboards/gmmk/gmmk2/p96/mcuconf.h
  keyboards/gmmk/gmmk2/p96/p96.c
  keyboards/gmmk/gmmk2/p96/p96.h
Labels: keyboard, keymap, via

#17645 [Fix] Make ChibiOS `_wait.h` independent of `quantum.h`
  platforms/chibios/_wait.h
Labels: core

#17639 Include stdint.h in avr/i2c_master.h
  platforms/avr/drivers/i2c_master.h
Labels: core

#17577 Add basic secure docs
  docs/_summary.md
  docs/feature_secure.md
  docs/reference_info_json.md
Labels: documentation

#17634 [Docs] Add Encoder requirements to PR Checklist doc
  docs/pr_checklist.md
Labels: documentation

#17652 Grammar fixes for docs/feature_converters.md
  docs/feature_converters.md
Labels: documentation

#17570 Update layout for MechBrewery series
  keyboards/mechbrewery/mb65h/keymaps/default/keymap.c
  keyboards/mechbrewery/mb65h/keymaps/via/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/ansi_blocker/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/ansi_blocker_7u_spc/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/default/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/iso_blocker/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/iso_blocker_tsangan/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/via/keymap.c
Labels: keymap, via

#17571 Kprepublic bm80v2 iso revised
  keyboards/kprepublic/bm80v2_iso/bm80v2_iso.c
  keyboards/kprepublic/bm80v2_iso/bm80v2_iso.h
  keyboards/kprepublic/bm80v2_iso/config.h
  keyboards/kprepublic/bm80v2_iso/info.json
  keyboards/kprepublic/bm80v2_iso/keymaps/default/keymap.c
  keyboards/kprepublic/bm80v2_iso/keymaps/via/keymap.c
  keyboards/kprepublic/bm80v2_iso/keymaps/via/rules.mk
  keyboards/kprepublic/bm80v2_iso/readme.md
  keyboards/kprepublic/bm80v2_iso/rules.mk
Labels: keyboard, keymap, via

#17482 Cirque trackpad features: circular scroll, inertial cursor
  builddefs/common_features.mk
  docs/feature_pointing_device.md
  drivers/sensors/cirque_pinnacle.c
  drivers/sensors/cirque_pinnacle.h
  drivers/sensors/cirque_pinnacle_gestures.c
  drivers/sensors/cirque_pinnacle_gestures.h
  drivers/sensors/cirque_pinnacle_regdefs.h
  quantum/pointing_device.h
  quantum/pointing_device_drivers.c
  quantum/pointing_device_gestures.c
  quantum/pointing_device_gestures.h
Labels: core, documentation

#17461 Addition of Kallos keyboard
  keyboards/cipulot/kallos/config.h
  keyboards/cipulot/kallos/info.json
  keyboards/cipulot/kallos/kallos.c
  keyboards/cipulot/kallos/kallos.h
  keyboards/cipulot/kallos/keymaps/default/keymap.c
  keyboards/cipulot/kallos/keymaps/via/keymap.c
  keyboards/cipulot/kallos/keymaps/via/rules.mk
  keyboards/cipulot/kallos/readme.md
  keyboards/cipulot/kallos/rules.mk
Labels: keyboard, keymap, via

#17649 KBDfans KBD67 rev2 Layout Patch
  keyboards/kbdfans/kbd67/rev2/info.json
  keyboards/kbdfans/kbd67/rev2/keymaps/naphtaline/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/naphtaline/readme.md
  keyboards/kbdfans/kbd67/rev2/rev2.h
Labels: enhancement, keyboard, keymap

#17650 Allow MCU-specific overrides for SPI flags.
  platforms/chibios/chibios_config.h
  platforms/chibios/drivers/spi_master.c
Labels: core

#17632 boardsource/holiday/spooky data driven
  keyboards/boardsource/holiday/spooky/config.h
  keyboards/boardsource/holiday/spooky/info.json
  keyboards/boardsource/holiday/spooky/keymaps/default/keymap.c
  keyboards/boardsource/holiday/spooky/keymaps/rip_mx/keymap.c
  keyboards/boardsource/holiday/spooky/keymaps/rip_my_wallet/keymap.c
  keyboards/boardsource/holiday/spooky/rules.mk
  keyboards/boardsource/holiday/spooky/spooky.c
  keyboards/boardsource/holiday/spooky/spooky.h
Labels: keyboard, keymap

#17456 Added my keymap for the XD75
  keyboards/xiudi/xd75/keymaps/raoeus/keymap.c
  keyboards/xiudi/xd75/keymaps/raoeus/readme.md
  keyboards/xiudi/xd75/keymaps/raoeus/rules.mk
Labels: keymap

#17628 boardsource/3x4 data driven
  keyboards/boardsource/3x4/3x4.c
  keyboards/boardsource/3x4/3x4.h
  keyboards/boardsource/3x4/config.h
  keyboards/boardsource/3x4/info.json
  keyboards/boardsource/3x4/keymaps/default/keymap.c
  keyboards/boardsource/3x4/keymaps/via/keymap.c
  keyboards/boardsource/3x4/keymaps/via/readme.md
  keyboards/boardsource/3x4/rules.mk
Labels: keyboard, keymap, via

#17305 Added Runes Skjoldr
  keyboards/runes/skjoldr/config.h
  keyboards/runes/skjoldr/info.json
  keyboards/runes/skjoldr/keymaps/default/keymap.c
  keyboards/runes/skjoldr/keymaps/default/readme.md
  keyboards/runes/skjoldr/keymaps/via/keymap.c
  keyboards/runes/skjoldr/keymaps/via/rules.mk
  keyboards/runes/skjoldr/readme.md
  keyboards/runes/skjoldr/rules.mk
  keyboards/runes/skjoldr/skjoldr.c
  keyboards/runes/skjoldr/skjoldr.h
Labels: keyboard, keymap, via

#17651 Update LED/RGB Matrix flag function behavior
  quantum/led_matrix/led_matrix.c
  quantum/led_matrix/led_matrix.h
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix.h
Labels: core

#17631 boardsource/beiwagon data driven
  keyboards/boardsource/beiwagon/beiwagon.c
  keyboards/boardsource/beiwagon/beiwagon.h
  keyboards/boardsource/beiwagon/config.h
  keyboards/boardsource/beiwagon/info.json
  keyboards/boardsource/beiwagon/keymaps/default/keymap.c
  keyboards/boardsource/beiwagon/keymaps/default/readme.md
  keyboards/boardsource/beiwagon/keymaps/via/keymap.c
  keyboards/boardsource/beiwagon/keymaps/via/readme.md
  keyboards/boardsource/beiwagon/rules.mk
Labels: keyboard, keymap, via

#17636 boardsource/technik_s data driven
  keyboards/boardsource/technik_s/config.h
  keyboards/boardsource/technik_s/info.json
  keyboards/boardsource/technik_s/keymaps/default/keymap.c
  keyboards/boardsource/technik_s/keymaps/default/readme.md
  keyboards/boardsource/technik_s/keymaps/via/keymap.c
  keyboards/boardsource/technik_s/keymaps/via/readme.md
  keyboards/boardsource/technik_s/rules.mk
  keyboards/boardsource/technik_s/technik_s.c
  keyboards/boardsource/technik_s/technik_s.h
Labels: keyboard, keymap, via

#17637 boardsource/the_mark data driven
  keyboards/boardsource/the_mark/config.h
  keyboards/boardsource/the_mark/info.json
  keyboards/boardsource/the_mark/keymaps/default/keymap.c
  keyboards/boardsource/the_mark/keymaps/default_ansi/keymap.c
  keyboards/boardsource/the_mark/keymaps/default_ansi_split_bs_space/keymap.c
  keyboards/boardsource/the_mark/keymaps/default_iso/keymap.c
  keyboards/boardsource/the_mark/keymaps/default_iso_split_bs_space/keymap.c
  keyboards/boardsource/the_mark/keymaps/via/keymap.c
  keyboards/boardsource/the_mark/keymaps/via/readme.md
  keyboards/boardsource/the_mark/rules.mk
  keyboards/boardsource/the_mark/the_mark.c
  keyboards/boardsource/the_mark/the_mark.h
Labels: keyboard, keymap, via

#17638 boardsource/lulu data driven
  keyboards/boardsource/lulu/config.h
  keyboards/boardsource/lulu/info.json
  keyboards/boardsource/lulu/keymaps/default/keymap.c
  keyboards/boardsource/lulu/keymaps/via/keymap.c
  keyboards/boardsource/lulu/lulu.c
  keyboards/boardsource/lulu/lulu.h
  keyboards/boardsource/lulu/rules.mk
Labels: keyboard, keymap, via

#17653 ID75 v2: update info.json
  keyboards/idobao/id75/v2/info.json
Labels: keyboard

#17629 boardsource/4x12 data driven
  keyboards/boardsource/4x12/4x12.c
  keyboards/boardsource/4x12/4x12.h
  keyboards/boardsource/4x12/config.h
  keyboards/boardsource/4x12/info.json
  keyboards/boardsource/4x12/keymaps/default/keymap.c
  keyboards/boardsource/4x12/keymaps/via/keymap.c
  keyboards/boardsource/4x12/keymaps/via/readme.md
  keyboards/boardsource/4x12/rules.mk
Labels: keyboard, keymap, via

#17630 boardsource/5x12 data driven
  keyboards/boardsource/5x12/5x12.c
  keyboards/boardsource/5x12/5x12.h
  keyboards/boardsource/5x12/config.h
  keyboards/boardsource/5x12/info.json
  keyboards/boardsource/5x12/keymaps/default/keymap.c
  keyboards/boardsource/5x12/keymaps/via/keymap.c
  keyboards/boardsource/5x12/keymaps/via/readme.md
  keyboards/boardsource/5x12/rules.mk
Labels: keyboard, keymap, via

#17635 boardsource/technik_o data driven
  keyboards/boardsource/technik_o/config.h
  keyboards/boardsource/technik_o/info.json
  keyboards/boardsource/technik_o/keymaps/default/keymap.c
  keyboards/boardsource/technik_o/keymaps/default/readme.md
  keyboards/boardsource/technik_o/keymaps/via/keymap.c
  keyboards/boardsource/technik_o/keymaps/via/readme.md
  keyboards/boardsource/technik_o/rules.mk
  keyboards/boardsource/technik_o/technik_o.c
  keyboards/boardsource/technik_o/technik_o.h
Labels: keyboard, keymap, via

#17656 Fix compilation issue with Cirque Guestures file
  drivers/sensors/cirque_pinnacle_gestures.c
Labels: bug, core

#17657 Kprepublic bm80v2 iso issue resolved
  keyboards/kprepublic/bm80v2_iso/config.h
Labels: bug, keyboard

#17659 [Keyboard] Fix compilation issue for runes/skoldjr
  keyboards/runes/skjoldr/skjoldr.h
Labels: keyboard

#17661 Post-bootloader EFL/SPI fixes.
  platforms/chibios/drivers/spi_master.c
  platforms/chibios/drivers/wear_leveling/wear_leveling_efl.c
Labels: bug, core

#17666 Swift65 Hotswap: correct key sizes
  keyboards/alfredslab/swift65/hotswap/info.json
Labels: enhancement, keyboard

#17668 Gentoo & Gentoo Hotswap: correct Configurator key sequence errors
  keyboards/cannonkeys/gentoo/info.json
  keyboards/cannonkeys/gentoo_hs/info.json
Labels: enhancement, keyboard

#17672 Ducky One 2 SF touch-up
  keyboards/ducky/one2sf/1967st/info.json
  keyboards/ducky/one2sf/1967st/readme.md
  keyboards/ducky/one2sf/readme.md
Labels: enhancement, keyboard

#16805 Modelm101 teensy2
  keyboards/converter/modelm101_teensy2/config.h
  keyboards/converter/modelm101_teensy2/info.json
  keyboards/converter/modelm101_teensy2/keymaps/default/keymap.c
  keyboards/converter/modelm101_teensy2/keymaps/default/readme.md
  keyboards/converter/modelm101_teensy2/modelm101_teensy2.c
  keyboards/converter/modelm101_teensy2/modelm101_teensy2.h
  keyboards/converter/modelm101_teensy2/readme.md
  keyboards/converter/modelm101_teensy2/rules.mk
Labels: keyboard, keymap

#17163 [Keyboard] New Keyboard - BB Steno
  keyboards/mechwild/bbs/bbs.c
  keyboards/mechwild/bbs/bbs.h
  keyboards/mechwild/bbs/config.h
  keyboards/mechwild/bbs/info.json
  keyboards/mechwild/bbs/keymaps/default/keymap.c
  keyboards/mechwild/bbs/readme.md
  keyboards/mechwild/bbs/rules.mk
Labels: keyboard, keymap

#17660 KPrepublic bm80v2 ISO Refactor
  keyboards/kprepublic/bm80v2_iso/bm80v2_iso.c
  keyboards/kprepublic/bm80v2_iso/bm80v2_iso.h
  keyboards/kprepublic/bm80v2_iso/config.h
  keyboards/kprepublic/bm80v2_iso/info.json
  keyboards/kprepublic/bm80v2_iso/keymaps/default/keymap.c
  keyboards/kprepublic/bm80v2_iso/keymaps/via/keymap.c
  keyboards/kprepublic/bm80v2_iso/readme.md
  keyboards/kprepublic/bm80v2_iso/rules.mk
Labels: enhancement, keyboard, keymap, via

#17674 [Keyboard] Readme file correction
  keyboards/mode/m75h/readme.md
Labels: keyboard

#17228 [Code] Add solid reactive gradient mode
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix/animations/solid_reactive_anim.h
  quantum/rgb_matrix/animations/solid_reactive_cross.h
  quantum/rgb_matrix/animations/solid_reactive_nexus.h
  quantum/rgb_matrix/animations/solid_reactive_simple_anim.h
  quantum/rgb_matrix/animations/solid_reactive_wide.h
Labels: core, documentation
