Repository qmk/qmk_firmware, pull requests merged in 2022-11, with the labels that each got.

#18921 compiler.txt: ensure file exists before comparison
  builddefs/common_rules.mk
Labels: bug

#18886 Simplify Keymap Config EEPROM
  quantum/eeconfig.c
  quantum/eeconfig.h
Labels: core, breaking_change_2022q4

#18289 Added analog support for WB32 MCU.
  keyboards/handwired/onekey/evb_wb32f3g71/config.h
  keyboards/handwired/onekey/evb_wb32f3g71/halconf.h
  keyboards/handwired/onekey/evb_wb32f3g71/info.json
  keyboards/handwired/onekey/evb_wb32f3g71/mcuconf.h
  keyboards/handwired/onekey/evb_wb32f3g71/rules.mk
  keyboards/handwired/onekey/evb_wb32fq95/config.h
  keyboards/handwired/onekey/evb_wb32fq95/halconf.h
  keyboards/handwired/onekey/evb_wb32fq95/info.json
  keyboards/handwired/onekey/evb_wb32fq95/mcuconf.h
  keyboards/handwired/onekey/evb_wb32fq95/rules.mk
  platforms/chibios/drivers/analog.c
Labels: core, keyboard

#18926 [XAP] prevent OOB reads in config blob handler
  quantum/xap/xap.c
  quantum/xap/xap_handlers.c
Labels: bug, core

#18933 Fix syntax error introduced in #18800
  users/spidey3/spidey3.c
Labels: keymap

#18680 [Keyboard] Add hotdox76v2 support
  keyboards/hotdox76v2/config.h
  keyboards/hotdox76v2/hotdox76v2.c
  keyboards/hotdox76v2/hotdox76v2.h
  keyboards/hotdox76v2/info.json
  keyboards/hotdox76v2/keymaps/default/keymap.c
  keyboards/hotdox76v2/keymaps/via/keymap.c
  keyboards/hotdox76v2/keymaps/via/rules.mk
  keyboards/hotdox76v2/oled_font_lib/ext_font.h
  keyboards/hotdox76v2/oled_font_lib/logo2.h
  keyboards/hotdox76v2/readme.md
  keyboards/hotdox76v2/rules.mk
Labels: keyboard, keymap, via

#18940 Remove more `UNUSED_PINS` defines
  keyboards/adpenrose/shisaku/config.h
  keyboards/cannonkeys/nearfield/config.h
  keyboards/dumbpad/v1x_oled/config.h
  keyboards/ferris/0_1/config.h
  keyboards/ferris/0_2/config.h
  keyboards/fjlabs/avalon/config.h
  keyboards/fjlabs/peaker/config.h
  keyboards/fjlabs/sinanjuwk/config.h
  keyboards/ingrained/config.h
  keyboards/jkeys_design/gentleman65_se_s/config.h
  keyboards/kegen/gboy/config.h
  keyboards/keygem/kg60ansi/config.h
  keyboards/keygem/kg65rgbv2/config.h
  keyboards/keyten/aperture/config.h
  keyboards/kopibeng/mnk65/config.h
  keyboards/linworks/fave104/config.h
  keyboards/mechlovin/foundation/config.h
  keyboards/mechwild/puckbuddy/config.h
  keyboards/mokey/ibis80/config.h
  keyboards/ploopyco/trackball_thumb/rev1_001/config.h
  keyboards/ploopyco/trackball_thumb/trackball_thumb.c
  keyboards/plywrks/lune/config.h
  keyboards/xelus/valor_frl_tkl/rev2_0/config.h
  keyboards/xelus/valor_frl_tkl/rev2_1/config.h
Labels: enhancement, keyboard

#18942 Resolve info.json/rules.mk feature conflicts in three boards
  keyboards/0_sixty/info.json
  keyboards/0_sixty/rules.mk
  keyboards/handwired/reclined/info.json
  keyboards/handwired/reclined/rules.mk
  keyboards/makenova/omega/omega4/info.json
  keyboards/makenova/omega/omega4/rules.mk
Labels: bug, enhancement, keyboard

#18946 Reduce includes for sequencer header
  quantum/sequencer/sequencer.c
  quantum/sequencer/sequencer.h
Labels: optimization, core

#18947 Reduce includes for crc header
  quantum/crc.c
  quantum/crc.h
Labels: optimization, core

#18939 Normalise Dynamic Macro keycodes
  docs/feature_dynamic_macros.md
  docs/keycodes.md
  keyboards/biacco42/ergo42/keymaps/hdbx/keymap.c
  keyboards/checkerboards/quark/keymaps/ajp10304/keymap.c
  keyboards/dz60/keymaps/iso_de_root/keymap.c
  keyboards/dztech/dz65rgb/keymaps/drootz/keymap.c
  keyboards/dztech/dz65rgb/keymaps/yuannan/keymap.c
  keyboards/ergodox_ez/keymaps/bepo_tm_style/keymap.c
  keyboards/ergodox_ez/keymaps/bpruitt-goddard/keymap.c
  keyboards/ergodox_ez/keymaps/hacker_dvorak/hacker_dvorak.c
  keyboards/gh60/satan/keymaps/addcninblue/keymap.c
  keyboards/gon/nerdtkl/keymaps/gam3cat/keymap.c
  keyboards/handwired/atreus50/keymaps/ajp10304/keymap.c
  keyboards/hhkb/ansi/keymaps/cinaeco/keymap.c
  keyboards/hhkb/ansi/keymaps/mjt/keymap.c
  keyboards/hhkb/ansi/keymaps/shela/keymap.c
  keyboards/hineybush/h87a/keymaps/gam3cat/keymap.c
  keyboards/jc65/v32u4/keymaps/gam3cat/keymap.c
  keyboards/jd45/keymaps/mjt6u/keymap.c
  keyboards/kbdfans/kbd75/keymaps/tucznak/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/tucznak/keymap.c
  keyboards/keebio/levinson/keymaps/jyh2/keymap.c
  keyboards/m10a/keymaps/gam3cat/keymap.c
  keyboards/mt/split75/keymaps/art/keymap.c
  keyboards/planck/keymaps/dr_notsokind/keymap.c
  keyboards/planck/keymaps/mjt/keymap.c
  keyboards/planck/keymaps/mjtnumsym/keymap.c
  keyboards/planck/keymaps/vifon/keymap.c
  keyboards/preonic/keymaps/era1112/keymap.c
  keyboards/preonic/keymaps/laurentlaurent/keymap.c
  keyboards/thevankeyboards/roadkit/keymaps/flipphone/keymap.c
  keyboards/thevankeyboards/roadkit/keymaps/mjt/keymap.c
  keyboards/xiudi/xd75/keymaps/colinta/keymap.c
  keyboards/xiudi/xd75/keymaps/colinta/readme.md
  keyboards/xiudi/xd75/keymaps/dyn_macro_tap_dance/keymap.c
  keyboards/ymdk/melody96/keymaps/crilith/keymap.c
  layouts/community/ergodox/colemak_code_friendly/keymap.c
  layouts/community/ergodox/qwerty_code_friendly/keymap.c
  layouts/community/ortho_4x12/ajp10304/keymap.c
  quantum/dynamic_macro.h
  quantum/process_keycode/process_dynamic_macro.c
  quantum/quantum_keycodes.h
  quantum/quantum_keycodes_legacy.h
  users/klackygears/tap_dances.c
Labels: enhancement, core, keymap, documentation

#18948 Reduce includes for caps_word header
  quantum/caps_word.c
  quantum/caps_word.h
Labels: optimization, core

#18949 Reduce includes for wpm header
  quantum/wpm.c
  quantum/wpm.h
Labels: optimization, core

#18944 Fix DD warnings for RGBKB boards
  keyboards/rgbkb/mun/config.h
  keyboards/rgbkb/sol/config.h
  keyboards/rgbkb/sol3/config.h
Labels: bug, enhancement, keyboard

#18951 Reduce includes for dip_switch header
  quantum/dip_switch.c
  quantum/dip_switch.h
Labels: optimization, core

#18874 Formalise keyboard- and user-specific EEPROM blocks
  quantum/dynamic_keymap.c
  quantum/eeconfig.c
  quantum/eeconfig.h
Labels: core, breaking_change_2022q4

#18954 Fix "no matrix definition" errors for some boards
  keyboards/acheron/arctic/arctic.h
  keyboards/acheron/arctic/info.json
  keyboards/bpiphany/pegasushoof/2013/info.json
  keyboards/bpiphany/pegasushoof/2015/info.json
  keyboards/bpiphany/pegasushoof/info.json
  keyboards/ergodox_stm32/info.json
  keyboards/eyeohdesigns/babyv/info.json
  keyboards/geekboards/macropad_v2/info.json
  keyboards/handwired/fruity60/info.json
  keyboards/handwired/swiftrax/bebol/info.json
  keyboards/sneakbox/disarray/ortho/info.json
  keyboards/spaceholdings/nebula12/info.json
  keyboards/spaceholdings/nebula12/keymaps/default/keymap.c
  keyboards/spaceholdings/nebula12/keymaps/via/keymap.c
  keyboards/spaceholdings/nebula12/nebula12.h
Labels: bug, keyboard, keymap, via

#18956 Remove hardcoded VIA keycode range
  keyboards/cannonkeys/satisfaction75/satisfaction75.h
  keyboards/nullbitsco/nibble/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#18643 Initial DD keycode migration
  data/constants/keycodes/keycodes_0.0.1.hjson
  data/constants/keycodes/keycodes_0.0.1_audio.hjson
  data/constants/keycodes/keycodes_0.0.1_basic.hjson
  data/constants/keycodes/keycodes_0.0.1_joystick.hjson
  data/constants/keycodes/keycodes_0.0.1_lighting.hjson
  data/constants/keycodes/keycodes_0.0.1_macro.hjson
  data/constants/keycodes/keycodes_0.0.1_magic.hjson
  data/constants/keycodes/keycodes_0.0.1_midi.hjson
  data/constants/keycodes/keycodes_0.0.1_programmable_button.hjson
  data/constants/keycodes/keycodes_0.0.1_quantum.hjson
  data/constants/keycodes/keycodes_0.0.1_sequencer.hjson
  data/constants/keycodes/keycodes_0.0.1_steno.hjson
  data/constants/keycodes/keycodes_0.0.1_swap_hands.hjson
  data/schemas/keycodes.jsonschema
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/generate/api.py
  lib/python/qmk/cli/generate/keycodes.py
  lib/python/qmk/keycodes.py
  quantum/action_code.h
  quantum/keycode.h
  quantum/keycodes.h
  quantum/keymap_common.c
  quantum/process_keycode/process_joystick.c
  quantum/process_keycode/process_magic.c
  quantum/process_keycode/process_programmable_button.c
  quantum/quantum_keycodes.h
  quantum/send_string/send_string_keycodes.h
  quantum/via.c
  quantum/via.h
  quantum/via_ensure_keycode.h
Labels: core, python, cli, breaking_change_2022q4

#18952 Reduce includes for send_string header
  quantum/send_string/send_string.c
Labels: enhancement, core

#18958 Macro keycode name refactoring
  data/constants/keycodes/keycodes_0.0.1_macro.hjson
  docs/ChangeLog/20211127.md
  docs/configurator_default_keymaps.md
  docs/feature_macros.md
  docs/zh-cn/configurator_default_keymaps.md
  keyboards/handwired/pytest/macro/keymaps/default/keymap.json
  keyboards/work_louder/work_board/keymaps/via/keymap.c
  lib/python/qmk/keymap.py
  lib/python/qmk/tests/test_cli_commands.py
  quantum/keycodes.h
Labels: core, keymap, documentation, python, cli, translation, via

#18959 Remove thermal printer.
  builddefs/common_features.mk
  builddefs/disable_features.mk
  builddefs/show_options.mk
  data/constants/keycodes/keycodes_0.0.1_quantum.hjson
  docs/_summary.md
  docs/feature_thermal_printer.md
  docs/keycodes.md
  docs/understanding_qmk.md
  keyboards/planck/keymaps/thermal_printer/config.h
  keyboards/planck/keymaps/thermal_printer/keymap.c
  keyboards/planck/keymaps/thermal_printer/readme.md
  keyboards/planck/keymaps/thermal_printer/rules.mk
  quantum/keycodes.h
  quantum/process_keycode/process_printer.c
  quantum/process_keycode/process_printer.h
  quantum/process_keycode/process_printer_bb.c
  quantum/quantum.c
  quantum/quantum.h
Labels: core, keymap, documentation

#18963 Align dynamic tapping term keycode names
  data/constants/keycodes/keycodes_0.0.1_quantum.hjson
  docs/keycodes.md
  docs/tap_hold.md
  quantum/keycodes.h
  quantum/process_keycode/process_dynamic_tapping_term.c
Labels: core, documentation

#18962 Align audio keycode names
  data/constants/keycodes/keycodes_0.0.1_audio.hjson
  docs/feature_audio.md
  docs/keycodes.md
  quantum/keycodes.h
  quantum/process_keycode/process_audio.c
  quantum/process_keycode/process_clicky.c
  quantum/process_keycode/process_music.c
  quantum/quantum_keycodes_legacy.h
Labels: core, documentation

#18912 [Keyboard] Add Work Louder Numpad
  keyboards/work_louder/numpad/config.h
  keyboards/work_louder/numpad/info.json
  keyboards/work_louder/numpad/keymaps/default/keymap.c
  keyboards/work_louder/numpad/keymaps/via/keymap.c
  keyboards/work_louder/numpad/keymaps/via/rules.mk
  keyboards/work_louder/numpad/readme.md
  keyboards/work_louder/numpad/rules.mk
Labels: keyboard, keymap, via

#18965 [Bug] Fix compilation issue with WPM
  quantum/wpm.c
Labels: core

#18974 `handwired/swiftrax/walter`: fix layout mismatch
  keyboards/handwired/swiftrax/walter/info.json
  keyboards/handwired/swiftrax/walter/walter.h
Labels: bug, keyboard

#18977 Fix keycode parameter extraction to match the new DD keycodes
  quantum/keymap_common.c
  quantum/pointing_device/pointing_device_auto_mouse.c
  quantum/process_keycode/process_autocorrect.c
  quantum/process_keycode/process_caps_word.c
  quantum/process_keycode/process_leader.c
  quantum/process_keycode/process_unicode.c
  quantum/process_keycode/process_unicodemap.c
  quantum/quantum_keycodes.h
Labels: core

#18978 Fix use of shifted custom keycode
  keyboards/silverbullet44/keymaps/default/keymap.c
Labels: keymap

#18972 Normalise MIDI keycodes
  data/constants/keycodes/keycodes_0.0.1_midi.hjson
  docs/feature_midi.md
  docs/keycodes.md
  keyboards/40percentclub/gherkin/keymaps/midi/keymap.c
  keyboards/bandominedoni/keymaps/default/keymap.c
  keyboards/bandominedoni/keymaps/led/keymap.c
  keyboards/bandominedoni/keymaps/lednotg/keymap.c
  keyboards/bandominedoni/keymaps/via/keymap.c
  keyboards/chromatonemini/keymaps/default/keymap.c
  keyboards/chromatonemini/keymaps/led/keymap.c
  keyboards/chromatonemini/keymaps/party/keymap.c
  keyboards/chromatonemini/keymaps/via/keymap.c
  keyboards/ckeys/thedora/keymaps/default/keymap.c
  keyboards/clueboard/66/keymaps/magicmonty/keymap.c
  keyboards/contra/keymaps/dana/keymap.c
  keyboards/gh60/satan/keymaps/midi/keymap.c
  keyboards/giabalanai/keymaps/2firmware/keymap.c
  keyboards/giabalanai/keymaps/3araht/keymap.c
  keyboards/giabalanai/keymaps/default/keymap.c
  keyboards/giabalanai/keymaps/default_giabarinaix2/keymap.c
  keyboards/giabalanai/keymaps/giabarinaix2led/keymap.c
  keyboards/giabalanai/keymaps/party/keymap.c
  keyboards/giabalanai/keymaps/via/keymap.c
  keyboards/giabalanai/keymaps/via_giabarinaix2/keymap.c
  keyboards/keebio/nyquist/keymaps/shovelpaw/keymap.c
  keyboards/kprepublic/bm40hsrgb/keymaps/wolff_abnt2/keymap.c
  keyboards/miuni32/keymaps/cassdelacruzmunoz/keymap.c
  keyboards/preonic/keymaps/mverteuil/keymap.c
  keyboards/preonic/keymaps/mverteuil_2x2u/keymap.c
  keyboards/sofle/keymaps/michal/keymap.c
  keyboards/tempo_turtle/bradpad/keymaps/4brad/keymap.c
  keyboards/tempo_turtle/bradpad/keymaps/midi_demo/keymap.c
  quantum/keycodes.h
  quantum/process_keycode/process_midi.c
  quantum/process_keycode/process_music.c
  quantum/quantum_keycodes.h
  quantum/quantum_keycodes_legacy.h
  quantum/sequencer/tests/sequencer_tests.cpp
  users/muppetjones/wrappers.h
Labels: enhancement, core, keymap, documentation, via

#18964 Align haptic feedback keycode names
  data/constants/keycodes/keycodes_0.0.1_quantum.hjson
  docs/feature_haptic_feedback.md
  quantum/keycodes.h
  quantum/process_keycode/process_haptic.c
  quantum/quantum_keycodes_legacy.h
Labels: core, documentation

#18982 `cannonkeys/db60/hotswap`: fix layouts
  keyboards/cannonkeys/db60/hotswap/info.json
  keyboards/cannonkeys/db60/info.json
  keyboards/cannonkeys/db60/j02/info.json
  keyboards/cannonkeys/db60/j02/keymaps/iso/keymap.c
  keyboards/cannonkeys/db60/rev2/info.json
  keyboards/cannonkeys/db60/rev2/keymaps/iso/keymap.c
  users/manna-harbour_miryoku/miryoku_babel/miryoku_layer_alternatives.h
Labels: bug, keyboard, keymap

#18991 Fixup hotdox76v2 on develop
  keyboards/hotdox76v2/config.h
Labels: keyboard

#18924 Format DD mappings and schemas
  data/mappings/defaults.hjson
  data/mappings/info_config.hjson
  data/mappings/info_rules.hjson
  data/mappings/keyboard_aliases.hjson
  data/mappings/keyboard_aliases.json
  data/schemas/keyboard.jsonschema
  docs/data_driven_config.md
  lib/python/qmk/cli/generate/api.py
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/cli/generate/rules_mk.py
  lib/python/qmk/cli/new/keyboard.py
  lib/python/qmk/commands.py
  lib/python/qmk/info.py
  lib/python/qmk/keyboard.py
Labels: enhancement, documentation, python, cli

#18996 Publish hjson files as json
  lib/python/qmk/cli/generate/api.py
Labels: enhancement, python, cli

#18997 `mechlovin/adelais/standard_led/avr/rev1`: fix layout
  keyboards/mechlovin/adelais/standard_led/avr/rev1/rev1.h
Labels: bug, keyboard

#18979 `pizzakeyboards/pizza65`: fix layouts
  keyboards/pizzakeyboards/pizza65/info.json
  keyboards/pizzakeyboards/pizza65/keymaps/ansi_blocker_split_bs/keymap.c
  keyboards/pizzakeyboards/pizza65/keymaps/iso_blocker_split_bs/keymap.c
  keyboards/pizzakeyboards/pizza65/pizza65.h
Labels: bug, keyboard, keymap

#18413 [Keymap] KO Kyria
  keyboards/splitkb/kyria/keymaps/ohlin/config.h
  keyboards/splitkb/kyria/keymaps/ohlin/keymap.c
  keyboards/splitkb/kyria/keymaps/ohlin/readme.md
  keyboards/splitkb/kyria/keymaps/ohlin/rules.mk
Labels: keymap

#18998 Add raw output option for QGF/QFF files.
  docs/quantum_painter.md
  lib/python/qmk/cli/painter/convert_graphics.py
  lib/python/qmk/cli/painter/make_font.py
Labels: documentation, python, cli

#18999 `gboards/gergoplex`: fix matrix pins
  keyboards/gboards/gergoplex/config.h
  keyboards/gboards/gergoplex/matrix.c
Labels: bug, keyboard

#18681 Add model01 and doio/kb16 keymaps
  keyboards/doio/kb16/rev1/keymaps/pugmajere/keymap.c
  keyboards/doio/kb16/rev1/keymaps/pugmajere/readme.md
  keyboards/doio/kb16/rev1/keymaps/pugmajere/rules.mk
  keyboards/keyboardio/model01/keymaps/pugmajere/config.h
  keyboards/keyboardio/model01/keymaps/pugmajere/keymap.c
  keyboards/keyboardio/model01/keymaps/pugmajere/readme.md
  keyboards/keyboardio/model01/keymaps/pugmajere/rules.mk
Labels: keymap

#18923 Refactor chinese PCB folder
  keyboards/horrortroll/chinese_pcb/black_e65/config.h
  keyboards/horrortroll/chinese_pcb/black_e65/info.json
  keyboards/horrortroll/chinese_pcb/black_e65/keymaps/default/keymap.c
  keyboards/horrortroll/chinese_pcb/black_e65/keymaps/via/keymap.c
  keyboards/horrortroll/chinese_pcb/black_e65/readme.md
  keyboards/horrortroll/chinese_pcb/devil68_pro/config.h
  keyboards/horrortroll/chinese_pcb/devil68_pro/info.json
  keyboards/horrortroll/chinese_pcb/devil68_pro/keymaps/default/keymap.c
  keyboards/horrortroll/chinese_pcb/devil68_pro/keymaps/default/readme.md
  keyboards/horrortroll/chinese_pcb/devil68_pro/keymaps/via/config.h
  keyboards/horrortroll/chinese_pcb/devil68_pro/keymaps/via/keymap.c
  keyboards/horrortroll/chinese_pcb/devil68_pro/keymaps/via/readme.md
  keyboards/horrortroll/chinese_pcb/devil68_pro/readme.md
  keyboards/horrortroll/chinese_pcb/readme.md
  keyboards/horrortroll/readme.md
Labels: keyboard, keymap, via

#18891 Add Brutal v2 1800 PCB to QMK
  keyboards/cannonkeys/brutalv2_1800/config.h
  keyboards/cannonkeys/brutalv2_1800/info.json
  keyboards/cannonkeys/brutalv2_1800/keymaps/default/keymap.c
  keyboards/cannonkeys/brutalv2_1800/keymaps/via/keymap.c
  keyboards/cannonkeys/brutalv2_1800/keymaps/via/rules.mk
  keyboards/cannonkeys/brutalv2_1800/readme.md
  keyboards/cannonkeys/brutalv2_1800/rules.mk
Labels: keyboard, keymap, via

#19004 Normalise output selection (Bluetooth) keycodes
  data/constants/keycodes/keycodes_0.0.1_quantum.hjson
  docs/feature_bluetooth.md
  docs/keycodes.md
  keyboards/atreus/keymaps/clash/keymap.c
  keyboards/dtisaac/dosa40rgb/keymaps/default/keymap.c
  keyboards/handwired/42/keymaps/default/keymap.c
  keyboards/handwired/bdn9_ble/keymaps/default/keymap.c
  keyboards/handwired/hacked_motospeed/keymaps/german/keymap.c
  keyboards/handwired/hacked_motospeed/keymaps/german/layers.json
  keyboards/handwired/promethium/keymaps/default/keymap.c
  keyboards/handwired/promethium/keymaps/priyadi/keymap.c
  keyboards/latincompass/latin47ble/keymaps/default/keymap.c
  keyboards/latincompass/latin47ble/keymaps/via/keymap.c
  keyboards/signum/3_0/keymaps/default/layout.py
  keyboards/woodkeys/meira/keymaps/cole/keymap.c
  layouts/community/ortho_5x15/wanleg/keymap.c
  quantum/keycodes.h
  quantum/quantum.c
  users/manna-harbour_miryoku/miryoku_babel/miryoku_layer_alternatives.h
Labels: enhancement, core, keymap, documentation, python, via

#19006 Fixup keychron/q1/iso_encoder
  keyboards/keychron/q1/iso_encoder/config.h
  keyboards/keychron/q1/iso_encoder/iso_encoder.c
Labels: keyboard

#19007 Improve LED config parsing error messages
  lib/python/qmk/c_parse.py
Labels: enhancement, python, cli

#19009 `bolsa/bolsalice`: fix layout
  keyboards/bolsa/bolsalice/bolsalice.h
Labels: bug, keyboard

#18992 Fix jump in mouse_report value when scale changes during cirque get report
  quantum/pointing_device/pointing_device_drivers.c
Labels: bug, core, breaking_change_2022q4

#19015 Rollback unrelated changes from previous PR.
  keyboards/keychron/q1/config.h
Labels: bug, keyboard

#18006 [Core] Allow custom timings for WS2812 PIO driver
  docs/ws2812_driver.md
  platforms/chibios/drivers/vendor/RP/RP2040/ws2812_vendor.c
Labels: core, documentation, breaking_change_2022q4

#18810 Addition of the Binepad BN006 6-key macropad
  keyboards/binepad/bn006/config.h
  keyboards/binepad/bn006/info.json
  keyboards/binepad/bn006/keymaps/default/keymap.c
  keyboards/binepad/bn006/keymaps/via/keymap.c
  keyboards/binepad/bn006/keymaps/via/rules.mk
  keyboards/binepad/bn006/readme.md
  keyboards/binepad/bn006/rules.mk
Labels: keyboard, keymap, via

#19018 KC_GESC -> QK_GESC, better alignment for OCD
  keyboards/gmmk/gmmk2/p65/ansi/keymaps/default/keymap.c
  keyboards/gmmk/gmmk2/p65/ansi/keymaps/thekorn/keymap.c
  keyboards/gmmk/gmmk2/p65/ansi/keymaps/via/keymap.c
  keyboards/gmmk/gmmk2/p65/iso/keymaps/default/keymap.c
  keyboards/gmmk/gmmk2/p96/ansi/keymaps/default/keymap.c
  keyboards/gmmk/gmmk2/p96/ansi/keymaps/via/keymap.c
  keyboards/gmmk/gmmk2/p96/iso/keymaps/default/keymap.c
  keyboards/gmmk/gmmk2/p96/iso/keymaps/via/keymap.c
Labels: keymap, via

#18338 Avoid repeated calls to rgblight_set() in tight succession when setting lighting layers
  quantum/rgblight/rgblight.c
Labels: bug, core, breaking_change, breaking_change_2022q4

#18995 Adding Synth and Keys' Debit Card
  keyboards/synthandkeys/the_debit_card/info.json
  keyboards/synthandkeys/the_debit_card/keymaps/default/keymap.c
  keyboards/synthandkeys/the_debit_card/readme.md
  keyboards/synthandkeys/the_debit_card/rules.mk
Labels: keyboard, keymap

#19029 Fixup bn006 on develop
  keyboards/binepad/bn006/config.h
Labels: keyboard

#19028 Fixup WS2812 vendor driver
  platforms/chibios/drivers/vendor/RP/RP2040/ws2812_vendor.c
Labels: core

#18973 LED config fixes
  keyboards/handwired/hnah108/config.h
  keyboards/handwired/hnah108/hnah108.c
  keyboards/kbdfans/odin/rgb/config.h
  keyboards/kbdfans/odin/rgb/rgb.c
  keyboards/keybee/keybee65/config.h
  keyboards/keybee/keybee65/keybee65.c
  keyboards/linworks/fave84h/config.h
  keyboards/linworks/fave84h/fave84h.c
  keyboards/linworks/fave87h/config.h
  keyboards/linworks/fave87h/fave87h.c
  keyboards/mechlovin/hannah60rgb/rev2/rev2.c
  keyboards/melgeek/mj64/rev1/rev1.c
  keyboards/opendeck/32/rev1/rev1.c
  keyboards/ryanskidmore/rskeys100/config.h
  keyboards/ryanskidmore/rskeys100/rskeys100.c
  keyboards/xelus/dawn60/rev1_qmk/rev1_qmk.c
  keyboards/xelus/pachi/rgb/rev1/rev1.c
  keyboards/xelus/pachi/rgb/rev2/rev2.c
Labels: bug, enhancement, keyboard

#19030 Ifohancroft HotDox76v2 keymap
  keyboards/hotdox76v2/keymaps/ifohancroft/README.md
  keyboards/hotdox76v2/keymaps/ifohancroft/config.h
  keyboards/hotdox76v2/keymaps/ifohancroft/keymap.c
  keyboards/hotdox76v2/keymaps/ifohancroft/rules.mk
Labels: keymap

#19020 Move EFL wear-leveling driver to be default for F1, F3, F4, L4, G4, WB32, GD32V.
  builddefs/common_features.mk
  builddefs/mcu_selection.mk
  keyboards/acheron/apollo/87h/delta/rules.mk
  keyboards/acheron/apollo/87h/gamma/rules.mk
  keyboards/acheron/apollo/87htsc/rules.mk
  keyboards/acheron/apollo/88htsc/rules.mk
  keyboards/matrix/m12og/rev1/rules.mk
  keyboards/mechlovin/hex6c/config.h
  keyboards/rgbkb/mun/config.h
  keyboards/rgbkb/sol3/config.h
  keyboards/yugo_m/model_m_101/config.h
  platforms/chibios/drivers/wear_leveling/wear_leveling_efl_config.h
Labels: core, keyboard, breaking_change_2022q4

#18577 Don't clear keys on layer change unless STRICT_LAYER_RELEASE is enabled
  quantum/action_layer.c
  tests/basic/test_action_layer.cpp
Labels: core, breaking_change_2022q4

#19038 onekey: disable NKRO and mousekeys by default
  keyboards/handwired/onekey/bluepill_f103c6/rules.mk
  keyboards/handwired/onekey/info.json
Labels: bug, keyboard

#18897 Support for pumpkin pad
  keyboards/laser_ninja/pumpkin_pad/config.h
  keyboards/laser_ninja/pumpkin_pad/info.json
  keyboards/laser_ninja/pumpkin_pad/keymaps/default/keymap.c
  keyboards/laser_ninja/pumpkin_pad/keymaps/via/keymap.c
  keyboards/laser_ninja/pumpkin_pad/keymaps/via/rules.mk
  keyboards/laser_ninja/pumpkin_pad/readme.md
  keyboards/laser_ninja/pumpkin_pad/rules.mk
Labels: keyboard, keymap, via

#19034 Digitizer feature improvements
  docs/feature_digitizer.md
  keyboards/handwired/onekey/keymaps/digitizer/keymap.c
  quantum/digitizer.c
  quantum/digitizer.h
  quantum/keyboard.c
  quantum/quantum.h
  tmk_core/protocol/host.c
  tmk_core/protocol/report.h
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/vusb/vusb.c
Labels: enhancement, core, keymap, documentation, breaking_change_2022q4

#18586 Adds Keyboard Handwired alcor dactyl
  keyboards/handwired/alcor_dactyl/config.h
  keyboards/handwired/alcor_dactyl/info.json
  keyboards/handwired/alcor_dactyl/keymaps/colemak_dh/keymap.c
  keyboards/handwired/alcor_dactyl/keymaps/default/keymap.c
  keyboards/handwired/alcor_dactyl/readme.md
  keyboards/handwired/alcor_dactyl/rules.mk
Labels: keyboard, keymap

#18705 Add Serenity PCB to QMK
  keyboards/cannonkeys/serenity/config.h
  keyboards/cannonkeys/serenity/halconf.h
  keyboards/cannonkeys/serenity/info.json
  keyboards/cannonkeys/serenity/keymaps/default/keymap.c
  keyboards/cannonkeys/serenity/keymaps/via/keymap.c
  keyboards/cannonkeys/serenity/keymaps/via/rules.mk
  keyboards/cannonkeys/serenity/mcuconf.h
  keyboards/cannonkeys/serenity/readme.md
  keyboards/cannonkeys/serenity/rules.mk
Labels: keyboard, keymap, via

#17640 Dayoff60
  keyboards/nixkeyboards/day_off/config.h
  keyboards/nixkeyboards/day_off/day_off.c
  keyboards/nixkeyboards/day_off/day_off.h
  keyboards/nixkeyboards/day_off/info.json
  keyboards/nixkeyboards/day_off/keymaps/default/keymap.c
  keyboards/nixkeyboards/day_off/readme.md
  keyboards/nixkeyboards/day_off/rules.mk
Labels: keyboard, keymap

#18845 Add keyboard - Dactyl Manuform 5x6 with 6 thumb cluster
  keyboards/handwired/dactyl_manuform/5x6_6/5x6_6.c
  keyboards/handwired/dactyl_manuform/5x6_6/5x6_6.h
  keyboards/handwired/dactyl_manuform/5x6_6/config.h
  keyboards/handwired/dactyl_manuform/5x6_6/info.json
  keyboards/handwired/dactyl_manuform/5x6_6/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/5x6_6/readme.md
  keyboards/handwired/dactyl_manuform/5x6_6/rules.mk
Labels: keyboard, keymap

#18664 Several missing LAYOUTS to rules.mk
  keyboards/dztech/dz60rgb_ansi/v1/rules.mk
  keyboards/dztech/dz60rgb_ansi/v2/rules.mk
  keyboards/dztech/dz60rgb_ansi/v2_1/rules.mk
Labels: keyboard

#18288 Keychron q6
  keyboards/keychron/q6/ansi/ansi.c
  keyboards/keychron/q6/ansi/ansi.h
  keyboards/keychron/q6/ansi/config.h
  keyboards/keychron/q6/ansi/info.json
  keyboards/keychron/q6/ansi/keymaps/default/keymap.c
  keyboards/keychron/q6/ansi/keymaps/keychron/keymap.c
  keyboards/keychron/q6/ansi/keymaps/keychron/rules.mk
  keyboards/keychron/q6/ansi/keymaps/via/keymap.c
  keyboards/keychron/q6/ansi/keymaps/via/rules.mk
  keyboards/keychron/q6/ansi/readme.md
  keyboards/keychron/q6/ansi/rules.mk
  keyboards/keychron/q6/ansi_encoder/ansi_encoder.c
  keyboards/keychron/q6/ansi_encoder/ansi_encoder.h
  keyboards/keychron/q6/ansi_encoder/config.h
  keyboards/keychron/q6/ansi_encoder/info.json
  keyboards/keychron/q6/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/q6/ansi_encoder/keymaps/default/rules.mk
  keyboards/keychron/q6/ansi_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/q6/ansi_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/q6/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/q6/ansi_encoder/keymaps/via/rules.mk
  keyboards/keychron/q6/ansi_encoder/readme.md
  keyboards/keychron/q6/ansi_encoder/rules.mk
  keyboards/keychron/q6/config.h
  keyboards/keychron/q6/halconf.h
  keyboards/keychron/q6/iso/config.h
  keyboards/keychron/q6/iso/info.json
  keyboards/keychron/q6/iso/iso.c
  keyboards/keychron/q6/iso/iso.h
  keyboards/keychron/q6/iso/keymaps/default/keymap.c
  keyboards/keychron/q6/iso/keymaps/keychron/keymap.c
  keyboards/keychron/q6/iso/keymaps/keychron/rules.mk
  keyboards/keychron/q6/iso/keymaps/via/keymap.c
  keyboards/keychron/q6/iso/keymaps/via/rules.mk
  keyboards/keychron/q6/iso/readme.md
  keyboards/keychron/q6/iso/rules.mk
  keyboards/keychron/q6/iso_encoder/config.h
  keyboards/keychron/q6/iso_encoder/info.json
  keyboards/keychron/q6/iso_encoder/iso_encoder.c
  keyboards/keychron/q6/iso_encoder/iso_encoder.h
  keyboards/keychron/q6/iso_encoder/keymaps/default/keymap.c
  keyboards/keychron/q6/iso_encoder/keymaps/default/rules.mk
  keyboards/keychron/q6/iso_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/q6/iso_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/q6/iso_encoder/keymaps/via/keymap.c
  keyboards/keychron/q6/iso_encoder/keymaps/via/rules.mk
  keyboards/keychron/q6/iso_encoder/readme.md
  keyboards/keychron/q6/iso_encoder/rules.mk
  keyboards/keychron/q6/matrix.c
  keyboards/keychron/q6/mcuconf.h
  keyboards/keychron/q6/q6.c
  keyboards/keychron/q6/q6.h
  keyboards/keychron/q6/readme.md
Labels: in progress, keyboard, keymap, via

#18887 Fix oled_render to render all dirty blocks.
  drivers/oled/ssd1306_sh1106.c
Labels: core, breaking_change_2022q4

#18467 Only trigger encoder callbacks on primary side
  quantum/encoder.c
  quantum/encoder/tests/config_mock_split_role.h
  quantum/encoder/tests/encoder_tests_split_role.cpp
  quantum/encoder/tests/mock.c
  quantum/encoder/tests/mock_split.c
  quantum/encoder/tests/rules.mk
  quantum/encoder/tests/testlist.mk
Labels: core, breaking_change_2022q4

#18215 Add pointing device support to data driven config
  data/mappings/info_config.hjson
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  lib/python/qmk/cli/generate/config_h.py
Labels: python, cli, breaking_change_2022q4

#18474 fix: mousekey doesn't work with trackpoint
  drivers/ps2/ps2_mouse.c
Labels: core, breaking_change_2022q4

#19058 Fix duplicate key in keyboard.jsonschema
  data/schemas/keyboard.jsonschema
Labels: bug

#19056 Add missing prototype for get_hold_on_other_key_press to resolve #18855
  quantum/action_tapping.h
Labels: bug, core

#19060 Fix up laser_ninja/pumpkin_pad
  keyboards/laser_ninja/pumpkin_pad/config.h
Labels: keyboard

#19061 Cleanup.
  keyboards/nixkeyboards/day_off/readme.md
  keyboards/synthandkeys/the_debit_card/readme.md
Labels: keyboard

#19065 Add missing `manufacturer` fields
  keyboards/cannonkeys/serenity/info.json
  keyboards/handwired/dactyl_manuform/5x6_6/info.json
  keyboards/handwired/dactyl_manuform/5x6_6/keymaps/default/keymap.c
Labels: keyboard, keymap

#19067 Fixup day_off
  keyboards/nixkeyboards/day_off/day_off.c
  keyboards/nixkeyboards/day_off/day_off.h
  keyboards/nixkeyboards/day_off/info.json
  keyboards/nixkeyboards/day_off/keymaps/default/keymap.c
  keyboards/nixkeyboards/day_off/readme.md
  keyboards/nixkeyboards/day_off/rules.mk
Labels: keyboard, keymap

#19066 Fixup keychron/q6
  keyboards/keychron/q6/ansi/ansi.c
  keyboards/keychron/q6/ansi/config.h
  keyboards/keychron/q6/ansi_encoder/ansi_encoder.c
  keyboards/keychron/q6/ansi_encoder/config.h
  keyboards/keychron/q6/iso/config.h
  keyboards/keychron/q6/iso/iso.c
  keyboards/keychron/q6/iso_encoder/config.h
  keyboards/keychron/q6/iso_encoder/iso_encoder.c
  keyboards/keychron/q6/q6.c
Labels: keyboard

#18901 Add Bonsai C4 as a platform board file
  data/mappings/defaults.hjson
  docs/feature_converters.md
  keyboards/custommk/bonsai_c4_template/bonsai_c4_template.c
  keyboards/custommk/bonsai_c4_template/config.h
  keyboards/custommk/bonsai_c4_template/halconf.h
  keyboards/custommk/bonsai_c4_template/mcuconf.h
  keyboards/custommk/bonsai_c4_template/readme.md
  platforms/chibios/boards/BONSAI_C4/board/board.mk
  platforms/chibios/boards/BONSAI_C4/configs/board.h
  platforms/chibios/boards/BONSAI_C4/configs/config.h
  platforms/chibios/boards/BONSAI_C4/configs/halconf.h
  platforms/chibios/boards/BONSAI_C4/configs/mcuconf.h
  platforms/chibios/converters/promicro_to_bonsai_c4/converter.mk
  platforms/chibios/converters/promicro_to_bonsai_c4/post_converter.mk
Labels: core, keyboard, documentation, breaking_change_2022q4

#19068 Add default limit to OLED dirty processing
  drivers/oled/oled_driver.h
  drivers/oled/ssd1306_sh1106.c
Labels: core, breaking_change_2022q4

#19072 Fixup handwired/alcor_dactyl
  keyboards/handwired/alcor_dactyl/config.h
Labels: keyboard

#19063 Revert "Add pointing device support to data driven config (#18215)"
  data/mappings/info_config.hjson
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  lib/python/qmk/cli/generate/config_h.py
Labels: python, cli

#18934 BT LEDs are no longer hard coded
  keyboards/annepro2/annepro2.c
Labels: keyboard

#19086 Fix some old keycodes
  keyboards/a_dux/keymaps/daliusd/keymap.c
  keyboards/bastardkb/dilemma/3x5_2/keymaps/via/keymap.c
  keyboards/bastardkb/dilemma/3x5_3/keymaps/bstiq/keymap.c
  keyboards/bastardkb/dilemma/3x5_3/keymaps/default/keymap.c
  keyboards/crkbd/keymaps/nimishgautam/keymap.c
  keyboards/crkbd/keymaps/sharkby7e/keymap.c
  keyboards/crkbd/keymaps/thunderbird2086/layers_block.h
  keyboards/gmmk/pro/rev1/ansi/keymaps/mike1808/mike1808.h
  keyboards/handwired/twig/twig50/keymaps/default/keymap.c
  keyboards/keyboardio/model01/keymaps/pugmajere/keymap.c
  keyboards/mechbrewery/mb65s/keymaps/iso_blocker_tsangan/keymap.c
  keyboards/planck/keymaps/rennerom/keymap.c
  keyboards/preonic/keymaps/rmeli/keymap.c
  keyboards/rocketboard_16/keycode_lookup.c
  keyboards/thevankeyboards/minivan/keymaps/talljoe-minivan/config.h
  users/callum/callum.c
  users/curry/process_records.h
  users/cwebster2/my_miryoku.h
  users/ericgebhart/extensions/oneshot.c
  users/ericgebhart/layers/edge_keys.h
  users/ericgebhart/layers/toprows.h
  users/ericgebhart/layers/utility.h
  users/gary/gary.h
  users/jarred/jarred.h
  users/jjerrell/wrappers.h
  users/kageurufu/layouts.h
  users/kuchosauronad0/process_records.h
  users/mattly/mattly.c
  users/miles2go/milestogo.h
  users/muppetjones/wrappers.h
  users/pdl/pdl.h
  users/ridingqwerty/wrappers.h
  users/rmeli/config.h
  users/romus/romus.h
  users/rs/rs.h
  users/rupa/wrappers.h
  users/talljoe/talljoe.h
  users/tominabox1/wrappers.h
  users/wanleg/wanleg.c
  users/wanleg/wanleg.h
  users/xulkal/layouts.h
  users/xulkal/process_records.c
  users/yet-another-developer/process_records.h
Labels: bug, keyboard, keymap, via

#19035 Fix typo
  docs/keycodes.md
Labels: documentation

#18623 keyboards/anavi: Add ANAVI Knob 1
  keyboards/anavi/knob1/config.h
  keyboards/anavi/knob1/info.json
  keyboards/anavi/knob1/keymaps/default/keymap.c
  keyboards/anavi/knob1/knob1.c
  keyboards/anavi/knob1/knob1.h
  keyboards/anavi/knob1/mcuconf.h
  keyboards/anavi/knob1/readme.md
  keyboards/anavi/knob1/rules.mk
Labels: keyboard, keymap

#18674 Planck unicode rune layout
  layouts/community/ortho_4x12/trguhq/config.h
  layouts/community/ortho_4x12/trguhq/keymap.c
  layouts/community/ortho_4x12/trguhq/readme.md
  layouts/community/ortho_4x12/trguhq/rules.mk
  layouts/community/ortho_4x12/trguhq/trguhq.json
Labels: keymap

#19078 [Docs] Document default value for TAP_CODE_DELAY
  docs/config_options.md
Labels: documentation

#19089 Update more `DRIVER_LED_TOTAL` defines to `RGB_MATRIX_LED_COUNT`
  keyboards/bastardkb/dilemma/3x5_3/config.h
  keyboards/controllerworks/mini36/keymaps/default/config.h
  keyboards/controllerworks/mini36/keymaps/via/config.h
  keyboards/controllerworks/mini42/keymaps/default/config.h
  keyboards/controllerworks/mini42/keymaps/via/config.h
  keyboards/crkbd/keymaps/nimishgautam/config.h
  keyboards/kprepublic/bm40hsrgb/keymaps/coffee/keymap.c
  keyboards/tzarc/ghoul/config.h
  keyboards/work_louder/numpad/config.h
  keyboards/yandrstudio/buff67v3/config.h
  keyboards/yandrstudio/eau_r2/config.h
  keyboards/yandrstudio/nightstar75/config.h
  keyboards/yandrstudio/yr6095/config.h
Labels: bug, keyboard, keymap, via

#19094 Extend eeconfig kb/user datablock API
  quantum/eeconfig.c
  quantum/eeconfig.h
Labels: enhancement, core, breaking_change_2022q4

#19093 Specify `DEFAULT_FOLDER` for `v2/splinky`
  keyboards/bastardkb/charybdis/3x5/v2/splinky/rules.mk
  keyboards/bastardkb/charybdis/3x6/v2/splinky/rules.mk
  keyboards/bastardkb/charybdis/4x6/v2/splinky/rules.mk
  keyboards/bastardkb/scylla/v2/splinky/rules.mk
  keyboards/bastardkb/skeletyl/v2/splinky/rules.mk
  keyboards/bastardkb/tbkmini/v2/splinky/rules.mk
Labels: keyboard

#19091 Use `keyboard_pre_init_kb(void)` at keyboard level
  keyboards/bastardkb/dilemma/dilemma.c
Labels: keyboard

#19096 fixed MOUSEKEY_INERTIA on AVR
  quantum/mousekey.c
Labels: bug, core, breaking_change_2022q4

#19104 Disable onekey console by default
  keyboards/handwired/onekey/bluepill_f103c6/config.h
  keyboards/handwired/onekey/info.json
  keyboards/handwired/onekey/keymaps/console/keymap.c
  keyboards/handwired/onekey/keymaps/console/rules.mk
  keyboards/handwired/onekey/keymaps/hardware_id/rules.mk
  keyboards/handwired/onekey/keymaps/oled/rules.mk
Labels: enhancement, keyboard, keymap

#19107 Fix references to `mouse_report_t` (which doesnt exist)
  docs/feature_pointing_device.md
  keyboards/ploopyco/mouse/mouse.c
  keyboards/ploopyco/trackball/trackball.c
  keyboards/ploopyco/trackball_mini/trackball_mini.c
  keyboards/ploopyco/trackball_thumb/trackball_thumb.c
Labels: keyboard, documentation

#19014 Add Jabberwocky v2 firmware and reorganize
  keyboards/nopunin10did/jabberwocky/keymaps/via/keymap.c
  keyboards/nopunin10did/jabberwocky/v1/config.h
  keyboards/nopunin10did/jabberwocky/v1/info.json
  keyboards/nopunin10did/jabberwocky/v1/keymaps/default/keymap.c
  keyboards/nopunin10did/jabberwocky/v1/keymaps/nopunin10did/keymap.c
  keyboards/nopunin10did/jabberwocky/v1/keymaps/via/keymap.c
  keyboards/nopunin10did/jabberwocky/v1/keymaps/via/rules.mk
  keyboards/nopunin10did/jabberwocky/v1/readme.md
  keyboards/nopunin10did/jabberwocky/v1/rules.mk
  keyboards/nopunin10did/jabberwocky/v1/v1.c
  keyboards/nopunin10did/jabberwocky/v1/v1.h
  keyboards/nopunin10did/jabberwocky/v2/config.h
  keyboards/nopunin10did/jabberwocky/v2/info.json
  keyboards/nopunin10did/jabberwocky/v2/keymaps/default/keymap.c
  keyboards/nopunin10did/jabberwocky/v2/keymaps/nopunin10did/keymap.c
  keyboards/nopunin10did/jabberwocky/v2/keymaps/via/keymap.c
  keyboards/nopunin10did/jabberwocky/v2/keymaps/via/rules.mk
  keyboards/nopunin10did/jabberwocky/v2/readme.md
  keyboards/nopunin10did/jabberwocky/v2/rules.mk
  keyboards/nopunin10did/jabberwocky/v2/v2.c
  keyboards/nopunin10did/jabberwocky/v2/v2.h
Labels: keyboard, keymap, via

#17378 Support for Boaty
  keyboards/jels/boaty/config.h
  keyboards/jels/boaty/info.json
  keyboards/jels/boaty/keymaps/default/keymap.c
  keyboards/jels/boaty/keymaps/via/keymap.c
  keyboards/jels/boaty/keymaps/via/rules.mk
  keyboards/jels/boaty/readme.md
  keyboards/jels/boaty/rules.mk
Labels: keyboard, keymap, via

#18653 Add support for keebsforall freebird75
  keyboards/keebsforall/freebird75/info.json
  keyboards/keebsforall/freebird75/keymaps/default/keymap.c
  keyboards/keebsforall/freebird75/keymaps/via/keymap.c
  keyboards/keebsforall/freebird75/keymaps/via/rules.mk
  keyboards/keebsforall/freebird75/readme.md
  keyboards/keebsforall/freebird75/rules.mk
Labels: keyboard, keymap, via

#18883 [keyboard]Graystudio Aero75 Hotswap support
  keyboards/gray_studio/aero75/aero75.c
  keyboards/gray_studio/aero75/aero75.h
  keyboards/gray_studio/aero75/chconf.h
  keyboards/gray_studio/aero75/config.h
  keyboards/gray_studio/aero75/halconf.h
  keyboards/gray_studio/aero75/info.json
  keyboards/gray_studio/aero75/keymaps/default/keymap.c
  keyboards/gray_studio/aero75/keymaps/via/keymap.c
  keyboards/gray_studio/aero75/keymaps/via/rules.mk
  keyboards/gray_studio/aero75/mcuconf.h
  keyboards/gray_studio/aero75/readme.md
  keyboards/gray_studio/aero75/rules.mk
Labels: keyboard, keymap, via, pr_checklist_pending

#17483 [Keyboard] annepro2: fix bluetooth multi-pairing issue
  keyboards/annepro2/annepro2_ble.c
Labels: bug, keyboard

#18922 Add WITF
  keyboards/ramlord/witf/info.json
  keyboards/ramlord/witf/keymaps/default/keymap.c
  keyboards/ramlord/witf/keymaps/via/keymap.c
  keyboards/ramlord/witf/keymaps/via/rules.mk
  keyboards/ramlord/witf/readme.md
  keyboards/ramlord/witf/rules.mk
Labels: keyboard, keymap, via

#19073 Fix Typo in Saevus Cor Matrix
  keyboards/saevus/cor/info.json
Labels: bug, keyboard

#18283 Keychron q5
  keyboards/keychron/q5/ansi/ansi.c
  keyboards/keychron/q5/ansi/ansi.h
  keyboards/keychron/q5/ansi/config.h
  keyboards/keychron/q5/ansi/info.json
  keyboards/keychron/q5/ansi/keymaps/default/keymap.c
  keyboards/keychron/q5/ansi/keymaps/keychron/keymap.c
  keyboards/keychron/q5/ansi/keymaps/keychron/rules.mk
  keyboards/keychron/q5/ansi/keymaps/via/keymap.c
  keyboards/keychron/q5/ansi/keymaps/via/rules.mk
  keyboards/keychron/q5/ansi/readme.md
  keyboards/keychron/q5/ansi/rules.mk
  keyboards/keychron/q5/ansi_encoder/ansi_encoder.c
  keyboards/keychron/q5/ansi_encoder/ansi_encoder.h
  keyboards/keychron/q5/ansi_encoder/config.h
  keyboards/keychron/q5/ansi_encoder/info.json
  keyboards/keychron/q5/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/q5/ansi_encoder/keymaps/default/rules.mk
  keyboards/keychron/q5/ansi_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/q5/ansi_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/q5/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/q5/ansi_encoder/keymaps/via/rules.mk
  keyboards/keychron/q5/ansi_encoder/readme.md
  keyboards/keychron/q5/ansi_encoder/rules.mk
  keyboards/keychron/q5/config.h
  keyboards/keychron/q5/halconf.h
  keyboards/keychron/q5/iso/config.h
  keyboards/keychron/q5/iso/info.json
  keyboards/keychron/q5/iso/iso.c
  keyboards/keychron/q5/iso/iso.h
  keyboards/keychron/q5/iso/keymaps/default/keymap.c
  keyboards/keychron/q5/iso/keymaps/keychron/keymap.c
  keyboards/keychron/q5/iso/keymaps/keychron/rules.mk
  keyboards/keychron/q5/iso/keymaps/via/keymap.c
  keyboards/keychron/q5/iso/keymaps/via/rules.mk
  keyboards/keychron/q5/iso/readme.md
  keyboards/keychron/q5/iso/rules.mk
  keyboards/keychron/q5/iso_encoder/config.h
  keyboards/keychron/q5/iso_encoder/info.json
  keyboards/keychron/q5/iso_encoder/iso_encoder.c
  keyboards/keychron/q5/iso_encoder/iso_encoder.h
  keyboards/keychron/q5/iso_encoder/keymaps/default/keymap.c
  keyboards/keychron/q5/iso_encoder/keymaps/default/rules.mk
  keyboards/keychron/q5/iso_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/q5/iso_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/q5/iso_encoder/keymaps/via/keymap.c
  keyboards/keychron/q5/iso_encoder/keymaps/via/rules.mk
  keyboards/keychron/q5/iso_encoder/readme.md
  keyboards/keychron/q5/iso_encoder/rules.mk
  keyboards/keychron/q5/matrix.c
  keyboards/keychron/q5/mcuconf.h
  keyboards/keychron/q5/q5.c
  keyboards/keychron/q5/q5.h
  keyboards/keychron/q5/readme.md
Labels: keyboard, keymap, via

#19112 [Keyboard] Add XS108
  keyboards/xelus/xs108/config.h
  keyboards/xelus/xs108/halconf.h
  keyboards/xelus/xs108/info.json
  keyboards/xelus/xs108/keymaps/default/keymap.c
  keyboards/xelus/xs108/keymaps/via/config.h
  keyboards/xelus/xs108/keymaps/via/keymap.c
  keyboards/xelus/xs108/keymaps/via/rules.mk
  keyboards/xelus/xs108/mcuconf.h
  keyboards/xelus/xs108/readme.md
  keyboards/xelus/xs108/rules.mk
  keyboards/xelus/xs108/xs108.c
  keyboards/xelus/xs108/xs108.h
Labels: keyboard, keymap, via

#18849 add mw660 keyboard
  keyboards/mwstudio/mw660/config.h
  keyboards/mwstudio/mw660/halconf.h
  keyboards/mwstudio/mw660/info.json
  keyboards/mwstudio/mw660/keymaps/default/keymap.c
  keyboards/mwstudio/mw660/keymaps/via/keymap.c
  keyboards/mwstudio/mw660/keymaps/via/rules.mk
  keyboards/mwstudio/mw660/mcuconf.h
  keyboards/mwstudio/mw660/readme.md
  keyboards/mwstudio/mw660/rules.mk
Labels: keyboard, keymap, via

#18626 Add ScottoStarter Keyboard
  keyboards/handwired/jscotto/scottostarter/info.json
  keyboards/handwired/jscotto/scottostarter/keymaps/default/config.h
  keyboards/handwired/jscotto/scottostarter/keymaps/default/keymap.c
  keyboards/handwired/jscotto/scottostarter/readme.md
  keyboards/handwired/jscotto/scottostarter/rules.mk
Labels: keyboard, keymap

#18761 Added a hardwired Dactylmacropad
  keyboards/handwired/dactylmacropad/config.h
  keyboards/handwired/dactylmacropad/info.json
  keyboards/handwired/dactylmacropad/keymaps/default/keymap.c
  keyboards/handwired/dactylmacropad/readme.md
  keyboards/handwired/dactylmacropad/rules.mk
  keyboards/keebio/nyquist/keymaps/bwprobably/config.h
  keyboards/keebio/nyquist/keymaps/bwprobably/keymap.c
  keyboards/keebio/nyquist/keymaps/bwprobably/rules.mk
Labels: keyboard, keymap

#18953 [Keyboard] Add layer tap keys to dshields keymaps.
  keyboards/keyboardio/atreus/keymaps/dshields/keymap.c
  keyboards/keyboardio/model01/keymaps/dshields/keymap.c
  keyboards/planck/keymaps/dshields/keymap.c
  users/dshields/config.h
  users/dshields/dshields.h
Labels: keymap

#18910 [Keyboard] Add support for KBDfans Odin V2
  keyboards/kbdfans/odin/v2/config.h
  keyboards/kbdfans/odin/v2/info.json
  keyboards/kbdfans/odin/v2/keymaps/default/keymap.c
  keyboards/kbdfans/odin/v2/keymaps/via/config.h
  keyboards/kbdfans/odin/v2/keymaps/via/keymap.c
  keyboards/kbdfans/odin/v2/keymaps/via/rules.mk
  keyboards/kbdfans/odin/v2/readme.md
  keyboards/kbdfans/odin/v2/rules.mk
  keyboards/kbdfans/odin/v2/v2.c
  keyboards/kbdfans/odin/v2/v2.h
Labels: keyboard, keymap, via

#18945 [Keyboard] Add YR80
  keyboards/yandrstudio/yr80/board.h
  keyboards/yandrstudio/yr80/config.h
  keyboards/yandrstudio/yr80/halconf.h
  keyboards/yandrstudio/yr80/info.json
  keyboards/yandrstudio/yr80/keymaps/default/keymap.c
  keyboards/yandrstudio/yr80/keymaps/via/keymap.c
  keyboards/yandrstudio/yr80/keymaps/via/rules.mk
  keyboards/yandrstudio/yr80/mcuconf.h
  keyboards/yandrstudio/yr80/readme.md
  keyboards/yandrstudio/yr80/rules.mk
  keyboards/yandrstudio/yr80/yr80.c
  keyboards/yandrstudio/yr80/yr80.h
Labels: keyboard, keymap, via

#19117 Fixup boaty
  keyboards/jels/boaty/info.json
  keyboards/jels/boaty/keymaps/default/keymap.c
  keyboards/jels/boaty/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#18930 [update] change RGBLED_NUM to 20 for zoom87
  keyboards/meletrix/zoom87/config.h
  keyboards/meletrix/zoom87/readme.md
Labels: keyboard

#18955 Ducky One 2 SF: Adjust fn layer mappings
  keyboards/ducky/one2sf/keymaps/default/keymap.c
Labels: keymap

#19098 Small fixes for the Atreyu rev1 keyboard.
  keyboards/atreyu/rev1/info.json
  keyboards/atreyu/rev1/rev1.c
Labels: keyboard

#19119 Fixup keychron/q5
  keyboards/keychron/q5/ansi/ansi.c
  keyboards/keychron/q5/ansi/config.h
  keyboards/keychron/q5/ansi_encoder/ansi_encoder.c
  keyboards/keychron/q5/ansi_encoder/config.h
  keyboards/keychron/q5/iso/config.h
  keyboards/keychron/q5/iso/iso.c
  keyboards/keychron/q5/iso_encoder/config.h
  keyboards/keychron/q5/iso_encoder/iso_encoder.c
  keyboards/keychron/q5/q5.c
Labels: keyboard

#19108 Add home and end keys
  keyboards/kprepublic/bm40hsrgb/keymaps/coffee/keymap.c
  keyboards/kprepublic/bm40hsrgb/keymaps/coffee/readme.md
Labels: keymap

#19113 Use modern solution for tri-layer in sofle default layout
  keyboards/sofle/keymaps/default/keymap.c
Labels: keymap

#18869 [Keyboard] Add Satellite Rev1
  keyboards/aeboards/satellite/keymaps/default/keymap.c
  keyboards/aeboards/satellite/keymaps/default/readme.md
  keyboards/aeboards/satellite/keymaps/via/keymap.c
  keyboards/aeboards/satellite/keymaps/via/readme.md
  keyboards/aeboards/satellite/keymaps/via/rules.mk
  keyboards/aeboards/satellite/readme.md
  keyboards/aeboards/satellite/rev1/config.h
  keyboards/aeboards/satellite/rev1/info.json
  keyboards/aeboards/satellite/rev1/readme.md
  keyboards/aeboards/satellite/rev1/rev1.c
  keyboards/aeboards/satellite/rev1/rev1.h
  keyboards/aeboards/satellite/rev1/rules.mk
  keyboards/aeboards/satellite/rules.mk
  keyboards/aeboards/satellite/satellite.c
  keyboards/aeboards/satellite/satellite.h
Labels: keyboard, keymap, via

#19121 Merge API update workflow
  .github/workflows/api.yml
  .github/workflows/develop_api.yml
Labels: CI

#19114 add og60 keyboard
  keyboards/dztech/og60/info.json
  keyboards/dztech/og60/keymaps/default/keymap.c
  keyboards/dztech/og60/keymaps/via/keymap.c
  keyboards/dztech/og60/keymaps/via/rules.mk
  keyboards/dztech/og60/readme.md
  keyboards/dztech/og60/rules.mk
Labels: keyboard, keymap, via

#19137 Fixup aeboards/satellite
  keyboards/aeboards/satellite/keymaps/default/keymap.c
  keyboards/aeboards/satellite/keymaps/default/readme.md
  keyboards/aeboards/satellite/keymaps/via/keymap.c
  keyboards/aeboards/satellite/keymaps/via/readme.md
  keyboards/aeboards/satellite/keymaps/via/rules.mk
  keyboards/aeboards/satellite/readme.md
  keyboards/aeboards/satellite/rev1/config.h
  keyboards/aeboards/satellite/rev1/readme.md
  keyboards/aeboards/satellite/rev1/rev1.c
  keyboards/aeboards/satellite/rev1/rev1.h
  keyboards/aeboards/satellite/rev1/rules.mk
  keyboards/aeboards/satellite/rules.mk
  keyboards/aeboards/satellite/satellite.c
  keyboards/aeboards/satellite/satellite.h
Labels: keyboard, keymap, via

#18969 NVRAM refactor, phase 1.
  builddefs/common_features.mk
  platforms/chibios/drivers/eeprom/eeprom_kinetis_flexram.c
  platforms/chibios/drivers/eeprom/eeprom_kinetis_flexram.h
  platforms/chibios/drivers/eeprom/eeprom_legacy_emulated_flash.c
  platforms/chibios/drivers/eeprom/eeprom_legacy_emulated_flash.h
  platforms/chibios/drivers/eeprom/eeprom_legacy_emulated_flash_defs.h
  platforms/chibios/drivers/flash/legacy_flash_ops.c
  platforms/chibios/drivers/flash/legacy_flash_ops.h
  platforms/chibios/drivers/wear_leveling/wear_leveling_legacy.c
  platforms/eeprom.h
  platforms/test/eeprom_legacy_emulated_flash_tests.cpp
  platforms/test/eeprom_legacy_emulated_flash_tests.h
  platforms/test/legacy_flash_ops_mock.c
  platforms/test/rules.mk
  platforms/test/testlist.mk
Labels: core, breaking_change_2022q4

#18880 [Keyboard] Add splitkb.com's Aurora Corne
  keyboards/splitkb/aurora/corne/config.h
  keyboards/splitkb/aurora/corne/corne.c
  keyboards/splitkb/aurora/corne/glcdfont.c
  keyboards/splitkb/aurora/corne/info.json
  keyboards/splitkb/aurora/corne/keymaps/debug/config.h
  keyboards/splitkb/aurora/corne/keymaps/debug/keymap.c
  keyboards/splitkb/aurora/corne/keymaps/debug/readme.md
  keyboards/splitkb/aurora/corne/keymaps/debug/rules.mk
  keyboards/splitkb/aurora/corne/keymaps/default/keymap.json
  keyboards/splitkb/aurora/corne/keymaps/default/readme.md
  keyboards/splitkb/aurora/corne/readme.md
  keyboards/splitkb/aurora/corne/rev1/config.h
  keyboards/splitkb/aurora/corne/rev1/info.json
  keyboards/splitkb/aurora/corne/rev1/rev1.c
  keyboards/splitkb/aurora/corne/rev1/rules.mk
  keyboards/splitkb/aurora/corne/rules.mk
Labels: keyboard, keymap

#19143 Publish constants metadata to API
  lib/python/qmk/cli/generate/api.py
Labels: enhancement, python, cli

#19036 [keymap] komidore64 planck rev6
  keyboards/planck/keymaps/komidore64/config.h
  keyboards/planck/keymaps/komidore64/keymap.c
  keyboards/planck/keymaps/komidore64/readme.md
Labels: keymap

#19124 Additional DD backlight config
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  lib/python/qmk/info.py
Labels: documentation, python, cli

#19144 Fixup aurora/corne on develop
  keyboards/splitkb/aurora/corne/rev1/config.h
Labels: keyboard

#19146 Minor lint fixes for various info.json
  keyboards/ai03/lunar_ii/info.json
  keyboards/annepro2/info.json
  keyboards/blockboy/ac980mini/info.json
  keyboards/cannonkeys/brutalv2_1800/info.json
  keyboards/cannonkeys/db60/hotswap/info.json
  keyboards/cannonkeys/ellipse/info.json
  keyboards/cannonkeys/moment/info.json
  keyboards/chaos65/info.json
  keyboards/fjlabs/sinanjuwk/info.json
  keyboards/gopolar/gg86/info.json
  keyboards/gray_studio/aero75/info.json
  keyboards/handwired/onekey/stm32f405_feather/info.json
  keyboards/idobao/id80/v2/ansi/info.json
  keyboards/idobao/id80/v2/iso/info.json
  keyboards/idobao/montex/v2/info.json
  keyboards/ingrained/info.json
  keyboards/keebio/sinc/info.json
  keyboards/keebio/sinc/rev1/info.json
  keyboards/keebio/sinc/rev2/info.json
  keyboards/mincedshon/ecila/info.json
  keyboards/mini_ten_key_plus/info.json
  keyboards/nyhxis/nfr_70/info.json
  keyboards/tweetydabird/lbs4/info.json
  keyboards/tweetydabird/lbs6/info.json
Labels: keyboard

#19147 Fix annepro2/c18:iso_default
  keyboards/annepro2/keymaps/iso_default/config.h
Labels: bug, keymap

#19152 Fix build failures for `bastardkb/tbk` and `jels/boaty`
  keyboards/bastardkb/tbk/tbk.h
  lib/python/qmk/info.py
Labels: bug, keyboard, python, cli

#19080 Change `LED_MATRIX_STARTUP_*` defines to `LED_MATRIX_DEFAULT_*`
  docs/feature_led_matrix.md
  keyboards/input_club/ergodox_infinity/ergodox_infinity.c
  keyboards/input_club/whitefox/whitefox.c
  quantum/led_matrix/led_matrix.c
Labels: enhancement, core, keyboard, documentation, breaking_change_2022q4

#19159 Fixup installation procedure for different Fedora versions.
  util/install/fedora.sh
Labels: core

#19140 Fix encoder_init call order in keyboard_init
  quantum/keyboard.c
Labels: bug, core, breaking_change_2022q4

#19165 Revert lib/usbhost changes
  lib/usbhost/USB_Host_Shield_2.0/SPP.cpp
  lib/usbhost/USB_Host_Shield_2.0/examples/Bluetooth/PS3Multi/PS3Multi.ino
  lib/usbhost/USB_Host_Shield_2.0/examples/Bluetooth/WiiMulti/WiiMulti.ino
  lib/usbhost/USB_Host_Shield_2.0/examples/HID/le3dp/le3dp_rptparser.h
  lib/usbhost/USB_Host_Shield_2.0/examples/HID/scale/scale_rptparser.h
Labels: breaking_change_2022q4

#19166 Fix API errors in handwired/tractyl_manuform/5x6_right/arduinomicro
  keyboards/handwired/tractyl_manuform/5x6_right/arduinomicro/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/arduinomicro/info.json
Labels: keyboard

#19164 2022 Nov 26 changelog.
  data/mappings/info_config.hjson
  docs/ChangeLog/20221126.md
  docs/api_docs.md
  docs/breaking_changes.md
  docs/pr_checklist.md
  readme.md
Labels: documentation

#19135 Add udev rule for the WB32 DFU bootloader
  util/udev/50-qmk.rules
Labels: core

#18920 Add piantor
  keyboards/beekeeb/piantor/config.h
  keyboards/beekeeb/piantor/info.json
  keyboards/beekeeb/piantor/keymaps/default/keymap.c
  keyboards/beekeeb/piantor/readme.md
  keyboards/beekeeb/piantor/rules.mk
Labels: keyboard, keymap

#18817 [Docs] Update reference_info_json.md
  docs/reference_info_json.md
Labels: documentation

#19155 typo
  docs/keycodes.md
Labels: documentation

#18164 new keyboard rb1
  keyboards/ryanbaekr/rb1/config.h
  keyboards/ryanbaekr/rb1/info.json
  keyboards/ryanbaekr/rb1/keymaps/default/keymap.c
  keyboards/ryanbaekr/rb1/keymaps/default/readme.md
  keyboards/ryanbaekr/rb1/readme.md
  keyboards/ryanbaekr/rb1/rules.mk
  keyboards/ryanbaekr/rb69/info.json
  keyboards/ryanbaekr/rb86/info.json
Labels: keyboard, keymap

#17282 Bug17281 - Retain momentary layers until the end of tapping
  quantum/action_tapping.c
  tests/basic/test_tapping.cpp
Labels: core, awaiting review, breaking_change_2023q1

#19172 Update files changed action
  .github/workflows/format.yml
  .github/workflows/lint.yml
Labels: CI

#19193 Fix Czech sendstring LUT
  quantum/keymap_extras/sendstring_czech.h
Labels: bug, core

#19175 [Keymap] Drashna updates for 0.19
  keyboards/bastardkb/charybdis/3x5/keymaps/drashna/config.h
  keyboards/bastardkb/charybdis/3x5/keymaps/drashna/halconf.h
  keyboards/bastardkb/charybdis/3x5/keymaps/drashna/keymap.c
  keyboards/bastardkb/charybdis/3x5/keymaps/drashna/mcuconf.h
  keyboards/bastardkb/charybdis/3x5/keymaps/drashna/rules.mk
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/config.h
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/halconf.h
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/keymap.c
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/mcuconf.h
  keyboards/bastardkb/charybdis/4x6/keymaps/drashna/rules.mk
  keyboards/bastardkb/dilemma/3x5_2/keymaps/drashna/halconf.h
  keyboards/bastardkb/dilemma/3x5_2/keymaps/drashna/keymap.c
  keyboards/bastardkb/dilemma/3x5_2/keymaps/drashna/mcuconf.h
  keyboards/handwired/tractyl_manuform/4x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/keymap.c
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/rules.mk
  keyboards/keebio/iris/keymaps/drashna/config.h
  keyboards/keebio/iris/keymaps/drashna/keymap.c
  keyboards/keebio/iris/keymaps/drashna/rules.mk
  keyboards/keebio/viterbi/keymaps/drashna/keymap.c
  keyboards/keebio/viterbi/keymaps/drashna/rules.mk
  keyboards/orthodox/keymaps/drashna/config.h
  keyboards/orthodox/keymaps/drashna/keymap.c
  keyboards/splitkb/kyria/keymaps/drashna/keymap.c
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/config.h
  layouts/community/ortho_4x12/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/rules.mk
  layouts/community/ortho_5x12/drashna/rules.mk
  layouts/community/split_3x6_3/drashna/chconf.h
  layouts/community/split_3x6_3/drashna/config.h
  layouts/community/split_3x6_3/drashna/halconf.h
  layouts/community/split_3x6_3/drashna/keymap.c
  layouts/community/split_3x6_3/drashna/mcuconf.h
  layouts/community/split_3x6_3/drashna/rules.mk
  users/drashna/bootmagic_better.c
  users/drashna/callbacks.c
  users/drashna/callbacks.h
  users/drashna/callbacks.md
  users/drashna/drashna.c
  users/drashna/keyrecords/process_records.h
  users/drashna/keyrecords/unicode.c
  users/drashna/keyrecords/unicode.h
  users/drashna/oled/oled_stuff.c
  users/drashna/post_config.h
  users/drashna/rgb/rgblight_config.h
  users/drashna/rules.mk
  users/drashna/split/split_config.h
  users/drashna/split/transport_sync.c
Labels: keymap

#19191 Enable bootmagic
  keyboards/work_louder/micro/info.json
Labels: keyboard

#19202 Fix headers in info.json reference
  docs/reference_info_json.md
Labels: bug, documentation

#19201 DD bootmagic config
  data/mappings/info_config.hjson
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
Labels: documentation
