Repository qmk/qmk_firmware, pull requests merged in 2023-08, with the labels that each got.

#21658 Remove layout aliases from keyboard_aliases.hjson
  data/mappings/keyboard_aliases.hjson
  keyboards/coarse/vinta/info.json
  keyboards/doro67/multi/info.json
  keyboards/doro67/regular/info.json
  keyboards/doro67/rgb/info.json
  keyboards/jaykeeb/kamigakushi/info.json
  keyboards/kbdfans/kbd67/mkiirgb/info.json
  keyboards/noxary/268_2/info.json
  lib/python/qmk/commands.py
Labels: keyboard, python, cli

#21655 Keychron Q11 ISO: Fix left Shift breakage due to a wrong matrix mask
  keyboards/keychron/q11/q11.c
Labels: keyboard

#21653 Fix Dynamic Macro Compilation for avr-gcc 5.4.0 + Linux
  quantum/process_keycode/process_dynamic_macro.c
Labels: bug, core

#21630 Automata02 Alisaie Develop Touch-Up
  keyboards/automata02/alisaie/info.json
  keyboards/automata02/alisaie/keymaps/default/keymap.c
  keyboards/automata02/alisaie/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via, breaking_change_2023q3

#21663 [Bug] Fix mouse-key spamming empty reports
  tmk_core/protocol/report.c
Labels: core

#21661 Audio: Don't play the first note of zero-note melodies
  quantum/audio/audio.c
Labels: bug, core

#20521 Adding the Bento Box macropad
  keyboards/synthandkeys/bento_box/bento_box.c
  keyboards/synthandkeys/bento_box/info.json
  keyboards/synthandkeys/bento_box/keymaps/default/keymap.c
  keyboards/synthandkeys/bento_box/readme.md
  keyboards/synthandkeys/bento_box/rules.mk
Labels: keyboard, keymap, pr_checklist_pending

#21676 [Bug] Restore usb suspend wakeup delay
  tmk_core/protocol/chibios/chibios.c
  tmk_core/protocol/chibios/usb_main.c
Labels: bug, core, breaking_change_2023q3

#21680 moondrop/dash75: fix keymap
  keyboards/moondrop/dash75/keymaps/default/keymap.json
  keyboards/moondrop/dash75/keymaps/via/keymap.json
Labels: bug, keymap, configurator, via

#21482 Add PW88 keyboard
  keyboards/pw88/config.h
  keyboards/pw88/info.json
  keyboards/pw88/keymaps/default/keymap.c
  keyboards/pw88/keymaps/via/keymap.c
  keyboards/pw88/keymaps/via/rules.mk
  keyboards/pw88/readme.md
  keyboards/pw88/rules.mk
Labels: keyboard, keymap, via

#21648 Clarify custom keycode enum requirement for PRs
  docs/pr_checklist.md
Labels: documentation

#21649 Add VIA layout for Dactyl Manuform 5x6
  keyboards/handwired/dactyl_manuform/5x6/keymaps/via/keymap.c
  keyboards/handwired/dactyl_manuform/5x6/keymaps/via/rules.mk
Labels: keymap, via

#21682 haptic: further naming cleanups
  docs/feature_haptic_feedback.md
  drivers/haptic/drv2605l.c
  drivers/haptic/drv2605l.h
  keyboards/boston_meetup/2019/config.h
  keyboards/buzzard/keymaps/crehmann/config.h
  keyboards/buzzard/keymaps/crehmann/features/haptic_utils.c
  keyboards/buzzard/keymaps/default/config.h
  keyboards/buzzard/rev1/rev1.c
  keyboards/hadron/ver3/config.h
  keyboards/handwired/swiftrax/bumblebee/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/bumblebee/keymaps/via/keymap.c
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/config.h
  keyboards/hillside/46/0_1/config.h
  keyboards/hillside/48/0_1/config.h
  keyboards/hillside/52/0_1/config.h
  keyboards/pearlboards/atlas/config.h
  keyboards/pearlboards/pearl/config.h
  keyboards/pearlboards/zeus/config.h
  keyboards/splitkb/zima/config.h
  layouts/community/ortho_4x12/drashna/config.h
  quantum/haptic.c
Labels: enhancement, core, keyboard, keymap, documentation, via

#21694 Contributing docs: add note to make sure repo is up to date
  docs/contributing.md
Labels: enhancement, documentation

#21701 Fix `binepad/bn009` and `durgod/dgk6x/hades_ansi` keymaps
  keyboards/binepad/bn009/keymaps/default/keymap.json
  keyboards/binepad/bn009/keymaps/via/keymap.json
  keyboards/durgod/dgk6x/hades_ansi/keymaps/default/keymap.json
  keyboards/durgod/dgk6x/hades_ansi/keymaps/via/keymap.json
Labels: bug, keymap, via

#21704 doio/kb38: fix layout
  keyboards/doio/kb38/info.json
  keyboards/doio/kb38/keymaps/default/keymap.c
Labels: bug, keyboard, keymap

#21709 Remove more legacy config.h options
  keyboards/latincompass/latin47ble/config.h
  keyboards/latincompass/latin64ble/config.h
  keyboards/lily58/r2g/config.h
  keyboards/spaceman/pancake/rev1/feather/config.h
  keyboards/tokyokeyboard/alix40/config.h
  keyboards/yandrstudio/nz64/config.h
Labels: keyboard

#21718 Tidy up encoder in matrix references
  keyboards/meletrix/zoom65/config.h
  keyboards/takashicompany/spreadwriter/keymaps/via/config.h
  keyboards/wekey/we27/config.h
  keyboards/winry/winry315/config.h
  keyboards/wuque/serneity65/config.h
Labels: keyboard, keymap, via

#21462 Update usb.* of `dactyl_lightcycle`
  keyboards/handwired/dactyl_lightcycle/info.json
Labels: keyboard

#21277 add laneware `raindrop` keyboard
  keyboards/raindrop/config.h
  keyboards/raindrop/info.json
  keyboards/raindrop/keymaps/arrows/keymap.c
  keyboards/raindrop/keymaps/default/keymap.c
  keyboards/raindrop/keymaps/hhkb/keymap.c
  keyboards/raindrop/readme.md
  keyboards/raindrop/rules.mk
Labels: keyboard, keymap

#21520 ADD keyboard Projectd/65/Projectd_65_ ansi
  keyboards/projectd/65/projectd_65_ansi/config.h
  keyboards/projectd/65/projectd_65_ansi/halconf.h
  keyboards/projectd/65/projectd_65_ansi/info.json
  keyboards/projectd/65/projectd_65_ansi/keymaps/default/keymap.c
  keyboards/projectd/65/projectd_65_ansi/keymaps/via/keymap.c
  keyboards/projectd/65/projectd_65_ansi/keymaps/via/rules.mk
  keyboards/projectd/65/projectd_65_ansi/mcuconf.h
  keyboards/projectd/65/projectd_65_ansi/projectd_65_ansi.c
  keyboards/projectd/65/projectd_65_ansi/readme.md
  keyboards/projectd/65/projectd_65_ansi/rules.mk
Labels: keyboard, keymap, via

#21675 [Keymap] Add Via keymap for CXT Studio
  keyboards/cxt_studio/info.json
  keyboards/cxt_studio/keymaps/via/keymap.c
  keyboards/cxt_studio/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#21629 json-like for nemui65
  keyboards/wuque/nemui65/info.json
Labels: keyboard

#21666 Update `usb.`* for `dactyl_maximus`
  keyboards/handwired/dactyl_maximus/info.json
Labels: keyboard

#19797 Add mk47 keyboard.
  keyboards/inland/mk47/config.h
  keyboards/inland/mk47/halconf.h
  keyboards/inland/mk47/info.json
  keyboards/inland/mk47/keymaps/default/keymap.c
  keyboards/inland/mk47/keymaps/inland/keymap.c
  keyboards/inland/mk47/keymaps/inland/rules.mk
  keyboards/inland/mk47/keymaps/via/keymap.c
  keyboards/inland/mk47/keymaps/via/rules.mk
  keyboards/inland/mk47/mcuconf.h
  keyboards/inland/mk47/mk47.c
  keyboards/inland/mk47/readme.md
  keyboards/inland/mk47/rules.mk
Labels: invalid, keyboard, keymap, via

#21631 [hotfix] correct keymap file name for `tkl_f13_jis` layout
  layouts/default/tkl_f13_jis/default_tkl_f13_jis/keymap.c
Labels: keymap

#21644 Refactoring entirely Caticorn PCB
  keyboards/horrortroll/caticorn/rev1/hotswap/info.json
  keyboards/horrortroll/caticorn/rev1/hotswap/keymaps/default/keymap.c
  keyboards/horrortroll/caticorn/rev1/hotswap/keymaps/via/config.h
  keyboards/horrortroll/caticorn/rev1/hotswap/keymaps/via/keymap.c
  keyboards/horrortroll/caticorn/rev1/hotswap/readme.md
  keyboards/horrortroll/caticorn/rev1/hotswap/rules.mk
  keyboards/horrortroll/caticorn/rev1/solder/info.json
  keyboards/horrortroll/caticorn/rev1/solder/keymaps/default/keymap.c
  keyboards/horrortroll/caticorn/rev1/solder/keymaps/via/config.h
  keyboards/horrortroll/caticorn/rev1/solder/keymaps/via/keymap.c
  keyboards/horrortroll/caticorn/rev1/solder/readme.md
  keyboards/horrortroll/caticorn/rev1/solder/rules.mk
Labels: keyboard, keymap, via

#21614 Kintwin controller for kinesis keyboard, split layout
  keyboards/kinesis/alvicstep/alvicstep.c
  keyboards/kinesis/alvicstep/alvicstep.h
  keyboards/kinesis/alvicstep/config.h
  keyboards/kinesis/alvicstep/info.json
  keyboards/kinesis/keymaps/alvicstep/keymap.c
  keyboards/kinesis/keymaps/alvicstep/readme.md
  keyboards/kinesis/keymaps/default/keymap.c
  keyboards/kinesis/keymaps/dvorak/keymap.c
  keyboards/kinesis/keymaps/dvorak_nguyenvietyen/keymap.c
  keyboards/kinesis/keymaps/insertsnideremarks/keymap.c
  keyboards/kinesis/keymaps/tuesdayjohn/keymap.c
  keyboards/kinesis/keymaps/tw1t611/keymap.c
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/kint2pp/info.json
  keyboards/kinesis/kint36/info.json
  keyboards/kinesis/kint41/info.json
  keyboards/kinesis/kintlc/info.json
  keyboards/kinesis/kintwin/info.json
  keyboards/kinesis/kintwin/kintwin.c
  keyboards/kinesis/kintwin/readme.md
  keyboards/kinesis/kintwin/rules.mk
  keyboards/kinesis/nguyenvietyen/config.h
  keyboards/kinesis/nguyenvietyen/info.json
  keyboards/kinesis/nguyenvietyen/matrix.c
  keyboards/kinesis/nguyenvietyen/rules.mk
  keyboards/kinesis/readme.md
  keyboards/kinesis/rules.mk
  keyboards/kinesis/stapelberg/config.h
  keyboards/kinesis/stapelberg/info.json
Labels: keyboard, keymap

#21752 Fix `keyboard` field for some JSON keymaps
  keyboards/clueboard/2x1800/2021/keymaps/default/keymap.json
  keyboards/durgod/k320/keymaps/default_mac/keymap.json
  keyboards/handwired/pytest/macro/keymaps/default/keymap.json
  keyboards/jacky_studio/piggy60/keymaps/via/keymap.json
  keyboards/splitkb/aurora/sofle_v2/keymaps/default/keymap.json
Labels: bug, keymap, via

#21733 add shostudio arc pcb
  keyboards/shostudio/arc/info.json
  keyboards/shostudio/arc/keymaps/default/keymap.c
  keyboards/shostudio/arc/keymaps/via/keymap.c
  keyboards/shostudio/arc/keymaps/via/rules.mk
  keyboards/shostudio/arc/readme.md
  keyboards/shostudio/arc/rules.mk
Labels: keyboard, keymap, via

#21674 Update personal keymap
  keyboards/crkbd/keymaps/rpbaptist/config.h
  keyboards/crkbd/keymaps/rpbaptist/glcdfont.c
  keyboards/crkbd/keymaps/rpbaptist/glcdfont_godspeed.c
  keyboards/crkbd/keymaps/rpbaptist/glcdfont_laser.c
  keyboards/crkbd/keymaps/rpbaptist/glcdfont_multi.c
  keyboards/crkbd/keymaps/rpbaptist/glcdfont_pulse.c
  keyboards/crkbd/keymaps/rpbaptist/keymap.c
  keyboards/crkbd/keymaps/rpbaptist/oled.c
  keyboards/crkbd/keymaps/rpbaptist/oled.h
  keyboards/crkbd/keymaps/rpbaptist/readme.md
  keyboards/crkbd/keymaps/rpbaptist/rgb.c
  keyboards/crkbd/keymaps/rpbaptist/rgb.h
  keyboards/crkbd/keymaps/rpbaptist/rpbaptist.h
  keyboards/crkbd/keymaps/rpbaptist/rules.mk
Labels: keymap

#21668 [Keymap] Update andrebrait keymap for GMMK Pro
  keyboards/gmmk/pro/rev1/ansi/keymaps/andrebrait/config.h
  keyboards/gmmk/pro/rev1/ansi/keymaps/andrebrait/keymap.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/andrebrait/rules.mk
Labels: keymap

#21619 [Keymap] submitting janat-t planck keymap
  keyboards/planck/keymaps/janat-t/config.h
  keyboards/planck/keymaps/janat-t/keymap.c
  keyboards/planck/keymaps/janat-t/readme.md
  keyboards/planck/keymaps/janat-t/rules.mk
Labels: keymap

#21560 [keyboard]Graystudio Think6.5 V3 Support Revised
  keyboards/gray_studio/think65v3/config.h
  keyboards/gray_studio/think65v3/info.json
  keyboards/gray_studio/think65v3/keymaps/default/keymap.c
  keyboards/gray_studio/think65v3/keymaps/via/keymap.c
  keyboards/gray_studio/think65v3/keymaps/via/rules.mk
  keyboards/gray_studio/think65v3/readme.md
  keyboards/gray_studio/think65v3/rules.mk
  keyboards/gray_studio/think65v3/think65v3.c
Labels: keyboard, keymap, via

#21708 Remove invalid config option
  keyboards/kikoslab/kl90/config.h
Labels: keyboard

#21699 [Keyboard] Add Chouchou keyboard
  keyboards/chouchou/config.h
  keyboards/chouchou/info.json
  keyboards/chouchou/keymaps/default/keymap.c
  keyboards/chouchou/readme.md
  keyboards/chouchou/rules.mk
Labels: keyboard, keymap

#21612 Update `usb.`* for dactyl_cc
  keyboards/handwired/dactyl_cc/info.json
Labels: keyboard

#21558 rgblight: driver selection cleanups
  builddefs/common_features.mk
  builddefs/show_options.mk
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  docs/feature_rgblight.md
  keyboards/capsunlocked/cu75/info.json
  keyboards/capsunlocked/cu75/keymaps/default/rules.mk
  keyboards/capsunlocked/cu75/keymaps/iso/rules.mk
  keyboards/handwired/onekey/keymaps/apa102/rules.mk
  keyboards/handwired/uthol/rev2/rules.mk
  keyboards/handwired/uthol/rev3/rules.mk
  keyboards/kprepublic/jj40/keymaps/fun40/rules.mk
  keyboards/kprepublic/jj40/keymaps/waples/rules.mk
  keyboards/lfkeyboards/lfk78/keymaps/ca178858/rules.mk
  keyboards/lfkeyboards/lfk78/revb/info.json
  keyboards/lfkeyboards/lfk78/revc/info.json
  keyboards/lfkeyboards/lfk78/revj/info.json
  keyboards/lfkeyboards/lfk78/rules.mk
  keyboards/lfkeyboards/lfk87/info.json
  keyboards/lfkeyboards/lfk87/keymaps/ca178858/rules.mk
  keyboards/lfkeyboards/lfk87/keymaps/default/rules.mk
  keyboards/lfkeyboards/lfk87/keymaps/gbchk/rules.mk
  keyboards/lfkeyboards/lfk87/keymaps/iso/rules.mk
  keyboards/lfkeyboards/lfk87/rules.mk
  keyboards/lfkeyboards/lfkpad/info.json
  keyboards/lfkeyboards/lfkpad/rules.mk
  keyboards/lfkeyboards/mini1800/info.json
  keyboards/lfkeyboards/mini1800/reva/rules.mk
  keyboards/lfkeyboards/mini1800/revc/rules.mk
  keyboards/lfkeyboards/smk65/revb/info.json
  keyboards/lfkeyboards/smk65/revb/rules.mk
  keyboards/lfkeyboards/smk65/revf/info.json
  keyboards/lfkeyboards/smk65/revf/rules.mk
  keyboards/matrix/noah/info.json
  keyboards/matrix/noah/rules.mk
  keyboards/pearl/keymaps/cijanzen/rules.mk
  keyboards/prototypist/oceanographer/rules.mk
  keyboards/v60_type_r/info.json
  keyboards/v60_type_r/keymaps/ifohancroft/readme.md
  keyboards/v60_type_r/keymaps/ifohancroft/rules.mk
  keyboards/v60_type_r/rules.mk
  keyboards/yandrstudio/buff67v3/rules.mk
  layouts/community/60_iso/unxmaal/rules.mk
Labels: enhancement, core, keyboard, keymap, documentation, breaking_change_2023q3

#21714 [Keyboard] add willoucom/keypad
  keyboards/willoucom/keypad/info.json
  keyboards/willoucom/keypad/keymaps/default/keymap.json
  keyboards/willoucom/keypad/keymaps/via/keymap.json
  keyboards/willoucom/keypad/readme.md
  keyboards/willoucom/keypad/rules.mk
Labels: keyboard, keymap, via

#20944 Add ScottoErgo Keyboard
  keyboards/handwired/scottokeebs/scottoergo/info.json
  keyboards/handwired/scottokeebs/scottoergo/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottoergo/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottoergo/keymaps/scotto/config.h
  keyboards/handwired/scottokeebs/scottoergo/keymaps/scotto/keymap.c
  keyboards/handwired/scottokeebs/scottoergo/keymaps/scotto/rules.mk
  keyboards/handwired/scottokeebs/scottoergo/readme.md
  keyboards/handwired/scottokeebs/scottoergo/rules.mk
Labels: keyboard, keymap

#20943 Add Scotto34 Keyboard
  keyboards/handwired/scottokeebs/scotto34/info.json
  keyboards/handwired/scottokeebs/scotto34/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scotto34/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scotto34/keymaps/scotto/config.h
  keyboards/handwired/scottokeebs/scotto34/keymaps/scotto/keymap.c
  keyboards/handwired/scottokeebs/scotto34/keymaps/scotto/rules.mk
  keyboards/handwired/scottokeebs/scotto34/readme.md
  keyboards/handwired/scottokeebs/scotto34/rules.mk
Labels: keyboard, keymap

#20941 Add ScottoInvader Keyboard
  keyboards/handwired/scottokeebs/scottoinvader/info.json
  keyboards/handwired/scottokeebs/scottoinvader/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottoinvader/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottoinvader/keymaps/scotto/config.h
  keyboards/handwired/scottokeebs/scottoinvader/keymaps/scotto/keymap.c
  keyboards/handwired/scottokeebs/scottoinvader/keymaps/scotto/rules.mk
  keyboards/handwired/scottokeebs/scottoinvader/readme.md
  keyboards/handwired/scottokeebs/scottoinvader/rules.mk
Labels: keyboard, keymap

#21761 coarse/cordillera: fix backlight config
  keyboards/coarse/cordillera/config.h
Labels: bug, keyboard

#21737 The PoweredByPorridge layout for the Keyboardio Atreus
  keyboards/keyboardio/atreus/keymaps/poweredbyporridge/config.h
  keyboards/keyboardio/atreus/keymaps/poweredbyporridge/keymap.c
  keyboards/keyboardio/atreus/keymaps/poweredbyporridge/readme.md
  keyboards/keyboardio/atreus/keymaps/poweredbyporridge/rules.mk
Labels: keymap

#21751 feat: add squigglybob splitkb kyria rev2 keymap
  keyboards/splitkb/kyria/keymaps/squigglybob/config.h
  keyboards/splitkb/kyria/keymaps/squigglybob/keymap.c
  keyboards/splitkb/kyria/keymaps/squigglybob/rules.mk
Labels: keymap

#21773 [Bug] Fix compilation error for APA on ChibiOS
  drivers/led/apa102.c
Labels: bug, core

#21003 Adding support for TAN67 PCB
  keyboards/pangorin/tan67/config.h
  keyboards/pangorin/tan67/info.json
  keyboards/pangorin/tan67/keymaps/default/keymap.c
  keyboards/pangorin/tan67/keymaps/via/keymap.c
  keyboards/pangorin/tan67/keymaps/via/rules.mk
  keyboards/pangorin/tan67/readme.md
  keyboards/pangorin/tan67/rules.mk
  keyboards/pangorin/tan67/tan67.c
Labels: on hold, keyboard, keymap, via

#21407 Add Jelly Evolv Keyboard files, Thanks!
  keyboards/owlab/jelly_evolv/config.h
  keyboards/owlab/jelly_evolv/hotswap/625u/info.json
  keyboards/owlab/jelly_evolv/hotswap/625u/keymaps/default/keymap.c
  keyboards/owlab/jelly_evolv/hotswap/625u/keymaps/via/keymap.c
  keyboards/owlab/jelly_evolv/hotswap/625u/keymaps/via/rules.mk
  keyboards/owlab/jelly_evolv/hotswap/625u/readme.md
  keyboards/owlab/jelly_evolv/hotswap/625u/rules.mk
  keyboards/owlab/jelly_evolv/hotswap/7u/info.json
  keyboards/owlab/jelly_evolv/hotswap/7u/keymaps/default/keymap.c
  keyboards/owlab/jelly_evolv/hotswap/7u/keymaps/via/keymap.c
  keyboards/owlab/jelly_evolv/hotswap/7u/keymaps/via/rules.mk
  keyboards/owlab/jelly_evolv/hotswap/7u/readme.md
  keyboards/owlab/jelly_evolv/hotswap/7u/rules.mk
  keyboards/owlab/jelly_evolv/info.json
  keyboards/owlab/jelly_evolv/ld/STM32F103x8_0x08006000_bootloader.ld
  keyboards/owlab/jelly_evolv/solder/info.json
  keyboards/owlab/jelly_evolv/solder/keymaps/default/keymap.c
  keyboards/owlab/jelly_evolv/solder/keymaps/via/keymap.c
  keyboards/owlab/jelly_evolv/solder/keymaps/via/rules.mk
  keyboards/owlab/jelly_evolv/solder/readme.md
  keyboards/owlab/jelly_evolv/solder/rules.mk
Labels: keyboard, keymap, via

#20794 add linworks favepada
  keyboards/linworks/favepada/config.h
  keyboards/linworks/favepada/info.json
  keyboards/linworks/favepada/keymaps/default/keymap.c
  keyboards/linworks/favepada/keymaps/via/keymap.c
  keyboards/linworks/favepada/keymaps/via/rules.mk
  keyboards/linworks/favepada/readme.md
  keyboards/linworks/favepada/rules.mk
Labels: keyboard, keymap, via

#21754 Initial support for ALT v2
  keyboards/drop/alt/keymaps/default/keymap.c
  keyboards/drop/alt/keymaps/via/config.h
  keyboards/drop/alt/keymaps/via/keymap.c
  keyboards/drop/alt/keymaps/via/rules.mk
  keyboards/drop/alt/v2/board.h
  keyboards/drop/alt/v2/config.h
  keyboards/drop/alt/v2/halconf.h
  keyboards/drop/alt/v2/info.json
  keyboards/drop/alt/v2/mcuconf.h
  keyboards/drop/alt/v2/readme.md
  keyboards/drop/alt/v2/rules.mk
  keyboards/drop/alt/v2/v2.c
  keyboards/drop/lib/common.c
  keyboards/drop/lib/mux.c
Labels: keyboard, keymap, via

#21757 Align SENSE75 with recent Drop additions
  keyboards/drop/lib/common.c
  keyboards/drop/sense75/config.h
  keyboards/drop/sense75/info.json
  keyboards/drop/sense75/keymaps/default/keymap.c
  keyboards/drop/sense75/keymaps/default_md/keymap.c
  keyboards/drop/sense75/keymaps/via/keymap.c
  keyboards/drop/sense75/rules.mk
  keyboards/drop/sense75/sense75.c
Labels: keyboard, keymap, via

#21800 Fix drop/shift/v2 compilation
  keyboards/drop/shift/v2/v2.c
Labels: bug, keyboard

#21727 [Keyboard] Add city42
  keyboards/controllerworks/city42/config.h
  keyboards/controllerworks/city42/info.json
  keyboards/controllerworks/city42/keymaps/default/keymap.c
  keyboards/controllerworks/city42/keymaps/via/keymap.c
  keyboards/controllerworks/city42/keymaps/via/rules.mk
  keyboards/controllerworks/city42/readme.md
  keyboards/controllerworks/city42/rules.mk
Labels: keyboard, keymap, via

#21792 fix: restore rgb matrix indicators to jellybean_raindrops animation
  quantum/rgb_matrix/animations/jellybean_raindrops_anim.h
Labels: bug, core

#21703 Simplfy RGB/LED matrix effect logic
  builddefs/common_features.mk
  docs/feature_led_matrix.md
  docs/feature_rgb_matrix.md
  keyboards/boardsource/technik_o/config.h
  keyboards/boardsource/technik_s/config.h
  keyboards/crkbd/r2g/config.h
  keyboards/dp60/config.h
  keyboards/dztech/dz60rgb_ansi/v2_1/config.h
  keyboards/ergodox_ez/config.h
  keyboards/evyd13/atom47/rev5/config.h
  keyboards/inett_studio/sqx/hotswap/config.h
  keyboards/inett_studio/sqx/universal/config.h
  keyboards/keyboardio/model01/config.h
  keyboards/kprepublic/bm60hsrgb_ec/rev2/config.h
  keyboards/latincompass/latinpad/config.h
  keyboards/percent/canoe_gen2/config.h
  keyboards/synthlabs/060/config.h
  keyboards/work_louder/work_board/config.h
  keyboards/xelus/dawn60/rev1_qmk/config.h
  keyboards/xelus/la_plus/config.h
  quantum/led_matrix/post_config.h
  quantum/rgb_matrix/post_config.h
Labels: enhancement, core, keyboard, documentation

#21815 Fix keyboards with old RGB driver names
  keyboards/controllerworks/city42/info.json
  keyboards/drop/alt/v2/info.json
  keyboards/drop/ctrl/v2/info.json
  keyboards/drop/shift/v2/info.json
  keyboards/inland/mk47/info.json
  keyboards/keebio/nyquistpad/info.json
  keyboards/linworks/fave60a/info.json
  keyboards/linworks/favepada/info.json
  keyboards/monsgeek/m1/info.json
  keyboards/pangorin/tan67/info.json
  keyboards/projectd/65/projectd_65_ansi/info.json
Labels: bug, keyboard

#21787 [Doc] Improve magic keycode section
  docs/squeezing_avr.md
Labels: documentation

#21817 Fix keyboards with old RGB driver names
  keyboards/splitkb/aurora/sofle_v2/rev1/info.json
Labels: bug, keyboard

#21805 keychron/c2_pro/ansi/white: Fix column 19 in the custom matrix
  keyboards/keychron/c2_pro/config.h
  keyboards/keychron/c2_pro/matrix.c
Labels: bug, keyboard

#21819 Fix infinite recursion in lxxt encoder logic
  keyboards/lxxt/lxxt.c
Labels: bug, keyboard

#21798 Generalize AVR -Werror=array-bounds workaround
  platforms/avr/platform.mk
Labels: bug, core

#21827 Remove `led_matrix.hue_steps` and `led_matrix.sat_steps` from schema
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
Labels: bug

#21842 Add "apm32-dfu" in keyboard.jsonschema
  data/schemas/keyboard.jsonschema
Labels: bug, core

#21839 Docs - corrected duration example, should be number not string
  docs/feature_macros.md
Labels: bug, documentation

#21324 Rework info.json reference
  docs/reference_info_json.md
Labels: enhancement, documentation, breaking_change_2023q3

#21830 Revert changes to ChibiOS Suspend Code
  platforms/chibios/boards/GENERIC_WB32_F3G71XX/board/board.c
  platforms/chibios/boards/GENERIC_WB32_FQ95XX/board/board.c
  platforms/chibios/boards/IC_TEENSY_3_1/board/board.c
  platforms/chibios/boards/PJRC_TEENSY_3_5/board/board.mk
  platforms/chibios/boards/PJRC_TEENSY_3_5/board/extra.c
  platforms/chibios/boards/PJRC_TEENSY_3_6/board/board.mk
  platforms/chibios/boards/PJRC_TEENSY_3_6/board/extra.c
  platforms/chibios/suspend.c
  tmk_core/protocol/chibios/chibios.c
  tmk_core/protocol/chibios/usb_main.c
Labels: bug, core

#21110 Add *_MATRIX_LED_COUNT generation
  data/mappings/info_config.hjson
  lib/python/qmk/cli/info.py
  lib/python/qmk/info.py
Labels: python, cli, breaking_change_2023q3

#21659 Unicode, Unicodemap and UCIS refactor
  Makefile
  builddefs/common_features.mk
  docs/feature_unicode.md
  keyboards/spaceman/2_milk/keymaps/emoji/keymap.c
  quantum/process_keycode/process_ucis.c
  quantum/process_keycode/process_ucis.h
  quantum/process_keycode/process_unicode.c
  quantum/process_keycode/process_unicode.h
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicode_common.h
  quantum/process_keycode/process_unicodemap.c
  quantum/process_keycode/process_unicodemap.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes_legacy.h
  quantum/unicode/ucis.c
  quantum/unicode/ucis.h
  quantum/unicode/unicode.c
  quantum/unicode/unicode.h
  quantum/unicode/unicodemap.c
  quantum/unicode/unicodemap.h
  tests/test_common/test_driver.cpp
  tests/unicode/config.h
  tests/unicode/test.mk
  tests/unicode/test_unicode.cpp
  tests/unicode/unicode_basic/config.h
  tests/unicode/unicode_basic/test.mk
  tests/unicode/unicode_basic/test_unicode_basic.cpp
  tests/unicode/unicode_map/config.h
  tests/unicode/unicode_map/test.mk
  tests/unicode/unicode_map/test_unicode_map.cpp
  tests/unicode/unicode_ucis/config.h
  tests/unicode/unicode_ucis/test.mk
  tests/unicode/unicode_ucis/test_unicode_ucis.cpp
Labels: bug, enhancement, core, keymap, documentation, breaking_change_2023q3

#21849 Clean up Unicode API usage in user keymaps
  keyboards/input_club/ergodox_infinity/keymaps/not-quite-neo/keymap.c
  keyboards/planck/keymaps/rootiest/keymap.c
  users/romus/romus.c
  users/rupa/unicode.c
  users/spidey3/spidey3.c
Labels: enhancement, keymap

#21848 Breaking changes changelog, 2023q3 version
  docs/ChangeLog/20230827.md
  docs/_summary.md
  docs/breaking_changes.md
  docs/breaking_changes_history.md
  docs/contributing.md
  docs/pr_checklist.md
  docs/reference_glossary.md
Labels: documentation, breaking_change_2023q3

#21813 fix 60_hhkb ASCII diagram
  layouts/default/60_hhkb/default_60_hhkb/keymap.c
Labels: keymap

#21851 chore(ferris/test): visually format keymap
  keyboards/ferris/keymaps/test/keymap.c
Labels: keymap

#21820 [Hotfix] fix 60_jis keymap.c
  layouts/default/60_jis/default_60_jis/keymap.c
Labels: keymap

#21868 Fix invalid encoder_map declaration
  keyboards/chosfox/cf81/keymaps/default/keymap.c
  keyboards/chosfox/cf81/keymaps/via/keymap.c
Labels: keymap, via

#21469 Update keymap.c to add encoder
  keyboards/macro1/keymaps/default/keymap.c
Labels: keymap

#21823 Added timeout option for OLED boot logo.
  keyboards/doio/kb16/kb16.c
Labels: keyboard

#21869 Revert "fix 60_hhkb ASCII diagram"
  layouts/default/60_hhkb/default_60_hhkb/keymap.c
Labels: keymap

#21597 [keyboard] add sweeq, a ferris/sweep variant with diodes
  keyboards/idank/sweeq/config.h
  keyboards/idank/sweeq/info.json
  keyboards/idank/sweeq/keymaps/default/config.h
  keyboards/idank/sweeq/keymaps/default/keymap.json
  keyboards/idank/sweeq/keymaps/default/readme.md
  keyboards/idank/sweeq/keymaps/via/config.h
  keyboards/idank/sweeq/keymaps/via/keymap.c
  keyboards/idank/sweeq/keymaps/via/rules.mk
  keyboards/idank/sweeq/readme.md
  keyboards/idank/sweeq/rules.mk
Labels: keyboard, keymap, via

#21861 is31fl3741: Allow changing config register
  drivers/led/issi/is31fl3741.c
Labels: core

#21854 Update macOS install script
  util/install/macos.sh
Labels: enhancement, core
