Repository qmk/qmk_firmware, pull requests merged in 2023-06, with the labels that each got.

#20990 z12 zigotica keymap tweaks
  keyboards/z12/keymaps/zigotica/keymap.c
  keyboards/z12/keymaps/zigotica/oled.c
Labels: keymap

#21034 Added lightweight65 keyboard
  keyboards/holyswitch/lightweight65/info.json
  keyboards/holyswitch/lightweight65/keymaps/default/keymap.c
  keyboards/holyswitch/lightweight65/keymaps/via/keymap.c
  keyboards/holyswitch/lightweight65/keymaps/via/rules.mk
  keyboards/holyswitch/lightweight65/readme.md
  keyboards/holyswitch/lightweight65/rules.mk
Labels: keyboard, keymap, via

#21092 Unicodemap keycodes rename
  docs/feature_unicode.md
  docs/getting_started_make_guide.md
  docs/keycodes.md
  keyboards/a_dux/keymaps/daliusd/keymap.c
  keyboards/abacus/keymaps/unicodemap/keymap.c
  keyboards/atreus/keymaps/ridingqwerty/keymap.c
  keyboards/contra/keymaps/bramver/README.md
  keyboards/contra/keymaps/bramver/keymap.c
  keyboards/converter/ibm_terminal/keymaps/priyadi/keymap.c
  keyboards/durgod/k320/keymaps/kuenhlee/keymap.c
  keyboards/dztech/dz65rgb/keymaps/catrielmuller/keymap.c
  keyboards/gh60/satan/keymaps/addcninblue/rules.mk
  keyboards/handwired/minorca/keymaps/ridingqwerty/keymap.c
  keyboards/handwired/promethium/keymaps/default/keymap.c
  keyboards/handwired/promethium/keymaps/priyadi/keymap.c
  keyboards/handwired/t111/keymaps/oleg/keymap.c
  keyboards/handwired/wulkan/keymaps/default/keymap.c
  keyboards/hidtech/bastyl/keymaps/nstickney/keymap.c
  keyboards/keebio/iris/keymaps/nstickney/keymap.c
  keyboards/keebio/nyquist/keymaps/bramver/keymap.c
  keyboards/keebio/quefrency/keymaps/bramver/README.md
  keyboards/keebio/quefrency/keymaps/bramver/keymap.c
  keyboards/keychron/q1/iso/keymaps/victorsavu3/keymap.c
  keyboards/ktec/ergodone/keymaps/vega/keymap.c
  keyboards/massdrop/alt/keymaps/charlesrocket/keymap.c
  keyboards/mlego/m65/keymaps/uk/keymap.c
  keyboards/planck/keymaps/mwpeterson/keymap.c
  keyboards/planck/keymaps/zach/zach_common_functions.c
  keyboards/preonic/keymaps/zach/zach_common_functions.c
  keyboards/reviung/reviung41/keymaps/ciutadellla/keymap.c
  keyboards/signum/3_0/keymaps/default/generate_km.py
  keyboards/signum/3_0/keymaps/default/layout.py
  keyboards/splitkb/kyria/keymaps/lw/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/josjoha/unicode_macros.c
  keyboards/xiudi/xd75/keymaps/bramver/keymap.c
  keyboards/xiudi/xd75/keymaps/bramver/readme.md
  keyboards/xiudi/xd75/keymaps/minna/keymap.c
  layouts/community/60_iso/bifbofii/keymap.c
  layouts/community/65_ansi_blocker/spidey3/keymap.c
  layouts/community/75_ansi/spidey3/keymap.c
  layouts/community/ortho_4x12/bifbofii/keymap.c
  quantum/quantum_keycodes.h
  quantum/quantum_keycodes_legacy.h
  tests/caps_word/caps_word_unicodemap/test_caps_word_unicodemap.cpp
  users/konstantin/unicode.h
  users/kuchosauronad0/unicode.h
  users/kuchosauronad0/wrappers.h
  users/ridingqwerty/unicode.h
  users/rmeli/keyrecords/unicode.h
  users/rupa/wrappers.h
  users/spidey3/spidey3_unicode.h
  users/turbomech/turbomech.c
  users/yet-another-developer/unicode.h
  users/yet-another-developer/wrappers.h
Labels: enhancement, core, keymap, documentation, python

#19515 Add *_MATRIX_LED_COUNT generation/validation
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  lib/python/qmk/info.py
Labels: python, cli

#21109 Revert "Add *_MATRIX_LED_COUNT generation/validation"
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  lib/python/qmk/info.py
Labels: python, cli

#21051 [keyboard] Phoenix
  keyboards/cablecardesigns/phoenix/info.json
  keyboards/cablecardesigns/phoenix/keymaps/default/keymap.c
  keyboards/cablecardesigns/phoenix/keymaps/via/keymap.c
  keyboards/cablecardesigns/phoenix/keymaps/via/rules.mk
  keyboards/cablecardesigns/phoenix/phoenix.c
  keyboards/cablecardesigns/phoenix/readme.md
  keyboards/cablecardesigns/phoenix/rules.mk
Labels: keyboard, keymap, via

#21115 platfoms: chibios: wait: only define the frequency
  platforms/chibios/wait.c
Labels: core

#21108 [Core] Add a dynamic_macro_stop_recording(void) function.
  quantum/process_keycode/process_dynamic_macro.c
  quantum/process_keycode/process_dynamic_macro.h
Labels: core

#21022 Update `layouts/default`
  layouts/default/readme.md
  layouts/default/split_3x5_2/layout.json
Labels: keymap

#21043 [Keyboard] Add the Zed65 rev.1 PCB
  keyboards/mechlovin/zed65/info.json
  keyboards/mechlovin/zed65/rev1/config.h
  keyboards/mechlovin/zed65/rev1/halconf.h
  keyboards/mechlovin/zed65/rev1/info.json
  keyboards/mechlovin/zed65/rev1/keymaps/default/keymap.c
  keyboards/mechlovin/zed65/rev1/keymaps/via/keymap.c
  keyboards/mechlovin/zed65/rev1/keymaps/via/rules.mk
  keyboards/mechlovin/zed65/rev1/mcuconf.h
  keyboards/mechlovin/zed65/rev1/readme.md
  keyboards/mechlovin/zed65/rev1/rules.mk
  keyboards/mechlovin/zed65/rules.mk
Labels: keyboard, keymap, via

#21119 Add Churrosoft Deck-8 and RGB variant.
  keyboards/churrosoft/deck8/info.json
  keyboards/churrosoft/deck8/keymaps/default/keymap.c
  keyboards/churrosoft/deck8/keymaps/via/keymap.c
  keyboards/churrosoft/deck8/keymaps/via/rules.mk
  keyboards/churrosoft/deck8/noleds/readme.md
  keyboards/churrosoft/deck8/noleds/rules.mk
  keyboards/churrosoft/deck8/rgb/config.h
  keyboards/churrosoft/deck8/rgb/info.json
  keyboards/churrosoft/deck8/rgb/readme.md
  keyboards/churrosoft/deck8/rgb/rules.mk
Labels: keyboard, keymap, via

#21118 Added new keyboard: Andean Condor
  keyboards/andean_condor/info.json
  keyboards/andean_condor/keymaps/default/keymap.c
  keyboards/andean_condor/readme.md
  keyboards/andean_condor/rules.mk
Labels: keyboard, keymap

#21122 [Keyboard] Zed65 Rev.1 - Update info.json
  keyboards/mechlovin/zed65/rev1/info.json
Labels: keyboard

#21116 [Enhancement] Decouple autocorrect logic
  quantum/process_keycode/process_autocorrect.c
  quantum/process_keycode/process_autocorrect.h
Labels: core

#21126 Fix USB PIDs on Churrosoft Deck-8
  keyboards/churrosoft/deck8/info.json
  keyboards/churrosoft/deck8/noleds/info.json
Labels: keyboard

#21086 Remove quantum/keymap.h
  quantum/keymap.h
Labels: optimization, core

#21125 Fixed errors in E80 1800 layouts
  keyboards/ebastler/e80_1800/info.json
Labels: bug, keyboard

#21100 [Keyboard] Add soda/mango
  keyboards/soda/mango/info.json
  keyboards/soda/mango/keymaps/default/keymap.c
  keyboards/soda/mango/keymaps/via/keymap.c
  keyboards/soda/mango/keymaps/via/rules.mk
  keyboards/soda/mango/readme.md
  keyboards/soda/mango/rules.mk
Labels: keyboard, keymap, via

#21131 add kibou/harbour
  keyboards/kibou/harbour/info.json
  keyboards/kibou/harbour/keymaps/default/keymap.c
  keyboards/kibou/harbour/keymaps/via/keymap.c
  keyboards/kibou/harbour/keymaps/via/rules.mk
  keyboards/kibou/harbour/readme.md
  keyboards/kibou/harbour/rules.mk
Labels: keyboard, keymap, via

#21138 Highlight keymap name entry
  docs/newbs_building_firmware_workflow.md
Labels: documentation

#21101 Add ScottoStarter handwired keyboard
  keyboards/handwired/scottokeebs/scottostarter/info.json
  keyboards/handwired/scottokeebs/scottostarter/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottostarter/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottostarter/readme.md
  keyboards/handwired/scottokeebs/scottostarter/rules.mk
Labels: keyboard, keymap

#21103 Add Scotto40 handwired keyboard
  keyboards/handwired/scottokeebs/scotto40/info.json
  keyboards/handwired/scottokeebs/scotto40/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scotto40/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scotto40/keymaps/scotto/config.h
  keyboards/handwired/scottokeebs/scotto40/keymaps/scotto/keymap.c
  keyboards/handwired/scottokeebs/scotto40/keymaps/scotto/rules.mk
  keyboards/handwired/scottokeebs/scotto40/readme.md
  keyboards/handwired/scottokeebs/scotto40/rules.mk
Labels: keyboard, keymap

#21021 [Keyboard] Add egg58
  keyboards/eggsworks/egg58/config.h
  keyboards/eggsworks/egg58/info.json
  keyboards/eggsworks/egg58/keymaps/default/keymap.c
  keyboards/eggsworks/egg58/keymaps/via/keymap.c
  keyboards/eggsworks/egg58/keymaps/via/rules.mk
  keyboards/eggsworks/egg58/readme.md
  keyboards/eggsworks/egg58/rules.mk
Labels: keyboard, keymap, via

#21146 xelus/rs108: correct layout data
  keyboards/xelus/rs108/info.json
Labels: enhancement, keyboard

#21145 peej/tripel: correct layout data
  keyboards/peej/tripel/left/info.json
  keyboards/peej/tripel/middle/info.json
  keyboards/peej/tripel/right/info.json
Labels: enhancement, keyboard

#21151 Use unsigned integer for kinetic speed
  quantum/mousekey.c
Labels: core

#21147 [Bugfix] LVGL bindings wrong offset math
  quantum/painter/lvgl/qp_lvgl.c
Labels: bug, core

#21159 poker87d: correct layout data
  keyboards/poker87d/info.json
Labels: enhancement, keyboard

#21158 monoflex60: fix LAYOUT_60_iso_tsangan implementation
  keyboards/monoflex60/info.json
Labels: bug, keyboard

#21154 Reset `matrix_need_update` properly in eager debouncing algorithms
  quantum/debounce/asym_eager_defer_pk.c
  quantum/debounce/sym_eager_pk.c
  quantum/debounce/sym_eager_pr.c
Labels: core

#21148 Added NortonTech handwired keypad (NortonTechPad)
  keyboards/handwired/nortontechpad/config.h
  keyboards/handwired/nortontechpad/info.json
  keyboards/handwired/nortontechpad/keymaps/default/keymap.c
  keyboards/handwired/nortontechpad/keymaps/via/keymap.c
  keyboards/handwired/nortontechpad/keymaps/via/rules.mk
  keyboards/handwired/nortontechpad/readme.md
  keyboards/handwired/nortontechpad/rules.mk
Labels: keyboard, keymap, via

#21134 [Core] Optimisation - Add RGB LED colour set check in drivers
  drivers/led/aw20216.c
  drivers/led/ckled2001-simple.c
  drivers/led/ckled2001.c
  drivers/led/issi/is31fl3218.c
  drivers/led/issi/is31fl3731-simple.c
  drivers/led/issi/is31fl3731.c
  drivers/led/issi/is31fl3733-simple.c
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31flcommon.c
Labels: core

#21168 Add an emphasis on QMK MSYS terminal
  docs/newbs_getting_started.md
Labels: documentation

#21170 Slightly refine `g_led_config` parsing
  lib/python/qmk/c_parse.py
Labels: bug, python, cli

#21135 [Core] RGB matrix ws2812 update
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: core

#21175 Adds Planck Rev 7 & Updates rev6_drop to Matrix Lite Implementation
  keyboards/planck/readme.md
  keyboards/planck/rev6_drop/matrix.c
  keyboards/planck/rev6_drop/rules.mk
  keyboards/planck/rev7/chconf.h
  keyboards/planck/rev7/config.h
  keyboards/planck/rev7/halconf.h
  keyboards/planck/rev7/info.json
  keyboards/planck/rev7/keymaps/default/config.h
  keyboards/planck/rev7/keymaps/default/keymap.c
  keyboards/planck/rev7/keymaps/default/rules.mk
  keyboards/planck/rev7/matrix.c
  keyboards/planck/rev7/mcuconf.h
  keyboards/planck/rev7/readme.md
  keyboards/planck/rev7/rev7.c
  keyboards/planck/rev7/rules.mk
Labels: keyboard, keymap

#21189 [Documentation] Fix typo
  docs/feature_layers.md
Labels: documentation

#21191 Remove some keymap-level info.jsons
  keyboards/giabalanai/keymaps/default_giabarinaix2/info.json
  keyboards/giabalanai/keymaps/giabarinaix2led/info.json
  keyboards/giabalanai/keymaps/via_giabarinaix2/info.json
Labels: bug, keymap

#20940 Add ScottoGame Keyboard
  keyboards/handwired/scottokeebs/scottogame/config.h
  keyboards/handwired/scottokeebs/scottogame/info.json
  keyboards/handwired/scottokeebs/scottogame/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottogame/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottogame/keymaps/scotto/config.h
  keyboards/handwired/scottokeebs/scottogame/keymaps/scotto/keymap.c
  keyboards/handwired/scottokeebs/scottogame/keymaps/scotto/rules.mk
  keyboards/handwired/scottokeebs/scottogame/readme.md
  keyboards/handwired/scottokeebs/scottogame/rules.mk
  keyboards/handwired/scottokeebs/scottogame/scottogame.c
Labels: keyboard, keymap

#21194 Typo Correction readme.md
  keyboards/planck/rev7/readme.md
Labels: keyboard

#21186 Update newbs docs with some rp2040 stuff
  docs/newbs_building_firmware_configurator.md
  docs/newbs_flashing.md
Labels: documentation

#20840 EC Alveus
  keyboards/cipulot/ec_alveus/1_0_0/config.h
  keyboards/cipulot/ec_alveus/1_0_0/ec_switch_matrix.c
  keyboards/cipulot/ec_alveus/1_0_0/ec_switch_matrix.h
  keyboards/cipulot/ec_alveus/1_0_0/halconf.h
  keyboards/cipulot/ec_alveus/1_0_0/info.json
  keyboards/cipulot/ec_alveus/1_0_0/keymaps/default/keymap.c
  keyboards/cipulot/ec_alveus/1_0_0/keymaps/via/config.h
  keyboards/cipulot/ec_alveus/1_0_0/keymaps/via/keymap.c
  keyboards/cipulot/ec_alveus/1_0_0/keymaps/via/rules.mk
  keyboards/cipulot/ec_alveus/1_0_0/keymaps/via/via_apc.c
  keyboards/cipulot/ec_alveus/1_0_0/matrix.c
  keyboards/cipulot/ec_alveus/1_0_0/mcuconf.h
  keyboards/cipulot/ec_alveus/1_0_0/readme.md
  keyboards/cipulot/ec_alveus/1_0_0/rules.mk
  keyboards/cipulot/ec_alveus/1_2_0/config.h
  keyboards/cipulot/ec_alveus/1_2_0/ec_switch_matrix.c
  keyboards/cipulot/ec_alveus/1_2_0/ec_switch_matrix.h
  keyboards/cipulot/ec_alveus/1_2_0/halconf.h
  keyboards/cipulot/ec_alveus/1_2_0/info.json
  keyboards/cipulot/ec_alveus/1_2_0/keymaps/default/keymap.c
  keyboards/cipulot/ec_alveus/1_2_0/keymaps/tkl_nofrow_ansi_tsangan_wkl_split_bs/keymap.c
  keyboards/cipulot/ec_alveus/1_2_0/keymaps/via/config.h
  keyboards/cipulot/ec_alveus/1_2_0/keymaps/via/keymap.c
  keyboards/cipulot/ec_alveus/1_2_0/keymaps/via/rules.mk
  keyboards/cipulot/ec_alveus/1_2_0/keymaps/via/via_apc.c
  keyboards/cipulot/ec_alveus/1_2_0/matrix.c
  keyboards/cipulot/ec_alveus/1_2_0/mcuconf.h
  keyboards/cipulot/ec_alveus/1_2_0/readme.md
  keyboards/cipulot/ec_alveus/1_2_0/rules.mk
Labels: keyboard, keymap, via

#20769 Up keymap
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/.clang-format
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/config.h
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/features/auto_shift.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/features/combo.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/features/leader.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/keycodes.h
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/keymap.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/oled/glcdfont.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/oled/oled.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/readme.md
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/rules.mk
Labels: keymap

#21063 crkbd:thunderbird2086 - layer status with RGB lighting/matrix
  keyboards/crkbd/keymaps/thunderbird2086/config.h
  keyboards/crkbd/keymaps/thunderbird2086/keycodes.h
  keyboards/crkbd/keymaps/thunderbird2086/keymap.c
  keyboards/crkbd/keymaps/thunderbird2086/layers_block.h
  keyboards/crkbd/keymaps/thunderbird2086/process_records.c
  keyboards/crkbd/keymaps/thunderbird2086/readme.md
  keyboards/crkbd/keymaps/thunderbird2086/rgb.c
  keyboards/crkbd/keymaps/thunderbird2086/rules.mk
Labels: keymap

#21197 Atreyu: correct layout data
  keyboards/atreyu/rev1/info.json
  keyboards/atreyu/rev2/info.json
Labels: enhancement, keyboard

#21080 [Keyboard] Adding OSAv2 Topre PCB
  keyboards/viktus/osav2_topre/ec.c
  keyboards/viktus/osav2_topre/ec.h
  keyboards/viktus/osav2_topre/info.json
  keyboards/viktus/osav2_topre/keymaps/default/keymap.c
  keyboards/viktus/osav2_topre/keymaps/via/keymap.c
  keyboards/viktus/osav2_topre/keymaps/via/rules.mk
  keyboards/viktus/osav2_topre/osav2_topre.c
  keyboards/viktus/osav2_topre/readme.md
  keyboards/viktus/osav2_topre/rules.mk
Labels: keyboard, keymap, via

#21139 Refactor the rain light decision operator
  quantum/rgb_matrix/animations/pixel_rain_anim.h
Labels: core

#21176 correct and modernise `dactyl_manuform/6x7` variant
  keyboards/handwired/dactyl_manuform/6x7/config.h
  keyboards/handwired/dactyl_manuform/6x7/info.json
  keyboards/handwired/dactyl_manuform/6x7/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/6x7/keymaps/iso-de/keymap.c
  keyboards/handwired/dactyl_manuform/6x7/rules.mk
Labels: keyboard, keymap

#21161 Add kibou/winter
  keyboards/kibou/winter/info.json
  keyboards/kibou/winter/keymaps/default/keymap.c
  keyboards/kibou/winter/keymaps/via/keymap.c
  keyboards/kibou/winter/keymaps/via/rules.mk
  keyboards/kibou/winter/readme.md
  keyboards/kibou/winter/rules.mk
Labels: keyboard, keymap, via

#21105 Add Scotto9 handwired macropad
  keyboards/handwired/scottokeebs/scotto9/info.json
  keyboards/handwired/scottokeebs/scotto9/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scotto9/readme.md
  keyboards/handwired/scottokeebs/scotto9/rules.mk
Labels: keyboard, keymap

#21085 Add Scotto34 (PCB Edition)
  keyboards/scottokeebs/scotto34/info.json
  keyboards/scottokeebs/scotto34/keymaps/default/config.h
  keyboards/scottokeebs/scotto34/keymaps/default/keymap.c
  keyboards/scottokeebs/scotto34/keymaps/scotto/config.h
  keyboards/scottokeebs/scotto34/keymaps/scotto/keymap.c
  keyboards/scottokeebs/scotto34/keymaps/scotto/rules.mk
  keyboards/scottokeebs/scotto34/readme.md
  keyboards/scottokeebs/scotto34/rules.mk
Labels: keyboard, keymap

#21055 Added Flashquark Horizon Z
  keyboards/flashquark/horizon_z/config.h
  keyboards/flashquark/horizon_z/horizon_z.c
  keyboards/flashquark/horizon_z/info.json
  keyboards/flashquark/horizon_z/keymaps/default/keymap.c
  keyboards/flashquark/horizon_z/keymaps/via/keymap.c
  keyboards/flashquark/horizon_z/keymaps/via/rules.mk
  keyboards/flashquark/horizon_z/readme.md
  keyboards/flashquark/horizon_z/rules.mk
Labels: keyboard, keymap, via, pr_checklist_pending

#20945 Add ScottoSplit Keyboard
  keyboards/handwired/scottokeebs/scottosplit/info.json
  keyboards/handwired/scottokeebs/scottosplit/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottosplit/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottosplit/keymaps/scotto/config.h
  keyboards/handwired/scottokeebs/scottosplit/keymaps/scotto/keymap.c
  keyboards/handwired/scottokeebs/scottosplit/keymaps/scotto/rules.mk
  keyboards/handwired/scottokeebs/scottosplit/readme.md
  keyboards/handwired/scottokeebs/scottosplit/rules.mk
Labels: keyboard, keymap

#21132 add new keyboard orba
  keyboards/jaykeeb/orba/info.json
  keyboards/jaykeeb/orba/keymaps/default/keymap.c
  keyboards/jaykeeb/orba/keymaps/via/keymap.c
  keyboards/jaykeeb/orba/keymaps/via/rules.mk
  keyboards/jaykeeb/orba/readme.md
  keyboards/jaykeeb/orba/rules.mk
Labels: keyboard, keymap, via

#21209 Add ScottoFrog macropad
  keyboards/handwired/scottokeebs/scottofrog/info.json
  keyboards/handwired/scottokeebs/scottofrog/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottofrog/readme.md
  keyboards/handwired/scottokeebs/scottofrog/rules.mk
Labels: keyboard, keymap

#21208 Add ScottoNum macropad
  keyboards/handwired/scottokeebs/scottonum/info.json
  keyboards/handwired/scottokeebs/scottonum/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottonum/readme.md
  keyboards/handwired/scottokeebs/scottonum/rules.mk
Labels: keyboard, keymap

#21206 fix `scheikled` keymap for `dactyl_manuform/4x6`
  keyboards/handwired/dactyl_manuform/4x6/keymaps/scheikled/keymap.c
  keyboards/handwired/dactyl_manuform/4x6/keymaps/scheikled/rules.mk
Labels: keymap

#21195 Add ErgoStrafer keyboard
  keyboards/custommk/ergostrafer/config.h
  keyboards/custommk/ergostrafer/halconf.h
  keyboards/custommk/ergostrafer/info.json
  keyboards/custommk/ergostrafer/keymaps/default/keymap.c
  keyboards/custommk/ergostrafer/keymaps/default/rules.mk
  keyboards/custommk/ergostrafer/keymaps/via/config.h
  keyboards/custommk/ergostrafer/keymaps/via/keymap.c
  keyboards/custommk/ergostrafer/keymaps/via/rules.mk
  keyboards/custommk/ergostrafer/mcuconf.h
  keyboards/custommk/ergostrafer/readme.md
  keyboards/custommk/ergostrafer/rules.mk
Labels: keyboard, keymap, via

#20189 New keyboard: rainkeebs trailmix
  keyboards/rainkeebs/trailmix/info.json
  keyboards/rainkeebs/trailmix/keymaps/default/keymap.c
  keyboards/rainkeebs/trailmix/keymaps/default/rules.mk
  keyboards/rainkeebs/trailmix/readme.md
  keyboards/rainkeebs/trailmix/rules.mk
  keyboards/rainkeebs/trailmix/trailmix.c
Labels: keyboard, keymap

#21219 add jaykeeb skyline
  keyboards/jaykeeb/skyline/info.json
  keyboards/jaykeeb/skyline/keymaps/default/keymap.c
  keyboards/jaykeeb/skyline/keymaps/via/keymap.c
  keyboards/jaykeeb/skyline/keymaps/via/rules.mk
  keyboards/jaykeeb/skyline/matrix_diagram.md
  keyboards/jaykeeb/skyline/readme.md
  keyboards/jaykeeb/skyline/rules.mk
Labels: keyboard, keymap, via

#20702 [Keyboard] Add mokey12x2
  keyboards/mokey/mokey12x2/info.json
  keyboards/mokey/mokey12x2/keymaps/default/keymap.c
  keyboards/mokey/mokey12x2/keymaps/via/keymap.c
  keyboards/mokey/mokey12x2/keymaps/via/rules.mk
  keyboards/mokey/mokey12x2/readme.md
  keyboards/mokey/mokey12x2/rules.mk
Labels: keyboard, keymap, via

#21184 [Keyboard]add 5108 Keyboard.
  keyboards/akko/5108/5108.c
  keyboards/akko/5108/config.h
  keyboards/akko/5108/halconf.h
  keyboards/akko/5108/info.json
  keyboards/akko/5108/keymaps/default/keymap.c
  keyboards/akko/5108/keymaps/via/keymap.c
  keyboards/akko/5108/keymaps/via/rules.mk
  keyboards/akko/5108/mcuconf.h
  keyboards/akko/5108/readme.md
  keyboards/akko/5108/rules.mk
Labels: keyboard, keymap, via

#21234 FJLabs Swordfish Layout Macro Refactor
  keyboards/fjlabs/swordfish/info.json
  keyboards/fjlabs/swordfish/keymaps/default/keymap.c
  keyboards/fjlabs/swordfish/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21130 Add Sinc Rev. 4
  keyboards/keebio/sinc/keymaps/default/keymap.c
  keyboards/keebio/sinc/keymaps/iso/keymap.c
  keyboards/keebio/sinc/keymaps/via/keymap.c
  keyboards/keebio/sinc/rev4/config.h
  keyboards/keebio/sinc/rev4/halconf.h
  keyboards/keebio/sinc/rev4/info.json
  keyboards/keebio/sinc/rev4/mcuconf.h
  keyboards/keebio/sinc/rev4/rules.mk
Labels: keyboard, keymap, via

#21236 4pplet Waffling60 Rev D ISO Layout Fix and Additions
  keyboards/4pplet/waffling60/rev_d_iso/info.json
  keyboards/4pplet/waffling60/rev_d_iso/keymaps/default/keymap.c
  keyboards/4pplet/waffling60/rev_d_iso/keymaps/via/keymap.c
  keyboards/4pplet/waffling60/rev_d_iso/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21225 add pluto keyboard
  keyboards/dztech/pluto/info.json
  keyboards/dztech/pluto/keymaps/default/keymap.c
  keyboards/dztech/pluto/keymaps/via/keymap.c
  keyboards/dztech/pluto/keymaps/via/rules.mk
  keyboards/dztech/pluto/readme.md
  keyboards/dztech/pluto/rules.mk
Labels: keyboard, keymap, via

#21247 Rely on introspection to handle OOB access.
  quantum/dynamic_keymap.c
Labels: core

#21244 Modernize M75H and M75S firmwares
  keyboards/mode/m75h/config.h
  keyboards/mode/m75h/halconf.h
  keyboards/mode/m75h/info.json
  keyboards/mode/m75h/m75h.c
  keyboards/mode/m75h/rules.mk
  keyboards/mode/m75s/config.h
Labels: keyboard

#21241 Left Control is now ESC when tapped
  keyboards/lily58/keymaps/gaston/keymap.c
  keyboards/lily58/keymaps/gaston/readme.md
Labels: keymap

#21240 `dactyl_manuform/6x7` correction
  keyboards/handwired/dactyl_manuform/6x7/info.json
Labels: keyboard

#21231 Add CannonKeys Leviatan PCB to QMK
  keyboards/cannonkeys/leviatan/info.json
  keyboards/cannonkeys/leviatan/keymaps/default/keymap.c
  keyboards/cannonkeys/leviatan/keymaps/iso/keymap.c
  keyboards/cannonkeys/leviatan/keymaps/tsangan/keymap.c
  keyboards/cannonkeys/leviatan/keymaps/via/keymap.c
  keyboards/cannonkeys/leviatan/keymaps/via/rules.mk
  keyboards/cannonkeys/leviatan/readme.md
  keyboards/cannonkeys/leviatan/rules.mk
Labels: keyboard, keymap, via

#21224 [Keyboard] Adding OSAv2 Numpad Topre support
  keyboards/viktus/osav2_numpad_topre/ec.c
  keyboards/viktus/osav2_numpad_topre/ec.h
  keyboards/viktus/osav2_numpad_topre/info.json
  keyboards/viktus/osav2_numpad_topre/keymaps/default/keymap.c
  keyboards/viktus/osav2_numpad_topre/keymaps/via/keymap.c
  keyboards/viktus/osav2_numpad_topre/keymaps/via/rules.mk
  keyboards/viktus/osav2_numpad_topre/osav2_numpad_topre.c
  keyboards/viktus/osav2_numpad_topre/readme.md
  keyboards/viktus/osav2_numpad_topre/rules.mk
Labels: keyboard, keymap, via

#21200 [Keyboard] add acr87 keyboard.
  keyboards/akko/acr87/acr87.c
  keyboards/akko/acr87/config.h
  keyboards/akko/acr87/halconf.h
  keyboards/akko/acr87/info.json
  keyboards/akko/acr87/keymaps/default/keymap.c
  keyboards/akko/acr87/keymaps/via/keymap.c
  keyboards/akko/acr87/keymaps/via/rules.mk
  keyboards/akko/acr87/mcuconf.h
  keyboards/akko/acr87/readme.md
  keyboards/akko/acr87/rules.mk
Labels: keyboard, keymap, via

#21199 [Keyboard] add top40 keyboard.
  keyboards/akko/top40/config.h
  keyboards/akko/top40/halconf.h
  keyboards/akko/top40/info.json
  keyboards/akko/top40/keymaps/default/keymap.c
  keyboards/akko/top40/keymaps/via/keymap.c
  keyboards/akko/top40/keymaps/via/rules.mk
  keyboards/akko/top40/mcuconf.h
  keyboards/akko/top40/readme.md
  keyboards/akko/top40/rules.mk
  keyboards/akko/top40/top40.c
Labels: keyboard, keymap, via

#20910 Add Artemis Paragon
  keyboards/artemis/paragon/hotswap/info.json
  keyboards/artemis/paragon/hotswap/rules.mk
  keyboards/artemis/paragon/info.json
  keyboards/artemis/paragon/keymaps/default/keymap.c
  keyboards/artemis/paragon/keymaps/default/rules.mk
  keyboards/artemis/paragon/keymaps/via/keymap.c
  keyboards/artemis/paragon/keymaps/via/rules.mk
  keyboards/artemis/paragon/readme.md
  keyboards/artemis/paragon/soldered/info.json
  keyboards/artemis/paragon/soldered/rules.mk
Labels: keyboard, keymap, via

#21250 DOIO KB30 Refactor
  keyboards/doio/kb30/info.json
  keyboards/doio/kb30/keymaps/default/keymap.c
  keyboards/doio/kb30/keymaps/via/keymap.c
  keyboards/doio/kb30/readme.md
Labels: enhancement, keyboard, keymap, via

#21256 ButterKeebs PocketPad: correct layout data
  keyboards/butterkeebs/pocketpad/info.json
Labels: enhancement, keyboard

#21255 Alas: ISO Layouts Fix and Matrix Diagram
  keyboards/alas/info.json
  keyboards/alas/matrix_diagram.md
Labels: enhancement, keyboard

#21268 DOIO KB38 Refactor
  keyboards/doio/kb38/info.json
  keyboards/doio/kb38/keymaps/default/keymap.c
  keyboards/doio/kb38/readme.md
Labels: enhancement, keyboard, keymap

#21271 Eason Aeroboard Refactor
  keyboards/eason/aeroboard/info.json
  keyboards/eason/aeroboard/keymaps/default/keymap.c
  keyboards/eason/aeroboard/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21269 Dymium65 Layout Touch-Up
  keyboards/dotmod/dymium65/info.json
Labels: enhancement, keyboard

#21280 Fix up operator precedence in RGBLIGHT
  quantum/rgblight/rgblight.c
Labels: bug, core

#21114 `preonic/rev3`, `preonic/rev3_drop`: Fix layouts with 2u keys
  keyboards/preonic/rev3/info.json
  keyboards/preonic/rev3_drop/info.json
Labels: keyboard

#21289 GMMK Numpad: correct layout data
  keyboards/gmmk/numpad/info.json
Labels: enhancement, keyboard

#21284 Remove default `TAPPING_TERM` from keyboard config.h
  keyboards/9key/config.h
  keyboards/aplyard/aplx6/rev2/config.h
  keyboards/bajjak/config.h
  keyboards/do60/config.h
  keyboards/duck/eagle_viper/v2/config.h
  keyboards/duck/lightsaver/config.h
  keyboards/duck/octagon/v1/config.h
  keyboards/duck/octagon/v2/config.h
  keyboards/duck/orion/v3/config.h
  keyboards/ergodox_ez/config.h
  keyboards/evolv/config.h
  keyboards/gboards/ergotaco/config.h
  keyboards/gboards/georgi/config.h
  keyboards/gboards/gergo/config.h
  keyboards/handwired/angel/config.h
  keyboards/handwired/aranck/config.h
  keyboards/handwired/brain/config.h
  keyboards/handwired/dactyl/config.h
  keyboards/handwired/frenchdev/config.h
  keyboards/handwired/heisenberg/config.h
  keyboards/handwired/lovelive9/config.h
  keyboards/handwired/myskeeb/config.h
  keyboards/handwired/ortho5x14/config.h
  keyboards/hhkb/ansi/config.h
  keyboards/hhkb/jp/config.h
  keyboards/hotdox/config.h
  keyboards/hub16/config.h
  keyboards/hub20/config.h
  keyboards/input_club/ergodox_infinity/config.h
  keyboards/keebio/laplace/config.h
  keyboards/keebio/stick/config.h
  keyboards/lfkeyboards/lfk78/config.h
  keyboards/lfkeyboards/lfk87/config.h
  keyboards/lfkeyboards/lfkpad/config.h
  keyboards/lfkeyboards/mini1800/config.h
  keyboards/lyso1/lck75/config.h
  keyboards/maple_computing/6ball/config.h
  keyboards/matrix/noah/config.h
  keyboards/minimacro5/config.h
  keyboards/nacly/ua62/config.h
  keyboards/ncc1701kb/config.h
  keyboards/newgame40/config.h
  keyboards/org60/config.h
  keyboards/rominronin/katana60/rev1/config.h
  keyboards/rominronin/katana60/rev2/config.h
  keyboards/tanuki/config.h
  keyboards/viendi8l/config.h
  keyboards/waterfowl/config.h
Labels: enhancement, keyboard

#21288 Geistmaschine Geist Layout Refactor and Touch-Up
  keyboards/geistmaschine/geist/info.json
  keyboards/geistmaschine/geist/keymaps/ansi/keymap.c
  keyboards/geistmaschine/geist/keymaps/default/keymap.c
  keyboards/geistmaschine/geist/keymaps/iso/keymap.c
  keyboards/geistmaschine/geist/keymaps/via/keymap.c
  keyboards/geistmaschine/geist/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21282 Swap G431 to transient EEPROM. Add G431 and G474 onekeys.
  keyboards/handwired/onekey/nucleo_g431rb/info.json
  keyboards/handwired/onekey/nucleo_g431rb/readme.md
  keyboards/handwired/onekey/nucleo_g431rb/rules.mk
  keyboards/handwired/onekey/nucleo_g474re/info.json
  keyboards/handwired/onekey/nucleo_g474re/readme.md
  keyboards/handwired/onekey/nucleo_g474re/rules.mk
  platforms/chibios/mcu_selection.mk
Labels: bug, core, keyboard

#21238 [Keyboard] Add support for Alveus MX PCB
  keyboards/densus/alveus/mx/info.json
  keyboards/densus/alveus/mx/keymaps/default/keymap.c
  keyboards/densus/alveus/mx/keymaps/via/keymap.c
  keyboards/densus/alveus/mx/keymaps/via/rules.mk
  keyboards/densus/alveus/mx/readme.md
  keyboards/densus/alveus/mx/rules.mk
Labels: keyboard, keymap, via

#21297 HFDKB K83 Configurator Layout Fix
  keyboards/hfdkb/keyboard_sw/k83/info.json
Labels: enhancement, keyboard

#21295 Tsubasa Handwired: correct layout data
  keyboards/handwired/tsubasa/info.json
Labels: enhancement, keyboard

#21298 Fixup `dekunukem/duckypad`
  keyboards/dekunukem/duckypad/config.h
  keyboards/dekunukem/duckypad/duckypad.c
  keyboards/dekunukem/duckypad/info.json
  keyboards/dekunukem/duckypad/keymaps/default/keymap.c
  keyboards/dekunukem/duckypad/keymaps/via/keymap.c
  keyboards/dekunukem/duckypad/keymaps/via/rules.mk
  keyboards/dekunukem/duckypad/rules.mk
Labels: keyboard, keymap, via

#21307 Fixup `nightly_boards/n40_o`
  keyboards/nightly_boards/n40_o/config.h
  keyboards/nightly_boards/n40_o/info.json
  keyboards/nightly_boards/n40_o/keymaps/default/keymap.c
  keyboards/nightly_boards/n40_o/keymaps/ortho_4x13_1x2u_c/keymap.c
  keyboards/nightly_boards/n40_o/keymaps/ortho_4x13_encoders/keymap.c
  keyboards/nightly_boards/n40_o/keymaps/via/config.h
  keyboards/nightly_boards/n40_o/keymaps/via/keymap.c
  keyboards/nightly_boards/n40_o/keymaps/via/rules.mk
  keyboards/nightly_boards/n40_o/rules.mk
Labels: keyboard, keymap, via

#21267 dnworks SBL Community Layout Support and Touch-Up
  keyboards/dnworks/sbl/info.json
  keyboards/dnworks/sbl/keymaps/default/keymap.c
  keyboards/dnworks/sbl/keymaps/via/keymap.c
  keyboards/dnworks/sbl/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21290 [Docs] Add note about `ENABLE_COMPILE_KEYCODE` to docs
  docs/quantum_keycodes.md
Labels: documentation

#20761 [keyboard]Move kb83 keyboard.
  data/mappings/keyboard_aliases.hjson
  keyboards/inland/kb83/config.h
  keyboards/inland/kb83/halconf.h
  keyboards/inland/kb83/info.json
  keyboards/inland/kb83/kb83.c
  keyboards/inland/kb83/keymaps/default/keymap.c
  keyboards/inland/kb83/keymaps/via/keymap.c
  keyboards/inland/kb83/keymaps/via/rules.mk
  keyboards/inland/kb83/mcuconf.h
  keyboards/inland/kb83/readme.md
  keyboards/inland/kb83/rgb_matrix_kb.inc
  keyboards/inland/kb83/rules.mk
Labels: keyboard, keymap, via

#21265 commit bigsmoothknob
  keyboards/nacly/bigsmoothknob/config.h
  keyboards/nacly/bigsmoothknob/info.json
  keyboards/nacly/bigsmoothknob/keymaps/default/keymap.c
  keyboards/nacly/bigsmoothknob/keymaps/default/rules.mk
  keyboards/nacly/bigsmoothknob/keymaps/via/keymap.c
  keyboards/nacly/bigsmoothknob/keymaps/via/rules.mk
  keyboards/nacly/bigsmoothknob/readme.md
  keyboards/nacly/bigsmoothknob/rules.mk
Labels: keyboard, keymap, via

#21266 Alisaie addition
  keyboards/automata02/alisaie/info.json
  keyboards/automata02/alisaie/keymaps/default/keymap.c
  keyboards/automata02/alisaie/keymaps/via/keymap.c
  keyboards/automata02/alisaie/keymaps/via/rules.mk
  keyboards/automata02/alisaie/readme.md
  keyboards/automata02/alisaie/rules.mk
Labels: keyboard, keymap, via

#20700 Add Keychron C1 Pro
  keyboards/keychron/c1_pro/ansi/rgb/config.h
  keyboards/keychron/c1_pro/ansi/rgb/info.json
  keyboards/keychron/c1_pro/ansi/rgb/keymaps/default/keymap.c
  keyboards/keychron/c1_pro/ansi/rgb/keymaps/keychron/keymap.c
  keyboards/keychron/c1_pro/ansi/rgb/keymaps/keychron/rules.mk
  keyboards/keychron/c1_pro/ansi/rgb/keymaps/via/keymap.c
  keyboards/keychron/c1_pro/ansi/rgb/keymaps/via/rules.mk
  keyboards/keychron/c1_pro/ansi/rgb/rgb.c
  keyboards/keychron/c1_pro/ansi/rgb/rules.mk
  keyboards/keychron/c1_pro/ansi/white/config.h
  keyboards/keychron/c1_pro/ansi/white/info.json
  keyboards/keychron/c1_pro/ansi/white/keymaps/default/keymap.c
  keyboards/keychron/c1_pro/ansi/white/keymaps/keychron/keymap.c
  keyboards/keychron/c1_pro/ansi/white/keymaps/keychron/rules.mk
  keyboards/keychron/c1_pro/ansi/white/keymaps/via/keymap.c
  keyboards/keychron/c1_pro/ansi/white/keymaps/via/rules.mk
  keyboards/keychron/c1_pro/ansi/white/rules.mk
  keyboards/keychron/c1_pro/ansi/white/white.c
  keyboards/keychron/c1_pro/c1_pro.c
  keyboards/keychron/c1_pro/config.h
  keyboards/keychron/c1_pro/halconf.h
  keyboards/keychron/c1_pro/info.json
  keyboards/keychron/c1_pro/mcuconf.h
  keyboards/keychron/c1_pro/readme.md
Labels: keyboard, keymap, via

#21309 Kalakos Bahrnob65 Configurator Layout Touch-Up
  keyboards/kalakos/bahrnob/info.json
  keyboards/kalakos/bahrnob/matrix_diagram.md
Labels: enhancement, keyboard

#21260 EC Pro X JIS Layout Touch-Up
  keyboards/cipulot/ec_prox/jis/info.json
  keyboards/cipulot/ec_prox/jis/keymaps/default/keymap.c
  keyboards/cipulot/ec_prox/jis/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21272 Consolidate `KEYBOARD_OUTPUT`+`KEYMAP_OUTPUT`=>`INTERMEDIATE_OUTPUT`
  builddefs/build_keyboard.mk
  builddefs/common_rules.mk
  docs/data_driven_config.md
  docs/ja/data_driven_config.md
  lib/python/qmk/cli/mass_compile.py
  lib/python/qmk/commands.py
  lib/python/qmk/constants.py
  platforms/chibios/vendors/RP/pico_sdk_shims.c
Labels: bug, core, documentation, python, cli, translation

#21196 Planck Matrix Fixes
  keyboards/planck/rev6_drop/matrix.c
  keyboards/planck/rev7/keymaps/default/config.h
  keyboards/planck/rev7/keymaps/default/keymap.c
  keyboards/planck/rev7/matrix.c
  keyboards/planck/rev7/readme.md
Labels: keyboard, keymap

#21317 NovelKeys NK+: correct layout data
  keyboards/novelkeys/nk_plus/info.json
  keyboards/novelkeys/nk_plus/keymaps/default/keymap.c
  keyboards/novelkeys/nk_plus/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21323 Code markdown amendment
  docs/coding_conventions_c.md
Labels: documentation

#21322 ProtoTypist PT-60 Refactor
  keyboards/prototypist/pt60/info.json
  keyboards/prototypist/pt60/keymaps/default/keymap.c
  keyboards/prototypist/pt60/keymaps/default_ansi/keymap.c
  keyboards/prototypist/pt60/keymaps/via/keymap.c
  keyboards/prototypist/pt60/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21182 [Keyboard]add m5 Keyboard.
  keyboards/monsgeek/m5/config.h
  keyboards/monsgeek/m5/halconf.h
  keyboards/monsgeek/m5/info.json
  keyboards/monsgeek/m5/keymaps/default/keymap.c
  keyboards/monsgeek/m5/keymaps/via/keymap.c
  keyboards/monsgeek/m5/keymaps/via/rules.mk
  keyboards/monsgeek/m5/m5.c
  keyboards/monsgeek/m5/mcuconf.h
  keyboards/monsgeek/m5/readme.md
  keyboards/monsgeek/m5/rules.mk
Labels: keyboard, keymap, via

#20701 Add Keychron C2 Pro
  keyboards/keychron/c2_pro/ansi/rgb/config.h
  keyboards/keychron/c2_pro/ansi/rgb/info.json
  keyboards/keychron/c2_pro/ansi/rgb/keymaps/default/keymap.c
  keyboards/keychron/c2_pro/ansi/rgb/keymaps/keychron/keymap.c
  keyboards/keychron/c2_pro/ansi/rgb/keymaps/keychron/rules.mk
  keyboards/keychron/c2_pro/ansi/rgb/keymaps/via/keymap.c
  keyboards/keychron/c2_pro/ansi/rgb/keymaps/via/rules.mk
  keyboards/keychron/c2_pro/ansi/rgb/rgb.c
  keyboards/keychron/c2_pro/ansi/rgb/rules.mk
  keyboards/keychron/c2_pro/ansi/white/config.h
  keyboards/keychron/c2_pro/ansi/white/info.json
  keyboards/keychron/c2_pro/ansi/white/keymaps/default/keymap.c
  keyboards/keychron/c2_pro/ansi/white/keymaps/keychron/keymap.c
  keyboards/keychron/c2_pro/ansi/white/keymaps/keychron/rules.mk
  keyboards/keychron/c2_pro/ansi/white/keymaps/via/keymap.c
  keyboards/keychron/c2_pro/ansi/white/keymaps/via/rules.mk
  keyboards/keychron/c2_pro/ansi/white/rules.mk
  keyboards/keychron/c2_pro/ansi/white/white.c
  keyboards/keychron/c2_pro/c2_pro.c
  keyboards/keychron/c2_pro/config.h
  keyboards/keychron/c2_pro/halconf.h
  keyboards/keychron/c2_pro/info.json
  keyboards/keychron/c2_pro/matrix.c
  keyboards/keychron/c2_pro/mcuconf.h
  keyboards/keychron/c2_pro/readme.md
Labels: keyboard, keymap, via

#21310 Keebio Cepstrum Configurator Touch-Up
  keyboards/keebio/cepstrum/info.json
  keyboards/keebio/cepstrum/rev1/info.json
Labels: enhancement, keyboard

#21313 Lucid Velvet Solder Layout Additions and Touch-Up
  keyboards/lucid/velvet_solder/info.json
  keyboards/lucid/velvet_solder/keymaps/default/keymap.c
  keyboards/lucid/velvet_solder/keymaps/via/keymap.c
  keyboards/lucid/velvet_solder/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21155 Add lindgrenj6 planck layout
  keyboards/planck/keymaps/lindgrenj6/config.h
  keyboards/planck/keymaps/lindgrenj6/keymap.c
  keyboards/planck/keymaps/lindgrenj6/rules.mk
Labels: keymap

#21325 ProtoTypist PT-80 Refactor
  keyboards/prototypist/pt80/info.json
  keyboards/prototypist/pt80/keymaps/default/keymap.c
  keyboards/prototypist/pt80/keymaps/default_ansi/keymap.c
  keyboards/prototypist/pt80/keymaps/via/keymap.c
  keyboards/prototypist/pt80/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21326 Pteropus: correct layout data
  keyboards/pteropus/info.json
Labels: enhancement, keyboard

#21329 Quarkeys Z40 Community Layout Support and Touch-Up
  keyboards/quarkeys/z40/info.json
  keyboards/quarkeys/z40/keymaps/default/keymap.c
  keyboards/quarkeys/z40/keymaps/via/keymap.c
  keyboards/quarkeys/z40/readme.md
Labels: enhancement, keyboard, keymap, via

#21303 Igloo Configurator Touch-Up
  keyboards/igloo/info.json
  keyboards/igloo/matrix_diagram.md
Labels: enhancement, keyboard

#21334 Spleeb: correct layout data
  keyboards/spleeb/info.json
Labels: enhancement, keyboard

#21333 Soda Pocket: correct layout data
  keyboards/soda/pocket/info.json
Labels: enhancement, keyboard

#21332 Move protocol makefiles into their respective folders
  builddefs/build_keyboard.mk
  tmk_core/protocol.mk
  tmk_core/protocol/arm_atsam/arm_atsam.mk
  tmk_core/protocol/chibios/chibios.mk
  tmk_core/protocol/lufa/lufa.mk
  tmk_core/protocol/usb_hid/usb_hid.mk
  tmk_core/protocol/vusb/vusb.mk
Labels: enhancement, core

#21342 Viktus OSAv2 Numpad Community Layout Support and Configurator Touch-Up
  keyboards/viktus/osav2_numpad/info.json
  keyboards/viktus/osav2_numpad/keymaps/default/keymap.c
  keyboards/viktus/osav2_numpad/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21341 Teahouse Ayleen Community Layout Support and Touch-Up
  keyboards/teahouse/ayleen/info.json
  keyboards/teahouse/ayleen/keymaps/default/keymap.c
  keyboards/teahouse/ayleen/keymaps/via/keymap.c
  keyboards/teahouse/ayleen/keymaps/via_blink/keymap.c
Labels: enhancement, keyboard, keymap, via

#21346 Wuque Creek70 Layout Additions and Touch-Up
  keyboards/wuque/creek70/info.json
  keyboards/wuque/creek70/keymaps/default/keymap.c
  keyboards/wuque/creek70/keymaps/via/keymap.c
  keyboards/wuque/creek70/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21347 Y&R Transition80 Layout Additions and Touch-Up
  keyboards/yandrstudio/transition80/info.json
  keyboards/yandrstudio/transition80/keymaps/default/keymap.c
  keyboards/yandrstudio/transition80/keymaps/default_tkl_ansi/keymap.c
  keyboards/yandrstudio/transition80/keymaps/default_tkl_ansi_split_bs/keymap.c
  keyboards/yandrstudio/transition80/keymaps/default_tkl_ansi_tsangan/keymap.c
  keyboards/yandrstudio/transition80/keymaps/default_tkl_ansi_tsangan_split_bs/keymap.c
  keyboards/yandrstudio/transition80/keymaps/via/keymap.c
  keyboards/yandrstudio/transition80/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21348 Akko Top40: correct layout data
  keyboards/akko/top40/info.json
Labels: enhancement, keyboard

#21349 Jaykeeb Orba Layout Addition and Touch-Up
  keyboards/jaykeeb/orba/info.json
  keyboards/jaykeeb/orba/keymaps/default/keymap.c
  keyboards/jaykeeb/orba/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21350 Jaykeeb Skyline: correct layout data
  keyboards/jaykeeb/skyline/info.json
Labels: enhancement, keyboard

#21343 Remove use of __flash within LED drivers
  docs/feature_led_matrix.md
  docs/feature_rgb_matrix.md
  drivers/led/issi/is31fl3733-simple.c
  drivers/led/issi/is31fl3733-simple.h
  drivers/led/issi/is31flcommon.c
  drivers/led/issi/is31flcommon.h
Labels: core, documentation

#21246 Verify max one keyboard addition during CI.
  .github/workflows/lint.yml
Labels: CI

#21360 Move `TAPPING_TOGGLE` to data driven
  keyboards/bajjak/config.h
  keyboards/bajjak/info.json
  keyboards/checkerboards/quark_lp/config.h
  keyboards/checkerboards/quark_lp/info.json
  keyboards/converter/a1200/mistress1200/config.h
  keyboards/converter/a1200/mistress1200/info.json
  keyboards/dumbpad/config.h
  keyboards/dumbpad/info.json
  keyboards/dumbpad/v1x_oled/config.h
  keyboards/ergodox_ez/config.h
  keyboards/ergodox_ez/info.json
  keyboards/fungo/rev1/config.h
  keyboards/fungo/rev1/info.json
  keyboards/gboards/ergotaco/config.h
  keyboards/gboards/ergotaco/info.json
  keyboards/gboards/georgi/config.h
  keyboards/gboards/georgi/info.json
  keyboards/gboards/gergo/config.h
  keyboards/gboards/gergo/info.json
  keyboards/handwired/dactyl/config.h
  keyboards/handwired/dactyl/info.json
  keyboards/handwired/dactyl_rah/config.h
  keyboards/handwired/dactyl_rah/info.json
  keyboards/handwired/frenchdev/config.h
  keyboards/handwired/frenchdev/info.json
  keyboards/handwired/jopr/config.h
  keyboards/handwired/jopr/info.json
  keyboards/handwired/kbod/config.h
  keyboards/handwired/kbod/info.json
  keyboards/handwired/pterodactyl/config.h
  keyboards/handwired/pterodactyl/info.json
  keyboards/handwired/terminus_mini/config.h
  keyboards/handwired/terminus_mini/info.json
  keyboards/hotdox/config.h
  keyboards/hotdox/info.json
  keyboards/input_club/ergodox_infinity/config.h
  keyboards/input_club/ergodox_infinity/info.json
  keyboards/nack/config.h
  keyboards/nack/info.json
  keyboards/neopad/config.h
  keyboards/neopad/rev1/info.json
  keyboards/planck/ez/config.h
  keyboards/planck/ez/info.json
  keyboards/planck/thk/config.h
  keyboards/planck/thk/info.json
  keyboards/ymdk/ymd96/config.h
  keyboards/ymdk/ymd96/info.json
Labels: enhancement, keyboard

#21354 Move `RGB_MATRIX_HUE/SAT/VAL/SPD_STEP` to data driven
  keyboards/adm42/info.json
  keyboards/adm42/rev4/config.h
  keyboards/aleblazer/zodiark/config.h
  keyboards/aleblazer/zodiark/info.json
  keyboards/basekeys/trifecta/config.h
  keyboards/basekeys/trifecta/info.json
  keyboards/blockboy/ac980mini/config.h
  keyboards/blockboy/ac980mini/info.json
  keyboards/checkerboards/quark_lp/config.h
  keyboards/checkerboards/quark_lp/info.json
  keyboards/elephant42/config.h
  keyboards/elephant42/info.json
  keyboards/helix/rev3_4rows/config.h
  keyboards/helix/rev3_4rows/info.json
  keyboards/helix/rev3_5rows/config.h
  keyboards/helix/rev3_5rows/info.json
  keyboards/kapl/rev1/config.h
  keyboards/kapl/rev1/info.json
  keyboards/kbdfans/baguette66/rgb/config.h
  keyboards/kbdfans/baguette66/rgb/info.json
  keyboards/kbdfans/kbd67/mkiirgb/v4/config.h
  keyboards/kbdfans/kbd67/mkiirgb/v4/info.json
  keyboards/kbdfans/kbd67/mkiirgb_iso/config.h
  keyboards/kbdfans/kbd67/mkiirgb_iso/info.json
  keyboards/kbdfans/kbd75rgb/config.h
  keyboards/kbdfans/kbd75rgb/info.json
  keyboards/marksard/rhymestone/rev1/config.h
  keyboards/marksard/rhymestone/rev1/info.json
  keyboards/nack/config.h
  keyboards/nack/info.json
  keyboards/quarkeys/z40/config.h
  keyboards/quarkeys/z40/info.json
  keyboards/silverbullet44/config.h
  keyboards/silverbullet44/info.json
  keyboards/tominabox1/le_chiffre/config.h
  keyboards/tominabox1/le_chiffre/he/info.json
  keyboards/tominabox1/le_chiffre/rev1/info.json
  keyboards/tominabox1/le_chiffre/rev2/info.json
  keyboards/ungodly/launch_pad/config.h
  keyboards/ungodly/launch_pad/info.json
  keyboards/yushakobo/quick17/config.h
  keyboards/yushakobo/quick17/info.json
Labels: enhancement, keyboard

#21345 Fix anchor IDs for some API references
  docs/feature_hd44780.md
  docs/feature_send_string.md
  docs/i2c_driver.md
  docs/spi_driver.md
  docs/uart_driver.md
Labels: enhancement, documentation

#21358 Kibou Harbour Layout Addition and Touch-Up
  keyboards/kibou/harbour/info.json
  keyboards/kibou/harbour/keymaps/default/keymap.c
  keyboards/kibou/harbour/keymaps/via/keymap.c
  keyboards/kibou/harbour/matrix_diagram.md
  keyboards/kibou/harbour/readme.md
Labels: enhancement, keyboard, keymap, via

#21361 [Keyboard] Update alternate function for WS2812 SPI on Zed60 PCB
  keyboards/mechlovin/zed60/config.h
Labels: keyboard

#21372 Kibou Winter: rename LAYOUT to LAYOUT_tkl_ansi_wkl
  keyboards/kibou/winter/info.json
  keyboards/kibou/winter/keymaps/default/keymap.c
  keyboards/kibou/winter/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21373 Mechlovin Zed65 rev1 Touch-Up
  keyboards/mechlovin/zed65/rev1/info.json
  keyboards/mechlovin/zed65/rev1/matrix_diagram.md
Labels: enhancement, keyboard

#21370 Turn off RGB when suspended
  keyboards/gmmk/pro/config.h
Labels: keyboard

#21287 Chibios USB: Take into account if host wants remote wakeup or not
  tmk_core/protocol/chibios/chibios.c
Labels: bug, core

#21389 Enable auto-merge of develop to riot
  .github/workflows/feature_branch_update.yml
Labels: CI

#21390 Add riot auto-merge to `master` to trigger GH workflows.
  .github/workflows/feature_branch_update.yml
Labels: CI

#21391 Minor board clean-up after #19780
  platforms/chibios/boards/PJRC_TEENSY_3_5/board/board.mk
  platforms/chibios/boards/PJRC_TEENSY_3_6/board/board.mk
  platforms/chibios/boards/QMK_BLOK/configs/mcuconf.h
Labels: core

#21376 Smith & Rune Iron160 Hotswap Touch-Up
  keyboards/smithrune/iron160/iron160_h/info.json
  keyboards/smithrune/iron160/iron160_h/keymaps/default/keymap.c
  keyboards/smithrune/iron160/iron160_h/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21352 STM32H723 support
  data/schemas/keyboard.jsonschema
  docs/compatible_microcontrollers.md
  keyboards/handwired/onekey/nucleo_h723zg/info.json
  keyboards/handwired/onekey/nucleo_h723zg/readme.md
  keyboards/handwired/onekey/nucleo_h723zg/rules.mk
  lib/python/qmk/constants.py
  platforms/chibios/boards/GENERIC_STM32_H723XG/board/board.mk
  platforms/chibios/boards/GENERIC_STM32_H723XG/board/extra.c
  platforms/chibios/boards/GENERIC_STM32_H723XG/configs/config.h
  platforms/chibios/boards/GENERIC_STM32_H723XG/configs/mcuconf.h
  platforms/chibios/bootloaders/stm32_dfu.c
  platforms/chibios/chibios_config.h
  platforms/chibios/mcu_selection.mk
Labels: core, keyboard, documentation, python, cli

#21367 Kibou Wendy Layout Additions and Touch-Up
  keyboards/kibou/wendy/info.json
  keyboards/kibou/wendy/keymaps/default/keymap.c
  keyboards/kibou/wendy/keymaps/via/keymap.c
  keyboards/kibou/wendy/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21397 correct `default_60_abnt2/keymap.c` ASCII diagram
  layouts/default/60_abnt2/default_60_abnt2/keymap.c
Labels: keymap

#21401 Disable keymap console feature
  keyboards/sofle/keymaps/devdev/rules.mk
Labels: keymap
