Repository qmk/qmk_firmware, pull requests merged in 2023-07, with the labels that each got.

#21392 Add Iris Rev. 8
  keyboards/keebio/iris/keymaps/via/keymap.c
  keyboards/keebio/iris/rev8/config.h
  keyboards/keebio/iris/rev8/info.json
  keyboards/keebio/iris/rev8/rev8.c
  keyboards/keebio/iris/rev8/rules.mk
Labels: keyboard, keymap, via

#21328 Add planck/rev7 keymap for user peterfalken
  keyboards/planck/rev7/keymaps/peterfalken/config.h
  keyboards/planck/rev7/keymaps/peterfalken/keymap.c
  keyboards/planck/rev7/keymaps/peterfalken/readme.md
  keyboards/planck/rev7/keymaps/peterfalken/rules.mk
Labels: keymap

#21335 add jaykeeb sebelas
  keyboards/jaykeeb/sebelas/info.json
  keyboards/jaykeeb/sebelas/keymaps/default/keymap.c
  keyboards/jaykeeb/sebelas/keymaps/via/keymap.c
  keyboards/jaykeeb/sebelas/keymaps/via/rules.mk
  keyboards/jaykeeb/sebelas/matrix_diagram.md
  keyboards/jaykeeb/sebelas/readme.md
  keyboards/jaykeeb/sebelas/rules.mk
Labels: keyboard, keymap, via

#21340 Add Varanidae keyboard
  keyboards/varanidae/info.json
  keyboards/varanidae/keymaps/ansi/keymap.c
  keyboards/varanidae/keymaps/ansi/rules.mk
  keyboards/varanidae/keymaps/ansi_split_bs_rshift/keymap.c
  keyboards/varanidae/keymaps/ansi_split_bs_rshift/rules.mk
  keyboards/varanidae/keymaps/default/keymap.c
  keyboards/varanidae/keymaps/default/rules.mk
  keyboards/varanidae/keymaps/iso/keymap.c
  keyboards/varanidae/keymaps/iso/rules.mk
  keyboards/varanidae/keymaps/iso_split_bs_rshift/keymap.c
  keyboards/varanidae/keymaps/iso_split_bs_rshift/rules.mk
  keyboards/varanidae/keymaps/via/keymap.c
  keyboards/varanidae/keymaps/via/rules.mk
  keyboards/varanidae/readme.md
  keyboards/varanidae/rules.mk
Labels: keyboard, keymap, via

#21424 Get rid of `USB_LED_NUM_LOCK`
  keyboards/40percentclub/gherkin/keymaps/default/keymap.c
  keyboards/contra/keymaps/maxr1998/keymap.c
  keyboards/crkbd/keymaps/rpbaptist/keymap.c
  keyboards/dztech/dz60rgb/keymaps/matthewrobo/keymap.c
  keyboards/dztech/dz60rgb/keymaps/mekanist/keymap.c
  keyboards/dztech/dz65rgb/keymaps/matthewrobo/keymap.c
  keyboards/handwired/arrow_pad/keymaps/default/keymap.c
  keyboards/handwired/arrow_pad/keymaps/pad_21/keymap.c
  keyboards/handwired/arrow_pad/keymaps/pad_24/keymap.c
  keyboards/input_club/infinity60/led.c
  keyboards/input_club/infinity60/led_controller.c
  keyboards/kbdfans/niu_mini/keymaps/tobias/keymap.c
  keyboards/kprepublic/jj40/keymaps/stevexyz/keymap.c
  keyboards/massdrop/alt/keymaps/jdelkins_ss/keymap.c
  keyboards/mt/mt980/keymaps/walker/keymap.c
  keyboards/novelkeys/novelpad/keymaps/0xdec/keymap.c
  keyboards/salicylic_acid3/setta21/keymaps/salicylic/keymap.c
  keyboards/westfoxtrot/cypher/rev1/keymaps/kwer/keymap.c
  keyboards/xiudi/xd75/keymaps/billypython/keymap.c
  keyboards/xiudi/xd75/keymaps/boy_314/keymap.c
  keyboards/yosino58/keymaps/default/keymap.c
  keyboards/yosino58/keymaps/sakura/keymap.c
  layouts/community/numpad_5x6/bjohnson/keymap.c
  quantum/led.h
  users/doogle999/doogle999.c
Labels: enhancement, core, keyboard, keymap

#21432 Reduce `keebio/bamfk1:via` firmware size
  keyboards/keebio/bamfk1/rules.mk
Labels: keyboard

#21430 usbpd_stm32g4: Configure UCPD before disabling the dead battery mode
  platforms/chibios/drivers/usbpd_stm32g4.c
Labels: core

#21169 [Core] RGB Matrix limit basic indicators to the last render
  quantum/led_matrix/led_matrix.c
  quantum/led_matrix/led_matrix.h
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix.h
Labels: optimization, core

#21422 Fix ili9xxx inversion opcode entry
  drivers/painter/ili9xxx/qp_ili9xxx_opcodes.h
Labels: bug, core

#21435 Fix encoder map declarations
  keyboards/atlantis/ak81_ve/keymaps/via/keymap.c
  keyboards/custommk/evo70/keymaps/via/keymap.c
  keyboards/custommk/genesis/rev2/keymaps/via/keymap.c
  keyboards/dailycraft/owl8/keymaps/via/keymap.c
  keyboards/dailycraft/stickey4/keymaps/via/keymap.c
  keyboards/dailycraft/wings42/rev2/keymaps/via/keymap.c
  keyboards/gl516/n51gl/keymaps/via/keymap.c
  keyboards/jones/v1/keymaps/via/keymap.c
  keyboards/kabedon/kabedon98e/keymaps/default/keymap.c
  keyboards/kabedon/kabedon98e/keymaps/via/keymap.c
  keyboards/keebio/bamfk1/keymaps/default/keymap.c
  keyboards/keebio/bamfk1/keymaps/via/keymap.c
  keyboards/meletrix/zoom65/keymaps/via/keymap.c
  keyboards/meletrix/zoom65_lite/keymaps/via/keymap.c
  keyboards/ml/gas75/keymaps/default/keymap.c
  keyboards/ml/gas75/keymaps/via/keymap.c
  keyboards/monarch/keymaps/via/keymap.c
  keyboards/mwstudio/alicekk/keymaps/via/keymap.c
  keyboards/mwstudio/mw65_rgb/keymaps/via/keymap.c
  keyboards/mwstudio/mw75r2/keymaps/via/keymap.c
  keyboards/nightly_boards/adellein/keymaps/via/keymap.c
  keyboards/nightly_boards/n40_o/keymaps/via/keymap.c
  keyboards/nightly_boards/n60_s/keymaps/via/keymap.c
  keyboards/nightly_boards/octopad/keymaps/default/keymap.c
  keyboards/nightly_boards/octopad/keymaps/via/keymap.c
  keyboards/nullbitsco/tidbit/keymaps/default/keymap.c
  keyboards/nullbitsco/tidbit/keymaps/oled/keymap.c
  keyboards/nullbitsco/tidbit/keymaps/snailmap_lite/keymap.c
  keyboards/nullbitsco/tidbit/keymaps/via/keymap.c
  keyboards/owlab/voice65/hotswap/keymaps/default/keymap.c
  keyboards/owlab/voice65/hotswap/keymaps/via/keymap.c
  keyboards/owlab/voice65/soldered/keymaps/default/keymap.c
  keyboards/owlab/voice65/soldered/keymaps/via/keymap.c
  keyboards/rate/pistachio_mp/keymaps/via/keymap.c
  keyboards/rate/pistachio_pro/keymaps/via/keymap.c
  keyboards/rgbkb/mun/keymaps/default/keymap.c
  keyboards/rgbkb/mun/keymaps/peott-fr/keymap.c
  keyboards/rgbkb/mun/keymaps/via/keymap.c
  keyboards/rgbkb/mun/keymaps/xulkal2/keymap.c
  keyboards/rgbkb/sol3/keymaps/default/keymap.c
  keyboards/rgbkb/sol3/keymaps/kageurufu/keymap.c
  keyboards/rgbkb/sol3/keymaps/via/keymap.c
  keyboards/rmi_kb/chevron/keymaps/via/keymap.c
  keyboards/rmi_kb/herringbone/pro/keymaps/via/keymap.c
  keyboards/rmi_kb/squishytkl/keymaps/via/keymap.c
  keyboards/rmi_kb/wete/v2/keymaps/via/keymap.c
  keyboards/sawnsprojects/krush/krush65/hotswap/keymaps/via/keymap.c
  keyboards/sofle/keymaps/keyhive_via/keymap.c
  keyboards/synthlabs/solo/keymaps/via/keymap.c
  keyboards/takashicompany/dogtag/keymaps/default/keymap.c
  keyboards/takashicompany/dogtag/keymaps/via/keymap.c
  keyboards/takashicompany/spreadwriter/keymaps/via/keymap.c
  keyboards/wekey/we27/keymaps/default/keymap.c
  keyboards/wekey/we27/keymaps/via/keymap.c
  keyboards/winry/winry315/keymaps/via/keymap.c
  keyboards/wuque/mammoth20x/keymaps/via/keymap.c
  keyboards/wuque/mammoth75x/keymaps/via/keymap.c
  keyboards/wuque/serneity65/keymaps/via/keymap.c
  keyboards/yandrstudio/nz67v2/keymaps/via/keymap.c
Labels: keymap, via

#21429 [Docs fix] Missed change
  docs/quantum_painter.md
Labels: documentation

#21383 Improve tap-hold configuration
  keyboards/lily58/keymaps/gaston/config.h
  keyboards/lily58/keymaps/gaston/keymap.c
Labels: keymap

#21381 keyboards/b_sides/rev41lp: add via keymap
  keyboards/b_sides/rev41lp/info.json
  keyboards/b_sides/rev41lp/keymaps/via/keymap.c
  keyboards/b_sides/rev41lp/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#21338 add `handwired/dactyl_maximus` keyboard
  keyboards/handwired/dactyl_maximus/info.json
  keyboards/handwired/dactyl_maximus/keymaps/default/keymap.c
  keyboards/handwired/dactyl_maximus/keymaps/via/keymap.c
  keyboards/handwired/dactyl_maximus/keymaps/via/rules.mk
  keyboards/handwired/dactyl_maximus/readme.md
  keyboards/handwired/dactyl_maximus/rules.mk
Labels: keyboard, keymap, via

#21377 Smith & Rune Iron160 Soldered Touch-Up
  keyboards/smithrune/iron160/iron160_s/info.json
  keyboards/smithrune/iron160/iron160_s/keymaps/default/keymap.c
  keyboards/smithrune/iron160/iron160_s/keymaps/via/keymap.c
  keyboards/smithrune/iron160/iron160_s/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21263 Add the Plywrks ply8x
  keyboards/plywrks/ply8x/config.h
  keyboards/plywrks/ply8x/halconf.h
  keyboards/plywrks/ply8x/info.json
  keyboards/plywrks/ply8x/keymaps/default/keymap.c
  keyboards/plywrks/ply8x/keymaps/via/keymap.c
  keyboards/plywrks/ply8x/keymaps/via/rules.mk
  keyboards/plywrks/ply8x/mcuconf.h
  keyboards/plywrks/ply8x/readme.md
  keyboards/plywrks/ply8x/rules.mk
Labels: keyboard, keymap, via

#21248 Amend `ryanbaekr` boards by pin definitions
  keyboards/ryanbaekr/rb69/info.json
  keyboards/ryanbaekr/rb86/info.json
  keyboards/ryanbaekr/rb87/info.json
Labels: keyboard

#21211 Added support for the Mine Keyboard.
  keyboards/adpenrose/mine/config.h
  keyboards/adpenrose/mine/info.json
  keyboards/adpenrose/mine/keymaps/default/keymap.c
  keyboards/adpenrose/mine/keymaps/default/rules.mk
  keyboards/adpenrose/mine/keymaps/iso/keymap.c
  keyboards/adpenrose/mine/keymaps/iso/rules.mk
  keyboards/adpenrose/mine/keymaps/solenoid/keymap.c
  keyboards/adpenrose/mine/keymaps/solenoid/rules.mk
  keyboards/adpenrose/mine/keymaps/via/keymap.c
  keyboards/adpenrose/mine/keymaps/via/rules.mk
  keyboards/adpenrose/mine/matrix_diagram.md
  keyboards/adpenrose/mine/readme.md
  keyboards/adpenrose/mine/rules.mk
Labels: keyboard, keymap, via

#21408 planck/rev7: Fix build without AUDIO_ENABLE
  keyboards/planck/rev7/matrix.c
Labels: keyboard

#21204 Add support for MNK60
  keyboards/kopibeng/mnk60/info.json
  keyboards/kopibeng/mnk60/keymaps/default/keymap.c
  keyboards/kopibeng/mnk60/keymaps/via/keymap.c
  keyboards/kopibeng/mnk60/keymaps/via/rules.mk
  keyboards/kopibeng/mnk60/readme.md
  keyboards/kopibeng/mnk60/rules.mk
Labels: keyboard, keymap, via

#21201 Add support for XT87
  keyboards/kopibeng/xt87/chconf.h
  keyboards/kopibeng/xt87/info.json
  keyboards/kopibeng/xt87/keymaps/default/keymap.c
  keyboards/kopibeng/xt87/keymaps/via/keymap.c
  keyboards/kopibeng/xt87/keymaps/via/rules.mk
  keyboards/kopibeng/xt87/readme.md
  keyboards/kopibeng/xt87/rules.mk
Labels: keyboard, keymap, via

#21133 [Keymap] Update andrebrait keymap for GMMK Pro
  keyboards/gmmk/pro/rev1/ansi/keymaps/andrebrait/config.h
  keyboards/gmmk/pro/rev1/ansi/keymaps/andrebrait/keymap.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/andrebrait/readme.md
  keyboards/gmmk/pro/rev1/ansi/keymaps/andrebrait/rules.mk
Labels: keymap

#21102 Add ScottoCMD handwired keyboard
  keyboards/handwired/scottokeebs/scottocmd/config.h
  keyboards/handwired/scottokeebs/scottocmd/info.json
  keyboards/handwired/scottokeebs/scottocmd/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottocmd/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottocmd/keymaps/scotto/config.h
  keyboards/handwired/scottokeebs/scottocmd/keymaps/scotto/keymap.c
  keyboards/handwired/scottokeebs/scottocmd/keymaps/scotto/rules.mk
  keyboards/handwired/scottokeebs/scottocmd/readme.md
  keyboards/handwired/scottokeebs/scottocmd/rules.mk
  keyboards/handwired/scottokeebs/scottocmd/scottocmd.c
Labels: keyboard, keymap

#20922 Add Fidelity keyboard
  keyboards/cutie_club/fidelity/config.h
  keyboards/cutie_club/fidelity/info.json
  keyboards/cutie_club/fidelity/keymaps/default/keymap.c
  keyboards/cutie_club/fidelity/keymaps/via/keymap.c
  keyboards/cutie_club/fidelity/keymaps/via/rules.mk
  keyboards/cutie_club/fidelity/readme.md
  keyboards/cutie_club/fidelity/rules.mk
Labels: keyboard, keymap, via

#20766 Add new keyboard "Baumkuchen"
  keyboards/takashicompany/baumkuchen/baumkuchen.c
  keyboards/takashicompany/baumkuchen/info.json
  keyboards/takashicompany/baumkuchen/keymaps/build_test/keymap.c
  keyboards/takashicompany/baumkuchen/keymaps/default/keymap.c
  keyboards/takashicompany/baumkuchen/keymaps/via/config.h
  keyboards/takashicompany/baumkuchen/keymaps/via/keymap.c
  keyboards/takashicompany/baumkuchen/keymaps/via/rules.mk
  keyboards/takashicompany/baumkuchen/readme.md
  keyboards/takashicompany/baumkuchen/rules.mk
Labels: keyboard, keymap, via

#20709 Add `handwired/dactyl_lightcycle` keyboard
  keyboards/handwired/dactyl_lightcycle/info.json
  keyboards/handwired/dactyl_lightcycle/keymaps/default/config.h
  keyboards/handwired/dactyl_lightcycle/keymaps/default/keymap.json
  keyboards/handwired/dactyl_lightcycle/keymaps/via/config.h
  keyboards/handwired/dactyl_lightcycle/keymaps/via/keymap.json
  keyboards/handwired/dactyl_lightcycle/keymaps/via/rules.mk
  keyboards/handwired/dactyl_lightcycle/readme.md
  keyboards/handwired/dactyl_lightcycle/rules.mk
Labels: keyboard, keymap, via

#20517 Add `handwired/dactyl_cc` keyboard
  keyboards/handwired/dactyl_cc/info.json
  keyboards/handwired/dactyl_cc/keymaps/default/config.h
  keyboards/handwired/dactyl_cc/keymaps/default/keymap.c
  keyboards/handwired/dactyl_cc/keymaps/via/config.h
  keyboards/handwired/dactyl_cc/keymaps/via/keymap.c
  keyboards/handwired/dactyl_cc/keymaps/via/rules.mk
  keyboards/handwired/dactyl_cc/readme.md
  keyboards/handwired/dactyl_cc/rules.mk
Labels: keyboard, keymap, via

#20372 Adding Krado Industries keyboards
  keyboards/kradoindustries/kousa/config.h
  keyboards/kradoindustries/kousa/info.json
  keyboards/kradoindustries/kousa/keymaps/default/keymap.c
  keyboards/kradoindustries/kousa/keymaps/default/rules.mk
  keyboards/kradoindustries/kousa/keymaps/via/keymap.c
  keyboards/kradoindustries/kousa/keymaps/via/rules.mk
  keyboards/kradoindustries/kousa/readme.md
  keyboards/kradoindustries/kousa/rules.mk
  keyboards/kradoindustries/krado66/info.json
  keyboards/kradoindustries/krado66/keymaps/default/keymap.c
  keyboards/kradoindustries/krado66/keymaps/default/rules.mk
  keyboards/kradoindustries/krado66/keymaps/via/keymap.c
  keyboards/kradoindustries/krado66/keymaps/via/rules.mk
  keyboards/kradoindustries/krado66/readme.md
  keyboards/kradoindustries/krado66/rules.mk
  keyboards/kradoindustries/promenade/info.json
  keyboards/kradoindustries/promenade/keymaps/default/keymap.c
  keyboards/kradoindustries/promenade/keymaps/via/keymap.c
  keyboards/kradoindustries/promenade/keymaps/via/rules.mk
  keyboards/kradoindustries/promenade/readme.md
  keyboards/kradoindustries/promenade/rules.mk
Labels: keyboard, keymap, via

#20370 Adding Frost68 keyboard
  keyboards/skeletonkbd/frost68/config.h
  keyboards/skeletonkbd/frost68/frost68.c
  keyboards/skeletonkbd/frost68/info.json
  keyboards/skeletonkbd/frost68/keymaps/default/keymap.c
  keyboards/skeletonkbd/frost68/keymaps/via/keymap.c
  keyboards/skeletonkbd/frost68/keymaps/via/rules.mk
  keyboards/skeletonkbd/frost68/readme.md
  keyboards/skeletonkbd/frost68/rules.mk
Labels: keyboard, keymap, via

#20230 Add support for Rastersoft MiniTKL
  keyboards/rastersoft/minitkl/info.json
  keyboards/rastersoft/minitkl/keymaps/ansi/keymap.c
  keyboards/rastersoft/minitkl/keymaps/ansi/readme.md
  keyboards/rastersoft/minitkl/keymaps/default/keymap.c
  keyboards/rastersoft/minitkl/keymaps/default/readme.md
  keyboards/rastersoft/minitkl/keymaps/hybrid/keymap.c
  keyboards/rastersoft/minitkl/keymaps/hybrid/readme.md
  keyboards/rastersoft/minitkl/minitkl.c
  keyboards/rastersoft/minitkl/readme.md
  keyboards/rastersoft/minitkl/rules.mk
Labels: keyboard, keymap

#21404 Update info.json, default keymap, and via keymap
  keyboards/1upkeyboards/pi60/info.json
  keyboards/1upkeyboards/pi60/keymaps/default/keymap.c
  keyboards/1upkeyboards/pi60/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#21447 Fixup STM32-DFU
  platforms/chibios/bootloaders/stm32_dfu.c
Labels: bug, core

#19598 Add key-ripper
  keyboards/bschwind/key_ripper/info.json
  keyboards/bschwind/key_ripper/keymaps/default/keymap.c
  keyboards/bschwind/key_ripper/keymaps/via/keymap.c
  keyboards/bschwind/key_ripper/keymaps/via/rules.mk
  keyboards/bschwind/key_ripper/readme.md
  keyboards/bschwind/key_ripper/rules.mk
Labels: keyboard, keymap, via

#21243 [keyboard] add abko/ak84bt
  keyboards/abko/ak84bt/ak84bt.c
  keyboards/abko/ak84bt/config.h
  keyboards/abko/ak84bt/halconf.h
  keyboards/abko/ak84bt/info.json
  keyboards/abko/ak84bt/keymaps/default/keymap.c
  keyboards/abko/ak84bt/mcuconf.h
  keyboards/abko/ak84bt/readme.md
  keyboards/abko/ak84bt/rules.mk
Labels: keyboard, keymap, pr_checklist_pending

#20402 added hackpad keyboard
  keyboards/hackpad/info.json
  keyboards/hackpad/keymaps/default/keymap.c
  keyboards/hackpad/readme.md
  keyboards/hackpad/rules.mk
Labels: keyboard, keymap

#20925 New keyboard: RM Fullsize
  keyboards/rmkeebs/rm_fullsize/info.json
  keyboards/rmkeebs/rm_fullsize/keymaps/default/keymap.c
  keyboards/rmkeebs/rm_fullsize/keymaps/default/rules.mk
  keyboards/rmkeebs/rm_fullsize/readme.md
  keyboards/rmkeebs/rm_fullsize/rules.mk
Labels: keyboard, keymap

#20534 Add Mino Plus Hotswap
  keyboards/mino_plus/hotswap/config.h
  keyboards/mino_plus/hotswap/halconf.h
  keyboards/mino_plus/hotswap/hotswap.c
  keyboards/mino_plus/hotswap/info.json
  keyboards/mino_plus/hotswap/keymaps/default/keymap.c
  keyboards/mino_plus/hotswap/keymaps/via/keymap.c
  keyboards/mino_plus/hotswap/keymaps/via/rules.mk
  keyboards/mino_plus/hotswap/mcuconf.h
  keyboards/mino_plus/hotswap/rules.mk
  keyboards/mino_plus/mino_plus.c
  keyboards/mino_plus/readme.md
  keyboards/mino_plus/soldered/keymaps/default/keymap.c
  keyboards/mino_plus/soldered/keymaps/via/keymap.c
  keyboards/mino_plus/soldered/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#21458 4pplet Eagle Viper Rev B: correct LAYOUT_all data
  keyboards/4pplet/eagle_viper_rep/rev_b/info.json
Labels: enhancement, keyboard

#21375 small changes, game layer
  keyboards/keebio/iris/keymaps/mattly/config.h
  keyboards/keebio/iris/keymaps/mattly/keymap.c
  users/mattly/mattly.c
  users/mattly/mattly.h
  users/mattly/rules.mk
Labels: keymap

#21446 add mazestudio jocker
  keyboards/mazestudio/jocker/info.json
  keyboards/mazestudio/jocker/keymaps/default/keymap.c
  keyboards/mazestudio/jocker/keymaps/via/keymap.c
  keyboards/mazestudio/jocker/keymaps/via/rules.mk
  keyboards/mazestudio/jocker/readme.md
  keyboards/mazestudio/jocker/rules.mk
Labels: keyboard, keymap, via

#21413 Add dp3000 macropad
  keyboards/dp3000/config.h
  keyboards/dp3000/dp3000.c
  keyboards/dp3000/info.json
  keyboards/dp3000/keymaps/default/keymap.c
  keyboards/dp3000/keymaps/default/rules.mk
  keyboards/dp3000/keymaps/via/keymap.c
  keyboards/dp3000/keymaps/via/rules.mk
  keyboards/dp3000/readme.md
  keyboards/dp3000/rules.mk
Labels: keyboard, keymap, via

#21421 Add Nyquist Rev. 4
  keyboards/keebio/nyquist/keymaps/default/config.h
  keyboards/keebio/nyquist/keymaps/default/keymap.c
  keyboards/keebio/nyquist/keymaps/default/rules.mk
  keyboards/keebio/nyquist/keymaps/default_4x12/keymap.c
  keyboards/keebio/nyquist/keymaps/via/keymap.c
  keyboards/keebio/nyquist/keymaps/via/rules.mk
  keyboards/keebio/nyquist/rev4/config.h
  keyboards/keebio/nyquist/rev4/info.json
  keyboards/keebio/nyquist/rev4/rules.mk
Labels: keyboard, keymap, via

#21437 [Keyboard] Add cf81 keyboard.
  keyboards/chosfox/cf81/cf81.c
  keyboards/chosfox/cf81/config.h
  keyboards/chosfox/cf81/halconf.h
  keyboards/chosfox/cf81/info.json
  keyboards/chosfox/cf81/keymaps/default/keymap.c
  keyboards/chosfox/cf81/keymaps/default/rules.mk
  keyboards/chosfox/cf81/keymaps/via/keymap.c
  keyboards/chosfox/cf81/keymaps/via/rules.mk
  keyboards/chosfox/cf81/mcuconf.h
  keyboards/chosfox/cf81/readme.md
  keyboards/chosfox/cf81/rules.mk
Labels: keyboard, keymap, via

#21457 [Keyboard] Add dnworks frltkl
  keyboards/dnworks/frltkl/config.h
  keyboards/dnworks/frltkl/info.json
  keyboards/dnworks/frltkl/keymaps/default/keymap.c
  keyboards/dnworks/frltkl/keymaps/via/keymap.c
  keyboards/dnworks/frltkl/keymaps/via/rules.mk
  keyboards/dnworks/frltkl/readme.md
  keyboards/dnworks/frltkl/rules.mk
Labels: keyboard, keymap, via

#21461 RM_Fullsize keymap fix: swap enter and delete keys
  keyboards/rmkeebs/rm_fullsize/keymaps/default/keymap.c
Labels: keymap

#21468 jones/v1: fix layout offset and disable audio on via keymap
  keyboards/jones/v1/info.json
  keyboards/jones/v1/keymaps/via/rules.mk
Labels: bug, keyboard, keymap, via

#21384 kyria: remove `LAYOUT_stack`
  keyboards/splitkb/kyria/keymaps/rmw/keymap.c
  keyboards/splitkb/kyria/keymaps/uqs/keymap.c
  keyboards/splitkb/kyria/rev1/info.json
  keyboards/splitkb/kyria/rev2/info.json
  keyboards/splitkb/kyria/rev3/info.json
Labels: enhancement, keyboard, keymap

#21465 tmk_core: remove direct `quantum.h` includes
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/arm_atsam/md_rgb_matrix.c
  tmk_core/protocol/arm_atsam/md_rgb_matrix.h
  tmk_core/protocol/arm_atsam/md_rgb_matrix_programs.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/usb_util.c
  tmk_core/protocol/usb_util.h
Labels: enhancement, core

#20646 Fix PS2_MOUSE_INVERT_BUTTONS
  drivers/ps2/ps2_mouse.c
Labels: bug, core, breaking_change_2023q3

#20996 Adds a way to separate tab from AUTO_SHIFT_SPECIAL.
  docs/feature_auto_shift.md
  quantum/process_keycode/process_auto_shift.c
  quantum/process_keycode/process_auto_shift.h
Labels: core, documentation, breaking_change_2023q3

#20950 clarify what the heck pristine means for reasons
  docs/pr_checklist.md
Labels: documentation

#20102 [Refactor] Python-ify QP's converter code
  lib/python/qmk/painter.py
Labels: python, cli

#21470 Adjust width requirement for big enter
  keyboards/gvalchca/spaccboard/info.json
  keyboards/handwired/frenchdev/info.json
  keyboards/handwired/t111/info.json
  lib/python/qmk/keyboard.py
Labels: bug, enhancement, keyboard, python, cli

#20538 Lights Out keymap for winry25t
  keyboards/winry/winry25tc/config.h
  keyboards/winry/winry25tc/keymaps/lightsout/keymap.c
  keyboards/winry/winry25tc/keymaps/lightsout/readme.md
Labels: keyboard, keymap

#21035 [Keyboard] Add stront keyboard
  keyboards/stront/config.h
  keyboards/stront/display.c
  keyboards/stront/display.h
  keyboards/stront/halconf.h
  keyboards/stront/info.json
  keyboards/stront/keymaps/default/keymap.c
  keyboards/stront/keymaps/hid/config.h
  keyboards/stront/keymaps/hid/hid_display.c
  keyboards/stront/keymaps/hid/hid_display.h
  keyboards/stront/keymaps/hid/keymap.c
  keyboards/stront/keymaps/hid/lv_conf.h
  keyboards/stront/keymaps/hid/rules.mk
  keyboards/stront/keymaps/i2c/config.h
  keyboards/stront/keymaps/i2c/halconf.h
  keyboards/stront/keymaps/i2c/keymap.c
  keyboards/stront/keymaps/i2c/mcuconf.h
  keyboards/stront/keymaps/i2c/rules.mk
  keyboards/stront/keymaps/zzeneg/config.h
  keyboards/stront/keymaps/zzeneg/fonts/montserrat_20_en_ru.c
  keyboards/stront/keymaps/zzeneg/fonts/montserrat_48_digits.c
  keyboards/stront/keymaps/zzeneg/halconf.h
  keyboards/stront/keymaps/zzeneg/icons/flag_pl.c
  keyboards/stront/keymaps/zzeneg/icons/flag_ru.c
  keyboards/stront/keymaps/zzeneg/icons/flag_uk.c
  keyboards/stront/keymaps/zzeneg/keymap.c
  keyboards/stront/keymaps/zzeneg/lv_conf.h
  keyboards/stront/keymaps/zzeneg/mcuconf.h
  keyboards/stront/keymaps/zzeneg/rules.mk
  keyboards/stront/keymaps/zzeneg/zzeneg_display.c
  keyboards/stront/keymaps/zzeneg/zzeneg_display.h
  keyboards/stront/lv_conf.h
  keyboards/stront/lvgl_helpers.c
  keyboards/stront/lvgl_helpers.h
  keyboards/stront/mcuconf.h
  keyboards/stront/readme.md
  keyboards/stront/rules.mk
  keyboards/stront/stront.c
  keyboards/stront/stront.h
Labels: keyboard, keymap

#21056 [Enhancement] More info on `apply_autocorrect`
  docs/feature_autocorrect.md
  quantum/process_keycode/process_autocorrect.c
  quantum/process_keycode/process_autocorrect.h
  users/drashna/drashna.c
Labels: core, keymap, documentation

#21144 Update `dactyl_promicro` readme
  keyboards/handwired/dactyl_promicro/keymaps/default/keymap.c
  keyboards/handwired/dactyl_promicro/readme.md
Labels: keyboard, keymap

#20937 Add ScottoAlp Keyboard
  keyboards/handwired/scottokeebs/scottoalp/info.json
  keyboards/handwired/scottokeebs/scottoalp/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottoalp/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottoalp/keymaps/scotto/config.h
  keyboards/handwired/scottokeebs/scottoalp/keymaps/scotto/keymap.c
  keyboards/handwired/scottokeebs/scottoalp/keymaps/scotto/rules.mk
  keyboards/handwired/scottokeebs/scottoalp/readme.md
  keyboards/handwired/scottokeebs/scottoalp/rules.mk
Labels: keyboard, keymap

#20992 [Feature] Send a dummy keycode to neutralize flashing modifiers in retro tap and key overrides
  docs/feature_key_overrides.md
  docs/tap_hold.md
  quantum/action.c
  quantum/action_util.c
  quantum/action_util.h
  quantum/process_keycode/process_key_override.c
  tests/tap_hold_configurations/retro_tapping/config.h
  tests/tap_hold_configurations/retro_tapping/test_neutralization.cpp
Labels: core, documentation

#21215 Pomodoro Timer in Lily58
  keyboards/lily58/keymaps/pomodoro/config.h
  keyboards/lily58/keymaps/pomodoro/keymap.c
  keyboards/lily58/keymaps/pomodoro/pomodoro.c
  keyboards/lily58/keymaps/pomodoro/rules.mk
Labels: keymap

#21183 [Keyboard] add m6 Keyboard.
  keyboards/monsgeek/m6/config.h
  keyboards/monsgeek/m6/halconf.h
  keyboards/monsgeek/m6/info.json
  keyboards/monsgeek/m6/keymaps/default/keymap.c
  keyboards/monsgeek/m6/keymaps/via/keymap.c
  keyboards/monsgeek/m6/keymaps/via/rules.mk
  keyboards/monsgeek/m6/m6.c
  keyboards/monsgeek/m6/mcuconf.h
  keyboards/monsgeek/m6/readme.md
  keyboards/monsgeek/m6/rules.mk
Labels: keyboard, keymap, via

#21205 Minor amendment to `bcat` userspace to prevent build failure
  users/bcat/bcat.h
Labels: keymap

#21097 add `scotto` community layouts and userspace
  layouts/community/ortho_4x10/scotto/keymap.c
  layouts/community/split_3x5_2/scotto/keymap.c
  layouts/community/split_3x5_3/scotto/keymap.c
  users/scotto/config.h
  users/scotto/readme.md
  users/scotto/rules.mk
  users/scotto/scotto.c
  users/scotto/scotto.h
  users/scotto/tap_dance.c
  users/scotto/tap_dance.h
Labels: keymap

#21285 add ASCII diagrams to LAYOUT_64_*
  layouts/default/64_ansi/default_64_ansi/keymap.c
  layouts/default/64_iso/default_64_iso/keymap.c
Labels: keymap

#21281 add VIA support for LED Matrix
  quantum/via.c
  quantum/via.h
Labels: core

#20395 Revamp `dactyl_manuform` readme.md
  keyboards/handwired/dactyl_manuform/readme.md
Labels: keyboard

#21164 Refactor kinetic mouse key feature
  docs/feature_mouse_keys.md
  quantum/mousekey.c
Labels: core, documentation

#21321 Add EVO70 R2 Keyboard
  keyboards/custommk/evo70_r2/config.h
  keyboards/custommk/evo70_r2/halconf.h
  keyboards/custommk/evo70_r2/info.json
  keyboards/custommk/evo70_r2/keymaps/default/keymap.c
  keyboards/custommk/evo70_r2/keymaps/via/config.h
  keyboards/custommk/evo70_r2/keymaps/via/keymap.c
  keyboards/custommk/evo70_r2/keymaps/via/rules.mk
  keyboards/custommk/evo70_r2/matrix.c
  keyboards/custommk/evo70_r2/mcuconf.h
  keyboards/custommk/evo70_r2/readme.md
  keyboards/custommk/evo70_r2/rules.mk
Labels: keyboard, keymap, via

#21302 rename and modernise `dactyl_manuform/6x6_kinesis`
  data/mappings/keyboard_aliases.hjson
  keyboards/handwired/dactyl_kinesis/info.json
  keyboards/handwired/dactyl_kinesis/keymaps/default/keymap.c
  keyboards/handwired/dactyl_kinesis/readme.md
  keyboards/handwired/dactyl_kinesis/rules.mk
  keyboards/handwired/dactyl_manuform/6x6_kinesis/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/6x6_kinesis/readme.md
  keyboards/handwired/dactyl_manuform/6x6_kinesis/rules.mk
Labels: keyboard, keymap

#21315 Adding Custom Shift Key Implementation for BriianPowell's Gentleman65 Keymap
  keyboards/jkeys_design/gentleman65/keymaps/briianpowell/features/custom_shift_keys.c
  keyboards/jkeys_design/gentleman65/keymaps/briianpowell/features/custom_shift_keys.h
  keyboards/jkeys_design/gentleman65/keymaps/briianpowell/keymap.c
  keyboards/jkeys_design/gentleman65/keymaps/briianpowell/readme.md
  keyboards/jkeys_design/gentleman65/keymaps/briianpowell/rules.mk
  keyboards/jkeys_design/gentleman65/rules.mk
Labels: keyboard, keymap

#21291 Add a turbo feature to coffee keymap
  keyboards/kprepublic/bm40hsrgb/keymaps/coffee/config.h
  keyboards/kprepublic/bm40hsrgb/keymaps/coffee/keymap.c
  keyboards/kprepublic/bm40hsrgb/keymaps/coffee/readme.md
Labels: keymap

#21274 [Keymap] Add slotThe keyboardio/atreus keymap
  keyboards/keyboardio/atreus/keymaps/slotthe/autocorrect_data.h
  keyboards/keyboardio/atreus/keymaps/slotthe/config.h
  keyboards/keyboardio/atreus/keymaps/slotthe/keymap.c
  keyboards/keyboardio/atreus/keymaps/slotthe/readme.md
  keyboards/keyboardio/atreus/keymaps/slotthe/rules.mk
Labels: keymap

#21365 Set minimum middle column value
  quantum/rgb_matrix/animations/pixel_fractal_anim.h
Labels: core

#21094 update layouts of `dactyl_manuform/4x5_5`
  keyboards/handwired/dactyl_manuform/4x5_5/info.json
  keyboards/handwired/dactyl_manuform/4x5_5/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/4x5_5/keymaps/ssedrick/keymap.c
Labels: keyboard, keymap

#21220 Add 'JIS' form factor layouts
  keyboards/bpiphany/pegasushoof/2013/info.json
  keyboards/bpiphany/pegasushoof/2015/info.json
  keyboards/cipulot/rf_r1_8_9xu/info.json
  keyboards/converter/usb_usb/info.json
  layouts/default/60_jis/default_60_jis/keymap.c
  layouts/default/60_jis/info.json
  layouts/default/60_jis/layout.json
  layouts/default/60_jis/readme.md
  layouts/default/fullsize_jis/default_fullsize_jis/keymap.c
  layouts/default/fullsize_jis/info.json
  layouts/default/fullsize_jis/layout.json
  layouts/default/fullsize_jis/readme.md
  layouts/default/readme.md
  layouts/default/tkl_f13_jis/default_tkl_f13_jis/keymaps.c
  layouts/default/tkl_f13_jis/info.json
  layouts/default/tkl_f13_jis/layout.json
  layouts/default/tkl_f13_jis/readme.md
  layouts/default/tkl_jis/default_tkl_jis/keymap.c
  layouts/default/tkl_jis/info.json
  layouts/default/tkl_jis/layout.json
  layouts/default/tkl_jis/readme.md
Labels: keyboard, keymap

#21434 Allow key override to respect weak mods caused by caps word
  quantum/quantum.c
Labels: core

#21320 bootmagic mods covering the case when swapped mods are pressed at the same time
  quantum/keycode_config.c
Labels: core

#21276 [Keyboard] Adding Styrka Topre PCB
  keyboards/viktus/styrka_topre/ec.c
  keyboards/viktus/styrka_topre/ec.h
  keyboards/viktus/styrka_topre/info.json
  keyboards/viktus/styrka_topre/keymaps/default/keymap.c
  keyboards/viktus/styrka_topre/keymaps/via/keymap.c
  keyboards/viktus/styrka_topre/keymaps/via/rules.mk
  keyboards/viktus/styrka_topre/readme.md
  keyboards/viktus/styrka_topre/rules.mk
  keyboards/viktus/styrka_topre/styrka_topre.c
Labels: keyboard, keymap, via

#21427 [Core] Simplify audio_duration_to_ms() and audio_ms_to_duration(), reduce firmware size by a few bytes.
  platforms/test/drivers/audio_pwm.h
  platforms/test/drivers/audio_pwm_hardware.c
  quantum/audio/audio.c
  tests/audio/config.h
  tests/audio/test.mk
  tests/audio/test_audio.cpp
Labels: core

#21293 Refactor times inverse of sqrt 2 calculation
  quantum/mousekey.c
Labels: core

#20481 [Bugfix] Check `NULL` pointers on QP
  quantum/painter/lvgl/qp_lvgl.c
  quantum/painter/qp.c
  quantum/painter/qp_comms.c
  quantum/painter/qp_draw_circle.c
  quantum/painter/qp_draw_core.c
  quantum/painter/qp_draw_ellipse.c
  quantum/painter/qp_draw_image.c
  quantum/painter/qp_draw_text.c
Labels: core

#21299 Modernize, correct, and uniform `dactyl_manuform` variant `5x6_68`
  keyboards/handwired/dactyl_manuform/5x6_68/info.json
  keyboards/handwired/dactyl_manuform/5x6_68/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/5x6_68/readme.md
  keyboards/handwired/dactyl_manuform/5x6_68/rules.mk
Labels: keyboard, keymap

#21046 Update `k34` layout to `split_3x5_2`
  keyboards/k34/info.json
  keyboards/k34/keymaps/default/config.h
  keyboards/k34/keymaps/default/keymap.c
  keyboards/k34/readme.md
Labels: keyboard, keymap

#21463 AMJKeyboard AMJ84 Touch-Up
  keyboards/amjkeyboard/amj84/info.json
  keyboards/amjkeyboard/amj84/keymaps/default/keymap.c
  keyboards/amjkeyboard/amj84/keymaps/default_ansi_rwkl/keymap.c
  keyboards/amjkeyboard/amj84/keymaps/default_iso_rwkl/keymap.c
  keyboards/amjkeyboard/amj84/matrix_diagram.md
Labels: enhancement, keyboard, keymap

#21471 Revert "bootmagic mods covering the case when swapped mods are pressed at the same time (#21320)"
  quantum/keycode_config.c
Labels: bug, core

#21385 update keyboard soda/mango, support rgb matrix
  keyboards/soda/mango/config.h
  keyboards/soda/mango/info.json
Labels: keyboard

#21337 add jels60v2 support
  keyboards/jels/jels60/config.h
  keyboards/jels/jels60/info.json
  keyboards/jels/jels60/keymaps/default/keymap.c
  keyboards/jels/jels60/keymaps/via/keymap.c
  keyboards/jels/jels60/rules.mk
  keyboards/jels/jels60/v1/config.h
  keyboards/jels/jels60/v1/info.json
  keyboards/jels/jels60/v1/rules.mk
  keyboards/jels/jels60/v2/config.h
  keyboards/jels/jels60/v2/info.json
  keyboards/jels/jels60/v2/rules.mk
Labels: keyboard, keymap, via

#21027 Add Neely 65 PCB
  keyboards/wolf/neely65/info.json
  keyboards/wolf/neely65/keymaps/default/keymap.c
  keyboards/wolf/neely65/keymaps/via/keymap.c
  keyboards/wolf/neely65/keymaps/via/rules.mk
  keyboards/wolf/neely65/readme.md
  keyboards/wolf/neely65/rules.mk
Labels: keyboard, keymap, via

#21025 Add base firmware for Silhouette
  keyboards/wolf/silhouette/info.json
  keyboards/wolf/silhouette/keymaps/default/keymap.c
  keyboards/wolf/silhouette/keymaps/via/keymap.c
  keyboards/wolf/silhouette/keymaps/via/rules.mk
  keyboards/wolf/silhouette/readme.md
  keyboards/wolf/silhouette/rules.mk
Labels: keyboard, keymap, via

#21472 bootmagic mods covering the case when swapped mods are pressed at the same time (#21320)
  quantum/keycode_config.c
Labels: core

#21476 Mechlovin Zed65 rev1 Develop Touch-Up
  keyboards/mechlovin/zed65/rev1/info.json
  keyboards/mechlovin/zed65/rev1/keymaps/default/keymap.c
  keyboards/mechlovin/zed65/rev1/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21444 Relocate backlight drivers
  builddefs/common_features.mk
  drivers/backlight/backlight_software.c
  keyboards/4pplet/eagle_viper_rep/rev_a/config.h
  keyboards/acheron/athena/alpha/alpha.c
  keyboards/acheron/athena/alpha/config.h
  keyboards/acheron/athena/beta/config.h
  keyboards/acheron/shark/alpha/config.h
  keyboards/acheron/shark/beta/config.h
  keyboards/checkerboards/nop60/config.h
  keyboards/ebastler/e80_1800/config.h
  keyboards/ebastler/isometria_75/rev1/config.h
  keyboards/geonworks/frogmini/fms/config.h
  keyboards/handwired/onekey/blackpill_f401/config.h
  keyboards/handwired/onekey/blackpill_f401_tinyuf2/config.h
  keyboards/handwired/onekey/blackpill_f411/config.h
  keyboards/handwired/onekey/blackpill_f411_tinyuf2/config.h
  keyboards/handwired/onekey/evb_wb32f3g71/config.h
  keyboards/handwired/onekey/evb_wb32fq95/config.h
  keyboards/handwired/onekey/nucleo_f446re/config.h
  keyboards/handwired/onekey/nucleo_l432kc/config.h
  keyboards/handwired/onekey/proton_c/config.h
  keyboards/handwired/onekey/rp2040/config.h
  keyboards/handwired/onekey/stm32f0_disco/config.h
  keyboards/handwired/pill60/config.h
  keyboards/linworks/fave104/config.h
  keyboards/linworks/whale75/config.h
  keyboards/mechlovin/adelais/standard_led/arm/config.h
  keyboards/mechlovin/hannah65/config.h
  keyboards/mechlovin/hex4b/rev2/config.h
  keyboards/mechlovin/hex6c/config.h
  keyboards/mechlovin/infinity87/rev1/config.h
  keyboards/mechlovin/infinity88/config.h
  keyboards/mechlovin/mechlovin9/rev1/config.h
  keyboards/mechlovin/tmkl/config.h
  keyboards/mode/m75s/config.h
  keyboards/smithrune/iron165r2/f411/config.h
  platforms/avr/drivers/backlight_pwm.c
  platforms/chibios/drivers/backlight_pwm.c
  platforms/chibios/drivers/backlight_timer.c
  quantum/backlight/backlight.c
  quantum/backlight/backlight_driver_common.c
Labels: bug, enhancement, core, keyboard

#21479 Artemis Paragon Layout Additions
  keyboards/artemis/paragon/hotswap/info.json
  keyboards/artemis/paragon/hotswap/matrix_diagram.md
  keyboards/artemis/paragon/info.json
  keyboards/artemis/paragon/keymaps/default/keymap.c
  keyboards/artemis/paragon/keymaps/via/keymap.c
  keyboards/artemis/paragon/soldered/info.json
  keyboards/artemis/paragon/soldered/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21480 debounce: remove direct `quantum.h` includes
  quantum/debounce.h
  quantum/debounce/asym_eager_defer_pk.c
  quantum/debounce/none.c
  quantum/debounce/sym_defer_g.c
  quantum/debounce/sym_defer_pk.c
  quantum/debounce/sym_defer_pr.c
  quantum/debounce/sym_eager_pk.c
  quantum/debounce/sym_eager_pr.c
  quantum/debounce/tests/debounce_test_common.cpp
  quantum/debounce/tests/debounce_test_common.h
Labels: enhancement, core

#21039 1upocarina
  keyboards/1upkeyboards/1upocarina/config.h
  keyboards/1upkeyboards/1upocarina/info.json
  keyboards/1upkeyboards/1upocarina/keymaps/default/keymap.c
  keyboards/1upkeyboards/1upocarina/keymaps/default/rules.mk
  keyboards/1upkeyboards/1upocarina/keymaps/via/keymap.c
  keyboards/1upkeyboards/1upocarina/keymaps/via/rules.mk
  keyboards/1upkeyboards/1upocarina/readme.md
  keyboards/1upkeyboards/1upocarina/rules.mk
Labels: keyboard, keymap, via

#21473 drivers: remove direct `quantum.h` includes
  drivers/led/apa102.c
  drivers/sensors/pmw33xx_common.h
  platforms/chibios/bootloaders/rp2040.c
  platforms/chibios/drivers/i2c_master.c
  platforms/chibios/drivers/serial.c
  platforms/chibios/drivers/serial_protocol.c
  platforms/chibios/drivers/serial_usart.c
  platforms/chibios/drivers/serial_usart.h
  platforms/chibios/drivers/uart.c
  platforms/chibios/drivers/uart.h
  platforms/chibios/drivers/vendor/RP/RP2040/ps2_vendor.c
  platforms/chibios/drivers/vendor/RP/RP2040/serial_vendor.c
  platforms/chibios/drivers/vendor/RP/RP2040/ws2812_vendor.c
  platforms/chibios/drivers/ws2812_bitbang.c
  platforms/chibios/drivers/ws2812_pwm.c
  platforms/chibios/drivers/ws2812_spi.c
Labels: enhancement, core

#21485 keymap_extras: remove direct `quantum.h` includes
  quantum/keymap_extras/sendstring_belgian.h
  quantum/keymap_extras/sendstring_bepo.h
  quantum/keymap_extras/sendstring_brazilian_abnt2.h
  quantum/keymap_extras/sendstring_canadian_multilingual.h
  quantum/keymap_extras/sendstring_colemak.h
  quantum/keymap_extras/sendstring_croatian.h
  quantum/keymap_extras/sendstring_czech.h
  quantum/keymap_extras/sendstring_danish.h
  quantum/keymap_extras/sendstring_dvorak.h
  quantum/keymap_extras/sendstring_dvorak_fr.h
  quantum/keymap_extras/sendstring_dvorak_programmer.h
  quantum/keymap_extras/sendstring_estonian.h
  quantum/keymap_extras/sendstring_finnish.h
  quantum/keymap_extras/sendstring_french.h
  quantum/keymap_extras/sendstring_french_afnor.h
  quantum/keymap_extras/sendstring_french_mac_iso.h
  quantum/keymap_extras/sendstring_german.h
  quantum/keymap_extras/sendstring_german_mac_iso.h
  quantum/keymap_extras/sendstring_hungarian.h
  quantum/keymap_extras/sendstring_icelandic.h
  quantum/keymap_extras/sendstring_italian.h
  quantum/keymap_extras/sendstring_italian_mac_ansi.h
  quantum/keymap_extras/sendstring_italian_mac_iso.h
  quantum/keymap_extras/sendstring_japanese.h
  quantum/keymap_extras/sendstring_latvian.h
  quantum/keymap_extras/sendstring_lithuanian_azerty.h
  quantum/keymap_extras/sendstring_lithuanian_qwerty.h
  quantum/keymap_extras/sendstring_norman.h
  quantum/keymap_extras/sendstring_norwegian.h
  quantum/keymap_extras/sendstring_portuguese.h
  quantum/keymap_extras/sendstring_portuguese_mac_iso.h
  quantum/keymap_extras/sendstring_romanian.h
  quantum/keymap_extras/sendstring_serbian_latin.h
  quantum/keymap_extras/sendstring_slovak.h
  quantum/keymap_extras/sendstring_slovenian.h
  quantum/keymap_extras/sendstring_spanish.h
  quantum/keymap_extras/sendstring_spanish_dvorak.h
  quantum/keymap_extras/sendstring_swedish.h
  quantum/keymap_extras/sendstring_swiss_de.h
  quantum/keymap_extras/sendstring_swiss_fr.h
  quantum/keymap_extras/sendstring_turkish_f.h
  quantum/keymap_extras/sendstring_turkish_q.h
  quantum/keymap_extras/sendstring_uk.h
  quantum/keymap_extras/sendstring_us_international.h
  quantum/keymap_extras/sendstring_workman.h
  quantum/keymap_extras/sendstring_workman_zxcvm.h
Labels: enhancement, core

#21477 [Docs] Squeeze AVR with simplified magic config functions
  docs/squeezing_avr.md
Labels: documentation

#20522 Userspace and keymap addition
  keyboards/1upkeyboards/pi40/mit_v1_0/keymaps/miketronic/config.h
  keyboards/1upkeyboards/pi40/mit_v1_0/keymaps/miketronic/keymap.c
  keyboards/1upkeyboards/pi40/mit_v1_0/keymaps/miketronic/rules.mk
  keyboards/hazel/bad_wings/keymaps/miketronic/config.h
  keyboards/hazel/bad_wings/keymaps/miketronic/keymap.c
  keyboards/hazel/bad_wings/keymaps/miketronic/rules.mk
  keyboards/mechwild/bde/rev2/keymaps/miketronic/config.h
  keyboards/mechwild/bde/rev2/keymaps/miketronic/keymap.c
  keyboards/mechwild/bde/rev2/keymaps/miketronic/rules.mk
  users/miketronic/config.h
  users/miketronic/miketronic.c
  users/miketronic/miketronic.h
  users/miketronic/process_records.c
  users/miketronic/process_records.h
  users/miketronic/readme.md
  users/miketronic/rules.mk
  users/miketronic/tapdances.c
  users/miketronic/tapdances.h
  users/miketronic/wrappers.h
Labels: keymap

#21237 Add skyloong/Dt40 keyboard
  keyboards/skyloong/dt40/config.h
  keyboards/skyloong/dt40/dt40.c
  keyboards/skyloong/dt40/halconf.h
  keyboards/skyloong/dt40/info.json
  keyboards/skyloong/dt40/keymaps/default/keymap.c
  keyboards/skyloong/dt40/keymaps/via/keymap.c
  keyboards/skyloong/dt40/keymaps/via/rules.mk
  keyboards/skyloong/dt40/mcuconf.h
  keyboards/skyloong/dt40/readme.md
  keyboards/skyloong/dt40/rules.mk
Labels: keyboard, keymap, via

#21495 aleblazer/zodiark:via: Disable two RGB effects
  keyboards/aleblazer/zodiark/keymaps/via/config.h
Labels: keymap, via

#21487 Add kibou/suisei
  keyboards/kibou/suisei/info.json
  keyboards/kibou/suisei/keymaps/default/keymap.c
  keyboards/kibou/suisei/keymaps/via/keymap.c
  keyboards/kibou/suisei/keymaps/via/rules.mk
  keyboards/kibou/suisei/readme.md
  keyboards/kibou/suisei/rules.mk
Labels: keyboard, keymap, via

#20142 adding atelier haven 65 and 80 keyboard pcb firmware,
  keyboards/ah/haven65/haven65.c
  keyboards/ah/haven65/info.json
  keyboards/ah/haven65/keymaps/default/keymap.c
  keyboards/ah/haven65/keymaps/via/keymap.c
  keyboards/ah/haven65/keymaps/via/rules.mk
  keyboards/ah/haven65/readme.md
  keyboards/ah/haven65/rules.mk
  keyboards/ah/haven80/haven80.c
  keyboards/ah/haven80/hotswap/info.json
  keyboards/ah/haven80/hotswap/readme.md
  keyboards/ah/haven80/hotswap/rules.mk
  keyboards/ah/haven80/info.json
  keyboards/ah/haven80/keymaps/default/keymap.c
  keyboards/ah/haven80/keymaps/via/keymap.c
  keyboards/ah/haven80/keymaps/via/rules.mk
  keyboards/ah/haven80/solder/info.json
  keyboards/ah/haven80/solder/readme.md
  keyboards/ah/haven80/solder/rules.mk
Labels: keyboard, keymap, via

#21493 Add MOUSEKEY_WHEEL_DELTA documentation
  docs/feature_mouse_keys.md
  quantum/mousekey.h
Labels: core, documentation

#21504 AliceH66 Pianoforte Touch-Up
  keyboards/aliceh66/pianoforte/info.json
  keyboards/aliceh66/pianoforte/keymaps/default/keymap.c
  keyboards/aliceh66/pianoforte/keymaps/iso/keymap.c
  keyboards/aliceh66/pianoforte/keymaps/via/keymap.c
  keyboards/aliceh66/pianoforte/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21505 DTIsaac01 Layout Additions and Touch-Up
  keyboards/dtisaac/dtisaac01/info.json
  keyboards/dtisaac/dtisaac01/keymaps/default/keymap.c
  keyboards/dtisaac/dtisaac01/keymaps/via/keymap.c
  keyboards/dtisaac/dtisaac01/keymaps/via/readme.md
  keyboards/dtisaac/dtisaac01/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21501 CMM.Studio Fuji65 Layout Additions
  keyboards/cmm_studio/fuji65/info.json
  keyboards/cmm_studio/fuji65/keymaps/default/keymap.c
  keyboards/cmm_studio/fuji65/keymaps/via/keymap.c
  keyboards/cmm_studio/fuji65/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#20502 Add support for Mode M256-WS and M256-WH PCBs
  keyboards/mode/m256wh/config.h
  keyboards/mode/m256wh/halconf.h
  keyboards/mode/m256wh/info.json
  keyboards/mode/m256wh/keymaps/default/keymap.c
  keyboards/mode/m256wh/keymaps/via/keymap.c
  keyboards/mode/m256wh/keymaps/via/rules.mk
  keyboards/mode/m256wh/m256wh.c
  keyboards/mode/m256wh/mcuconf.h
  keyboards/mode/m256wh/readme.md
  keyboards/mode/m256wh/rules.mk
  keyboards/mode/m256ws/config.h
  keyboards/mode/m256ws/halconf.h
  keyboards/mode/m256ws/info.json
  keyboards/mode/m256ws/keymaps/default/keymap.c
  keyboards/mode/m256ws/keymaps/via/keymap.c
  keyboards/mode/m256ws/keymaps/via/rules.mk
  keyboards/mode/m256ws/m256ws.c
  keyboards/mode/m256ws/mcuconf.h
  keyboards/mode/m256ws/readme.md
  keyboards/mode/m256ws/rules.mk
Labels: keyboard, keymap, via

#21460 [Keyboard] add itstleo9
  keyboards/handwired/itstleo9/info.json
  keyboards/handwired/itstleo9/keymaps/default/keymap.c
  keyboards/handwired/itstleo9/keymaps/via/keymap.c
  keyboards/handwired/itstleo9/keymaps/via/rules.mk
  keyboards/handwired/itstleo9/promicro/info.json
  keyboards/handwired/itstleo9/promicro/rules.mk
  keyboards/handwired/itstleo9/readme.md
  keyboards/handwired/itstleo9/rp2040/info.json
  keyboards/handwired/itstleo9/rp2040/rules.mk
Labels: keyboard, keymap, via

#21503 Fix `dactyl_lightcycle` matrix positions
  keyboards/handwired/dactyl_lightcycle/info.json
  keyboards/handwired/dactyl_lightcycle/keymaps/default/keymap.json
  keyboards/handwired/dactyl_lightcycle/keymaps/via/keymap.json
  keyboards/handwired/dactyl_lightcycle/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#21486 process_keycode: remove direct `quantum.h` includes
  quantum/action_layer.h
  quantum/midi/qmk_midi.c
  quantum/process_keycode/process_audio.h
  quantum/process_keycode/process_auto_shift.c
  quantum/process_keycode/process_auto_shift.h
  quantum/process_keycode/process_autocorrect.c
  quantum/process_keycode/process_autocorrect.h
  quantum/process_keycode/process_backlight.h
  quantum/process_keycode/process_caps_word.c
  quantum/process_keycode/process_caps_word.h
  quantum/process_keycode/process_clicky.h
  quantum/process_keycode/process_combo.c
  quantum/process_keycode/process_combo.h
  quantum/process_keycode/process_dynamic_macro.c
  quantum/process_keycode/process_dynamic_macro.h
  quantum/process_keycode/process_dynamic_tapping_term.c
  quantum/process_keycode/process_dynamic_tapping_term.h
  quantum/process_keycode/process_grave_esc.c
  quantum/process_keycode/process_grave_esc.h
  quantum/process_keycode/process_haptic.h
  quantum/process_keycode/process_joystick.h
  quantum/process_keycode/process_key_lock.h
  quantum/process_keycode/process_key_override.c
  quantum/process_keycode/process_key_override.h
  quantum/process_keycode/process_leader.c
  quantum/process_keycode/process_leader.h
  quantum/process_keycode/process_magic.c
  quantum/process_keycode/process_magic.h
  quantum/process_keycode/process_midi.c
  quantum/process_keycode/process_midi.h
  quantum/process_keycode/process_music.c
  quantum/process_keycode/process_music.h
  quantum/process_keycode/process_programmable_button.h
  quantum/process_keycode/process_repeat_key.c
  quantum/process_keycode/process_repeat_key.h
  quantum/process_keycode/process_rgb.c
  quantum/process_keycode/process_rgb.h
  quantum/process_keycode/process_secure.h
  quantum/process_keycode/process_sequencer.h
  quantum/process_keycode/process_space_cadet.c
  quantum/process_keycode/process_space_cadet.h
  quantum/process_keycode/process_steno.c
  quantum/process_keycode/process_steno.h
  quantum/process_keycode/process_tap_dance.c
  quantum/process_keycode/process_tap_dance.h
  quantum/process_keycode/process_tri_layer.h
Labels: enhancement, core

#20625 New keyboard: Model H controller for IBM Model M
  keyboards/modelh/config.h
  keyboards/modelh/info.json
  keyboards/modelh/keymaps/default/keymap.c
  keyboards/modelh/modelh.c
  keyboards/modelh/readme.md
  keyboards/modelh/rules.mk
Labels: keyboard, keymap

#21506 Zweihander: swap volume direction, add Expand/Shrink Selection buttons
  layouts/community/ergodox/zweihander-macos/keymap.c
Labels: keymap

#21070 Bring up Lynepad 2.0
  keyboards/qvex/lynepad2/config.h
  keyboards/qvex/lynepad2/info.json
  keyboards/qvex/lynepad2/keymaps/default/keymap.c
  keyboards/qvex/lynepad2/keymaps/default/rules.mk
  keyboards/qvex/lynepad2/keymaps/mcrosson/keymap.c
  keyboards/qvex/lynepad2/keymaps/mcrosson/rules.mk
  keyboards/qvex/lynepad2/keymaps/via/keymap.c
  keyboards/qvex/lynepad2/keymaps/via/rules.mk
  keyboards/qvex/lynepad2/matrix.c
  keyboards/qvex/lynepad2/readme.md
  keyboards/qvex/lynepad2/rules.mk
Labels: keyboard, keymap, via

#21509 [Keyboard][Update] Fix RS60 Indicators on_state
  keyboards/xelus/rs60/rev1/info.json
  keyboards/xelus/rs60/rev2_1/info.json
Labels: keyboard

#21304 [Keyboard] Add new keyboard nemui65
  keyboards/wuque/nemui65/config.h
  keyboards/wuque/nemui65/info.json
  keyboards/wuque/nemui65/keymaps/default/keymap.c
  keyboards/wuque/nemui65/keymaps/via/keymap.c
  keyboards/wuque/nemui65/keymaps/via/rules.mk
  keyboards/wuque/nemui65/readme.md
  keyboards/wuque/nemui65/rules.mk
Labels: keyboard, keymap, via

#21514 process_combo: restore wait.h header
  quantum/process_keycode/process_combo.c
Labels: core

#21466 fix some indicator and pin jaykeeb board
  keyboards/jaykeeb/kamigakushi/info.json
  keyboards/jaykeeb/sebelas/info.json
Labels: keyboard

#21484 Prepare ymdk/ymd75 for rev4
  keyboards/ymdk/ymd75/config.h
  keyboards/ymdk/ymd75/info.json
  keyboards/ymdk/ymd75/readme.md
  keyboards/ymdk/ymd75/rev1/info.json
  keyboards/ymdk/ymd75/rev1/keymaps/default/keymap.c
  keyboards/ymdk/ymd75/rev1/keymaps/default_iso/keymap.c
  keyboards/ymdk/ymd75/rev1/keymaps/default_iso_rwkl/keymap.c
  keyboards/ymdk/ymd75/rev1/keymaps/via/keymap.c
  keyboards/ymdk/ymd75/rev1/keymaps/via/rules.mk
  keyboards/ymdk/ymd75/rev1/readme.md
  keyboards/ymdk/ymd75/rev2/info.json
  keyboards/ymdk/ymd75/rev2/keymaps/default/keymap.c
  keyboards/ymdk/ymd75/rev2/keymaps/default_iso/keymap.c
  keyboards/ymdk/ymd75/rev2/keymaps/default_iso_rwkl/keymap.c
  keyboards/ymdk/ymd75/rev2/keymaps/via/keymap.c
  keyboards/ymdk/ymd75/rev2/keymaps/via/rules.mk
  keyboards/ymdk/ymd75/rev2/readme.md
  keyboards/ymdk/ymd75/rev3/config.h
  keyboards/ymdk/ymd75/rev3/info.json
  keyboards/ymdk/ymd75/rev3/keymaps/default/keymap.c
  keyboards/ymdk/ymd75/rev3/keymaps/default_iso/keymap.c
  keyboards/ymdk/ymd75/rev3/keymaps/default_iso_rwkl/keymap.c
  keyboards/ymdk/ymd75/rev3/keymaps/via/keymap.c
  keyboards/ymdk/ymd75/rev3/keymaps/via/rules.mk
  keyboards/ymdk/ymd75/rev3/readme.md
  keyboards/ymdk/ymd75/rev3/rules.mk
  keyboards/ymdk/ymd75/rules.mk
Labels: keyboard, keymap, via

#19342 [keyboard] add support for mothwing
  keyboards/mothwing/info.json
  keyboards/mothwing/keymaps/default/keymap.c
  keyboards/mothwing/keymaps/via/keymap.c
  keyboards/mothwing/keymaps/via/rules.mk
  keyboards/mothwing/readme.md
  keyboards/mothwing/rules.mk
Labels: keyboard, keymap, via

#21507 quantum: remove direct `quantum.h` includes
  keyboards/boardsource/lulu/lulu.c
  keyboards/input_club/k_type/k_type-rgbdriver.c
  keyboards/input_club/k_type/keymaps/default/keymap.c
  keyboards/system76/launch_1/rgb_matrix_kb.inc
  keyboards/system76/system76_ec.c
  platforms/avr/drivers/audio_pwm_hardware.c
  platforms/chibios/drivers/audio_dac_additive.c
  platforms/chibios/drivers/audio_dac_basic.c
  platforms/chibios/drivers/audio_pwm_hardware.c
  platforms/chibios/drivers/audio_pwm_software.c
  quantum/audio/audio.c
  quantum/audio/audio.h
  quantum/audio/muse.c
  quantum/audio/muse.h
  quantum/audio/voices.c
  quantum/bootmagic/bootmagic_lite.c
  quantum/dynamic_keymap.c
  quantum/encoder.c
  quantum/encoder.h
  quantum/encoder/tests/encoder_tests_split_role.cpp
  quantum/keyboard.c
  quantum/keyboard.h
  quantum/keymap_common.c
  quantum/led_matrix/led_matrix.c
  quantum/led_matrix/led_matrix.h
  quantum/matrix.c
  quantum/matrix_common.c
  quantum/midi/qmk_midi.c
  quantum/pointing_device/pointing_device_auto_mouse.c
  quantum/pointing_device/pointing_device_auto_mouse.h
  quantum/process_keycode/process_audio.c
  quantum/process_keycode/process_audio.h
  quantum/process_keycode/process_clicky.c
  quantum/process_keycode/process_key_override.c
  quantum/repeat_key.c
  quantum/repeat_key.h
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
  quantum/split_common/split_util.c
  quantum/split_common/split_util.h
  quantum/split_common/transactions.c
  quantum/split_common/transactions.h
  quantum/split_common/transport.h
  quantum/unicode/unicode.c
  quantum/unicode/unicode.h
  quantum/via.c
  quantum/via.h
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/arm_atsam/md_rgb_matrix.c
  tmk_core/protocol/arm_atsam/spi_master.h
Labels: enhancement, core, keyboard, keymap

#21542 AliceH66 Pianoforte Hotswap Touch-Up
  keyboards/aliceh66/pianoforte_hs/info.json
  keyboards/aliceh66/pianoforte_hs/keymaps/default/keymap.c
  keyboards/aliceh66/pianoforte_hs/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21544 GMMK2 65% ANSI Touch-Up
  keyboards/gmmk/gmmk2/p65/ansi/info.json
  keyboards/gmmk/gmmk2/p65/ansi/keymaps/default/keymap.c
  keyboards/gmmk/gmmk2/p65/ansi/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21545 Keychron V4 Touch-Up
  keyboards/keychron/v4/ansi/info.json
  keyboards/keychron/v4/ansi/keymaps/default/keymap.c
  keyboards/keychron/v4/ansi/keymaps/keychron/keymap.c
  keyboards/keychron/v4/ansi/keymaps/via/keymap.c
  keyboards/keychron/v4/iso/info.json
  keyboards/keychron/v4/iso/keymaps/default/keymap.c
  keyboards/keychron/v4/iso/keymaps/keychron/keymap.c
  keyboards/keychron/v4/iso/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21502 re-add accidental removal of quantum.h
  keyboards/lily58/lib/rgb_state_reader.c
Labels: keyboard

#21550 HolySwitch Lightweight65 Community Layout Support
  keyboards/holyswitch/lightweight65/info.json
  keyboards/holyswitch/lightweight65/keymaps/default/keymap.c
  keyboards/holyswitch/lightweight65/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21552 Automata02 Alisaie Touch-Up
  keyboards/automata02/alisaie/info.json
Labels: enhancement, keyboard

#21563 Move files to rev1 folder, add rev2
  data/mappings/keyboard_aliases.hjson
  keyboards/keebio/chocopad/config.h
  keyboards/keebio/chocopad/info.json
  keyboards/keebio/chocopad/keymaps/default/keymap.c
  keyboards/keebio/chocopad/keymaps/khord/rules.mk
  keyboards/keebio/chocopad/keymaps/via/config.h
  keyboards/keebio/chocopad/keymaps/via/keymap.c
  keyboards/keebio/chocopad/keymaps/via/rules.mk
  keyboards/keebio/chocopad/readme.md
  keyboards/keebio/chocopad/rev1/info.json
  keyboards/keebio/chocopad/rev1/rev1.c
  keyboards/keebio/chocopad/rev1/rules.mk
  keyboards/keebio/chocopad/rev2/config.h
  keyboards/keebio/chocopad/rev2/info.json
  keyboards/keebio/chocopad/rev2/rules.mk
  keyboards/keebio/chocopad/rules.mk
Labels: keyboard, keymap, via

#21523 Amend layout and matrix positions for `dactyl_cc`
  keyboards/handwired/dactyl_cc/info.json
Labels: keyboard

#21519 Spruce up `dactyl_lightcycle` and `dactyl_maximus` layouts
  keyboards/handwired/dactyl_lightcycle/info.json
  keyboards/handwired/dactyl_maximus/info.json
Labels: keyboard

#21529 Add Bastion75 PCB to QMK
  keyboards/cannonkeys/bastion75/config.h
  keyboards/cannonkeys/bastion75/halconf.h
  keyboards/cannonkeys/bastion75/info.json
  keyboards/cannonkeys/bastion75/keymaps/default/keymap.c
  keyboards/cannonkeys/bastion75/keymaps/via/keymap.c
  keyboards/cannonkeys/bastion75/keymaps/via/rules.mk
  keyboards/cannonkeys/bastion75/mcuconf.h
  keyboards/cannonkeys/bastion75/readme.md
  keyboards/cannonkeys/bastion75/rules.mk
Labels: keyboard, keymap, via

#21015 Rename `dactyl_manuform` variant `3x5_3`
  data/mappings/keyboard_aliases.hjson
  keyboards/handwired/dactyl_minidox/3x5_3.c
  keyboards/handwired/dactyl_minidox/config.h
  keyboards/handwired/dactyl_minidox/info.json
  keyboards/handwired/dactyl_minidox/keymaps/default/keymap.c
  keyboards/handwired/dactyl_minidox/keymaps/dlford/config.h
  keyboards/handwired/dactyl_minidox/keymaps/dlford/features/caps_word.c
  keyboards/handwired/dactyl_minidox/keymaps/dlford/features/caps_word.h
  keyboards/handwired/dactyl_minidox/keymaps/dlford/keymap.c
  keyboards/handwired/dactyl_minidox/keymaps/dlford/rules.mk
  keyboards/handwired/dactyl_minidox/keymaps/via/config.h
  keyboards/handwired/dactyl_minidox/keymaps/via/keymap.c
  keyboards/handwired/dactyl_minidox/keymaps/via/rules.mk
  keyboards/handwired/dactyl_minidox/readme.md
  keyboards/handwired/dactyl_minidox/rules.mk
Labels: keyboard, keymap, via

#21551 haptic: naming cleanups
  builddefs/common_features.mk
  docs/feature_haptic_feedback.md
  drivers/haptic/DRV2605L.c
  drivers/haptic/DRV2605L.h
  drivers/haptic/drv2605l.c
  drivers/haptic/drv2605l.h
  keyboards/adpenrose/mine/keymaps/solenoid/rules.mk
  keyboards/adpenrose/shisaku/keymaps/solenoid/rules.mk
  keyboards/ai03/lunar_ii/rules.mk
  keyboards/boston_meetup/2019/config.h
  keyboards/boston_meetup/2019/rules.mk
  keyboards/buzzard/keymaps/crehmann/config.h
  keyboards/buzzard/keymaps/crehmann/features/haptic_utils.c
  keyboards/buzzard/keymaps/crehmann/rules.mk
  keyboards/buzzard/keymaps/default/config.h
  keyboards/buzzard/keymaps/default/rules.mk
  keyboards/buzzard/rev1/rev1.c
  keyboards/hadron/ver3/config.h
  keyboards/hadron/ver3/keymaps/ishtob/config.h
  keyboards/hadron/ver3/keymaps/ishtob/keymap.c
  keyboards/hadron/ver3/rules.mk
  keyboards/handwired/onekey/keymaps/haptic/rules.mk
  keyboards/handwired/swiftrax/bumblebee/keymaps/default/rules.mk
  keyboards/handwired/swiftrax/bumblebee/keymaps/via/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/keymaps/drashna/rules.mk
  keyboards/hardwareabstraction/handwire/rules.mk
  keyboards/hillside/46/0_1/config.h
  keyboards/hillside/46/0_1/rules.mk
  keyboards/hillside/48/0_1/config.h
  keyboards/hillside/48/0_1/rules.mk
  keyboards/hillside/52/0_1/config.h
  keyboards/hillside/52/0_1/rules.mk
  keyboards/ibm/model_m_4th_gen/overnumpad_1xb/rules.mk
  keyboards/mechwild/clunker/rules.mk
  keyboards/pearlboards/atlas/rules.mk
  keyboards/pearlboards/pearl/rules.mk
  keyboards/pearlboards/zeus/rules.mk
  keyboards/splitkb/zima/config.h
  keyboards/splitkb/zima/rules.mk
  keyboards/unicomp/classic_ultracl_post_2013/overnumpad_1xb/rules.mk
  keyboards/unicomp/classic_ultracl_pre_2013/overnumpad_1xb/rules.mk
  keyboards/unicomp/pc122/overnumpad_1xb/rules.mk
  keyboards/unicomp/spacesaver_m_post_2013/overnumpad_1xb/rules.mk
  keyboards/unicomp/spacesaver_m_pre_2013/overnumpad_1xb/rules.mk
  keyboards/vertex/angle65/rules.mk
  keyboards/xw60/rules.mk
  layouts/community/ortho_4x12/drashna/config.h
  quantum/haptic.c
  quantum/haptic.h
  quantum/process_keycode/process_space_cadet.c
  quantum/split_common/split_util.c
  users/ishtob/ishtob.h
Labels: enhancement, core, keyboard, keymap, documentation, via

#21510 [Keyboard] Add boardsource/unicorne
  keyboards/boardsource/unicorne/config.h
  keyboards/boardsource/unicorne/halconf.h
  keyboards/boardsource/unicorne/info.json
  keyboards/boardsource/unicorne/keymaps/default/keymap.json
  keyboards/boardsource/unicorne/keymaps/via/keymap.json
  keyboards/boardsource/unicorne/mcuconf.h
  keyboards/boardsource/unicorne/readme.md
  keyboards/boardsource/unicorne/rules.mk
  keyboards/boardsource/unicorne/unicorne.c
  keyboards/boardsource/unicorne/unicorne.h
Labels: keyboard, keymap, via

#21233 Add EC Theca
  keyboards/cipulot/common/via_apc.c
  keyboards/cipulot/ec_theca/config.h
  keyboards/cipulot/ec_theca/ec_switch_matrix.c
  keyboards/cipulot/ec_theca/ec_switch_matrix.h
  keyboards/cipulot/ec_theca/halconf.h
  keyboards/cipulot/ec_theca/info.json
  keyboards/cipulot/ec_theca/keymaps/default/keymap.c
  keyboards/cipulot/ec_theca/keymaps/tkl_ansi_tsangan/keymap.c
  keyboards/cipulot/ec_theca/keymaps/tkl_ansi_tsangan_wkl/keymap.c
  keyboards/cipulot/ec_theca/keymaps/via/config.h
  keyboards/cipulot/ec_theca/keymaps/via/keymap.c
  keyboards/cipulot/ec_theca/keymaps/via/rules.mk
  keyboards/cipulot/ec_theca/matrix.c
  keyboards/cipulot/ec_theca/mcuconf.h
  keyboards/cipulot/ec_theca/readme.md
  keyboards/cipulot/ec_theca/rules.mk
Labels: keyboard, keymap, via

#21543 [Bug] Fix compilation error when Split Watchdog enabled
  quantum/split_common/split_util.c
Labels: core

#21572 Revert "[Bug] Fix compilation error when Split Watchdog enabled"
  quantum/split_common/split_util.c
Labels: core

#21569 kinesis: remove stacked split layouts
  keyboards/kinesis/alvicstep/info.json
  keyboards/kinesis/keymaps/default/keymap.c
  keyboards/kinesis/keymaps/default_pretty/keymap.c
  keyboards/kinesis/keymaps/default_pretty/readme.md
  keyboards/kinesis/keymaps/default_pretty/rules.mk
  keyboards/kinesis/keymaps/dvorak/keymap.c
  keyboards/kinesis/keymaps/dvorak_nguyenvietyen/keymap.c
  keyboards/kinesis/keymaps/farmergreg/keymap.c
  keyboards/kinesis/keymaps/heatxsink/keymap.c
  keyboards/kinesis/keymaps/insertsnideremarks/keymap.c
  keyboards/kinesis/keymaps/jwon/keymap.c
  keyboards/kinesis/keymaps/peott-fr/keymap.c
  keyboards/kinesis/keymaps/stapelberg/keymap.c
  keyboards/kinesis/keymaps/tuesdayjohn/keymap.c
  keyboards/kinesis/keymaps/tw1t611/keymap.c
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/kint2pp/info.json
  keyboards/kinesis/kint36/info.json
  keyboards/kinesis/kint41/info.json
  keyboards/kinesis/kintlc/info.json
  keyboards/kinesis/nguyenvietyen/info.json
  keyboards/kinesis/stapelberg/info.json
Labels: bug, enhancement, keyboard, keymap

#21585 [Docs] Fix VS code live share extension link
  docs/other_vscode.md
Labels: documentation

#21591 Allow the user to select a single tone for the additive DAC
  platforms/chibios/drivers/audio_dac_additive.c
Labels: core

#21592 Update ERA65 PCB
  keyboards/era/era65/config.h
  keyboards/era/era65/info.json
Labels: keyboard

#21596 Raw HID: documentation improvements
  docs/feature_rawhid.md
  quantum/raw_hid.h
Labels: enhancement, core, documentation

#21578 Add Nyquistpad
  keyboards/keebio/nyquistpad/config.h
  keyboards/keebio/nyquistpad/info.json
  keyboards/keebio/nyquistpad/keymaps/default/keymap.c
  keyboards/keebio/nyquistpad/keymaps/via/keymap.c
  keyboards/keebio/nyquistpad/keymaps/via/rules.mk
  keyboards/keebio/nyquistpad/readme.md
  keyboards/keebio/nyquistpad/rules.mk
Labels: keyboard, keymap, via

#21582 Fix paragon keyboard encoder step
  keyboards/artemis/paragon/info.json
Labels: keyboard

#20795 add linworks fave60a
  keyboards/linworks/fave60a/config.h
  keyboards/linworks/fave60a/info.json
  keyboards/linworks/fave60a/keymaps/default/keymap.c
  keyboards/linworks/fave60a/keymaps/via/keymap.c
  keyboards/linworks/fave60a/keymaps/via/rules.mk
  keyboards/linworks/fave60a/readme.md
  keyboards/linworks/fave60a/rules.mk
Labels: keyboard, keymap, via

#21157 Delete jscotto directory
  data/mappings/keyboard_aliases.hjson
  keyboards/handwired/jscotto/scotto36/info.json
  keyboards/handwired/jscotto/scotto36/keymaps/default/config.h
  keyboards/handwired/jscotto/scotto36/keymaps/default/keymap.c
  keyboards/handwired/jscotto/scotto36/keymaps/default/rules.mk
  keyboards/handwired/jscotto/scotto36/readme.md
  keyboards/handwired/jscotto/scotto36/rules.mk
  keyboards/handwired/jscotto/scotto40/info.json
  keyboards/handwired/jscotto/scotto40/keymaps/default/config.h
  keyboards/handwired/jscotto/scotto40/keymaps/default/keymap.c
  keyboards/handwired/jscotto/scotto40/keymaps/default/rules.mk
  keyboards/handwired/jscotto/scotto40/readme.md
  keyboards/handwired/jscotto/scotto40/rules.mk
  keyboards/handwired/jscotto/scotto9/info.json
  keyboards/handwired/jscotto/scotto9/keymaps/default/keymap.c
  keyboards/handwired/jscotto/scotto9/readme.md
  keyboards/handwired/jscotto/scotto9/rules.mk
  keyboards/handwired/jscotto/scottocmd/config.h
  keyboards/handwired/jscotto/scottocmd/info.json
  keyboards/handwired/jscotto/scottocmd/keymaps/default/config.h
  keyboards/handwired/jscotto/scottocmd/keymaps/default/keymap.c
  keyboards/handwired/jscotto/scottocmd/keymaps/default/rules.mk
  keyboards/handwired/jscotto/scottocmd/readme.md
  keyboards/handwired/jscotto/scottocmd/rules.mk
  keyboards/handwired/jscotto/scottostarter/info.json
  keyboards/handwired/jscotto/scottostarter/keymaps/default/config.h
  keyboards/handwired/jscotto/scottostarter/keymaps/default/keymap.c
  keyboards/handwired/jscotto/scottostarter/readme.md
  keyboards/handwired/jscotto/scottostarter/rules.mk
Labels: keyboard, keymap

#21559 Add Caps Lock indicator for Kyechron S1 white backlight version
  keyboards/keychron/s1/ansi/white/config.h
  keyboards/keychron/s1/s1.c
Labels: keyboard

#20686 added nico keyboard
  keyboards/neson_design/nico/info.json
  keyboards/neson_design/nico/keymaps/default/keymap.c
  keyboards/neson_design/nico/keymaps/via/keymap.c
  keyboards/neson_design/nico/keymaps/via/rules.mk
  keyboards/neson_design/nico/nico.c
  keyboards/neson_design/nico/readme.md
  keyboards/neson_design/nico/rules.mk
Labels: keyboard, keymap, via

#20380 Fix scroll lock and windows lock status LEDs
  keyboards/feker/ik75/keymaps/bkzshen/keymap.c
  keyboards/feker/ik75/keymaps/default/keymap.c
  keyboards/feker/ik75/keymaps/via/keymap.c
Labels: keymap, via

#21567 [keyboard] tominabox1/le_chiffre refactor pt 1
  keyboards/tominabox1/le_chiffre/config.h
  keyboards/tominabox1/le_chiffre/he/he.c
  keyboards/tominabox1/le_chiffre/he/info.json
  keyboards/tominabox1/le_chiffre/he/rules.mk
  keyboards/tominabox1/le_chiffre/info.json
  keyboards/tominabox1/le_chiffre/keymaps/default/keymap.c
  keyboards/tominabox1/le_chiffre/keymaps/default/rules.mk
  keyboards/tominabox1/le_chiffre/keymaps/via/keymap.c
  keyboards/tominabox1/le_chiffre/keymaps/via/rules.mk
  keyboards/tominabox1/le_chiffre/readme.md
  keyboards/tominabox1/le_chiffre/rev1/info.json
  keyboards/tominabox1/le_chiffre/rev1/rev1.c
  keyboards/tominabox1/le_chiffre/rev1/rules.mk
  keyboards/tominabox1/le_chiffre/rev2/info.json
  keyboards/tominabox1/le_chiffre/rev2/rev2.c
  keyboards/tominabox1/le_chiffre/rev2/rules.mk
Labels: keyboard, keymap, via
