Repository qmk/qmk_firmware, pull requests merged in 2023-03, with the labels that each got.

#19849 Improve robustness of AW20216 driver
  drivers/led/aw20216.c
Labels: enhancement, core, breaking_change_2023q2

#19954 Check all rows have the correct number of columns when parsing `g_led_config`
  lib/python/qmk/c_parse.py
Labels: bug, enhancement, python, cli

#19978 Remove `all` from list of animations in `info.json`
  docs/reference_info_json.md
Labels: bug, documentation

#19936 added Polly40 keyboard
  keyboards/handwired/polly40/config.h
  keyboards/handwired/polly40/info.json
  keyboards/handwired/polly40/keymaps/default/keymap.c
  keyboards/handwired/polly40/keymaps/via/keymap.c
  keyboards/handwired/polly40/keymaps/via/rules.mk
  keyboards/handwired/polly40/readme.md
  keyboards/handwired/polly40/rules.mk
Labels: keyboard, keymap, via

#19448 [Keymap] Add davidrambo lulu keymap
  keyboards/boardsource/lulu/keymaps/davidrambo/config.h
  keyboards/boardsource/lulu/keymaps/davidrambo/keymap.c
  keyboards/boardsource/lulu/keymaps/davidrambo/readme.org
  keyboards/boardsource/lulu/keymaps/davidrambo/rules.mk
Labels: keymap, stale

#19973 [Keyboard] Clean up contra & move to data-driven
  keyboards/contra/config.h
  keyboards/contra/contra.c
  keyboards/contra/contra.h
  keyboards/contra/info.json
  keyboards/contra/keymaps/default/config.h
  keyboards/contra/readme.md
  keyboards/contra/rules.mk
Labels: keyboard, keymap

#19781 Check all keys have matrix positions when parsing C LAYOUT macros
  lib/python/qmk/c_parse.py
Labels: bug, enhancement, python, cli

#19993 Merge upstream changes to uf2conv
  platforms/chibios/flash.mk
  util/uf2conv.py
  util/uf2families.json
Labels: core, python

#19908 Deprecation policy documentation.
  docs/pr_checklist.md
  docs/support_deprecation_policy.md
Labels: documentation

#20006 Remove some use of keymap.h
  keyboards/capsunlocked/cu75/cu75.c
  keyboards/gboards/butterstick/sten.h
  keyboards/gboards/engine/engine.h
  keyboards/gboards/g/engine.h
  keyboards/gboards/georgi/sten.h
  keyboards/handwired/arrow_pad/arrow_pad.h
  keyboards/lfkeyboards/lfk65_hs/lfk65_hs.c
  keyboards/lfkeyboards/lfk87/lfk87.c
  keyboards/lfkeyboards/mini1800/mini1800.c
  keyboards/lfkeyboards/smk65/revb/revb.c
  quantum/bootmagic/magic.c
  quantum/command.c
  quantum/dynamic_keymap.c
  quantum/keymap_common.h
  quantum/keymap_introspection.h
  tests/test_common/test_fixture.cpp
Labels: core, keyboard

#19706 Add new keymap for Preonic rev3
  keyboards/preonic/keymaps/guillermoap/config.h
  keyboards/preonic/keymaps/guillermoap/keymap.c
  keyboards/preonic/keymaps/guillermoap/readme.md
  keyboards/preonic/keymaps/guillermoap/rules.mk
Labels: keymap

#19862 Add Support for Lilly58 r2g
  keyboards/lily58/keymaps/mb_via/config.h
  keyboards/lily58/keymaps/mb_via/keymap.c
  keyboards/lily58/keymaps/mb_via/rules.mk
  keyboards/lily58/r2g/config.h
  keyboards/lily58/r2g/info.json
  keyboards/lily58/r2g/r2g.c
  keyboards/lily58/r2g/readme.md
  keyboards/lily58/r2g/rules.mk
Labels: keyboard, keymap

#19844 Add Keychron Q12
  keyboards/keychron/q12/ansi_encoder/ansi_encoder.c
  keyboards/keychron/q12/ansi_encoder/config.h
  keyboards/keychron/q12/ansi_encoder/info.json
  keyboards/keychron/q12/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/q12/ansi_encoder/keymaps/default/rules.mk
  keyboards/keychron/q12/ansi_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/q12/ansi_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/q12/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/q12/ansi_encoder/keymaps/via/rules.mk
  keyboards/keychron/q12/ansi_encoder/rules.mk
  keyboards/keychron/q12/config.h
  keyboards/keychron/q12/halconf.h
  keyboards/keychron/q12/iso_encoder/config.h
  keyboards/keychron/q12/iso_encoder/info.json
  keyboards/keychron/q12/iso_encoder/iso_encoder.c
  keyboards/keychron/q12/iso_encoder/keymaps/default/keymap.c
  keyboards/keychron/q12/iso_encoder/keymaps/default/rules.mk
  keyboards/keychron/q12/iso_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/q12/iso_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/q12/iso_encoder/keymaps/via/keymap.c
  keyboards/keychron/q12/iso_encoder/keymaps/via/rules.mk
  keyboards/keychron/q12/iso_encoder/rules.mk
  keyboards/keychron/q12/matrix.c
  keyboards/keychron/q12/mcuconf.h
  keyboards/keychron/q12/q12.c
  keyboards/keychron/q12/readme.md
Labels: keyboard, keymap, via

#20015 Unbreak switchplate/southpaw_65 after #16277
  keyboards/switchplate/southpaw_65/matrix.c
Labels: keyboard

#20026 Reject VIA keys within info.json
  data/schemas/keyboard.jsonschema
Labels: core

#18624 keyboards/anavi: Add ANAVI Knobs 3
  keyboards/anavi/knobs3/info.json
  keyboards/anavi/knobs3/keymaps/default/keymap.c
  keyboards/anavi/knobs3/knobs3.c
  keyboards/anavi/knobs3/mcuconf.h
  keyboards/anavi/knobs3/readme.md
  keyboards/anavi/knobs3/rules.mk
Labels: keyboard, keymap

#19695 adds gummykey
  keyboards/gummykey/config.h
  keyboards/gummykey/gummykey.c
  keyboards/gummykey/gummykey.h
  keyboards/gummykey/info.json
  keyboards/gummykey/keymaps/default/keymap.c
  keyboards/gummykey/readme.md
  keyboards/gummykey/rules.mk
Labels: keyboard, keymap

#19803 Discuss layout macro
  docs/feature_split_keyboard.md
  docs/porting_your_keyboard_to_qmk.md
Labels: documentation

#19809 Sejin EAT-1010R2 keyboard
  keyboards/handwired/sejin_eat1010r2/info.json
  keyboards/handwired/sejin_eat1010r2/keymaps/debug/keymap.c
  keyboards/handwired/sejin_eat1010r2/keymaps/debug/rules.mk
  keyboards/handwired/sejin_eat1010r2/keymaps/default/keymap.c
  keyboards/handwired/sejin_eat1010r2/readme.md
  keyboards/handwired/sejin_eat1010r2/rules.mk
  keyboards/handwired/sejin_eat1010r2/sejin_eat1010r2.h
Labels: keyboard, keymap

#20040 Add step to disable git safe directory check
  docs/newbs_building_firmware_workflow.md
Labels: documentation

#19846 Add Karn Keyboard
  keyboards/karn/config.h
  keyboards/karn/halconf.h
  keyboards/karn/info.json
  keyboards/karn/keymaps/colemak/config.h
  keyboards/karn/keymaps/colemak/keymap.c
  keyboards/karn/keymaps/colemak/readme.md
  keyboards/karn/keymaps/colemak/rules.mk
  keyboards/karn/keymaps/default/keymap.c
  keyboards/karn/mcuconf.h
  keyboards/karn/readme.md
  keyboards/karn/rules.mk
Labels: keyboard, keymap

#19873 Smooted's BM80v2 keymap + rules
  keyboards/kprepublic/bm80v2/keymaps/smooted/config.h
  keyboards/kprepublic/bm80v2/keymaps/smooted/keymap.c
  keyboards/kprepublic/bm80v2/keymaps/smooted/rules.mk
Labels: keymap

#19904 implement rgb matrix for momokai keyboards
  keyboards/momokai/tap_duo/config.h
  keyboards/momokai/tap_duo/rules.mk
  keyboards/momokai/tap_duo/tap_duo.c
  keyboards/momokai/tap_trio/config.h
  keyboards/momokai/tap_trio/rules.mk
  keyboards/momokai/tap_trio/tap_trio.c
Labels: keyboard

#19881 VIA keymap for djinn
  keyboards/tzarc/djinn/keymaps/via/config.h
  keyboards/tzarc/djinn/keymaps/via/keymap.c
  keyboards/tzarc/djinn/keymaps/via/rules.mk
Labels: keymap, via

#20056 Remove empty rules.mk from keymaps
  keyboards/40percentclub/nano/keymaps/default/rules.mk
  keyboards/ergotravel/keymaps/ian/rules.mk
  keyboards/ergotravel/keymaps/rs/rules.mk
  keyboards/fortitude60/keymaps/default/rules.mk
  keyboards/gh60/revc/keymaps/sethbc/rules.mk
  keyboards/handwired/chiron/keymaps/default/rules.mk
  keyboards/handwired/reclined/keymaps/pdl/rules.mk
  keyboards/jc65/v32u4/keymaps/coth/rules.mk
  keyboards/jc65/v32u4/keymaps/jetpacktuxedo/rules.mk
  keyboards/jc65/v32u4/keymaps/na7thana/rules.mk
  keyboards/jd40/keymaps/vanagon/rules.mk
  keyboards/keebio/iris/keymaps/mattly/rules.mk
  keyboards/kudox/rev1/keymaps/jis/rules.mk
  keyboards/kudox/rev1/keymaps/x1/rules.mk
  keyboards/kudox/rev2/keymaps/jis/rules.mk
  keyboards/lets_split/keymaps/DE_programming/rules.mk
  keyboards/lets_split/keymaps/DE_simple/rules.mk
  keyboards/lets_split/keymaps/poker/rules.mk
  keyboards/lets_split/keymaps/vim-mode/rules.mk
  keyboards/lets_split/keymaps/waples/rules.mk
  keyboards/maple_computing/lets_split_eh/keymaps/doxish_dvorak/rules.mk
  keyboards/maple_computing/lets_split_eh/keymaps/mikethetiger/rules.mk
  keyboards/maple_computing/lets_split_eh/keymaps/that_canadian/rules.mk
  keyboards/orthodox/keymaps/rfvizarra/rules.mk
  keyboards/planck/keymaps/andylikescandy/rules.mk
  keyboards/planck/keymaps/coloneljesus/rules.mk
  keyboards/planck/keymaps/jirgn/rules.mk
  keyboards/planck/keymaps/kelorean/rules.mk
  keyboards/planck/keymaps/mjt/rules.mk
  keyboards/planck/keymaps/mjtnumsym/rules.mk
  keyboards/planck/keymaps/motform/rules.mk
  keyboards/planck/keymaps/originerd/rules.mk
  keyboards/planck/keymaps/paget/rules.mk
  keyboards/planck/keymaps/phreed/rules.mk
  keyboards/planck/keymaps/smt/rules.mk
  keyboards/planck/keymaps/tehwalris/rules.mk
  keyboards/preonic/keymaps/blake-newman/rules.mk
  keyboards/preonic/keymaps/boy314/rules.mk
  keyboards/preonic/keymaps/ekis_isa/rules.mk
  keyboards/preonic/keymaps/fig-r/rules.mk
  keyboards/preonic/keymaps/nikchi/rules.mk
  keyboards/preonic/keymaps/pitty/rules.mk
  keyboards/preonic/keymaps/smt/rules.mk
  keyboards/salicylic_acid3/naked48/keymaps/salicylic_with_setta21/rules.mk
  keyboards/salicylic_acid3/naked64/keymaps/default/rules.mk
  keyboards/salicylic_acid3/naked64/keymaps/default_with_setta21/rules.mk
  keyboards/singa/keymaps/amnesia0287/rules.mk
  keyboards/sx60/keymaps/amnobis/rules.mk
  keyboards/thevankeyboards/minivan/keymaps/core/rules.mk
  keyboards/xiudi/xd75/keymaps/boy_314/rules.mk
Labels: keymap

#20058 Fix processing of recently added system keycodes
  quantum/keymap_common.c
Labels: bug, core

#19900 adding Teahouse Ayleen TKL to the qmk repository
  keyboards/teahouse/ayleen/config.h
  keyboards/teahouse/ayleen/info.json
  keyboards/teahouse/ayleen/keymaps/default/keymap.c
  keyboards/teahouse/ayleen/keymaps/via/keymap.c
  keyboards/teahouse/ayleen/keymaps/via/rules.mk
  keyboards/teahouse/ayleen/keymaps/via_blink/keymap.c
  keyboards/teahouse/ayleen/keymaps/via_blink/rules.mk
  keyboards/teahouse/ayleen/readme.md
  keyboards/teahouse/ayleen/rules.mk
Labels: keyboard, keymap, via

#19917 EC Pro 2 PCB
  keyboards/cipulot/ec_pro2/config.h
  keyboards/cipulot/ec_pro2/ec_switch_matrix.c
  keyboards/cipulot/ec_pro2/ec_switch_matrix.h
  keyboards/cipulot/ec_pro2/halconf.h
  keyboards/cipulot/ec_pro2/info.json
  keyboards/cipulot/ec_pro2/keymaps/60_hhkb/keymap.c
  keyboards/cipulot/ec_pro2/keymaps/default/keymap.c
  keyboards/cipulot/ec_pro2/keymaps/via/config.h
  keyboards/cipulot/ec_pro2/keymaps/via/keymap.c
  keyboards/cipulot/ec_pro2/keymaps/via/rules.mk
  keyboards/cipulot/ec_pro2/keymaps/via/via_apc.c
  keyboards/cipulot/ec_pro2/matrix.c
  keyboards/cipulot/ec_pro2/mcuconf.h
  keyboards/cipulot/ec_pro2/readme.md
  keyboards/cipulot/ec_pro2/rules.mk
Labels: keyboard, keymap, via

#20041 [Docs] Add mod-tap section header
  docs/feature_combo.md
Labels: documentation

#19988 [Doc] Update PR checklist
  docs/pr_checklist.md
Labels: documentation

#19958 Adding firmware for New Proto[Typist] in-stock PCBs.
  keyboards/prototypist/pt60/info.json
  keyboards/prototypist/pt60/keymaps/default/keymap.c
  keyboards/prototypist/pt60/keymaps/default_ansi/keymap.c
  keyboards/prototypist/pt60/keymaps/via/keymap.c
  keyboards/prototypist/pt60/keymaps/via/rules.mk
  keyboards/prototypist/pt60/readme.md
  keyboards/prototypist/pt60/rules.mk
  keyboards/prototypist/pt80/info.json
  keyboards/prototypist/pt80/keymaps/default/keymap.c
  keyboards/prototypist/pt80/keymaps/default_ansi/keymap.c
  keyboards/prototypist/pt80/keymaps/via/keymap.c
  keyboards/prototypist/pt80/keymaps/via/rules.mk
  keyboards/prototypist/pt80/readme.md
  keyboards/prototypist/pt80/rules.mk
Labels: keyboard, keymap, via

#20070 `qmk info`: add warning when layout is offset
  lib/python/qmk/info.py
Labels: enhancement, python, cli

#20074 Keebio/KBO-5000 Encoder Misconfiguration Fix for #20073
  keyboards/keebio/kbo5000/rev1/info.json
Labels: keyboard

#20071 Add CI builds for default and via keymaps
  .github/workflows/ci_builds.yml
Labels: CI

#20069 [Keymap] Fix the secondary keyboard not updating WPM
  keyboards/sofle/keymaps/helltm/config.h
Labels: keymap

#19883 [Keyboard] frobiac custom boards and layout
  keyboards/frobiac/blackbowl/blackbowl.h
  keyboards/frobiac/blackbowl/config.h
  keyboards/frobiac/blackbowl/info.json
  keyboards/frobiac/blackbowl/keymaps/default/keymap.c
  keyboards/frobiac/blackbowl/matrix.c
  keyboards/frobiac/blackbowl/readme.md
  keyboards/frobiac/blackbowl/rules.mk
  keyboards/frobiac/blackflat/config.h
  keyboards/frobiac/blackflat/info.json
  keyboards/frobiac/blackflat/keymaps/default/keymap.c
  keyboards/frobiac/blackflat/readme.md
  keyboards/frobiac/blackflat/rules.mk
  keyboards/frobiac/hypernano/config.h
  keyboards/frobiac/hypernano/info.json
  keyboards/frobiac/hypernano/keymaps/default/keymap.c
  keyboards/frobiac/hypernano/readme.md
  keyboards/frobiac/hypernano/rules.mk
  keyboards/frobiac/readme.md
  keyboards/frobiac/redtilt/config.h
  keyboards/frobiac/redtilt/info.json
  keyboards/frobiac/redtilt/keymaps/default/keymap.c
  keyboards/frobiac/redtilt/readme.md
  keyboards/frobiac/redtilt/rules.mk
Labels: keyboard, keymap

#19010 [Keymap] add crkbd/keymaps/markstos
  keyboards/crkbd/keymaps/markstos/config.h
  keyboards/crkbd/keymaps/markstos/keymap.c
  keyboards/crkbd/keymaps/markstos/readme.md
  keyboards/crkbd/keymaps/markstos/rules.mk
Labels: keymap

#20002 updated matrix pins
  keyboards/handwired/polly40/info.json
  keyboards/handwired/polly40/keymaps/default/keymap.c
  keyboards/handwired/polly40/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#19352 Add tsubasa keyboard
  keyboards/handwired/tsubasa/config.h
  keyboards/handwired/tsubasa/info.json
  keyboards/handwired/tsubasa/keymaps/default/keymap.c
  keyboards/handwired/tsubasa/keymaps/default/readme.md
  keyboards/handwired/tsubasa/keymaps/default/rules.mk
  keyboards/handwired/tsubasa/readme.md
  keyboards/handwired/tsubasa/rules.mk
  keyboards/handwired/tsubasa/tsubasa.c
  keyboards/handwired/tsubasa/tsubasa.h
Labels: keyboard, keymap

#18889 Add the Ortho48v2 Keyboard to QMK
  keyboards/cannonkeys/ortho48v2/config.h
  keyboards/cannonkeys/ortho48v2/halconf.h
  keyboards/cannonkeys/ortho48v2/info.json
  keyboards/cannonkeys/ortho48v2/keymaps/default/keymap.c
  keyboards/cannonkeys/ortho48v2/keymaps/default/rules.mk
  keyboards/cannonkeys/ortho48v2/keymaps/via/keymap.c
  keyboards/cannonkeys/ortho48v2/keymaps/via/rules.mk
  keyboards/cannonkeys/ortho48v2/mcuconf.h
  keyboards/cannonkeys/ortho48v2/readme.md
  keyboards/cannonkeys/ortho48v2/rules.mk
Labels: keyboard, keymap, via

#20083 Restore matrix pins for ep/40
  keyboards/ep/40/info.json
Labels: bug, keyboard

#20084 Remove pointless `USE_I2C` blocks in keyboard headers
  keyboards/adkb96/rev1/rev1.h
  keyboards/ergotravel/rev1/rev1.h
  keyboards/handwired/dactyl_promicro/dactyl_promicro.h
  keyboards/keebio/iris/rev1/rev1.h
  keyboards/keebio/iris/rev1_led/rev1_led.h
  keyboards/keebio/iris/rev2/rev2.h
  keyboards/keebio/iris/rev3/rev3.h
  keyboards/keebio/iris/rev4/rev4.h
  keyboards/keebio/levinson/rev1/rev1.h
  keyboards/keebio/levinson/rev2/rev2.h
  keyboards/keebio/levinson/rev3/rev3.h
  keyboards/keebio/nyquist/rev1/rev1.h
  keyboards/keebio/nyquist/rev2/rev2.h
  keyboards/keebio/nyquist/rev3/rev3.h
  keyboards/keebio/quefrency/rev1/rev1.h
  keyboards/keebio/quefrency/rev2/rev2.h
  keyboards/keebio/rorschach/rev1/rev1.h
  keyboards/keebio/sinc/rev1/rev1.h
  keyboards/keebio/sinc/rev2/rev2.h
  keyboards/keebio/viterbi/rev1/rev1.h
  keyboards/keebio/viterbi/rev2/rev2.h
  keyboards/lets_split/rev2/rev2.h
  keyboards/lets_split/sockets/sockets.h
  keyboards/lily58/rev1/rev1.h
  keyboards/omkbd/ergodash/mini/mini.h
  keyboards/omkbd/ergodash/rev1/rev1.h
  keyboards/pinky/3/3.h
  keyboards/pinky/4/4.h
  keyboards/qwertyydox/rev1/rev1.h
  keyboards/redox/rev1/rev1.h
  keyboards/salicylic_acid3/naked48/rev1/rev1.h
  keyboards/unikeyboard/diverge3/diverge3.h
  keyboards/unikeyboard/divergetm2/divergetm2.h
  keyboards/vitamins_included/vitamins_included.h
Labels: enhancement, keyboard

#20082 Fix incorrect matrix positions for Sinc Rev. 3 RGB LEDs
  keyboards/keebio/sinc/rev3/info.json
Labels: keyboard

#20046 Move macro3 to data-driven
  keyboards/macro3/info.json
  keyboards/macro3/post_config.h
  keyboards/macro3/rules.mk
Labels: keyboard

#19966 Add RP2040 Community Edition alias for splitkb.com's Liatris controller
  data/mappings/defaults.hjson
  data/schemas/keyboard.jsonschema
  docs/feature_converters.md
  docs/squeezing_avr.md
  platforms/chibios/converters/elite_c_to_liatris/pre_converter.mk
  platforms/chibios/converters/promicro_to_liatris/pre_converter.mk
Labels: core, documentation

#18638 Relocate various modifier defines
  quantum/action_code.h
  quantum/action_util.h
  quantum/keycode.h
  quantum/modifiers.h
Labels: core

#20045 VIA keymap for Pierce split keyboard.
  keyboards/pierce/keymaps/via/keymap.c
  keyboards/pierce/keymaps/via/rules.mk
Labels: keymap, via

#19992 Addition of the Binpad BN009 R2 3x3 macropad
  keyboards/binepad/bn009/config.h
  keyboards/binepad/bn009r2/config.h
  keyboards/binepad/bn009r2/info.json
  keyboards/binepad/bn009r2/keymaps/default/keymap.json
  keyboards/binepad/bn009r2/keymaps/via/keymap.json
  keyboards/binepad/bn009r2/readme.md
  keyboards/binepad/bn009r2/rules.mk
Labels: keyboard, keymap, via

#19481 [Keyboard] Add Spleeb default and custom firmware
  keyboards/spleeb/config.h
  keyboards/spleeb/info.json
  keyboards/spleeb/keymaps/chrishoage/config.h
  keyboards/spleeb/keymaps/chrishoage/keymap.c
  keyboards/spleeb/keymaps/chrishoage/rules.mk
  keyboards/spleeb/keymaps/default/keymap.c
  keyboards/spleeb/lib/glcdfont.c
  keyboards/spleeb/mcuconf.h
  keyboards/spleeb/readme.md
  keyboards/spleeb/rules.mk
  keyboards/spleeb/spleeb.c
  keyboards/spleeb/spleeb.h
Labels: keyboard, keymap

#20091 Yet another adventure in trying to fit things into a 32U4
  keyboards/lily58/r2g/config.h
Labels: bug, keyboard

#20090 Teleport native bugfix (changed F411CC wear levelling)
  keyboards/teleport/native/info.json
  keyboards/teleport/native/rules.mk
Labels: bug, keyboard

#20088 [Keyboard] Change pierce vendor ID
  keyboards/pierce/info.json
Labels: keyboard

#20025 Ketch LGUI/LALT key transposed on Minivan layout
  keyboards/trashman/ketch/ketch.h
Labels: keyboard

#19896 [Keyboard] Add k83
  keyboards/hfdkb/keyboard_sw/k83/config.h
  keyboards/hfdkb/keyboard_sw/k83/halconf.h
  keyboards/hfdkb/keyboard_sw/k83/info.json
  keyboards/hfdkb/keyboard_sw/k83/k83.c
  keyboards/hfdkb/keyboard_sw/k83/k83.h
  keyboards/hfdkb/keyboard_sw/k83/keymaps/default/keymap.c
  keyboards/hfdkb/keyboard_sw/k83/keymaps/via/keymap.c
  keyboards/hfdkb/keyboard_sw/k83/keymaps/via/rules.mk
  keyboards/hfdkb/keyboard_sw/k83/mcuconf.h
  keyboards/hfdkb/keyboard_sw/k83/readme.md
  keyboards/hfdkb/keyboard_sw/k83/rgb_matrix_kb.inc
  keyboards/hfdkb/keyboard_sw/k83/rules.mk
Labels: keyboard, keymap, via

#20038 Add Chimera65 Hotswap keyboard
  keyboards/cannonkeys/chimera65_hs/info.json
  keyboards/cannonkeys/chimera65_hs/keymaps/default/keymap.c
  keyboards/cannonkeys/chimera65_hs/keymaps/via/keymap.c
  keyboards/cannonkeys/chimera65_hs/keymaps/via/rules.mk
  keyboards/cannonkeys/chimera65_hs/readme.md
  keyboards/cannonkeys/chimera65_hs/rules.mk
Labels: keyboard, keymap, via

#20094 Allow for CI builds to run for 23 hours, instead of 6.
  .github/workflows/ci_builds.yml
Labels: CI

#20095 Allow for CI builds to run for 23 hours, instead of 6. (part deux)
  .github/workflows/ci_builds.yml
Labels: bug, CI

#19709 [keyboard] Prevent LED flicker when connecting AnnePro 2
  keyboards/annepro2/annepro2.c
  keyboards/annepro2/ap2_led.c
  keyboards/annepro2/ap2_led.h
  keyboards/annepro2/protocol.h
Labels: keyboard

#20111 Move Ferris Sweep to data-driven
  keyboards/ferris/sweep/config.h
  keyboards/ferris/sweep/info.json
  keyboards/ferris/sweep/rules.mk
  keyboards/ferris/sweep/sweep.c
Labels: keyboard

#20075 Adjust offset for some layouts
  keyboards/25keys/cassette42/info.json
  keyboards/4pplet/yakiimo/rev_a/info.json
  keyboards/aozora/info.json
  keyboards/coseyfannitutti/mysterium/info.json
  keyboards/evolv/info.json
  keyboards/ez_maker/directpins/teensy_2/info.json
  keyboards/ez_maker/directpins/teensy_2pp/info.json
  keyboards/ez_maker/directpins/teensy_32/info.json
  keyboards/ez_maker/directpins/teensy_lc/info.json
  keyboards/fjlabs/swordfish/info.json
  keyboards/gboards/ergotaco/info.json
  keyboards/handwired/10k/info.json
  keyboards/handwired/alcor_dactyl/info.json
  keyboards/handwired/amigopunk/info.json
  keyboards/handwired/croxsplit44/info.json
  keyboards/handwired/ibm_wheelwriter/info.json
  keyboards/handwired/pteron38/info.json
  keyboards/handwired/pteron44/info.json
  keyboards/handwired/swiftrax/unsplit/info.json
  keyboards/jiran/info.json
  keyboards/jorne/rev1/info.json
  keyboards/kakunpc/rabbit_capture_plan/info.json
  keyboards/keebzdotnet/wazowski/info.json
  keyboards/keybage/radpad/info.json
  keyboards/keyprez/bison/info.json
  keyboards/keystonecaps/gameroyadvance/info.json
  keyboards/kkatano/bakeneko65/rev3/info.json
  keyboards/mechwild/bbs/info.json
  keyboards/mechwild/obe/info.json
  keyboards/momokai/tap_duo/info.json
  keyboards/monarch/info.json
  keyboards/nightly_boards/alter_lite/info.json
  keyboards/nopunin10did/jabberwocky/v1/info.json
  keyboards/nopunin10did/jabberwocky/v2/info.json
  keyboards/omkbd/ergodash/mini/info.json
  keyboards/omkbd/ergodash/rev1/info.json
  keyboards/p3d/glitch/info.json
  keyboards/polilla/info.json
  keyboards/qwertlekeys/calice/info.json
  keyboards/rate/pistachio/info.json
  keyboards/ryanbaekr/rb69/info.json
  keyboards/sawnsprojects/satxri6key/info.json
  keyboards/soda/pocket/info.json
  keyboards/splitkb/zima/info.json
  keyboards/unison/v04/info.json
  keyboards/wsk/pain27/info.json
  keyboards/wsk/tkl30/info.json
  keyboards/ymdk/wings/info.json
  keyboards/ymdk/wingshs/info.json
  keyboards/ztboards/after/info.json
Labels: enhancement, keyboard

#20033 Fix layout macro keys with no matrix position
  keyboards/40percentclub/4x4/4x4.c
  keyboards/40percentclub/4x4/4x4.h
  keyboards/40percentclub/4x4/info.json
  keyboards/aliceh66/pianoforte/pianoforte.h
  keyboards/blaster75/blaster75.h
  keyboards/bpiphany/pegasushoof/2013/2013.h
  keyboards/checkerboards/phoenix45_ortho/phoenix45_ortho.h
  keyboards/checkerboards/quark_plus/quark_plus.h
  keyboards/coarse/vinta/vinta.h
  keyboards/cozykeys/speedo/v2/v2.h
  keyboards/duck/tcv3/tcv3.h
  keyboards/exclusive/e65/e65.h
  keyboards/eyeohdesigns/sprh/sprh.h
  keyboards/fjlabs/peaker/peaker.h
  keyboards/foxlab/time80/time80.h
  keyboards/generic_panda/panda65_01/panda65_01.h
  keyboards/handwired/ortho5x13/ortho5x13.h
  keyboards/handwired/qc60/proto/proto.h
  keyboards/handwired/swiftrax/bumblebee/bumblebee.h
  keyboards/hotdox/hotdox.h
  keyboards/jones/v03/v03.h
  keyboards/kabedon/kabedon78s/kabedon78s.h
  keyboards/kapcave/gskt00/gskt00.h
  keyboards/keebio/sinc/rev1/rev1.h
  keyboards/linworks/fave87/fave87.h
  keyboards/lz/erghost/erghost.h
  keyboards/mechlovin/foundation/foundation.h
  keyboards/mechlovin/tmkl/tmkl.h
  keyboards/meletrix/zoom87/zoom87.h
  keyboards/merge/uma/uma.h
  keyboards/mokey/ginkgo65/ginkgo65.h
  keyboards/nixkeyboards/day_off/day_off.c
  keyboards/nixkeyboards/day_off/day_off.h
  keyboards/nixkeyboards/day_off/info.json
  keyboards/owlab/jelly_epoch/soldered/soldered.h
  keyboards/phoenix/phoenix.h
  keyboards/plywrks/lune/lune.h
  keyboards/projectkb/signature87/signature87.h
  keyboards/rmi_kb/squishy65/squishy65.h
  keyboards/rmi_kb/wete/v1/v1.h
  keyboards/rmi_kb/wete/v2/v2.h
  keyboards/xiudi/xd87/xd87.h
  keyboards/ymdk/melody96/melody96.h
Labels: bug, keyboard

#19974 JSON encoder: improve sorting of layout dict keys
  lib/python/qmk/c_parse.py
  lib/python/qmk/json_encoders.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: enhancement, python, cli

#20115 Document Autocorrect callback functions
  docs/feature_autocorrect.md
Labels: documentation

#20048 RF R1 8-9Xu PCB
  keyboards/cipulot/rf_r1_8_9xu/config.h
  keyboards/cipulot/rf_r1_8_9xu/ec_switch_matrix.c
  keyboards/cipulot/rf_r1_8_9xu/ec_switch_matrix.h
  keyboards/cipulot/rf_r1_8_9xu/halconf.h
  keyboards/cipulot/rf_r1_8_9xu/info.json
  keyboards/cipulot/rf_r1_8_9xu/keymaps/default/keymap.c
  keyboards/cipulot/rf_r1_8_9xu/keymaps/tkl_ansi_tsangan/keymap.c
  keyboards/cipulot/rf_r1_8_9xu/keymaps/tkl_iso_tsangan/keymap.c
  keyboards/cipulot/rf_r1_8_9xu/keymaps/tkl_jis/keymap.c
  keyboards/cipulot/rf_r1_8_9xu/keymaps/via/config.h
  keyboards/cipulot/rf_r1_8_9xu/keymaps/via/keymap.c
  keyboards/cipulot/rf_r1_8_9xu/keymaps/via/rules.mk
  keyboards/cipulot/rf_r1_8_9xu/keymaps/via/via_apc.c
  keyboards/cipulot/rf_r1_8_9xu/matrix.c
  keyboards/cipulot/rf_r1_8_9xu/mcuconf.h
  keyboards/cipulot/rf_r1_8_9xu/readme.md
  keyboards/cipulot/rf_r1_8_9xu/rules.mk
Labels: keyboard, keymap, via

#19579 Update newbs_getting_started to include instructions for apple silicon
  docs/newbs_getting_started.md
Labels: documentation

#20096 [Keyboard] Add KP60
  keyboards/keyspensory/kp60/info.json
  keyboards/keyspensory/kp60/keymaps/default/keymap.json
  keyboards/keyspensory/kp60/keymaps/via/keymap.json
  keyboards/keyspensory/kp60/readme.md
  keyboards/keyspensory/kp60/rules.mk
Labels: keyboard, keymap, via

#20120 Let's use workflows to parallelise the builds.
  .github/workflows/ci_builds.yml
  lib/python/qmk/cli/mass_compile.py
Labels: python, cli, CI

#19998 userspace/community layout fixes
  layouts/community/60_iso/unxmaal/rules.mk
  users/mechmerlin/config.h
  users/mechmerlin/mechmerlin.c
  users/talljoe/rules.mk
Labels: keymap

#19933 [Keyboard] New Keyboard - Sugar Glider
  keyboards/mechwild/sugarglider/config.h
  keyboards/mechwild/sugarglider/f401/rules.mk
  keyboards/mechwild/sugarglider/f411/rules.mk
  keyboards/mechwild/sugarglider/glcdfont.c
  keyboards/mechwild/sugarglider/halconf.h
  keyboards/mechwild/sugarglider/info.json
  keyboards/mechwild/sugarglider/keymaps/default/keymap.c
  keyboards/mechwild/sugarglider/keymaps/default/rules.mk
  keyboards/mechwild/sugarglider/keymaps/via/keymap.c
  keyboards/mechwild/sugarglider/keymaps/via/rules.mk
  keyboards/mechwild/sugarglider/matrix.c
  keyboards/mechwild/sugarglider/mcuconf.h
  keyboards/mechwild/sugarglider/post_rules.mk
  keyboards/mechwild/sugarglider/readme.md
  keyboards/mechwild/sugarglider/rules.mk
  keyboards/mechwild/sugarglider/sugarglider.c
  keyboards/mechwild/sugarglider/sugarglider.h
  keyboards/mechwild/sugarglider/wide_oled/f401/rules.mk
  keyboards/mechwild/sugarglider/wide_oled/f411/rules.mk
  keyboards/mechwild/sugarglider/wide_oled/rules.mk
Labels: keyboard, keymap, via

#20052 add new board: splaytoraid
  keyboards/0xcb/splaytoraid/32u4/rules.mk
  keyboards/0xcb/splaytoraid/config.h
  keyboards/0xcb/splaytoraid/info.json
  keyboards/0xcb/splaytoraid/keymaps/default/keymap.c
  keyboards/0xcb/splaytoraid/keymaps/default/rules.mk
  keyboards/0xcb/splaytoraid/keymaps/pi/config.h
  keyboards/0xcb/splaytoraid/keymaps/pi/keymap.c
  keyboards/0xcb/splaytoraid/keymaps/pi/rules.mk
  keyboards/0xcb/splaytoraid/keymaps/via/keymap.c
  keyboards/0xcb/splaytoraid/keymaps/via/rules.mk
  keyboards/0xcb/splaytoraid/readme.md
  keyboards/0xcb/splaytoraid/rp2040_ce/config.h
  keyboards/0xcb/splaytoraid/rp2040_ce/readme.md
  keyboards/0xcb/splaytoraid/rp2040_ce/rules.mk
  keyboards/0xcb/splaytoraid/rules.mk
Labels: keyboard, keymap, via

#20053 [Keyboard] Add hineybush/h87_g2
  keyboards/hineybush/h87_g2/info.json
  keyboards/hineybush/h87_g2/keymaps/default/keymap.c
  keyboards/hineybush/h87_g2/keymaps/via/keymap.c
  keyboards/hineybush/h87_g2/keymaps/via/rules.mk
  keyboards/hineybush/h87_g2/readme.md
  keyboards/hineybush/h87_g2/rules.mk
Labels: keyboard, keymap, via

#19975 add tiger80 iso layout support
  keyboards/kbdfans/tiger80/config.h
  keyboards/kbdfans/tiger80/info.json
  keyboards/kbdfans/tiger80/keymaps/iso/keymap.c
  keyboards/kbdfans/tiger80/rules.mk
  keyboards/kbdfans/tiger80/tiger80.c
  keyboards/kbdfans/tiger80/tiger80.h
Labels: keyboard, keymap

#19952 [Keyboard] Add Atlantis PS17
  keyboards/atlantis/ps17/config.h
  keyboards/atlantis/ps17/info.json
  keyboards/atlantis/ps17/keymaps/default/keymap.c
  keyboards/atlantis/ps17/keymaps/multimedia/keymap.c
  keyboards/atlantis/ps17/keymaps/multimedia/rules.mk
  keyboards/atlantis/ps17/keymaps/via/keymap.c
  keyboards/atlantis/ps17/keymaps/via/rules.mk
  keyboards/atlantis/ps17/ps17.c
  keyboards/atlantis/ps17/readme.md
  keyboards/atlantis/ps17/rules.mk
Labels: keyboard, keymap, via

#19968 [Doc] Add example to keyboard housekeeping and some minor fixes
  docs/custom_quantum_functions.md
  docs/feature_advanced_keycodes.md
  docs/feature_key_overrides.md
  keyboards/gray_studio/space65r3/readme.md
Labels: keyboard, documentation

#20129 Update keycodes_0.0.1_basic.hjson
  data/constants/keycodes/keycodes_0.0.1_basic.hjson
Labels: bug

#20055 Update keychron_common.c
  keyboards/keychron/common/keychron_common.c
Labels: wontfix, keyboard

#20148 kbdfans/tiger80: remove duplicate keys in info.json
  keyboards/kbdfans/tiger80/info.json
Labels: bug, keyboard

#19915 [Keyboard] Add Blueberry
  keyboards/toffee_studio/blueberry/blueberry.c
  keyboards/toffee_studio/blueberry/blueberry.h
  keyboards/toffee_studio/blueberry/config.h
  keyboards/toffee_studio/blueberry/info.json
  keyboards/toffee_studio/blueberry/keymaps/default/keymap.c
  keyboards/toffee_studio/blueberry/keymaps/via/keymap.c
  keyboards/toffee_studio/blueberry/keymaps/via/rules.mk
  keyboards/toffee_studio/blueberry/readme.md
  keyboards/toffee_studio/blueberry/rules.mk
Labels: keyboard, keymap, via

#20139 Add `qmk find` command, reuse logic for `qmk mass-compile`.
  docs/cli_commands.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/find.py
  lib/python/qmk/cli/mass_compile.py
  lib/python/qmk/search.py
Labels: documentation, python, cli

#20154 Update qmk_cli container references
  .github/workflows/api.yml
  .github/workflows/ci_builds.yml
  .github/workflows/cli.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/format_push.yml
  .github/workflows/lint.yml
  .github/workflows/regen.yml
  .github/workflows/regen_push.yml
  .github/workflows/unit_test.yml
  Dockerfile
  docs/newbs_building_firmware_workflow.md
  util/docker_build.sh
  util/docker_cmd.sh
Labels: core, documentation, CI

#20157 Fixup z70ultra — replace mis-removed file
  keyboards/melgeek/z70ultra/z70ultra.c
Labels: keyboard

#19977 [keyboard] Viktus Minne
  keyboards/viktus/minne/info.json
  keyboards/viktus/minne/keymaps/default/keymap.c
  keyboards/viktus/minne/keymaps/via/keymap.c
  keyboards/viktus/minne/keymaps/via/rules.mk
  keyboards/viktus/minne/readme.md
  keyboards/viktus/minne/rules.mk
Labels: keyboard, keymap, via

#20149 [Keyboard] Fix typos in readme for Lily58 R2G
  keyboards/lily58/r2g/readme.md
Labels: keyboard

#19790 [Keyboard] Add yandrstudio/transition80
  keyboards/yandrstudio/transition80/board.h
  keyboards/yandrstudio/transition80/info.json
  keyboards/yandrstudio/transition80/keymaps/default/keymap.c
  keyboards/yandrstudio/transition80/keymaps/via/keymap.c
  keyboards/yandrstudio/transition80/keymaps/via/rules.mk
  keyboards/yandrstudio/transition80/mcuconf.h
  keyboards/yandrstudio/transition80/readme.md
  keyboards/yandrstudio/transition80/rules.mk
Labels: keyboard, keymap, via

#20171 De-parallelise CI
  .github/workflows/ci_builds.yml
Labels: CI

#19673 [Keymap] crkbd toinux update
  keyboards/crkbd/keymaps/toinux/config.h
  keyboards/crkbd/keymaps/toinux/keycodes.h
  keyboards/crkbd/keymaps/toinux/keymap.c
  keyboards/crkbd/keymaps/toinux/rgb.c
  users/toinux/keymap_qwerty_fr.h
Labels: keymap

#19634 [Keyboard] Add Coban Pad 3A
  keyboards/coban/pad3a/config.h
  keyboards/coban/pad3a/info.json
  keyboards/coban/pad3a/keymaps/default/keymap.c
  keyboards/coban/pad3a/keymaps/default/rules.mk
  keyboards/coban/pad3a/keymaps/via/config.h
  keyboards/coban/pad3a/keymaps/via/keymap.c
  keyboards/coban/pad3a/keymaps/via/rules.mk
  keyboards/coban/pad3a/pad3a.c
  keyboards/coban/pad3a/readme.md
  keyboards/coban/pad3a/rules.mk
Labels: keyboard, keymap, via

#19852 Add Support for LPAD
  keyboards/lpad/config.h
  keyboards/lpad/info.json
  keyboards/lpad/keymaps/default/keymap.c
  keyboards/lpad/keymaps/via/keymap.c
  keyboards/lpad/keymaps/via/rules.mk
  keyboards/lpad/lpad.c
  keyboards/lpad/readme.md
  keyboards/lpad/rules.mk
Labels: keyboard, keymap, via

#20164 Fixup kbdfans/tiger80 RGB animations
  keyboards/kbdfans/tiger80/config.h
  keyboards/kbdfans/tiger80/info.json
Labels: bug, keyboard

#20150 Remove bootloader logic from `mcu_selection.mk`
  keyboards/doio/kb16/rev2/info.json
  keyboards/doio/kb16/rev2/rules.mk
  keyboards/phage_studio/pila87/info.json
  keyboards/phage_studio/pila87/rules.mk
  keyboards/rocketboard_16/info.json
  keyboards/rocketboard_16/rules.mk
  platforms/chibios/boards/STM32_F103_STM32DUINO/ld/STM32F103x6_stm32duino.ld
  platforms/chibios/boards/STM32_F103_STM32DUINO/ld/STM32F103x8_stm32duino.ld
  platforms/chibios/boards/STM32_F103_STM32DUINO/ld/STM32F103xB_stm32duino.ld
  platforms/chibios/boards/common/ld/STM32F103x8_uf2boot.ld
  platforms/chibios/bootloader.mk
  platforms/chibios/mcu_selection.mk
  platforms/chibios/platform.mk
Labels: core, keyboard

#20188 Fixup CI build for F103C6 onekey.
  keyboards/handwired/onekey/bluepill_f103c6/rules.mk
Labels: bug, keyboard

#20159 Clean up APA102 config and add DD mapping
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  docs/feature_rgb_matrix.md
  docs/feature_rgblight.md
  drivers/led/apa102.c
  keyboards/handwired/onekey/blackpill_f401/config.h
  keyboards/handwired/onekey/blackpill_f401/info.json
  keyboards/handwired/onekey/blackpill_f401_tinyuf2/config.h
  keyboards/handwired/onekey/blackpill_f401_tinyuf2/info.json
  keyboards/handwired/onekey/blackpill_f411/config.h
  keyboards/handwired/onekey/blackpill_f411/info.json
  keyboards/handwired/onekey/blackpill_f411_tinyuf2/config.h
  keyboards/handwired/onekey/blackpill_f411_tinyuf2/info.json
  keyboards/handwired/onekey/bluepill/config.h
  keyboards/handwired/onekey/bluepill/info.json
  keyboards/handwired/onekey/bluepill_f103c6/config.h
  keyboards/handwired/onekey/bluepill_f103c6/info.json
  keyboards/handwired/onekey/bluepill_uf2boot/config.h
  keyboards/handwired/onekey/bluepill_uf2boot/info.json
  keyboards/handwired/onekey/elite_c/config.h
  keyboards/handwired/onekey/elite_c/info.json
  keyboards/handwired/onekey/evb_wb32f3g71/config.h
  keyboards/handwired/onekey/evb_wb32f3g71/info.json
  keyboards/handwired/onekey/evb_wb32fq95/config.h
  keyboards/handwired/onekey/evb_wb32fq95/info.json
  keyboards/handwired/onekey/nucleo_f446re/config.h
  keyboards/handwired/onekey/nucleo_f446re/info.json
  keyboards/handwired/onekey/nucleo_l432kc/config.h
  keyboards/handwired/onekey/nucleo_l432kc/info.json
  keyboards/handwired/onekey/promicro/config.h
  keyboards/handwired/onekey/promicro/info.json
  keyboards/handwired/onekey/proton_c/config.h
  keyboards/handwired/onekey/proton_c/info.json
  keyboards/handwired/onekey/sipeed_longan_nano/config.h
  keyboards/handwired/onekey/sipeed_longan_nano/info.json
  keyboards/handwired/onekey/stm32f0_disco/config.h
  keyboards/handwired/onekey/stm32f0_disco/info.json
  keyboards/handwired/onekey/teensy_2/config.h
  keyboards/handwired/onekey/teensy_2/info.json
  keyboards/handwired/onekey/teensy_2pp/config.h
  keyboards/handwired/onekey/teensy_2pp/info.json
Labels: enhancement, core, keyboard, documentation

#20184 Update info.json to correct "rows" and "cols pins
  keyboards/lpad/info.json
Labels: keyboard

#20013 Quantum Painter QoL enhancements -- auto-poweroff, auto-flush, buffer sizing
  docs/quantum_painter.md
  drivers/painter/gc9a01/qp_gc9a01.c
  drivers/painter/ili9xxx/qp_ili9163.c
  drivers/painter/ili9xxx/qp_ili9341.c
  drivers/painter/ili9xxx/qp_ili9488.c
  drivers/painter/ssd1351/qp_ssd1351.c
  drivers/painter/st77xx/qp_st7735.c
  drivers/painter/st77xx/qp_st7789.c
  quantum/painter/qp.h
  quantum/painter/qp_draw_image.c
  quantum/painter/qp_internal.c
  quantum/painter/qp_internal_driver.h
  quantum/painter/rules.mk
Labels: core, documentation

#20060 Blu vimclutch
  keyboards/blu/vimclutch/info.json
  keyboards/blu/vimclutch/keymaps/default/keymap.c
  keyboards/blu/vimclutch/keymaps/default/readme.md
  keyboards/blu/vimclutch/keymaps/vc_i/keymap.c
  keyboards/blu/vimclutch/keymaps/vc_i/readme.md
  keyboards/blu/vimclutch/keymaps/vim_ai/keymap.c
  keyboards/blu/vimclutch/keymaps/vim_ai/readme.md
  keyboards/blu/vimclutch/readme.md
  keyboards/blu/vimclutch/rules.mk
  keyboards/blu/vimclutch/vimclutch.c
Labels: keyboard, keymap

#20113 Consolidate Binepad BN009 R1 and R2 into common folder
  keyboards/binepad/bn009/config.h
  keyboards/binepad/bn009/info.json
  keyboards/binepad/bn009/keymaps/default/keymap.c
  keyboards/binepad/bn009/keymaps/default/keymap.json
  keyboards/binepad/bn009/keymaps/default/readme.md
  keyboards/binepad/bn009/keymaps/via/keymap.c
  keyboards/binepad/bn009/keymaps/via/keymap.json
  keyboards/binepad/bn009/keymaps/via/rules.mk
  keyboards/binepad/bn009/r1/info.json
  keyboards/binepad/bn009/r1/readme.md
  keyboards/binepad/bn009/r1/rules.mk
  keyboards/binepad/bn009/r2/config.h
  keyboards/binepad/bn009/r2/info.json
  keyboards/binepad/bn009/r2/readme.md
  keyboards/binepad/bn009/r2/rules.mk
  keyboards/binepad/bn009/readme.md
  keyboards/binepad/bn009/rules.mk
  keyboards/binepad/bn009r2/info.json
  keyboards/binepad/bn009r2/keymaps/via/keymap.json
  keyboards/binepad/bn009r2/readme.md
Labels: keyboard, keymap, via

#20121 [Keymap] for sharkby7e
  keyboards/crkbd/keymaps/sharkby7e/config.h
  keyboards/crkbd/keymaps/sharkby7e/keymap.c
Labels: keymap

#20122 Add config files for Kuro65 keyboard
  keyboards/kuro/kuro65/config.h
  keyboards/kuro/kuro65/info.json
  keyboards/kuro/kuro65/keymaps/0x544d/keymap.c
  keyboards/kuro/kuro65/keymaps/0x544d/rules.mk
  keyboards/kuro/kuro65/keymaps/default/keymap.c
  keyboards/kuro/kuro65/keymaps/via/keymap.c
  keyboards/kuro/kuro65/keymaps/via/rules.mk
  keyboards/kuro/kuro65/readme.md
  keyboards/kuro/kuro65/rules.mk
Labels: keyboard, keymap, via

#20130 Add CannonKeys Bakeneko60 ISO Hotswap PCB
  keyboards/cannonkeys/bakeneko60_iso_hs/info.json
  keyboards/cannonkeys/bakeneko60_iso_hs/keymaps/default/keymap.c
  keyboards/cannonkeys/bakeneko60_iso_hs/keymaps/via/keymap.c
  keyboards/cannonkeys/bakeneko60_iso_hs/keymaps/via/rules.mk
  keyboards/cannonkeys/bakeneko60_iso_hs/readme.md
  keyboards/cannonkeys/bakeneko60_iso_hs/rules.mk
Labels: keyboard, keymap, via

#20147 Add pteropus keyboard
  keyboards/pteropus/info.json
  keyboards/pteropus/keymaps/default/keymap.c
  keyboards/pteropus/readme.md
  keyboards/pteropus/rules.mk
Labels: keyboard, keymap

#20166 [keyboard] OSAv2
  keyboards/viktus/osav2/info.json
  keyboards/viktus/osav2/keymaps/default/keymap.c
  keyboards/viktus/osav2/keymaps/via/keymap.c
  keyboards/viktus/osav2/keymaps/via/rules.mk
  keyboards/viktus/osav2/readme.md
  keyboards/viktus/osav2/rules.mk
Labels: keyboard, keymap, via

#20172 Increase verbosity of make command
  lib/python/qmk/commands.py
Labels: python, cli

#20192 Sync activity timestamps between sides.
  docs/feature_split_keyboard.md
  keyboards/tzarc/djinn/config.h
  keyboards/tzarc/djinn/djinn.c
  keyboards/tzarc/djinn/djinn.h
  keyboards/tzarc/djinn/djinn_split_sync.c
  quantum/keyboard.c
  quantum/keyboard.h
  quantum/split_common/transaction_id_define.h
  quantum/split_common/transactions.c
  quantum/split_common/transport.h
Labels: core, keyboard, documentation

#20158 [Keyboard] Add a new keyboard
  keyboards/ning/tiny_board/tb16_rgb/config.h
  keyboards/ning/tiny_board/tb16_rgb/info.json
  keyboards/ning/tiny_board/tb16_rgb/keymaps/default/keymap.c
  keyboards/ning/tiny_board/tb16_rgb/keymaps/ningjx/keymap.c
  keyboards/ning/tiny_board/tb16_rgb/readme.md
  keyboards/ning/tiny_board/tb16_rgb/rules.mk
  keyboards/ning/tiny_board/tb16_rgb/tb16_rgb.c
Labels: keyboard, keymap

#20196 update creek70 change rgb num
  keyboards/wuque/creek70/config.h
  keyboards/wuque/creek70/info.json
  keyboards/wuque/creek70/keymaps/default/keymap.c
  keyboards/wuque/creek70/keymaps/via/keymap.c
  keyboards/wuque/creek70/rules.mk
Labels: keyboard, keymap, via

#20153 Adding Bad Wings Support
  keyboards/hazel/bad_wings/config.h
  keyboards/hazel/bad_wings/halconf.h
  keyboards/hazel/bad_wings/info.json
  keyboards/hazel/bad_wings/keymaps/default/config.h
  keyboards/hazel/bad_wings/keymaps/default/keymap.c
  keyboards/hazel/bad_wings/keymaps/default/rules.mk
  keyboards/hazel/bad_wings/matrix.c
  keyboards/hazel/bad_wings/mcuconf.c
  keyboards/hazel/bad_wings/readme.md
  keyboards/hazel/bad_wings/rules.mk
Labels: keyboard, keymap

#20212 fixup: correct filename
  keyboards/reedskeebs/alish40/alish40.c
Labels: keyboard

#20194 Update Doxygen comments for some headers
  drivers/lcd/hd44780.h
  quantum/digitizer.h
  quantum/joystick.h
  quantum/leader.h
  quantum/programmable_button.h
  quantum/secure.h
  quantum/send_string/send_string.h
Labels: enhancement, core

#20235 Add some helpers to tidy up XAP
  quantum/audio/audio.c
  quantum/audio/audio.h
  quantum/rgblight/rgblight.c
  quantum/rgblight/rgblight.h
Labels: enhancement, core

#20237 Optionally keep intermediate file listings in order to do comparisons between builds.
  builddefs/build_keyboard.mk
Labels: core

#20146 add via firmware support
  keyboards/handwired/jotanck/config.h
  keyboards/handwired/jotanck/info.json
  keyboards/handwired/jotanck/jotanck.c
  keyboards/handwired/jotanck/jotanck.h
  keyboards/handwired/jotanck/keymaps/via/keymap.c
  keyboards/handwired/jotanck/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#20117 Add support for Geistmaschine Geist
  keyboards/geistmaschine/geist/geist.c
  keyboards/geistmaschine/geist/info.json
  keyboards/geistmaschine/geist/keymaps/ansi/keymap.c
  keyboards/geistmaschine/geist/keymaps/ansi/rules.mk
  keyboards/geistmaschine/geist/keymaps/default/keymap.c
  keyboards/geistmaschine/geist/keymaps/default/rules.mk
  keyboards/geistmaschine/geist/keymaps/iso/keymap.c
  keyboards/geistmaschine/geist/keymaps/iso/rules.mk
  keyboards/geistmaschine/geist/keymaps/via/keymap.c
  keyboards/geistmaschine/geist/keymaps/via/rules.mk
  keyboards/geistmaschine/geist/readme.md
  keyboards/geistmaschine/geist/rules.mk
Labels: keyboard, keymap, via

#20236 Tidy up duplication of MIN/MAX fallback implementations
  platforms/arm_atsam/eeprom_samd.c
  platforms/avr/drivers/i2c_master.c
  quantum/audio/audio.c
  quantum/audio/audio.h
  quantum/color.c
  quantum/midi/midi.c
  quantum/rgblight/rgblight.c
  quantum/velocikey.c
Labels: enhancement, core

#20124 Ymd09 firmware update. Moved to data-driven, rgblight changed to rgb matrix.
  keyboards/ymdk/ymd09/config.h
  keyboards/ymdk/ymd09/info.json
  keyboards/ymdk/ymd09/keymaps/default/keymap.c
  keyboards/ymdk/ymd09/keymaps/via/keymap.c
  keyboards/ymdk/ymd09/readme.md
  keyboards/ymdk/ymd09/rules.mk
  keyboards/ymdk/ymd09/ymd09.c
  keyboards/ymdk/ymd09/ymd09.h
Labels: keyboard, keymap, via

#20195 fix tata80 wkl layout
  keyboards/wuque/tata80/wkl/info.json
  keyboards/wuque/tata80/wkl/keymaps/default/keymap.c
  keyboards/wuque/tata80/wkl/keymaps/via/keymap.c
  keyboards/wuque/tata80/wkl/wkl.h
Labels: keyboard, keymap, via

#20232 [jacky_studio/piggy60] warn about incompatible PCB rev
  keyboards/jacky_studio/piggy60/readme.md
Labels: keyboard

#20050 EC 60 PCB
  keyboards/cipulot/ec_60/config.h
  keyboards/cipulot/ec_60/ec_switch_matrix.c
  keyboards/cipulot/ec_60/ec_switch_matrix.h
  keyboards/cipulot/ec_60/halconf.h
  keyboards/cipulot/ec_60/info.json
  keyboards/cipulot/ec_60/keymaps/60_ansi_tsangan/keymap.c
  keyboards/cipulot/ec_60/keymaps/60_iso_tsangan/keymap.c
  keyboards/cipulot/ec_60/keymaps/60_jis/keymap.c
  keyboards/cipulot/ec_60/keymaps/default/keymap.c
  keyboards/cipulot/ec_60/keymaps/via/config.h
  keyboards/cipulot/ec_60/keymaps/via/keymap.c
  keyboards/cipulot/ec_60/keymaps/via/rules.mk
  keyboards/cipulot/ec_60/keymaps/via/via_apc.c
  keyboards/cipulot/ec_60/matrix.c
  keyboards/cipulot/ec_60/mcuconf.h
  keyboards/cipulot/ec_60/readme.md
  keyboards/cipulot/ec_60/rules.mk
Labels: keyboard, keymap, via

#20049 EC 23U PCB
  keyboards/cipulot/ec_23u/config.h
  keyboards/cipulot/ec_23u/ec_switch_matrix.c
  keyboards/cipulot/ec_23u/ec_switch_matrix.h
  keyboards/cipulot/ec_23u/halconf.h
  keyboards/cipulot/ec_23u/info.json
  keyboards/cipulot/ec_23u/keymaps/default/keymap.c
  keyboards/cipulot/ec_23u/keymaps/numpad_6x4/keymap.c
  keyboards/cipulot/ec_23u/keymaps/via/config.h
  keyboards/cipulot/ec_23u/keymaps/via/keymap.c
  keyboards/cipulot/ec_23u/keymaps/via/rules.mk
  keyboards/cipulot/ec_23u/keymaps/via/via_apc.c
  keyboards/cipulot/ec_23u/matrix.c
  keyboards/cipulot/ec_23u/mcuconf.h
  keyboards/cipulot/ec_23u/readme.md
  keyboards/cipulot/ec_23u/rules.mk
Labels: keyboard, keymap, via

#20047 EC ProX PCB
  keyboards/cipulot/ec_prox/ansi_iso/config.h
  keyboards/cipulot/ec_prox/ansi_iso/ec_switch_matrix.c
  keyboards/cipulot/ec_prox/ansi_iso/ec_switch_matrix.h
  keyboards/cipulot/ec_prox/ansi_iso/halconf.h
  keyboards/cipulot/ec_prox/ansi_iso/info.json
  keyboards/cipulot/ec_prox/ansi_iso/keymaps/60_hhkb/keymap.c
  keyboards/cipulot/ec_prox/ansi_iso/keymaps/default/keymap.c
  keyboards/cipulot/ec_prox/ansi_iso/keymaps/via/config.h
  keyboards/cipulot/ec_prox/ansi_iso/keymaps/via/keymap.c
  keyboards/cipulot/ec_prox/ansi_iso/keymaps/via/rules.mk
  keyboards/cipulot/ec_prox/ansi_iso/keymaps/via/via_apc.c
  keyboards/cipulot/ec_prox/ansi_iso/matrix.c
  keyboards/cipulot/ec_prox/ansi_iso/mcuconf.h
  keyboards/cipulot/ec_prox/ansi_iso/readme.md
  keyboards/cipulot/ec_prox/ansi_iso/rules.mk
  keyboards/cipulot/ec_prox/jis/config.h
  keyboards/cipulot/ec_prox/jis/ec_switch_matrix.c
  keyboards/cipulot/ec_prox/jis/ec_switch_matrix.h
  keyboards/cipulot/ec_prox/jis/halconf.h
  keyboards/cipulot/ec_prox/jis/info.json
  keyboards/cipulot/ec_prox/jis/keymaps/default/keymap.c
  keyboards/cipulot/ec_prox/jis/keymaps/via/config.h
  keyboards/cipulot/ec_prox/jis/keymaps/via/keymap.c
  keyboards/cipulot/ec_prox/jis/keymaps/via/rules.mk
  keyboards/cipulot/ec_prox/jis/keymaps/via/via_apc.c
  keyboards/cipulot/ec_prox/jis/matrix.c
  keyboards/cipulot/ec_prox/jis/mcuconf.h
  keyboards/cipulot/ec_prox/jis/readme.md
  keyboards/cipulot/ec_prox/jis/rules.mk
Labels: keyboard, keymap, via

#20234 Strip API specific output from `qmk info`
  lib/python/qmk/cli/info.py
Labels: python, cli

#20241 Fix some more missing `#pragma once`s
  keyboards/25keys/cassette42/common/oled_helper.h
  keyboards/doio/kb16/lib/bongocat/bongocat.h
  keyboards/doio/kb16/lib/layer_status/layer_status.h
  keyboards/doio/kb16/lib/logo.h
  keyboards/gboards/engine/keymap_engine.h
  keyboards/gboards/g/config_default.h
  keyboards/gboards/g/keymap_combo.h
  keyboards/gboards/g/keymap_engine.h
  keyboards/gopolar/gg86/lib/logo.h
  keyboards/gopolar/gg86/lib/wave.h
  keyboards/handwired/d48/taphold.h
  keyboards/handwired/promethium/color.h
  keyboards/handwired/promethium/rgbsps.h
  keyboards/handwired/symmetric70_proto/matrix_fast/test_config.h
  keyboards/handwired/symmetric70_proto/matrix_fast/test_config_74hc157.h
  keyboards/handwired/symmetric70_proto/matrix_fast/test_config_direct.h
  keyboards/hhkb/rn42/suart.h
  keyboards/horrortroll/handwired_k552/lib/bongocat.h
  keyboards/horrortroll/handwired_k552/lib/galaxy.h
  keyboards/horrortroll/handwired_k552/lib/logo.h
  keyboards/horrortroll/lemon40/lib/bongocat.h
  keyboards/marksard/rhymestone/common/oled_helper.h
  keyboards/marksard/treadstone48/common/oled_helper.h
  keyboards/work_louder/rgb_functions.h
  keyboards/yushakobo/quick17/quick17_prefs.h
Labels: bug, enhancement, keyboard

#20244 [keyboard] Correcting info.JSON for Viktus Minne
  keyboards/viktus/minne/info.json
Labels: keyboard

#20044 [Keyboard]Viktus Minne - Topre variant
  keyboards/viktus/minne_topre/ec.c
  keyboards/viktus/minne_topre/ec.h
  keyboards/viktus/minne_topre/info.json
  keyboards/viktus/minne_topre/keymaps/default/keymap.c
  keyboards/viktus/minne_topre/keymaps/via/keymap.c
  keyboards/viktus/minne_topre/keymaps/via/rules.mk
  keyboards/viktus/minne_topre/minne_topre.c
  keyboards/viktus/minne_topre/readme.md
  keyboards/viktus/minne_topre/rules.mk
Labels: keyboard, keymap, via

#20131 Add CannonKeys Bakeneko65 Hotswap ISO PCB to QMK
  keyboards/cannonkeys/bakeneko65_iso_hs/config.h
  keyboards/cannonkeys/bakeneko65_iso_hs/halconf.h
  keyboards/cannonkeys/bakeneko65_iso_hs/info.json
  keyboards/cannonkeys/bakeneko65_iso_hs/keymaps/default/keymap.c
  keyboards/cannonkeys/bakeneko65_iso_hs/keymaps/via/keymap.c
  keyboards/cannonkeys/bakeneko65_iso_hs/keymaps/via/rules.mk
  keyboards/cannonkeys/bakeneko65_iso_hs/mcuconf.h
  keyboards/cannonkeys/bakeneko65_iso_hs/readme.md
  keyboards/cannonkeys/bakeneko65_iso_hs/rules.mk
Labels: keyboard, keymap, via

#19641 [Documentation] Pointing device minor rewrite
  docs/feature_pointing_device.md
Labels: documentation

#20039 Check for multiple matrix positions assigned to same key
  lib/python/qmk/c_parse.py
Labels: bug, enhancement, python, cli

#17893 [Core] PS/2 PIO Driver for RP2040
  platforms/chibios/drivers/vendor/RP/RP2040/ps2_vendor.c
Labels: core

#19825 [Cleanup] Quantum Painter
  drivers/painter/comms/qp_comms_spi.c
  drivers/painter/comms/qp_comms_spi.h
  drivers/painter/gc9a01/qp_gc9a01.c
  drivers/painter/generic/qp_rgb565_surface.c
  drivers/painter/ili9xxx/qp_ili9163.c
  drivers/painter/ili9xxx/qp_ili9341.c
  drivers/painter/ili9xxx/qp_ili9488.c
  drivers/painter/ssd1351/qp_ssd1351.c
  drivers/painter/st77xx/qp_st7735.c
  drivers/painter/st77xx/qp_st7789.c
  drivers/painter/tft_panel/qp_tft_panel.c
  drivers/painter/tft_panel/qp_tft_panel.h
  quantum/painter/lvgl/qp_lvgl.c
  quantum/painter/qff.h
  quantum/painter/qp.c
  quantum/painter/qp_comms.c
  quantum/painter/qp_draw.h
  quantum/painter/qp_draw_circle.c
  quantum/painter/qp_draw_codec.c
  quantum/painter/qp_draw_core.c
  quantum/painter/qp_draw_ellipse.c
  quantum/painter/qp_draw_image.c
  quantum/painter/qp_draw_text.c
  quantum/painter/qp_internal_driver.h
  quantum/painter/qp_stream.h
Labels: core

#20097 Fix rgblight layers when animations aren't enabled
  quantum/rgblight/rgblight.h
Labels: core

#20265 [chore] keyboards/tzarc: Alignment with clang-format.
  keyboards/tzarc/djinn/djinn_portscan_matrix.c
  keyboards/tzarc/djinn/djinn_usbpd.c
  keyboards/tzarc/djinn/keymaps/default/config.h
  keyboards/tzarc/djinn/keymaps/via/config.h
  keyboards/tzarc/ghoul/config.h
  keyboards/tzarc/ghoul/rev1/rp2040/config.h
  keyboards/tzarc/ghoul/rev1/stm32/config.h
Labels: keyboard, keymap, via

#19705 Add force support to 'qmk git-submodule'
  lib/python/qmk/cli/git/submodule.py
Labels: enhancement, python, cli

#19925 Custom keycodes in JSON
  data/schemas/definitions.jsonschema
  data/schemas/keyboard.jsonschema
  data/schemas/keycodes.jsonschema
  data/schemas/keymap.jsonschema
  keyboards/handwired/pytest/basic/keymaps/dd_keycodes/keymap.json
  lib/python/qmk/cli/generate/api.py
  lib/python/qmk/cli/generate/keyboard_h.py
  lib/python/qmk/info.py
  lib/python/qmk/keymap.py
Labels: keyboard, keymap, python, cli, breaking_change_2023q2

#20274 Reduce _validate complexity
  lib/python/qmk/info.py
Labels: bug, python, cli

#20247 [keyboard] Correcting info.JSON for OSAv2
  keyboards/viktus/osav2/info.json
Labels: keyboard

#20277 Remove invalid characters
  keyboards/wuque/creek70/readme.md
  keyboards/wuque/ikki68_aurora/readme.md
  keyboards/wuque/mammoth75x/readme.md
  keyboards/wuque/promise87/ansi/readme.md
  keyboards/wuque/promise87/wkl/readme.md
  keyboards/wuque/serneity65/readme.md
Labels: keyboard

#20136 Add new keyboard Tightwriter
  keyboards/takashicompany/tightwriter/info.json
  keyboards/takashicompany/tightwriter/keymaps/default/keymap.c
  keyboards/takashicompany/tightwriter/keymaps/via/config.h
  keyboards/takashicompany/tightwriter/keymaps/via/keymap.c
  keyboards/takashicompany/tightwriter/keymaps/via/rules.mk
  keyboards/takashicompany/tightwriter/readme.md
  keyboards/takashicompany/tightwriter/rules.mk
Labels: keyboard, keymap, via

#20287 I have zero involvement with this keyboard...
  keyboards/cheshire/curiosity/info.json
Labels: keyboard

#20283 CI Builds: master/develop, default/via, twice daily.
  .github/workflows/ci_builds.yml
Labels: CI

#20191 Fix layouts containing keys with multiple matrix positions
  keyboards/1upkeyboards/1up60rgb/1up60rgb.h
  keyboards/1upkeyboards/1up60rgb/info.json
  keyboards/40percentclub/ut47/info.json
  keyboards/40percentclub/ut47/ut47.c
  keyboards/40percentclub/ut47/ut47.h
  keyboards/converter/a1200/a1200.h
  keyboards/converter/a1200/info.json
  keyboards/converter/hp_46010a/hp_46010a.h
  keyboards/handwired/ddg_56/ddg_56.h
  keyboards/handwired/ddg_56/info.json
  keyboards/handwired/uthol/info.json
  keyboards/handwired/uthol/uthol.h
  keyboards/handwired/wabi/info.json
  keyboards/handwired/wabi/wabi.h
  keyboards/jian/handwired/handwired.c
  keyboards/jian/handwired/handwired.h
  keyboards/jian/handwired/info.json
  keyboards/jian/info.json
  keyboards/jian/keymaps/advanced/keymap.c
  keyboards/jian/keymaps/default/keymap.c
  keyboards/jian/keymaps/left_hand/keymap.c
  keyboards/jian/keymaps/via/keymap.c
  keyboards/jian/nsrev2/info.json
  keyboards/jian/nsrev2/nsrev2.c
  keyboards/jian/nsrev2/nsrev2.h
  keyboards/jian/rev1/info.json
  keyboards/jian/rev1/rev1.h
  keyboards/jian/rev2/info.json
  keyboards/jian/rev2/rev2.c
  keyboards/jian/rev2/rev2.h
  keyboards/keyhive/ut472/info.json
  keyboards/keyhive/ut472/ut472.h
  keyboards/maxr1998/phoebe/info.json
  keyboards/maxr1998/phoebe/phoebe.c
  keyboards/maxr1998/phoebe/phoebe.h
  keyboards/mechkeys/mechmini/v2/info.json
  keyboards/mechkeys/mechmini/v2/v2.h
  keyboards/mt/mt40/info.json
  keyboards/mt/mt40/mt40.h
  keyboards/sx60/info.json
  keyboards/sx60/sx60.h
  keyboards/xiudi/xd96/info.json
  keyboards/xiudi/xd96/xd96.h
Labels: bug, enhancement, keyboard, keymap, via

#20256 Fix some invalid layout macros
  keyboards/bastardkb/charybdis/3x5/3x5.h
  keyboards/bastardkb/charybdis/3x5/info.json
  keyboards/bastardkb/charybdis/3x6/3x6.h
  keyboards/bastardkb/charybdis/3x6/info.json
  keyboards/converter/modelm_ssk/info.json
  keyboards/converter/modelm_ssk/modelm_ssk.c
  keyboards/converter/modelm_ssk/modelm_ssk.h
  keyboards/irene/info.json
  keyboards/irene/irene.c
  keyboards/irene/irene.h
  keyboards/keebio/quefrency/quefrency.h
  keyboards/keebio/quefrency/rev1/info.json
  keyboards/keebio/quefrency/rev1/keymaps/via/keymap.c
  keyboards/keebio/quefrency/rev1/keymaps/via/rules.mk
  keyboards/keebio/quefrency/rev1/rev1.c
  keyboards/keebio/quefrency/rev1/rev1.h
  keyboards/rgbkb/pan/info.json
  keyboards/rgbkb/pan/keymaps/default/keymap.c
  keyboards/rgbkb/pan/pan.c
  keyboards/rgbkb/pan/pan.h
Labels: bug, enhancement, keyboard, keymap, via

#20288 Add step summary output to CI builds, with failure logs.
  .github/workflows/ci_builds.yml
  builddefs/build_keyboard.mk
  util/ci/generate_failure_markdown.sh
Labels: core, CI

#20291 Fixup CI command failures.
  .github/workflows/ci_builds.yml
  util/ci/generate_failure_markdown.sh
Labels: core, CI

#20292 Fixup CI build for `nack`.
  keyboards/nack/nack.c
Labels: bug, keyboard

#20294 Add ability for `qmk mass-compile` to build specified targets
  lib/python/qmk/cli/mass_compile.py
Labels: python, cli

#20285 Minify content published to API
  lib/python/qmk/cli/generate/api.py
Labels: enhancement, python, cli

#20123 Add keyboard alhenkb
  keyboards/alhenkb/macropad5x4/info.json
  keyboards/alhenkb/macropad5x4/keymaps/default/keymap.c
  keyboards/alhenkb/macropad5x4/keymaps/numpad/keymap.c
  keyboards/alhenkb/macropad5x4/keymaps/via/keymap.c
  keyboards/alhenkb/macropad5x4/keymaps/via/rules.mk
  keyboards/alhenkb/macropad5x4/readme.md
  keyboards/alhenkb/macropad5x4/rules.mk
Labels: keyboard, keymap, via

#20240 [Keyboard] Add Plaque80
  keyboards/sawnsprojects/plaque80/info.json
  keyboards/sawnsprojects/plaque80/keymaps/default/keymap.c
  keyboards/sawnsprojects/plaque80/keymaps/default/readme.md
  keyboards/sawnsprojects/plaque80/keymaps/via/keymap.c
  keyboards/sawnsprojects/plaque80/keymaps/via/readme.md
  keyboards/sawnsprojects/plaque80/keymaps/via/rules.mk
  keyboards/sawnsprojects/plaque80/readme.md
  keyboards/sawnsprojects/plaque80/rules.mk
Labels: keyboard, keymap, via

#20107 Add KeyDeck8
  keyboards/handwired/maverick0197/keydeck8/info.json
  keyboards/handwired/maverick0197/keydeck8/keydeck8.c
  keyboards/handwired/maverick0197/keydeck8/keymaps/default/keymap.c
  keyboards/handwired/maverick0197/keydeck8/keymaps/default/rules.mk
  keyboards/handwired/maverick0197/keydeck8/keymaps/via/keymap.c
  keyboards/handwired/maverick0197/keydeck8/keymaps/via/rules.mk
  keyboards/handwired/maverick0197/keydeck8/readme.md
  keyboards/handwired/maverick0197/keydeck8/rules.mk
Labels: invalid, keyboard, keymap, via

#20295 Revert to hex output for kint41
  keyboards/kinesis/kint41/rules.mk
Labels: bug, keyboard

#20296 [QP] Fix up delta frame boundaries
  lib/python/qmk/painter_qgf.py
Labels: bug, python, cli
