Repository qmk/qmk_firmware, pull requests merged in 2023-09, with the labels that each got.

#21874 1UpKeyboards Pi60 Layout Additions
  keyboards/1upkeyboards/pi60/info.json
  keyboards/1upkeyboards/pi60/keymaps/default/keymap.c
  keyboards/1upkeyboards/pi60/keymaps/via/keymap.c
  keyboards/1upkeyboards/pi60/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21876 Abko AK84BT Layout Touch-Up
  keyboards/abko/ak84bt/info.json
  keyboards/abko/ak84bt/keymaps/default/keymap.c
Labels: enhancement, keyboard, keymap

#21880 AH Haven65 Community Layout support
  keyboards/ah/haven65/info.json
  keyboards/ah/haven65/keymaps/default/keymap.c
  keyboards/ah/haven65/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#21877 nullbitsco/snap: fix broken keymaps
  keyboards/nullbitsco/snap/keymaps/bongo_reactive/keymap.c
  keyboards/nullbitsco/snap/keymaps/oled/keymap.c
  keyboards/nullbitsco/snap/keymaps/typehud/keymap.c
Labels: keymap

#21878 Remove old `IS_LED_ON/OFF()` macros
  tmk_core/protocol/host.h
Labels: enhancement, core

#21665 Add 1upkeyboards Super16v3
  keyboards/1upkeyboards/1upsuper16v3/config.h
  keyboards/1upkeyboards/1upsuper16v3/info.json
  keyboards/1upkeyboards/1upsuper16v3/keymaps/default/keymap.c
  keyboards/1upkeyboards/1upsuper16v3/keymaps/default/rules.mk
  keyboards/1upkeyboards/1upsuper16v3/keymaps/via/keymap.c
  keyboards/1upkeyboards/1upsuper16v3/keymaps/via/rules.mk
  keyboards/1upkeyboards/1upsuper16v3/readme.md
  keyboards/1upkeyboards/1upsuper16v3/rules.mk
Labels: keyboard, keymap, via

#21417 [keyboard] add redragon/k667
  keyboards/redragon/k667/config.h
  keyboards/redragon/k667/halconf.h
  keyboards/redragon/k667/info.json
  keyboards/redragon/k667/k667.c
  keyboards/redragon/k667/keymaps/default/keymap.c
  keyboards/redragon/k667/mcuconf.h
  keyboards/redragon/k667/readme.md
  keyboards/redragon/k667/rules.mk
Labels: keyboard, keymap

#21852 Add M6-C Keyboard Firmware
  keyboards/wolf/m6_c/config.h
  keyboards/wolf/m6_c/info.json
  keyboards/wolf/m6_c/keymaps/default/keymap.c
  keyboards/wolf/m6_c/keymaps/via/keymap.c
  keyboards/wolf/m6_c/keymaps/via/rules.mk
  keyboards/wolf/m6_c/readme.md
  keyboards/wolf/m6_c/rules.mk
Labels: keyboard, keymap, via

#21857 Added kiserdesigns keyboard folder and Madeline keyboard
  keyboards/kiserdesigns/madeline/config.h
  keyboards/kiserdesigns/madeline/info.json
  keyboards/kiserdesigns/madeline/keymaps/default/keymap.c
  keyboards/kiserdesigns/madeline/keymaps/default/rules.mk
  keyboards/kiserdesigns/madeline/readme.md
  keyboards/kiserdesigns/madeline/rules.mk
Labels: keyboard, keymap

#21717 [Core] Allow customizing PWM frequency
  docs/feature_backlight.md
  platforms/chibios/chibios_config.h
Labels: core, documentation, breaking_change_2023q4

#21889 redragon/k667: Remove 2 layer VIA restriction
  keyboards/redragon/k667/info.json
Labels: keyboard

#21892 is31fl3218: driver naming cleanups
  drivers/led/issi/is31fl3218.c
Labels: enhancement, core

#21767 [Keyboard] Update era/divine
  keyboards/era/divine/config.h
  keyboards/era/divine/halconf.h
  keyboards/era/divine/info.json
  keyboards/era/divine/mcuconf.h
  keyboards/era/divine/readme.md
Labels: keyboard

#21898 Resolve some "Layout should not contain name of keyboard" lint warnings
  keyboards/aeboards/ext65/rev1/info.json
  keyboards/aeboards/ext65/rev1/keymaps/default/keymap.c
  keyboards/aeboards/ext65/rev1/keymaps/via/keymap.c
  keyboards/aeboards/ext65/rev2/info.json
  keyboards/aeboards/ext65/rev2/keymaps/default/keymap.c
  keyboards/aeboards/ext65/rev2/keymaps/via/keymap.c
  keyboards/aeboards/ext65/rev3/info.json
  keyboards/aeboards/ext65/rev3/keymaps/default/keymap.c
  keyboards/aeboards/ext65/rev3/keymaps/via/keymap.c
  keyboards/crimsonkeyboards/resume1800/info.json
  keyboards/crimsonkeyboards/resume1800/keymaps/dee/keymap.c
  keyboards/crimsonkeyboards/resume1800/keymaps/default/keymap.c
  keyboards/crimsonkeyboards/resume1800/keymaps/iso/keymap.c
  keyboards/crimsonkeyboards/resume1800/keymaps/via/keymap.c
  keyboards/ergoslab/keymaps/default/keymap.c
  keyboards/ergoslab/rev1/info.json
  keyboards/evolv/info.json
  keyboards/evolv/keymaps/default/keymap.c
  keyboards/evolv/keymaps/gondolindrim/keymap.c
  keyboards/evolv/keymaps/iso/keymap.c
  keyboards/evolv/keymaps/via/keymap.c
  keyboards/jolofsor/denial75/info.json
  keyboards/jolofsor/denial75/keymaps/default/keymap.c
  keyboards/jolofsor/denial75/keymaps/via/keymap.c
  keyboards/moonlander/info.json
  keyboards/moonlander/keymaps/default/keymap.c
  keyboards/moonlander/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#21897 Add `mousekey.h` include to `quantum.h`
  keyboards/bpiphany/kitten_paw/keymaps/ickerwx/keymap.c
  keyboards/crkbd/keymaps/vlukash_trackpad_right/keymap.c
  keyboards/dm9records/plaid/keymaps/gipsy-king/keymap.c
  keyboards/ergodox_ez/keymaps/pvinis/keymap.c
  keyboards/gboards/butterstick/sten.h
  keyboards/gboards/georgi/sten.h
  keyboards/handwired/traveller/keymaps/default/keymap.c
  quantum/quantum.h
  users/romus/romus.c
Labels: bug, core, keyboard, keymap

#21885 AH Haven80 Community Layout support
  keyboards/ah/haven80/hotswap/info.json
  keyboards/ah/haven80/keymaps/default/keymap.c
  keyboards/ah/haven80/keymaps/via/keymap.c
  keyboards/ah/haven80/solder/info.json
Labels: enhancement, keyboard, keymap, via

#21886 ANAVI Macro Pad 12: rename LAYOUT to LAYOUT_ortho_4x3
  keyboards/anavi/macropad12/info.json
  keyboards/anavi/macropad12/keymaps/default/keymap.c
Labels: enhancement, keyboard, keymap

#21902 Chosfox CF81: correct layout data
  keyboards/chosfox/cf81/info.json
Labels: enhancement, keyboard

#21900 Auto-label data-driven efforts
  .github/labeler.yml
Labels: CI

#21906 Implement data driven wear leveling
  data/mappings/info_config.hjson
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
Labels: documentation, dd

#21899 CannonKeys Bastion75 Layout Additions
  keyboards/cannonkeys/bastion75/info.json
  keyboards/cannonkeys/bastion75/keymaps/default/keymap.c
  keyboards/cannonkeys/bastion75/keymaps/via/keymap.c
  keyboards/cannonkeys/bastion75/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21887 CannonKeys Bastion60 Layout Additions
  keyboards/cannonkeys/bastion60/info.json
  keyboards/cannonkeys/bastion60/matrix_diagram.md
Labels: enhancement, keyboard

#21888 CannonKeys Bastion65 Layout Additions
  keyboards/cannonkeys/bastion65/info.json
  keyboards/cannonkeys/bastion65/keymaps/default/keymap.c
  keyboards/cannonkeys/bastion65/keymaps/via/keymap.c
  keyboards/cannonkeys/bastion65/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21901 CannonKeys BastionTKL Layout Additions
  keyboards/cannonkeys/bastiontkl/info.json
  keyboards/cannonkeys/bastiontkl/matrix_diagram.md
Labels: enhancement, keyboard

#21925 GMMK2 65% ISO: Correct layout data
  keyboards/gmmk/gmmk2/p65/iso/info.json
Labels: enhancement, keyboard

#21928 [Docs] Improve contrast for tips in dark mode
  docs/qmk_custom_dark.css
Labels: documentation

#21926 Add RTC IRQ Priority to RP2040 board files
  platforms/chibios/boards/GENERIC_PROMICRO_RP2040/configs/mcuconf.h
  platforms/chibios/boards/GENERIC_RP_RP2040/configs/mcuconf.h
  platforms/chibios/boards/QMK_BLOK/configs/mcuconf.h
  platforms/chibios/boards/QMK_PM2040/configs/mcuconf.h
Labels: bug, core

#21380 [Refactor] Make changes to some pins
  keyboards/citrus/erdnuss65/info.json
  keyboards/citrus/erdnuss65/keymaps/default/keymap.c
  keyboards/citrus/erdnuss65/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#21908 Enable RP2040 support for apa102 RGB LED driver
  drivers/led/apa102.c
Labels: core

#21937 GMMK2 96% ANSI: Correct layout data
  keyboards/gmmk/gmmk2/p96/ansi/info.json
Labels: enhancement, keyboard

#21879 BIOI keyboards: use core UART driver
  keyboards/bioi/ble.h
  keyboards/bioi/bluetooth_custom.c
  keyboards/bioi/g60/rules.mk
  keyboards/bioi/g60ble/rules.mk
  keyboards/bioi/morgan65/rules.mk
  keyboards/bioi/usart.c
  keyboards/bioi/usart.h
Labels: enhancement, keyboard

#21913 Cipulot EC Theca Community Layout Support
  keyboards/cipulot/ec_theca/info.json
  keyboards/cipulot/ec_theca/keymaps/tkl_ansi_tsangan_wkl/keymap.c
Labels: enhancement, keyboard, keymap

#21916 customMK EVO70 R2 Layout Additions
  keyboards/custommk/evo70_r2/info.json
  keyboards/custommk/evo70_r2/keymaps/default/keymap.c
  keyboards/custommk/evo70_r2/keymaps/via/keymap.c
  keyboards/custommk/evo70_r2/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21524 [Keyboard] Add Binepad Pixie
  keyboards/binepad/pixie/config.h
  keyboards/binepad/pixie/info.json
  keyboards/binepad/pixie/keymaps/default/keymap.c
  keyboards/binepad/pixie/keymaps/default/rules.mk
  keyboards/binepad/pixie/keymaps/via/keymap.c
  keyboards/binepad/pixie/keymaps/via/rules.mk
  keyboards/binepad/pixie/readme.md
  keyboards/binepad/pixie/rules.mk
Labels: keyboard, keymap, via

#21922 dnworks FRLTKL Community Layout support
  keyboards/dnworks/frltkl/info.json
  keyboards/dnworks/frltkl/keymaps/default/keymap.c
  keyboards/dnworks/frltkl/keymaps/via/keymap.c
  keyboards/dnworks/frltkl/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21969 docs: repair malformed links
  keyboards/alpine65/readme.md
  keyboards/pkb65/readme.md
Labels: keyboard

#21976 Remove oversize binaries
  builddefs/common_rules.mk
Labels: core

#21977 Remove 'Firmware size check does not yet support' message
  builddefs/common_rules.mk
  builddefs/message.mk
  platforms/avr/platform.mk
Labels: core

#21978 Migrate spi_flash WEAR_LEVELING_DRIVER to info.json
  keyboards/akko/5108/info.json
  keyboards/akko/5108/rules.mk
  keyboards/akko/acr87/info.json
  keyboards/akko/acr87/rules.mk
  keyboards/akko/top40/info.json
  keyboards/akko/top40/rules.mk
  keyboards/annepro2/c15/info.json
  keyboards/annepro2/c15/rules.mk
  keyboards/annepro2/c18/info.json
  keyboards/annepro2/c18/rules.mk
  keyboards/chosfox/cf81/info.json
  keyboards/chosfox/cf81/rules.mk
  keyboards/gmmk/gmmk2/p96/ansi/info.json
  keyboards/gmmk/gmmk2/p96/ansi/rules.mk
  keyboards/gmmk/gmmk2/p96/iso/info.json
  keyboards/gmmk/gmmk2/p96/iso/rules.mk
  keyboards/gmmk/numpad/info.json
  keyboards/gmmk/numpad/rules.mk
  keyboards/gmmk/pro/rev2/ansi/info.json
  keyboards/gmmk/pro/rev2/ansi/rules.mk
  keyboards/gmmk/pro/rev2/iso/info.json
  keyboards/gmmk/pro/rev2/iso/rules.mk
  keyboards/hfdkb/ac001/info.json
  keyboards/hfdkb/ac001/rules.mk
  keyboards/horrortroll/handwired_k552/info.json
  keyboards/horrortroll/handwired_k552/rules.mk
  keyboards/inland/kb83/info.json
  keyboards/inland/kb83/rules.mk
  keyboards/inland/mk47/info.json
  keyboards/inland/mk47/rules.mk
  keyboards/monsgeek/m1/info.json
  keyboards/monsgeek/m1/rules.mk
  keyboards/monsgeek/m5/info.json
  keyboards/monsgeek/m5/rules.mk
  keyboards/monsgeek/m6/info.json
  keyboards/monsgeek/m6/rules.mk
  keyboards/projectd/65/projectd_65_ansi/info.json
  keyboards/projectd/65/projectd_65_ansi/rules.mk
Labels: keyboard

#20863 Fixed WB32 MCU remote wakeup issue
  platforms/chibios/boards/GENERIC_WB32_F3G71XX/board/board.c
  platforms/chibios/boards/GENERIC_WB32_FQ95XX/board/board.c
Labels: core, awaiting review, stale

#21979 Remove duplication of RP2040 EEPROM defaults
  keyboards/cannonkeys/brutalv2_1800/rules.mk
  keyboards/cannonkeys/caerdroia/rules.mk
  keyboards/cannonkeys/ortho48v2/rules.mk
  keyboards/cannonkeys/ortho60v2/rules.mk
  keyboards/cannonkeys/typeb/rules.mk
Labels: keyboard

#21924 Drewkeys Mercury65 Layout Additions
  keyboards/drewkeys/mercury65/info.json
  keyboards/drewkeys/mercury65/keymaps/default/keymap.c
  keyboards/drewkeys/mercury65/keymaps/via/keymap.c
  keyboards/drewkeys/mercury65/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21930 Gray Studio Think65 v3 Layout Additions
  keyboards/gray_studio/think65v3/info.json
  keyboards/gray_studio/think65v3/keymaps/default/keymap.c
  keyboards/gray_studio/think65v3/keymaps/via/keymap.c
  keyboards/gray_studio/think65v3/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21960 Generate keymap.json config options more forcefully
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/cli/generate/rules_mk.py
Labels: python, cli

#21990 Handwired ScottoKeebs Configurator Updates
  keyboards/handwired/scottokeebs/scottoalp/info.json
  keyboards/handwired/scottokeebs/scottocmd/info.json
  keyboards/handwired/scottokeebs/scottoergo/info.json
  keyboards/handwired/scottokeebs/scottofrog/info.json
  keyboards/handwired/scottokeebs/scottogame/info.json
  keyboards/handwired/scottokeebs/scottoinvader/info.json
  keyboards/handwired/scottokeebs/scottonum/info.json
  keyboards/handwired/scottokeebs/scottosplit/info.json
  keyboards/handwired/scottokeebs/scottostarter/info.json
Labels: enhancement, keyboard

#21986 chibios: mark boot2 bootlader data readonly
  platforms/chibios/drivers/wear_leveling/wear_leveling_rp2040_flash.c
  platforms/chibios/vendors/RP/stage2_bootloaders.c
Labels: core

#21991 Migrate spi EEPROM_DRIVER to info.json
  keyboards/bastardkb/charybdis/3x5/blackpill/info.json
  keyboards/bastardkb/charybdis/3x5/blackpill/rules.mk
  keyboards/bastardkb/charybdis/3x6/blackpill/info.json
  keyboards/bastardkb/charybdis/3x6/blackpill/rules.mk
  keyboards/bastardkb/charybdis/4x6/blackpill/info.json
  keyboards/bastardkb/charybdis/4x6/blackpill/rules.mk
  keyboards/bastardkb/scylla/blackpill/info.json
  keyboards/bastardkb/scylla/blackpill/rules.mk
  keyboards/bastardkb/skeletyl/blackpill/info.json
  keyboards/bastardkb/skeletyl/blackpill/rules.mk
  keyboards/bastardkb/tbkmini/blackpill/info.json
  keyboards/bastardkb/tbkmini/blackpill/rules.mk
  keyboards/custommk/ergostrafer/info.json
  keyboards/custommk/ergostrafer/rules.mk
  keyboards/custommk/evo70_r2/info.json
  keyboards/custommk/evo70_r2/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/f303/info.json
  keyboards/handwired/tractyl_manuform/5x6_right/f303/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/f411/info.json
  keyboards/handwired/tractyl_manuform/5x6_right/f411/rules.mk
  keyboards/tzarc/djinn/info.json
  keyboards/tzarc/djinn/rules.mk
  keyboards/tzarc/ghoul/info.json
  keyboards/tzarc/ghoul/rules.mk
Labels: keyboard

#21929 is31fl3741: driver naming cleanups
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31fl3741.h
  keyboards/acheron/apollo/87h/gamma/config.h
  keyboards/dztech/dz65rgb/v3/config.h
  keyboards/ilumkb/simpler61/config.h
  keyboards/ilumkb/simpler64/config.h
  keyboards/kbdcraft/adam64/config.h
  keyboards/kbdfans/bella/rgb/config.h
  keyboards/kbdfans/bella/rgb_iso/config.h
  keyboards/kbdfans/boop65/rgb/config.h
  keyboards/kbdfans/kbd67/mkiirgb/v3/config.h
  keyboards/kprepublic/bm68hsrgb/rev2/config.h
  keyboards/kprepublic/bm80v2/config.h
  keyboards/kprepublic/bm80v2_iso/config.h
  keyboards/mechlovin/adelais/rgb_led/rev3/config.h
  keyboards/mechlovin/infinity87/rgb_rev1/config.h
  keyboards/melgeek/mach80/config.h
  keyboards/melgeek/mj61/config.h
  keyboards/melgeek/mj63/config.h
  keyboards/melgeek/mj64/config.h
  keyboards/melgeek/mj65/config.h
  keyboards/melgeek/mojo68/config.h
  keyboards/melgeek/mojo75/config.h
  keyboards/melgeek/tegic/config.h
  keyboards/melgeek/z70ultra/config.h
  keyboards/owlab/voice65/hotswap/config.h
  keyboards/owlab/voice65/soldered/config.h
  keyboards/tkc/portico68v2/config.h
  keyboards/tkc/portico75/config.h
  keyboards/xelus/pachi/rgb/rev1/config.h
  keyboards/xelus/pachi/rgb/rev2/config.h
Labels: enhancement, core, keyboard

#21904 is31fl3737: driver naming cleanups
  docs/feature_rgb_matrix.md
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3737.h
  keyboards/dztech/tofu/ii/v1/config.h
  keyboards/dztech/tofu/jr/v1/config.h
  keyboards/frooastboard/walnut/config.h
  keyboards/mt/mt84/config.h
  keyboards/planck/ez/config.h
Labels: enhancement, core, keyboard, documentation

#21903 is31fl3736: driver naming cleanups
  docs/feature_rgb_matrix.md
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3736.h
  keyboards/wilba_tech/wt60_a/config.h
  keyboards/wilba_tech/wt65_a/config.h
  keyboards/wilba_tech/wt65_b/config.h
  keyboards/wilba_tech/wt75_a/config.h
  keyboards/wilba_tech/wt75_b/config.h
  keyboards/wilba_tech/wt75_c/config.h
  keyboards/wilba_tech/wt80_a/config.h
Labels: enhancement, core, keyboard, documentation

#21998 Inland MK47 Community Layout Support
  keyboards/inland/mk47/info.json
  keyboards/inland/mk47/keymaps/default/keymap.c
  keyboards/inland/mk47/keymaps/inland/keymap.c
  keyboards/inland/mk47/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#22006 Default wear leveling logical size to half backing
  docs/eeprom_driver.md
  platforms/chibios/drivers/wear_leveling/wear_leveling_efl_config.h
  platforms/chibios/drivers/wear_leveling/wear_leveling_rp2040_flash_config.h
Labels: enhancement, core, documentation

#21999 Jaykeeb Sebelas: Standardize Layout Names
  keyboards/jaykeeb/sebelas/info.json
  keyboards/jaykeeb/sebelas/keymaps/default/keymap.c
  keyboards/jaykeeb/sebelas/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#22010 Migrate WEAR_LEVELING_*_SIZE to info.json
  keyboards/akko/5108/config.h
  keyboards/akko/5108/info.json
  keyboards/akko/acr87/config.h
  keyboards/akko/acr87/info.json
  keyboards/akko/top40/config.h
  keyboards/akko/top40/info.json
  keyboards/annepro2/c15/config.h
  keyboards/annepro2/c15/info.json
  keyboards/annepro2/c18/config.h
  keyboards/annepro2/c18/info.json
  keyboards/binepad/bn006/config.h
  keyboards/binepad/bn006/info.json
  keyboards/binepad/bn006/rules.mk
  keyboards/binepad/bn009/r2/config.h
  keyboards/binepad/bn009/r2/info.json
  keyboards/binepad/bnr1/v2/config.h
  keyboards/chosfox/cf81/config.h
  keyboards/chosfox/cf81/info.json
  keyboards/gmmk/gmmk2/p96/ansi/info.json
  keyboards/gmmk/gmmk2/p96/config.h
  keyboards/gmmk/gmmk2/p96/iso/info.json
  keyboards/gmmk/numpad/config.h
  keyboards/gmmk/numpad/info.json
  keyboards/gmmk/pro/rev2/ansi/info.json
  keyboards/gmmk/pro/rev2/config.h
  keyboards/gmmk/pro/rev2/iso/info.json
  keyboards/hfdkb/ac001/config.h
  keyboards/hfdkb/ac001/info.json
  keyboards/horrortroll/handwired_k552/config.h
  keyboards/horrortroll/handwired_k552/info.json
  keyboards/ibm/model_m/yugo_m/config.h
  keyboards/ibm/model_m/yugo_m/info.json
  keyboards/inland/kb83/config.h
  keyboards/inland/kb83/info.json
  keyboards/inland/mk47/config.h
  keyboards/inland/mk47/info.json
  keyboards/mechlovin/hex6c/config.h
  keyboards/mechlovin/hex6c/info.json
  keyboards/mode/m75h/config.h
  keyboards/mode/m75h/info.json
  keyboards/mode/m75s/config.h
  keyboards/mode/m75s/info.json
  keyboards/monsgeek/m1/config.h
  keyboards/monsgeek/m1/info.json
  keyboards/monsgeek/m5/config.h
  keyboards/monsgeek/m5/info.json
  keyboards/monsgeek/m6/config.h
  keyboards/monsgeek/m6/info.json
  keyboards/projectd/65/projectd_65_ansi/config.h
  keyboards/projectd/65/projectd_65_ansi/info.json
  keyboards/rgbkb/mun/config.h
  keyboards/rgbkb/mun/rev1/info.json
  keyboards/rgbkb/sol3/config.h
  keyboards/rgbkb/sol3/rev1/info.json
  keyboards/xelus/kangaroo/rev2/config.h
  keyboards/xelus/kangaroo/rev2/info.json
  keyboards/xelus/rs60/rev2_1/config.h
  keyboards/xelus/rs60/rev2_1/info.json
Labels: keyboard

#22000 Keebio NyquistPad Layout Updates
  keyboards/keebio/nyquistpad/info.json
  keyboards/keebio/nyquistpad/keymaps/default/keymap.c
  keyboards/keebio/nyquistpad/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#22001 Kibou Suisei Layout Addition
  keyboards/kibou/suisei/info.json
  keyboards/kibou/suisei/keymaps/default/keymap.c
  keyboards/kibou/suisei/keymaps/via/keymap.c
  keyboards/kibou/suisei/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22002 Kopibeng XT87 Layout Additions & Touch-Up
  keyboards/kopibeng/xt87/info.json
Labels: enhancement, keyboard

#21836 Update to 'peterfalken' userspace configurations
  users/peterfalken/config.h
  users/peterfalken/peterfalken.c
Labels: keymap

#21964 fc660c/fc980c: clean up actuation point adjustment code
  keyboards/fc660c/actuation_point.c
  keyboards/fc660c/ad5258.c
  keyboards/fc660c/ad5258.h
  keyboards/fc660c/config.h
  keyboards/fc660c/fc660c.c
  keyboards/fc660c/fc660c.h
  keyboards/fc660c/i2c.c
  keyboards/fc660c/i2c.h
  keyboards/fc660c/rules.mk
  keyboards/fc980c/actuation_point.c
  keyboards/fc980c/ad5258.c
  keyboards/fc980c/ad5258.h
  keyboards/fc980c/config.h
  keyboards/fc980c/fc980c.c
  keyboards/fc980c/fc980c.h
  keyboards/fc980c/i2c.c
  keyboards/fc980c/i2c.h
  keyboards/fc980c/keymaps/actuation-point-example/config.h
  keyboards/fc980c/keymaps/actuation-point-example/keymap.c
  keyboards/fc980c/rules.mk
Labels: enhancement, keyboard, keymap

#22009 Add and use PWM frequency defines for ISSI LED drivers
  drivers/led/issi/is31fl3733-simple.c
  drivers/led/issi/is31fl3733-simple.h
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3733.h
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3736.h
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3737.h
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31fl3741.h
  keyboards/4pplet/perk60_iso/rev_a/config.h
  keyboards/drop/alt/v2/config.h
  keyboards/drop/ctrl/v2/config.h
  keyboards/drop/sense75/config.h
  keyboards/drop/shift/v2/config.h
  keyboards/frooastboard/walnut/config.h
  keyboards/input_club/k_type/is31fl3733-dual.c
  keyboards/input_club/k_type/is31fl3733-dual.h
Labels: enhancement, core, keyboard

#22021 Fix input_club/k_type when RGB Matrix disabled
  keyboards/input_club/k_type/post_rules.mk
  keyboards/input_club/k_type/rules.mk
Labels: bug, keyboard

#22014 Krado Industries Promenade Layout Additions
  keyboards/kradoindustries/promenade/info.json
  keyboards/kradoindustries/promenade/keymaps/default/keymap.c
  keyboards/kradoindustries/promenade/keymaps/via/keymap.c
  keyboards/kradoindustries/promenade/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22015 Linworks Fave60a Community Layout Support
  keyboards/linworks/fave60a/info.json
  keyboards/linworks/fave60a/keymaps/default/keymap.c
  keyboards/linworks/fave60a/keymaps/via/keymap.c
  keyboards/linworks/fave60a/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22016 Maze Studio Jocker 1800 Layout Additions
  keyboards/mazestudio/jocker/info.json
  keyboards/mazestudio/jocker/keymaps/default/keymap.c
  keyboards/mazestudio/jocker/keymaps/via/keymap.c
  keyboards/mazestudio/jocker/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22018 Mechlovin Zed65 910 Layout Standardization
  keyboards/mechlovin/zed65/910/info.json
  keyboards/mechlovin/zed65/910/keymaps/default/keymap.c
  keyboards/mechlovin/zed65/910/keymaps/via/keymap.c
  keyboards/mechlovin/zed65/910/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22020 Mode M256-WS Community Layout Support
  keyboards/mode/m256ws/info.json
  keyboards/mode/m256ws/keymaps/default/keymap.c
  keyboards/mode/m256ws/keymaps/via/keymap.c
  keyboards/mode/m256ws/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22019 Mode M256-WH Community Layout Support
  keyboards/mode/m256wh/info.json
  keyboards/mode/m256wh/keymaps/default/keymap.c
  keyboards/mode/m256wh/keymaps/via/keymap.c
  keyboards/mode/m256wh/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22011 Remove duplication of EEPROM defaults
  keyboards/binepad/bnr1/v2/rules.mk
  keyboards/doio/kb16/rev2/rules.mk
  keyboards/gmmk/gmmk2/p65/ansi/rules.mk
  keyboards/gmmk/gmmk2/p65/iso/rules.mk
  keyboards/phage_studio/pila87/rules.mk
  keyboards/xelus/kangaroo/rev2/rules.mk
  keyboards/xelus/rs60/rev2_1/rules.mk
Labels: keyboard

#22013 Migrate i2c EEPROM_DRIVER to info.json
  keyboards/acheron/shark/beta/info.json
  keyboards/acheron/shark/beta/rules.mk
  keyboards/aeboards/constellation/rev2/info.json
  keyboards/aeboards/constellation/rev2/rules.mk
  keyboards/geonworks/frogmini/fmh/info.json
  keyboards/geonworks/frogmini/fmh/rules.mk
  keyboards/geonworks/frogmini/fms/info.json
  keyboards/geonworks/frogmini/fms/rules.mk
  keyboards/jones/v1/info.json
  keyboards/jones/v1/rules.mk
  keyboards/mode/m65ha_alpha/info.json
  keyboards/mode/m65ha_alpha/rules.mk
  keyboards/mode/m65hi_alpha/info.json
  keyboards/mode/m65hi_alpha/rules.mk
  keyboards/mode/m65s/info.json
  keyboards/mode/m65s/rules.mk
  keyboards/moonlander/info.json
  keyboards/moonlander/rules.mk
  keyboards/smithrune/iron165r2/f411/info.json
  keyboards/smithrune/iron165r2/f411/rules.mk
  keyboards/tkw/grandiceps/rev2/info.json
  keyboards/tkw/grandiceps/rev2/rules.mk
  keyboards/viendi8l/info.json
  keyboards/viendi8l/rules.mk
  keyboards/xelus/kangaroo/rev1/info.json
  keyboards/xelus/kangaroo/rev1/rules.mk
  keyboards/xelus/pachi/rgb/rev1/info.json
  keyboards/xelus/pachi/rgb/rev1/rules.mk
  keyboards/xelus/pachi/rgb/rev2/info.json
  keyboards/xelus/pachi/rgb/rev2/rules.mk
  keyboards/xelus/rs108/info.json
  keyboards/xelus/rs108/rules.mk
  keyboards/xelus/rs60/rev2_0/info.json
  keyboards/xelus/rs60/rev2_0/rules.mk
  keyboards/xelus/valor/rev2/info.json
  keyboards/xelus/valor/rev2/rules.mk
  keyboards/xelus/valor_frl_tkl/rev1/info.json
  keyboards/xelus/valor_frl_tkl/rev1/rules.mk
  keyboards/xelus/xs108/info.json
  keyboards/xelus/xs108/rules.mk
  keyboards/xelus/xs60/hotswap/info.json
  keyboards/xelus/xs60/hotswap/rules.mk
  keyboards/xelus/xs60/soldered/info.json
  keyboards/xelus/xs60/soldered/rules.mk
Labels: keyboard

#22026 MonsGeek M1: Correct layout data
  keyboards/monsgeek/m1/info.json
Labels: enhancement, keyboard

#21610 `qmk format-json`: Add an in-place mode to format json command
  lib/python/qmk/cli/format/json.py
Labels: python, cli

#22030 QVEX Tech Lynepad2 Layout Update
  keyboards/qvex/lynepad2/info.json
  keyboards/qvex/lynepad2/matrix_diagram.md
Labels: enhancement, keyboard

#22029 OwLab Jelly Evolv Solder Layout Additions
  keyboards/owlab/jelly_evolv/solder/info.json
  keyboards/owlab/jelly_evolv/solder/keymaps/default/keymap.c
  keyboards/owlab/jelly_evolv/solder/keymaps/via/keymap.c
  keyboards/owlab/jelly_evolv/solder/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22028 Nix Studio Lilith Layout Additions
  keyboards/nix_studio/lilith/info.json
  keyboards/nix_studio/lilith/matrix_diagram.md
Labels: enhancement, keyboard

#22027 Neson Design Nico Layout Additions
  keyboards/neson_design/nico/info.json
  keyboards/neson_design/nico/keymaps/default/keymap.c
  keyboards/neson_design/nico/keymaps/via/keymap.c
  keyboards/neson_design/nico/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21871 [Keyboard] Add splitkb.com's Aurora Helix
  keyboards/splitkb/aurora/helix/config.h
  keyboards/splitkb/aurora/helix/glcdfont.c
  keyboards/splitkb/aurora/helix/helix.c
  keyboards/splitkb/aurora/helix/info.json
  keyboards/splitkb/aurora/helix/keymaps/debug/config.h
  keyboards/splitkb/aurora/helix/keymaps/debug/keymap.c
  keyboards/splitkb/aurora/helix/keymaps/debug/readme.md
  keyboards/splitkb/aurora/helix/keymaps/debug/rules.mk
  keyboards/splitkb/aurora/helix/keymaps/default/config.h
  keyboards/splitkb/aurora/helix/keymaps/default/keymap.json
  keyboards/splitkb/aurora/helix/keymaps/default/readme.md
  keyboards/splitkb/aurora/helix/readme.md
  keyboards/splitkb/aurora/helix/rev1/config.h
  keyboards/splitkb/aurora/helix/rev1/info.json
  keyboards/splitkb/aurora/helix/rev1/rev1.c
  keyboards/splitkb/aurora/helix/rev1/rules.mk
  keyboards/splitkb/aurora/helix/rules.mk
Labels: keyboard, keymap

#21546 add slider8
  keyboards/1upkeyboards/1upslider8/1upslider8.c
  keyboards/1upkeyboards/1upslider8/config.h
  keyboards/1upkeyboards/1upslider8/halconf.h
  keyboards/1upkeyboards/1upslider8/info.json
  keyboards/1upkeyboards/1upslider8/keymaps/default/keymap.c
  keyboards/1upkeyboards/1upslider8/keymaps/default/rules.mk
  keyboards/1upkeyboards/1upslider8/keymaps/via/keymap.c
  keyboards/1upkeyboards/1upslider8/keymaps/via/rules.mk
  keyboards/1upkeyboards/1upslider8/mcuconf.h
  keyboards/1upkeyboards/1upslider8/readme.md
  keyboards/1upkeyboards/1upslider8/rules.mk
Labels: keyboard, keymap, via

#21611 [keyboard] tominabox1/le_chiffre oled rework
  keyboards/tominabox1/le_chiffre/keymaps/default/keymap.c
  keyboards/tominabox1/le_chiffre/keymaps/via/keymap.c
  keyboards/tominabox1/le_chiffre/le_chiffre.c
  keyboards/tominabox1/le_chiffre/le_chiffre.h
  keyboards/tominabox1/le_chiffre/post_config.h
Labels: keyboard, keymap, via

#21684 rename og60 to tofu60
  data/mappings/keyboard_aliases.hjson
  keyboards/dztech/og60/info.json
  keyboards/dztech/tofu60/info.json
  keyboards/dztech/tofu60/keymaps/default/keymap.c
  keyboards/dztech/tofu60/keymaps/via/keymap.c
  keyboards/dztech/tofu60/keymaps/via/rules.mk
  keyboards/dztech/tofu60/readme.md
  keyboards/dztech/tofu60/rules.mk
Labels: keyboard, keymap, via

#21748 Adding Treasure TYPE-9 series III
  keyboards/treasure/type9s3/config.h
  keyboards/treasure/type9s3/info.json
  keyboards/treasure/type9s3/keymaps/default/keymap.c
  keyboards/treasure/type9s3/keymaps/via/keymap.c
  keyboards/treasure/type9s3/keymaps/via/rules.mk
  keyboards/treasure/type9s3/readme.md
  keyboards/treasure/type9s3/rules.mk
Labels: keyboard, keymap, via

#22032 Raindrop Layout Updates
  keyboards/raindrop/info.json
  keyboards/raindrop/matrix_diagram.md
Labels: enhancement, keyboard

#22035 Rico Phoenix Project No. 1 Layout Additions
  keyboards/rico/phoenix_project_no1/info.json
  keyboards/rico/phoenix_project_no1/keymaps/default/keymap.c
  keyboards/rico/phoenix_project_no1/keymaps/via/keymap.c
  keyboards/rico/phoenix_project_no1/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22036 RuckerMachine RM Fullsize Layout Additions
  keyboards/rmkeebs/rm_fullsize/info.json
  keyboards/rmkeebs/rm_fullsize/keymaps/default/keymap.c
  keyboards/rmkeebs/rm_fullsize/matrix_diagram.md
Labels: enhancement, keyboard, keymap

#22037 Sho Studios ARC Layout Addition
  keyboards/shostudio/arc/info.json
  keyboards/shostudio/arc/matrix_diagram.md
Labels: enhancement, keyboard

#22049 Lvgl rate control
  docs/quantum_painter_lvgl.md
  quantum/painter/lvgl/qp_lvgl.c
  quantum/painter/lvgl/qp_lvgl.h
Labels: core, documentation

#22025 directly use object files when linking ELF
  builddefs/common_rules.mk
Labels: core

#22034 Remove config.h which only set DYNAMIC_KEYMAP_LAYER_COUNT
  keyboards/aozora/config.h
  keyboards/dyz/dyz40/config.h
  keyboards/dyz/dyz60/config.h
  keyboards/dyz/dyz60_hs/config.h
  keyboards/dyz/dyz_tkl/config.h
  keyboards/dyz/selka40/config.h
  keyboards/dyz/synthesis60/config.h
  keyboards/handwired/swiftrax/beegboy/config.h
  keyboards/handwired/swiftrax/cowfish/config.h
  keyboards/handwired/swiftrax/glacier/config.h
  keyboards/handwired/swiftrax/joypad/config.h
  keyboards/handwired/swiftrax/koalafications/config.h
  keyboards/handwired/swiftrax/nodu/config.h
  keyboards/handwired/swiftrax/pandamic/config.h
  keyboards/handwired/swiftrax/the_galleon/config.h
  keyboards/handwired/swiftrax/the_galleon/info.json
  keyboards/kabedon/kabedon980/config.h
  keyboards/kabedon/kabedon980/info.json
  keyboards/kikoslab/kl90/config.h
  keyboards/novelkeys/nk1/config.h
  keyboards/onekeyco/dango40/config.h
  keyboards/onekeyco/dango40/info.json
  keyboards/sporewoh/banime40/config.h
  keyboards/sporewoh/banime40/info.json
  keyboards/swiftrax/retropad/config.h
Labels: keyboard

#22031 Move Digitizer to "Software Features"
  docs/_summary.md
Labels: documentation

#22004 Complete RGB Matrix support for IS31FL3218
  builddefs/common_features.mk
  docs/reference_info_json.md
  drivers/led/issi/is31fl3218.c
  drivers/led/issi/is31fl3218.h
  keyboards/wilba_tech/rama_works_m60_a/keymaps/zyber/config.h
  keyboards/wilba_tech/rama_works_m6_b/config.h
  keyboards/wilba_tech/wt_rgb_backlight.c
  quantum/rgb_matrix/rgb_matrix.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: enhancement, core, keyboard, keymap, documentation

#22033 add missing gpio and chibios defs to uart.h
  platforms/chibios/drivers/uart.h
Labels: bug, core

#22043 Fix paragon encoder pinout for soldered version
  keyboards/artemis/paragon/hotswap/info.json
  keyboards/artemis/paragon/info.json
  keyboards/artemis/paragon/soldered/info.json
Labels: keyboard

#22023 geistmaschine/macropod: fix issues waking up after suspend on apple devices
  keyboards/geistmaschine/macropod/config.h
  keyboards/geistmaschine/macropod/info.json
Labels: keyboard

#21992 Add all RGB Matrix Animations to city42
  keyboards/controllerworks/city42/info.json
Labels: keyboard

#22044 Viktus Styrka Topre Layout Standardization and Touch-Up
  keyboards/viktus/styrka_topre/info.json
  keyboards/viktus/styrka_topre/keymaps/default/keymap.c
  keyboards/viktus/styrka_topre/keymaps/via/keymap.c
  keyboards/viktus/styrka_topre/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22045 Wolf Neely65 Touch-Up
  keyboards/wolf/neely65/info.json
  keyboards/wolf/neely65/keymaps/default/keymap.c
  keyboards/wolf/neely65/keymaps/via/keymap.c
  keyboards/wolf/neely65/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22052 Wolf Silhouette Community Layout Support
  keyboards/wolf/silhouette/info.json
  keyboards/wolf/silhouette/keymaps/default/keymap.c
  keyboards/wolf/silhouette/keymaps/via/keymap.c
  keyboards/wolf/silhouette/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22053 Wolf Ziggurat Layout Additions
  keyboards/wolf/ziggurat/info.json
  keyboards/wolf/ziggurat/keymaps/default/keymap.c
  keyboards/wolf/ziggurat/keymaps/via/keymap.c
  keyboards/wolf/ziggurat/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21402 Add missing fullsize extended default layouts
  layouts/default/fullsize_extended_ansi/default_fullsize_extended_ansi/keymap.c
  layouts/default/fullsize_extended_ansi/info.json
  layouts/default/fullsize_extended_ansi/layout.json
  layouts/default/fullsize_extended_ansi/readme.md
  layouts/default/fullsize_extended_iso/default_fullsize_extended_iso/keymap.c
  layouts/default/fullsize_extended_iso/info.json
  layouts/default/fullsize_extended_iso/layout.json
  layouts/default/fullsize_extended_iso/readme.md
  layouts/default/fullsize_extended_jis/default_fullsize_extended_jis/keymap.c
  layouts/default/fullsize_extended_jis/info.json
  layouts/default/fullsize_extended_jis/layout.json
  layouts/default/fullsize_extended_jis/readme.md
  layouts/default/readme.md
Labels: keymap

#21731 Adding support for the Pteron56 (PCB) keyboard
  keyboards/kraken_jones/pteron56/info.json
  keyboards/kraken_jones/pteron56/keymaps/default/keymap.c
  keyboards/kraken_jones/pteron56/keymaps/via/keymap.c
  keyboards/kraken_jones/pteron56/keymaps/via/rules.mk
  keyboards/kraken_jones/pteron56/readme.md
  keyboards/kraken_jones/pteron56/rules.mk
Labels: keyboard, keymap, via

#22063 Add missing gpio include to ps2 vendor
  platforms/chibios/drivers/vendor/RP/RP2040/ps2_vendor.c
Labels: core

#22060 Add riot pad
  keyboards/riot_pad/config.h
  keyboards/riot_pad/halconf.h
  keyboards/riot_pad/info.json
  keyboards/riot_pad/keymaps/default/keymap.c
  keyboards/riot_pad/keymaps/via/keymap.c
  keyboards/riot_pad/keymaps/via/rules.mk
  keyboards/riot_pad/mcuconf.h
  keyboards/riot_pad/readme.md
  keyboards/riot_pad/rules.mk
Labels: keyboard, keymap, via

#21975 fix unxmaal for 60_iso
  layouts/community/60_iso/unxmaal/config.h
Labels: keymap

#22069 DZTech Pluto Community Layout support
  keyboards/dztech/pluto/info.json
  keyboards/dztech/pluto/keymaps/default/keymap.c
  keyboards/dztech/pluto/keymaps/via/keymap.c
  keyboards/dztech/pluto/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22070 Ubest VN Community Layout Support
  keyboards/ubest/vn/info.json
  keyboards/ubest/vn/keymaps/default/keymap.c
  keyboards/ubest/vn/keymaps/via/keymap.c
  keyboards/ubest/vn/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21936 added oled boot logo dp3000 macropad
  keyboards/dp3000/dp3000.c
  keyboards/dp3000/post_config.h
Labels: keyboard

#22081 SapuSeven MacroPad12: rename LAYOUT to LAYOUT_ortho_3x4
  keyboards/sapuseven/macropad12/info.json
  keyboards/sapuseven/macropad12/keymaps/default/keymap.c
  keyboards/sapuseven/macropad12/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#22074 Move `PACKED` define to util.h
  quantum/color.h
  quantum/led_matrix/led_matrix_types.h
  quantum/rgb_matrix/rgb_matrix_types.h
  quantum/util.h
Labels: enhancement, core

#22080 Alchemist Keyboards OGRN Layout Addition
  keyboards/akb/ogrn/info.json
  keyboards/akb/ogrn/keymaps/default/keymap.c
  keyboards/akb/ogrn/keymaps/via/keymap.c
  keyboards/akb/ogrn/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22085 Remove ALLOW_WARNINGS and PICO_INTRINSICS_ENABLED
  keyboards/bastardkb/charybdis/3x5/v2/splinky_2/rules.mk
  keyboards/bastardkb/charybdis/3x5/v2/splinky_3/rules.mk
  keyboards/bastardkb/charybdis/3x6/v2/splinky_2/rules.mk
  keyboards/bastardkb/charybdis/3x6/v2/splinky_3/rules.mk
  keyboards/bastardkb/charybdis/4x6/v2/splinky_2/rules.mk
  keyboards/bastardkb/charybdis/4x6/v2/splinky_3/rules.mk
  keyboards/bastardkb/dilemma/3x5_2/assembled/rules.mk
  keyboards/bastardkb/dilemma/3x5_2/splinky/rules.mk
  keyboards/bastardkb/dilemma/3x5_3/rules.mk
  keyboards/bastardkb/scylla/v2/splinky_2/rules.mk
  keyboards/bastardkb/scylla/v2/splinky_3/rules.mk
  keyboards/bastardkb/skeletyl/v2/splinky_2/rules.mk
  keyboards/bastardkb/skeletyl/v2/splinky_3/rules.mk
  keyboards/bastardkb/tbkmini/v2/splinky_2/rules.mk
  keyboards/bastardkb/tbkmini/v2/splinky_3/rules.mk
  keyboards/crowboard/rules.mk
Labels: keyboard

#22066 amend 96_(ansi|iso) community_layouts in keyboards/
  keyboards/donutcables/budget96/info.json
  keyboards/donutcables/budget96/keymaps/default/keymap.c
  keyboards/donutcables/budget96/keymaps/donut/keymap.c
  keyboards/donutcables/budget96/keymaps/via/keymap.c
  keyboards/donutcables/budget96/matrix_diagram.md
  keyboards/dztech/dz96/info.json
  keyboards/dztech/dz96/matrix_diagram.md
  keyboards/idobao/id96/info.json
  keyboards/idobao/id96/keymaps/default/keymap.c
  keyboards/idobao/id96/keymaps/via/keymap.c
  keyboards/idobao/id96/matrix_diagram.md
  keyboards/ymdk/melody96/info.json
  keyboards/ymdk/melody96/matrix_diagram.md
Labels: keyboard, keymap, via

#22072 Update AW20216S LED type
  builddefs/common_features.mk
  docs/feature_rgb_matrix.md
  drivers/led/aw20216s.c
  drivers/led/aw20216s.h
  keyboards/gmmk/gmmk2/p65/ansi/ansi.c
  keyboards/gmmk/gmmk2/p65/iso/iso.c
  keyboards/gmmk/gmmk2/p96/ansi/ansi.c
  keyboards/gmmk/gmmk2/p96/iso/iso.c
  keyboards/gmmk/numpad/numpad.c
  keyboards/gmmk/pro/rev1/ansi/ansi.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/mattgauf/ansi.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/mattgauf/config.h
  keyboards/gmmk/pro/rev1/ansi/keymaps/mattgauf/helpers.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/mattgauf/keymap.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/mattgauf/keymap_helpers.h
  keyboards/gmmk/pro/rev1/ansi/keymaps/mattgauf/readme.md
  keyboards/gmmk/pro/rev1/ansi/keymaps/mattgauf/rules.mk
  keyboards/gmmk/pro/rev1/iso/iso.c
  keyboards/gmmk/pro/rev2/ansi/ansi.c
  keyboards/gmmk/pro/rev2/iso/iso.c
  keyboards/projectd/65/projectd_65_ansi/projectd_65_ansi.c
Labels: bug, enhancement, core, keyboard, keymap, documentation

#22087 Partially migrate `DYNAMIC_KEYMAP_LAYER_COUNT`
  keyboards/1upkeyboards/pi60/config.h
  keyboards/1upkeyboards/pi60/info.json
  keyboards/1upkeyboards/pi60_hse/config.h
  keyboards/1upkeyboards/pi60_hse/info.json
  keyboards/1upkeyboards/sweet16v2/kb2040/config.h
  keyboards/1upkeyboards/sweet16v2/kb2040/info.json
  keyboards/1upkeyboards/sweet16v2/pro_micro/config.h
  keyboards/1upkeyboards/sweet16v2/pro_micro/info.json
  keyboards/4pplet/eagle_viper_rep/rev_a/config.h
  keyboards/4pplet/eagle_viper_rep/rev_a/info.json
  keyboards/4pplet/eagle_viper_rep/rev_b/config.h
  keyboards/4pplet/eagle_viper_rep/rev_b/info.json
  keyboards/akko/5108/config.h
  keyboards/akko/5108/info.json
  keyboards/akko/acr87/config.h
  keyboards/akko/acr87/info.json
  keyboards/akko/top40/config.h
  keyboards/akko/top40/info.json
  keyboards/bemeier/bmek/config.h
  keyboards/bemeier/bmek/info.json
  keyboards/chosfox/cf81/config.h
  keyboards/deng/thirty/config.h
  keyboards/deng/thirty/info.json
  keyboards/dm9records/lain/config.h
  keyboards/dm9records/lain/info.json
  keyboards/doio/kb30/config.h
  keyboards/gkeyboard/gpad8_2r/config.h
  keyboards/gkeyboard/gpad8_2r/info.json
  keyboards/idyllic/tinny50_rgb/config.h
  keyboards/idyllic/tinny50_rgb/info.json
  keyboards/jones/v1/config.h
  keyboards/jones/v1/info.json
  keyboards/mechwild/sugarglider/config.h
  keyboards/mechwild/sugarglider/info.json
  keyboards/monsgeek/m1/config.h
  keyboards/monsgeek/m1/info.json
  keyboards/monsgeek/m5/config.h
  keyboards/monsgeek/m5/info.json
  keyboards/monsgeek/m6/config.h
  keyboards/monsgeek/m6/info.json
  keyboards/moonlander/config.h
  keyboards/moonlander/info.json
  keyboards/primekb/prime_e/config.h
  keyboards/primekb/prime_e/info.json
  keyboards/pteron36/config.h
  keyboards/pteron36/info.json
  keyboards/qvex/lynepad2/config.h
  keyboards/qvex/lynepad2/info.json
  keyboards/sirius/uni660/rev1/config.h
  keyboards/sirius/uni660/rev2/ansi/config.h
  keyboards/sirius/uni660/rev2/iso/config.h
  keyboards/wilba_tech/rama_works_m10_b/config.h
  keyboards/wilba_tech/rama_works_m10_b/info.json
  keyboards/wilba_tech/rama_works_m10_c/config.h
  keyboards/wilba_tech/rama_works_m10_c/info.json
  keyboards/zykrah/fuyu/config.h
  keyboards/zykrah/fuyu/info.json
  keyboards/zykrah/slime88/config.h
  keyboards/zykrah/slime88/info.json
Labels: keyboard

#21895 Restrict "feature" and "animation" keys
  data/schemas/definitions.jsonschema
  data/schemas/keyboard.jsonschema
Labels: dd

#20419 [Keyboard] Momokai Aurora
  keyboards/momokai/aurora/config.h
  keyboards/momokai/aurora/info.json
  keyboards/momokai/aurora/keymaps/default/keymap.c
  keyboards/momokai/aurora/keymaps/default/rules.mk
  keyboards/momokai/aurora/keymaps/via/keymap.c
  keyboards/momokai/aurora/keymaps/via/rules.mk
  keyboards/momokai/aurora/readme.md
  keyboards/momokai/aurora/rules.mk
Labels: keyboard, keymap, via

#20979 add Quokka keyboard
  keyboards/quokka/config.h
  keyboards/quokka/halconf.h
  keyboards/quokka/info.json
  keyboards/quokka/keymaps/default/keymap.c
  keyboards/quokka/mcuconf.h
  keyboards/quokka/quokka.c
  keyboards/quokka/readme.md
  keyboards/quokka/rules.mk
Labels: keyboard, keymap

#21834 amend 66_(ansi|iso) community_layouts in keyboards/
  keyboards/clueboard/66_hotswap/gen1/info.json
  keyboards/handwired/3dp660/info.json
  keyboards/hineybush/h660s/info.json
Labels: keyboard

#22088 LED/RGB Matrix: prefix driver defines
  builddefs/common_features.mk
  drivers/led/issi/is31flcommon.h
  quantum/led_matrix/led_matrix.h
  quantum/led_matrix/led_matrix_drivers.c
  quantum/rgb_matrix/rgb_matrix.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: enhancement, core

#20942 Add ScottoSlant Keyboard
  keyboards/handwired/scottokeebs/scottoslant/info.json
  keyboards/handwired/scottokeebs/scottoslant/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottoslant/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottoslant/keymaps/scotto/config.h
  keyboards/handwired/scottokeebs/scottoslant/keymaps/scotto/keymap.c
  keyboards/handwired/scottokeebs/scottoslant/keymaps/scotto/rules.mk
  keyboards/handwired/scottokeebs/scottoslant/readme.md
  keyboards/handwired/scottokeebs/scottoslant/rules.mk
Labels: keyboard, keymap

#21074 Add ScottoMouse Handwired Macropad
  keyboards/handwired/scottokeebs/scottomouse/info.json
  keyboards/handwired/scottokeebs/scottomouse/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottomouse/keymaps/scotto/config.h
  keyboards/handwired/scottokeebs/scottomouse/keymaps/scotto/keymap.c
  keyboards/handwired/scottokeebs/scottomouse/keymaps/scotto/rules.mk
  keyboards/handwired/scottokeebs/scottomouse/readme.md
  keyboards/handwired/scottokeebs/scottomouse/rules.mk
Labels: keyboard, keymap

#20939 Add ScottoFly Keyboard
  keyboards/handwired/scottokeebs/scottofly/info.json
  keyboards/handwired/scottokeebs/scottofly/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottofly/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottofly/readme.md
  keyboards/handwired/scottokeebs/scottofly/rules.mk
Labels: keyboard, keymap

#20946 Add ScottoMacrodeck Macropad
  keyboards/handwired/scottokeebs/scottomacrodeck/info.json
  keyboards/handwired/scottokeebs/scottomacrodeck/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottomacrodeck/readme.md
  keyboards/handwired/scottokeebs/scottomacrodeck/rules.mk
Labels: keyboard, keymap

#20938 Add ScottoLong Keyboard
  keyboards/handwired/scottokeebs/scottolong/info.json
  keyboards/handwired/scottokeebs/scottolong/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottolong/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottolong/readme.md
  keyboards/handwired/scottokeebs/scottolong/rules.mk
Labels: keyboard, keymap

#21042 Added rpk-001 keyboard
  keyboards/phentech/rpk_001/config.h
  keyboards/phentech/rpk_001/halconf.h
  keyboards/phentech/rpk_001/info.json
  keyboards/phentech/rpk_001/keymaps/default/keymap.c
  keyboards/phentech/rpk_001/keymaps/via/keymap.c
  keyboards/phentech/rpk_001/keymaps/via/rules.mk
  keyboards/phentech/rpk_001/mcuconf.h
  keyboards/phentech/rpk_001/readme.md
  keyboards/phentech/rpk_001/rpk_001.c
  keyboards/phentech/rpk_001/rules.mk
Labels: keyboard, keymap, via

#21835 amend 68_(ansi|iso) community_layouts in keyboards/
  keyboards/evyd13/solheim68/info.json
  keyboards/evyd13/solheim68/matrix_diagram.md
  keyboards/wuque/ikki68_aurora/info.json
  keyboards/wuque/ikki68_aurora/keymaps/68_iso/keymap.c
  keyboards/wuque/ikki68_aurora/matrix_diagram.md
Labels: keyboard, keymap

#21180 QCK-75 firmware
  keyboards/qck75/v1/config.h
  keyboards/qck75/v1/halconf.h
  keyboards/qck75/v1/info.json
  keyboards/qck75/v1/keymaps/default/keymap.c
  keyboards/qck75/v1/keymaps/via/keymap.c
  keyboards/qck75/v1/keymaps/via/rules.mk
  keyboards/qck75/v1/mcuconf.h
  keyboards/qck75/v1/readme.md
  keyboards/qck75/v1/rules.mk
  keyboards/qck75/v1/v1.c
Labels: keyboard, keymap, via

#22095 Quarkeys Studio Z67 Solder Community Layout Support
  keyboards/quarkeys/z67/solder/info.json
  keyboards/quarkeys/z67/solder/keymaps/default/keymap.c
  keyboards/quarkeys/z67/solder/keymaps/via/keymap.c
  keyboards/quarkeys/z67/solder/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#22096 Quarkeys Studio Z67 Hotswap Community Layout Support
  keyboards/quarkeys/z67/hotswap/info.json
  keyboards/quarkeys/z67/hotswap/keymaps/default/keymap.c
  keyboards/quarkeys/z67/hotswap/keymaps/via/keymap.c
  keyboards/quarkeys/z67/hotswap/readme.md
Labels: enhancement, keyboard, keymap, via

#21728 kimiko: mirror encoder pins between halves
  keyboards/keycapsss/kimiko/keymaps/default/glcdfont.c
  keyboards/keycapsss/kimiko/keymaps/default/keymap.c
  keyboards/keycapsss/kimiko/rev1/info.json
Labels: keyboard, keymap

#21399 Keychron q9 plus
  keyboards/keychron/q9_plus/ansi_encoder/ansi_encoder.c
  keyboards/keychron/q9_plus/ansi_encoder/config.h
  keyboards/keychron/q9_plus/ansi_encoder/info.json
  keyboards/keychron/q9_plus/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/q9_plus/ansi_encoder/keymaps/default/rules.mk
  keyboards/keychron/q9_plus/ansi_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/q9_plus/ansi_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/q9_plus/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/q9_plus/ansi_encoder/keymaps/via/rules.mk
  keyboards/keychron/q9_plus/ansi_encoder/rules.mk
  keyboards/keychron/q9_plus/config.h
  keyboards/keychron/q9_plus/halconf.h
  keyboards/keychron/q9_plus/info.json
  keyboards/keychron/q9_plus/mcuconf.h
  keyboards/keychron/q9_plus/q9_plus.c
  keyboards/keychron/q9_plus/readme.md
Labels: keyboard, keymap, via

#22089 RGBLight/Backlight: add prefixed driver defines
  builddefs/common_features.mk
  keyboards/mxss/rgblight.c
  quantum/rgb_matrix/rgb_matrix_drivers.c
  quantum/rgblight/rgblight.c
Labels: enhancement, core, keyboard

#21862 add dz60v2 keyboard
  keyboards/dztech/dz60v2/info.json
  keyboards/dztech/dz60v2/keymaps/default/keymap.c
  keyboards/dztech/dz60v2/keymaps/via/keymap.c
  keyboards/dztech/dz60v2/keymaps/via/rules.mk
  keyboards/dztech/dz60v2/readme.md
  keyboards/dztech/dz60v2/rules.mk
Labels: keyboard, keymap, via

#21983 add odinmini layout
  keyboards/kbdfans/odinmini/info.json
Labels: keyboard

#22022 Allow for `qmk compile -kb all`.
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/mass_compile.py
  lib/python/qmk/keyboard.py
Labels: bug, python, cli

#22103 Royal Kludge RK G68 Community Layout Support
  keyboards/rkg68/info.json
  keyboards/rkg68/keymaps/default/keymap.c
  keyboards/rkg68/keymaps/via/keymap.c
  keyboards/rkg68/readme.md
Labels: enhancement, keyboard, keymap, via

#22112 Added OLED SSD1306 128x64 to the verified working table
  docs/feature_oled_driver.md
Labels: documentation

#22100 Shoc: physically arrange keymaps/layout macro
  keyboards/shoc/info.json
  keyboards/shoc/keymaps/bongo/keymap.c
  keyboards/shoc/keymaps/default/keymap.c
Labels: enhancement, keyboard, keymap

#22115 Fix up `qmk mass-compile` makefile indenting.
  lib/python/qmk/cli/mass_compile.py
Labels: bug, python, cli

#20993 Add 'dactyl_tracer' keyboard
  keyboards/handwired/dactyl_tracer/info.json
  keyboards/handwired/dactyl_tracer/keymaps/default/config.h
  keyboards/handwired/dactyl_tracer/keymaps/default/keymap.c
  keyboards/handwired/dactyl_tracer/keymaps/via/config.h
  keyboards/handwired/dactyl_tracer/keymaps/via/keymap.c
  keyboards/handwired/dactyl_tracer/keymaps/via/rules.mk
  keyboards/handwired/dactyl_tracer/readme.md
  keyboards/handwired/dactyl_tracer/rules.mk
Labels: keyboard, keymap, via

#20792 add subrezon/lancer keyboard
  keyboards/subrezon/lancer/info.json
  keyboards/subrezon/lancer/keymaps/default/keymap.json
  keyboards/subrezon/lancer/readme.md
  keyboards/subrezon/lancer/rules.mk
Labels: keyboard, keymap

#21951 [Keyboard] Add SIRIND Klein
  keyboards/era/klein/config.h
  keyboards/era/klein/halconf.h
  keyboards/era/klein/info.json
  keyboards/era/klein/keymaps/default/keymap.c
  keyboards/era/klein/keymaps/via/keymap.c
  keyboards/era/klein/keymaps/via/rules.mk
  keyboards/era/klein/mcuconf.h
  keyboards/era/klein/readme.md
  keyboards/era/klein/rules.mk
Labels: keyboard, keymap, via

#22101 GMMK2 96% ISO: Correct layout data
  keyboards/gmmk/gmmk2/p96/iso/info.json
Labels: enhancement, keyboard

#22055 Add reminder about format-json to PR Checklist
  docs/pr_checklist.md
Labels: documentation

#21973 Add Jank RP2040 Dactyl
  keyboards/handwired/jankrp2040dactyl/config.h
  keyboards/handwired/jankrp2040dactyl/info.json
  keyboards/handwired/jankrp2040dactyl/keymaps/default/keymap.c
  keyboards/handwired/jankrp2040dactyl/readme.md
  keyboards/handwired/jankrp2040dactyl/rules.mk
Labels: keyboard, keymap

#22118 Added animation to riot_pad to support VIA
  keyboards/riot_pad/info.json
Labels: keyboard

#22108 Fix lower cpi bound on PMW33XX
  drivers/sensors/pmw3320.c
  drivers/sensors/pmw3360.c
  drivers/sensors/pmw3389.c
Labels: core

#22117 input_club/infinity60: remove custom 3731 code, convert to LED Matrix
  keyboards/input_club/infinity60/halconf.h
  keyboards/input_club/infinity60/keymaps/default/keymap.c
  keyboards/input_club/infinity60/keymaps/jpetermans/config.h
  keyboards/input_club/infinity60/keymaps/jpetermans/keymap.c
  keyboards/input_club/infinity60/keymaps/jpetermans/readme.md
  keyboards/input_club/infinity60/led.c
  keyboards/input_club/infinity60/led/config.h
  keyboards/input_club/infinity60/led/halconf.h
  keyboards/input_club/infinity60/led/info.json
  keyboards/input_club/infinity60/led/led.c
  keyboards/input_club/infinity60/led/rules.mk
  keyboards/input_club/infinity60/led_controller.c
  keyboards/input_club/infinity60/led_controller.h
Labels: enhancement, keyboard, keymap

#22113 YMDK Melody96 Matrix Touch-Up
  keyboards/ymdk/melody96/info.json
  keyboards/ymdk/melody96/matrix_diagram.md
  keyboards/ymdk/melody96/readme.md
Labels: enhancement, keyboard

#22084 add dp3000 rev2 featuring rgblight
  keyboards/dp3000/info.json
  keyboards/dp3000/readme.md
  keyboards/dp3000/rev1/info.json
  keyboards/dp3000/rev1/rules.mk
  keyboards/dp3000/rev2/info.json
  keyboards/dp3000/rev2/rules.mk
  keyboards/dp3000/rules.mk
Labels: keyboard

#22125 KC60 Layout Standardization and Cleanup
  keyboards/kc60/info.json
  keyboards/kc60/keymaps/dbroqua/keymap.c
  keyboards/kc60/keymaps/dbroqua_hhkb/keymap.c
  keyboards/kc60/keymaps/default/keymap.c
  keyboards/kc60/keymaps/sgoodwin/keymap.c
  keyboards/kc60/keymaps/stanleylai/config.h
  keyboards/kc60/keymaps/stanleylai/keymap.c
  keyboards/kc60/keymaps/via/keymap.c
  keyboards/kc60/keymaps/wigguno/keymap.c
  keyboards/kc60/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#21483 Update feature_rgblight.md
  docs/feature_rgblight.md
Labels: documentation
