Repository qmk/qmk_firmware, pull requests merged in 2023-04, with the labels that each got.

#20293 Move 66% and 68% layouts to data driven
  keyboards/40percentclub/mf68/info.json
  keyboards/40percentclub/mf68/mf68.h
  keyboards/amjkeyboard/amj66/amj66.h
  keyboards/amjkeyboard/amj66/info.json
  keyboards/blackplum/blackplum.h
  keyboards/blackplum/info.json
  keyboards/cmm_studio/saka68/hotswap/hotswap.h
  keyboards/cmm_studio/saka68/hotswap/info.json
  keyboards/cmm_studio/saka68/solder/info.json
  keyboards/cmm_studio/saka68/solder/solder.h
  keyboards/coarse/vinta/info.json
  keyboards/coarse/vinta/vinta.h
  keyboards/evyd13/nt660/info.json
  keyboards/evyd13/nt660/nt660.h
  keyboards/evyd13/solheim68/info.json
  keyboards/evyd13/solheim68/solheim68.h
  keyboards/handwired/3dp660/3dp660.h
  keyboards/handwired/3dp660/info.json
  keyboards/hineybush/h660s/h660s.c
  keyboards/hineybush/h660s/h660s.h
  keyboards/hineybush/h660s/info.json
  keyboards/hineybush/sm68/info.json
  keyboards/hineybush/sm68/sm68.h
  keyboards/hnahkb/vn66/info.json
  keyboards/hnahkb/vn66/vn66.h
  keyboards/keebio/tragicforce68/info.json
  keyboards/keebio/tragicforce68/tragicforce68.h
  keyboards/melgeek/mojo68/info.json
  keyboards/melgeek/mojo68/mojo68.h
  keyboards/melgeek/mojo68/rev1/rev1.c
  keyboards/spaceholdings/nebula68/info.json
  keyboards/spaceholdings/nebula68/nebula68.h
  keyboards/spaceholdings/nebula68b/hs/hs.c
  keyboards/spaceholdings/nebula68b/info.json
  keyboards/spaceholdings/nebula68b/nebula68b.c
  keyboards/spaceholdings/nebula68b/nebula68b.h
  keyboards/wuque/ikki68/ikki68.c
  keyboards/wuque/ikki68/ikki68.h
  keyboards/wuque/ikki68/info.json
  keyboards/wuque/ikki68_aurora/ikki68_aurora.h
  keyboards/wuque/ikki68_aurora/info.json
Labels: enhancement, keyboard

#20311 Fixup Pointing device functions
  docs/feature_pointing_device.md
  keyboards/3w6/rev2/keymaps/default_pimoroni/pimoroni_trackball.c
  keyboards/crkbd/keymaps/vlukash_trackpad_right/trackpad.c
  keyboards/dichotomy/dichotomy.c
  keyboards/keyhive/honeycomb/honeycomb.c
  keyboards/molecule/adns.c
  keyboards/splitkb/kyria/keymaps/gotham/thumbstick.c
Labels: keyboard, keymap, documentation

#20312 Delete config_common.h
  quantum/config_common.h
Labels: core

#20313 Allow EEPROM_DRIVER from info.json
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
Labels: enhancement, core

#20316 Remove some use of keymap.h
  keyboards/xiudi/xd75/keymaps/germanized/keymap.c
  users/bcat/bcat.h
  users/toinux/keymap_qwerty_fr.h
Labels: keymap

#19931 Adding md40 a ckrbd compatible keymap
  keyboards/crkbd/keymaps/md40/config.h
  keyboards/crkbd/keymaps/md40/keymap.c
  keyboards/crkbd/keymaps/md40/readme.md
  keyboards/crkbd/keymaps/md40/rules.mk
Labels: keymap

#20213 Add split USB detection support
  keyboards/ferris/keymaps/via/config.h
Labels: keymap, via

#20067 Add GMMK Numpad (Default, Via)
  keyboards/gmmk/numpad/config.h
  keyboards/gmmk/numpad/halconf.h
  keyboards/gmmk/numpad/info.json
  keyboards/gmmk/numpad/keymaps/default/keymap.c
  keyboards/gmmk/numpad/keymaps/via/keymap.c
  keyboards/gmmk/numpad/keymaps/via/rules.mk
  keyboards/gmmk/numpad/matrix.c
  keyboards/gmmk/numpad/mcuconf.h
  keyboards/gmmk/numpad/numpad.c
  keyboards/gmmk/numpad/post_config.h
  keyboards/gmmk/numpad/readme.md
  keyboards/gmmk/numpad/rules.mk
Labels: keyboard, keymap, via

#20271 update keymap, add hitbox layout
  keyboards/preonic/keymaps/arkag/keymap.c
  users/arkag/arkag.c
  users/arkag/arkag.h
Labels: keymap

#20243 Add the KJ-Modify RS40 PCB keyboard
  keyboards/kj_modify/rs40/info.json
  keyboards/kj_modify/rs40/keymaps/default/keymap.c
  keyboards/kj_modify/rs40/readme.md
  keyboards/kj_modify/rs40/rules.mk
Labels: keyboard, keymap

#19986 Add angle65
  keyboards/vertex/angle65/chconf.h
  keyboards/vertex/angle65/config.h
  keyboards/vertex/angle65/halconf.h
  keyboards/vertex/angle65/info.json
  keyboards/vertex/angle65/keymaps/default/keymap.c
  keyboards/vertex/angle65/keymaps/via/keymap.c
  keyboards/vertex/angle65/keymaps/via/rules.mk
  keyboards/vertex/angle65/mcuconf.h
  keyboards/vertex/angle65/readme.md
  keyboards/vertex/angle65/rules.mk
Labels: keyboard, keymap, via

#20272 Enable encoder mapping in VIA for Keebio KBO-5000
  keyboards/keebio/kbo5000/keymaps/via/keymap.c
  keyboards/keebio/kbo5000/keymaps/via/rules.mk
Labels: keymap, via

#20297 [keyboard] add jacky_studio/piggy60/rev2
  keyboards/jacky_studio/piggy60/readme.md
  keyboards/jacky_studio/piggy60/rev2/board.h
  keyboards/jacky_studio/piggy60/rev2/config.h
  keyboards/jacky_studio/piggy60/rev2/halconf.h
  keyboards/jacky_studio/piggy60/rev2/info.json
  keyboards/jacky_studio/piggy60/rev2/mcuconf.h
  keyboards/jacky_studio/piggy60/rev2/rules.mk
Labels: keyboard

#20119 [Keyboard] Add Mechlovin9 rev.3
  keyboards/mechlovin/mechlovin9/rev1/info.json
  keyboards/mechlovin/mechlovin9/rev2/info.json
  keyboards/mechlovin/mechlovin9/rev3/info.json
  keyboards/mechlovin/mechlovin9/rev3/readme.md
  keyboards/mechlovin/mechlovin9/rev3/rules.mk
  keyboards/mechlovin/mechlovin9/rules.mk
Labels: keyboard, dependencies

#20138 [Keyboard] Add Royal Kludge RKG-68
  keyboards/rkg68/info.json
  keyboards/rkg68/keymaps/default/keymap.c
  keyboards/rkg68/keymaps/via/keymap.c
  keyboards/rkg68/keymaps/via/rules.mk
  keyboards/rkg68/readme.md
  keyboards/rkg68/rules.mk
Labels: keyboard, keymap, via

#20229 [Keyboard] Add pocketpad
  keyboards/butterkeebs/pocketpad/info.json
  keyboards/butterkeebs/pocketpad/keymaps/default/keymap.c
  keyboards/butterkeebs/pocketpad/readme.md
  keyboards/butterkeebs/pocketpad/rules.mk
Labels: keyboard, keymap

#20202 [Keyboard] Add Erdnuss 65
  keyboards/citrus/erdnuss65/config.h
  keyboards/citrus/erdnuss65/erdnuss65.c
  keyboards/citrus/erdnuss65/info.json
  keyboards/citrus/erdnuss65/keymaps/default/keymap.c
  keyboards/citrus/erdnuss65/keymaps/via/keymap.c
  keyboards/citrus/erdnuss65/keymaps/via/rules.mk
  keyboards/citrus/erdnuss65/readme.md
  keyboards/citrus/erdnuss65/rules.mk
  keyboards/citrus/readme.md
Labels: keyboard, keymap, via

#20016 [Keymap] Add dancxjo hotdox76v2 keymap
  keyboards/hotdox76v2/keymaps/dancxjo/config.h
  keyboards/hotdox76v2/keymaps/dancxjo/keymap.c
  keyboards/hotdox76v2/keymaps/dancxjo/rules.mk
Labels: keymap

#20116 Add support for Geistmaschine Macropod
  keyboards/geistmaschine/macropod/config.h
  keyboards/geistmaschine/macropod/info.json
  keyboards/geistmaschine/macropod/keymaps/default/keymap.c
  keyboards/geistmaschine/macropod/keymaps/default/rules.mk
  keyboards/geistmaschine/macropod/keymaps/via/keymap.c
  keyboards/geistmaschine/macropod/keymaps/via/rules.mk
  keyboards/geistmaschine/macropod/macropod.c
  keyboards/geistmaschine/macropod/matrix.c
  keyboards/geistmaschine/macropod/readme.md
  keyboards/geistmaschine/macropod/rules.mk
Labels: keyboard, keymap, via

#18916 Add nullbits SNAP keyboard
  keyboards/nullbitsco/snap/config.h
  keyboards/nullbitsco/snap/info.json
  keyboards/nullbitsco/snap/keymaps/bongo_reactive/bongo.h
  keyboards/nullbitsco/snap/keymaps/bongo_reactive/bongo_graphics.h
  keyboards/nullbitsco/snap/keymaps/bongo_reactive/config.h
  keyboards/nullbitsco/snap/keymaps/bongo_reactive/keymap.c
  keyboards/nullbitsco/snap/keymaps/bongo_reactive/rules.mk
  keyboards/nullbitsco/snap/keymaps/bongo_reactive_single_oled/bongo.h
  keyboards/nullbitsco/snap/keymaps/bongo_reactive_single_oled/bongo_graphics.h
  keyboards/nullbitsco/snap/keymaps/bongo_reactive_single_oled/config.h
  keyboards/nullbitsco/snap/keymaps/bongo_reactive_single_oled/keymap.c
  keyboards/nullbitsco/snap/keymaps/bongo_reactive_single_oled/rules.mk
  keyboards/nullbitsco/snap/keymaps/default/keymap.c
  keyboards/nullbitsco/snap/keymaps/iso/keymap.c
  keyboards/nullbitsco/snap/keymaps/oled/config.h
  keyboards/nullbitsco/snap/keymaps/oled/keymap.c
  keyboards/nullbitsco/snap/keymaps/oled/oled_graphics.h
  keyboards/nullbitsco/snap/keymaps/oled/rules.mk
  keyboards/nullbitsco/snap/keymaps/typehud/config.h
  keyboards/nullbitsco/snap/keymaps/typehud/keymap.c
  keyboards/nullbitsco/snap/keymaps/typehud/readme.md
  keyboards/nullbitsco/snap/keymaps/typehud/rules.mk
  keyboards/nullbitsco/snap/keymaps/typehud/typehud.c
  keyboards/nullbitsco/snap/keymaps/typehud/typehud.h
  keyboards/nullbitsco/snap/keymaps/via/config.h
  keyboards/nullbitsco/snap/keymaps/via/keymap.c
  keyboards/nullbitsco/snap/keymaps/via/rules.mk
  keyboards/nullbitsco/snap/matrix.c
  keyboards/nullbitsco/snap/readme.md
  keyboards/nullbitsco/snap/rules.mk
  keyboards/nullbitsco/snap/snap.c
  keyboards/nullbitsco/snap/snap.h
Labels: keyboard, keymap, via

#19769 Add user horrortroll in userspace
  keyboards/gopolar/gg86/gg86.c
  keyboards/gopolar/gg86/keymaps/bongocat/keymap.c
  keyboards/gopolar/gg86/keymaps/bongocat/readme.md
  keyboards/gopolar/gg86/keymaps/default/keymap.c
  keyboards/gopolar/gg86/keymaps/horrortroll/config.h
  keyboards/gopolar/gg86/keymaps/horrortroll/keymap.c
  keyboards/gopolar/gg86/keymaps/horrortroll/led/cool_diagonal.c
  keyboards/gopolar/gg86/keymaps/horrortroll/led/custom_gradient.c
  keyboards/gopolar/gg86/keymaps/horrortroll/led/flower_blooming/flower_blooming.h
  keyboards/gopolar/gg86/keymaps/horrortroll/led/kitt.c
  keyboards/gopolar/gg86/keymaps/horrortroll/led/rainbow_reactive_simple/rainbow_reactive_simple.c
  keyboards/gopolar/gg86/keymaps/horrortroll/led/rainbow_reactive_simple/rainbow_reactive_simple.h
  keyboards/gopolar/gg86/keymaps/horrortroll/led/random_breath_rainbow.c
  keyboards/gopolar/gg86/keymaps/horrortroll/readme.md
  keyboards/gopolar/gg86/keymaps/horrortroll/rgb_matrix_user.inc
  keyboards/gopolar/gg86/keymaps/horrortroll/rules.mk
  keyboards/gopolar/gg86/keymaps/via/keymap.c
  keyboards/phage_studio/pila87/keymaps/default/keymap.c
  keyboards/phage_studio/pila87/keymaps/horrortroll/keymap.c
  keyboards/phage_studio/pila87/keymaps/horrortroll/keymap_stuff.h
  keyboards/phage_studio/pila87/keymaps/horrortroll/led/flower_blooming/flower_blooming.c
  keyboards/phage_studio/pila87/keymaps/horrortroll/led/kitt.c
  keyboards/phage_studio/pila87/keymaps/horrortroll/readme.md
  keyboards/phage_studio/pila87/keymaps/horrortroll/rules.mk
  keyboards/phage_studio/pila87/keymaps/via/keymap.c
  keyboards/phage_studio/pila87/pila87.c
  users/horrortroll/config.h
  users/horrortroll/horrortroll.c
  users/horrortroll/horrortroll.h
  users/horrortroll/led/cool_diagonal.c
  users/horrortroll/led/custom_gradient.c
  users/horrortroll/led/flower_blooming/flower_blooming.c
  users/horrortroll/led/flower_blooming/flower_blooming.h
  users/horrortroll/led/random_breath_rainbow.c
  users/horrortroll/readme.md
  users/horrortroll/rgb_matrix_user.inc
  users/horrortroll/rules.mk
Labels: keyboard, keymap, via

#19402 Add recommendations for VSCode intellisense
  docs/other_vscode.md
Labels: documentation

#19441 ISO-DE Keymap for Dactyl Manuform 6x7
  keyboards/handwired/dactyl_manuform/6x7/keymaps/iso-de/config.h
  keyboards/handwired/dactyl_manuform/6x7/keymaps/iso-de/keymap.c
  keyboards/handwired/dactyl_manuform/6x7/keymaps/iso-de/readme.md
Labels: keymap

#19995 [Bugfix] Check QGF's bpp against display's native_bits_per_pixel
  quantum/painter/qp_draw_image.c
Labels: core

#19738 Allow a larger int for the idle timeout for urbanvanilla keymap
  keyboards/massdrop/alt/keymaps/urbanvanilla/keymap.c
Labels: keymap

#19543 Added PMW3320 driver
  builddefs/common_features.mk
  docs/feature_pointing_device.md
  drivers/sensors/pmw3320.c
  drivers/sensors/pmw3320.h
  quantum/pointing_device/pointing_device.h
  quantum/pointing_device/pointing_device_drivers.c
Labels: core, documentation

#19689 Add direction to dynamic_macro_record_start_user
  docs/feature_dynamic_macros.md
  docs/ja/feature_dynamic_macros.md
  keyboards/40percentclub/mf68/keymaps/delivrance/keymap.c
  keyboards/dztech/dz65rgb/keymaps/drootz/keymap.c
  keyboards/ergodox_ez/ergodox_ez.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/mattgauf/keymap.c
  keyboards/handwired/dactyl_manuform/3x5_3/keymaps/dlford/keymap.c
  keyboards/kprepublic/bm40hsrgb/keymaps/coffee/keymap.c
  keyboards/moonlander/moonlander.c
  keyboards/mschwingen/modelm/modelm.c
  keyboards/planck/keymaps/tk/keymap.c
  quantum/process_keycode/process_dynamic_macro.c
  quantum/process_keycode/process_dynamic_macro.h
Labels: core, keyboard, keymap, documentation, translation

#19964 Adding my keymap
  keyboards/preonic/keymaps/to-schneider/keymap.c
  keyboards/preonic/keymaps/to-schneider/rules.mk
Labels: keymap

#20114 Update WT60-H1, WT60-H3 layouts
  keyboards/wilba_tech/wt60_h1/config.h
  keyboards/wilba_tech/wt60_h1/info.json
  keyboards/wilba_tech/wt60_h1/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_h1/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_h1/wt60_h1.c
  keyboards/wilba_tech/wt60_h1/wt60_h1.h
  keyboards/wilba_tech/wt60_h3/config.h
  keyboards/wilba_tech/wt60_h3/info.json
  keyboards/wilba_tech/wt60_h3/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_h3/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_h3/wt60_h3.c
  keyboards/wilba_tech/wt60_h3/wt60_h3.h
Labels: keyboard, keymap, via

#19930 onekey: Fix console output on AVR
  keyboards/handwired/onekey/keymaps/adc/keymap.c
  keyboards/handwired/onekey/keymaps/hardware_id/keymap.c
Labels: keymap

#20118 New layer added to giabalanai keyboard
  keyboards/giabalanai/config.h
  keyboards/giabalanai/info.json
  keyboards/giabalanai/keymaps/2firmware/config.h
  keyboards/giabalanai/keymaps/3araht/keymap.c
  keyboards/giabalanai/keymaps/default_giabarinaix2/config.h
  keyboards/giabalanai/keymaps/giabarinaix2led/config.h
  keyboards/giabalanai/keymaps/party/keymap.c
  keyboards/giabalanai/keymaps/via/config.h
  keyboards/giabalanai/rules.mk
Labels: keyboard, keymap, via

#20177 Append user variables to the end of make command
  lib/python/qmk/commands.py
Labels: python, cli

#20190 Adding Unextended Standard PCB
  keyboards/4pplet/unextended_std/keymaps/default/keymap.c
  keyboards/4pplet/unextended_std/keymaps/m0116/keymap.c
  keyboards/4pplet/unextended_std/keymaps/m0118/keymap.c
  keyboards/4pplet/unextended_std/keymaps/via/keymap.c
  keyboards/4pplet/unextended_std/keymaps/via/rules.mk
  keyboards/4pplet/unextended_std/readme.md
  keyboards/4pplet/unextended_std/rev_a/config.h
  keyboards/4pplet/unextended_std/rev_a/info.json
  keyboards/4pplet/unextended_std/rev_a/rules.mk
Labels: keyboard, keymap, via

#20011 Refactor Galatea
  keyboards/studiokestra/galatea/config.h
  keyboards/studiokestra/galatea/galatea.c
  keyboards/studiokestra/galatea/galatea.h
  keyboards/studiokestra/galatea/keymaps/default/keymap.c
  keyboards/studiokestra/galatea/keymaps/default/readme.md
  keyboards/studiokestra/galatea/keymaps/via/keymap.c
  keyboards/studiokestra/galatea/keymaps/via/readme.md
  keyboards/studiokestra/galatea/readme.md
  keyboards/studiokestra/galatea/rev1/info.json
  keyboards/studiokestra/galatea/rev1/keymaps/default/keymap.c
  keyboards/studiokestra/galatea/rev1/keymaps/via/keymap.c
  keyboards/studiokestra/galatea/rev1/keymaps/via/rules.mk
  keyboards/studiokestra/galatea/rev1/rev1.c
  keyboards/studiokestra/galatea/rev1/rev1.h
  keyboards/studiokestra/galatea/rev1/rules.mk
  keyboards/studiokestra/galatea/rev2/config.h
  keyboards/studiokestra/galatea/rev2/info.json
  keyboards/studiokestra/galatea/rev2/keymaps/default/keymap.c
  keyboards/studiokestra/galatea/rev2/keymaps/via/keymap.c
  keyboards/studiokestra/galatea/rev2/keymaps/via/rules.mk
  keyboards/studiokestra/galatea/rev2/rev2.c
  keyboards/studiokestra/galatea/rev2/rev2.h
  keyboards/studiokestra/galatea/rev2/rules.mk
  keyboards/studiokestra/galatea/rules.mk
Labels: keyboard, keymap, via

#20034 Fix OSMs getting stuck
  quantum/action.c
  quantum/action_util.c
  quantum/action_util.h
  tests/basic/test_one_shot_keys.cpp
Labels: core

#20245 Add an alternate layout definition for Keyboardio Model 01
  keyboards/keyboardio/model01/model01.h
Labels: keyboard

#19471 Suggest `qmk list-keyboards` when testing build environment
  docs/newbs_getting_started.md
Labels: documentation, stale

#20321 Fix a handful of CLI errors
  keyboards/frobiac/redtilt/info.json
  keyboards/handwired/tractyl_manuform/5x6_right/config.h
  keyboards/lfkeyboards/lfk78/revj/config.h
  keyboards/lily58/glow_enc/info.json
  keyboards/lily58/glow_enc/rules.mk
  keyboards/lily58/light/info.json
  keyboards/lily58/light/rules.mk
  keyboards/lily58/rev1/info.json
  keyboards/lily58/rules.mk
  keyboards/maple_computing/ivy/config.h
  keyboards/maple_computing/launchpad/config.h
  keyboards/nightly_boards/n40_o/config.h
  keyboards/skme/zeno/info.json
  keyboards/splitkb/kyria/info.json
  keyboards/splitkb/kyria/rev1/base/info.json
  keyboards/splitkb/kyria/rev1/base/rules.mk
  keyboards/splitkb/kyria/rev1/proton_c/rules.mk
  keyboards/splitkb/kyria/rev2/base/info.json
  keyboards/splitkb/kyria/rev2/base/rules.mk
  keyboards/splitkb/kyria/rev2/proton_c/rules.mk
  keyboards/splitkb/kyria/rev3/info.json
  keyboards/wilba_tech/wt60_h1/info.json
  keyboards/wilba_tech/wt60_h3/info.json
Labels: bug, enhancement, keyboard

#20323 PR checklist: keyboard updates must go to `develop`
  docs/pr_checklist.md
Labels: enhancement, documentation

#15847 [Core] Refactor `keyevent_t` for 1ms timing resolution
  docs/feature_stenography.md
  docs/ja/feature_stenography.md
  keyboards/atlantis/encoder_actions.c
  keyboards/custommk/evo70/keymaps/via/keymap.c
  keyboards/custommk/genesis/rev2/keymaps/via/keymap.c
  keyboards/dailycraft/owl8/keymaps/via/keymap.c
  keyboards/dailycraft/stickey4/keymaps/via/keymap.c
  keyboards/dailycraft/wings42/rev2/keymaps/via/keymap.c
  keyboards/gl516/n51gl/keymaps/salicylic/keymap.c
  keyboards/gl516/n51gl/keymaps/via/keymap.c
  keyboards/jones/v1/keymaps/via/keymap.c
  keyboards/kabedon/kabedon98e/kabedon98e.c
  keyboards/keebio/encoder_actions.c
  keyboards/meletrix/zoom65/zoom65.c
  keyboards/meletrix/zoom65_lite/keymaps/via/keymap.c
  keyboards/ml/gas75/keymaps/via/keymap.c
  keyboards/monarch/keymaps/via/keymap.c
  keyboards/mwstudio/alicekk/keymaps/via/keymap.c
  keyboards/mwstudio/mw75r2/keymaps/via/keymap.c
  keyboards/nightly_boards/adellein/encoder_action.c
  keyboards/nightly_boards/n40_o/encoder_action.c
  keyboards/nightly_boards/n60_s/encoder_action.c
  keyboards/nightly_boards/octopad/encoder_action.c
  keyboards/nullbitsco/tidbit/tidbit.c
  keyboards/rate/pistachio_mp/keymaps/via/keymap.c
  keyboards/rate/pistachio_pro/keymaps/via/keymap.c
  keyboards/rgbkb/mun/rev1/rev1.c
  keyboards/rgbkb/sol3/rev1/rev1.c
  keyboards/rmi_kb/chevron/keymaps/via/keymap.c
  keyboards/rmi_kb/herringbone/pro/keymaps/via/keymap.c
  keyboards/rmi_kb/squishytkl/keymaps/via/keymap.c
  keyboards/rmi_kb/wete/v2/keymaps/via/keymap.c
  keyboards/sawnsprojects/krush/krush65/hotswap/encoder_actions.c
  keyboards/sofle/keymaps/keyhive_via/encoder.c
  keyboards/stello65/beta/encoder_actions.c
  keyboards/synthlabs/solo/keymaps/via/keymap.c
  keyboards/takashicompany/spreadwriter/keymaps/via/keymap.c
  keyboards/wekey/we27/encoder_actions.c
  keyboards/winry/winry315/keymaps/via/encoder_actions.c
  keyboards/wuque/mammoth20x/mammoth20x.c
  keyboards/wuque/mammoth75x/mammoth75x.c
  keyboards/wuque/serneity65/serneity65.c
  keyboards/yandrstudio/nz67v2/keymaps/via/keymap.c
  quantum/action_tapping.c
  quantum/encoder.c
  quantum/keyboard.c
  quantum/keyboard.h
  quantum/process_keycode/process_combo.c
  quantum/process_keycode/process_steno.c
Labels: core, keyboard, keymap, documentation, awaiting review, translation, via, breaking_change_2023q2

#20326 Fix API errors
  keyboards/ibm/model_m_4th_gen/overnumpad_1xb/info.json
  keyboards/studiokestra/galatea/rev1/info.json
  keyboards/studiokestra/galatea/rev2/info.json
Labels: bug, keyboard

#20329 Revise KBO-5000 VIA Encoder Map Support
  keyboards/keebio/kbo5000/keymaps/via/keymap.c
  keyboards/keebio/kbo5000/keymaps/via/rules.mk
  keyboards/keebio/kbo5000/rev1/info.json
Labels: keyboard, keymap, via

#20324 Adding Oceanographer to QMK.
  keyboards/prototypist/oceanographer/config.h
  keyboards/prototypist/oceanographer/info.json
  keyboards/prototypist/oceanographer/keymaps/default/keymap.c
  keyboards/prototypist/oceanographer/keymaps/default/rules.mk
  keyboards/prototypist/oceanographer/keymaps/default_625/keymap.c
  keyboards/prototypist/oceanographer/keymaps/default_625/rules.mk
  keyboards/prototypist/oceanographer/keymaps/split_225_2/keymap.c
  keyboards/prototypist/oceanographer/keymaps/split_225_2/rules.mk
  keyboards/prototypist/oceanographer/keymaps/via/keymap.c
  keyboards/prototypist/oceanographer/keymaps/via/rules.mk
  keyboards/prototypist/oceanographer/oceanographer.c
  keyboards/prototypist/oceanographer/readme.md
  keyboards/prototypist/oceanographer/rules.mk
Labels: keyboard, keymap, via

#20009 Personal keymaps for crkbd and kyria
  keyboards/crkbd/keymaps/cameronjlarsen/config.h
  keyboards/crkbd/keymaps/cameronjlarsen/keymap.c
  keyboards/crkbd/keymaps/cameronjlarsen/rules.mk
  keyboards/splitkb/kyria/keymaps/cameronjlarsen/config.h
  keyboards/splitkb/kyria/keymaps/cameronjlarsen/keymap.c
  keyboards/splitkb/kyria/keymaps/cameronjlarsen/readme.md
  keyboards/splitkb/kyria/keymaps/cameronjlarsen/rules.mk
  users/cameronjlarsen/features/oneshot.c
  users/cameronjlarsen/features/oneshot.h
  users/cameronjlarsen/rules.mk
Labels: keymap

#20204 Fixed split keyboard issue where custom LED indicators could activate incorrect LEDs (#20203)
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix.h
Labels: core

#19854 Make "detected_host_os()" available on the SLAVE side of the split keyboard
  quantum/os_detection.c
  quantum/os_detection.h
  quantum/split_common/transaction_id_define.h
  quantum/split_common/transactions.c
  quantum/split_common/transport.h
Labels: core

#20302 Add Ripple TKL Hotswap Firmware
  keyboards/cannonkeys/ripple_hs/info.json
  keyboards/cannonkeys/ripple_hs/keymaps/default/keymap.c
  keyboards/cannonkeys/ripple_hs/keymaps/via/keymap.c
  keyboards/cannonkeys/ripple_hs/keymaps/via/rules.mk
  keyboards/cannonkeys/ripple_hs/readme.md
  keyboards/cannonkeys/ripple_hs/rules.mk
Labels: keyboard, keymap, via

#20301 Add Ripple TKL Keyboard firmware
  keyboards/cannonkeys/ripple/config.h
  keyboards/cannonkeys/ripple/halconf.h
  keyboards/cannonkeys/ripple/info.json
  keyboards/cannonkeys/ripple/keymaps/default/keymap.c
  keyboards/cannonkeys/ripple/keymaps/via/keymap.c
  keyboards/cannonkeys/ripple/keymaps/via/rules.mk
  keyboards/cannonkeys/ripple/mcuconf.h
  keyboards/cannonkeys/ripple/readme.md
  keyboards/cannonkeys/ripple/rules.mk
Labels: keyboard, keymap, via

#20209 [keyboard] Adding OSAv2 numpad
  keyboards/viktus/osav2_numpad/info.json
  keyboards/viktus/osav2_numpad/keymaps/default/keymap.c
  keyboards/viktus/osav2_numpad/keymaps/via/keymap.c
  keyboards/viktus/osav2_numpad/keymaps/via/rules.mk
  keyboards/viktus/osav2_numpad/readme.md
  keyboards/viktus/osav2_numpad/rules.mk
Labels: keyboard, keymap, via

#20322 Use table for debounce algorithm description
  docs/feature_debounce_type.md
Labels: documentation

#20314 rp2040: *_PAL_MODE overridable for this platform too
  platforms/chibios/chibios_config.h
Labels: core

#20309 Manibus keyboard, update pinout
  keyboards/blank_tehnologii/manibus/config.h
  keyboards/blank_tehnologii/manibus/keymaps/samurai/keymap.c
Labels: keyboard, keymap

#20325 `qmk info`: account for ISO enter when calculating layout X offset
  lib/python/qmk/info.py
Labels: bug, enhancement, python, cli

#20333 Add debounce time description
  docs/feature_debounce_type.md
Labels: documentation

#20168 Move Keychron Q0 and Q0 Plus data-driven configuration; `keychron` keymap `rules.mk` cleanup
  keyboards/keychron/q0/config.h
  keyboards/keychron/q0/rev_0130/config.h
  keyboards/keychron/q0/rev_0130/info.json
  keyboards/keychron/q0/rev_0130/keymaps/keychron/rules.mk
  keyboards/keychron/q0/rev_0130/rev_0130.c
  keyboards/keychron/q0/rev_0130/rules.mk
  keyboards/keychron/q0/rev_0131/info.json
  keyboards/keychron/q0/rev_0131/rev_0131.c
  keyboards/keychron/q0/rev_0131/rules.mk
Labels: keyboard, keymap

#20317 Move fullsize layouts to data driven
  keyboards/ashpil/modelm_usbc/info.json
  keyboards/ashpil/modelm_usbc/modelm_usbc.c
  keyboards/ashpil/modelm_usbc/modelm_usbc.h
  keyboards/bpiphany/ghost_squid/ghost_squid.h
  keyboards/bpiphany/ghost_squid/info.json
  keyboards/bpiphany/kitten_paw/info.json
  keyboards/bpiphany/kitten_paw/kitten_paw.h
  keyboards/bpiphany/tiger_lily/info.json
  keyboards/bpiphany/tiger_lily/tiger_lily.h
  keyboards/converter/usb_usb/info.json
  keyboards/converter/usb_usb/keymaps/chriskopher/keymap.c
  keyboards/converter/usb_usb/keymaps/coloneljesus/keymap.c
  keyboards/converter/usb_usb/keymaps/default/keymap.c
  keyboards/converter/usb_usb/keymaps/narze/keymap.c
  keyboards/converter/usb_usb/usb_usb.h
  keyboards/durgod/k310/info.json
  keyboards/durgod/k310/k310.h
  keyboards/evyd13/wasdat/info.json
  keyboards/evyd13/wasdat/wasdat.h
  keyboards/evyd13/wasdat_code/info.json
  keyboards/evyd13/wasdat_code/wasdat_code.h
  keyboards/gh80_3000/gh80_3000.h
  keyboards/gh80_3000/info.json
  keyboards/handwired/boss566y/redragon_vara/info.json
  keyboards/handwired/boss566y/redragon_vara/redragon_vara.h
  keyboards/handwired/hnah108/hnah108.c
  keyboards/handwired/hnah108/hnah108.h
  keyboards/handwired/hnah108/info.json
  keyboards/handwired/oem_ansi_fullsize/info.json
  keyboards/handwired/oem_ansi_fullsize/oem_ansi_fullsize.h
  keyboards/linworks/fave104/fave104.h
  keyboards/linworks/fave104/info.json
  keyboards/ryanskidmore/rskeys100/info.json
  keyboards/ryanskidmore/rskeys100/rskeys100.c
  keyboards/ryanskidmore/rskeys100/rskeys100.h
  keyboards/unicomp/classic_ultracl_pre_2013/info.json
Labels: enhancement, keyboard, keymap

#20335 Resolve keyboard names for `qmk mass-compile`.
  lib/python/qmk/cli/mass_compile.py
Labels: bug, python, cli

#19141 Adding support For Budgy and Crowboard Keyboards
  keyboards/budgy/config.h
  keyboards/budgy/info.json
  keyboards/budgy/keymaps/default/keymap.c
  keyboards/budgy/readme.md
  keyboards/budgy/rules.mk
  keyboards/crowboard/info.json
  keyboards/crowboard/keymaps/default/config.h
  keyboards/crowboard/keymaps/default/keymap.c
  keyboards/crowboard/keymaps/default/rules.mk
  keyboards/crowboard/readme.md
  keyboards/crowboard/rules.mk
Labels: keyboard, keymap

#20339 Disable specific warnings to mitigate compilation problems with `KEEP_INTERMEDIATES=yes`.
  keyboards/hazel/bad_wings/keymaps/default/config.h
  keyboards/mechlovin/mechlovin9/rev3/info.json
  keyboards/splitkb/kyria/info.json
  platforms/avr/_wait.h
  platforms/chibios/drivers/audio_dac_additive.c
  platforms/chibios/drivers/audio_dac_basic.c
  tmk_core/protocol/usb_hid/override_wiring.c
Labels: bug, core, keyboard, keymap

#19516 Add Junco Keyboard
  keyboards/junco/info.json
  keyboards/junco/keymaps/default/config.h
  keyboards/junco/keymaps/default/keymap.c
  keyboards/junco/keymaps/default/readme.md
  keyboards/junco/keymaps/default/rules.mk
  keyboards/junco/keymaps/deluxe/config.h
  keyboards/junco/keymaps/deluxe/keymap.c
  keyboards/junco/keymaps/deluxe/readme.md
  keyboards/junco/keymaps/deluxe/rgb_matrix_user.inc
  keyboards/junco/keymaps/deluxe/rules.mk
  keyboards/junco/keymaps/via/config.h
  keyboards/junco/keymaps/via/keymap.c
  keyboards/junco/keymaps/via/rules.mk
  keyboards/junco/readme.md
  keyboards/junco/rev1/config.h
  keyboards/junco/rev1/post_config.h
  keyboards/junco/rev1/rev1.c
  keyboards/junco/rev1/rules.mk
  keyboards/junco/rules.mk
Labels: keyboard, keymap, via

#19935 [Keyboard] Add lxxt
  keyboards/lxxt/config.h
  keyboards/lxxt/info.json
  keyboards/lxxt/keymaps/default/keymap.c
  keyboards/lxxt/keymaps/via/keymap.c
  keyboards/lxxt/keymaps/via/rules.mk
  keyboards/lxxt/lxxt.c
  keyboards/lxxt/readme.md
  keyboards/lxxt/rules.mk
Labels: keyboard, keymap, via

#20077 Add Iron160 I160-S and I160-H PCBs support
  keyboards/smithrune/iron160/iron160_h/config.h
  keyboards/smithrune/iron160/iron160_h/halconf.h
  keyboards/smithrune/iron160/iron160_h/info.json
  keyboards/smithrune/iron160/iron160_h/iron160_h.c
  keyboards/smithrune/iron160/iron160_h/keymaps/default/keymap.c
  keyboards/smithrune/iron160/iron160_h/keymaps/via/keymap.c
  keyboards/smithrune/iron160/iron160_h/keymaps/via/rules.mk
  keyboards/smithrune/iron160/iron160_h/mcuconf.h
  keyboards/smithrune/iron160/iron160_h/rules.mk
  keyboards/smithrune/iron160/iron160_s/config.h
  keyboards/smithrune/iron160/iron160_s/halconf.h
  keyboards/smithrune/iron160/iron160_s/info.json
  keyboards/smithrune/iron160/iron160_s/keymaps/default/keymap.c
  keyboards/smithrune/iron160/iron160_s/keymaps/via/keymap.c
  keyboards/smithrune/iron160/iron160_s/keymaps/via/rules.mk
  keyboards/smithrune/iron160/iron160_s/mcuconf.h
  keyboards/smithrune/iron160/iron160_s/rules.mk
  keyboards/smithrune/iron160/readme.md
Labels: keyboard, keymap, via

#19897 Add peterfalken userspace & keymaps
  keyboards/adafruit/macropad/keymaps/peterfalken/keymap.c
  keyboards/adafruit/macropad/keymaps/peterfalken/rules.mk
  keyboards/planck/keymaps/peterfalken/config.h
  keyboards/planck/keymaps/peterfalken/keymap.c
  keyboards/planck/keymaps/peterfalken/readme.md
  keyboards/planck/keymaps/peterfalken/rules.mk
  keyboards/preonic/keymaps/peterfalken/config.h
  keyboards/preonic/keymaps/peterfalken/keymap.c
  keyboards/preonic/keymaps/peterfalken/readme.md
  keyboards/preonic/keymaps/peterfalken/rules.mk
  keyboards/system76/launch_1/keymaps/peterfalken/config.h
  keyboards/system76/launch_1/keymaps/peterfalken/keymap.c
  keyboards/system76/launch_1/keymaps/peterfalken/readme.md
  keyboards/work_louder/micro/keymaps/peterfalken/config.h
  keyboards/work_louder/micro/keymaps/peterfalken/keymap.c
  keyboards/work_louder/micro/keymaps/peterfalken/readme.md
  keyboards/work_louder/micro/keymaps/peterfalken/rules.mk
  keyboards/work_louder/work_board/keymaps/peterfalken/keymap.c
  keyboards/work_louder/work_board/keymaps/peterfalken/readme.md
  keyboards/work_louder/work_board/keymaps/peterfalken/rules.mk
  users/peterfalken/config.h
  users/peterfalken/peterfalken.c
  users/peterfalken/peterfalken.h
  users/peterfalken/readme.md
  users/peterfalken/rules.mk
Labels: keymap

#20238 Add basic profiler.
  quantum/basic_profiling.h
Labels: core

#20348 [Bug] Fix compilation issue with Swap Hands and Encoder Map
  quantum/action.c
Labels: bug, core

#20347 [Chore] Remove stray mod tap interrupt defines and per key functions
  docs/zh-cn/mod_tap.md
  keyboards/crkbd/keymaps/cameronjlarsen/config.h
  keyboards/handwired/stef9998/split_5x7/keymaps/stef9998/keymap.c
  keyboards/karn/keymaps/colemak/keymap.c
  keyboards/splitkb/aurora/sweep/keymaps/default/keymap.json
  keyboards/splitkb/kyria/keymaps/cameronjlarsen/config.h
  quantum/action_tapping.h
Labels: core, keymap, documentation, translation

#20328 Add 36-key layout for Beekeeb Piantor
  keyboards/beekeeb/piantor/info.json
  keyboards/beekeeb/piantor/keymaps/3x5_3/keymap.c
Labels: keyboard, keymap

#20125 Add Keychron Q11
  keyboards/keychron/q11/ansi_encoder/ansi_encoder.c
  keyboards/keychron/q11/ansi_encoder/config.h
  keyboards/keychron/q11/ansi_encoder/info.json
  keyboards/keychron/q11/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/q11/ansi_encoder/keymaps/default/rules.mk
  keyboards/keychron/q11/ansi_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/q11/ansi_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/q11/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/q11/ansi_encoder/keymaps/via/rules.mk
  keyboards/keychron/q11/ansi_encoder/rules.mk
  keyboards/keychron/q11/config.h
  keyboards/keychron/q11/halconf.h
  keyboards/keychron/q11/mcuconf.h
  keyboards/keychron/q11/q11.c
  keyboards/keychron/q11/readme.md
Labels: keyboard, keymap, via

#20043 Move a_dux to data-driven
  keyboards/a_dux/a_dux.c
  keyboards/a_dux/config.h
  keyboards/a_dux/info.json
  keyboards/a_dux/rules.mk
Labels: keyboard

#20355 Add Discord webhook at end of each CI run.
  .github/workflows/ci_builds.yml
  lib/python/qmk/cli/format/python.py
  util/ci/discord-results.py
  util/ci/requirements.txt
Labels: core, python, cli, CI

#20357 Fixup CI build variables.
  .github/workflows/ci_builds.yml
Labels: CI

#19069 Add layer-cycle example
  docs/feature_layers.md
Labels: documentation

#20179 Avoid generating empty ENCODER_RESOLUTION
  lib/python/qmk/cli/generate/config_h.py
Labels: bug, python, cli

#20360 Convertors documentation: Removed duplicate table entry
  docs/feature_converters.md
Labels: documentation

#20353 [Keyboard] Add audio support to Adafruit MacroPad RP2040
  keyboards/adafruit/macropad/config.h
  keyboards/adafruit/macropad/halconf.h
  keyboards/adafruit/macropad/keymaps/default/keymap.c
  keyboards/adafruit/macropad/keymaps/via/keymap.c
  keyboards/adafruit/macropad/macropad.c
  keyboards/adafruit/macropad/mcuconf.h
  keyboards/adafruit/macropad/rules.mk
Labels: keyboard, keymap, via

#20367 Set up DEFAULT_FOLDER for primekb/meridian
  keyboards/primekb/meridian/rules.mk
Labels: bug, keyboard

#20383 Fix up via keymap builds.
  keyboards/custommk/evo70/keymaps/via/keymap.c
  keyboards/custommk/genesis/rev2/keymaps/via/keymap.c
  keyboards/dailycraft/owl8/keymaps/via/keymap.c
  keyboards/dailycraft/stickey4/keymaps/via/keymap.c
  keyboards/dailycraft/wings42/rev2/keymaps/via/keymap.c
  keyboards/monarch/keymaps/via/keymap.c
  keyboards/rate/pistachio_mp/keymaps/via/keymap.c
  keyboards/rmi_kb/chevron/keymaps/via/keymap.c
  keyboards/rmi_kb/herringbone/pro/keymaps/via/keymap.c
  keyboards/rmi_kb/squishytkl/keymaps/via/keymap.c
  keyboards/rmi_kb/wete/v2/keymaps/via/keymap.c
  keyboards/yandrstudio/nz67v2/keymaps/via/keymap.c
  users/talljoe/talljoe.c
Labels: bug, keymap, via

#20381 Add swap hands toggle functions
  docs/feature_swap_hands.md
  quantum/action.c
  quantum/action.h
Labels: core, documentation

#20387 Add autocomplete to generate-compilation-database
  lib/python/qmk/cli/generate/compilation_database.py
Labels: python, cli

#20375 [TADA68:DFU] Add numpad 0-9 to second layer
  keyboards/tada68/keymaps/tokyovigilante/keymap.c
Labels: keymap

#20362 Run CI builds for each push, limit queued workflow depth to 1.
  .github/workflows/ci_builds.yml
Labels: CI

#20397 Fix up via keymap builds.
  keyboards/custommk/genesis/rev2/keymaps/via/keymap.c
Labels: bug, keymap, via

#20398 Prevent Tri-Layer keys from stopping caps word
  quantum/process_keycode/process_caps_word.c
  tests/caps_word/test_caps_word.cpp
Labels: core

#20401 [Keyboard] Update angle65 VID/PID
  keyboards/vertex/angle65/info.json
Labels: keyboard

#20408 Reject info.json at keymap level
  .gitignore
Labels: enhancement, core

#20399 4pplet/aekiso60 Layout Macro Conversion and Additions
  keyboards/4pplet/aekiso60/info.json
  keyboards/4pplet/aekiso60/matrix_diagram.md
  keyboards/4pplet/aekiso60/rev_a/info.json
  keyboards/4pplet/aekiso60/rev_a/rev_a.c
  keyboards/4pplet/aekiso60/rev_a/rev_a.h
  keyboards/4pplet/aekiso60/rev_b/info.json
  keyboards/4pplet/aekiso60/rev_b/rev_b.c
  keyboards/4pplet/aekiso60/rev_b/rev_b.h
Labels: enhancement, keyboard

#20400 4pplet/bootleg/rev_a Layout Macro Conversion and Addition
  keyboards/4pplet/bootleg/rev_a/info.json
  keyboards/4pplet/bootleg/rev_a/rev_a.c
  keyboards/4pplet/bootleg/rev_a/rev_a.h
Labels: enhancement, keyboard

#20411 Fix preprocessor condition for SPLIT_HAPTIC_ENABLE
  quantum/split_common/transport.h
Labels: core

#20423 quantum/action_util.c: Use uint8_t for oneshot_layer_data
  quantum/action_util.c
Labels: core

#19967 [keyboard] ymdk/id75
  keyboards/ymdk/id75/board.h
  keyboards/ymdk/id75/config.h
  keyboards/ymdk/id75/halconf.h
  keyboards/ymdk/id75/id75.c
  keyboards/ymdk/id75/info.json
  keyboards/ymdk/id75/keymaps/default/keymap.json
  keyboards/ymdk/id75/keymaps/via/keymap.json
  keyboards/ymdk/id75/mcuconf.h
  keyboards/ymdk/id75/readme.md
  keyboards/ymdk/id75/rules.mk
Labels: keyboard, keymap, via

#18768 PHSC138 Keymap for Atom47
  keyboards/evyd13/atom47/keymaps/phsc138/config.h
  keyboards/evyd13/atom47/keymaps/phsc138/keymap.c
  keyboards/evyd13/atom47/keymaps/phsc138/readme.md
  keyboards/evyd13/atom47/keymaps/phsc138/rules.mk
Labels: keymap

#20110 Add support for ISO version of Durgod Hades
  data/mappings/keyboard_aliases.hjson
  keyboards/durgod/dgk6x/hades_ansi/config.h
  keyboards/durgod/dgk6x/hades_ansi/hades_ansi.c
  keyboards/durgod/dgk6x/hades_ansi/info.json
  keyboards/durgod/dgk6x/hades_ansi/keymaps/default/keymap.json
  keyboards/durgod/dgk6x/hades_ansi/keymaps/default/readme.md
  keyboards/durgod/dgk6x/hades_ansi/keymaps/via/keymap.json
  keyboards/durgod/dgk6x/hades_ansi/keymaps/via/readme.md
  keyboards/durgod/dgk6x/hades_ansi/keymaps/via/rules.mk
  keyboards/durgod/dgk6x/hades_ansi/readme.md
  keyboards/durgod/dgk6x/hades_ansi/rules.mk
  keyboards/durgod/dgk6x/hades_iso/config.h
  keyboards/durgod/dgk6x/hades_iso/hades_iso.c
  keyboards/durgod/dgk6x/hades_iso/info.json
  keyboards/durgod/dgk6x/hades_iso/keymaps/default/keymap.json
  keyboards/durgod/dgk6x/hades_iso/keymaps/default/readme.md
  keyboards/durgod/dgk6x/hades_iso/keymaps/via/keymap.json
  keyboards/durgod/dgk6x/hades_iso/keymaps/via/readme.md
  keyboards/durgod/dgk6x/hades_iso/keymaps/via/rules.mk
  keyboards/durgod/dgk6x/hades_iso/readme.md
  keyboards/durgod/dgk6x/hades_iso/rules.mk
  keyboards/durgod/dgk6x/readme.md
  keyboards/durgod/dgk6x/rules.mk
  keyboards/durgod/hades/readme.md
  keyboards/durgod/hades/rules.mk
Labels: keyboard, keymap, via

#20388 h87 g2 VID update
  keyboards/hineybush/h87_g2/info.json
Labels: keyboard, keymap, via

#18735 [Keymap] Add personal keymap for Lily58
  keyboards/lily58/keymaps/oldfieldtc/config.h
  keyboards/lily58/keymaps/oldfieldtc/keymap.c
  keyboards/lily58/keymaps/oldfieldtc/readme.md
  keyboards/lily58/keymaps/oldfieldtc/rules.mk
Labels: on hold, keymap

#20327 [Keymap] Add paulomp90 lily58 keymap
  keyboards/lily58/keymaps/paulomp90/config.h
  keyboards/lily58/keymaps/paulomp90/features/custom_shift_keys.c
  keyboards/lily58/keymaps/paulomp90/features/custom_shift_keys.h
  keyboards/lily58/keymaps/paulomp90/keymap.c
  keyboards/lily58/keymaps/paulomp90/readme.md
  keyboards/lily58/keymaps/paulomp90/rules.mk
Labels: keymap

#20414 4pplet/eagle_viper_rep/rev_a Layout Macro Conversion and Additions
  keyboards/4pplet/eagle_viper_rep/rev_a/info.json
  keyboards/4pplet/eagle_viper_rep/rev_a/matrix_diagram.md
  keyboards/4pplet/eagle_viper_rep/rev_a/rev_a.h
Labels: enhancement, keyboard

#20432 [Keyboard] Update ymdk/id75 config
  keyboards/ymdk/id75/config.h
  keyboards/ymdk/id75/info.json
Labels: bug, keyboard

#20434 Add hardware information momokai keyboards
  keyboards/momokai/tap_duo/readme.md
  keyboards/momokai/tap_trio/readme.md
Labels: keyboard

#20433 [Bug] Fix compilation issues with PS/2 driver on F4x1 controllers
  builddefs/common_features.mk
  drivers/ps2/ps2_interrupt.c
  platforms/chibios/drivers/ps2/ps2_io.c
Labels: bug, core

#20417 Fix some missing QMK_KEYBOARD_H includes in user keymaps
  keyboards/1upkeyboards/1up60rgb/keymaps/iso/keymap.c
  keyboards/1upkeyboards/1up60rgb/keymaps/tsangan/keymap.c
  keyboards/1upkeyboards/sweet16/keymaps/dlaroe/keymap.c
  keyboards/bpiphany/hid_liber/keymaps/bakageta/keymap.c
  keyboards/contra/keymaps/maxr1998/keymap.c
  keyboards/contra/keymaps/ryanm101/keymap.c
  keyboards/deltasplit75/keymaps/itsaferbie/config.h
  keyboards/deltasplit75/keymaps/mbsurfer/config.h
  keyboards/deltasplit75/keymaps/mbsurfer/keymap.c
  keyboards/deltasplit75/keymaps/protosplit/config.h
  keyboards/donutcables/scrabblepad/keymaps/random/keymap.c
  keyboards/ergodox_ez/keymaps/rmw/keymap.c
  keyboards/gboards/gergoplex/keymaps/colemak-dhm/keymap.c
  keyboards/handwired/twig/twig50/keymaps/default/keymap.c
  keyboards/handwired/xealous/rules.mk
  keyboards/keebio/chocopad/keymaps/khord/keymap.c
  keyboards/keebio/iris/keymaps/krusli/keymap.c
  keyboards/keebio/nyquist/keymaps/danielhklein/config.h
  keyboards/lets_split/keymaps/adam/config.h
  keyboards/lets_split/keymaps/fabian/config.h
  keyboards/lets_split/keymaps/heartrobotninja/config.h
  keyboards/lets_split/keymaps/mjt/config.h
  keyboards/lets_split/keymaps/piemod/rules.mk
  keyboards/lets_split/keymaps/zer09/keymap.c
  keyboards/lets_split/keymaps/zer09/keymap.h
  keyboards/massdrop/alt/keymaps/pregame/keymap.c
  keyboards/massdrop/alt/keymaps/pregame/keymap.h
  keyboards/massdrop/ctrl/keymaps/endgame/keymap.c
  keyboards/massdrop/ctrl/keymaps/endgame/keymap.h
  keyboards/massdrop/ctrl/keymaps/matthewrobo/keymap.c
  keyboards/massdrop/ctrl/keymaps/matthewrobo/keymap.h
  keyboards/massdrop/ctrl/keymaps/xanimos/keymap.c
  keyboards/massdrop/ctrl/keymaps/xanimos/keymap.h
  keyboards/mehkee96/keymaps/johann/keymap.c
  keyboards/mt/mt980/keymaps/walker/keymap.c
  keyboards/orthodox/keymaps/oscillope/rules.mk
  keyboards/planck/keymaps/ishtob/keymap.c
  keyboards/planck/keymaps/mitch/rules.mk
  keyboards/planck/keymaps/piemod/rules.mk
  keyboards/woodkeys/meira/keymaps/cole/keymap.c
  keyboards/woodkeys/meira/keymaps/grahampheath/keymap.c
  keyboards/woodkeys/meira/keymaps/takmiya/keymap.c
  keyboards/ymdk/ymd96/keymaps/hgoel89/keymap.c
  users/ishtob/ishtob.h
  users/zer09/zer09.h
Labels: bug, enhancement, keyboard, keymap

#20445 ADPenrose Obi Layout Macro Conversion and Addition
  keyboards/adpenrose/obi/info.json
  keyboards/adpenrose/obi/keymaps/default_625u_space/keymap.c
  keyboards/adpenrose/obi/keymaps/default_625u_space/rules.mk
  keyboards/adpenrose/obi/matrix_diagram.md
  keyboards/adpenrose/obi/obi.c
  keyboards/adpenrose/obi/obi.h
Labels: enhancement, keyboard, keymap

#20386 Lotus58 glow
  keyboards/tweetydabird/lotus58/config.h
  keyboards/tweetydabird/lotus58/elite_c/info.json
  keyboards/tweetydabird/lotus58/elite_c/rules.mk
  keyboards/tweetydabird/lotus58/info.json
  keyboards/tweetydabird/lotus58/keymaps/default/keymap.c
  keyboards/tweetydabird/lotus58/keymaps/default/rules.mk
  keyboards/tweetydabird/lotus58/lotus58.c
  keyboards/tweetydabird/lotus58/nanoboot/rules.mk
  keyboards/tweetydabird/lotus58/promicro/info.json
  keyboards/tweetydabird/lotus58/promicro/rules.mk
  keyboards/tweetydabird/lotus58/readme.md
Labels: keyboard, keymap

#20257 [Keyboard] Add dymium65
  keyboards/dotmod/dymium65/config.h
  keyboards/dotmod/dymium65/dymium65.c
  keyboards/dotmod/dymium65/info.json
  keyboards/dotmod/dymium65/keymaps/default/keymap.c
  keyboards/dotmod/dymium65/keymaps/default/rules.mk
  keyboards/dotmod/dymium65/keymaps/via/keymap.c
  keyboards/dotmod/dymium65/keymaps/via/rules.mk
  keyboards/dotmod/dymium65/readme.md
  keyboards/dotmod/dymium65/rules.mk
Labels: keyboard, keymap, via, pr_checklist_pending

#20396 [Keyboard] Add zoom75 wired
  keyboards/meletrix/zoom75/info.json
  keyboards/meletrix/zoom75/keymaps/default/keymap.c
  keyboards/meletrix/zoom75/keymaps/default/rules.mk
  keyboards/meletrix/zoom75/keymaps/via/keymap.c
  keyboards/meletrix/zoom75/keymaps/via/rules.mk
  keyboards/meletrix/zoom75/readme.md
  keyboards/meletrix/zoom75/rules.mk
Labels: keyboard, keymap, via

#20460 Tidy up stray RGB_DISABLE_TIMEOUT references
  keyboards/drop/sense75/config.h
  keyboards/dumbpad/v3x/config.h
Labels: bug, keyboard

#20424 [Keyboard] Add Kalakos Bahrnob65
  keyboards/kalakos/bahrnob/info.json
  keyboards/kalakos/bahrnob/keymaps/default/keymap.c
  keyboards/kalakos/bahrnob/keymaps/via/keymap.c
  keyboards/kalakos/bahrnob/keymaps/via/rules.mk
  keyboards/kalakos/bahrnob/readme.md
  keyboards/kalakos/bahrnob/rules.mk
Labels: keyboard, keymap, via

#20439 [Keymap] Update brauner preonic layout
  keyboards/preonic/keymaps/brauner/config.h
  keyboards/preonic/keymaps/brauner/keymap.c
Labels: keymap

#20456 Fix info.json LTO and format encoder definitions
  keyboards/0_sixty/info.json
  keyboards/0xcb/splaytoraid/info.json
  keyboards/1upkeyboards/pi40/grid_v1_1/info.json
  keyboards/1upkeyboards/pi40/mit_v1_0/info.json
  keyboards/1upkeyboards/pi40/mit_v1_1/info.json
  keyboards/1upkeyboards/pi60/info.json
  keyboards/1upkeyboards/sweet16v2/kb2040/info.json
  keyboards/1upkeyboards/sweet16v2/pro_micro/info.json
  keyboards/anavi/knob1/info.json
  keyboards/anavi/knobs3/info.json
  keyboards/anavi/macropad10/info.json
  keyboards/argo_works/ishi/80/mk0_avr_extra/info.json
  keyboards/atlantis/ps17/info.json
  keyboards/binepad/bnr1/v1/info.json
  keyboards/binepad/bnr1/v2/info.json
  keyboards/boardsource/lulu/avr/info.json
  keyboards/boardsource/lulu/rp2040/info.json
  keyboards/boardsource/microdox/v2/info.json
  keyboards/cannonkeys/ortho48v2/info.json
  keyboards/cannonkeys/ortho60v2/info.json
  keyboards/chromatonemini/info.json
  keyboards/clueboard/card/info.json
  keyboards/cxt_studio/info.json
  keyboards/drop/sense75/info.json
  keyboards/fearherbs1/blue_team_pad/info.json
  keyboards/geistmaschine/geist/info.json
  keyboards/geistmaschine/macropod/info.json
  keyboards/ghs/xls/info.json
  keyboards/gkeyboard/gpad8_2r/info.json
  keyboards/handwired/daskeyboard/daskeyboard4/info.json
  keyboards/handwired/maverick0197/keydeck8/info.json
  keyboards/hfdkb/keyboard_sw/k83/info.json
  keyboards/hotdox76v2/info.json
  keyboards/kbdfans/kbdpad/mk3/info.json
  keyboards/keebio/convolution/rev1/info.json
  keyboards/keebio/sinc/rev1/info.json
  keyboards/keebio/sinc/rev2/info.json
  keyboards/keebio/sinc/rev3/info.json
  keyboards/lpad/info.json
  keyboards/mechwild/sugarglider/info.json
  keyboards/mecxlabs/mp1/info.json
  keyboards/mwstudio/mw80/info.json
  keyboards/pauperboards/brick/info.json
  keyboards/pica40/rev1/info.json
  keyboards/pica40/rev2/info.json
  keyboards/reedskeebs/alish40/info.json
  keyboards/spleeb/info.json
  keyboards/splitkb/aurora/corne/rev1/info.json
  keyboards/splitkb/aurora/lily58/rev1/info.json
  keyboards/splitkb/aurora/sweep/rev1/info.json
  keyboards/splitkb/kyria/rev3/info.json
  keyboards/sthlmkb/lagom/info.json
  keyboards/sthlmkb/litl/info.json
  keyboards/takashicompany/goat51/info.json
  keyboards/tau4/info.json
  keyboards/tweetydabird/lbs4/info.json
  keyboards/tweetydabird/lbs6/info.json
  keyboards/tzarc/ghoul/rev1/rp2040/info.json
  keyboards/tzarc/ghoul/rev1/stm32/info.json
  keyboards/wolf/frogpad/info.json
Labels: keyboard

#20464 Fix typo in `feature_wpm.md` title
  docs/feature_wpm.md
Labels: documentation

#20468 [Keyboard] Update lotus58 RGB config
  keyboards/tweetydabird/lotus58/info.json
Labels: keyboard

#20436 4pplet/yakiimo Layout Macro Conversion and Additions
  keyboards/4pplet/yakiimo/rev_a/info.json
  keyboards/4pplet/yakiimo/rev_a/matrix_diagram.md
Labels: enhancement, keyboard

#20442 AEBoards Satellite Rev1 Layout Macro Conversion
  keyboards/aeboards/satellite/keymaps/default/keymap.c
  keyboards/aeboards/satellite/keymaps/via/keymap.c
  keyboards/aeboards/satellite/rev1/info.json
  keyboards/aeboards/satellite/rev1/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#20443 Acheron Austin Layout Macro Conversion and Additions
  keyboards/acheron/austin/info.json
  keyboards/acheron/austin/keymaps/default_ansi/keymap.c
  keyboards/acheron/austin/keymaps/default_ansi_split_bs/keymap.c
  keyboards/acheron/austin/keymaps/default_ansi_wkl/keymap.c
  keyboards/acheron/austin/keymaps/default_ansi_wkl_split_bs/keymap.c
  keyboards/acheron/austin/keymaps/default_iso/keymap.c
  keyboards/acheron/austin/keymaps/default_iso_split_bs/keymap.c
  keyboards/acheron/austin/keymaps/default_iso_wkl/keymap.c
  keyboards/acheron/austin/keymaps/default_iso_wkl_split_bs/keymap.c
  keyboards/acheron/austin/matrix_diagram.md
Labels: enhancement, keyboard, keymap

#20473 Fixup dymium65 RGB Pin on develop
  keyboards/dotmod/dymium65/config.h
  keyboards/dotmod/dymium65/info.json
Labels: keyboard

#20475 Fixup missing include in mxss `via` keymap
  keyboards/mxss/keymaps/via/keymap.c
Labels: keymap, via

#20476 Volume keys correction
  keyboards/gmmk/gmmk2/p65/ansi/keymaps/default/keymap.c
  keyboards/gmmk/gmmk2/p65/ansi/keymaps/via/keymap.c
Labels: keymap, via

#20487 AEBoards Constellation Layout Macro Updates
  keyboards/aeboards/constellation/keymaps/default/keymap.c
  keyboards/aeboards/constellation/keymaps/default_65_ansi_rwkl/keymap.c
  keyboards/aeboards/constellation/keymaps/via/keymap.c
  keyboards/aeboards/constellation/rev1/info.json
  keyboards/aeboards/constellation/rev1/matrix_diagram.md
  keyboards/aeboards/constellation/rev2/info.json
  keyboards/aeboards/constellation/rev2/matrix_diagram.md
  keyboards/aeboards/constellation/rev3/info.json
  keyboards/aeboards/constellation/rev3/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#20488 AI03 Equinox Layout Macro Additions
  keyboards/ai03/equinox/info.json
  keyboards/ai03/equinox/keymaps/default_ansi_split_space/keymap.c
  keyboards/ai03/equinox/keymaps/default_iso_split_space/keymap.c
  keyboards/ai03/equinox/matrix_diagram.md
Labels: enhancement, keyboard, keymap

#20489 AI03 Vega Layout Macro Additions
  keyboards/ai03/vega/info.json
  keyboards/ai03/vega/matrix_diagram.md
Labels: enhancement, keyboard

#20496 Koolertron AMAG23 Touch-Up
  keyboards/amag23/info.json
  keyboards/amag23/keymaps/default/keymap.c
  keyboards/amag23/keymaps/qwert/keymap.c
  keyboards/amag23/keymaps/via/keymap.c
  keyboards/amag23/readme.md
Labels: enhancement, keyboard, keymap, via

#20474 Cleanup `ekow/akira`
  keyboards/ekow/akira/info.json
  keyboards/ekow/akira/keymaps/default/keymap.c
  keyboards/ekow/akira/keymaps/default/readme.md
  keyboards/ekow/akira/keymaps/via/keymap.c
  keyboards/ekow/akira/rules.mk
Labels: keyboard, keymap, via

#20486 Adds Docs option for ArduinoIDE's example `ArduinoISP`
  docs/isp_flashing_guide.md
Labels: documentation

#20409 Add QuadrumLabs Delta
  keyboards/quadrum/delta/info.json
  keyboards/quadrum/delta/keymaps/ansi/keymap.c
  keyboards/quadrum/delta/keymaps/ansi/rules.mk
  keyboards/quadrum/delta/keymaps/default/keymap.c
  keyboards/quadrum/delta/keymaps/default/rules.mk
  keyboards/quadrum/delta/keymaps/iso/keymap.c
  keyboards/quadrum/delta/keymaps/iso/rules.mk
  keyboards/quadrum/delta/keymaps/via/keymap.c
  keyboards/quadrum/delta/keymaps/via/rules.mk
  keyboards/quadrum/delta/readme.md
  keyboards/quadrum/delta/rules.mk
Labels: keyboard, keymap, via

#20515 Fix capital letters not getting sent with sendstring_swiss_fr.h
  quantum/keymap_extras/sendstring_swiss_fr.h
Labels: core

#20511 Remove combo count from array
  docs/feature_combo.md
Labels: documentation

#20512 [Docs] Fix suggested code pattern when a specific mod-mask is required.
  docs/feature_advanced_keycodes.md
Labels: documentation

#20392 NK Plus
  keyboards/novelkeys/nk_plus/config.h
  keyboards/novelkeys/nk_plus/halconf.h
  keyboards/novelkeys/nk_plus/info.json
  keyboards/novelkeys/nk_plus/keymaps/default/keymap.c
  keyboards/novelkeys/nk_plus/keymaps/via/keymap.c
  keyboards/novelkeys/nk_plus/keymaps/via/rules.mk
  keyboards/novelkeys/nk_plus/mcuconf.h
  keyboards/novelkeys/nk_plus/readme.md
  keyboards/novelkeys/nk_plus/rules.mk
Labels: keyboard, keymap, via

#20524 [Keyboard] Fix nk plus ws2812 config
  keyboards/novelkeys/nk_plus/info.json
Labels: bug, keyboard

#20490 AKB OGR Layout Macro Additions
  keyboards/akb/ogr/info.json
  keyboards/akb/ogr/keymaps/default_ansi_blocker/keymap.c
  keyboards/akb/ogr/keymaps/default_ansi_blocker_split_bs/keymap.c
  keyboards/akb/ogr/keymaps/default_ansi_blocker_wkl/keymap.c
  keyboards/akb/ogr/keymaps/default_ansi_blocker_wkl_split_bs/keymap.c
  keyboards/akb/ogr/keymaps/default_iso_blocker/keymap.c
  keyboards/akb/ogr/keymaps/default_iso_blocker_split_bs/keymap.c
  keyboards/akb/ogr/keymaps/default_iso_blocker_wkl/keymap.c
  keyboards/akb/ogr/keymaps/default_iso_blocker_wkl_split_bs/keymap.c
  keyboards/akb/ogr/matrix_diagram.md
Labels: enhancement, keyboard, keymap

#20494 Alf DC60 Layout Macro Additions
  keyboards/alf/dc60/info.json
  keyboards/alf/dc60/matrix_diagram.md
Labels: enhancement, keyboard

#20495 Alf X2 Layout Macro Additions
  keyboards/alf/x2/info.json
  keyboards/alf/x2/keymaps/hhkb_60/keymap.c
  keyboards/alf/x2/matrix_diagram.md
Labels: enhancement, keyboard, keymap

#20498 BIOI G60 Layout Macro Additions
  keyboards/bioi/g60/info.json
  keyboards/bioi/g60/keymaps/default/keymap.c
  keyboards/bioi/g60/keymaps/via/keymap.c
  keyboards/bioi/g60/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#20499 BIOI Morgan65 Layout Macro Additions
  keyboards/bioi/morgan65/info.json
  keyboards/bioi/morgan65/keymaps/default/keymap.c
  keyboards/bioi/morgan65/keymaps/via/keymap.c
  keyboards/bioi/morgan65/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#20500 BIOI S65 Layout Macro Additions
  keyboards/bioi/s65/info.json
  keyboards/bioi/s65/matrix_diagram.md
Labels: enhancement, keyboard

#20504 Boston Layout Macro Additions
  keyboards/boston/info.json
  keyboards/boston/keymaps/default_ansi/keymap.c
  keyboards/boston/keymaps/default_iso/keymap.c
  keyboards/boston/matrix_diagram.md
Labels: enhancement, keyboard, keymap

#20508 Potato65S Layout Macro Additions
  keyboards/buildakb/potato65s/info.json
  keyboards/buildakb/potato65s/keymaps/default/keymap.c
  keyboards/buildakb/potato65s/keymaps/via/keymap.c
  keyboards/buildakb/potato65s/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#20528 Update code example to match description
  docs/feature_advanced_keycodes.md
Labels: documentation

#20503 Add KBDCraft Adam64 Lego board
  keyboards/kbdcraft/adam64/adam64.c
  keyboards/kbdcraft/adam64/config.h
  keyboards/kbdcraft/adam64/halconf.h
  keyboards/kbdcraft/adam64/info.json
  keyboards/kbdcraft/adam64/keymaps/default/keymap.c
  keyboards/kbdcraft/adam64/keymaps/via/keymap.c
  keyboards/kbdcraft/adam64/keymaps/via/rules.mk
  keyboards/kbdcraft/adam64/mcuconf.h
  keyboards/kbdcraft/adam64/readme.md
  keyboards/kbdcraft/adam64/rules.mk
Labels: keyboard, keymap, via

#20519 Caffeinated Studios Serpent65 Layout Macro Additions
  keyboards/caffeinated/serpent65/info.json
  keyboards/caffeinated/serpent65/keymaps/default_ansi/keymap.c
  keyboards/caffeinated/serpent65/keymaps/default_ansi_split_bs/keymap.c
  keyboards/caffeinated/serpent65/keymaps/default_iso/keymap.c
  keyboards/caffeinated/serpent65/keymaps/default_iso_split_bs/keymap.c
  keyboards/caffeinated/serpent65/matrix_diagram.md
Labels: enhancement, keyboard, keymap

#20547 CannonKeys Aella Layout Macro Additions
  keyboards/cannonkeys/aella/info.json
  keyboards/cannonkeys/aella/keymaps/default_ansi/keymap.c
  keyboards/cannonkeys/aella/keymaps/default_iso/keymap.c
  keyboards/cannonkeys/aella/matrix_diagram.md
Labels: enhancement, keyboard, keymap

#20549 CannonKeys Brutal v2 1800 Layout Macro Additions
  keyboards/cannonkeys/brutalv2_1800/info.json
  keyboards/cannonkeys/brutalv2_1800/keymaps/default/keymap.c
  keyboards/cannonkeys/brutalv2_1800/keymaps/via/keymap.c
  keyboards/cannonkeys/brutalv2_1800/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#20552 CannonKeys Brutal v2 65 Layout Macro Additions
  keyboards/cannonkeys/brutalv2_65/info.json
  keyboards/cannonkeys/brutalv2_65/matrix_diagram.md
Labels: enhancement, keyboard, keymap

#20553 CannonKeys Cloudline Layout Macro Additions
  keyboards/cannonkeys/cloudline/info.json
  keyboards/cannonkeys/cloudline/matrix_diagram.md
Labels: enhancement, keyboard

#20554 CannonKeys Crin Layout Macro Additions
  keyboards/cannonkeys/crin/info.json
  keyboards/cannonkeys/crin/matrix_diagram.md
Labels: enhancement, keyboard

#20555 CannonKeys DevastatingTKL Layout Macro Additions
  keyboards/cannonkeys/devastatingtkl/info.json
  keyboards/cannonkeys/devastatingtkl/keymaps/default/keymap.c
  keyboards/cannonkeys/devastatingtkl/keymaps/via/keymap.c
  keyboards/cannonkeys/devastatingtkl/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#20558 CannonKeys Ellipse Layout Macro Additions
  keyboards/cannonkeys/ellipse/info.json
  keyboards/cannonkeys/ellipse/matrix_diagram.md
Labels: enhancement, keyboard

#20561 CannonKeys Gentoo Layout Macro Additions
  keyboards/cannonkeys/gentoo/info.json
  keyboards/cannonkeys/gentoo/matrix_diagram.md
Labels: enhancement, keyboard

#20562 CannonKeys Gentoo Hotswap Touch-Up
  keyboards/cannonkeys/gentoo_hs/info.json
  keyboards/cannonkeys/gentoo_hs/keymaps/default/keymap.c
  keyboards/cannonkeys/gentoo_hs/keymaps/via/keymap.c
  keyboards/cannonkeys/gentoo_hs/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#20564 CannonKeys Moment Layout Macro Additions
  keyboards/cannonkeys/moment/info.json
  keyboards/cannonkeys/moment/keymaps/default/keymap.c
  keyboards/cannonkeys/moment/keymaps/via/keymap.c
  keyboards/cannonkeys/moment/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#20565 CannonKeys Moment Hotswap Touch-Up
  keyboards/cannonkeys/moment_hs/info.json
  keyboards/cannonkeys/moment_hs/keymaps/default/keymap.c
  keyboards/cannonkeys/moment_hs/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via
