Repository qmk/qmk_firmware, pull requests merged in 2023-11, with the labels that each got.

#22352 Add Support for Keyboard: TeaQueen
  keyboards/gregandcin/teaqueen/info.json
  keyboards/gregandcin/teaqueen/keymaps/default/config.h
  keyboards/gregandcin/teaqueen/keymaps/default/keymap.c
  keyboards/gregandcin/teaqueen/keymaps/via/config.h
  keyboards/gregandcin/teaqueen/keymaps/via/keymap.c
  keyboards/gregandcin/teaqueen/keymaps/via/rules.mk
  keyboards/gregandcin/teaqueen/readme.md
  keyboards/gregandcin/teaqueen/rules.mk
Labels: keyboard, keymap, via

#22371 Klein_SD PCB support
  keyboards/era/sirind/klein_sd/config.h
  keyboards/era/sirind/klein_sd/halconf.h
  keyboards/era/sirind/klein_sd/info.json
  keyboards/era/sirind/klein_sd/keymaps/default/keymap.c
  keyboards/era/sirind/klein_sd/keymaps/via/keymap.c
  keyboards/era/sirind/klein_sd/keymaps/via/rules.mk
  keyboards/era/sirind/klein_sd/mcuconf.h
  keyboards/era/sirind/klein_sd/readme.md
  keyboards/era/sirind/klein_sd/rules.mk
Labels: keyboard, keymap, via

#22369 Add dd mapping for hardware based split handedness
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/cli/generate/keyboard_c.py
  lib/python/qmk/info.py
Labels: enhancement, documentation, python, cli, dd

#21825 Implement data driven lighting defaults
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  lib/python/qmk/cli/generate/config_h.py
Labels: documentation, python, cli, breaking_change_2023q4, dd

#20059 Generate switch statement helpers for keycode ranges
  lib/python/qmk/cli/generate/keycodes.py
  quantum/keycodes.h
  quantum/keymap_common.c
Labels: enhancement, core, python, cli

#21574 [Keyboard] matchstickworks/southpad - Move files to rev1, add rev2
  data/mappings/keyboard_aliases.hjson
  keyboards/matchstickworks/southpad/info.json
  keyboards/matchstickworks/southpad/rev1/info.json
  keyboards/matchstickworks/southpad/rev1/keymaps/default/keymap.c
  keyboards/matchstickworks/southpad/rev1/readme.md
  keyboards/matchstickworks/southpad/rev1/rules.mk
  keyboards/matchstickworks/southpad/rev2/info.json
  keyboards/matchstickworks/southpad/rev2/keymaps/default/keymap.c
  keyboards/matchstickworks/southpad/rev2/keymaps/via/keymap.c
  keyboards/matchstickworks/southpad/rev2/keymaps/via/rules.mk
  keyboards/matchstickworks/southpad/rev2/readme.md
  keyboards/matchstickworks/southpad/rev2/rules.mk
  keyboards/matchstickworks/southpad/rules.mk
Labels: keyboard, keymap, via, dd

#22383 LED drivers: add defines for PWM and LED control register counts
  drivers/led/issi/is31fl3218-simple.c
  drivers/led/issi/is31fl3218.c
  drivers/led/issi/is31fl3731-simple.c
  drivers/led/issi/is31fl3731.c
  drivers/led/issi/is31fl3733-simple.c
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3736-simple.c
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3737-simple.c
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3741-simple.c
  drivers/led/issi/is31fl3741.c
  drivers/led/snled27351-simple.c
  drivers/led/snled27351.c
  keyboards/input_club/k_type/is31fl3733-dual.c
Labels: enhancement, core, keyboard

#22170 Improve argument handling of c2json
  lib/python/qmk/cli/c2json.py
  lib/python/qmk/keymap.py
  lib/python/qmk/path.py
Labels: python, cli

#22380 LED drivers: use `PACKED` define from util.h
  drivers/led/aw20216s.h
  drivers/led/issi/is31fl3218-simple.h
  drivers/led/issi/is31fl3218.h
  drivers/led/issi/is31fl3731-simple.h
  drivers/led/issi/is31fl3731.h
  drivers/led/issi/is31fl3733-simple.h
  drivers/led/issi/is31fl3733.h
  drivers/led/issi/is31fl3736-simple.h
  drivers/led/issi/is31fl3736.h
  drivers/led/issi/is31fl3737-simple.h
  drivers/led/issi/is31fl3737.h
  drivers/led/issi/is31fl3741-simple.h
  drivers/led/issi/is31fl3741.h
  drivers/led/issi/is31flcommon.h
  drivers/led/snled27351-simple.h
  drivers/led/snled27351.h
Labels: enhancement, core

#22389 [Bug] Fixed OLED layers being all set to zero
  keyboards/boardsource/unicorne/unicorne.c
Labels: bug, keyboard

#22399 docs(rgblight): fix typos
  docs/feature_rgblight.md
Labels: documentation

#22400 Allow generic_features to handle subdirectories
  builddefs/generic_features.mk
Labels: optimization, core

#22406 Teaqueen: correct layout data
  keyboards/gregandcin/teaqueen/info.json
Labels: keyboard

#22361 Add Piantor Pro
  keyboards/beekeeb/piantor_pro/config.h
  keyboards/beekeeb/piantor_pro/info.json
  keyboards/beekeeb/piantor_pro/keymaps/default/keymap.c
  keyboards/beekeeb/piantor_pro/readme.md
  keyboards/beekeeb/piantor_pro/rules.mk
Labels: keyboard, keymap

#22409 Red Herring PCB support
  keyboards/dcpedit/redherring/config.h
  keyboards/dcpedit/redherring/info.json
  keyboards/dcpedit/redherring/keymaps/default/keymap.c
  keyboards/dcpedit/redherring/keymaps/default/rules.mk
  keyboards/dcpedit/redherring/keymaps/via/keymap.c
  keyboards/dcpedit/redherring/keymaps/via/rules.mk
  keyboards/dcpedit/redherring/readme.md
  keyboards/dcpedit/redherring/redherring.c
  keyboards/dcpedit/redherring/rules.mk
Labels: keyboard, keymap, via

#22277 Add riblee handwired split keyboard
  keyboards/handwired/riblee_split/config.h
  keyboards/handwired/riblee_split/halconf.h
  keyboards/handwired/riblee_split/info.json
  keyboards/handwired/riblee_split/keymaps/default/keymap.c
  keyboards/handwired/riblee_split/mcuconf.h
  keyboards/handwired/riblee_split/readme.md
  keyboards/handwired/riblee_split/rules.mk
Labels: keyboard, keymap

#22367 Add Duet Switch Tester
  keyboards/ai03/duet/config.h
  keyboards/ai03/duet/info.json
  keyboards/ai03/duet/keymaps/coordinate/keymap.c
  keyboards/ai03/duet/keymaps/coordinate/readme.md
  keyboards/ai03/duet/keymaps/default/keymap.c
  keyboards/ai03/duet/keymaps/default/readme.md
  keyboards/ai03/duet/readme.md
  keyboards/ai03/duet/rules.mk
Labels: keyboard, keymap

#22257 Add PCB Utopia88
  keyboards/kelwin/utopia88/info.json
  keyboards/kelwin/utopia88/keymaps/default/keymap.c
  keyboards/kelwin/utopia88/keymaps/via/keymap.c
  keyboards/kelwin/utopia88/keymaps/via/rules.mk
  keyboards/kelwin/utopia88/readme.md
  keyboards/kelwin/utopia88/rules.mk
Labels: keyboard, keymap, via

#22342 feat(mechwild/clunker): new layouts
  keyboards/mechwild/clunker/config.h
  keyboards/mechwild/clunker/info.json
  keyboards/mechwild/clunker/keymaps/default/keymap.c
  keyboards/mechwild/clunker/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#22317 Fix Herringbone pro Layouts
  keyboards/rmi_kb/herringbone/pro/info.json
Labels: keyboard

#22151 move soda/mango and soda/pocket to magic_force/mf17 and magic_force/mf34
  data/mappings/keyboard_aliases.hjson
  keyboards/magic_force/mf17/config.h
  keyboards/magic_force/mf17/info.json
  keyboards/magic_force/mf17/keymaps/default/keymap.c
  keyboards/magic_force/mf17/keymaps/via/keymap.c
  keyboards/magic_force/mf17/keymaps/via/rules.mk
  keyboards/magic_force/mf17/readme.md
  keyboards/magic_force/mf17/rules.mk
  keyboards/magic_force/mf34/chconf.h
  keyboards/magic_force/mf34/config.h
  keyboards/magic_force/mf34/info.json
  keyboards/magic_force/mf34/keymaps/default/keymap.c
  keyboards/magic_force/mf34/keymaps/via/keymap.c
  keyboards/magic_force/mf34/keymaps/via/rules.mk
  keyboards/magic_force/mf34/mcuconf.h
  keyboards/magic_force/mf34/mf34.c
  keyboards/magic_force/mf34/readme.md
  keyboards/magic_force/mf34/rules.mk
Labels: keyboard, keymap, via, dd

#22411 Add support for iso85k keyboard
  keyboards/handwired/iso85k/info.json
  keyboards/handwired/iso85k/keymaps/default/keymap.c
  keyboards/handwired/iso85k/keymaps/via/keymap.c
  keyboards/handwired/iso85k/keymaps/via/rules.mk
  keyboards/handwired/iso85k/readme.md
  keyboards/handwired/iso85k/rules.mk
Labels: keyboard, keymap, via

#22420 Fix corne keylog
  keyboards/crkbd/crkbd.c
Labels: keyboard

#22408 Sofle led fix
  keyboards/sofle/rev1/rev1.c
Labels: keyboard

#22403 Migrate some common features to generic
  builddefs/common_features.mk
  builddefs/generic_features.mk
  builddefs/show_options.mk
  docs/feature_os_detection.md
  keyboards/ergodox_ez/keymaps/hacker_dvorak/rules.mk
  keyboards/keebio/levinson/keymaps/drogglbecher/rules.mk
  keyboards/planck/keymaps/sascha/rules.mk
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/rules.mk
  quantum/quantum.c
Labels: optimization, core, keymap, documentation

#22397 Update layer state of Lily58 from Default to Base
  keyboards/lily58/lib/layer_state_reader.c
Labels: keyboard

#22377 Add SNES Macropad keyboard
  keyboards/snes_macropad/config.h
  keyboards/snes_macropad/halconf.h
  keyboards/snes_macropad/info.json
  keyboards/snes_macropad/keymaps/default/keymap.c
  keyboards/snes_macropad/keymaps/jbarberu/keymap.c
  keyboards/snes_macropad/keymaps/test/keymap.c
  keyboards/snes_macropad/matrix.c
  keyboards/snes_macropad/mcuconf.h
  keyboards/snes_macropad/readme.md
  keyboards/snes_macropad/rules.mk
  keyboards/snes_macropad/snes_macropad.c
Labels: keyboard, keymap

#22402 Update copyright headers, Remove EE_HANDS in gregandcin/teaqueen
  keyboards/gregandcin/teaqueen/keymaps/default/config.h
  keyboards/gregandcin/teaqueen/keymaps/default/keymap.c
  keyboards/gregandcin/teaqueen/keymaps/via/config.h
  keyboards/gregandcin/teaqueen/keymaps/via/keymap.c
Labels: keymap, via

#22381 LED drivers: clean up `SWx`/`CSy` pullup/down resistor config
  drivers/led/issi/is31fl3733-simple.c
  drivers/led/issi/is31fl3733-simple.h
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3733.h
  drivers/led/issi/is31fl3736-simple.c
  drivers/led/issi/is31fl3736-simple.h
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3736.h
  drivers/led/issi/is31fl3737-simple.c
  drivers/led/issi/is31fl3737-simple.h
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3737.h
  drivers/led/issi/is31fl3741-simple.c
  drivers/led/issi/is31fl3741-simple.h
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31fl3741.h
  keyboards/input_club/k_type/is31fl3733-dual.c
  keyboards/input_club/k_type/is31fl3733-dual.h
Labels: enhancement, core, keyboard

#22311 Infer LED DRIVER_COUNT from configured addresses
  docs/feature_led_matrix.md
  docs/feature_rgb_matrix.md
  drivers/led/aw20216s.h
  drivers/led/issi/is31fl3731-simple.h
  drivers/led/issi/is31fl3731.h
  drivers/led/issi/is31fl3733-simple.h
  drivers/led/issi/is31fl3733.h
  drivers/led/issi/is31fl3736-simple.h
  drivers/led/issi/is31fl3736.h
  drivers/led/issi/is31fl3737-simple.h
  drivers/led/issi/is31fl3737.h
  drivers/led/issi/is31fl3741-simple.h
  drivers/led/issi/is31fl3741.h
  drivers/led/issi/is31fl3743.h
  drivers/led/issi/is31fl3745.h
  drivers/led/issi/is31flcommon.h
  drivers/led/snled27351-simple.h
  drivers/led/snled27351.h
Labels: optimization, core, documentation, breaking_change_2023q4

#21989 Add Ploopy Madromys mouse
  keyboards/ploopyco/madromys/config.h
  keyboards/ploopyco/madromys/info.json
  keyboards/ploopyco/madromys/keymaps/default/keymap.c
  keyboards/ploopyco/madromys/keymaps/via/keymap.c
  keyboards/ploopyco/madromys/keymaps/via/readme.md
  keyboards/ploopyco/madromys/keymaps/via/rules.mk
  keyboards/ploopyco/madromys/madromys.c
  keyboards/ploopyco/madromys/madromys.h
  keyboards/ploopyco/madromys/readme.md
  keyboards/ploopyco/madromys/rev1_001/info.json
  keyboards/ploopyco/madromys/rev1_001/readme.md
  keyboards/ploopyco/madromys/rev1_001/rules.mk
  keyboards/ploopyco/madromys/rules.mk
Labels: keyboard, keymap, via

#22273 Add MariOrion v2.5 to firmware.
  keyboards/mariorion_v25/halconf.h
  keyboards/mariorion_v25/keymaps/default/keymap.c
  keyboards/mariorion_v25/keymaps/via/keymap.c
  keyboards/mariorion_v25/keymaps/via/rules.mk
  keyboards/mariorion_v25/mariorion_v25.c
  keyboards/mariorion_v25/matrix_diagram.md
  keyboards/mariorion_v25/mcuconf.h
  keyboards/mariorion_v25/prod/config.h
  keyboards/mariorion_v25/prod/info.json
  keyboards/mariorion_v25/prod/rules.mk
  keyboards/mariorion_v25/proto/config.h
  keyboards/mariorion_v25/proto/info.json
  keyboards/mariorion_v25/proto/rules.mk
  keyboards/mariorion_v25/readme.md
  keyboards/mariorion_v25/rules.mk
Labels: keyboard, keymap, via

#22446 snled27351: fix missing `i2c_init()`
  drivers/led/snled27351-simple.c
  drivers/led/snled27351.c
Labels: bug, core

#22444 Fixup snes_macropad on develop
  keyboards/snes_macropad/snes_macropad.c
Labels: keyboard

#22075 Add `qmk license-check` developer-level CLI command.
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/license_check.py
  lib/python/qmk/constants.py
Labels: python, cli

#21866 fix: make clicky delay silent
  quantum/process_keycode/process_clicky.c
Labels: core, breaking_change_2023q4

#20557 add 5087 keyboard
  keyboards/akko/5087/5087.c
  keyboards/akko/5087/config.h
  keyboards/akko/5087/halconf.h
  keyboards/akko/5087/info.json
  keyboards/akko/5087/keymaps/default/keymap.c
  keyboards/akko/5087/keymaps/via/keymap.c
  keyboards/akko/5087/keymaps/via/rules.mk
  keyboards/akko/5087/mcuconf.h
  keyboards/akko/5087/readme.md
  keyboards/akko/5087/rules.mk
Labels: keyboard, keymap, via

#22455 studiokestra/line_tkl: correct layout data
  keyboards/studiokestra/line_tkl/info.json
Labels: keyboard

#22432 [Keyboard] Fixes to make snes_macropad play nicer with qmk configurator
  keyboards/snes_macropad/info.json
  keyboards/snes_macropad/keymaps/default/keymap.c
  keyboards/snes_macropad/keymaps/jbarberu/keymap.c
  keyboards/snes_macropad/keymaps/test/keymap.c
  keyboards/snes_macropad/snes_macropad.c
Labels: keyboard, keymap

#22445 Slight refactor of joystick axis type into typedef
  tmk_core/protocol/report.h
Labels: enhancement, core

#22423 Remove requirement for `keymap_steno.h` include in keymaps
  docs/feature_stenography.md
  docs/reference_keymap_extras.md
  keyboards/40percentclub/gherkin/keymaps/steno/keymap.c
  keyboards/40percentclub/gherkin/keymaps/talljoe-gherkin/keymap.c
  keyboards/chord/zero/keymaps/default/keymap.c
  keyboards/ergodox_ez/keymaps/steno/keymap.c
  keyboards/eyeohdesigns/babyv/keymaps/bghull/keymap.c
  keyboards/gboards/butterstick/sten.h
  keyboards/gboards/georgi/keymaps/colemak-dh/keymap.c
  keyboards/gboards/georgi/keymaps/default-flipped/keymap.c
  keyboards/gboards/georgi/keymaps/default/keymap.c
  keyboards/gboards/georgi/keymaps/minimal/keymap.c
  keyboards/gboards/georgi/keymaps/norman/keymap.c
  keyboards/gboards/georgi/sten.h
  keyboards/handwired/split_cloud/keymaps/default/keymap.c
  keyboards/input_club/ergodox_infinity/keymaps/halfkeyboard/keymap.c
  keyboards/jian/keymaps/advanced/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/yttyx/keymap.c
  keyboards/keebio/levinson/keymaps/dcompact/keymap.c
  keyboards/keebio/levinson/keymaps/steno/keymap.c
  keyboards/lily58/keymaps/narze/keymap.c
  keyboards/mechwild/bbs/keymaps/default/keymap.c
  keyboards/mechwild/sugarglider/keymaps/default/keymap.c
  keyboards/planck/keymaps/altgr/keymap.c
  keyboards/planck/keymaps/bghull/keymap.c
  keyboards/planck/keymaps/dcompact/keymap.c
  keyboards/planck/keymaps/experimental/keymap.c
  keyboards/planck/keymaps/hiea/keymap.c
  keyboards/planck/keymaps/hieax/keymap.c
  keyboards/planck/keymaps/sdothum/keymap.c
  keyboards/planck/keymaps/steno/keymap.c
  keyboards/planck/keymaps/yttyx/keymap.c
  keyboards/preonic/keymaps/bghull/keymap.c
  keyboards/splitography/keymaps/default/keymap.c
  keyboards/splitography/keymaps/default_with_ctl_shft_alt_switched/keymap.c
  keyboards/splitography/keymaps/dvorak/keymap.c
  keyboards/splitography/keymaps/jeandeaual/keymap.c
  keyboards/splitography/keymaps/multi/keymap.c
  keyboards/stenokeyboards/the_uni/keymaps/default/keymap.c
  keyboards/stenokeyboards/the_uni/keymaps/utility_belt/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/dcompact/keymap.c
  keyboards/xiudi/xd75/keymaps/raoeus/keymap.c
  quantum/keymap_extras/keymap_steno.h
  quantum/process_keycode/process_steno.c
  quantum/process_keycode/process_steno.h
  quantum/steno_keycodes.h
Labels: enhancement, core, keyboard, keymap, documentation

#22448 Generalise analog SRC inclusion
  builddefs/common_features.mk
  docs/adc_driver.md
  keyboards/1upkeyboards/1upslider8/rules.mk
  keyboards/cipulot/ec_23u/rules.mk
  keyboards/cipulot/ec_60/rules.mk
  keyboards/cipulot/ec_alveus/1_0_0/rules.mk
  keyboards/cipulot/ec_alveus/1_2_0/rules.mk
  keyboards/cipulot/ec_pro2/rules.mk
  keyboards/cipulot/ec_prox/ansi_iso/rules.mk
  keyboards/cipulot/ec_prox/jis/rules.mk
  keyboards/cipulot/ec_theca/rules.mk
  keyboards/cipulot/rf_r1_8_9xu/rules.mk
  keyboards/drop/alt/v2/rules.mk
  keyboards/drop/ctrl/v2/rules.mk
  keyboards/drop/shift/v2/rules.mk
  keyboards/gmmk/numpad/rules.mk
  keyboards/handwired/battleship_gamepad/rules.mk
  keyboards/handwired/onekey/keymaps/adc/rules.mk
  keyboards/handwired/onekey/nucleo_f446re/rules.mk
  keyboards/handwired/promethium/rules.mk
  keyboards/keebwerk/nano_slider/rules.mk
  keyboards/lime/keymaps/default/rules.mk
  keyboards/ploopyco/mouse/rules.mk
  keyboards/ploopyco/trackball/rules.mk
  keyboards/ploopyco/trackball_mini/rules.mk
  keyboards/ploopyco/trackball_thumb/rules.mk
  keyboards/sekigon/grs_70ec/rules.mk
  keyboards/splitkb/kyria/keymaps/gotham/rules.mk
  keyboards/tzarc/ghoul/rules.mk
  keyboards/ungodly/launch_pad/rules.mk
  keyboards/v4n4g0rth0n/v2/rules.mk
  keyboards/viktus/minne_topre/rules.mk
  keyboards/viktus/osav2_numpad_topre/rules.mk
  keyboards/viktus/osav2_topre/rules.mk
  keyboards/viktus/styrka_topre/rules.mk
Labels: core, keyboard, keymap, documentation

#22433 add `68_ansi` Community Layout to nebula68b
  keyboards/spaceholdings/nebula68b/info.json
Labels: keyboard

#22464 Fix typos: key-modifer→key-modifier and interacton→interaction
  docs/feature_key_overrides.md
Labels: documentation

#22007 chibios: disable RWX segment warning on newer GNU lds
  builddefs/common_rules.mk
  platforms/avr/platform.mk
  platforms/chibios/platform.mk
Labels: core, breaking_change_2023q4

#22434 Migrate some EEPROM config to info.json
  keyboards/acheron/themis/87h/config.h
  keyboards/acheron/themis/87h/info.json
  keyboards/acheron/themis/87htsc/config.h
  keyboards/acheron/themis/87htsc/info.json
  keyboards/acheron/themis/88htsc/config.h
  keyboards/acheron/themis/88htsc/info.json
  keyboards/akko/5087/config.h
  keyboards/akko/5087/info.json
  keyboards/akko/5087/rules.mk
  keyboards/darkproject/kd87a_bfg_edition/config.h
  keyboards/darkproject/kd87a_bfg_edition/info.json
  keyboards/darkproject/kd87a_bfg_edition/rules.mk
  keyboards/inland/v83p/config.h
  keyboards/inland/v83p/info.json
  keyboards/inland/v83p/rules.mk
  keyboards/jukaie/jk01/config.h
  keyboards/jukaie/jk01/info.json
  keyboards/jukaie/jk01/rules.mk
  keyboards/monsgeek/m3/config.h
  keyboards/monsgeek/m3/info.json
  keyboards/monsgeek/m3/rules.mk
  keyboards/phentech/rpk_001/config.h
  keyboards/phentech/rpk_001/info.json
  keyboards/phentech/rpk_001/rules.mk
  keyboards/projectd/75/ansi/config.h
  keyboards/projectd/75/ansi/info.json
  keyboards/projectd/75/ansi/rules.mk
  keyboards/vinhcatba/uncertainty/info.json
  keyboards/vinhcatba/uncertainty/rules.mk
Labels: optimization, keyboard, breaking_change_2023q4

#22469 Revert "chibios: disable RWX segment warning on newer GNU lds"
  builddefs/common_rules.mk
  platforms/avr/platform.mk
  platforms/chibios/platform.mk
Labels: core

#22471 chibios: disable RWX segment warning on newer GNU lds
  platforms/chibios/platform.mk
Labels: core

#21690 Bs equals
  keyboards/boardsource/equals/48/config.h
  keyboards/boardsource/equals/48/halconf.h
  keyboards/boardsource/equals/48/info.json
  keyboards/boardsource/equals/48/keymaps/default/keymap.c
  keyboards/boardsource/equals/48/keymaps/via/keymap.c
  keyboards/boardsource/equals/48/keymaps/via/rules.mk
  keyboards/boardsource/equals/48/mcuconf.h
  keyboards/boardsource/equals/48/rules.mk
  keyboards/boardsource/equals/60/config.h
  keyboards/boardsource/equals/60/halconf.h
  keyboards/boardsource/equals/60/info.json
  keyboards/boardsource/equals/60/keymaps/default/keymap.c
  keyboards/boardsource/equals/60/keymaps/via/keymap.c
  keyboards/boardsource/equals/60/keymaps/via/rules.mk
  keyboards/boardsource/equals/60/mcuconf.h
  keyboards/boardsource/equals/60/rules.mk
  keyboards/boardsource/equals/avr/config.h
  keyboards/boardsource/equals/avr/info.json
  keyboards/boardsource/equals/avr/keymaps/default/keymap.c
  keyboards/boardsource/equals/avr/keymaps/via/keymap.c
  keyboards/boardsource/equals/avr/keymaps/via/rules.mk
  keyboards/boardsource/equals/equals.c
  keyboards/boardsource/equals/graphics/thintel15.qff.c
  keyboards/boardsource/equals/info.json
  keyboards/boardsource/equals/readme.md
  keyboards/boardsource/equals/ui.c
Labels: keyboard, keymap, via

#22473 Update stale.yml
  .github/workflows/stale.yml
Labels: CI

#22467 [Keyboard] Add Eden
  keyboards/zeix/eden/config.h
  keyboards/zeix/eden/info.json
  keyboards/zeix/eden/keymaps/default/keymap.c
  keyboards/zeix/eden/keymaps/via/keymap.c
  keyboards/zeix/eden/keymaps/via/rules.mk
  keyboards/zeix/eden/matrix_diagram.md
  keyboards/zeix/eden/readme.md
  keyboards/zeix/eden/rules.mk
Labels: keyboard, keymap, via

#22221 CLI refactoring for common build target APIs
  lib/python/qmk/build_targets.py
  lib/python/qmk/cli/clean.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/find.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/cli/generate/compilation_database.py
  lib/python/qmk/cli/mass_compile.py
  lib/python/qmk/commands.py
  lib/python/qmk/keyboard.py
  lib/python/qmk/search.py
Labels: python, cli, breaking_change_2023q4

#22466 [Keyboard] Add dnworks 997pt3
  keyboards/dnworks/9973/config.h
  keyboards/dnworks/9973/info.json
  keyboards/dnworks/9973/keymaps/default/keymap.c
  keyboards/dnworks/9973/keymaps/via/keymap.c
  keyboards/dnworks/9973/keymaps/via/rules.mk
  keyboards/dnworks/9973/readme.md
  keyboards/dnworks/9973/rules.mk
Labels: keyboard, keymap, via

#21801 [Doc] Improve RP2040 references
  docs/feature_converters.md
Labels: documentation

#22497 `qmk find`: Fix failure with multiple filters
  lib/python/qmk/search.py
Labels: python, cli

#22264 Enable linking of encoders to switch within layout macros
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  keyboards/drop/sense75/info.json
  lib/python/qmk/info.py
  lib/python/qmk/keyboard.py
Labels: enhancement, keyboard, documentation, python, cli, breaking_change_2023q4, dd

#22436 LED drivers: register naming cleanups
  drivers/led/aw20216s.c
  drivers/led/aw20216s.h
  drivers/led/issi/is31fl3218-simple.c
  drivers/led/issi/is31fl3218-simple.h
  drivers/led/issi/is31fl3218.c
  drivers/led/issi/is31fl3218.h
  drivers/led/issi/is31fl3731-simple.c
  drivers/led/issi/is31fl3731-simple.h
  drivers/led/issi/is31fl3731.c
  drivers/led/issi/is31fl3731.h
  drivers/led/issi/is31fl3733-simple.c
  drivers/led/issi/is31fl3733-simple.h
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3733.h
  drivers/led/issi/is31fl3736-simple.c
  drivers/led/issi/is31fl3736-simple.h
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3736.h
  drivers/led/issi/is31fl3737-simple.c
  drivers/led/issi/is31fl3737-simple.h
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3737.h
  drivers/led/issi/is31fl3741-simple.c
  drivers/led/issi/is31fl3741-simple.h
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31fl3741.h
  drivers/led/snled27351-simple.c
  drivers/led/snled27351-simple.h
  drivers/led/snled27351.c
  drivers/led/snled27351.h
  keyboards/input_club/k_type/is31fl3733-dual.c
  keyboards/input_club/k_type/is31fl3733-dual.h
  keyboards/keychron/c1_pro/ansi/rgb/config.h
  keyboards/keychron/c1_pro/ansi/white/config.h
  keyboards/keychron/q0/plus/config.h
  keyboards/keychron/q10/config.h
  keyboards/keychron/q1v2/config.h
  keyboards/keychron/q2/config.h
  keyboards/keychron/q3/config.h
  keyboards/keychron/q4/ansi/v1/config.h
  keyboards/keychron/q65/config.h
  keyboards/keychron/q7/config.h
  keyboards/keychron/q8/config.h
  keyboards/keychron/s1/ansi/rgb/config.h
  keyboards/keychron/s1/ansi/white/config.h
  keyboards/keychron/v1/config.h
  keyboards/keychron/v10/config.h
  keyboards/keychron/v2/config.h
  keyboards/keychron/v3/config.h
  keyboards/keychron/v7/config.h
  keyboards/keychron/v8/config.h
Labels: enhancement, core, keyboard, breaking_change_2023q4

#22280 Azoteq IQS5xx support
  builddefs/common_features.mk
  docs/feature_pointing_device.md
  drivers/sensors/azoteq_iqs5xx.c
  drivers/sensors/azoteq_iqs5xx.h
  quantum/pointing_device/pointing_device.h
  quantum/pointing_device/pointing_device_drivers.c
Labels: core, documentation, breaking_change_2023q4

#22523 Fix `qmk find` failure due to circular imports
  lib/python/qmk/build_targets.py
Labels: python, cli

#22525 CLI parallel search updates
  lib/python/qmk/cli/ci/validate_aliases.py
  lib/python/qmk/cli/generate/api.py
  lib/python/qmk/commands.py
  lib/python/qmk/keyboard.py
  lib/python/qmk/search.py
Labels: python, cli, no-ci, breaking_change_2023q4

#22480 Move BACKLIGHT_PWM_PERIOD to correct docs section
  docs/feature_backlight.md
Labels: bug, documentation, breaking_change_2023q4

#22528 [CLI] Remove duplicates from search results
  lib/python/qmk/build_targets.py
  lib/python/qmk/search.py
Labels: python, cli, breaking_change_2023q4

#22437 Migrate some dip switch config to info.json
  keyboards/abacus/config.h
  keyboards/abacus/info.json
  keyboards/ducky/one2mini/1861st/config.h
  keyboards/ducky/one2mini/1861st/info.json
  keyboards/ducky/one2sf/1967st/config.h
  keyboards/ducky/one2sf/1967st/info.json
  keyboards/handwired/6key/config.h
  keyboards/handwired/6key/info.json
  keyboards/helix/rev3_4rows/config.h
  keyboards/helix/rev3_4rows/info.json
  keyboards/helix/rev3_5rows/config.h
  keyboards/helix/rev3_5rows/info.json
  keyboards/inland/kb83/config.h
  keyboards/inland/kb83/info.json
  keyboards/inland/v83p/config.h
  keyboards/inland/v83p/info.json
  keyboards/jian/rev1/config.h
  keyboards/jian/rev1/info.json
  keyboards/mechwild/bbs/config.h
  keyboards/mechwild/bbs/info.json
  keyboards/mechwild/puckbuddy/config.h
  keyboards/mechwild/puckbuddy/info.json
  keyboards/mechwild/sugarglider/config.h
  keyboards/mechwild/sugarglider/info.json
  keyboards/miiiw/blackio83/info.json
  keyboards/miiiw/blackio83/rev_0100/config.h
  keyboards/pearlboards/pandora/config.h
  keyboards/pearlboards/pandora/info.json
  keyboards/planck/rev6/config.h
  keyboards/planck/rev6/info.json
  keyboards/planck/rev6_drop/config.h
  keyboards/planck/rev6_drop/info.json
  keyboards/planck/rev7/config.h
  keyboards/planck/rev7/info.json
  keyboards/planck/thk/config.h
  keyboards/planck/thk/info.json
  keyboards/preonic/rev3/config.h
  keyboards/preonic/rev3/info.json
  keyboards/preonic/rev3_drop/config.h
  keyboards/preonic/rev3_drop/info.json
  keyboards/rgbkb/sol3/config.h
  keyboards/rgbkb/sol3/rev1/info.json
Labels: optimization, keyboard, breaking_change_2023q4

#18416 Add darkproject/kd83a_bfg_edition keyboard
  keyboards/darkproject/kd83a_bfg_edition/config.h
  keyboards/darkproject/kd83a_bfg_edition/halconf.h
  keyboards/darkproject/kd83a_bfg_edition/info.json
  keyboards/darkproject/kd83a_bfg_edition/kd83a_bfg_edition.c
  keyboards/darkproject/kd83a_bfg_edition/kd83a_bfg_edition.h
  keyboards/darkproject/kd83a_bfg_edition/keymaps/default/keymap.c
  keyboards/darkproject/kd83a_bfg_edition/keymaps/default/rules.mk
  keyboards/darkproject/kd83a_bfg_edition/keymaps/via/keymap.c
  keyboards/darkproject/kd83a_bfg_edition/keymaps/via/rules.mk
  keyboards/darkproject/kd83a_bfg_edition/mcuconf.h
  keyboards/darkproject/kd83a_bfg_edition/readme.md
  keyboards/darkproject/kd83a_bfg_edition/rules.mk
Labels: keyboard, keymap, via

#22533 DC60: Fix 2u Backspace Support
  keyboards/alf/dc60/info.json
  keyboards/alf/dc60/matrix_diagram.md
Labels: bug, keyboard

#22323 V-USB: Add generic `send_report()` function
  tmk_core/protocol/vusb/protocol.c
  tmk_core/protocol/vusb/vusb.c
  tmk_core/protocol/vusb/vusb.h
Labels: enhancement, optimization, core, breaking_change_2023q4

#22398 V-USB: implement NKRO
  tmk_core/protocol/vusb/vusb.c
Labels: enhancement, core, breaking_change_2023q4

#19749 Cater for ECC failures in EFL wear-leveling.
  platforms/chibios/drivers/wear_leveling/wear_leveling_efl.c
  platforms/chibios/interrupt_handlers.c
  platforms/chibios/platform.mk
Labels: bug, core, breaking_change_2023q4

#22212 New RGB Animations - 4 "Starlight" Animation Variations
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix/animations/rgb_matrix_effects.inc
  quantum/rgb_matrix/animations/riverflow_anim.h
  quantum/rgb_matrix/animations/starlight_anim.h
  quantum/rgb_matrix/animations/starlight_dual_hue_anim.h
  quantum/rgb_matrix/animations/starlight_dual_sat_anim.h
Labels: core, documentation, breaking_change_2023q4

#22548 Remove symbolic linked userspace folder
  users/yanfali_wkl
Labels: keymap

#22549 Fix missed shutdown callbacks
  keyboards/bastardkb/dilemma/4x6_4/keymaps/via/keymap.c
  keyboards/miiiw/blackio83/blackio83.c
Labels: bug, keyboard, keymap, via, breaking_change_2023q4

#22222 QMK Userspace
  Makefile
  builddefs/build_json.mk
  builddefs/build_keyboard.mk
  builddefs/build_layout.mk
  builddefs/common_rules.mk
  data/schemas/definitions.jsonschema
  data/schemas/user_repo_v0.jsonschema
  data/schemas/user_repo_v1.jsonschema
  docs/_summary.md
  docs/cli_commands.md
  docs/newbs_external_userspace.md
  lib/python/qmk/build_targets.py
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/doctor/main.py
  lib/python/qmk/cli/format/json.py
  lib/python/qmk/cli/mass_compile.py
  lib/python/qmk/cli/new/keymap.py
  lib/python/qmk/cli/userspace/__init__.py
  lib/python/qmk/cli/userspace/add.py
  lib/python/qmk/cli/userspace/compile.py
  lib/python/qmk/cli/userspace/doctor.py
  lib/python/qmk/cli/userspace/list.py
  lib/python/qmk/cli/userspace/remove.py
  lib/python/qmk/commands.py
  lib/python/qmk/constants.py
  lib/python/qmk/json_encoders.py
  lib/python/qmk/keyboard.py
  lib/python/qmk/keymap.py
  lib/python/qmk/path.py
  lib/python/qmk/userspace.py
Labels: core, documentation, python, cli, breaking_change_2023q4, dd

#22552 `develop` 2023q4 changelog
  data/mappings/keyboard_aliases.hjson
  docs/ChangeLog/20231126.md
  docs/_summary.md
  docs/breaking_changes.md
  docs/breaking_changes_history.md
  docs/custom_quantum_functions.md
Labels: documentation, dd

#22419 Add Imera converter
  data/mappings/defaults.hjson
  data/schemas/keyboard.jsonschema
  docs/feature_converters.md
  docs/squeezing_avr.md
  platforms/chibios/converters/promicro_to_imera/_pin_defs.h
  platforms/chibios/converters/promicro_to_imera/converter.mk
Labels: core, documentation, dd, breaking_change_2024q1

#22555 Attempt to fix configurator.
  lib/python/qmk/userspace.py
Labels: bug, python, cli

#22567 Small QP surface docs update
  docs/quantum_painter.md
Labels: documentation

#22558 refactor: projectcain/vault35
  keyboards/projectcain/vault35/atmega32u4/info.json
  keyboards/projectcain/vault35/atmega32u4/rules.mk
  keyboards/projectcain/vault35/config.h
  keyboards/projectcain/vault35/info.json
  keyboards/projectcain/vault35/keymaps/default/keymap.c
  keyboards/projectcain/vault35/keymaps/default/rules.mk
  keyboards/projectcain/vault35/rules.mk
Labels: keyboard, keymap

#22568 Fixup compilation with `qmk compile -kb zzz -km all`.
  lib/python/qmk/cli/compile.py
Labels: bug, python, cli

#22511 [Doc]: Correct Markdown syntax errors.
  docs/feature_combo.md
  docs/feature_oled_driver.md
  docs/feature_pointing_device.md
  docs/feature_split_keyboard.md
  docs/newbs_building_firmware_workflow.md
Labels: bug, documentation

#22517 cablecardesigns/phoenix: correct layout data
  keyboards/cablecardesigns/phoenix/info.json
Labels: keyboard

#22463 add tokki
  keyboards/jaykeeb/tokki/info.json
  keyboards/jaykeeb/tokki/keymaps/default/keymap.c
  keyboards/jaykeeb/tokki/keymaps/via/keymap.c
  keyboards/jaykeeb/tokki/keymaps/via/rules.mk
  keyboards/jaykeeb/tokki/matrix_diagram.md
  keyboards/jaykeeb/tokki/readme.md
  keyboards/jaykeeb/tokki/rules.mk
Labels: keyboard, keymap, via

#22506 Add ScottoWing handwired keyboard
  keyboards/handwired/scottokeebs/scottowing/info.json
  keyboards/handwired/scottokeebs/scottowing/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottowing/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottowing/readme.md
  keyboards/handwired/scottokeebs/scottowing/rules.mk
Labels: keyboard, keymap

#22315 Add 5x13 and 6x13 ortho community layouts
  layouts/default/ortho_5x13/default_ortho_5x13/keymap.c
  layouts/default/ortho_5x13/info.json
  layouts/default/ortho_5x13/layout.json
  layouts/default/ortho_5x13/readme.md
  layouts/default/ortho_5x14/default_ortho_5x14/keymap.c
  layouts/default/ortho_6x13/default_ortho_6x13/keymap.c
  layouts/default/ortho_6x13/info.json
  layouts/default/ortho_6x13/layout.json
  layouts/default/ortho_6x13/readme.md
  layouts/default/readme.md
Labels: keymap

#22153 Add Smith and Rune Magnus support
  keyboards/smithrune/magnus/m75h/config.h
  keyboards/smithrune/magnus/m75h/halconf.h
  keyboards/smithrune/magnus/m75h/info.json
  keyboards/smithrune/magnus/m75h/keymaps/default/keymap.c
  keyboards/smithrune/magnus/m75h/keymaps/via/keymap.c
  keyboards/smithrune/magnus/m75h/keymaps/via/rules.mk
  keyboards/smithrune/magnus/m75h/m75h.c
  keyboards/smithrune/magnus/m75h/mcuconf.h
  keyboards/smithrune/magnus/m75h/rules.mk
  keyboards/smithrune/magnus/m75s/config.h
  keyboards/smithrune/magnus/m75s/halconf.h
  keyboards/smithrune/magnus/m75s/info.json
  keyboards/smithrune/magnus/m75s/keymaps/default/keymap.c
  keyboards/smithrune/magnus/m75s/keymaps/via/keymap.c
  keyboards/smithrune/magnus/m75s/keymaps/via/rules.mk
  keyboards/smithrune/magnus/m75s/mcuconf.h
  keyboards/smithrune/magnus/m75s/rules.mk
  keyboards/smithrune/magnus/readme.md
Labels: keyboard, keymap, via

#21687 Converted RGB matrix to use last_input_activity_elapsed().
  quantum/led_matrix/led_matrix.c
  quantum/rgb_matrix/rgb_matrix.c
Labels: core, breaking_change_2024q1

#22474 `keycapsss/plaid_pad`: switch to encoder map
  keyboards/keycapsss/plaid_pad/keymaps/default/keymap.c
  keyboards/keycapsss/plaid_pad/keymaps/default/rules.mk
  keyboards/keycapsss/plaid_pad/keymaps/oled/keymap.c
  keyboards/keycapsss/plaid_pad/keymaps/oled/rules.mk
  keyboards/keycapsss/plaid_pad/keymaps/via/keymap.c
  keyboards/keycapsss/plaid_pad/keymaps/via/rules.mk
Labels: enhancement, keymap, via

#22530 Add `APA102_LED_COUNT` define
  drivers/led/apa102.h
Labels: enhancement, core

#22571 nullbitsco/snap: reduce size of bongo_reactive
  keyboards/nullbitsco/snap/keymaps/bongo_reactive/config.h
Labels: keymap
