Repository qmk/qmk_firmware, pull requests merged in 2023-10, with the labels that each got.

#22174 Remove rosetta instructions for Apple Silicon
  docs/newbs_getting_started.md
Labels: documentation

#22064 Bastard Keyboards: Add support for Dilemma Max (4x6_4)
  keyboards/bastardkb/dilemma/4x6_4/4x6_4.c
  keyboards/bastardkb/dilemma/4x6_4/config.h
  keyboards/bastardkb/dilemma/4x6_4/halconf.h
  keyboards/bastardkb/dilemma/4x6_4/info.json
  keyboards/bastardkb/dilemma/4x6_4/keymaps/default/keymap.c
  keyboards/bastardkb/dilemma/4x6_4/keymaps/default/readme.md
  keyboards/bastardkb/dilemma/4x6_4/keymaps/via/config.h
  keyboards/bastardkb/dilemma/4x6_4/keymaps/via/keymap.c
  keyboards/bastardkb/dilemma/4x6_4/keymaps/via/readme.md
  keyboards/bastardkb/dilemma/4x6_4/keymaps/via/rules.mk
  keyboards/bastardkb/dilemma/4x6_4/mcuconf.h
  keyboards/bastardkb/dilemma/4x6_4/readme.md
  keyboards/bastardkb/dilemma/4x6_4/rules.mk
  keyboards/bastardkb/dilemma/readme.md
Labels: keyboard, keymap, via

#22179 Miscellaneous fixes for recently merged keyboards
  keyboards/bastardkb/dilemma/4x6_4/config.h
  keyboards/bastardkb/dilemma/4x6_4/info.json
  keyboards/bastardkb/dilemma/4x6_4/rules.mk
  keyboards/doio/kb12/config.h
  keyboards/era/klein/config.h
  keyboards/keychron/q9_plus/config.h
  keyboards/keychron/q9_plus/q9_plus.c
  keyboards/qck75/v1/config.h
  keyboards/sofle_choc/info.json
  keyboards/sofle_choc/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#22163 is31fl3737/3741: add LED Matrix support
  builddefs/common_features.mk
  docs/reference_info_json.md
  drivers/led/issi/is31fl3737-simple.c
  drivers/led/issi/is31fl3737-simple.h
  drivers/led/issi/is31fl3741-simple.c
  drivers/led/issi/is31fl3741-simple.h
  quantum/led_matrix/led_matrix.h
  quantum/led_matrix/led_matrix_drivers.c
Labels: enhancement, core, documentation

#22093 Add Soulstone keyboard
  keyboards/strech/soulstone/config.h
  keyboards/strech/soulstone/info.json
  keyboards/strech/soulstone/keymaps/default/keymap.c
  keyboards/strech/soulstone/keymaps/via/keymap.c
  keyboards/strech/soulstone/keymaps/via/rules.mk
  keyboards/strech/soulstone/readme.md
  keyboards/strech/soulstone/rules.mk
  keyboards/strech/soulstone/soulstone.c
Labels: keyboard, keymap, via

#22168 [Keyboard] Add SyenaKeyboards
  keyboards/syenakeyboards/aswagata/info.json
  keyboards/syenakeyboards/aswagata/keymaps/default/keymap.c
  keyboards/syenakeyboards/aswagata/keymaps/via/keymap.c
  keyboards/syenakeyboards/aswagata/keymaps/via/rules.mk
  keyboards/syenakeyboards/aswagata/readme.md
  keyboards/syenakeyboards/aswagata/rules.mk
Labels: keyboard, keymap, via, pr_checklist_pending

#22188 Fix memory leak in realloc failure handling
  quantum/painter/lvgl/qp_lvgl.c
Labels: bug, core

#22191 Fix minimum python version references
  docs/cli.md
  docs/cli_development.md
  docs/coding_conventions_python.md
Labels: documentation

#21965 Added /handwired/ziyoulang_k3_mod
  keyboards/handwired/ziyoulang_k3_mod/info.json
  keyboards/handwired/ziyoulang_k3_mod/keymaps/default/keymap.c
  keyboards/handwired/ziyoulang_k3_mod/keymaps/via/keymap.c
  keyboards/handwired/ziyoulang_k3_mod/keymaps/via/rules.mk
  keyboards/handwired/ziyoulang_k3_mod/readme.md
  keyboards/handwired/ziyoulang_k3_mod/rules.mk
Labels: keyboard, keymap, via

#21994 Update Keychron Q2
  keyboards/keychron/q2/ansi/ansi.c
  keyboards/keychron/q2/ansi/config.h
  keyboards/keychron/q2/ansi/info.json
  keyboards/keychron/q2/ansi/rules.mk
  keyboards/keychron/q2/ansi_encoder/ansi_encoder.c
  keyboards/keychron/q2/ansi_encoder/config.h
  keyboards/keychron/q2/ansi_encoder/info.json
  keyboards/keychron/q2/ansi_encoder/rules.mk
  keyboards/keychron/q2/config.h
  keyboards/keychron/q2/info.json
  keyboards/keychron/q2/iso/config.h
  keyboards/keychron/q2/iso/info.json
  keyboards/keychron/q2/iso/iso.c
  keyboards/keychron/q2/iso/rules.mk
  keyboards/keychron/q2/iso_encoder/config.h
  keyboards/keychron/q2/iso_encoder/info.json
  keyboards/keychron/q2/iso_encoder/iso_encoder.c
  keyboards/keychron/q2/iso_encoder/rules.mk
  keyboards/keychron/q2/jis/config.h
  keyboards/keychron/q2/jis/info.json
  keyboards/keychron/q2/jis/jis.c
  keyboards/keychron/q2/jis/rules.mk
  keyboards/keychron/q2/jis_encoder/config.h
  keyboards/keychron/q2/jis_encoder/info.json
  keyboards/keychron/q2/jis_encoder/jis_encoder.c
  keyboards/keychron/q2/jis_encoder/rules.mk
  keyboards/keychron/q2/readme.md
Labels: keyboard

#21995 Update Keychron Q3
  keyboards/keychron/q3/ansi/ansi.c
  keyboards/keychron/q3/ansi/config.h
  keyboards/keychron/q3/ansi/info.json
  keyboards/keychron/q3/ansi/rules.mk
  keyboards/keychron/q3/ansi_encoder/ansi_encoder.c
  keyboards/keychron/q3/ansi_encoder/config.h
  keyboards/keychron/q3/ansi_encoder/info.json
  keyboards/keychron/q3/ansi_encoder/rules.mk
  keyboards/keychron/q3/config.h
  keyboards/keychron/q3/info.json
  keyboards/keychron/q3/iso/config.h
  keyboards/keychron/q3/iso/info.json
  keyboards/keychron/q3/iso/iso.c
  keyboards/keychron/q3/iso/rules.mk
  keyboards/keychron/q3/iso_encoder/config.h
  keyboards/keychron/q3/iso_encoder/info.json
  keyboards/keychron/q3/iso_encoder/iso_encoder.c
  keyboards/keychron/q3/iso_encoder/rules.mk
  keyboards/keychron/q3/jis/config.h
  keyboards/keychron/q3/jis/info.json
  keyboards/keychron/q3/jis/jis.c
  keyboards/keychron/q3/jis/rules.mk
  keyboards/keychron/q3/jis_encoder/config.h
  keyboards/keychron/q3/jis_encoder/info.json
  keyboards/keychron/q3/jis_encoder/jis_encoder.c
  keyboards/keychron/q3/jis_encoder/rules.mk
  keyboards/keychron/q3/readme.md
Labels: keyboard

#21364 add Skyloong/GK61_V1 keyboard
  keyboards/skyloong/gk61/v1/config.h
  keyboards/skyloong/gk61/v1/halconf.h
  keyboards/skyloong/gk61/v1/info.json
  keyboards/skyloong/gk61/v1/keymaps/default/keymap.c
  keyboards/skyloong/gk61/v1/keymaps/via/keymap.c
  keyboards/skyloong/gk61/v1/keymaps/via/rules.mk
  keyboards/skyloong/gk61/v1/mcuconf.h
  keyboards/skyloong/gk61/v1/readme.md
  keyboards/skyloong/gk61/v1/rules.mk
  keyboards/skyloong/gk61/v1/v1.c
Labels: keyboard, keymap, via

#22107 Add the Split67 keyboard PCB to QMK
  keyboards/split67/config.h
  keyboards/split67/info.json
  keyboards/split67/keymaps/default/keymap.c
  keyboards/split67/keymaps/via/keymap.c
  keyboards/split67/keymaps/via/rules.mk
  keyboards/split67/readme.md
  keyboards/split67/rules.mk
Labels: keyboard, keymap, via

#22199 Monstargear XO87 Soldered: correct layout data
  keyboards/monstargear/xo87/solderable/info.json
Labels: enhancement, keyboard

#22142 Add Acheron Themis and its variants
  keyboards/acheron/themis/87h/87h.c
  keyboards/acheron/themis/87h/config.h
  keyboards/acheron/themis/87h/halconf.h
  keyboards/acheron/themis/87h/info.json
  keyboards/acheron/themis/87h/keymaps/default/keymap.c
  keyboards/acheron/themis/87h/keymaps/via/keymap.c
  keyboards/acheron/themis/87h/keymaps/via/rules.mk
  keyboards/acheron/themis/87h/mcuconf.h
  keyboards/acheron/themis/87h/rules.mk
  keyboards/acheron/themis/87htsc/87htsc.c
  keyboards/acheron/themis/87htsc/config.h
  keyboards/acheron/themis/87htsc/halconf.h
  keyboards/acheron/themis/87htsc/info.json
  keyboards/acheron/themis/87htsc/keymaps/default/keymap.c
  keyboards/acheron/themis/87htsc/keymaps/via/keymap.c
  keyboards/acheron/themis/87htsc/keymaps/via/rules.mk
  keyboards/acheron/themis/87htsc/mcuconf.h
  keyboards/acheron/themis/87htsc/rules.mk
  keyboards/acheron/themis/88htsc/88htsc.c
  keyboards/acheron/themis/88htsc/config.h
  keyboards/acheron/themis/88htsc/halconf.h
  keyboards/acheron/themis/88htsc/info.json
  keyboards/acheron/themis/88htsc/keymaps/default/keymap.c
  keyboards/acheron/themis/88htsc/keymaps/via/keymap.c
  keyboards/acheron/themis/88htsc/keymaps/via/rules.mk
  keyboards/acheron/themis/88htsc/mcuconf.h
  keyboards/acheron/themis/88htsc/rules.mk
  keyboards/acheron/themis/info.json
  keyboards/acheron/themis/readme.md
Labels: keyboard, keymap, via

#21628 ADD keyboard Projectd/75/Projectd_75_ ansi
  keyboards/projectd/75/ansi/ansi.c
  keyboards/projectd/75/ansi/ansi.h
  keyboards/projectd/75/ansi/config.h
  keyboards/projectd/75/ansi/halconf.h
  keyboards/projectd/75/ansi/info.json
  keyboards/projectd/75/ansi/keymaps/default/config.h
  keyboards/projectd/75/ansi/keymaps/default/keymap.c
  keyboards/projectd/75/ansi/keymaps/via/keymap.c
  keyboards/projectd/75/ansi/keymaps/via/rules.mk
  keyboards/projectd/75/ansi/mcuconf.h
  keyboards/projectd/75/ansi/readme.md
  keyboards/projectd/75/ansi/rules.mk
Labels: keyboard, keymap, via

#21652 [Keyboard] Add SP-111 v2 keyboard
  keyboards/viktus/sp111_v2/info.json
  keyboards/viktus/sp111_v2/keymaps/default/keymap.c
  keyboards/viktus/sp111_v2/keymaps/via/config.h
  keyboards/viktus/sp111_v2/keymaps/via/keymap.c
  keyboards/viktus/sp111_v2/keymaps/via/rules.mk
  keyboards/viktus/sp111_v2/readme.md
  keyboards/viktus/sp111_v2/rules.mk
  keyboards/viktus/sp111_v2/sp111_v2.c
Labels: keyboard, keymap, via

#22164 [Keyboard] Add qwertyqop60hs
  keyboards/zeix/qwertyqop60hs/config.h
  keyboards/zeix/qwertyqop60hs/info.json
  keyboards/zeix/qwertyqop60hs/keymaps/default/keymap.c
  keyboards/zeix/qwertyqop60hs/keymaps/via/keymap.c
  keyboards/zeix/qwertyqop60hs/keymaps/via/rules.mk
  keyboards/zeix/qwertyqop60hs/matrix_diagram.md
  keyboards/zeix/qwertyqop60hs/readme.md
  keyboards/zeix/qwertyqop60hs/rules.mk
Labels: keyboard, keymap, via

#21671 Leeloo revision 2 updates.
  keyboards/clickety_split/leeloo/info.json
  keyboards/clickety_split/leeloo/keymaps/default/config.h
  keyboards/clickety_split/leeloo/keymaps/default/keymap.c
  keyboards/clickety_split/leeloo/keymaps/default/rules.mk
  keyboards/clickety_split/leeloo/leeloo.c
  keyboards/clickety_split/leeloo/readme.md
  keyboards/clickety_split/leeloo/rev1/info.json
  keyboards/clickety_split/leeloo/rev2/config.h
  keyboards/clickety_split/leeloo/rev2/info.json
  keyboards/clickety_split/leeloo/rev2/rules.mk
  keyboards/clickety_split/leeloo/rules.mk
Labels: keyboard, keymap

#20591 Added 3dp660 oled keyboard
  keyboards/handwired/3dp660_oled/3dp660_oled.c
  keyboards/handwired/3dp660_oled/info.json
  keyboards/handwired/3dp660_oled/keymaps/default/keymap.c
  keyboards/handwired/3dp660_oled/keymaps/via/keymap.c
  keyboards/handwired/3dp660_oled/keymaps/via/rules.mk
  keyboards/handwired/3dp660_oled/readme.md
  keyboards/handwired/3dp660_oled/rules.mk
Labels: keyboard, keymap, via

#22054 Created Wave keyboard
  keyboards/etiennecollin/wave/info.json
  keyboards/etiennecollin/wave/keymaps/default/config.h
  keyboards/etiennecollin/wave/keymaps/default/keymap.json
  keyboards/etiennecollin/wave/keymaps/default/readme.md
  keyboards/etiennecollin/wave/keymaps/feature/config.h
  keyboards/etiennecollin/wave/keymaps/feature/keymap.c
  keyboards/etiennecollin/wave/keymaps/feature/readme.md
  keyboards/etiennecollin/wave/keymaps/feature/rules.mk
  keyboards/etiennecollin/wave/keymaps/test/keymap.json
  keyboards/etiennecollin/wave/keymaps/test/readme.md
  keyboards/etiennecollin/wave/readme.md
  keyboards/etiennecollin/wave/rules.mk
Labels: keyboard, keymap

#22172 Add Line TKL keyboard.
  keyboards/studiokestra/line_tkl/config.h
  keyboards/studiokestra/line_tkl/info.json
  keyboards/studiokestra/line_tkl/keymaps/default/keymap.c
  keyboards/studiokestra/line_tkl/keymaps/split_bs_rshift/keymap.c
  keyboards/studiokestra/line_tkl/keymaps/via/keymap.c
  keyboards/studiokestra/line_tkl/keymaps/via/rules.mk
  keyboards/studiokestra/line_tkl/readme.md
  keyboards/studiokestra/line_tkl/rules.mk
Labels: keyboard, keymap, via

#21202 Add printedpad keyboard
  keyboards/printedpad/config.h
  keyboards/printedpad/halconf.h
  keyboards/printedpad/info.json
  keyboards/printedpad/keymaps/default/keymap.c
  keyboards/printedpad/keymaps/via/keymap.c
  keyboards/printedpad/keymaps/via/rules.mk
  keyboards/printedpad/mcuconf.h
  keyboards/printedpad/oled.c
  keyboards/printedpad/printedpad.c
  keyboards/printedpad/printedpad.h
  keyboards/printedpad/readme.md
  keyboards/printedpad/rules.mk
Labels: keyboard, keymap, via

#22068 Update Keychron Q0
  data/mappings/keyboard_aliases.hjson
  keyboards/keychron/q0/base/base.c
  keyboards/keychron/q0/base/config.h
  keyboards/keychron/q0/base/info.json
  keyboards/keychron/q0/base/keymaps/default/keymap.c
  keyboards/keychron/q0/base/keymaps/keychron/keymap.c
  keyboards/keychron/q0/base/keymaps/keychron/rules.mk
  keyboards/keychron/q0/base/keymaps/via/keymap.c
  keyboards/keychron/q0/base/keymaps/via/rules.mk
  keyboards/keychron/q0/base/readme.md
  keyboards/keychron/q0/base/rules.mk
  keyboards/keychron/q0/config.h
  keyboards/keychron/q0/info.json
  keyboards/keychron/q0/plus/config.h
  keyboards/keychron/q0/plus/info.json
  keyboards/keychron/q0/plus/keymaps/default/keymap.c
  keyboards/keychron/q0/plus/keymaps/default/rules.mk
  keyboards/keychron/q0/plus/keymaps/keychron/keymap.c
  keyboards/keychron/q0/plus/keymaps/keychron/rules.mk
  keyboards/keychron/q0/plus/keymaps/via/keymap.c
  keyboards/keychron/q0/plus/keymaps/via/rules.mk
  keyboards/keychron/q0/plus/plus.c
  keyboards/keychron/q0/plus/readme.md
  keyboards/keychron/q0/plus/rules.mk
  keyboards/keychron/q0/readme.md
  keyboards/keychron/q0/rev_0130/rules.mk
  keyboards/keychron/q0/rev_0131/readme.md
  keyboards/keychron/q0/rev_0131/rules.mk
Labels: keyboard, keymap, via, dd

#22205 Add `qmk ci-validate-aliases`
  .github/workflows/lint.yml
  data/mappings/keyboard_aliases.hjson
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/ci/__init__.py
  lib/python/qmk/cli/ci/validate_aliases.py
  lib/python/qmk/commands.py
  lib/python/qmk/keyboard.py
Labels: python, cli, CI, dd

#22211 Move orphaned Yugo-M files
  keyboards/ibm/model_m/yugo_m/keymaps/an_achronism_106/keymap.c
  keyboards/ibm/model_m/yugo_m/keymaps/an_achronism_106/readme.md
  keyboards/ibm/model_m/yugo_m/keymaps/via/keymap.c
  keyboards/ibm/model_m/yugo_m/keymaps/via/rules.mk
  keyboards/ibm/model_m/yugo_m/matrix_diagram.md
Labels: bug, keyboard, keymap, via

#22203 Klein_HS PCB support
  keyboards/era/sirind/klein_hs/config.h
  keyboards/era/sirind/klein_hs/halconf.h
  keyboards/era/sirind/klein_hs/info.json
  keyboards/era/sirind/klein_hs/keymaps/default/keymap.c
  keyboards/era/sirind/klein_hs/keymaps/via/keymap.c
  keyboards/era/sirind/klein_hs/keymaps/via/rules.mk
  keyboards/era/sirind/klein_hs/mcuconf.h
  keyboards/era/sirind/klein_hs/readme.md
  keyboards/era/sirind/klein_hs/rules.mk
Labels: keyboard, keymap, via

#22215 Update vid for printedpad
  keyboards/printedpad/info.json
Labels: keyboard

#21474 Adding BriianPowell Discipline Keyboard Layout Updates
  keyboards/coseyfannitutti/discipline/keymaps/briianpowell/keymap.c
Labels: keymap

#19005 [Bugfix] `qp_ellipse` overflow
  quantum/painter/qp_draw_ellipse.c
Labels: core, awaiting review, breaking_change_2023q4

#21576 partially modernize `dactyl_minidox`
  keyboards/handwired/dactyl_minidox/info.json
  keyboards/handwired/dactyl_minidox/rules.mk
Labels: keyboard

#22227 Flag vial keymaps in 'qmk lint'
  .gitignore
  lib/python/qmk/cli/lint.py
Labels: python, cli

#22229 Fix build error when Automatic Mouse Layer is enabled
  quantum/pointing_device/pointing_device_auto_mouse.c
Labels: bug, core

#21142 Add new keyboard: vinhcatba/uncertainty
  keyboards/vinhcatba/uncertainty/bongo.c
  keyboards/vinhcatba/uncertainty/bongo.h
  keyboards/vinhcatba/uncertainty/config.h
  keyboards/vinhcatba/uncertainty/halconf.h
  keyboards/vinhcatba/uncertainty/info.json
  keyboards/vinhcatba/uncertainty/keymaps/default/keymap.c
  keyboards/vinhcatba/uncertainty/keymaps/default/rules.mk
  keyboards/vinhcatba/uncertainty/keymaps/via/keymap.c
  keyboards/vinhcatba/uncertainty/keymaps/via/rules.mk
  keyboards/vinhcatba/uncertainty/mcuconf.h
  keyboards/vinhcatba/uncertainty/readme.md
  keyboards/vinhcatba/uncertainty/rules.mk
  keyboards/vinhcatba/uncertainty/uncertainty.c
  keyboards/vinhcatba/uncertainty/uncertainty.h
Labels: keyboard, keymap, via

#21327 Added Split-Cloud, a Handwired Keyboard
  keyboards/handwired/split_cloud/config.h
  keyboards/handwired/split_cloud/info.json
  keyboards/handwired/split_cloud/keymaps/default/config.h
  keyboards/handwired/split_cloud/keymaps/default/keymap.c
  keyboards/handwired/split_cloud/keymaps/default/rules.mk
  keyboards/handwired/split_cloud/readme.md
  keyboards/handwired/split_cloud/rules.mk
Labels: keyboard, keymap

#22232 Fix typo in `docs/feature_tri_layer.md`
  docs/feature_tri_layer.md
Labels: documentation

#22235 avrdude: Version 7.2 changes the text output
  platforms/avr/flash.mk
Labels: core

#21143 Added support keyboard Nyx
  keyboards/horrortroll/nyx/rev1/config.h
  keyboards/horrortroll/nyx/rev1/info.json
  keyboards/horrortroll/nyx/rev1/keymaps/default/keymap.c
  keyboards/horrortroll/nyx/rev1/keymaps/via/keymap.c
  keyboards/horrortroll/nyx/rev1/keymaps/via/rules.mk
  keyboards/horrortroll/nyx/rev1/lib/startup_swirl_anim.h
  keyboards/horrortroll/nyx/rev1/nyx.c
  keyboards/horrortroll/nyx/rev1/readme.md
  keyboards/horrortroll/nyx/rev1/rgb_matrix_kb.inc
  keyboards/horrortroll/nyx/rev1/rules.mk
  keyboards/horrortroll/readme.md
Labels: keyboard, keymap, via

#22238 Fix old usage of UNICODE_MODE_MAC
  docs/feature_unicode.md
Labels: documentation

#22239 Resolve invalid keyboard alias targets
  data/mappings/keyboard_aliases.hjson
Labels: bug

#21970 [Keyboard] Add MIIIW BlackIO83
  keyboards/miiiw/blackio83/blackio83.c
  keyboards/miiiw/blackio83/blackio83.h
  keyboards/miiiw/blackio83/config.h
  keyboards/miiiw/blackio83/halconf.h
  keyboards/miiiw/blackio83/info.json
  keyboards/miiiw/blackio83/keymaps/default/keymap.c
  keyboards/miiiw/blackio83/keymaps/via/keymap.c
  keyboards/miiiw/blackio83/keymaps/via/rules.mk
  keyboards/miiiw/blackio83/matrix.c
  keyboards/miiiw/blackio83/mcuconf.h
  keyboards/miiiw/blackio83/readme.md
  keyboards/miiiw/blackio83/rev_0100/config.h
  keyboards/miiiw/blackio83/rev_0100/rev_0100.c
  keyboards/miiiw/blackio83/rev_0100/rules.mk
  keyboards/miiiw/common/shift_register.c
  keyboards/miiiw/common/shift_register.h
Labels: keyboard, keymap, via

#20542 [Keyboard]Add m3 keyboard.
  keyboards/monsgeek/m3/config.h
  keyboards/monsgeek/m3/halconf.h
  keyboards/monsgeek/m3/info.json
  keyboards/monsgeek/m3/keymaps/default/keymap.c
  keyboards/monsgeek/m3/keymaps/via/keymap.c
  keyboards/monsgeek/m3/keymaps/via/rules.mk
  keyboards/monsgeek/m3/m3.c
  keyboards/monsgeek/m3/mcuconf.h
  keyboards/monsgeek/m3/readme.md
  keyboards/monsgeek/m3/rules.mk
Labels: keyboard, keymap, via

#22246 Add missing gpio include for pointing motion pin
  quantum/pointing_device/pointing_device.c
Labels: bug, core

#22186 add h101 PCB
  keyboards/hineybush/h101/info.json
  keyboards/hineybush/h101/keymaps/default/keymap.c
  keyboards/hineybush/h101/keymaps/via/keymap.c
  keyboards/hineybush/h101/keymaps/via/rules.mk
  keyboards/hineybush/h101/readme.md
  keyboards/hineybush/h101/rules.mk
Labels: keyboard, keymap, via

#22236 Leeloo v2.1 revision 3 updates.
  keyboards/clickety_split/leeloo/leeloo.c
  keyboards/clickety_split/leeloo/readme.md
  keyboards/clickety_split/leeloo/rev3/config.h
  keyboards/clickety_split/leeloo/rev3/info.json
  keyboards/clickety_split/leeloo/rev3/rules.mk
  keyboards/clickety_split/leeloo/rules.mk
Labels: keyboard

#21811 add 60_(ansi|iso)_wkl* community layouts
  layouts/default/60_ansi_wkl/default_60_ansi_wkl/keymap.c
  layouts/default/60_ansi_wkl/info.json
  layouts/default/60_ansi_wkl/layout.json
  layouts/default/60_ansi_wkl/readme.md
  layouts/default/60_ansi_wkl_split_bs_rshift/default_60_ansi_wkl_split_bs_rshift/keymap.c
  layouts/default/60_ansi_wkl_split_bs_rshift/info.json
  layouts/default/60_ansi_wkl_split_bs_rshift/layout.json
  layouts/default/60_ansi_wkl_split_bs_rshift/readme.md
  layouts/default/60_iso_wkl/default_60_iso_wkl/keymap.c
  layouts/default/60_iso_wkl/info.json
  layouts/default/60_iso_wkl/layout.json
  layouts/default/60_iso_wkl/readme.md
  layouts/default/60_iso_wkl_split_bs_rshift/default_60_iso_wkl_split_bs_rshift/keymap.c
  layouts/default/60_iso_wkl_split_bs_rshift/info.json
  layouts/default/60_iso_wkl_split_bs_rshift/layout.json
  layouts/default/60_iso_wkl_split_bs_rshift/readme.md
  layouts/default/readme.md
Labels: keymap

#22247 Keyboard change blu/vimclutch to hardware revision B.
  keyboards/blu/vimclutch/info.json
  keyboards/blu/vimclutch/readme.md
Labels: keyboard

#21609 Add Ratio60 PCB
  keyboards/rationalist/ratio60_hotswap/keymaps/default/keymap.c
  keyboards/rationalist/ratio60_hotswap/keymaps/default/rules.mk
  keyboards/rationalist/ratio60_hotswap/keymaps/via/keymap.c
  keyboards/rationalist/ratio60_hotswap/keymaps/via/rules.mk
  keyboards/rationalist/ratio60_hotswap/readme.md
  keyboards/rationalist/ratio60_hotswap/rev_a/config.h
  keyboards/rationalist/ratio60_hotswap/rev_a/info.json
  keyboards/rationalist/ratio60_hotswap/rev_a/rules.mk
Labels: keyboard, keymap, via

#21812 add `60_iso_tsangan_split_bs_rshift` Community Layout
  layouts/default/60_iso_tsangan_split_bs_rshift/default_60_iso_tsangan_split_bs_rshift/keymap.c
  layouts/default/60_iso_tsangan_split_bs_rshift/info.json
  layouts/default/60_iso_tsangan_split_bs_rshift/layout.json
  layouts/default/60_iso_tsangan_split_bs_rshift/readme.md
  layouts/default/readme.md
Labels: keymap

#22217 Kisakey
  keyboards/kisakeyluxury/qtz/config.h
  keyboards/kisakeyluxury/qtz/info.json
  keyboards/kisakeyluxury/qtz/keymaps/default/config.h
  keyboards/kisakeyluxury/qtz/keymaps/default/keymap.c
  keyboards/kisakeyluxury/qtz/keymaps/default/rules.mk
  keyboards/kisakeyluxury/qtz/readme.md
  keyboards/kisakeyluxury/qtz/rules.mk
Labels: keyboard, keymap

#22258 Reword mention of personal keymaps from PR checklist
  docs/pr_checklist.md
Labels: documentation

#22154 Add support for CSTC40 keyboard
  keyboards/kprepublic/cstc40/config.h
  keyboards/kprepublic/cstc40/daughterboard/daughterboard.c
  keyboards/kprepublic/cstc40/daughterboard/info.json
  keyboards/kprepublic/cstc40/daughterboard/rules.mk
  keyboards/kprepublic/cstc40/halconf.h
  keyboards/kprepublic/cstc40/info.json
  keyboards/kprepublic/cstc40/keymaps/default/keymap.c
  keyboards/kprepublic/cstc40/keymaps/default/rules.mk
  keyboards/kprepublic/cstc40/keymaps/via/keymap.c
  keyboards/kprepublic/cstc40/keymaps/via/rules.mk
  keyboards/kprepublic/cstc40/mcuconf.h
  keyboards/kprepublic/cstc40/readme.md
  keyboards/kprepublic/cstc40/single_pcb/info.json
  keyboards/kprepublic/cstc40/single_pcb/rules.mk
  keyboards/kprepublic/cstc40/single_pcb/single_pcb.c
Labels: keyboard, keymap, via

#17544 Add support for EnviousDesign keyboards
  keyboards/enviousdesign/60f/info.json
  keyboards/enviousdesign/60f/keymaps/default/keymap.c
  keyboards/enviousdesign/60f/keymaps/via/keymap.c
  keyboards/enviousdesign/60f/keymaps/via/rules.mk
  keyboards/enviousdesign/60f/readme.md
  keyboards/enviousdesign/60f/rules.mk
  keyboards/enviousdesign/65m/info.json
  keyboards/enviousdesign/65m/keymaps/default/keymap.c
  keyboards/enviousdesign/65m/keymaps/via/keymap.c
  keyboards/enviousdesign/65m/keymaps/via/rules.mk
  keyboards/enviousdesign/65m/readme.md
  keyboards/enviousdesign/65m/rules.mk
  keyboards/enviousdesign/commissions/mini1800/info.json
  keyboards/enviousdesign/commissions/mini1800/keymaps/default/keymap.c
  keyboards/enviousdesign/commissions/mini1800/keymaps/via/keymap.c
  keyboards/enviousdesign/commissions/mini1800/keymaps/via/rules.mk
  keyboards/enviousdesign/commissions/mini1800/mini1800.c
  keyboards/enviousdesign/commissions/mini1800/readme.md
  keyboards/enviousdesign/commissions/mini1800/rules.mk
  keyboards/enviousdesign/delirium/readme.md
  keyboards/enviousdesign/delirium/rev0/info.json
  keyboards/enviousdesign/delirium/rev0/keymaps/default/keymap.c
  keyboards/enviousdesign/delirium/rev0/rules.mk
  keyboards/enviousdesign/delirium/rev1/info.json
  keyboards/enviousdesign/delirium/rev1/keymaps/default/keymap.c
  keyboards/enviousdesign/delirium/rev1/keymaps/via/keymap.c
  keyboards/enviousdesign/delirium/rev1/keymaps/via/rules.mk
  keyboards/enviousdesign/delirium/rev1/rules.mk
  keyboards/enviousdesign/delirium/rgb/info.json
  keyboards/enviousdesign/delirium/rgb/keymaps/default/keymap.c
  keyboards/enviousdesign/delirium/rgb/rgb.c
  keyboards/enviousdesign/delirium/rgb/rules.mk
  keyboards/enviousdesign/mcro/readme.md
  keyboards/enviousdesign/mcro/rev1/info.json
  keyboards/enviousdesign/mcro/rev1/keymaps/default/keymap.c
  keyboards/enviousdesign/mcro/rev1/keymaps/via/keymap.c
  keyboards/enviousdesign/mcro/rev1/keymaps/via/rules.mk
  keyboards/enviousdesign/mcro/rev1/rules.mk
Labels: keyboard, keymap, via

#21450 Add Skyloong/Gk61 PRO keyboard
  keyboards/skyloong/gk61/pro/config.h
  keyboards/skyloong/gk61/pro/halconf.h
  keyboards/skyloong/gk61/pro/info.json
  keyboards/skyloong/gk61/pro/keymaps/default/keymap.c
  keyboards/skyloong/gk61/pro/keymaps/default/rules.mk
  keyboards/skyloong/gk61/pro/keymaps/via/keymap.c
  keyboards/skyloong/gk61/pro/keymaps/via/rules.mk
  keyboards/skyloong/gk61/pro/mcuconf.h
  keyboards/skyloong/gk61/pro/pro.c
  keyboards/skyloong/gk61/pro/readme.md
  keyboards/skyloong/gk61/pro/rules.mk
Labels: keyboard, keymap, via

#21725 [Keyboard]add v83p keyboard.
  keyboards/inland/v83p/config.h
  keyboards/inland/v83p/halconf.h
  keyboards/inland/v83p/info.json
  keyboards/inland/v83p/keymaps/default/keymap.c
  keyboards/inland/v83p/keymaps/default/rules.mk
  keyboards/inland/v83p/keymaps/via/keymap.c
  keyboards/inland/v83p/keymaps/via/rules.mk
  keyboards/inland/v83p/mcuconf.h
  keyboards/inland/v83p/readme.md
  keyboards/inland/v83p/rules.mk
  keyboards/inland/v83p/v83p.c
Labels: keyboard, keymap, via

#21747 Add RPNeko65 Keyboard
  keyboards/lendunistus/rpneko65/rev1/config.h
  keyboards/lendunistus/rpneko65/rev1/info.json
  keyboards/lendunistus/rpneko65/rev1/keymaps/default/keymap.c
  keyboards/lendunistus/rpneko65/rev1/keymaps/via/keymap.c
  keyboards/lendunistus/rpneko65/rev1/keymaps/via/rules.mk
  keyboards/lendunistus/rpneko65/rev1/readme.md
  keyboards/lendunistus/rpneko65/rev1/rev1.c
  keyboards/lendunistus/rpneko65/rev1/rules.mk
Labels: keyboard, keymap, via

#21654 Add Skyloong/Gk61_pro_48 keyboard
  keyboards/skyloong/gk61/pro_48/config.h
  keyboards/skyloong/gk61/pro_48/halconf.h
  keyboards/skyloong/gk61/pro_48/info.json
  keyboards/skyloong/gk61/pro_48/keymaps/default/keymap.c
  keyboards/skyloong/gk61/pro_48/keymaps/default/rules.mk
  keyboards/skyloong/gk61/pro_48/keymaps/via/keymap.c
  keyboards/skyloong/gk61/pro_48/keymaps/via/rules.mk
  keyboards/skyloong/gk61/pro_48/mcuconf.h
  keyboards/skyloong/gk61/pro_48/pro_48.c
  keyboards/skyloong/gk61/pro_48/readme.md
  keyboards/skyloong/gk61/pro_48/rules.mk
Labels: keyboard, keymap, via

#21846 amend alice* community_layouts in keyboards
  keyboards/kapcave/arya/info.json
  keyboards/kapcave/arya/matrix_diagram.md
  keyboards/linworks/dolice/info.json
  keyboards/linworks/dolice/matrix_diagram.md
  keyboards/tgr/alice/info.json
  keyboards/westm/westmergo/info.json
  keyboards/xelus/valor/rev1/info.json
  keyboards/xelus/valor/rev1/matrix_diagram.md
  keyboards/xelus/valor/rev2/info.json
  keyboards/xelus/valor/rev2/matrix_diagram.md
  keyboards/yiancardesigns/seigaiha/info.json
  keyboards/yiancardesigns/seigaiha/matrix_diagram.md
Labels: keyboard

#22077 add support for Okayu
  keyboards/sawnsprojects/okayu/halconf.h
  keyboards/sawnsprojects/okayu/info.json
  keyboards/sawnsprojects/okayu/keymaps/default/keymap.c
  keyboards/sawnsprojects/okayu/keymaps/via/keymap.c
  keyboards/sawnsprojects/okayu/keymaps/via/rules.mk
  keyboards/sawnsprojects/okayu/readme.md
  keyboards/sawnsprojects/okayu/rules.mk
  keyboards/sawnsprojects/okayu/stm32f072/config.h
  keyboards/sawnsprojects/okayu/stm32f072/info.json
  keyboards/sawnsprojects/okayu/stm32f072/mcuconf.h
  keyboards/sawnsprojects/okayu/stm32f072/rules.mk
  keyboards/sawnsprojects/okayu/stm32f103/config.h
  keyboards/sawnsprojects/okayu/stm32f103/info.json
  keyboards/sawnsprojects/okayu/stm32f103/mcuconf.h
  keyboards/sawnsprojects/okayu/stm32f103/rules.mk
  keyboards/sawnsprojects/okayu/stm32f303/config.h
  keyboards/sawnsprojects/okayu/stm32f303/info.json
  keyboards/sawnsprojects/okayu/stm32f303/mcuconf.h
  keyboards/sawnsprojects/okayu/stm32f303/rules.mk
Labels: keyboard, keymap, via

#22248 jian/rev1: convert to DIP Switch
  keyboards/jian/keymaps/advanced/config.h
  keyboards/jian/keymaps/advanced/keymap.c
  keyboards/jian/rev1/config.h
  keyboards/jian/rev1/info.json
  keyboards/jian/rev1/rules.mk
Labels: enhancement, keyboard, keymap

#22266 navpad1.0 - enable encoder map
  keyboards/yushakobo/navpad/10/keymaps/via/keymap.c
  keyboards/yushakobo/navpad/10/keymaps/via/rules.mk
Labels: keymap, via

#20573 Add jukaie/jk01 keyboard
  keyboards/jukaie/jk01/config.h
  keyboards/jukaie/jk01/halconf.h
  keyboards/jukaie/jk01/info.json
  keyboards/jukaie/jk01/jk01.c
  keyboards/jukaie/jk01/jk01.h
  keyboards/jukaie/jk01/keymaps/default/keymap.c
  keyboards/jukaie/jk01/keymaps/default/rules.mk
  keyboards/jukaie/jk01/keymaps/via/keymap.c
  keyboards/jukaie/jk01/keymaps/via/rules.mk
  keyboards/jukaie/jk01/mcuconf.h
  keyboards/jukaie/jk01/readme.md
  keyboards/jukaie/jk01/rules.mk
Labels: keyboard, keymap, via

#22268 Prep work for NKRO report separation
  keyboards/annepro2/annepro2_ble.c
  keyboards/bioi/bluetooth_custom.c
  keyboards/sawnsprojects/okayu/stm32f072/config.h
  keyboards/sawnsprojects/okayu/stm32f103/config.h
  keyboards/sawnsprojects/okayu/stm32f303/config.h
  platforms/chibios/drivers/eeprom/eeprom_kinetis_flexram.c
  quantum/eeconfig.h
  quantum/quantum.h
  tmk_core/protocol/report.c
  tmk_core/protocol/report.h
  tmk_core/protocol/usb_descriptor.c
  users/brandonschlack/brandonschlack.c
Labels: bug, enhancement, core, keyboard, keymap

#22272 Fix typo in keychron v6 encoder map enable
  keyboards/keychron/v6/ansi_encoder/keymaps/via/rules.mk
Labels: keymap, via

#22160 Allow for disabling of parallel processing of qmk find and `qmk mass-compile`.
  lib/python/qmk/cli/find.py
  lib/python/qmk/cli/mass_compile.py
  lib/python/qmk/search.py
  lib/python/qmk/util.py
Labels: python, cli

#22193 Support additional split sync items for info.json
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  lib/python/qmk/info.py
Labels: enhancement, documentation, python, cli, dd

#22297 ChibiOS pin defs: use only vendor if present
  platforms/chibios/_pin_defs.h
Labels: bug, enhancement, core

#22307 Fixup symbol sizing listing.
  builddefs/build_keyboard.mk
Labels: bug, core

#22305 Migrate recently introduced sync items
  keyboards/ai03/orbit/config.h
  keyboards/ai03/orbit/info.json
  keyboards/boardsource/unicorne/config.h
  keyboards/boardsource/unicorne/info.json
  keyboards/buzzard/rev1/config.h
  keyboards/buzzard/rev1/info.json
  keyboards/clickety_split/leeloo/rev2/info.json
  keyboards/clickety_split/leeloo/rev3/info.json
  keyboards/controllerworks/mini36/config.h
  keyboards/controllerworks/mini36/info.json
  keyboards/controllerworks/mini42/config.h
  keyboards/controllerworks/mini42/info.json
  keyboards/handwired/tsubasa/config.h
  keyboards/handwired/tsubasa/info.json
  keyboards/helix/rev2/config.h
  keyboards/helix/rev2/info.json
  keyboards/hotdox76v2/config.h
  keyboards/hotdox76v2/info.json
  keyboards/jorne/rev1/config.h
  keyboards/jorne/rev1/info.json
  keyboards/kapl/rev1/config.h
  keyboards/kapl/rev1/info.json
  keyboards/keebio/iris/rev8/info.json
  keyboards/keebio/nyquist/rev4/info.json
  keyboards/keebio/sinc/rev1/config.h
  keyboards/keebio/sinc/rev1/info.json
  keyboards/keebio/sinc/rev2/config.h
  keyboards/keebio/sinc/rev2/info.json
  keyboards/keychron/q11/info.json
  keyboards/lime/rev1/config.h
  keyboards/lime/rev1/info.json
  keyboards/mechwild/mokulua/mirrored/config.h
  keyboards/mechwild/mokulua/mirrored/info.json
  keyboards/mechwild/mokulua/standard/config.h
  keyboards/mechwild/mokulua/standard/info.json
  keyboards/mlego/m60_split/rev1/config.h
  keyboards/mlego/m60_split/rev1/info.json
  keyboards/mlego/m60_split/rev2/config.h
  keyboards/mlego/m60_split/rev2/info.json
  keyboards/nullbitsco/snap/config.h
  keyboards/nullbitsco/snap/info.json
  keyboards/rgbkb/mun/config.h
  keyboards/rgbkb/mun/rev1/info.json
  keyboards/rgbkb/sol3/config.h
  keyboards/rgbkb/sol3/rev1/info.json
  keyboards/sofle/keyhive/config.h
  keyboards/sofle/keyhive/info.json
  keyboards/spleeb/config.h
  keyboards/spleeb/info.json
  keyboards/stront/config.h
  keyboards/stront/info.json
  keyboards/tweetydabird/lotus58/config.h
  keyboards/tweetydabird/lotus58/info.json
  keyboards/tzarc/djinn/config.h
  keyboards/tzarc/djinn/info.json
  keyboards/waterfowl/config.h
  keyboards/waterfowl/info.json
Labels: keyboard

#22312 Fix invalid LED driver config
  drivers/led/snled27351.h
  keyboards/kprepublic/bm60hsrgb/rev2/config.h
  keyboards/kprepublic/bm60hsrgb_ec/rev2/config.h
  keyboards/projectd/65/projectd_65_ansi/config.h
Labels: bug, core, keyboard

#19997 [QP] Add support for OLED, variable framebuffer bpp
  builddefs/build_keyboard.mk
  docs/quantum_painter.md
  drivers/painter/comms/qp_comms_dummy.c
  drivers/painter/comms/qp_comms_dummy.h
  drivers/painter/comms/qp_comms_i2c.c
  drivers/painter/comms/qp_comms_i2c.h
  drivers/painter/comms/qp_comms_spi.c
  drivers/painter/comms/qp_comms_spi.h
  drivers/painter/gc9a01/qp_gc9a01.c
  drivers/painter/gc9a01/qp_gc9a01.h
  drivers/painter/gc9a01/qp_gc9a01_opcodes.h
  drivers/painter/generic/qp_rgb565_surface.c
  drivers/painter/generic/qp_rgb565_surface.h
  drivers/painter/generic/qp_surface.h
  drivers/painter/generic/qp_surface_common.c
  drivers/painter/generic/qp_surface_internal.h
  drivers/painter/generic/qp_surface_mono1bpp.c
  drivers/painter/generic/qp_surface_rgb565.c
  drivers/painter/ili9xxx/qp_ili9163.c
  drivers/painter/ili9xxx/qp_ili9163.h
  drivers/painter/ili9xxx/qp_ili9341.c
  drivers/painter/ili9xxx/qp_ili9341.h
  drivers/painter/ili9xxx/qp_ili9488.c
  drivers/painter/ili9xxx/qp_ili9488.h
  drivers/painter/oled_panel/qp_oled_panel.c
  drivers/painter/oled_panel/qp_oled_panel.h
  drivers/painter/sh1106/qp_sh1106.c
  drivers/painter/sh1106/qp_sh1106.h
  drivers/painter/sh1106/qp_sh1106_opcodes.h
  drivers/painter/ssd1351/qp_ssd1351.c
  drivers/painter/ssd1351/qp_ssd1351.h
  drivers/painter/ssd1351/qp_ssd1351_opcodes.h
  drivers/painter/st77xx/qp_st7735.c
  drivers/painter/st77xx/qp_st7735.h
  drivers/painter/st77xx/qp_st7735_opcodes.h
  drivers/painter/st77xx/qp_st7789.c
  drivers/painter/st77xx/qp_st7789.h
  drivers/painter/st77xx/qp_st7789_opcodes.h
  drivers/painter/st77xx/qp_st77xx_opcodes.h
  drivers/painter/tft_panel/qp_tft_panel.h
  quantum/painter/qff.c
  quantum/painter/qff.h
  quantum/painter/qgf.c
  quantum/painter/qgf.h
  quantum/painter/qp.c
  quantum/painter/qp.h
  quantum/painter/qp_draw_image.c
  quantum/painter/qp_draw_text.c
  quantum/painter/qp_internal.c
  quantum/painter/qp_internal_formats.h
  quantum/painter/rules.mk
Labels: core, documentation

#21174 Russian typewriter keymap file for popular legacy layout.
  data/constants/keycodes/extras/keycodes_russian_typewriter_0.0.1.hjson
  quantum/keymap_extras/keymap_russian_typewriter.h
Labels: core, awaiting review

#22310 Rename LINE FRIENDS TKL keyboard
  data/mappings/keyboard_aliases.hjson
  keyboards/studiokestra/line_friends_tkl/config.h
  keyboards/studiokestra/line_friends_tkl/info.json
  keyboards/studiokestra/line_friends_tkl/keymaps/default/keymap.c
  keyboards/studiokestra/line_friends_tkl/keymaps/split_bs_rshift/keymap.c
  keyboards/studiokestra/line_friends_tkl/keymaps/via/keymap.c
  keyboards/studiokestra/line_friends_tkl/keymaps/via/rules.mk
  keyboards/studiokestra/line_friends_tkl/readme.md
  keyboards/studiokestra/line_friends_tkl/rules.mk
Labels: keyboard, keymap, via, dd

#21875 Modify split config is_keyboard_master/left checks.
  quantum/split_common/split_util.c
Labels: core

#22321 Consolidate some EEPROM Driver configuration
  docs/eeprom_driver.md
  drivers/eeprom/eeprom_spi.h
  keyboards/custommk/evo70_r2/config.h
  keyboards/rgbkb/mun/keymaps/default/config.h
  keyboards/rgbkb/mun/keymaps/via/config.h
  keyboards/rgbkb/sol3/keymaps/default/config.h
  keyboards/rgbkb/sol3/keymaps/via/config.h
  keyboards/tau4/config.h
  keyboards/tzarc/djinn/rev1/config.h
  keyboards/tzarc/djinn/rev2/config.h
  keyboards/tzarc/ghoul/config.h
  keyboards/vinhcatba/uncertainty/config.h
  keyboards/xelus/kangaroo/rev1/config.h
  keyboards/xelus/pachi/rgb/rev1/config.h
  keyboards/xelus/rs108/config.h
  keyboards/xelus/rs60/rev2_0/config.h
  keyboards/xelus/valor/rev2/config.h
  keyboards/xelus/valor_frl_tkl/rev1/config.h
  keyboards/xelus/xs108/config.h
  keyboards/xelus/xs60/hotswap/config.h
  platforms/chibios/boards/BONSAI_C4/configs/config.h
Labels: core, keyboard, keymap, documentation, via

#22267 Separate 6KRO and NKRO report structs
  keyboards/annepro2/annepro2_ble.c
  keyboards/horrortroll/lemon40/info.json
  keyboards/kbdfans/kbd67/rev1/info.json
  quantum/action.c
  quantum/action_util.c
  quantum/action_util.h
  tests/test_common/keyboard_report_util.cpp
  tests/test_common/test_driver.cpp
  tests/test_common/test_driver.hpp
  tmk_core/protocol.mk
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/chibios/chibios.c
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/host.c
  tmk_core/protocol/host.h
  tmk_core/protocol/host_driver.h
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/report.c
  tmk_core/protocol/report.h
  tmk_core/protocol/vusb/vusb.c
Labels: enhancement, core, keyboard

#22306 Add keyboard "purin" to qmk firmware
  keyboards/purin/info.json
  keyboards/purin/keymaps/default/keymap.c
  keyboards/purin/keymaps/via/keymap.c
  keyboards/purin/keymaps/via/rules.mk
  keyboards/purin/readme.md
  keyboards/purin/rules.mk
Labels: keyboard, keymap, via

#21782 Add Qk100 Keyboard files
  keyboards/qwertykeys/qk100/ansi/ansi.c
  keyboards/qwertykeys/qk100/ansi/config.h
  keyboards/qwertykeys/qk100/ansi/halconf.h
  keyboards/qwertykeys/qk100/ansi/info.json
  keyboards/qwertykeys/qk100/ansi/keymaps/default/keymap.c
  keyboards/qwertykeys/qk100/ansi/keymaps/via/keymap.c
  keyboards/qwertykeys/qk100/ansi/keymaps/via/rules.mk
  keyboards/qwertykeys/qk100/ansi/mcuconf.h
  keyboards/qwertykeys/qk100/ansi/readme.md
  keyboards/qwertykeys/qk100/ansi/rules.mk
  keyboards/qwertykeys/qk100/info.json
  keyboards/qwertykeys/qk100/solder/config.h
  keyboards/qwertykeys/qk100/solder/info.json
  keyboards/qwertykeys/qk100/solder/keymaps/default/keymap.c
  keyboards/qwertykeys/qk100/solder/keymaps/via/keymap.c
  keyboards/qwertykeys/qk100/solder/keymaps/via/rules.mk
  keyboards/qwertykeys/qk100/solder/readme.md
  keyboards/qwertykeys/qk100/solder/rules.mk
  keyboards/qwertykeys/qk100/solder/solder.c
Labels: keyboard, keymap, via

#22329 Remove extra led_matrix_indicators_user call
  quantum/led_matrix/led_matrix.c
Labels: bug, core

#22324 V-USB: Implement `GET_PROTOCOL` and `SET_PROTOCOL` handling
  tmk_core/protocol/vusb/vusb.c
Labels: enhancement, core

#22313 Added gamma values for ST7735 displays
  drivers/painter/st77xx/qp_st7735.c
Labels: core

#22242 Add DD mappings for locking switch
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
Labels: documentation, dd

#22325 RGB/LED matrix use limits size optimisation
  quantum/led_matrix/led_matrix.c
  quantum/led_matrix/led_matrix.h
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix.h
Labels: core

#22331 Add new keyboard LGBTKL
  keyboards/lgbtkl/info.json
  keyboards/lgbtkl/keymaps/default/keymap.c
  keyboards/lgbtkl/keymaps/via/keymap.c
  keyboards/lgbtkl/keymaps/via/rules.mk
  keyboards/lgbtkl/readme.md
  keyboards/lgbtkl/rules.mk
Labels: keyboard, keymap, via

#22339 Clarify PIO define is optional in docs.
  docs/serial_driver.md
  docs/ws2812_driver.md
Labels: documentation

#22332 V-USB: Fix `GET_IDLE/SET_IDLE`
  quantum/command.c
  tmk_core/protocol/vusb/vusb.c
Labels: bug, core

#22282 [Keyboard] Add Kaly42
  keyboards/kaly/kaly42/config.h
  keyboards/kaly/kaly42/halconf.h
  keyboards/kaly/kaly42/info.json
  keyboards/kaly/kaly42/keymaps/default/keymap.c
  keyboards/kaly/kaly42/mcuconf.h
  keyboards/kaly/kaly42/readme.md
  keyboards/kaly/kaly42/rules.mk
Labels: keyboard, keymap

#22334 add pisces pcb
  keyboards/kwstudio/pisces/info.json
  keyboards/kwstudio/pisces/keymaps/default/keymap.c
  keyboards/kwstudio/pisces/keymaps/via/keymap.c
  keyboards/kwstudio/pisces/keymaps/via/rules.mk
  keyboards/kwstudio/pisces/readme.md
  keyboards/kwstudio/pisces/rules.mk
Labels: keyboard, keymap, via

#22270 Waffling60 Rev E ANSI Hotswap
  keyboards/4pplet/waffling60/rev_e_ansi/config.h
  keyboards/4pplet/waffling60/rev_e_ansi/info.json
  keyboards/4pplet/waffling60/rev_e_ansi/keymaps/default/keymap.c
  keyboards/4pplet/waffling60/rev_e_ansi/keymaps/default/rules.mk
  keyboards/4pplet/waffling60/rev_e_ansi/keymaps/via/keymap.c
  keyboards/4pplet/waffling60/rev_e_ansi/keymaps/via/rules.mk
  keyboards/4pplet/waffling60/rev_e_ansi/matrix_diagram.md
  keyboards/4pplet/waffling60/rev_e_ansi/readme.md
  keyboards/4pplet/waffling60/rev_e_ansi/rules.mk
Labels: keyboard, keymap, via

#18981 Add darkproject/kd87a_bfg_edition keyboard
  keyboards/darkproject/kd87a_bfg_edition/config.h
  keyboards/darkproject/kd87a_bfg_edition/halconf.h
  keyboards/darkproject/kd87a_bfg_edition/info.json
  keyboards/darkproject/kd87a_bfg_edition/kd87a_bfg_edition.c
  keyboards/darkproject/kd87a_bfg_edition/kd87a_bfg_edition.h
  keyboards/darkproject/kd87a_bfg_edition/keymaps/default/keymap.c
  keyboards/darkproject/kd87a_bfg_edition/keymaps/via/keymap.c
  keyboards/darkproject/kd87a_bfg_edition/keymaps/via/rules.mk
  keyboards/darkproject/kd87a_bfg_edition/mcuconf.h
  keyboards/darkproject/kd87a_bfg_edition/readme.md
  keyboards/darkproject/kd87a_bfg_edition/rules.mk
Labels: keyboard, keymap, via

#22286 Modify bootloader
  keyboards/eason/aeroboard/info.json
Labels: keyboard

#22220 doksin
  keyboards/millet/doksin/info.json
  keyboards/millet/doksin/keymaps/default/keymap.c
  keyboards/millet/doksin/keymaps/default/readme.md
  keyboards/millet/doksin/keymaps/via/keymap.c
  keyboards/millet/doksin/keymaps/via/rules.mk
  keyboards/millet/doksin/readme.md
  keyboards/millet/doksin/rules.mk
Labels: keyboard, keymap, via

#21688 [Maintenance] USB HID control packet as struct
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/usb_types.h
Labels: core

#22284 Add Maker Keyboards Velvet Hotswap and Solder Keyboards
  keyboards/lucid/velvet_hotswap/info.json
  keyboards/lucid/velvet_hotswap/keymaps/default/keymap.c
  keyboards/lucid/velvet_hotswap/keymaps/via/keymap.c
  keyboards/lucid/velvet_hotswap/readme.md
  keyboards/lucid/velvet_solder/info.json
  keyboards/lucid/velvet_solder/keymaps/default/keymap.c
  keyboards/lucid/velvet_solder/keymaps/via/keymap.c
  keyboards/lucid/velvet_solder/readme.md
Labels: keyboard, keymap, via

#22345 Flag more VIAL config options in lint
  data/mappings/info_config.hjson
Labels: dd

#22346 add enter67_pcb
  keyboards/enter67/info.json
  keyboards/enter67/keymaps/default/keymap.c
  keyboards/enter67/keymaps/via/keymap.c
  keyboards/enter67/keymaps/via/rules.mk
  keyboards/enter67/readme.md
  keyboards/enter67/rules.mk
Labels: keyboard, keymap, via

#22017 Implement data driven dip switches
  data/mappings/info_config.hjson
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/cli/generate/keyboard_c.py
Labels: documentation, python, cli, breaking_change_2023q4, dd

#22357 QP getters correction
  quantum/painter/qp.c
Labels: bug, core

#22309 Add `_LED_COUNT` defines to LED drivers
  drivers/led/aw20216s.h
  drivers/led/issi/is31fl3218-simple.h
  drivers/led/issi/is31fl3218.h
  drivers/led/issi/is31fl3731-simple.h
  drivers/led/issi/is31fl3731.h
  drivers/led/issi/is31fl3733-simple.h
  drivers/led/issi/is31fl3733.h
  drivers/led/issi/is31fl3736-simple.h
  drivers/led/issi/is31fl3736.h
  drivers/led/issi/is31fl3737-simple.h
  drivers/led/issi/is31fl3737.h
  drivers/led/issi/is31fl3741-simple.h
  drivers/led/issi/is31fl3741.h
  drivers/led/snled27351-simple.h
  drivers/led/snled27351.h
Labels: enhancement, core

#22366 whitefox: remove pointless file
  keyboards/input_club/whitefox/board_is31fl3731c.h
Labels: keyboard

#22364 Fix 'to_c' for config.h mappings
  lib/python/qmk/cli/generate/config_h.py
Labels: bug, python, cli

#22363 Remove use of broken split.main
  data/schemas/keyboard.jsonschema
  keyboards/controllerworks/mini42/info.json
  keyboards/hillside/48/0_1/info.json
  keyboards/splitkb/aurora/corne/rev1/info.json
  keyboards/splitkb/aurora/helix/rev1/info.json
  keyboards/splitkb/aurora/lily58/rev1/info.json
  keyboards/splitkb/aurora/sofle_v2/rev1/info.json
  keyboards/splitkb/aurora/sweep/rev1/info.json
  keyboards/splitkb/kyria/rev3/info.json
  keyboards/tzarc/djinn/info.json
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/info.py
Labels: keyboard, python, cli, dd

#22372 Fix for swapped PID and VID
  keyboards/cannonkeys/is0gr/info.json
Labels: keyboard

#22320 Add Kindakeyboards Conone65 Via support
  keyboards/kindakeyboards/conone65/keymaps/default/keymap.c
  keyboards/kindakeyboards/conone65/keymaps/default/readme.md
  keyboards/kindakeyboards/conone65/keymaps/via/keymap.c
  keyboards/kindakeyboards/conone65/keymaps/via/rules.mk
  keyboards/kindakeyboards/conone65/readme.md
Labels: keyboard, keymap, via

#22256 Add "AC Next Keyboard Layout Select" consumer usage entry (macOS Globe key)
  tmk_core/protocol/report.h
Labels: enhancement, core
