Repository qmk/qmk_firmware, pull requests merged in 2023-02, with the labels that each got.

#19711 [Keyboard] Add modded Razer Orbweaver with RP2040
  keyboards/handwired/orbweaver/config.h
  keyboards/handwired/orbweaver/info.json
  keyboards/handwired/orbweaver/keymaps/default/keymap.c
  keyboards/handwired/orbweaver/orbweaver.c
  keyboards/handwired/orbweaver/readme.md
  keyboards/handwired/orbweaver/rules.mk
Labels: keyboard, keymap

#19730 zweihander-macos: Update keys, add capslock
  layouts/community/ergodox/zweihander-macos/keymap.c
  layouts/community/ergodox/zweihander-macos/readme.markdown
Labels: keymap

#19713 QP: Correct rotation and offset when using LVGL
  quantum/painter/lvgl/qp_lvgl.c
Labels: core

#19431 adding pi60
  keyboards/1upkeyboards/pi60/config.h
  keyboards/1upkeyboards/pi60/info.json
  keyboards/1upkeyboards/pi60/keymaps/default/keymap.c
  keyboards/1upkeyboards/pi60/keymaps/default/rules.mk
  keyboards/1upkeyboards/pi60/keymaps/via/keymap.c
  keyboards/1upkeyboards/pi60/keymaps/via/rules.mk
  keyboards/1upkeyboards/pi60/readme.md
  keyboards/1upkeyboards/pi60/rules.mk
Labels: keyboard, keymap, via

#19542 Add commit info to `version.h`
  lib/python/qmk/cli/generate/version_h.py
  lib/python/qmk/git.py
Labels: python, cli

#19737 Politely ask people not to submit issues to add support for unknown keyboards.
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/other_issues.yml
Labels: CI

#18065 Add Crin PCB to QMK
  keyboards/cannonkeys/crin/crin.c
  keyboards/cannonkeys/crin/crin.h
  keyboards/cannonkeys/crin/halconf.h
  keyboards/cannonkeys/crin/info.json
  keyboards/cannonkeys/crin/mcuconf.h
Labels: keyboard

#19465 [Keyboard] Add Quarkeys Z67 PCB with solder and hotswap versions
  keyboards/quarkeys/z67/hotswap/config.h
  keyboards/quarkeys/z67/hotswap/hotswap.c
  keyboards/quarkeys/z67/hotswap/hotswap.h
  keyboards/quarkeys/z67/hotswap/info.json
  keyboards/quarkeys/z67/hotswap/keymaps/default/keymap.c
  keyboards/quarkeys/z67/hotswap/keymaps/via/keymap.c
  keyboards/quarkeys/z67/hotswap/keymaps/via/rules.mk
  keyboards/quarkeys/z67/hotswap/rules.mk
  keyboards/quarkeys/z67/readme.md
  keyboards/quarkeys/z67/solder/config.h
  keyboards/quarkeys/z67/solder/info.json
  keyboards/quarkeys/z67/solder/keymaps/default/keymap.c
  keyboards/quarkeys/z67/solder/keymaps/via/keymap.c
  keyboards/quarkeys/z67/solder/keymaps/via/rules.mk
  keyboards/quarkeys/z67/solder/rules.mk
  keyboards/quarkeys/z67/solder/solder.c
  keyboards/quarkeys/z67/solder/solder.h
Labels: keyboard, keymap, via

#19504 Added Keychron V10
  keyboards/keychron/v10/ansi_encoder/ansi_encoder.c
  keyboards/keychron/v10/ansi_encoder/config.h
  keyboards/keychron/v10/ansi_encoder/info.json
  keyboards/keychron/v10/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/v10/ansi_encoder/keymaps/default/rules.mk
  keyboards/keychron/v10/ansi_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/v10/ansi_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/v10/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/v10/ansi_encoder/keymaps/via/rules.mk
  keyboards/keychron/v10/ansi_encoder/rules.mk
  keyboards/keychron/v10/config.h
  keyboards/keychron/v10/halconf.h
  keyboards/keychron/v10/iso_encoder/config.h
  keyboards/keychron/v10/iso_encoder/info.json
  keyboards/keychron/v10/iso_encoder/iso_encoder.c
  keyboards/keychron/v10/iso_encoder/keymaps/default/keymap.c
  keyboards/keychron/v10/iso_encoder/keymaps/default/rules.mk
  keyboards/keychron/v10/iso_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/v10/iso_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/v10/iso_encoder/keymaps/via/keymap.c
  keyboards/keychron/v10/iso_encoder/keymaps/via/rules.mk
  keyboards/keychron/v10/iso_encoder/rules.mk
  keyboards/keychron/v10/matrix.c
  keyboards/keychron/v10/mcuconf.h
  keyboards/keychron/v10/readme.md
  keyboards/keychron/v10/v10.c
Labels: keyboard, keymap, via

#19498 Added Keychron V6
  keyboards/keychron/v6/ansi/ansi.c
  keyboards/keychron/v6/ansi/config.h
  keyboards/keychron/v6/ansi/info.json
  keyboards/keychron/v6/ansi/keymaps/default/keymap.c
  keyboards/keychron/v6/ansi/keymaps/keychron/keymap.c
  keyboards/keychron/v6/ansi/keymaps/keychron/rules.mk
  keyboards/keychron/v6/ansi/keymaps/via/keymap.c
  keyboards/keychron/v6/ansi/keymaps/via/rules.mk
  keyboards/keychron/v6/ansi/rules.mk
  keyboards/keychron/v6/ansi_encoder/ansi_encoder.c
  keyboards/keychron/v6/ansi_encoder/config.h
  keyboards/keychron/v6/ansi_encoder/info.json
  keyboards/keychron/v6/ansi_encoder/keymaps/default/keymap.c
  keyboards/keychron/v6/ansi_encoder/keymaps/default/rules.mk
  keyboards/keychron/v6/ansi_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/v6/ansi_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/v6/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/v6/ansi_encoder/keymaps/via/rules.mk
  keyboards/keychron/v6/ansi_encoder/rules.mk
  keyboards/keychron/v6/config.h
  keyboards/keychron/v6/halconf.h
  keyboards/keychron/v6/iso/config.h
  keyboards/keychron/v6/iso/info.json
  keyboards/keychron/v6/iso/iso.c
  keyboards/keychron/v6/iso/keymaps/default/keymap.c
  keyboards/keychron/v6/iso/keymaps/keychron/keymap.c
  keyboards/keychron/v6/iso/keymaps/keychron/rules.mk
  keyboards/keychron/v6/iso/keymaps/via/keymap.c
  keyboards/keychron/v6/iso/keymaps/via/rules.mk
  keyboards/keychron/v6/iso/rules.mk
  keyboards/keychron/v6/iso_encoder/config.h
  keyboards/keychron/v6/iso_encoder/info.json
  keyboards/keychron/v6/iso_encoder/iso_encoder.c
  keyboards/keychron/v6/iso_encoder/keymaps/default/keymap.c
  keyboards/keychron/v6/iso_encoder/keymaps/default/rules.mk
  keyboards/keychron/v6/iso_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/v6/iso_encoder/keymaps/keychron/rules.mk
  keyboards/keychron/v6/iso_encoder/keymaps/via/keymap.c
  keyboards/keychron/v6/iso_encoder/keymaps/via/rules.mk
  keyboards/keychron/v6/iso_encoder/rules.mk
  keyboards/keychron/v6/matrix.c
  keyboards/keychron/v6/mcuconf.h
  keyboards/keychron/v6/readme.md
  keyboards/keychron/v6/v6.c
Labels: keyboard, keymap, via

#19693 Added MacOS Support for BigKnob
  keyboards/leafcutterlabs/bigknob/keymaps/macos/keymap.c
  keyboards/leafcutterlabs/bigknob/keymaps/macos/readme.md
Labels: keymap

#19687 Update handedness by define examples
  docs/feature_split_keyboard.md
Labels: documentation

#19696 [Keyboard] Add mkh studio bully
  keyboards/mkh_studio/bully/config.h
  keyboards/mkh_studio/bully/info.json
  keyboards/mkh_studio/bully/keymaps/default/keymap.c
  keyboards/mkh_studio/bully/keymaps/via/keymap.c
  keyboards/mkh_studio/bully/keymaps/via/rules.mk
  keyboards/mkh_studio/bully/readme.md
  keyboards/mkh_studio/bully/rules.mk
Labels: keyboard, keymap, via

#18104 [Keyboard] Add keebformom ortho 4x10
  keyboards/keebformom/config.h
  keyboards/keebformom/info.json
  keyboards/keebformom/keebformom.c
  keyboards/keebformom/keebformom.h
  keyboards/keebformom/keymaps/default/config.h
  keyboards/keebformom/keymaps/default/keymap.c
  keyboards/keebformom/keymaps/default/readme.md
  keyboards/keebformom/keymaps/default/rules.mk
  keyboards/keebformom/readme.md
  keyboards/keebformom/rules.mk
Labels: keyboard, keymap

#19721 Regen keycode_table for unit tests
  util/regen.sh
Labels: bug, core, CI, breaking_change_2023q1

#19728 [Keyboard] Add Brick
  keyboards/brick/brick.c
  keyboards/brick/brick.h
  keyboards/brick/config.h
  keyboards/brick/info.json
  keyboards/brick/keymaps/default/keymap.c
  keyboards/brick/keymaps/via/keymap.c
  keyboards/brick/keymaps/via/rules.mk
  keyboards/brick/readme.md
  keyboards/brick/rules.mk
Labels: keyboard, keymap, via

#19750 Remove `DEBOUNCE` macro usage
  keyboards/baguette/baguette.c
  keyboards/bpiphany/pegasushoof/2013/matrix.c
  keyboards/dp60/matrix.c
  keyboards/duck/eagle_viper/v2/matrix.c
  keyboards/duck/jetfire/matrix.c
  keyboards/duck/lightsaver/matrix.c
  keyboards/duck/octagon/v1/matrix.c
  keyboards/duck/octagon/v2/matrix.c
  keyboards/duck/orion/v3/matrix.c
  keyboards/duck/tcv3/matrix.c
  keyboards/hs60/v1/v1.c
  keyboards/matrix/noah/matrix.c
  keyboards/planck/rev6_drop/matrix.c
  keyboards/preonic/rev3_drop/matrix.c
Labels: keyboard

#19753 Remove `IS_HOST_LED_ON` and migrate usages
  keyboards/dztech/dz65rgb/keymaps/catrielmuller/keymap.c
  keyboards/dztech/dz65rgb/keymaps/drootz/keymap.c
  keyboards/dztech/dz65rgb/keymaps/matthewrobo/keymap.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/byungyoonc/keymap.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/gourdo1/keymap.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/jonavin/keymap.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/lalitmaganti/keymap.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/paddlegame/keymap.c
  keyboards/gmmk/pro/rev1/iso/keymaps/gourdo1/keymap.c
  keyboards/gmmk/pro/rev1/iso/keymaps/jonavin/keymap.c
  keyboards/handwired/hnah40rgb/keymaps/ansi/keymap.c
  keyboards/handwired/hnah40rgb/keymaps/default/keymap.c
  keyboards/jones/v1/keymaps/via/keymap.c
  keyboards/kakunpc/angel64/alpha/keymaps/default/keymap.c
  keyboards/kakunpc/angel64/rev1/keymaps/default/keymap.c
  keyboards/kakunpc/angel64/rev1/keymaps/kakunpc/keymap.c
  keyboards/kakunpc/suihankey/alpha/keymaps/default/keymap.c
  keyboards/kakunpc/suihankey/rev1/keymaps/default/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/dnsnrk/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/jonavin/keymap.c
  keyboards/kbdfans/kbd6x/keymaps/konstantin/keymap.c
  keyboards/kbdfans/kbd75rgb/kbd75rgb.c
  keyboards/keebio/quefrency/keymaps/georgepetri/keymap.c
  keyboards/lily58/lib/host_led_state_reader.c
  keyboards/mechwild/mercutio/keymaps/fancy/keymap.c
  keyboards/mechwild/mercutio/keymaps/jonavin/keymap.c
  keyboards/mechwild/puckbuddy/puckbuddy.c
  keyboards/neson_design/700e/700e.c
  keyboards/neson_design/n6/n6.c
  layouts/community/65_ansi_blocker/brandonschlack/keymap.c
  layouts/community/65_ansi_blocker_split_bs/brandonschlack-split/keymap.c
  tmk_core/protocol/host.h
  users/gourdo1/gourdo1.c
  users/jonavin/jonavin.c
  users/konstantin/konstantin.c
  users/mattly/mattly.c
  users/tominabox1/tominabox1.c
Labels: enhancement, core, keyboard, keymap, via

#19087 [Keyboard] Add aeroboard
  keyboards/eason/aeroboard/aeroboard.c
  keyboards/eason/aeroboard/aeroboard.h
  keyboards/eason/aeroboard/config.h
  keyboards/eason/aeroboard/halconf.h
  keyboards/eason/aeroboard/info.json
  keyboards/eason/aeroboard/keymaps/default/keymap.c
  keyboards/eason/aeroboard/keymaps/via/keymap.c
  keyboards/eason/aeroboard/keymaps/via/rules.mk
  keyboards/eason/aeroboard/mcuconf.h
  keyboards/eason/aeroboard/readme.md
  keyboards/eason/aeroboard/rules.mk
Labels: keyboard, keymap, via

#19772 changed the undefined ON and OFF parameters to the above defined constant
  docs/feature_midi.md
Labels: documentation

#19506 LW75 Support
  keyboards/lw75/config.h
  keyboards/lw75/info.json
  keyboards/lw75/keymaps/ansi_split_backspace/keymap.c
  keyboards/lw75/keymaps/default/keymap.c
  keyboards/lw75/keymaps/iso/keymap.c
  keyboards/lw75/keymaps/iso_split_backspace/keymap.c
  keyboards/lw75/keymaps/via/keymap.c
  keyboards/lw75/keymaps/via/rules.mk
  keyboards/lw75/lw75.c
  keyboards/lw75/lw75.h
  keyboards/lw75/readme.md
  keyboards/lw75/rules.mk
Labels: keyboard, keymap, via

#19622 Fix the underglow RGB LED
  keyboards/mechlovin/adelais/adelais.c
  keyboards/mechlovin/adelais/standard_led/arm/rules.mk
Labels: keyboard

#19578 Keyboard/bear65 v2
  keyboards/jacky_studio/bear_65/bear_65.h
  keyboards/jacky_studio/bear_65/config.h
  keyboards/jacky_studio/bear_65/info.json
  keyboards/jacky_studio/bear_65/rev1/info.json
  keyboards/jacky_studio/bear_65/rev1/rev1.h
  keyboards/jacky_studio/bear_65/rev1/rules.mk
  keyboards/jacky_studio/bear_65/rev2/info.json
  keyboards/jacky_studio/bear_65/rev2/rev2.h
  keyboards/jacky_studio/bear_65/rev2/rules.mk
  keyboards/jacky_studio/bear_65/rules.mk
Labels: keyboard

#19777 implement missing layouts + DD migration for wilba_tech/wt60_d
  keyboards/wilba_tech/wt60_d/config.h
  keyboards/wilba_tech/wt60_d/info.json
  keyboards/wilba_tech/wt60_d/rules.mk
  keyboards/wilba_tech/wt60_d/wt60_d.c
  keyboards/wilba_tech/wt60_d/wt60_d.h
Labels: keyboard

#19754 [keyboard] reedskeebs/alish40
  keyboards/reedskeebs/alish40/alish.c
  keyboards/reedskeebs/alish40/info.json
  keyboards/reedskeebs/alish40/keymaps/default/keymap.c
  keyboards/reedskeebs/alish40/keymaps/default/rules.mk
  keyboards/reedskeebs/alish40/keymaps/via/keymap.c
  keyboards/reedskeebs/alish40/keymaps/via/rules.mk
  keyboards/reedskeebs/alish40/readme.md
  keyboards/reedskeebs/alish40/rules.mk
Labels: keyboard, keymap, via

#19784 Fix errors flagged by generate-api
  keyboards/baguette/info.json
  keyboards/custommk/evo70/info.json
  keyboards/dailycraft/stickey4/info.json
  keyboards/jacky_studio/bear_65/bear_65.c
  keyboards/jacky_studio/bear_65/rev2/info.json
  keyboards/jacky_studio/bear_65/rules.mk
  keyboards/mode/m80v2/m80v2s/info.json
  keyboards/mwstudio/alicekk/info.json
  keyboards/ryanbaekr/rb1/info.json
  keyboards/ryanbaekr/rb18/info.json
  keyboards/ryanbaekr/rb69/info.json
  keyboards/ryanbaekr/rb86/info.json
  keyboards/splitography/info.json
  keyboards/yandrstudio/nz64/info.json
  keyboards/yandrstudio/zhou65/info.json
Labels: bug, keyboard

#19163 Add Michi MCU Converter support
  data/mappings/defaults.hjson
  data/schemas/keyboard.jsonschema
  docs/feature_converters.md
  docs/squeezing_avr.md
  platforms/chibios/converters/promicro_to_michi/_pin_defs.h
  platforms/chibios/converters/promicro_to_michi/converter.mk
Labels: core, documentation

#19708 Added a new keymap for the CRKBD keyboard - colemak_luna
  keyboards/crkbd/keymaps/colemak_luna/config.h
  keyboards/crkbd/keymaps/colemak_luna/keymap.c
  keyboards/crkbd/keymaps/colemak_luna/readme.md
  keyboards/crkbd/keymaps/colemak_luna/rules.mk
Labels: keymap

#19650 Doio kb38
  keyboards/doio/kb38/config.h
  keyboards/doio/kb38/info.json
  keyboards/doio/kb38/kb38.c
  keyboards/doio/kb38/keymaps/default/keymap.c
  keyboards/doio/kb38/readme.md
  keyboards/doio/kb38/rgb_matrix_kb.inc
  keyboards/doio/kb38/rules.mk
Labels: keyboard, keymap

#19764 Add Type-B firmware to QMK
  keyboards/cannonkeys/typeb/config.h
  keyboards/cannonkeys/typeb/info.json
  keyboards/cannonkeys/typeb/keymaps/default/keymap.c
  keyboards/cannonkeys/typeb/keymaps/via/keymap.c
  keyboards/cannonkeys/typeb/keymaps/via/rules.mk
  keyboards/cannonkeys/typeb/readme.md
  keyboards/cannonkeys/typeb/rules.mk
Labels: keyboard, keymap, via

#19775 Fix Matrix for kamigakushi
  keyboards/kamigakushi/info.json
Labels: keyboard

#19746 [Keyboard] Add greatsword80
  keyboards/eason/greatsword80/config.h
  keyboards/eason/greatsword80/info.json
  keyboards/eason/greatsword80/keymaps/default/keymap.c
  keyboards/eason/greatsword80/keymaps/via/keymap.c
  keyboards/eason/greatsword80/keymaps/via/rules.mk
  keyboards/eason/greatsword80/readme.md
  keyboards/eason/greatsword80/rules.mk
Labels: keyboard, keymap, via

#19770 Addition of the Binepad BNR1 V2 rotary encoder
  keyboards/binepad/bnr1/info.json
  keyboards/binepad/bnr1/keymaps/default/rules.mk
  keyboards/binepad/bnr1/keymaps/via/rules.mk
  keyboards/binepad/bnr1/readme.md
  keyboards/binepad/bnr1/rules.mk
  keyboards/binepad/bnr1/v1/info.json
  keyboards/binepad/bnr1/v1/rules.mk
  keyboards/binepad/bnr1/v2/config.h
  keyboards/binepad/bnr1/v2/info.json
  keyboards/binepad/bnr1/v2/rules.mk
Labels: keyboard, keymap, via

#19727 junonum: community keymap improvement
  layouts/community/ortho_4x12/junonum/keymap.c
  layouts/community/ortho_4x12/junonum/rules.mk
Labels: keymap

#18798 add arc60h
  keyboards/vertex/arc60h/arc60h.c
  keyboards/vertex/arc60h/arc60h.h
  keyboards/vertex/arc60h/config.h
  keyboards/vertex/arc60h/halconf.h
  keyboards/vertex/arc60h/info.json
  keyboards/vertex/arc60h/keymaps/default/keymap.c
  keyboards/vertex/arc60h/keymaps/via/keymap.c
  keyboards/vertex/arc60h/keymaps/via/rules.mk
  keyboards/vertex/arc60h/mcuconf.h
  keyboards/vertex/arc60h/readme.md
  keyboards/vertex/arc60h/rules.mk
Labels: keyboard, keymap, via

#19678 [Keyboard] Add Igloo
  keyboards/igloo/info.json
  keyboards/igloo/keymaps/default/keymap.c
  keyboards/igloo/keymaps/via/keymap.c
  keyboards/igloo/keymaps/via/rules.mk
  keyboards/igloo/readme.md
  keyboards/igloo/rules.mk
Labels: keyboard, keymap, via

#19531 Add CXT Studio
  keyboards/cxt_studio/config.h
  keyboards/cxt_studio/cxt_studio.c
  keyboards/cxt_studio/info.json
  keyboards/cxt_studio/keymaps/default/keymap.json
  keyboards/cxt_studio/readme.md
  keyboards/cxt_studio/rules.mk
Labels: keyboard, keymap

#19791 Update info.json for Keychron V10
  keyboards/keychron/v10/ansi_encoder/info.json
Labels: keyboard

#19763 Move FAve 84H to data driven design + Via Custom UI
  keyboards/linworks/fave84h/config.h
  keyboards/linworks/fave84h/fave84h.c
  keyboards/linworks/fave84h/fave84h.h
  keyboards/linworks/fave84h/info.json
  keyboards/linworks/fave84h/keymaps/default/keymap.c
  keyboards/linworks/fave84h/keymaps/via/keymap.c
  keyboards/linworks/fave84h/rules.mk
Labels: keyboard, keymap, via

#19757 Update buzzlighter1 keymap
  keyboards/xiudi/xd75/keymaps/buzzlighter1/config.h
  keyboards/xiudi/xd75/keymaps/buzzlighter1/keymap.c
  keyboards/xiudi/xd75/keymaps/buzzlighter1/readme.md
  keyboards/xiudi/xd75/keymaps/buzzlighter1/rules.mk
Labels: keymap

#19661 Flinguenheld
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/config.h
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/features/auto_shift.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/features/combo.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/features/leader.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/keycodes.h
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/keymap.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/oled/glcdfont.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/oled/oled.c
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/readme.md
  keyboards/splitkb/aurora/sweep/keymaps/flinguenheld/rules.mk
Labels: keymap

#19717 [Keyboard] Add alas keyboard
  keyboards/alas/alas.c
  keyboards/alas/alas.h
  keyboards/alas/config.h
  keyboards/alas/info.json
  keyboards/alas/keymaps/default/keymap.c
  keyboards/alas/keymaps/via/keymap.c
  keyboards/alas/keymaps/via/rules.mk
  keyboards/alas/readme.md
  keyboards/alas/rules.mk
Labels: keyboard, keymap, via

#19793 [Docs] Change defines by enums
  docs/ja/keymap.md
  docs/keymap.md
  docs/zh-cn/keymap.md
Labels: documentation, translation

#19792 Combos example consistently uses A B keys
  docs/feature_combo.md
Labels: documentation

#18679 [Keyboard] Add Dactyl 6x5 68 keys
  keyboards/handwired/dactyl_manuform/5x6_68/info.json
  keyboards/handwired/dactyl_manuform/5x6_68/keymaps/default/config.h
  keyboards/handwired/dactyl_manuform/5x6_68/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/5x6_68/readme.md
  keyboards/handwired/dactyl_manuform/5x6_68/rules.mk
Labels: keyboard, keymap

#19787 Add base firmware for the Twilight PCB
  keyboards/wolf/twilight/info.json
  keyboards/wolf/twilight/keymaps/default/keymap.c
  keyboards/wolf/twilight/keymaps/via/keymap.c
  keyboards/wolf/twilight/keymaps/via/rules.mk
  keyboards/wolf/twilight/readme.md
  keyboards/wolf/twilight/rules.mk
Labels: keyboard, keymap, via

#19788 [Keyboard] Update Pachi RGB Rev2 VIA custom indicators
  keyboards/xelus/pachi/rgb/rev2/config.h
  keyboards/xelus/pachi/rgb/rev2/rev2.c
  keyboards/xelus/pachi/rgb/rev2/rev2.h
Labels: keyboard

#19755 Move more unicode ranges to DD
  data/constants/keycodes/keycodes_0.0.2.hjson
  quantum/keycodes.h
  quantum/quantum_keycodes.h
Labels: core

#19756 Tidy up use of keycode range helpers
  keyboards/converter/usb_usb/custom_matrix.cpp
  keyboards/idobao/id75/keymaps/gkbd_orthon/keymap.c
  keyboards/sirius/unigo66/custom_matrix.cpp
  keyboards/xiudi/xd75/keymaps/xo/keymap.c
  lib/python/qmk/cli/generate/keycodes.py
  quantum/action.c
  quantum/action_tapping.c
  quantum/keycode.h
  quantum/keycodes.h
  quantum/process_keycode/process_combo.h
  quantum/process_keycode/process_key_override.c
  quantum/process_keycode/process_space_cadet.c
  quantum/quantum.c
  tests/test_common/keyboard_report_util.cpp
  users/twschum/xtonhasvim.c
  users/xtonhasvim/xtonhasvim.c
Labels: core, keyboard, keymap, python, cli

#19160 Fixes to source generation [mostly typographic]
  lib/python/qmk/cli/generate/keyboard_c.py
  lib/python/qmk/cli/generate/keyboard_h.py
Labels: python, cli

#19805 [Bug] fix bear65
  keyboards/jacky_studio/bear_65/rules.mk
Labels: keyboard

#18915 Generate encodermap output from keymap.json.
  data/schemas/keymap.jsonschema
  lib/python/qmk/keymap.py
Labels: python, cli, breaking_change_2023q1

#19808 [Keyboard] Fix merge error with fave84 board
  keyboards/linworks/fave84h/info.json
Labels: keyboard

#19268 [Docs] Resynchronizing Your Branch including submodules
  docs/newbs_git_resynchronize_a_branch.md
Labels: documentation

#19646 Reduce false positives in layout name validation
  lib/python/qmk/info.py
Labels: python, cli, breaking_change_2023q1

#19284 Update documentation for LM(layer, mod)
  docs/feature_layers.md
Labels: documentation, stale

#19795 [Core] Tri Layer Keys
  builddefs/common_features.mk
  builddefs/generic_features.mk
  builddefs/show_options.mk
  data/constants/keycodes/keycodes_0.0.2_quantum.hjson
  docs/_summary.md
  docs/feature_tri_layer.md
  quantum/action_layer.c
  quantum/action_layer.h
  quantum/keycodes.h
  quantum/process_keycode/process_tri_layer.c
  quantum/process_keycode/process_tri_layer.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/tri_layer.c
  quantum/tri_layer.h
  tests/test_common/keycode_table.cpp
  tests/tri_layer/config.h
  tests/tri_layer/test.mk
  tests/tri_layer/test_tri_layer.cpp
Labels: core, documentation, feature, breaking_change_2023q1

#19814 Fixup synthlabs/060 (reduce firmware size)
  keyboards/synthlabs/060/config.h
Labels: keyboard

#19815 Fixup ek65 -- add processor & bootloader in `info.json`
  keyboards/eniigmakeyboards/ek65/info.json
Labels: keyboard

#19818 Fix layout aliases for two boards
  keyboards/crbn/info.json
  keyboards/kepler_33/proto/info.json
Labels: bug, keyboard

#19817 Remove `config.h` include from quantum files
  quantum/led_matrix/led_matrix.c
  quantum/rgb_matrix/rgb_matrix.c
  quantum/split_common/split_util.c
Labels: core

#19821 [Bug] Fix tri layer compiler issue if NO_ACTION_LAYER is defined
  quantum/action_layer.c
Labels: bug, core

#19767 Fix build failures with `OPT = 0` due to inline functions
  platforms/common.mk
  platforms/synchronization_util.c
  platforms/synchronization_util.h
  platforms/timer.c
  quantum/mousekey.c
Labels: core

#19468 Restore packing of midi note keycodes
  data/constants/keycodes/keycodes_0.0.2_midi.hjson
  quantum/keycodes.h
Labels: bug, core, breaking_change_2023q1

#16699 Add combo hook to allow per layer combo reference layers.
  docs/feature_combo.md
  keyboards/gboards/g/keymap_combo.h
  quantum/process_keycode/process_combo.c
Labels: core, keyboard, documentation, breaking_change_2023q1

#18852 core: allow locking the matrix state
  quantum/keyboard.c
  quantum/matrix.h
Labels: in progress, core, awaiting changes, breaking_change_2023q1

#19819 Fix list number
  docs/serial_driver.md
Labels: documentation

#19813 Tidy up use of keycode range helpers
  lib/python/qmk/cli/generate/keycodes.py
  quantum/action.c
  quantum/keycode.h
  quantum/keycodes.h
Labels: enhancement, core, python, cli

#9126 Make Magic handling more consistent in Action Keycode handling
  docs/config_options.md
  quantum/keycode_config.c
  quantum/keymap_common.c
Labels: bug, core, documentation, breaking_change_2023q1

#19807 Add Blue Team Pad Firmware
  keyboards/fearherbs1/blue_team_pad/blue_team_pad.c
  keyboards/fearherbs1/blue_team_pad/config.h
  keyboards/fearherbs1/blue_team_pad/halconf.h
  keyboards/fearherbs1/blue_team_pad/info.json
  keyboards/fearherbs1/blue_team_pad/keymaps/default/keymap.c
  keyboards/fearherbs1/blue_team_pad/keymaps/default/rules.mk
  keyboards/fearherbs1/blue_team_pad/keymaps/via/config.h
  keyboards/fearherbs1/blue_team_pad/keymaps/via/keymap.c
  keyboards/fearherbs1/blue_team_pad/keymaps/via/rules.mk
  keyboards/fearherbs1/blue_team_pad/mcuconf.h
  keyboards/fearherbs1/blue_team_pad/readme.md
  keyboards/fearherbs1/blue_team_pad/rules.mk
Labels: keyboard, keymap, via

#19828 Fixup `develop` compiles.
  quantum/action.c
Labels: bug, core

#19628 add rp2040_ce and add elite-pi and helios as alias
  data/mappings/defaults.hjson
  data/schemas/keyboard.jsonschema
  docs/feature_converters.md
  docs/squeezing_avr.md
  platforms/chibios/converters/elite_c_to_elite_pi/pre_converter.mk
  platforms/chibios/converters/elite_c_to_helios/pre_converter.mk
  platforms/chibios/converters/elite_c_to_rp2040_ce/_pin_defs.h
  platforms/chibios/converters/elite_c_to_rp2040_ce/converter.mk
  platforms/chibios/converters/promicro_to_elite_pi/pre_converter.mk
  platforms/chibios/converters/promicro_to_helios/pre_converter.mk
  platforms/chibios/converters/promicro_to_rp2040_ce/_pin_defs.h
  platforms/chibios/converters/promicro_to_rp2040_ce/converter.mk
Labels: core, documentation, breaking_change_2023q1

#19830 Add rp2040_ce and add elite-pi and helios as alias
  data/mappings/defaults.hjson
  data/schemas/keyboard.jsonschema
  docs/feature_converters.md
  docs/platformdev_rp2040.md
  docs/squeezing_avr.md
  platforms/chibios/converters/elite_c_to_elite_pi/pre_converter.mk
  platforms/chibios/converters/elite_c_to_helios/pre_converter.mk
  platforms/chibios/converters/elite_c_to_rp2040_ce/_pin_defs.h
  platforms/chibios/converters/elite_c_to_rp2040_ce/converter.mk
  platforms/chibios/converters/promicro_to_elite_pi/pre_converter.mk
  platforms/chibios/converters/promicro_to_helios/pre_converter.mk
  platforms/chibios/converters/promicro_to_rp2040_ce/_pin_defs.h
  platforms/chibios/converters/promicro_to_rp2040_ce/converter.mk
Labels: core, documentation

#19833 Remove lingering `I2CD2` usages w/ RP2040
  keyboards/fearherbs1/blue_team_pad/config.h
  keyboards/nullbitsco/scramble/v2/config.h
Labels: keyboard

#19834 Fixup swiftrax/bumblebee (reduce firmware size)
  keyboards/handwired/swiftrax/bumblebee/bumblebee.c
  keyboards/handwired/swiftrax/bumblebee/config.h
  keyboards/handwired/swiftrax/bumblebee/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#19832 Update fractal attribution comment
  quantum/rgb_matrix/animations/pixel_fractal_anim.h
Labels: core

#19521 Update KC_NLCK and KC_SLCK in international docs
  docs/ja/api_docs.md
  docs/ja/faq_keymap.md
  docs/ja/keycodes.md
  docs/ja/keycodes_basic.md
  docs/ja/keymap.md
  docs/ja/reference_configurator_support.md
  docs/ja/understanding_qmk.md
  docs/zh-cn/api_docs.md
  docs/zh-cn/configurator_default_keymaps.md
  docs/zh-cn/faq_keymap.md
  docs/zh-cn/keymap.md
  docs/zh-cn/reference_configurator_support.md
Labels: documentation, translation

#19842 [Doc]Remove depracted extension links in vscode guide
  docs/ja/other_vscode.md
  docs/other_vscode.md
  docs/zh-cn/other_vscode.md
Labels: documentation, translation

#19816 Add keaboard keyboard
  keyboards/keaboard/info.json
  keyboards/keaboard/keymaps/default/keymap.c
  keyboards/keaboard/readme.md
  keyboards/keaboard/rev1/config.h
  keyboards/keaboard/rev1/rules.mk
Labels: keyboard, keymap

#19379 Add Eclipse60 / tinyneko
  keyboards/sawnsprojects/eclipse/eclipse60/info.json
  keyboards/sawnsprojects/eclipse/eclipse60/keymaps/default/keymap.c
  keyboards/sawnsprojects/eclipse/eclipse60/keymaps/via/keymap.c
  keyboards/sawnsprojects/eclipse/eclipse60/keymaps/via/rules.mk
  keyboards/sawnsprojects/eclipse/eclipse60/readme.md
  keyboards/sawnsprojects/eclipse/eclipse60/rules.mk
  keyboards/sawnsprojects/eclipse/tinyneko/info.json
  keyboards/sawnsprojects/eclipse/tinyneko/keymaps/default/keymap.c
  keyboards/sawnsprojects/eclipse/tinyneko/keymaps/via/keymap.c
  keyboards/sawnsprojects/eclipse/tinyneko/keymaps/via/rules.mk
  keyboards/sawnsprojects/eclipse/tinyneko/readme.md
  keyboards/sawnsprojects/eclipse/tinyneko/rules.mk
Labels: keyboard, keymap, stale, via

#19789 add new keyboard creek70
  keyboards/wuque/creek70/config.h
  keyboards/wuque/creek70/creek70.c
  keyboards/wuque/creek70/creek70.h
  keyboards/wuque/creek70/info.json
  keyboards/wuque/creek70/keymaps/default/keymap.c
  keyboards/wuque/creek70/keymaps/via/keymap.c
  keyboards/wuque/creek70/keymaps/via/rules.mk
  keyboards/wuque/creek70/readme.md
  keyboards/wuque/creek70/rules.mk
Labels: keyboard, keymap, via

#19831 Add swap hands status function
  docs/feature_swap_hands.md
  quantum/action.c
  quantum/action.h
Labels: core, documentation

#19845 Fix Layer Mod mishandling of right-handed mods, a mixup of 5-bit vs. 8-bit mods representation.
  quantum/keymap_common.c
  tests/basic/test_action_layer.cpp
Labels: core

#19838 [Keyboard] add ‘soda/pocket’
  keyboards/soda/pocket/chconf.h
  keyboards/soda/pocket/config.h
  keyboards/soda/pocket/info.json
  keyboards/soda/pocket/keymaps/default/keymap.c
  keyboards/soda/pocket/keymaps/via/keymap.c
  keyboards/soda/pocket/keymaps/via/rules.mk
  keyboards/soda/pocket/mcuconf.h
  keyboards/soda/pocket/pocket.c
  keyboards/soda/pocket/pocket.h
  keyboards/soda/pocket/readme.md
  keyboards/soda/pocket/rules.mk
Labels: keyboard, keymap, via

#19856 [Bug] Fix compilation issue for Key Overrides
  quantum/process_keycode/process_key_override.c
Labels: bug, core

#19839 Elaborate on keyboard level encoder functionality
  docs/feature_encoders.md
Labels: documentation

#19741 [Keyboard] Add Quarkeys Z40 keyboard
  keyboards/quarkeys/z40/config.h
  keyboards/quarkeys/z40/info.json
  keyboards/quarkeys/z40/keymaps/default/keymap.c
  keyboards/quarkeys/z40/keymaps/via/keymap.c
  keyboards/quarkeys/z40/keymaps/via/rules.mk
  keyboards/quarkeys/z40/readme.md
  keyboards/quarkeys/z40/rules.mk
  keyboards/quarkeys/z40/z40.c
  keyboards/quarkeys/z40/z40.h
Labels: keyboard, keymap, via

#19847 [Keyboard] Add Ciel65
  keyboards/chickenman/ciel65/info.json
  keyboards/chickenman/ciel65/keymaps/default/keymap.c
  keyboards/chickenman/ciel65/keymaps/via/keymap.c
  keyboards/chickenman/ciel65/keymaps/via/rules.mk
  keyboards/chickenman/ciel65/readme.md
  keyboards/chickenman/ciel65/rules.mk
Labels: keyboard, keymap, via

#19864 Fixup durgod/dgk6x (scroll lock mis-defined as num lock)
  keyboards/durgod/dgk6x/info.json
Labels: keyboard

#19866 Fix API generation
  keyboards/mechlovin/infinity87/rev2/config.h
  keyboards/signum/3_0/elitec/elitec.c
  keyboards/signum/3_0/elitec/elitec.h
  keyboards/signum/3_0/elitec/rules.mk
  keyboards/signum/3_0/rules.mk
  keyboards/signum/3_0/teensy/rules.mk
  keyboards/signum/3_0/teensy/teensy.c
  keyboards/signum/3_0/teensy/teensy.h
Labels: bug, keyboard

#19653 Added via keymap for bpiphany/pegasushoof
  keyboards/bpiphany/pegasushoof/2015/info.json
  keyboards/bpiphany/pegasushoof/info.json
  keyboards/bpiphany/pegasushoof/keymaps/via/config.h
  keyboards/bpiphany/pegasushoof/keymaps/via/keymap.c
  keyboards/bpiphany/pegasushoof/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#19867 Fixup for_science
  keyboards/for_science/config.h
  keyboards/for_science/for_science.c
  keyboards/for_science/for_science.h
  keyboards/for_science/info.json
  keyboards/for_science/rules.mk
Labels: keyboard

#19869 Fix more build failures
  keyboards/bpiphany/pegasushoof/keymaps/via/config.h
  keyboards/handwired/dactyl_manuform/6x6/blackpill_f411/info.json
  keyboards/handwired/dactyl_manuform/dmote/62key/info.json
  keyboards/redox/rev1/proton_c/info.json
Labels: bug, keyboard, keymap, via

#19874 Fixup pegasushoof VIA keymap
  keyboards/bpiphany/pegasushoof/keymaps/via/keymap.c
Labels: keymap, via

#19851 Brick
  data/mappings/keyboard_aliases.hjson
  keyboards/brick/brick.h
  keyboards/brick/config.h
  keyboards/brick/info.json
  keyboards/brick/readme.md
  keyboards/brick/rules.mk
  keyboards/pauperboards/brick/brick.c
  keyboards/pauperboards/brick/info.json
  keyboards/pauperboards/brick/keymaps/default/keymap.c
  keyboards/pauperboards/brick/keymaps/via/keymap.c
  keyboards/pauperboards/brick/keymaps/via/rules.mk
  keyboards/pauperboards/brick/readme.md
  keyboards/pauperboards/brick/rules.mk
Labels: keyboard, keymap, via

#19812 [Keyboard] Add Degenpad
  keyboards/thepanduuh/degenpad/config.h
  keyboards/thepanduuh/degenpad/degenpad.c
  keyboards/thepanduuh/degenpad/degenpad.h
  keyboards/thepanduuh/degenpad/info.json
  keyboards/thepanduuh/degenpad/keymaps/default/keymap.c
  keyboards/thepanduuh/degenpad/keymaps/via/keymap.c
  keyboards/thepanduuh/degenpad/keymaps/via/rules.mk
  keyboards/thepanduuh/degenpad/readme.md
  keyboards/thepanduuh/degenpad/rules.mk
Labels: keyboard, keymap, via

#19875 Align sequencer keycodes
  data/constants/keycodes/keycodes_0.0.2_sequencer.hjson
  docs/feature_sequencer.md
  quantum/keycodes.h
  quantum/process_keycode/process_sequencer.c
  quantum/quantum_keycodes_legacy.h
  tests/test_common/keycode_table.cpp
Labels: enhancement, core, documentation, breaking_change_2023q1

#19552 Add caps lock indicator capabilities to M75S
  keyboards/mode/m75s/chconf.h
  keyboards/mode/m75s/config.h
  keyboards/mode/m75s/halconf.h
  keyboards/mode/m75s/m75s.c
  keyboards/mode/m75s/m75s.h
  keyboards/mode/m75s/mcuconf.h
  keyboards/mode/m75s/rules.mk
Labels: keyboard

#19841 [Keyboard] Add LED startup sequence to Lumberjack
  keyboards/peej/lumberjack/keymaps/via/keymap.c
  keyboards/peej/lumberjack/lumberjack.c
Labels: keyboard, keymap, via

#19868 Add ac001 keyboard
  keyboards/hfdkb/ac001/ac001.c
  keyboards/hfdkb/ac001/ac001.h
  keyboards/hfdkb/ac001/config.h
  keyboards/hfdkb/ac001/halconf.h
  keyboards/hfdkb/ac001/info.json
  keyboards/hfdkb/ac001/keymaps/default/keymap.c
  keyboards/hfdkb/ac001/keymaps/via/keymap.c
  keyboards/hfdkb/ac001/keymaps/via/rules.mk
  keyboards/hfdkb/ac001/mcuconf.h
  keyboards/hfdkb/ac001/readme.md
  keyboards/hfdkb/ac001/rules.mk
Labels: keyboard, keymap, via

#19878 Add mouse layer to Kprepublic BM40HSRGB Coffee layout
  keyboards/kprepublic/bm40hsrgb/keymaps/coffee/config.h
  keyboards/kprepublic/bm40hsrgb/keymaps/coffee/keymap.c
  keyboards/kprepublic/bm40hsrgb/keymaps/coffee/readme.md
  keyboards/kprepublic/bm40hsrgb/keymaps/coffee/rules.mk
Labels: keymap

#11528 Fix functions when `NO_ACTION_TAPPING` is defined
  quantum/action.c
  quantum/action_tapping.h
  quantum/keymap_common.c
  quantum/process_keycode/process_autocorrect.c
  quantum/process_keycode/process_caps_word.c
  tests/no_tapping/no_action_tapping/config.h
  tests/no_tapping/no_action_tapping/test.mk
  tests/no_tapping/no_action_tapping/test_layer_tap.cpp
  tests/no_tapping/no_action_tapping/test_mod_tap.cpp
  tests/no_tapping/no_action_tapping/test_one_shot_keys.cpp
  tests/no_tapping/no_mod_tap_mods/config.h
  tests/no_tapping/no_mod_tap_mods/test.mk
  tests/no_tapping/no_mod_tap_mods/test_tapping.cpp
Labels: core, breaking_change_2023q1

#19885 Add `mass-compile` ability to filter by key existence.
  lib/python/qmk/cli/mass_compile.py
Labels: python, cli

#19876 BM40 keymap for Skewwhiffy, revamp
  keyboards/kprepublic/bm40hsrgb/keymaps/skewwhiffy/keymap.c
  keyboards/kprepublic/bm40hsrgb/keymaps/skewwhiffy/readme.md
Labels: keymap

#19880 [Keymap] Add encoder map to degenpad default keymap
  keyboards/thepanduuh/degenpad/keymaps/default/keymap.c
Labels: keymap

#19884 Move `KC_MISSION_CONTROL`/`KC_LAUNCHPAD` keycodes to core
  data/constants/keycodes/keycodes_0.0.2_basic.hjson
  docs/keycodes.md
  docs/keycodes_basic.md
  keyboards/gmmk/pro/rev1/ansi/keymaps/andrebrait/keymap.c
  keyboards/gmmk/pro/rev1/ansi/keymaps/macos/keymap.c
  keyboards/keebio/sinc/keymaps/lickel/keymap.c
  keyboards/keychron/common/keychron_common.c
  keyboards/keychron/common/keychron_common.h
  keyboards/keychron/q1/ansi/keymaps/gtg465x/keymap.c
  keyboards/keychron/q1/ansi/keymaps/mkillewald/keymap.c
  keyboards/keychron/q1/ansi/keymaps/teimor/keymap.c
  keyboards/keychron/q1/iso/keymaps/mkillewald_iso/keymap.c
  keyboards/keychron/q2/ansi/keymaps/ladduro/keymap.c
  keyboards/keychron/q2/ansi/keymaps/via/keymap.c
  keyboards/yandrstudio/wave75/wave75.c
  keyboards/yandrstudio/wave75/wave75.h
  keyboards/yandrstudio/yr6095/yr6095.c
  keyboards/yandrstudio/yr6095/yr6095.h
  keyboards/yandrstudio/yr80/yr80.c
  keyboards/yandrstudio/yr80/yr80.h
  quantum/keycodes.h
  tests/test_common/keycode_table.cpp
  tmk_core/protocol/report.h
Labels: core, keyboard, keymap, documentation, via, breaking_change_2023q1

#19891 Refactor more `KC_MISSION_CONTROL`/`KC_LAUNCHPAD` usages
  keyboards/idobao/id61/keymaps/idobao/keymap.c
  keyboards/idobao/id63/keymaps/idobao/keymap.c
  keyboards/idobao/id67/keymaps/idobao/keymap.c
  keyboards/idobao/id67/keymaps/vinorodrigues/keymap.c
  keyboards/idobao/id80/v3/ansi/keymaps/idobao/keymap.c
  keyboards/idobao/id87/v2/keymaps/idobao/keymap.c
Labels: keymap, breaking_change_2023q1

#19430 New keymap for GMMK2 Compact
  keyboards/gmmk/gmmk2/p65/ansi/keymaps/achrovisual/keymap.c
  keyboards/gmmk/gmmk2/p65/ansi/keymaps/achrovisual/readme.md
  keyboards/gmmk/gmmk2/p65/ansi/keymaps/achrovisual/rgb_matrix_user.inc
  keyboards/gmmk/gmmk2/p65/ansi/keymaps/achrovisual/rules.mk
Labels: keymap, stale

#19890 Remove magic bodges from via keymaps
  keyboards/durgod/dgk6x/dgk6x.c
  keyboards/durgod/dgk6x/dgk6x.h
  keyboards/durgod/dgk6x/galaxy/keymaps/default/keymap.json
  keyboards/durgod/dgk6x/galaxy/keymaps/via/keymap.json
  keyboards/durgod/dgk6x/hades/keymaps/default/keymap.json
  keyboards/durgod/dgk6x/hades/keymaps/via/keymap.json
  keyboards/durgod/dgk6x/venus/keymaps/default/keymap.json
  keyboards/durgod/dgk6x/venus/keymaps/via/keymap.json
  keyboards/durgod/k310/k310.c
  keyboards/durgod/k310/k310.h
  keyboards/durgod/k310/keymaps/default/keymap.json
  keyboards/durgod/k310/keymaps/via/keymap.c
  keyboards/durgod/k320/k320.c
  keyboards/durgod/k320/k320.h
  keyboards/durgod/k320/keymaps/default/keymap.json
  keyboards/durgod/k320/keymaps/via/keymap.c
  keyboards/yandrstudio/buff67v3/buff67v3.c
  keyboards/yandrstudio/buff67v3/buff67v3.h
  keyboards/yandrstudio/nz64/nz64.c
  keyboards/yandrstudio/nz64/nz64.h
  keyboards/yandrstudio/nz67v2/nz67v2.c
  keyboards/yandrstudio/nz67v2/nz67v2.h
  keyboards/yandrstudio/wave75/wave75.c
  keyboards/yandrstudio/wave75/wave75.h
  keyboards/yandrstudio/yr6095/yr6095.c
  keyboards/yandrstudio/yr6095/yr6095.h
  keyboards/yandrstudio/yr80/yr80.c
  keyboards/yandrstudio/yr80/yr80.h
Labels: keyboard, keymap, via

#19901 Fixup cannonkeys/satisfaction75 (readd `backlight.breathing_period`)
  keyboards/cannonkeys/satisfaction75/led.c
Labels: keyboard

#19893 [Bug] Fix compilation error when defining QUICK_TAP_TERM_PER_KEY
  quantum/action_tapping.c
  tests/tap_hold_configurations/quick_tap/config.h
Labels: bug, core, breaking_change_2023q1

#19877 Align magic keycodes
  data/constants/keycodes/keycodes_0.0.2_magic.hjson
  docs/keycodes.md
  docs/keycodes_magic.md
  quantum/keycodes.h
  quantum/process_keycode/process_magic.c
  quantum/quantum_keycodes_legacy.h
  tests/test_common/keycode_table.cpp
Labels: enhancement, core, documentation, breaking_change_2023q1

#19909 Reallocate SAFE_RANGE
  docs/configurator_default_keymaps.md
  keyboards/annepro2/annepro2.h
  keyboards/bajjak/bajjak.h
  keyboards/bastardkb/charybdis/charybdis.c
  keyboards/bastardkb/charybdis/charybdis.h
  keyboards/bastardkb/charybdis/readme.md
  keyboards/bastardkb/dilemma/dilemma.c
  keyboards/bastardkb/dilemma/dilemma.h
  keyboards/clueboard/2x1800/2019/2019.h
  keyboards/ergodox_ez/ergodox_ez.h
  keyboards/ergodox_ez/keymaps/default/keymap.c
  keyboards/ergodox_ez/keymaps/nathanvercaemert/keymap.c
  keyboards/ergodox_ez/keymaps/stamm/keymap.c
  keyboards/ffkeebs/puca/puca.h
  keyboards/handwired/tractyl_manuform/tractyl_manuform.h
  keyboards/mechwild/puckbuddy/puckbuddy.h
  keyboards/moonlander/keymaps/default/keymap.c
  keyboards/moonlander/keymaps/shahn-neo/keymap.c
  keyboards/moonlander/moonlander.h
  keyboards/mxss/keymaps/default/keymap.c
  keyboards/mxss/mxss_frontled.h
  keyboards/mxss/readme.md
  keyboards/mxss/templates/keymap.c
  keyboards/oddball/oddball.h
  keyboards/omnikeyish/omnikeyish.h
  keyboards/orthocode/orthocode.h
  keyboards/planck/ez/ez.h
  keyboards/planck/keymaps/charlesrocket/keymap.c
  keyboards/planck/keymaps/oryx/keymap.c
  keyboards/ploopyco/mouse/keymaps/default/keymap.c
  keyboards/ploopyco/mouse/keymaps/drashna/keymap.c
  keyboards/ploopyco/mouse/mouse.h
  keyboards/ploopyco/trackball/keymaps/default/keymap.c
  keyboards/ploopyco/trackball/trackball.h
  keyboards/ploopyco/trackball_mini/keymaps/default/keymap.c
  keyboards/ploopyco/trackball_mini/keymaps/drag_scroll/keymap.c
  keyboards/ploopyco/trackball_mini/trackball_mini.h
  keyboards/ploopyco/trackball_nano/keymaps/default/keymap.c
  keyboards/ploopyco/trackball_nano/keymaps/maddie/keymap.c
  keyboards/ploopyco/trackball_nano/trackball_nano.h
  keyboards/ploopyco/trackball_thumb/keymaps/default/keymap.c
  keyboards/ploopyco/trackball_thumb/trackball_thumb.h
  keyboards/rubi/keymaps/default/keymap.c
  keyboards/rubi/rubi.h
  keyboards/terrazzo/terrazzo.h
  keyboards/v60_type_r/v60_type_r.h
  keyboards/yushakobo/navpad/navpad_prefs.h
  quantum/quantum_keycodes.h
  users/drashna/keyrecords/process_records.h
  users/drashna/pointing/pointing.c
Labels: core, keyboard, keymap, documentation, breaking_change_2023q1

#19907 Reallocate user/kb keycode ranges
  data/constants/keycodes/keycodes_0.0.2.hjson
  data/constants/keycodes/keycodes_0.0.2_user.hjson
  lib/python/qmk/json_schema.py
  lib/python/qmk/keycodes.py
  quantum/keycodes.h
Labels: core, python, cli, breaking_change_2023q1

#19919 Use standard magic keycodes in `yandrstudio` keymaps
  keyboards/yandrstudio/buff67v3/keymaps/default/keymap.c
  keyboards/yandrstudio/buff67v3/keymaps/via/keymap.c
  keyboards/yandrstudio/nz64/keymaps/default/keymap.c
  keyboards/yandrstudio/nz64/keymaps/via/keymap.c
  keyboards/yandrstudio/nz67v2/keymaps/default/keymap.c
  keyboards/yandrstudio/nz67v2/keymaps/via/keymap.c
  keyboards/yandrstudio/wave75/keymaps/default/keymap.c
  keyboards/yandrstudio/wave75/keymaps/via/keymap.c
  keyboards/yandrstudio/yr6095/keymaps/default/keymap.c
  keyboards/yandrstudio/yr6095/keymaps/via/keymap.c
Labels: keymap, via

#19918 Remove VIA specific use of `MACRO0*`
  keyboards/keychron/q0/rev_0131/keymaps/keychron/keymap.c
  keyboards/keychron/q0/rev_0131/keymaps/via/keymap.c
  keyboards/keychron/v10/ansi_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/v10/ansi_encoder/keymaps/via/keymap.c
  keyboards/keychron/v10/iso_encoder/keymaps/keychron/keymap.c
  keyboards/keychron/v10/iso_encoder/keymaps/via/keymap.c
Labels: keymap, via, breaking_change_2023q1

#19928 [Keyboard] Update Reviung Vendor ID
  keyboards/reviung/reviung34/info.json
Labels: keyboard

#19941 `keebio/kbo5000`: fix encoder config
  keyboards/keebio/kbo5000/keymaps/default/keymap.c
  keyboards/keebio/kbo5000/keymaps/iso/keymap.c
  keyboards/keebio/kbo5000/keymaps/via/keymap.c
  keyboards/keebio/kbo5000/rev1/info.json
Labels: enhancement, keyboard, keymap, via

#19940 Hide hex output when building uf2
  builddefs/common_rules.mk
Labels: enhancement, core

#19945 Breaking Changes 2023q1 changelog.
  docs/ChangeLog/20230226.md
  docs/ChangeLog/20230226/PR15741.md
  docs/ChangeLog/20230226/PR17007.md
  readme.md
Labels: documentation

#19953 Add changelog for Leader Key refactor
  docs/ChangeLog/20230226.md
Labels: documentation

#19950 Flag "builddefs" as core changes
  .github/labeler.yml
Labels: CI

#19957 remove non-existent method from ploopy documentation
  keyboards/ploopyco/trackball/readme.md
Labels: keyboard

#19942 Add FRL84 PCB.
  keyboards/studiokestra/frl84/config.h
  keyboards/studiokestra/frl84/info.json
  keyboards/studiokestra/frl84/keymaps/default/keymap.c
  keyboards/studiokestra/frl84/keymaps/via/keymap.c
  keyboards/studiokestra/frl84/keymaps/via/rules.mk
  keyboards/studiokestra/frl84/readme.md
  keyboards/studiokestra/frl84/rules.mk
Labels: keyboard, keymap, via

#19938 sofle/keymaps/michal: rewrite
  keyboards/sofle/keymaps/michal/config.h
  keyboards/sofle/keymaps/michal/keymap.c
  keyboards/sofle/keymaps/michal/rules.mk
Labels: keymap

#19914 Add GPAD8-2R (gpad8_2r) Macro Pad under gkeyboard
  keyboards/gkeyboard/gpad8_2r/config.h
  keyboards/gkeyboard/gpad8_2r/info.json
  keyboards/gkeyboard/gpad8_2r/keymaps/default/keymap.c
  keyboards/gkeyboard/gpad8_2r/keymaps/default/rules.mk
  keyboards/gkeyboard/gpad8_2r/keymaps/via/keymap.c
  keyboards/gkeyboard/gpad8_2r/keymaps/via/rules.mk
  keyboards/gkeyboard/gpad8_2r/readme.md
  keyboards/gkeyboard/gpad8_2r/rules.mk
Labels: keyboard, keymap, via

#19970 Disable safe.directory check
  .github/workflows/cli.yml
  .github/workflows/format.yml
  .github/workflows/format_push.yml
  .github/workflows/lint.yml
  .github/workflows/regen.yml
  .github/workflows/regen_push.yml
Labels: bug, CI
