Repository qmk/qmk_firmware, pull requests merged in 2024-08, with the labels that each got.

#24232 Remove `handwired/pytest/has_template`
  keyboards/handwired/pytest/has_template/keymaps/default/keymap.c
  keyboards/handwired/pytest/has_template/keymaps/default_json/keymap.json
  keyboards/handwired/pytest/has_template/keymaps/nocpp/keymap.c
  keyboards/handwired/pytest/has_template/readme.md
  keyboards/handwired/pytest/has_template/rules.mk
  keyboards/handwired/pytest/has_template/templates/keymap.c
  keyboards/handwired/pytest/has_template/templates/keymap.json
  lib/python/qmk/tests/test_cli_commands.py
  lib/python/qmk/tests/test_qmk_keymap.py
Labels: enhancement, keyboard, keymap, python, cli

#24233 Refactor opendeck/32
  keyboards/opendeck/32/keymaps/default/keymap.c
  keyboards/opendeck/32/rev1/config.h
  keyboards/opendeck/32/rev1/keyboard.json
  keyboards/opendeck/32/rev1/rev1.c
  keyboards/opendeck/32/rev1/rev1.h
Labels: optimization, keyboard, keymap

#24220 FX19 Support
  keyboards/falsonix/fx19/keyboard.json
  keyboards/falsonix/fx19/keymaps/default/keymap.c
  keyboards/falsonix/fx19/readme.md
Labels: keymap

#24124 `handwired/p65rgb`: move RGB Matrix LED config to data driven
  keyboards/handwired/p65rgb/config.h
  keyboards/handwired/p65rgb/keyboard.json
  keyboards/handwired/p65rgb/p65rgb.c
Labels: enhancement, keyboard, breaking_change_2024q3

#24115 `atlantis/ak81_ve`: move RGB Matrix LED config to data driven
  keyboards/atlantis/ak81_ve/ak81_ve.c
  keyboards/atlantis/ak81_ve/config.h
  keyboards/atlantis/ak81_ve/keyboard.json
Labels: enhancement, keyboard, breaking_change_2024q3

#24183 Add Void65h
  keyboards/eason/void65h/config.h
  keyboards/eason/void65h/halconf.h
  keyboards/eason/void65h/keyboard.json
  keyboards/eason/void65h/keymaps/default/keymap.c
  keyboards/eason/void65h/keymaps/via/keymap.c
  keyboards/eason/void65h/keymaps/via/rules.mk
  keyboards/eason/void65h/mcuconf.h
  keyboards/eason/void65h/readme.md
Labels: keyboard, keymap, via

#24136 `hs60/v1`: separate into ANSI and ISO revisions
  keyboards/hs60/v1/ansi/ansi.c
  keyboards/hs60/v1/ansi/keyboard.json
  keyboards/hs60/v1/ansi/keymaps/default/keymap.c
  keyboards/hs60/v1/ansi/keymaps/default/readme.md
  keyboards/hs60/v1/ansi/rules.mk
  keyboards/hs60/v1/config.h
  keyboards/hs60/v1/info.json
  keyboards/hs60/v1/iso/iso.c
  keyboards/hs60/v1/iso/keyboard.json
  keyboards/hs60/v1/iso/keymaps/default/keymap.c
  keyboards/hs60/v1/iso/keymaps/default/readme.md
  keyboards/hs60/v1/iso/rules.mk
  keyboards/hs60/v1/keyboard.json
  keyboards/hs60/v1/keymaps/ansi/config.h
  keyboards/hs60/v1/readme.md
  keyboards/hs60/v1/v1.c
Labels: enhancement, keyboard, keymap

#24238 Remove unnecessary RGB Matrix shutdown hooks
  keyboards/geekboards/macropad_v2/macropad_v2.c
  keyboards/geekboards/tester/keyboard.json
  keyboards/geekboards/tester/tester.c
  keyboards/handwired/colorlice/colorlice.c
  keyboards/handwired/p65rgb/p65rgb.c
  keyboards/kbdfans/kbdmini/kbdmini.c
  keyboards/kprepublic/bm40hsrgb/rev1/rev1.c
  keyboards/latincompass/latin60rgb/latin60rgb.c
  keyboards/melgeek/mj61/rev1/rev1.c
  keyboards/melgeek/mj61/rev2/rev2.c
  keyboards/melgeek/mj63/rev1/rev1.c
  keyboards/melgeek/mj63/rev2/rev2.c
  keyboards/melgeek/mj64/rev1/rev1.c
  keyboards/melgeek/mj64/rev2/rev2.c
  keyboards/melgeek/mj64/rev3/rev3.c
  keyboards/melgeek/mj65/rev3/rev3.c
  keyboards/melgeek/mojo75/rev1/rev1.c
  keyboards/percent/canoe_gen2/canoe_gen2.c
  keyboards/phase_studio/titan65/hotswap/hotswap.c
  keyboards/phase_studio/titan65/hotswap/keyboard.json
  keyboards/planck/light/keyboard.json
  keyboards/planck/light/light.c
  keyboards/sowbug/68keys/68keys.c
  keyboards/sowbug/68keys/keyboard.json
  keyboards/sowbug/ansi_tkl/ansi_tkl.c
  keyboards/sowbug/ansi_tkl/keyboard.json
Labels: keyboard

#24240 Small tweaks to keymap generation
  lib/python/qmk/keymap.py
  lib/python/qmk/tests/test_cli_commands.py
  lib/python/qmk/tests/test_qmk_keymap.py
Labels: python, cli

#24237 Refactor orthocode
  keyboards/orthocode/orthocode.c
  keyboards/orthocode/orthocode.h
Labels: optimization, keyboard

#24236 Refactor printedpad
  keyboards/printedpad/keymaps/default/keymap.c
  keyboards/printedpad/keymaps/via/keymap.c
  keyboards/printedpad/oled.c
  keyboards/printedpad/post_rules.mk
  keyboards/printedpad/printedpad.c
  keyboards/printedpad/printedpad.h
  keyboards/printedpad/rules.mk
Labels: optimization, keyboard, keymap, via

#24244 Add support for bunnygirl65
  keyboards/sawnsprojects/bunnygirl65/keyboard.json
  keyboards/sawnsprojects/bunnygirl65/keymaps/default/keymap.c
  keyboards/sawnsprojects/bunnygirl65/keymaps/via/keymap.c
  keyboards/sawnsprojects/bunnygirl65/keymaps/via/rules.mk
  keyboards/sawnsprojects/bunnygirl65/readme.md
Labels: keymap, via

#24212 JJ50 v2 Support
  keyboards/kprepublic/jj50/rev2/keyboard.json
Labels: keyboard

#24156 Add extra compatibility to Sat75 HS PCB
  keyboards/cannonkeys/satisfaction75_hs/keyboard.json
  keyboards/cannonkeys/satisfaction75_hs/keymaps/default/keymap.c
  keyboards/cannonkeys/satisfaction75_hs/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#24253 Fixup `handwired/dactyl_minidox`
  keyboards/handwired/dactyl_minidox/config.h
  keyboards/handwired/dactyl_minidox/dactyl_minidox.c
  keyboards/handwired/dactyl_minidox/keyboard.json
  keyboards/handwired/dactyl_minidox/keymaps/default/keymap.c
  keyboards/handwired/dactyl_minidox/keymaps/default/keymap.json
  keyboards/handwired/dactyl_minidox/keymaps/dlford/config.h
  keyboards/handwired/dactyl_minidox/keymaps/dlford/features/caps_word.c
  keyboards/handwired/dactyl_minidox/keymaps/dlford/features/caps_word.h
  keyboards/handwired/dactyl_minidox/keymaps/dlford/keymap.c
  keyboards/handwired/dactyl_minidox/keymaps/dlford/rules.mk
  keyboards/handwired/dactyl_minidox/keymaps/via/config.h
  keyboards/handwired/dactyl_minidox/keymaps/via/keymap.c
  keyboards/handwired/dactyl_minidox/keymaps/via/keymap.json
  keyboards/handwired/dactyl_minidox/keymaps/via/rules.mk
  keyboards/handwired/dactyl_minidox/readme.md
Labels: keymap, via

#24231 Remove keyboard level `QK_BOOT` implementations
  keyboards/capsunlocked/cu75/cu75.c
  keyboards/lfkeyboards/lfk65_hs/lfk65_hs.c
  keyboards/lfkeyboards/lfk78/lfk78.c
  keyboards/lfkeyboards/lfk87/lfk87.c
  keyboards/lfkeyboards/mini1800/mini1800.c
  keyboards/lfkeyboards/smk65/revb/revb.c
  keyboards/nullbitsco/tidbit/tidbit.c
  keyboards/snes_macropad/snes_macropad.c
  keyboards/woodkeys/meira/meira.c
Labels: optimization, keyboard

#24267 ChibiOS update script updates.
  util/update_chibios_mirror.sh
Labels: core

#24271 Remove debugging prints.
  builddefs/build_keyboard.mk
Labels: bug, core

#23945 Fix NKRO and Mouse Emulation on arm_atsam
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
Labels: core

#24203 Refactor riverflow RGB matrix loop
  quantum/rgb_matrix/animations/riverflow_anim.h
Labels: core, breaking_change_2024q3

#24202 Refactor starlight RGB matrix effects
  quantum/rgb_matrix/animations/starlight_anim.h
  quantum/rgb_matrix/animations/starlight_dual_hue_anim.h
  quantum/rgb_matrix/animations/starlight_dual_sat_anim.h
Labels: core, breaking_change_2024q3

#23917 [Keyboard] Move Planck EZ to ZSA vendor folder
  data/mappings/keyboard_aliases.hjson
  keyboards/planck/ez/config.h
  keyboards/planck/ez/glow/keyboard.json
  keyboards/planck/ez/info.json
  keyboards/zsa/planck_ez/base/keyboard.json
  keyboards/zsa/planck_ez/config.h
  keyboards/zsa/planck_ez/glow/glow.c
  keyboards/zsa/planck_ez/glow/keyboard.json
  keyboards/zsa/planck_ez/halconf.h
  keyboards/zsa/planck_ez/info.json
  keyboards/zsa/planck_ez/keymaps/default/keymap.json
  keyboards/zsa/planck_ez/mcuconf.h
  keyboards/zsa/planck_ez/planck_ez.c
  keyboards/zsa/planck_ez/planck_ez.h
  keyboards/zsa/planck_ez/readme.md
  keyboards/zsa/planck_ez/rules.mk
Labels: keyboard, keymap, dd, breaking_change_2024q3

#24281 Fix version check in Fedora install script to be >= 39
  util/install/fedora.sh
Labels: bug, core

#24283 Update Discord URL
  .github/ISSUE_TEMPLATE/config.yml
  docs/breaking_changes_instructions.md
  docs/contributing.md
  docs/custom_quantum_functions.md
  docs/faq_general.md
  docs/hand_wire.md
  docs/index.md
  docs/newbs_flashing.md
  docs/pr_checklist.md
  docs/support.md
  lib/python/qmk/cli/doctor/main.py
  readme.md
Labels: documentation, python, cli, CI

#23986 [Keyboard] Add/Update Pimoroni keybow 2040
  keyboards/pimoroni/keybow2040/config.h
  keyboards/pimoroni/keybow2040/halconf.h
  keyboards/pimoroni/keybow2040/keyboard.json
  keyboards/pimoroni/keybow2040/keybow2040.c
  keyboards/pimoroni/keybow2040/keymaps/acc/keymap.json
  keyboards/pimoroni/keybow2040/keymaps/default/keymap.json
  keyboards/pimoroni/keybow2040/keymaps/via/keymap.json
  keyboards/pimoroni/keybow2040/mcuconf.h
  keyboards/pimoroni/keybow2040/readme.md
Labels: keyboard, keymap, via

#24292 Remove like_jis keymap.
  keyboards/marksard/treadstone32/keymaps/like_jis/config.h
  keyboards/marksard/treadstone32/keymaps/like_jis/keymap.c
  keyboards/marksard/treadstone32/keymaps/like_jis/readme_jp.md
  keyboards/marksard/treadstone32/keymaps/like_jis/rules.mk
  keyboards/marksard/treadstone48/keymaps/like_jis/config.h
  keyboards/marksard/treadstone48/keymaps/like_jis/keymap.c
  keyboards/marksard/treadstone48/keymaps/like_jis/readme_jp.md
  keyboards/marksard/treadstone48/keymaps/like_jis/rules.mk
  keyboards/recompile_keys/nomu30/keymaps/like_jis/config.h
  keyboards/recompile_keys/nomu30/keymaps/like_jis/keymap.c
  keyboards/recompile_keys/nomu30/keymaps/like_jis/readme.md
  keyboards/recompile_keys/nomu30/keymaps/like_jis/rules.mk
  keyboards/thevankeyboards/minivan/keymaps/like_jis/config.h
  keyboards/thevankeyboards/minivan/keymaps/like_jis/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/like_jis/readme.md
  keyboards/thevankeyboards/minivan/keymaps/like_jis/rules.mk
Labels: keymap

#24142 Dynamic macro callbacks
  keyboards/ergodox_ez/ergodox_ez.c
  keyboards/ibm/model_m/mschwingen/mschwingen.c
  keyboards/zsa/moonlander/moonlander.c
  keyboards/zsa/voyager/voyager.c
  quantum/dynamic_macro.h
  quantum/process_keycode/process_dynamic_macro.c
  quantum/process_keycode/process_dynamic_macro.h
Labels: enhancement, core, keyboard, keymap, breaking_change_2024q3

#24299 Default STM32G431 back to wear_leveling EFL driver
  platforms/chibios/mcu_selection.mk
Labels: core

#23911 [Keyboard] Update ZSA Moonlander
  keyboards/zsa/moonlander/config.h
  keyboards/zsa/moonlander/keyboard.json
  keyboards/zsa/moonlander/ld/STM32F303xB.ld
  keyboards/zsa/moonlander/matrix.c
  keyboards/zsa/moonlander/mcuconf.h
  keyboards/zsa/moonlander/moonlander.c
  keyboards/zsa/moonlander/rules.mk
Labels: keyboard, breaking_change_2024q3

#23341 Enhance overlapping mouse keys control
  docs/features/mouse_keys.md
  quantum/mousekey.c
  quantum/mousekey.h
Labels: core, documentation, awaiting review, breaking_change_2024q3

#24221 Attempt to fix auto 'keyboard' label
  .github/labeler.yml
Labels: CI

#24306 Fix dead link in porting_your_keyboard_to_qmk.md
  docs/porting_your_keyboard_to_qmk.md
Labels: documentation

#24291 Add Quefrency Rev. 6
  keyboards/keebio/quefrency/keymaps/default65/keymap.c
  keyboards/keebio/quefrency/keymaps/via/config.h
  keyboards/keebio/quefrency/keymaps/via/keymap.c
  keyboards/keebio/quefrency/rev6/config.h
  keyboards/keebio/quefrency/rev6/halconf.h
  keyboards/keebio/quefrency/rev6/keyboard.json
  keyboards/keebio/quefrency/rev6/mcuconf.h
  keyboards/keebio/quefrency/rev6/rev6.c
  keyboards/keebio/quefrency/rev6/rules.mk
Labels: keyboard, keymap, via

#24316 Fix build failure on zsa/moonlander with DYNAMIC_MACRO_ENABLE
  keyboards/zsa/moonlander/moonlander.c
Labels: bug, keyboard

#24324 2024q3 breaking changes changelog
  docs/ChangeLog/20240825.md
  docs/ChangeLog/20240825/PR24120.md
  docs/ChangeLog/20240825/PR24192.md
  docs/_sidebar.json
  docs/breaking_changes.md
  docs/breaking_changes_history.md
Labels: documentation

#24194 Segregrate keycode at pre-process record quantum
  quantum/quantum.c
Labels: core, develop-fast-track

#24325 Reject via keymaps in lint
  lib/python/qmk/cli/lint.py
Labels: python, cli

#24329 Add via keymaps to gitignore
  .gitignore
Labels: enhancement

#24318 fixed spelling errors in example 4
  docs/features/tap_dance.md
Labels: documentation

#24331 Update next breaking changes date
  docs/breaking_changes.md
Labels: documentation

#23931 [Keyboard] Add Macropad VRYNBOARD
  keyboards/zlabkeeb/vrynboard/config.h
  keyboards/zlabkeeb/vrynboard/keyboard.json
  keyboards/zlabkeeb/vrynboard/keymaps/default/keymap.c
  keyboards/zlabkeeb/vrynboard/readme.md
  keyboards/zlabkeeb/vrynboard/vrynboard.c
Labels: keyboard, keymap, via

#24223 Add ability to poweroff ADNS5050 sensor
  drivers/sensors/adns5050.c
  drivers/sensors/adns5050.h
  keyboards/ploopyco/trackball_nano/keymaps/default/keymap.c
Labels: core, keymap, develop-fast-track

#24330 Update PR Checklist for 'via' keymaps
  docs/pr_checklist.md
Labels: documentation

#24332 Changelog update with actual `qmk_userspace_via` link.
  docs/ChangeLog/20240825.md
Labels: documentation

#24251 Add new connection keycodes for Bluetooth, 2.4GHz.
  builddefs/common_features.mk
  data/constants/keycodes/keycodes_0.0.5_connection.hjson
  data/constants/keycodes/keycodes_0.0.5_quantum.hjson
  docs/features/bluetooth.md
  docs/keycodes.md
  quantum/keycodes.h
  quantum/process_keycode/process_connection.c
  quantum/process_keycode/process_connection.h
  quantum/quantum.c
  quantum/quantum_keycodes_legacy.h
  tests/test_common/keycode_table.cpp
Labels: core, documentation, dd

#24047 [Keyboard] Add Tyson60s keyboard
  keyboards/trnthsn/tyson60s/config.h
  keyboards/trnthsn/tyson60s/keyboard.json
  keyboards/trnthsn/tyson60s/keymaps/default/keymap.c
  keyboards/trnthsn/tyson60s/readme.md
Labels: keyboard, keymap, stale

#24154 [Keyboard] Add Acid and Co. Stellaron TKL
  keyboards/zeix/acidandco/stellaron/config.h
  keyboards/zeix/acidandco/stellaron/keyboard.json
  keyboards/zeix/acidandco/stellaron/keymaps/default/keymap.c
  keyboards/zeix/acidandco/stellaron/readme.md
Labels: keyboard, keymap

#24260 fix: corne oled modifiers
  keyboards/splitkb/aurora/corne/corne.c
Labels: keyboard

#24343 Fix two firmware size warnings
  keyboards/cherrybstudio/cb87rgb/keyboard.json
  keyboards/tkc/portico75/keyboard.json
Labels: enhancement, keyboard

#24344 Fix wrong OLED code for a few keyboards
  keyboards/keycapsss/kimiko/keymaps/default/keymap.c
  keyboards/keycapsss/kimiko/rev2/rev2.c
  keyboards/splitkb/aurora/helix/helix.c
  keyboards/splitkb/aurora/lily58/lily58.c
  keyboards/splitkb/aurora/sofle_v2/sofle_v2.c
  keyboards/splitkb/aurora/sweep/sweep.c
Labels: keyboard, keymap

#24224 Add a-jazz akc084 keyboard
  keyboards/a_jazz/akc084/keyboard.json
  keyboards/a_jazz/akc084/keymaps/default/keymap.c
  keyboards/a_jazz/akc084/readme.md
  keyboards/a_jazz/akc084/rules.mk
Labels: keyboard, keymap

#23838 Cutie Club Fidelity Layout Additions
  keyboards/cutie_club/fidelity/keyboard.json
  keyboards/cutie_club/fidelity/keymaps/default/keymap.c
Labels: keyboard, keymap, via

#23928 Update joystick.md
  docs/features/joystick.md
Labels: documentation

#24181 Add ScottoHazard
  keyboards/handwired/scottokeebs/scottohazard/config.h
  keyboards/handwired/scottokeebs/scottohazard/keyboard.json
  keyboards/handwired/scottokeebs/scottohazard/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottohazard/readme.md
Labels: keyboard, keymap
