Repository qmk/qmk_firmware, pull requests merged in 2024-01, with the labels that each got.

#22792 Migrate LED Matrix config to info.json
  keyboards/clueboard/66_hotswap/gen1/config.h
  keyboards/clueboard/66_hotswap/gen1/info.json
  keyboards/input_club/ergodox_infinity/config.h
  keyboards/input_club/ergodox_infinity/info.json
  keyboards/input_club/infinity60/led/config.h
  keyboards/input_club/whitefox/config.h
  keyboards/input_club/whitefox/info.json
  keyboards/keychron/c1_pro/ansi/white/config.h
  keyboards/keychron/c1_pro/ansi/white/info.json
  keyboards/keychron/c2_pro/ansi/white/config.h
  keyboards/keychron/c2_pro/ansi/white/info.json
  keyboards/keychron/s1/ansi/white/config.h
  keyboards/keychron/s1/ansi/white/info.json
  keyboards/mechlovin/olly/octagon/config.h
  keyboards/mechlovin/olly/octagon/info.json
  keyboards/mechlovin/zed65/mono_led/config.h
  keyboards/mechlovin/zed65/mono_led/info.json
  keyboards/terrazzo/config.h
  keyboards/terrazzo/info.json
Labels: keyboard

#22620 LED drivers: extract IS31FL3742A from IS31COMMON
  builddefs/common_features.mk
  drivers/led/issi/is31fl3742a-simple.c
  drivers/led/issi/is31fl3742a-simple.h
  drivers/led/issi/is31fl3742a.c
  drivers/led/issi/is31fl3742a.h
  drivers/led/issi/is31flcommon.h
  quantum/led_matrix/led_matrix_drivers.c
  quantum/led_matrix/led_matrix_drivers.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
  quantum/rgb_matrix/rgb_matrix_drivers.h
Labels: enhancement, core

#22796 Temporary fix for mechlovin/olly/octagon
  keyboards/mechlovin/olly/octagon/config.h
Labels: bug, keyboard

#22635 LED drivers: extract IS31FL3743A from IS31COMMON
  builddefs/common_features.mk
  drivers/led/issi/is31fl3743a-simple.c
  drivers/led/issi/is31fl3743a-simple.h
  drivers/led/issi/is31fl3743a.c
  drivers/led/issi/is31fl3743a.h
  drivers/led/issi/is31flcommon.h
  keyboards/skyloong/gk61/pro/config.h
  keyboards/skyloong/gk61/pro/pro.c
  keyboards/skyloong/gk61/pro_48/config.h
  keyboards/skyloong/gk61/pro_48/pro_48.c
  quantum/led_matrix/led_matrix_drivers.c
  quantum/led_matrix/led_matrix_drivers.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
  quantum/rgb_matrix/rgb_matrix_drivers.h
Labels: enhancement, core, keyboard

#22637 LED drivers: extract IS31FL3746A from IS31COMMON
  builddefs/common_features.mk
  drivers/led/issi/is31fl3746.h
  drivers/led/issi/is31fl3746a-simple.c
  drivers/led/issi/is31fl3746a-simple.h
  drivers/led/issi/is31fl3746a.c
  drivers/led/issi/is31fl3746a.h
  drivers/led/issi/is31flcommon.h
  quantum/led_matrix/led_matrix_drivers.c
  quantum/led_matrix/led_matrix_drivers.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
  quantum/rgb_matrix/rgb_matrix_drivers.h
Labels: enhancement, core

#22798 Migrate RGB Matrix config to info.json - A
  keyboards/abatskeyboardclub/nayeon/config.h
  keyboards/abatskeyboardclub/nayeon/info.json
  keyboards/abatskeyboardclub/nayeon/nayeon.c
  keyboards/abatskeyboardclub/nayeon/rules.mk
  keyboards/abko/ak84bt/config.h
  keyboards/abko/ak84bt/info.json
  keyboards/acheron/apollo/87h/delta/config.h
  keyboards/acheron/apollo/87h/delta/info.json
  keyboards/acheron/apollo/87h/gamma/config.h
  keyboards/acheron/apollo/87h/gamma/info.json
  keyboards/acheron/apollo/87htsc/config.h
  keyboards/acheron/apollo/87htsc/info.json
  keyboards/acheron/apollo/88htsc/config.h
  keyboards/acheron/apollo/88htsc/info.json
  keyboards/adafruit/macropad/config.h
  keyboards/adafruit/macropad/info.json
  keyboards/adafruit/macropad/macropad.c
  keyboards/adpenrose/akemipad/config.h
  keyboards/adpenrose/akemipad/info.json
  keyboards/aeboards/satellite/rev1/config.h
  keyboards/aeboards/satellite/rev1/info.json
  keyboards/akko/5087/config.h
  keyboards/akko/5087/info.json
  keyboards/akko/5108/config.h
  keyboards/akko/5108/info.json
  keyboards/akko/acr87/config.h
  keyboards/akko/acr87/info.json
  keyboards/akko/top40/config.h
  keyboards/akko/top40/info.json
  keyboards/aleblazer/zodiark/config.h
  keyboards/aleblazer/zodiark/info.json
  keyboards/an_achronism/tetromino/config.h
  keyboards/atlantis/ak81_ve/config.h
  keyboards/atlantis/ak81_ve/info.json
  keyboards/atlantis/ps17/config.h
  keyboards/atlantis/ps17/info.json
  keyboards/axolstudio/yeti/hotswap/config.h
  keyboards/axolstudio/yeti/hotswap/info.json
Labels: keyboard

#22799 Keychron Q11 usb poweron fix
  keyboards/keychron/q11/config.h
Labels: keyboard

#22800 Remove IS31FLCOMMON code
  drivers/led/issi/is31flcommon.c
  drivers/led/issi/is31flcommon.h
  keyboards/akko/5087/config.h
  keyboards/akko/5087/info.json
  keyboards/darkproject/kd83a_bfg_edition/config.h
  keyboards/darkproject/kd83a_bfg_edition/info.json
  keyboards/darkproject/kd87a_bfg_edition/config.h
  keyboards/darkproject/kd87a_bfg_edition/info.json
  keyboards/jukaie/jk01/config.h
  keyboards/jukaie/jk01/info.json
  keyboards/kprepublic/cstc40/config.h
  keyboards/orthograph/orthograph.c
  keyboards/phentech/rpk_001/config.h
  keyboards/phentech/rpk_001/info.json
  keyboards/projectd/75/ansi/config.h
  keyboards/projectd/75/ansi/info.json
  keyboards/qwertykeys/qk100/ansi/config.h
  quantum/led_matrix/led_matrix_drivers.c
  quantum/led_matrix/led_matrix_drivers.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
  quantum/rgb_matrix/rgb_matrix_drivers.h
Labels: enhancement, core, keyboard

#22809 Ensure LED config is extracted when feature is disabled
  lib/python/qmk/info.py
Labels: bug, python, cli

#22806 Migrate RGB Matrix config to info.json - B
  keyboards/bandominedoni/config.h
  keyboards/bandominedoni/info.json
  keyboards/basekeys/trifecta/config.h
  keyboards/basekeys/trifecta/info.json
  keyboards/bastardkb/charybdis/3x5/config.h
  keyboards/bastardkb/charybdis/3x5/info.json
  keyboards/bastardkb/charybdis/3x6/config.h
  keyboards/bastardkb/charybdis/3x6/info.json
  keyboards/bastardkb/charybdis/4x6/config.h
  keyboards/bastardkb/charybdis/4x6/info.json
  keyboards/bastardkb/charybdis/config.h
  keyboards/bastardkb/charybdis/info.json
  keyboards/bastardkb/dilemma/3x5_3/config.h
  keyboards/bastardkb/dilemma/3x5_3/info.json
  keyboards/bastardkb/dilemma/4x6_4/config.h
  keyboards/bastardkb/dilemma/4x6_4/info.json
  keyboards/bastardkb/scylla/config.h
  keyboards/bastardkb/scylla/info.json
  keyboards/bastardkb/skeletyl/config.h
  keyboards/bastardkb/skeletyl/info.json
  keyboards/bastardkb/tbkmini/config.h
  keyboards/bastardkb/tbkmini/info.json
  keyboards/binepad/bn006/config.h
  keyboards/binepad/bn006/info.json
  keyboards/black_hellebore/config.h
  keyboards/black_hellebore/info.json
  keyboards/blockboy/ac980mini/config.h
  keyboards/blockboy/ac980mini/info.json
  keyboards/boardsource/beiwagon/config.h
  keyboards/boardsource/beiwagon/info.json
  keyboards/boardsource/equals/48/config.h
  keyboards/boardsource/equals/60/config.h
  keyboards/boardsource/equals/avr/config.h
  keyboards/boardsource/lulu/config.h
  keyboards/boardsource/microdox/v2/config.h
  keyboards/boardsource/microdox/v2/info.json
  keyboards/boardsource/technik_o/config.h
  keyboards/boardsource/technik_o/info.json
  keyboards/boardsource/technik_s/config.h
  keyboards/boardsource/technik_s/info.json
  keyboards/boardsource/the_mark/config.h
  keyboards/boardsource/the_mark/info.json
  keyboards/boardsource/unicorne/config.h
  keyboards/boardsource/unicorne/info.json
  keyboards/bubble75/hotswap/config.h
  keyboards/bubble75/hotswap/info.json
Labels: keyboard

#22807 Migrate RGB Matrix config to info.json - C
  keyboards/canary/canary60rgb/info.json
  keyboards/canary/canary60rgb/keymaps/via/config.h
  keyboards/canary/canary60rgb/v1/config.h
  keyboards/capsunlocked/cu80/v2/ansi/config.h
  keyboards/capsunlocked/cu80/v2/iso/config.h
  keyboards/checkerboards/quark_lp/config.h
  keyboards/checkerboards/quark_lp/info.json
  keyboards/cherrybstudio/cb87rgb/config.h
  keyboards/cherrybstudio/cb87rgb/info.json
  keyboards/chosfox/cf81/config.h
  keyboards/chosfox/cf81/info.json
  keyboards/chromatonemini/config.h
  keyboards/chromatonemini/info.json
  keyboards/churrosoft/deck8/rgb/config.h
  keyboards/churrosoft/deck8/rgb/info.json
  keyboards/clickety_split/leeloo/rev2/config.h
  keyboards/clickety_split/leeloo/rev2/info.json
  keyboards/clickety_split/leeloo/rev3/config.h
  keyboards/clickety_split/leeloo/rev3/info.json
  keyboards/controllerworks/city42/config.h
  keyboards/controllerworks/mini36/config.h
  keyboards/controllerworks/mini36/info.json
  keyboards/controllerworks/mini42/config.h
  keyboards/cxt_studio/config.h
  keyboards/cxt_studio/info.json
Labels: keyboard, keymap, via

#22808 Migrate RGB Matrix config to info.json - EF
  keyboards/eek/config.h
  keyboards/eek/info.json
  keyboards/eggsworks/egg58/config.h
  keyboards/ein_60/config.h
  keyboards/ein_60/info.json
  keyboards/elephant42/config.h
  keyboards/elephant42/info.json
  keyboards/era/sirind/klein_sd/config.h
  keyboards/era/sirind/klein_sd/info.json
  keyboards/ergodox_ez/config.h
  keyboards/ergodox_ez/info.json
  keyboards/evyd13/atom47/rev5/config.h
  keyboards/evyd13/atom47/rev5/info.json
  keyboards/exclusive/e6_rgb/config.h
  keyboards/fancytech/fancyalice66/config.h
  keyboards/feker/ik75/config.h
  keyboards/feker/ik75/info.json
  keyboards/ferris/0_2/bling/config.h
  keyboards/ferris/0_2/bling/info.json
  keyboards/flashquark/horizon_z/config.h
  keyboards/flashquark/horizon_z/info.json
  keyboards/frooastboard/walnut/config.h
  keyboards/frooastboard/walnut/info.json
Labels: keyboard

#22814 LED drivers: rename "simple" to "mono"
  builddefs/common_features.mk
  docs/feature_led_matrix.md
  drivers/led/issi/is31fl3218-mono.c
  drivers/led/issi/is31fl3218-mono.h
  drivers/led/issi/is31fl3731-mono.c
  drivers/led/issi/is31fl3731-mono.h
  drivers/led/issi/is31fl3733-mono.c
  drivers/led/issi/is31fl3733-mono.h
  drivers/led/issi/is31fl3736-mono.c
  drivers/led/issi/is31fl3736-mono.h
  drivers/led/issi/is31fl3737-mono.c
  drivers/led/issi/is31fl3737-mono.h
  drivers/led/issi/is31fl3741-mono.c
  drivers/led/issi/is31fl3741-mono.h
  drivers/led/issi/is31fl3742a-mono.c
  drivers/led/issi/is31fl3742a-mono.h
  drivers/led/issi/is31fl3743a-mono.c
  drivers/led/issi/is31fl3743a-mono.h
  drivers/led/issi/is31fl3745-mono.c
  drivers/led/issi/is31fl3745-mono.h
  drivers/led/issi/is31fl3746a-mono.c
  drivers/led/issi/is31fl3746a-mono.h
  drivers/led/snled27351-mono.c
  drivers/led/snled27351-mono.h
  keyboards/fallacy/indicators.c
  keyboards/fallacy/rules.mk
  keyboards/wilba_tech/wt60_a/rules.mk
  keyboards/wilba_tech/wt65_a/rules.mk
  keyboards/wilba_tech/wt65_b/rules.mk
  keyboards/wilba_tech/wt75_a/rules.mk
  keyboards/wilba_tech/wt75_b/rules.mk
  keyboards/wilba_tech/wt75_c/rules.mk
  keyboards/wilba_tech/wt80_a/rules.mk
  keyboards/wilba_tech/wt_mono_backlight.c
  quantum/led_matrix/led_matrix_drivers.h
Labels: enhancement, core, keyboard, documentation

#22830 Remove PWM advanced check for WS2812 driver
  platforms/chibios/drivers/ws2812_pwm.c
Labels: core

#22834 Update keymap.md
  docs/keymap.md
Labels: documentation

#22829 Generate true/false for _DEFAULT_ON options
  data/mappings/info_config.hjson
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/info.py
Labels: bug, python, cli, dd

#22851 is31fl3733: fix driver sync backwards compatibility defines
  drivers/led/issi/is31fl3733.h
Labels: bug, core

#22826 apa102: cleanups
  drivers/led/apa102.c
  drivers/led/apa102.h
Labels: enhancement, core

#22817 Add Nordic65 by KBnordic
  keyboards/kbnordic/nordic65/readme.md
  keyboards/kbnordic/nordic65/rev_a/info.json
  keyboards/kbnordic/nordic65/rev_a/keymaps/default/keymap.c
  keyboards/kbnordic/nordic65/rev_a/keymaps/via/keymap.c
  keyboards/kbnordic/nordic65/rev_a/keymaps/via/rules.mk
  keyboards/kbnordic/nordic65/rev_a/matrix_diagram.md
  keyboards/kbnordic/nordic65/rev_a/readme.md
  keyboards/kbnordic/nordic65/rev_a/rules.mk
Labels: keyboard, keymap, via

#22805 Add ScottoKatana handwired keyboard
  keyboards/handwired/scottokeebs/scottokatana/info.json
  keyboards/handwired/scottokeebs/scottokatana/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scottokatana/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scottokatana/readme.md
  keyboards/handwired/scottokeebs/scottokatana/rules.mk
Labels: keyboard, keymap

#22852 Keychron Q1V1: fix incorrect 3733 address
  keyboards/keychron/q1v1/config.h
Labels: bug, keyboard

#22823 WT boards: extract `g_is31fl3736_leds` from wt_mono_backlight
  keyboards/wilba_tech/wt60_a/wt60_a.c
  keyboards/wilba_tech/wt65_a/wt65_a.c
  keyboards/wilba_tech/wt65_b/wt65_b.c
  keyboards/wilba_tech/wt75_a/wt75_a.c
  keyboards/wilba_tech/wt75_b/wt75_b.c
  keyboards/wilba_tech/wt75_c/wt75_c.c
  keyboards/wilba_tech/wt80_a/wt80_a.c
  keyboards/wilba_tech/wt_mono_backlight.c
Labels: enhancement, keyboard

#22857 LED drivers: misc formatting and typos
  drivers/led/aw20216s.h
  drivers/led/issi/is31fl3218-mono.c
  drivers/led/issi/is31fl3218.c
  drivers/led/issi/is31fl3731-mono.c
  drivers/led/issi/is31fl3731.c
  drivers/led/issi/is31fl3733-mono.c
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3736-mono.c
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3737-mono.c
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3741-mono.c
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31fl3742a-mono.c
  drivers/led/issi/is31fl3742a.c
  drivers/led/issi/is31fl3743a-mono.c
  drivers/led/issi/is31fl3743a.c
  drivers/led/issi/is31fl3745-mono.c
  drivers/led/issi/is31fl3745.c
  drivers/led/issi/is31fl3746a-mono.c
  drivers/led/issi/is31fl3746a.c
  drivers/led/snled27351-mono.c
  drivers/led/snled27351.c
Labels: bug, enhancement, core

#22862 Migrate RGB Matrix config to info.json - J
  keyboards/jacky_studio/piggy60/rev2/config.h
  keyboards/jacky_studio/piggy60/rev2/info.json
  keyboards/jadookb/jkb65/config.h
  keyboards/jadookb/jkb65/info.json
  keyboards/jkeys_design/gentleman65/config.h
  keyboards/jkeys_design/gentleman65/info.json
  keyboards/jkeys_design/gentleman65_se_s/config.h
  keyboards/jkeys_design/gentleman65_se_s/info.json
  keyboards/jorne/post_config.h
  keyboards/joshajohnson/hub20/config.h
  keyboards/joshajohnson/hub20/info.json
  keyboards/jukaie/jk01/config.h
  keyboards/jukaie/jk01/info.json
  keyboards/junco/info.json
  keyboards/junco/rev1/config.h
Labels: keyboard

#22861 Migrate RGB Matrix config to info.json - H
  keyboards/hadron/ver3/config.h
  keyboards/handwired/6macro/config.h
  keyboards/handwired/alcor_dactyl/config.h
  keyboards/handwired/alcor_dactyl/info.json
  keyboards/handwired/colorlice/config.h
  keyboards/handwired/colorlice/info.json
  keyboards/handwired/dactyl_minidox/config.h
  keyboards/handwired/dactyl_minidox/info.json
  keyboards/handwired/dygma/raise/config.h
  keyboards/handwired/dygma/raise/info.json
  keyboards/handwired/hnah108/config.h
  keyboards/handwired/hnah108/info.json
  keyboards/handwired/hnah40rgb/config.h
  keyboards/handwired/hnah40rgb/info.json
  keyboards/handwired/orbweaver/config.h
  keyboards/handwired/orbweaver/info.json
  keyboards/handwired/orbweaver/orbweaver.c
  keyboards/handwired/p65rgb/config.h
  keyboards/handwired/p65rgb/info.json
  keyboards/handwired/steamvan/rev1/config.h
  keyboards/handwired/tractyl_manuform/4x6_right/config.h
  keyboards/handwired/tractyl_manuform/4x6_right/info.json
  keyboards/heliotrope/config.h
  keyboards/heliotrope/info.json
  keyboards/helix/rev3_4rows/config.h
  keyboards/helix/rev3_4rows/info.json
  keyboards/helix/rev3_5rows/config.h
  keyboards/helix/rev3_5rows/info.json
  keyboards/hfdkb/ac001/config.h
  keyboards/hfdkb/ac001/info.json
  keyboards/horrortroll/chinese_pcb/devil68_pro/config.h
  keyboards/horrortroll/chinese_pcb/devil68_pro/info.json
  keyboards/horrortroll/handwired_k552/config.h
  keyboards/horrortroll/handwired_k552/info.json
  keyboards/horrortroll/nyx/rev1/config.h
  keyboards/hotdox76v2/config.h
  keyboards/hotdox76v2/info.json
  keyboards/hs60/v1/config.h
  keyboards/hs60/v1/info.json
Labels: keyboard

#22863 Migrate RGB Matrix config to info.json - I
  keyboards/idobao/id42/config.h
  keyboards/idobao/id42/info.json
  keyboards/idobao/id61/config.h
  keyboards/idobao/id61/info.json
  keyboards/idobao/id63/config.h
  keyboards/idobao/id63/info.json
  keyboards/idobao/id67/config.h
  keyboards/idobao/id67/info.json
  keyboards/idobao/id75/v2/config.h
  keyboards/idobao/id75/v2/info.json
  keyboards/idobao/id80/v3/ansi/config.h
  keyboards/idobao/id80/v3/ansi/info.json
  keyboards/idobao/id87/v2/config.h
  keyboards/idobao/id87/v2/info.json
  keyboards/idobao/montex/v1rgb/config.h
  keyboards/idobao/montex/v1rgb/info.json
  keyboards/idobao/montex/v2/config.h
  keyboards/idobao/montex/v2/info.json
  keyboards/idyllic/tinny50_rgb/config.h
  keyboards/idyllic/tinny50_rgb/info.json
  keyboards/ilumkb/simpler61/config.h
  keyboards/ilumkb/simpler61/info.json
  keyboards/ilumkb/simpler64/config.h
  keyboards/ilumkb/simpler64/info.json
  keyboards/inett_studio/sqx/hotswap/config.h
  keyboards/inett_studio/sqx/hotswap/info.json
  keyboards/inett_studio/sqx/universal/config.h
  keyboards/inett_studio/sqx/universal/info.json
  keyboards/inland/kb83/config.h
  keyboards/inland/kb83/info.json
  keyboards/inland/mk47/config.h
  keyboards/inland/mk47/info.json
  keyboards/inland/v83p/config.h
  keyboards/inland/v83p/info.json
  keyboards/input_club/k_type/config.h
  keyboards/input_club/k_type/info.json
  keyboards/input_club/k_type/is31fl3733-dual.h
Labels: keyboard

#22864 Migrate RGB Matrix config to info.json - L
  keyboards/laser_ninja/pumpkinpad/config.h
  keyboards/laser_ninja/pumpkinpad/info.json
  keyboards/latincompass/latin17rgb/config.h
  keyboards/latincompass/latin17rgb/info.json
  keyboards/latincompass/latin60rgb/config.h
  keyboards/latincompass/latin60rgb/info.json
  keyboards/latincompass/latin6rgb/config.h
  keyboards/latincompass/latin6rgb/info.json
  keyboards/latincompass/latinpad/config.h
  keyboards/latincompass/latinpad/info.json
  keyboards/lily58/r2g/config.h
  keyboards/lily58/r2g/info.json
  keyboards/linworks/fave60a/config.h
  keyboards/linworks/fave60a/info.json
  keyboards/linworks/fave65h/config.h
  keyboards/linworks/fave65h/info.json
  keyboards/linworks/fave84h/config.h
  keyboards/linworks/fave84h/info.json
  keyboards/linworks/fave87h/config.h
  keyboards/linworks/fave87h/info.json
  keyboards/linworks/favepada/config.h
  keyboards/linworks/favepada/info.json
Labels: keyboard

#22824 is31fl3733: change `write_register()` return type to `void`
  drivers/led/issi/is31fl3733-mono.c
  drivers/led/issi/is31fl3733-mono.h
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3733.h
  keyboards/input_club/k_type/is31fl3733-dual.c
  keyboards/input_club/k_type/is31fl3733-dual.h
Labels: enhancement, core, keyboard

#22825 snled27351: change `write_register()` return type to `void`
  drivers/led/snled27351-mono.c
  drivers/led/snled27351-mono.h
  drivers/led/snled27351.c
  drivers/led/snled27351.h
Labels: enhancement, core

#22865 LED drivers: more formatting
  drivers/led/aw20216s.c
  drivers/led/issi/is31fl3741-mono.h
  drivers/led/issi/is31fl3746a-mono.c
  drivers/led/issi/is31fl3746a-mono.h
  drivers/led/issi/is31fl3746a.h
  keyboards/input_club/k_type/is31fl3733-dual.c
  keyboards/input_club/k_type/is31fl3733-dual.h
Labels: enhancement, core, keyboard

#22860 Use existing columns for 3x5 layout
  keyboards/beekeeb/piantor/info.json
Labels: keyboard

#22285 Raise Circumflex from the grave in sendstring_french.h
  quantum/keymap_extras/sendstring_french.h
Labels: bug, core

#22374 Prevent `qmk migrate` processing unparsed info.json values
  lib/python/qmk/cli/migrate.py
  lib/python/qmk/info.py
Labels: bug, python, cli

#22091 Migrate dynamic_keymap.layer_count < 4 where requried
  keyboards/adpenrose/mine/config.h
  keyboards/adpenrose/mine/info.json
  keyboards/aliceh66/pianoforte/config.h
  keyboards/aliceh66/pianoforte_hs/config.h
  keyboards/basekeys/trifecta/config.h
  keyboards/bpiphany/frosty_flake/config.h
  keyboards/bpiphany/frosty_flake/info.json
  keyboards/bpiphany/pegasushoof/2013/config.h
  keyboards/bpiphany/pegasushoof/2013/info.json
  keyboards/bpiphany/pegasushoof/2015/config.h
  keyboards/bpiphany/pegasushoof/2015/info.json
  keyboards/cannonkeys/balance/config.h
  keyboards/cannonkeys/brutalv2_1800/config.h
  keyboards/cannonkeys/hoodrowg/config.h
  keyboards/cannonkeys/rekt1800/config.h
  keyboards/cannonkeys/sagittarius/config.h
  keyboards/evyd13/eon95/config.h
  keyboards/evyd13/eon95/info.json
  keyboards/evyd13/quackfire/config.h
  keyboards/evyd13/quackfire/info.json
  keyboards/evyd13/wasdat/config.h
  keyboards/evyd13/wasdat/info.json
  keyboards/evyd13/wasdat_code/config.h
  keyboards/evyd13/wasdat_code/info.json
  keyboards/fc980c/config.h
  keyboards/fc980c/info.json
  keyboards/kabedon/kabedon98e/config.h
  keyboards/kabedon/kabedon98e/info.json
  keyboards/kapcave/arya/config.h
  keyboards/kb_elmo/aek2_usb/config.h
  keyboards/kb_elmo/aek2_usb/info.json
  keyboards/kbdfans/bella/rgb/config.h
  keyboards/kbdfans/bella/rgb_iso/config.h
  keyboards/keebio/sinc/rev1/config.h
  keyboards/keebio/sinc/rev1/info.json
  keyboards/keebio/sinc/rev2/config.h
  keyboards/keebio/sinc/rev2/info.json
  keyboards/nopunin10did/jabberwocky/v1/config.h
  keyboards/nopunin10did/jabberwocky/v1/info.json
  keyboards/nopunin10did/jabberwocky/v2/config.h
  keyboards/nopunin10did/jabberwocky/v2/info.json
  keyboards/oddforge/vea/config.h
  keyboards/oddforge/vea/info.json
  keyboards/teleport/native/config.h
  keyboards/tkc/california/config.h
  keyboards/tkc/california/info.json
  keyboards/tkc/tkl_ab87/config.h
  keyboards/wavtype/p01_ultra/config.h
  keyboards/ydkb/grape/config.h
  keyboards/ydkb/grape/info.json
  keyboards/yoichiro/lunakey_macro/config.h
Labels: keyboard, awaiting review, stale

#21398 Add option for auto mouse movement threshold
  docs/feature_pointing_device.md
  quantum/pointing_device/pointing_device_auto_mouse.c
  quantum/pointing_device/pointing_device_auto_mouse.h
Labels: core, documentation, breaking_change_2024q1

#22424 Lotus 58 Glow - Added Auto shift to OLED, corrected OLED orientation
  keyboards/tweetydabird/lotus58/info.json
  keyboards/tweetydabird/lotus58/keymaps/default/keymap.c
  keyboards/tweetydabird/lotus58/lotus58.c
  keyboards/tweetydabird/lotus58/rules.mk
Labels: keyboard, keymap

#22250 Fix user hook call for dynamic_macro_record_key
  quantum/process_keycode/process_dynamic_macro.c
Labels: core, breaking_change_2024q1

#22114 MIDI sustain effect fix on qmk 0.22.2
  quantum/process_keycode/process_midi.c
Labels: core, breaking_change_2024q1

#21721 Ignore space cadet key release when caps word is active
  quantum/process_keycode/process_caps_word.c
  quantum/process_keycode/process_space_cadet.c
  quantum/process_keycode/process_space_cadet.h
  tests/caps_word/test_caps_word.cpp
Labels: core

#22263 [Keyboard] Fix VID and PID for AnnePro2
  keyboards/annepro2/c15/info.json
  keyboards/annepro2/c18/info.json
  keyboards/annepro2/info.json
Labels: keyboard

#21456 Add Canadian French input locale
  data/constants/keycodes/extras/keycodes_canadian_french_0.0.1.hjson
  docs/reference_keymap_extras.md
  quantum/keymap_extras/keymap_canadian_french.h
  quantum/keymap_extras/sendstring_canadian_french.h
Labels: core, documentation, dd

#22656 Solid reactive: improve fading effect
  quantum/rgb_matrix/animations/solid_reactive_anim.h
Labels: core

#22747 add pywinusb lib to list of example libs for HID
  docs/feature_rawhid.md
Labels: documentation

#22775 Align `SPLIT_HAND_MATRIX_GRID` left/right logic with `SPLIT_HAND_PIN`
  docs/config_options.md
  docs/feature_split_keyboard.md
  docs/ja/config_options.md
  docs/ja/feature_split_keyboard.md
  keyboards/bandominedoni/bandominedoni.c
  keyboards/bandominedoni/config.h
  keyboards/helix/rev3_4rows/config.h
  keyboards/helix/rev3_5rows/config.h
  keyboards/hillside/46/0_1/config.h
  keyboards/hillside/52/0_1/config.h
  keyboards/keychron/q11/config.h
  keyboards/pisces/config.h
  keyboards/rate/pistachio/rev2/config.h
  keyboards/splitkb/kyria/rev2/config.h
  quantum/split_common/split_util.c
Labels: core, keyboard, documentation, translation

#22304 Remove console out endpoint
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/chibios/usb_main.h
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/usb_descriptor.h
  tmk_core/protocol/vusb/vusb.c
  tmk_core/protocol/vusb/vusb.h
Labels: optimization, core, awaiting review

#22873 capsunlocked/cu80/v2: Fix invalid RGB matrix config
  keyboards/capsunlocked/cu80/v2/ansi/ansi.c
  keyboards/capsunlocked/cu80/v2/iso/iso.c
Labels: bug, keyboard

#22869 LED drivers: change `write_pwm_buffer()` return type to `void`
  drivers/led/issi/is31fl3733-mono.c
  drivers/led/issi/is31fl3733-mono.h
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3733.h
  drivers/led/issi/is31fl3741-mono.c
  drivers/led/issi/is31fl3741-mono.h
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31fl3741.h
  drivers/led/snled27351-mono.c
  drivers/led/snled27351-mono.h
  drivers/led/snled27351.c
  drivers/led/snled27351.h
  keyboards/input_club/k_type/is31fl3733-dual.c
  keyboards/input_club/k_type/is31fl3733-dual.h
Labels: enhancement, core, keyboard

#22878 LED drivers: switch to i2c_writeReg()
  drivers/led/issi/is31fl3218-mono.c
  drivers/led/issi/is31fl3218.c
  drivers/led/issi/is31fl3731-mono.c
  drivers/led/issi/is31fl3731.c
  drivers/led/issi/is31fl3733-mono.c
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3736-mono.c
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3737-mono.c
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3741-mono.c
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31fl3742a-mono.c
  drivers/led/issi/is31fl3742a.c
  drivers/led/issi/is31fl3743a-mono.c
  drivers/led/issi/is31fl3743a.c
  drivers/led/issi/is31fl3745-mono.c
  drivers/led/issi/is31fl3745.c
  drivers/led/issi/is31fl3746a-mono.c
  drivers/led/issi/is31fl3746a.c
  drivers/led/snled27351-mono.c
  drivers/led/snled27351.c
  keyboards/input_club/k_type/is31fl3733-dual.c
Labels: enhancement, core, keyboard

#22879 Migrate RGB Matrix config to info.json - XZY
  keyboards/xbows/knight/config.h
  keyboards/xbows/knight/info.json
  keyboards/xbows/knight_plus/config.h
  keyboards/xbows/knight_plus/info.json
  keyboards/xbows/nature/config.h
  keyboards/xbows/nature/info.json
  keyboards/xbows/numpad/config.h
  keyboards/xbows/numpad/info.json
  keyboards/xbows/ranger/config.h
  keyboards/xbows/ranger/info.json
  keyboards/xbows/woody/config.h
  keyboards/xbows/woody/info.json
  keyboards/xelus/dawn60/rev1_qmk/config.h
  keyboards/xelus/dawn60/rev1_qmk/info.json
  keyboards/xelus/la_plus/config.h
  keyboards/xelus/la_plus/info.json
  keyboards/xelus/pachi/rgb/rev1/config.h
  keyboards/xelus/pachi/rgb/rev1/info.json
  keyboards/xelus/pachi/rgb/rev2/config.h
  keyboards/xelus/pachi/rgb/rev2/info.json
  keyboards/xelus/valor/rev2/config.h
  keyboards/xelus/valor/rev2/info.json
  keyboards/yandrstudio/nz64/config.h
  keyboards/yandrstudio/nz64/info.json
  keyboards/yandrstudio/nz67v2/config.h
  keyboards/yandrstudio/nz67v2/info.json
  keyboards/yandrstudio/tg67/config.h
  keyboards/yandrstudio/tg67/info.json
  keyboards/ymdk/id75/config.h
  keyboards/ymdk/id75/info.json
  keyboards/ymdk/ymd09/config.h
  keyboards/ymdk/ymd09/info.json
  keyboards/ymdk/ymd40/air40/config.h
  keyboards/ymdk/ymd40/air40/info.json
  keyboards/ymdk/ymd75/rev4/iso/config.h
  keyboards/ymdk/ymd75/rev4/iso/info.json
  keyboards/yncognito/batpad/config.h
  keyboards/yncognito/batpad/info.json
  keyboards/yushakobo/quick17/config.h
  keyboards/yushakobo/quick17/info.json
  keyboards/zsa/moonlander/config.h
  keyboards/zsa/moonlander/info.json
  keyboards/zykrah/fuyu/config.h
  keyboards/zykrah/fuyu/info.json
  keyboards/zykrah/fuyu/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#22866 Migrate RGB Matrix config to info.json - NOPQ
  keyboards/nack/config.h
  keyboards/nack/info.json
  keyboards/ning/tiny_board/tb16_rgb/config.h
  keyboards/ning/tiny_board/tb16_rgb/info.json
  keyboards/novelkeys/nk20/config.h
  keyboards/novelkeys/nk20/info.json
  keyboards/novelkeys/nk65b/config.h
  keyboards/novelkeys/nk65b/info.json
  keyboards/novelkeys/nk87b/config.h
  keyboards/novelkeys/nk87b/info.json
  keyboards/novelkeys/nk_plus/config.h
  keyboards/novelkeys/nk_plus/info.json
  keyboards/omkbd/runner3680/5x6_5x8/config.h
  keyboards/omkbd/runner3680/5x6_5x8/info.json
  keyboards/opendeck/32/rev1/config.h
  keyboards/opendeck/32/rev1/info.json
  keyboards/opendeck/32/rev1/rev1.c
  keyboards/orthograph/config.h
  keyboards/orthograph/info.json
  keyboards/owlab/voice65/hotswap/config.h
  keyboards/owlab/voice65/hotswap/info.json
  keyboards/owlab/voice65/soldered/config.h
  keyboards/owlab/voice65/soldered/info.json
  keyboards/pangorin/tan67/config.h
  keyboards/paprikman/albacore/config.h
  keyboards/paprikman/albacore/info.json
  keyboards/percent/canoe_gen2/config.h
  keyboards/percent/canoe_gen2/info.json
  keyboards/phage_studio/pila87/config.h
  keyboards/phage_studio/pila87/info.json
  keyboards/phase_studio/titan65/hotswap/config.h
  keyboards/phase_studio/titan65/hotswap/info.json
  keyboards/phentech/rpk_001/config.h
  keyboards/phentech/rpk_001/info.json
  keyboards/planck/ez/config.h
  keyboards/planck/ez/info.json
  keyboards/planck/light/config.h
  keyboards/planck/light/info.json
  keyboards/planck/rev6/config.h
  keyboards/planck/rev6/info.json
  keyboards/planck/rev6_drop/config.h
  keyboards/planck/rev6_drop/info.json
  keyboards/planck/rev7/config.h
  keyboards/planck/rev7/info.json
  keyboards/playkbtw/pk64rgb/config.h
  keyboards/playkbtw/pk64rgb/info.json
  keyboards/plywrks/ply8x/config.h
  keyboards/pom_keyboards/tnln95/config.h
  keyboards/preonic/rev3/config.h
  keyboards/preonic/rev3_drop/config.h
  keyboards/projectd/65/projectd_65_ansi/config.h
  keyboards/projectd/65/projectd_65_ansi/info.json
  keyboards/projectd/75/ansi/config.h
  keyboards/projectd/75/ansi/info.json
  keyboards/quarkeys/z40/config.h
  keyboards/quarkeys/z40/info.json
  keyboards/quarkeys/z40/z40.c
  keyboards/quokka/config.h
  keyboards/qwertykeys/qk100/ansi/config.h
  keyboards/qwertykeys/qk100/ansi/info.json
Labels: keyboard

#22802 pointing_device ifdef indentation fix
  quantum/pointing_device/pointing_device.c
Labels: core

#22156 first pi60rgb_v2 commit
  keyboards/1upkeyboards/pi60_rgb_v2/info.json
  keyboards/1upkeyboards/pi60_rgb_v2/keymaps/default/keymap.c
  keyboards/1upkeyboards/pi60_rgb_v2/keymaps/via/keymap.c
  keyboards/1upkeyboards/pi60_rgb_v2/keymaps/via/rules.mk
  keyboards/1upkeyboards/pi60_rgb_v2/readme.md
  keyboards/1upkeyboards/pi60_rgb_v2/rules.mk
Labels: keyboard, keymap, via

#22465 add lets split v3
  keyboards/ziptyze/lets_split_v3/config.h
  keyboards/ziptyze/lets_split_v3/info.json
  keyboards/ziptyze/lets_split_v3/keymaps/default/keymap.c
  keyboards/ziptyze/lets_split_v3/keymaps/via/keymap.c
  keyboards/ziptyze/lets_split_v3/keymaps/via/rules.mk
  keyboards/ziptyze/lets_split_v3/readme.md
  keyboards/ziptyze/lets_split_v3/rules.mk
Labels: keyboard, keymap, via

#22461 revoke `community_layouts` from mode/m80v*/m80*h
  keyboards/mode/m80v1/m80h/info.json
  keyboards/mode/m80v2/m80v2h/info.json
Labels: keyboard

#22893 Added WT20-H1 (HIBI JUNIOR)
  keyboards/wilba_tech/wt20_h1/info.json
  keyboards/wilba_tech/wt20_h1/keymaps/default/keymap.c
  keyboards/wilba_tech/wt20_h1/keymaps/via/keymap.c
  keyboards/wilba_tech/wt20_h1/keymaps/via/rules.mk
  keyboards/wilba_tech/wt20_h1/readme.md
  keyboards/wilba_tech/wt20_h1/rules.mk
Labels: keyboard, keymap, via

#22803 Cirque reachable calibration aide
  docs/feature_pointing_device.md
  drivers/sensors/cirque_pinnacle.c
Labels: core, documentation

#22898 [Keyboard] Zed65/no_backlight/cor65 correct data layout
  keyboards/mechlovin/zed65/no_backlight/cor65/info.json
Labels: keyboard

#22897 LED drivers: remove PWM register offsets
  drivers/led/issi/is31fl3218-mono.c
  drivers/led/issi/is31fl3218-mono.h
  drivers/led/issi/is31fl3218.c
  drivers/led/issi/is31fl3218.h
  drivers/led/issi/is31fl3731-mono.c
  drivers/led/issi/is31fl3731-mono.h
  drivers/led/issi/is31fl3731.c
  drivers/led/issi/is31fl3731.h
  drivers/led/issi/is31fl3733-mono.c
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3736-mono.c
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3737-mono.c
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3742a-mono.c
  drivers/led/issi/is31fl3742a.c
  drivers/led/issi/is31fl3743a-mono.c
  drivers/led/issi/is31fl3743a.c
  drivers/led/issi/is31fl3745-mono.c
  drivers/led/issi/is31fl3745.c
  drivers/led/issi/is31fl3746a-mono.c
  drivers/led/issi/is31fl3746a.c
  drivers/led/snled27351-mono.c
  drivers/led/snled27351.c
Labels: bug, enhancement, core

#22899 [Keyboard] Fix typo in Redox config
  keyboards/redox/rev1/info.json
Labels: keyboard

#22734 add Cycle8
  keyboards/vertex/cycle8/config.h
  keyboards/vertex/cycle8/halconf.h
  keyboards/vertex/cycle8/info.json
  keyboards/vertex/cycle8/keymaps/default/keymap.c
  keyboards/vertex/cycle8/keymaps/via/keymap.c
  keyboards/vertex/cycle8/keymaps/via/rules.mk
  keyboards/vertex/cycle8/mcuconf.h
  keyboards/vertex/cycle8/readme.md
  keyboards/vertex/cycle8/rules.mk
Labels: keyboard, keymap, via

#22704 Adding Keyboard The Mad Noodle Udon13
  keyboards/themadnoodle/udon13/config.h
  keyboards/themadnoodle/udon13/info.json
  keyboards/themadnoodle/udon13/keymaps/default/keymap.c
  keyboards/themadnoodle/udon13/keymaps/default/rules.mk
  keyboards/themadnoodle/udon13/keymaps/via/keymap.c
  keyboards/themadnoodle/udon13/keymaps/via/rules.mk
  keyboards/themadnoodle/udon13/readme.md
  keyboards/themadnoodle/udon13/rules.mk
  keyboards/themadnoodle/udon13/udon13.c
Labels: keyboard, keymap, via

#22522 Added tac-k1 keyboard
  keyboards/tacworks/tac_k1/config.h
  keyboards/tacworks/tac_k1/halconf.h
  keyboards/tacworks/tac_k1/info.json
  keyboards/tacworks/tac_k1/keymaps/default/keymap.c
  keyboards/tacworks/tac_k1/keymaps/via/keymap.c
  keyboards/tacworks/tac_k1/keymaps/via/rules.mk
  keyboards/tacworks/tac_k1/mcuconf.h
  keyboards/tacworks/tac_k1/readme.md
  keyboards/tacworks/tac_k1/rules.mk
Labels: keyboard, keymap, stale, via

#22439 Addition of Proteus67 keyboard
  keyboards/proteus67/config.h
  keyboards/proteus67/info.json
  keyboards/proteus67/keymaps/colemak/keymap.c
  keyboards/proteus67/keymaps/colemak/rules.mk
  keyboards/proteus67/keymaps/default/keymap.c
  keyboards/proteus67/keymaps/default/rules.mk
  keyboards/proteus67/keymaps/via/keymap.c
  keyboards/proteus67/keymaps/via/rules.mk
  keyboards/proteus67/proteus67.c
  keyboards/proteus67/readme.md
  keyboards/proteus67/rules.mk
Labels: keyboard, keymap, via

#22896 CLI: Allow generation of both LED and RGB Matrix config
  lib/python/qmk/cli/generate/keyboard_c.py
  lib/python/qmk/info.py
Labels: bug, enhancement, python, cli

#22910 Migrate RGB Matrix config to info.json - TUVW
  keyboards/teleport/native/config.h
  keyboards/teleport/native/info.json
  keyboards/tkc/portico/config.h
  keyboards/tkc/portico/info.json
  keyboards/tkc/portico68v2/config.h
  keyboards/tkc/portico68v2/info.json
  keyboards/tkc/portico68v2/portico68v2.c
  keyboards/tkc/portico75/config.h
  keyboards/tkc/portico75/info.json
  keyboards/tominabox1/le_chiffre/config.h
  keyboards/tominabox1/le_chiffre/info.json
  keyboards/treasure/type9s3/config.h
  keyboards/treasure/type9s3/info.json
  keyboards/tzarc/djinn/rev1/config.h
  keyboards/tzarc/djinn/rev1/info.json
  keyboards/tzarc/djinn/rev2/config.h
  keyboards/tzarc/djinn/rev2/info.json
  keyboards/tzarc/ghoul/config.h
  keyboards/ungodly/launch_pad/config.h
  keyboards/ungodly/launch_pad/info.json
  keyboards/wekey/we27/config.h
  keyboards/wekey/we27/info.json
  keyboards/winry/winry315/config.h
  keyboards/winry/winry315/info.json
  keyboards/wolf/m60_b/config.h
  keyboards/wolf/m60_b/info.json
  keyboards/wolf/m6_c/config.h
  keyboards/wolf/m6_c/info.json
  keyboards/work_louder/loop/config.h
  keyboards/work_louder/loop/info.json
  keyboards/work_louder/micro/config.h
  keyboards/work_louder/micro/info.json
  keyboards/work_louder/nano/config.h
  keyboards/work_louder/nano/info.json
  keyboards/work_louder/numpad/config.h
  keyboards/work_louder/numpad/info.json
  keyboards/work_louder/work_board/config.h
  keyboards/work_louder/work_board/info.json
Labels: keyboard

#22905 i2c: rename read/write register functions
  docs/i2c_driver.md
  drivers/gpio/mcp23018.c
  drivers/gpio/pca9505.c
  drivers/gpio/pca9555.c
  drivers/haptic/drv2605l.c
  drivers/oled/oled_driver.c
  drivers/sensors/azoteq_iqs5xx.c
  drivers/sensors/cirque_pinnacle_i2c.c
  drivers/sensors/pimoroni_trackball.c
  keyboards/3w6/rev1/matrix.c
  keyboards/3w6/rev2/keymaps/default_pimoroni/pimoroni_trackball.c
  keyboards/3w6/rev2/matrix.c
  keyboards/argyle/matrix.c
  keyboards/barleycorn_smd/matrix.c
  keyboards/ergodox_stm32/ergodox_stm32.c
  keyboards/ergodox_stm32/matrix.c
  keyboards/fc660c/ad5258.c
  keyboards/fc980c/ad5258.c
  keyboards/frobiac/blackbowl/matrix.c
  keyboards/handwired/d48/ds1307.c
  keyboards/handwired/dactyl/matrix.c
  keyboards/handwired/onekey/keymaps/i2c_scanner/keymap.c
  keyboards/kagizaraya/chidori/board.c
  keyboards/matrix/abelx/aw9523b.c
  keyboards/matrix/abelx/tca6424.c
  keyboards/matrix/m20add/tca6424.c
  keyboards/rate/pistachio_pro/lib/bme280.c
  keyboards/rgbkb/common/touch_encoder.c
  keyboards/sx60/matrix.c
  keyboards/sx60/sx60.c
  keyboards/system76/launch_1/usb_mux.c
  keyboards/torn/mcp23018.c
  keyboards/touchpad/matrix.c
  keyboards/yiancardesigns/barleycorn/matrix.c
  keyboards/yiancardesigns/gingham/gingham.c
  keyboards/yiancardesigns/gingham/matrix.c
  keyboards/yiancardesigns/seigaiha/matrix.c
  keyboards/yiancardesigns/seigaiha/seigaiha.c
  keyboards/zsa/moonlander/matrix.c
  platforms/avr/drivers/i2c_master.c
  platforms/avr/drivers/i2c_master.h
  platforms/chibios/drivers/i2c_master.c
  platforms/chibios/drivers/i2c_master.h
  quantum/split_common/transport.c
Labels: enhancement, core, keyboard, keymap, documentation

#22901 `qmk format-json`: Force Unix line endings and ensure LF at EOF
  lib/python/qmk/cli/format/json.py
Labels: bug, enhancement, python, cli

#21273 I2C driver cleanup
  docs/i2c_driver.md
  docs/ja/i2c_driver.md
  drivers/gpio/pca9505.c
  drivers/gpio/pca9555.c
  drivers/oled/oled_driver.c
  drivers/painter/comms/qp_comms_i2c.c
  drivers/sensors/cirque_pinnacle_i2c.c
  keyboards/3w6/rev2/keymaps/default_pimoroni/pimoroni_trackball.c
  keyboards/3w6/rev2/keymaps/default_pimoroni/pimoroni_trackball.h
  keyboards/bajjak/bajjak.c
  keyboards/bajjak/bajjak.h
  keyboards/bajjak/matrix.c
  keyboards/dc01/left/matrix.c
  keyboards/ergodox_ez/ergodox_ez.c
  keyboards/ergodox_ez/ergodox_ez.h
  keyboards/ergodox_ez/led_i2c.c
  keyboards/ergodox_ez/matrix.c
  keyboards/ferris/0_2/matrix.c
  keyboards/gboards/ergotaco/ergotaco.c
  keyboards/gboards/ergotaco/ergotaco.h
  keyboards/gboards/ergotaco/matrix.c
  keyboards/gboards/georgi/georgi.c
  keyboards/gboards/georgi/georgi.h
  keyboards/gboards/georgi/matrix.c
  keyboards/gboards/gergo/gergo.c
  keyboards/gboards/gergo/gergo.h
  keyboards/gboards/gergo/matrix.c
  keyboards/gboards/gergoplex/gergoplex.c
  keyboards/gboards/gergoplex/gergoplex.h
  keyboards/gboards/gergoplex/matrix.c
  keyboards/handwired/d48/ds1307.c
  keyboards/handwired/frenchdev/frenchdev.c
  keyboards/handwired/frenchdev/frenchdev.h
  keyboards/handwired/frenchdev/matrix.c
  keyboards/handwired/onekey/keymaps/i2c_scanner/keymap.c
  keyboards/handwired/pterodactyl/matrix.c
  keyboards/hotdox/left.c
  keyboards/hotdox/left.h
  keyboards/ingrained/matrix.c
  keyboards/kagizaraya/chidori/board.c
  keyboards/nek_type_a/nek_type_a.h
  keyboards/system76/launch_1/usb_mux.c
  keyboards/ymdk/sp64/matrix.c
  keyboards/ymdk/sp64/sp64.c
  keyboards/ymdk/sp64/sp64.h
  platforms/avr/drivers/i2c_master.c
  platforms/avr/drivers/i2c_master.h
  platforms/chibios/drivers/i2c_master.c
  platforms/chibios/drivers/i2c_master.h
Labels: core, keyboard, keymap, documentation, awaiting review, translation, breaking_change_2024q1

#22917 Remove `LAYOUTS_HAS_RGB`
  keyboards/7c8/framework/rules.mk
  keyboards/converter/hp_46010a/rules.mk
  keyboards/dm9records/plaid/rules.mk
  keyboards/dm9records/tartan/rules.mk
  keyboards/evyd13/eon40/rules.mk
  keyboards/fractal/rules.mk
  keyboards/kbdfans/niu_mini/keymaps/tucznak/config.h
  keyboards/kbdfans/niu_mini/keymaps/tucznak/keymap.c
  keyboards/kbdfans/niu_mini/keymaps/tucznak/readme.md
  keyboards/kbdfans/niu_mini/keymaps/tucznak/rules.mk
  keyboards/kbdfans/niu_mini/rules.mk
  keyboards/kingly_keys/ropro/rules.mk
  keyboards/kingly_keys/soap/rules.mk
  keyboards/kprepublic/bm40hsrgb/rev1/rules.mk
  keyboards/maple_computing/jnao/rules.mk
  keyboards/montsinger/rebound/rev1/rules.mk
  keyboards/montsinger/rebound/rev2/rules.mk
  keyboards/montsinger/rebound/rev3/rules.mk
  keyboards/montsinger/rebound/rev4/rules.mk
  keyboards/mt/mt40/rules.mk
  keyboards/ortho5by12/rules.mk
  keyboards/planck/ez/rules.mk
  keyboards/planck/light/rules.mk
  keyboards/planck/rev1/rules.mk
  keyboards/planck/rev2/rules.mk
  keyboards/planck/rev3/rules.mk
  keyboards/planck/rev4/rules.mk
  keyboards/planck/rev5/rules.mk
  keyboards/planck/rev6/rules.mk
  keyboards/planck/rev6_drop/rules.mk
  keyboards/planck/rev7/rules.mk
Labels: keyboard, keymap

#22922 Fixup takashicompany/minizone
  keyboards/takashicompany/minizone/config.h
  keyboards/takashicompany/minizone/info.json
  keyboards/takashicompany/minizone/keymaps/default/keymap.c
  keyboards/takashicompany/minizone/keymaps/via/config.h
  keyboards/takashicompany/minizone/keymaps/via/keymap.c
  keyboards/takashicompany/minizone/rules.mk
Labels: keyboard, keymap, via

#22925 Copy `compile_commands.json` to userspace.
  lib/python/qmk/build_targets.py
Labels: python, cli

#22930 Add Iris CE Rev. 1
  keyboards/keebio/iris_ce/info.json
  keyboards/keebio/iris_ce/keymaps/default/keymap.c
  keyboards/keebio/iris_ce/keymaps/default/rules.mk
  keyboards/keebio/iris_ce/keymaps/via/keymap.c
  keyboards/keebio/iris_ce/keymaps/via/rules.mk
  keyboards/keebio/iris_ce/readme.md
  keyboards/keebio/iris_ce/rev1/config.h
  keyboards/keebio/iris_ce/rev1/info.json
  keyboards/keebio/iris_ce/rev1/rules.mk
Labels: keyboard, keymap, via

#22913 Add VIA support for Atreus62
  keyboards/atreus62/info.json
  keyboards/atreus62/keymaps/via/keymap.c
  keyboards/atreus62/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#22610 Move layout macro OOB checks to lint
  lib/python/qmk/cli/generate/keyboard_h.py
  lib/python/qmk/info.py
Labels: awaiting review, python, cli

#22942 refactor(keyboard): quokka
  keyboards/quokka/info.json
  keyboards/quokka/keymaps/default/keymap.c
Labels: keyboard, keymap

#22945 Workaround for dfu-programmer on Fedora 39
  util/install/fedora.sh
Labels: bug, core

#22948 Fix cirque connected check
  drivers/sensors/cirque_pinnacle.c
Labels: core

#22934 Fixup sofle
  keyboards/sofle/info.json
  keyboards/sofle/keyhive/config.h
  keyboards/sofle/keyhive/info.json
  keyboards/sofle/keyhive/readme.md
  keyboards/sofle/keyhive/rules.mk
  keyboards/sofle/keymaps/default/keymap.c
  keyboards/sofle/keymaps/default/readme.md
  keyboards/sofle/keymaps/default/rules.mk
  keyboards/sofle/keymaps/via/config.h
  keyboards/sofle/keymaps/via/keymap.c
  keyboards/sofle/keymaps/via/oled.c
  keyboards/sofle/keymaps/via/readme.md
  keyboards/sofle/keymaps/via/rules.mk
  keyboards/sofle/readme.md
  keyboards/sofle/rev1/info.json
  keyboards/sofle/rev1/readme.md
  keyboards/sofle/rev1/rev1.c
  keyboards/sofle/rev1/rules.mk
  keyboards/sofle/rules.mk
  keyboards/sofle/sofle.c
Labels: keyboard, keymap, via

#22884 LED drivers: remove `write_pwm_buffer()` from public API
  drivers/led/issi/is31fl3218-mono.c
  drivers/led/issi/is31fl3218.c
  drivers/led/issi/is31fl3731-mono.c
  drivers/led/issi/is31fl3731-mono.h
  drivers/led/issi/is31fl3731.c
  drivers/led/issi/is31fl3731.h
  drivers/led/issi/is31fl3733-mono.c
  drivers/led/issi/is31fl3733-mono.h
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3733.h
  drivers/led/issi/is31fl3736-mono.c
  drivers/led/issi/is31fl3736-mono.h
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3736.h
  drivers/led/issi/is31fl3737-mono.c
  drivers/led/issi/is31fl3737-mono.h
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3737.h
  drivers/led/issi/is31fl3741-mono.c
  drivers/led/issi/is31fl3741-mono.h
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31fl3741.h
  drivers/led/issi/is31fl3742a-mono.c
  drivers/led/issi/is31fl3742a-mono.h
  drivers/led/issi/is31fl3742a.c
  drivers/led/issi/is31fl3742a.h
  drivers/led/issi/is31fl3743a-mono.c
  drivers/led/issi/is31fl3743a-mono.h
  drivers/led/issi/is31fl3743a.c
  drivers/led/issi/is31fl3743a.h
  drivers/led/issi/is31fl3745-mono.c
  drivers/led/issi/is31fl3745-mono.h
  drivers/led/issi/is31fl3745.c
  drivers/led/issi/is31fl3745.h
  drivers/led/issi/is31fl3746a-mono.c
  drivers/led/issi/is31fl3746a-mono.h
  drivers/led/issi/is31fl3746a.c
  drivers/led/issi/is31fl3746a.h
  drivers/led/snled27351-mono.c
  drivers/led/snled27351-mono.h
  drivers/led/snled27351.c
  drivers/led/snled27351.h
  keyboards/input_club/k_type/is31fl3733-dual.c
  keyboards/input_club/k_type/is31fl3733-dual.h
Labels: enhancement, core, keyboard

#22951 LED drivers: update I2C API usage
  drivers/led/issi/is31fl3218-mono.c
  drivers/led/issi/is31fl3218.c
  drivers/led/issi/is31fl3731-mono.c
  drivers/led/issi/is31fl3731.c
  drivers/led/issi/is31fl3733-mono.c
  drivers/led/issi/is31fl3733.c
  drivers/led/issi/is31fl3736-mono.c
  drivers/led/issi/is31fl3736.c
  drivers/led/issi/is31fl3737-mono.c
  drivers/led/issi/is31fl3737.c
  drivers/led/issi/is31fl3741-mono.c
  drivers/led/issi/is31fl3741.c
  drivers/led/issi/is31fl3742a-mono.c
  drivers/led/issi/is31fl3742a.c
  drivers/led/issi/is31fl3743a-mono.c
  drivers/led/issi/is31fl3743a.c
  drivers/led/issi/is31fl3745-mono.c
  drivers/led/issi/is31fl3745.c
  drivers/led/issi/is31fl3746a-mono.c
  drivers/led/issi/is31fl3746a.c
  drivers/led/snled27351-mono.c
  drivers/led/snled27351.c
  keyboards/input_club/k_type/i2c_master.c
  keyboards/input_club/k_type/i2c_master.h
  keyboards/input_club/k_type/is31fl3733-dual.c
Labels: enhancement, core, keyboard

#22961 Migrate and remove deprecated debug utils
  keyboards/40percentclub/ut47/matrix.c
  keyboards/amjkeyboard/amj96/matrix.c
  keyboards/bioi/bluetooth_custom.c
  keyboards/converter/ibm_terminal/matrix.c
  keyboards/converter/m0110_usb/m0110.c
  keyboards/converter/palm_usb/matrix.c
  keyboards/converter/sun_usb/matrix.c
  keyboards/handwired/frenchdev/matrix.c
  keyboards/ibm/model_m/mschwingen/matrix.c
  keyboards/kinesis/alvicstep/matrix.c
  keyboards/sirius/unigo66/main.c
  quantum/led.c
  quantum/logging/debug.h
Labels: core, keyboard

#22966 Remove call to removed i2c function in azoteq driver
  drivers/sensors/azoteq_iqs5xx.c
Labels: core

#22969 Tidy up print/debug logging headers
  platforms/avr/_print.h
  quantum/logging/debug.h
  quantum/logging/print.h
Labels: optimization, core

#22970 Begin removal of bootmagic lite terminology
  builddefs/common_features.mk
  builddefs/generic_features.mk
  quantum/bootmagic/bootmagic.c
  quantum/bootmagic/bootmagic.h
  quantum/bootmagic/bootmagic_lite.h
  quantum/bootmagic/magic.c
  quantum/bootmagic/magic.h
  quantum/keyboard.c
  quantum/keycode_config.c
  quantum/quantum.h
Labels: core

#22980 [Doc] Use number indexes for encoder code example
  docs/feature_encoders.md
Labels: documentation

#22971 Sango Keyboard
  keyboards/aidansmithdotdev/sango/config.h
  keyboards/aidansmithdotdev/sango/info.json
  keyboards/aidansmithdotdev/sango/keymaps/default/keymap.c
  keyboards/aidansmithdotdev/sango/readme.md
  keyboards/aidansmithdotdev/sango/rules.mk
Labels: keyboard, keymap

#22281 Add missing rgb matrix default parameters
  docs/feature_led_matrix.md
  docs/feature_rgb_matrix.md
  quantum/led_matrix/led_matrix.c
  quantum/led_matrix/led_matrix.h
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix.h
Labels: core, documentation

#22772 Adding KK65 Keyboard
  keyboards/kk/65/info.json
  keyboards/kk/65/keymaps/default/config.h
  keyboards/kk/65/keymaps/default/keymap.c
  keyboards/kk/65/keymaps/via/config.h
  keyboards/kk/65/keymaps/via/keymap.c
  keyboards/kk/65/keymaps/via/rules.mk
  keyboards/kk/65/readme.md
  keyboards/kk/65/rules.mk
Labels: keyboard, keymap, via

#22985 Init pins for Analog Joystick sensor
  drivers/sensors/analog_joystick.c
Labels: core

#22885 Added WT65-H2 (Bauer Lite)
  keyboards/wilba_tech/wt65_h2/info.json
  keyboards/wilba_tech/wt65_h2/keymaps/default/keymap.c
  keyboards/wilba_tech/wt65_h2/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_h2/keymaps/via/rules.mk
  keyboards/wilba_tech/wt65_h2/matrix_diagram.md
  keyboards/wilba_tech/wt65_h2/readme.md
  keyboards/wilba_tech/wt65_h2/rules.mk
Labels: keyboard, keymap, via

#22981 Update asymmetric debounce code comment
  quantum/debounce/asym_eager_defer_pk.c
Labels: core

#22991 Add FS streampad
  keyboards/fs_streampad/config.h
  keyboards/fs_streampad/info.json
  keyboards/fs_streampad/keymaps/default/keymap.c
  keyboards/fs_streampad/keymaps/via/keymap.c
  keyboards/fs_streampad/keymaps/via/rules.mk
  keyboards/fs_streampad/readme.md
  keyboards/fs_streampad/rules.mk
Labels: keyboard, keymap, via

#22902 Added keyboard rena
  keyboards/meetlab/rena/config.h
  keyboards/meetlab/rena/halconf.h
  keyboards/meetlab/rena/info.json
  keyboards/meetlab/rena/keymaps/default/keymap.c
  keyboards/meetlab/rena/keymaps/via/keymap.c
  keyboards/meetlab/rena/keymaps/via/rules.mk
  keyboards/meetlab/rena/matrix_diagram.md
  keyboards/meetlab/rena/mcuconf.h
  keyboards/meetlab/rena/readme.md
  keyboards/meetlab/rena/rena.c
  keyboards/meetlab/rena/rules.mk
Labels: keyboard, keymap, via

#22992 Remove always enabled effects from lighting animation list
  keyboards/0xcb/splaytoraid/info.json
  keyboards/1upkeyboards/pi50/info.json
  keyboards/alpaca/wfeclipse/info.json
  keyboards/bastardkb/dilemma/3x5_3/info.json
  keyboards/bastardkb/dilemma/4x6_4/info.json
  keyboards/capsunlocked/cu80/v2/info.json
  keyboards/chromatonemini/info.json
  keyboards/controllerworks/city42/info.json
  keyboards/darmoshark/k3/info.json
  keyboards/dasky/reverb/info.json
  keyboards/dekunukem/duckypad/info.json
  keyboards/dp3000/rev1/info.json
  keyboards/inland/v83p/info.json
  keyboards/keychron/c1_pro/ansi/white/info.json
  keyboards/keychron/c2_pro/ansi/white/info.json
  keyboards/phentech/rpk_001/info.json
  keyboards/qwertykeys/qk100/ansi/info.json
  keyboards/redragon/k667/info.json
  keyboards/sharkoon/skiller_sgk50_s3/info.json
  keyboards/sofle_choc/info.json
  keyboards/wolf/m6_c/info.json
Labels: keyboard

#22831 [Keyboard] Add BINEPAD BNK9
  keyboards/binepad/bnk9/config.h
  keyboards/binepad/bnk9/info.json
  keyboards/binepad/bnk9/keymaps/default/keymap.c
  keyboards/binepad/bnk9/keymaps/default/rules.mk
  keyboards/binepad/bnk9/keymaps/via/keymap.c
  keyboards/binepad/bnk9/keymaps/via/rules.mk
  keyboards/binepad/bnk9/readme.md
  keyboards/binepad/bnk9/rules.mk
Labels: keyboard, keymap, via
