Repository qmk/qmk_firmware, pull requests merged in 2024-05, with the labels that each got.

#23297 Align 'qmk lint' argument handling
  lib/python/qmk/cli/lint.py
  lib/python/qmk/keyboard.py
Labels: python, cli, stale

#23594 Firmware for 3x3macropad
  keyboards/rarepotato8de/3x3macropad/3x3macropad.c
  keyboards/rarepotato8de/3x3macropad/info.json
  keyboards/rarepotato8de/3x3macropad/keymaps/default/keymap.c
  keyboards/rarepotato8de/3x3macropad/readme.md
  keyboards/rarepotato8de/3x3macropad/rules.mk
Labels: keyboard, keymap

#23573 Refactoring successive press() release() calls into tap_key() calls
  tests/basic/test_one_shot_keys.cpp
Labels: core

#23570 Add imi60
  keyboards/keyten/imi60/info.json
  keyboards/keyten/imi60/keymaps/default/keymap.c
  keyboards/keyten/imi60/keymaps/via/keymap.c
  keyboards/keyten/imi60/keymaps/via/rules.mk
  keyboards/keyten/imi60/readme.md
  keyboards/keyten/imi60/rules.mk
Labels: keyboard, keymap, via

#23639 add Bruce the keyboard
  keyboards/jlw/bruce_the_keyboard/info.json
  keyboards/jlw/bruce_the_keyboard/keymaps/default/keymap.c
  keyboards/jlw/bruce_the_keyboard/readme.md
  keyboards/jlw/bruce_the_keyboard/rules.mk
Labels: keyboard, keymap

#23636 Added skiller_sgk50_s4 keyboard
  keyboards/sharkoon/skiller_sgk50_s4/config.h
  keyboards/sharkoon/skiller_sgk50_s4/halconf.h
  keyboards/sharkoon/skiller_sgk50_s4/info.json
  keyboards/sharkoon/skiller_sgk50_s4/keymaps/default/keymap.c
  keyboards/sharkoon/skiller_sgk50_s4/keymaps/via/keymap.c
  keyboards/sharkoon/skiller_sgk50_s4/keymaps/via/rules.mk
  keyboards/sharkoon/skiller_sgk50_s4/mcuconf.h
  keyboards/sharkoon/skiller_sgk50_s4/readme.md
  keyboards/sharkoon/skiller_sgk50_s4/rules.mk
Labels: keyboard, keymap, via

#23510 [Keyboard] Add DK Saver Redux
  keyboards/druah/dk_saver_redux/info.json
  keyboards/druah/dk_saver_redux/keymaps/default/keymap.c
  keyboards/druah/dk_saver_redux/keymaps/via/keymap.c
  keyboards/druah/dk_saver_redux/keymaps/via/rules.mk
  keyboards/druah/dk_saver_redux/readme.md
  keyboards/druah/dk_saver_redux/rules.mk
Labels: keyboard, keymap, via

#23643 Epomaker Tide 65: Layout Data Cleanup
  keyboards/epomaker/tide65/info.json
Labels: enhancement, keyboard

#23457 [Keyboard] Add N87
  keyboards/era/linx3/n87/config.h
  keyboards/era/linx3/n87/info.json
  keyboards/era/linx3/n87/keymaps/default/keymap.c
  keyboards/era/linx3/n87/keymaps/via/keymap.c
  keyboards/era/linx3/n87/keymaps/via/rules.mk
  keyboards/era/linx3/n87/readme.md
  keyboards/era/linx3/n87/rules.mk
Labels: keyboard, keymap, via

#23412 Add MacOS Czech ISO and ANSI keymaps #23346
  data/constants/keycodes/extras/keycodes_czech_mac_ansi_0.0.1.hjson
  data/constants/keycodes/extras/keycodes_czech_mac_iso_0.0.1.hjson
  docs/reference_keymap_extras.md
  quantum/keymap_extras/keymap_czech_mac_ansi.h
  quantum/keymap_extras/keymap_czech_mac_iso.h
  quantum/keymap_extras/sendstring_czech_mac_ansi.h
  quantum/keymap_extras/sendstring_czech_mac_iso.h
Labels: core, documentation, dd

#23423 refactor: mechwild/waka60
  keyboards/mechwild/waka60/config.h
  keyboards/mechwild/waka60/info.json
  keyboards/mechwild/waka60/keymaps/default/keymap.c
  keyboards/mechwild/waka60/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#23640 add Bruce le Clavier
  keyboards/jlw/bruce_le_clavier/info.json
  keyboards/jlw/bruce_le_clavier/keymaps/default/keymap.c
  keyboards/jlw/bruce_le_clavier/readme.md
  keyboards/jlw/bruce_le_clavier/rules.mk
Labels: keyboard, keymap

#21809 add tkl_(ansi|iso)_wkl* community layouts
  layouts/community/tkl_ansi_wkl/readme.md
  layouts/community/tkl_ansi_wkl_split_bs_rshift/readme.md
  layouts/community/tkl_f13_ansi_wkl/readme.md
  layouts/community/tkl_f13_ansi_wkl_split_bs_rshift/readme.md
  layouts/community/tkl_f13_iso_wkl/readme.md
  layouts/community/tkl_f13_iso_wkl_split_bs_rshift/readme.md
  layouts/community/tkl_iso_wkl/readme.md
  layouts/community/tkl_iso_wkl_split_bs_rshift/readme.md
  layouts/default/readme.md
  layouts/default/tkl_ansi_wkl/default_tkl_ansi_wkl/keymap.c
  layouts/default/tkl_ansi_wkl/info.json
  layouts/default/tkl_ansi_wkl/layout.json
  layouts/default/tkl_ansi_wkl/readme.md
  layouts/default/tkl_ansi_wkl_split_bs_rshift/default_tkl_ansi_wkl_split_bs_rshift/keymap.c
  layouts/default/tkl_ansi_wkl_split_bs_rshift/info.json
  layouts/default/tkl_ansi_wkl_split_bs_rshift/layout.json
  layouts/default/tkl_ansi_wkl_split_bs_rshift/readme.md
  layouts/default/tkl_f13_ansi_wkl/default_tkl_f13_ansi_wkl/keymap.c
  layouts/default/tkl_f13_ansi_wkl/info.json
  layouts/default/tkl_f13_ansi_wkl/layout.json
  layouts/default/tkl_f13_ansi_wkl/readme.md
  layouts/default/tkl_f13_ansi_wkl_split_bs_rshift/default_tkl_f13_ansi_wkl_split_bs_rshift/keymap.c
  layouts/default/tkl_f13_ansi_wkl_split_bs_rshift/info.json
  layouts/default/tkl_f13_ansi_wkl_split_bs_rshift/layout.json
  layouts/default/tkl_f13_ansi_wkl_split_bs_rshift/readme.md
  layouts/default/tkl_f13_iso_wkl/default_tkl_f13_iso_wkl/keymap.c
  layouts/default/tkl_f13_iso_wkl/info.json
  layouts/default/tkl_f13_iso_wkl/layout.json
  layouts/default/tkl_f13_iso_wkl/readme.md
  layouts/default/tkl_f13_iso_wkl_split_bs_rshift/default_tkl_f13_iso_wkl_split_bs_rshift/keymap.c
  layouts/default/tkl_f13_iso_wkl_split_bs_rshift/info.json
  layouts/default/tkl_f13_iso_wkl_split_bs_rshift/layout.json
  layouts/default/tkl_f13_iso_wkl_split_bs_rshift/readme.md
  layouts/default/tkl_iso_wkl/default_tkl_iso_wkl/keymap.c
  layouts/default/tkl_iso_wkl/info.json
  layouts/default/tkl_iso_wkl/layout.json
  layouts/default/tkl_iso_wkl/readme.md
  layouts/default/tkl_iso_wkl_split_bs_rshift/default_tkl_iso_wkl_split_bs_rshift/keymap.c
  layouts/default/tkl_iso_wkl_split_bs_rshift/info.json
  layouts/default/tkl_iso_wkl_split_bs_rshift/layout.json
  layouts/default/tkl_iso_wkl_split_bs_rshift/readme.md
Labels: keymap

#23259 Remove 60_ansi_arrow_split_bs_7u_spc Community Layout
  keyboards/dz60/keyboard.json
  keyboards/dztech/dz60v2/keyboard.json
  keyboards/sawnsprojects/krush/krush60/solder/keyboard.json
  layouts/community/60_ansi_arrow_split_bs_7u_spc/readme.md
  layouts/default/60_ansi_arrow_split_bs_7u_spc/default_60_ansi_arrow_split_bs_7u_spc/keymap.c
  layouts/default/60_ansi_arrow_split_bs_7u_spc/info.json
  layouts/default/60_ansi_arrow_split_bs_7u_spc/layout.json
  layouts/default/60_ansi_arrow_split_bs_7u_spc/readme.md
  layouts/default/readme.md
Labels: keyboard, keymap

#23310 clangd enhancements.
  .clangd
  lib/python/qmk/cli/generate/compilation_database.py
Labels: python, cli

#23435 [Keyboard] NK Classic TKL
  keyboards/novelkeys/nk_classic_tkl/config.h
  keyboards/novelkeys/nk_classic_tkl/halconf.h
  keyboards/novelkeys/nk_classic_tkl/info.json
  keyboards/novelkeys/nk_classic_tkl/keymaps/default/keymap.c
  keyboards/novelkeys/nk_classic_tkl/keymaps/via/keymap.c
  keyboards/novelkeys/nk_classic_tkl/keymaps/via/rules.mk
  keyboards/novelkeys/nk_classic_tkl/mcuconf.h
  keyboards/novelkeys/nk_classic_tkl/readme.md
  keyboards/novelkeys/nk_classic_tkl/rules.mk
Labels: keyboard, keymap, via

#23413 Add Petrichor Keyboard to QMK
  keyboards/cannonkeys/petrichor/config.h
  keyboards/cannonkeys/petrichor/info.json
  keyboards/cannonkeys/petrichor/keymaps/default/keymap.c
  keyboards/cannonkeys/petrichor/keymaps/via/keymap.c
  keyboards/cannonkeys/petrichor/keymaps/via/rules.mk
  keyboards/cannonkeys/petrichor/petrichor.c
  keyboards/cannonkeys/petrichor/readme.md
  keyboards/cannonkeys/petrichor/rules.mk
Labels: keyboard, keymap, via

#23649 Tomak: Layout Data Correction
  keyboards/era/sirind/tomak/info.json
Labels: enhancement, keyboard

#23651 ZSA Voyager Layout Fix
  keyboards/zsa/voyager/info.json
Labels: enhancement, keyboard

#23653 Migrate build target markers to keyboard.json - Misc
  keyboards/cannonkeys/petrichor/keyboard.json
  keyboards/cannonkeys/petrichor/rules.mk
  keyboards/chew/keyboard.json
  keyboards/cipulot/chroma/keyboard.json
  keyboards/cipulot/chroma/rules.mk
  keyboards/cipulot/ec_660c/keyboard.json
  keyboards/cipulot/ec_980c/keyboard.json
  keyboards/cipulot/ec_dolice/keyboard.json
  keyboards/cipulot/ec_menhir/keyboard.json
  keyboards/cipulot/ec_tkl/keyboard.json
  keyboards/cipulot/ec_typeb/keyboard.json
  keyboards/cipulot/ec_vero/keyboard.json
  keyboards/cipulot/ec_virgo/keyboard.json
  keyboards/dcpedit/masonry/keyboard.json
  keyboards/dcpedit/masonry/rules.mk
  keyboards/druah/dk_saver_redux/keyboard.json
  keyboards/druah/dk_saver_redux/rules.mk
  keyboards/era/linx3/n87/keyboard.json
  keyboards/era/linx3/n87/rules.mk
  keyboards/era/sirind/tomak/keyboard.json
  keyboards/fatotesa/keyboard.json
  keyboards/fatotesa/rules.mk
  keyboards/jaykeeb/jk65/keyboard.json
  keyboards/jaykeeb/jk65/rules.mk
  keyboards/jlw/bruce_le_clavier/keyboard.json
  keyboards/jlw/bruce_le_clavier/rules.mk
  keyboards/jlw/bruce_the_keyboard/keyboard.json
  keyboards/jlw/bruce_the_keyboard/rules.mk
  keyboards/jlw/vault35_wkl_universal/keyboard.json
  keyboards/jlw/vault35_wkl_universal/rules.mk
  keyboards/keyten/imi60/keyboard.json
  keyboards/keyten/imi60/rules.mk
  keyboards/mechwild/bb65/f401/keyboard.json
  keyboards/mechwild/bb65/f401/rules.mk
  keyboards/mechwild/bb65/f411/keyboard.json
  keyboards/mechwild/bb65/f411/rules.mk
  keyboards/novelkeys/nk_classic_tkl/keyboard.json
  keyboards/rarepotato8de/3x3macropad/keyboard.json
  keyboards/rarepotato8de/3x3macropad/rules.mk
  keyboards/scottokeebs/scottowing/keyboard.json
  keyboards/scottokeebs/scottowing/rules.mk
  keyboards/sharkoon/skiller_sgk50_s4/keyboard.json
  keyboards/sharkoon/skiller_sgk50_s4/rules.mk
  keyboards/ymdk/ymd62/keyboard.json
Labels: keyboard

#23655 xiudi/xd75 - Fix backlight compilation issues
  keyboards/xiudi/xd75/keyboard.json
Labels: bug, keyboard

#23463 Add new set of keycodes for RGB Matrix
  data/constants/keycodes/keycodes_0.0.4_lighting.hjson
  keyboards/kprepublic/bm68hsrgb/rev2/keymaps/via/keymap.c
  quantum/keycodes.h
  tests/test_common/keycode_table.cpp
Labels: enhancement, core, keymap, via, dd

#23652 Fix iris via keymap
  keyboards/keebio/iris/keymaps/via/keymap.c
Labels: bug, keymap, via

#23373 refactor: mechwild/bbs
  keyboards/mechwild/bbs/config.h
  keyboards/mechwild/bbs/halconf.h
  keyboards/mechwild/bbs/keyboard.json
  keyboards/mechwild/bbs/keymaps/default/keymap.c
  keyboards/mechwild/bbs/mcuconf.h
  keyboards/mechwild/bbs/readme.md
  keyboards/mechwild/bbs/rules.mk
Labels: keyboard, keymap

#23043 Add support for Smart 68 keyboard
  keyboards/smart68/info.json
  keyboards/smart68/keymaps/default/keymap.c
  keyboards/smart68/keymaps/default/rules.mk
  keyboards/smart68/readme.md
  keyboards/smart68/rules.mk
Labels: keyboard, keymap

#23657 split_util: rename `usbIsActive` to `usb_bus_detected`
  quantum/split_common/split_util.c
Labels: core

#23428 Add page for capabilties used by docs site.
  docs/__capabilities.md
  docs/flashing.md
  docs/newbs.md
Labels: documentation

#23182 Reworked CI builds for `master`/`develop`.
  .github/workflows/ci_build_major_branch.yml
  .github/workflows/ci_build_major_branch_keymap.yml
Labels: awaiting review, stale, CI

#23675 [CI] Allow secrets to propagate from parent to child workflow.
  .github/workflows/ci_build_major_branch.yml
Labels: CI

#23676 [CI] Use existing repo variables instead
  .github/workflows/ci_build_major_branch.yml
Labels: CI

#23656 Normalise RGBLight (underglow) keycodes
  data/constants/keycodes/keycodes_0.0.4_lighting.hjson
  quantum/keycodes.h
  quantum/process_keycode/process_rgb.c
  quantum/quantum_keycodes_legacy.h
  tests/test_common/keycode_table.cpp
Labels: enhancement, core, dd

#23678 [CI] Fail workflow if there were build failures
  .github/workflows/ci_build_major_branch.yml
Labels: CI

#23061 add example for c2json command
  docs/cli_commands.md
Labels: documentation

#23685 Remove redundant keymap templates
  keyboards/dumbpad/v0x/templates/keymap.c
  keyboards/dumbpad/v0x/v0x.c
  keyboards/dumbpad/v0x_dualencoder/templates/keymap.c
  keyboards/dumbpad/v0x_dualencoder/v0x_dualencoder.c
  keyboards/dumbpad/v0x_right/templates/keymap.c
  keyboards/dumbpad/v0x_right/v0x_right.c
  keyboards/dumbpad/v1x/templates/keymap.c
  keyboards/dumbpad/v1x/v1x.c
  keyboards/dumbpad/v1x_dualencoder/templates/keymap.c
  keyboards/dumbpad/v1x_dualencoder/v1x_dualencoder.c
  keyboards/dumbpad/v1x_right/templates/keymap.c
  keyboards/dumbpad/v1x_right/v1x_right.c
Labels: keyboard

#23668 Remove 'split.transport.protocol=serial_usart'
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  keyboards/era/sirind/tomak/keyboard.json
  keyboards/keychron/q11/info.json
Labels: keyboard, documentation, dd

#23693 `qmk find`: Fix typo in filter logging
  lib/python/qmk/search.py
Labels: bug, python, cli

#23663 Align RGBKB keyboards to current standards
  keyboards/rgbkb/mun/mun.c
  keyboards/rgbkb/mun/mun.h
  keyboards/rgbkb/mun/rev1/config.h
  keyboards/rgbkb/mun/rev1/halconf.h
  keyboards/rgbkb/mun/rev1/keyboard.json
  keyboards/rgbkb/mun/rev1/mcuconf.h
  keyboards/rgbkb/mun/rev1/rev1.c
  keyboards/rgbkb/mun/rev1/rev1.h
  keyboards/rgbkb/mun/rev1/rules.mk
  keyboards/rgbkb/mun/rules.mk
  keyboards/rgbkb/pan/info.json
  keyboards/rgbkb/pan/keymaps/default/rules.mk
  keyboards/rgbkb/pan/keymaps/default_eee/rules.mk
  keyboards/rgbkb/pan/keymaps/default_sss/rules.mk
  keyboards/rgbkb/pan/post_rules.mk
  keyboards/rgbkb/pan/rev1/32a/post_rules.mk
  keyboards/rgbkb/pan/rev1/proton_c/post_rules.mk
  keyboards/rgbkb/pan/rules.mk
  keyboards/rgbkb/sol/common/glcdfont.c
  keyboards/rgbkb/sol/config.h
  keyboards/rgbkb/sol/keymaps/default/rules.mk
  keyboards/rgbkb/sol/rev1/keyboard.json
  keyboards/rgbkb/sol/rev1/post_rules.mk
  keyboards/rgbkb/sol/rev1/rules.mk
  keyboards/rgbkb/sol/rev2/keyboard.json
  keyboards/rgbkb/sol/rev2/post_rules.mk
  keyboards/rgbkb/sol/rev2/rules.mk
  keyboards/rgbkb/sol/rules.mk
  keyboards/rgbkb/sol3/rev1/config.h
  keyboards/rgbkb/sol3/rev1/halconf.h
  keyboards/rgbkb/sol3/rev1/keyboard.json
  keyboards/rgbkb/sol3/rev1/mcuconf.h
  keyboards/rgbkb/sol3/rev1/rev1.c
  keyboards/rgbkb/sol3/rev1/rev1.h
  keyboards/rgbkb/sol3/rev1/rules.mk
  keyboards/rgbkb/sol3/rules.mk
  keyboards/rgbkb/sol3/sol3.c
  keyboards/rgbkb/sol3/sol3.h
  keyboards/rgbkb/zen/info.json
  keyboards/rgbkb/zen/rev1/keyboard.json
  keyboards/rgbkb/zen/rev2/config.h
  keyboards/rgbkb/zen/rev2/keyboard.json
  keyboards/rgbkb/zen/rev2/post_rules.mk
  keyboards/rgbkb/zen/rev2/rules.mk
  keyboards/rgbkb/zen/rules.mk
  keyboards/rgbkb/zygomorph/rev1/keyboard.json
  keyboards/rgbkb/zygomorph/rev1/rev1.c
  keyboards/rgbkb/zygomorph/rev1/rules.mk
  keyboards/rgbkb/zygomorph/rules.mk
Labels: keyboard, keymap

#23698 Add embed to docs capabilities
  docs/__capabilities.md
  docs/__capabilities_inc.md
Labels: documentation

#23665 [Doc] Revise squeezing AVR
  docs/squeezing_avr.md
Labels: documentation

#23691 Change all RGB mode keycodes to short aliases
  keyboards/4pplet/perk60_iso/keymaps/default/keymap.c
  keyboards/4pplet/perk60_iso/keymaps/via/keymap.c
  keyboards/abacus/keymaps/default/keymap.json
  keyboards/basekeys/slice/keymaps/default/keymap.c
  keyboards/basekeys/slice/keymaps/default_split_left_space/keymap.c
  keyboards/basekeys/slice/rev1/keymaps/default_all/keymap.c
  keyboards/basekeys/slice/rev1/keymaps/default_split_backspace/keymap.c
  keyboards/basekeys/slice/rev1/keymaps/via/keymap.c
  keyboards/basekeys/slice/rev1_rgb/keymaps/2moons_rgb/keymap.c
  keyboards/basekeys/slice/rev1_rgb/keymaps/via/keymap.c
  keyboards/cxt_studio/keymaps/via/keymap.c
  keyboards/dekunukem/duckypad/keymaps/default/keymap.c
  keyboards/ergodox_ez/keymaps/rgb_layer/keymap.c
  keyboards/handwired/macroboard/keymaps/via/keymap.c
  keyboards/handwired/uthol/keymaps/default/keymap.c
  keyboards/handwired/uthol/keymaps/oled/keymap.c
  keyboards/hifumi/keymaps/default/keymap.c
  keyboards/hp69/keymaps/default/keymap.c
  keyboards/hp69/keymaps/via/keymap.c
  keyboards/input_club/ergodox_infinity/keymaps/halfkeyboard/keymap.c
  keyboards/keyquest/enclave/keymaps/default/keymap.c
  keyboards/kiwikey/kawii9/keymaps/default/keymap.c
  keyboards/kiwikey/kawii9/keymaps/via/keymap.c
  keyboards/magic_force/mf17/keymaps/default/keymap.c
  keyboards/magic_force/mf17/keymaps/via/keymap.c
  keyboards/magic_force/mf34/keymaps/default/keymap.c
  keyboards/magic_force/mf34/keymaps/via/keymap.c
  keyboards/matrix/m20add/rgb_ring.c
  keyboards/ning/tiny_board/tb16_rgb/keymaps/default/keymap.c
  keyboards/orthograph/keymaps/default/keymap.json
  keyboards/pearlboards/pandora/keymaps/default/keymap.c
  keyboards/pearlboards/pandora/keymaps/via/keymap.c
  keyboards/rastersoft/minitkl/keymaps/ansi/keymap.c
  keyboards/rastersoft/minitkl/keymaps/default/keymap.c
  keyboards/runes/vaengr/keymaps/default/keymap.c
  keyboards/runes/vaengr/keymaps/via/keymap.c
  keyboards/senselessclay/gos65/keymaps/default/keymap.c
  keyboards/senselessclay/gos65/keymaps/via/keymap.c
  keyboards/skmt/15k/keymaps/default/keymap.c
  keyboards/skmt/15k/keymaps/via/keymap.c
  keyboards/taleguers/taleguers75/keymaps/default/keymap.c
  keyboards/taleguers/taleguers75/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#23707 [Bug][Keyboard] Fix encoder resolution issue with Binepad BNK9
  keyboards/binepad/bnk9/config.h
  keyboards/binepad/bnk9/info.json
Labels: bug, keyboard

#22999 Add housekeeping execution to tests
  tests/housekeeping/config.h
  tests/housekeeping/test.mk
  tests/housekeeping/test_housekeeping.cpp
  tests/test_common/test_fixture.cpp
Labels: core, awaiting review, breaking_change_2024q2

#23703 Fix for RGB color override and brightness for EC Type K
  keyboards/cipulot/ec_typek/config.h
  keyboards/cipulot/ec_typek/ec_typek.c
  keyboards/cipulot/ec_typek/info.json
Labels: keyboard

#23720 [CLI] Fixup return code for `qmk userspace-compile`.
  lib/python/qmk/cli/userspace/compile.py
Labels: bug, python, cli

#22662 Fix mapping of GUI/ALT for Win/Mac layers
  keyboards/keychron/q60/ansi/keymaps/default/keymap.c
  keyboards/keychron/q60/ansi/keymaps/keychron/keymap.c
  keyboards/keychron/q60/ansi/keymaps/via/keymap.c
Labels: keymap, stale, via

#23290 Add cycle7
  keyboards/vertex/cycle7/config.h
  keyboards/vertex/cycle7/halconf.h
  keyboards/vertex/cycle7/info.json
  keyboards/vertex/cycle7/keymaps/default/keymap.c
  keyboards/vertex/cycle7/keymaps/via/keymap.c
  keyboards/vertex/cycle7/keymaps/via/rules.mk
  keyboards/vertex/cycle7/mcuconf.h
  keyboards/vertex/cycle7/readme.md
  keyboards/vertex/cycle7/rules.mk
Labels: keyboard, keymap, via

#23726 Remove useless `LED/RGB_MATRIX_ENABLE` ifdefs
  quantum/led_matrix/led_matrix.c
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix_drivers.c
Labels: enhancement, core

#23730 Resolve home directory in userspace config
  lib/python/qmk/userspace.py
Labels: bug, python, cli

#23545 Force CPI update using timer when using split pointing.
  quantum/split_common/transactions.c
Labels: bug, core

#23712 Miscellaneous Data-Driven Keyboard Conversions
  keyboards/handwired/dygma/raise/ansi/keyboard.json
  keyboards/handwired/dygma/raise/info.json
  keyboards/handwired/dygma/raise/iso/keyboard.json
  keyboards/handwired/dygma/raise/rules.mk
  keyboards/handwired/symmetric70_proto/promicro/info.json
  keyboards/handwired/symmetric70_proto/promicro/rules.mk
  keyboards/handwired/symmetric70_proto/proton_c/info.json
  keyboards/handwired/symmetric70_proto/proton_c/rules.mk
  keyboards/lazydesigners/dimple/ortho/rules.mk
  keyboards/lazydesigners/dimple/staggered/rev2/rules.mk
  keyboards/lazydesigners/dimple/staggered/rev3/rules.mk
  keyboards/sirius/uni660/rev2/ansi/keyboard.json
  keyboards/sirius/uni660/rev2/iso/keyboard.json
  keyboards/sirius/uni660/rev2/rules.mk
Labels: enhancement, keyboard

#23716 Migrate `LOCKING_*_ENABLE` to Data-Driven: 0-9
  keyboards/0_sixty/config.h
  keyboards/0_sixty/info.json
  keyboards/1upkeyboards/pi40/config.h
  keyboards/1upkeyboards/pi40/info.json
  keyboards/1upkeyboards/pi50/config.h
  keyboards/1upkeyboards/pi50/info.json
  keyboards/40percentclub/gherkin/config.h
  keyboards/40percentclub/gherkin/info.json
  keyboards/4pplet/perk60_iso/rev_a/config.h
  keyboards/4pplet/perk60_iso/rev_a/keyboard.json
Labels: keyboard

#23724 Add Irispad
  keyboards/keebio/irispad/info.json
  keyboards/keebio/irispad/keymaps/default/keymap.json
  keyboards/keebio/irispad/keymaps/via/keymap.json
  keyboards/keebio/irispad/readme.md
  keyboards/keebio/irispad/rev8/config.h
  keyboards/keebio/irispad/rev8/info.json
  keyboards/keebio/irispad/rev8/rules.mk
Labels: keyboard, keymap, via

#23717 adds h4ckb0ard
  keyboards/rot13labs/h4ckb0ard/info.json
  keyboards/rot13labs/h4ckb0ard/keymaps/default/keymap.c
  keyboards/rot13labs/h4ckb0ard/readme.md
  keyboards/rot13labs/h4ckb0ard/rules.mk
Labels: keyboard, keymap

#23719 Add media key support to Riot Pad
  keyboards/shandoncodes/riot_pad/keyboard.json
Labels: keyboard

#23673 Insert delay between shifted chars in send_string_with_delay for AVR
  quantum/send_string/send_string.c
Labels: core

#23666 [Doc] Reference advance keycodes in combos
  docs/feature_combo.md
Labels: documentation

#23659 Add sleepy_craft_studios sleepy_keeb
  keyboards/sleepy_craft_studios/sleepy_keeb/info.json
  keyboards/sleepy_craft_studios/sleepy_keeb/keymaps/default/keymap.c
  keyboards/sleepy_craft_studios/sleepy_keeb/keymaps/via/keymap.c
  keyboards/sleepy_craft_studios/sleepy_keeb/keymaps/via/rules.mk
  keyboards/sleepy_craft_studios/sleepy_keeb/readme.md
  keyboards/sleepy_craft_studios/sleepy_keeb/rules.mk
Labels: keyboard, keymap, via

#23658 Add via support for craftwalk
  keyboards/craftwalk/keyboard.json
  keyboards/craftwalk/keymaps/via/keymap.c
  keyboards/craftwalk/keymaps/via/rules.mk
Labels: keyboard, keymap, via

#23526 [Keyboard] Adding TX_Roundup_Pad PCB
  keyboards/viktus/tx_roundup_pad/info.json
  keyboards/viktus/tx_roundup_pad/keymaps/default/keymap.c
  keyboards/viktus/tx_roundup_pad/keymaps/via/keymap.c
  keyboards/viktus/tx_roundup_pad/keymaps/via/rules.mk
  keyboards/viktus/tx_roundup_pad/readme.md
  keyboards/viktus/tx_roundup_pad/rules.mk
Labels: keyboard, keymap, via

#23735 macOS install script: remove `brew upgrade --ignore-pinned`
  util/install/macos.sh
Labels: bug, core

#21942 ADD keyboard Projectd/75/Projectd_75_ iso
  keyboards/projectd/75/iso/config.h
  keyboards/projectd/75/iso/halconf.h
  keyboards/projectd/75/iso/info.json
  keyboards/projectd/75/iso/iso.c
  keyboards/projectd/75/iso/iso.h
  keyboards/projectd/75/iso/keymaps/default/keymap.c
  keyboards/projectd/75/iso/keymaps/via/keymap.c
  keyboards/projectd/75/iso/keymaps/via/rules.mk
  keyboards/projectd/75/iso/mcuconf.h
  keyboards/projectd/75/iso/readme.md
  keyboards/projectd/75/iso/rules.mk
Labels: keyboard, keymap, stale, via

#23403 KB name change to Part.1-75-HS
  keyboards/vertex/t75/keyboard.json
Labels: keyboard

#23750 Migrate `LOCKING_*_ENABLE` to Data-Driven: D, Part 2
  keyboards/do60/config.h
  keyboards/do60/keyboard.json
  keyboards/doio/kb30/config.h
  keyboards/doio/kb30/keyboard.json
  keyboards/donutcables/scrabblepad/config.h
  keyboards/donutcables/scrabblepad/keyboard.json
  keyboards/doppelganger/config.h
  keyboards/doppelganger/keyboard.json
  keyboards/doro67/rgb/config.h
  keyboards/doro67/rgb/keyboard.json
  keyboards/dotmod/dymium65/config.h
  keyboards/dotmod/dymium65/keyboard.json
  keyboards/draytronics/daisy/config.h
  keyboards/draytronics/daisy/keyboard.json
  keyboards/draytronics/elise/config.h
  keyboards/draytronics/elise/keyboard.json
  keyboards/draytronics/elise_v2/config.h
  keyboards/draytronics/elise_v2/keyboard.json
  keyboards/drewkeys/iskar/config.h
  keyboards/drewkeys/iskar/keyboard.json
  keyboards/drhigsby/bkf/config.h
  keyboards/drhigsby/bkf/keyboard.json
  keyboards/drhigsby/dubba175/config.h
  keyboards/drhigsby/dubba175/keyboard.json
  keyboards/drhigsby/ogurec/config.h
  keyboards/drhigsby/ogurec/info.json
  keyboards/drhigsby/packrat/config.h
  keyboards/drhigsby/packrat/keyboard.json
  keyboards/dtisaac/cg108/config.h
  keyboards/dtisaac/cg108/keyboard.json
  keyboards/dumbo/config.h
  keyboards/dumbo/keyboard.json
  keyboards/dz60/config.h
  keyboards/dz60/keyboard.json
  keyboards/dztech/bocc/config.h
  keyboards/dztech/bocc/keyboard.json
  keyboards/dztech/duo_s/config.h
  keyboards/dztech/duo_s/keyboard.json
Labels: enhancement, keyboard

#23746 Migrate `LOCKING_*_ENABLE` to Data-Driven: A-C, Part 2
  keyboards/chalice/config.h
  keyboards/chalice/keyboard.json
  keyboards/charue/sunsetter_r2/config.h
  keyboards/charue/sunsetter_r2/keyboard.json
  keyboards/checkerboards/axon40/config.h
  keyboards/checkerboards/axon40/keyboard.json
  keyboards/checkerboards/candybar_ortho/config.h
  keyboards/checkerboards/candybar_ortho/keyboard.json
  keyboards/checkerboards/g_idb60/config.h
  keyboards/checkerboards/g_idb60/keyboard.json
  keyboards/checkerboards/nop60/config.h
  keyboards/checkerboards/nop60/keyboard.json
  keyboards/checkerboards/phoenix45_ortho/config.h
  keyboards/checkerboards/phoenix45_ortho/keyboard.json
  keyboards/checkerboards/plexus75/config.h
  keyboards/checkerboards/plexus75/keyboard.json
  keyboards/checkerboards/plexus75_he/config.h
  keyboards/checkerboards/plexus75_he/keyboard.json
  keyboards/checkerboards/pursuit40/config.h
  keyboards/checkerboards/pursuit40/keyboard.json
  keyboards/checkerboards/quark/config.h
  keyboards/checkerboards/quark/keyboard.json
  keyboards/checkerboards/quark_lp/config.h
  keyboards/checkerboards/quark_lp/keyboard.json
  keyboards/checkerboards/quark_plus/config.h
  keyboards/checkerboards/quark_plus/keyboard.json
  keyboards/checkerboards/quark_squared/config.h
  keyboards/checkerboards/quark_squared/keyboard.json
  keyboards/checkerboards/snop60/config.h
  keyboards/checkerboards/snop60/keyboard.json
  keyboards/checkerboards/ud40_ortho_alt/config.h
  keyboards/checkerboards/ud40_ortho_alt/keyboard.json
  keyboards/cheshire/curiosity/config.h
  keyboards/cheshire/curiosity/keyboard.json
  keyboards/chickenman/ciel/config.h
  keyboards/chickenman/ciel/keyboard.json
  keyboards/chlx/merro60/config.h
  keyboards/chlx/merro60/keyboard.json
  keyboards/chlx/str_merro60/config.h
  keyboards/chlx/str_merro60/keyboard.json
  keyboards/chosfox/cf81/config.h
  keyboards/chosfox/cf81/keyboard.json
  keyboards/citrus/erdnuss65/config.h
  keyboards/citrus/erdnuss65/keyboard.json
  keyboards/ckeys/handwire_101/config.h
  keyboards/ckeys/handwire_101/keyboard.json
  keyboards/ckeys/nakey/config.h
  keyboards/ckeys/nakey/keyboard.json
  keyboards/ckeys/obelus/config.h
  keyboards/ckeys/obelus/keyboard.json
  keyboards/ckeys/thedora/config.h
  keyboards/ckeys/thedora/keyboard.json
  keyboards/ckeys/washington/config.h
  keyboards/ckeys/washington/keyboard.json
  keyboards/clueboard/2x1800/2018/config.h
  keyboards/clueboard/2x1800/2018/keyboard.json
  keyboards/clueboard/2x1800/2021/config.h
  keyboards/clueboard/2x1800/2021/keyboard.json
Labels: enhancement, keyboard

#23694 Fix PS/2 Trackpoint mouse clicks (#22265)
  drivers/ps2/ps2_mouse.c
Labels: bug, core

#23118 add moky67 keyboard
  keyboards/moky/moky67/config.h
  keyboards/moky/moky67/halconf.h
  keyboards/moky/moky67/info.json
  keyboards/moky/moky67/keymaps/default/keymap.c
  keyboards/moky/moky67/keymaps/default/rules.mk
  keyboards/moky/moky67/keymaps/via/keymap.c
  keyboards/moky/moky67/keymaps/via/rules.mk
  keyboards/moky/moky67/mcuconf.h
  keyboards/moky/moky67/readme.md
  keyboards/moky/moky67/rules.mk
Labels: keyboard, keymap, via

#23390 add second encoder to matrix info of arrowmechanics/wings
  keyboards/arrowmechanics/wings/keyboard.json
Labels: keyboard

#23427 Add Meow65
  keyboards/eason/meow65/config.h
  keyboards/eason/meow65/halconf.h
  keyboards/eason/meow65/info.json
  keyboards/eason/meow65/keymaps/default/keymap.c
  keyboards/eason/meow65/keymaps/via/keymap.c
  keyboards/eason/meow65/keymaps/via/rules.mk
  keyboards/eason/meow65/mcuconf.h
  keyboards/eason/meow65/readme.md
  keyboards/eason/meow65/rules.mk
Labels: keyboard, keymap, via

#23758 Migrate `LOCKING_*_ENABLE` to Data-Driven: G
  keyboards/gboards/ergotaco/config.h
  keyboards/gboards/ergotaco/keyboard.json
  keyboards/gboards/georgi/config.h
  keyboards/gboards/georgi/keyboard.json
  keyboards/gboards/gergo/config.h
  keyboards/gboards/gergo/keyboard.json
  keyboards/geekboards/tester/config.h
  keyboards/geekboards/tester/keyboard.json
  keyboards/geonworks/frogmini/fmh/config.h
  keyboards/geonworks/frogmini/fmh/keyboard.json
  keyboards/geonworks/frogmini/fms/config.h
  keyboards/geonworks/frogmini/fms/keyboard.json
  keyboards/gh60/revc/config.h
  keyboards/gh60/revc/keyboard.json
  keyboards/gh60/satan/config.h
  keyboards/gh60/satan/keyboard.json
  keyboards/ghs/rar/config.h
  keyboards/ghs/rar/keyboard.json
  keyboards/gkeyboard/gkb_m16/config.h
  keyboards/gkeyboard/gkb_m16/keyboard.json
  keyboards/gkeyboard/gpad8_2r/config.h
  keyboards/gkeyboard/gpad8_2r/keyboard.json
  keyboards/gl516/a52gl/config.h
  keyboards/gl516/a52gl/keyboard.json
  keyboards/gl516/j73gl/config.h
  keyboards/gl516/j73gl/keyboard.json
  keyboards/gl516/n51gl/config.h
  keyboards/gl516/n51gl/keyboard.json
  keyboards/gmmk/gmmk2/p65/config.h
  keyboards/gmmk/gmmk2/p65/info.json
  keyboards/gmmk/gmmk2/p96/config.h
  keyboards/gmmk/gmmk2/p96/info.json
  keyboards/gmmk/numpad/config.h
  keyboards/gmmk/numpad/keyboard.json
  keyboards/gmmk/pro/config.h
  keyboards/gmmk/pro/info.json
  keyboards/gon/nerd60/config.h
  keyboards/gon/nerd60/keyboard.json
  keyboards/gon/nerdtkl/config.h
  keyboards/gon/nerdtkl/keyboard.json
  keyboards/gray_studio/aero75/config.h
  keyboards/gray_studio/aero75/keyboard.json
  keyboards/gray_studio/cod67/config.h
  keyboards/gray_studio/cod67/keyboard.json
  keyboards/gray_studio/space65/config.h
  keyboards/gray_studio/space65/keyboard.json
  keyboards/gray_studio/space65r3/config.h
  keyboards/gray_studio/space65r3/keyboard.json
  keyboards/gray_studio/think65v3/config.h
  keyboards/gray_studio/think65v3/keyboard.json
  keyboards/grid600/press/config.h
  keyboards/grid600/press/keyboard.json
Labels: enhancement, keyboard

#23760 Remove includes of config.h
  keyboards/converter/hp_46010a/matrix.c
  keyboards/gh60/satan/keymaps/iso_split_rshift/config.h
  keyboards/handwired/owlet60/matrix.c
  keyboards/handwired/xealous/matrix.c
  keyboards/kinesis/alvicstep/matrix.c
  keyboards/knops/mini/keymaps/default-gsm-newbs/config.h
  keyboards/wilba_tech/rama_works_m6_a/keymaps/naut/config.h
Labels: keyboard, keymap

#23764 Migrate `LOCKING_*_ENABLE` to Data-Driven: H, Part 4
  keyboards/handwired/reclined/config.h
  keyboards/handwired/reclined/keyboard.json
  keyboards/handwired/retro_refit/config.h
  keyboards/handwired/retro_refit/keyboard.json
  keyboards/handwired/selene/config.h
  keyboards/handwired/selene/keyboard.json
  keyboards/handwired/sick68/config.h
  keyboards/handwired/sick68/keyboard.json
  keyboards/handwired/sick_pad/config.h
  keyboards/handwired/sick_pad/keyboard.json
  keyboards/handwired/skakunm_dactyl/config.h
  keyboards/handwired/skakunm_dactyl/keyboard.json
  keyboards/handwired/slash/config.h
  keyboards/handwired/slash/keyboard.json
  keyboards/handwired/snatchpad/config.h
  keyboards/handwired/snatchpad/keyboard.json
  keyboards/handwired/sono1/config.h
  keyboards/handwired/sono1/info.json
  keyboards/handwired/space_oddity/config.h
  keyboards/handwired/space_oddity/keyboard.json
  keyboards/handwired/split89/config.h
  keyboards/handwired/split89/keyboard.json
  keyboards/handwired/split_cloud/config.h
  keyboards/handwired/split_cloud/keyboard.json
  keyboards/handwired/steamvan/rev1/config.h
  keyboards/handwired/steamvan/rev1/keyboard.json
  keyboards/handwired/sticc14/config.h
  keyboards/handwired/sticc14/keyboard.json
  keyboards/handwired/stream_cheap/2x3/config.h
  keyboards/handwired/stream_cheap/2x3/keyboard.json
  keyboards/handwired/stream_cheap/2x4/config.h
  keyboards/handwired/stream_cheap/2x4/keyboard.json
  keyboards/handwired/stream_cheap/2x5/config.h
  keyboards/handwired/stream_cheap/2x5/keyboard.json
  keyboards/handwired/symmetric70_proto/promicro/config.h
  keyboards/handwired/symmetric70_proto/promicro/info.json
  keyboards/handwired/symmetric70_proto/proton_c/config.h
  keyboards/handwired/symmetric70_proto/proton_c/info.json
  keyboards/handwired/symmetry60/config.h
  keyboards/handwired/symmetry60/keyboard.json
  keyboards/handwired/tennie/config.h
  keyboards/handwired/tennie/keyboard.json
  keyboards/handwired/terminus_mini/config.h
  keyboards/handwired/terminus_mini/keyboard.json
  keyboards/handwired/trackpoint/config.h
  keyboards/handwired/trackpoint/keyboard.json
  keyboards/handwired/tritium_numpad/config.h
  keyboards/handwired/tritium_numpad/keyboard.json
  keyboards/handwired/twadlee/tp69/config.h
  keyboards/handwired/twadlee/tp69/keyboard.json
  keyboards/handwired/unk/rev1/config.h
  keyboards/handwired/unk/rev1/keyboard.json
  keyboards/handwired/uthol/rev3/config.h
  keyboards/handwired/uthol/rev3/keyboard.json
  keyboards/handwired/videowriter/config.h
  keyboards/handwired/videowriter/keyboard.json
  keyboards/handwired/wabi/config.h
  keyboards/handwired/wabi/keyboard.json
  keyboards/handwired/woodpad/config.h
  keyboards/handwired/woodpad/keyboard.json
Labels: enhancement, keyboard

#23761 Fix font artefact on Reverb keyboard.
  keyboards/dasky/reverb/graphics/robotomono20.qff.c
  keyboards/dasky/reverb/graphics/robotomono20.qff.h
Labels: bug, keyboard

#23744 Added MATRIX_HAS_GHOST definition for IBM Model H controller
  keyboards/ibm/model_m/modelh/info.json
Labels: keyboard

#23786 Migrate `LOCKING_*_ENABLE` to Data-Driven: U-V
  keyboards/uk78/config.h
  keyboards/uk78/keyboard.json
  keyboards/ungodly/nines/config.h
  keyboards/ungodly/nines/keyboard.json
  keyboards/unikeyboard/diverge3/config.h
  keyboards/unikeyboard/diverge3/keyboard.json
  keyboards/unikeyboard/divergetm2/config.h
  keyboards/unikeyboard/divergetm2/keyboard.json
  keyboards/unikeyboard/felix/config.h
  keyboards/unikeyboard/felix/keyboard.json
  keyboards/uranuma/config.h
  keyboards/uranuma/keyboard.json
  keyboards/utd80/config.h
  keyboards/utd80/keyboard.json
  keyboards/v60_type_r/config.h
  keyboards/v60_type_r/keyboard.json
  keyboards/vagrant_10/config.h
  keyboards/vagrant_10/keyboard.json
  keyboards/viendi8l/config.h
  keyboards/viendi8l/keyboard.json
  keyboards/viktus/at101_bh/config.h
  keyboards/viktus/at101_bh/keyboard.json
  keyboards/viktus/omnikey_bh/config.h
  keyboards/viktus/omnikey_bh/keyboard.json
  keyboards/viktus/smolka/config.h
  keyboards/viktus/smolka/keyboard.json
  keyboards/viktus/sp111/config.h
  keyboards/viktus/sp111/keyboard.json
  keyboards/viktus/styrka/config.h
  keyboards/viktus/styrka/keyboard.json
  keyboards/viktus/z150_bh/config.h
  keyboards/viktus/z150_bh/keyboard.json
  keyboards/vitamins_included/rev1/config.h
  keyboards/vitamins_included/rev1/keyboard.json
Labels: enhancement, keyboard

#23778 Migrate `LOCKING_*_ENABLE` to Data-Driven: O
  keyboards/oddball/config.h
  keyboards/oddball/info.json
  keyboards/oddforge/vea/config.h
  keyboards/oddforge/vea/keyboard.json
  keyboards/ok60/config.h
  keyboards/ok60/keyboard.json
  keyboards/om60/config.h
  keyboards/om60/keyboard.json
  keyboards/omkbd/ergodash/mini/config.h
  keyboards/omkbd/ergodash/mini/keyboard.json
  keyboards/omkbd/ergodash/rev1/config.h
  keyboards/omkbd/ergodash/rev1/keyboard.json
  keyboards/omkbd/runner3680/3x6/config.h
  keyboards/omkbd/runner3680/3x6/keyboard.json
  keyboards/omkbd/runner3680/3x7/config.h
  keyboards/omkbd/runner3680/3x7/keyboard.json
  keyboards/omkbd/runner3680/3x8/config.h
  keyboards/omkbd/runner3680/3x8/keyboard.json
  keyboards/omkbd/runner3680/4x6/config.h
  keyboards/omkbd/runner3680/4x6/keyboard.json
  keyboards/omkbd/runner3680/4x7/config.h
  keyboards/omkbd/runner3680/4x7/keyboard.json
  keyboards/omkbd/runner3680/4x8/config.h
  keyboards/omkbd/runner3680/4x8/keyboard.json
  keyboards/omkbd/runner3680/5x6/config.h
  keyboards/omkbd/runner3680/5x6/keyboard.json
  keyboards/omkbd/runner3680/5x6_5x8/config.h
  keyboards/omkbd/runner3680/5x6_5x8/keyboard.json
  keyboards/omkbd/runner3680/5x7/config.h
  keyboards/omkbd/runner3680/5x7/keyboard.json
  keyboards/omkbd/runner3680/5x8/config.h
  keyboards/omkbd/runner3680/5x8/keyboard.json
  keyboards/omnikeyish/config.h
  keyboards/omnikeyish/keyboard.json
  keyboards/orange75/config.h
  keyboards/orange75/keyboard.json
  keyboards/org60/config.h
  keyboards/org60/keyboard.json
  keyboards/ortho5by12/config.h
  keyboards/ortho5by12/keyboard.json
  keyboards/orthocode/config.h
  keyboards/orthocode/keyboard.json
Labels: enhancement, keyboard

#23780 Migrate `LOCKING_*_ENABLE` to Data-Driven: P, Part 2
  keyboards/preonic/config.h
  keyboards/preonic/rev1/keyboard.json
  keyboards/preonic/rev2/keyboard.json
  keyboards/preonic/rev3/keyboard.json
  keyboards/preonic/rev3_drop/keyboard.json
  keyboards/primekb/meridian/config.h
  keyboards/primekb/meridian/info.json
  keyboards/primekb/meridian/ktr1010/config.h
  keyboards/primekb/meridian/ws2812/config.h
  keyboards/primekb/meridian_rgb/config.h
  keyboards/primekb/meridian_rgb/keyboard.json
  keyboards/primekb/prime_m/config.h
  keyboards/primekb/prime_m/keyboard.json
  keyboards/primekb/prime_o/config.h
  keyboards/primekb/prime_o/keyboard.json
  keyboards/primekb/prime_r/config.h
  keyboards/primekb/prime_r/keyboard.json
  keyboards/projectcain/relic/config.h
  keyboards/projectcain/relic/keyboard.json
  keyboards/projectcain/vault45/config.h
  keyboards/projectcain/vault45/keyboard.json
  keyboards/projectd/65/projectd_65_ansi/config.h
  keyboards/projectd/65/projectd_65_ansi/keyboard.json
  keyboards/projectd/75/ansi/config.h
  keyboards/projectd/75/ansi/keyboard.json
  keyboards/projectkb/alice/rev1/config.h
  keyboards/projectkb/alice/rev1/keyboard.json
  keyboards/projectkb/alice/rev2/config.h
  keyboards/projectkb/alice/rev2/keyboard.json
  keyboards/projectkb/signature65/config.h
  keyboards/projectkb/signature65/keyboard.json
  keyboards/projectkb/signature87/config.h
  keyboards/projectkb/signature87/keyboard.json
  keyboards/prototypist/allison/config.h
  keyboards/prototypist/allison/keyboard.json
  keyboards/prototypist/allison_numpad/config.h
  keyboards/prototypist/allison_numpad/keyboard.json
  keyboards/prototypist/j01/config.h
  keyboards/prototypist/j01/keyboard.json
  keyboards/psuieee/pluto12/config.h
  keyboards/psuieee/pluto12/keyboard.json
  keyboards/pteron36/config.h
  keyboards/pteron36/keyboard.json
  keyboards/puck/config.h
  keyboards/puck/keyboard.json
  keyboards/punk75/config.h
  keyboards/punk75/keyboard.json
Labels: enhancement, keyboard

#23788 Migrate `LOCKING_*_ENABLE` to Data-Driven: W, Part 1
  keyboards/waldo/config.h
  keyboards/waldo/keyboard.json
  keyboards/walletburner/cajal/config.h
  keyboards/walletburner/cajal/keyboard.json
  keyboards/walletburner/neuron/config.h
  keyboards/walletburner/neuron/keyboard.json
  keyboards/wavtype/foundation/config.h
  keyboards/wavtype/foundation/keyboard.json
  keyboards/wavtype/p01_ultra/config.h
  keyboards/wavtype/p01_ultra/keyboard.json
  keyboards/weirdo/geminate60/config.h
  keyboards/weirdo/geminate60/keyboard.json
  keyboards/weirdo/kelowna/rgb64/config.h
  keyboards/weirdo/kelowna/rgb64/keyboard.json
  keyboards/weirdo/ls_60/config.h
  keyboards/weirdo/ls_60/keyboard.json
  keyboards/weirdo/naiping/np64/config.h
  keyboards/weirdo/naiping/np64/keyboard.json
  keyboards/weirdo/naiping/nphhkb/config.h
  keyboards/weirdo/naiping/nphhkb/keyboard.json
  keyboards/weirdo/naiping/npminila/config.h
  keyboards/weirdo/naiping/npminila/keyboard.json
  keyboards/weirdo/tiger910/config.h
  keyboards/weirdo/tiger910/keyboard.json
  keyboards/wekey/polaris/config.h
  keyboards/wekey/polaris/keyboard.json
  keyboards/westfoxtrot/aanzee/config.h
  keyboards/westfoxtrot/aanzee/keyboard.json
  keyboards/westfoxtrot/cyclops/config.h
  keyboards/westfoxtrot/cyclops/keyboard.json
  keyboards/westfoxtrot/cypher/rev1/config.h
  keyboards/westfoxtrot/cypher/rev1/keyboard.json
  keyboards/westfoxtrot/cypher/rev5/config.h
  keyboards/westfoxtrot/cypher/rev5/keyboard.json
  keyboards/westfoxtrot/prophet/config.h
  keyboards/westfoxtrot/prophet/keyboard.json
  keyboards/westm/westm68/config.h
  keyboards/westm/westm68/info.json
  keyboards/westm/westm9/config.h
  keyboards/westm/westm9/info.json
Labels: enhancement, keyboard

#23793 noroadsleft's 0.25.0 Changelogs and Touch-Ups
  data/mappings/keyboard_aliases.hjson
  docs/ChangeLog/20240526/PR23309.md
  docs/ChangeLog/20240526/PR23329.md
  keyboards/kprepublic/jj40/rev1/readme.md
Labels: keyboard, documentation, dd

#23794 2024 Q2 changelog
  docs/ChangeLog/20240526.md
  docs/ChangeLog/20240526/PR23309.md
  docs/ChangeLog/20240526/PR23329.md
  docs/_summary.md
  docs/breaking_changes.md
  docs/breaking_changes_history.md
  util/list-moved-keyboards.sh
Labels: core, documentation

#18332 EEPROM: Don't erase if we don't have to. Adding eeprom_driver_format abstraction.
  drivers/eeprom/eeprom_custom.c-template
  drivers/eeprom/eeprom_driver.c
  drivers/eeprom/eeprom_driver.h
  drivers/eeprom/eeprom_i2c.c
  drivers/eeprom/eeprom_spi.c
  drivers/eeprom/eeprom_transient.c
  drivers/eeprom/eeprom_wear_leveling.c
  platforms/chibios/drivers/eeprom/eeprom_legacy_emulated_flash.c
  platforms/chibios/drivers/eeprom/eeprom_stm32_L0_L1.c
  quantum/eeconfig.c
Labels: core, develop-fast-track, breaking_change_2024q3

#23822 Workaround for broken ChibiOS startup
  platforms/chibios/boards/GENERIC_STM32_G431XB/configs/mcuconf.h
  platforms/chibios/boards/GENERIC_STM32_L432XC/configs/mcuconf.h
Labels: bug, core

#23818 BastardKB: remove legacy board `tbk`
  keyboards/bastardkb/tbk/config.h
  keyboards/bastardkb/tbk/keyboard.json
  keyboards/bastardkb/tbk/keymaps/default/keymap.c
  keyboards/bastardkb/tbk/readme.md
Labels: keyboard, keymap

#23826 Decrease CPU count by one to try and stop GHA from killing runners.
  .github/workflows/ci_build_major_branch_keymap.yml
Labels: CI

#23829 [docs] Fix code blocks overflowing page width
  docs/cli_commands.md
  docs/cli_configuration.md
  docs/cli_development.md
  docs/cli_tab_complete.md
  docs/feature_audio.md
  docs/feature_auto_shift.md
  docs/feature_layouts.md
  docs/feature_macros.md
  docs/flashing_bootloadhid.md
  docs/hand_wire.md
  docs/hardware_keyboard_guidelines.md
  docs/how_a_matrix_works.md
  docs/keymap.md
  docs/newbs_building_firmware.md
  docs/newbs_flashing.md
  docs/newbs_getting_started.md
Labels: documentation

#23830 [docs] Update "Get Started" blocks
  docs/index.md
Labels: documentation

#23831 [docs] Fix old anchor IDs
  docs/__capabilities.md
  docs/feature_digitizer.md
  docs/feature_unicode.md
Labels: bug, enhancement, documentation

#23832 Docs theme updates
  builddefs/docsgen/.vitepress/theme/custom.css
  docs/cli_development.md
  docs/driver_installation_zadig.md
  docs/feature_sequencer.md
  docs/isp_flashing_guide.md
  docs/newbs.md
  docs/newbs_building_firmware_workflow.md
Labels: documentation
