Repository qmk/qmk_firmware, pull requests merged in 2024-06, with the labels that each got.

#23839 [docs] Remove gitbook directory
  docs/__capabilities.md
  docs/feature_rgblight.md
  docs/public/color-wheel.svg
  docs/public/favicon.ico
  docs/public/favicon.png
Labels: enhancement, documentation

#23803 Fix Vitamins Included Keymap Formatting
  keyboards/vitamins_included/keymaps/default/keymap.c
Labels: keymap

#23851 [docs] Add ability to redirect based on input path.
  builddefs/docsgen/.vitepress/theme/QMKLayout.vue
  docs/_aliases.json
Labels: documentation

#23858 Add helper `make` targets for formatting and pytest.
  Makefile
Labels: core

#22489 [wear_leveling] efl updates
  docs/drivers/eeprom.md
  platforms/chibios/drivers/wear_leveling/wear_leveling_efl.c
Labels: core, documentation, develop-fast-track, breaking_change_2024q3

#23091 GC9xxx LCD family drivers (GC9107 and GC9A01)
  drivers/painter/gc9a01/qp_gc9a01_opcodes.h
  drivers/painter/gc9xxx/qp_gc9107.c
  drivers/painter/gc9xxx/qp_gc9107.h
  drivers/painter/gc9xxx/qp_gc9107_opcodes.h
  drivers/painter/gc9xxx/qp_gc9a01.c
  drivers/painter/gc9xxx/qp_gc9a01.h
  drivers/painter/gc9xxx/qp_gc9a01_opcodes.h
  drivers/painter/gc9xxx/qp_gc9xxx_opcodes.h
  quantum/painter/qp.h
  quantum/painter/qp_internal.c
  quantum/painter/rules.mk
Labels: core, awaiting review

#23869 Fixup build failures.
  keyboards/matrix/m12og/rev2/rev2.c
  keyboards/mechwild/mokulua/info.json
  keyboards/planck/rev4/keyboard.json
  keyboards/planck/rev5/keyboard.json
Labels: bug, keyboard

#23872 Fix documentation error
  docs/features/swap_hands.md
Labels: documentation

#23870 Add SyenaKeyboards Elaruus
  keyboards/syenakeyboards/elaruus/keyboard.json
  keyboards/syenakeyboards/elaruus/keymaps/default/keymap.c
  keyboards/syenakeyboards/elaruus/keymaps/via/keymap.c
  keyboards/syenakeyboards/elaruus/keymaps/via/rules.mk
  keyboards/syenakeyboards/elaruus/readme.md
Labels: keyboard, keymap, via

#23877 Fix broken link in PR checklist
  docs/pr_checklist.md
Labels: documentation

#23885 Add STM32F405RG ld script for tinyuf2
  platforms/chibios/boards/common/ld/STM32F405xG_tinyuf2.ld
Labels: core

#23883 Fixup mt/mt84
  keyboards/mt/mt84/config.h
  keyboards/mt/mt84/keyboard.json
  keyboards/mt/mt84/keymaps/default/keymap.c
  keyboards/mt/mt84/keymaps/via/keymap.c
  keyboards/mt/mt84/mt84.c
Labels: keyboard, keymap, via

#23888 Fix Tri-Layer Keycode Descriptions
  docs/features/tri_layer.md
Labels: documentation

#23876 add keyboard jaykeeb jk60
  keyboards/jaykeeb/jk60/keyboard.json
  keyboards/jaykeeb/jk60/keymaps/default/keymap.c
  keyboards/jaykeeb/jk60/keymaps/via/keymap.c
  keyboards/jaykeeb/jk60/keymaps/via/rules.mk
  keyboards/jaykeeb/jk60/matrix_diagram.md
  keyboards/jaykeeb/jk60/readme.md
Labels: keyboard, keymap, via

#23856 Fix Iris/Irispad keymaps
  keyboards/keebio/iris/keymaps/default/keymap.json
  keyboards/keebio/irispad/keymaps/default/keymap.json
  keyboards/keebio/irispad/keymaps/via/keymap.json
Labels: bug, keymap, via

#23890 Re-implement `eeprom_write_qword` as define
  platforms/eeprom.h
Labels: bug, core

#23857 splitkb/kyria: remove `CONVERT_TO` at keyboard level
  keyboards/splitkb/kyria/info.json
  keyboards/splitkb/kyria/rev1/base/keyboard.json
  keyboards/splitkb/kyria/rev1/config.h
  keyboards/splitkb/kyria/rev1/info.json
  keyboards/splitkb/kyria/rev1/proton_c/config.h
  keyboards/splitkb/kyria/rev1/proton_c/keyboard.json
  keyboards/splitkb/kyria/rev1/proton_c/rules.mk
  keyboards/splitkb/kyria/rev2/base/keyboard.json
  keyboards/splitkb/kyria/rev2/config.h
  keyboards/splitkb/kyria/rev2/info.json
  keyboards/splitkb/kyria/rev2/proton_c/config.h
  keyboards/splitkb/kyria/rev2/proton_c/keyboard.json
  keyboards/splitkb/kyria/rev2/proton_c/rules.mk
  keyboards/splitkb/kyria/rev3/config.h
  keyboards/splitkb/kyria/rev3/keyboard.json
Labels: bug, enhancement, keyboard

#23901 Decouple VIA from STM32 L0/L1 EEPROM implementation
  platforms/chibios/drivers/eeprom/eeprom_stm32_L0_L1.h
Labels: core

#23862 Bugfix: enable encoder in firmware and setting mousekey enable to ANSI and solder version
  keyboards/4pplet/waffling60/rev_e/keyboard.json
  keyboards/4pplet/waffling60/rev_e_ansi/keyboard.json
  keyboards/4pplet/waffling60/rev_e_iso/keyboard.json
Labels: keyboard

#23903 Remove VIA_ENABLE from default keymaps.
  keyboards/keychron/q9_plus/ansi_encoder/keymaps/default/rules.mk
  keyboards/mechlovin/zed65/no_backlight/wearhaus66/keymaps/default/rules.mk
Labels: bug, keymap

#23905 VIA keymap deprecation notice.
  docs/ChangeLog/20240526.md
Labels: documentation

#23906 Fixup docs.
  docs/ChangeLog/20240526.md
  docs/_sidebar.json
Labels: documentation

#23908 Ensure documentation pull requests build
  .github/workflows/docs.yml
  docs/public/.nojekyll
  docs/public/CNAME
Labels: documentation, CI

#23902 Add API reference section for LED/RGB Matrix docs
  docs/features/led_matrix.md
  docs/features/rgb_matrix.md
Labels: enhancement, documentation

#23910 Fix nonunique anchors
  docs/features/led_matrix.md
  docs/features/rgb_matrix.md
Labels: bug, documentation

#23355 APA102: API rework
  docs/drivers/apa102.md
  drivers/led/apa102.c
  drivers/led/apa102.h
  quantum/rgblight/rgblight_drivers.c
Labels: enhancement, core, documentation, awaiting review, develop-fast-track, breaking_change_2024q3

#23821 Add missing encode enable for BAMFK-1
  keyboards/keebio/bamfk1/keyboard.json
Labels: keyboard

#23914 Fix order of RGB LEDs to correct one for Iris CE
  keyboards/keebio/iris_ce/rev1/keyboard.json
Labels: keyboard

#23918 Remove suggestion of creating issues for unsupported keyboards.
  docs/configurator_step_by_step.md
Labels: documentation

#23889 Add `enabled": true` rule for "dip_switch" for Keychron Q4
  keyboards/keychron/q4/info.json
Labels: keyboard

#23733 fix keymap for kprepublic bm60hsrgb_iso
  keyboards/kprepublic/bm60hsrgb_iso/rev2/keymaps/default/keymap.c
  keyboards/kprepublic/bm60hsrgb_iso/rev2/keymaps/via/keymap.c
Labels: keymap, via

#23879 Add support for Altair-X
  keyboards/ai03/altair_x/config.h
  keyboards/ai03/altair_x/keyboard.json
  keyboards/ai03/altair_x/keymaps/default/keymap.c
  keyboards/ai03/altair_x/keymaps/via/keymap.c
  keyboards/ai03/altair_x/keymaps/via/rules.mk
  keyboards/ai03/altair_x/readme.md
  keyboards/ai03/altair_x/rules.mk
Labels: keyboard, keymap, via

#23878 Add support for Altair
  keyboards/ai03/altair/config.h
  keyboards/ai03/altair/keyboard.json
  keyboards/ai03/altair/keymaps/default/keymap.c
  keyboards/ai03/altair/keymaps/via/keymap.c
  keyboards/ai03/altair/keymaps/via/rules.mk
  keyboards/ai03/altair/readme.md
  keyboards/ai03/altair/rules.mk
Labels: keyboard, keymap, via

#23919 Various keyboard fixes
  keyboards/eason/meow65/keyboard.json
  keyboards/eason/meow65/rules.mk
  keyboards/handwired/marek128b/ergosplit44/keyboard.json
  keyboards/helix/rev3_4rows/keyboard.json
  keyboards/helix/rev3_5rows/keyboard.json
  keyboards/keebio/irispad/rev8/keyboard.json
  keyboards/meetlab/kalice/keyboard.json
  keyboards/moky/moky67/keyboard.json
  keyboards/moky/moky67/rules.mk
  keyboards/projectd/75/iso/keyboard.json
  keyboards/projectd/75/iso/rules.mk
  keyboards/rot13labs/h4ckb0ard/keyboard.json
  keyboards/rot13labs/h4ckb0ard/rules.mk
  keyboards/sleepy_craft_studios/sleepy_keeb/keyboard.json
  keyboards/sleepy_craft_studios/sleepy_keeb/rules.mk
  keyboards/smart68/keyboard.json
  keyboards/smart68/rules.mk
  keyboards/vertex/cycle7/keyboard.json
  keyboards/vertex/cycle7/rules.mk
  keyboards/viktus/tx_roundup_pad/keyboard.json
  keyboards/viktus/tx_roundup_pad/rules.mk
Labels: bug, keyboard

#23442 [CLI] Don't `exit()` when certain exceptions occur.
  lib/python/qmk/cli/find.py
  lib/python/qmk/cli/generate/autocorrect_data.py
  lib/python/qmk/cli/mass_compile.py
  lib/python/qmk/cli/userspace/compile.py
  lib/python/qmk/cli/userspace/list.py
  lib/python/qmk/cli/via2json.py
  lib/python/qmk/commands.py
  lib/python/qmk/info.py
  lib/python/qmk/json_schema.py
  lib/python/qmk/util.py
Labels: python, cli

#22936 Adding keyboard: ErgoStrafer RGB
  keyboards/custommk/ergostrafer_rgb/config.h
  keyboards/custommk/ergostrafer_rgb/halconf.h
  keyboards/custommk/ergostrafer_rgb/info.json
  keyboards/custommk/ergostrafer_rgb/keymaps/default/keymap.c
  keyboards/custommk/ergostrafer_rgb/keymaps/default/rules.mk
  keyboards/custommk/ergostrafer_rgb/keymaps/via/config.h
  keyboards/custommk/ergostrafer_rgb/keymaps/via/keymap.c
  keyboards/custommk/ergostrafer_rgb/keymaps/via/rules.mk
  keyboards/custommk/ergostrafer_rgb/mcuconf.h
  keyboards/custommk/ergostrafer_rgb/readme.md
  keyboards/custommk/ergostrafer_rgb/rules.mk
Labels: keyboard, keymap, via

#23933 [CLI] Older python compat.
  lib/python/qmk/util.py
Labels: python, cli

#23935 `ergodox_ez/base`: Add missing `features` object
  keyboards/ergodox_ez/base/keyboard.json
Labels: bug, keyboard

#23926 Add Chiri CE
  keyboards/keebio/chiri_ce/info.json
  keyboards/keebio/chiri_ce/keymaps/default/keymap.json
  keyboards/keebio/chiri_ce/keymaps/via/keymap.json
  keyboards/keebio/chiri_ce/readme.md
  keyboards/keebio/chiri_ce/rev1/config.h
  keyboards/keebio/chiri_ce/rev1/keyboard.json
  keyboards/keebio/chiri_ce/rev1/rules.mk
Labels: keyboard, keymap, via

#23937 keyboard.json schema: set minimum value for `key_unit`
  data/schemas/definitions.jsonschema
  data/schemas/keyboard.jsonschema
  keyboards/hazel/bad_wings/config.h
  keyboards/hazel/bad_wings/keyboard.json
  keyboards/keychron/q1v2/config.h
  keyboards/keychron/q1v2/info.json
  keyboards/mechlovin/olly/jf/rev1/config.h
  keyboards/mechlovin/olly/jf/rev1/keyboard.json
  keyboards/silverbullet44/keyboard.json
  keyboards/snes_macropad/config.h
  keyboards/snes_macropad/keyboard.json
  keyboards/zsa/voyager/config.h
  keyboards/zsa/voyager/keyboard.json
Labels: bug, keyboard, dd

#23943 Strip decimals from RGB Matrix layout positions
  keyboards/cipulot/ec_980c/keyboard.json
  keyboards/darkproject/kd87a_bfg_edition/keyboard.json
  keyboards/doio/kb38/keyboard.json
  keyboards/handwired/alcor_dactyl/keyboard.json
  keyboards/input_club/k_type/k_type.c
  keyboards/kbdfans/kbd75rgb/kbd75rgb.c
  keyboards/kbdfans/kbdpad/mk3/keyboard.json
  keyboards/keebio/bamfk4/bamfk4.c
  keyboards/meletrix/zoom98/keyboard.json
  keyboards/projectd/65/projectd_65_ansi/keyboard.json
  keyboards/projectd/75/ansi/keyboard.json
  keyboards/projectd/75/iso/keyboard.json
  keyboards/rot13labs/h4ckb0ard/keyboard.json
  keyboards/skeletonkbd/frost68/keyboard.json
  keyboards/theone/keyboard.json
Labels: bug, keyboard

#23923 Implement data driven serial driver
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
Labels: enhancement, documentation, dd

#23947 Update rgb_matrix.md
  docs/features/rgb_matrix.md
Labels: documentation

#20273 Generate keymap dd keycodes to header
  builddefs/build_keyboard.mk
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/generate/keymap_h.py
  lib/python/qmk/keymap.py
Labels: enhancement, core, python, cli

#22947 Implement data driven joysticks
  data/mappings/info_config.hjson
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  keyboards/handwired/battleship_gamepad/battleship_gamepad.c
  keyboards/handwired/battleship_gamepad/config.h
  keyboards/handwired/battleship_gamepad/keyboard.json
  keyboards/handwired/battleship_gamepad/rules.mk
  lib/python/qmk/cli/generate/keyboard_c.py
  lib/python/qmk/constants.py
  lib/python/qmk/info.py
Labels: keyboard, python, cli, dd

#23954 [CLI] Force `dump_lines()` to always use Unix line endings
  lib/python/qmk/commands.py
Labels: bug, python, cli

#23960 Update 'qmk import-kbfirmware' to use 'keyboard.json'
  lib/python/qmk/importers.py
Labels: bug, python, cli

#23650 add farsi keymap extras
  data/constants/keycodes/extras/keycodes_farsi_0.0.1.hjson
  docs/reference_keymap_extras.md
  quantum/keymap_extras/keymap_farsi.h
Labels: core, documentation, dd

#23974 Fix leftover reference to previous AW20216S EN pin definition
  keyboards/gmmk/numpad/numpad.c
Labels: bug, keyboard

#23976 Fix 'qmk import-kbfirmware' WS2812 config
  lib/python/qmk/importers.py
Labels: bug, python, cli

#23978 Update documentation suggestion in top level readme
  docs/contributing.md
  readme.md
Labels: documentation

#23980 Migrate `led_update_kb` implementations to DD
  keyboards/aeboards/ext65/rev1/keyboard.json
  keyboards/aeboards/ext65/rev1/rev1.c
  keyboards/aeboards/ext65/rev2/keyboard.json
  keyboards/aeboards/ext65/rev2/rev2.c
  keyboards/heliar/wm1_hotswap/keyboard.json
  keyboards/heliar/wm1_hotswap/wm1_hotswap.c
  keyboards/hineybush/h10/h10.c
  keyboards/hineybush/h10/keyboard.json
  keyboards/hineybush/h60/h60.c
  keyboards/hineybush/h60/keyboard.json
  keyboards/hineybush/h87a/h87a.c
  keyboards/hineybush/h87a/keyboard.json
  keyboards/hineybush/h88/h88.c
  keyboards/hineybush/h88/keyboard.json
  keyboards/hineybush/physix/keyboard.json
  keyboards/hineybush/physix/physix.c
  keyboards/kc60se/kc60se.c
  keyboards/kc60se/keyboard.json
  keyboards/masterworks/classy_tkl/rev_a/keyboard.json
  keyboards/masterworks/classy_tkl/rev_a/rev_a.c
  keyboards/matrix/cain_re/cain_re.c
  keyboards/matrix/cain_re/config.h
  keyboards/matrix/cain_re/keyboard.json
  keyboards/matrix/m12og/rev2/keyboard.json
  keyboards/matrix/m12og/rev2/rev2.c
  keyboards/quad_h/lb75/keyboard.json
  keyboards/quad_h/lb75/lb75.c
  keyboards/rmi_kb/wete/v1/keyboard.json
  keyboards/rmi_kb/wete/v1/v1.c
  keyboards/switchplate/southpaw_65/keyboard.json
  keyboards/switchplate/southpaw_65/southpaw_65.c
  keyboards/switchplate/southpaw_fullsize/keyboard.json
  keyboards/switchplate/southpaw_fullsize/southpaw_fullsize.c
  keyboards/westfoxtrot/cypher/rev1/keyboard.json
  keyboards/westfoxtrot/cypher/rev1/rev1.c
  keyboards/westfoxtrot/cypher/rev5/keyboard.json
  keyboards/westfoxtrot/cypher/rev5/rev5.c
  keyboards/westfoxtrot/prophet/keyboard.json
  keyboards/westfoxtrot/prophet/prophet.c
Labels: optimization, keyboard

#23979 Remove deprecated `led_set_user`
  docs/features/led_indicators.md
  keyboards/converter/usb_usb/custom_matrix.cpp
  keyboards/sirius/unigo66/custom_matrix.cpp
  quantum/led.c
  quantum/led.h
Labels: core, keyboard, documentation

#23981 Migrate `led_update_kb` implementations to DD
  keyboards/ai03/vega/keyboard.json
  keyboards/ai03/vega/vega.c
  keyboards/bioi/g60/g60.c
  keyboards/bioi/g60/keyboard.json
  keyboards/bioi/morgan65/keyboard.json
  keyboards/bioi/morgan65/morgan65.c
  keyboards/bioi/s65/keyboard.json
  keyboards/bioi/s65/s65.c
  keyboards/clueboard/2x1800/2019/2019.c
  keyboards/clueboard/2x1800/2019/keyboard.json
  keyboards/duck/orion/v3/keyboard.json
  keyboards/duck/orion/v3/matrix.c
  keyboards/duck/orion/v3/v3.c
  keyboards/ealdin/quadrant/keyboard.json
  keyboards/ealdin/quadrant/quadrant.c
  keyboards/handwired/jtallbean/split_65/keyboard.json
  keyboards/handwired/jtallbean/split_65/split_65.c
  keyboards/handwired/prime_exl_plus/keyboard.json
  keyboards/handwired/prime_exl_plus/prime_exl_plus.c
  keyboards/ibm/model_m/ashpil_usbc/ashpil_usbc.c
  keyboards/ibm/model_m/ashpil_usbc/keyboard.json
  keyboards/ibm/model_m/teensypp/keyboard.json
  keyboards/ibm/model_m/teensypp/teensypp.c
  keyboards/ibm/model_m/yugo_m/keyboard.json
  keyboards/ibm/model_m/yugo_m/yugo_m.c
  keyboards/jels/jels88/jels88.c
  keyboards/jels/jels88/keyboard.json
  keyboards/kbdfans/bella/soldered/keyboard.json
  keyboards/kbdfans/bella/soldered/soldered.c
  keyboards/kbdfans/maja_soldered/keyboard.json
  keyboards/kbdfans/maja_soldered/maja_soldered.c
  keyboards/kopibeng/mnk88/mnk88.c
  keyboards/kopibeng/xt8x/xt8x.c
  keyboards/mc_76k/keyboard.json
  keyboards/mc_76k/mc_76k.c
  keyboards/viktus/sp111/keyboard.json
  keyboards/viktus/sp111/sp111.c
  keyboards/wilba_tech/wt69_a/keyboard.json
  keyboards/wilba_tech/wt69_a/wt69_a.c
  keyboards/wilba_tech/wt70_jb/keyboard.json
  keyboards/wilba_tech/wt70_jb/wt70_jb.c
  keyboards/wuque/ikki68/ikki68.c
  keyboards/wuque/ikki68/keyboard.json
  keyboards/ymdk/yd60mq/info.json
  keyboards/ymdk/yd60mq/yd60mq.c
Labels: optimization, keyboard

#23983 Migrate `led_update_kb` implementations to DD
  keyboards/acheron/austin/austin.c
  keyboards/acheron/austin/keyboard.json
  keyboards/cheshire/curiosity/curiosity.c
  keyboards/cheshire/curiosity/keyboard.json
  keyboards/doppelganger/doppelganger.c
  keyboards/doppelganger/keyboard.json
  keyboards/exclusive/e85/soldered/keyboard.json
  keyboards/exclusive/e85/soldered/soldered.c
  keyboards/ghs/rar/keyboard.json
  keyboards/ghs/rar/rar.c
  keyboards/gray_studio/think65/solder/keyboard.json
  keyboards/gray_studio/think65/solder/solder.c
  keyboards/ilumkb/volcano660/keyboard.json
  keyboards/ilumkb/volcano660/volcano660.c
  keyboards/jae/j01/j01.c
  keyboards/jae/j01/keyboard.json
  keyboards/kkatano/wallaby/keyboard.json
  keyboards/kkatano/wallaby/wallaby.c
  keyboards/kkatano/yurei/keyboard.json
  keyboards/kkatano/yurei/yurei.c
  keyboards/marksard/leftover30/keyboard.json
  keyboards/marksard/leftover30/leftover30.c
  keyboards/noxary/220/220.c
  keyboards/noxary/220/keyboard.json
  keyboards/noxary/268_2/268_2.c
  keyboards/noxary/268_2/keyboard.json
  keyboards/noxary/280/280.c
  keyboards/noxary/280/keyboard.json
  keyboards/ortho5by12/keyboard.json
  keyboards/ortho5by12/ortho5by12.c
  keyboards/percent/canoe_gen2/canoe_gen2.c
  keyboards/percent/canoe_gen2/keyboard.json
  keyboards/pom_keyboards/tnln95/keyboard.json
  keyboards/pom_keyboards/tnln95/tnln95.c
  keyboards/projectkb/alice/alice.c
  keyboards/projectkb/alice/rev1/config.h
  keyboards/projectkb/alice/rev1/keyboard.json
  keyboards/projectkb/alice/rev2/config.h
  keyboards/projectkb/alice/rev2/keyboard.json
  keyboards/rubi/keyboard.json
  keyboards/rubi/rubi.c
  keyboards/team0110/p1800fl/keyboard.json
  keyboards/team0110/p1800fl/p1800fl.c
  keyboards/tkc/osav2/keyboard.json
  keyboards/tkc/osav2/osav2.c
  keyboards/tr60w/keyboard.json
  keyboards/tr60w/tr60w.c
  keyboards/wolfmarkclub/wm1/keyboard.json
  keyboards/wolfmarkclub/wm1/wm1.c
  keyboards/wsk/g4m3ralpha/g4m3ralpha.c
  keyboards/wsk/g4m3ralpha/keyboard.json
  keyboards/yushakobo/navpad/navpad_prefs.c
Labels: optimization, keyboard

#23966 `handwired/symmetric70_proto`: add `keyboard.json`
  keyboards/handwired/symmetric70_proto/promicro/base/keyboard.json
  keyboards/handwired/symmetric70_proto/promicro/fast/keyboard.json
  keyboards/handwired/symmetric70_proto/promicro/normal/keyboard.json
  keyboards/handwired/symmetric70_proto/promicro/rules.mk
  keyboards/handwired/symmetric70_proto/proton_c/base/keyboard.json
  keyboards/handwired/symmetric70_proto/proton_c/fast/keyboard.json
  keyboards/handwired/symmetric70_proto/proton_c/normal/keyboard.json
  keyboards/handwired/symmetric70_proto/proton_c/rules.mk
Labels: enhancement, keyboard

#23963 Migrate RGB Matrix layout for two boards
  keyboards/doio/kb30/kb30.c
  keyboards/doio/kb30/keyboard.json
  keyboards/work_louder/work_board/info.json
  keyboards/work_louder/work_board/work_board.c
Labels: enhancement, keyboard

#23987 Remove skipped schema files
  data/schemas/false.jsonschema
  data/schemas/true.jsonschema
Labels: dd

#23930 Rename layouts containing keyboard name
  keyboards/boardrun/classic/keyboard.json
  keyboards/boardrun/classic/keymaps/default/keymap.c
  keyboards/boardrun/classic/keymaps/via/keymap.c
  keyboards/deltasplit75/keymaps/default/keymap.c
  keyboards/deltasplit75/v2/keyboard.json
  keyboards/doro67/multi/keyboard.json
  keyboards/doro67/multi/keymaps/default_multi/keymap.c
  keyboards/flehrad/tradestation/keyboard.json
  keyboards/handwired/concertina/64key/keyboard.json
  keyboards/handwired/concertina/64key/keymaps/default/keymap.c
  keyboards/handwired/dactyl/keyboard.json
  keyboards/handwired/dactyl/keymaps/default/keymap.c
  keyboards/handwired/dactyl/keymaps/dvorak/keymap.c
  keyboards/handwired/dactyl/keymaps/erincalling/keymap.c
  keyboards/handwired/owlet60/keyboard.json
  keyboards/handwired/owlet60/keymaps/default/keymap.c
  keyboards/handwired/owlet60/keymaps/oled_testing/keymap.c
  keyboards/handwired/pterodactyl/keyboard.json
  keyboards/handwired/pterodactyl/keymaps/default/keymap.c
  keyboards/handwired/pterodactyl/keymaps/default/keymap.json
  keyboards/mode/m80v1/m80s/keyboard.json
  keyboards/mode/m80v1/m80s/keymaps/default/keymap.c
  keyboards/mode/m80v1/m80s/keymaps/via/keymap.c
  keyboards/mode/m80v2/m80v2s/keyboard.json
  keyboards/mode/m80v2/m80v2s/keymaps/default/keymap.c
  keyboards/mode/m80v2/m80v2s/keymaps/via/keymap.c
  keyboards/reviung/reviung34/keyboard.json
  keyboards/reviung/reviung34/keymaps/default/keymap.c
  keyboards/reviung/reviung34/keymaps/default_2u/keymap.c
  keyboards/reviung/reviung34/keymaps/default_jp/keymap.c
  keyboards/reviung/reviung34/keymaps/default_rgb/keymap.c
  keyboards/reviung/reviung34/keymaps/default_rgb2u/keymap.c
  keyboards/reviung/reviung34/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#23988 Add support for userspace to docker build commands.
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/userspace/path.py
  lib/python/qmk/tests/test_cli_commands.py
  util/docker_build.sh
  util/docker_cmd.sh
Labels: core, python, cli

#23985 Migrate `led_update_kb` implementations to DD
  keyboards/bear_face/info.json
  keyboards/bear_face/v1/v1.c
  keyboards/bear_face/v2/v2.c
  keyboards/dztech/bocc/bocc.c
  keyboards/dztech/bocc/keyboard.json
  keyboards/evyd13/gh80_3700/gh80_3700.c
  keyboards/evyd13/gh80_3700/keyboard.json
  keyboards/exclusive/e85/hotswap/hotswap.c
  keyboards/exclusive/e85/hotswap/keyboard.json
  keyboards/fjlabs/bolsa65/bolsa65.c
  keyboards/fjlabs/bolsa65/keyboard.json
  keyboards/flx/virgo/keyboard.json
  keyboards/flx/virgo/virgo.c
  keyboards/handwired/colorlice/colorlice.c
  keyboards/handwired/colorlice/keyboard.json
  keyboards/handwired/evk/v1_3/v1_3.c
  keyboards/handwired/retro_refit/keyboard.json
  keyboards/handwired/retro_refit/retro_refit.c
  keyboards/handwired/selene/keyboard.json
  keyboards/handwired/selene/selene.c
  keyboards/handwired/selene/selene.h
  keyboards/handwired/z150/config.h
  keyboards/handwired/z150/keyboard.json
  keyboards/handwired/z150/z150.c
  keyboards/kabedon/kabedon980/kabedon980.c
  keyboards/kabedon/kabedon980/keyboard.json
  keyboards/noxary/x268/keyboard.json
  keyboards/noxary/x268/x268.c
  keyboards/punk75/config.h
  keyboards/punk75/keyboard.json
  keyboards/punk75/keymaps/default/keymap.c
  keyboards/punk75/keymaps/via/keymap.c
  keyboards/punk75/punk75.c
  keyboards/redscarf_i/keyboard.json
  keyboards/redscarf_i/redscarf_i.c
  keyboards/sneakbox/aliceclone/aliceclone.c
  keyboards/sneakbox/aliceclone/keyboard.json
  keyboards/yiancardesigns/barleycorn/barleycorn.c
  keyboards/yiancardesigns/barleycorn/keyboard.json
Labels: optimization, keyboard, keymap, via

#23995 Remove some redundant 'blank' files
  keyboards/4pplet/yakiimo/rev_a/config.h
  keyboards/kinesis/stapelberg/config.h
  keyboards/mechstudio/chapter1/rules.mk
Labels: keyboard

#23997 Fix docker_cmd.sh when userspace is not configured
  lib/python/qmk/cli/userspace/path.py
Labels: bug, python, cli

#23964 `helix/pico` and `rev2`: add `keyboard.json`s
  keyboards/helix/pico/back/keyboard.json
  keyboards/helix/pico/base/keyboard.json
  keyboards/helix/pico/qmk_conf/keyboard.json
  keyboards/helix/pico/qmk_conf/rules.mk
  keyboards/helix/pico/rules.mk
  keyboards/helix/pico/sc/keyboard.json
  keyboards/helix/pico/under/keyboard.json
  keyboards/helix/rev2/back/keyboard.json
  keyboards/helix/rev2/base/keyboard.json
  keyboards/helix/rev2/qmk_conf/keyboard.json
  keyboards/helix/rev2/rules.mk
  keyboards/helix/rev2/sc/keyboard.json
  keyboards/helix/rev2/under/keyboard.json
  keyboards/helix/rules.mk
Labels: enhancement, keyboard

#23998 `hs60/v2/hhkb`: Adjust layout name
  keyboards/hs60/v2/hhkb/keyboard.json
  keyboards/hs60/v2/hhkb/keymaps/default/keymap.c
  keyboards/hs60/v2/hhkb/keymaps/via/keymap.c
Labels: bug, enhancement, keyboard, keymap, via

#23992 `xelus/snap96`: add matrix diagram and some additional layouts
  keyboards/xelus/snap96/keyboard.json
  keyboards/xelus/snap96/matrix_diagram.md
Labels: enhancement, keyboard

#23965 Add support for Equanimity
  keyboards/tyraelwastaken/equanimity/keyboard.json
  keyboards/tyraelwastaken/equanimity/keymaps/default/keymap.c
  keyboards/tyraelwastaken/equanimity/keymaps/default/rules.mk
  keyboards/tyraelwastaken/equanimity/keymaps/via/keymap.c
  keyboards/tyraelwastaken/equanimity/keymaps/via/rules.mk
  keyboards/tyraelwastaken/equanimity/readme.md
Labels: keyboard, keymap, via

#23949 Adding Elysian
  keyboards/custommk/elysian/config.h
  keyboards/custommk/elysian/halconf.h
  keyboards/custommk/elysian/keyboard.json
  keyboards/custommk/elysian/keymaps/default/keymap.c
  keyboards/custommk/elysian/keymaps/default/rules.mk
  keyboards/custommk/elysian/keymaps/via/config.h
  keyboards/custommk/elysian/keymaps/via/keymap.c
  keyboards/custommk/elysian/keymaps/via/rules.mk
  keyboards/custommk/elysian/mcuconf.h
  keyboards/custommk/elysian/readme.md
Labels: keyboard, keymap, via

#24001 Change ADNS9800 and PMW33XX SROM uploads to opt in.
  drivers/sensors/adns9800.c
  drivers/sensors/pmw33xx_common.c
Labels: core

#23971 Add Nyquist Rev. 5
  keyboards/keebio/nyquist/keymaps/tester/config.h
  keyboards/keebio/nyquist/keymaps/tester/keymap.c
  keyboards/keebio/nyquist/keymaps/tester/rules.mk
  keyboards/keebio/nyquist/rev5/config.h
  keyboards/keebio/nyquist/rev5/keyboard.json
  keyboards/keebio/nyquist/rev5/rules.mk
Labels: keyboard, keymap

#24007 `clueboard/card`: Swap layout and alias
  keyboards/clueboard/card/keyboard.json
Labels: enhancement, keyboard

#24008 Relocate winry315 VIA logic
  keyboards/winry/winry315/keymaps/via/keymap.c
  keyboards/winry/winry315/winry315.c
  keyboards/winry/winry315/winry315.h
Labels: keyboard, keymap, via

#24010 `atreus`: misc cleanups
  keyboards/atreus/astar_mirrored/config.h
  keyboards/atreus/atreus.h
  keyboards/atreus/feather/config.h
  keyboards/atreus/info.json
  keyboards/atreus/keymaps/default/keymap.c
  keyboards/atreus/keymaps/via/keymap.c
  keyboards/atreus/keymaps/workman/config.h
  keyboards/atreus/keymaps/workman/keymap.c
  keyboards/atreus/promicro/keyboard.json
Labels: enhancement, keyboard, keymap, via

#24012 `tzarc/djinn`: adjust layout name
  keyboards/tzarc/djinn/info.json
  keyboards/tzarc/djinn/keymaps/default/keymap.c
  keyboards/tzarc/djinn/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#24015 `ez_maker`: adjust layout names
  keyboards/ez_maker/directpins/promicro/keyboard.json
  keyboards/ez_maker/directpins/promicro/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/proton_c/keyboard.json
  keyboards/ez_maker/directpins/proton_c/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/rp2040/keyboard.json
  keyboards/ez_maker/directpins/rp2040/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/teensy_2/keyboard.json
  keyboards/ez_maker/directpins/teensy_2/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/teensy_2pp/keyboard.json
  keyboards/ez_maker/directpins/teensy_2pp/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/teensy_32/keyboard.json
  keyboards/ez_maker/directpins/teensy_32/keymaps/default/keymap.json
  keyboards/ez_maker/directpins/teensy_lc/keyboard.json
  keyboards/ez_maker/directpins/teensy_lc/keymaps/default/keymap.json
Labels: enhancement, keyboard, keymap

#24011 Relocate work_louder VIA logic
  keyboards/work_louder/rgb_functions.h
  keyboards/work_louder/work_board/config.h
  keyboards/work_louder/work_board/keymaps/via/config.h
  keyboards/work_louder/work_board/keymaps/via/keymap.c
  keyboards/work_louder/work_board/work_board.c
Labels: keyboard, keymap, via

#24004 `h0oni/deskpad` and `hotduck`: adjust layout names
  keyboards/h0oni/deskpad/keyboard.json
  keyboards/h0oni/deskpad/keymaps/default/keymap.c
  keyboards/h0oni/deskpad/keymaps/via/keymap.c
  keyboards/h0oni/hotduck/keyboard.json
  keyboards/h0oni/hotduck/keymaps/default/keymap.c
  keyboards/h0oni/hotduck/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#24014 `horrortroll/handwired_k552`: fix RGB Matrix LED config
  keyboards/horrortroll/handwired_k552/handwired_k552.c
  keyboards/horrortroll/handwired_k552/keyboard.json
Labels: enhancement, keyboard

#24017 Remove custom keycodes from nullbitsco/snap
  keyboards/nullbitsco/snap/snap.c
  keyboards/nullbitsco/snap/snap.h
Labels: keyboard

#24018 Fix ploopy Adept/Madromys link
  keyboards/ploopyco/readme.md
Labels: keyboard

#23996 Fix 'qmk new-keyboard' processing of development_board
  data/templates/keyboard/keyboard.json
  lib/python/qmk/cli/new/keyboard.py
Labels: bug, python, cli
