Repository qmk/qmk_firmware, pull requests merged in 2024-04, with the labels that each got.

#22968 Add rose75 keyboard
  keyboards/rose75/info.json
  keyboards/rose75/keymaps/default/keymap.c
  keyboards/rose75/keymaps/via/keymap.c
  keyboards/rose75/keymaps/via/rules.mk
  keyboards/rose75/readme.md
  keyboards/rose75/rose75.c
  keyboards/rose75/rules.mk
Labels: keyboard, keymap, via

#23168 Add MNK 65 EC
  keyboards/cipulot/mnk_65_ec/config.h
  keyboards/cipulot/mnk_65_ec/halconf.h
  keyboards/cipulot/mnk_65_ec/info.json
  keyboards/cipulot/mnk_65_ec/keymaps/default/keymap.c
  keyboards/cipulot/mnk_65_ec/keymaps/via/keymap.c
  keyboards/cipulot/mnk_65_ec/keymaps/via/rules.mk
  keyboards/cipulot/mnk_65_ec/mcuconf.h
  keyboards/cipulot/mnk_65_ec/post_rules.mk
  keyboards/cipulot/mnk_65_ec/readme.md
  keyboards/cipulot/mnk_65_ec/rules.mk
Labels: keyboard, keymap, via

#22654 Fix in 60_iso_wkl_split_bs_rshift diagram
  layouts/default/60_iso_wkl_split_bs_rshift/default_60_iso_wkl_split_bs_rshift/keymap.c
Labels: keymap

#23193 Add EC Type-K
  keyboards/cipulot/ec_typek/config.h
  keyboards/cipulot/ec_typek/ec_switch_matrix.c
  keyboards/cipulot/ec_typek/ec_switch_matrix.h
  keyboards/cipulot/ec_typek/ec_typek.c
  keyboards/cipulot/ec_typek/halconf.h
  keyboards/cipulot/ec_typek/info.json
  keyboards/cipulot/ec_typek/keymaps/default/keymap.c
  keyboards/cipulot/ec_typek/keymaps/via/keymap.c
  keyboards/cipulot/ec_typek/keymaps/via/rules.mk
  keyboards/cipulot/ec_typek/keymaps/via/via_ec_indicators.c
  keyboards/cipulot/ec_typek/matrix.c
  keyboards/cipulot/ec_typek/mcuconf.h
  keyboards/cipulot/ec_typek/readme.md
  keyboards/cipulot/ec_typek/rules.mk
Labels: keyboard, keymap, via

#23321 Produce warning if keyboard is not configured via `keyboard.json`
  lib/python/qmk/info.py
Labels: enhancement, python, cli

#23396 40percentclub/gherkin: remove `CONVERT_TO` at keyboard level
  keyboards/40percentclub/gherkin/info.json
  keyboards/40percentclub/gherkin/kb2040/keyboard.json
  keyboards/40percentclub/gherkin/kb2040/rules.mk
  keyboards/40percentclub/gherkin/keymaps/default/keymap.c
  keyboards/40percentclub/gherkin/pro_micro/keyboard.json
  keyboards/40percentclub/gherkin/rules.mk
Labels: bug, keyboard, keymap

#23398 merge/um80: remove pointless empty layers
  keyboards/merge/um80/keymaps/default/keymap.c
Labels: bug, keymap

#23397 [ UPDATE 15PAD & 6PAD ]
  keyboards/zlabkeeb/15pad/keyboard.json
  keyboards/zlabkeeb/6pad/readme.md
Labels: keyboard

#23393 Change the VID and PID of the file kb38 info.json
  keyboards/doio/kb38/info.json
Labels: keyboard

#23394 Remove `quantum.h` includes from keyboard code
  keyboards/25keys/cassette42/common/oled_helper.c
  keyboards/3w6/rev2/keymaps/default_pimoroni/pimoroni_trackball.c
  keyboards/3w6/rev2/keymaps/default_pimoroni/pimoroni_trackball.h
  keyboards/annepro2/annepro2_ble.h
  keyboards/cannonkeys/lib/satisfaction75/satisfaction_core.c
  keyboards/cannonkeys/lib/satisfaction75/satisfaction_core.h
  keyboards/cannonkeys/lib/satisfaction75/satisfaction_encoder.c
  keyboards/cannonkeys/lib/satisfaction75/satisfaction_oled.c
  keyboards/clueboard/2x1800/2021/max7219.c
  keyboards/clueboard/2x1800/2021/max7219.h
  keyboards/converter/usb_usb/custom_matrix.cpp
  keyboards/converter/xt_usb/xt.h
  keyboards/duck/duck_led/duck_led.c
  keyboards/duck/jetfire/indicator_leds.c
  keyboards/duck/jetfire/indicator_leds.h
  keyboards/fallacy/indicators.h
  keyboards/handwired/d48/taphold.c
  keyboards/handwired/d48/taphold.h
  keyboards/handwired/dactyl_minidox/dactyl_minidox.c
  keyboards/handwired/dygma/raise/leds.c
  keyboards/handwired/dygma/raise/leds.h
  keyboards/handwired/lagrange/transport.c
  keyboards/handwired/promethium/keymaps/default/keymap.c
  keyboards/horrortroll/nyx/rev1/rev1.c
  keyboards/hotdox/left.c
  keyboards/hotdox/left.h
  keyboards/idobao/id61/keymaps/idobao/specialk.c
  keyboards/idobao/id61/keymaps/idobao/specialk.h
  keyboards/input_club/k_type/i2c_master.c
  keyboards/kagizaraya/chidori/board.c
  keyboards/keyboardio/model01/leds.c
  keyboards/keyboardio/model01/leds.h
  keyboards/matrix/m20add/rgb_ring.c
  keyboards/miiiw/common/shift_register.c
  keyboards/miiiw/common/shift_register.h
  keyboards/mntre_v3/mntre_v3.c
  keyboards/molecule/adns.c
  keyboards/molecule/adns.h
  keyboards/nullbitsco/common/bitc_led.h
  keyboards/nullbitsco/common/remote_kb.c
  keyboards/nullbitsco/common/remote_kb.h
  keyboards/nullbitsco/nibble/big_led.h
  keyboards/nullbitsco/nibble/keymaps/oled_status/oled_display.c
  keyboards/nullbitsco/nibble/keymaps/oled_status/oled_display.h
  keyboards/rocketboard_16/keycode_lookup.c
  keyboards/rocketboard_16/keycode_lookup.h
  keyboards/sirius/unigo66/custom_matrix.cpp
  keyboards/stront/keymaps/hid/hid_display.h
  keyboards/wilba_tech/via_test.c
  keyboards/wilba_tech/wt_mono_backlight.c
  keyboards/wilba_tech/wt_mono_backlight.h
  keyboards/wilba_tech/wt_rgb_backlight.c
  keyboards/wilba_tech/wt_rgb_backlight.h
  keyboards/wilba_tech/wt_rgb_backlight_keycodes.h
  keyboards/work_louder/rgb_functions.c
  keyboards/work_louder/rgb_functions.h
  keyboards/yushakobo/navpad/navpad_prefs.c
  keyboards/yushakobo/navpad/navpad_prefs.h
  keyboards/yushakobo/quick17/quick17_prefs.h
  keyboards/yushakobo/quick17/rgb_matrix_kb.inc
Labels: enhancement, keyboard, keymap

#23406 Fix failing keyboards on develop
  keyboards/atreus/feather/keyboard.json
  keyboards/cannonkeys/lib/satisfaction75/satisfaction_encoder.c
  keyboards/cipulot/ec_typek/ec_typek.c
  keyboards/handwired/symmetric70_proto/matrix_debug/matrix.c
  keyboards/handwired/symmetric70_proto/matrix_fast/gpio_extr.h
  keyboards/handwired/symmetric70_proto/matrix_fast/matrix.c
  keyboards/handwired/symmetric70_proto/matrix_fast/matrix_extension_74hc15x.c
Labels: bug, keyboard

#23408 handwired/technicpad: fix `keyboard` in keymaps
  keyboards/handwired/technicpad/keymaps/default/keymap.json
  keyboards/handwired/technicpad/keymaps/via/keymap.json
  keyboards/mechwild/bb40/keymaps/default/keymap.json
Labels: bug, keymap, via

#23391 Fix pointing_device_set_cpi_on_side() changing CPI on correct side. relevant to #19433.
  quantum/pointing_device/pointing_device.c
Labels: bug, core

#23414 Fix malformed JSON in `layouts/default/ortho_5x10/info.json`
  layouts/default/ortho_5x10/info.json
Labels: bug, keymap

#23419 "features.split" is not a valid key
  keyboards/tweetydabird/lotus58/info.json
Labels: keyboard

#23422 Rename `process_{led,rgb}_matrix()`
  quantum/keyboard.c
  quantum/led_matrix/led_matrix.c
  quantum/led_matrix/led_matrix.h
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix.h
Labels: enhancement, core

#23421 Migrate build target markers to keyboard.json - YZ
  keyboards/yampad/keyboard.json
  keyboards/yampad/rules.mk
  keyboards/yandrstudio/buff67v3/keyboard.json
  keyboards/yandrstudio/buff67v3/rules.mk
  keyboards/yandrstudio/eau87/keyboard.json
  keyboards/yandrstudio/eau87/rules.mk
  keyboards/yandrstudio/eau_r2/keyboard.json
  keyboards/yandrstudio/eau_r2/rules.mk
  keyboards/yandrstudio/nightstar75/keyboard.json
  keyboards/yandrstudio/nightstar75/rules.mk
  keyboards/yandrstudio/nz67v2/keyboard.json
  keyboards/yandrstudio/nz67v2/rules.mk
  keyboards/yandrstudio/tg67/keyboard.json
  keyboards/yandrstudio/tg67/rules.mk
  keyboards/yandrstudio/wave75/keyboard.json
  keyboards/yandrstudio/wave75/rules.mk
  keyboards/yandrstudio/yr6095/keyboard.json
  keyboards/yandrstudio/yr6095/rules.mk
  keyboards/yandrstudio/yr80/keyboard.json
  keyboards/yandrstudio/yr80/rules.mk
  keyboards/ydkb/grape/keyboard.json
  keyboards/ydkb/grape/rules.mk
  keyboards/ydkb/just60/keyboard.json
  keyboards/ydkb/just60/rules.mk
  keyboards/yiancardesigns/barleycorn/keyboard.json
  keyboards/yiancardesigns/barleycorn/rules.mk
  keyboards/yiancardesigns/gingham/keyboard.json
  keyboards/yiancardesigns/gingham/rules.mk
  keyboards/yiancardesigns/seigaiha/keyboard.json
  keyboards/yiancardesigns/seigaiha/rules.mk
  keyboards/ymdk/id75/keyboard.json
  keyboards/ymdk/id75/rules.mk
  keyboards/ymdk/melody96/soldered/keyboard.json
  keyboards/ymdk/melody96/soldered/rules.mk
  keyboards/ymdk/sp64/keyboard.json
  keyboards/ymdk/sp64/rules.mk
  keyboards/ymdk/ymd40/air40/keyboard.json
  keyboards/ymdk/ymd40/air40/rules.mk
  keyboards/ymdk/ymd40/v2/keyboard.json
  keyboards/ymdk/ymd40/v2/rules.mk
  keyboards/yoichiro/lunakey_mini/keyboard.json
  keyboards/yoichiro/lunakey_mini/rules.mk
  keyboards/yoichiro/lunakey_pico/keyboard.json
  keyboards/yosino58/rev1/keyboard.json
  keyboards/yosino58/rev1/rules.mk
  keyboards/yynmt/acperience12/rev1/keyboard.json
  keyboards/yynmt/acperience12/rules.mk
  keyboards/zigotica/z34/keyboard.json
  keyboards/zigotica/z34/rules.mk
  keyboards/ziptyze/lets_split_v3/keyboard.json
  keyboards/zlant/keyboard.json
  keyboards/zlant/rules.mk
  keyboards/zsa/moonlander/keyboard.json
  keyboards/zsa/moonlander/rules.mk
Labels: keyboard

#23409 [Keyboard] Add Skelett60
  keyboards/novelkeys/skelett60/info.json
  keyboards/novelkeys/skelett60/keymaps/default/keymap.c
  keyboards/novelkeys/skelett60/keymaps/via/keymap.c
  keyboards/novelkeys/skelett60/keymaps/via/rules.mk
  keyboards/novelkeys/skelett60/readme.md
  keyboards/novelkeys/skelett60/rules.mk
  keyboards/novelkeys/skelett60/skelett60.c
Labels: keyboard, keymap, via

#23429 Update hand_wire.md
  docs/hand_wire.md
Labels: documentation

#23436 Tidy up default layer handling in keymaps
  keyboards/dz60/keymaps/iso_split-spacebar/keymap.c
  keyboards/eco/keymaps/default/keymap.c
  keyboards/handwired/atreus50/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/4x5/keymaps/default/keymap.c
  keyboards/handwired/dactyl_manuform/4x5/keymaps/dvorak/keymap.c
  keyboards/handwired/dactyl_manuform/4x6/keymaps/default/keymap.c
  keyboards/handwired/ortho5x13/keymaps/default/keymap.c
  keyboards/handwired/promethium/keymaps/default/keymap.c
  keyboards/handwired/terminus_mini/keymaps/default/keymap.c
  keyboards/helix/pico/keymaps/default/keymap.c
  keyboards/helix/rev2/keymaps/default/keymap.c
  keyboards/kagizaraya/halberd/keymaps/default/keymap.c
  keyboards/kagizaraya/halberd/keymaps/right_modifiers/keymap.c
  keyboards/kagizaraya/miniaxe/keymaps/default/keymap.c
  keyboards/kagizaraya/miniaxe/keymaps/underglow/keymap.c
  keyboards/keebio/levinson/keymaps/default/keymap.c
  keyboards/keebio/nyquist/keymaps/default/keymap.c
  keyboards/keebio/nyquist/keymaps/tester/keymap.c
  keyboards/keebio/wavelet/keymaps/default/keymap.c
  keyboards/lets_split/keymaps/poker/config.h
  keyboards/lets_split/keymaps/poker/keymap.c
  keyboards/lfkeyboards/lfk78/keymaps/default/keymap.c
  keyboards/lfkeyboards/lfk78/keymaps/iso/keymap.c
  keyboards/lfkeyboards/lfk78/keymaps/split_bs_osx/keymap.c
  keyboards/lfkeyboards/lfk78/keymaps/via/keymap.c
  keyboards/lfkeyboards/lfk87/keymaps/default/keymap.c
  keyboards/lfkeyboards/lfk87/keymaps/iso/keymap.c
  keyboards/lfkeyboards/lfkpad/keymaps/default/keymap.c
  keyboards/lfkeyboards/mini1800/keymaps/default/keymap.c
  keyboards/maple_computing/minidox/keymaps/default/keymap.c
  keyboards/maple_computing/the_ruler/keymaps/default/keymap.c
  keyboards/omkbd/ergodash/rev1/keymaps/default/keymap.c
  keyboards/rgbkb/zen/rev1/keymaps/default/keymap.c
  keyboards/rgbkb/zen/rev2/keymaps/default/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/default/keymap.c
  keyboards/thevankeyboards/roadkit/keymaps/default/keymap.c
  keyboards/unikeyboard/divergetm2/keymaps/default/keymap.c
  keyboards/woodkeys/meira/keymaps/default/keymap.c
  keyboards/woodkeys/meira/keymaps/takmiya/keymap.c
Labels: keymap, via

#23443 Fix Layout_Arrow 3rd key in bottom row
  keyboards/trashman/ketch/info.json
Labels: keyboard

#23434 Oneshot locked mods split transaction
  docs/feature_split_keyboard.md
  quantum/split_common/transactions.c
  quantum/split_common/transport.h
Labels: core, documentation

#23448 Bodge consolidation.
  builddefs/build_keyboard.mk
Labels: core

#23426 Separate keycode handling for LED Matrix and Backlight
  builddefs/common_features.mk
  quantum/process_keycode/process_backlight.c
  quantum/process_keycode/process_led_matrix.c
  quantum/process_keycode/process_led_matrix.h
  quantum/quantum.c
Labels: enhancement, core

#23432 Add new set of keycodes for LED Matrix
  data/constants/keycodes/keycodes_0.0.4.hjson
  data/constants/keycodes/keycodes_0.0.4_lighting.hjson
  docs/feature_led_matrix.md
  docs/keycodes.md
  quantum/keycodes.h
  tests/test_common/keycode_table.cpp
Labels: enhancement, core, documentation, dd

#23454 [Keyboard] Add N86
  keyboards/era/linx3/n86/config.h
  keyboards/era/linx3/n86/info.json
  keyboards/era/linx3/n86/keymaps/default/keymap.c
  keyboards/era/linx3/n86/keymaps/via/keymap.c
  keyboards/era/linx3/n86/keymaps/via/rules.mk
  keyboards/era/linx3/n86/readme.md
  keyboards/era/linx3/n86/rules.mk
Labels: keyboard, keymap, via

#23444 [Keyboard] Add N8X
  keyboards/era/linx3/n8x/config.h
  keyboards/era/linx3/n8x/halconf.h
  keyboards/era/linx3/n8x/info.json
  keyboards/era/linx3/n8x/keymaps/default/keymap.c
  keyboards/era/linx3/n8x/keymaps/via/keymap.c
  keyboards/era/linx3/n8x/keymaps/via/rules.mk
  keyboards/era/linx3/n8x/mcuconf.h
  keyboards/era/linx3/n8x/readme.md
  keyboards/era/linx3/n8x/rules.mk
Labels: keyboard, keymap, via

#23452 Added Chapter1
  keyboards/mechstudio/chapter1/info.json
  keyboards/mechstudio/chapter1/keymaps/default/keymap.c
  keyboards/mechstudio/chapter1/keymaps/default/rules.mk
  keyboards/mechstudio/chapter1/keymaps/via/keymap.c
  keyboards/mechstudio/chapter1/keymaps/via/rules.mk
  keyboards/mechstudio/chapter1/readme.md
  keyboards/mechstudio/chapter1/rules.mk
Labels: keyboard, keymap, via

#23462 Corrections to split keyboard migrations
  keyboards/biacco42/ergo42/info.json
  keyboards/buzzard/info.json
  keyboards/deltasplit75/info.json
  keyboards/deltasplit75/v2/info.json
  keyboards/ergoslab/info.json
  keyboards/ergoslab/rev1/keyboard.json
  keyboards/ergotravel/info.json
  keyboards/ergotravel/rev1/info.json
  keyboards/fortitude60/info.json
  keyboards/fortitude60/rev1/keyboard.json
  keyboards/handwired/unk/info.json
  keyboards/handwired/unk/rev1/keyboard.json
  keyboards/handwired/xealous/info.json
  keyboards/handwired/xealous/rev1/keyboard.json
  keyboards/jorne/info.json
  keyboards/jorne/rev1/info.json
  keyboards/kapl/info.json
  keyboards/kapl/rev1/info.json
  keyboards/keebio/foldkb/info.json
  keyboards/keebio/foldkb/rev1/info.json
  keyboards/keebio/kbo5000/info.json
  keyboards/keebio/kbo5000/rev1/info.json
  keyboards/keebio/rorschach/info.json
  keyboards/keebio/rorschach/rev1/info.json
  keyboards/kumaokobo/kudox_full/info.json
  keyboards/kumaokobo/kudox_full/rev1/info.json
  keyboards/lime/info.json
  keyboards/lime/rev1/info.json
  keyboards/maple_computing/lets_split_eh/eh/info.json
  keyboards/maple_computing/lets_split_eh/info.json
  keyboards/maple_computing/minidox/info.json
  keyboards/maple_computing/minidox/rev1/info.json
  keyboards/marksard/rhymestone/info.json
  keyboards/marksard/rhymestone/rev1/keyboard.json
  keyboards/rgbkb/mun/info.json
  keyboards/rgbkb/mun/rev1/keyboard.json
  keyboards/rgbkb/sol/info.json
  keyboards/rgbkb/sol/rev1/info.json
  keyboards/rgbkb/sol/rev2/info.json
  keyboards/rgbkb/sol3/info.json
  keyboards/rgbkb/sol3/rev1/keyboard.json
  keyboards/rgbkb/zygomorph/info.json
  keyboards/rgbkb/zygomorph/rev1/keyboard.json
  keyboards/salicylic_acid3/7skb/info.json
  keyboards/salicylic_acid3/7skb/rev1/keyboard.json
  keyboards/salicylic_acid3/jisplit89/info.json
  keyboards/salicylic_acid3/jisplit89/rev1/keyboard.json
  keyboards/salicylic_acid3/naked48/info.json
  keyboards/salicylic_acid3/naked48/rev1/keyboard.json
  keyboards/salicylic_acid3/naked60/info.json
  keyboards/salicylic_acid3/naked60/rev1/keyboard.json
  keyboards/salicylic_acid3/naked64/info.json
  keyboards/salicylic_acid3/naked64/rev1/keyboard.json
  keyboards/sofle/keyhive/keyboard.json
  keyboards/sofle/rev1/keyboard.json
  keyboards/uzu42/info.json
  keyboards/uzu42/rev1/info.json
Labels: bug, keyboard

#23455 LED Matrix: replace backlight keycodes with newly added ones
  keyboards/clueboard/66_hotswap/gen1/keymaps/66_ansi/keymap.c
  keyboards/clueboard/66_hotswap/gen1/keymaps/default/keymap.c
  keyboards/input_club/ergodox_infinity/keymaps/halfkeyboard/keymap.c
  keyboards/keychron/c1_pro/ansi/white/keymaps/default/keymap.c
  keyboards/keychron/c1_pro/ansi/white/keymaps/keychron/keymap.c
  keyboards/keychron/c1_pro/ansi/white/keymaps/via/keymap.c
  keyboards/keychron/c1_pro/ansi/white/white.c
  keyboards/keychron/c2_pro/ansi/white/keymaps/default/keymap.c
  keyboards/keychron/c2_pro/ansi/white/keymaps/keychron/keymap.c
  keyboards/keychron/c2_pro/ansi/white/keymaps/via/keymap.c
  keyboards/keychron/s1/ansi/white/keymaps/default/keymap.c
  keyboards/keychron/s1/ansi/white/keymaps/keychron/keymap.c
  keyboards/keychron/s1/ansi/white/keymaps/via/keymap.c
  keyboards/keychron/s1/s1.c
  quantum/process_keycode/process_led_matrix.c
Labels: enhancement, core, keyboard, keymap, via

#23509 Adjusted Compensator on-state and keymaps
  keyboards/compensator/info.json
  keyboards/compensator/keymaps/default/keymap.c
  keyboards/compensator/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#23458 Swap PID and VID on is0gr in QMK
  keyboards/cannonkeys/is0gr/info.json
Labels: keyboard

#23515 Migrate build target markers to keyboard.json - DE
  keyboards/dasky/reverb/keyboard.json
  keyboards/dc01/arrow/keyboard.json
  keyboards/dc01/left/keyboard.json
  keyboards/dc01/numpad/keyboard.json
  keyboards/dc01/right/keyboard.json
  keyboards/dcpedit/redherring/keyboard.json
  keyboards/deng/thirty/keyboard.json
  keyboards/dichotomy/keyboard.json
  keyboards/dm9records/plaid/keyboard.json
  keyboards/dm9records/tartan/keyboard.json
  keyboards/doio/kb16/rev1/keyboard.json
  keyboards/doio/kb16/rev2/keyboard.json
  keyboards/doio/kb38/keyboard.json
  keyboards/dp60/keyboard.json
  keyboards/draytronics/scarlet/config.h
  keyboards/draytronics/scarlet/keyboard.json
  keyboards/drop/alt/v2/keyboard.json
  keyboards/drop/cstm65/keyboard.json
  keyboards/drop/cstm80/keyboard.json
  keyboards/drop/ctrl/v2/keyboard.json
  keyboards/drop/sense75/keyboard.json
  keyboards/drop/shift/v2/keyboard.json
  keyboards/duck/eagle_viper/v2/keyboard.json
  keyboards/duck/jetfire/keyboard.json
  keyboards/duck/lightsaver/keyboard.json
  keyboards/duck/octagon/v1/keyboard.json
  keyboards/duck/octagon/v2/keyboard.json
  keyboards/duck/orion/v3/keyboard.json
  keyboards/duck/tcv3/keyboard.json
  keyboards/ducky/one2mini/1861st/keyboard.json
  keyboards/ducky/one2sf/1967st/keyboard.json
  keyboards/durgod/k310/base/keyboard.json
  keyboards/dztech/dz60rgb/v2_1/keyboard.json
  keyboards/dztech/dz60rgb_ansi/v2_1/keyboard.json
  keyboards/dztech/dz60rgb_wkl/v2_1/keyboard.json
  keyboards/dztech/dz65rgb/v3/keyboard.json
  keyboards/edi/hardlight/mk1/config.h
  keyboards/edi/hardlight/mk1/keyboard.json
  keyboards/edi/hardlight/mk2/config.h
  keyboards/edi/hardlight/mk2/keyboard.json
  keyboards/edinburgh41/keyboard.json
  keyboards/efreet/config.h
  keyboards/efreet/keyboard.json
  keyboards/elcantorhs/keyboard.json
  keyboards/emery65/keyboard.json
  keyboards/ergodox_ez/shine/keyboard.json
  keyboards/ergodox_stm32/keyboard.json
  keyboards/ergodox_stm32/rules.mk
  keyboards/ericrlau/numdiscipline/rev1/config.h
  keyboards/ericrlau/numdiscipline/rev1/keyboard.json
  keyboards/evyd13/eon40/config.h
  keyboards/evyd13/eon40/keyboard.json
  keyboards/evyd13/nt660/config.h
  keyboards/evyd13/nt660/keyboard.json
  keyboards/evyd13/pockettype/config.h
  keyboards/evyd13/pockettype/keyboard.json
  keyboards/evyd13/wasdat/keyboard.json
  keyboards/evyd13/wasdat_code/keyboard.json
  keyboards/ez_maker/directpins/teensy_32/keyboard.json
  keyboards/ez_maker/directpins/teensy_lc/keyboard.json
Labels: keyboard

#23522 Data-Driven Keyboard Conversions: G
  keyboards/gboards/ergotaco/info.json
  keyboards/gboards/ergotaco/rules.mk
  keyboards/gboards/georgi/info.json
  keyboards/gboards/georgi/rules.mk
  keyboards/gboards/gergo/info.json
  keyboards/gboards/gergo/rules.mk
  keyboards/gboards/gergoplex/info.json
  keyboards/gboards/gergoplex/rules.mk
  keyboards/giabalanai/keyboard.json
  keyboards/giabalanai/rules.mk
  keyboards/gl516/a52gl/info.json
  keyboards/gl516/a52gl/rules.mk
  keyboards/gl516/j73gl/info.json
  keyboards/gl516/j73gl/rules.mk
  keyboards/gl516/n51gl/info.json
  keyboards/gl516/n51gl/rules.mk
  keyboards/glenpickle/chimera_ergo/info.json
  keyboards/glenpickle/chimera_ergo/rules.mk
  keyboards/glenpickle/chimera_ls/info.json
  keyboards/glenpickle/chimera_ls/rules.mk
  keyboards/glenpickle/chimera_ortho/info.json
  keyboards/glenpickle/chimera_ortho/rules.mk
  keyboards/glenpickle/chimera_ortho_plus/info.json
  keyboards/glenpickle/chimera_ortho_plus/rules.mk
  keyboards/gmmk/numpad/info.json
  keyboards/gmmk/numpad/rules.mk
  keyboards/gon/nerd60/info.json
  keyboards/gon/nerd60/rules.mk
  keyboards/gon/nerdtkl/info.json
  keyboards/gon/nerdtkl/rules.mk
  keyboards/gopolar/gg86/info.json
  keyboards/gopolar/gg86/rules.mk
  keyboards/gray_studio/cod67/info.json
  keyboards/gray_studio/cod67/rules.mk
Labels: enhancement, keyboard

#23524 Data-Driven Keyboard Conversions: H, Part 1
  keyboards/hadron/ver2/keyboard.json
  keyboards/hadron/ver2/rules.mk
  keyboards/hadron/ver3/info.json
  keyboards/hadron/ver3/rules.mk
  keyboards/halfcliff/info.json
  keyboards/halfcliff/rules.mk
  keyboards/hardwareabstraction/handwire/info.json
  keyboards/hardwareabstraction/handwire/rules.mk
  keyboards/hazel/bad_wings/info.json
  keyboards/hazel/bad_wings/rules.mk
  keyboards/hhkb/jp/info.json
  keyboards/hhkb/jp/rules.mk
  keyboards/hhkb/yang/info.json
  keyboards/hhkb/yang/rules.mk
  keyboards/hillside/46/0_1/info.json
  keyboards/hillside/46/0_1/rules.mk
  keyboards/hillside/48/0_1/info.json
  keyboards/hillside/48/0_1/rules.mk
  keyboards/hillside/52/0_1/info.json
  keyboards/hillside/52/0_1/rules.mk
  keyboards/hineybush/hbcp/info.json
  keyboards/hineybush/hbcp/rules.mk
  keyboards/horrortroll/handwired_k552/info.json
  keyboards/horrortroll/handwired_k552/rules.mk
  keyboards/horrortroll/lemon40/info.json
  keyboards/horrortroll/lemon40/rules.mk
  keyboards/hotdox/info.json
  keyboards/hotdox/rules.mk
  keyboards/hs60/v1/info.json
  keyboards/hs60/v1/rules.mk
  keyboards/hs60/v2/ansi/info.json
  keyboards/hs60/v2/ansi/rules.mk
  keyboards/hs60/v2/hhkb/info.json
  keyboards/hs60/v2/hhkb/rules.mk
  keyboards/hs60/v2/iso/info.json
  keyboards/hs60/v2/iso/rules.mk
Labels: enhancement, keyboard

#23525 Data-Driven Keyboard Conversions: H, Part 2
  keyboards/handwired/108key_trackpoint/info.json
  keyboards/handwired/108key_trackpoint/rules.mk
  keyboards/handwired/10k/keyboard.json
  keyboards/handwired/10k/rules.mk
  keyboards/handwired/42/info.json
  keyboards/handwired/42/rules.mk
  keyboards/handwired/aball/info.json
  keyboards/handwired/aball/rules.mk
  keyboards/handwired/battleship_gamepad/info.json
  keyboards/handwired/battleship_gamepad/rules.mk
  keyboards/handwired/bdn9_ble/info.json
  keyboards/handwired/bdn9_ble/rules.mk
  keyboards/handwired/bento/rev1/keyboard.json
  keyboards/handwired/bento/rev1/rules.mk
  keyboards/handwired/cyberstar/info.json
  keyboards/handwired/cyberstar/rules.mk
  keyboards/handwired/d48/info.json
  keyboards/handwired/d48/rules.mk
  keyboards/handwired/dactyl/info.json
  keyboards/handwired/dactyl/rules.mk
  keyboards/handwired/dactyl_manuform/6x6/blackpill_f411/info.json
  keyboards/handwired/dactyl_manuform/6x6/blackpill_f411/rules.mk
  keyboards/handwired/dactyl_manuform/6x6/promicro/keyboard.json
  keyboards/handwired/dactyl_manuform/6x6/rules.mk
  keyboards/handwired/datahand/info.json
  keyboards/handwired/datahand/rules.mk
  keyboards/handwired/dqz11n1g/info.json
  keyboards/handwired/dqz11n1g/rules.mk
  keyboards/handwired/dygma/raise/info.json
  keyboards/handwired/dygma/raise/rules.mk
  keyboards/handwired/frenchdev/info.json
  keyboards/handwired/frenchdev/rules.mk
  keyboards/handwired/fruity60/info.json
  keyboards/handwired/fruity60/rules.mk
  keyboards/handwired/hacked_motospeed/keyboard.json
  keyboards/handwired/hacked_motospeed/rules.mk
  keyboards/handwired/lagrange/info.json
  keyboards/handwired/lagrange/rules.mk
  keyboards/handwired/m40/5x5_macropad/info.json
  keyboards/handwired/m40/5x5_macropad/rules.mk
  keyboards/handwired/macroboard/f401/keyboard.json
  keyboards/handwired/macroboard/f401/rules.mk
  keyboards/handwired/macroboard/f411/info.json
  keyboards/handwired/macroboard/f411/rules.mk
  keyboards/handwired/meck_tkl/info.json
  keyboards/handwired/meck_tkl/rules.mk
  keyboards/handwired/myskeeb/keyboard.json
  keyboards/handwired/myskeeb/rules.mk
Labels: enhancement, keyboard

#23534 Migrate build target markers to keyboard.json - FG
  keyboards/fallacy/keyboard.json
  keyboards/fc660c/keyboard.json
  keyboards/fc980c/keyboard.json
  keyboards/ferris/0_1/keyboard.json
  keyboards/ferris/0_2/bling/keyboard.json
  keyboards/ferris/0_2/bling/rules.mk
  keyboards/fjlabs/7vhotswap/keyboard.json
  keyboards/fjlabs/ad65/keyboard.json
  keyboards/fjlabs/avalon/keyboard.json
  keyboards/fjlabs/bks65/keyboard.json
  keyboards/fjlabs/bks65solder/keyboard.json
  keyboards/fjlabs/bolsa65/keyboard.json
  keyboards/fjlabs/kf87/keyboard.json
  keyboards/fjlabs/kyuu/keyboard.json
  keyboards/fjlabs/ldk65/keyboard.json
  keyboards/fjlabs/midway60/keyboard.json
  keyboards/fjlabs/mk61rgbansi/keyboard.json
  keyboards/fjlabs/peaker/keyboard.json
  keyboards/fjlabs/polaris/keyboard.json
  keyboards/fjlabs/ready100/keyboard.json
  keyboards/fjlabs/sinanju/keyboard.json
  keyboards/fjlabs/sinanjuwk/keyboard.json
  keyboards/fjlabs/solanis/keyboard.json
  keyboards/fjlabs/swordfish/keyboard.json
  keyboards/fjlabs/tf60ansi/keyboard.json
  keyboards/fjlabs/tf60v2/keyboard.json
  keyboards/fjlabs/tf65rgbv2/keyboard.json
  keyboards/fractal/keyboard.json
  keyboards/frobiac/blackbowl/keyboard.json
  keyboards/gboards/ergotaco/keyboard.json
  keyboards/gboards/georgi/keyboard.json
  keyboards/gboards/gergo/keyboard.json
  keyboards/gboards/gergoplex/keyboard.json
  keyboards/geistmaschine/macropod/keyboard.json
  keyboards/geonworks/ee_at/keyboard.json
  keyboards/geonworks/w1_at/keyboard.json
  keyboards/gl516/a52gl/keyboard.json
  keyboards/gl516/j73gl/keyboard.json
  keyboards/gl516/n51gl/keyboard.json
  keyboards/glenpickle/chimera_ergo/keyboard.json
  keyboards/glenpickle/chimera_ls/keyboard.json
  keyboards/glenpickle/chimera_ortho/keyboard.json
  keyboards/glenpickle/chimera_ortho_plus/keyboard.json
  keyboards/gmmk/numpad/keyboard.json
  keyboards/gon/nerd60/keyboard.json
  keyboards/gon/nerdtkl/keyboard.json
  keyboards/gopolar/gg86/keyboard.json
  keyboards/gray_studio/cod67/keyboard.json
  keyboards/gregandcin/teaqueen/keyboard.json
Labels: keyboard

#22181 [Keyboard] ZSA Voyager
  keyboards/zsa/voyager/config.h
  keyboards/zsa/voyager/halconf.h
  keyboards/zsa/voyager/info.json
  keyboards/zsa/voyager/keymaps/default/keymap.c
  keyboards/zsa/voyager/ld/voyager.ld
  keyboards/zsa/voyager/matrix.c
  keyboards/zsa/voyager/mcuconf.h
  keyboards/zsa/voyager/readme.md
  keyboards/zsa/voyager/rules.mk
  keyboards/zsa/voyager/voyager.c
  keyboards/zsa/voyager/voyager.h
Labels: keyboard, keymap

#23533 Data-Driven Keyboard Conversions: I
  keyboards/ibm/model_m/mschwingen/info.json
  keyboards/ibm/model_m/mschwingen/rules.mk
  keyboards/ibm/model_m/teensypp/keyboard.json
  keyboards/ibm/model_m/teensypp/rules.mk
  keyboards/ibm/model_m_4th_gen/overnumpad_1xb/info.json
  keyboards/ibm/model_m_4th_gen/overnumpad_1xb/rules.mk
  keyboards/ibnuda/squiggle/rev1/keyboard.json
  keyboards/ibnuda/squiggle/rev1/rules.mk
  keyboards/idobao/id42/keyboard.json
  keyboards/idobao/id42/rules.mk
  keyboards/idobao/id61/keyboard.json
  keyboards/idobao/id61/rules.mk
  keyboards/idobao/id63/keyboard.json
  keyboards/idobao/id63/rules.mk
  keyboards/idobao/id67/keyboard.json
  keyboards/idobao/id67/rules.mk
  keyboards/idobao/id80/v3/ansi/keyboard.json
  keyboards/idobao/id80/v3/ansi/rules.mk
  keyboards/idobao/id87/v2/keyboard.json
  keyboards/idobao/id87/v2/rules.mk
  keyboards/idobao/montex/v2/keyboard.json
  keyboards/idobao/montex/v2/rules.mk
  keyboards/ingrained/info.json
  keyboards/ingrained/rules.mk
  keyboards/inland/kb83/info.json
  keyboards/inland/kb83/rules.mk
  keyboards/input_club/ergodox_infinity/info.json
  keyboards/input_club/ergodox_infinity/rules.mk
Labels: enhancement, keyboard

#23541 Remove *_SUPPORTED = yes
  keyboards/bastardkb/charybdis/3x5/blackpill/rules.mk
  keyboards/bastardkb/charybdis/3x5/v1/elitec/rules.mk
  keyboards/bastardkb/charybdis/3x5/v2/elitec/rules.mk
  keyboards/bastardkb/charybdis/3x5/v2/splinky_2/rules.mk
  keyboards/bastardkb/charybdis/3x5/v2/splinky_3/rules.mk
  keyboards/bastardkb/charybdis/3x5/v2/stemcell/rules.mk
  keyboards/bastardkb/charybdis/3x6/blackpill/rules.mk
  keyboards/bastardkb/charybdis/3x6/v1/elitec/rules.mk
  keyboards/bastardkb/charybdis/3x6/v2/elitec/rules.mk
  keyboards/bastardkb/charybdis/3x6/v2/splinky_2/rules.mk
  keyboards/bastardkb/charybdis/3x6/v2/splinky_3/rules.mk
  keyboards/bastardkb/charybdis/3x6/v2/stemcell/rules.mk
  keyboards/bastardkb/charybdis/4x6/blackpill/rules.mk
  keyboards/bastardkb/charybdis/4x6/v1/elitec/rules.mk
  keyboards/bastardkb/charybdis/4x6/v2/elitec/rules.mk
  keyboards/bastardkb/charybdis/4x6/v2/splinky_2/rules.mk
  keyboards/bastardkb/charybdis/4x6/v2/splinky_3/rules.mk
  keyboards/bastardkb/charybdis/4x6/v2/stemcell/rules.mk
  keyboards/bastardkb/scylla/blackpill/rules.mk
  keyboards/bastardkb/scylla/v1/elitec/rules.mk
  keyboards/bastardkb/scylla/v2/elitec/rules.mk
  keyboards/bastardkb/scylla/v2/splinky_2/rules.mk
  keyboards/bastardkb/scylla/v2/splinky_3/rules.mk
  keyboards/bastardkb/scylla/v2/stemcell/rules.mk
  keyboards/bastardkb/skeletyl/blackpill/rules.mk
  keyboards/bastardkb/skeletyl/v1/elitec/rules.mk
  keyboards/bastardkb/skeletyl/v2/elitec/rules.mk
  keyboards/bastardkb/skeletyl/v2/splinky_2/rules.mk
  keyboards/bastardkb/skeletyl/v2/splinky_3/rules.mk
  keyboards/bastardkb/skeletyl/v2/stemcell/rules.mk
  keyboards/bastardkb/tbkmini/blackpill/rules.mk
  keyboards/bastardkb/tbkmini/v1/elitec/rules.mk
  keyboards/bastardkb/tbkmini/v2/elitec/rules.mk
  keyboards/bastardkb/tbkmini/v2/splinky_2/rules.mk
  keyboards/bastardkb/tbkmini/v2/splinky_3/rules.mk
  keyboards/bastardkb/tbkmini/v2/stemcell/rules.mk
  keyboards/crkbd/rules.mk
  keyboards/latincompass/latin6rgb/rules.mk
  keyboards/melgeek/mj65/rev3/rules.mk
  keyboards/montsinger/rebound/rev4/rules.mk
  keyboards/phase_studio/titan65/hotswap/rules.mk
  keyboards/planck/ez/rules.mk
  keyboards/smallkeyboard/rules.mk
Labels: keyboard

#23356 Add Epomaker tide65
  keyboards/epomaker/tide65/info.json
  keyboards/epomaker/tide65/keymaps/default/keymap.c
  keyboards/epomaker/tide65/keymaps/via/keymap.c
  keyboards/epomaker/tide65/keymaps/via/rules.mk
  keyboards/epomaker/tide65/readme.md
  keyboards/epomaker/tide65/rules.mk
  keyboards/epomaker/tide65/tide65.c
Labels: keyboard, keymap, via, pr_checklist_pending

#23380 Adds keyboard suikagiken_suika85ergo
  keyboards/suikagiken/suika85ergo/info.json
  keyboards/suikagiken/suika85ergo/keymaps/default/keymap.c
  keyboards/suikagiken/suika85ergo/keymaps/via/keymap.c
  keyboards/suikagiken/suika85ergo/keymaps/via/rules.mk
  keyboards/suikagiken/suika85ergo/readme.md
  keyboards/suikagiken/suika85ergo/rules.mk
Labels: keyboard, keymap, via

#23485 [Keyboard] Keycult 65
  keyboards/keycult/keycult65/info.json
  keyboards/keycult/keycult65/keycult65.c
  keyboards/keycult/keycult65/keymaps/default/keymap.c
  keyboards/keycult/keycult65/keymaps/via/keymap.c
  keyboards/keycult/keycult65/keymaps/via/rules.mk
  keyboards/keycult/keycult65/readme.md
  keyboards/keycult/keycult65/rules.mk
Labels: keyboard, keymap, via

#23535 add jaykeeb joker
  keyboards/jaykeeb/joker/info.json
  keyboards/jaykeeb/joker/keymaps/default/keymap.c
  keyboards/jaykeeb/joker/keymaps/via/keymap.c
  keyboards/jaykeeb/joker/keymaps/via/rules.mk
  keyboards/jaykeeb/joker/matrix_diagram.md
  keyboards/jaykeeb/joker/readme.md
  keyboards/jaykeeb/joker/rules.mk
Labels: keyboard, keymap, via

#23547 Data-Driven Keyboard Conversions: J
  keyboards/jacky_studio/bear_65/rev1/keyboard.json
  keyboards/jacky_studio/bear_65/rev1/rules.mk
  keyboards/jacky_studio/bear_65/rev2/keyboard.json
  keyboards/jacky_studio/bear_65/rev2/rules.mk
  keyboards/jian/handwired/keyboard.json
  keyboards/jian/handwired/rules.mk
  keyboards/jian/info.json
  keyboards/jian/nsrev2/keyboard.json
  keyboards/jian/nsrev2/rules.mk
  keyboards/jian/rev1/keyboard.json
  keyboards/jian/rev1/rules.mk
  keyboards/jian/rev2/keyboard.json
  keyboards/jian/rev2/rules.mk
  keyboards/jian/rules.mk
  keyboards/jiran/rev1/keyboard.json
  keyboards/jiran/rev1/rules.mk
  keyboards/jiran/rev2/keyboard.json
  keyboards/jiran/rev2/rules.mk
  keyboards/jiran/rules.mk
  keyboards/jones/v03/info.json
  keyboards/jones/v03/rules.mk
  keyboards/jones/v03_1/info.json
  keyboards/jones/v03_1/rules.mk
  keyboards/jones/v1/keyboard.json
  keyboards/jones/v1/rules.mk
  keyboards/jorne/rev1/keyboard.json
  keyboards/jorne/rev1/rules.mk
  keyboards/jorne/rules.mk
  keyboards/joshajohnson/hub16/info.json
  keyboards/joshajohnson/hub16/rules.mk
  keyboards/jpe230/big_knob/info.json
  keyboards/jpe230/big_knob/rules.mk
Labels: enhancement, keyboard

#23555 [sofle] Fix layout order affecting messed up lower/raise/adjust layer
  keyboards/sofle/keymaps/default/config.h
Labels: keymap

#23557 Tidy use of raw hid within keyboards
  keyboards/dp60/dp60.c
  keyboards/dp60/keymaps/via/keymap.c
  keyboards/evyd13/plain60/keymaps/rgb/rules.mk
  keyboards/hs60/v1/keyboard.json
  keyboards/hs60/v1/rules.mk
  keyboards/hs60/v1/v1.c
  keyboards/keychron/q6/iso/rules.mk
  keyboards/keychron/q6/iso_encoder/rules.mk
  keyboards/massdrop/alt/rules.mk
  keyboards/massdrop/ctrl/rules.mk
  keyboards/rocketboard_16/rules.mk
Labels: keyboard, keymap, via

#23556 Data-Driven Keyboard Conversions: K, Part 1
  keyboards/kagizaraya/chidori/info.json
  keyboards/kagizaraya/chidori/rules.mk
  keyboards/kagizaraya/scythe/info.json
  keyboards/kagizaraya/scythe/rules.mk
  keyboards/kakunpc/angel17/alpha/keyboard.json
  keyboards/kakunpc/angel17/alpha/rules.mk
  keyboards/kakunpc/angel17/info.json
  keyboards/kakunpc/angel17/rev1/keyboard.json
  keyboards/kakunpc/angel17/rev1/rules.mk
  keyboards/kakunpc/angel64/alpha/keyboard.json
  keyboards/kakunpc/angel64/rev1/keyboard.json
  keyboards/kakunpc/angel64/rules.mk
  keyboards/kakunpc/business_card/alpha/keyboard.json
  keyboards/kakunpc/business_card/alpha/rules.mk
  keyboards/kakunpc/business_card/beta/keyboard.json
  keyboards/kakunpc/business_card/beta/rules.mk
  keyboards/kakunpc/business_card/rules.mk
  keyboards/kakunpc/choc_taro/info.json
  keyboards/kakunpc/choc_taro/rules.mk
  keyboards/kakunpc/suihankey/alpha/keyboard.json
  keyboards/kakunpc/suihankey/alpha/rules.mk
  keyboards/kakunpc/suihankey/rev1/keyboard.json
  keyboards/kakunpc/suihankey/rev1/rules.mk
  keyboards/kakunpc/suihankey/rules.mk
  keyboards/kakunpc/suihankey/split/alpha/keyboard.json
  keyboards/kakunpc/suihankey/split/alpha/rules.mk
  keyboards/kakunpc/suihankey/split/rev1/keyboard.json
  keyboards/kakunpc/suihankey/split/rev1/rules.mk
  keyboards/kakunpc/suihankey/split/rules.mk
  keyboards/kakunpc/thedogkeyboard/info.json
  keyboards/kakunpc/thedogkeyboard/rules.mk
  keyboards/kapl/rev1/keyboard.json
  keyboards/kapl/rev1/rules.mk
  keyboards/kapl/rules.mk
Labels: enhancement, keyboard

#23564 Migrate build target markers to keyboard.json - OQ
  keyboards/oddball/info.json
  keyboards/oddball/rules.mk
  keyboards/oddforge/vea/keyboard.json
  keyboards/oddforge/vea/rules.mk
  keyboards/om60/keyboard.json
  keyboards/om60/rules.mk
  keyboards/omkbd/ergodash/mini/keyboard.json
  keyboards/omkbd/ergodash/mini/rules.mk
  keyboards/omkbd/ergodash/rev1/keyboard.json
  keyboards/omkbd/ergodash/rev1/rules.mk
  keyboards/omkbd/ergodash/rules.mk
  keyboards/omkbd/runner3680/info.json
  keyboards/omkbd/runner3680/rules.mk
  keyboards/omnikeyish/keyboard.json
  keyboards/omnikeyish/rules.mk
  keyboards/opendeck/32/rev1/keyboard.json
  keyboards/opendeck/32/rev1/rules.mk
  keyboards/orthocode/keyboard.json
  keyboards/orthocode/rules.mk
  keyboards/orthodox/info.json
  keyboards/orthodox/rev1/keyboard.json
  keyboards/orthodox/rev1/rules.mk
  keyboards/orthodox/rev3/keyboard.json
  keyboards/orthodox/rev3/rules.mk
  keyboards/orthodox/rev3_teensy/keyboard.json
  keyboards/orthodox/rev3_teensy/rules.mk
  keyboards/orthodox/rules.mk
  keyboards/owlab/jelly_evolv/hotswap/625u/keyboard.json
  keyboards/owlab/jelly_evolv/hotswap/7u/keyboard.json
  keyboards/owlab/jelly_evolv/solder/keyboard.json
  keyboards/qpockets/space_space/rev1/keyboard.json
  keyboards/qpockets/space_space/rev1/rules.mk
  keyboards/qpockets/space_space/rev2/keyboard.json
  keyboards/qpockets/space_space/rev2/rules.mk
  keyboards/quokka/keyboard.json
  keyboards/qvex/lynepad2/keyboard.json
Labels: keyboard

#23562 Data-Driven Keyboard Conversions: K, Part 2
  keyboards/kb58/keyboard.json
  keyboards/kb58/rules.mk
  keyboards/kb_elmo/aek2_usb/info.json
  keyboards/kb_elmo/aek2_usb/rules.mk
  keyboards/kb_elmo/elmopad/info.json
  keyboards/kb_elmo/elmopad/rules.mk
  keyboards/kb_elmo/isolation/info.json
  keyboards/kb_elmo/isolation/rules.mk
  keyboards/kb_elmo/m0110a_usb/info.json
  keyboards/kb_elmo/m0110a_usb/rules.mk
  keyboards/kb_elmo/m0116_usb/info.json
  keyboards/kb_elmo/m0116_usb/rules.mk
  keyboards/kb_elmo/sesame/info.json
  keyboards/kb_elmo/sesame/rules.mk
  keyboards/kb_elmo/twelvekey/info.json
  keyboards/kb_elmo/twelvekey/rules.mk
  keyboards/kbdfans/bella/rgb/keyboard.json
  keyboards/kbdfans/bella/rgb/rules.mk
  keyboards/kbdfans/bella/rgb_iso/keyboard.json
  keyboards/kbdfans/bella/rgb_iso/rules.mk
  keyboards/kbdfans/jm60/info.json
  keyboards/kbdfans/jm60/rules.mk
  keyboards/kbdfans/kbd4x/info.json
  keyboards/kbdfans/kbd4x/rules.mk
  keyboards/kbdfans/kbd67/mkiirgb/v3/info.json
  keyboards/kbdfans/kbd67/mkiirgb/v3/rules.mk
  keyboards/kbdfans/kbd67/mkiirgb_iso/info.json
  keyboards/kbdfans/kbd67/mkiirgb_iso/rules.mk
  keyboards/kbdfans/kbd75/rev1/keyboard.json
  keyboards/kbdfans/kbd75/rev1/rules.mk
  keyboards/kbdfans/kbd75/rev2/keyboard.json
  keyboards/kbdfans/kbd75/rev2/rules.mk
  keyboards/kbdfans/niu_mini/info.json
  keyboards/kbdfans/niu_mini/rules.mk
  keyboards/kbdmania/kmac/info.json
  keyboards/kbdmania/kmac/rules.mk
  keyboards/kbdmania/kmac_pad/info.json
  keyboards/kbdmania/kmac_pad/rules.mk
Labels: enhancement, keyboard

#23569 Data-Driven Keyboard Conversions: K, Part 5
  keyboards/kinesis/nguyenvietyen/info.json
  keyboards/kinesis/nguyenvietyen/rules.mk
  keyboards/kiwikey/borderland/keyboard.json
  keyboards/kiwikey/borderland/rules.mk
  keyboards/kiwikey/kawii9/keyboard.json
  keyboards/kiwikey/kawii9/rules.mk
  keyboards/kmini/info.json
  keyboards/kmini/rules.mk
  keyboards/kprepublic/bm60hsrgb/rev2/info.json
  keyboards/kprepublic/bm60hsrgb/rev2/rules.mk
  keyboards/kprepublic/bm60hsrgb_iso/rev2/info.json
  keyboards/kprepublic/bm60hsrgb_iso/rev2/rules.mk
  keyboards/kprepublic/bm60hsrgb_poker/rev2/info.json
  keyboards/kprepublic/bm60hsrgb_poker/rev2/rules.mk
  keyboards/kumaokobo/kudox/columner/keyboard.json
  keyboards/kumaokobo/kudox/info.json
  keyboards/kumaokobo/kudox/rev1/keyboard.json
  keyboards/kumaokobo/kudox/rev2/keyboard.json
  keyboards/kumaokobo/kudox/rev3/keyboard.json
  keyboards/kumaokobo/kudox/rules.mk
  keyboards/kumaokobo/kudox_full/rev1/keyboard.json
  keyboards/kumaokobo/kudox_full/rev1/rules.mk
  keyboards/kumaokobo/kudox_full/rules.mk
  keyboards/kumaokobo/kudox_game/info.json
  keyboards/kumaokobo/kudox_game/rev1/keyboard.json
  keyboards/kumaokobo/kudox_game/rev2/keyboard.json
  keyboards/kumaokobo/kudox_game/rev2/rules.mk
  keyboards/kumaokobo/pico/65keys/keyboard.json
  keyboards/kumaokobo/pico/70keys/keyboard.json
  keyboards/kumaokobo/pico/info.json
  keyboards/kumaokobo/pico/rules.mk
Labels: enhancement, keyboard

#23566 Data-Driven Keyboard Conversions: K, Part 3
  keyboards/keebformom/keyboard.json
  keyboards/keebformom/rules.mk
  keyboards/keebio/bdn9/rev1/keyboard.json
  keyboards/keebio/bdn9/rev1/rules.mk
  keyboards/keebio/bdn9/rev2/keyboard.json
  keyboards/keebio/bdn9/rev2/rules.mk
  keyboards/keebio/dsp40/rev1/keyboard.json
  keyboards/keebio/dsp40/rev1/rules.mk
  keyboards/keebio/foldkb/rev1/info.json
  keyboards/keebio/foldkb/rev1/rules.mk
  keyboards/keebio/foldkb/rules.mk
  keyboards/keebio/iris/rev2/keyboard.json
  keyboards/keebio/iris/rev2/rules.mk
  keyboards/keebio/iris/rev3/keyboard.json
  keyboards/keebio/iris/rev3/rules.mk
  keyboards/keebio/iris/rev4/keyboard.json
  keyboards/keebio/iris/rev4/rules.mk
  keyboards/keebio/iris/rev6/keyboard.json
  keyboards/keebio/iris/rev6/rules.mk
  keyboards/keebio/iris/rev7/keyboard.json
  keyboards/keebio/iris/rev7/rules.mk
  keyboards/keebio/kbo5000/rev1/keyboard.json
  keyboards/keebio/kbo5000/rev1/rules.mk
  keyboards/keebio/kbo5000/rules.mk
  keyboards/keebio/levinson/rev1/keyboard.json
  keyboards/keebio/levinson/rev1/rules.mk
  keyboards/keebio/levinson/rev2/keyboard.json
  keyboards/keebio/levinson/rev2/rules.mk
  keyboards/keebio/levinson/rev3/info.json
  keyboards/keebio/levinson/rev3/rules.mk
  keyboards/keebio/levinson/rules.mk
  keyboards/keebio/quefrency/rev1/keyboard.json
  keyboards/keebio/quefrency/rev1/rules.mk
  keyboards/keebio/quefrency/rev2/keyboard.json
  keyboards/keebio/quefrency/rev2/rules.mk
  keyboards/keebio/quefrency/rev3/keyboard.json
  keyboards/keebio/quefrency/rev3/rules.mk
  keyboards/keebio/quefrency/rev4/keyboard.json
  keyboards/keebio/quefrency/rev4/rules.mk
  keyboards/keebio/quefrency/rev5/keyboard.json
  keyboards/keebio/quefrency/rev5/rules.mk
  keyboards/keebio/quefrency/rules.mk
  keyboards/keebio/rorschach/rev1/keyboard.json
  keyboards/keebio/rorschach/rev1/rules.mk
  keyboards/keebio/rorschach/rules.mk
  keyboards/keebio/viterbi/rev1/keyboard.json
  keyboards/keebio/viterbi/rev1/rules.mk
  keyboards/keebio/viterbi/rev2/keyboard.json
  keyboards/keebio/viterbi/rev2/rules.mk
  keyboards/keebio/viterbi/rules.mk
  keyboards/keebio/wavelet/info.json
  keyboards/keebio/wavelet/rules.mk
  keyboards/keebwerk/mega/ansi/info.json
  keyboards/keebwerk/mega/ansi/rules.mk
  keyboards/keebwerk/nano_slider/info.json
  keyboards/keebwerk/nano_slider/rules.mk
Labels: enhancement, keyboard

#23576 Data-Driven Keyboard Conversions: L
  keyboards/latincompass/latin47ble/info.json
  keyboards/latincompass/latin47ble/rules.mk
  keyboards/latincompass/latin64ble/info.json
  keyboards/latincompass/latin64ble/rules.mk
  keyboards/latincompass/latin6rgb/keyboard.json
  keyboards/latincompass/latin6rgb/rules.mk
  keyboards/lets_split/info.json
  keyboards/lets_split/rev1/keyboard.json
  keyboards/lets_split/rev2/info.json
  keyboards/lets_split/rules.mk
  keyboards/lets_split/sockets/info.json
  keyboards/lets_split/sockets/rules.mk
  keyboards/lfkeyboards/lfk78/revb/keyboard.json
  keyboards/lfkeyboards/lfk78/revc/keyboard.json
  keyboards/lfkeyboards/lfk78/revj/keyboard.json
  keyboards/lfkeyboards/lfk78/revj/rules.mk
  keyboards/lfkeyboards/lfk78/rules.mk
  keyboards/lfkeyboards/mini1800/reva/info.json
  keyboards/lfkeyboards/mini1800/reva/keyboard.json
  keyboards/lfkeyboards/mini1800/reva/rules.mk
  keyboards/lfkeyboards/mini1800/revc/info.json
  keyboards/lfkeyboards/mini1800/revc/keyboard.json
  keyboards/lfkeyboards/mini1800/revc/rules.mk
  keyboards/lily58/glow_enc/keyboard.json
  keyboards/lily58/glow_enc/rules.mk
  keyboards/lily58/light/keyboard.json
  keyboards/lily58/light/rules.mk
  keyboards/lily58/r2g/keyboard.json
  keyboards/lily58/r2g/rules.mk
  keyboards/lime/rev1/keyboard.json
  keyboards/lime/rev1/rules.mk
  keyboards/lime/rules.mk
  keyboards/linworks/fave65h/info.json
  keyboards/linworks/fave65h/rules.mk
  keyboards/linworks/fave87h/info.json
  keyboards/linworks/fave87h/rules.mk
  keyboards/loki65/info.json
  keyboards/loki65/rules.mk
  keyboards/lucid/alexa/info.json
  keyboards/lucid/alexa/rules.mk
  keyboards/lucid/alexa_solder/info.json
  keyboards/lucid/alexa_solder/rules.mk
  keyboards/lucid/kbd8x_hs/info.json
  keyboards/lucid/kbd8x_hs/rules.mk
  keyboards/lucid/phantom_hs/info.json
  keyboards/lucid/phantom_hs/rules.mk
  keyboards/lucid/phantom_solder/info.json
  keyboards/lucid/phantom_solder/rules.mk
  keyboards/lucid/scarlet/info.json
  keyboards/lucid/scarlet/rules.mk
  keyboards/lxxt/keyboard.json
  keyboards/lxxt/rules.mk
  keyboards/lyso1/lck75/info.json
  keyboards/lyso1/lck75/rules.mk
  keyboards/lz/erghost/info.json
  keyboards/lz/erghost/rules.mk
Labels: enhancement, keyboard

#23575 Add Lisa keyboard
  keyboards/keyten/lisa/info.json
  keyboards/keyten/lisa/keymaps/default/keymap.c
  keyboards/keyten/lisa/keymaps/via/keymap.c
  keyboards/keyten/lisa/keymaps/via/rules.mk
  keyboards/keyten/lisa/lisa.c
  keyboards/keyten/lisa/readme.md
  keyboards/keyten/lisa/rules.mk
Labels: keyboard, keymap, via

#23589 Migrate build target markers to keyboard.json - N
  keyboards/nack/keyboard.json
  keyboards/nack/rules.mk
  keyboards/nasu/keyboard.json
  keyboards/nasu/rules.mk
  keyboards/nek_type_a/keyboard.json
  keyboards/nek_type_a/rules.mk
  keyboards/neson_design/700e/keyboard.json
  keyboards/neson_design/700e/rules.mk
  keyboards/neson_design/n6/keyboard.json
  keyboards/neson_design/n6/rules.mk
  keyboards/novelkeys/nk20/keyboard.json
  keyboards/novelkeys/nk20/rules.mk
  keyboards/novelkeys/nk65/info.json
  keyboards/novelkeys/nk65/rules.mk
  keyboards/novelkeys/nk65b/keyboard.json
  keyboards/novelkeys/nk65b/rules.mk
  keyboards/novelkeys/nk87/keyboard.json
  keyboards/novelkeys/nk87/rules.mk
  keyboards/novelkeys/nk87b/keyboard.json
  keyboards/novelkeys/nk87b/rules.mk
  keyboards/novelkeys/nk_plus/keyboard.json
  keyboards/novelkeys/skelett60/keyboard.json
  keyboards/novelkeys/skelett60/rules.mk
  keyboards/nullbitsco/nibble/keyboard.json
  keyboards/nullbitsco/nibble/rules.mk
  keyboards/nullbitsco/scramble/rules.mk
  keyboards/nullbitsco/scramble/v1/keyboard.json
  keyboards/nullbitsco/scramble/v1/rules.mk
  keyboards/nullbitsco/scramble/v2/keyboard.json
  keyboards/nullbitsco/scramble/v2/rules.mk
  keyboards/nullbitsco/snap/keyboard.json
  keyboards/nullbitsco/snap/rules.mk
  keyboards/nullbitsco/tidbit/keyboard.json
  keyboards/nullbitsco/tidbit/rules.mk
  keyboards/numatreus/keyboard.json
  keyboards/numatreus/keymaps/like_jis/config.h
  keyboards/numatreus/keymaps/like_jis/rules.mk
  keyboards/numatreus/post_rules.mk
  keyboards/numatreus/rules.mk
Labels: keyboard, keymap

#23590 Data-Driven Keyboard Conversions: M, Part 1
  keyboards/malevolti/lyra/rev1/keyboard.json
  keyboards/malevolti/lyra/rev1/rules.mk
  keyboards/maple_computing/christmas_tree/info.json
  keyboards/maple_computing/christmas_tree/v2017/info.json
  keyboards/maple_computing/christmas_tree/v2017/keyboard.json
  keyboards/maple_computing/christmas_tree/v2017/rules.mk
  keyboards/maple_computing/ivy/rev1/keyboard.json
  keyboards/maple_computing/ivy/rules.mk
  keyboards/maple_computing/jnao/info.json
  keyboards/maple_computing/jnao/rules.mk
  keyboards/maple_computing/launchpad/rev1/keyboard.json
  keyboards/maple_computing/launchpad/rules.mk
  keyboards/maple_computing/lets_split_eh/eh/info.json
  keyboards/maple_computing/lets_split_eh/eh/rules.mk
  keyboards/maple_computing/lets_split_eh/rules.mk
  keyboards/maple_computing/minidox/rev1/keyboard.json
  keyboards/maple_computing/minidox/rev1/rules.mk
  keyboards/maple_computing/minidox/rules.mk
  keyboards/marksard/rhymestone/rev1/keyboard.json
  keyboards/marksard/rhymestone/rules.mk
  keyboards/marksard/treadstone48/rev1/keyboard.json
  keyboards/marksard/treadstone48/rev2/info.json
  keyboards/marksard/treadstone48/rev2/rules.mk
  keyboards/marksard/treadstone48/rules.mk
  keyboards/massdrop/alt/info.json
  keyboards/massdrop/alt/rules.mk
  keyboards/massdrop/ctrl/info.json
  keyboards/massdrop/ctrl/rules.mk
  keyboards/matrix/abelx/info.json
  keyboards/matrix/abelx/rules.mk
  keyboards/matrix/m12og/rev1/info.json
  keyboards/matrix/m12og/rev1/rules.mk
  keyboards/matrix/m20add/info.json
  keyboards/matrix/m20add/rules.mk
  keyboards/matrix/noah/info.json
  keyboards/matrix/noah/rules.mk
Labels: enhancement, keyboard

#23584 PR Checklist: explain wireless requirements.
  docs/pr_checklist.md
Labels: documentation

#23571 Fix up license check path.
  lib/python/qmk/cli/license_check.py
Labels: python, cli

#21695 Change to `development_board`
  keyboards/bastardkb/charybdis/3x5/blackpill/info.json
  keyboards/bastardkb/charybdis/3x6/blackpill/info.json
  keyboards/bastardkb/charybdis/4x6/blackpill/info.json
  keyboards/bastardkb/scylla/blackpill/info.json
  keyboards/bastardkb/skeletyl/blackpill/info.json
  keyboards/bastardkb/tbkmini/blackpill/info.json
  keyboards/bt66tech/bt66tech60/keyboard.json
  keyboards/cannonkeys/ortho48/keyboard.json
  keyboards/cannonkeys/ortho60/keyboard.json
  keyboards/cannonkeys/ortho75/keyboard.json
  keyboards/cannonkeys/practice60/keyboard.json
  keyboards/cannonkeys/practice65/keyboard.json
  keyboards/cantor/keyboard.json
  keyboards/ckeys/thedora/keyboard.json
  keyboards/converter/siemens_tastatur/keyboard.json
  keyboards/ez_maker/directpins/proton_c/keyboard.json
  keyboards/handwired/d48/keyboard.json
  keyboards/handwired/dactyl_manuform/6x6/blackpill_f411/keyboard.json
  keyboards/handwired/dygma/raise/info.json
  keyboards/handwired/ergocheap/keyboard.json
  keyboards/handwired/floorboard/keyboard.json
  keyboards/handwired/macroboard/f401/keyboard.json
  keyboards/handwired/macroboard/f411/keyboard.json
  keyboards/handwired/pill60/blackpill_f401/keyboard.json
  keyboards/handwired/pill60/blackpill_f411/keyboard.json
  keyboards/handwired/pill60/bluepill/keyboard.json
  keyboards/handwired/riblee_f401/keyboard.json
  keyboards/handwired/riblee_f411/keyboard.json
  keyboards/handwired/selene/keyboard.json
  keyboards/handwired/sick_pad/keyboard.json
  keyboards/handwired/sono1/stm32f103/keyboard.json
  keyboards/handwired/split65/stm32/keyboard.json
  keyboards/handwired/splittest/bluepill/keyboard.json
  keyboards/handwired/symmetric70_proto/proton_c/info.json
  keyboards/handwired/t111/keyboard.json
  keyboards/handwired/tractyl_manuform/5x6_right/f303/keyboard.json
  keyboards/handwired/tractyl_manuform/5x6_right/f411/keyboard.json
  keyboards/handwired/twig/twig50/keyboard.json
  keyboards/handwired/uthol/rev3/keyboard.json
  keyboards/handwired/wulkan/keyboard.json
  keyboards/ibm/model_m_122/m122_3270/blackpill/keyboard.json
  keyboards/ibm/model_m_122/m122_3270/bluepill/keyboard.json
  keyboards/kin80/blackpill401/keyboard.json
  keyboards/kin80/blackpill411/keyboard.json
  keyboards/kv/revt/keyboard.json
  keyboards/mechwild/obe/f401/keyboard.json
  keyboards/mechwild/obe/f411/keyboard.json
  keyboards/mechwild/puckbuddy/info.json
  keyboards/mechwild/waka60/f401/keyboard.json
  keyboards/mechwild/waka60/f411/keyboard.json
  keyboards/mlego/m60_split/rev2/info.json
  keyboards/ms_sculpt/keyboard.json
  keyboards/rart/rartlice/keyboard.json
  keyboards/rgbkb/pan/rev1/proton_c/keyboard.json
  keyboards/sowbug/68keys/keyboard.json
  keyboards/sowbug/ansi_tkl/keyboard.json
  keyboards/tkw/grandiceps/info.json
  keyboards/tkw/stoutgat/v2/f411/keyboard.json
Labels: keyboard

#23593 Migrate build target markers to keyboard.json - Keychron
  keyboards/keychron/c2_pro/ansi/rgb/keyboard.json
  keyboards/keychron/c2_pro/ansi/rgb/rules.mk
  keyboards/keychron/c2_pro/ansi/white/keyboard.json
  keyboards/keychron/c2_pro/ansi/white/rules.mk
  keyboards/keychron/q10/ansi_encoder/keyboard.json
  keyboards/keychron/q10/iso_encoder/keyboard.json
  keyboards/keychron/q11/ansi_encoder/keyboard.json
  keyboards/keychron/q11/iso_encoder/keyboard.json
  keyboards/keychron/q11/iso_encoder/rules.mk
  keyboards/keychron/q12/ansi_encoder/keyboard.json
  keyboards/keychron/q12/iso_encoder/keyboard.json
  keyboards/keychron/q12/iso_encoder/rules.mk
  keyboards/keychron/q1v2/ansi/keyboard.json
  keyboards/keychron/q1v2/ansi_encoder/keyboard.json
  keyboards/keychron/q1v2/iso/keyboard.json
  keyboards/keychron/q1v2/iso_encoder/keyboard.json
  keyboards/keychron/q1v2/jis/keyboard.json
  keyboards/keychron/q1v2/jis_encoder/keyboard.json
  keyboards/keychron/q3/ansi_encoder/keyboard.json
  keyboards/keychron/q3/iso_encoder/keyboard.json
  keyboards/keychron/q3/jis_encoder/keyboard.json
  keyboards/keychron/q4/ansi/info.json
  keyboards/keychron/q4/ansi/v1/keyboard.json
  keyboards/keychron/q4/ansi/v1/rules.mk
  keyboards/keychron/q4/ansi/v2/keyboard.json
  keyboards/keychron/q4/ansi/v2/rules.mk
  keyboards/keychron/q5/ansi/keyboard.json
  keyboards/keychron/q5/ansi_encoder/keyboard.json
  keyboards/keychron/q5/iso/keyboard.json
  keyboards/keychron/q5/iso_encoder/keyboard.json
  keyboards/keychron/q6/ansi/keyboard.json
  keyboards/keychron/q6/ansi_encoder/keyboard.json
  keyboards/keychron/q6/iso/keyboard.json
  keyboards/keychron/q6/iso_encoder/keyboard.json
  keyboards/keychron/q65/ansi_encoder/keyboard.json
  keyboards/keychron/v1/ansi/keyboard.json
  keyboards/keychron/v1/ansi_encoder/keyboard.json
  keyboards/keychron/v1/iso/keyboard.json
  keyboards/keychron/v1/iso_encoder/keyboard.json
  keyboards/keychron/v1/jis/keyboard.json
  keyboards/keychron/v1/jis_encoder/keyboard.json
  keyboards/keychron/v10/ansi_encoder/keyboard.json
  keyboards/keychron/v10/iso_encoder/keyboard.json
  keyboards/keychron/v3/ansi_encoder/keyboard.json
  keyboards/keychron/v3/iso_encoder/keyboard.json
  keyboards/keychron/v3/jis_encoder/keyboard.json
  keyboards/keychron/v5/ansi/keyboard.json
  keyboards/keychron/v5/ansi_encoder/keyboard.json
  keyboards/keychron/v5/iso/keyboard.json
  keyboards/keychron/v5/iso_encoder/keyboard.json
  keyboards/keychron/v6/ansi/keyboard.json
  keyboards/keychron/v6/ansi_encoder/keyboard.json
  keyboards/keychron/v6/iso/keyboard.json
  keyboards/keychron/v6/iso_encoder/keyboard.json
  keyboards/keychron/v6/iso_encoder/rules.mk
Labels: keyboard

#23591 Add haptic driver to keyboard.json schema
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  keyboards/ai03/lunar_ii/keyboard.json
  keyboards/ai03/lunar_ii/rules.mk
  keyboards/boston_meetup/2019/keyboard.json
  keyboards/boston_meetup/2019/rules.mk
  keyboards/dcpedit/redherring/keyboard.json
  keyboards/dcpedit/redherring/rules.mk
  keyboards/hadron/ver3/keyboard.json
  keyboards/hadron/ver3/rules.mk
  keyboards/hardwareabstraction/handwire/keyboard.json
  keyboards/hardwareabstraction/handwire/rules.mk
  keyboards/ibm/model_m_4th_gen/overnumpad_1xb/keyboard.json
  keyboards/ibm/model_m_4th_gen/overnumpad_1xb/rules.mk
  keyboards/mechwild/clunker/keyboard.json
  keyboards/mechwild/clunker/rules.mk
  keyboards/pearlboards/atlas/keyboard.json
  keyboards/pearlboards/atlas/rules.mk
  keyboards/pearlboards/pearl/keyboard.json
  keyboards/pearlboards/pearl/rules.mk
  keyboards/pearlboards/zeus/keyboard.json
  keyboards/pearlboards/zeus/rules.mk
  keyboards/splitkb/zima/keyboard.json
  keyboards/splitkb/zima/rules.mk
  keyboards/unicomp/classic_ultracl_post_2013/overnumpad_1xb/keyboard.json
  keyboards/unicomp/classic_ultracl_post_2013/overnumpad_1xb/rules.mk
  keyboards/unicomp/classic_ultracl_pre_2013/overnumpad_1xb/keyboard.json
  keyboards/unicomp/classic_ultracl_pre_2013/overnumpad_1xb/rules.mk
  keyboards/unicomp/pc122/overnumpad_1xb/keyboard.json
  keyboards/unicomp/pc122/overnumpad_1xb/rules.mk
  keyboards/unicomp/spacesaver_m_post_2013/overnumpad_1xb/keyboard.json
  keyboards/unicomp/spacesaver_m_post_2013/overnumpad_1xb/rules.mk
  keyboards/unicomp/spacesaver_m_pre_2013/overnumpad_1xb/keyboard.json
  keyboards/unicomp/spacesaver_m_pre_2013/overnumpad_1xb/rules.mk
  keyboards/vertex/angle65/keyboard.json
  keyboards/vertex/angle65/rules.mk
  keyboards/xw60/keyboard.json
  keyboards/xw60/rules.mk
Labels: enhancement, keyboard, dd

#23599 Remove RGBLIGHT_SPLIT in rules.mk
  keyboards/kagizaraya/scythe/rules.mk
Labels: keyboard

#23598 Fix WAIT_FOR_USB handling
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  docs/config_options.md
  docs/ja/config_options.md
  docs/reference_info_json.md
  keyboards/converter/hp_46010a/keyboard.json
  keyboards/converter/hp_46010a/rules.mk
  keyboards/geekboards/macropad_v2/config.h
  keyboards/geekboards/macropad_v2/keyboard.json
  keyboards/ristretto/keyboard.json
  keyboards/ristretto/rules.mk
  tmk_core/protocol.mk
  tmk_core/protocol/chibios/chibios.c
  tmk_core/protocol/lufa/lufa.c
Labels: bug, core, keyboard, documentation, translation, dd

#23606 Align NO_SUSPEND_POWER_DOWN keyboard config
  keyboards/hs60/v1/rules.mk
  keyboards/hs60/v2/ansi/rules.mk
  keyboards/hs60/v2/hhkb/rules.mk
  keyboards/hs60/v2/iso/rules.mk
  keyboards/keebwerk/mega/ansi/rules.mk
  keyboards/novelkeys/nk65/rules.mk
  keyboards/novelkeys/nk87/rules.mk
  keyboards/spaceholdings/nebula12/rules.mk
  keyboards/spaceholdings/nebula68/rules.mk
  keyboards/wilba_tech/rama_works_kara/rules.mk
  keyboards/wilba_tech/rama_works_koyu/rules.mk
  keyboards/wilba_tech/rama_works_m10_c/rules.mk
  keyboards/wilba_tech/rama_works_m50_a/rules.mk
  keyboards/wilba_tech/rama_works_m60_a/rules.mk
  keyboards/wilba_tech/rama_works_m65_b/rules.mk
  keyboards/wilba_tech/rama_works_m65_bx/rules.mk
  keyboards/wilba_tech/rama_works_m6_a/rules.mk
  keyboards/wilba_tech/rama_works_m6_b/rules.mk
  keyboards/wilba_tech/wt60_b/rules.mk
  keyboards/wilba_tech/wt60_bx/rules.mk
  keyboards/wilba_tech/wt60_c/rules.mk
  keyboards/wilba_tech/zeal60/rules.mk
  keyboards/wilba_tech/zeal65/rules.mk
  keyboards/xelus/dawn60/rev1/rules.mk
  keyboards/xelus/dawn60/rev1_qmk/rules.mk
Labels: keyboard

#23607 Migrate build target markers to keyboard.json - L
  keyboards/latincompass/latin47ble/keyboard.json
  keyboards/latincompass/latin64ble/keyboard.json
  keyboards/latincompass/latinpadble/keyboard.json
  keyboards/lazydesigners/dimple/ortho/keyboard.json
  keyboards/lazydesigners/dimple/ortho/rules.mk
  keyboards/lazydesigners/dimple/rules.mk
  keyboards/lazydesigners/dimple/staggered/rev1/keyboard.json
  keyboards/lazydesigners/dimple/staggered/rev1/rules.mk
  keyboards/lazydesigners/dimple/staggered/rev2/keyboard.json
  keyboards/lazydesigners/dimple/staggered/rev2/rules.mk
  keyboards/lazydesigners/dimple/staggered/rev3/keyboard.json
  keyboards/lazydesigners/dimple/staggered/rev3/rules.mk
  keyboards/lets_split/rev2/keyboard.json
  keyboards/lets_split/sockets/keyboard.json
  keyboards/linworks/fave65h/keyboard.json
  keyboards/linworks/fave84h/keyboard.json
  keyboards/linworks/fave87h/keyboard.json
  keyboards/loki65/keyboard.json
  keyboards/lucid/alexa/keyboard.json
  keyboards/lucid/alexa_solder/keyboard.json
  keyboards/lucid/kbd8x_hs/keyboard.json
  keyboards/lucid/phantom_hs/keyboard.json
  keyboards/lucid/phantom_solder/keyboard.json
  keyboards/lucid/scarlet/keyboard.json
  keyboards/lucid/velvet_hotswap/keyboard.json
  keyboards/lucid/velvet_solder/keyboard.json
  keyboards/lyso1/lck75/keyboard.json
  keyboards/lz/erghost/keyboard.json
Labels: keyboard

#23612 Migrate build target markers to keyboard.json - Misc
  keyboards/converter/usb_usb/info.json
  keyboards/converter/usb_usb/matrix.c
  keyboards/converter/usb_usb/rules.mk
  keyboards/hhkb/ansi/32u2/keyboard.json
  keyboards/hhkb/ansi/32u2/rules.mk
  keyboards/hhkb/ansi/32u4/keyboard.json
  keyboards/hhkb/ansi/rules.mk
  keyboards/ibm/model_m/mschwingen/led_ffc/keyboard.json
  keyboards/ibm/model_m/mschwingen/led_ffc/rules.mk
  keyboards/ibm/model_m/mschwingen/led_wired/keyboard.json
  keyboards/ibm/model_m/mschwingen/led_wired/rules.mk
  keyboards/ibm/model_m/mschwingen/led_ws2812/keyboard.json
  keyboards/ibm/model_m/mschwingen/post_rules.mk
  keyboards/ibm/model_m/mschwingen/rules.mk
  keyboards/salicylic_acid3/7skb/rev1/keyboard.json
  keyboards/salicylic_acid3/7skb/rules.mk
  keyboards/salicylic_acid3/getta25/rev1/keyboard.json
  keyboards/salicylic_acid3/getta25/rules.mk
  keyboards/salicylic_acid3/jisplit89/rev1/keyboard.json
  keyboards/salicylic_acid3/jisplit89/rules.mk
  keyboards/salicylic_acid3/naked48/rev1/keyboard.json
  keyboards/salicylic_acid3/naked48/rules.mk
  keyboards/salicylic_acid3/naked60/rev1/keyboard.json
  keyboards/salicylic_acid3/naked60/rules.mk
  keyboards/salicylic_acid3/naked64/rev1/keyboard.json
  keyboards/salicylic_acid3/naked64/rules.mk
  keyboards/salicylic_acid3/setta21/rev1/keyboard.json
  keyboards/salicylic_acid3/setta21/rules.mk
  keyboards/stront/keyboard.json
  keyboards/stront/rules.mk
  keyboards/teleport/native/info.json
  keyboards/teleport/native/rules.mk
  keyboards/tkw/grandiceps/rev2/config.h
  keyboards/tkw/grandiceps/rev2/keyboard.json
  keyboards/tkw/grandiceps/rev2/rules.mk
  keyboards/westm/westm68/info.json
  keyboards/westm/westm68/rules.mk
  keyboards/westm/westm9/info.json
  keyboards/westm/westm9/rules.mk
  keyboards/woodkeys/meira/featherble/keyboard.json
  keyboards/woodkeys/meira/featherble/rules.mk
  keyboards/work_louder/loop/info.json
  keyboards/work_louder/loop/rules.mk
  keyboards/yanghu/unicorne/info.json
  keyboards/yanghu/unicorne/rules.mk
Labels: keyboard

#23284 nullbitsco/snap: once again reduce size of bongo_reactive
  keyboards/nullbitsco/snap/keymaps/bongo_reactive/config.h
Labels: keymap

#23614 Data-Driven Keyboard Conversions: M, Part 3
  keyboards/mitosis/info.json
  keyboards/mitosis/rules.mk
  keyboards/mlego/m60_split/rev1/info.json
  keyboards/mlego/m60_split/rev1/rules.mk
  keyboards/mlego/m60_split/rev2/info.json
  keyboards/mlego/m60_split/rev2/rules.mk
  keyboards/molecule/info.json
  keyboards/molecule/rules.mk
  keyboards/monokei/mnk1800s/info.json
  keyboards/monokei/mnk1800s/rules.mk
  keyboards/monokei/mnk50/info.json
  keyboards/monokei/mnk50/rules.mk
  keyboards/monokei/mnk75/info.json
  keyboards/monokei/mnk75/rules.mk
  keyboards/montsinger/rebound/rev1/keyboard.json
  keyboards/montsinger/rebound/rev1/rules.mk
  keyboards/montsinger/rebound/rev2/keyboard.json
  keyboards/montsinger/rebound/rev2/rules.mk
  keyboards/montsinger/rebound/rev3/keyboard.json
  keyboards/montsinger/rebound/rev3/rules.mk
  keyboards/montsinger/rebound/rev4/info.json
  keyboards/montsinger/rebound/rev4/rules.mk
  keyboards/moon/info.json
  keyboards/moon/rules.mk
  keyboards/mt/ncr80/hotswap/keyboard.json
  keyboards/mt/ncr80/hotswap/rules.mk
  keyboards/mt/ncr80/solder/keyboard.json
  keyboards/mt/ncr80/solder/rules.mk
  keyboards/mt/split75/info.json
  keyboards/mt/split75/rules.mk
Labels: enhancement, keyboard

#23616 Add audio driver to keyboard.json schema
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  keyboards/adafruit/macropad/keyboard.json
  keyboards/adafruit/macropad/rules.mk
  keyboards/arrowmechanics/wings/keyboard.json
  keyboards/arrowmechanics/wings/rules.mk
  keyboards/boardsource/equals/48/keyboard.json
  keyboards/boardsource/equals/48/rules.mk
  keyboards/boardsource/equals/60/keyboard.json
  keyboards/boardsource/equals/60/rules.mk
  keyboards/boardsource/unicorne/keyboard.json
  keyboards/boardsource/unicorne/rules.mk
  keyboards/custommk/cmk11/keyboard.json
  keyboards/custommk/cmk11/rules.mk
  keyboards/custommk/ergostrafer/keyboard.json
  keyboards/custommk/ergostrafer/rules.mk
  keyboards/custommk/evo70_r2/keyboard.json
  keyboards/custommk/evo70_r2/rules.mk
  keyboards/handwired/macroboard/f411/keyboard.json
  keyboards/handwired/macroboard/f411/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/f303/keyboard.json
  keyboards/handwired/tractyl_manuform/5x6_right/f303/rules.mk
  keyboards/handwired/tractyl_manuform/5x6_right/f411/keyboard.json
  keyboards/handwired/tractyl_manuform/5x6_right/f411/rules.mk
  keyboards/nack/keyboard.json
  keyboards/nack/rules.mk
  keyboards/planck/ez/info.json
  keyboards/planck/ez/rules.mk
  keyboards/quokka/keyboard.json
  keyboards/quokka/rules.mk
  keyboards/rgbkb/sol3/rev1/keyboard.json
  keyboards/rgbkb/sol3/rules.mk
  keyboards/tzarc/djinn/info.json
  keyboards/tzarc/djinn/rules.mk
  keyboards/yanghu/unicorne/info.json
  keyboards/yanghu/unicorne/rules.mk
  keyboards/zsa/moonlander/keyboard.json
  keyboards/zsa/moonlander/rules.mk
Labels: enhancement, keyboard, documentation, dd

#23595 Fix encoder breakage with 4 or more encoders
  quantum/encoder.c
Labels: core

#23601 Data-Driven Keyboard Conversions: M, Part 2
  keyboards/mechkeys/mechmini/v1/keyboard.json
  keyboards/mechkeys/mechmini/v1/rules.mk
  keyboards/mechkeys/mechmini/v2/keyboard.json
  keyboards/mechkeys/mechmini/v2/rules.mk
  keyboards/mechstudio/ud_40_ortho/info.json
  keyboards/mechstudio/ud_40_ortho/rules.mk
  keyboards/mechwild/bde/info.json
  keyboards/mechwild/bde/lefty/keyboard.json
  keyboards/mechwild/bde/rev2/keyboard.json
  keyboards/mechwild/bde/rev2/rules.mk
  keyboards/mechwild/bde/righty/keyboard.json
  keyboards/mechwild/mokulua/mirrored/keyboard.json
  keyboards/mechwild/mokulua/mirrored/rules.mk
  keyboards/mechwild/mokulua/standard/keyboard.json
  keyboards/mechwild/mokulua/standard/rules.mk
  keyboards/mechwild/puckbuddy/info.json
  keyboards/mechwild/puckbuddy/rules.mk
  keyboards/mechwild/sugarglider/f401/keyboard.json
  keyboards/mechwild/sugarglider/f411/keyboard.json
  keyboards/mechwild/sugarglider/info.json
  keyboards/mechwild/sugarglider/rules.mk
  keyboards/mechwild/sugarglider/wide_oled/f401/keyboard.json
  keyboards/mechwild/sugarglider/wide_oled/f411/keyboard.json
  keyboards/mechwild/sugarglider/wide_oled/rules.mk
  keyboards/merge/uma/keyboard.json
  keyboards/merge/uma/rules.mk
  keyboards/mexsistor/ludmila/info.json
  keyboards/mexsistor/ludmila/rules.mk
Labels: enhancement, keyboard

#23585 Rename `RGBW` define to `WS2812_RGBW`
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  docs/config_options.md
  docs/feature_rgblight.md
  docs/reference_info_json.md
  docs/ws2812_driver.md
  keyboards/ergodox_ez/config.h
  keyboards/ergodox_ez/info.json
  keyboards/ergodox_ez/shine/rgblight_custom.c
  keyboards/handwired/tennie/config.h
  keyboards/handwired/tennie/keyboard.json
  keyboards/oddforge/vea/ws2812_custom.c
  keyboards/rgbkb/pan/pan.c
  keyboards/westfoxtrot/aanzee/config.h
  keyboards/westfoxtrot/aanzee/keyboard.json
  platforms/avr/drivers/ws2812_i2c.c
  platforms/chibios/drivers/vendor/RP/RP2040/ws2812_vendor.c
  platforms/chibios/drivers/ws2812_bitbang.c
  platforms/chibios/drivers/ws2812_pwm.c
  platforms/chibios/drivers/ws2812_spi.c
  quantum/color.c
  quantum/color.h
  quantum/rgb_matrix/rgb_matrix_drivers.c
  quantum/rgblight/rgblight.c
Labels: enhancement, core, keyboard, documentation, dd

#23631 Remove broken CI workflow
  .github/workflows/ci_builds.yml
Labels: CI

#23635 Iris keymap update
  keyboards/keebio/iris/keymaps/default/keymap.c
  keyboards/keebio/iris/keymaps/default/keymap.json
  keyboards/keebio/iris/keymaps/via/keymap.c
Labels: keymap, via

#23633 gh80_3000 - Enable indicator LED functionality
  keyboards/gh80_3000/config.h
  keyboards/gh80_3000/keyboard.json
  keyboards/gh80_3000/keymaps/ansi_std/keymap.c
  keyboards/gh80_3000/keymaps/ansi_wkl/keymap.c
  keyboards/gh80_3000/keymaps/default/keymap.c
  keyboards/gh80_3000/keymaps/iso_default/keymap.c
  keyboards/gh80_3000/keymaps/iso_std/keymap.c
  keyboards/gh80_3000/keymaps/iso_wkl/keymap.c
Labels: keyboard, keymap

#23629 Add YMDK YMD62 ISO PCB
  keyboards/ymdk/ymd62/config.h
  keyboards/ymdk/ymd62/halconf.h
  keyboards/ymdk/ymd62/info.json
  keyboards/ymdk/ymd62/keymaps/default/keymap.c
  keyboards/ymdk/ymd62/mcuconf.h
  keyboards/ymdk/ymd62/readme.md
  keyboards/ymdk/ymd62/rules.mk
Labels: keyboard, keymap

#23597 Masonry keyboard support
  keyboards/dcpedit/masonry/info.json
  keyboards/dcpedit/masonry/keymaps/default/keymap.json
  keyboards/dcpedit/masonry/keymaps/via/keymap.json
  keyboards/dcpedit/masonry/readme.md
  keyboards/dcpedit/masonry/rules.mk
Labels: keyboard, keymap, via

#23628 Add Chew keyboard
  keyboards/chew/config.h
  keyboards/chew/info.json
  keyboards/chew/keymaps/default/keymap.c
  keyboards/chew/readme.md
  keyboards/chew/rules.mk
Labels: keyboard, keymap

#23581 [MECHWILD] New Keyboard BB65
  keyboards/mechwild/bb65/config.h
  keyboards/mechwild/bb65/f401/info.json
  keyboards/mechwild/bb65/f401/rules.mk
  keyboards/mechwild/bb65/f411/info.json
  keyboards/mechwild/bb65/f411/rules.mk
  keyboards/mechwild/bb65/halconf.h
  keyboards/mechwild/bb65/info.json
  keyboards/mechwild/bb65/keymaps/default/keymap.json
  keyboards/mechwild/bb65/keymaps/via/keymap.json
  keyboards/mechwild/bb65/mcuconf.h
  keyboards/mechwild/bb65/readme.md
Labels: keyboard, keymap, via

#23554 [Keyboard] Add SIRIND TOMAK
  keyboards/era/sirind/tomak/config.h
  keyboards/era/sirind/tomak/info.json
  keyboards/era/sirind/tomak/keymaps/default/keymap.c
  keyboards/era/sirind/tomak/keymaps/default_ansi/keymap.c
  keyboards/era/sirind/tomak/keymaps/default_ansi_split_bs/keymap.c
  keyboards/era/sirind/tomak/keymaps/default_ansi_split_rshift/keymap.c
  keyboards/era/sirind/tomak/keymaps/default_ansi_split_rshift_bs/keymap.c
  keyboards/era/sirind/tomak/keymaps/via/keymap.c
  keyboards/era/sirind/tomak/keymaps/via/rules.mk
  keyboards/era/sirind/tomak/readme.md
  keyboards/era/sirind/tomak/rules.mk
  keyboards/era/sirind/tomak/tomak.c
Labels: keyboard, keymap, via

#23536 [keyboard] add jaykeeb jk65
  keyboards/jaykeeb/jk65/info.json
  keyboards/jaykeeb/jk65/keymaps/default/keymap.c
  keyboards/jaykeeb/jk65/keymaps/via/keymap.c
  keyboards/jaykeeb/jk65/keymaps/via/rules.mk
  keyboards/jaykeeb/jk65/matrix_diagram.md
  keyboards/jaykeeb/jk65/readme.md
  keyboards/jaykeeb/jk65/rules.mk
Labels: keyboard, keymap, via

#23528 Fatotesa - custom asymmetric split keyboard
  keyboards/fatotesa/info.json
  keyboards/fatotesa/keymaps/default/keymap.c
  keyboards/fatotesa/keymaps/default/rules.mk
  keyboards/fatotesa/readme.md
  keyboards/fatotesa/rules.mk
Labels: keyboard, keymap

#23519 Add keyboard: Vault35 WKL universal
  keyboards/jlw/vault35_wkl_universal/config.h
  keyboards/jlw/vault35_wkl_universal/halconf.h
  keyboards/jlw/vault35_wkl_universal/info.json
  keyboards/jlw/vault35_wkl_universal/keymaps/default/keymap.c
  keyboards/jlw/vault35_wkl_universal/keymaps/default/rules.mk
  keyboards/jlw/vault35_wkl_universal/mcuconf.h
  keyboards/jlw/vault35_wkl_universal/readme.md
  keyboards/jlw/vault35_wkl_universal/rules.mk
Labels: keyboard, keymap

#23513 Add ScottoWing keyboard
  keyboards/scottokeebs/scottowing/info.json
  keyboards/scottokeebs/scottowing/keymaps/default/config.h
  keyboards/scottokeebs/scottowing/keymaps/default/keymap.c
  keyboards/scottokeebs/scottowing/readme.md
  keyboards/scottokeebs/scottowing/rules.mk
Labels: keyboard, keymap

#23309 MechKeys ACR60 Layout Updates
  docs/ChangeLog/20240526/PR23309.md
  keyboards/mechkeys/acr60/keyboard.json
  keyboards/mechkeys/acr60/matrix_diagram.md
Labels: enhancement, keyboard, documentation

#23181 Uniform ISO Enter key sequence in JIS Community Layouts
  layouts/default/60_jis/info.json
  layouts/default/tkl_f13_jis/info.json
  layouts/default/tkl_jis/info.json
Labels: keymap

#23170 Add EC Type-B
  keyboards/cipulot/ec_typeb/config.h
  keyboards/cipulot/ec_typeb/halconf.h
  keyboards/cipulot/ec_typeb/info.json
  keyboards/cipulot/ec_typeb/keymaps/default/keymap.c
  keyboards/cipulot/ec_typeb/keymaps/via/keymap.c
  keyboards/cipulot/ec_typeb/keymaps/via/rules.mk
  keyboards/cipulot/ec_typeb/mcuconf.h
  keyboards/cipulot/ec_typeb/post_rules.mk
  keyboards/cipulot/ec_typeb/readme.md
  keyboards/cipulot/ec_typeb/rules.mk
Labels: keyboard, keymap, via

#23177 Add EC TKL
  keyboards/cipulot/ec_tkl/config.h
  keyboards/cipulot/ec_tkl/halconf.h
  keyboards/cipulot/ec_tkl/info.json
  keyboards/cipulot/ec_tkl/keymaps/default/keymap.c
  keyboards/cipulot/ec_tkl/keymaps/tkl_ansi_tsangan/keymap.c
  keyboards/cipulot/ec_tkl/keymaps/tkl_iso_tsangan/keymap.c
  keyboards/cipulot/ec_tkl/keymaps/tkl_jis/keymap.c
  keyboards/cipulot/ec_tkl/keymaps/via/config.h
  keyboards/cipulot/ec_tkl/keymaps/via/keymap.c
  keyboards/cipulot/ec_tkl/keymaps/via/rules.mk
  keyboards/cipulot/ec_tkl/mcuconf.h
  keyboards/cipulot/ec_tkl/post_rules.mk
  keyboards/cipulot/ec_tkl/readme.md
  keyboards/cipulot/ec_tkl/rules.mk
Labels: keyboard, keymap, via

#23171 Add EC660C
  keyboards/cipulot/ec_660c/config.h
  keyboards/cipulot/ec_660c/halconf.h
  keyboards/cipulot/ec_660c/info.json
  keyboards/cipulot/ec_660c/keymaps/default/keymap.c
  keyboards/cipulot/ec_660c/keymaps/via/keymap.c
  keyboards/cipulot/ec_660c/keymaps/via/rules.mk
  keyboards/cipulot/ec_660c/mcuconf.h
  keyboards/cipulot/ec_660c/post_rules.mk
  keyboards/cipulot/ec_660c/readme.md
  keyboards/cipulot/ec_660c/rules.mk
Labels: keyboard, keymap, via

#23178 Add EC Dolice
  keyboards/cipulot/ec_dolice/config.h
  keyboards/cipulot/ec_dolice/halconf.h
  keyboards/cipulot/ec_dolice/info.json
  keyboards/cipulot/ec_dolice/keymaps/default/keymap.c
  keyboards/cipulot/ec_dolice/keymaps/via/keymap.c
  keyboards/cipulot/ec_dolice/keymaps/via/rules.mk
  keyboards/cipulot/ec_dolice/mcuconf.h
  keyboards/cipulot/ec_dolice/post_rules.mk
  keyboards/cipulot/ec_dolice/readme.md
  keyboards/cipulot/ec_dolice/rules.mk
Labels: keyboard, keymap, via

#23176 Add EC Vero
  keyboards/cipulot/ec_vero/config.h
  keyboards/cipulot/ec_vero/halconf.h
  keyboards/cipulot/ec_vero/info.json
  keyboards/cipulot/ec_vero/keymaps/60_hhkb/keymap.c
  keyboards/cipulot/ec_vero/keymaps/default/keymap.c
  keyboards/cipulot/ec_vero/keymaps/via/keymap.c
  keyboards/cipulot/ec_vero/keymaps/via/rules.mk
  keyboards/cipulot/ec_vero/mcuconf.h
  keyboards/cipulot/ec_vero/post_rules.mk
  keyboards/cipulot/ec_vero/readme.md
  keyboards/cipulot/ec_vero/rules.mk
Labels: keyboard, keymap, via

#23175 Add EC Menhir
  keyboards/cipulot/ec_menhir/config.h
  keyboards/cipulot/ec_menhir/halconf.h
  keyboards/cipulot/ec_menhir/info.json
  keyboards/cipulot/ec_menhir/keymaps/default/keymap.c
  keyboards/cipulot/ec_menhir/keymaps/via/keymap.c
  keyboards/cipulot/ec_menhir/keymaps/via/rules.mk
  keyboards/cipulot/ec_menhir/mcuconf.h
  keyboards/cipulot/ec_menhir/post_rules.mk
  keyboards/cipulot/ec_menhir/readme.md
  keyboards/cipulot/ec_menhir/rules.mk
Labels: keyboard, keymap, via

#22889 Add Chroma Support
  keyboards/cipulot/chroma/info.json
  keyboards/cipulot/chroma/keymaps/60_ansi_tsangan/keymap.c
  keyboards/cipulot/chroma/keymaps/60_ansi_wkl/keymap.c
  keyboards/cipulot/chroma/keymaps/60_ansi_wkl_split_bs_rshift/keymap.c
  keyboards/cipulot/chroma/keymaps/60_iso_tsangan/keymap.c
  keyboards/cipulot/chroma/keymaps/60_iso_tsangan_split_bs_rshift/keymap.c
  keyboards/cipulot/chroma/keymaps/60_iso_wkl/keymap.c
  keyboards/cipulot/chroma/keymaps/60_iso_wkl_split_bs_rshift/keymap.c
  keyboards/cipulot/chroma/keymaps/default/keymap.c
  keyboards/cipulot/chroma/keymaps/via/keymap.c
  keyboards/cipulot/chroma/keymaps/via/rules.mk
  keyboards/cipulot/chroma/readme.md
  keyboards/cipulot/chroma/rules.mk
Labels: keyboard, keymap, via

#23172 Add EC980C
  keyboards/cipulot/ec_980c/config.h
  keyboards/cipulot/ec_980c/ec_980c.c
  keyboards/cipulot/ec_980c/ec_switch_matrix.c
  keyboards/cipulot/ec_980c/ec_switch_matrix.h
  keyboards/cipulot/ec_980c/halconf.h
  keyboards/cipulot/ec_980c/info.json
  keyboards/cipulot/ec_980c/keymaps/default/keymap.c
  keyboards/cipulot/ec_980c/keymaps/via/keymap.c
  keyboards/cipulot/ec_980c/keymaps/via/rules.mk
  keyboards/cipulot/ec_980c/keymaps/via/via_ec_indicators.c
  keyboards/cipulot/ec_980c/matrix.c
  keyboards/cipulot/ec_980c/mcuconf.h
  keyboards/cipulot/ec_980c/readme.md
  keyboards/cipulot/ec_980c/rules.mk
Labels: keyboard, keymap, via
