Repository qmk/qmk_firmware, pull requests merged in 2024-07, with the labels that each got.

#23894 SPI flash API cleanup, add async erase capability.
  builddefs/common_features.mk
  drivers/flash/flash.h
  drivers/flash/flash_spi.c
  drivers/flash/flash_spi.h
  drivers/wear_leveling/wear_leveling_flash_spi.c
Labels: core

#24033 Fix index EC Dolice
  keyboards/cipulot/ec_dolice/keyboard.json
  keyboards/cipulot/ec_dolice/keymaps/default/keymap.c
  keyboards/cipulot/ec_dolice/keymaps/via/keymap.c
Labels: keyboard, keymap, via

#24003 Rename encoder pins defines
  docs/features/encoders.md
  docs/features/split_keyboard.md
  drivers/encoder/encoder_quadrature.c
  keyboards/dailycraft/wings42/rev2/keymaps/via/config.h
  keyboards/handwired/sick68/keymaps/via/config.h
  keyboards/kapcave/gskt00/keymaps/default-poly/config.h
  keyboards/pica40/rev2/rev2.c
  keyboards/ploopyco/mouse/config.h
  keyboards/ploopyco/ploopyco.c
  keyboards/ploopyco/trackball/config.h
  keyboards/ploopyco/trackball_mini/config.h
  keyboards/ploopyco/trackball_thumb/config.h
  keyboards/rgbkb/sol/keymaps/default/keymap.c
  keyboards/rgbkb/sol/rev2/config.h
  keyboards/terrazzo/readme.md
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/info.py
  quantum/encoder.h
  quantum/encoder/tests/config_mock.h
  quantum/encoder/tests/config_mock_split_left_eq_right.h
  quantum/encoder/tests/config_mock_split_left_gt_right.h
  quantum/encoder/tests/config_mock_split_left_lt_right.h
  quantum/encoder/tests/config_mock_split_no_left.h
  quantum/encoder/tests/config_mock_split_no_right.h
  quantum/encoder/tests/config_mock_split_role.h
Labels: enhancement, core, keyboard, keymap, documentation, python, cli, via

#23975 Normalise mouse keycodes
  data/constants/keycodes/keycodes_0.0.5.hjson
  data/constants/keycodes/keycodes_0.0.5_basic.hjson
  docs/features/encoders.md
  docs/features/mouse_keys.md
  docs/features/repeat_key.md
  docs/keycodes.md
  drivers/sensors/cirque_pinnacle_gestures.h
  keyboards/cannonkeys/lib/satisfaction75/satisfaction_encoder.c
  keyboards/dichotomy/keymaps/default/keymap.c
  quantum/action.c
  quantum/encoder.c
  quantum/keycode.h
  quantum/keycodes.h
  quantum/mousekey.c
  quantum/pointing_device/pointing_device.c
  quantum/pointing_device/pointing_device_auto_mouse.h
  quantum/quantum_keycodes_legacy.h
  quantum/repeat_key.c
  tests/test_common/keycode_table.cpp
Labels: enhancement, core, keyboard, keymap, documentation, dd

#23688 Update keymap for KLC x TGR Lena
  keyboards/kopibeng/tgr_lena/keymaps/default/keymap.c
  keyboards/kopibeng/tgr_lena/keymaps/via/keymap.c
Labels: keymap, via

#24023 `vertex/arc60h`: add additional layouts
  keyboards/vertex/arc60h/keyboard.json
Labels: enhancement, keyboard

#23989 Minimum python version listing.
  lib/python/qmk/cli/__init__.py
Labels: python, cli

#23097 [build_test] set CONSOLE_ENABLE=yes if DEBUG > 0
  builddefs/build_test.mk
Labels: core, stale

#24020 Change suspend condition check order on ChibiOS
  tmk_core/protocol/chibios/chibios.c
Labels: core

#24031 Ashwing66
  keyboards/ashwing66/config.h
  keyboards/ashwing66/keyboard.json
  keyboards/ashwing66/keymaps/default/keymap.c
  keyboards/ashwing66/keymaps/default/rules.mk
  keyboards/ashwing66/keymaps/via/keymap.c
  keyboards/ashwing66/keymaps/via/rules.mk
  keyboards/ashwing66/readme.md
Labels: keyboard, keymap, via

#24032 [keyboard] added bear_face/v3
  keyboards/bear_face/v3/keyboard.json
  keyboards/bear_face/v3/keymaps/default/keymap.c
  keyboards/bear_face/v3/keymaps/default/readme.md
  keyboards/bear_face/v3/keymaps/default_iso/keymap.c
  keyboards/bear_face/v3/keymaps/default_iso/readme.md
Labels: keyboard, keymap

#24027 monsgeek/m5: make numlock and capslock LEDs work
  keyboards/monsgeek/m5/m5.c
Labels: keyboard

#24026 add new pcb - chlx lfn merro
  keyboards/chlx/lfn_merro60/keyboard.json
  keyboards/chlx/lfn_merro60/keymaps/default/keymap.c
  keyboards/chlx/lfn_merro60/keymaps/via/config.h
  keyboards/chlx/lfn_merro60/keymaps/via/keymap.c
  keyboards/chlx/lfn_merro60/keymaps/via/rules.mk
  keyboards/chlx/lfn_merro60/readme.md
Labels: keyboard, keymap, via

#24028 Addition of EC 60X
  keyboards/cipulot/ec_60x/config.h
  keyboards/cipulot/ec_60x/halconf.h
  keyboards/cipulot/ec_60x/keyboard.json
  keyboards/cipulot/ec_60x/keymaps/60_ansi_tsangan/keymap.c
  keyboards/cipulot/ec_60x/keymaps/60_iso_tsangan/keymap.c
  keyboards/cipulot/ec_60x/keymaps/60_jis/keymap.c
  keyboards/cipulot/ec_60x/keymaps/default/keymap.c
  keyboards/cipulot/ec_60x/keymaps/via/keymap.c
  keyboards/cipulot/ec_60x/keymaps/via/rules.mk
  keyboards/cipulot/ec_60x/mcuconf.h
  keyboards/cipulot/ec_60x/post_rules.mk
  keyboards/cipulot/ec_60x/readme.md
  keyboards/cipulot/ec_60x/rules.mk
Labels: keyboard, keymap, via

#24030 Fixes duplicate pid/vid for sofle_choc
  keyboards/sofle_choc/keyboard.json
Labels: keyboard

#24024 `kikoslab/kl90`: add additional layouts
  keyboards/kikoslab/kl90/keyboard.json
Labels: enhancement, keyboard

#24041 `salicylic_acid3/setta21`: fix RGB Matrix LED config
  keyboards/salicylic_acid3/setta21/rev1/keyboard.json
  keyboards/salicylic_acid3/setta21/rev1/rev1.c
Labels: bug, enhancement, keyboard

#24051 Allow overriding `get_hardware_id()`.
  platforms/arm_atsam/hardware_id.c
  platforms/avr/hardware_id.c
  platforms/chibios/hardware_id.c
Labels: core

#23844 Add Sleepy Craft Studios Sleepy Keeb Split
  keyboards/sleepy_craft_studios/sleepy_keeb_split/config.h
  keyboards/sleepy_craft_studios/sleepy_keeb_split/keyboard.json
  keyboards/sleepy_craft_studios/sleepy_keeb_split/keymaps/default/keymap.c
  keyboards/sleepy_craft_studios/sleepy_keeb_split/keymaps/via/keymap.c
  keyboards/sleepy_craft_studios/sleepy_keeb_split/keymaps/via/rules.mk
  keyboards/sleepy_craft_studios/sleepy_keeb_split/readme.md
Labels: keyboard, keymap, via

#24025 `dc01/arrow`: fix layout name
  keyboards/dc01/arrow/keyboard.json
  keyboards/dc01/arrow/keymaps/default/keymap.c
  keyboards/dc01/arrow/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#24056 `handwired/tkk`: fix layout name
  keyboards/handwired/tkk/keyboard.json
  keyboards/handwired/tkk/keymaps/default/keymap.c
Labels: enhancement, keyboard, keymap

#24057 `ash_xiix`: add additional layouts
  keyboards/ash_xiix/keyboard.json
  keyboards/ash_xiix/matrix_diagram.md
Labels: enhancement, keyboard

#24058 `kakunpc/angel64`: add additional layouts
  keyboards/kakunpc/angel64/rev1/keyboard.json
  keyboards/kakunpc/angel64/rev1/matrix_diagram.md
Labels: enhancement, keyboard

#24059 `kakunpc/rabbit_capture_plan`: add additional layouts
  keyboards/kakunpc/rabbit_capture_plan/keyboard.json
  keyboards/kakunpc/rabbit_capture_plan/matrix_diagram.md
Labels: enhancement, keyboard

#23695 Add support for Equinox XL
  keyboards/ai03/equinox_xl/keyboard.json
  keyboards/ai03/equinox_xl/keymaps/default/keymap.c
  keyboards/ai03/equinox_xl/keymaps/via/keymap.c
  keyboards/ai03/equinox_xl/keymaps/via/rules.mk
  keyboards/ai03/equinox_xl/readme.md
Labels: keyboard, keymap, via

#24061 `kbdfans/baguette66`: fix layout name
  keyboards/kbdfans/baguette66/rgb/keyboard.json
  keyboards/kbdfans/baguette66/rgb/keymaps/default/keymap.c
  keyboards/kbdfans/baguette66/rgb/keymaps/via/keymap.c
  keyboards/kbdfans/baguette66/soldered/keyboard.json
  keyboards/kbdfans/baguette66/soldered/keymaps/default/keymap.c
  keyboards/kbdfans/baguette66/soldered/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#24055 Align LUFA suspend logic
  tmk_core/protocol/lufa/lufa.c
Labels: core

#24062 `playkbtw/pk64rgb`: move RGB Matrix LED config to data driven
  keyboards/playkbtw/pk64rgb/config.h
  keyboards/playkbtw/pk64rgb/keyboard.json
  keyboards/playkbtw/pk64rgb/pk64rgb.c
Labels: enhancement, keyboard

#24049 Tap dance introspection
  quantum/keymap_introspection.c
  quantum/keymap_introspection.h
  quantum/process_keycode/process_tap_dance.c
  quantum/process_keycode/process_tap_dance.h
  tests/tap_dance/examples.c
  tests/tap_dance/tap_dance_layers/test.mk
  tests/tap_dance/test.mk
Labels: core

#23999 [docs] Update RGBLight (Underglow) keycode names
  docs/features/encoders.md
  docs/features/rgblight.md
  docs/keycodes.md
Labels: enhancement, documentation

#24064 `handwired/swiftrax/bumblebee`: fix layout name
  keyboards/handwired/swiftrax/bumblebee/keyboard.json
  keyboards/handwired/swiftrax/bumblebee/keymaps/default/keymap.c
  keyboards/handwired/swiftrax/bumblebee/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#24067 `ano`: fix layout name
  keyboards/ano/keyboard.json
  keyboards/ano/keymaps/default/keymap.c
Labels: enhancement, keyboard, keymap

#23520 Fix dogtag/info.json
  keyboards/takashicompany/dogtag/keyboard.json
Labels: keyboard, stale

#24070 Fix enter for two ANSI layouts on the TKD Cycle7
  keyboards/vertex/cycle7/keyboard.json
Labels: keyboard

#24072 [keyboard] mechwild/bbpad
  keyboards/mechwild/bbpad/config.h
  keyboards/mechwild/bbpad/f401/keyboard.json
  keyboards/mechwild/bbpad/f411/keyboard.json
  keyboards/mechwild/bbpad/halconf.h
  keyboards/mechwild/bbpad/info.json
  keyboards/mechwild/bbpad/keymaps/default/keymap.json
  keyboards/mechwild/bbpad/mcuconf.h
  keyboards/mechwild/bbpad/readme.md
Labels: keyboard, keymap

#23967 Fix for encoders and support ENCODER_MAP_ENABLE on Planck rev7
  keyboards/planck/rev7/keymaps/default/config.h
  keyboards/planck/rev7/keymaps/default/keymap.c
  keyboards/planck/rev7/matrix.c
  keyboards/planck/rev7/readme.md
Labels: keyboard, keymap

#24065 `ash1800`: add additional layouts
  keyboards/ash1800/keyboard.json
  keyboards/ash1800/matrix_diagram.md
Labels: enhancement, keyboard

#24069 `mechlovin/olly/octagon`: move LED Matrix LED config to data driven
  keyboards/mechlovin/olly/octagon/config.h
  keyboards/mechlovin/olly/octagon/keyboard.json
  keyboards/mechlovin/olly/octagon/octagon.c
Labels: enhancement, keyboard

#24066 `pearlboards/zeuspad`: add additional layouts
  keyboards/pearlboards/zeuspad/keyboard.json
  keyboards/pearlboards/zeuspad/keymaps/default/keymap.c
  keyboards/pearlboards/zeuspad/keymaps/via/keymap.c
  keyboards/pearlboards/zeuspad/matrix_diagram.md
Labels: enhancement, keyboard, keymap, via

#24076 `latinpad/latin60rgb`: move RGB Matrix LED config to data driven
  keyboards/latincompass/latin60rgb/config.h
  keyboards/latincompass/latin60rgb/keyboard.json
  keyboards/latincompass/latin60rgb/latin60rgb.c
Labels: enhancement, keyboard

#24079 `kakunpc/rabbit_capture_plan`: update keymap layout name
  keyboards/kakunpc/rabbit_capture_plan/keymaps/default/keymap.c
Labels: enhancement, keymap

#23782 [Keyboard] Add boardsource/the_q
  keyboards/boardsource/lib/oled.c
  keyboards/boardsource/lib/oled.h
  keyboards/boardsource/lulu/avr/rules.mk
  keyboards/boardsource/lulu/lulu.c
  keyboards/boardsource/lulu/rp2040/rules.mk
  keyboards/boardsource/the_q/keyboard.json
  keyboards/boardsource/the_q/keymaps/default/keymap.json
  keyboards/boardsource/the_q/keymaps/via/keymap.json
  keyboards/boardsource/the_q/readme.md
  keyboards/boardsource/the_q/rules.mk
  keyboards/boardsource/the_q/the_q.c
  keyboards/boardsource/unicorne/rules.mk
  keyboards/boardsource/unicorne/unicorne.c
Labels: keyboard, keymap, via

#24080 `jadookb/jkb65`: move RGB Matrix LED config to data driven
  keyboards/jadookb/jkb65/config.h
  keyboards/jadookb/jkb65/info.json
  keyboards/jadookb/jkb65/jkb65.c
Labels: enhancement, keyboard

#24060 refactor bear_face/v1, v2
  keyboards/bear_face/info.json
  keyboards/bear_face/rules.mk
  keyboards/bear_face/v1/keyboard.json
  keyboards/bear_face/v1/keymaps/default/keymap.c
  keyboards/bear_face/v2/keyboard.json
  keyboards/bear_face/v2/keymaps/default/keymap.c
  keyboards/bear_face/v2/keymaps/default/readme.md
  keyboards/bear_face/v2/keymaps/default_iso/keymap.c
  keyboards/bear_face/v3/keymaps/default/keymap.c
  keyboards/bear_face/v3/keymaps/default_iso/keymap.c
Labels: keyboard, keymap

#24054 Remove DEFAULT_FOLDER from maple_computing/lets_split_eh
  data/mappings/keyboard_aliases.hjson
  keyboards/maple_computing/lets_split_eh/config.h
  keyboards/maple_computing/lets_split_eh/eh/rules.mk
  keyboards/maple_computing/lets_split_eh/keyboard.json
  keyboards/maple_computing/lets_split_eh/lets_split_eh.c
  keyboards/maple_computing/lets_split_eh/readme.md
  keyboards/maple_computing/lets_split_eh/rules.mk
Labels: optimization, keyboard, dd

#24034 [Keyboard] Add Linx3 FAve65S
  keyboards/era/linx3/fave65s/config.h
  keyboards/era/linx3/fave65s/fave65s.c
  keyboards/era/linx3/fave65s/keyboard.json
  keyboards/era/linx3/fave65s/keymaps/default/keymap.c
  keyboards/era/linx3/fave65s/keymaps/via/keymap.c
  keyboards/era/linx3/fave65s/keymaps/via/rules.mk
  keyboards/era/linx3/fave65s/readme.md
Labels: keyboard, keymap, via

#24086 Fixup boardsource/the_q RGB matrix coordinates
  keyboards/boardsource/the_q/keyboard.json
Labels: keyboard

#24091 Remove a user keymap from crkbd.
  keyboards/crkbd/keymaps/colemak_luna/config.h
  keyboards/crkbd/keymaps/colemak_luna/keymap.c
  keyboards/crkbd/keymaps/colemak_luna/readme.md
  keyboards/crkbd/keymaps/colemak_luna/rules.mk
Labels: keymap

#24092 Various fixes for keyboards not implementing callbacks correctly
  keyboards/aeboards/ext65/rev3/rev3.c
  keyboards/clueboard/2x1800/2021/2021.c
  keyboards/enviousdesign/commissions/mini1800/mini1800.c
  keyboards/exclusive/e6_rgb/e6_rgb.c
  keyboards/handwired/selene/selene.c
  keyboards/inett_studio/sqx/hotswap/hotswap.c
  keyboards/inett_studio/sqx/universal/universal.c
  keyboards/mechlovin/adelais/rgb_led/rev2/rev2.c
  keyboards/mechlovin/hannah60rgb/rev2/rev2.c
  keyboards/mechlovin/kay65/kay65.c
  keyboards/mechlovin/zed65/no_backlight/wearhaus66/wearhaus66.c
  keyboards/omnikeyish/omnikeyish.c
  keyboards/projectd/75/ansi/ansi.c
  keyboards/yandrstudio/nz64/nz64.c
Labels: bug, keyboard

#24090 `mt/mt84`: move RGB Matrix config to data driven
  keyboards/mt/mt84/config.h
  keyboards/mt/mt84/keyboard.json
  keyboards/mt/mt84/mt84.c
Labels: enhancement, keyboard

#24089 `mt/mt64rgb`: move RGB Matrix config to data driven
  keyboards/mt/mt64rgb/config.h
  keyboards/mt/mt64rgb/keyboard.json
  keyboards/mt/mt64rgb/keymaps/default/keymap.c
  keyboards/mt/mt64rgb/keymaps/via/keymap.c
  keyboards/mt/mt64rgb/mt64rgb.c
Labels: enhancement, keyboard, keymap, via

#24075 Adding support for IBE60
  keyboards/4pplet/ibe60/keyboard.json
  keyboards/4pplet/ibe60/keymaps/default/keymap.c
  keyboards/4pplet/ibe60/keymaps/via/keymap.c
  keyboards/4pplet/ibe60/keymaps/via/rules.mk
  keyboards/4pplet/ibe60/readme.md
  keyboards/4pplet/ibe60/rules.mk
Labels: keyboard, keymap, via

#23823 [Keyboard] Add boardsource/sessenta
  keyboards/boardsource/sessanta/keyboard.json
  keyboards/boardsource/sessanta/keymaps/default/keymap.json
  keyboards/boardsource/sessanta/keymaps/via/keymap.json
  keyboards/boardsource/sessanta/readme.md
Labels: keyboard, keymap, via

#23692 [Keyboard] Rename dnworks/9973 to dnworks/tkl87
  data/mappings/keyboard_aliases.hjson
  keyboards/dnworks/tkl87/config.h
  keyboards/dnworks/tkl87/keyboard.json
  keyboards/dnworks/tkl87/keymaps/default/keymap.c
  keyboards/dnworks/tkl87/keymaps/via/keymap.c
  keyboards/dnworks/tkl87/keymaps/via/rules.mk
  keyboards/dnworks/tkl87/readme.md
Labels: keyboard, keymap, via, dd

#23737 [CI] Add index page generator.
  .github/workflows/ci_build_major_branch.yml
  .gitignore
  util/ci/index_generator.py
  util/ci/requirements.txt
  util/ci/templates/index.html.j2
Labels: core, python, CI

#24097 Add json index of files to CI uploads
  .github/workflows/ci_build_major_branch.yml
  .gitignore
  util/ci/firmware_list_generator.py
  util/ci/templates/index.html.j2
Labels: enhancement, core, python, CI

#24102 [CI] Pull full history before generating index
  .github/workflows/ci_build_major_branch.yml
Labels: CI

#24104 [CI] Disable Discord webhook when CI run is cancelled.
  .github/workflows/ci_build_major_branch_keymap.yml
  util/ci/discord-results.py
Labels: core, python, CI

#24094 Remove broken keymap from keebio/iris
  keyboards/keebio/iris/keymaps/dvorak/config.h
  keyboards/keebio/iris/keymaps/dvorak/keebio_iris_rev2_layout_dvorak.json
  keyboards/keebio/iris/keymaps/dvorak/keymap.c
  keyboards/keebio/iris/keymaps/dvorak/readme.md
  keyboards/keebio/iris/keymaps/dvorak/rules.mk
Labels: keymap

#24087 Convert `eeconfig_init_kb` implementations to config
  keyboards/0xcb/1337/1337.c
  keyboards/0xcb/1337/keyboard.json
  keyboards/handwired/bento/rev1/config.h
  keyboards/hineybush/h660s/config.h
  keyboards/hineybush/h660s/keyboard.json
  keyboards/hineybush/h75_singa/config.h
  keyboards/hineybush/h75_singa/keyboard.json
  keyboards/hineybush/h87a/config.h
  keyboards/hineybush/h87a/keyboard.json
  keyboards/hineybush/h88/config.h
  keyboards/hineybush/h88/keyboard.json
  keyboards/hineybush/hbcp/config.h
  keyboards/hineybush/hbcp/hbcp.c
  keyboards/hineybush/hbcp/keyboard.json
  keyboards/keebio/sinc/rev1/keyboard.json
  keyboards/keebio/sinc/rev2/keyboard.json
  keyboards/keebio/sinc/sinc.c
  keyboards/kumaokobo/kudox_full/kudox_full.c
  keyboards/kumaokobo/kudox_full/rev1/keyboard.json
  keyboards/mixi/config.h
  keyboards/mixi/mixi.c
  keyboards/nix_studio/oxalys80/config.h
  keyboards/nix_studio/oxalys80/keyboard.json
  keyboards/nix_studio/oxalys80/oxalys80.c
  keyboards/senselessclay/gos65/config.h
  keyboards/senselessclay/gos65/gos65.c
  keyboards/senselessclay/gos65/keyboard.json
  keyboards/wilba_tech/wt60_xt/keyboard.json
  keyboards/wilba_tech/wt60_xt/wt60_xt.c
  keyboards/xelus/akis/keyboard.json
  keyboards/xelus/ninjin/keyboard.json
Labels: optimization, keyboard

#24106 `mechwild/bbpad`: fix build
  keyboards/mechwild/bbpad/keymaps/default/keymap.json
Labels: bug, keymap

#24107 Fix typo in Keychron comments: "lcok" to "lock"
  keyboards/keychron/c1_pro/ansi/white/config.h
  keyboards/keychron/q3/ansi/config.h
  keyboards/keychron/q3/ansi_encoder/config.h
  keyboards/keychron/q3/jis/config.h
  keyboards/keychron/q3/jis_encoder/config.h
  keyboards/keychron/q4/ansi/config.h
  keyboards/keychron/q4/iso/config.h
  keyboards/keychron/v3/ansi/config.h
  keyboards/keychron/v3/ansi_encoder/config.h
  keyboards/keychron/v3/jis/config.h
  keyboards/keychron/v3/jis_encoder/config.h
  keyboards/keychron/v4/ansi/config.h
  keyboards/keychron/v4/iso/config.h
Labels: keyboard

#23868 adds veilid SAO macropad
  keyboards/rot13labs/veilid_sao/keyboard.json
  keyboards/rot13labs/veilid_sao/keymaps/default/keymap.c
  keyboards/rot13labs/veilid_sao/readme.md
Labels: keyboard, keymap

#23796 Update atomic GPIO macros in keyboard custom matrix
  keyboards/argyle/matrix.c
  keyboards/gmmk/numpad/matrix.c
  keyboards/halfcliff/matrix.c
  keyboards/handwired/symmetric70_proto/matrix_debug/matrix.c
  keyboards/keychron/c2_pro/matrix.c
  keyboards/keychron/q10/matrix.c
  keyboards/keychron/q12/matrix.c
  keyboards/keychron/q1v2/matrix.c
  keyboards/keychron/q3/matrix.c
  keyboards/keychron/q5/matrix.c
  keyboards/keychron/q6/matrix.c
  keyboards/keychron/q65/matrix.c
  keyboards/keychron/v1/matrix.c
  keyboards/keychron/v10/matrix.c
  keyboards/keychron/v3/matrix.c
  keyboards/keychron/v5/matrix.c
  keyboards/keychron/v6/matrix.c
  keyboards/rate/pistachio_pro/matrix.c
  keyboards/work_louder/micro/matrix.c
  quantum/matrix.c
Labels: enhancement, core, keyboard, awaiting review, develop-fast-track, breaking_change_2024q3

#24113 Fix i2c received value in georgi and bajjak
  keyboards/bajjak/matrix.c
  keyboards/gboards/georgi/matrix.c
Labels: bug, keyboard

#24114 `ryanskidmore/rskeys100`: move RGB Matrix LED config to data driven
  keyboards/ryanskidmore/rskeys100/config.h
  keyboards/ryanskidmore/rskeys100/keyboard.json
  keyboards/ryanskidmore/rskeys100/rskeys100.c
Labels: enhancement, keyboard

#23600 Add Aums Work keyboard
  keyboards/jaykeeb/aumz_work/hotswap/keyboard.json
  keyboards/jaykeeb/aumz_work/hotswap/keymaps/default/keymap.c
  keyboards/jaykeeb/aumz_work/hotswap/keymaps/via/keymap.c
  keyboards/jaykeeb/aumz_work/hotswap/keymaps/via/rules.mk
  keyboards/jaykeeb/aumz_work/hotswap/matrix_diagram.md
  keyboards/jaykeeb/aumz_work/info.json
  keyboards/jaykeeb/aumz_work/readme.md
  keyboards/jaykeeb/aumz_work/soldered/keyboard.json
  keyboards/jaykeeb/aumz_work/soldered/keymaps/default/keymap.c
  keyboards/jaykeeb/aumz_work/soldered/keymaps/via/keymap.c
  keyboards/jaykeeb/aumz_work/soldered/keymaps/via/rules.mk
  keyboards/jaykeeb/aumz_work/soldered/matrix_diagram.md
Labels: keyboard, keymap, via

#24022 `dp60`: move RGB Matrix LED config to data driven
  keyboards/dp60/config.h
  keyboards/dp60/dp60.c
  keyboards/dp60/keyboard.json
Labels: bug, enhancement, keyboard

#24116 Various fixes for keyboards not implementing callbacks correctly
  keyboards/cipulot/ec_980c/ec_980c.c
  keyboards/cipulot/ec_typek/ec_typek.c
  keyboards/clueboard/2x1800/2019/2019.c
  keyboards/clueboard/2x1800/2019/2019.h
  keyboards/clueboard/2x1800/2021/2021.c
  keyboards/converter/ibm_terminal/led.c
  keyboards/jukaie/jk01/jk01.c
  keyboards/mechlovin/zed1800/zed1800.c
Labels: keyboard

#23642 Add TRKeyboard TRK1 keyboard
  keyboards/trkeyboards/trk1/keyboard.json
  keyboards/trkeyboards/trk1/keymaps/default/keymap.c
  keyboards/trkeyboards/trk1/keymaps/default/rules.mk
  keyboards/trkeyboards/trk1/keymaps/via/keymap.c
  keyboards/trkeyboards/trk1/keymaps/via/rules.mk
  keyboards/trkeyboards/trk1/readme.md
Labels: keyboard, keymap, via

#23630 LED drivers: extract documentation from LED/RGB Matrix pages
  docs/drivers/aw20216s.md
  docs/drivers/is31fl3218.md
  docs/drivers/is31fl3236.md
  docs/drivers/is31fl3729.md
  docs/drivers/is31fl3731.md
  docs/drivers/is31fl3733.md
  docs/drivers/is31fl3736.md
  docs/drivers/is31fl3737.md
  docs/drivers/is31fl3741.md
  docs/drivers/is31fl3742a.md
  docs/drivers/is31fl3743a.md
  docs/drivers/is31fl3745.md
  docs/drivers/is31fl3746a.md
  docs/drivers/snled27351.md
  docs/features/led_matrix.md
  docs/features/rgb_matrix.md
Labels: enhancement, documentation, awaiting review, develop-fast-track, breaking_change_2024q3

#23437 [Keyboard] Whitefacemountain Ampersand
  keyboards/whitefacemountain/ampersand/keyboard.json
  keyboards/whitefacemountain/ampersand/keymaps/default/keymap.c
  keyboards/whitefacemountain/ampersand/readme.md
Labels: keyboard, keymap

#22972 Add MMkeyboard Class60
  keyboards/mmkeyboard/class60/soldered/config.h
  keyboards/mmkeyboard/class60/soldered/halconf.h
  keyboards/mmkeyboard/class60/soldered/keyboard.json
  keyboards/mmkeyboard/class60/soldered/keymaps/default/keymap.c
  keyboards/mmkeyboard/class60/soldered/keymaps/via/keymap.c
  keyboards/mmkeyboard/class60/soldered/keymaps/via/rules.mk
  keyboards/mmkeyboard/class60/soldered/mcuconf.h
  keyboards/mmkeyboard/class60/soldered/readme.md
  keyboards/mmkeyboard/class60/soldered/rules.mk
  keyboards/mmkeyboard/class60/soldered/soldered.c
Labels: keyboard, keymap, via

#24118 `checkerboards/pursuit40`: adjust layout name
  keyboards/checkerboards/pursuit40/keyboard.json
  keyboards/checkerboards/pursuit40/keymaps/default/keymap.c
  keyboards/checkerboards/pursuit40/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#24119 `checkerboards/axon40`: adjust layout name
  keyboards/checkerboards/axon40/keyboard.json
  keyboards/checkerboards/axon40/keymaps/default/keymap.c
  keyboards/checkerboards/axon40/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#23183 Add matchstickworks normiepad
  keyboards/matchstickworks/info.json
  keyboards/matchstickworks/normiepad/keyboard.json
  keyboards/matchstickworks/normiepad/keymaps/default/keymap.c
  keyboards/matchstickworks/normiepad/keymaps/via/keymap.c
  keyboards/matchstickworks/normiepad/keymaps/via/rules.mk
  keyboards/matchstickworks/normiepad/readme.md
Labels: keyboard, keymap, via

#24117 `matrix/noah`: move RGB Matrix LED config to data driven
  keyboards/matrix/noah/config.h
  keyboards/matrix/noah/keyboard.json
  keyboards/matrix/noah/noah.c
Labels: enhancement, keyboard

#24120 Add support for key override introspection.
  docs/ChangeLog/PR24120.md
  docs/features/key_overrides.md
  quantum/keymap_introspection.c
  quantum/keymap_introspection.h
  quantum/process_keycode/process_key_override.c
  quantum/process_keycode/process_key_override.h
Labels: core, documentation

#24121 Skelett40
  keyboards/novelkeys/skelett40/keyboard.json
  keyboards/novelkeys/skelett40/keymaps/default/keymap.c
  keyboards/novelkeys/skelett40/keymaps/via/keymap.c
  keyboards/novelkeys/skelett40/keymaps/via/rules.mk
  keyboards/novelkeys/skelett40/readme.md
  keyboards/novelkeys/skelett40/rules.mk
  keyboards/novelkeys/skelett40/skelett40.c
Labels: keyboard, keymap, via

#24133 Remove pointless `RGB_MATRIX_LED_COUNT`s
  keyboards/boston_meetup/2019/config.h
  keyboards/doio/kb30/config.h
  keyboards/ferris/0_2/bling/bling.c
  keyboards/ferris/0_2/bling/config.h
  keyboards/ferris/0_2/bling/keyboard.json
  keyboards/horrortroll/handwired_k552/config.h
  keyboards/work_louder/work_board/config.h
Labels: enhancement, keyboard

#24130 Avoid path issues with `qmk flash` on Windows
  lib/python/qmk/flashers.py
Labels: bug, python, cli

#23439 [WIP] Adds bus acquire/release semantics to SPI start/stop.
  platforms/chibios/drivers/spi_master.c
Labels: in progress, core

#24127 Move split.soft_serial_pin to split.serial.pin
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  keyboards/zvecr/zv48/info.json
  lib/python/qmk/info.py
Labels: optimization, keyboard, documentation, python, cli, dd

#24139 `amjkeyboard/amj60`: reduce firmware size
  keyboards/amjkeyboard/amj60/keyboard.json
Labels: enhancement, keyboard

#24143 Migrate half-duplex `SERIAL_USART_TX_PIN` to DD
  keyboards/chew/config.h
  keyboards/chew/keyboard.json
  keyboards/keychron/q11/config.h
  keyboards/keychron/q11/info.json
  keyboards/mlego/m60_split/rev1/config.h
  keyboards/mlego/m60_split/rev1/keyboard.json
  keyboards/mlego/m60_split/rev2/config.h
  keyboards/mlego/m60_split/rev2/keyboard.json
  keyboards/pica40/rev2/config.h
  keyboards/pica40/rev2/keyboard.json
Labels: optimization, keyboard

#24140 `vertex/angler2`: reduce firmware size
  keyboards/vertex/angler2/keyboard.json
Labels: enhancement, keyboard

#24122 Move LED Matrix LED config to data driven
  keyboards/clueboard/66_hotswap/gen1/gen1.c
  keyboards/clueboard/66_hotswap/gen1/keyboard.json
  keyboards/input_club/ergodox_infinity/ergodox_infinity.c
  keyboards/input_club/ergodox_infinity/keyboard.json
  keyboards/input_club/infinity60/led/keyboard.json
  keyboards/input_club/whitefox/keyboard.json
  keyboards/input_club/whitefox/whitefox.c
  keyboards/keychron/c1_pro/ansi/white/keyboard.json
  keyboards/keychron/c2_pro/ansi/white/keyboard.json
  keyboards/keychron/s1/ansi/white/keyboard.json
  keyboards/keychron/s1/ansi/white/white.c
  keyboards/mechlovin/olly/jf/rev2/keyboard.json
  keyboards/mechlovin/olly/jf/rev2/rev2.c
  keyboards/mechlovin/zed65/mono_led/keyboard.json
  keyboards/mechlovin/zed65/mono_led/mono_led.c
  keyboards/terrazzo/keyboard.json
  keyboards/terrazzo/terrazzo.c
Labels: enhancement, keyboard

#24152 `clueboard/66/rev3`: reduce firmware size
  keyboards/clueboard/66/rev3/keyboard.json
Labels: enhancement, keyboard

#24150 `pixelspace/capsule65i`: reduce firmware size
  keyboards/pixelspace/capsule65i/keyboard.json
Labels: enhancement, keyboard

#24149 `kopibeng/xt60`/`xt60_singa`: reduce firmware size
  keyboards/kopibeng/xt60/keyboard.json
  keyboards/kopibeng/xt60/keymaps/default/keymap.c
  keyboards/kopibeng/xt60/keymaps/via/keymap.c
  keyboards/kopibeng/xt60_singa/keyboard.json
  keyboards/kopibeng/xt60_singa/keymaps/default/keymap.c
  keyboards/kopibeng/xt60_singa/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#24138 `keychron/q2`: fix RGB Matrix config for JIS variant
  keyboards/keychron/q2/jis/config.h
  keyboards/keychron/q2/jis/keyboard.json
  keyboards/keychron/q2/jis_encoder/config.h
  keyboards/keychron/q2/jis_encoder/keyboard.json
Labels: bug, keyboard

#24158 Remove incorrect use of split.main
  keyboards/aidansmithdotdev/sango/keyboard.json
  keyboards/takashicompany/heavy_left/keyboard.json
Labels: bug, keyboard

#24159 `handwired/tractyl_manuform/5x6_right/arduinomicro`: reduce size
  keyboards/handwired/tractyl_manuform/5x6_right/arduinomicro/keyboard.json
Labels: enhancement, keyboard

#24160 `mechlovin/delphine/rgb_led`: reduce size
  keyboards/mechlovin/delphine/rgb_led/keyboard.json
Labels: enhancement, keyboard

#24161 `mwstudio/mw75`: reduce size
  keyboards/mwstudio/mw75/keyboard.json
  keyboards/mwstudio/mw75/keymaps/default/keymap.c
  keyboards/mwstudio/mw75/keymaps/via/keymap.c
Labels: enhancement, keyboard, keymap, via

#24164 Fix build failures noticed in #24163 CI log.
  keyboards/dailycraft/claw44/keymaps/oled/config.h
  keyboards/handwired/dactyl_minidox/keymaps/dlford/rules.mk
  keyboards/jian/keymaps/left_hand/keymap.c
  keyboards/sofle/keymaps/rgb_default/config.h
Labels: keymap

#24148 Keycult TKL
  keyboards/keycult/keycult_tkl/keyboard.json
  keyboards/keycult/keycult_tkl/keymaps/default/keymap.c
  keyboards/keycult/keycult_tkl/keymaps/via/keymap.c
  keyboards/keycult/keycult_tkl/keymaps/via/rules.mk
  keyboards/keycult/keycult_tkl/readme.md
  keyboards/keycult/keycult_tkl/rules.mk
Labels: keyboard, keymap, via

#24168 `handwired/hnah108`: reduce firmware size
  keyboards/handwired/hnah108/keyboard.json
Labels: enhancement, keyboard

#24169 `doro67/rgb`: reduce firmware size
  keyboards/doro67/rgb/keyboard.json
Labels: enhancement, keyboard

#24170 `rubi`: reduce firmware size
  keyboards/rubi/keyboard.json
Labels: enhancement, keyboard

#24171 `melgeek/mojo68/rev1`: reduce firmware size
  keyboards/melgeek/mojo68/rev1/keyboard.json
Labels: enhancement, keyboard

#24177 `merge/um80`: reduce firmware size
  keyboards/merge/um80/keyboard.json
Labels: enhancement, keyboard

#24182 [docs] update serial.md
  docs/drivers/serial.md
Labels: documentation

#24180 Rename EC Type-K
  keyboards/cipulot/ec_typek/config.h
  keyboards/cipulot/ec_typek/keyboard.json
Labels: keyboard

#24178 `meme`: adjust layout names
  keyboards/meme/keyboard.json
  keyboards/meme/keymaps/default/keymap.c
Labels: enhancement, keyboard, keymap

#24179 `kingly_keys/ave`: adjust layout names
  keyboards/kingly_keys/ave/ortho/keyboard.json
  keyboards/kingly_keys/ave/ortho/keymaps/default/keymap.c
  keyboards/kingly_keys/ave/staggered/keyboard.json
  keyboards/kingly_keys/ave/staggered/keymaps/default/keymap.c
Labels: enhancement, keyboard, keymap

#23881 Check LED flags for Pixel Fractal effect
  quantum/rgb_matrix/animations/pixel_fractal_anim.h
Labels: core

#24188 Update to automatic-approve-action fork
  .github/workflows/auto_approve.yml
Labels: enhancement, CI

#24038 [CLI] Only generate files if contents change.
  lib/python/qmk/commands.py
Labels: python, cli

#24192 Rename promicro_rp2040 converter to sparkfun_pm2040
  docs/ChangeLog/20240825/PR24192.md
  docs/feature_converters.md
  platforms/chibios/converters/promicro_to_promicro_rp2040/pre_converter.mk
  platforms/chibios/converters/promicro_to_sparkfun_pm2040/_pin_defs.h
  platforms/chibios/converters/promicro_to_sparkfun_pm2040/converter.mk
Labels: core, documentation

#24199 Fix Reverb lockup when using GCC14
  keyboards/dasky/reverb/graphics/display.c
Labels: keyboard

#22670 refactor: keyboard/ncr80/r2
  data/mappings/keyboard_aliases.hjson
  keyboards/mt/ncr80/hotswap/keyboard.json
  keyboards/mt/ncr80/hotswap/keymaps/via/keymap.c
  keyboards/mt/ncr80/hotswap/readme.md
  keyboards/mt/ncr80/info.json
  keyboards/mt/ncr80/r2/hotswap/keyboard.json
  keyboards/mt/ncr80/r2/hotswap/keymaps/default/keymap.c
  keyboards/mt/ncr80/r2/hotswap/keymaps/via/keymap.c
  keyboards/mt/ncr80/r2/hotswap/keymaps/via/rules.mk
  keyboards/mt/ncr80/r2/info.json
  keyboards/mt/ncr80/r2/solder/keyboard.json
  keyboards/mt/ncr80/r2/solder/keymaps/default/keymap.c
  keyboards/mt/ncr80/r2/solder/keymaps/default_tkl_ansi/keymap.c
  keyboards/mt/ncr80/r2/solder/keymaps/default_tkl_iso/keymap.c
  keyboards/mt/ncr80/r2/solder/keymaps/via/keymap.c
  keyboards/mt/ncr80/r2/solder/keymaps/via/rules.mk
  keyboards/mt/ncr80/readme.md
  keyboards/mt/ncr80/rules.mk
  keyboards/mt/ncr80/solder/keyboard.json
  keyboards/mt/ncr80/solder/readme.md
Labels: keyboard, keymap, via, dd

#24201 Remove duplicate calls to `housekeeping_task_user`
  keyboards/1upkeyboards/1upslider8/1upslider8.c
  keyboards/boardsource/equals/equals.c
  keyboards/hardwareabstraction/handwire/handwire.c
  keyboards/neson_design/700e/700e.c
  keyboards/neson_design/n6/n6.c
  keyboards/pica40/rev1/rev1.c
  keyboards/pica40/rev2/rev2.c
  keyboards/stront/stront.c
Labels: bug, keyboard

#24200 Refactor use of `matrix_scan_kb`
  keyboards/capsunlocked/cu75/cu75.c
  keyboards/clueboard/2x1800/2019/2019.c
  keyboards/clueboard/2x1800/2021/2021.c
  keyboards/custommk/evo70/evo70.c
  keyboards/fallacy/fallacy.c
  keyboards/gboards/butterstick/butterstick.c
  keyboards/handwired/promethium/promethium.c
  keyboards/hotdox76v2/hotdox76v2.c
  keyboards/jones/v03/matrix.c
  keyboards/jones/v03_1/matrix.c
  keyboards/lfkeyboards/lfk78/lfk78.c
  keyboards/lfkeyboards/lfk87/lfk87.c
  keyboards/lfkeyboards/lfkpad/lfkpad.c
  keyboards/lfkeyboards/mini1800/mini1800.c
  keyboards/lfkeyboards/smk65/revb/revb.c
  keyboards/makeymakey/makeymakey.c
  keyboards/matrix/m20add/m20add.c
  keyboards/mlego/m65/m65.c
  keyboards/owlab/spring/spring.c
  keyboards/system76/launch_1/launch_1.c
  keyboards/woodkeys/bigseries/1key/1key.c
  keyboards/woodkeys/bigseries/2key/2key.c
  keyboards/woodkeys/bigseries/3key/3key.c
  keyboards/woodkeys/meira/meira.c
Labels: optimization, keyboard

#24206 Remove AVR GCC version warning
  lib/python/qmk/cli/doctor/check.py
Labels: python, cli

#24215 Eliminate use of `#include "../default/keymap.c"`.
  keyboards/helix/rev2/keymaps/led_test/keymap.c
  keyboards/wilba_tech/rama_works_kara/keymaps/via/keymap.c
  keyboards/wilba_tech/rama_works_m50_a/keymaps/via/keymap.c
  keyboards/wilba_tech/rama_works_m50_ax/keymaps/via/keymap.c
  keyboards/wilba_tech/wt20_h1/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_g/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_g2/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_h1/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_h2/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_h3/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_d/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_f/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_fx/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_g/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_g2/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_g3/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_h1/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_h2/keymaps/via/keymap.c
  keyboards/wilba_tech/wt65_h3/keymaps/via/keymap.c
  keyboards/wilba_tech/wt70_jb/keymaps/via/keymap.c
  keyboards/wilba_tech/wt80_g/keymaps/via/keymap.c
Labels: keymap, via

#24217 Fix for layout options not being applied
  keyboards/cipulot/ec_60x/keymaps/via/config.h
Labels: keymap, via

#23776 [Keyboard] Add archerkeyboard/desire65
  keyboards/archerkeyboard/desire65/keyboard.json
  keyboards/archerkeyboard/desire65/keymaps/default/keymap.c
  keyboards/archerkeyboard/desire65/keymaps/via/keymap.c
  keyboards/archerkeyboard/desire65/keymaps/via/rules.mk
  keyboards/archerkeyboard/desire65/readme.md
Labels: keyboard, keymap, via
