Repository qmk/qmk_firmware, pull requests merged in 2024-10, with the labels that each got.

#24044 Add KB09-01 keyboard
  keyboards/doio/kb09/keyboard.json
  keyboards/doio/kb09/keymaps/default/keymap.c
  keyboards/doio/kb09/readme.md
Labels: keyboard, keymap, via

#24099 Add atset AT2 keyboard
  keyboards/atset/at2/keyboard.json
  keyboards/atset/at2/keymaps/default/keymap.c
  keyboards/atset/at2/readme.md
Labels: keyboard, keymap, via

#24434 NK Classic TKL ISO
  keyboards/novelkeys/nk_classic_tkl_iso/config.h
  keyboards/novelkeys/nk_classic_tkl_iso/halconf.h
  keyboards/novelkeys/nk_classic_tkl_iso/keyboard.json
  keyboards/novelkeys/nk_classic_tkl_iso/keymaps/default/keymap.c
  keyboards/novelkeys/nk_classic_tkl_iso/mcuconf.h
  keyboards/novelkeys/nk_classic_tkl_iso/readme.md
  keyboards/novelkeys/nk_classic_tkl_iso/rules.mk
Labels: keyboard, keymap

#24428 Remove binary blobs from optical sensors.
  drivers/sensors/adns9800.c
  drivers/sensors/adns9800_srom_A6.h
  drivers/sensors/pmw3360.c
  drivers/sensors/pmw3389.c
  drivers/sensors/pmw3389.h
  drivers/sensors/pmw33xx_common.c
Labels: core

#24376 Add easier way to set default single layer
  docs/feature_layers.md
  docs/ref_functions.md
  quantum/quantum.c
  quantum/quantum.h
Labels: core, documentation

#24308 Install `dnf copr` plugin if not present (i.e. docker containers).
  util/install/fedora.sh
Labels: core

#24053 Allow for `get_hardware_id()` to be used for serial number.
  platforms/chibios/config.h
  tmk_core/protocol/usb_descriptor.c
Labels: core, stale

#24398 add USART configuration to config.h for PS/2 mouse support
  keyboards/pierce/config.h
Labels: keyboard

#24379 Tweak OS detect, add OS_DETECTION_SINGLE_REPORT
  docs/features/os_detection.md
  quantum/os_detection.c
Labels: core, documentation

#24293 `hotdox76v2`: Update g_led_config.matrix_co to fix key electrical matrix to led index lookup table.
  keyboards/hotdox76v2/hotdox76v2.c
Labels: keyboard

#24261 Update Janus keyboard firmware to use EE_HANDS
  keyboards/janus/config.h
  keyboards/janus/readme.md
Labels: keyboard

#24248 ibm/model_m/modelh: added ISO layout and keymap for Wheelwriter 10/15 keyboard modules
  keyboards/ibm/model_m/modelh/keyboard.json
  keyboards/ibm/model_m/modelh/keymaps/wheelwriter_1x_iso/keymap.c
  keyboards/ibm/model_m/modelh/readme.md
Labels: keymap

#24084 [Keyboard] Corne rev4
  keyboards/crkbd/crkbd.c
  keyboards/crkbd/info.json
  keyboards/crkbd/keymaps/default/keymap.c
  keyboards/crkbd/post_config.h
  keyboards/crkbd/r2g/keyboard.json
  keyboards/crkbd/readme.md
  keyboards/crkbd/rev1/keyboard.json
  keyboards/crkbd/rev4_0/config.h
  keyboards/crkbd/rev4_0/info.json
  keyboards/crkbd/rev4_0/mcuconf.h
  keyboards/crkbd/rev4_0/mini/keyboard.json
  keyboards/crkbd/rev4_0/post_config.h
  keyboards/crkbd/rev4_0/standard/keyboard.json
  keyboards/crkbd/rev4_1/config.h
  keyboards/crkbd/rev4_1/info.json
  keyboards/crkbd/rev4_1/mcuconf.h
  keyboards/crkbd/rev4_1/mini/keyboard.json
  keyboards/crkbd/rev4_1/post_config.h
  keyboards/crkbd/rev4_1/standard/keyboard.json
Labels: keyboard, keymap, via

#23800 Added a new keyboard ThumbsUp! v9 with a default keymap
  keyboards/thumbsup/keymaps/default/keymap.c
  keyboards/thumbsup/keymaps/default/rules.mk
  keyboards/thumbsup/rev9_promicro_4x12/config.h
  keyboards/thumbsup/rev9_promicro_4x12/keyboard.json
  keyboards/thumbsup/rev9_promicro_4x12/readme.md
  keyboards/thumbsup/rev9_promicro_4x12/rules.mk
Labels: keyboard, keymap, stale

#24422 Extended wheel reports
  docs/features/pointing_device.md
  quantum/pointing_device/pointing_device.c
  quantum/pointing_device/pointing_device.h
  quantum/pointing_device/pointing_device_drivers.c
  tmk_core/protocol/report.h
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/vusb/vusb.c
Labels: core, documentation

#23936 Add keyboard Jris65
  keyboards/mykeyclub/jris65/hotswap/keyboard.json
  keyboards/mykeyclub/jris65/keymaps/default/keymap.json
  keyboards/mykeyclub/jris65/readme.md
  keyboards/mykeyclub/readme.md
Labels: keyboard, keymap, via

#24459 Fix `thumbsup:default` keymap
  keyboards/thumbsup/keymaps/default/keymap.c
  keyboards/thumbsup/keymaps/default/rules.mk
Labels: bug, keymap

#23012 Fix Caps Lock indication on Valhalla v2
  keyboards/noxary/valhalla_v2/valhalla_v2.c
Labels: keyboard, awaiting review, stale

#22963 add ergodox Community Layout for LAYOUT_ergodox keyboards
  keyboards/ergodox_stm32/keyboard.json
  keyboards/phoenix/keyboard.json
Labels: keyboard

#24462 Fix indicator code for NK classics
  keyboards/novelkeys/nk_classic_tkl/keymaps/default/keymap.c
  keyboards/novelkeys/nk_classic_tkl_iso/keymaps/default/keymap.c
Labels: keymap

#24466 Fixup Lily58 keymap comment
  keyboards/lily58/keymaps/default/keymap.c
Labels: keymap

#24464 Expand count checks in keymap introspection
  quantum/keymap_introspection.c
Labels: core

#24247 [Keyboard] Add Piantor UV 44
  keyboards/piantoruv44/config.h
  keyboards/piantoruv44/keyboard.json
  keyboards/piantoruv44/keymaps/default/keymap.c
  keyboards/piantoruv44/readme.md
Labels: keyboard, keymap, via

#23953 Add Ploopyco functions for host state control
  keyboards/ploopyco/ploopyco.c
  keyboards/ploopyco/ploopyco.h
  keyboards/ploopyco/readme.md
Labels: keyboard

#23938 Add Scotto37 handwired keyboard
  keyboards/handwired/scottokeebs/scotto37/keyboard.json
  keyboards/handwired/scottokeebs/scotto37/keymaps/default/config.h
  keyboards/handwired/scottokeebs/scotto37/keymaps/default/keymap.c
  keyboards/handwired/scottokeebs/scotto37/readme.md
Labels: keyboard, keymap

#23807 fix hotdox76v2 oled font to more closely mirror utf8
  keyboards/hotdox76v2/hotdox76v2.c
  keyboards/hotdox76v2/oled_font_lib/ext_font.h
Labels: keyboard

#24472 `mykeyclub/jris65/hotswap`: fix keymap
  keyboards/mykeyclub/jris65/keymaps/default/keymap.json
Labels: bug, keymap

#24474 Fix duplication of core `GU_TOGG` keycode
  keyboards/blackplum/keymaps/default/keymap.c
Labels: keymap

#24473 Fix rendering of `keymap_config.no_gui` within `led_update_kb`
  keyboards/akko/5108/5108.c
  keyboards/monsgeek/m5/m5.c
Labels: keyboard

#24471 Rename RGB and HSV structs
  drivers/led/apa102.c
  drivers/painter/generic/qp_surface_rgb565.c
  drivers/painter/tft_panel/qp_tft_panel.c
  quantum/color.c
  quantum/color.h
  quantum/rgb_matrix/animations/alpha_mods_anim.h
  quantum/rgb_matrix/animations/breathing_anim.h
  quantum/rgb_matrix/animations/colorband_pinwheel_sat_anim.h
  quantum/rgb_matrix/animations/colorband_pinwheel_val_anim.h
  quantum/rgb_matrix/animations/colorband_sat_anim.h
  quantum/rgb_matrix/animations/colorband_spiral_sat_anim.h
  quantum/rgb_matrix/animations/colorband_spiral_val_anim.h
  quantum/rgb_matrix/animations/colorband_val_anim.h
  quantum/rgb_matrix/animations/cycle_all_anim.h
  quantum/rgb_matrix/animations/cycle_left_right_anim.h
  quantum/rgb_matrix/animations/cycle_out_in_anim.h
  quantum/rgb_matrix/animations/cycle_out_in_dual_anim.h
  quantum/rgb_matrix/animations/cycle_pinwheel_anim.h
  quantum/rgb_matrix/animations/cycle_spiral_anim.h
  quantum/rgb_matrix/animations/cycle_up_down_anim.h
  quantum/rgb_matrix/animations/dual_beacon_anim.h
  quantum/rgb_matrix/animations/flower_blooming_anim.h
  quantum/rgb_matrix/animations/gradient_left_right_anim.h
  quantum/rgb_matrix/animations/gradient_up_down_anim.h
  quantum/rgb_matrix/animations/hue_breathing_anim.h
  quantum/rgb_matrix/animations/hue_pendulum_anim.h
  quantum/rgb_matrix/animations/hue_wave_anim.h
  quantum/rgb_matrix/animations/jellybean_raindrops_anim.h
  quantum/rgb_matrix/animations/pixel_flow_anim.h
  quantum/rgb_matrix/animations/pixel_fractal_anim.h
  quantum/rgb_matrix/animations/pixel_rain_anim.h
  quantum/rgb_matrix/animations/rainbow_beacon_anim.h
  quantum/rgb_matrix/animations/rainbow_moving_chevron_anim.h
  quantum/rgb_matrix/animations/rainbow_pinwheels_anim.h
  quantum/rgb_matrix/animations/raindrops_anim.h
  quantum/rgb_matrix/animations/riverflow_anim.h
  quantum/rgb_matrix/animations/runners/effect_runner_dx_dy.h
  quantum/rgb_matrix/animations/runners/effect_runner_dx_dy_dist.h
  quantum/rgb_matrix/animations/runners/effect_runner_i.h
  quantum/rgb_matrix/animations/runners/effect_runner_reactive.h
  quantum/rgb_matrix/animations/runners/effect_runner_reactive_splash.h
  quantum/rgb_matrix/animations/runners/effect_runner_sin_cos_i.h
  quantum/rgb_matrix/animations/solid_color_anim.h
  quantum/rgb_matrix/animations/solid_reactive_anim.h
  quantum/rgb_matrix/animations/solid_reactive_cross.h
  quantum/rgb_matrix/animations/solid_reactive_nexus.h
  quantum/rgb_matrix/animations/solid_reactive_simple_anim.h
  quantum/rgb_matrix/animations/solid_reactive_wide.h
  quantum/rgb_matrix/animations/solid_splash_anim.h
  quantum/rgb_matrix/animations/splash_anim.h
  quantum/rgb_matrix/animations/starlight_anim.h
  quantum/rgb_matrix/animations/starlight_dual_hue_anim.h
  quantum/rgb_matrix/animations/starlight_dual_sat_anim.h
  quantum/rgb_matrix/animations/typing_heatmap_anim.h
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix.h
  quantum/rgb_matrix/rgb_matrix_types.h
  quantum/rgblight/rgblight.c
  quantum/rgblight/rgblight.h
Labels: enhancement, core

#24467 Update combo user function variable
  docs/features/combo.md
  quantum/process_keycode/process_combo.c
Labels: core, documentation

#24449 Add svlinky converter
  data/mappings/defaults.hjson
  data/schemas/keyboard.jsonschema
  docs/feature_converters.md
  platforms/chibios/converters/promicro_to_svlinky/_pin_defs.h
  platforms/chibios/converters/promicro_to_svlinky/converter.mk
Labels: core, documentation, dd

#24475 zsa/moonlander: Fix execution of user callback
  keyboards/zsa/moonlander/moonlander.c
Labels: bug, keyboard

#24229 [Core] quantum: util: add bit and bitmask helpers
  quantum/bits.h
  quantum/util.h
Labels: core

#24476 Rename RGB/HSV structs: keyboard-level code
  docs/features/rgb_matrix.md
  keyboards/1k/keymaps/default/rgblite.h
  keyboards/bandominedoni/rgb_matrix_kb.inc
  keyboards/bastardkb/dilemma/3x5_3/3x5_3.c
  keyboards/chromatonemini/rgb_matrix_kb.inc
  keyboards/cipulot/ec_980c/ec_980c.c
  keyboards/gopolar/gg86/gg86.c
  keyboards/horrortroll/chinese_pcb/devil68_pro/keymaps/default/keymap.c
  keyboards/horrortroll/handwired_k552/keymaps/default/keymap_stuff.h
  keyboards/horrortroll/handwired_k552/keymaps/default/led/cool_diagonal.c
  keyboards/horrortroll/handwired_k552/keymaps/default/led/custom_gradient.c
  keyboards/horrortroll/handwired_k552/keymaps/default/led/flower_blooming/flower_blooming.c
  keyboards/horrortroll/handwired_k552/keymaps/default/led/flower_blooming/flower_blooming.h
  keyboards/horrortroll/handwired_k552/keymaps/default/led/kitt.c
  keyboards/horrortroll/handwired_k552/keymaps/default/led/random_breath_rainbow.c
  keyboards/horrortroll/nyx/rev1/lib/startup_swirl_anim.h
  keyboards/hs60/v1/v1.c
  keyboards/inland/kb83/kb83.c
  keyboards/matrix/m20add/rgb_ring.c
  keyboards/mechlovin/infinity875/keymaps/default/rgb_matrix_user.inc
  keyboards/ml/gas75/keymaps/default/keymap.c
  keyboards/mss_studio/m63_rgb/keymaps/default/keymap.c
  keyboards/mss_studio/m64_rgb/keymaps/default/keymap.c
  keyboards/neson_design/700e/700e.c
  keyboards/neson_design/n6/n6.c
  keyboards/percent/canoe_gen2/rgb_matrix_kb.inc
  keyboards/phage_studio/pila87/pila87.c
  keyboards/rgbkb/sol3/rev1/rev1.c
  keyboards/s_ol/0xc_pad/keymaps/default/rgb_matrix_user.inc
  keyboards/steelseries/prime_plus/rgblight_custom.c
  keyboards/system76/launch_1/rgb_matrix_kb.inc
  keyboards/system76/system76_ec.c
  keyboards/teleport/native/ansi/keymaps/default/keymap.c
  keyboards/teleport/native/iso/keymaps/default/keymap.c
  keyboards/teleport/native/rgb_matrix_kb.inc
  keyboards/tzarc/djinn/djinn.c
  keyboards/wekey/we27/rgb_matrix_kb.inc
  keyboards/wilba_tech/wt_mono_backlight.c
  keyboards/wilba_tech/wt_rgb_backlight.c
  keyboards/xelus/la_plus/rgb_matrix_kb.inc
  keyboards/xiudi/xd002/keymaps/multilayer_rgb/rgblite.h
  keyboards/yushakobo/quick17/quick17_prefs.h
  keyboards/yushakobo/quick17/rgb_matrix_kb.inc
Labels: enhancement, keyboard, keymap, documentation

#24479 keebio/nyquist: Remove invalid I2C config
  keyboards/keebio/nyquist/rev4/config.h
  keyboards/keebio/nyquist/rev5/config.h
Labels: bug, keyboard

#24480 xiudi/xd002: Remove broken oversized `multilayer_rgb` keymap
  keyboards/xiudi/xd002/keymaps/multilayer_rgb/config.h
  keyboards/xiudi/xd002/keymaps/multilayer_rgb/keymap.c
  keyboards/xiudi/xd002/keymaps/multilayer_rgb/rgblite.h
  keyboards/xiudi/xd002/keymaps/multilayer_rgb/rules.mk
Labels: keymap

#24481 horrortroll/nyx/rev1: Fix compilation of custom RGB effect
  keyboards/horrortroll/nyx/rev1/lib/startup_swirl_anim.h
Labels: bug, keyboard

#24482 Digitizer: fix units tag in report descriptor
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/vusb/vusb.c
Labels: bug, core

#24485 [Keyboard] Add JK60 RGB
  keyboards/jaykeeb/jk60rgb/jk60rgb.c
  keyboards/jaykeeb/jk60rgb/keyboard.json
  keyboards/jaykeeb/jk60rgb/keymaps/default/keymap.c
  keyboards/jaykeeb/jk60rgb/readme.md
Labels: keyboard, keymap

#24487 add vector macropad
  keyboards/arrayperipherals/vector/keyboard.json
  keyboards/arrayperipherals/vector/keymaps/default/keymap.c
  keyboards/arrayperipherals/vector/keymaps/default/rules.mk
  keyboards/arrayperipherals/vector/readme.md
Labels: keyboard, keymap

#24258 [Core] `usb_device_state`: consolidate usb state handling across implementations
  drivers/haptic/solenoid.c
  keyboards/kikoslab/ellora65/keyboard.json
  keyboards/rgbkb/pan/info.json
  keyboards/takashicompany/minidivide/keyboard.json
  keyboards/work_louder/loop/info.json
  quantum/action_util.c
  quantum/command.c
  quantum/haptic.c
  quantum/os_detection.c
  quantum/os_detection.h
  quantum/os_detection/tests/os_detection.cpp
  quantum/process_keycode/process_haptic.c
  tmk_core/protocol/chibios/chibios.c
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/host.h
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/report.c
  tmk_core/protocol/usb_device_state.c
  tmk_core/protocol/usb_device_state.h
  tmk_core/protocol/vusb/vusb.c
Labels: core, keyboard

#23805 Correct layouts/default/readme.md
  layouts/default/readme.md
Labels: keymap

#24502 [Bug] Fix compiliation issues with OS Detection
  quantum/os_detection.c
Labels: core

#24510 Add Iris LM series of keyboards
  keyboards/keebio/iris_lm/g1/config.h
  keyboards/keebio/iris_lm/g1/g1.c
  keyboards/keebio/iris_lm/g1/halconf.h
  keyboards/keebio/iris_lm/g1/keyboard.json
  keyboards/keebio/iris_lm/g1/mcuconf.h
  keyboards/keebio/iris_lm/g1/readme.md
  keyboards/keebio/iris_lm/info.json
  keyboards/keebio/iris_lm/k1/config.h
  keyboards/keebio/iris_lm/k1/halconf.h
  keyboards/keebio/iris_lm/k1/k1.c
  keyboards/keebio/iris_lm/k1/keyboard.json
  keyboards/keebio/iris_lm/k1/mcuconf.h
  keyboards/keebio/iris_lm/k1/readme.md
  keyboards/keebio/iris_lm/keymaps/default/keymap.c
  keyboards/keebio/iris_lm/keymaps/default/rules.mk
  keyboards/keebio/iris_lm/readme.md
Labels: keyboard, keymap

#24477 RGBLight: Improve RGB Test animation
  quantum/rgblight/rgblight.c
Labels: enhancement, core

#24135 [Keyboard] Add xdboards/recon keyboard
  keyboards/xdboards/recon/config.h
  keyboards/xdboards/recon/keyboard.json
  keyboards/xdboards/recon/keymaps/default/keymap.c
  keyboards/xdboards/recon/post_config.h
  keyboards/xdboards/recon/post_rules.mk
  keyboards/xdboards/recon/readme.md
  keyboards/xdboards/recon/recon.c
Labels: keyboard, keymap

#24505 [Keyboard] Add SIRIND Tomak79H
  keyboards/era/sirind/tomak79h/config.h
  keyboards/era/sirind/tomak79h/keyboard.json
  keyboards/era/sirind/tomak79h/keymaps/default/keymap.c
  keyboards/era/sirind/tomak79h/readme.md
  keyboards/era/sirind/tomak79h/tomak79h.c
Labels: keyboard, keymap

#24497 Add Vanguard65 Keyboard
  keyboards/keebfront/vanguard65/config.h
  keyboards/keebfront/vanguard65/keyboard.json
  keyboards/keebfront/vanguard65/keymaps/default/keymap.c
  keyboards/keebfront/vanguard65/keymaps/default/rules.mk
  keyboards/keebfront/vanguard65/readme.md
  keyboards/keebfront/vanguard65/rules.mk
Labels: keyboard, keymap, via

#23887 Add timer_save and _restore functions.
  platforms/avr/timer.c
  platforms/chibios/timer.c
  platforms/timer.h
Labels: core

#24445 Move pointing device driver code
  builddefs/common_features.mk
  drivers/sensors/adns5050.c
  drivers/sensors/adns5050.h
  drivers/sensors/adns9800.c
  drivers/sensors/adns9800.h
  drivers/sensors/analog_joystick.c
  drivers/sensors/analog_joystick.h
  drivers/sensors/azoteq_iqs5xx.c
  drivers/sensors/azoteq_iqs5xx.h
  drivers/sensors/cirque_pinnacle.c
  drivers/sensors/cirque_pinnacle.h
  drivers/sensors/paw3204.c
  drivers/sensors/paw3204.h
  drivers/sensors/pimoroni_trackball.c
  drivers/sensors/pimoroni_trackball.h
  drivers/sensors/pmw3320.c
  drivers/sensors/pmw3320.h
  drivers/sensors/pmw33xx_common.c
  drivers/sensors/pmw33xx_common.h
  quantum/pointing_device/pointing_device.c
  quantum/pointing_device/pointing_device.h
  quantum/pointing_device/pointing_device_drivers.c
  quantum/split_common/transactions.c
Labels: core

#24524 Add madjax_macropad keyboard
  keyboards/madjax_macropad/keyboard.json
  keyboards/madjax_macropad/keymaps/default/keymap.c
  keyboards/madjax_macropad/keymaps/default/rules.mk
  keyboards/madjax_macropad/readme.md
Labels: keyboard, keymap

#24520 Refactor Riverflow matrix effect with runner
  quantum/rgb_matrix/animations/riverflow_anim.h
Labels: core

#24532 Update Pixel Rain to respect LED range limits
  quantum/rgb_matrix/animations/pixel_rain_anim.h
Labels: core

#24535 Refactor Breathing effect with runner
  quantum/rgb_matrix/animations/breathing_anim.h
Labels: core

#24528 Improve consistency of syntax within `data/constants/keycodes`
  data/constants/keycodes/keycodes_0.0.1_midi.hjson
  data/constants/keycodes/keycodes_0.0.2_kb.hjson
  data/constants/keycodes/keycodes_0.0.2_midi.hjson
  data/constants/keycodes/keycodes_0.0.2_user.hjson
Labels: dd

#24508 Change default ARM hardware PWM WS2812 tick frequency to 800kHz
  keyboards/bastardkb/charybdis/3x5/blackpill/config.h
  keyboards/bastardkb/charybdis/3x6/blackpill/config.h
  keyboards/bastardkb/charybdis/4x6/blackpill/config.h
  keyboards/bastardkb/scylla/blackpill/config.h
  keyboards/bastardkb/skeletyl/blackpill/config.h
  keyboards/bastardkb/tbkmini/blackpill/config.h
  keyboards/handwired/macroboard/config.h
  keyboards/handwired/tractyl_manuform/5x6_right/f411/config.h
  keyboards/mode/m60h/config.h
  keyboards/mode/m60h_f/config.h
  keyboards/mode/m60s/config.h
  platforms/chibios/drivers/ws2812_pwm.c
Labels: core, keyboard

#24465 [Keyboard] Add S6xty PCB
  keyboards/trnthsn/s6xty/config.h
  keyboards/trnthsn/s6xty/halconf.h
  keyboards/trnthsn/s6xty/keyboard.json
  keyboards/trnthsn/s6xty/keymaps/default/keymap.c
  keyboards/trnthsn/s6xty/mcuconf.h
  keyboards/trnthsn/s6xty/readme.md
Labels: keyboard, keymap

#24540 Refactor LED Breathing effect with runner
  quantum/led_matrix/animations/breathing_anim.h
Labels: core

#24309 [Keyboard] Add Singa Kohaku
  keyboards/zeix/singa/kohaku/config.h
  keyboards/zeix/singa/kohaku/keyboard.json
  keyboards/zeix/singa/kohaku/keymaps/default/keymap.c
  keyboards/zeix/singa/kohaku/matrix_diagram.md
  keyboards/zeix/singa/kohaku/readme.md
Labels: keyboard, keymap

#24533 Handle `cli._subcommand.__name__` deprecation warning
  lib/python/qmk/decorators.py
Labels: bug, python, cli

#24550 Remove `appdirs` from `requirements.txt`
  requirements.txt
Labels: bug, cli

#24549 Handle 'MILCInterface' object has no attribute 'log_level' error
  lib/python/qmk/search.py
Labels: bug, python, cli

#24554 Bump minimum required Python version
  lib/python/qmk/cli/__init__.py
Labels: python, cli
