Repository qmk/qmk_firmware, pull requests merged in 2025-06, with the labels that each got.

#25317 Configure boards to use development_board - P
  keyboards/pabile/p18/keyboard.json
  keyboards/pabile/p20/ver1/keyboard.json
  keyboards/pabile/p20/ver2/keyboard.json
  keyboards/pabile/p40/keyboard.json
  keyboards/pabile/p40_ortho/keyboard.json
  keyboards/pabile/p42/keyboard.json
  keyboards/peej/tripel/info.json
  keyboards/peranekofactory/tone/rev1/keyboard.json
  keyboards/peranekofactory/tone/rev2/keyboard.json
  keyboards/pica40/rev1/keyboard.json
  keyboards/pimentoso/paddino02/rev1/keyboard.json
  keyboards/pimentoso/paddino02/rev2/left/keyboard.json
  keyboards/pimentoso/paddino02/rev2/right/keyboard.json
  keyboards/pimentoso/touhoupad/keyboard.json
  keyboards/pinky/3/keyboard.json
  keyboards/pinky/4/keyboard.json
  keyboards/plum47/keyboard.json
  keyboards/psuieee/pluto12/keyboard.json
  keyboards/pteron36/keyboard.json
Labels: keyboard

#25316 Configure boards to use development_board - R
  keyboards/rainkeebs/rainkeeb/keyboard.json
  keyboards/rart/rart4x4/keyboard.json
  keyboards/rart/rart67m/keyboard.json
  keyboards/rart/rartlite/keyboard.json
  keyboards/rart/rartpad/keyboard.json
  keyboards/rate/pistachio_mp/keyboard.json
  keyboards/recompile_keys/choco60/rev1/keyboard.json
  keyboards/recompile_keys/cocoa40/keyboard.json
  keyboards/recompile_keys/nomu30/rev1/keyboard.json
  keyboards/rect44/keyboard.json
  keyboards/redox_media/keyboard.json
  keyboards/reviung/reviung34/keyboard.json
  keyboards/reviung/reviung39/keyboard.json
  keyboards/reviung/reviung41/keyboard.json
  keyboards/reviung/reviung5/keyboard.json
  keyboards/reviung/reviung53/keyboard.json
  keyboards/rgbkb/zen/rev1/keyboard.json
  keyboards/rgbkb/zen/rev2/keyboard.json
  keyboards/rpiguy9907/southpaw66/keyboard.json
  keyboards/rura66/rev1/keyboard.json
  keyboards/ryanbaekr/rb1/keyboard.json
Labels: keyboard

#25335 More Yunzii notes regarding refusal to provide sources.
  docs/license_violations.md
Labels: documentation

#25013 add kinesis/kint32
  keyboards/kinesis/kint32/chconf.h
  keyboards/kinesis/kint32/config.h
  keyboards/kinesis/kint32/keyboard.json
  keyboards/kinesis/kint32/kint32.c
  keyboards/kinesis/kint32/mcuconf.h
  keyboards/kinesis/kint32/readme.md
Labels: keyboard

#25343 [tzarc/djinn] Include community modules in RGB naming.
  keyboards/1upkeyboards/pi50/pi50.c
  keyboards/tzarc/djinn/graphics/theme_djinn_default.c
Labels: bug, keyboard

#25344 Add `{rgb|led}_matrix_get_mode_name()`.
  docs/features/led_matrix.md
  docs/features/rgb_matrix.md
  keyboards/1upkeyboards/pi50/config.h
  keyboards/1upkeyboards/pi50/pi50.c
  keyboards/tzarc/djinn/config.h
  keyboards/tzarc/djinn/graphics/theme_djinn_default.c
  quantum/led_matrix/led_matrix.c
  quantum/led_matrix/led_matrix.h
  quantum/rgb_matrix/rgb_matrix.c
  quantum/rgb_matrix/rgb_matrix.h
Labels: core, keyboard, documentation

#25342 maple_computing/launchpad - Remove broken `default_rgb` keymap
  keyboards/maple_computing/launchpad/keymaps/default_rgb/config.h
  keyboards/maple_computing/launchpad/keymaps/default_rgb/keymap.c
  keyboards/maple_computing/launchpad/keymaps/default_rgb/readme.md
  keyboards/maple_computing/launchpad/keymaps/default_rgb/rules.mk
Labels: keymap

#25341 Configure boards to use development_board - LM
  keyboards/latincompass/latinpad/keyboard.json
  keyboards/lets_split/info.json
  keyboards/lily58/glow_enc/keyboard.json
  keyboards/lily58/light/keyboard.json
  keyboards/lily58/rev1/keyboard.json
  keyboards/lime/rev1/keyboard.json
  keyboards/machkeyboards/mach3/keyboard.json
  keyboards/makrosu/keyboard.json
  keyboards/manta60/keyboard.json
  keyboards/maple_computing/6ball/keyboard.json
  keyboards/maple_computing/christmas_tree/v2017/keyboard.json
  keyboards/maple_computing/launchpad/rev1/keyboard.json
  keyboards/maple_computing/minidox/rev1/keyboard.json
  keyboards/marksard/leftover30/keyboard.json
  keyboards/marksard/rhymestone/rev1/keyboard.json
  keyboards/maxipad/promicro/keyboard.json
  keyboards/mechwild/mokulua/mirrored/keyboard.json
  keyboards/mechwild/mokulua/standard/keyboard.json
  keyboards/mechwild/murphpad/keyboard.json
  keyboards/meow48/keyboard.json
  keyboards/merge/uc1/keyboard.json
  keyboards/minimacro5/keyboard.json
  keyboards/mint60/keyboard.json
  keyboards/mixi/keyboard.json
  keyboards/montsinger/rewind/keyboard.json
  keyboards/morizon/keyboard.json
  keyboards/mountainblocks/mb17/keyboard.json
Labels: keyboard

#25144 [Keyboard] Add splitkb.com's Halcyon Lily58 rev2
  keyboards/splitkb/halcyon/lily58/info.json
  keyboards/splitkb/halcyon/lily58/keymaps/default/keymap.json
  keyboards/splitkb/halcyon/lily58/keymaps/default/readme.md
  keyboards/splitkb/halcyon/lily58/readme.md
  keyboards/splitkb/halcyon/lily58/rev2/config.h
  keyboards/splitkb/halcyon/lily58/rev2/halconf.h
  keyboards/splitkb/halcyon/lily58/rev2/keyboard.json
  keyboards/splitkb/halcyon/lily58/rev2/mcuconf.h
  keyboards/splitkb/halcyon/lily58/rev2/rev2.c
Labels: keyboard, keymap

#23281 Remove `DEFAULT_FOLDER` handling
  Makefile
  data/mappings/info_rules.hjson
  docs/config_options.md
  lib/python/qmk/cli/ci/validate_aliases.py
  lib/python/qmk/cli/list/keyboards.py
  lib/python/qmk/cli/migrate.py
  lib/python/qmk/cli/resolve_alias.py
  lib/python/qmk/info.py
  lib/python/qmk/keyboard.py
  lib/python/qmk/path.py
Labels: enhancement, core, documentation, python, cli, dd, breaking_change_2025q3

#25291 Migrate remaining `DEFAULT_FOLDER` to keyboard aliases
  data/mappings/keyboard_aliases.hjson
  keyboards/cannonkeys/satisfaction75/rules.mk
  keyboards/converter/adb_usb/rules.mk
  keyboards/converter/sun_usb/rules.mk
  keyboards/converter/usb_usb/rules.mk
  keyboards/durgod/dgk6x/rules.mk
  keyboards/ergodox_ez/rules.mk
  keyboards/ferris/0_2/rules.mk
  keyboards/handwired/dygma/raise/rules.mk
  keyboards/helix/pico/rules.mk
  keyboards/helix/rev2/rules.mk
  keyboards/helix/rules.mk
  keyboards/ibm/model_m/mschwingen/rules.mk
  keyboards/mechwild/sugarglider/rules.mk
  keyboards/mechwild/sugarglider/wide_oled/rules.mk
  keyboards/novelkeys/nk65/rules.mk
  keyboards/redox/rules.mk
  keyboards/sirius/uni660/rev2/rules.mk
  keyboards/tzarc/djinn/rules.mk
  keyboards/tzarc/ghoul/rules.mk
Labels: keyboard, dd

#25354 Specify language standard when generating compilation database.
  lib/python/qmk/compilation_database.py
Labels: bug, python, cli

#24847 Add keyboard Lily58 Koca
  keyboards/koca58/board.h
  keyboards/koca58/config.h
  keyboards/koca58/halconf.h
  keyboards/koca58/keyboard.json
  keyboards/koca58/keymaps/default/keymap.c
  keyboards/koca58/mcuconf.h
  keyboards/koca58/readme.md
Labels: keyboard, keymap

#22918 Add first support for Protagonist PCBs
  keyboards/wiredin/protagonist/pro_h/config.h
  keyboards/wiredin/protagonist/pro_h/halconf.h
  keyboards/wiredin/protagonist/pro_h/keyboard.json
  keyboards/wiredin/protagonist/pro_h/keymaps/default/keymap.c
  keyboards/wiredin/protagonist/pro_h/mcuconf.h
  keyboards/wiredin/protagonist/pro_s/config.h
  keyboards/wiredin/protagonist/pro_s/halconf.h
  keyboards/wiredin/protagonist/pro_s/keyboard.json
  keyboards/wiredin/protagonist/pro_s/keymaps/default/keymap.c
  keyboards/wiredin/protagonist/pro_s/mcuconf.h
  keyboards/wiredin/protagonist/readme.md
Labels: keyboard, keymap, stale

#25355 More compiledb fixes.
  .clangd
  lib/python/qmk/compilation_database.py
  platforms/avr/_wait.h
Labels: core, python, cli

#25370 Configure boards to use development_board - FGHIJ
  keyboards/ffkeebs/puca/keyboard.json
  keyboards/flehrad/numbrero/keyboard.json
  keyboards/flehrad/snagpad/keyboard.json
  keyboards/flehrad/tradestation/keyboard.json
  keyboards/for_science/keyboard.json
  keyboards/fr4/southpaw75/keyboard.json
  keyboards/fr4/unix60/keyboard.json
  keyboards/fractal/keyboard.json
  keyboards/free_willy/keyboard.json
  keyboards/fungo/rev1/keyboard.json
  keyboards/funky40/keyboard.json
  keyboards/gl516/a52gl/keyboard.json
  keyboards/gl516/j73gl/keyboard.json
  keyboards/gl516/n51gl/keyboard.json
  keyboards/gowla/keyboard.json
  keyboards/halfcliff/keyboard.json
  keyboards/hifumi/keyboard.json
  keyboards/horizon/keyboard.json
  keyboards/ibnuda/alicia_cook/keyboard.json
  keyboards/ibnuda/gurindam/keyboard.json
  keyboards/ibnuda/squiggle/rev1/keyboard.json
  keyboards/ivndbt/late9/rev1/keyboard.json
  keyboards/ivndbt/neopad/rev1/keyboard.json
  keyboards/jiran/info.json
  keyboards/jorne/rev1/keyboard.json
Labels: keyboard

#25369 Configure boards to use development_board - DE
  keyboards/dailycraft/bat43/info.json
  keyboards/dailycraft/claw44/rev1/keyboard.json
  keyboards/dailycraft/sandbox/rev1/keyboard.json
  keyboards/dailycraft/sandbox/rev2/keyboard.json
  keyboards/dailycraft/wings42/rev1/keyboard.json
  keyboards/dailycraft/wings42/rev1_extkeys/keyboard.json
  keyboards/dailycraft/wings42/rev2/keyboard.json
  keyboards/delikeeb/flatbread60/keyboard.json
  keyboards/delikeeb/vaneela/keyboard.json
  keyboards/delikeeb/vaneelaex/keyboard.json
  keyboards/deltasplit75/v2/keyboard.json
  keyboards/dm9records/ergoinu/keyboard.json
  keyboards/doodboard/duckboard/keyboard.json
  keyboards/doodboard/duckboard_r2/keyboard.json
  keyboards/draculad/keyboard.json
  keyboards/drhigsby/bkf/keyboard.json
  keyboards/drhigsby/dubba175/keyboard.json
  keyboards/drhigsby/ogurec/info.json
  keyboards/drhigsby/packrat/keyboard.json
  keyboards/dumbo/keyboard.json
  keyboards/dumbpad/v0x/keyboard.json
  keyboards/dumbpad/v0x_dualencoder/keyboard.json
  keyboards/dumbpad/v0x_right/keyboard.json
  keyboards/dumbpad/v1x/keyboard.json
  keyboards/dumbpad/v1x_dualencoder/keyboard.json
  keyboards/dumbpad/v1x_oled/keyboard.json
  keyboards/dumbpad/v1x_right/keyboard.json
  keyboards/dumbpad/v3x/keyboard.json
  keyboards/earth_rover/keyboard.json
  keyboards/eco/info.json
  keyboards/elephant42/keyboard.json
  keyboards/emajesty/eiri/keyboard.json
  keyboards/emptystring/nqg/keyboard.json
  keyboards/ergoslab/rev1/keyboard.json
  keyboards/ergotravel/rev1/keyboard.json
  keyboards/evancookaudio/sleepingdinosaur/keyboard.json
  keyboards/evancookaudio/tenpad/keyboard.json
Labels: keyboard

#25373 Fix Enter key matrix coordinates for smk65/revf ISO layout
  keyboards/lfkeyboards/smk65/revf/keyboard.json
Labels: bug, keyboard

#25174 Add YodaDistro Macropad
  keyboards/handwired/yodadistro/macro/keyboard.json
  keyboards/handwired/yodadistro/macro/keymaps/default/keymap.json
  keyboards/handwired/yodadistro/macro/readme.md
Labels: keyboard, keymap

#25394 [docs] Change GUI key references to "Meta" -> "Super"
  docs/keycodes.md
  docs/keycodes_basic.md
  docs/mod_tap.md
Labels: enhancement, documentation

#25396 ymdk/id75: fix keymap
  keyboards/ymdk/id75/keymaps/default/keymap.json
Labels: bug, keymap

#25400 Fix inverted encoder on Inland KB83
  keyboards/inland/kb83/keyboard.json
  keyboards/inland/kb83/keymaps/default/keymap.c
  keyboards/inland/kb83/keymaps/default/rules.mk
Labels: keyboard, keymap

#25416 Update link to AW20216S datasheet
  docs/drivers/aw20216s.md
Labels: bug, documentation

#25383 Add MATRIX_MASKED DD config
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  docs/reference_info_json.md
  lib/python/qmk/cli/generate/config_h.py
  lib/python/qmk/info.py
Labels: documentation, python, cli, dd

#24898 [Keyboard] Add support S6xty Tsangan
  keyboards/trnthsn/s6xtyfs/config.h
  keyboards/trnthsn/s6xtyfs/halconf.h
  keyboards/trnthsn/s6xtyfs/info.json
  keyboards/trnthsn/s6xtyfs/keymaps/default/keymap.c
  keyboards/trnthsn/s6xtyfs/mcuconf.h
  keyboards/trnthsn/s6xtyfs/readme.md
  keyboards/trnthsn/s6xtyfs/s6xtyfs.c
  keyboards/trnthsn/s6xtyfs/stm32f072/keyboard.json
  keyboards/trnthsn/s6xtyfs/stm32f103/keyboard.json
Labels: keyboard, keymap, stale

#25357 Fix link - users folder now empty on default branch
  docs/feature_userspace.md
Labels: documentation

#25160 Update franky36 pid and vid
  keyboards/handwired/franky36/keyboard.json
Labels: keyboard

#25399 Clean up mod & mod-tap shortcuts
  docs/feature_advanced_keycodes.md
  docs/keycodes.md
  docs/mod_tap.md
  quantum/quantum_keycodes.h
  quantum/quantum_keycodes_legacy.h
Labels: enhancement, core, documentation

#25423 Fix `keebio/quefrency/rev1:default60`
  keyboards/keebio/quefrency/rev1/keyboard.json
Labels: bug, keyboard

#25217 Added new togkey keyboards: pad and pad plus
  keyboards/togkey/pad/keyboard.json
  keyboards/togkey/pad/keymaps/default/keymap.c
  keyboards/togkey/pad/readme.md
  keyboards/togkey/pad_plus/config.h
  keyboards/togkey/pad_plus/keyboard.json
  keyboards/togkey/pad_plus/keymaps/default/keymap.c
  keyboards/togkey/pad_plus/pad_plus.c
  keyboards/togkey/pad_plus/readme.md
Labels: keyboard, keymap

#25421 Configure boards to use development_board - K
  keyboards/kakunpc/angel17/info.json
  keyboards/kakunpc/rabbit_capture_plan/keyboard.json
  keyboards/kapl/rev1/keyboard.json
  keyboards/keaboard/rev1/keyboard.json
  keyboards/keebformom/keyboard.json
  keyboards/keebio/bdn9/rev1/keyboard.json
  keyboards/keebio/bfo9000/keyboard.json
  keyboards/keebio/dilly/keyboard.json
  keyboards/keebio/fourier/keyboard.json
  keyboards/keebio/iris/rev1/keyboard.json
  keyboards/keebio/iris/rev1_led/keyboard.json
  keyboards/keebio/iris/rev2/keyboard.json
  keyboards/keebio/laplace/keyboard.json
  keyboards/keebio/levinson/info.json
  keyboards/keebio/nyquist/rev1/keyboard.json
  keyboards/keebio/nyquist/rev2/keyboard.json
  keyboards/keebio/quefrency/rev1/keyboard.json
  keyboards/keebio/rorschach/rev1/keyboard.json
  keyboards/keebio/stick/keyboard.json
  keyboards/keebio/tragicforce68/keyboard.json
  keyboards/keebio/tukey/keyboard.json
  keyboards/keebio/viterbi/info.json
  keyboards/keebio/wavelet/keyboard.json
  keyboards/keybage/radpad/keyboard.json
  keyboards/keycapsss/o4l_5x12/keyboard.json
  keyboards/keyhive/ergosaurus/keyboard.json
  keyboards/keyhive/maypad/keyboard.json
  keyboards/keyhive/navi10/rev0/keyboard.json
  keyboards/keyhive/navi10/rev2/keyboard.json
  keyboards/keyhive/navi10/rev3/keyboard.json
  keyboards/keyhive/opus/keyboard.json
  keyboards/keyprez/unicorn/keyboard.json
  keyboards/keysofkings/twokey/keyboard.json
  keyboards/kingly_keys/little_foot/keyboard.json
  keyboards/kingly_keys/romac/keyboard.json
  keyboards/kingly_keys/romac_plus/keyboard.json
  keyboards/knobgoblin/keyboard.json
  keyboards/ktec/ergodone/keyboard.json
  keyboards/kumaokobo/kudox/columner/keyboard.json
  keyboards/kumaokobo/kudox/rev1/keyboard.json
  keyboards/kumaokobo/kudox/rev2/keyboard.json
  keyboards/kumaokobo/kudox/rev3/keyboard.json
  keyboards/kumaokobo/kudox_full/rev1/keyboard.json
  keyboards/kumaokobo/kudox_game/info.json
  keyboards/kumaokobo/pico/65keys/keyboard.json
  keyboards/kumaokobo/pico/70keys/keyboard.json
Labels: keyboard
