Repository qmk/qmk_firmware, pull requests merged in 2025-10, with the labels that each got.

#24082 `atreus`: restore intended matrix implementations
  keyboards/atreus/astar/keyboard.json
  keyboards/atreus/astar_mirrored/keyboard.json
  keyboards/atreus/f103/keyboard.json
  keyboards/atreus/feather/keyboard.json
  keyboards/atreus/info.json
  keyboards/atreus/keymaps/default/keymap.c
  keyboards/atreus/keymaps/workman/keymap.c
  keyboards/atreus/promicro/keyboard.json
  keyboards/atreus/teensy2/keyboard.json
Labels: enhancement, keyboard, keymap, awaiting review

#25692 Add Quefrency LM Rev. 1
  keyboards/keebio/quefrency_lm/info.json
  keyboards/keebio/quefrency_lm/keymaps/default/keymap.c
  keyboards/keebio/quefrency_lm/readme.md
  keyboards/keebio/quefrency_lm/rev1/config.h
  keyboards/keebio/quefrency_lm/rev1/halconf.h
  keyboards/keebio/quefrency_lm/rev1/keyboard.json
  keyboards/keebio/quefrency_lm/rev1/mcuconf.h
  keyboards/keebio/quefrency_lm/rev1/rev1.c
Labels: keyboard, keymap

#25683 Update Idyllic pizzapad with Encoder
  keyboards/idyllic/pizzapad/keyboard.json
  keyboards/idyllic/pizzapad/pizzapad.c
Labels: keyboard

#25675 Fix keymap for Palmslave
  keyboards/takashicompany/palmslave/keymaps/default/keymap.c
Labels: keymap

#25708 Add 'xap' branch to CI workflow and options
  .github/workflows/ci_build_major_branch.yml
Labels: CI

#25645 add dropout keyboard
  keyboards/enochchau/dropout/dropout.c
  keyboards/enochchau/dropout/keyboard.json
  keyboards/enochchau/dropout/keymaps/default/keymap.c
  keyboards/enochchau/dropout/keymaps/default/rules.mk
  keyboards/enochchau/dropout/readme.md
Labels: keyboard, keymap

#25681 Add stardustn0
  keyboards/stardustn0/keyboard.json
  keyboards/stardustn0/keymaps/default/keymap.c
  keyboards/stardustn0/readme.md
Labels: keyboard, keymap

#25697 [Keyboard] Add support Tyson65
  keyboards/trnthsn/tyson65/config.h
  keyboards/trnthsn/tyson65/halconf.h
  keyboards/trnthsn/tyson65/info.json
  keyboards/trnthsn/tyson65/keymaps/default/keymap.c
  keyboards/trnthsn/tyson65/mcuconf.h
  keyboards/trnthsn/tyson65/readme.md
  keyboards/trnthsn/tyson65/stm32f072/keyboard.json
  keyboards/trnthsn/tyson65/stm32f103/keyboard.json
Labels: keyboard, keymap

#25648 Fixup `kprepublic/bm60hsrgb_iso/rev2`
  keyboards/kprepublic/bm60hsrgb_iso/rev2/config.h
  keyboards/kprepublic/bm60hsrgb_iso/rev2/keyboard.json
  keyboards/kprepublic/bm60hsrgb_iso/rev2/keymaps/default/keymap.c
  keyboards/kprepublic/bm60hsrgb_iso/rev2/keymaps/default/keymap.json
  keyboards/kprepublic/bm60hsrgb_iso/rev2/rev2.c
  keyboards/kprepublic/bm60hsrgb_iso/rev2/rules.mk
Labels: keyboard, keymap

#25644 Fixup `kprepublic/bm60hsrgb/rev2`
  keyboards/kprepublic/bm60hsrgb/rev2/config.h
  keyboards/kprepublic/bm60hsrgb/rev2/keyboard.json
  keyboards/kprepublic/bm60hsrgb/rev2/keymaps/default/keymap.c
  keyboards/kprepublic/bm60hsrgb/rev2/keymaps/default/keymap.json
  keyboards/kprepublic/bm60hsrgb/rev2/rev2.c
Labels: keyboard, keymap
