Repository qmk/qmk_firmware, pull requests merged in 2025-04, with the labels that each got.

#25085 Add "license" field to Community Module JSON schema.
  data/schemas/community_module.jsonschema
  docs/features/community_modules.md
  lib/python/qmk/json_encoders.py
  modules/qmk/hello_world/qmk_module.json
  modules/qmk/super_alt_tab/qmk_module.json
Labels: documentation, python, cli, dd, community_module

#25080 Add kt60HS-T v2 PCB
  data/mappings/keyboard_aliases.hjson
  keyboards/keyten/kt60hs_t/info.json
  keyboards/keyten/kt60hs_t/readme.md
  keyboards/keyten/kt60hs_t/v1/keyboard.json
  keyboards/keyten/kt60hs_t/v1/readme.md
  keyboards/keyten/kt60hs_t/v2/keyboard.json
  keyboards/keyten/kt60hs_t/v2/readme.md
Labels: keyboard, keymap, dd

#25093 Fix 'qmk lint -kb' argument handling
  lib/python/qmk/cli/lint.py
Labels: bug, python, cli

#25088 Refactor Deemen17 Works DE60
  data/mappings/keyboard_aliases.hjson
  keyboards/deemen17/de60/r1/config.h
  keyboards/deemen17/de60/r1/keyboard.json
  keyboards/deemen17/de60/r1/keymaps/default/keymap.c
  keyboards/deemen17/de60/r1/readme.md
  keyboards/deemen17/de60/readme.md
Labels: keyboard, keymap, dd

#25039 Add Coban Pad 12A
  keyboards/coban/pad12a/config.h
  keyboards/coban/pad12a/keyboard.json
  keyboards/coban/pad12a/keymaps/default/keymap.c
  keyboards/coban/pad12a/keymaps/default/rules.mk
  keyboards/coban/pad12a/readme.md
Labels: keyboard, keymap

#25086 [Keyboard] Add PHDesign PH60/Multi Keyboard PCB
  keyboards/phdesign/ph60/multi/keyboard.json
  keyboards/phdesign/ph60/multi/keymaps/default/keymap.c
  keyboards/phdesign/ph60/multi/readme.md
  keyboards/phdesign/readme.md
Labels: keyboard, keymap

#25099 Add Ortho Slayer keyboard
  keyboards/keyten/ortho_slayer/keyboard.json
  keyboards/keyten/ortho_slayer/keymaps/default/keymap.c
  keyboards/keyten/ortho_slayer/readme.md
Labels: keyboard, keymap

#25100 Fix coban pad9a wrong layout in keyboard.json
  keyboards/coban/pad9a/keyboard.json
Labels: bug, keyboard

#25111 Remove `CTPC`/`CONVERT_TO_PROTON_C` options
  builddefs/converters.mk
  data/mappings/info_rules.hjson
Labels: core, dd

#25113 Remove direct docs.qmk.fm links from docs
  docs/hand_wire.md
  docs/license_violations.md
Labels: bug, documentation

#25112 Add warning when deprecated 'promicro_rp2040' is used
  platforms/chibios/converters/promicro_to_promicro_rp2040/pre_converter.mk
Labels: enhancement, core

#24225 Add Vida to QMK
  keyboards/cannonkeys/vida/config.h
  keyboards/cannonkeys/vida/hotswap/keyboard.json
  keyboards/cannonkeys/vida/hotswap/keymaps/default/keymap.c
  keyboards/cannonkeys/vida/info.json
  keyboards/cannonkeys/vida/readme.md
  keyboards/cannonkeys/vida/solderable/config.h
  keyboards/cannonkeys/vida/solderable/halconf.h
  keyboards/cannonkeys/vida/solderable/keyboard.json
  keyboards/cannonkeys/vida/solderable/keymaps/default/keymap.c
  keyboards/cannonkeys/vida/solderable/matrix_diagram.md
  keyboards/cannonkeys/vida/solderable/mcuconf.h
Labels: keyboard, keymap, awaiting review, via

#25119 More Windows->Unix style path fixes.
  lib/python/qmk/build_targets.py
  lib/python/qmk/cli/generate/make_dependencies.py
  lib/python/qmk/commands.py
Labels: bug, python, cli

#25120 chore: Allow disabling underglow on Work Louder devices (#25123)
  keyboards/work_louder/rgb_functions.c
Labels: bug, keyboard

#24680 Exclude external userspace from lint checking
  lib/python/qmk/cli/lint.py
  lib/python/qmk/keymap.py
Labels: python, cli

#25133 fix: Fix startup sound for Preonic (#25132)
  keyboards/preonic/config.h
Labels: keyboard

#24690 New standard layout for Savage65 (65_ansi_blocker_tsangan_split_bs)
  keyboards/cannonkeys/savage65/keyboard.json
Labels: keyboard, awaiting review

#25090 kradoindustries_promenade: add LAYOUT_1x2u
  keyboards/kradoindustries/promenade/keyboard.json
Labels: keyboard

#24991 Add keyboard suika83opti
  keyboards/suikagiken/suika83opti/keyboard.json
  keyboards/suikagiken/suika83opti/keymaps/default/keymap.json
  keyboards/suikagiken/suika83opti/readme.md
Labels: keyboard, keymap

#25141 [chore]: move and rename mouse/scroll min/max defines
  drivers/sensors/pimoroni_trackball.c
  quantum/pointing_device/pointing_device.c
  quantum/pointing_device/pointing_device.h
  tmk_core/protocol/report.h
Labels: core

#25125 [Core] Flow Tap tap-hold option to disable HRMs during fast typing (aka Global Quick Tap, Require Prior Idle).
  data/mappings/info_config.hjson
  docs/tap_hold.md
  quantum/action.c
  quantum/action.h
  quantum/action_tapping.c
  quantum/action_tapping.h
  quantum/process_keycode/process_leader.c
  tests/tap_hold_configurations/flow_tap/config.h
  tests/tap_hold_configurations/flow_tap/test.mk
  tests/tap_hold_configurations/flow_tap/test_keymap.c
  tests/tap_hold_configurations/flow_tap/test_tap_hold.cpp
Labels: core, documentation, dd

#25058 Add Link keyboard to QMK
  keyboards/cannonkeys/link/config.h
  keyboards/cannonkeys/link/halconf.h
  keyboards/cannonkeys/link/keyboard.json
  keyboards/cannonkeys/link/keymaps/default/keymap.c
  keyboards/cannonkeys/link/link.c
  keyboards/cannonkeys/link/readme.md
Labels: keyboard, keymap

#25010 Remove Sofle `rgb_default` keymap & tidy readme's
  keyboards/sofle/keyhive/config.h
  keyboards/sofle/keyhive/keyboard.json
  keyboards/sofle/keyhive/readme.md
  keyboards/sofle/keymaps/rgb_default/config.h
  keyboards/sofle/keymaps/rgb_default/keymap.c
  keyboards/sofle/keymaps/rgb_default/rules.mk
  keyboards/sofle/readme.md
  keyboards/sofle/rev1/readme.md
Labels: keyboard, keymap

#24967 Added Keyboard LumPy27
  keyboards/djreisch/lumpy27/keyboard.json
  keyboards/djreisch/lumpy27/keymaps/default/keymap.c
  keyboards/djreisch/lumpy27/readme.md
Labels: keyboard, keymap

#25161 Kobold r1
  keyboards/tzarc/kobold/config.h
  keyboards/tzarc/kobold/halconf.h
  keyboards/tzarc/kobold/info.json
  keyboards/tzarc/kobold/keymaps/default/keymap.c
  keyboards/tzarc/kobold/kobold.c
  keyboards/tzarc/kobold/mcuconf.h
  keyboards/tzarc/kobold/r1/keyboard.json
  keyboards/tzarc/kobold/readme.md
Labels: keyboard, keymap

#25167 unify lighting step descriptions across docs
  docs/features/led_matrix.md
  docs/features/rgb_matrix.md
  docs/features/rgblight.md
  docs/reference_info_json.md
Labels: documentation

#25007 Added files for voidhhkb-hotswap
  keyboards/void/voidhhkb_hotswap/keyboard.json
  keyboards/void/voidhhkb_hotswap/keymaps/default/keymap.c
  keyboards/void/voidhhkb_hotswap/readme.md
Labels: keyboard, keymap

#25146 Remove duplication of RGB Matrix defaults
  keyboards/adm42/rev4/keyboard.json
  keyboards/ashwing66/keyboard.json
  keyboards/eek/info.json
  keyboards/ein_60/keyboard.json
  keyboards/fs_streampad/keyboard.json
  keyboards/geekboards/macropad_v2/keyboard.json
  keyboards/handwired/hnah40rgb/keyboard.json
  keyboards/marcopad/keyboard.json
  keyboards/mechboards/crkbd/pro/keyboard.json
  keyboards/mechboards/lily58/pro/keyboard.json
  keyboards/mechboards/sofle/pro/keyboard.json
  keyboards/momokai/aurora/keyboard.json
  keyboards/momokai/tap_duo/keyboard.json
  keyboards/momokai/tap_trio/keyboard.json
  keyboards/rot13labs/veilid_sao/keyboard.json
  keyboards/splitkb/halcyon/kyria/rev4/keyboard.json
  keyboards/system76/launch_1/keyboard.json
Labels: keyboard

#25057 Fix missing and extra commas in JSON schema
  data/schemas/community_module.jsonschema
  data/schemas/keyboard.jsonschema
  data/schemas/user_repo_v0.jsonschema
  data/schemas/user_repo_v1.jsonschema
  data/schemas/user_repo_v1_1.jsonschema
Labels: dd

#25169 Remove duplication of RGBLight defaults
  keyboards/anavi/knobs3/keyboard.json
  keyboards/anavi/macropad10/keyboard.json
  keyboards/ask55/keyboard.json
  keyboards/cannonkeys/ripple/keyboard.json
  keyboards/chickenman/ciel65/keyboard.json
  keyboards/clueboard/17/keyboard.json
  keyboards/clueboard/2x1800/2018/keyboard.json
  keyboards/clueboard/66/rev1/keyboard.json
  keyboards/clueboard/66/rev2/keyboard.json
  keyboards/clueboard/66/rev3/keyboard.json
  keyboards/clueboard/66/rev4/keyboard.json
  keyboards/clueboard/66_hotswap/prototype/keyboard.json
  keyboards/clueboard/card/keyboard.json
  keyboards/ghs/jem/info.json
  keyboards/hillside/46/0_1/keyboard.json
  keyboards/hillside/48/0_1/keyboard.json
  keyboards/hillside/52/0_1/keyboard.json
  keyboards/jaykeeb/kamigakushi/keyboard.json
  keyboards/jaykeeb/sriwedari70/keyboard.json
  keyboards/kbdfans/odinmini/keyboard.json
  keyboards/keycapsss/3w6_2040/keyboard.json
  keyboards/keyspensory/kp60/keyboard.json
  keyboards/kprepublic/jj50/rev2/keyboard.json
  keyboards/lxxt/keyboard.json
  keyboards/mechwild/bde/info.json
  keyboards/mechwild/bde/rev2/keyboard.json
  keyboards/mechwild/sugarglider/info.json
  keyboards/mk65/keyboard.json
  keyboards/mlego/m65/rev1/keyboard.json
  keyboards/mlego/m65/rev2/keyboard.json
  keyboards/mlego/m65/rev3/keyboard.json
  keyboards/mlego/m65/rev4/keyboard.json
  keyboards/mwstudio/mw80/keyboard.json
  keyboards/nightly_boards/octopadplus/keyboard.json
  keyboards/pauperboards/brick/keyboard.json
  keyboards/plywrks/allaro/keyboard.json
  keyboards/prototypist/oceanographer/keyboard.json
  keyboards/rastersoft/minitkl/keyboard.json
  keyboards/reedskeebs/alish40/keyboard.json
  keyboards/salicylic_acid3/guide68/keyboard.json
  keyboards/sawnsprojects/eclipse/eclipse60/keyboard.json
  keyboards/sawnsprojects/eclipse/tinyneko/keyboard.json
  keyboards/studiokestra/galatea/rev2/keyboard.json
  keyboards/studiokestra/galatea/rev3/keyboard.json
  keyboards/takashicompany/goat51/keyboard.json
  keyboards/takashicompany/spreadwriter/keyboard.json
  keyboards/tau4/keyboard.json
  keyboards/tweetydabird/lbs4/keyboard.json
  keyboards/tweetydabird/lbs6/keyboard.json
  keyboards/vinhcatba/uncertainty/keyboard.json
  keyboards/work_louder/micro/keyboard.json
  keyboards/work_louder/numpad/keyboard.json
  keyboards/yoichiro/lunakey_pico/keyboard.json
Labels: keyboard

#25171 Ignore the Layer Lock key in Repeat Key and Caps Word.
  quantum/process_keycode/process_caps_word.c
  quantum/process_keycode/process_repeat_key.c
  tests/caps_word/test.mk
  tests/caps_word/test_caps_word.cpp
  tests/repeat_key/test.mk
  tests/repeat_key/test_repeat_key.cpp
Labels: core

#25173 Allow for disabling EEPROM subsystem entirely.
  builddefs/common_features.mk
  data/schemas/keyboard.jsonschema
  quantum/dynamic_keymap.c
  quantum/eeconfig.c
  quantum/led_matrix/led_matrix.c
  quantum/rgb_matrix/rgb_matrix.c
  quantum/unicode/unicode.c
  quantum/via.c
Labels: core, dd

#25157 [keyboard] ymdk/id75/rp2040
  keyboards/ymdk/id75/f103/keyboard.json
  keyboards/ymdk/id75/info.json
  keyboards/ymdk/id75/readme.md
  keyboards/ymdk/id75/rp2040/config.h
  keyboards/ymdk/id75/rp2040/keyboard.json
Labels: keyboard

#25129 Remove `bluefruit_le_read_battery_voltage` function
  builddefs/common_features.mk
  drivers/bluetooth/bluefruit_le.cpp
  drivers/bluetooth/bluefruit_le.h
  keyboards/handwired/promethium/config.h
  keyboards/handwired/promethium/promethium.c
  keyboards/handwired/promethium/rules.mk
  keyboards/matrix/falcon/config.h
  keyboards/tokyokeyboard/alix40/config.h
Labels: core, keyboard

#24958 Fix 'Would you like to clone the submodules?' prompt under msys
  lib/python/qmk/cli/doctor/check.py
Labels: bug, python, cli

#25166 Fixup eeconfig lighting reset.
  quantum/eeconfig.c
Labels: bug, core

#25177 DOCS: `qmk-hid` missing in bootloaders list?
  docs/config_options.md
Labels: documentation

#25180 Fix for `.clangd`.
  .clangd
Labels: bug

#25182 Add lint warning for empty url
  lib/python/qmk/cli/lint.py
Labels: python, cli

#25176 Implement connection keycode logic
  builddefs/common_features.mk
  builddefs/generic_features.mk
  drivers/bluetooth/outputselect.c
  drivers/bluetooth/outputselect.h
  quantum/connection/connection.c
  quantum/connection/connection.h
  quantum/eeconfig.c
  quantum/eeconfig.h
  quantum/keyboard.c
  quantum/nvm/eeprom/nvm_eeconfig.c
  quantum/nvm/eeprom/nvm_eeprom_eeconfig_internal.h
  quantum/nvm/nvm_eeconfig.h
  quantum/process_keycode/process_connection.c
  quantum/quantum.c
  tmk_core/protocol/host.c
Labels: core

#25151 Add handwired/footy
  keyboards/handwired/footy/config.h
  keyboards/handwired/footy/keyboard.json
  keyboards/handwired/footy/keymaps/default/keymap.json
  keyboards/handwired/footy/keymaps/handy/keymap.json
  keyboards/handwired/footy/keymaps/superwhisper/keymap.json
  keyboards/handwired/footy/readme.md
Labels: keyboard, keymap

#25185 Decrease firmware size for `anavi/macropad8`.
  keyboards/anavi/macropad8/keyboard.json
Labels: keyboard

#25184 Align ChibiOS `USB_WAIT_FOR_ENUMERATION` implementation
  tmk_core/protocol/chibios/chibios.c
Labels: core

#25175 [Bug][Core] Fix for Flow Tap: fix handling of distinct taps and timer updates.
  quantum/action.c
  quantum/action_tapping.c
  quantum/action_tapping.h
  tests/tap_hold_configurations/flow_tap/config.h
  tests/tap_hold_configurations/flow_tap/test_tap_hold.cpp
Labels: bug, core

#25116 Prompt for converter when creating new keymap
  lib/python/qmk/cli/new/keymap.py
Labels: enhancement, python, cli

#24423 High resolution scrolling (without feature report parsing)
  docs/features/pointing_device.md
  quantum/pointing_device/pointing_device.c
  quantum/pointing_device/pointing_device.h
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/usb_descriptor_common.h
  tmk_core/protocol/vusb/vusb.c
Labels: core, documentation, breaking_change_2025q2

#25135 Avoid duplication in generated community modules `rules.mk`
  builddefs/build_keyboard.mk
  lib/python/qmk/cli/generate/community_modules.py
  lib/python/qmk/cli/generate/rules_mk.py
  lib/python/qmk/info.py
Labels: core, python, cli, breaking_change_2025q2

#25021 Bump rlespinasse/github-slug-action from 3 to 5
  .github/workflows/format_push.yml
  .github/workflows/regen_push.yml
Labels: CI, dependencies, github_actions

#24782 Update 'qmk generate-api' to only publish pure DD keymaps
  lib/python/qmk/cli/generate/api.py
Labels: bug, python, cli

#25189 Remove more duplication of defaults
  keyboards/cipulot/ec_980c/keyboard.json
  keyboards/custommk/evo70_r2/keyboard.json
  keyboards/darmoshark/k3/keyboard.json
  keyboards/dnworks/frltkl/keyboard.json
  keyboards/dnworks/sbl/keyboard.json
  keyboards/dnworks/tkl87/keyboard.json
  keyboards/ebastler/e80_1800/keyboard.json
  keyboards/handwired/daskeyboard/daskeyboard4/keyboard.json
  keyboards/kbdfans/odin75/keyboard.json
  keyboards/kbdfans/tiger80/keyboard.json
  keyboards/meetlab/kafkasplit/keyboard.json
  keyboards/studiokestra/fairholme/keyboard.json
  keyboards/studiokestra/line_friends_tkl/keyboard.json
  keyboards/yandrstudio/transition80/keyboard.json
  keyboards/zeix/eden/keyboard.json
Labels: keyboard, breaking_change_2025q2

#25191 Align `new-keyboard` template to current standards
  data/templates/keyboard/keyboard.json
Labels: optimization, CI

#25018 Fix `boardsource/beiwagon` RGB Matrix coordinates
  keyboards/boardsource/beiwagon/keyboard.json
  keyboards/boardsource/beiwagon/keymaps/default/keymap.c
  keyboards/boardsource/beiwagon/keymaps/default/keymap.json
Labels: keyboard, keymap

#25149 Extend lint checks to reject duplication of defaults
  data/mappings/info_defaults.hjson
  lib/python/qmk/cli/lint.py
Labels: enhancement, python, cli, dd

#24932 modelh: add prerequisites for via support
  keyboards/ibm/model_m/modelh/keyboard.json
Labels: keyboard

#22876 First TypeK support
  keyboards/typek/config.h
  keyboards/typek/halconf.h
  keyboards/typek/keyboard.json
  keyboards/typek/keymaps/default/keymap.c
  keyboards/typek/mcuconf.h
  keyboards/typek/readme.md
  keyboards/typek/typek.c
Labels: keyboard, keymap

#24994 Add Lemokey X0 keyboard
  keyboards/keychron/x0/board.h
  keyboards/keychron/x0/config.h
  keyboards/keychron/x0/halconf.h
  keyboards/keychron/x0/info.json
  keyboards/keychron/x0/mcuconf.h
  keyboards/keychron/x0/readme.md
  keyboards/keychron/x0/red/config.h
  keyboards/keychron/x0/red/keyboard.json
  keyboards/keychron/x0/red/keymaps/default/keymap.c
  keyboards/keychron/x0/red/red.c
Labels: keyboard, keymap

#24999 keyboards/annepro2/ld: Add per-variant linker scripts
  keyboards/annepro2/c15/rules.mk
  keyboards/annepro2/c18/rules.mk
  keyboards/annepro2/ld/HT32F52342_ANNEPRO2_C15.ld
  keyboards/annepro2/ld/HT32F52352_ANNEPRO2_C18.ld
Labels: keyboard, stale

#25054 Add new keyboard MirageiX
  keyboards/takashicompany/mirageix/keyboard.json
  keyboards/takashicompany/mirageix/keymaps/default/keymap.c
  keyboards/takashicompany/mirageix/readme.md
Labels: keyboard, keymap

#24942 [Keymap] Sofle RGB - fixed stuck on numpad layer and layout comments (#24941)
  keyboards/sofle/keymaps/rgb_default/keymap.c
Labels: keymap

#24885 Added configuration for the handwired 4x14 LuMaWing keyboard
  keyboards/handwired/lumawing/keyboard.json
  keyboards/handwired/lumawing/keymaps/default/keymap.c
  keyboards/handwired/lumawing/readme.md
Labels: keyboard, keymap

#24816 Added a new keyboard - jcpm2 (JC Pro Macro 2)
  keyboards/jcpm2/config.h
  keyboards/jcpm2/jcpm2.c
  keyboards/jcpm2/keyboard.json
  keyboards/jcpm2/keymaps/default/keymap.c
  keyboards/jcpm2/keymaps/default/rules.mk
  keyboards/jcpm2/readme.md
Labels: keyboard, keymap, awaiting review

#24790 [Keyboard] Add splitkb.com's Halcyon Elora rev2
  keyboards/splitkb/halcyon/elora/info.json
  keyboards/splitkb/halcyon/elora/keymaps/default/keymap.c
  keyboards/splitkb/halcyon/elora/keymaps/default/readme.md
  keyboards/splitkb/halcyon/elora/keymaps/default/rules.mk
  keyboards/splitkb/halcyon/elora/readme.md
  keyboards/splitkb/halcyon/elora/rev2/config.h
  keyboards/splitkb/halcyon/elora/rev2/halconf.h
  keyboards/splitkb/halcyon/elora/rev2/keyboard.json
  keyboards/splitkb/halcyon/elora/rev2/mcuconf.h
  keyboards/splitkb/halcyon/elora/rev2/rev2.c
Labels: keyboard, keymap

#24804 [keyboard] mzmkb/slimdash/rev1
  keyboards/mzmkb/slimdash/info.json
  keyboards/mzmkb/slimdash/readme.md
  keyboards/mzmkb/slimdash/rev1/config.h
  keyboards/mzmkb/slimdash/rev1/keyboard.json
  keyboards/mzmkb/slimdash/rev1/keymaps/default/keymap.c
Labels: keyboard, keymap

#24756 Added new keyboard epssp75
  keyboards/handwired/hen_des/epssp75/keyboard.json
  keyboards/handwired/hen_des/epssp75/keymaps/default/keymap.c
  keyboards/handwired/hen_des/epssp75/readme.md
Labels: keyboard, keymap

#24646 Addition of OK-1
  keyboards/cipulot/ok_1/config.h
  keyboards/cipulot/ok_1/halconf.h
  keyboards/cipulot/ok_1/keyboard.json
  keyboards/cipulot/ok_1/keymaps/default/keymap.c
  keyboards/cipulot/ok_1/mcuconf.h
  keyboards/cipulot/ok_1/readme.md
  keyboards/cipulot/ok_1/rules.mk
Labels: keyboard, keymap

#24569 Umbra support to QMK
  keyboards/umbra/hotswap/config.h
  keyboards/umbra/hotswap/keyboard.json
  keyboards/umbra/hotswap/keymaps/default/keymap.c
  keyboards/umbra/hotswap/keymaps/default/rules.mk
  keyboards/umbra/hotswap/matrix_diagram.md
  keyboards/umbra/hotswap/readme.md
  keyboards/umbra/hotswap/rules.mk
  keyboards/umbra/solder/config.h
  keyboards/umbra/solder/keyboard.json
  keyboards/umbra/solder/keymaps/default/keymap.c
  keyboards/umbra/solder/keymaps/default/rules.mk
  keyboards/umbra/solder/matrix_diagram.md
  keyboards/umbra/solder/readme.md
  keyboards/umbra/solder/rules.mk
  keyboards/umbra/solder/solder.c
  keyboards/umbra/solder/solder.h
Labels: keyboard, keymap

#24744 Amptrics 0420 keyboard addition
  keyboards/amptrics/0422/0422.c
  keyboards/amptrics/0422/config.h
  keyboards/amptrics/0422/keyboard.json
  keyboards/amptrics/0422/keymaps/default/keymap.c
  keyboards/amptrics/0422/readme.md
Labels: keyboard, keymap

#25200 [Core] Enhance Flow Tap to work better for rolls over multiple tap-hold keys.
  quantum/action_tapping.c
  tests/tap_hold_configurations/chordal_hold/permissive_hold_flow_tap/config.h
  tests/tap_hold_configurations/chordal_hold/permissive_hold_flow_tap/test.mk
  tests/tap_hold_configurations/chordal_hold/permissive_hold_flow_tap/test_keymap.c
  tests/tap_hold_configurations/chordal_hold/permissive_hold_flow_tap/test_one_shot_keys.cpp
  tests/tap_hold_configurations/chordal_hold/permissive_hold_flow_tap/test_tap_hold.cpp
  tests/tap_hold_configurations/flow_tap/test_tap_hold.cpp
Labels: core

#25209 amptrics/0422 - Prevent OOB in `update_leds_for_layer`
  keyboards/amptrics/0422/0422.c
Labels: bug, keyboard

#25206 Add new keyboard "Gravity-45"
  keyboards/green_keys/gravity_45/keyboard.json
  keyboards/green_keys/gravity_45/keymaps/default/keymap.c
  keyboards/green_keys/gravity_45/readme.md
Labels: keyboard, keymap
