Repository qmk/qmk_firmware, pull requests merged in 2025-02, with the labels that each got.

#24623 `qmk docs`: restore `--port` and `--browser` arguments
  docs/cli_commands.md
  docs/contributing.md
  lib/python/qmk/cli/docs.py
  lib/python/qmk/cli/generate/docs.py
  lib/python/qmk/docs.py
Labels: enhancement, documentation, awaiting review, python, cli, stale

#24903 [Keyboard] Move Ergodox STM32 to handwired folder
  data/mappings/keyboard_aliases.hjson
  keyboards/handwired/ergodox_stm32/board.h
  keyboards/handwired/ergodox_stm32/chconf.h
  keyboards/handwired/ergodox_stm32/config.h
  keyboards/handwired/ergodox_stm32/ergodox_stm32.c
  keyboards/handwired/ergodox_stm32/ergodox_stm32.h
  keyboards/handwired/ergodox_stm32/halconf.h
  keyboards/handwired/ergodox_stm32/keyboard.json
  keyboards/handwired/ergodox_stm32/keymaps/default/keymap.c
  keyboards/handwired/ergodox_stm32/ld/stm32f103_bootloader.ld
  keyboards/handwired/ergodox_stm32/matrix.c
  keyboards/handwired/ergodox_stm32/mcuconf.h
  keyboards/handwired/ergodox_stm32/readme.md
  keyboards/handwired/ergodox_stm32/rules.mk
Labels: keyboard, keymap, dd

#24905 Avoid WindowsPath errors for 'qmk format-text'
  lib/python/qmk/cli/format/text.py
Labels: bug, python, cli

#24912 Remove readme dummy content
  keyboards/al1/readme.md
  keyboards/alf/dc60/readme.md
  keyboards/biacco42/meishi2/readme.md
  keyboards/bpiphany/unloved_bastard/readme.md
  keyboards/cool836a/readme.md
  keyboards/deltapad/readme.md
  keyboards/duck/jetfire/readme.md
  keyboards/ericrlau/numdiscipline/readme.md
  keyboards/handwired/fc200rt_qmk/readme.md
  keyboards/handwired/novem/readme.md
  keyboards/hineybush/h75_singa/readme.md
  keyboards/kakunpc/business_card/readme.md
  keyboards/keebio/ergodicity/readme.md
  keyboards/kira/kira75/readme.md
  keyboards/kprepublic/bm16a/v1/readme.md
  keyboards/kprepublic/bm16s/readme.md
  keyboards/marksard/treadstone32/readme.md
  keyboards/marksard/treadstone48/readme.md
  keyboards/masterworks/classy_tkl/readme.md
  keyboards/mb44/readme.md
  keyboards/mechlovin/delphine/readme.md
  keyboards/mechwild/mokulua/readme.md
  keyboards/meme/readme.md
  keyboards/mint60/readme.md
  keyboards/pegasus/readme.md
  keyboards/tgr/tris/readme.md
  keyboards/x16/readme.md
Labels: keyboard

#24917 Fix installation of clang in gentoo install script
  util/install/gentoo.sh
Labels: core

#23065 Chaining OSL and MO
  quantum/action.c
  tests/basic/test_one_shot_keys.cpp
Labels: core, awaiting review, breaking_change_2025q1

#23641 Retro Tapping Re-Write; Key Roll Fix
  quantum/action.c
  tests/tap_hold_configurations/retro_tapping/test_key_roll.cpp
Labels: core, awaiting review, develop-fast-track, breaking_change_2025q1

#24913 Reject readme dummy content
  lib/python/qmk/cli/lint.py
Labels: enhancement, python, cli

#24922 Add more stale exemption labels.
  .github/workflows/stale.yml
Labels: CI

#24794 Patch up issue for inverted complementary output on Backlight
  platforms/chibios/drivers/backlight_pwm.c
Labels: core

#24868 Update for 'A-JAZZ AKC084' ('A-JAZZ AKP846')
  keyboards/a_jazz/akc084/keyboard.json
  keyboards/a_jazz/akc084/keymaps/default/keymap.c
  keyboards/a_jazz/akc084/readme.md
Labels: keyboard, keymap

#24915 Migrate some DEFAULT_FOLDER to keyboard_aliases.hjson
  data/mappings/keyboard_aliases.hjson
  keyboards/cannonkeys/db60/hotswap/rules.mk
  keyboards/cannonkeys/db60/j02/rules.mk
  keyboards/cannonkeys/db60/rev2/rules.mk
  keyboards/converter/palm_usb/info.json
  keyboards/converter/palm_usb/stowaway/config.h
  keyboards/converter/palm_usb/stowaway/keyboard.json
  keyboards/converter/palm_usb/stowaway/matrix.c
  keyboards/converter/palm_usb/stowaway/readme.md
  keyboards/converter/palm_usb/stowaway/rules.mk
  keyboards/handwired/meck_tkl/blackpill_f401/rules.mk
  keyboards/handwired/meck_tkl/rules.mk
  keyboards/hhkb/ansi/32u2/rules.mk
  keyboards/hhkb/ansi/32u4/rules.mk
  keyboards/kakunpc/angel64/alpha/rules.mk
  keyboards/kakunpc/angel64/rev1/rules.mk
  keyboards/kakunpc/angel64/rules.mk
  keyboards/oddball/v1/rules.mk
  keyboards/oddball/v2/rules.mk
  keyboards/oddball/v2_1/rules.mk
  keyboards/teleport/native/ansi/rules.mk
  keyboards/teleport/native/iso/rules.mk
  keyboards/teleport/native/rules.mk
  keyboards/westm/westm68/rev1/rules.mk
  keyboards/westm/westm68/rev2/rules.mk
  keyboards/westm/westm9/rev1/rules.mk
  keyboards/westm/westm9/rev2/rules.mk
  keyboards/woodkeys/meira/featherble/rules.mk
  keyboards/woodkeys/meira/promicro/rules.mk
  keyboards/woodkeys/meira/rules.mk
  keyboards/work_louder/loop/post_rules.mk
  keyboards/work_louder/loop/rules.mk
  keyboards/work_louder/work_board/post_rules.mk
  keyboards/work_louder/work_board/rules.mk
  keyboards/zsa/planck_ez/base/rules.mk
  keyboards/zsa/planck_ez/glow/rules.mk
  keyboards/zsa/planck_ez/rules.mk
Labels: keyboard, dd, breaking_change_2025q1

#24724 Created SH1107 driver for quantum painter
  drivers/painter/sh1107/qp_sh1107.c
  drivers/painter/sh1107/qp_sh1107.h
  drivers/painter/sh1107/qp_sh1107_opcodes.h
  quantum/painter/qp.h
  quantum/painter/qp_internal.c
  quantum/painter/rules.mk
Labels: core, breaking_change_2025q1

#24938 Migrate some DEFAULT_FOLDER to keyboard_aliases.hjson
  data/mappings/keyboard_aliases.hjson
  keyboards/ploopyco/madromys/post_rules.mk
  keyboards/ploopyco/madromys/rules.mk
  keyboards/ploopyco/trackball_mini/post_rules.mk
  keyboards/ploopyco/trackball_mini/rules.mk
  keyboards/ploopyco/trackball_nano/post_rules.mk
  keyboards/ploopyco/trackball_nano/rules.mk
Labels: keyboard, dd

#24928 fix EEPROM driver for STM32L0/1 cat.1 devices
  platforms/chibios/drivers/eeprom/eeprom_stm32_L0_L1.c
Labels: bug, core, breaking_change_2025q1

#24848 Community modules
  .github/labeler.yml
  .github/workflows/format.yml
  builddefs/build_keyboard.mk
  data/constants/keycodes/keycodes_0.0.7.hjson
  data/constants/module_hooks/0.1.0.hjson
  data/constants/module_hooks/1.0.0.hjson
  data/schemas/community_module.jsonschema
  data/schemas/keyboard.jsonschema
  data/schemas/keymap.jsonschema
  docs/_sidebar.json
  docs/custom_quantum_functions.md
  docs/features/community_modules.md
  keyboards/handwired/onekey/keymaps/community_module/keymap.c
  keyboards/handwired/onekey/keymaps/community_module/keymap.json
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/format/c.py
  lib/python/qmk/cli/format/json.py
  lib/python/qmk/cli/generate/community_modules.py
  lib/python/qmk/cli/generate/rules_mk.py
  lib/python/qmk/cli/info.py
  lib/python/qmk/commands.py
  lib/python/qmk/community_modules.py
  lib/python/qmk/info.py
  lib/python/qmk/json_encoders.py
  lib/python/qmk/keymap.py
  modules/qmk/hello_world/hello_world.c
  modules/qmk/hello_world/introspection.c
  modules/qmk/hello_world/introspection.h
  modules/qmk/hello_world/qmk_module.json
  modules/qmk/hello_world/rules.mk
  quantum/action.h
  quantum/keyboard.c
  quantum/keycodes.h
  quantum/keymap_introspection.c
  quantum/os_detection.c
  quantum/quantum.c
  quantum/quantum.h
Labels: core, keymap, documentation, python, cli, CI, dd, breaking_change_2025q1, community_module

#24949 2025q1 develop changelog
  docs/ChangeLog/20250223.md
  docs/_sidebar.json
  docs/breaking_changes.md
  docs/breaking_changes_history.md
  modules/qmk/hello_world/qmk_module.json
Labels: documentation, community_module

#24666 Implement battery level interface
  builddefs/common_features.mk
  docs/_sidebar.json
  docs/drivers/battery.md
  drivers/battery/battery.c
  drivers/battery/battery.h
  drivers/battery/battery_adc.c
  drivers/battery/battery_driver.h
  keyboards/handwired/onekey/keymaps/battery/config.h
  keyboards/handwired/onekey/keymaps/battery/keymap.c
  keyboards/handwired/onekey/keymaps/battery/keymap.json
  keyboards/handwired/onekey/keymaps/battery/rules.mk
  quantum/keyboard.c
Labels: core, keymap, documentation

#24952 [Cleanup] Handling of optional `*.mk` files
  builddefs/build_keyboard.mk
Labels: core

#24937 Add Mechboards Lily58 variant and common code.
  keyboards/mechboards/common/display_oled.c
  keyboards/mechboards/common/post_rules.mk
  keyboards/mechboards/common/rgb_effects.h
  keyboards/mechboards/lily58/pro/config.h
  keyboards/mechboards/lily58/pro/keyboard.json
  keyboards/mechboards/lily58/pro/keymaps/default/keymap.c
  keyboards/mechboards/lily58/pro/keymaps/default/rules.mk
  keyboards/mechboards/lily58/pro/post_rules.mk
  keyboards/mechboards/lily58/pro/pro.c
  keyboards/mechboards/lily58/pro/readme.md
Labels: keyboard, keymap
