Repository qmk/qmk_firmware, pull requests merged in 2025-03, with the labels that each got.

#24806 Add Handwired Cherry Protype
  keyboards/handwired/protype/keyboard.json
  keyboards/handwired/protype/keymaps/default/keymap.c
  keyboards/handwired/protype/readme.md
Labels: keyboard, keymap, stale

#24730 Add `tkl_f13_ansi_tsangan` community layout to novelkeys/nk87*
  keyboards/novelkeys/nk87/keyboard.json
  keyboards/novelkeys/nk87b/keyboard.json
Labels: keyboard

#24910 Add Janky No.9
  keyboards/jankycaps/janky9/keyboard.json
  keyboards/jankycaps/janky9/keymaps/default/keymap.c
  keyboards/jankycaps/janky9/readme.md
Labels: keyboard, keymap

#24897 [Docs] Fix example code in quantum_painter.md
  docs/quantum_painter.md
Labels: documentation

#24895 Add Chickpad
  keyboards/era/sirind/chickpad/config.h
  keyboards/era/sirind/chickpad/keyboard.json
  keyboards/era/sirind/chickpad/keymaps/default/keymap.c
  keyboards/era/sirind/chickpad/readme.md
Labels: keyboard, keymap

#24899 Add Keychron C1 Pro V2
  keyboards/keychron/c1_pro_v2/ansi/non_light/keyboard.json
  keyboards/keychron/c1_pro_v2/ansi/non_light/keymaps/default/keymap.c
  keyboards/keychron/c1_pro_v2/ansi/rgb/config.h
  keyboards/keychron/c1_pro_v2/ansi/rgb/keyboard.json
  keyboards/keychron/c1_pro_v2/ansi/rgb/keymaps/default/keymap.c
  keyboards/keychron/c1_pro_v2/ansi/rgb/rgb.c
  keyboards/keychron/c1_pro_v2/ansi/white/config.h
  keyboards/keychron/c1_pro_v2/ansi/white/keyboard.json
  keyboards/keychron/c1_pro_v2/ansi/white/keymaps/default/keymap.c
  keyboards/keychron/c1_pro_v2/ansi/white/white.c
  keyboards/keychron/c1_pro_v2/c1_pro_v2.c
  keyboards/keychron/c1_pro_v2/config.h
  keyboards/keychron/c1_pro_v2/halconf.h
  keyboards/keychron/c1_pro_v2/info.json
  keyboards/keychron/c1_pro_v2/mcuconf.h
  keyboards/keychron/c1_pro_v2/readme.md
Labels: keyboard, keymap

#24900 Add Keychron C2 Pro V2
  keyboards/keychron/c2_pro_v2/ansi/rgb/config.h
  keyboards/keychron/c2_pro_v2/ansi/rgb/keyboard.json
  keyboards/keychron/c2_pro_v2/ansi/rgb/keymaps/default/keymap.c
  keyboards/keychron/c2_pro_v2/ansi/rgb/rgb.c
  keyboards/keychron/c2_pro_v2/ansi/white/config.h
  keyboards/keychron/c2_pro_v2/ansi/white/keyboard.json
  keyboards/keychron/c2_pro_v2/ansi/white/keymaps/default/keymap.c
  keyboards/keychron/c2_pro_v2/ansi/white/white.c
  keyboards/keychron/c2_pro_v2/c2_pro_v2.c
  keyboards/keychron/c2_pro_v2/config.h
  keyboards/keychron/c2_pro_v2/halconf.h
  keyboards/keychron/c2_pro_v2/info.json
  keyboards/keychron/c2_pro_v2/mcuconf.h
  keyboards/keychron/c2_pro_v2/readme.md
Labels: keyboard, keymap

#22581 [Keyboard] Valor Rev3
  keyboards/xelus/valor/rev3/info.json
  keyboards/xelus/valor/rev3/keymaps/default/keymap.c
  keyboards/xelus/valor/rev3/readme.md
Labels: keyboard, keymap, awaiting review, via

#22557 Add splitkb.com's Elora
  keyboards/splitkb/elora/info.json
  keyboards/splitkb/elora/keymaps/debug/config.h
  keyboards/splitkb/elora/keymaps/debug/keymap.c
  keyboards/splitkb/elora/keymaps/debug/readme.md
  keyboards/splitkb/elora/keymaps/debug/rules.mk
  keyboards/splitkb/elora/keymaps/default/config.h
  keyboards/splitkb/elora/keymaps/default/keymap.c
  keyboards/splitkb/elora/keymaps/default/readme.md
  keyboards/splitkb/elora/readme.md
  keyboards/splitkb/elora/rev1/config.h
  keyboards/splitkb/elora/rev1/halconf.h
  keyboards/splitkb/elora/rev1/keyboard.json
  keyboards/splitkb/elora/rev1/matrix.c
  keyboards/splitkb/elora/rev1/mcuconf.h
  keyboards/splitkb/elora/rev1/myriad.c
  keyboards/splitkb/elora/rev1/myriad.h
  keyboards/splitkb/elora/rev1/rev1.c
  keyboards/splitkb/elora/rev1/rev1.h
  keyboards/splitkb/elora/rev1/rules.mk
Labels: keyboard, keymap

#24927 Keycult Zero
  keyboards/keycult/keycult_zero/keyboard.json
  keyboards/keycult/keycult_zero/keycult_zero.c
  keyboards/keycult/keycult_zero/keymaps/default/keymap.c
  keyboards/keycult/keycult_zero/readme.md
  keyboards/keycult/keycult_zero/rules.mk
Labels: keyboard, keymap, via

#24918 add keyboard: zwerg
  keyboards/zwerg/keyboard.json
  keyboards/zwerg/keymaps/default/keymap.c
  keyboards/zwerg/readme.md
Labels: keyboard, keymap

#24968 Fix Lily58 Lite Rev3 reversed columns
  keyboards/lily58/lite_rev3/keyboard.json
Labels: keyboard

#24814 Add new keyboard "Palmslave"
  keyboards/takashicompany/palmslave/config.h
  keyboards/takashicompany/palmslave/keyboard.json
  keyboards/takashicompany/palmslave/keymaps/default/keymap.c
  keyboards/takashicompany/palmslave/readme.md
Labels: keyboard, keymap

#24858 Add keyboard Cloak
  keyboards/dnlnm/cloak/keyboard.json
  keyboards/dnlnm/cloak/keymaps/default/keymap.c
  keyboards/dnlnm/cloak/keymaps/default/rules.mk
  keyboards/dnlnm/cloak/readme.md
Labels: keyboard, keymap

#24976 Fix `xelus/valor/rev3` compilation
  keyboards/xelus/valor/rev3/keyboard.json
Labels: bug, keyboard

#24977 Remove invalid RGB Matrix effects
  keyboards/cipulot/ec_980c/keyboard.json
  keyboards/gkeyboard/greatpad/keyboard.json
  keyboards/splitkb/elora/rev1/keyboard.json
  keyboards/splitkb/halcyon/kyria/rev4/keyboard.json
Labels: bug, keyboard

#24978 keychron/c*_pro_v2: Migrate DIP_SWITCH_PINS
  keyboards/keychron/c1_pro_v2/config.h
  keyboards/keychron/c1_pro_v2/info.json
  keyboards/keychron/c2_pro_v2/config.h
  keyboards/keychron/c2_pro_v2/info.json
Labels: bug, keyboard

#24801 New standard layout for Mechlovin' Zed60 (60_tsangan_hhkb)
  keyboards/mechlovin/zed60/keyboard.json
Labels: keyboard, awaiting review

#24723 Add Icebreaker keyboard
  keyboards/icebreaker/hotswap/keyboard.json
  keyboards/icebreaker/hotswap/keymaps/default/keymap.c
  keyboards/icebreaker/hotswap/keymaps/default/rules.mk
  keyboards/icebreaker/readme.md
Labels: keyboard, keymap, stale

#24997 Require 'x'/'y' properties for LED/RGB Matrix layout
  data/schemas/keyboard.jsonschema
Labels: dd

#25001 Only configure `STM32_HSECLK` within `board.h`
  keyboards/akb/vero/board.h
  keyboards/akb/vero/config.h
  keyboards/ibm/model_m_4th_gen/overnumpad_1xb/board.h
  keyboards/ibm/model_m_4th_gen/overnumpad_1xb/config.h
  keyboards/keychron/c1_pro_v2/board.h
  keyboards/keychron/c1_pro_v2/mcuconf.h
  keyboards/keychron/c2_pro_v2/board.h
  keyboards/keychron/c2_pro_v2/mcuconf.h
  keyboards/keychron/c3_pro/board.h
  keyboards/keychron/c3_pro/mcuconf.h
  keyboards/neson_design/810e/board.h
  keyboards/neson_design/810e/config.h
  keyboards/nix_studio/lilith/board.h
  keyboards/teleport/native/board.h
  keyboards/teleport/native/config.h
  keyboards/unicomp/classic_ultracl_post_2013/overnumpad_1xb/board.h
  keyboards/unicomp/classic_ultracl_post_2013/overnumpad_1xb/config.h
  keyboards/unicomp/classic_ultracl_pre_2013/overnumpad_1xb/board.h
  keyboards/unicomp/classic_ultracl_pre_2013/overnumpad_1xb/config.h
  keyboards/unicomp/pc122/overnumpad_1xb/board.h
  keyboards/unicomp/pc122/overnumpad_1xb/config.h
  keyboards/unicomp/spacesaver_m_post_2013/overnumpad_1xb/board.h
  keyboards/unicomp/spacesaver_m_post_2013/overnumpad_1xb/config.h
  keyboards/unicomp/spacesaver_m_pre_2013/overnumpad_1xb/board.h
  keyboards/unicomp/spacesaver_m_pre_2013/overnumpad_1xb/config.h
  keyboards/werk_technica/one/board.h
  keyboards/werk_technica/one/config.h
  keyboards/xelus/rs108/board.h
  keyboards/xelus/rs108/config.h
  keyboards/xelus/rs60/rev2_0/board.h
  keyboards/xelus/rs60/rev2_0/config.h
  keyboards/xelus/valor_frl_tkl/rev2_0/board.h
  keyboards/xelus/valor_frl_tkl/rev2_0/config.h
  keyboards/xelus/valor_frl_tkl/rev2_1/board.h
  keyboards/xelus/valor_frl_tkl/rev2_1/config.h
Labels: keyboard

#22459 add 75_(ansi|iso) Community Layouts to mechlovin/olly/octagon
  keyboards/mechlovin/olly/octagon/keyboard.json
  keyboards/mechlovin/olly/octagon/keymaps/default/keymap.c
  keyboards/mechlovin/olly/octagon/matrix_diagram.md
Labels: keyboard, keymap, awaiting review, stale, via

#25004 Add Mechboards Sofle
  keyboards/mechboards/sofle/pro/config.h
  keyboards/mechboards/sofle/pro/keyboard.json
  keyboards/mechboards/sofle/pro/keymaps/default/keymap.c
  keyboards/mechboards/sofle/pro/keymaps/default/rules.mk
  keyboards/mechboards/sofle/pro/post_rules.mk
  keyboards/mechboards/sofle/pro/pro.c
  keyboards/mechboards/sofle/pro/readme.md
Labels: keyboard, keymap

#24797 Add kt60-MU PCB
  keyboards/keyten/kt60_mu/chconf.h
  keyboards/keyten/kt60_mu/config.h
  keyboards/keyten/kt60_mu/halconf.h
  keyboards/keyten/kt60_mu/keyboard.json
  keyboards/keyten/kt60_mu/keymaps/default/keymap.c
  keyboards/keyten/kt60_mu/mcuconf.h
  keyboards/keyten/kt60_mu/readme.md
Labels: keyboard, keymap, stale

#25011 keyten/kt60_mu - Add missing header guard
  keyboards/keyten/kt60_mu/config.h
Labels: bug, keyboard

#24974 [Keyboard] Add Sofle Choc Prog from keebart
  keyboards/keebart/sofle_choc_pro/config.h
  keyboards/keebart/sofle_choc_pro/keyboard.json
  keyboards/keebart/sofle_choc_pro/keymaps/default/keymap.c
  keyboards/keebart/sofle_choc_pro/keymaps/default/rules.mk
  keyboards/keebart/sofle_choc_pro/readme.md
Labels: keyboard, keymap

#25020 Bump tj-actions/changed-files from 45 to 46
  .github/workflows/format.yml
  .github/workflows/lint.yml
Labels: CI, dependencies, github_actions

#25023 Latest batch of license violations as per #24085.
  docs/license_violations.md
Labels: documentation

#25031 Latest batch of license violations.
  docs/license_violations.md
Labels: documentation

#25012 Fixup MSYS + unix-style paths in Community Modules.
  lib/python/qmk/cli/generate/rules_mk.py
  lib/python/qmk/path.py
Labels: bug, python, cli

#25014 Change generic vendor code for uzu42
  keyboards/uzu42/rev1/keyboard.json
Labels: keyboard

#24787 [Core] get_keycode_string(): function to format keycodes as strings, for more readable debug logging.
  builddefs/generic_features.mk
  docs/faq_debug.md
  docs/unit_testing.md
  quantum/keycode_string.c
  quantum/keycode_string.h
  quantum/quantum.h
  tests/keycode_string/config.h
  tests/keycode_string/test.mk
  tests/keycode_string/test_keycode_string.cpp
Labels: core, documentation, breaking_change_2025q2

#24553 Align to latest CLI dependencies
  docs/cli.md
  docs/cli_development.md
  docs/coding_conventions_python.md
  lib/python/qmk/cli/__init__.py
  requirements.txt
Labels: documentation, awaiting review, python, cli

#25043 Minor keymap fix on Cerberus HS
  keyboards/cannonkeys/cerberus/hotswap/keymaps/default/keymap.c
  keyboards/cannonkeys/cerberus/solderable/keymaps/default/keymap.c
Labels: bug, keymap

#24984 Fix typo in docs: split_keyboard.md SPLIT_USB_DETECT ("theres's -> "there's")
  docs/features/split_keyboard.md
Labels: documentation

#23660 Correct json for Fullsize JIS Community Layouts
  layouts/default/fullsize_extended_jis/info.json
  layouts/default/fullsize_jis/info.json
Labels: keymap, awaiting review, stale

#23884 Add Community Layout support to daskeyboard4
  keyboards/handwired/daskeyboard/daskeyboard4/keyboard.json
Labels: keyboard, awaiting review, stale

#23558 Add the plywrks ply8x hotswap variant.
  data/mappings/keyboard_aliases.hjson
  keyboards/plywrks/ply8x/hotswap/config.h
  keyboards/plywrks/ply8x/hotswap/halconf.h
  keyboards/plywrks/ply8x/hotswap/keyboard.json
  keyboards/plywrks/ply8x/hotswap/keymaps/default/keymap.c
  keyboards/plywrks/ply8x/hotswap/mcuconf.h
  keyboards/plywrks/ply8x/solder/config.h
  keyboards/plywrks/ply8x/solder/halconf.h
  keyboards/plywrks/ply8x/solder/keyboard.json
  keyboards/plywrks/ply8x/solder/keymaps/default/keymap.c
  keyboards/plywrks/ply8x/solder/mcuconf.h
Labels: keyboard, keymap, awaiting review, stale, dd

#24555 Develop 5keys
  keyboards/5keys/keyboard.json
  keyboards/5keys/keymaps/default/keymap.c
  keyboards/5keys/readme.md
Labels: keyboard, keymap, stale

#24909 Ducky one2mini ansi tsangan layout
  keyboards/ducky/one2mini/1861st/keyboard.json
  keyboards/ducky/one2mini/keymaps/ansi_tsangan/keymap.c
Labels: keyboard, keymap

#24970 Add Super Alt-Tab macro example as module
  modules/qmk/super_alt_tab/qmk_module.json
  modules/qmk/super_alt_tab/super_alt_tab.c
Labels: community_module

#24919 Add directpins 21 keys pico
  keyboards/adafruit/pico_pad/keyboard.json
  keyboards/adafruit/pico_pad/keymaps/default/keymap.json
  keyboards/adafruit/pico_pad/readme.md
Labels: keyboard, keymap

#24982 Enable mouse key feature and disable leader key on Maxr1998/Phoebe
  keyboards/maxr1998/phoebe/keyboard.json
  keyboards/maxr1998/phoebe/keymaps/default/config.h
  keyboards/maxr1998/phoebe/keymaps/default/keymap.c
  keyboards/maxr1998/phoebe/phoebe.c
Labels: keyboard, keymap

#24981 Update Lighting Mode Animations on Monsgeek M5
  keyboards/monsgeek/m5/keyboard.json
Labels: keyboard

#25044 fix swapped encoder pins on ploopy thumb rev1_001
  keyboards/ploopyco/trackball_thumb/rev1_001/config.h
Labels: bug, keyboard

#25042 [Core] use `keycode_string` in unit tests
  builddefs/build_full_test.mk
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/generate/keycodes_tests.py
  tests/basic/test_keycode_util.cpp
  tests/combo/combo_repress/test_combo.cpp
  tests/combo/test_combo.cpp
  tests/repeat_key/alt_repeat_key/test_alt_repeat_key.cpp
  tests/test_common/build.mk
  tests/test_common/keyboard_report_util.cpp
  tests/test_common/keycode_table.cpp
  tests/test_common/keycode_util.cpp
  tests/test_common/keycode_util.hpp
  tests/test_common/test_driver.hpp
  tests/test_common/test_keymap_key.hpp
  util/regen.sh
Labels: core, python, cli

#25029 Franky36 handwired keyboard added
  keyboards/handwired/franky36/config.h
  keyboards/handwired/franky36/franky36.c
  keyboards/handwired/franky36/halconf.h
  keyboards/handwired/franky36/keyboard.json
  keyboards/handwired/franky36/keymaps/default/keymap.c
  keyboards/handwired/franky36/mcuconf.h
  keyboards/handwired/franky36/readme.md
Labels: keyboard, keymap

#25060 Fix outdated GPIO control function usage
  drivers/painter/ili9xxx/qp_ili9486.c
  keyboards/zsa/moonlander/matrix.c
Labels: core, keyboard

#25061 [Modules] Provide access to current path in `rules.mk`.
  lib/python/qmk/cli/generate/rules_mk.py
Labels: python, cli

#25064 Create tags when `lib/python` changes
  .github/workflows/auto_tag.yml
Labels: CI

#25070 Update keymap for keycult 1800
  keyboards/keycult/keycult1800/keyboard.json
  keyboards/keycult/keycult1800/keymaps/default/keymap.c
Labels: keyboard, keymap

#25030 Add handwired/erikpeyronson/erkbd
  keyboards/handwired/erikpeyronson/erkbd/config.h
  keyboards/handwired/erikpeyronson/erkbd/erkbd.c
  keyboards/handwired/erikpeyronson/erkbd/keyboard.json
  keyboards/handwired/erikpeyronson/erkbd/keymaps/debug/keymap.c
  keyboards/handwired/erikpeyronson/erkbd/keymaps/debug/rules.mk
  keyboards/handwired/erikpeyronson/erkbd/keymaps/default/keymap.json
  keyboards/handwired/erikpeyronson/erkbd/readme.md
Labels: keyboard, keymap

#24626 Add support for Starry FRL
  keyboards/salane/starryfrl/config.h
  keyboards/salane/starryfrl/keyboard.json
  keyboards/salane/starryfrl/keymaps/default/keymap.c
  keyboards/salane/starryfrl/keymaps/default/rules.mk
  keyboards/salane/starryfrl/readme.md
Labels: keyboard, keymap

#24727 Add "Large Lad" keyboard
  keyboards/large_lad/keyboard.json
  keyboards/large_lad/keymaps/default/keymap.c
  keyboards/large_lad/keymaps/default/rules.mk
  keyboards/large_lad/readme.md
Labels: keyboard, keymap

#24886 Allow AnnePro2 to reboot
  keyboards/annepro2/annepro2.c
Labels: bug, keyboard, awaiting review

#25069 Fix path typo related RP2040
  platforms/chibios/vendors/RP/RP2040.mk
  quantum/bits.h
Labels: bug, core

#25067 Update onekey example for nucleo f446re
  keyboards/handwired/onekey/nucleo_f446re/config.h
  keyboards/handwired/onekey/nucleo_f446re/keyboard.json
  keyboards/handwired/onekey/nucleo_f446re/readme.md
Labels: keyboard

#25073 Module documentation typo correction
  docs/features/community_modules.md
Labels: documentation

#25074 Fix lockups on AVR with `qmk/hello_world` module
  modules/qmk/hello_world/hello_world.c
Labels: bug, community_module

#25072 At101ish
  keyboards/handwired/at101ish/keyboard.json
  keyboards/handwired/at101ish/keymaps/default/keymap.c
  keyboards/handwired/at101ish/keymaps/osdetect/keymap.c
  keyboards/handwired/at101ish/keymaps/osdetect/rules.mk
  keyboards/handwired/at101ish/readme.md
Labels: keyboard, keymap
