Repository qmk/qmk_firmware, pull requests merged in 2025-08, with the labels that each got.

#25532 Add proprietary libraries policy page.
  docs/_sidebar.json
  docs/proprietary_libs.md
Labels: documentation

#25536 Improve `new-keymap` error handling when default keymap is missing
  lib/python/qmk/cli/new/keymap.py
Labels: python, cli

#25542 Refactor inland/kb83
  keyboards/inland/kb83/kb83.c
  keyboards/inland/kb83/keyboard.json
  keyboards/inland/kb83/keymaps/default/keymap.c
  keyboards/inland/kb83/keymaps/default/rules.mk
  keyboards/inland/kb83/readme.md
Labels: keyboard, keymap

#25433 Migrate `helix` common configuration
  docs/ChangeLog/20250831/HelixRefactor.md
  keyboards/helix/beta/beta.c
  keyboards/helix/beta/keyboard.json
  keyboards/helix/common/glcdfont.c
  keyboards/helix/config.h
  keyboards/helix/glcdfont.c
  keyboards/helix/helix.c
  keyboards/helix/info.json
  keyboards/helix/pico/keyboard.json
  keyboards/helix/readme.md
  keyboards/helix/rev3/config.h
  keyboards/helix/rev3/keyboard.json
  keyboards/helix/rules.mk
Labels: keyboard, keymap, documentation

#25493 Refactor `bastardkb/charybdis/3x6`
  data/mappings/keyboard_aliases.hjson
  keyboards/bastardkb/charybdis/3x6/3x6.c
  keyboards/bastardkb/charybdis/3x6/blackpill/config.h
  keyboards/bastardkb/charybdis/3x6/blackpill/halconf.h
  keyboards/bastardkb/charybdis/3x6/blackpill/keyboard.json
  keyboards/bastardkb/charybdis/3x6/blackpill/mcuconf.h
  keyboards/bastardkb/charybdis/3x6/blackpill/readme.md
  keyboards/bastardkb/charybdis/3x6/blackpill/rules.mk
  keyboards/bastardkb/charybdis/3x6/config.h
  keyboards/bastardkb/charybdis/3x6/elitec/config.h
  keyboards/bastardkb/charybdis/3x6/elitec/keyboard.json
  keyboards/bastardkb/charybdis/3x6/info.json
  keyboards/bastardkb/charybdis/3x6/keymaps/default/keymap.c
  keyboards/bastardkb/charybdis/3x6/keymaps/default/keymap.json
  keyboards/bastardkb/charybdis/3x6/keymaps/default/readme.md
  keyboards/bastardkb/charybdis/3x6/readme.md
  keyboards/bastardkb/charybdis/3x6/rules.mk
  keyboards/bastardkb/charybdis/3x6/v1/elitec/config.h
  keyboards/bastardkb/charybdis/3x6/v1/elitec/keyboard.json
  keyboards/bastardkb/charybdis/3x6/v1/elitec/rules.mk
  keyboards/bastardkb/charybdis/3x6/v2/elitec/config.h
  keyboards/bastardkb/charybdis/3x6/v2/elitec/keyboard.json
  keyboards/bastardkb/charybdis/3x6/v2/elitec/rules.mk
  keyboards/bastardkb/charybdis/3x6/v2/splinky_2/config.h
  keyboards/bastardkb/charybdis/3x6/v2/splinky_2/keyboard.json
  keyboards/bastardkb/charybdis/3x6/v2/splinky_2/mcuconf.h
  keyboards/bastardkb/charybdis/3x6/v2/splinky_2/readme.md
  keyboards/bastardkb/charybdis/3x6/v2/splinky_2/rules.mk
  keyboards/bastardkb/charybdis/3x6/v2/splinky_3/config.h
  keyboards/bastardkb/charybdis/3x6/v2/splinky_3/keyboard.json
  keyboards/bastardkb/charybdis/3x6/v2/splinky_3/mcuconf.h
  keyboards/bastardkb/charybdis/3x6/v2/splinky_3/readme.md
  keyboards/bastardkb/charybdis/3x6/v2/splinky_3/rules.mk
  keyboards/bastardkb/charybdis/3x6/v2/stemcell/config.h
  keyboards/bastardkb/charybdis/3x6/v2/stemcell/halconf.h
  keyboards/bastardkb/charybdis/3x6/v2/stemcell/keyboard.json
  keyboards/bastardkb/charybdis/3x6/v2/stemcell/mcuconf.h
  keyboards/bastardkb/charybdis/3x6/v2/stemcell/rules.mk
Labels: keyboard, keymap, dd

#25556 Update rgb x coordinate of rightmost column
  keyboards/boardsource/unicorne/keyboard.json
Labels: bug, keyboard

#25550 Refactor battery driver
  builddefs/build_test.mk
  builddefs/common_features.mk
  builddefs/generic_features.mk
  builddefs/testlist.mk
  data/mappings/info_config.hjson
  data/mappings/info_rules.hjson
  data/schemas/keyboard.jsonschema
  docs/_sidebar.json
  docs/drivers/battery.md
  docs/features/battery.md
  docs/reference_info_json.md
  drivers/battery/battery_adc.c
  keyboards/handwired/onekey/keymaps/battery/config.h
  keyboards/handwired/onekey/keymaps/battery/keymap.c
  keyboards/handwired/onekey/keymaps/battery/keymap.json
  keyboards/handwired/onekey/keymaps/battery/rules.mk
  keyboards/handwired/promethium/config.h
  keyboards/handwired/promethium/keyboard.json
  keyboards/handwired/promethium/rules.mk
  quantum/battery/battery.c
  quantum/battery/battery.h
  quantum/battery/tests/battery_tests.cpp
  quantum/battery/tests/rules.mk
  quantum/battery/tests/testlist.mk
  quantum/keyboard.c
  quantum/quantum.h
Labels: core, keyboard, keymap, documentation, dd

#25547 Refactor `tweetydabird/lotus58`
  data/mappings/keyboard_aliases.hjson
  keyboards/tweetydabird/lotus58/elite_c/keyboard.json
  keyboards/tweetydabird/lotus58/keyboard.json
  keyboards/tweetydabird/lotus58/nanoboot/keyboard.json
  keyboards/tweetydabird/lotus58/nanoboot/rules.mk
  keyboards/tweetydabird/lotus58/promicro/keyboard.json
  keyboards/tweetydabird/lotus58/readme.md
  keyboards/tweetydabird/lotus58/rp2040_ce/config.h
  keyboards/tweetydabird/lotus58/rp2040_ce/halconf.h
  keyboards/tweetydabird/lotus58/rp2040_ce/keyboard.json
  keyboards/tweetydabird/lotus58/rp2040_ce/mcuconf.h
Labels: keyboard, dd

#25580 Add cachyos as pattern when installing dependencies
  util/qmk_install.sh
Labels: core
