Repository qmk/qmk_firmware, pull requests merged in 2025-07, with the labels that each got.

#25009 [Update] E8ghtyNeo caps indicator
  keyboards/trnthsn/e8ghtyneo/e8ghtyneo.c
  keyboards/trnthsn/e8ghtyneo/info.json
Labels: keyboard, stale

#25428 Refactor `helix/pico`
  data/mappings/keyboard_aliases.hjson
  keyboards/helix/pico/back/keyboard.json
  keyboards/helix/pico/back/rules.mk
  keyboards/helix/pico/base/keyboard.json
  keyboards/helix/pico/config.h
  keyboards/helix/pico/keyboard.json
  keyboards/helix/pico/keymaps/default/config.h
  keyboards/helix/pico/keymaps/default/keymap.c
  keyboards/helix/pico/keymaps/default/keymap.json
  keyboards/helix/pico/keymaps/default/readme.md
  keyboards/helix/pico/keymaps/default/readme_jp.md
  keyboards/helix/pico/keymaps/default/rules.mk
  keyboards/helix/pico/override_helix_options.mk-maintenance
  keyboards/helix/pico/pico.c
  keyboards/helix/pico/pico.h
  keyboards/helix/pico/post_config.h
  keyboards/helix/pico/post_rules.mk
  keyboards/helix/pico/qmk_conf/config.h
  keyboards/helix/pico/qmk_conf/keyboard.json
  keyboards/helix/pico/rules.mk
  keyboards/helix/pico/sc/keyboard.json
  keyboards/helix/pico/sc/rules.mk
  keyboards/helix/pico/under/keyboard.json
  keyboards/helix/pico/under/rules.mk
Labels: keyboard, keymap, dd

#25442 Refactor Starlight Smooth matrix effect
  quantum/rgb_matrix/animations/starlight_smooth_anim.h
Labels: core

#25438 Refactor `bastardkb/tbkmini`
  data/mappings/keyboard_aliases.hjson
  keyboards/bastardkb/readme.md
  keyboards/bastardkb/tbkmini/blackpill/config.h
  keyboards/bastardkb/tbkmini/blackpill/halconf.h
  keyboards/bastardkb/tbkmini/blackpill/keyboard.json
  keyboards/bastardkb/tbkmini/blackpill/mcuconf.h
  keyboards/bastardkb/tbkmini/blackpill/rules.mk
  keyboards/bastardkb/tbkmini/info.json
  keyboards/bastardkb/tbkmini/keymaps/default/keymap.c
  keyboards/bastardkb/tbkmini/keymaps/default/keymap.json
  keyboards/bastardkb/tbkmini/promicro/keyboard.json
  keyboards/bastardkb/tbkmini/readme.md
  keyboards/bastardkb/tbkmini/tbkmini.c
  keyboards/bastardkb/tbkmini/v1/elitec/config.h
  keyboards/bastardkb/tbkmini/v1/elitec/keyboard.json
  keyboards/bastardkb/tbkmini/v1/elitec/rules.mk
  keyboards/bastardkb/tbkmini/v2/elitec/config.h
  keyboards/bastardkb/tbkmini/v2/elitec/keyboard.json
  keyboards/bastardkb/tbkmini/v2/elitec/rules.mk
  keyboards/bastardkb/tbkmini/v2/splinky_2/config.h
  keyboards/bastardkb/tbkmini/v2/splinky_2/keyboard.json
  keyboards/bastardkb/tbkmini/v2/splinky_2/readme.md
  keyboards/bastardkb/tbkmini/v2/splinky_2/rules.mk
  keyboards/bastardkb/tbkmini/v2/splinky_3/config.h
  keyboards/bastardkb/tbkmini/v2/splinky_3/keyboard.json
  keyboards/bastardkb/tbkmini/v2/splinky_3/readme.md
  keyboards/bastardkb/tbkmini/v2/splinky_3/rules.mk
  keyboards/bastardkb/tbkmini/v2/stemcell/config.h
  keyboards/bastardkb/tbkmini/v2/stemcell/halconf.h
  keyboards/bastardkb/tbkmini/v2/stemcell/keyboard.json
  keyboards/bastardkb/tbkmini/v2/stemcell/mcuconf.h
  keyboards/bastardkb/tbkmini/v2/stemcell/rules.mk
Labels: keyboard, keymap, dd

#25443 Add short aliases for `OSM()`
  docs/keycodes.md
  docs/one_shot_keys.md
  quantum/quantum_keycodes.h
Labels: enhancement, core, documentation

#25419 Add Snappy Pad v.1
  keyboards/snappypad/v1_3x4/config.h
  keyboards/snappypad/v1_3x4/keyboard.json
  keyboards/snappypad/v1_3x4/keymaps/default/keymap.c
  keyboards/snappypad/v1_3x4/readme.md
  keyboards/snappypad/v1_3x4/v1_3x4.c
Labels: keyboard, keymap

#25429 Refactor `helix/rev2`
  data/mappings/keyboard_aliases.hjson
  keyboards/helix/beta/beta.c
  keyboards/helix/beta/config.h
  keyboards/helix/beta/keyboard.json
  keyboards/helix/beta/keymaps/default/keymap.json
  keyboards/helix/rev2/back/keyboard.json
  keyboards/helix/rev2/back/rules.mk
  keyboards/helix/rev2/base/keyboard.json
  keyboards/helix/rev2/config.h
  keyboards/helix/rev2/keymaps/default/config.h
  keyboards/helix/rev2/keymaps/default/keymap.c
  keyboards/helix/rev2/keymaps/default/oled_display.c
  keyboards/helix/rev2/keymaps/default/readme.md
  keyboards/helix/rev2/keymaps/default/readme_jp.md
  keyboards/helix/rev2/keymaps/default/rules.mk
  keyboards/helix/rev2/keymaps/five_rows_jis/config.h
  keyboards/helix/rev2/keymaps/five_rows_jis/keymap.c
  keyboards/helix/rev2/keymaps/five_rows_jis/readme.md
  keyboards/helix/rev2/keymaps/five_rows_jis/readme_jp.md
  keyboards/helix/rev2/keymaps/five_rows_jis/rules.mk
  keyboards/helix/rev2/keymaps/led_test/README.md
  keyboards/helix/rev2/keymaps/led_test/config.h
  keyboards/helix/rev2/keymaps/led_test/keymap.c
  keyboards/helix/rev2/keymaps/led_test/led_test_init.c
  keyboards/helix/rev2/keymaps/led_test/oled_display.c
  keyboards/helix/rev2/keymaps/led_test/rules.mk
  keyboards/helix/rev2/local_features.mk
  keyboards/helix/rev2/override_helix_options.mk-maintenance
  keyboards/helix/rev2/post_config.h
  keyboards/helix/rev2/post_rules.mk
  keyboards/helix/rev2/qmk_conf/keyboard.json
  keyboards/helix/rev2/qmk_conf/rules.mk
  keyboards/helix/rev2/readme.md
  keyboards/helix/rev2/rev2.c
  keyboards/helix/rev2/rev2.h
  keyboards/helix/rev2/rules.mk
  keyboards/helix/rev2/sc/keyboard.json
  keyboards/helix/rev2/sc/rules.mk
  keyboards/helix/rev2/serial_config_simpleapi.h
  keyboards/helix/rev2/under/keyboard.json
  keyboards/helix/rev2/under/rules.mk
Labels: keyboard, keymap, dd

#25436 Compilation fixes for `-fno-common`
  drivers/sensors/adns5050.h
  drivers/sensors/adns9800.h
  drivers/sensors/analog_joystick.h
  drivers/sensors/azoteq_iqs5xx.h
  drivers/sensors/cirque_pinnacle.h
  drivers/sensors/paw3204.h
  drivers/sensors/pimoroni_trackball.h
  drivers/sensors/pmw3320.h
  drivers/sensors/pmw33xx_common.h
  keyboards/bajjak/bajjak.c
  keyboards/bajjak/bajjak.h
  keyboards/hardwareabstraction/handwire/handwire.c
  keyboards/sekigon/grs_70ec/matrix.c
  keyboards/system76/launch_1/launch_1.c
  keyboards/system76/launch_1/rgb_matrix_kb.inc
  keyboards/system76/system76_ec.c
  keyboards/work_louder/rgb_functions.c
  quantum/audio/audio.c
Labels: core, keyboard

#25285 CSTC40 rev3 (FXTWINK)
  data/mappings/keyboard_aliases.hjson
  keyboards/kprepublic/cstc40/daughterboard/keyboard.json
  keyboards/kprepublic/cstc40/info.json
  keyboards/kprepublic/cstc40/readme.md
  keyboards/kprepublic/cstc40/rev1/config.h
  keyboards/kprepublic/cstc40/rev1/halconf.h
  keyboards/kprepublic/cstc40/rev1/keyboard.json
  keyboards/kprepublic/cstc40/rev1/mcuconf.h
  keyboards/kprepublic/cstc40/rev1/readme.md
  keyboards/kprepublic/cstc40/rev1/rev1.c
  keyboards/kprepublic/cstc40/rev2/config.h
  keyboards/kprepublic/cstc40/rev2/halconf.h
  keyboards/kprepublic/cstc40/rev2/keyboard.json
  keyboards/kprepublic/cstc40/rev2/mcuconf.h
  keyboards/kprepublic/cstc40/rev2/readme.md
  keyboards/kprepublic/cstc40/rev2/rev2.c
  keyboards/kprepublic/cstc40/rev3/keyboard.json
  keyboards/kprepublic/cstc40/rev3/readme.md
  keyboards/kprepublic/cstc40/single_pcb/keyboard.json
Labels: keyboard, dd

#25348 [Keyboard] Add a new keyboard named Slimorta
  keyboards/slimorta/keyboard.json
  keyboards/slimorta/keymaps/default/keymap.c
  keyboards/slimorta/readme.md
Labels: keyboard, keymap

#25387 Add Monsgeek M2 Keyboard
  keyboards/monsgeek/m2/config.h
  keyboards/monsgeek/m2/halconf.h
  keyboards/monsgeek/m2/keyboard.json
  keyboards/monsgeek/m2/keymaps/default/keymap.c
  keyboards/monsgeek/m2/m2.c
  keyboards/monsgeek/m2/mcuconf.h
  keyboards/monsgeek/m2/readme.md
Labels: keyboard, keymap

#25456 Refactor `bastardkb/skeletyl`
  data/mappings/keyboard_aliases.hjson
  keyboards/bastardkb/skeletyl/blackpill/config.h
  keyboards/bastardkb/skeletyl/blackpill/halconf.h
  keyboards/bastardkb/skeletyl/blackpill/keyboard.json
  keyboards/bastardkb/skeletyl/blackpill/mcuconf.h
  keyboards/bastardkb/skeletyl/blackpill/rules.mk
  keyboards/bastardkb/skeletyl/info.json
  keyboards/bastardkb/skeletyl/keymaps/default/keymap.c
  keyboards/bastardkb/skeletyl/keymaps/default/keymap.json
  keyboards/bastardkb/skeletyl/promicro/keyboard.json
  keyboards/bastardkb/skeletyl/readme.md
  keyboards/bastardkb/skeletyl/skeletyl.c
  keyboards/bastardkb/skeletyl/v1/elitec/config.h
  keyboards/bastardkb/skeletyl/v1/elitec/keyboard.json
  keyboards/bastardkb/skeletyl/v1/elitec/rules.mk
  keyboards/bastardkb/skeletyl/v2/elitec/config.h
  keyboards/bastardkb/skeletyl/v2/elitec/keyboard.json
  keyboards/bastardkb/skeletyl/v2/elitec/rules.mk
  keyboards/bastardkb/skeletyl/v2/splinky_2/config.h
  keyboards/bastardkb/skeletyl/v2/splinky_2/keyboard.json
  keyboards/bastardkb/skeletyl/v2/splinky_2/readme.md
  keyboards/bastardkb/skeletyl/v2/splinky_2/rules.mk
  keyboards/bastardkb/skeletyl/v2/splinky_3/config.h
  keyboards/bastardkb/skeletyl/v2/splinky_3/keyboard.json
  keyboards/bastardkb/skeletyl/v2/splinky_3/readme.md
  keyboards/bastardkb/skeletyl/v2/splinky_3/rules.mk
  keyboards/bastardkb/skeletyl/v2/stemcell/config.h
  keyboards/bastardkb/skeletyl/v2/stemcell/halconf.h
  keyboards/bastardkb/skeletyl/v2/stemcell/keyboard.json
  keyboards/bastardkb/skeletyl/v2/stemcell/mcuconf.h
  keyboards/bastardkb/skeletyl/v2/stemcell/rules.mk
Labels: keyboard, keymap, dd

#24904 Add cloud_macro
  keyboards/cloud_macro/keyboard.json
  keyboards/cloud_macro/keymaps/default/keymap.c
  keyboards/cloud_macro/readme.md
Labels: keyboard, keymap

#25471 Fix pytest/has_community default keymap location
  keyboards/handwired/pytest/has_community/keymaps/default/keymap.c
Labels: keymap

#25475 Give mouse report to pointing_device_task_user first in ploopyco devices
  keyboards/ploopyco/ploopyco.c
Labels: keyboard

#25479 Enable correct SPI peripheral `dilemma/3x5_2/assembled`
  keyboards/bastardkb/dilemma/3x5_2/assembled/mcuconf.h
Labels: bug, keyboard

#25489 Clamp reactive offset value
  quantum/rgb_matrix/animations/solid_reactive_anim.h
  quantum/rgb_matrix/animations/solid_reactive_simple_anim.h
Labels: core

#25486 Configure SPI for `STEMCELL` board
  platforms/chibios/boards/STEMCELL/configs/config.h
  platforms/chibios/boards/STEMCELL/configs/mcuconf.h
Labels: core

#25481 Configure SPI for `QMK_PM2040` board
  platforms/chibios/boards/QMK_PM2040/configs/config.h
Labels: core

#25488 Refactor `bastardkb/charybdis/3x5`
  data/mappings/keyboard_aliases.hjson
  keyboards/bastardkb/charybdis/3x5/3x5.c
  keyboards/bastardkb/charybdis/3x5/blackpill/config.h
  keyboards/bastardkb/charybdis/3x5/blackpill/halconf.h
  keyboards/bastardkb/charybdis/3x5/blackpill/keyboard.json
  keyboards/bastardkb/charybdis/3x5/blackpill/mcuconf.h
  keyboards/bastardkb/charybdis/3x5/blackpill/readme.md
  keyboards/bastardkb/charybdis/3x5/blackpill/rules.mk
  keyboards/bastardkb/charybdis/3x5/config.h
  keyboards/bastardkb/charybdis/3x5/elitec/config.h
  keyboards/bastardkb/charybdis/3x5/elitec/keyboard.json
  keyboards/bastardkb/charybdis/3x5/info.json
  keyboards/bastardkb/charybdis/3x5/keymaps/default/keymap.c
  keyboards/bastardkb/charybdis/3x5/keymaps/default/keymap.json
  keyboards/bastardkb/charybdis/3x5/keymaps/default/readme.md
  keyboards/bastardkb/charybdis/3x5/readme.md
  keyboards/bastardkb/charybdis/3x5/rules.mk
  keyboards/bastardkb/charybdis/3x5/v1/elitec/config.h
  keyboards/bastardkb/charybdis/3x5/v1/elitec/keyboard.json
  keyboards/bastardkb/charybdis/3x5/v1/elitec/rules.mk
  keyboards/bastardkb/charybdis/3x5/v2/elitec/config.h
  keyboards/bastardkb/charybdis/3x5/v2/elitec/keyboard.json
  keyboards/bastardkb/charybdis/3x5/v2/elitec/rules.mk
  keyboards/bastardkb/charybdis/3x5/v2/splinky_2/config.h
  keyboards/bastardkb/charybdis/3x5/v2/splinky_2/keyboard.json
  keyboards/bastardkb/charybdis/3x5/v2/splinky_2/mcuconf.h
  keyboards/bastardkb/charybdis/3x5/v2/splinky_2/readme.md
  keyboards/bastardkb/charybdis/3x5/v2/splinky_2/rules.mk
  keyboards/bastardkb/charybdis/3x5/v2/splinky_3/config.h
  keyboards/bastardkb/charybdis/3x5/v2/splinky_3/keyboard.json
  keyboards/bastardkb/charybdis/3x5/v2/splinky_3/mcuconf.h
  keyboards/bastardkb/charybdis/3x5/v2/splinky_3/readme.md
  keyboards/bastardkb/charybdis/3x5/v2/splinky_3/rules.mk
  keyboards/bastardkb/charybdis/3x5/v2/stemcell/config.h
  keyboards/bastardkb/charybdis/3x5/v2/stemcell/halconf.h
  keyboards/bastardkb/charybdis/3x5/v2/stemcell/keyboard.json
  keyboards/bastardkb/charybdis/3x5/v2/stemcell/mcuconf.h
  keyboards/bastardkb/charybdis/3x5/v2/stemcell/rules.mk
  keyboards/bastardkb/charybdis/charybdis.c
  keyboards/bastardkb/charybdis/charybdis.h
  keyboards/bastardkb/charybdis/config.h
  keyboards/bastardkb/charybdis/info.json
  keyboards/bastardkb/charybdis/post_config.h
Labels: keyboard, keymap, dd

#25477 Only userspace should be searched for keyboard aliases when locating keymaps
  lib/python/qmk/keymap.py
Labels: bug, python, cli

#25497 Allow `qmk flash <filename>` to flash AT32 boards
  lib/python/qmk/flashers.py
Labels: bug, python, cli

#25464 Add `null65ansi` keyboard
  keyboards/nulldesignco/null65ansi/v1/keyboard.json
  keyboards/nulldesignco/null65ansi/v1/keymaps/default/keymap.c
  keyboards/nulldesignco/null65ansi/v1/readme.md
Labels: keyboard, keymap

#25498 Rebrand For Ll3ma Keyboards
  data/mappings/keyboard_aliases.hjson
  keyboards/ll3ma/bongopad/bongopad.c
  keyboards/ll3ma/bongopad/config.h
  keyboards/ll3ma/bongopad/keyboard.json
  keyboards/ll3ma/bongopad/keymaps/default/keymap.c
  keyboards/ll3ma/bongopad/keymaps/default/rules.mk
  keyboards/ll3ma/bongopad/readme.md
Labels: keyboard, keymap, dd

#25430 Refactor `helix/rev3_{4,5}rows`
  data/mappings/keyboard_aliases.hjson
  keyboards/helix/rev3/config.h
  keyboards/helix/rev3/keyboard.json
  keyboards/helix/rev3/keymaps/default/keymap.json
  keyboards/helix/rev3/rev3.c
  keyboards/helix/rev3_4rows/config.h
  keyboards/helix/rev3_4rows/keyboard.json
  keyboards/helix/rev3_4rows/keymaps/default/keymap.c
  keyboards/helix/rev3_4rows/keymaps/default/oled_display.c
  keyboards/helix/rev3_4rows/keymaps/default/readme.md
  keyboards/helix/rev3_4rows/oled_display.c
  keyboards/helix/rev3_4rows/readme.md
  keyboards/helix/rev3_4rows/rev3_4rows.c
  keyboards/helix/rev3_4rows/rev3_4rows.h
  keyboards/helix/rev3_4rows/rules.mk
  keyboards/helix/rev3_5rows/config.h
  keyboards/helix/rev3_5rows/keyboard.json
  keyboards/helix/rev3_5rows/keymaps/default/keymap.c
  keyboards/helix/rev3_5rows/keymaps/default/oled_display.c
  keyboards/helix/rev3_5rows/keymaps/default/readme.md
  keyboards/helix/rev3_5rows/keymaps/default/rules.mk
  keyboards/helix/rev3_5rows/oled_display.c
  keyboards/helix/rev3_5rows/readme.md
  keyboards/helix/rev3_5rows/rev3_5rows.c
  keyboards/helix/rev3_5rows/rev3_5rows.h
  keyboards/helix/rev3_5rows/rules.mk
Labels: keyboard, keymap, dd

#25509 [docs] Align keyboard and keymap placeholders
  docs/cli_commands.md
  docs/hardware_keyboard_guidelines.md
  docs/newbs_building_firmware.md
  docs/newbs_flashing.md
  docs/reference_info_json.md
Labels: documentation

#25510 [docs] Align more keyboard placeholders
  docs/drivers/aw20216s.md
  docs/drivers/is31fl3218.md
  docs/drivers/is31fl3236.md
  docs/drivers/is31fl3729.md
  docs/drivers/is31fl3731.md
  docs/drivers/is31fl3733.md
  docs/drivers/is31fl3736.md
  docs/drivers/is31fl3737.md
  docs/drivers/is31fl3741.md
  docs/drivers/is31fl3742a.md
  docs/drivers/is31fl3743a.md
  docs/drivers/is31fl3745.md
  docs/drivers/is31fl3746a.md
  docs/drivers/snled27351.md
  docs/getting_started_introduction.md
  docs/getting_started_make_guide.md
  docs/hardware_keyboard_guidelines.md
Labels: documentation
